[2018-01-19 10:59] Uafinder commented on #4804
yup, fine now
the only thing is retry looks like
![image](https://user-images.githubusercontent.com/1945230/35147793-9239793e-fd18-11e7-8843-bfec5dab70fd.png)
not sure if it's... if so, you could close the issue...

[2018-01-19 12:00] Uafinder commented on #4590
Yup, looks better

[2018-01-19 12:00] #4590 closed

[2018-01-19 12:00] Uafinder commented on #4786
Looks better

[2018-01-19 12:00] #4786 closed

[2018-01-19 12:07] Uafinder opened #4813 "Notifications on new comments work only once"
1. Setup anonymous comments
2. open page in one browser
3. leave a comment and check notifications check box
4. open page in other browser
5. leave a comment without checking notifications check box
6. Check email history - comment notification will fire
7. Open third browser
8. leave a comment with check notifications check box
9. Check email history - comment notification will not fire, which is

[2018-01-19 14:49] Uafinder commented on #4790
Yup, great!

[2018-01-19 14:49] #4790 closed

[2018-01-19 15:02] Uafinder opened #4814 "Something weird with fork node - badges not awarding"
http://vladtest23d.admin.kademi-ci.co/funnels/first-journey/version1/#journeyBuilder-tab
![image](https://user-images.githubusercontent.com/1945230/35156721-5b175792-fd3a-11e7-9f8b-d22f5a3d7e58.png)
I've a journey which should award badges in parallel, but it doesn't by some reason...

[2018-01-19 15:04] Uafinder commented on #4791
yup, looks good

[2018-01-19 15:04] #4791 closed

[2018-01-19 15:15] Uafinder commented on #4712
Still there,
fresh account
![image](https://user-images.githubusercontent.com/1945230/35157063-82692fb8-fd3b-11e7-93d7-f5aa8deb6d7e.png)
http://vladtest23d.admin.kademi-ci.co/pages/vlad23dsales/version1/
I've create a page, upload a video there and press ok
Video begin to play without visualization and then error in console appears...

[2018-01-21 05:37] paddyow opened #4815 "SMS node has incorrect field"
Should not say "Email subject"
Should be "Message to send" where the user enters their message.

![image](https://user-images.githubusercontent.com/2201340/35191204-0cdcd242-fec9-11e7-9df8-adccd4944453.png)

Copy across character count that is used on Olhub.
http://admin.minda.olhub.com/autoEmails/133229076/#action-tab

![image](https://user-images.githubusercontent.com/2201340/35191217-5921d828-f

[2018-01-21 11:56] AlaaKhalaf94 opened #4816 "Can't create email with subdomain"
I create a site with "supporters.minda.asn.au" Domain name
http://minda.admin.kademi.com.au/websites/minda/version1/#panel_details-tab

Then in I try to put "<supporters@minda.asn.au>" in Email from address feild in email template , it doesn't success with me
it shows me error that "The email address must have a domain name the same as the domain on the website selected."

![capture2](https://user

[2018-01-21 20:25] bradmac commented on #4816
@AlaaKhalaf94 that is correct, that domain name is not linked to this account so cannot be used.

You need to create a website and set that domain name on it.

[2018-01-21 20:29] bradmac commented on #4804
Yep, worth looking into

[2018-01-21 20:30] bradmac commented on #4458
@Uafinder audio is not currently supported. We will add that in the future but ignore it for now.

[2018-01-21 20:32] bradmac commented on #4458
We just have the one UI for all screens, so we wont do that.

[2018-01-21 22:55] paddyow commented on #4806
I uploaded this list:
[Test list.xlsx](https://github.com/Kademi/kademi-dev/files/1650316/Test.list.xlsx)

- Into this group: http://kademi.admin.kademi.us/groups/loyalty-email-campaign/members/
- I matched on First Name, Last Name and Email only.

A few that got stuck on the email decision node:
http://kademi.admin.kademi.us/manageUsers/17861892/#funnelsTab-tab
http://kademi.admin.kademi.us/manag

[2018-01-22 01:43] Anton69arb opened #4818 "Entry fields do not have a drop down field"
Hey
The entry fields should have a drop-down field to select from, please can we add them

http://ant15.admin.kademi-ci.co/funnels/first-journey/version1/#journeyBuilder-tab
http://ant15.admin.kademi-ci.co/funnels/

![entry field issue](https://user-images.githubusercontent.com/32444328/35201730-9ad021a8-ff82-11e7-9cc4-1752cf7fec5a.png)

[2018-01-22 02:04] bradmac commented on #4818
FYI, these are the allowable values for action

[code]

[2018-01-22 02:05] bradmac commented on #4818
Duplicate of https://github.com/Kademi/kademi-dev/issues/3996

[2018-01-22 02:05] #4818 closed

[2018-01-22 03:26] gonzalon commented on #4811
Had to do some update to not break https://github.com/Kademi/kademi-dev/issues/3790#issuecomment-358898507

Both should be fine with  learner-lib 1.2.3

[2018-01-22 07:18] Uafinder commented on #4458
understood... so, closing

[2018-01-22 07:18] #4458 closed

[2018-01-22 07:51] Uafinder commented on #3790
Same bug with a course name:
E.g. i have a course name "c1 & title" and it shows me like "c1 title"
![image](https://user-images.githubusercontent.com/1945230/35210109-8cf380bc-ff59-11e7-90dc-b9ee3331e7cd.png)
![image](https://user-images.githubusercontent.com/1945230/35210118-9418eeb8-ff59-11e7-9cc7-f19dae8ff544.png)
![image](https://user-images.githubusercontent.com/1945230/35210120-99ee6480-ff5

[2018-01-22 07:58] Uafinder commented on #4811
Fixed in a admin,
same thing in frontend... but double ampersand is not looking very bad and I don't think that it's vital, so closing for now...
![image](https://user-images.githubusercontent.com/1945230/35210405-b6604e3e-ff5a-11e7-97b3-32bfdb5cc5ce.png)
http://vladtest25.admin.kademi-ci.co/websites/vlad25learn/version1/programs/p1/c1/

[2018-01-22 07:59] #4811 closed

[2018-01-22 08:24] Uafinder opened #4819 "Module edition validation is to soft"
Should be like on creation
![image](https://user-images.githubusercontent.com/1945230/35211170-090dd7b6-ff5e-11e7-8ba6-7f8a107679ee.png)
1. Create a module
2. While creating try to enter some symbols into the code field
3. Note that validation works
4. After creation go to module edit
5. Try to enter some symbols into the code field again
6. Press save
7. It saves ok
8. try to go dashboard and the

[2018-01-22 08:25] #4816 closed

[2018-01-22 09:48] Uafinder commented on #3922
Yup, looks better on QA

[2018-01-22 09:48] #3922 closed

[2018-01-22 09:57] Uafinder opened #4820 "Module results page minor bug - paginator padding"
![image](https://user-images.githubusercontent.com/1945230/35214603-662c7c2a-ff6a-11e7-978b-488f93ccbe99.png)
http://vladtest25.admin.kademi-ci.co/training/?startDate=16%2F01%2F2018&endDate=22%2F01%2F2018
Should be like on other pages with paginator...

[2018-01-22 10:06] Uafinder opened #4821 "Module results page - links to program, course and module is incorrect"
![image](https://user-images.githubusercontent.com/1945230/35215217-3d47547c-ff6c-11e7-9f60-11c8d04be7e9.png)
http://vladtest25.admin.kademi-ci.co/training/?startDate=16%2F01%2F2018&endDate=22%2F01%2F2018
Looks like "website" part is missed in all links

[2018-01-22 11:02] Uafinder commented on #4052
Yup, working like a charm!

[2018-01-22 11:02] #4052 closed

[2018-01-22 11:36] Uafinder commented on #4744
Alt text options is not saving for the image
1. Create a page
2. edit
3. Add image component
4. Edit it
5. Add some alt text
6. Push save
7. Close edit
8. Open edit again
9. There is no alt text in the field

Also i've check frontend - there are no signs of alt text attribute.
![image](https://user-images.githubusercontent.com/1945230/35218963-45356e0a-ff79-11e7-9422-269e81bad6df.png)

http://vlad

[2018-01-22 12:09] Uafinder opened #4822 "Visual bug while choosing dropdown list for categories"
![image](https://user-images.githubusercontent.com/1945230/35220087-b1d934f2-ff7d-11e7-921b-dae8c318ed25.png)
Clicking on dropdown cause:
- scroll-bars appear
- text cutting
http://vladtest25.admin.kademi-ci.co/categories/

[2018-01-22 12:37] Uafinder commented on #4782
Yup, works like a charm!

[2018-01-22 12:37] #4782 closed

[2018-01-22 13:16] mkhoudary opened #4824 "Admin Console - User Profile Page - Adding export ability"
We need to enable export for summary tab contents and emails tab contents, this is part of a task that needs to be fulfilled for Vaya.

[2018-01-22 14:28] Uafinder opened #4825 "Question about different email statuses"
So, I've a email which was send some time ago.
we have some different statuses for it, e.g. sent, open, converted, failed, and so on.
I tried to open some messages from different post systems, such as mailinator, gmail, or kademi domain, but even I open this email it doesn't say to me that it was open.
Why it could be?
I've check QA and prod both
http://vladtest25.admin.kademi-ci.co/emails/?q=&sta

[2018-01-22 14:48] Uafinder commented on #4754
Yup, looks better at the moment.

[2018-01-22 14:48] #4754 closed

[2018-01-22 15:07] Uafinder commented on #4802
Hey,
I've several problems:
1. I've not see child categories on the frontend.
http://vladtest25.admin.kademi-ci.co/categories/
![image](https://user-images.githubusercontent.com/1945230/35227294-6830928c-ff96-11e7-8d05-1383a1f5fad1.png)

2. Question: should product being displayed if it present in hidden category?

3. Enhancement: hidden column should be added to Manage categories page
![image](ht

[2018-01-22 15:12] Uafinder opened #4826 "Keditor - photo block become too bottom"
Photo block was one of the top blocks of the Keditor, because it used very often. Now it located on the very bottom of the list. Not sure if it's correct.
![image](https://user-images.githubusercontent.com/1945230/35227661-51e2ddae-ff97-11e7-8293-61723e12bfdd.png)
![image](https://user-images.githubusercontent.com/1945230/35227674-5b484e42-ff97-11e7-97f9-b520d7abc821.png)
http://vladtest25.admin.k

[2018-01-22 20:56] bradmac commented on #4826
We;re not controlling the order of components currently. Users can find the component with the search tool.

We might look at some mechanism to push common components to the top in a later milestone

[2018-01-22 20:56] #4826 closed

[2018-01-22 20:57] bradmac commented on #4802
We wont worry about that for now.

[2018-01-22 20:58] bradmac commented on #4802
This feature should have no impact on the display of products. It only affects whether categories are displayed.

[2018-01-22 20:58] bradmac commented on #4802
If you mean that child categories of hidden categories are not displayed then that is correct. But note that this is an invalid use case. It doesnt make sense to have sub-categories of hidden categories.

[2018-01-22 21:01] bradmac commented on #4825
We use pixel tracking to detect opens. There was an issue previously where the tracking pixel wasnt being added, so please check with a new email and new account.

Note that we will only detect the email being opened if the client has image loading enabled. Many clients block image loading by default.

So please check that you're using a new email and you have image loading enabled.

[2018-01-22 21:42] bradmac opened #4827 "Invoicing API"
Create an InvoicingApplication interface to abstract common invoicing operations.
- create purchase order (similar to a Quote or Invoice)
- create quote
- create invoice

Note that this interface should be independent of the Kademi persistence classes for invoicing, eg Quote, PaymentItemList, etc.

Update the PaymentApp to be an implementation of InvoicingApplication

This should write to the stre

[2018-01-22 21:45] bradmac opened #4828 "Xero integration"
Extension to https://github.com/Kademi/kademi-dev/issues/4827

Create an app which integrates the Invoicing API to Xero

[2018-01-22 22:12] tuzzmaniandevil commented on #4813
We don't send a new notification to a user unless they view the notification by logging in or if 6 hours have passed since the last notification.

@Uafinder Please text with a 6 hours delay between comments.

[2018-01-22 22:29] bradmac commented on #4813
@tuzzmaniandevil is this using the current date service? If so Vlad can use the maint page to fast forward the time, right?

[2018-01-22 22:33] Anton69arb opened #4829 "Error message - when posting a question on comments"
Hey, there is an error message, when you try to post the message it gives this error -
 "Sorry, we could not process your request
Sorry, there appears to be a problem with the network or server.
Please check your internet connection.
If you're connected ok this might be a glitch in the system. - parsererror".

http://ant-comments.admin.kademi-ci.co/pages/ant-comments/version1/
http://ant-comments.

[2018-01-22 22:40] tuzzmaniandevil commented on #4813
That's correct :-)

[2018-01-22 23:37] bradmac commented on #4829
@tuzzmaniandevil can you take a look

[2018-01-23 00:14] Anton69arb opened #4830 "e-learning course - buttons should state start and not resume"
Hey,
This user never started the e-learning course and the buttons should state start and not resume, please can we fix,

http://swimart.admin.kademi.com.au/manageUsers/95298615/#learningAppTab-tab

![this user never started the e-learning course and the buttons should state start and not resume please can we fix](https://user-images.githubusercontent.com/32444328/35251223-16949d5c-003f-11e8-84bb-

[2018-01-23 00:15] bradmac opened #4831 "Image editor doesnt work when dialog is opened for an existing image"
I edited the dimensions and clicked the tick button. Note the logs "no selected file"

![screenshot from 2018-01-23 13-16-12](https://user-images.githubusercontent.com/826458/35251354-b0327e66-003f-11e8-9891-73fe102d85fd.png)

http://docs.kademi.co/getting-started/Website-management/contenteditor?fileName=page-permissions.html

[2018-01-23 01:12] bradmac opened #4832 "Crazy acquisition rate"
![image](https://user-images.githubusercontent.com/826458/35252675-6c6de358-0046-11e8-95e7-1ca887d9360a.png)

Its showing 500%, but i think its illogical for it to greater then 100

http://insured-crm_insured.kademi.com.au/dashboard

[2018-01-23 03:05] Anton69arb opened #4833 "Cant delete folder and image which contains spaces in name"
Cant delete folder and image which contains spaces in the name, please can we fix

http://kademi.admin.kademi.us/pages/kademi-dev/v7/getting-started/community-management/
ensure you in version 7
proceed an click to uploading users to table uploader - the 1st picture with a CSV file you can try

![cant delete images or folders](https://user-images.githubusercontent.com/32444328/35255972-79798010-00

[2018-01-23 03:31] bradmac commented on #4833
Getting a 404 on this url:
[code]

[2018-01-23 03:32] bradmac commented on #4833
So it looks like we're double encoding the file name

[2018-01-23 05:16] ducdhm commented on #4773
@bradmac Frontend stuff is working now. Just need support KCode for previewing in content editor page

[2018-01-23 06:28] ducdhm commented on #4588
@Uafinder I still get no error follow your step-by-step.

@bradmac Can you try follow Vlad's step-by-step to get some lucks?

[2018-01-23 07:22] bradmac commented on #4588
hey, leave me out of it!

you guys should talk together on chat to sort this out :)

[2018-01-23 10:55] Uafinder commented on #4588
looks like a backend issue

Vlad 11:50 AM
ok, i'm creating an account in FF and then after account is created i'm moving to chrome
so open FF
you should clear a cache
then moving to http://rootorg.admin.kademi-ci.co/ under my admin vlad@kademi.co... i suppose you could use your own account

duc 11:51 AM
yeah

Vlad 11:52 AM
then you push new account
i'm using both vladtest25a name and orgid, you co

[2018-01-23 11:12] Uafinder commented on #4588
ok. so the problem was that we just enable reporing app by hands without install some other app via MarketPlace
when we follows regular and correct steps, all seems to be fine...

[2018-01-23 11:12] #4588 closed

[2018-01-23 11:14] Uafinder commented on #4825
i've test yesterday in a fresh account...
and click to load images which was blocked by default
gmail is not block images by default, but it doesn't matter of it... status of email still remained as "completed"

[2018-01-23 11:54] Uafinder commented on #4813
- if 6 hours have passed since the last notification - it works!
- they view the notification by logging in - it doesn't work!
http://vladtest25a.admin.kademi-ci.co/emails/?q=&status=&job=

[2018-01-23 12:27] mkhoudary opened #4834 "Asset query list settings doesn't show queries"
When using AssetQueryList component, the list of queries doesn't show.

[2018-01-23 12:48] Uafinder commented on #4802
Yup, looks good

[2018-01-23 12:48] #4802 closed

[2018-01-23 12:54] Uafinder opened #4835 ""All" products in category"
So, I have 2 products in Parent category and 2 x 2 in child1 and child2.
When you choose them separately it shows ok, but when you click on All, it shows you a Parent category products. But when you click on the Parent category, it show same products.
Is it ok, or All should show Parent+child1+child2?
![image](https://user-images.githubusercontent.com/1945230/35276736-0b4c81d6-004d-11e8-96c1-a0d67

[2018-01-23 13:57] mkhoudary commented on #4834
Done..

[2018-01-23 14:02] AlaaKhalaf94 opened #4836 "Email to lead team contain incorrect link"
When I make assign the lead to lead team

![capture1](https://user-images.githubusercontent.com/26510030/35279497-eb4ba1e2-0055-11e8-9685-8bceb3b1cd4e.PNG)

When I click on " Click Here " , it lead me to wrong link : http://leads/4554059
http://vaya-master.admin.kademi-ci.co/emails/4554104

[2018-01-23 14:04] mkhoudary opened #4837 "JB Timers need to run at certain time of the day"
Since timers by default work relatively starting at the time the node is accessed, there is no easy way to ensure that a timeout will occur at a specific time of the day..

For example MINDA has the emails scheduled at specific time, say 5:00 PM, and we can't emulate this in journeys out of the box.

As a workaround I can set node relative time as the lead start date with time set to 00:00:00 usin

[2018-01-23 15:55] Uafinder opened #4838 "Carousel visual bug when using add content feature"
![image](https://user-images.githubusercontent.com/1945230/35285545-591f628e-0066-11e8-8144-e98feb375aeb.png)
So, when you add some custom content and press save it looks ugly on the editor panel...
http://vladtest25a.admin.kademi-ci.co/pages/vlad25atest/version1/

[2018-01-23 16:04] Uafinder opened #4839 "Add link to a content in carousel - URL in not enterable and clickable + all editor pop-up elements (also anchor and div container)"
![image](https://user-images.githubusercontent.com/1945230/35286044-917e8ece-0067-11e8-8375-f45eb4342fd6.png)
1. Edit home.html
2. Add carousel
3. Push "edit caption" for image (green button on image)
4. Add some text
5. Select it and press add link button
6. Check URL field - it doesn't respond...
http://vladtest25a.admin.kademi-ci.co/pages/vlad25atest/version1/

[2018-01-23 20:02] bradmac commented on #4837
All goals have a "Time" field which complements the timeout duration:

![image](https://user-images.githubusercontent.com/826458/35297895-497f9eaa-00e5-11e8-8e27-438e7b1e419f.png)

[2018-01-23 20:20] bradmac commented on #4836
Hi @AlaaKhalaf94 the link is generated from a website which has the LeadMan app enabled. It looks like the app was disabled when the email was sent, but I've checked and that app is currently enabled.

Can you please check again after confirming that the app is enabled in the website?

[2018-01-23 20:23] bradmac commented on #4835
I think the issue that we have here is that clicking "All" selects the parent category, but currently our search looks for products connected to that specific category.

Instead, when a category is selected the search should return all products in that category or its child categories.

[2018-01-23 20:41] bradmac commented on #4825
These emails somehow have an incorrect pixel tracking link, eg
[code]

[2018-01-23 21:03] bradmac commented on #4825
OK, the issue is that the email app was turned off for the website, and its the email app which tracks opens...

[2018-01-23 21:07] bradmac commented on #4825
I've moved the ack resource into the AdminApp, so its always available and doesnt require the user to enable the email app

[2018-01-24 01:46] bradmac commented on #3876
![image](https://user-images.githubusercontent.com/826458/35310238-4d950edc-0115-11e8-9956-c1c21d32fcef.png)

[2018-01-24 01:48] bradmac commented on #3876
Users need to edit the XML to change:
![image](https://user-images.githubusercontent.com/826458/35310303-a4b07c1a-0115-11e8-8bbe-7e00744be5c1.png)

[2018-01-24 03:10] #3876 closed

[2018-01-24 07:31] AlaaKhalaf94 commented on #4836
Thanks @bradmac , I've checked and the link worked fine
"http://vaya-master_vaya-master.kademi-ci.co/leads/4581349/"

But , it show me that I don't have permission to view this page , What powers do I have to be able to display the lead's page ?

[2018-01-24 08:20] Uafinder opened #4840 "Signup component bugs - keditor"
1. Display name fields checkbox will give visibility to Nickname field (Edit, display name, change it to yes, note that Nickname field appear)
![image](https://user-images.githubusercontent.com/1945230/35321556-bf7daebc-00ef-11e8-9c03-a367c2478562.png)

2. Display password field option appears twice
![image](https://user-images.githubusercontent.com/1945230/35321591-eca58338-00ef-11e8-8f06-ee8d284

[2018-01-24 08:34] bradmac commented on #4840
Correct, display name and nick name refer to the same thing.

[2018-01-24 08:35] bradmac commented on #4840
Note the orgs selector will only appear if there are orgs to select. Can you confirm you have setup orgs correctly?

[2018-01-24 09:04] Uafinder commented on #4840
yup, there are orgs present...

[2018-01-24 09:07] Uafinder commented on #4840
probably would be great to remove nickname option, or change it to yes when it's physically display

[2018-01-24 09:14] bradmac commented on #4840
sorry, what do you mean?

[2018-01-24 12:11] Uafinder commented on #4840
take a look on the screenshot again:
![image](https://user-images.githubusercontent.com/1945230/35321556-bf7daebc-00ef-11e8-9c03-a367c2478562.png)
1.Edit component
2. display name change it to yes
3. note that Nickname field appear
4. note that Nickname option still says "no"

[2018-01-24 12:30] Uafinder commented on #4825
Yeah, it start to track them

[2018-01-24 12:30] #4825 closed

[2018-01-24 12:36] Uafinder opened #4841 "Email history is not showing Opened emails (status remains Complete)"
So, the issue is that physically email status is changing from "complete" to "open", which you could see on the email details and send email details, but on email history page email statuses remains obsolete "complete".
![image](https://user-images.githubusercontent.com/1945230/35332544-f46e0ee0-0113-11e8-8364-7c227b32ddcb.png)
![image](https://user-images.githubusercontent.com/1945230/35332551-fb

[2018-01-24 13:09] Uafinder commented on #4834
Need more info
I've setup some assets and types but don't know what to do next

[2018-01-24 13:31] Uafinder commented on #4806
I've send more than 100 emails per import via send email node, and all of them was processed ok, email result node was fine. So closing

[2018-01-24 13:31] #4806 closed

[2018-01-24 14:16] Uafinder opened #4842 "Teams management app enable"
1. we don't have special app for teams in MarketPlace

2. when enable teams by hand there is an error in frontend:
![image](https://user-images.githubusercontent.com/1945230/35336683-da7a0986-0121-11e8-87eb-b7894b4c47d6.png)

http://vlad26lead_vladtest26.kademi-ci.co/team/
http://vladtest26.admin.kademi-ci.co/teamGroups/

[2018-01-24 14:45] Uafinder commented on #4842
looks like this happen because team-lib was not enabled when app was. So the dependency should be added.

[2018-01-24 14:52] Uafinder opened #4843 "Dynamic media asset missed image for keditor"
![image](https://user-images.githubusercontent.com/1945230/35338520-d3fde8ac-0126-11e8-9903-ee3d0e4ed3a0.png)
![image](https://user-images.githubusercontent.com/1945230/35338543-e311acf2-0126-11e8-9ec6-227e7a716bc3.png)
http://vladtest26.admin.kademi-ci.co/pages/vlad26website/version1/

[2018-01-24 14:55] Uafinder commented on #4834
it works!

[2018-01-24 14:55] #4834 closed

[2018-01-24 14:58] Uafinder opened #4844 "main menu element highlight - content types and asset manager"
When you on the asset manager page, content menu folder should not be collapsed and Asset manager menu item should be hightlighted
http://vladtest26.admin.kademi-ci.co/asset-manager/
![image](https://user-images.githubusercontent.com/1945230/35338909-ca332c0a-0127-11e8-8ab9-9b13c35fac6e.png)
![image](https://user-images.githubusercontent.com/1945230/35338921-d06578b2-0127-11e8-8706-a88e4e3ec63a.pn

[2018-01-24 15:19] Uafinder commented on #4810
Hey, it looks doesn't work for me
I've import a large file which contains 4 different nodes, but as a result it looks like just a complete new lead.

[export-leads(13) - Cop1y.zip](https://github.com/Kademi/kademi-dev/files/1660322/export-leads.13.-.Cop1y.zip)

http://vladtest26.admin.kademi-ci.co/funnels/journey3/version1/leads/?startPos=0&pageSize=100&

[2018-01-24 15:20] Uafinder opened #4845 "Lowest Bid Auction"
Ready to test

[2018-01-24 21:29] gonzalon commented on #4835
![image](https://user-images.githubusercontent.com/2773216/35358162-936463c2-01ba-11e8-83a6-eae3a9aac94c.png)

[2018-01-25 03:37] #4778 closed

[2018-01-25 03:41] bradmac commented on #4842
Java apps dont have dependencies, so we need to create a marketplace app which depends on the java app and the lib.

[2018-01-25 03:41] #4615 closed

[2018-01-25 03:41] bradmac commented on #4650
@Uafinder over to you for testing.

[2018-01-25 03:43] bradmac commented on #4709
@Uafinder ready to test.

Please ensure users can upload to the asset library from the editor, and can select images/videos from the editor.

This should just make it easier to manage lots of images and videos compared with the traditional folder based approach

[2018-01-25 04:09] bradmac commented on #4773
Working:
![image](https://user-images.githubusercontent.com/826458/35370412-7f162c2e-01f2-11e8-8a3a-dc27da242fff.png)

![image](https://user-images.githubusercontent.com/826458/35370395-6ba1191a-01f2-11e8-9cb1-bbd4075eda67.png)

[2018-01-25 04:13] bradmac commented on #4773
@Uafinder over to you for testing. Note that to test this you need to create a content item and then view it in the front end, so the kcode field can be evaluated for the content item.

[2018-01-25 07:26] Uafinder commented on #4093
I mean that some apps like Reward Store of Leadman raise some dashboard messages in admin which tells you about some groups automatic creation with links on it and that there are some content created by default. Would be great to have some for auctions.
Like this:
![image](https://user-images.githubusercontent.com/1945230/35375979-b5c6c2ec-01b1-11e8-9f4a-309ae6c23c65.png)

or teach me how to creat

[2018-01-25 07:34] Uafinder commented on #4093
Doh... it's already created
We've created an auction called vlad26auc - Sample Auction. You can manage it here

So closing this one

[2018-01-25 07:34] #4093 closed

[2018-01-25 07:38] Uafinder commented on #2147
It looks good at the moment

[2018-01-25 07:38] #2147 closed

[2018-01-25 07:40] Uafinder commented on #2955
There is no possibility to create an auction without end date at the moment
So, closing

[2018-01-25 07:40] #2955 closed

[2018-01-25 09:18] Uafinder opened #4846 "Auctions component cause page broken"
Adding display auction bid info component cause any page or template broken
![image](https://user-images.githubusercontent.com/1945230/35380170-3160d4ba-01c1-11e8-95dc-50cf64b39319.png)
![image](https://user-images.githubusercontent.com/1945230/35380140-17169cde-01c1-11e8-944c-03172973fa63.png)
1. Create page
2. Add component
3. Save
4. Close
5. Edit page - it's broken

[2018-01-25 09:29] Uafinder opened #4847 "Auction components cause it appear on the frontend by multiple times"
![image](https://user-images.githubusercontent.com/1945230/35380721-c597235e-01c2-11e8-8bb9-cfaf08e6700e.png)
that's how it looks like on the editor
and that's how it looks like on the frontend:
![image](https://user-images.githubusercontent.com/1945230/35380767-df2760d6-01c2-11e8-97ca-dadb0fd33943.png)
![image](https://user-images.githubusercontent.com/1945230/35380777-e483c5ba-01c2-11e8-9e52-511

[2018-01-25 09:38] Uafinder opened #4848 "Auction title component shows page title instead of auction title"
![image](https://user-images.githubusercontent.com/1945230/35381145-f8ead9d4-01c3-11e8-81ba-324e3a81aacd.png)
![image](https://user-images.githubusercontent.com/1945230/35381154-fc0fe2c6-01c3-11e8-8c06-82034727ae68.png)
![image](https://user-images.githubusercontent.com/1945230/35381156-005ce2de-01c4-11e8-9f5c-48f9ce4faa1c.png)
http://vladtest26.admin.kademi-ci.co/pages/vlad26auc/version1/
1. Crea

[2018-01-25 11:43] Uafinder opened #4849 "Lowest Unique Bid Auction bug when leave a bid"
When you try to leave a bid which was already done... e.g. you say 500$ when 500$ was already bid it gives you an error:
![image](https://user-images.githubusercontent.com/1945230/35386706-ab1266b6-01d5-11e8-83f1-6050c5b51195.png)
http://vladtest26.admin.kademi-ci.co/auctions/

This bug cause all auction logics broken. In lowest unique bid auction users can place similar bids and the winner will b

[2018-01-25 12:02] Uafinder opened #4850 "Lowest Unique Bid Auction Current Bid should not be visible"
![image](https://user-images.githubusercontent.com/1945230/35387123-343ea304-01d7-11e8-8154-856e4feb83c6.png)
Current bid value for Lowest Unique Bid Auction (LUBA) is irrelevant. It should either always show a start value or it should be hided at all.
The start price of the auction on screenshot is 500. But it shows last bid, like it should be for regular auction.
http://vladtest26.admin.kademi-c

[2018-01-25 12:08] Uafinder commented on #4845
done, will wait for some bug fix to do a full re-test

[2018-01-25 12:08] #4845 closed

[2018-01-25 12:18] Uafinder opened #4851 "Auction bid allow decimals question"
Do we allow users to enter decimals (numbers after comma) for bids?
If yes, there are an error appear:
![image](https://user-images.githubusercontent.com/1945230/35387930-6c47fe64-01da-11e8-8fe4-9c64a9eb08f6.png)
If no, we should remove two zeroes after dot, because it could be misunderstanded by user.
![image](https://user-images.githubusercontent.com/1945230/35387872-34126fca-01da-11e8-86c5-9183

[2018-01-25 13:18] Uafinder commented on #4835
ok

[2018-01-25 13:18] #4835 closed

[2018-01-25 13:31] Uafinder opened #4852 "Product categories bugs"
1. When parent category doesn't contain any product it will not show it on the frontend, even if some child categories contain products.
![image](https://user-images.githubusercontent.com/1945230/35390188-2e2e3130-01e3-11e8-8a1e-3c8102f0c2ae.png)
![image](https://user-images.githubusercontent.com/1945230/35390199-3aadd5aa-01e3-11e8-962e-3961641dda89.png)

2. When you add category as a child to ano

[2018-01-25 15:32] Uafinder commented on #4650
looks good for me

[2018-01-25 21:48] bradmac opened #4853 "Implement controllers"

[2018-01-25 22:16] Anton69arb opened #4854 "Query table component not picking up query's"
When a query has been made, and you config the setting in the query table component.
the problem is that the when you log onto the dashboard, you cant see any data.

http://version1.onboarding-journey_ant15.kademi-ci.co/queries/managers-info/?run&from=0&size=100

http://version1.onboarding-journey_ant15.kademi-ci.co/dashboard
http://ant15.admin.kademi-ci.co/pages/onboarding-journey/version1/
http:

[2018-01-25 23:04] gonzalon commented on #4810
@Uafinder fixed, just tested it with the same journey you created (just changed the time to 1 min)

![image](https://user-images.githubusercontent.com/2773216/35417157-1511c802-0291-11e8-8d33-a874282424d9.png)

[2018-01-26 00:20] gonzalon commented on #4808
@Uafinder I can't reproduce it locally or in that account. I think this was fixed with another update I did for the emails. Can you confirm?

[2018-01-26 01:53] bradmac commented on #4851
yup, we should require it to be integer and only display as integer

we may have an auctions project soon so this is high priority

[2018-01-26 01:55] bradmac commented on #4850
- correct, do not display current bid for this type of auction
- bids must be whole numbers, ie integers

[2018-01-26 02:36] gonzalon commented on #4852
1) Fixed here: https://github.com/Kademi/kademi-demos/issues/218
2) Spoke with Brad about this and as this is not such a frequent update it's going to stay like this for performance sake. So if we do a change like this we have to be aware that we need to re index.
3) At the moment that click was ment to be for collapse and show the child categories, going to update it to show the child categories

[2018-01-26 03:29] gonzalon commented on #4852
Fixed in rewardstore-lib 1.3.5

[2018-01-26 06:40] ducdhm commented on #4768
New container:
![newui2](https://user-images.githubusercontent.com/1289631/35427843-65fc9122-029e-11e8-846a-f6f3ef5023b1.png)

New settings only for tab container:
![newui](https://user-images.githubusercontent.com/1289631/35427855-7383421e-029e-11e8-9abe-5956d53b012b.png)

[2018-01-26 06:45] ducdhm commented on #4838
Fixed!

[2018-01-26 11:05] Uafinder commented on #4852
Ok, so
1. looks ok
2. Ok, no probs
3. Yup, looks good.

[2018-01-26 11:05] #4852 closed

[2018-01-26 11:10] Uafinder opened #4855 "Weird thing while re-index product categories"
We have such thing
![image](https://user-images.githubusercontent.com/1945230/35437124-c50fcac6-0299-11e8-9e0f-b39d9c5cf216.png)
![image](https://user-images.githubusercontent.com/1945230/35437133-cbdf3ecc-0299-11e8-87fd-a88557b44183.png)
We wanna to make sure that everything is correct and run a re-index...
If we run re-index that way - everything will be fine
![image](https://user-images.githubu

[2018-01-26 11:18] Uafinder commented on #4838
yup, it works!

[2018-01-26 11:18] #4838 closed

[2018-01-26 12:05] Uafinder commented on #4821
Yup, it works!

[2018-01-26 12:05] #4821 closed

[2018-01-26 12:22] Uafinder opened #4856 "Issues on image upload in email node - edm editor"
![image](https://user-images.githubusercontent.com/1945230/35439631-36774d7e-02a4-11e8-897d-2ceaea642310.png)
1. Create journey
2. Add send email node
3. add some content with image
4. upload some other image
http://vladtest28.admin.kademi-ci.co/funnels/first-journey/version1/email1/#message-tab
5. Note a bug on the left side
6. Then push button to edit image a bit
7. it will say that cropper erro

[2018-01-26 12:42] Uafinder opened #4857 "Server error when upload leads on fresh account"
![image](https://user-images.githubusercontent.com/1945230/35439996-1fdb7160-02a6-11e8-96ce-73b5e0df22a7.png)
01:33:58 INFO  org.hibernate.event.internal.DefaultLoadEventListener  - HHH000327: Error performing load command : org.hibernate.ObjectNotFoundException: No row with the given identifier exists: [io.milton.vfs.db.Group#4693367]
01:33:58 ERROR io.milton.http.StandardFilter  - exception send

[2018-01-26 12:47] Uafinder opened #4858 "Export CSV for emails in send email node is extremely slow"
![image](https://user-images.githubusercontent.com/1945230/35440345-a9919654-02a7-11e8-8817-fa1bc74463cd.png)
Export takes from 30 seconds to one minute
In server log saw next strings

01:46:33 INFO  co.kademi.server.logging.KademiSimpleJdbcEventListener  - SLOW SQL ----- Time: 374ms, SQL: ... from base_email_job baseemailj0_ left outer join email_trigger baseemailj0_1_ on baseemailj0_...

01:46:3

[2018-01-26 12:55] Uafinder commented on #4808
looks better now

[2018-01-26 12:55] #4808 closed

[2018-01-26 13:33] Uafinder commented on #4804
Yup, and this one
![image](https://user-images.githubusercontent.com/1945230/35441917-0ce5f474-02ae-11e8-9953-f3a8d27e80c5.png)
1. Should be failed instead of undefined
2. Shouldn't be details for failed email sending.

[2018-01-26 14:09] Uafinder commented on #4810
Yeah, it works!

[2018-01-26 14:09] #4810 closed

[2018-01-26 14:31] Uafinder commented on #4709
1. Asset shows nothing by default
- I've create a page, add some image, push upload image, switch to assets and nothing appears there. However if I know the name it's possible to find image by name.
![image](https://user-images.githubusercontent.com/1945230/35443993-a7cad304-02b5-11e8-8c17-52361d6ed819.png)
![image](https://user-images.githubusercontent.com/1945230/35444008-b45488c2-02b5-11e8-9e88

[2018-01-26 15:31] Uafinder opened #4859 "Team button is available for unregistered users"
![image](https://user-images.githubusercontent.com/1945230/35446885-c446b3b4-02be-11e8-86fa-4872999b053f.png)
http://vlad28leads-vladtest28.kademi-ci.co/

[2018-01-26 15:46] Uafinder opened #4860 "Team view button leads you to a team profile page where membersips are for currect user"
![image](https://user-images.githubusercontent.com/1945230/35447537-a5bbe8ea-02c0-11e8-9db6-a4374d47a5f9.png)
![image](https://user-images.githubusercontent.com/1945230/35447483-82b90bb6-02c0-11e8-8fa3-3c68fab36e0f.png)
Selected memberships are not for team member, it from current user.
http://vladtest28.admin.kademi-ci.co/manageUsers/4688806/#general-tab
http://vlad28leads-vladtest28.kademi-ci.co

[2018-01-28 10:52] bradmac commented on #4853
Done. Here's an example config:

Specified the JS file to import:
![image](https://user-images.githubusercontent.com/826458/35481316-619af956-0475-11e8-94a4-37a83a62c41e.png)

This just has a simple example function:
![image](https://user-images.githubusercontent.com/826458/35481322-73ba9592-0475-11e8-9469-3523f1f38793.png)

'''
function doSomething(params, asset) {
    log.info("I'm doing somethi

[2018-01-28 10:59] bradmac commented on #4853
To test this i added a simple form to the page template:
![image](https://user-images.githubusercontent.com/826458/35481369-5c5df960-0476-11e8-996c-2b36a51a651c.png)

Which just displays a button:
![image](https://user-images.githubusercontent.com/826458/35481361-37ee8e64-0476-11e8-90e7-024f17f8bdde.png)

When clicked i see the output in the logs:
[code]

[2018-01-28 11:00] #4853 closed

[2018-01-28 13:36] #4512 closed

[2018-01-28 13:37] mkhoudary commented on #4824
https://github.com/Kademi/client-vaya/issues/235

[2018-01-28 14:18] mkhoudary opened #4861 "Unable to run reports in admin console"
Recently, are unable to run in the admin console, it looks like the JS sources aren't being loaded..

[2018-01-28 14:19] mkhoudary commented on #4861
Done.. added required resources as dependencies to admin..

[2018-01-28 14:20] mkhoudary commented on #4861
https://github.com/Kademi/client-vaya/issues/236

[2018-01-28 21:18] bradmac commented on #4859
Thats ok, its not unusual or unexpected for menu items to be displayed when a user is not logged in. Its only a problem if non-logged in users are able to see content

[2018-01-29 02:42] ducdhm commented on #4772
I think it's ok on QA because I have realized that in QA, libs are always up-to-update. Let me explain more details: with vlad-test10
 * mselect-lib is enabled when it's not depend on photoeditor-lib
 * When mselect-lib is changed for depending on photoeditor-lib, the version of mselect-lib is not increased in QA but new code is applied

[2018-01-29 02:42] ducdhm commented on #4772
Btw, I'll close this issue. We'll reopen when we get this issue again in US or AU.

[2018-01-29 02:42] #4772 closed

[2018-01-29 07:10] ducdhm commented on #4751
@bradmac I need a method from SalesDataApp which allows custom app to create new data series

[2018-01-29 09:42] Uafinder opened #4863 "When product contains more than 2 variant types SKU bug appears"
1. Open product
2. Add three variant types: e.g. memory, size, color
3. Go to SKU
4. Type some SKU code for one of variants
5. Note that SKU title and SKU base cost fields will not be active
![image](https://user-images.githubusercontent.com/1945230/35503466-dfd8ae58-04e8-11e8-803d-138dfc25adda.png)
http://vladtest28.admin.kademi-ci.co/skus/

[2018-01-29 11:31] bradmac commented on #4863
yep, looks like the reload fragment isnt working correcty, probably because of the productid returning multiple rows

[2018-01-29 11:50] bradmac commented on #4751
Added this method:
[code]

[2018-01-29 11:52] Uafinder commented on #4863
Also it cause image not appear after uploading...

[2018-01-29 13:00] Uafinder opened #4864 "Journey without selected Lead group shows as null on the analytics page"
http://vlad28leads_vladtest28.kademi-ci.co/dashboard
http://vladtest28.admin.kademi-ci.co/funnels/
1. Create a journey
2. Add some nodes and leads there
3. Go to frontend, and click on the analytics dropdown. Watch Nulls
![image](https://user-images.githubusercontent.com/1945230/35511566-11c286c0-0505-11e8-8824-a73a2ae89192.png)

[2018-01-29 13:04] Uafinder opened #4865 "Minor console error while working with leads frontend"
![image](https://user-images.githubusercontent.com/1945230/35511669-83079244-0505-11e8-82ab-d46f999123d7.png)
http://vlad28leads_vladtest28.kademi-ci.co/dashboard
Something dedicated to datetimepicker lib
Is it ok, or it could be interesting to fix?

[2018-01-29 13:36] Uafinder opened #4866 "Error in console while using quick lead edit feature"
![image](https://user-images.githubusercontent.com/1945230/35512834-bf555a52-0509-11e8-902f-6e02380b513d.png)
1. Open Leads page
2. Check some assigned to:
3. Click on other place without selecting some...
http://vlad28leads_vladtest28.kademi-ci.co/leads/?query=&leadType=active
http://vladtest28.admin.kademi-ci.co

[2018-01-29 14:34] Uafinder opened #4867 "Filter by assigned doesn't work when you're in sales group (in team)"
1. I've a member of team which should check sales date and watch teams
2. http://vlad28leads_vladtest28.kademi-ci.co/leads/?query=&leadType=active
3. Assigned to filter is empty
![image](https://user-images.githubusercontent.com/1945230/35515486-fa06253e-0511-11e8-8eee-d523ba501348.png)
http://vladtest28.admin.kademi-ci.co/websites/vlad28leads/version1/#panel_apps-tab

Also Teams page are inaccess

[2018-01-29 14:50] Uafinder commented on #4859
Ok, no probs

[2018-01-29 14:50] #4859 closed

[2018-01-29 23:17] gonzalon commented on #4867
@Uafinder I just checked and to solve this issue you needed to add the user to the Sales group, because of the config of the leadman app.

![image](https://user-images.githubusercontent.com/2773216/35539682-7ed8674a-05b7-11e8-92ef-750bf65d868f.png)
http://vladtest28.admin.kademi-ci.co/manageUsers/4701727/#summary-tab

Web
![image](https://user-images.githubusercontent.com/2773216/35539693-8ba64d66

[2018-01-30 02:23] bradmac commented on #4598
Old style should use code like this..
[code]

[2018-01-30 07:11] ducdhm commented on #4709
@bradmac Seems backend is changed. `http://localhost:8080/assets/?q=&type=` doesnt return any results anymore. Can you double-check it?

[2018-01-30 09:59] ducdhm commented on #4712
Fixed!

[2018-01-30 10:00] ducdhm commented on #4803
@Anton69arb Can you give me more details?

[2018-01-30 10:15] bradmac commented on #4803
I just tried and i was able to select the image and have it display correctly:
![image](https://user-images.githubusercontent.com/826458/35560826-a40a1144-0602-11e8-9361-e8bb92c25141.png)

@Anton69arb is the bug still active?

[2018-01-30 13:21] Uafinder commented on #4712
yup, looks good

[2018-01-30 13:21] #4712 closed

[2018-01-30 13:33] Uafinder commented on #4833
looks fixed on QA, on the address which provided by @Anton69arb error still appear

[2018-01-30 13:44] Uafinder commented on #4867
Ok, understood with first thing, but what is happening with Teams permissions? It's still bad...
![image](https://user-images.githubusercontent.com/1945230/35569182-1f4398c8-05d4-11e8-9a3e-f055347faf2d.png)
http://vladtest28.admin.kademi-ci.co/manageUsers/4701727/#summary-tab
http://vlad28leads-vladtest28.kademi-ci.co/team/

And one more:
Why when you select team dropdown filter. there are only or

[2018-01-30 14:27] Uafinder commented on #4861
Yeah, it works!

[2018-01-30 14:27] #4861 closed

[2018-01-30 14:30] mkhoudary commented on #4717
Hey @anhnt I checked this and it looks like the behavior of the component is to get the children of an org assigned to a user.. I will chat with Brad about this..

[2018-01-30 14:46] Uafinder commented on #4598
Both styles still works properly

![image](https://user-images.githubusercontent.com/1945230/35572358-1fd6ac7c-05dd-11e8-89b4-d61b49b8ddf3.png)

Only thing is old style is not visible in editor
![image](https://user-images.githubusercontent.com/1945230/35572247-e8285550-05dc-11e8-941a-902ec0ba1751.png)
But when you switch to Source code
![image](https://user-images.githubusercontent.com/1945230/35

[2018-01-30 22:39] gonzalon commented on #4850
Not showing the last bid for LUB
![image](https://user-images.githubusercontent.com/2773216/35595347-4786f7f6-067b-11e8-9e4f-aa84a013476a.png)

[2018-01-31 02:03] gonzalon commented on #4851
Fixed in 1.1.2

[2018-01-31 02:24] gonzalon commented on #4598
@bradmac I talked to Wes about this and found that it's because of this https://github.com/Kademi/kademi-dev/issues/951

What should we do?

[2018-01-31 02:36] gonzalon commented on #4824
@mkhoudary related to the summary tab, should it be the cards and the timeline? any format in particular?

Working on the email tab export

[2018-01-31 02:59] anhnt opened #4868 "add ordering field to product"
And also product  ES index as well

[2018-01-31 03:14] bradmac commented on #4833
@ducdhm can you please apply updates to both clusters, and apply the update to the kademi account so anton can use it?

[2018-01-31 03:55] ducdhm commented on #4833
Done!

[2018-01-31 04:37] bradmac commented on #4598
Hey guys.
The action point from this issue was to ensure KCode can be used.
But the problem was the implementation broke rendering of certs for old themes.

This issue can be closed if KCode is working correctly and there is no regression error affecting rendering of old certs.

If there is a problem with editing old theme templates then that should be logged as a seperate issue which is not criti

[2018-01-31 04:37] bradmac commented on #4598
@Uafinder please close this issue if it is resolved as above

[2018-01-31 08:24] Uafinder commented on #4598
ok, closing

[2018-01-31 08:24] #4598 closed

[2018-01-31 08:27] Uafinder opened #4869 "Old style certificate editing is not visible in editor"
old style is not visible in editor
![image](https://user-images.githubusercontent.com/1945230/35572247-e8285550-05dc-11e8-941a-902ec0ba1751.png)
But when you switch to Source code
![image](https://user-images.githubusercontent.com/1945230/35572165-ba48eb5e-05dc-11e8-852a-06a97d672360.png)
http://vladtest28g.admin.kademi-ci.co/certificates/cert_4851482/?useHash=true

e.g. if you enter something lik

[2018-01-31 09:53] Uafinder commented on #4851
Please update lib version on CI
![image](https://user-images.githubusercontent.com/1945230/35616254-6342bc26-067d-11e8-9389-33f666d44acf.png)

[2018-01-31 10:37] Uafinder opened #4870 "Lowest Unique Bid auction - leader is not showing correctly in admin"
When a minimum bid placed by several users, in admin leader value disappear.
![image](https://user-images.githubusercontent.com/1945230/35616438-e42eb5ba-067d-11e8-949d-acab96ef7878.png)
![image](https://user-images.githubusercontent.com/1945230/35616501-18537e0c-067e-11e8-9a80-75de4e1586b8.png)
http://vladtest28h.admin.kademi-ci.co/auctions/

Also, when auction is ending there is no winner in the

[2018-01-31 10:45] Uafinder commented on #4849
Placing similar bid is possible now

[2018-01-31 10:45] #4849 closed

[2018-01-31 10:56] Uafinder commented on #4850
Yup, it works!

[2018-01-31 10:56] #4850 closed

[2018-01-31 11:02] Uafinder commented on #4833
Same thing on the Anton's link![image](https://user-images.githubusercontent.com/1945230/35619503-f09aee82-0686-11e8-8b34-b207143f060a.png)

[2018-01-31 11:14] Uafinder commented on #4812
Now,
when you click on image insert button it gives you an error to console and image uploader doesn't open,
![image](https://user-images.githubusercontent.com/1945230/35620093-b06db55e-0688-11e8-91d4-6870b5409436.png)

http://vladtest28h.admin.kademi-ci.co/manageAlerts/alert-4887468#bodyCopy-tab

[2018-01-31 12:10] Uafinder opened #4871 "Mtree error while open Keditor"
![image](https://user-images.githubusercontent.com/1945230/35622403-6b707f88-0690-11e8-9e48-8b255264b0fd.png)
http://vladtest28h.admin.kademi-ci.co
Open any page or template in keditor and you will see it...

[2018-01-31 13:47] Uafinder opened #4872 "Bulk upload files to assets - assets not appear in the list"
Using Bulk upload
1. open asset manager http://vladtest28j.admin.kademi-ci.co/asset-manager/
2. Click bulk upload
3. Upload some images
4. Upload successful but they don't appear in list
5. re-index doesn't help
![image](https://user-images.githubusercontent.com/1945230/35626309-ff839112-069d-11e8-8726-2c166cf5ed1a.png)

[2018-01-31 14:47] Uafinder opened #4873 "Asset manager filter bad when moving from content type page"
1. http://vladtest28j.admin.kademi-ci.co/content-types/IMAGE/
2. Then click asset manager
![image](https://user-images.githubusercontent.com/1945230/35628935-fcfaf806-06a5-11e8-867b-44c2a3a221b6.png)
3.
![image](https://user-images.githubusercontent.com/1945230/35628945-05bcb790-06a6-11e8-9d5f-ca43aa6a2dd0.png)
Looks like it should change filter to view only assets of this type or it should show a

[2018-01-31 18:07] mkhoudary commented on #4717
Fixed

[2018-01-31 22:33] bradmac commented on #4873
Fixed

[2018-01-31 22:54] gonzalon commented on #4870
@Uafinder should't the leader be 106 as is the lower unique bid?

[2018-01-31 23:09] gonzalon commented on #4851
Sorry!! now should be available to test it :)

[2018-01-31 23:22] gonzalon commented on #4867
@Uafinder just checked on the code and the team dropdown, its being populated by the users memberships where the user has a the ROLE_SALES or ROLE_SALES_MANAGER or ROLE_SALES_TEAM_VIEWER.

So if the user adminqa has a membership to another org with one of those roles it should show there

For the team page it was missing the user administrator for the org or repo.

[2018-02-01 03:24] bradmac commented on #4872
Was missing transaction handling, should be fixed now

[2018-02-01 03:36] anhnt opened #4874 "Add orderNotes field to ShoppingCartBean"

[2018-02-01 04:07] ducdhm commented on #4871
Fixed!

[2018-02-01 04:26] ducdhm commented on #4856
Done!

[2018-02-01 06:03] #4874 closed

[2018-02-01 06:05] anhnt commented on #4868
added position field to rewardStore index as well

[2018-02-01 08:07] Uafinder commented on #4870
@gonzalon
Yup, you're right. The leader should be 106 bid as it is a lowest unique

I mean that leader disappears when lowest bid is placed more than once.

[2018-02-01 08:09] Uafinder commented on #4871
Yup, looks better

[2018-02-01 08:09] #4871 closed

[2018-02-01 08:33] Uafinder opened #4875 "EDM Editor - Image edition icons missed on all components"
http://vladtest28k.admin.kademi-ci.co/groupEmails/4921540/#messages-tab
![image](https://user-images.githubusercontent.com/1945230/35668705-2f292e16-073b-11e8-8512-8393bccc458e.png)
![image](https://user-images.githubusercontent.com/1945230/35668713-35967448-073b-11e8-81da-292a3678e767.png)

And there is no image component in the component selection to the right!
![image](https://user-images.githu

[2018-02-01 08:34] Uafinder commented on #4856
https://github.com/Kademi/kademi-dev/issues/4875

[2018-02-01 08:57] ducdhm commented on #4875
@Uafinder You need enable email-lib to see image component. It's a part of email-lib for now

[2018-02-01 09:14] bradmac commented on #4875
hey @ducdhm we want vlad to test as if he is a user, and users must never be required to install libs

I dont think the photo component should be part of email-lib, its just a normal content item, so should be part of content-lib

that is a dependency of bootstrap-base so will be enabled for all sites regardless of what apps are enabled

[2018-02-01 09:20] Uafinder commented on #4856
Error fixed...

But visual bug still appears:
![image](https://user-images.githubusercontent.com/1945230/35670690-dfe52d6c-0741-11e8-8522-558b8c6e879b.png)
http://vladtest28k.admin.kademi-ci.co/groupEmails/

[2018-02-01 09:30] Uafinder commented on #4873
Yup, works great

[2018-02-01 09:30] #4873 closed

[2018-02-01 09:45] Uafinder commented on #4872
vlad 10:40 AM
i'm don't see that it fixed...
i've push bulk upload, upload some images and nothing is happened
new assets not apperar
http://vladtest28k.admin.kademi-ci.co/asset-manager/

brad 11:42 AM
ok, just assign back

[2018-02-01 11:01] Uafinder commented on #4851
Yeah, it works
No probs

[2018-02-01 11:01] #4851 closed

[2018-02-01 11:04] Uafinder commented on #4867
Undesrtood...
So, probably most of problems will be sorted when we would have a MarketPlace app with necessary default settings.

[2018-02-01 11:04] #4867 closed

[2018-02-01 11:14] Uafinder opened #4876 "Create a MarketPlace app for Teams"
https://github.com/Kademi/kademi-dev/issues/4867

Would be great to have a MarketPlace app to setup Teams with necessary roles and libs.

Vlad 11:48 PM
There is a problem when you enable teams it doesn't enable teams-lib

brad 11:48 PM
yes, because we dont have a marketplace app yet
but in the meantime you can just install teams-lib manually

[2018-02-01 11:46] Uafinder commented on #4717
Yup, it works...
tested on the fresh account and on the Anh's account...

[2018-02-01 11:46] #4717 closed

[2018-02-01 12:38] Uafinder opened #4877 "Click logout for the user cause console errors"
When you're on the frontend and click logout for the user some errors appear in console
![image](https://user-images.githubusercontent.com/1945230/35678830-7cf03500-075d-11e8-8f7a-01f6945ee5c4.png)

![image](https://user-images.githubusercontent.com/1945230/35678820-744abede-075d-11e8-9b31-9b80a2d00aa3.png)
http://vladtest28k.admin.kademi-ci.co/pages/vlad28kweb/version1/

[2018-02-01 12:42] Uafinder opened #4878 "Keditor click on the text editor button cause error in console"
![image](https://user-images.githubusercontent.com/1945230/35679002-1e5313ae-075e-11e8-8191-6533bb41d372.png)
![image](https://user-images.githubusercontent.com/1945230/35678988-1305dad6-075e-11e8-8cab-407d645315d2.png)
http://vladtest28k.admin.kademi-ci.co/pages/vlad28kweb/version1/

[2018-02-01 12:51] Uafinder commented on #4700
Up!

[2018-02-01 12:59] Uafinder opened #4879 "Keditor visual bug while checking and unchecking multiple background images checkbox"
![image](https://user-images.githubusercontent.com/1945230/35679646-8c4680b0-0760-11e8-88a8-0431a63ed453.png)

[2018-02-01 13:23] Uafinder opened #4880 "Possibility to add a custom link name instead of URL"
![image](https://user-images.githubusercontent.com/1945230/35680750-debde4d4-0763-11e8-97ae-f4ecc70115b4.png)
![image](https://user-images.githubusercontent.com/1945230/35680637-93e53e76-0763-11e8-973d-d71419849544.png)
to be link here
![image](https://user-images.githubusercontent.com/1945230/35680660-a3c536de-0763-11e8-8e5c-2f5a6cb61aff.png)
Like a <a href="https://www.w3schools.com/html/">Visit

[2018-02-01 13:41] Uafinder opened #4881 "Assets on the keditor image uploading via text component bugs"
1. Assets list empty while uploading image via text component
- open page for edit
- add text component
- go to assets tab
- it will be empty

2. Upload image to the assets doesn't cause it appears in list
- open page for edit
- add text component
- go to assets tab
- click upload image
- upload it
- note that it's empty

![image](https://user-images.githubusercontent.com/1945230/35681501-39cbdc08

[2018-02-01 13:49] Uafinder opened #4882 "Add modal feature cause an error in console"
![image](https://user-images.githubusercontent.com/1945230/35681880-8699ac44-0767-11e8-900e-d715a6f1051a.png)
![image](https://user-images.githubusercontent.com/1945230/35681818-495f80f6-0767-11e8-80f8-2a5d5a949dad.png)
1. Add a text component to page
2. Click add a modal
3. Watch an error
http://vladtest28k.admin.kademi-ci.co/pages/vlad28kweb/version1/

[2018-02-01 14:24] Uafinder opened #4883 "Flash upload via text component doesn't work"
It looks that this component very obsolete...
![image](https://user-images.githubusercontent.com/1945230/35683312-34d44220-076c-11e8-8252-22c8ddfc6aa5.png)
http://vladtest28k.admin.kademi-ci.co/pages/vlad28kweb/version1/

upload doesn't work at all
![image](https://user-images.githubusercontent.com/1945230/35683337-493dbe58-076c-11e8-9051-c1fbff91e848.png)

[2018-02-01 14:50] Uafinder opened #4884 "When edit page properties from editor it doubles keywords and description fields"
![image](https://user-images.githubusercontent.com/1945230/35684448-909b77ba-076f-11e8-8d94-ff7e8401d305.png)
1. Open page for editing
2. Push edit page properties
3. Push save
4. Then edit page properties again
5. Note that fields are doubled
http://vladtest28k.admin.kademi-ci.co/pages/vlad28kweb/version1/

[2018-02-01 14:59] Uafinder opened #4885 "keditor page background question"
This how it looks in the editor
![image](https://user-images.githubusercontent.com/1945230/35684875-dc86bbde-0770-11e8-9849-c39b1bc23e78.png)

This how it looks on the frontend
![image](https://user-images.githubusercontent.com/1945230/35684924-f9dc9e2e-0770-11e8-910b-0472630bf8de.png)

Upper part of image is cropped on the frontend.
The difference looks like in a upper panel
Should it be like it

[2018-02-01 15:16] ducdhm commented on #4875
@bradmac I dont agree with you about this. User wants to send an email but dont enable `email-lib` or `KEmail` app for their website. Is it right?

[2018-02-02 00:06] bradmac opened #4886 "Asset path mappings and new instance creation"

[2018-02-02 00:06] bradmac commented on #4886
Example

[code]

[2018-02-02 00:58] bradmac commented on #4885
I think its just because the bg is being vertically centred. You have other options for the position to adjust as required

[2018-02-02 00:59] bradmac commented on #4885
Note that the difference in appearance is due to the difference in height which is expected

[2018-02-02 01:00] bradmac commented on #4886
@mkhoudary please review and let me know if thats appropriate for phhub.

Note that instance creation process isnt tested yet

[2018-02-02 01:12] bradmac commented on #4880
hey Vlad, yes thats normal and currently supported.

Once a link is inserted you can simply edit the text of the link like normal text. Or you can highlight a piece of text and then click the link button to provide a link for the text.

[2018-02-02 01:15] bradmac commented on #4875
The email app should not need to be enabled for a user to send emails. The email app at a website level is intended to provide an email inbox screen.

The photo component should be considered a normal content component, and we have one intended for use in web delivery and another for use with email, but its still a functional aspect of content editing

[2018-02-02 01:24] bradmac commented on #4872
OK, should be fixed now.

[2018-02-02 01:26] bradmac commented on #4865
@ducdhm what do you think?

[2018-02-02 02:21] bradmac commented on #4844
Looks like this has been fixed now

[2018-02-02 03:43] bradmac commented on #4883
yes, please remove that button

[2018-02-02 05:10] ducdhm commented on #4881
@bradmac It's not frontend stuff. It's backend issue. When sending request to `/assets/?q=&type=`, server returns nothing. It worked but not for now.

[2018-02-02 05:11] ducdhm commented on #4865
It's not even a bug. It's just warning issue in console. And end-users never open console log for checking something like that. So it's acceptable

[2018-02-02 05:16] ducdhm commented on #4880
@Uafinder: You can change the protocol to `Other` and insert any link you want

[2018-02-02 05:48] bradmac commented on #4881
Fixed

[2018-02-02 05:48] bradmac commented on #4881
@ducdhm can you please confirm is working correctly?

[2018-02-02 06:08] bradmac commented on #4709
Should be fixed now

[2018-02-02 06:31] bradmac commented on #3745
hey @Uafinder i've tested locally and seems ok, and your reference account has expired.

can you check if the problem above is still active?

[2018-02-02 06:33] bradmac commented on #4836
The Sales role should give you access

[2018-02-02 06:50] mkhoudary commented on #4682
I've checked that and it is working fine..

[2018-02-02 06:50] #4682 closed

[2018-02-02 06:55] ducdhm commented on #4881
Yes, it's working perfectly now

[2018-02-02 07:27] Uafinder commented on #4885
Ok, no probs... just clarifying

[2018-02-02 07:27] #4885 closed

[2018-02-02 07:28] ducdhm commented on #4883
Done!

[2018-02-02 07:29] Uafinder commented on #4865
no probs... it's just FYI

[2018-02-02 07:29] #4865 closed

[2018-02-02 07:58] Uafinder opened #4887 "Weird auction timer behaviour"
![image](https://user-images.githubusercontent.com/1945230/35722533-5f45cbee-07ff-11e8-88ef-2f73a320b9bf.png)
![image](https://user-images.githubusercontent.com/1945230/35722546-6dfbce40-07ff-11e8-86cd-ca4b0cfbde74.png)
I've an auction which should end in a hour from now, but timer shows that it will end in some minutes
http://vladtest28m.admin.kademi-ci.co/auctions/aucqa01/#details-tab

And in th

[2018-02-02 08:59] Uafinder commented on #4870
Yup, it works like a charm!

[2018-02-02 08:59] #4870 closed

[2018-02-02 10:18] Uafinder commented on #4883
Yup, tab was removed

[2018-02-02 10:18] #4883 closed

[2018-02-02 10:24] Uafinder commented on #4882
Yeah, it works!

[2018-02-02 10:24] #4882 closed

[2018-02-02 10:29] Uafinder commented on #4881
No it doesn't
![image](https://user-images.githubusercontent.com/1945230/35728533-8b571458-0814-11e8-822d-a1faab1fa4bf.png)
![image](https://user-images.githubusercontent.com/1945230/35728552-962396fe-0814-11e8-985c-e34427221b7f.png)

Both bugs is still there
Fresh account
http://vladtest28n.admin.kademi-ci.co/pages/vlad28nweb/version1/

[2018-02-02 10:33] Uafinder commented on #4880
Yup, checked, looks good

[2018-02-02 10:33] #4880 closed

[2018-02-02 10:38] Uafinder commented on #4878
Yup, looks good

[2018-02-02 10:38] #4878 closed

[2018-02-02 10:39] Uafinder commented on #4872
Yeah, upload works successful

[2018-02-02 10:39] #4872 closed

[2018-02-02 10:45] Uafinder opened #4888 "Asset change image bugs"
1. Incorrect pop-up
![image](https://user-images.githubusercontent.com/1945230/35729291-d78a6030-0816-11e8-8e4f-07585fd919aa.png)

2. Should be a validation on file selected while pressing upload image button
![image](https://user-images.githubusercontent.com/1945230/35729334-f123a9fc-0816-11e8-91f7-190f2c2f1653.png)

3. After upload image should be refreshed to newly uploaded
- open image asset
-

[2018-02-02 10:50] Uafinder commented on #4844
Yup, it works!

[2018-02-02 10:50] #4844 closed

[2018-02-02 11:08] Uafinder opened #4889 "Keditor - Lot of lead components missed thumbnail images"
![image](https://user-images.githubusercontent.com/1945230/35730257-0ba8c75a-081a-11e8-828a-811aa21c5844.png)

http://vladtest28n.admin.kademi-ci.co/websites/vlad28nlead/version1?editTemplate=theme/apps/leadman/viewLead

[2018-02-02 12:00] Uafinder commented on #3745
ok, so kcode works ok for me at the moment
partially, leads fields are not visible, but it's another story

[2018-02-02 12:00] #3745 closed

[2018-02-02 12:00] ducdhm commented on #4881
@bradmac Can you help me check on QA?

[2018-02-02 12:11] Uafinder opened #4890 "Kcodes for leadman question"
I can't add Kcodes for leads to see them works
I've add them on the lead page (viewLead template) and completely new page
But I can't see them on the frontend.
Please assist...
http://vladtest28n.admin.kademi-ci.co/pages/vlad28nlead/version1/
All necessary app are installed.

[2018-02-02 13:07] Uafinder commented on #4839
Yeah, it works!

[2018-02-02 13:07] #4839 closed

[2018-02-02 13:32] Uafinder opened #4891 "Keditor issue while adding audio component"
1. Edit page
2. Add component audio
3. Edit it
4. Click upload audio
5. Find and upload audio
6. try to preview it
7. Click ok
8. Audio will not stop playing and there is no possibility to stop it

![image](https://user-images.githubusercontent.com/1945230/35734926-84c7b27a-082b-11e8-9981-c2e68a517cad.png)

[2018-02-02 14:36] Uafinder opened #4892 "Keditor - website list component links incorrect"
![image](https://user-images.githubusercontent.com/1945230/35738281-0a23e30c-0837-11e8-85ee-1ce26c3339c2.png)
![image](https://user-images.githubusercontent.com/1945230/35738289-11d884c2-0837-11e8-9bcd-0bc6a55a2dcc.png)
![image](https://user-images.githubusercontent.com/1945230/35738300-1dc522a4-0837-11e8-9cfe-a2d7150985cd.png)
http://vladtest29.admin.kademi-ci.co/pages/vlad29web/version1/

[2018-02-02 14:38] Uafinder opened #4893 "Keditor some components background color selector is not appear"
![image](https://user-images.githubusercontent.com/1945230/35737051-e4c9447a-0832-11e8-9bc6-d70d8a3bf2f4.png)
When you click on the background color field, color picker doesn't appear.
Such as this one...
![image](https://user-images.githubusercontent.com/1945230/35737271-a43b0406-0833-11e8-931b-7e41dcdaac3a.png)
There is only a possibility to enter color code manually
http://vladtest29.admin.kade

[2018-02-02 16:07] ducdhm commented on #4892
@Uafinder These components are available only for Dashboard. Not for website.

[2018-02-02 17:13] ducdhm commented on #4833
@Uafinder You need to update new version of mtree-lib to see the change. Btw, i have upgrade latest version for mtree-lib in Anton's account.

[2018-02-02 17:22] ducdhm commented on #4875
Understood and Done!

[2018-02-02 17:26] ducdhm commented on #4812
`1. When you push upload image to assets tree - it uploads successful, gives no errors but image doesn't appear.`

We already have issue for assets stuff. So I'll ignore it in this ticket.

[2018-02-02 17:31] ducdhm commented on #4812
[code]
@Uafinder Because you dont choose any folder and just press upload so you'll upload to root (`/`). We dont store image in root. That's why you'll get error like that.

@bradmac What do you think about the case when use doesnt choose any folder and just press upload to `/`?

[2018-02-04 13:07] #4837 closed

[2018-02-04 13:21] mkhoudary commented on #4824
@gonzalon attached an example of what we'd expect

[summaryExportSample.xlsx](https://github.com/Kademi/kademi-dev/files/1692805/summaryExportSample.xlsx)

[2018-02-04 21:13] faithtek opened #4894 "Category List"
After an update to the Categories List last week, to allow when clicking on a category to show all products in the category that was clicked on and all sub-categories, I now get the following error:

This can be found at this site: http://version1.devsite01-asrdev.kademi.us/general-1/

Error rendering component: rewardStoreCategoriesList
class org.apache.velocity.exception.MethodInvocationExceptio

[2018-02-05 00:42] gonzalon commented on #4894
Hi @faithtek we needed to re-index the data as there was an update in the indexes. Just did that and seems to be working fine now. Can you double check? Thanks

[2018-02-05 02:02] bradmac commented on #4812
In situations like this where there is no logical repository to use, the user should just use the asset library. Thats what its intended for.

So we should be able to hide the file tree

[2018-02-05 03:33] ducdhm commented on #4166
@anhnt Need add padding/margin bottom for badge.

[2018-02-05 03:59] anhnt commented on #4738
Fixed, please update kademi-dev to test

[2018-02-05 04:32] anhnt commented on #4738
Also fixed duplicated orgId inputs

[2018-02-05 04:49] faithtek commented on #4894
Fixed.

[2018-02-05 04:49] #4894 closed

[2018-02-05 05:08] anhnt commented on #4669
so handing over to vlad..

[2018-02-05 06:19] anhnt commented on #4842
please restart QA and sync. then find KTeam app from marketplace

[2018-02-05 07:25] ducdhm commented on #4812
Fixed!

[2018-02-05 07:37] Uafinder commented on #4892
You mean like this?
http://version1.vlad29web-vladtest29.kademi-ci.co/dashboard

[2018-02-05 08:57] anhnt commented on #4840
Fixed, please update KSignup to 1.0.1

[2018-02-05 09:09] Uafinder commented on #4892
Yup, realized where it's located

[2018-02-05 09:09] #4892 closed

[2018-02-05 11:00] Uafinder commented on #4875
Yup, it works

[2018-02-05 11:00] #4875 closed

[2018-02-05 11:05] Uafinder commented on #4884
Ok, it works!

[2018-02-05 11:05] #4884 closed

[2018-02-05 11:09] Uafinder commented on #4833
Ok, closing

[2018-02-05 11:09] #4833 closed

[2018-02-05 11:33] Uafinder commented on #4846
Ok, it works

[2018-02-05 11:33] #4846 closed

[2018-02-05 11:59] Uafinder commented on #4842
Looks good

[2018-02-05 11:59] #4842 closed

[2018-02-05 12:01] Uafinder commented on #4738
looks good

[2018-02-05 12:01] #4738 closed

[2018-02-05 12:06] Uafinder commented on #4669
yup, looks good

[2018-02-05 12:06] #4669 closed

[2018-02-05 12:59] Uafinder commented on #4840
Looks good

[2018-02-05 13:07] Uafinder commented on #4812
Ok, so when I click to upload image, it gives me just empty left bar, and when I try to upload image - error appears:
![image](https://user-images.githubusercontent.com/1945230/35805884-3b976cbe-0a86-11e8-8074-e68a4cba0ed1.png)
http://vladtest30a.admin.kademi-ci.co/manageAlerts/alert-5048892#bodyCopy-tab

[2018-02-05 13:23] Uafinder commented on #4840
2. Display password field option appears twice

This problem still appears...
http://vladtest30a.admin.kademi-ci.co/pages/vlad30aweb/version1/

[2018-02-05 14:10] ducdhm commented on #4847
@bradmac Main issue here is `auctionDescriptionComponent`. This component is working only in detailed auction page. When drag in component and drop in any pages, this issue will occured. The code of this component is:

[code]

So... what should I do?

[2018-02-05 21:39] bradmac commented on #4847
Hi @ducdhm please update the component so that
- it is only available for pages of type auction
- if somehow used on other pages it will display an appropriate error message

@Uafinder please ensure that you only use auction components (which require a specific auction) on an auction page template. I think we have components intended to be used on the dashboard etc which display a list of current

[2018-02-05 21:43] bradmac commented on #4893
👍

[2018-02-05 21:45] bradmac commented on #4891
Pushing back to next milestone as this component is rarely used

[2018-02-05 22:43] #4658 closed

[2018-02-05 22:44] #4593 closed

[2018-02-05 22:48] bradmac commented on #2795
hey @anhnt i really want to confirm if this is a genuine problem or not, and then either take action to resolve it or close it.

Please discuss with @Uafinder if you cant reproduce it.

[2018-02-05 22:49] bradmac commented on #3801
Please ignore for now.

[2018-02-05 22:49] #4105 closed

[2018-02-05 22:50] bradmac commented on #4235
I think this is ok now

[2018-02-05 22:50] #4235 closed

[2018-02-05 22:52] bradmac commented on #4379
@anhnt please update dependencies as above

[2018-02-05 23:01] bradmac commented on #4890
Here's an example using an EDM which should demonstrate it

![image](https://user-images.githubusercontent.com/826458/35833287-68a346d8-0b35-11e8-8a74-f20ace38fa91.png)

http://vladtest28n.admin.kademi-ci.co/funnels/nurture-journey/version1/#journeyBuilder-tab

[2018-02-05 23:05] bradmac commented on #4881
@ducdhm i've confirmed Vlad's problems
- I upload an image, and it is not shown or selected. I can search for it to find it, but users should not be required to search for the image they've just uploaded. After uploading, please ensure the image is selected
- when i open the assets tab the list is initially empty. If i search i can then see assets, but the initial list should be shown without the

[2018-02-06 00:11] bradmac commented on #4881
After redeploying to CI is displaying initial asset list:
![image](https://user-images.githubusercontent.com/826458/35835381-42439510-0b3f-11e8-8a82-9d9aac6991d6.png)

[2018-02-06 00:14] bradmac commented on #4881
@ducdhm can you please ensure that when an item is uploaded it is selected and shown in the list.

Currently you're reloading the list with whatever search criteria was previously there (or none), and the image is only selected if its found in that list

This wont work. Eg i just searched for "abc" and uploaded an image called "red-dawn.png" and it wasnt in the reloaded list so it didnt get select

[2018-02-06 02:33] anhnt commented on #4840
Fixed

[2018-02-06 03:11] anhnt commented on #4830
@Anton69arb when logged in as that user, it shows him the courses on his dashboard, not modules. And each course has started module, so the course is started. Note that we show courses when there are lot of modules

[2018-02-06 03:17] #4830 closed

[2018-02-06 03:45] anhnt commented on #4381
Removed that button

[2018-02-06 05:13] anhnt commented on #2795
In newly created account, when creating new page, it was loading content editor slowly but once its loaded everything works ok

http://anhtest15.admin.kademi-ci.co/websites/w1/version1/programs/p1/c1/m1/#files-tab

[2018-02-06 08:03] Uafinder commented on #4840
Looks good

[2018-02-06 08:03] #4840 closed

[2018-02-06 08:17] Uafinder commented on #4381
Yup, button removed

[2018-02-06 08:17] #4381 closed

[2018-02-06 08:28] Uafinder opened #4895 "Minor visual issue on admin leads page"
![image](https://user-images.githubusercontent.com/1945230/35848857-4f3ee5b0-0b28-11e8-8904-7039bdf49d3f.png)
http://vladtest30b.admin.kademi-ci.co/leads/5081077/#information-tab
1. Try to enter some job title for lead
2. Watch a bug, when "No such job title appear"

[2018-02-06 08:29] bradmac commented on #4895
not urgent, pushing to later milestone

[2018-02-06 08:49] Uafinder commented on #2795
problems look obsolete
it loads ok, without any fatal errors...closing this issue

[2018-02-06 08:49] #2795 closed

[2018-02-06 09:05] Uafinder commented on #4890
Finally get a result in my environment :)

[2018-02-06 09:05] #4890 closed

[2018-02-06 09:30] paddyow opened #4896 "Kademi BCC lead bouncing"
This is the mail system at host mailout.nyi.internal.

I'm sorry to have to inform you that your message could not
be delivered to one or more recipients. It's attached below.

For further assistance, please send mail to postmaster.

If you do so, please include this problem report. You can
delete your own text from the attached returned message.

                   The mail system

<to-lead-18817

[2018-02-06 09:38] anhnt commented on #4166
Done

[2018-02-06 10:08] Uafinder opened #4897 "Video asset doesn't play preview in selector"
![image](https://user-images.githubusercontent.com/1945230/35853411-1369bcf0-0b36-11e8-8c4f-0ec4bd4dc64d.png)
http://vladtest30b.admin.kademi-ci.co/websites/vlad30bweb/version1/programs/p1/c1/m1/#files-tab
1. Go to page
2. Add video component
3. Push change video
4. Click on assets tab
5. Upload some video
6. After it allows you to press play - press play
7. Video will not play and gives an error

[2018-02-06 11:49] Uafinder opened #4898 "EDM editor bug when changing image"
![image](https://user-images.githubusercontent.com/1945230/35858010-8b6365aa-0b43-11e8-94fa-3644878f5e5d.png)
http://vladtest30b.admin.kademi-ci.co/groupEmails/5087085/#messages-tab
1. Edit some email job
2. Add container (50/50) and image component to the body
3. Select or upload some big image (resolution 1600*1200 for example)
4. Click ok
5. It will use a image size of default image
6. Then upl

[2018-02-06 12:06] Uafinder opened #4899 "Module image selector bugs"
1. When you uploading image there is no filtering by file type (e.g. you can browse any file types). The good idea is to view only images
![image](https://user-images.githubusercontent.com/1945230/35858835-910ea8f4-0b46-11e8-82fe-eabc3c337559.png)
![image](https://user-images.githubusercontent.com/1945230/35858842-96180e94-0b46-11e8-8688-5239440d8941.png)
![image](https://user-images.githubusercon

[2018-02-06 12:27] Uafinder commented on #4709
Opened some other issues...
Most is ok at the moment

[2018-02-06 12:27] #4709 closed

[2018-02-06 12:30] mkhoudary opened #4900 "Exception when adding AssetQuery"
When adding a new AssetQuery an NPE is thrown, that's because the query asset doesn't return asset types and so the onCreate tries to iterate through null.

[2018-02-06 12:31] mkhoudary commented on #4900
Fixed.. @bradmac I'd suggest that the getAssetType method returns Collections.EMPTY_LIST when no types found.. but want to check with you first that returning null wasn't intentional.

[2018-02-06 13:21] Uafinder opened #4901 "Keditor video uploading progress-bar absent"
1. Open page for edit
2. Add some video component
3. Change video button
4. Upload some video
5. When you push upload, the uploading process is going in background without any progress bar which can be confusing for end user.

For example image uploading have progress bar
Uploading in progress for video
![image](https://user-images.githubusercontent.com/1945230/35861055-0f0a32a2-0b4f-11e8-8794-7af

[2018-02-06 13:48] Uafinder opened #4902 "Create module page image component broken"
![image](https://user-images.githubusercontent.com/1945230/35862588-e2406998-0b54-11e8-92e7-9f7ea5651446.png)
1. Create a module
2. Press add page
3. Search for image component - it will not be in list
4. Then add some predefined template with image, but there no possibility to edit it.
http://vladtest30b.admin.kademi-ci.co/websites/vlad30bweb/version1/programs/p1/c1/m1/#files-tab

[2018-02-06 14:25] mkhoudary commented on #4886
@bradmac
I'd like to know what's the difference between:
    <path-mapping newInstance="true">
      <pathPattern>/createPet</pathPattern>
      <defaultView class="pageHtmlTemplate">
        <pagePath>/create-pet.html</pagePath>
      </defaultView>
    </path-mapping>
And:
    <path-mapping newInstance="true">
      <pathPattern>/create-pet</pathPattern>
      <defaultView class="edit-form"/>

[2018-02-06 15:23] Uafinder commented on #4166
yup, it works like a charm!

[2018-02-06 15:23] #4166 closed

[2018-02-06 15:37] Uafinder opened #4903 "badge minor bug when adding left or right margin"
![image](https://user-images.githubusercontent.com/1945230/35867511-975fe364-0b62-11e8-8389-6bbdf53070b2.png)
You select 3 badges per line, but when you add side margins it becomes 2 per line.
http://vladtest30c.admin.kademi-ci.co/pages/vlad30cweb/version1/

[2018-02-06 20:39] gonzalon commented on #4824
@mkhoudary I talked with Brad and he say at the moment we are not doing the cards for the summary.

The rest it's ready to test!

[2018-02-06 20:42] bradmac commented on #4903
@Uafinder that is expected behaviour when using internal padding.

[2018-02-06 20:42] #4903 closed

[2018-02-06 20:44] Anton69arb commented on #4803
Its working now, could have been a lib update maybe

[2018-02-06 20:44] #4803 closed

[2018-02-06 20:46] bradmac commented on #4886
[code]
/createPet - this is a path which will resolve to the page, rendered by the /create-pet.html template
/create-pet - this is also a path which will resolve to a page, but this will be rendered by a default edit form page

Both of these resolve to new instances, which when submitted will create a new content item.

So this is 2 different ways of doing the same thing. Using a default edit form

[2018-02-06 20:59] bradmac commented on #4898
👍

Yep, we seem to have lost this functionality when moving from the original photo component.

[2018-02-06 21:23] gonzalon commented on #3790
![image](https://user-images.githubusercontent.com/2773216/35884876-e849dc74-0bf0-11e8-85d2-4e4708d64625.png)

[2018-02-06 21:43] bradmac commented on #4900
@mkhoudary you should not just always return an empty list. Its perfectly valid to return a null list in situations where there is no defined list, or its not possible to find a list.

On the client side it should not assume the list will not be null.

[2018-02-06 21:43] #4900 closed

[2018-02-06 21:52] bradmac commented on #4770
BinaryAsset now has a fileSize property (bytes)

[code]

BTW, there is a method on formatter that will be helpful

[code]

[2018-02-06 21:53] bradmac commented on #4715
Done

[2018-02-06 21:53] #4715 closed

[2018-02-06 22:03] bradmac commented on #4650
I can see a few probs

1. the NOT filtering doesnt seem to be working
![image](https://user-images.githubusercontent.com/826458/35886576-60314da8-0bf6-11e8-880b-356fbfa2ab34.png)

2. The search is extremely slow. Please check SQL performance (see utils page) and add indexes if needed

3. Need to show full cat path to identify cats with the same name
![image](https://user-images.githubusercontent.c

[2018-02-06 23:58] bradmac commented on #4701
Now correctly attaches all uploaded files.

Uploaded 2 files (note naming convention)
![image](https://user-images.githubusercontent.com/826458/35890904-7cf4bd7a-0c06-11e8-93fb-4f6a6d4e0aec.png)

![image](https://user-images.githubusercontent.com/826458/35890896-70e219a6-0c06-11e8-80a5-0009cf71069c.png)

Both files attached to product:
![image](https://user-images.githubusercontent.com/826458/3589

[2018-02-07 00:04] bradmac commented on #4771
On hold pending discussion with @mkhoudary

[2018-02-07 00:14] bradmac commented on #4858
Here's the complete slow SQL:
[code]

[2018-02-07 00:15] bradmac commented on #4858
Note that
- the ID is zero, so will never find anything
- its HUGE!!!

So will apply 2 optimisations
- do not lookup when ID = 0
- change to lazy loading to reduce the SQL size

[2018-02-07 01:02] paddyow opened #4904 "Keditor not loading on US or AU"
Has loading icon, but the page does not load.

http://kademi.admin.kademi.us/websites/demo-site/version1/programs/test/c1/m1/#files-tab
http://100things.admin.kademi.com.au/websites/100things-development/version1/programs/Test/test/test/#files-tab

[2018-02-07 02:17] ducdhm commented on #4902
Done!

[2018-02-07 02:43] gonzalon commented on #4650
1. Fixed
2. Should be way faster as we are only bringing the 20 parent categories
3. Now it shows the parent category
![image](https://user-images.githubusercontent.com/2773216/35895746-ac697c5a-0c1d-11e8-8a0a-dadfa70fb546.png)
4. Integrated

[2018-02-07 04:07] gonzalon commented on #4887
@Uafinder
 - coudln't reproduce the creation time issue
- the issue was that it was showing the wrong countdown, so when it showed it was finished it was wrong.

[2018-02-07 04:08] bradmac opened #4905 "Exception accepting event for a personal calendar"
[code]

[2018-02-07 04:09] #4905 closed

[2018-02-07 08:07] ducdhm commented on #4700
Fixed!

[2018-02-07 08:17] ducdhm commented on #4898
@Uafinder Can you double-check again? I have tested it and it's working normally.

[2018-02-07 09:03] Uafinder commented on #4898
https://drive.google.com/file/d/1S5R-j51VUocSqUPDQRDOz9xPq3PodQAE/view?usp=sharing

[2018-02-07 09:22] Uafinder commented on #3790
Yup, it works!

[2018-02-07 09:22] #3790 closed

[2018-02-07 09:26] mkhoudary commented on #4824
Checked.. Great work @gonzalon

[2018-02-07 09:26] #4824 closed

[2018-02-07 09:32] ducdhm commented on #4898
Fixed!

[2018-02-07 10:58] Uafinder commented on #4902
Still the same
![image](https://user-images.githubusercontent.com/1945230/35912770-35a7bba2-0c06-11e8-805c-e30a27cc20d6.png)
http://vladtest30e.admin.kademi-ci.co/websites/vlad30eweb/version1/programs/p1/c1/m1/#files-tab
Fresh account, libs updated, server restarted

[2018-02-07 11:03] Uafinder commented on #4898
Doh, nope it's not fixed.
You tried to raise Full width checkbox by default, but when you uploading next image it deselects this checkbox, and situation persists as well.
![image](https://user-images.githubusercontent.com/1945230/35913088-46749990-0c07-11e8-8418-b7d8375ce693.png)
http://vladtest30e.admin.kademi-ci.co/groupEmails/5170434/#messages-tab
Fresh account, libs updated, server restarted

[2018-02-07 11:13] Uafinder commented on #4700
Yup, it works!

[2018-02-07 11:13] #4700 closed

[2018-02-07 11:24] Uafinder commented on #4887
Nope, issue still there.
I've just create it, and it should longs for an hour
http://vladtest30e.admin.kademi-ci.co/auctions/aucqa01/#details-tab
So, read carefully:
1. Create an auction, select basic start time and finish time in a hour. just click on starrt date field and then just click on the end date field.
2. Going next, note current time (for example 1:20)
3. Then edit auction, set is as ac

[2018-02-07 11:50] Uafinder opened #4906 "UserAdminRole can see unnecessary tab kSurvey"
http://vladtest30e.admin.kademi-ci.co/manageUsers/
Still appears
![image](https://user-images.githubusercontent.com/1945230/35914959-d712cdd6-0c0d-11e8-97f1-19377ba43461.png)
Created from here
https://github.com/Kademi/kademi-dev/issues/3801

[2018-02-07 11:51] Uafinder commented on #3801
problem with ksurvey still appears, but closing this and move it to another issue with lower priority

[2018-02-07 11:51] #3801 closed

[2018-02-07 12:16] Uafinder opened #4907 "EDM editor in journeys not show images in preview"
![image](https://user-images.githubusercontent.com/1945230/35915888-47bd128c-0c11-11e8-8044-dfd6293cfa02.png)
![image](https://user-images.githubusercontent.com/1945230/35915898-52e87b7e-0c11-11e8-83a2-e15ce9ec5627.png)

http://vladtest30e.admin.kademi-ci.co/funnels/first-journey/version1/emailAction-d06c3f/#message-tab

1. edit email node
2. Push edit message
3. Add some content
4. Press save and

[2018-02-07 12:43] Uafinder commented on #4858
Yup, it works much faster now

[2018-02-07 12:43] #4858 closed

[2018-02-07 13:07] Uafinder commented on #4650
1. Works ok
2. Ok
3.
4. i'm not sure if it's correct
![image](https://user-images.githubusercontent.com/1945230/35917856-5781bb4e-0c18-11e8-9553-a2b8f188ed86.png)
When parent category contains child category with products and you select parent category, child category products not appear

[2018-02-07 14:45] Uafinder opened #4908 "Issue when selecting categories while adding products to a reward store"
When you select some category, simply nothing is happened
I've tried to reboot server and clear cache
Here is a video:
https://drive.google.com/file/d/1AcDHwBWpfFpaqQIxETZK-9iq7NhZmSR9/view?usp=sharing
http://vladtest30e.admin.kademi-ci.co/reward-store/vlad30eweb-store/?addProducts

[2018-02-07 14:59] Uafinder commented on #4701
yup, it works

[2018-02-07 14:59] #4701 closed

[2018-02-07 15:01] Uafinder opened #4909 "product images page works very very slow when a lot of products present"
![image](https://user-images.githubusercontent.com/1945230/35923266-6422da3a-0c28-11e8-9f77-72fb921ce334.png)
1. Loading takes to 30 secs
2. Every uploaded image cause renewal of this page, which also takes 30secs*x - products

http://vladtest30e.admin.kademi-ci.co/products/

[2018-02-07 15:41] Uafinder opened #4910 "Products in categories page is very slow when a lot of products exists"
1. Page loading approx. 50 seconds
2. When change filter from included to all it takes approx. 2 minutes
http://vladtest30e.admin.kademi-ci.co/categories/home

[2018-02-07 16:36] ducdhm commented on #4902
Fixed!

[2018-02-07 16:41] ducdhm commented on #4907
@bradmac Can you help me check this issue? I dont know why photoEDM component is not showed in funnel. I select website for email node and `content-lib` is enabled.

[2018-02-07 16:48] ducdhm commented on #4898
@Uafinder I tested on the link which you provided me in incognitor tab but it's still working normal in my side. You can check my video at https://www.youtube.com/watch?v=pBOw0I2rLF4&feature=youtu.be

Let's chat tomorrow if you still reproduce this issue.

[2018-02-07 17:22] ducdhm commented on #4901
Fixed!

[2018-02-07 17:27] ducdhm commented on #4897
Fixed!

[2018-02-07 17:47] ducdhm commented on #4881
Done!

[2018-02-07 20:35] gonzalon commented on #4887
@Uafinder sorry forgot to mention that the latest lib for auctions was 1.1.2

Just updated the lib and did the test in your account.

![image](https://user-images.githubusercontent.com/2773216/35940254-6fba7962-0cb3-11e8-831a-b985fdd987e0.png)

[2018-02-07 20:53] gonzalon commented on #4908
@Vlad i just test it in your account I can add products to the reward store whitout problems.
The video you linked is another one :P can you still reproduce it?

[2018-02-07 21:06] bradmac commented on #4908
hey @gonzalon the page load time for a query is very slow. I'm seeing 6000ms when selecting a category.

Can you look into that?

[2018-02-07 21:16] bradmac commented on #4898
@Uafinder fyi I checked and i was able to upload multiple photos and seems to work ok

![image](https://user-images.githubusercontent.com/826458/35941997-1d4a814e-0cb9-11e8-8b52-355ddc110660.png)

[2018-02-07 21:17] bradmac commented on #4907
@ducdhm i think its because we're displaying raw (non-rendered) content in the funnel EDM preview.

I've seen the same issue with the password reset component.

Thats something for me to deal with :)

[2018-02-07 21:37] bradmac commented on #4909
Problem is that we're iterating over each product looking for images. When there are lots of products, this takes a very long time

[code]

23000 queries..

![image](https://user-images.githubusercontent.com/826458/35942856-1500d850-0cbc-11e8-9f08-1fc13823f45a.png)
**

[2018-02-07 21:38] bradmac commented on #4909
@gonzalon please refactor to query directly for ProductImage, instead of iterating over products

[2018-02-07 21:42] bradmac commented on #4906
Moving to later milestone

[2018-02-07 21:54] bradmac commented on #4360
I've rechecked account - http://vlad-test41.admin.kademi-ci.co/websites/vlad41-rewstore/version1/#panel_apps-tab

And it has applied successfully.

I think when this happens its because there is an invalid dependency which needs to be corrected. If you see this again, please capture the logs when doing the update all

[2018-02-07 22:07] gonzalon opened #4911 "Registration form: phone number country code issue"
There is a user in waterco that cant register http://training.waterco.com/

![image](https://user-images.githubusercontent.com/2773216/35944071-226f8e24-0cc0-11e8-9490-979a32ef1fdf.png)

Tested with my NZ phone (+64.. ) didnt work either.

[2018-02-07 22:50] bradmac commented on #4896
Is being rejected because somehow the lead admin domain isnt matching the address.

I've added logging to find out why.

[2018-02-07 23:03] gonzalon commented on #4650
4. It's only going to be like that when there are more than 20 Categories so the search make sense to use it.
5. We only show the products for the category atm

[2018-02-08 00:02] tuzzmaniandevil opened #4912 "Points Importer- Unable to set reason code"
Should be able to use the Points tag column to set the reason code on a points debit. This is determined by the points column, If it's negative it's a points debit

[2018-02-08 00:26] bradmac opened #4913 "EDM editor issues"
Editor not opening here:
https://insured.admin.kademi.com.au/autoEmails/76842252/edmeditor?fileName=index.html&useHash=true

And..
https://insured.admin.kademi.com.au/funnels/policy-review/version1/emailAction-4202e0/#message-tab

And..
http://insured-crm_insured.kademi.com.au//theme/apps/user/contenteditor?fileName=dashboard.html

[2018-02-08 00:32] bradmac opened #4914 "Ability to add/edit events in user's calendar"
There is no ability to add/edit/delete events in a user's calendar.

http://insured-crm_insured.kademi.com.au/users/mark2/Calendars/default/
For example:
![image](https://user-images.githubusercontent.com/826458/35949033-6869ed8e-0cd4-11e8-82d9-35a03759bf02.png)

[2018-02-08 00:55] bradmac commented on #4914
closing as duplicate of https://github.com/Kademi/kademi-dev/issues/3751

[2018-02-08 00:55] #4914 closed

[2018-02-08 00:57] bradmac commented on #3751
This is needed urgently for ITI

[2018-02-08 01:45] bradmac commented on #904
I think we would handle this now using the new baseline feature in KPIs

[2018-02-08 01:45] #904 closed

[2018-02-08 01:50] bradmac opened #4915 "Leaderboard EDM components"
Please create new components for use with EDMs for
- displaying a points leaderboard. Allow selecting the number to show (and always show the current user)
- displaying a KPI leaderboard. Allow selecting the KPI, and also allow the editor to choose to either display for the current (in progress) period, or the most recently assessed period

[2018-02-08 02:56] gonzalon commented on #4910
Talked whit Brad about this we are going to remove this and add this feature to the products page.

[2018-02-08 02:56] #4910 closed

[2018-02-08 02:59] gonzalon opened #4916 "Products page filter by category, add products to category"
From https://github.com/Kademi/kademi-dev/issues/4910

Add a filter as the one in the reward store.
![image](https://user-images.githubusercontent.com/2773216/35953333-fa41dc76-0ce8-11e8-9219-f6e17f82e5b3.png)

Can select and add products to categories. (UI similar to add users to groups)

![image](https://user-images.githubusercontent.com/2773216/35953341-0587ddc4-0ce9-11e8-8cc4-8cb12744f45e.png)

[2018-02-08 03:09] bradmac commented on #4896
The email is being rejected because the lead is cancelled:

![image](https://user-images.githubusercontent.com/826458/35953617-57ddcae2-0cea-11e8-9aa0-cccf9c46b1cb.png)

If you would like to capture emails  re-open the lead:
http://kademi.admin.kademi.us/leads/18817986/#information-tab

[2018-02-08 03:50] paddyow opened #4917 "Menu items not loading in Keditor"
http://moblix.admin.kademi-ci.co/pages/moblixchannel/version1/

Open defaultThemeTemplate

![image](https://user-images.githubusercontent.com/2201340/35954718-5f797c5c-0cdf-11e8-9856-221c49b6a684.png)

[2018-02-08 03:56] bradmac commented on #4907
ok, done

![image](https://user-images.githubusercontent.com/826458/35954882-0ebf6102-0cf1-11e8-9c83-83c07f4c37b8.png)

[2018-02-08 04:03] tuzzmaniandevil opened #4918 "ClickSend App: Migrate to use the official ClickSend SDK"
https://mvnrepository.com/artifact/com.clicksend/ClickSend/3.1.1

[2018-02-08 05:08] ducdhm opened #4919 "Order menu is not working in Menu Builder"
Report from Patrick

[2018-02-08 06:31] ducdhm commented on #4913
Fixed! Make sure you clean your browser cache

[2018-02-08 07:07] bradmac commented on #4919
closing, duplicate of https://github.com/Kademi/kademi-dev/issues/4917

[2018-02-08 07:07] #4919 closed

[2018-02-08 07:29] Uafinder commented on #4360
http://vladtest30e.admin.kademi-ci.co/websites/vlad30eweb2/version1/#panel_apps-tab
try here to click Update All
It will remove update all button, but the libs versions will leave as old

[2018-02-08 08:26] Uafinder commented on #4898
Yeah, looks good for me too...
Will keep an eye on it

[2018-02-08 08:26] #4898 closed

[2018-02-08 08:36] Uafinder opened #4920 "Assets when uploading showing incorrect filename"
1. Open edit page
2. Add some image component
3. Upload image
4. Note that name will be weird
![image](https://user-images.githubusercontent.com/1945230/35962948-e10bf26e-0cbb-11e8-8ea4-c8bfc8cf07cf.png)
 http://vladtest31a.admin.kademi-ci.co/pages/vlad31aweb/version1/

[2018-02-08 08:51] Uafinder commented on #4881
Yup, it works!

[2018-02-08 08:51] #4881 closed

[2018-02-08 09:07] ducdhm commented on #4917
Done!

[2018-02-08 09:15] ducdhm commented on #4904
Done!

[2018-02-08 09:16] Uafinder commented on #4902
Ok, now it gives an error when adding some image
![image](https://user-images.githubusercontent.com/1945230/35964752-6301f5e8-0cc1-11e8-9167-30f821fb96d2.png)

1. Push add a page
2. Wait while keditor loads
3. Add component with image
4. Watch for error
http://vladtest31a.admin.kademi-ci.co/websites/vlad31aweb/version1/programs/c1/c1/m1/#files-tab

[2018-02-08 09:19] Uafinder commented on #4887
yup, looks better

[2018-02-08 09:19] #4887 closed

[2018-02-08 09:30] Uafinder commented on #4907
Looks bad:
1. When you open message tab of email node it shows some backend stuff
![image](https://user-images.githubusercontent.com/1945230/35965278-0d45fc10-0cc3-11e8-868e-e67aeb0817e9.png)

2. When you open editor, add some stuff, press save and push close button - editor is not closing. And error in console appears.
![image](https://user-images.githubusercontent.com/1945230/35965394-6a2092b0-0

[2018-02-08 09:33] ducdhm commented on #4902
@bradmac The problem is when creating new module page, the file name is blank. So the request to get components `/programs/p1/c1/m1/_components?fileName=` will return only module components. If I change fileName is "newFile", server will return all components include website and edm

[2018-02-08 09:35] Uafinder commented on #4897
ok, it fixed on the preview of uploader, but still remains on the page preview
![image](https://user-images.githubusercontent.com/1945230/35965611-20cb2408-0cc4-11e8-8e35-f7507592c3af.png)
http://vladtest31a.admin.kademi-ci.co/pages/vlad31aweb/version1/

[2018-02-08 09:37] Uafinder commented on #4901
Works like a charm!

[2018-02-08 09:37] #4901 closed

[2018-02-08 09:40] Uafinder commented on #4908
Ooops, guys...
My mistake about video
The original was
https://drive.google.com/open?id=1k99E-J-2AUY9kOv5fZPzESCpHMkr5o4F
Anyway, will retest

[2018-02-08 09:45] anhnt commented on #3751
Please go to calendar page and add or edit event
![image](https://user-images.githubusercontent.com/735555/35966106-74c20dda-0cef-11e8-8a68-d348badfff33.png)

[2018-02-08 11:06] Uafinder commented on #4909
Same results for me, fresh account and 7700 products.
~50 sec for page loading
~ 2-3 minutes to add three images
![image](https://user-images.githubusercontent.com/1945230/35969843-dfacf070-0cd0-11e8-840a-2830fb43b463.png)
http://vladtest31a.admin.kademi-ci.co/product-images/

[2018-02-08 11:17] Uafinder commented on #4908
But the problem persists...
Issue that when you accessing add products page and click on the some category - nothing is happened, filtering is not going.
![image](https://user-images.githubusercontent.com/1945230/35970233-48ef7c78-0cd2-11e8-9ce9-9d9799a71580.png)
![image](https://user-images.githubusercontent.com/1945230/35970243-4f1e388c-0cd2-11e8-95f5-bf9522693d32.png)
http://vladtest31a.admin.k

[2018-02-08 11:24] Uafinder commented on #4908
It's probably because of long page loading
![image](https://user-images.githubusercontent.com/1945230/35970528-501599f0-0cd3-11e8-88ec-5b6c8912598b.png)

[2018-02-08 11:31] Uafinder commented on #4650
![image](https://user-images.githubusercontent.com/1945230/35970759-35775a06-0cd4-11e8-8f3e-126aabfeee6a.png)
When you clear search field, it doesn't show full categories list
http://vladtest31a.admin.kademi-ci.co/reward-store/vlad31aweb-store/?addProducts

[2018-02-08 12:37] Uafinder commented on #4912
Yes, when value is negative - it works like debit, but it doesn't setup points tag
[Downloads.zip](https://github.com/Kademi/kademi-dev/files/1707006/Downloads.zip)
I've upload 150 users file
then upload points 2 file
the try to upload points 2 debits file
http://vladtest31a.admin.kademi-ci.co/points-buckets/points/

[2018-02-08 20:40] gonzalon commented on #4650
hey @ducdhm  can you take a look at it? Seems like if you only click / unclick works fine, but when after you search the content is replaced (manageAddProducts.js - initSelectPicker) with the result, so when you blank the search field doesn't show all the data.

I think we could save the original state?

[2018-02-08 22:11] tuzzmaniandevil commented on #4912
CI Wasn't running the latest code, Updated and works

[2018-02-08 22:20] gonzalon commented on #4908
Did some changes isnt going up of ~1.3 sec

![image](https://user-images.githubusercontent.com/2773216/36001421-1301b9d2-0d8b-11e8-8843-16bb844a6015.png)

[2018-02-09 01:06] gonzalon commented on #4694
@Uafinder locally coudln't reproduce any of this issues... can you confirm? if you can reproduce could you explain me how to do it? or link the account! Thanks!!

[2018-02-09 01:11] gonzalon commented on #4750
Can't reproduce:
http://mysolution.admin.kademi-ci.co/funnels/claims/version1/emailAction-19557d/#summary-tab

![image](https://user-images.githubusercontent.com/2773216/36006646-0dbc712a-0da3-11e8-819b-c92b4db82229.png)

[2018-02-09 02:26] gonzalon commented on #4909
After adding some indexes in the database its loading in ~35 ms

[2018-02-09 02:30] bradmac commented on #3751
@anhnt as discussed please make this use a simple html editor only, not keditor

[2018-02-09 02:32] bradmac commented on #4360
Logs..
[code]

[2018-02-09 02:34] Anton69arb opened #4921 "contact form not loading user"
Hey, When adding user details from the landing page, the user is not being uploaded to a group, if you go to manage contact requests, you will see the name there but it's not being added to users

http://version1.consumer-nurture-campaign_moblixdemo.kademi.us/
https://moblixdemo.admin.kademi.us/manageContacts/
![1](https://user-images.githubusercontent.com/32444328/36008930-9107440a-0dae-11e8-8aef

[2018-02-09 02:34] bradmac commented on #4360
Libs where successfully updated:
![image](https://user-images.githubusercontent.com/826458/36008954-aecbe216-0dae-11e8-8f6c-fdd93f4af007.png)
![image](https://user-images.githubusercontent.com/826458/36008975-c20e8b8a-0dae-11e8-8be9-311953bedb7b.png)

[2018-02-09 02:35] bradmac commented on #4360
@Uafinder sorry, I'm still unable to reproduce the issue

[2018-02-09 02:36] bradmac commented on #4907
Fixed

[2018-02-09 02:44] bradmac commented on #4907
Fixed

[2018-02-09 02:48] bradmac commented on #4913
Looks good!

[2018-02-09 02:48] #4913 closed

[2018-02-09 02:54] bradmac commented on #4920
@ducdhm the asset is being created capturing the correct file name and a UID is being assigned.

But it looks like you're adding an item to the asset list with the UID instead of the file name. The UID is needed internally, but users should just see the file name.

Eg this upload response
[code]

Displays this initially:
![image](https://user-images.githubusercontent.com/826458/36009541-6baa1f90-0

[2018-02-09 02:54] bradmac commented on #4920
Please update the script to display the user friendly file name and use the UID for internal identification

[2018-02-09 02:59] bradmac commented on #4902
Eg full editor url:
http://version1.assetw1-rootorg.loopbackdns.com:8080/programs/p1/c1/normalmod/contenteditor?fileName=&url=http://localhost:8080/websites/assetw1/version1/programs/p1/c1/normalmod/

[2018-02-09 03:01] bradmac commented on #4902
Eg snippets url:
http://version1.assetw1-rootorg.loopbackdns.com:8080/programs/p1/c1/normalmod/_components?fileName=newFile

[2018-02-09 03:04] bradmac commented on #4902
The filename should be null in this case, not "newFile"

[2018-02-09 03:05] gonzalon commented on #4751
It was working fine but not assigning the name / title to the data series should be working ok now !

[2018-02-09 03:40] gonzalon commented on #4832
at the end it can have this rates as the data its related to the selected period but can carry older data.

[2018-02-09 03:40] #4832 closed

[2018-02-09 03:42] bradmac commented on #4921
The problem here is that no profile is being created.

[2018-02-09 04:00] anhnt commented on #3751
Done

[2018-02-09 04:18] gonzalon commented on #4921
The app was off! Changed that, and configured the group.

[2018-02-09 04:22] bradmac commented on #4902
in this case its checking the type of the folder.

previously folder resources did not express themselves as "html" resources, so it rejected most components

I've added "html" to the type list for folder resources

[2018-02-09 04:25] bradmac commented on #4902
@ducdhm can you please remove the "newFile" thing

[2018-02-09 04:29] #4770 closed

[2018-02-09 04:33] bradmac commented on #4921
@gonzalon the issue here is that a contact request was created, but a profile wasnt

if the app was off then no contact request should have been created.

can you please re-check?

Also, if any changes are needed please just advise @Anton69arb what they are.

[2018-02-09 04:48] ducdhm commented on #4902
Fixed!

[2018-02-09 09:05] Uafinder commented on #4360
Please take a look on video, it could help
https://drive.google.com/file/d/1rGOZZR5XQ6ohJ-pOgu8FlgPleA6T3HA1/view?usp=sharing

[2018-02-09 09:30] Uafinder commented on #4907
Yup, it works!

[2018-02-09 09:30] #4907 closed

[2018-02-09 09:43] Uafinder commented on #4920
it works!

[2018-02-09 09:43] #4920 closed

[2018-02-09 10:27] Uafinder opened #4922 "Opening any product fails due to Unexpected identifier error"
![image](https://user-images.githubusercontent.com/1945230/36023259-7ff9cf4e-0d94-11e8-8abd-5e38392d9a60.png)
As a result no product functionality is not working: add variant type, add field, save, etc
http://vladtest31b.admin.kademi-ci.co/products/fitbit000/#variants-tab

[2018-02-09 10:29] Uafinder commented on #4909
Works much faster

[2018-02-09 10:29] #4909 closed

[2018-02-09 11:21] Uafinder opened #4923 "Create learning program cause some weird course and module appear"
![image](https://user-images.githubusercontent.com/1945230/36025520-0317af84-0d9c-11e8-8ee3-e5fc2e5c5078.png)
1. Create a program
2. Check for weird things
http://vladtest31c.admin.kademi-ci.co/websites/vlad31cweb1/version1/programs/pr1/

[2018-02-09 11:31] Uafinder commented on #4902
Yup, looks better

[2018-02-09 11:31] #4902 closed

[2018-02-09 13:02] Uafinder commented on #4751
Ok, good for now, will do some checkings in future

[2018-02-09 13:02] #4751 closed

[2018-02-09 13:16] Uafinder commented on #4908
Looks better

[2018-02-09 13:16] #4908 closed

[2018-02-09 13:29] Uafinder opened #4924 "Review points filter doesn't work"
http://vladtest31b.admin.kademi-ci.co/points-buckets/points/

1. Search works only when you click "enter".
![image](https://user-images.githubusercontent.com/1945230/36029927-e16e2464-0dad-11e8-953d-d364fc10fc16.png)

2. Selecting reward, tag or reason code from dropdown doesn't cause filtering.

[2018-02-09 13:30] Uafinder commented on #4912
Yup, it works!

[2018-02-09 13:30] #4912 closed

[2018-02-09 13:41] Uafinder commented on #4694
Couldn't reproduce both problems on fresh account
Will keep an eye on it

[2018-02-09 13:41] #4694 closed

[2018-02-09 13:50] Uafinder commented on #4750
Yup, it works... probably was changed something

[2018-02-09 13:58] Uafinder commented on #4804
Undefined, it because all statuses are not displaying correctly on this page
![image](https://user-images.githubusercontent.com/1945230/36030838-6500afba-0db1-11e8-8256-8528c4ad7c25.png)
For example here, undefined = retrying, in previous example undefined = failed
You could gain failed status by sending email to user adminqa@mailinator.com (have no idea why but it not sending email there)
Also yo

[2018-02-09 14:28] Uafinder commented on #3751
![image](https://user-images.githubusercontent.com/1945230/36031782-99cb1a7a-0db4-11e8-914c-8c062f593dfe.png)
this link should be removed

upload images to files into calendar tab fails
![image](https://user-images.githubusercontent.com/1945230/36032251-13c259be-0db6-11e8-9982-4139706cd88e.png)

pushing edit image fails whole page and browser
![image](https://user-images.githubusercontent.com/1945

[2018-02-09 23:43] bradmac commented on #3751
hey @anhnt regarding uploading, we should disable the file browsing option and only allow uploading via the assets tab. I believe @ducdhm has already done this on other pages so please talk to him.

[2018-02-10 06:17] paddyow opened #4925 "Cannot close EDM editor window"
http://100things.admin.kademi.com.au/funnels/onboarding/version1/emailAction-2f727d/#message-tab

Clicking the close button does nothing

![image](https://user-images.githubusercontent.com/2201340/36059142-31fc3f00-0e86-11e8-8763-b118d1a0fbf2.png)

[2018-02-10 06:23] paddyow opened #4926 "EDM images not rendering in email client"
http://100things.admin.kademi.com.au/funnels/onboarding/version1/emailAction-2f727d/#message-tab

Created the above email
Added some content and a header image
Fired off to to this profile http://100things.admin.kademi.com.au/manageUsers/100973010/#emailAppTab-tab

Image renders when you look at it in Kademi, but not in Mailinator or my personal email client Thunderbird.

![image](https://user-ima

[2018-02-10 07:48] paddyow opened #4927 "mylearning.html page components not working"
http://100things.admin.kademi.com.au/pages/100things/version1/

Open template myLearning

If no course is explicitly selected, all available modules for the selected course using the course selected should be shown.

![image](https://user-images.githubusercontent.com/2201340/36059948-d52c3a20-0e92-11e8-9b0a-c5e8dd19a603.png)

The course selector does not work.  No courses are shown in the drop dow

[2018-02-10 08:51] bradmac commented on #4926
the new photoEDM component is generating a link with the path only, it also needs the host name:
[code]

[2018-02-10 08:58] bradmac commented on #4925
I think this has already been fixed, but not deployed

[2018-02-10 21:33] paddyow commented on #4927
thanks @bradmac !

[2018-02-10 21:33] #4927 closed

[2018-02-10 21:34] paddyow commented on #4926
Note this is across all emails templates, journeys, triggers etc

[2018-02-10 23:44] paddyow opened #4928 "Modules being displayed incorrectly based on splitters"
This profile http://100things.admin.kademi.com.au/manageUsers/101041141/#learningAppTab-tab

Has completed course 1 only
http://100things.admin.kademi.com.au/websites/100things/version1/programs/program1/C1/

When you first go to the learning page it displays the first module of **around the first 4 course** in the program + completed modules at the bottom of the list. Note all modules can be comp

[2018-02-10 23:47] paddyow opened #4929 "Course picker displaying courses in wrong order"
This profile http://100things.admin.kademi.com.au/manageUsers/101041141/#summary-tab

![image](https://user-images.githubusercontent.com/2201340/36067785-de43bb34-0f18-11e8-9588-32dbaa9542cc.png)

[2018-02-10 23:53] paddyow opened #4930 "Publishing a blog should not show the calendar"
When a blog is published, the embargo date calendar picker shows by default, and a date gets inserted.

No date should be inserted and no calendar picker should appear unless the user clicks on the field.

![image](https://user-images.githubusercontent.com/2201340/36067807-b89b5b34-0f19-11e8-86fe-85f0dbb6043f.png)

[2018-02-11 00:00] paddyow opened #4931 "Profile template"
Points panel needs to appear in the profile template as a component so it can be removed or moved around.

![image](https://user-images.githubusercontent.com/2201340/36067843-a967acfc-0f1a-11e8-8501-cdb69e5a31e9.png)

[2018-02-11 02:35] bradmac commented on #4926
Fixed, but requires deploy and new content-lib

[2018-02-11 09:27] ducdhm commented on #4911
@bradmac As I checked in libphonenumber, It requires country phone code. As default,, I'll make it as AU. If user enters NZ phone number, it'll be false. Is it ok?

[2018-02-11 09:45] bradmac commented on #4911
I've tried it with valid country codes and that was rejected:

![image](https://user-images.githubusercontent.com/826458/36072017-0e12ca76-0f7d-11e8-9ba7-9eeeb13836d6.png)

And we cant make a default of AU because we have clients outside of australia.

So i think that if we cant make it work then we just disable phone number validation entirely.

If we can make it work then it would be nice to use

[2018-02-11 19:48] bradmac opened #4932 "KSurvey statistics, results not shown"
We should be seeing results here:
![image](https://user-images.githubusercontent.com/826458/36077574-6f1c0e78-0fd1-11e8-9cf4-17b9feccb093.png)

http://gilead.admin.kademi.us/ksurvey/survey-7c8f8bc6-575a-48c4-b431-f97f5c136a25/#statistic-tab

[2018-02-11 20:17] bradmac commented on #4360
OK, so in your video dependencies were updated correctly:
![image](https://user-images.githubusercontent.com/826458/36077918-5d1f34f8-0fd5-11e8-9f1a-cbf133c575a2.png)

However, when you open the edit form your browser is restoring the previous form state. This is a browser feature which causes problems sometimes.

If you just hard refresh your browser will show you the updated version in the edit

[2018-02-11 21:15] bradmac commented on #4923
Fixed

[2018-02-11 21:32] bradmac commented on #4841
Fixed

[2018-02-11 22:06] #417 closed

[2018-02-11 22:06] #404 closed

[2018-02-11 23:06] gonzalon commented on #4863
Just tried in the account  http://vladtest28.admin.kademi-ci.co/skus/ and seems to be working fine

[2018-02-11 23:39] bradmac commented on #4931
Currently we have a portlet in templates/apps/rewardstore/transactions.html

Please copy this into a component

[2018-02-11 23:53] bradmac commented on #4804
New UI:
![image](https://user-images.githubusercontent.com/826458/36080351-ad144368-0ff3-11e8-8fd5-0d9670918997.png)

[2018-02-12 00:27] bradmac commented on #4860
We should update these components so that they display data from the user associated with the current page when the page is a LeadPage

[2018-02-12 02:19] #4868 closed

[2018-02-12 02:22] ducdhm commented on #4911
Fixed in waterco!

[2018-02-12 02:31] gonzalon commented on #4792
1,2,3 Fixed
4. There was a problem in the display but you should see something like this:

![image](https://user-images.githubusercontent.com/2773216/36081961-c8735ba6-1009-11e8-89eb-b55d09ad7a6a.png)

[2018-02-12 02:47] gonzalon commented on #4866
Found a similar issue trying to update the source too.
Both should be ok, latest version is 1.8.0

[2018-02-12 03:00] gonzalon commented on #4860
I think its working as expected. I don't know the configuration you had at that moment but now:

The configure gropuup is "team-group"
![image](https://user-images.githubusercontent.com/2773216/36082370-ac95fb10-100d-11e8-8adc-cc646d4687bd.png)

What I see in /teams:
![image](https://user-images.githubusercontent.com/2773216/36082375-b4206b04-100d-11e8-94cd-65ea2a51eb94.png)

And from the manage u

[2018-02-12 03:54] bradmac commented on #4379
use KLeadMan 1.0.7

[2018-02-12 07:40] ducdhm commented on #4485
@bradmac All dependencies are up-to-date. It's backend issue. Please check it

[2018-02-12 08:05] ducdhm commented on #4922
Done!

[2018-02-12 08:09] ducdhm commented on #4744
Fixed!

[2018-02-12 08:12] ducdhm commented on #4812
Fixed in other issue!

[2018-02-12 08:17] ducdhm commented on #4925
Fixed!

[2018-02-12 08:35] ducdhm commented on #4831
Fixed in other issue

[2018-02-12 08:54] ducdhm commented on #4847
Done!

[2018-02-12 09:10] Uafinder commented on #4923
Yup, it works!

[2018-02-12 09:10] #4923 closed

[2018-02-12 09:13] Uafinder commented on #4360
Understood

[2018-02-12 09:22] Uafinder commented on #4925
Yup, it works in prod and ci both...

[2018-02-12 09:22] #4925 closed

[2018-02-12 09:38] Uafinder opened #4933 "EDM for journeys photo component image not showing"
![image](https://user-images.githubusercontent.com/1945230/36090372-d3e6f3ce-0fe8-11e8-90b7-f88836c890b4.png)
1. Create a journey
2. Add email node
3. Edit email
4. Open visual editor
5. Add some photo component
6. Upload image, click ok
7. Image will not be shown in editor and in preview.
http://vladtest32.admin.kademi-ci.co/funnels/first-journey/version1/email1/#message-tab

[2018-02-12 09:56] ducdhm commented on #4932
@mrdadah I fixed issue with total submissions in list survey page

[2018-02-12 09:59] Uafinder commented on #4866
It works

[2018-02-12 09:59] #4866 closed

[2018-02-12 10:00] Uafinder commented on #4860
Yeah, looks good!

[2018-02-12 10:00] #4860 closed

[2018-02-12 10:16] Uafinder commented on #4360
Well, not agree... I've done a hard refresh and even clear cache.
![image](https://user-images.githubusercontent.com/1945230/36091866-f3ff95a8-0fed-11e8-88c7-0ed28ac2833f.png)
http://vladtest32.admin.kademi-ci.co/websites/vlad31bweb7/version1/#panel_apps-tab

Even in other browser.

[2018-02-12 10:51] Uafinder commented on #4922
Yup, looks good

[2018-02-12 10:51] #4922 closed

[2018-02-12 10:55] Uafinder commented on #4863
Yup, it looks ok at the moment
I will keep an eye on it

[2018-02-12 10:55] #4863 closed

[2018-02-12 10:58] Uafinder commented on #4379
Yup, it works like a charm

[2018-02-12 10:58] #4379 closed

[2018-02-12 11:38] Uafinder commented on #4750
Spot it again here
http://vladtest32.admin.kademi-ci.co/funnels/journey2/version1/emailAction-5eeb45/#summary-tab
fresh account
I've tried to create lead by hands and via import. Both not working.

[2018-02-12 11:58] Uafinder commented on #4804
Yup, looks good now

[2018-02-12 11:58] #4804 closed

[2018-02-12 12:00] Uafinder commented on #4841
ok, looks good

[2018-02-12 12:00] #4841 closed

[2018-02-12 12:02] Uafinder opened #4934 "Filter by Opened emails doesn't work"
well, When email is opened it's get this status
but
when you try to find all opened emails using a filter it shows that no opened emails in list
![image](https://user-images.githubusercontent.com/1945230/36096038-38d68290-0ffd-11e8-9659-4494327e0a3e.png)
![image](https://user-images.githubusercontent.com/1945230/36096042-41bfd988-0ffd-11e8-917b-da622be53084.png)
http://vladtest32.admin.kademi-ci.c

[2018-02-12 12:13] Uafinder commented on #4831
Yup, looks good

[2018-02-12 12:13] #4831 closed

[2018-02-12 12:16] Uafinder commented on #4926
https://github.com/Kademi/kademi-dev/issues/4933
probably the result of the fix
![image](https://user-images.githubusercontent.com/1945230/36096508-5690eefe-0fff-11e8-84e9-c145cd69acb0.png)
In journeys and send emails as well

[2018-02-12 12:27] Uafinder commented on #4812
Yup, error not appears anymore

[2018-02-12 12:27] #4812 closed

[2018-02-12 12:38] Uafinder commented on #4924
It works at the moment. No idea why it was observed

[2018-02-12 12:38] #4924 closed

[2018-02-12 12:49] Uafinder opened #4935 "When upload images to auction details it should filter files by type"
![image](https://user-images.githubusercontent.com/1945230/36141254-bca1d732-10ac-11e8-8d25-f1687bdc9719.png)
![image](https://user-images.githubusercontent.com/1945230/36097459-bf7d12e0-1003-11e8-9f5d-16d6b84a5b06.png)
it should show only files with image file types.
http://vladtest32.admin.kademi-ci.co/auctions/aucqa01/#details-tab

Same thing with Module thumbnail images
![image](https://user-i

[2018-02-12 13:34] Uafinder commented on #4847
Yup, looks better

[2018-02-12 13:34] #4847 closed

[2018-02-12 13:37] Uafinder opened #4936 "Auctions list component doesn't show auctions on the frontend"
http://vladtest32a.admin.kademi-ci.co/pages/vlad32aweb/version1/
![image](https://user-images.githubusercontent.com/1945230/36099177-565dfebc-100a-11e8-913c-4199558a7641.png)
![image](https://user-images.githubusercontent.com/1945230/36099183-5d206640-100a-11e8-989f-80acd837f120.png)
I've added auctions list component, setup it a bit and wanna to check it on the frontend. It doesn't show auctions

[2018-02-12 14:33] Uafinder opened #4937 "kEditor bug when editing image"
1. Create page
2. Add some text component
3. Push image button there
4. Upload to asset or select some image from the asset
5. Push edit
6. Edit some
7. Push save
Image will not appear on the page
http://vladtest32.admin.kademi-ci.co/pages/vlad31bweb7/version1/
![image](https://user-images.githubusercontent.com/1945230/36101607-8204ba26-1012-11e8-80d8-4c55dbf6d7ed.png)
![image](https://user-images

[2018-02-12 14:40] Uafinder opened #4938 "Event attendance guest editing bug"
When you wanna to edit a guest it opens empty form, instead of fulfilled form with guest contact data
![image](https://user-images.githubusercontent.com/1945230/36101879-40677968-1013-11e8-9cbb-bbb9ce455aef.png)
![image](https://user-images.githubusercontent.com/1945230/36101883-4634f91a-1013-11e8-9b67-d16e0c5d2941.png)

Also would be great to edit modal window caption - change add guest to add/ed

[2018-02-12 14:58] ducdhm commented on #4932
@mkhoudary As I double-checked all functions like `Clear result by user` or `Clear all result` in my local, all are working normally. Please re-check again. If you get any issues, please give me step by step to reproduce.

[2018-02-12 15:00] Uafinder commented on #3751
Raised some non-critical problems.
Mostly looks good

[2018-02-12 15:00] #3751 closed

[2018-02-12 15:14] ducdhm commented on #4784
Done!

[2018-02-12 15:28] ducdhm commented on #4937
Depends on https://github.com/Kademi/kademi-dev/issues/4926

[2018-02-12 15:28] ducdhm commented on #4933
Depends on https://github.com/Kademi/kademi-dev/issues/4926

[2018-02-12 15:37] Uafinder commented on #4911
![image](https://user-images.githubusercontent.com/1945230/36104476-d729c502-101a-11e8-8b2d-3a9fe516427c.png)
Real number from my country
Also tried with number which Brad provided 64292009999
![image](https://user-images.githubusercontent.com/1945230/36104665-51e160c0-101b-11e8-8c13-1dd99acf9771.png)

[2018-02-12 15:42] Uafinder commented on #4744
Yup, looks fine now

[2018-02-12 15:43] #4744 closed

[2018-02-12 20:20] bradmac commented on #4933
Duplicate of https://github.com/Kademi/kademi-dev/issues/4926

[2018-02-12 20:20] #4933 closed

[2018-02-12 20:24] bradmac commented on #4360
OK, I've verified that issue is not just browser form caching.

But we'll look at this in next milestone.

[2018-02-12 20:55] bradmac commented on #4911
hey @ducdhm i think we should just completely disable phone validation. We dont have time to look into this, but we need regos to work.

[2018-02-12 21:07] bradmac commented on #4936
This component is currently only working on the /auctions page
[code]

[2018-02-12 21:07] bradmac commented on #4936
@ducdhm please change this to work on any page by looking up the auctions page

[2018-02-12 22:23] gonzalon commented on #4876
Done here: https://github.com/Kademi/kademi-dev/issues/4842

[2018-02-12 23:08] gonzalon commented on #4876
We need to deploy to AU / US

[2018-02-12 23:50] paddyow opened #4939 "Text editor toolbar not showing in text component, nor saving"
http://moblixdemo.admin.kademi.us/pages/consumer-journey/version1/
Open dashboard page. Cannot change the text styles in text component.
Seems to be the case across all US sites.

Also note after page save, the text component reverts back to Latin text, it does not save.

[2018-02-13 00:27] bradmac commented on #4926
OK, there's a few aspects to this..
- if there is no website selected for an email then resources (ie images) will be loaded from the admin URL. This generally will not be allowed
- if there is a website selected, then resources will be loaded from there. This will still fail unless there is some permission in place to do it..
- The system now provides an asset type by default called "public" whic

[2018-02-13 00:32] paddyow opened #4940 "Creating an auction on US has no description fields"
http://moblixdemo.admin.kademi.us/auctions/win-a-moblix-m500/#details-tab

![image](https://user-images.githubusercontent.com/2201340/36127443-89e2395e-10b1-11e8-9516-ca32e3d19c97.png)

[2018-02-13 01:52] paddyow opened #4941 "Missing image component in EDM component panel"
http://moblixdemo.admin.kademi.us/funnels/consumer/version1/emailAction-7bba44/#message-tab

[2018-02-13 01:55] bradmac commented on #4941
looks like a duplicate - https://github.com/Kademi/kademi-dev/issues/4926#issuecomment-364695217

[2018-02-13 01:55] #4941 closed

[2018-02-13 02:08] bradmac commented on #4934
This problem was because the index wasnt being updated when emails were opened. After reindexing they appear.

I've corrected the problem with index not being updated when emails are opened.

[2018-02-13 02:14] bradmac commented on #4750
@Uafinder you can see the reason in the logs..
[code]

Kademi will not ever send an email to a profile which is not linked to the sending account.

Please create a profile in the account with the email address you want to send to.

[2018-02-13 02:25] bradmac commented on #4485
Not a backend issue.

The problem here is that the reporting app is being enabled from the apps page which is not valid. Anyone who does that also needs to manually install dependencies.

The real problem here is that Reporting is not available in the marketplace, so we should create a KReportingApp

[2018-02-13 02:25] bradmac opened #4942 "create KReporting app"
from - https://github.com/Kademi/kademi-dev/issues/4485

[2018-02-13 02:26] #4485 closed

[2018-02-13 02:40] ducdhm commented on #4939
Fixed!

[2018-02-13 02:40] ducdhm commented on #4940
Fixed!

[2018-02-13 02:51] #4939 closed

[2018-02-13 02:53] #4940 closed

[2018-02-13 03:06] bradmac commented on #4915
Simple but should be ok for now

![image](https://user-images.githubusercontent.com/826458/36131669-c8daf72e-10d7-11e8-8629-762be306d79c.png)

[2018-02-13 04:19] ducdhm commented on #4937
Fixed!

[2018-02-13 04:33] ducdhm commented on #4911
Done!

[2018-02-13 05:04] ducdhm commented on #4732
Fixed!

[2018-02-13 06:20] ducdhm commented on #3725
As I checked, It's fixed!

[2018-02-13 06:27] paddyow opened #4943 "Promotion content editor not working"
http://moblixdemo.admin.kademi.us/rewards/pimp-your-moblix/#rewardContent-tab

When I try to add content, it does not save.

[2018-02-13 06:34] paddyow opened #4944 "Promotion component not working"
Promotion Tile Settings component does not show any properties when you configure it.

http://moblixdemo.admin.kademi.us/pages/consumer-journey/version1/

Open the page test.html

![image](https://user-images.githubusercontent.com/2201340/36136340-138fb7e4-10e4-11e8-967d-d3bfdca44d8f.png)

[2018-02-13 08:37] Uafinder commented on #3725
Yup, looks fine at the moment... I've checked on test user in zoetis acc
Will do a re-check in fresh acc

[2018-02-13 08:37] #3725 closed

[2018-02-13 08:48] Uafinder commented on #4937
looks good

[2018-02-13 08:48] #4937 closed

[2018-02-13 09:11] Uafinder opened #4945 "EDM editor image edition bug"
1. Create email
2. Add some text component
3. Push image button there
4. Upload to asset or select some image from the asset
5. Push edit
6. Edit some
7. Push save
8. Image will not appear on the page
http://vladtest33.admin.kademi-ci.co/groupEmails/5468594/edmeditor?fileName=index.html&useHash=true
http://vladtest33.admin.kademi-ci.co/asset-manager/
Image is successfully added to assets and publi

[2018-02-13 09:26] Uafinder commented on #4926
It looks ok

[2018-02-13 09:26] #4926 closed

[2018-02-13 09:40] Uafinder commented on #4911
Looks good

[2018-02-13 09:40] #4911 closed

[2018-02-13 09:40] Uafinder commented on #4945
https://drive.google.com/open?id=1uQYBfMy49MWK7_ORGLUSMbZDNqp2dfmt

[2018-02-13 09:45] Uafinder commented on #4784
Yup, looks good

[2018-02-13 09:45] #4784 closed

[2018-02-13 10:12] ducdhm commented on #4650
@bradmac I have this case which I can't resolve it. Example:
 * I select `Cate 1` and `Cate 2` in default list
 * I type `3` to search and select `Cate 3`
 * I refresh my browser, in query textbox, I can see `category:cate-1 category:cate-2 category:cate-3` but in categories selectbox, only `Cate 1` and `Cate 2` are selected.

-> Reason is `Cate 3` doesnt exist in default list

To resolve it, I th

[2018-02-13 10:51] Uafinder commented on #4750
ok, undestood

[2018-02-13 10:51] #4750 closed

[2018-02-13 11:34] Uafinder commented on #4934
Yup, it works!

[2018-02-13 11:34] #4934 closed

[2018-02-13 11:45] Uafinder commented on #4942
Finally!
Works like a charm!

[2018-02-13 11:45] #4942 closed

[2018-02-13 11:54] Uafinder commented on #4857
It works!

[2018-02-13 11:54] #4857 closed

[2018-02-13 12:32] Uafinder commented on #4732
Yup, looks good

[2018-02-13 12:32] #4732 closed

[2018-02-13 12:39] Uafinder commented on #4792
2,3 -ok
1 - when you are at 2018 year, it shows some years back successfully, but when you move to 2017 there is no possiblity to move from there to 2016 for example
![image](https://user-images.githubusercontent.com/1945230/36150192-8926f6d4-10cb-11e8-8b9a-4479a0d7a0b8.png)
![image](https://user-images.githubusercontent.com/1945230/36150197-8f0c779a-10cb-11e8-9381-3dbebf8bcddc.png)
http://vladtes

[2018-02-13 12:46] Uafinder opened #4946 "Link to history from contact details leads to incorrect users tab"
![image](https://user-images.githubusercontent.com/1945230/36150457-77e28fea-10cc-11e8-87a4-00d20d01f309.png)
![image](https://user-images.githubusercontent.com/1945230/36150471-8371797a-10cc-11e8-8903-07daa370f3af.png)
http://vladtest33.admin.kademi-ci.co/manageUsers/5480032/#webactivity-tab
it leads to some web activity tab, which are not exists...

[2018-02-13 12:56] Uafinder commented on #4921
in that case when app is not enabled for a website, page gives an error, otherwise it successfully get a user and create a profile for it
for those accounts apps could be enabled by hands not via MarketPlace

[2018-02-13 12:56] #4921 closed

[2018-02-13 14:42] Uafinder opened #4947 "Moving from the asset type change filter but not change a filter header"
![image](https://user-images.githubusercontent.com/1945230/36155334-c4d0db76-10dc-11e8-9d60-1dbc399b7e1c.png)
![image](https://user-images.githubusercontent.com/1945230/36155343-cc657342-10dc-11e8-88a8-d2b2f1831cdb.png)
Actually it's filter by a public type, but it's not visible on filter dropdown
http://vladtest33.admin.kademi-ci.co/asset-manager/?q=category%3Apublic

[2018-02-13 14:46] Uafinder opened #4948 "When one asset has more than one type assigned it appears multiple times in assets list"
![image](https://user-images.githubusercontent.com/1945230/36155568-5e2c0eb2-10dd-11e8-8299-aa132080f4c4.png)
http://vladtest33.admin.kademi-ci.co/asset-manager/
1. Add an asset
2. Assign it to some types
3. Back too assets list, it will appears in list multiple times

[2018-02-13 14:47] Uafinder opened #4949 "Possibility to delete asset type"
Would be great to have such function

[2018-02-13 14:51] Uafinder opened #4950 "Asset type details page bugs"
![image](https://user-images.githubusercontent.com/1945230/36155769-ec16e81e-10dd-11e8-9cbe-711c98e44664.png)
1. template link and fields link leads to error
![image](https://user-images.githubusercontent.com/1945230/36155807-06629876-10de-11e8-89d8-04aca09086ea.png)
2. checkboxes are not in place

http://vladtest33.admin.kademi-ci.co/content-types/ctype2/

[2018-02-13 15:16] Uafinder opened #4951 "License menu item should be highlighed and menu doesn't collapse"
![image](https://user-images.githubusercontent.com/1945230/36157043-8879ecc6-10e1-11e8-8a95-d104b57e7927.png)
http://vladtest33.admin.kademi-ci.co/license

[2018-02-13 15:25] Uafinder opened #4952 "Add products to reward store minor bugs"
![image](https://user-images.githubusercontent.com/1945230/36157563-b7ceb64a-10e2-11e8-98bb-6136dec9284b.png)
![image](https://user-images.githubusercontent.com/1945230/36157580-c0499a7e-10e2-11e8-9ca6-0f26add428f2.png)
Some buttons not aligned to the right, but they was some time ago. probably due to some recent fixes
http://vladtest33.admin.kademi-ci.co/reward-store/vlad33web-store/?addProducts

[2018-02-13 20:04] bradmac commented on #4792
@Uafinder I've corrected the config of your KPIs
- set start date to 1/1/2018
- set period to monthly (daily is not realistic)
- removed baseline series

[2018-02-13 20:09] bradmac commented on #4792
To do the **initial** processing of KPIs, you do that from the data series page:
![image](https://user-images.githubusercontent.com/826458/36171256-c63df112-1166-11e8-9cb3-03726b2a5239.png)

[2018-02-13 20:10] bradmac commented on #4792
KPI periods which have been processed can then be re-processed (if required) from the Review KPIs page.

[2018-02-13 20:23] bradmac commented on #4948
Fixed

[2018-02-13 20:30] bradmac commented on #4950
Checkboxes are not expected to align across different sections

[2018-02-13 20:34] bradmac commented on #4952
Fixed the first one, second seems to have already been fixed

[2018-02-13 22:06] paddyow opened #4953 "KCRM search box not working"
http://kcrm.kademi.us/dashboard

Searching for a lead returns no results.  The lead does exist.   Have re-indexed.

![image](https://user-images.githubusercontent.com/2201340/36176296-3ede91a4-1166-11e8-9a27-67ba726f40d8.png)

[2018-02-13 22:43] bradmac commented on #4953
related - https://github.com/Kademi/kademi-dev/issues/3505

[2018-02-13 22:44] bradmac commented on #4953
Note that @tuzzmaniandevil has implemented omnisearch for the menu search box, which this should be using.

We'll also need to do some work on the search page

[2018-02-14 01:23] bradmac opened #4954 "UpcomingEvents component needs to support personal calendar selection"
Please add an option to the upcomingEvents component settings to use the logged in user's personal calendar.

This is needed for KCRM where appointments are made in the user's personal calendar and we need that displayed on the dashboard.

[2018-02-14 04:31] paddyow opened #4955 "Choosing website on social goal breaks journey"
http://moblix.admin.kademi-ci.co/funnels/social-campaign/version1/#journeyBuilder-tab

If a social goal has a website selected, it fails.  Is this expected?

[2018-02-14 04:41] paddyow opened #4956 "Email result goal - convert node - not working"
You cannot drag the arrow from the top output "converted"

![image](https://user-images.githubusercontent.com/2201340/36188024-51cd2140-119d-11e8-845f-332a65f7de3f.png)

http://kademi.admin.kademi.us/funnels/test23/version1/#journeyBuilder-tab

[2018-02-14 07:40] Uafinder opened #4957 "New field checkbox visual bug"
![image](https://user-images.githubusercontent.com/1945230/36192616-fe4c6350-116a-11e8-8572-d49f2c531979.png)
Checkbox is really huge
http://vladtest33.admin.kademi-ci.co/content-types/ctype2/

[2018-02-14 09:05] Uafinder commented on #4952
yup, looks good at the moment

[2018-02-14 09:05] #4952 closed

[2018-02-14 09:46] Uafinder commented on #4792
ok, understood

[2018-02-14 09:46] #4792 closed

[2018-02-14 09:49] Uafinder commented on #4948
Same thing
![image](https://user-images.githubusercontent.com/1945230/36197651-0c4526ce-117d-11e8-9551-064bc5b4ceb5.png)
Fresh account
http://vladtest34.admin.kademi-ci.co/asset-manager/

[2018-02-14 10:02] Uafinder commented on #4773
ok, closing as discussed

[2018-02-14 10:02] #4773 closed

[2018-02-14 13:22] Uafinder opened #4958 "Number of users component icon selector is not working"
![image](https://user-images.githubusercontent.com/1945230/36206309-961538e0-119a-11e8-83f9-2301881515b5.png)
http://vladtest34a.admin.kademi-ci.co/pages/vladtest34aweb/version1/
Should be like on single value component
![image](https://user-images.githubusercontent.com/1945230/36206386-d9d83938-119a-11e8-9896-0d2ea32fa401.png)

[2018-02-14 13:27] Uafinder opened #4959 "Query table selector takes description instead of query table name"
![image](https://user-images.githubusercontent.com/1945230/36206557-74d27a66-119b-11e8-97e4-c8fc2f80b8b3.png)
http://vladtest34a.admin.kademi-ci.co/queries/
![image](https://user-images.githubusercontent.com/1945230/36206573-85ff7780-119b-11e8-8c40-7923c8aa2e74.png)

[2018-02-14 13:31] Uafinder opened #4960 "Adding query table component (pie component) queries list empty by default"
![image](https://user-images.githubusercontent.com/1945230/36206681-f6d08616-119b-11e8-936f-72f4fcecf8dd.png)
1. Create a page
2. Add query table component there
3. Try to edit it
4. No query tables in list

Change radio button between query table and query and back and it will show up
http://vladtest34a.admin.kademi-ci.co/pages/vladtest34aweb/version1/

Same for Pie component
![image](https://use

[2018-02-14 13:42] Uafinder opened #4961 "Selecting query for pie cause error in console"
![image](https://user-images.githubusercontent.com/1945230/36207150-8e71e9d2-119d-11e8-9535-61c39f29a4ee.png)
1. add pie component
2. select query
3. note the error

http://vladtest34a.admin.kademi-ci.co/pages/vladtest34aweb/version1/

[2018-02-14 13:45] Uafinder opened #4962 "Selecting aggregation for histogram query component cause error"
![image](https://user-images.githubusercontent.com/1945230/36207256-e416bc5a-119d-11e8-9896-ed219d6792eb.png)

1. Add date histogram settings
2. Select query
3. Select aggregation
4. note error
http://vladtest34a.admin.kademi-ci.co/pages/vladtest34aweb/version1/

[2018-02-14 13:53] Uafinder opened #4963 "Adding pie component query cause error on the page frontend"
![image](https://user-images.githubusercontent.com/1945230/36207579-13967686-119f-11e8-9c60-4daca1375ce2.png)
1. Add pie component
2. Save
3. View page on the frontend
4. Check error
http://vladtest34a.admin.kademi-ci.co/pages/vladtest34aweb/version1/

[2018-02-14 14:52] Uafinder opened #4964 "Upload image for sales claims should filter file types"
Should show only images, because all other files rejected (even PDF)
![image](https://user-images.githubusercontent.com/1945230/36210552-5ceb75e0-11a7-11e8-82fc-e8ba3317b612.png)
http://version1.vladtest34asales-vladtest34a.kademi-ci.co/page1.html

[2018-02-14 19:47] bradmac commented on #4955
i think there shouldnt be a website, because there is no related website when a social interaction happens.

[2018-02-14 19:48] bradmac commented on #4958
you can just enter manually for now, eg fa-users

[2018-02-14 19:53] bradmac commented on #4959
Done. Required reporting-lib 1.2.4

[2018-02-14 19:57] bradmac commented on #4964
hey @gonzalon can you take a look please?

[2018-02-14 20:01] bradmac commented on #4956
I think we should change this a bit.

Howabout we have 2 goals:
- Email Delivery Result (delivered, failed)
- Email Interaction (opened, converted)

[2018-02-14 20:01] bradmac commented on #4956
Note that we'll need to preserve backwards compatibility

[2018-02-14 20:29] bradmac opened #4965 "Social registration does not link social credentials to new profile"
This was seen happening when the social credentials have been used for another profile.

[2018-02-14 20:30] bradmac commented on #4965
Added validation to check that the credentials arent already used when registering a new profile.

[2018-02-14 20:58] bradmac commented on #4948
Oops, didnt deploy the updated asset lib

Fixed now

[2018-02-14 22:41] paddyow opened #4966 "Social APP"
Update - There is no way to get the date of a like ( this issue does not need resolving.)

**likes are getting show by the date the like was authored, no the date the like was made**

Update to show the date the like was made.

---Test 1-----

- This profile registered  http://moblix.admin.kademi-ci.co/manageUsers/5862487/#pointsBucketTab-tab
- Facebook account was linked
- Made 2 comments & 4 lik

[2018-02-14 22:59] paddyow commented on #4966
---Test 2-----

- I then deleted the profile for accounts@kademi.co in Kademi.
- I also deleted the Kademi APP from the Facebook users APP list
- I went through the signup process again and got the error: Social credentials exist for a different user. Please register

[2018-02-14 23:36] tuzzmaniandevil commented on #4966
Test 1
- Likes do import but as we can't get the date the user did the Like we use the Post date instead so the Like appears at the time the post was created, Not at the top of the list

[2018-02-15 00:44] #4966 closed

[2018-02-15 00:47] paddyow opened #4967 "Deleting a profile should remove the social connection as well"
- Scenario - customer registers with their social Facebook profile.  This creates a profile with a linked social account
- Kademi admin deletes the profile
- After delete, the profile still has the linked social account

**Fix: when a profile is deleted, the linked social account should be removed.**

Please also update the error message that appears when the user tries to register again:

You alr

[2018-02-15 01:01] gonzalon commented on #4964
Fixed in salesDataClaimer: 1.1.7

![image](https://user-images.githubusercontent.com/2773216/36236026-ba22a222-1258-11e8-95ef-9ceb2ce9aacc.png)

[2018-02-15 02:33] bradmac opened #4968 "Optimise image loading in ManageProductImagesFolder"
Please implement the child method so that it doesnt iterate over the entire product collection to locate a single item.

This will need to use the same resource name parsing logic as getChildren

[2018-02-15 04:31] bradmac opened #4969 "Improve product images management page"
- add back display of images, but with search and pagination or infiniite scrolling
- images should be grouped together with their product

[2018-02-15 04:31] bradmac commented on #4968
related - https://github.com/Kademi/kademi-dev/issues/4969

[2018-02-15 05:51] paddyow opened #4970 "Create Journey Folders and edits"
When a journey is created, change title of the modal to 'Create Journey'

![image](https://user-images.githubusercontent.com/2201340/36242450-2edbcb36-1270-11e8-8c2f-ff97a32dffff.png)

When a journey is created, the name given, should be meaningful i.e. 'Customer signup journey' but at the same time an ID created that does not change, so the name itself can.  The journey name should then be shown

[2018-02-15 09:33] Uafinder commented on #4964
YUp, works ok

[2018-02-15 09:33] #4964 closed

[2018-02-15 09:58] Uafinder commented on #4959
Yup, it works!

[2018-02-15 10:00] Uafinder commented on #4948
Yup, looking good

[2018-02-15 10:00] #4948 closed

[2018-02-15 19:36] bradmac opened #4971 "Add support for ordering by different properties in content queries"
Initially just need support for date.

Needed for  https://github.com/Kademi/client-sudler-phhub/issues/13

[2018-02-15 19:40] bradmac opened #4972 "Add applications object to MVEL template execution context"
We should attempt to consolidate context construction in WebUtils and TextTemplater so we guarantee they have the same objects available.

But also need to ensure backwards compatibility, so we cant change anything which is there now

Needed for - https://github.com/Kademi/client-sudler-phhub/issues/13

[2018-02-15 19:51] bradmac opened #4973 "Better way to get information from entities related to content assets"
From @mrdadah

[2018-02-15 21:36] bradmac commented on #4973
Done.

For example:
[code]

Produces this:
![image](https://user-images.githubusercontent.com/826458/36282190-4148e5fc-1305-11e8-975b-cde5e5676075.png)

[2018-02-15 21:37] #4973 closed

[2018-02-15 23:21] Anton69arb opened #4974 "Main menus are moving and not fitting when you make the widow screen smaller"
Hey team

The issue is that main menus are moving and not fitting when you make the window screen smaller, please can you add a burger bar for the menus only when it views in a small window screen/ tablet mode/ mobile mode,  please see the attached screenshots for explanations and extra details.

http://training.waterco.com/dashboard
https://waterco.admin.kademi.com.au/websites/waterco

![1](https

[2018-02-15 23:39] bradmac commented on #4971
Done.

Note that this currently only supports built-in fields createddate, modifieddate and name.

If we need to support custom fields we will just need to change the query evaluation to use elasticsearch.

![image](https://user-images.githubusercontent.com/826458/36286829-552fa78e-1316-11e8-810e-040e62b0b4ad.png)

[2018-02-15 23:39] #4971 closed

[2018-02-15 23:52] bradmac commented on #4972
Refactored MVEL methods from WebUtils to MvelTemplater

[2018-02-16 00:07] gonzalon commented on #4953
leadman-lib 1.8.2
search-lib 1.1.3

[2018-02-16 01:00] bradmac commented on #4972
Done.

[2018-02-16 01:00] #4972 closed

[2018-02-16 02:05] #4968 closed

[2018-02-16 04:45] paddyow opened #4975 "Unsubscribe workflow has a flaw"
- A profile is created in a Kademi account
- The profile unsubscribes
- At a later date a marketer uploads a list with the unsubscribed profile, creating the profile again

When a list is uploaded, the uploader needs to check if the profile has been unsubscribed, if it has do not create the profile again and return it as an error in the download file.

[2018-02-16 04:49] paddyow opened #4976 "Add to group button does not work on users page"
http://kademi.admin.kademi.us/manageUsers/

Both the button and the link in the drop down do not work

![image](https://user-images.githubusercontent.com/2201340/36293912-f689ab92-1330-11e8-9a24-c3a50b38834b.png)

[2018-02-16 08:38] Uafinder commented on #4855
Yup, looks fine

[2018-02-16 08:38] #4855 closed

[2018-02-16 09:20] Uafinder commented on #4953
Searching still does nothing
http://vladtest34c.admin.kademi-ci.co/websites/vladtest34cleads/version1/#panel_apps-tab

[2018-02-16 09:35] Uafinder opened #4977 "Keditor - changing dock type cause visual bug"
1. Create a page
2. Add a container
3. Change dock type to middle or bottom
4. Note that selecting and opening thing are left on the top
![image](https://user-images.githubusercontent.com/1945230/36301426-726fea4c-130d-11e8-9da5-1e9d759dc018.png)
http://vladtest34c.admin.kademi-ci.co/pages/vladtest34caucstore/version1/

[2018-02-16 10:27] Uafinder opened #4978 "defaultthemeTemplate - image from assets are no showing"
![image](https://user-images.githubusercontent.com/1945230/36303369-9f1b8680-1314-11e8-9f19-d257f20d2d98.png)
1. Open for edition defaultthemetemplate
2. Push change logo
3. Upload image to assets
4. Click ok
5. Image will not appear
http://vladtest34c.admin.kademi-ci.co/pages/vladtest34caucstore/version1/

[2018-02-16 13:10] Uafinder opened #4979 "Blog details minor visual issue"
![image](https://user-images.githubusercontent.com/1945230/36308948-5e016b80-132b-11e8-982c-5e9c8f19a267.png)
Dropdown arrow has incorrect direction for last category or tag
http://vladtest34c.admin.kademi-ci.co/blogs/skoda/

[2018-02-16 13:31] Uafinder opened #4980 "Weird bug with content editor for blogs"
1. create an article
2. edit it
3. go to edit content
4. add default content with image and text
5. click on image (for example accidentally)
6. editor closes, note panel (save|close) is not disappear, note two chat helps panels
![image](https://user-images.githubusercontent.com/1945230/36309667-42d5a5c6-132e-11e8-8017-14954c94f4b5.png)
7. go to edit content again
![image](https://user-images.gith

[2018-02-16 13:34] Uafinder opened #4981 "Blog content editor - text controls panel doesn't appear"
![image](https://user-images.githubusercontent.com/1945230/36309798-ae4ea71c-132e-11e8-8b64-fe0c1b40039e.png)
1. Create article
2. Edit it's content
3. Add some text component
4. Edit it, text controls will not appear
http://vladtest34c.admin.kademi-ci.co/blogs/skoda/skoda-octavia-from-russia/#bodyCopy-tab

[2018-02-16 13:52] Uafinder opened #4982 "Blog article submit for approval and approved image is not visible"
Image is present
![image](https://user-images.githubusercontent.com/1945230/36310574-3fd90f68-1331-11e8-8ae4-3c9378e7b620.png)
Click submit for approval - image dissappear
![image](https://user-images.githubusercontent.com/1945230/36310609-514d6122-1331-11e8-86f4-2df31b6f3121.png)
http://vladtest34c.admin.kademi-ci.co/blogs/skoda/skoda-octavia-from-russia/#bodyCopy-tab

[2018-02-16 14:11] Uafinder opened #4983 "Blog categories and tags no matter of article publish or not"
Please note that only 2 articles are published, but there three figured in categories and tags
![image](https://user-images.githubusercontent.com/1945230/36311282-7a6b51c0-1333-11e8-8b9c-1f27da4826e2.png)
http://vladtest34c.admin.kademi-ci.co/blogs/skoda/skoda-images/#activity-tab
http://vladtest34cweb_vladtest34c.kademi-ci.co/blogs/?cat=&tag=

[2018-02-16 14:16] Uafinder opened #4984 "Unpublish incorrect pop-up for blogs"
![image](https://user-images.githubusercontent.com/1945230/36311672-ad4016f2-1334-11e8-844a-f343aceeffab.png)
![image](https://user-images.githubusercontent.com/1945230/36311680-b3aa14ca-1334-11e8-89e7-6130c8e51887.png)
http://vladtest34c.admin.kademi-ci.co/blogs/skoda/skoda-images/#activity-tab

[2018-02-16 14:19] Uafinder opened #4985 "Multi-image purpose for blog article"
![image](https://user-images.githubusercontent.com/1945230/36311792-167fdf44-1335-11e8-9388-16a98f8fa67a.png)
http://vladtest34c.admin.kademi-ci.co/blogs/skoda/skoda-images/#images-tab
what is the purpose for multi-image uploading, when only the last image is using for article thumbnail?

[2018-02-16 22:04] bradmac commented on #4985
Thats because the images are then available for custom blgo article templates to use, even if our default ones dont currently use them

[2018-02-16 22:05] bradmac commented on #4984
"unpublish" and 'Reject' are effectively the same thing

[2018-02-16 22:05] #4984 closed

[2018-02-16 23:25] paddyow opened #4986 "Category not showing any products to add"
Have re-indexed

http://moblix.admin.kademi-ci.co/categories/visacards/?q=&l=&incl=true#products-tab

None showing
![image](https://user-images.githubusercontent.com/2201340/36333770-da80e93c-13cc-11e8-8945-b05253c642da.png)

[2018-02-16 23:53] paddyow opened #4987 "Claim APP updates"
When choosing a data series in the Claim APP, the option must only apply to the current website.

Currently it updates all claim APP settings on all websites which means you can only ever select one data series.

![image](https://user-images.githubusercontent.com/2201340/36334637-59bea150-13d0-11e8-8b5f-6f833af6aaef.png)

The 2x claim goals should have an option to select a website, so it only fir

[2018-02-17 00:14] paddyow opened #4988 "Group roles should be split by Admin vs. Front-end"
Would be easier to identify if roles were split out into two group.
- Admin roles
- Customer roles

![image](https://user-images.githubusercontent.com/2201340/36335388-ae64bac0-13d3-11e8-846e-eab81aa3fffb.png)

[2018-02-17 00:27] paddyow opened #4989 "eCommerce Store link"
http://moblix.admin.kademi-ci.co/pages/consumer-program/version1/

The eCommerce store link that is created and dropped into the menu when the eCommerce APP is switched on, will not show in the front-end.

Have tried to configure it show through the menu
Have created a public group with the eCom permission
The only work around is to create a new menu item with a link to the store page

![image](ht

[2018-02-17 01:04] paddyow opened #4990 "eCommerce workflow and issue"
- I am a Moblix customer
- I want to go to the Moblix homepage, add Moblix products to my cart and purchase them
- Either before I purchase, or when I purchase I can sign up to the Moblix loyalty program and earn points for purchases and other engagement activities
- When I am logged in, the website menu will update to show my points balance and I can redeem from a reward store.  The reward store

[2018-02-17 01:39] paddyow opened #4991 "KCRM customer search not working for email"
http://kcrm.kademi.us/custs/

Search for this profiles email first http://kademi.admin.kademi.us/manageUsers/16267668/#general-tab
It returns no result

Then try searching for the profiles first and last name, his profile appears.

[2018-02-17 01:47] paddyow opened #4992 "Segmenting leads"
I have this group http://kademi.admin.kademi.us/groups/loyalty-email-campaign-followup/members/

I need to download this group as a list with company names.  The only way to do this in the admin console is via the lead group which has the Company field, however this does not give me the segmented list.

If you look at this profile http://kademi.admin.kademi.us/manageUsers/16267668/#general-tab
The

[2018-02-18 05:04] bradmac commented on #4916
Improved category selection. Moved the initial list display to ajax which fixed state management in the jquery plugin.

[2018-02-18 05:36] bradmac commented on #4953
That's because of this error in the search
[code]

[2018-02-18 05:43] bradmac commented on #4953
Thats because indexes dont exist for website content:
http://vladtest34c.admin.kademi-ci.co/websites/vladtest34cleads/version1/manageSearch/
![image](https://user-images.githubusercontent.com/826458/36348749-9de04620-14db-11e8-9084-7f4ecfe57e0c.png)

[2018-02-18 05:55] bradmac commented on #4986
duplicate - https://github.com/Kademi/kademi-dev/issues/4916

[2018-02-18 05:55] #4986 closed

[2018-02-18 05:55] bradmac commented on #4986
Note that reindexing is not relevant to this screen since its a db search

[2018-02-18 06:06] bradmac commented on #4953
Thats because indexes dont exist for website content:
http://vladtest34c.admin.kademi-ci.co/websites/vladtest34cleads/version1/manageSearch/
![image](https://user-images.githubusercontent.com/826458/36348749-9de04620-14db-11e8-9084-7f4ecfe57e0c.png)

[2018-02-18 06:06] bradmac commented on #4953
Note there was a problem creating the website level indexes, fixed

[2018-02-18 06:18] bradmac commented on #4953
Should work now, but you should reindex at the website level to check content (eg from website pages and blogs)

[2018-02-18 06:21] bradmac commented on #4650
This has been done in another issue
https://github.com/Kademi/kademi-dev/issues/4916

[2018-02-18 06:21] #4650 closed

[2018-02-18 06:22] bradmac commented on #4767
@gonzalon please check this out

[2018-02-18 06:23] bradmac commented on #4876
hey @gonzalon please ping me when you're ready and i'll show you how to deploy

[2018-02-18 06:46] paddyow opened #4993 "Lead show wrong status"
This profile http://kademi.admin.kademi.us/manageUsers/16192731/#general-tab

Do a search for their contact in KCRM
http://kcrm.kademi.us/custs/

![image](https://user-images.githubusercontent.com/2201340/36349107-90950a44-14d3-11e8-80c6-d8689c223cf2.png)

Says 1 lead in progress

Go to the lead here http://kcrm.kademi.us/leads/16192738/

This lead is not active

![image](https://user-images.githu

[2018-02-18 08:44] AlaaKhalaf94 opened #4994 "Can't remove domain name"
Here : http://minda.admin.kademi.com.au/websites/minda/olhubmigration/#panel_details-tab
I try to remove the domain name and save , this shows me an error

![untitled01](https://user-images.githubusercontent.com/26510030/36350033-b9bc4602-1498-11e8-91b7-a1afae6876cc.png)

[2018-02-18 19:08] bradmac commented on #4976
Works initially, but not after searching

[2018-02-18 19:18] bradmac commented on #4991
Confirmed

[2018-02-18 19:28] bradmac opened #4995 "De-dup orgs tool"
- ability to search for and see duplicate orgs, grouped into sets of duplicated items
- ability to select which sets to merge

[2018-02-18 20:54] Anton69arb opened #4996 "remove button when there is no domain name"
Hey :)

Could we remove this button as it does not make sense to have it when there is no domain name for the website,  must only view when there is a domain name, as kademi has an SSL that can be used for an account that has no domain name.

![1](https://user-images.githubusercontent.com/32444328/36356719-94587f1c-155a-11e8-8f77-8ea1ec822db7.png)
![2](https://user-images.githubusercontent.com/324

[2018-02-18 21:25] bradmac commented on #4991
Fixed. Needs search-lib 1.1.4

[2018-02-18 21:29] bradmac commented on #4976
Fixed.

[2018-02-18 21:33] bradmac commented on #4978
hey @ducdhm this appears to be building a hashes url for the image, eg:

/_hashes/files/3cffebd1-772f-4806-b01a-67a7d8fd8d67

But we cannot use _hashes with assets, you must create a url to the asset, eg

/assets/3cffebd1-772f-4806-b01a-67a7d8fd8d67

[2018-02-18 22:20] gonzalon commented on #4350
Added the session clear its took around ~2min in CI for that file in a new account.

[2018-02-18 22:35] gonzalon commented on #4876
Published

[2018-02-18 22:35] #4876 closed

[2018-02-18 23:44] gonzalon opened #4997 "CKeditor can't edit Input fields in modal"
Soraya can't add a modal because you can't edit the title field, you can't edit the last input either.

 https://airnz.admin.kademi.com.au/products/mount-gay-rum-1703-br-small-nz-delivery/#panel-content-tab

![image](https://user-images.githubusercontent.com/2773216/36358376-66559222-1572-11e8-9c87-bc69bd994c8f.png)

[2018-02-19 00:31] gonzalon commented on #4767
Fixed in salesDataClaimer: 1.1.8

[2018-02-19 00:40] bradmac commented on #4965
i think this is cool now

[2018-02-19 00:40] #4965 closed

[2018-02-19 00:41] bradmac commented on #4955
Please just remove the website setting

[2018-02-19 01:59] bradmac commented on #4995
Orgs on the right get merged into the org on the left

![image](https://user-images.githubusercontent.com/826458/36360047-77ee6640-1585-11e8-9a66-ac779afbf6e6.png)

[2018-02-19 02:01] bradmac commented on #4995
hey @Uafinder and @mkhoudary this is the new feature we need to sort out CCA.

Please check you're happy with it in CI first, then use it carefully in production. I suggest just merge one duplicate set first, check the results, then do a few more. Then do all of them once your confident its working correctly.

[2018-02-19 03:12] bradmac opened #4998 "Export to CSV on LeadManagement leads page"

[2018-02-19 04:05] paddyow opened #4999 "Update time field in journey timer goal"
http://kademi.admin.kademi.us/funnels/sales-incentive-companies/version1/#journeyBuilder-tab

Should allow the user to enter the time as hh:mm , eg "15:30"

[2018-02-19 04:11] bradmac opened #5000 "Add organisation title to export users CSV"

[2018-02-19 04:11] bradmac commented on #4992
As discussed, simply download from the members CSV page

But it depends on this - https://github.com/Kademi/kademi-dev/issues/5000

[2018-02-19 04:11] #4992 closed

[2018-02-19 07:57] Uafinder commented on #4985
understood

[2018-02-19 07:57] #4985 closed

[2018-02-19 08:03] Uafinder commented on #4976
It works after search

[2018-02-19 08:03] #4976 closed

[2018-02-19 08:06] Uafinder opened #5001 "User add to group function does not update mebership after adding"
1. Search some users
2. Select some of them by checkbox
3. Add to some group
4. Note that labels of user memberships are not changed. It could be weird to user
![image](https://user-images.githubusercontent.com/1945230/36367673-76289af2-155c-11e8-989e-107f23626a68.png)
![image](https://user-images.githubusercontent.com/1945230/36367678-7fc30cdc-155c-11e8-93d0-c647b3597541.png)
http://vladtest35.ad

[2018-02-19 08:10] Uafinder opened #5002 "User page, when using search minor bug with paginator"
1. For example you have more than 100 users
2. You search some of them
3. For example - result is 1 or 2 users
4. Note that paginator still appears.

Not sure if it's correct
![image](https://user-images.githubusercontent.com/1945230/36367816-100b0b14-155d-11e8-9458-974ba6b9a48f.png)
http://vladtest35.admin.kademi-ci.co/manageUsers

[2018-02-19 08:40] Uafinder commented on #4767
it works!

[2018-02-19 08:40] #4767 closed

[2018-02-19 09:07] Uafinder commented on #4953
Yup, it works!

[2018-02-19 09:07] #4953 closed

[2018-02-19 10:12] Uafinder opened #5003 "De-dup orgs tool non-critical bugs"
1. Should be sorting by title:
![image](https://user-images.githubusercontent.com/1945230/36370893-0b3cef9c-1569-11e8-91f9-47309125525c.png)

2. success pop-up should be tuned a bit
![image](https://user-images.githubusercontent.com/1945230/36371090-c727aada-1569-11e8-984e-bbcd6f3000e0.png)

3. when merging is done, organisation(s) which was just merged should be removed from the list
![image](htt

[2018-02-19 10:15] bradmac commented on #5003
This is the only one that matters, the rest can be ignored

[2018-02-19 10:18] bradmac commented on #5003
I just checked with org0100 in your test account. Both orgs had no members, but they merged successfully, and the duplicate was removed.

[2018-02-19 10:53] Uafinder commented on #5003
weird thing...
I checked multiple times... let me reproduce it and I feedback

[2018-02-19 10:59] Uafinder commented on #5003
![image](https://user-images.githubusercontent.com/1945230/36374618-a32ea79a-1574-11e8-83d0-19b86b03e1cb.png)
![image](https://user-images.githubusercontent.com/1945230/36374630-aaacdb18-1574-11e8-856b-181a3d911ccf.png)
After refresh
![image](https://user-images.githubusercontent.com/1945230/36374644-b5a5ee74-1574-11e8-948b-23c7e9b0fb8c.png)

[2018-02-19 11:08] Uafinder commented on #4995
5. It will not merge orgs when there are no users in it.
Simply nothing is happened after merging.
![image](https://user-images.githubusercontent.com/1945230/36374618-a32ea79a-1574-11e8-83d0-19b86b03e1cb.png)
![image](https://user-images.githubusercontent.com/1945230/36374630-aaacdb18-1574-11e8-856b-181a3d911ccf.png)
After refresh
![image](https://user-images.githubusercontent.com/1945230/36374644

[2018-02-19 11:13] Uafinder commented on #4991
Still doesn't work
![image](https://user-images.githubusercontent.com/1945230/36375111-a7cde304-1576-11e8-9fd1-b198b043fe13.png)
![image](https://user-images.githubusercontent.com/1945230/36375115-af22f5fe-1576-11e8-8fc7-ec5901914b1a.png)
http://version1.vladtest35leads-vladtest35.kademi-ci.co/custs
http://vladtest35.admin.kademi-ci.co/websites/

[2018-02-19 11:16] Uafinder commented on #4996
Yup, looks good

[2018-02-19 11:16] #4996 closed

[2018-02-19 11:25] Uafinder commented on #5000
Ok, it works

[2018-02-19 11:25] #5000 closed

[2018-02-19 11:55] Uafinder commented on #4916
looks good

[2018-02-19 11:55] #4916 closed

[2018-02-19 12:54] AlaaKhalaf94 commented on #4994
passed

[2018-02-19 12:54] #4994 closed

[2018-02-19 13:39] Uafinder opened #5004 "eCommerce doesn't allow to use child categories"
![image](https://user-images.githubusercontent.com/1945230/36380412-d9ad4a40-158a-11e8-9767-0fb737773757.png)
http://vladtest35estore_vladtest35.kademi-ci.co/vladtest35estore-ecomstore/elec/
![image](https://user-images.githubusercontent.com/1945230/36380436-eec4bd8c-158a-11e8-8824-f1bb58d329de.png)
there are some products in a child category for electronics, but no possibility to choose a child c

[2018-02-19 14:48] Uafinder opened #5005 "Create task journey node duplicating"
![image](https://user-images.githubusercontent.com/1945230/36383382-a5a13cb6-1594-11e8-80fb-cf9a4bae3b17.png)
there are two different nodes for task creation in journey builder
is it by design?

[2018-02-19 19:47] bradmac commented on #5005
Yes, its intentional

"Create Task" - is an action which creates a task and assigned and the journey immediately continues. The journey does not wait for the task to be completed. This can be followed by the "Task Complete" goal.
"Task" - is both an action and a goal. It creates and assigns the task, and it also waits for the task to be completed. So this is simpler to use, but less flexible.

[2018-02-19 19:49] bradmac commented on #5004
Will look at ecom in next milestone

[2018-02-19 19:54] bradmac commented on #4991
OK, problem now is slightly different. In this account there are no leads, only contacts. But looks like contacts arent being searched...

[2018-02-19 20:54] bradmac commented on #4991
Fixed. The profile app indexer wasnt being used in front end sites

[2018-02-19 21:45] bradmac commented on #4995
OK, so the problem was that it was actually identifying the wrong orgs to merge. Ie instead of merging the 1st it was merging the 11th

[2018-02-19 21:46] bradmac commented on #4995
Fixed.

[2018-02-19 22:46] bradmac commented on #5003
Done

Improved

Now reloads after merge

The problem wasnt related to number of memberships, but is resolved.

[2018-02-19 23:45] bradmac commented on #4956
Done. Here's an example journey showing both email goals

![image](https://user-images.githubusercontent.com/826458/36401368-f0d4f09a-163b-11e8-99bd-9eafefc4f691.png)

[2018-02-20 00:05] bradmac commented on #4987
Fixed

[2018-02-20 00:07] bradmac commented on #4987
I dont think we should need this. You should probably have seperate data series if you're using them on a different websites

[2018-02-20 02:57] bradmac commented on #3505
Done

![image](https://user-images.githubusercontent.com/826458/36405665-b573a8dc-1656-11e8-9db4-764252a9a10f.png)

[2018-02-20 07:20] paddyow opened #5006 "Add new user button does not work"
On this account http://phhub.admin.kademi.com.au/manageUsers/

![image](https://user-images.githubusercontent.com/2201340/36411642-a3daef86-166a-11e8-92fd-23a430f99720.png)

[2018-02-20 07:20] #5006 closed

[2018-02-20 09:38] Uafinder opened #5007 "de-dup orgs tool - merge destination by numeric id is bad"
![image](https://user-images.githubusercontent.com/1945230/36416722-913208a2-1632-11e8-9a97-d4553ba75a56.png)
http://vladtest35a.admin.kademi-ci.co/organisations/dedupe?destMode=numericId

[2018-02-20 09:43] Uafinder opened #5008 "de-dup orgs tool - pop-up incorrect"
![image](https://user-images.githubusercontent.com/1945230/36416905-1c17c89e-1633-11e8-927c-f79dc5552623.png)
1. Select one org
2. Push merge selected
3. It will say that all list was processed
http://vladtest35a.admin.kademi-ci.co/organisations/dedupe?destMode=oldest

[2018-02-20 11:05] Uafinder opened #5009 "EDM editor - blogs component image doesn't fall into container size"
Reported by Lyle
http://hydra.admin.kademi.com.au/groupEmails/103783275/#messages-tab
Reproduced in CI
http://vladtest35a.admin.kademi-ci.co/groupEmails/

1. Create an article
2. Add 66/33 container
3. Add text to the left
4. Add blogs component, setup it.
5. Watch how it looks on the preview (ediror)
6. Send test
![image](https://user-images.githubusercontent.com/1945230/36420705-8d791f0a-163e-11

[2018-02-20 12:20] Uafinder opened #5010 "EDM editor: layout break when add some wide component"
1. Create email
2. Add some 66/33 container
3. Add some text to the left
4. Add points earned component to the right
5. Note that all right container moved to the bottom
It's completely not acceptable to be user friendly and visual. Should never happened with any component.
http://vladtest35a.admin.kademi-ci.co/groupEmails/6367639/#sendInfo-tab
Spotted in Gilpin, reproduced in CI
![image](https://

[2018-02-20 12:25] Uafinder opened #5011 "EDM editor: points earned component issue"
![image](https://user-images.githubusercontent.com/1945230/36423737-b8adb504-1649-11e8-9fc4-7e37d5bc79e5.png)

Component value should never looks like variable
http://hydra.admin.kademi.com.au/groupEmails/103783275/edmeditor?fileName=index.html&useHash=true
Spotted in Gilpin

[2018-02-20 12:32] Uafinder opened #5012 "EDM editor: components looks bad"
As discussed with Brad should be improved the initial view for the component (when it's not configured)
![image](https://user-images.githubusercontent.com/1945230/36424049-be756be8-164a-11e8-85d7-d474420a4ea3.png)
http://vladtest35a.admin.kademi-ci.co/groupEmails/6367639/#sendInfo-tab

brad 10:34 AM
Also, the blog list component looks HORRIBLE when its not configured. can you also log an issue for

[2018-02-20 12:39] Uafinder opened #5013 "EDM editor: thumbs for product components bad"
![image](https://user-images.githubusercontent.com/1945230/36424333-9ab0c31e-164b-11e8-97b3-c7d18bceed16.png)
![image](https://user-images.githubusercontent.com/1945230/36424342-a1308f12-164b-11e8-9fcd-423a2e164436.png)
![image](https://user-images.githubusercontent.com/1945230/36424349-a73fe15a-164b-11e8-80f3-e24d0e0ee233.png)
http://vladtest35a.admin.kademi-ci.co/groupEmails/6367639/#messages-ta

[2018-02-20 13:26] Uafinder commented on #5003
error while merging orgs with both memberships still appears
![image](https://user-images.githubusercontent.com/1945230/36426337-67b65f6c-1652-11e8-8ad5-fae4faf398a6.png)
http://vladtest35a.admin.kademi-ci.co/organisations/dedupe
http://vladtest35a.admin.kademi-ci.co/manageUsers/6370057/#summary-tab

[2018-02-20 13:29] Uafinder commented on #4995
looks good at the moment

[2018-02-20 13:29] #4995 closed

[2018-02-20 13:31] Uafinder commented on #5005
Understood... thanks

[2018-02-20 13:31] #5005 closed

[2018-02-20 14:10] Uafinder commented on #4991
Still doesn't work for me
Fresh account
![image](https://user-images.githubusercontent.com/1945230/36428392-73125bf8-1658-11e8-994d-2dcfea5acd60.png)
![image](https://user-images.githubusercontent.com/1945230/36428420-82351f6c-1658-11e8-86f5-e612889636f4.png)
![image](https://user-images.githubusercontent.com/1945230/36428400-783d9c1e-1658-11e8-8f45-564e9694285f.png)
http://vladtest35atest1_vladte

[2018-02-20 14:55] Uafinder opened #5014 "EDM editor: Purchased products list component show photos cause layout broken"
![image](https://user-images.githubusercontent.com/1945230/36430826-bb7ed258-165e-11e8-9e48-a1c05d527d53.png)
![image](https://user-images.githubusercontent.com/1945230/36430837-c32bd53c-165e-11e8-9c25-056945fac135.png)
When you check this checkbox, component moves to the left no matter of component placing in the layout.
http://vladtest35a.admin.kademi-ci.co/groupEmails/6377316/#messages-tab

[2018-02-20 15:01] Uafinder opened #5015 "EDM Editor: single product component button should has some color by default"
![image](https://user-images.githubusercontent.com/1945230/36431154-888b9d3a-165f-11e8-8f2f-1255ffb61583.png)
By default button is white and layout is white, so user not image that there is a button at all
![image](https://user-images.githubusercontent.com/1945230/36431210-a62310b2-165f-11e8-8577-39a9f8ab6d49.png)
http://vladtest35a.admin.kademi-ci.co/groupEmails/6377316/#messages-tab

[2018-02-20 19:57] bradmac commented on #5010
I think this is kind of correct behaviour

If you look at the screenshot above you can see that the green component is physically too large to fit into the right.

What i've done is just change that default text from [select] to [?] so its more likely to fit.

However, the same layout problem will occur if a user's points value is too long for the right hand column

[2018-02-20 20:09] bradmac commented on #5015
:+1:

[2018-02-20 20:10] bradmac commented on #5012
Yep, please make sure components have the same structure (ie the height, surrounding div layout) as they will have when correctly configured.

Otherwise users cant actually do visual editing

[2018-02-20 20:12] bradmac commented on #5014
@Uafinder i think this is because with the photo that table just physically cannot fit in a narrower column

So please check with the component used in a full width container.

[2018-02-20 21:45] bradmac commented on #5003
Had an incorrect query term for the email field. Should be fixed now

[2018-02-20 21:46] bradmac commented on #4991
Had an incorrect query term for the email field. Fixed now

[2018-02-20 21:56] bradmac commented on #5003
Fixed

[2018-02-20 21:59] bradmac commented on #5011
@ducdhm can you ensure that
- when viewed in the editor, always display sample points value, eg 999
- when rendered for real (ie not in editor) display "N/A" if we cant get points for the user
- ensure the component layout html is not duplicated for editor and non-editor usage

[2018-02-21 02:18] lyledevill opened #5016 "New Points Debit Component"
Showing all debits, including expiries, any transfers, etc.

The component should have options
- points bucket
- show all transactions, or only credits or only debits

It should display
- the debit amount
- date
- reason

[2018-02-21 03:09] bradmac opened #5017 "KSurvey enhancements"
- show the list of individual submissions on a new tab
- each submission should link to a new page which shows their answers
- show survey submissions on the user's timeline, with links to the submission detail page

[2018-02-21 03:12] ducdhm commented on #4943
Added new component to displaying competition content: `competitionBody`

[2018-02-21 03:13] ducdhm commented on #4944
Added message when no active promotion found

[2018-02-21 03:14] ducdhm commented on #4944
@Uafinder This component is working normally. Just because of no active promotion found, so the settings looks like uncompleted.

[2018-02-21 03:50] ducdhm commented on #4935
Done!

[2018-02-21 04:44] anhnt opened #5018 "error when running integration job"
Lyle uploaded file to integration job but seemed not work

http://frucor.admin.kademi.com.au/integration/#endpoints-tab

Error in log:

[code]

[2018-02-21 05:20] ducdhm commented on #4929
Fixed!

[2018-02-21 05:23] ducdhm commented on #4856
Fixed!

[2018-02-21 06:42] ducdhm commented on #4798
@Uafinder Can you double-check again? I checked in CI and it works normally

[2018-02-21 09:47] ducdhm commented on #4848
@Uafinder Fixed in other issue.

Note: In other issue, we decided to show this component only in Auction detailed page.

[2018-02-21 09:48] ducdhm commented on #4843
We removed this component.

[2018-02-21 09:48] #4843 closed

[2018-02-21 09:50] ducdhm commented on #4936
Fixed!

[2018-02-21 10:33] mkhoudary commented on #5018
Done and tested with the file from Lyle

[2018-02-21 10:34] #5018 closed

[2018-02-21 11:23] Uafinder commented on #4798
Yup, it works at the moment

[2018-02-21 11:23] #4798 closed

[2018-02-21 11:40] Uafinder opened #5019 "Leadman: some console errors while working with dashboard (looks Maps components)"
![image](https://user-images.githubusercontent.com/1945230/36478155-6a7247a6-170c-11e8-9331-6bf9287f11d1.png)
1. Create a site
2. Install a leadman
3. Install a leadman theme
4. open frontend dashaboard
5. Note some errors in console
6. Change page from dashboard to customers for example
7. Note some errors in console
http://vladtest36.admin.kademi-ci.co/
http://version1.vladtest36leads-vladtest36

[2018-02-21 11:46] Uafinder opened #5020 "leadman theme loading too slow"
![image](https://user-images.githubusercontent.com/1945230/36478471-879cc6d4-170d-11e8-8bbf-6880352349a2.png)
![image](https://user-images.githubusercontent.com/1945230/36478475-8df7baca-170d-11e8-9bab-f0dad92ccce1.png)
It's after hard refresh
http://version1.vladtest36leads-vladtest36.kademi-ci.co/dashboard
loading longs for 30 seconds and more

[2018-02-21 11:47] Uafinder commented on #4991
Looks good

[2018-02-21 11:47] #4991 closed

[2018-02-21 12:27] mrdadah opened #5021 "Turning Automation trigger on raise exception"
I'm trying to turn this automation trigger on
http://phhub.admin.kademi-ci.co/autoEmails/6450147/

but it raises exception:

[code]

[2018-02-21 12:36] Uafinder commented on #5008
Yup, looks good

[2018-02-21 12:36] #5008 closed

[2018-02-21 12:40] Uafinder opened #5022 "de-dup orgs tool count of orgs doesn't renew after processing"
![image](https://user-images.githubusercontent.com/1945230/36480366-c21c9166-1714-11e8-919a-a1d3cf6c44e3.png)
1. Select some number of orgs
2. note number of found duplicate orgs
3. push merge
4. note that list is updated, but number doesn't changed
http://vladtest36.admin.kademi-ci.co/organisations/dedupe

[2018-02-21 12:41] Uafinder commented on #5007
Yup, looks fine

[2018-02-21 12:41] #5007 closed

[2018-02-21 12:51] Uafinder commented on #5003
yup, looks so

[2018-02-21 12:51] #5003 closed

[2018-02-21 12:53] Uafinder opened #5023 "De-dup orgs tool double memberships left when user was a member of both orgs"
1. User is a member of both orgs which will be merged
2. Found them and merge
3. Orgs are successfully merged, but user still has two memberships in one org
![image](https://user-images.githubusercontent.com/1945230/36480977-f580f374-1716-11e8-91d0-476c9c6c5966.png)
http://vladtest36.admin.kademi-ci.co/manageUsers/6448946/#summary-tab

[2018-02-21 13:02] Uafinder commented on #4935
yup, it works!

[2018-02-21 13:02] #4935 closed

[2018-02-21 13:17] Uafinder commented on #5014
ok, looks better on the 100% container

[2018-02-21 13:17] #5014 closed

[2018-02-21 13:21] Uafinder commented on #5010
Yeah, it looks better when [?] is selected, but when points size reach 100000, it transits to bottom part.

[2018-02-21 13:21] #5010 closed

[2018-02-21 13:23] Uafinder commented on #4888
All three fixed

[2018-02-21 13:23] #4888 closed

[2018-02-21 13:25] Uafinder commented on #4856
Looks good!

[2018-02-21 13:25] #4856 closed

[2018-02-21 13:27] Uafinder commented on #4897
Yup, it works!

[2018-02-21 13:27] #4897 closed

[2018-02-21 13:30] Uafinder opened #5024 "keditor: no video preview when uploading video file"
![image](https://user-images.githubusercontent.com/1945230/36482438-fabd2b50-171b-11e8-81f0-60071aab466a.png)
1. Create a page
2. Edit
3. Add some video component
4. Change video
5. Upload some video
6. Video preview will not appear
http://vladtest36.admin.kademi-ci.co/pages/vladtest36web/version1/

[2018-02-21 13:35] Uafinder commented on #4848
ok

[2018-02-21 13:35] #4848 closed

[2018-02-21 13:37] Uafinder commented on #4936
It works

[2018-02-21 13:37] #4936 closed

[2018-02-21 14:16] AlaaKhalaf94 opened #5025 "The image inserted in email by ckeditor in journey , doesn't appear"
Journey   : http://alaa-test99.admin.kademi-ci.co/funnels/journey1/version1/#journeyBuilder-tab

Manage email : http://alaa-test99.admin.kademi-ci.co/funnels/journey1/version1/email1/#message-tab

![untitled01](https://user-images.githubusercontent.com/26510030/36483751-aaa1f0d4-171f-11e8-8d8a-867c3b0b27d6.png)

That's because the src of image added incomplete
src="/_hashes/files/f6351ea65686ffb00

[2018-02-21 14:34] Uafinder commented on #4955
yup, looks good

[2018-02-21 14:34] #4955 closed

[2018-02-21 14:40] Uafinder commented on #4944
Yeah, looks fine

[2018-02-21 14:40] #4944 closed

[2018-02-21 14:43] Uafinder commented on #4943
ok

[2018-02-21 14:43] #4943 closed

[2018-02-21 14:53] Uafinder commented on #4929
yup, looks good

[2018-02-21 14:53] #4929 closed

[2018-02-21 14:57] Uafinder commented on #3505
Need a bit more info, where and what search should do?

[2018-02-21 14:59] Uafinder commented on #4415
Hey @gonzalon, give me a bit more info pls

[2018-02-21 19:40] bradmac commented on #5019
I'm not currently seeing any errors in that account.

@Uafinder can you recheck

[2018-02-21 19:43] bradmac commented on #5020
I got a load time of 4.7secs. Not great, but ok.

@Uafinder can you check?

[2018-02-21 19:46] bradmac commented on #5022
Thats fine.

[2018-02-21 19:46] #5022 closed

[2018-02-21 19:46] bradmac commented on #5023
I dont think this matters. In reality users wont be in both orgs

[2018-02-21 19:46] #5023 closed

[2018-02-21 20:17] bradmac commented on #5025
I'm thinking of maybe adding something server side to check for any src or href attributes that dont have a domain name..

[2018-02-21 20:33] bradmac commented on #4415
![image](https://user-images.githubusercontent.com/826458/36503731-f3ed4872-17b2-11e8-9497-caef005d3808.png)

[2018-02-21 20:33] bradmac commented on #4415
![image](https://user-images.githubusercontent.com/826458/36503862-74d6314c-17b3-11e8-8a7b-20a1b2e0203b.png)

[2018-02-21 20:34] bradmac commented on #4415
@gonzalon I've just seen a couple of problems
- when an order is placed it doesnt appear in the list. Please do a reloadFragment
- I couldnt see the product search working

[2018-02-21 21:33] gonzalon commented on #4415
Added the reload fragment and a message to clarify that you have to enter at least 3 characters to start searching by product code or title.

[2018-02-21 22:20] bradmac commented on #5021
Error was due to recording the change in the audit log. Fixed now.

[2018-02-21 22:20] #5021 closed

[2018-02-21 22:51] bradmac commented on #3505
@Uafinder this should mean that files are included in omni search results, in the admin and also front end search page.

Eg:
![image](https://user-images.githubusercontent.com/826458/36510092-be79df20-17c6-11e8-8879-a9e86dfb04ba.png)

[2018-02-21 23:28] bradmac commented on #3505
content-lib 1.2.7

[2018-02-22 00:02] bradmac commented on #5025
When i add an image in the journey email editor i get a non fully qualified url:
[code]

But when i do the same in group email editor i do get a fully qualified url:
[code]

[2018-02-22 01:07] bradmac commented on #5025
Done, but should test on CI

[2018-02-22 01:26] bradmac commented on #5025
Just did a quick check on CI and seems ok

[2018-02-22 01:46] bradmac opened #5026 "jquery.forms being included multiple times"
Its referenced in master template, but is also a dependency of some libs

Please
- create a lib for jquery.forms
- remove the hard coded dependency in masterTemplate
- replace the dependency on the file with dependencies on the new lib
- remove the getScriptOnce call to moment-with-locales.js, instead add a dependency to moment-lib

Also do similar for jquery.timeago

--- NOTE THAT NO CHANGES SHOU

[2018-02-22 04:33] ducdhm commented on #5009
Fixed!

[2018-02-22 04:48] anhnt commented on #5016
![image](https://user-images.githubusercontent.com/735555/36520879-452b7778-17c6-11e8-90ee-d2871d50759e.png)
Done

[2018-02-22 05:00] ducdhm commented on #4945
Fixed!

[2018-02-22 05:38] ducdhm commented on #5024
Fixed!

[2018-02-22 06:03] ducdhm commented on #4981
Fixed!

[2018-02-22 06:38] bradmac commented on #5016
Please remove the expired and type columns. Just the 3 in the description please.

[2018-02-22 06:41] AlaaKhalaf94 commented on #5025
passed

[2018-02-22 06:41] #5025 closed

[2018-02-22 09:43] Uafinder opened #5027 "Contact requests show incorrect time of registering request"
![image](https://user-images.githubusercontent.com/1945230/36530939-180ba43a-17c5-11e8-9373-1da39d3a25f6.png)
It shows -12 hours no matter of request was created some minutes ago
Pop-up hover show incorrect timestamp
![image](https://user-images.githubusercontent.com/1945230/36531005-4100ebde-17c5-11e8-94fc-87f8716f1448.png)
But when you enter a contact request details - there will be a correct da

[2018-02-22 13:43] Uafinder commented on #5009
Ok, it fixed on QA... should be deployed to Lyle account ASAP!

[2018-02-22 14:17] Uafinder commented on #5009
update blog lib version there

[2018-02-22 14:17] #5009 closed

[2018-02-22 14:32] Uafinder commented on #4981
looks better

[2018-02-22 14:32] #4981 closed

[2018-02-22 14:50] Uafinder commented on #5019
It looks appear first time you load site when account is new
![image](https://user-images.githubusercontent.com/1945230/36544935-5dea0a84-17f0-11e8-97c3-bf7588151f51.png)
I've created a fresh account and see some errors
http://vladtest37leads_vladtest37.kademi-ci.co/dashboard

[2018-02-22 14:55] Uafinder commented on #5020
ok, lets leave it as is

[2018-02-22 15:03] ducdhm commented on #4978
Fixed!

[2018-02-22 15:04] Uafinder commented on #5024
Still not appear
![image](https://user-images.githubusercontent.com/1945230/36545798-6cd016cc-17f2-11e8-8ad2-d443783d705e.png)
http://vladtest37.admin.kademi-ci.co/pages/vladtest37web/version1/
Fresh account

[2018-02-22 15:16] mkhoudary opened #5028 "Need expression filtering for allowed groups in assets"
We need to display allowed groups in group asset as an expression, where all groups are ran against it.. e.g. I want to display optins of a specific parent or so.. because with this way I need to hardcode the groups in the asset.. this is needed in PHHub.

[2018-02-22 15:17] Uafinder commented on #4945
Yup, it works!

[2018-02-22 15:17] #4945 closed

[2018-02-22 16:48] ducdhm commented on #4997
Fixed!

[2018-02-22 17:14] ducdhm commented on #5024
@Uafinder Seems like you forgot to sync content-lib? I have sync lib in root CI and create fresh account and everything works normally. Please double-check again.

[2018-02-22 19:39] bradmac opened #5029 "Pipeline processing error"
[code]

[2018-02-22 19:46] #5029 closed

[2018-02-22 20:17] bradmac opened #5030 "Optimise EmailItem.findToSend"
Currently we do this SQL:
[code]

The problem is that postgres cant use an index for this type of criteria, so its very inefficient (around 100ms each request)

The SQL is efficient if we do each request seperately.

We dont need to check for retries on every request, so suggestion is we change the queue manager to only look for retries every 10th poll or so.

[2018-02-22 20:18] bradmac commented on #5030
[code]

[2018-02-22 20:19] bradmac commented on #5030
Example SQL:
[code]

[2018-02-22 21:30] bradmac commented on #5028
Not sure i understand you correctly, lets chat..

[2018-02-22 21:34] bradmac commented on #5019
OK, so not critical if its only on first hit. Moving to next milestone

[2018-02-22 22:10] gonzalon commented on #4915
![image](https://user-images.githubusercontent.com/2773216/36567046-21e44802-188a-11e8-9dc0-a0bde4f1f878.png)

[2018-02-22 22:12] gonzalon commented on #4997
Working

[2018-02-22 22:12] #4997 closed

[2018-02-22 22:27] bradmac commented on #4915
@gonzalon can you make the col headings left aligned?

[2018-02-22 23:07] gonzalon commented on #5027
I'm trying to reproduce it here:
http://version1.vladtest36web-vladtest36.kademi-ci.co/contactus

but this is what I see:

![image](https://user-images.githubusercontent.com/2773216/36569274-025dc71c-1892-11e8-8ee7-61889a30a32e.png)

How can you send the contact request without entering the details???

[2018-02-23 00:53] bradmac commented on #5027
hey @gonzalon this is probably a timezone issue. Note that vlad is in ukraine

[2018-02-23 00:57] gonzalon commented on #5027
Just re tested, yep

[2018-02-23 01:12] bradmac commented on #4829
Just to confirm, we have forum components intended for use with forums pages.

We also have a comments component intended for use on any sort of content page.

@gonzalon please update the components only intended for forums so they are only available in the editor for forums pages

[2018-02-23 01:24] #4829 closed

[2018-02-23 03:28] gonzalon commented on #4594
@Uafinder I did what you explain but I can't reproduce it

[2018-02-23 08:06] Uafinder commented on #5024
Yup, looks fine

[2018-02-23 08:06] #5024 closed

[2018-02-23 08:13] Uafinder commented on #4978
Good!

[2018-02-23 08:13] #4978 closed

[2018-02-23 09:14] Uafinder commented on #4415
1. Validation should works on all necessary fields
http://vladtest37a.admin.kademi-ci.co/shopping-carts/
![image](https://user-images.githubusercontent.com/1945230/36586217-a1ca2f1a-1889-11e8-8395-8ceb0ff915de.png)

2. Product name should be completed after successful search selection
-enter to search first three symbols of product, select it from dropdown list
![image](https://user-images.githubu

[2018-02-23 09:39] Uafinder opened #5031 "sales settings changing cause an error"
Not quite understand, for what this settings tab exists
Also, when try to change something it cause an error
![image](https://user-images.githubusercontent.com/1945230/36587406-d0133ab6-188d-11e8-9275-1c05d12752e9.png)

[2018-02-23 14:41] Uafinder commented on #4915
I can't see any rank or header...
![image](https://user-images.githubusercontent.com/1945230/36599375-dc872e5e-18b7-11e8-9ada-2fd2d0d4661d.png)
http://vladtest37a.admin.kademi-ci.co/groupEmails/6637068/#messages-tab

I can't see any leaderboard component in the end email
![image](https://user-images.githubusercontent.com/1945230/36599528-5056d4a6-18b8-11e8-9765-a28ef766dc4a.png)
![image](https://u

[2018-02-23 17:27] ducdhm commented on #4594
@Uafinder @gonzalon I have done an issue related to KChat and I refactored almost styles and code of KChat so I think this issue is already fixed!

[2018-02-25 07:19] mkhoudary opened #5032 "Formatter toggleParam to allow unique value toggle"
We need toggleParam to allow toggling specific params uniquely without adding an additional value.

[2018-02-25 07:22] mkhoudary commented on #5032
https://github.com/Kademi/client-sudler-phhub/issues/17

[2018-02-25 07:22] mkhoudary commented on #5032
Done..

[2018-02-25 07:22] #5032 closed

[2018-02-25 12:31] mrdadah opened #5033 "Blank page when using template in assets page"
When I set a template to be used within asset page, It shows the template with blank page

For example:
here is a template link:
http://phhub-phhub.kademi-ci.co//theme/contenteditor?fileName=newsAndEvents.html

When I use it in asset page template:
http://version1.phhub-phhub.kademi-ci.co/templates/texteditor?fileName=event.html

<img width="705" alt="screen shot 2018-02-25 at 2 29 59 pm" src="htt

[2018-02-25 19:29] faithtek opened #5034 "Multiple Category Selection"
http://asrdev.admin.kademi.us/reward-store/general-1/#products-tab

The Multiple Category Selection works on this page, however when multiple categories are selected -- the page won't show the products from that multiple category selection.

[2018-02-25 19:37] faithtek opened #5035 "Category List -- Search"
http://asrdev.admin.kademi.us/reward-store/general-1/#products-tab

Category Searching here doesn't work.

When a Category is searched (say "home"):
- Selected categories goto the bottom of the list not the top. This is also true no matter whether you search or not.
- There is no way to clear the search item and return to the standard category list without refreshing the page

The category list on

[2018-02-25 19:54] bradmac commented on #5034
@gonzalon please take a look.

Also, and this is probably related, we're displaying duplicates:
![image](https://user-images.githubusercontent.com/826458/36645782-b7864c9e-1ad2-11e8-850e-0807ffd40aa0.png)

[2018-02-25 20:57] Anton69arb commented on #4974
Hey Duc, when the window is made smaller, the menus are not supposed to be here, they must be on the blue header, Clients will not be able to see the menus like this as its white on  white, can you modify it
so it moves to the blue header when window screens change size or add a drop-down menu so they can pick a menu.

http://training.waterco.com/dashboard
https://waterco.admin.kademi.com.au/websi

[2018-02-25 21:25] Anton69arb commented on #4974
Hey Duc, I noticed you made changes, but I'm not sure if you added them to the Waterco Advance Website,  can you advise please,

Did you add changes to Kademi?

thank you

[2018-02-25 22:57] bradmac commented on #5033
Hi @mrdadah that page is working correctly for me:

http://version1.phhub-phhub.kademi-ci.co/assets/2d383cd5-b757-492c-9b4f-57cc8b959044

![image](https://user-images.githubusercontent.com/826458/36647548-2667ad74-1aec-11e8-9623-5d4d4526cbb9.png)

Please let me know if you are still seeing the problem

Also, its a good idea to check the logs when you see problems like this:
http://phhub.admin.kade

[2018-02-25 23:17] bradmac commented on #5033
Kademi uses the following template structure
- physical resource (eg an Asset, FileResource, BlogArticle, Profile)
- page template (eg /theme/page.html, /theme/apps/user/profile.html)
- theme template (eg /theme/defaultThemeTemplate.html)

This rendering order is fixed, all pages must follow this process

Currently the event content type is configured to render with a page template called /templat

[2018-02-26 00:41] bradmac opened #5036 "Learning components for certificates and CPD"
Related - https://github.com/Kademi/projects/issues/61

[2018-02-26 02:00] bradmac opened #5037 "Template code showing on vouchers page"
![image](https://user-images.githubusercontent.com/826458/36649985-ae2f97f8-1b05-11e8-8e08-2e3cb51a3222.png)

https://airnz.admin.kademi.com.au/voucher-type/cloo31dec/#vouchers-tab

[2018-02-26 02:54] bradmac opened #5038 "Cannot set shopping cart item quantity to zero"
Note that this should remove the item from the cart

![image](https://user-images.githubusercontent.com/826458/36651320-3ecf1b74-1b0d-11e8-8b45-80b0c971c29e.png)

http://linkrewards-hydra.kademi.com.au/checkout/

The POST request still has a quantity of 1
[code]

[2018-02-26 02:57] bradmac opened #5039 "Shopping cart icon is invisible in inverted navbars"
This is because the extra div is breaking bootstraps inverted styles

[2018-02-26 02:57] bradmac commented on #5039
Fixed

![image](https://user-images.githubusercontent.com/826458/36651412-b5ebae2a-1b0d-11e8-83ff-bbfee6a98cc3.png)

[2018-02-26 02:57] bradmac commented on #5039
Requires shoppingcart-lib 1.0.8

[2018-02-26 03:01] bradmac opened #5040 "Add option to pointsEarnedComponent to use date range or not"
Currently the pointsEarnedComponent applies the common date range criteria which defaults to 7 days

This can be unexpected for users not using a date range picker.

Please add an option for whether to apply date criteria or not, and default to not using it.

Once deployed please apply the change to http://hydra.admin.kademi.com.au to not use dates

http://linkrewards-hydra.kademi.com.au//theme/ap

[2018-02-26 03:25] gonzalon commented on #5034
Here is an example of how it works:

Filtering by experiences:
![image](https://user-images.githubusercontent.com/2773216/36652038-0d44c38e-1b11-11e8-8ac8-6092f066bdee.png)

Filtering by High value
![image](https://user-images.githubusercontent.com/2773216/36652050-1d210312-1b11-11e8-9980-65df3970e15c.png)

Filtering by both (by default it's OR, so this mean the product has to be at least in one o

[2018-02-26 03:33] bradmac commented on #5036
@ducdhm can you please assist by
- adding an option for whether to display CPD hours
- adding an option for whether to display start date
- adding an option for whether to display the person's name

[2018-02-26 03:35] bradmac commented on #5036
Needed for https://github.com/Kademi/projects/issues/61

[2018-02-26 03:40] gonzalon commented on #5035
@faithtek If you found yourself in this situation:

Search "Fishing":
![image](https://user-images.githubusercontent.com/2773216/36652399-7b8dc820-1b13-11e8-8d13-9596a0a7540e.png)

Un select "Fishing"
![image](https://user-images.githubusercontent.com/2773216/36652412-8faeef64-1b13-11e8-9a11-bbb95d2b3311.png)

If you press the backspace at this stage it would show you the original list:
![image](h

[2018-02-26 03:58] ducdhm commented on #5013
Fixed!

[2018-02-26 04:09] faithtek commented on #5035
Yes. That is the way it should work. Sadly on http://asrdev.admin.kademi.us/reward-store/general-1/#products-tab It does the following.

- When you search:
![image6](https://user-images.githubusercontent.com/7914822/36653042-a85030de-1a80-11e8-92bc-455058f632e2.png)

- When you clear the category:
![image5](https://user-images.githubusercontent.com/7914822/36653064-db698240-1a80-11e8-8823-d05e30a5

[2018-02-26 04:25] bradmac opened #5041 "Not able to connect KFeedback goal"
http://moblix.admin.kademi-ci.co/funnels/k-feedback-tutorial/version1/#journeyBuilder-tab

I get this error when connecting the kfeedback goal..
![image](https://user-images.githubusercontent.com/826458/36653441-066bd3f0-1b1a-11e8-883a-246267bfb6ec.png)

![image](https://user-images.githubusercontent.com/826458/36653415-ec61fc0a-1b19-11e8-8aa8-b568608de6e4.png)

[2018-02-26 04:46] ducdhm commented on #5041
Fixed!

[2018-02-26 04:50] gonzalon commented on #5031
@Uafinder the settings page is to update the same settings you could update in the apps page in the org level or the website level.

salesDataClaimer 1.1.9

[2018-02-26 04:56] bradmac commented on #5035
We've just deployed to the US cluster. @gonzalon please check that now works as intended

[2018-02-26 04:59] gonzalon commented on #5035
@faithtek Hi Michael, I just tested this its fixed in the US cluster at the moment. I made my comment before the deploy.
Anyways I just assigned this issue to one of our testers so he can confirm that everything works as expected. Thanks!

[2018-02-26 05:04] anhnt opened #5042 "Error when loading not allocated products on category sceen"
http://hydra.admin.kademi.com.au/categories/HYD003/?q=&l=76456701&incl=notAllocated#products-tab

[code]

[2018-02-26 05:42] bradmac opened #5043 "Add ability to filter by product library to manage products page"
- also remove product list from category page. This isnt needed now.

[2018-02-26 14:33] Uafinder opened #5044 "Login, then logout and there is no possiblity to login again"
1. Spot this on the ITI CRM
2. open this http://insured-crm_insured.kademi.com.au
3. login by userqa01@mailinator.com
4. logout
5. that's all, white screen appears.

[2018-02-26 19:06] bradmac commented on #5044
@Uafinder i cant reproduce. Can you please check?

[2018-02-26 19:13] bradmac opened #5045 "Permission error in leadman"
Login here as user userqa01@mailinator.com
http://insured-crm_insured.kademi.com.au/

Profile:
https://insured.admin.kademi.com.au/manageUsers/105222658/#summary-tab

Note there is a 400 error loading this resource:
http://insured-crm_insured.kademi.com.au/_leadManStatsSummary?funnelName=

This is a custom controller defined here:
https://insured.admin.kademi.com.au/repositories/leadman-lib/1.8.2/

[2018-02-26 20:13] bradmac commented on #5043
![image](https://user-images.githubusercontent.com/826458/36692924-64c285e6-1b9e-11e8-9ee3-1f5d268fb3de.png)

[2018-02-26 20:46] bradmac opened #5046 "SalesForce client service"
- create a new jar project (under kademi parent project)  to encapsulate reading/writing to SF
- this should not have any persistence, just a service class
- should only depend on kademi-common
- be suitable for configuring into Kademi using spring
- allow credentials to be specified per tenant (ie not singleton)

Operations include
- create a contact in SF
- create a lead in SF
- get a list of al

[2018-02-26 20:47] gonzalon commented on #5042
This page doesn't exists anymore. https://github.com/Kademi/kademi-dev/issues/5043#issuecomment-368634552

[2018-02-26 20:47] #5042 closed

[2018-02-26 21:02] bradmac commented on #5028
OK, so as discussed we'll add the ability to select a group folder rather then using an expression

[2018-02-26 21:04] #5045 closed

[2018-02-26 21:31] gonzalon commented on #4415
- Added validations, and countries dropdown:
![image](https://user-images.githubusercontent.com/2773216/36696503-3d367586-1ba9-11e8-9d8a-7f0b1e2ba95b.png)

![image](https://user-images.githubusercontent.com/2773216/36696515-48704418-1ba9-11e8-918c-ab9a93db4e10.png)

- Now it also clean the search input once you select the product.
- Saving / refreshing its working fine now

[2018-02-26 22:11] bradmac commented on #5028
Can add group fields now:
![image](https://user-images.githubusercontent.com/826458/36698076-c50fce54-1bad-11e8-8a9d-787b0f846616.png)

![image](https://user-images.githubusercontent.com/826458/36698528-f0eadd92-1bae-11e8-976d-9bbbb499e29e.png)

[2018-02-26 22:12] bradmac commented on #5028
And this on the edit form for an asset:
![image](https://user-images.githubusercontent.com/826458/36698577-19a6fd2e-1baf-11e8-9a72-07891961592d.png)

[2018-02-27 00:04] tuzzmaniandevil opened #5047 "Add Social Share button for Facebook and LinkedIn, This share should be recorded against the user"

[2018-02-27 01:28] #4475 closed

[2018-02-27 04:36] bradmac commented on #4854
Working now..
![image](https://user-images.githubusercontent.com/826458/36710716-a230c1c2-1be4-11e8-890c-8c8497e2ff8a.png)

[2018-02-27 04:38] ducdhm commented on #5011
Done!

[2018-02-27 04:44] bradmac commented on #4854
@Uafinder to test this, please create a query, and then select it from a table component in keditor as above

here's an example query..

![image](https://user-images.githubusercontent.com/826458/36710950-d02919ca-1be5-11e8-946e-0f76c4268a3e.png)

![image](https://user-images.githubusercontent.com/826458/36710966-da1daae0-1be5-11e8-8efc-f2bf1cb911ec.png)

[2018-02-27 08:53] Uafinder commented on #5020
As confirmed in ITI loading is really slow
To reproduce it pls clear cache or do a hard refresh
I got 20-30 seconds on ITI pages.
Will provide details of fresh account a bit later

[2018-02-27 09:25] Uafinder opened #5048 "Errors on leadman theme when cache is clear"
Based on ITI
Spot such issues:
1. Clear cache, open calendars page - calendar will not appear and errors in console
![image](https://user-images.githubusercontent.com/1945230/36719232-2577cba8-1bad-11e8-9b60-626d2d054598.png)
2. bloodhound libs issue, just login after clearing cache
![image](https://user-images.githubusercontent.com/1945230/36719720-9380f1fa-1bae-11e8-9922-c1d6c2cb1649.png)

[2018-02-27 09:33] Uafinder opened #5049 "Error on calendar page when open event"

[2018-02-27 09:47] Uafinder opened #5050 "Doubling calendar events when submit attendance"
Based on ITI
1. Create an event
2. Create an appointment
3. Open event calendar
4. open event
5. Submit attendance
6. Open calendar, note another event created
![image](https://user-images.githubusercontent.com/1945230/36721531-d6fd1bac-1bb3-11e8-8f4c-93f8204990b5.png)
http://insured-crm_insured.kademi.com.au/users/test-user-1/Calendars/default/

Couldn't reproduce it on QA

[2018-02-27 10:52] bradmac commented on #5012
Done

[2018-02-27 11:50] Uafinder opened #5051 "KCRM: Assigned to nobody cause task to close"
1. Create a task
2. Assign it to yourself
3. open tasks page
4. Open task
5. Choose assign to nobody
6. Watch that task will moved to closed
![image](https://user-images.githubusercontent.com/1945230/36727214-230daf78-1bc5-11e8-8349-ba8194b3ddc1.png)
http://vladtest36leads_vladtest36.kademi-ci.co
http://vladtest36.admin.kademi-ci.co/websites/

also spot this in ITI