[2017-10-20 12:28] Uafinder commented on #3728
I was successfully able to delete points from here:
![image](https://user-images.githubusercontent.com/1945230/31820701-345b17aa-b5ab-11e7-8df3-fd1d0c6e3348.png)
![image](https://user-images.githubusercontent.com/1945230/31820740-52c8c390-b5ab-11e7-8da5-015b526e59bc.png)
Both auto-reconciled
http://vlad-test23.admin.kademi-ci.co/points-buckets/points/
http://vlad-test23.admin.kademi-ci.co/points-b

[2017-10-20 12:33] Uafinder opened #4231 "Points button looks have incorrect link"
![image](https://user-images.githubusercontent.com/1945230/31820814-a3237588-b5ab-11e7-9336-b1fb3d3cd583.png)
It transfers you to:
http://vlad-test23.admin.kademi-ci.co/rewards/points/       this page is from another lib.
But looks it should take you to:
http://vlad-test23.admin.kademi-ci.co/points-buckets/points/

[2017-10-20 12:36] anhnt commented on #4084
Hi Vlad

This is correct behavior. When include inactive users, that means users who
never login will be included (lastVisit field is null)

When not include inactive users that means only users who have ever logged
in once will be showed

On Fri, Oct 20, 2017 at 5:57 PM Vlad <notifications@github.com> wrote:

--
Sent from my iPhone

[2017-10-20 12:51] Uafinder commented on #4069
Yes, it works!

[2017-10-20 12:51] #4069 closed

[2017-10-20 13:06] Uafinder commented on #4186
It works. Even you disable Inherit checkbox near Heading color, check box inverted text color saves the situation.
http://version1.vlad23-points.kademi-ci.co/pages1.html?miltonUserUrl=/users/2f5ccda6-2de0-4223-a41b-31d380bf3e5c&miltonUserUrlHash=e696706e-0878-413a-8d9d-ab8faefe71df:foNyrQLUhkjijpwC01rleBFoEP4

[2017-10-20 13:07] Uafinder commented on #4186
![image](https://user-images.githubusercontent.com/1945230/31822221-b37e6596-b5b0-11e7-939e-5e1159a7c927.png)

[2017-10-20 13:07] #4186 closed

[2017-10-20 13:34] Uafinder commented on #1670
I can't see this component outside of reward-store site.
http://version1.vlad23-report.kademi-ci.co/contenteditor?fileName=report.html&miltonUserUrl=/users/2f5ccda6-2de0-4223-a41b-31d380bf3e5c&miltonUserUrlHash=9a820127-62be-4e09-aa4f-b757ea510bae:ujMap5xOdEti53GGBpnribb4s2A
I've enable reporting component, but it doesn't appears.
Is anything else i should know?

[2017-10-20 13:47] Uafinder opened #4232 "KEditor broken after enablin' Reporting app on website"
http://vlad-test23.admin.kademi-ci.co/pages/vlad23-points/version1/
![image](https://user-images.githubusercontent.com/1945230/31823814-01dcb86e-b5b6-11e7-8a0a-4a9ed889866e.png)
adminqa@mailinator.com
I have a site where Reward Store app was activated. I tried to enable Reporting app and after that all pages failed to open via KEditor. I tried to disable app and clear cache but it doesn't fix the

[2017-10-22 06:20] AlaaKhalaf94 commented on #3422
passed

[2017-10-22 06:20] #3422 closed

[2017-10-22 06:27] bradmac commented on #3478
- enable Leadman app
- login to the website
- create a lead (aka a journey)
- view the lead details page

[2017-10-22 06:31] bradmac commented on #1670
@tuzzmaniandevil note that users should not be expected to manually enable dependencies.

So if rewardstore app components only work if the reporting app is enabled, then you should add the reporting app as a dependency so it gets enabled automatically

[2017-10-22 06:34] bradmac commented on #4206
users should be **able** to change padding.

But they should not **need** to change padding for the component to have a correct and professional appearnace

[2017-10-22 06:41] bradmac commented on #4215
I think its currently missing the domain name

[2017-10-22 06:43] bradmac commented on #4209
E is a special code which means Expiry, and should always be an available choice, regardless of settings

[2017-10-22 06:44] bradmac commented on #4212
I think we need to disable firing the PageHitFunnelEvent

[2017-10-22 08:21] salehh93 commented on #4205
@ducdhm
first thanks for this notes
1,2 by mistake
3 I am use panelIconCollapsed , panelIconExpanded instead of panelIcon1 and panelIcon2
4 I am already used less but not work with me because used in dependencies file cssMedia instead of lessMedia

now it's fixed

[2017-10-22 11:52] AlaaKhalaf94 commented on #4205
Hi @bradmac , Should there be a control for the alignment of icon, or is it good?
I used it here : http://version1.alaa-test9.kademi-ci.co/index.html
In home page : http://alaa-test9.admin.kademi-ci.co/pages/alaa-test9/version1/

In travelworld site , the alignment of icon is left
http://version1.travelworldnz.kademi.com.au/ourDeals/australian-open-from-469/

[2017-10-22 13:42] mkhoudary opened #4233 "Start Funnel does not set fields with lead creation"
Start Funnel JB node does not set fields when creating the lead, it sets them after that.. causing lead creation to fail if it depends on any of the copied fields.

[2017-10-22 13:43] mkhoudary commented on #4233
Done..

[2017-10-22 13:43] #4233 closed

[2017-10-22 14:05] salehh93 commented on #4206
done

[2017-10-22 15:20] ducdhm commented on #4205
@salehh93  Just a small thing, please dont remove `Label` of issues like `enhancement`, `High priority`. They are same like tags for issue. Please dont remove. Just add or remove labels like `Ready to test`, `Discuss` or `question`

[2017-10-22 20:46] bradmac commented on #4205
@AlaaKhalaf94 its ok, we dont need it yet

[2017-10-22 21:41] paddyow commented on #4072
![image](https://user-images.githubusercontent.com/2201340/31866583-82358d42-b7cd-11e7-804b-e7b11a7112f8.png)

1) Don't say 4 weeks just put number of days i.e. 28 Days XX:XX:XX
2) Check font sizes:  Title = 20px bold,  Time 26px bold, big 16px light
3) Remove header
4) Cannot see any Auctions templates under the template section of manage pages - these need adding as per the brief above

[2017-10-22 21:48] paddyow commented on #4212
This might also be connected.

Ran some Google Ads with the URL and query /solutions/b2b-channel-incentives.html?source=googleadb2b

Looks like clicking through from a Google Adwords campaign people were bouncing almost immediately which 'might' be due to the page not loading quick enough.  See the number below.

![image](https://user-images.githubusercontent.com/2201340/31866677-c5183424-b7ce-11e

[2017-10-22 22:18] bradmac commented on #4072
hey @paddyow can you confirm which of those things is a must-have for this milestone?

[2017-10-23 00:11] bradmac commented on #4212
I've disabled the page viewed event, so should be much faster now

[2017-10-23 05:03] ducdhm commented on #4154
Fixed!

[2017-10-23 05:30] AlaaKhalaf94 commented on #4205
passed

[2017-10-23 05:37] bradmac opened #4234 "Tile component"
Please create a component for a standard tile
- image + heading + text (each optional?)
- optional link, which should link heading + image
- perhaps layout similar to below?

https://www.vendhq.com/retail-resource-hub

![image](https://user-images.githubusercontent.com/826458/31873675-3ec83bfa-b821-11e7-9266-89d6cd350b93.png)

[2017-10-23 06:35] AlaaKhalaf94 commented on #4206
passed

[2017-10-23 06:36] #4206 closed

[2017-10-23 06:39] ducdhm commented on #4215
Fixed!

[2017-10-23 07:10] AlaaKhalaf94 opened #4235 "Create stars rating component in CKeditor"
Please create stars rating component in CKeditor , rating in them shall be halves
like "component-rating" component in Keditor

![capture1](https://user-images.githubusercontent.com/26510030/31876231-53c6f736-b7da-11e7-9439-59ce9476b95c.PNG)

[2017-10-23 07:22] AlaaKhalaf94 opened #4236 "OK button in Select image modal from CKeditor does not appear in its specified location"
In Select image modal from CKeditor , OK button does not appear in its specified location
http://version1.alaa-test10.kademi-ci.co/contenteditor?fileName=index.html

![capture1](https://user-images.githubusercontent.com/26510030/31876619-fab86286-b7db-11e7-95ce-46a77c1c2b48.PNG)

[2017-10-23 08:15] paddyow opened #4237 "Should ORG IDs allow spaces?"
http://kademi.admin.kademi.us/organisations/?q=Kademitest1%20test&searchOrgType=&parentOrgId=

If no, the ORG uploader needs fixing

![image](https://user-images.githubusercontent.com/2201340/31878627-77c3c47e-b826-11e7-8d9e-18a4bf755e02.png)

[2017-10-23 08:32] bradmac commented on #4237
I think if it does allow spaces then thats a good thing. Because Org ID's are intended to come from outside our system, that means we cant control what they'll be.

Eg if a customer uses a CRM where their customer account ID's have spaces ,we do want to be able to import them. I'm not sure if that will work everywhere, but thats a start

[2017-10-23 08:33] bradmac commented on #4237
Make sure you're using the import wizard, not the old CSV importer:

![image](https://user-images.githubusercontent.com/826458/31879419-dafa1cce-b839-11e7-9ed1-dd46dfd3c3e6.png)

[2017-10-23 08:38] #4237 closed

[2017-10-23 09:10] ducdhm commented on #4236
Duplicated with https://github.com/Kademi/kademi-dev/issues/4085

[2017-10-23 09:11] ducdhm commented on #4085
Let me continue with it

[2017-10-23 09:11] #4236 closed

[2017-10-23 09:22] ducdhm commented on #4085
Updated UI:
![newui](https://user-images.githubusercontent.com/1289631/31881623-555b3f1a-b80e-11e7-8659-8a20d78d4485.png)

[2017-10-23 11:06] salehh93 commented on #4235
done

[2017-10-23 11:10] salehh93 commented on #4235
note: You must upgrade for content-lib app to 1.1.8

[2017-10-23 11:47] salehh93 commented on #4182
after upload learning_moduleStatus backup I waited allot but useless

[2017-10-23 20:25] bradmac commented on #4182
Hi @salehh93 please discuss with @mkhoudary

The plan now is to use SQL to export modulestatuses, and to use a table uploader to import.

[2017-10-23 20:35] #3938 closed

[2017-10-23 20:36] bradmac opened #4238 "Configurable class access policy per account"
We need to be able to choose whether or not to apply an aggressive class access policy to accounts

[2017-10-23 20:40] bradmac opened #4239 "New KCode fields"
Please create new fields in ContentApp
- currentYear: just return the current year, eg 2017.
- accountTitle: the title of the current account (eg Organisation title)
- profilePrimaryOrgTitle: return the title of the organisation from the user's primary membership. If the user has multiple primary memberships just take the first.

These can be plain AbstractFields, with no ES support

[2017-10-23 20:50] Anton69arb opened #4240 "Experiments - we cant delete experiments,"
Hey hey :)

Experiments - we cant delete experiments,

When clicking on the delete button, it states we should click on the experiment check box that we want deleted, the check box option is not available, please could we add one, thank you

![experiments - hey we cant delete experiments](https://user-images.githubusercontent.com/32444328/31912395-3ce9ee26-b8a0-11e7-8d10-2b438a4f0d3c.png)

http://

[2017-10-23 21:05] gonzalon commented on #4061
@Uafinder sorry I forgot to tell you point out the last version of the lib.
KLeadman 1.0.5
If you check you have some libs to update!

I just test it in here:
http://gnz-test1.admin.kademi-ci.co/

[2017-10-23 21:21] bradmac commented on #4235
Text is wrong:

![image](https://user-images.githubusercontent.com/826458/31913831-e99fc038-b8a4-11e7-919e-0b175fd63c21.png)

Please change to just "XX stars". Eg
- 1 star
- 1.5 stars
- 2 stars
- etc

[2017-10-23 21:34] bradmac commented on #4235
Also, cannot edit the rating once its added to the page. It should have an edit option on the context menu:
![image](https://user-images.githubusercontent.com/826458/31914377-ea234816-b8a6-11e7-87df-f3dcde7f8a48.png)

[2017-10-23 22:19] bradmac commented on #4238
Done first step, which is to make KademiClassFilter a singleton

[2017-10-23 22:26] Anton69arb opened #4241 "Marks appear on page sometimes when creating a page and modifying the page components"
This happen's sometimes, not sure what from,
what i did was create the page and when i moved some text around and moved pics and saved, these marks would appear,
can you take a look and see why please

if you move a pic around as the page is at the moment and save, it adds a new mark to it

http://antontest.admin.kademi-ci.co/pages/sweets-for-heavens/version1/

![this happen s sometimes not sure w

[2017-10-23 22:26] bradmac commented on #4241
See gallery.html

[2017-10-23 23:58] gonzalon commented on #4230
Hi @Uafinder I can see the history and filter by the different jobs:
http://vlad-test21.admin.kademi-ci.co/emails/?q=&status=&job=
Tried duplicating one job and seems ok.
Can you still reproduce it?

[2017-10-24 00:39] tuzzmaniandevil commented on #1670
@Uafinder You need to have the reward store app installed to get the components. i.e. KRewardStore

@bradmac I've added the dependency

[2017-10-24 00:39] gonzalon commented on #4239
There are 3 new options in the KCode dropdown:
- Current Year
- Account title
- Profile Org Title

![image](https://user-images.githubusercontent.com/2773216/31919662-84a272c2-b8c0-11e7-8094-cb2a53723083.png)

![image](https://user-images.githubusercontent.com/2773216/31919669-947223b4-b8c0-11e7-9fbb-35f08c2f2a01.png)

[2017-10-24 00:52] tuzzmaniandevil commented on #4182
@mkhoudary @salehh93 The module activity importer is ready to use.

[2017-10-24 01:40] paddyow opened #4242 "KPI component for Moblix"
Login as this guy: http://moblix.admin.kademi-ci.co/manageUsers/698106/#summary-tab

Update KPI component:
1) Doughnut color Info
2) Must be transparent
3) Text white to show KPI title and level
5) The doughnut should show progress towards the level

![image](https://user-images.githubusercontent.com/2201340/31921329-98c5e96a-b8ba-11e7-984d-5446d5884981.png)

PSD [KPIs employee.zip](https://github

[2017-10-24 02:03] gonzalon commented on #3140
@Uafinder
1) Sorry I'm not really sure if I get what you mean with: "OrgType and OrgName and Phone search incorrect." as the screen points to different things?
But the search its working for me, tried orgType and orgName. We are not supporting the phone atm.

2) Fixed

3) We only support to show 10 pages, but if you click in the last arrow the pagination works.
Added the option to change the page

[2017-10-24 03:07] tuzzmaniandevil commented on #3728
@Uafinder That looks fine, You should be able to delete debits, It's only Points that are linked to debits you shouldn't be able to delete

[2017-10-24 03:51] ducdhm commented on #4242
Fixed!

[2017-10-24 03:57] paddyow opened #4243 "Need to change badge image"
http://moblix.admin.kademi-ci.co/recognition/704104/

Currently there is no way to change a badge image other than delete it and add it again.

[2017-10-24 03:58] #4243 closed

[2017-10-24 05:21] paddyow commented on #4242
This profile http://moblix.admin.kademi-ci.co/sales/employee-time/#history-tab

Has two records http://moblix.admin.kademi-ci.co/sales/employee-time/#history-tab

- July 25 hours
- August 15 hours (processed)

The monthly KPI is 140 hours

1) The first July period they did not reach their target so should not be on track
2) The 2nd August period should show in progress but currently shows nothing

[2017-10-24 05:53] paddyow commented on #4166
Change badges per page to badges per row

![image](https://user-images.githubusercontent.com/2201340/31926679-ced037d8-b8db-11e7-9a9b-36f3c81dcae3.png)

[2017-10-24 06:11] AlaaKhalaf94 commented on #4085
passed

[2017-10-24 06:11] #4085 closed

[2017-10-24 06:24] bradmac commented on #4242
@paddyow you can check their assessed periods from the admin:

http://moblix.admin.kademi-ci.co/sales/employee-time/kpis/hours/#results-tab

![image](https://user-images.githubusercontent.com/826458/31927492-dd3c54f4-b8f0-11e7-81f0-eaa83a1704ce.png)

This user did not reach any levels, and was not given any points

[2017-10-24 06:26] ducdhm commented on #4242
@bradmac This KPIs doesnt have baseline
![untitled](https://user-images.githubusercontent.com/1289631/31927582-fb820788-b8be-11e7-8805-5fc33da25465.png)

[2017-10-24 06:27] bradmac commented on #4242
@ducdhm It doesnt need a baseline

But @paddyow  looks like the problem is you havent selected a target for the ontrack status component:

![image](https://user-images.githubusercontent.com/826458/31927608-59aab7b0-b8f1-11e7-9536-44059f7c975c.png)

[2017-10-24 06:28] paddyow opened #4244 "Nested containers should be transparent by default"
When you nest a container at the moment you have to either

1) Change its BG color to match the parent container
2) Or set its BG color to transparent

They should by default be transparent so the container inherits the parents color

[2017-10-24 06:29] bradmac commented on #4242
But guys, lets make sure we dont say "On track" for past periods. Once a period is completed the user should be told if they achieved the target or not, it doesnt make sense to say they are "on track" if we know they did or did not achieve it.

[2017-10-24 06:31] ducdhm commented on #4242
@bradmac Yeah for sure. I think with current period, we can say `On Track` or `Off Track` but with processed period, should be `Achieved` or `Not achieved`.

Let me update them

[2017-10-24 06:31] bradmac commented on #4242
:+1:

[2017-10-24 07:42] bradmac opened #4245 "ES Organisations page should show counts with org types"
![image](https://user-images.githubusercontent.com/826458/31930305-c842779e-b8fb-11e7-8a59-888271d7f2fc.png)

[2017-10-24 07:44] bradmac commented on #3140
![image](https://user-images.githubusercontent.com/826458/31930305-c842779e-b8fb-11e7-8a59-888271d7f2fc.png)

[2017-10-24 07:44] #4245 closed

[2017-10-24 07:46] bradmac commented on #3140
Also, sorting by phone number is incorrect. Blanks should be together:

![image](https://user-images.githubusercontent.com/826458/31930484-5577828a-b8fc-11e7-8cad-b26cdb4548e4.png)

[2017-10-24 08:24] AlaaKhalaf94 commented on #4239
passed

[2017-10-24 08:24] #4239 closed

[2017-10-24 08:49] ducdhm commented on #4242
@bradmac Please kindly help me to calculate completed percentages of assessed level

[2017-10-24 09:08] paddyow opened #4246 "Cannot open any APP templates"
http://moblix.admin.kademi-ci.co/pages/moblix-employees/version1/

Click on dashboard, just opens the same page in another window.

[2017-10-24 09:12] AlaaKhalaf94 commented on #4190
passed

[2017-10-24 09:12] #4190 closed

[2017-10-24 09:16] #4246 closed

[2017-10-24 09:54] AlaaKhalaf94 commented on #4219
passed

[2017-10-24 09:54] #4219 closed

[2017-10-24 11:06] salehh93 commented on #4235
done
can you double click  on stars for edit

note: You must upgrade for content-lib app to 1.1.9

[2017-10-24 11:11] salehh93 commented on #4158
done

[2017-10-24 11:28] AlaaKhalaf94 commented on #4215
passed

[2017-10-24 11:28] #4215 closed

[2017-10-24 11:38] AlaaKhalaf94 commented on #4158
passed

[2017-10-24 12:09] AlaaKhalaf94 commented on #4235
passed

[2017-10-24 13:16] salehh93 commented on #4231
done

[2017-10-24 14:19] ducdhm commented on #4158
@AlaaKhalaf94 Did you check this issue with different timezone? I'm 100% sure @salehh93 changes doesnt work wit timezone

[2017-10-24 14:24] ducdhm commented on #4235
@salehh93 Did you check in other browsers like IE? In general, we support IE9+ with minimum support. I have checked in your code and seem like you used multi-background for this component. I think it's incorrect. Can you check what @anhnt in his component?

[2017-10-24 20:33] bradmac commented on #4242
@tuzzmaniandevil can you assist?

What we need is the ability to calc a percentage of the level specified on the KPI component for assessed periods.

We may neeed to add API support to KpiDataPage to find the value of a level for a participant for a specified period. Remember that targets can be static (as per this example) or dynamic (ie looked up from a dataseries)

And it might be nice to have

[2017-10-24 20:42] bradmac commented on #4158
Please test with changing the timezone on the org edit page:
![image](https://user-images.githubusercontent.com/826458/31966959-dcfc28e8-b968-11e7-8035-2398bf741e48.png)

[2017-10-24 20:45] bradmac commented on #4235
@salehh93 note that "double click" is not used is web editing. This feature should use standard framework integrations for ckeditor.

[2017-10-24 20:56] Anton69arb opened #4247 "Dashboard alerts - embargo date selector is not selecting"
Heey hey :)
Dashboard alerts - embargo date selector is not working

![dashboard alerts - embargo date selector is not working](https://user-images.githubusercontent.com/32444328/31967346-20c462b0-b96a-11e7-965e-4b80229a55c8.png)

http://antontest.admin.kademi-ci.co/manageAlerts/

[2017-10-24 20:57] #4247 closed

[2017-10-24 21:16] Anton69arb opened #4248 "Dashboard alerts are not displaying"
Dashboard alerts are not displaying when a group is selected. When "None" is selected for the group, it does display

![dashboard is not working correctly](https://user-images.githubusercontent.com/32444328/31968329-536913b6-b96d-11e7-9a23-a80ddde7fc67.png)

http://version1.sweets-for-heavens.kademi-ci.co/dashboard

[2017-10-25 00:17] paddyow commented on #4242
This profile peteremployee@mailinator.com

KPI Customer Satisfaction KPI
http://moblix.admin.kademi-ci.co/sales/employee-customer-satisfaction-index/#general-tab
- Has records for July only
- Total of 6 records
- Target = 8 (averaged)

* This user should not be on track for July (which looks correct)
* This user should not have any data for Aug and Sept but when the date picker is changed, the KPI

[2017-10-25 01:29] tuzzmaniandevil opened #4249 "Google Maps Component: Can't select a result when using "Manually" option"
The list seems to show behind the config panel, Using the allow keys on the keyboard seems to work. Also once i've selected an address using the keyboard it changes all the components on the page, Not just the one you have selected.

http://googlemapsbug.gilpinperformance.kademi.com.au//theme/contenteditor?fileName=defaultThemeTemplate.html

Reported by Celine from Gilpin.

[2017-10-25 01:38] bradmac opened #4250 "Implement class filter for JS, Velocity and MVEL"

[2017-10-25 01:38] #3454 closed

[2017-10-25 01:57] bradmac commented on #4238
https://github.com/Kademi/kademi-dev/issues/4250

[2017-10-25 01:57] #4238 closed

[2017-10-25 01:57] #4250 closed

[2017-10-25 03:01] #4108 closed

[2017-10-25 03:01] #4102 closed

[2017-10-25 03:01] #4104 closed

[2017-10-25 03:02] bradmac commented on #4076
@mrdadah can you confirm if this is resolved now?

[2017-10-25 03:04] #3940 closed

[2017-10-25 03:05] #3825 closed

[2017-10-25 03:05] #4111 closed

[2017-10-25 03:06] Anton69arb commented on #4167
thank you, works and is running to spec :)

[2017-10-25 03:06] #4167 closed

[2017-10-25 03:57] ducdhm commented on #4242
Fixed!

[2017-10-25 04:03] ducdhm commented on #4166
Fixed!

[2017-10-25 04:11] gonzalon commented on #3478
In addition to what Brad said:

- In the properties of the journey:
![image](https://user-images.githubusercontent.com/2773216/31980160-27f17a68-b9a7-11e7-9f50-73cb3d9f756a.png)

- then in the website, lead page you are going to see:
![image](https://user-images.githubusercontent.com/2773216/31980215-711bca7c-b9a7-11e7-8314-90b3db71c3cd.png)

- if there is a file:
![image](https://user-images.gith

[2017-10-25 07:05] mrdadah commented on #4076
Tested 👍🏻

[2017-10-25 07:05] #4076 closed

[2017-10-25 07:17] ducdhm commented on #4235
@bradmac @salehh93 How about just add font-awesome plugin for ckeditor? They already have star (http://fontawesome.io/icon/star-o/, http://fontawesome.io/icon/star/) and half-star (http://fontawesome.io/icon/star-half-o/, http://fontawesome.io/icon/star-half/). Users can choose color and font-size for star by theirself

[2017-10-25 07:19] ducdhm commented on #4235
FontAwesome plugins:
 * https://ckeditor.com/cke4/addon/fontawesome
 * https://ckeditor.com/cke4/addon/ckeditorfa

[2017-10-25 07:23] bradmac commented on #4235
it would be good to use fontawesome stars.

the problem with images is that the colour is fixed, but we need the colour to be driven by the theme, ie LESS params

Should be easy to just replace the images with multiple spans with each star

[2017-10-25 07:32] ducdhm commented on #4235
Yeah, so what we need from this plugin:
 * Add rating config number of stars
 * Rated stars can be 1, 1.5, etc...
 * Total stars can be configurable and default is 5
 * Star icons are used font-awesome

[2017-10-25 07:51] ducdhm commented on #3735
@Uafinder 1, 2 and 3 are fixed. About 4, we allow user to upload only 1 photo per a promotion. I also hided  the preview panel of uploaded photo as your photo.

[2017-10-25 07:53] ducdhm opened #4251 "Can't override uploaded photo in promotion"
I added `override=true` when upload image in promotion form but I still get error message like:

[code]

[2017-10-25 08:02] paddyow opened #4252 "Cannot see menu items when editing defaultThemeTemplate"
http://moblix.admin.kademi-ci.co/pages/moblix-employees/version1/

![image](https://user-images.githubusercontent.com/2201340/31987294-159334aa-b9b7-11e7-9c21-463c21988d18.png)

[2017-10-25 08:11] AlaaKhalaf94 commented on #4248
passed

[2017-10-25 08:11] #4248 closed

[2017-10-25 09:07] salehh93 commented on #4158
can you test now please

[2017-10-25 09:32] bradmac commented on #4235
Not needed for now, maybe add in future when we have time

So should be just a small change :)

[2017-10-25 09:36] AlaaKhalaf94 commented on #3478
Hi @gonzalon , I add "field1 , field2 , field3" extra fields from properties of the journey , then I refresh the page , and those appear like this

![capture1](https://user-images.githubusercontent.com/26510030/31991525-a4089fe0-b980-11e7-824e-be47391bd7e9.PNG)

and I think the Stages appear in the same way cause the same problem
http://alaa-test15.admin.kademi-ci.co/funnels/journey1/version1/#pro

[2017-10-25 10:10] bradmac commented on #4252
OK, probably related to class filter

[2017-10-25 10:37] AlaaKhalaf94 opened #4253 "classes needs @Docs"
Here in following pages :
- @Docs needed . /hinda-settings/
- @Docs needed . /funnels/journey1/version1/#properties-tab

[2017-10-25 10:38] AlaaKhalaf94 commented on #3478
https://github.com/Kademi/kademi-dev/issues/4253

[2017-10-25 10:39] AlaaKhalaf94 commented on #4253
https://github.com/Kademi/kademi-dev/issues/3478

[2017-10-25 10:40] AlaaKhalaf94 commented on #4253
https://github.com/Kademi/client-hinda/issues/15

[2017-10-25 11:06] AlaaKhalaf94 commented on #4158
passed

[2017-10-25 11:06] #4158 closed

[2017-10-25 11:13] AlaaKhalaf94 commented on #4231
passed

[2017-10-25 11:13] #4231 closed

[2017-10-25 11:18] mkhoudary opened #4254 "Can't add more than 15 domain records"
For Zoetis:
https://zoetis.admin.kademi.com.au/hostedZones/Z625A6I9BSKWE

I need to add 4 MX records, but each time I try to add one others disappear.

I emailed you with the needed records.

[2017-10-25 13:56] mrdadah opened #4255 "In Content Editor I cannot choose queries from unpublished branches"
I've created a new version from queries repo, then I tried to choose my new query -which I've created in the new version- from **Content editor query table component**, but I found that it's not displayed in the list of the queries.

I think we should give the ability to choose the version of the query repo branch or something like that.

[2017-10-25 19:43] paddyow commented on #4242
Change the status of each KPI to....

You're on track (when in progress)
You're not on track (when in progress)
You hit your target (when the period is over)
You did not reach your target (when the period is over)

[2017-10-25 20:03] tuzzmaniandevil commented on #4254
With MX Records, You have one MX record with multiple lines, Not multiple records.

[2017-10-25 20:03] #4254 closed

[2017-10-25 20:24] bradmac commented on #4252
@tuzzmaniandevil would you like to look at this? i would say there is a class being denied which is used by the menu builder

[2017-10-25 20:26] bradmac commented on #4251
hey @gonzalon just need to update the createNew method to create or replace

[2017-10-25 20:27] bradmac commented on #3478
This is probably a class filter problem.

Please add @docs to ExtraField

[2017-10-25 20:47] tuzzmaniandevil commented on #4252
It's definitely getting the json from the server:
![screenshot-moblix-employees kademi-ci co-2017-10-26-09-43-23-039](https://user-images.githubusercontent.com/3378330/32022365-a4f14b84-ba32-11e7-84a3-8a94b600dac0.png)

[2017-10-25 20:56] tuzzmaniandevil opened #4256 "Hosted Zones DNS: Validate on record creation to make sure an existing record doesn't exist"

[2017-10-25 21:19] tuzzmaniandevil commented on #4252
Turned out to be a class filter error. All fixed

[2017-10-25 21:19] #4252 closed

[2017-10-25 21:45] gonzalon commented on #4253
Profile page:
![image](https://user-images.githubusercontent.com/2773216/32024937-c36e9d20-ba3a-11e7-98e8-2724e812094a.png)

[2017-10-25 21:48] bradmac opened #4257 "Achievement level progress component"
Create a component as part of the KRecognition app
- is configured for a topic
- displays the current level for the user
- displays progress towards the next level as a circle
- displays a background color and icon from the current level

![clipboard - october 26 2017 10-35 am](https://user-images.githubusercontent.com/826458/32033305-600adb12-ba68-11e7-8029-9251be4464ed.png)

[2017-10-25 22:22] gonzalon opened #4258 "Promotions picture upload issue"
By default when we enable the app enable  User uploads image

I can't upload a image:
![image](https://user-images.githubusercontent.com/2773216/32026141-77ee5818-ba3f-11e7-90de-3ac8e01be326.png)

To be able to do that I need to change the component settings to "Show user's photo"
![image](https://user-images.githubusercontent.com/2773216/32026209-d568931e-ba3f-11e7-8fbf-33ec45a39b54.png)

Compone

[2017-10-25 23:02] gonzalon commented on #4251
![image](https://user-images.githubusercontent.com/2773216/32027431-83d2feee-ba45-11e7-9ef5-b2e17372e431.png)

[2017-10-25 23:32] tuzzmaniandevil opened #4259 "RewardStoreFolder getMyBalance not using the selected org"
It's not using the Selected org for Org based Points Buckets, Resulting in the wrong points balance being returned

[2017-10-26 00:20] gonzalon commented on #3478
@AlaaKhalaf94 you should be able to test it now :)

[2017-10-26 00:37] bradmac commented on #4257
This is using the same markup as the KPI ontrack component, but i havent integrated CSS

![image](https://user-images.githubusercontent.com/826458/32029716-d229dd3a-ba52-11e7-87f1-d47bffcd75a5.png)

[2017-10-26 00:43] bradmac commented on #4257
Functional integration:
![image](https://user-images.githubusercontent.com/826458/32029845-94706e72-ba53-11e7-8036-e7c397ede7f2.png)

[2017-10-26 00:56] bradmac commented on #4257
And can now set colours on a level:
![image](https://user-images.githubusercontent.com/826458/32030138-7b2c4e70-ba55-11e7-9000-95d6dbbfc19d.png)

[2017-10-26 00:56] bradmac commented on #4257
@ducdhm can you complete front end integration please?

[2017-10-26 01:14] Anton69arb opened #4260 "modal is not big enough, cant view the text and picture"
issue: modal is not big enough, cant see the text and picture,
could we please make it bigger or have a click and pull button option to make it to a custom/inter-changeable window size please

its on every modal window - so if you able to do it for the entire kademi platform

![issue modal is not big enough cant see the text and picture](https://user-images.githubusercontent.com/32444328/32030495-

[2017-10-26 02:15] ducdhm commented on #4242
@paddyow I'll make them configurable for you. So you can change to anything you want

[2017-10-26 02:32] bradmac commented on #4183
@gonzalon can you look into this please?

[2017-10-26 02:38] bradmac commented on #4260
Please add the modal-lg class

[2017-10-26 02:44] #4025 closed

[2017-10-26 02:59] tuzzmaniandevil commented on #4171
The version option will always show now for custom apps. Not that any apps that have manually added the `version` selector will need to be updated

[2017-10-26 03:14] tuzzmaniandevil commented on #4191
That's because no SKU's have been setup here: http://moblix.admin.kademi-ci.co/skus/

[2017-10-26 03:16] tuzzmaniandevil commented on #4191
It works once I added the sku. I've made a small adjustment to show the sku code if we couldn't find a matching sku

[2017-10-26 03:26] gonzalon commented on #4183
please test with the latest forums-lib version 1.1.1

[2017-10-26 03:31] gonzalon commented on #3140
Added:
![image](https://user-images.githubusercontent.com/2773216/32033784-195527ba-ba6b-11e7-878d-b7088f70c884.png)

Sorting by phone its fixed

[2017-10-26 03:37] tuzzmaniandevil commented on #4071
If no reward store is configured and it's either on a RewardStoreFolder or RewardStoreCategoryFolder it will use that to get the reward store name

[2017-10-26 04:09] bradmac opened #4261 "ranking engagement in journeys"

[2017-10-26 04:14] gonzalon commented on #3773
@Uafinder seems ok to me

[2017-10-26 04:30] paddyow commented on #4049
Need the quiz to sit in its own container and not have a col-4 to the left as it makes it impossible to adjust the quiz page.

Update quiz questions and answer font as per psd and ensure there is margin above each question.

[2017-10-26 06:04] ducdhm commented on #4257
Done!

[2017-10-26 06:25] ducdhm commented on #4251
Passed!

[2017-10-26 06:25] #4251 closed

[2017-10-26 06:32] paddyow commented on #4257
- At the Topic name under the circle so it matches KPIs
- Make the progress bar the next level color

This user http://moblix.admin.kademi-ci.co/manageUsers/698106/#summary-tab
Has 180 hours recorded for time

Levels are http://moblix.admin.kademi-ci.co/recognition/1114291/
- Bronze 100
- Silver 200
- Gold 300

The bar does not look like it is 80% towards the next level.

![image](https://user-ima

[2017-10-26 06:37] AlaaKhalaf94 commented on #4253
Hi @gonzalon , Here also we need @Docs , in "Stages" , "Customer Activities" : http://alaa-test16.admin.kademi-ci.co/funnels/journey1/version1/#properties-tab

![capture1](https://user-images.githubusercontent.com/26510030/32038150-48982ea8-ba31-11e7-8aeb-5d958ced044e.PNG)

[2017-10-26 06:46] paddyow opened #4262 "Cannot delete learner registration journey"
http://moblix.admin.kademi-ci.co/funnels/

[2017-10-26 07:12] AlaaKhalaf94 commented on #4253
And here in accept modal :  http://alaa-test16.admin.kademi-ci.co/leads/1120117/#tasks-tab

![capture2](https://user-images.githubusercontent.com/26510030/32039254-0eabf8dc-ba36-11e7-95ce-c042216d405f.PNG)

[2017-10-26 07:18] paddyow commented on #4262
Ok so it looks like it will only allow me to if all the leads are deleted.  Is this intended?

[2017-10-26 07:21] ducdhm commented on #4257
Done!

[2017-10-26 08:11] paddyow opened #4263 "Test backup and restore"
Make a backup of this account http://moblix.admin.kademi-ci.co/

And restore it into a new account.  You will also need to copy across content using the admin URL.

Things to check, but is not limited to:

- [x] - All websites + webpages are copied across (note this failed when I did it) ( https://github.com/Kademi/kademi-dev/issues/4285 & https://github.com/Kademi/kademi-dev/issues/4286 )
- [x] -

[2017-10-26 08:26] AlaaKhalaf94 commented on #3478
Hi @gonzalon , please try to upload file to "Extra Field02" , then delete it , then try to upload file again to "Extra Field02" , it will show you this error

![capture1](https://user-images.githubusercontent.com/26510030/32042481-5eead390-ba40-11e7-91c6-3b4c4817516d.PNG)

admin : http://alaa-test16.admin.kademi-ci.co
in this page : http://version1.alaa-test16.kademi-ci.co/leads/1130593/

[2017-10-26 08:47] AlaaKhalaf94 opened #4264 "Upload fields buttons for funnels doesn't work well"
From view lead page : http://alaa-test16.admin.kademi-ci.co/leads/1123990/#information-tab

- Upload button doesn't work never
- Delete button shows wrong popup say "Saved OK!" , and doesn't delete file

![capture1](https://user-images.githubusercontent.com/26510030/32043545-b9b4e0d8-ba43-11e7-8186-ce6c6b28e657.PNG)

**Note** : The file that I try to delete , I've uploaded it from the website : ht

[2017-10-26 09:26] AlaaKhalaf94 commented on #4240
Attached picture is different from the link

- About attached picture , its work well with delete experiments : http://alaa-test16.admin.kademi-ci.co/experiments/

- About attached link , like this http://alaa-test16.admin.kademi-ci.co/experiments/1134572
there isn't check box to select which variant that I want to delete

![capture1](https://user-images.githubusercontent.com/26510030/32045405-cd3

[2017-10-26 09:47] AlaaKhalaf94 opened #4265 "Add variant in experiment doesn't work well"
http://alaa-test16.admin.kademi-ci.co/experiments/1135644

When I try adding a variant, enter the title and click the "Create" button, it shows me the pop-up saying "The operation wass successfully", and does not close modal
And need to refrech the page to see the new variant added

![capture1](https://user-images.githubusercontent.com/26510030/32046484-e30a328c-ba4b-11e7-86bb-3d2b52b8dafc.PNG)

[2017-10-26 09:51] ducdhm commented on #4258
Fixed!

[2017-10-26 20:42] mkhoudary opened #4266 "Module Status Importer not working with profile emails"
Module status importer doesn't work with profile emails, I tried to upload and got a could not locate profile by email error for 33K records although they are all valid profile emails.

[2017-10-26 20:43] mkhoudary commented on #4266
Fixed

[2017-10-26 20:48] mkhoudary opened #4267 "Showing more details during table importing"
I have noticed that the returned JSON while pulling the current table import status returns:
"updatedCount":##,"deletedCount":##,"errorCount":##,"createdCount":##"

It would be good to show those records under the progress bar so the user importing data could get notified if something is going wrong, especially when importing huge amount of data.

[2017-10-26 20:50] mkhoudary opened #4268 "Add the ability to see import in progress"
If I refreshed import page by mistake.. I can no longer see the import process in progress.. and so I can't cancel if I want to .

[2017-10-26 21:54] #4257 closed

[2017-10-26 22:05] bradmac commented on #4232
I've updated libs, and seems to be working now
![image](https://user-images.githubusercontent.com/826458/32079318-b4bb4036-bb06-11e7-863e-81049b28a6d9.png)

[2017-10-26 22:06] bradmac commented on #4262
I've just checked with a funnel which has leads. It was able to delete the funnel successfully.

Can you please let me know which funnel you cant delete?

[2017-10-26 22:11] bradmac commented on #4255
If users could select a version for each query they use it would be chaos, that would mean there is no concept of a live branch, because any branch could be in use.

It would be good to be able to develop queries and test them (just in isolation, not in report pages)

We could do this by allowing selection of a branch on the manage queries page:

![image](https://user-images.githubusercontent.com/

[2017-10-26 22:48] gonzalon commented on #4253
Both should be fixed!

[2017-10-26 22:51] gonzalon commented on #4240
Ups sorry, misunderstood.
Now you can delete variants too.

![image](https://user-images.githubusercontent.com/2773216/32080589-140d43da-bb0d-11e7-91e5-2111f5b5d3ee.png)

[2017-10-26 22:56] gonzalon commented on #4258
Seems ok!

[2017-10-26 22:56] #4258 closed

[2017-10-26 23:31] tuzzmaniandevil commented on #4217
1. Yes that is correct :-)
2. Updated the logic. If we find a profile with a matching email address we will use that email address. Otherwise we create a profile.

[2017-10-26 23:43] bradmac opened #4269 "Update admin funnel management page, to move leads to a seperate page"
This should improve performance of the management page and make it easier to enhance lead searching

[2017-10-26 23:46] bradmac commented on #4269
New manage lead page -
![image](https://user-images.githubusercontent.com/826458/32081936-c5b5f490-bb14-11e7-8557-9380db9a7563.png)

[2017-10-26 23:46] bradmac commented on #4269
New leads page:

![image](https://user-images.githubusercontent.com/826458/32081963-e6927f76-bb14-11e7-91b3-198cda6b6fc5.png)

[2017-10-27 00:02] tuzzmaniandevil commented on #4218
This was caused by the new Class filter stuff. Fixed now

[2017-10-27 02:24] tuzzmaniandevil commented on #4267
![image](https://user-images.githubusercontent.com/3378330/32084700-2f0d877a-bb27-11e7-935c-32eea2f3a9b1.png)

[2017-10-27 02:42] #1752 closed

[2017-10-27 02:42] #1762 closed

[2017-10-27 02:43] bradmac commented on #2379
Might be done already..

[2017-10-27 02:44] #2373 closed

[2017-10-27 02:44] #2353 closed

[2017-10-27 02:45] bradmac commented on #2327
The create process should find a unique name, we do this in other places

[2017-10-27 02:47] bradmac commented on #2131
done

[2017-10-27 02:47] #2131 closed

[2017-10-27 02:49] #1904 closed

[2017-10-27 02:50] bradmac commented on #1829
not needed

[2017-10-27 02:50] #1829 closed

[2017-10-27 02:50] #1790 closed

[2017-10-27 02:56] bradmac commented on #2795
Hey @ducdhm we really should be creating pages with keditor. But i think we might need the overlay editor so its in the same page, rather then opening a new tab

[2017-10-27 02:56] #2771 closed

[2017-10-27 02:57] #2730 closed

[2017-10-27 02:58] #2660 closed

[2017-10-27 02:59] #2614 closed

[2017-10-27 03:00] #2586 closed

[2017-10-27 03:01] #2390 closed

[2017-10-27 03:06] bradmac commented on #3078
Done!

[2017-10-27 03:06] #3078 closed

[2017-10-27 03:06] #2863 closed

[2017-10-27 03:06] #2798 closed

[2017-10-27 03:07] #3752 closed

[2017-10-27 03:08] bradmac commented on #3747
This is effectively done now with dynamic groups

[2017-10-27 03:08] #3747 closed

[2017-10-27 03:44] gonzalon opened #4270 "License expired can't access page to upgrade."
If the license is expired and the user its trying to access the admin site it'd redirect it to the /license page.

[2017-10-27 07:39] paddyow opened #4271 "Created a new journey but it has no leads tab?"
http://moblix.admin.kademi-ci.co/funnels/test/version1/#journeyBuilder-tab

Seems to be the case with all journeys in this account.  Was this intentional?

![image](https://user-images.githubusercontent.com/2201340/32092936-2e3e1a34-bb46-11e7-8d09-f446a9cf7092.png)

[2017-10-27 07:43] paddyow commented on #4271
platform update, ignore.

[2017-10-27 07:43] #4271 closed

[2017-10-27 07:45] paddyow commented on #4262
I tested with another account and was able.  The prior journey I deleted after removing the lead.  Will close the issue as I cannot reproduce.

[2017-10-27 07:45] #4262 closed

[2017-10-27 07:47] #4227 closed

[2017-10-27 07:48] #4194 closed

[2017-10-28 22:37] bradmac opened #4272 "ecom products list component, layout breaks in list mode"
![image](https://user-images.githubusercontent.com/826458/32139122-712b4ef4-bc9d-11e7-8db3-3c27bb1bfb1d.png)

Screeen shot from here - http://milton.io/milton-store/ - but i need to update that site to work now

[2017-10-29 06:30] AlaaKhalaf94 commented on #4240
passed

[2017-10-29 06:30] #4240 closed

[2017-10-29 13:42] salehh93 commented on #4235
done

[2017-10-29 21:37] gonzalon commented on #4270
login / license
![image](https://user-images.githubusercontent.com/2773216/32148594-4b300c1e-bd5e-11e7-9dbf-c801b39bee65.png)

[2017-10-29 21:37] #4270 closed

[2017-10-30 00:21] gonzalon opened #4273 "NPE at query the leaderboard in KPI when no membership"
`	at org.apache.velocity.runtime.parser.node.ASTMethod.handleInvocationException(ASTMethod.java:258)
	at org.apache.velocity.runtime.parser.node.ASTMethod.execute(ASTMethod.java:213)
	at org.apache.velocity.runtime.parser.node.ASTReference.execute(ASTReference.java:292)
	at org.apache.velocity.runtime.parser.node.ASTReference.value(ASTReference.java:579)
	at org.apache.velocity.runtime.parser.node

[2017-10-30 01:19] paddyow commented on #4263
@tuzzmaniandevil can you copy

http://moblix.admin.kademi-ci.co/

Into...

http://synchro.admin.kademi.com.au/

[2017-10-30 01:39] tuzzmaniandevil opened #4274 "Backup/Restore: Add Alerts App"

[2017-10-30 02:27] bradmac commented on #4261
Here's an example config:

[code]

[2017-10-30 03:17] bradmac commented on #4261
@anhnt can you assist with the UI of manageFunnel.html

![image](https://user-images.githubusercontent.com/826458/32153183-c40799e8-bd8d-11e7-8f45-dd44e44227aa.png)

[2017-10-30 03:57] paddyow opened #4275 "Registration component"
Update rego component like below:

1) Remove the LHS padding to it aligns left with the continer
2) Add an extra option to redirect to another webpage vs using the modal popup

![image](https://user-images.githubusercontent.com/2201340/32154120-8ed7f55c-bd82-11e7-967c-20763f0317b5.png)

[2017-10-30 04:20] anhnt commented on #4275
done

[2017-10-30 06:21] ducdhm commented on #4235
@salehh93 A couples of comments of https://github.com/Kademi/kademi-dev/commit/1aed1ef6d59cb9d50068ff6e94b7bf8b715b87c5
1. You dont need `/static/jqte/jquery-te-1.4.0.css` and `/static/jqte/jquery-te-1.4.0.js` for this plugin. Please remove them
1. Line 194 has `alert`. You should remove it
2. Line 252  and 258, the group should be different. `imageGroup` is just for images element
3. Display text

[2017-10-30 06:47] paddyow opened #4276 "Emoitcon Feedback not showing in email"
http://moblix.admin.kademi-ci.co/funnels/nurture-campaign/version1/emailAction-69b47d/#message-tab

![image](https://user-images.githubusercontent.com/2201340/32157861-3c6f3ca4-bd9a-11e7-890a-b9f37c3ca839.png)

However it is selected.

![image](https://user-images.githubusercontent.com/2201340/32157875-4e240042-bd9a-11e7-8246-7e9523461e41.png)

This is the landing page to start the journey http://

[2017-10-30 08:06] Uafinder commented on #4232
yup, looks ok. I will keep an eye on it

[2017-10-30 08:25] anhnt commented on #4261
done

[2017-10-30 08:28] Uafinder commented on #4230
it looks ok at the moment... I will keep an eye on it

[2017-10-30 08:33] Uafinder commented on #4061
It works!

[2017-10-30 08:33] #4061 closed

[2017-10-30 08:47] salehh93 commented on #4235
I am fixed all and the alert by mistake

[2017-10-30 08:48] Uafinder commented on #4173
Looks ok at the moment

[2017-10-30 09:26] Uafinder commented on #4173
Same error on leads company page
![image](https://user-images.githubusercontent.com/1945230/32163484-1acbea78-bd65-11e7-82b1-c4617fb15b3a.png)
http://vlad25-leads.kademi-ci.co/companies/1195947

[2017-10-30 09:34] Uafinder commented on #4218
![image](https://user-images.githubusercontent.com/1945230/32163784-19420c36-bd66-11e7-8a4f-eeb45ab59f0a.png)
The field source are still preselected when create lead after creation of another one.
http://vlad25-leads.kademi-ci.co/leads/?query=&leadType=active
http://vlad25-test.admin.kademi-ci.co/funnels/journey1/version1/#properties-tab

[2017-10-30 09:44] Uafinder opened #4277 "Leads manage page quick edit need enhancement"
http://vlad25-leads.kademi-ci.co/leads/?query=&leadType=active
1. Go to the leads page
2. Try to change source value.
3. If it was empty it will be filled out by first from list.
4. If it's not your choice (for example you need another source) everything will be ok, but if it is your choice, and you just leave cell - it will not save value. So you will need to setup incorrect value and then change

[2017-10-30 09:59] AlaaKhalaf94 opened #4278 "Content of page is disappear when I change the title from its Properties"
I create page and I put code on it , then I try to change the title from its properties
After that when I view the page , the content of page is disappear

To reproduce this issue , do the following , please:
- Here : http://alaa-test18.admin.kademi-ci.co/pages/alaa-test18/version1/ , make view to "page-five"
- Change its title
- View the page again , you'll see that the content disappear

The pro

[2017-10-30 10:40] anhnt opened #4279 "Ecom store error"
http://anh.admin.kademi-ci.co/ecommerce/my-store/#general-tab

![image](https://user-images.githubusercontent.com/735555/32166732-556d0692-bd99-11e7-9aec-369a751f90b8.png)

[2017-10-30 11:07] Uafinder commented on #4217
Yup, it works!

[2017-10-30 11:07] #4217 closed

[2017-10-30 11:18] Uafinder commented on #4198
Yup, it works...

[2017-10-30 11:18] #4198 closed

[2017-10-30 11:57] Uafinder commented on #4209
![image](https://user-images.githubusercontent.com/1945230/32169677-336b0752-bd7a-11e7-9f49-6d7c067f49f3.png)
So, if you say that it should appears always, why it's absent here.
http://vlad25-test.admin.kademi-ci.co/rewards/points/

[2017-10-30 12:36] Uafinder commented on #4154
It works!

[2017-10-30 12:36] #4154 closed

[2017-10-30 12:49] Uafinder opened #4280 "KEditor images bugs"
1. When you set image to align, it doesn't show alignment in editor body and editor summary.
![image](https://user-images.githubusercontent.com/1945230/32171209-0a51b612-bd80-11e7-8af9-574b52c2ffc3.png)
![image](https://user-images.githubusercontent.com/1945230/32171399-9f255d84-bd80-11e7-99d1-1bf5bbbc5eb9.png)
Result will be such kind.
![image](https://user-images.githubusercontent.com/1945230/32

[2017-10-30 12:57] Uafinder commented on #4135
Works great!

[2017-10-30 12:57] #4135 closed

[2017-10-30 13:09] Uafinder opened #4281 "Email send page enhancement for pop-ups."
For creation it works great.
![image](https://user-images.githubusercontent.com/1945230/32172298-c7102d4e-bd83-11e7-9994-18592ef9a43e.png)
But for deletion it wrote it's ID.
![image](https://user-images.githubusercontent.com/1945230/32172315-d6b8a5dc-bd83-11e7-98b6-69f90834785c.png)
http://vlad-test24.admin.kademi-ci.co/groupEmails/

The same thing with templates.

Also would be great to add email

[2017-10-30 13:44] Uafinder opened #4282 "Create organisation - org type dropdown is empty"
![image](https://user-images.githubusercontent.com/1945230/32173685-7701954a-bd88-11e7-955d-cb50711ebffb.png)
http://vlad-test24.admin.kademi-ci.co/organisations/
1. Create organization - there is no possibility to specify org type while creating. When editing - all seems to be fine.

2. Probably would be good to change modal header to Add new organisation not Edit organisation.
![image](https://u

[2017-10-30 13:46] Uafinder opened #4283 "Root organisation for account appears in org list"
![image](https://user-images.githubusercontent.com/1945230/32174014-60c2ec88-bd89-11e7-942d-ce13be7951be.png)

Probably would be great to hide it.
It become visible after re-index.

http://vlad25-test.admin.kademi-ci.co/organisations/

[2017-10-30 14:04] Uafinder commented on #3985
it works great!

[2017-10-30 14:04] #3985 closed

[2017-10-30 14:05] Uafinder opened #4284 "SKU's page import/export button and dropdown does nothing"
![image](https://user-images.githubusercontent.com/1945230/32174992-20eee320-bd8c-11e7-9ac6-3681c3f5b082.png)
http://vlad25-test.admin.kademi-ci.co/skus/

[2017-10-30 14:22] Uafinder commented on #4098
Looks pretty

[2017-10-30 14:22] #4098 closed

[2017-10-30 15:03] Uafinder commented on #3735
doh, it doesn't works at all
1. Create a page
2. Add a component
3. select promo and edit available fields - set checkboxes
4. Push save
5. refresh page
6. No checkboxes selected

[2017-10-30 20:43] bradmac commented on #4261
I'll add some more scoring factor types
- reward store
- ecom

[2017-10-30 20:46] bradmac commented on #4218
I think this is a good thing. If a user is entering multiple leads it will often be the case that many fields will be the same.

But that is a bug!

[2017-10-30 21:03] bradmac commented on #4277
@ducdhm maybe we should change from a select input to a bootstrap button dropdown? then we can save on click. We could do onclick with a select as well, but the problem is a user can scroll through the list so can select without clicking.

[2017-10-30 21:06] bradmac commented on #4209
OK, we should add it to that list as standard

[2017-10-30 21:11] tuzzmaniandevil opened #4285 "Add support for new website name structure {websiteName}_{adminOrgId}"
We will still need to support the original structure of `{websiteName}.kademi.com.au` but also the new structure `{websiteName}_{adminOrgId}.kademi.com.au`

This is so a website name isn't unique across the platform, But only for an account. This makes restoring a backup from one account to another much easier where you want to keep the website name the same.

[2017-10-30 23:03] tuzzmaniandevil opened #4286 "Install Marketplace app causes error if a custom app with the same name already exists"

[2017-10-30 23:07] paddyow opened #4287 "Choosing an existing lead"
When creating a new lead I should be able to:

1) Enter a first name, then choose from an existing contact and have its contact and company details populate.  (Currently the company does not pre-populate.  I think this should default and can be changed if needed.)
2) Enter an email address and choose from a list of contacts (current entering an email does not pull up a list of contacts even though

[2017-10-30 23:29] gonzalon opened #4288 "KEditor container don't allow edit content"
The container had this class `.keditor-highlighted-dropzone` in the column settings:

Which didnt allow to edit the content itself.

I deleted that, saved and now I'm seeing `keditor-sub-container-content` class and working fine.

Site: http://versionnew.gilpinperformance.kademi.com.au/contenteditor?fileName=our-team-test.1.1.1.html

[2017-10-30 23:57] #4273 closed

[2017-10-31 01:19] bradmac opened #4289 "Integrate engagement scoring framework with custom apps"
Extension to https://github.com/Kademi/kademi-dev/issues/4261

Implement EngagementScoringFactorType and integrate with repository apps

Do initial implemention with KFeedback

[2017-10-31 01:55] bradmac commented on #4261
Supported factors:
![image](https://user-images.githubusercontent.com/826458/32203997-9793e06a-be4b-11e7-94b8-c108fcda066c.png)

[2017-10-31 02:25] bradmac commented on #4261
Integrated ranked listing with the admin leads page:
![image](https://user-images.githubusercontent.com/826458/32204714-ca05561a-be4f-11e7-8fa1-512c00db8559.png)

[2017-10-31 02:27] bradmac commented on #4261
Still need to integrate with search fields, and then use in LeadMan front end

[2017-10-31 02:48] anhnt commented on #4281
Done

[2017-10-31 03:02] ducdhm commented on #4235
@salehh93 I have checked this plugin and seem like it can't let me edit the rating.

![bug](https://user-images.githubusercontent.com/1289631/32205576-9412a7c4-be22-11e7-9c08-fa407688ee41.png)

![bug2](https://user-images.githubusercontent.com/1289631/32205579-96ba65fc-be22-11e7-85f5-191775eedc7e.png)

[2017-10-31 03:04] ducdhm commented on #4235
@salehh93 And one more thing, can you switch to span tag instead of a tag?

[2017-10-31 03:21] #4286 closed

[2017-10-31 03:57] anhnt commented on #4110
done

[2017-10-31 06:10] ducdhm commented on #4276
@bradmac Can you double-check with it? Seem like we can't find db. I tried:
 * `$applications.KongoDB.findDatabase()`
 * `$page.find("/jsondb").child()`
 * `$page.find('jsondb').child()` in KodeJS

None of them work

[2017-10-31 07:08] AlaaKhalaf94 commented on #4253
Hi @gonzalon , here in view lead page , in Tasks tab in "Task View Modal" : http://alaa-test19.admin.kademi-ci.co/leads/1234336/#tasks-tab
I still see the "$outcome.title"

![capture1](https://user-images.githubusercontent.com/26510030/32211424-193911b6-be1b-11e7-9614-852f590abf54.PNG)

[2017-10-31 07:36] Uafinder commented on #4281
It works!

[2017-10-31 07:36] #4281 closed

[2017-10-31 08:45] AlaaKhalaf94 commented on #4265
Hi @ducdhm , I can't see your update
I test here : http://alaa-test19.admin.kademi-ci.co/experiments/1234964

[2017-10-31 08:53] Uafinder opened #4290 "Training results menu should be highlighted when you're on this page"
![image](https://user-images.githubusercontent.com/1945230/32215114-af74f3d0-be29-11e7-9417-a127d1d78cb2.png)
http://vlad-test26.admin.kademi-ci.co/training/?startDate=25%2F10%2F2017&endDate=31%2F10%2F2017

[2017-10-31 08:55] Uafinder opened #4291 "Training results search field should be wider and it's not work at all"
![image](https://user-images.githubusercontent.com/1945230/32215202-fd427902-be29-11e7-88cc-ca6107683df4.png)
http://vlad-test26.admin.kademi-ci.co/training/?startDate=25%2F10%2F2017&endDate=31%2F10%2F2017

1. Should be wider
2. Context search is not work. When press enter search are initiated but find nothing.

[2017-10-31 09:19] Uafinder commented on #4203
1. Probably need to add validation for program, course, and module existed to avoid possibility of adding fake data.

2.

[2017-10-31 09:21] Uafinder opened #4292 "Table uploaders minor bug"
1. Access any table uploader
2. Upload file
3. Do some import
4. Then leave page and then go back to table uploader again.
5. It will show you error with "Please upload file first" thing.

![image](https://user-images.githubusercontent.com/1945230/32216393-948ef0d0-be2d-11e7-93f9-b88ca8ee943a.png)

http://vlad-test26.admin.kademi-ci.co/tableUploaders

[2017-10-31 09:25] AlaaKhalaf94 commented on #3478
Hi @gonzalon ,  I try to upload file to "Extra01:" , then delete it , then try to upload file again to "Extra01:" , it doesn't work with me to upload file again
http://version1.alaa-test19_alaa-test19.kademi-ci.co/leads/1234336/

The appearance of the buttons becomes corrupted when the loaded file name is large
![capture1](https://user-images.githubusercontent.com/26510030/32216627-36504612-be2e-1

[2017-10-31 09:40] AlaaKhalaf94 commented on #4264
Hi @gonzalon , Here : http://alaa-test19.admin.kademi-ci.co/leads/1234336/#information-tab
I see the same problem that I wrote here for you : https://github.com/Kademi/kademi-dev/issues/3478#issuecomment-340706014

[2017-10-31 09:44] bradmac commented on #4203
No, we actually need to allow users to import historical data which might not correspond to current course structure

[2017-10-31 09:45] bradmac commented on #4203
If you provide a profileID (ie username) and there is no such user, that should be a validation failure

[2017-10-31 09:51] anhnt commented on #4020
![image](https://user-images.githubusercontent.com/735555/32217827-bd3ed148-be5b-11e7-8420-55bb00548fe3.png)
Done

[2017-10-31 09:58] anhnt commented on #3475
doing this now

[2017-10-31 10:36] AlaaKhalaf94 commented on #4200
That passed , and "add option" button work well with me , but this linked on other modal , that's in the same page , in records tab , in create records modal

Ex :
- here : http://alaa5.admin.kademi-ci.co/sales/training-data/#general-tab at the bottom of the page I  add an extra field "description01" "Did you have learned 01"  and I add two options on it "yes,No" .

- In the same page , in records

[2017-10-31 11:03] Uafinder commented on #4266
It works for me at the moment

[2017-10-31 11:03] #4266 closed

[2017-10-31 11:14] Uafinder commented on #4267
Works perfect

[2017-10-31 11:14] #4267 closed

[2017-10-31 11:27] Uafinder commented on #4268
It works perfect!

[2017-10-31 11:27] #4268 closed

[2017-10-31 11:52] AlaaKhalaf94 commented on #4064
passed

[2017-10-31 11:52] #4064 closed

[2017-10-31 11:55] Uafinder opened #4293 "Training results page enhancements"
1. Columns sorting
![image](https://user-images.githubusercontent.com/1945230/32222702-fdbe2b56-be42-11e7-9398-e873071e06b7.png)

2. Possibility to delete training result.

http://vlad-test26.admin.kademi-ci.co/training/?startDate=25%2F10%2F2017&endDate=31%2F10%2F2017

[2017-10-31 13:12] Uafinder commented on #1670
1. No preview when select points bucket
![image](https://user-images.githubusercontent.com/1945230/32225092-9cd139fa-be4c-11e7-8683-51b27d16bf2d.png)

2. Something with timezone
![image](https://user-images.githubusercontent.com/1945230/32225378-a9cdac5a-be4d-11e7-8837-7e5343252a38.png)
![image](https://user-images.githubusercontent.com/1945230/32225417-cc080de2-be4d-11e7-8e3d-eb7bf64d2a58.png)

3

[2017-10-31 13:19] Uafinder commented on #4285
for example you logged in to site
http://version1.vlad26-learn_vlad-test26.kademi-ci.co/dashboard
when you change it to http://version1.vlad26-learn.kademi-ci.co/dashboard (for example it has some old link) system asks for enter credentials
Looks like incorrect, site is not changing.

[2017-10-31 13:38] Uafinder commented on #4174
The same situation
![image](https://user-images.githubusercontent.com/1945230/32226525-6c6d299a-be51-11e7-89f2-4ae269d27243.png)
http://vlad26-leads_vlad-test26.kademi-ci.co/leads/1260650/

[2017-10-31 13:59] Uafinder commented on #4020
looks bad in a base lib
![image](https://user-images.githubusercontent.com/1945230/32227587-7a23339c-be54-11e7-811b-736eb0dd10df.png)

http://vlad27-leads_vlad-test27.kademi-ci.co/leads/?query=&leadType=active
http://vlad-test27.admin.kademi-ci.co/websites/

Fresh account

[2017-10-31 14:13] anhnt commented on #4020
Hi @Uafinder
Please upgrade leadman-lib

![image](https://user-images.githubusercontent.com/735555/32228273-63bb32fe-be80-11e7-82de-18d641362072.png)

[2017-10-31 14:14] anhnt commented on #4020
http://vlad-test27.admin.kademi-ci.co/websites/vlad27-leads/version1/#panel_apps-tab

[2017-10-31 14:34] anhnt commented on #4020
Actually I should update bootstrap-base to depend on latest leadman-lib and themes to depend on latest bootstrap-base. Please re-check in fresh account

[2017-10-31 14:37] ducdhm commented on #3735
Fixed!

[2017-10-31 14:39] anhnt commented on #4174
Please create new fresh account or update leadman-lib and re-check

[2017-10-31 14:40] ducdhm commented on #4278
@bradmac The main issue of it is because Alaa used custom template which does not exist in Page template list. So everytime she edit properties of page in Edit web page screen, the template is save with other value. So what should we do with this case?

[2017-10-31 20:15] bradmac commented on #4293
:+1:

[2017-10-31 20:55] bradmac commented on #4278
@ducdhm i can see one custom template:
![image](https://user-images.githubusercontent.com/826458/32248489-b780251a-beea-11e7-890d-c0f4de6792cd.png)

And i can see that this is in the page template list:
![image](https://user-images.githubusercontent.com/826458/32248510-c7a2148a-beea-11e7-8066-ae0d7a402758.png)

So can you please confirm what you mean about the template not being in the list?

[2017-10-31 20:58] bradmac commented on #4278
I've just checked that i can edit the page title without losing content. So i cannot reproduce any problem

![image](https://user-images.githubusercontent.com/826458/32248631-1d3e9bb6-beeb-11e7-9a92-7943c2ee2f57.png)

![image](https://user-images.githubusercontent.com/826458/32248638-25105366-beeb-11e7-9c14-64ec62251eaa.png)

[2017-10-31 21:36] bradmac commented on #4276
@ducdhm the problem is just that KongoDB is not enabled in that website:
![image](https://user-images.githubusercontent.com/826458/32250185-600b2946-bef0-11e7-9369-1691938706fe.png)

kfeedbackapp doesnt have a dependencies.json file, so it currently doesnt have any dependencies, which is incorrect

Please create dependencies.json in kfeedbackapp and add a dependency on KongoDB, and anything else t

[2017-10-31 23:21] tuzzmaniandevil commented on #4285
@Uafinder Both links asks me to login. Maybe you are logged into the top one already. Remember login details are specific to the domain name, So if the domain name changes you won't be logged in anymore.

Once I logged into both links they site was the same

[2017-11-01 01:00] bradmac commented on #4285
@Uafinder it is expected that the login state on one domain will not apply to a different domain, even when they represent the same underlying website

[2017-11-01 02:33] bradmac opened #4294 "Import users button doesnt work"
![image](https://user-images.githubusercontent.com/826458/32257424-e9706c22-bf19-11e7-80b1-84fbd30e6e13.png)

Note there are no messages in console log

http://travelworld.admin.kademi.com.au/tableUploaders/usersUploader

[2017-11-01 02:34] bradmac commented on #4294
[example-iser.xlsx](https://github.com/Kademi/kademi-dev/files/1432930/example-iser.xlsx)

[2017-11-01 02:55] anhnt commented on #4276
Added KongoDB to kfeedback app dependencies

[2017-11-01 02:59] ducdhm commented on #4294
Fixed!

[2017-11-01 03:00] ducdhm commented on #4294
Issue here is we force `min=1` for startRow textbox. So in your example excel file, startRow is 0 and browser prevents our form submit because of invalid value.

[2017-11-01 03:00] bradmac opened #4295 "Group emails time to send"
Please add a feature for group emails to be sent at a particular date/time
- add a date/time field to group email properties
- when the email is sent, emails should be generated normally
- but emails should only be sent after that date/time is passed, or its null

Two ways to do this
- copy the date/time field to each email item and make it a restriction in EmailItem.findToSend
- OR, create the ne

[2017-11-01 04:04] ducdhm commented on #4015
I fixed Load more button stuff.

[2017-11-01 04:13] ducdhm commented on #4278
@AlaaKhalaf94 I also checked same way as @bradmac, I can't reproduce your issue too. Can you double-check again?

[2017-11-01 04:24] ducdhm commented on #4077
@Uafinder As following bootstrap doc (https://getbootstrap.com/docs/3.3/components/#jumbotron), when jumbotron in `.container`, it'll have border-radius. So I removed this option completed. So if you want rounded corner for jumbotron, just need set layout of container which contain it is `Box`.

[2017-11-01 04:33] anhnt commented on #4288
cant reproduce with latest k-theme

[2017-11-01 04:44] ducdhm commented on #4095
Fixed!

[2017-11-01 05:24] anhnt commented on #4024
Its working for me. Anw i just added border radius small and large option to customize

![image](https://user-images.githubusercontent.com/735555/32261202-95fe32f0-beff-11e7-94bb-3e121a9f867c.png)

[2017-11-01 05:39] ducdhm commented on #4114
Fixed!

[2017-11-01 06:30] ducdhm commented on #4120
Front-end is done!

@bradmac I used `?goto` for previewing content but all I got is `The host name version1_rootorg.local-store.loopbackdns.com:8080 was not found on this server, or its license is invalid`.

Can you help me take a look at it?

[2017-11-01 06:46] ducdhm commented on #4126
Fixed!

[2017-11-01 06:50] ducdhm commented on #4177
@Uafinder Can you double-check again? It's working normally in my side. Can you close setting panel to check as well as?

[2017-11-01 06:55] ducdhm commented on #4216
Fixed!

[2017-11-01 06:56] ducdhm commented on #4192
Duplicated with https://github.com/Kademi/kademi-dev/issues/4241

[2017-11-01 06:56] #4192 closed

[2017-11-01 06:58] ducdhm commented on #4028
Duplicated with https://github.com/Kademi/kademi-dev/issues/4249

[2017-11-01 06:58] #4028 closed

[2017-11-01 07:01] ducdhm commented on #4244
Already fixed!

[2017-11-01 07:18] Uafinder commented on #4174
It works!

[2017-11-01 07:18] #4174 closed

[2017-11-01 07:45] Uafinder commented on #4020
Looks ok at the moment!

[2017-11-01 07:45] #4020 closed

[2017-11-01 07:47] Uafinder commented on #4285
Understood

[2017-11-01 07:47] #4285 closed

[2017-11-01 07:58] Uafinder commented on #3140
Descending sorting incorrect looks like on all fields.
For example when you sort by "Type" asc - filled up should be on the top, when desc - should be on the bottom.
![image](https://user-images.githubusercontent.com/1945230/32265305-244672f8-beeb-11e7-8715-059cac5e674d.png)

And for example Address desc - numbers will be always on top of the list.
![image](https://user-images.githubusercontent.co

[2017-11-01 07:58] ducdhm commented on #4249
Fixed!

[2017-11-01 08:00] anhnt opened #4296 "Error when editing template with non-live version"
To reproduce go to here and click to a template to edit: http://anh.admin.kademi-ci.co/pages/test2/version2/
Live version is version1 which is working, but not working when in non-live version
[code]

[2017-11-01 08:42] Uafinder commented on #4077
Understood!

[2017-11-01 08:42] #4077 closed

[2017-11-01 08:53] Uafinder commented on #4269
1. Paginator should be implemented. Only 10 leads are showing on the page.
![image](https://user-images.githubusercontent.com/1945230/32266960-30be6eda-bef2-11e7-9f2a-b39500f5635c.png)

2. What is the score parameter?

3. Is there should be bottom com.fuselms.apps.funnels.manage... stuff?

4. Sorting by email, date, stage would be good.

5. When you edit some lead, and then try to go back, you're

[2017-11-01 09:09] Uafinder commented on #4177
Ahhhr... it's hide besides options side panel... sorry!

[2017-11-01 09:09] #4177 closed

[2017-11-01 09:25] Uafinder commented on #3908
It's ok at the moment.
About sending performance - it should be tested on prod by using production environment.

[2017-11-01 09:25] #3908 closed

[2017-11-01 09:37] AlaaKhalaf94 commented on #4265
passed

[2017-11-01 09:37] #4265 closed

[2017-11-01 10:02] Uafinder opened #4297 "Incorrect link for preview for promotion page"
![image](https://user-images.githubusercontent.com/1945230/32269911-898d6ffc-befc-11e7-9639-a6571b7dfb87.png)
![image](https://user-images.githubusercontent.com/1945230/32269917-8ec7d322-befc-11e7-8c1c-e533b436168c.png)
http://vlad-test27.admin.kademi-ci.co/rewards/promo1/#entryForm-tab

[2017-11-01 10:05] AlaaKhalaf94 commented on #4171
checked

[2017-11-01 10:05] #4171 closed

[2017-11-01 10:16] anhnt commented on #4277
added a placeholder so that the first option will not be selected at the first time
![image](https://user-images.githubusercontent.com/735555/32270398-5fc0fadc-bf28-11e7-9c07-4b1594a2bde9.png)

[2017-11-01 10:55] Uafinder commented on #3994
those ones are ok

[2017-11-01 10:55] #3994 closed

[2017-11-01 11:01] Uafinder opened #4298 "Promotion page - can't submit enter because"
![image](https://user-images.githubusercontent.com/1945230/32271837-679bab54-bf04-11e7-95a7-9da83b5b66d7.png)
![image](https://user-images.githubusercontent.com/1945230/32271939-c2d9b0ba-bf04-11e7-8bde-a923356eca1f.png)

Just a simple entry form for anonymous user but it can be submitted. Please note, that user fields are not visible. probably it could be dedicated to developing separate promotion

[2017-11-01 11:05] Uafinder commented on #4216
yup, works fine

[2017-11-01 11:05] #4216 closed

[2017-11-01 11:55] Uafinder commented on #4232
Spot it again:
1. Create a fresh account
2. Create an admin user for me
3. Login by this user: adminqa@mailinator.com
4. Create a website
5. Install there learning app and enable there reporting app
6. Go to edit content and created learn.html page
7. Try to edit it, but content editor stucks...
8. Same sit while trying to edit home page.
http://vlad-test28.admin.kademi-ci.co/websites/vlad28-learn

[2017-11-01 12:26] mkhoudary opened #4299 "NPE when using VouchersApp"
When booking a voucher, an NPE is thrown and the import fails.

[2017-11-01 12:49] AlaaKhalaf94 commented on #4024
checked

[2017-11-01 12:49] #4024 closed

[2017-11-01 12:50] Uafinder commented on #4084
Nope,
Last active parameter is always empty
![image](https://user-images.githubusercontent.com/1945230/32275092-8bda168c-bf12-11e7-8b46-3701cfe92c93.png)
![image](https://user-images.githubusercontent.com/1945230/32275282-50e86460-bf13-11e7-9971-2437fa3535b9.png)
![image](https://user-images.githubusercontent.com/1945230/32275293-5d4dd104-bf13-11e7-9f5b-2e0f43d223a4.png)

Also both active users an

[2017-11-01 13:02] Uafinder opened #4300 "My rewards link appears even rewards app is not enabled"
![image](https://user-images.githubusercontent.com/1945230/32275833-5e4cdc92-bf15-11e7-9b32-c4aea3cf8705.png)
http://vlad29-learn_vlad-test29.kademi-ci.co/myLearning
http://vlad-test29.admin.kademi-ci.co/websites/vlad29-learn/version1/#panel_apps-tab

[2017-11-01 13:28] AlaaKhalaf94 commented on #4071
passed

[2017-11-01 13:28] #4071 closed

[2017-11-01 13:38] mkhoudary commented on #4299
Fixed

[2017-11-01 13:50] Uafinder commented on #4183
it works!

[2017-11-01 13:50] #4183 closed

[2017-11-01 14:00] Uafinder opened #4301 "Live button from manage courses and manage modules pages gives error"
![image](https://user-images.githubusercontent.com/1945230/32278240-bf517fe0-bf1d-11e7-898f-e5f0344513ed.png)

![image](https://user-images.githubusercontent.com/1945230/32278229-b59d36d8-bf1d-11e7-9fd6-afe7e8d48aec.png)

http://vlad-test29.admin.kademi-ci.co/websites/vlad29-learn/version1/programs/p1/c1/

http://vlad-test29.admin.kademi-ci.co/websites/vlad29-learn/version1/programs/p1/c1/m2/#file

[2017-11-01 14:59] Uafinder opened #4302 "Promotion save issue"
![image](https://user-images.githubusercontent.com/1945230/32280857-d7fd0a34-bf25-11e7-8bfe-a9ff4bfdc1ba.png)
Probably due to this one:
The host name version1_vlad-test29.vlad29-promo.kademi-ci.co was not found on this server, or its license is invalid

http://vlad-test29.admin.kademi-ci.co/rewards/promo2/#details-tab

[2017-11-01 15:09] Uafinder commented on #4095
it works

[2017-11-01 15:09] #4095 closed

[2017-11-01 15:26] Uafinder opened #4303 "When uploading photo without specifying folder fails"
![image](https://user-images.githubusercontent.com/1945230/32281600-f4453dc2-bf27-11e7-83c2-a193de0e9752.png)
For example here:
http://vlad-test10.admin.kademi-ci.co/products/product090/#panel-brief-tab
Just try to upload image without selecting folder to the left. And it will continue forever.

[2017-11-01 20:06] bradmac opened #4304 "Expired points are not being added to the debits index"
Affected Carters. When searching the debits report for last month there were no expired points in the export.

Reindexing resolved the problem.

[2017-11-01 20:08] bradmac commented on #4120
Looks like ?goto isnt correctly integrated with new website name structure

[2017-11-01 20:21] bradmac commented on #4232
The problem is because the k-theme lib repository is empty:
http://vlad-test28.admin.kademi-ci.co/repositories/k-theme/1.2.5/

[2017-11-01 20:22] bradmac commented on #4232
But the current main version isnt empty:
http://rootorg.admin.kademi-ci.co/repositories/k-theme/1.2.5/

[2017-11-01 20:25] bradmac commented on #4300
Unfortunately that currently comes from the elearning app.

But i think we can move it to rewards and promotions

[2017-11-01 20:28] bradmac commented on #4302
Cant reproduce. Saves ok for me:

![image](https://user-images.githubusercontent.com/826458/32296126-3078a882-bfb0-11e7-8209-d009d5537db2.png)

[2017-11-01 20:31] tuzzmaniandevil commented on #4297
Fixed

[2017-11-01 20:32] tuzzmaniandevil commented on #4120
Fixed in https://github.com/Kademi/kademi-dev/issues/4297

[2017-11-01 20:44] bradmac commented on #4303
Currently the image dialog is querying this url:
http://vlad-test10.admin.kademi-ci.co/repositories/products/_DAV/PROPFIND?fields=name

For example, when editing:
http://vlad-test10.admin.kademi-ci.co/products/product090/

@ducdhm can you update this to use version1 of the products repo? or even better get it to lookup the live branch.

[2017-11-02 00:30] bradmac commented on #4296
Cant reproduce that problem now, after deleting the template file in the website it seems to work correctly.

However, i've added a check for an existing file so if this happens again it will just redirect without attempting to create

[2017-11-02 00:31] #4296 closed

[2017-11-02 00:56] bradmac opened #4305 "Scheduled email didnt send"
https://waterco.admin.kademi.com.au/scheduledEmails/adk-test/#configuration-tab

[2017-11-02 02:33] bradmac opened #4306 "Edit report link is incorrect when the live version isnt "version1""
Eg
https://carters.admin.kademi.com.au/reporting/month-end

This links to
https://carters.admin.kademi.com.au/repositories/queries/version1/contenteditor?fileName=month-end.html

The edit link should use the live version name of the queries repo

[2017-11-02 02:34] ducdhm commented on #4241
https://github.com/Kademi/keditor/issues/71

[2017-11-02 02:54] anhnt commented on #4301
fixed

[2017-11-02 03:23] bradmac commented on #4305
OK, found it
[code]

[2017-11-02 03:24] bradmac commented on #4305
The scheduler needs to set the date range into requestcontent attributes, and that needs to be integrated into the accessor methods

[2017-11-02 03:26] tuzzmaniandevil opened #4307 "Backup/Restore: Add Recognition Topics, badges, levels and awards"

[2017-11-02 03:28] anhnt commented on #4306
fixed

[2017-11-02 03:49] ducdhm commented on #4241
Not sure why this happens but I added some codes for fixing incorrect structure so when you get these icons, you should go to contentEditor again and re-save it. The new code will help you remove these icons.

[2017-11-02 03:57] ducdhm commented on #4303
Fixed!

[2017-11-02 04:01] ducdhm commented on #4120
Fixed!

[2017-11-02 04:02] bradmac opened #4308 "Points credits and debits points do not appear to match database"
Points report:
https://carters.admin.kademi.com.au/reporting/points

Points debit report:
https://carters.admin.kademi.com.au/reporting/pointsDebit

I ran these reports for 1/Oct to 31/Oct (after reindexing) and then exported to CSV, and checked the totals

The totals appear to differ from running an aggregation directly in the db:

[code]

Gives:
debits: 1633573
credits: 2734613
diff: 1,101,040

[2017-11-02 05:18] anhnt opened #4309 "Aggs by lost reasons is wrong"
Lost reasons:
![image](https://user-images.githubusercontent.com/735555/32310858-e5337830-bfc7-11e7-8b4e-6df3d1070fda.png)

Aggregation results
![image](https://user-images.githubusercontent.com/735555/32310847-d2ca3800-bfc7-11e7-8dae-7e77944c69de.png)

[2017-11-02 05:24] anhnt commented on #4309
fixed

[2017-11-02 05:24] #4309 closed

[2017-11-02 05:35] ducdhm commented on #4179
@bradmac Do you think it's good idea to allow user to enter number like `1,000` or `1 000`? IMHO, for input or textbox, just allow to enter only digits. `1,000` or `1 000` is just for formatting with displaying purpose

[2017-11-02 06:58] anhnt commented on #4309
https://github.com/Kademi/kademi-dev/issues/3475

[2017-11-02 07:29] Uafinder commented on #4302
It works
Probably used an old lib... need to update base lib

[2017-11-02 07:29] #4302 closed

[2017-11-02 07:42] Uafinder commented on #4297
looks ok at the moment!

[2017-11-02 07:42] #4297 closed

[2017-11-02 07:46] AlaaKhalaf94 commented on #4249
Hi @ducdhm , It doesn't work with me
I test here in "map" page : http://alaa-test23.admin.kademi-ci.co/pages/alaa-test23/version1/
When I try to select "Manually" option from Google Map Settings this popup appear

![capture1](https://user-images.githubusercontent.com/26510030/32314830-5f9b5112-bfb2-11e7-8294-2ae00d879a91.PNG)

and when I click on "ok" the map disappear

[2017-11-02 07:47] Uafinder commented on #4120
It works!

[2017-11-02 07:47] #4120 closed

[2017-11-02 07:56] AlaaKhalaf94 commented on #4244
passed

[2017-11-02 07:56] #4244 closed

[2017-11-02 08:18] AlaaKhalaf94 commented on #4172
passed

[2017-11-02 08:18] #4172 closed

[2017-11-02 08:33] salehh93 commented on #4235
now it's all good

[2017-11-02 09:06] Uafinder commented on #4301
It works!

[2017-11-02 09:06] #4301 closed

[2017-11-02 09:28] Uafinder commented on #4303
Yup, it works!

[2017-11-02 09:28] #4303 closed

[2017-11-02 09:51] Uafinder commented on #4277
There is a minor bug:
When you're accessing column for a first time, it shows choose $columnname$ (e.g. choose stage), even for filled cell.
When you're accessing column for the second time - it shows a value for filled cell and choose $columnname$ for empty cell and that's correct.
First time
![image](https://user-images.githubusercontent.com/1945230/32319660-03aa6fde-bfc4-11e7-9d43-11d8e526499f.

[2017-11-02 10:02] Uafinder opened #4310 "Lead creation - source doesn't save when create more than one lead"
1. http://vlad30-leads_vlad-test30.kademi-ci.co/leads/?query=&leadType=active
2. Create a lead with some specified details (source, stage)
3. Save and close
4. Create another lead. Note that Source and Stage field already filled
5. Don't change Source field
6. Save and close
7. Note that source field is empty in second lead.

![image](https://user-images.githubusercontent.com/1945230/32320189-a1c2

[2017-11-02 10:41] anhnt commented on #3475
![image](https://user-images.githubusercontent.com/735555/32321178-df798332-bff2-11e7-91b9-b4dc534684cd.png)

![image](https://user-images.githubusercontent.com/735555/32321169-d8925f58-bff2-11e7-9840-a8bc1abc2b69.png)

[2017-11-02 10:43] anhnt commented on #3475
@gonzalon please have a look at ```LeadManAnalyticsPage.java```, method ```loadDateSummary```

It doesnt have date range filter for aggs ie ```cancelledAggr```

So date range triggers on frontend but result still remains the same

[2017-11-02 11:32] Uafinder commented on #3735
1. Reduce image uploading window
It's original
![image](https://user-images.githubusercontent.com/1945230/32322862-a93757a0-bfce-11e7-9eda-293882ff8520.png)
It's component
![image](https://user-images.githubusercontent.com/1945230/32322882-b960fc12-bfce-11e7-945d-56338b65e2fe.png)

2. Visual bug after uploading first image and submitting request
It's clickable and leading to image uploaded earlier

[2017-11-02 11:38] Uafinder opened #4311 "Login.html change logo"
Change logo is hiding besides Change Background Image and Remove background image
Probably should be Changed to Change Logo image and Remove Logo Image
![image](https://user-images.githubusercontent.com/1945230/32324277-89af6aee-bfd3-11e7-8da8-40955523b033.png)
http://vlad-test30.admin.kademi-ci.co/websites/vlad30-promos/version1?editTemplate=theme/apps/login/login

[2017-11-02 11:43] Uafinder commented on #4260
looks ok at the moment

[2017-11-02 11:43] #4260 closed

[2017-11-02 12:22] Uafinder commented on #3728
Check please,
I've a bucket with Auto Reconcile enabled.
I've points awarded.
I've debit points by purchase via frontend and via debit points both.
And I've able to delete both points and debits and no errors appears.
Where i'm wrong?
http://vlad-test30.admin.kademi-ci.co/points-buckets/vlad30-store-points/?startDate=27%2F10%2F2017&finishDate=02%2F11%2F2017&dataQuery=&startPos=0#details-tab
http:/

[2017-11-02 12:23] Uafinder opened #4312 "Remove pop-ups on open points-bucket"
![image](https://user-images.githubusercontent.com/1945230/32325860-5b7a6e34-bfd9-11e7-8a9c-738e1e1b9409.png)
http://vlad-test30.admin.kademi-ci.co/points-buckets/vlad30-store-points/?startDate=27%2F10%2F2017&finishDate=02%2F11%2F2017&dataQuery=&startPos=0#details-tab

[2017-11-02 12:34] AlaaKhalaf94 commented on #4110
Hi @anhnt , Here when I put this mvel expression **@{formatter.toInteger("520.33")}** and save , then I open the setting of node again , and I see the mvel become like this **@{formatter.toInteger("**

http://alaa-test23.admin.kademi-ci.co/funnels/grantrewards/version1/#journeyBuilder-tab

![capture1](https://user-images.githubusercontent.com/26510030/32326268-eba39872-bfda-11e7-91d4-c4090932fded.

[2017-11-02 13:50] AlaaKhalaf94 commented on #4235
Here in home page : http://alaa-test24.admin.kademi-ci.co/pages/alaa-test24/version1/
I use the stars component and I see it as a link in website page with text-decoration underline style in hover
and with this href "#rating-189799-1509629926187" appear in URL when I click on stars

![capture1](https://user-images.githubusercontent.com/26510030/32329332-6c893f8c-bfe5-11e7-8145-37f4e738247e.PNG)

@

[2017-11-02 14:19] Uafinder commented on #4306
![image](https://user-images.githubusercontent.com/1945230/32330696-8a3f0da0-bfe9-11e7-9f37-cde1c6ea5261.png)
https://carters.admin.kademi.com.au/repositories/queries/version1/contenteditor?fileName=month-end.html

Looks the same

[2017-11-02 14:55] anhnt commented on #4306
This will need to wait for next AU deployment

[2017-11-02 16:58] ducdhm commented on #4249
Fixed!

[2017-11-02 16:58] ducdhm commented on #4235
@salehh93 That's why I asked you change `a` tag to `span` tag

[2017-11-02 21:14] bradmac commented on #4179
I think forms should never ignore user input. If someone types in invalid characters, those should appear and the user should be given an explicit validation message.

To just ignore input will in many cases cause confusion for the user, because there is no feedback to them.

So i think the current approach it field validation is fine. We just need to make sure the usual validation mechanism works

[2017-11-02 21:21] bradmac commented on #4310
This is fine.

But it needs to be persisted

[2017-11-02 21:24] bradmac commented on #4312
@ducdhm this should use the message identifier so they all replace each other instead of adding new messages

[2017-11-02 21:26] bradmac commented on #4110
@anhnt can you please check that we're html encoding the expression, we definitely need to support syntax like this

But @AlaaKhalaf94 is there any reason for using that expression? you could just use plain text for 520.33

[2017-11-02 21:42] gonzalon commented on #3475
@anhnt  just updated the queries!

[2017-11-02 21:53] gonzalon commented on #4288
Hey @anhnt I'm not sure how to reproduce this... the user only updates the site by the editor, so probably the class was added by the editor but at some point wasn't removed and then saved with it.

For ex. if I add the class manually and save it, after that I can't modify the content

![image](https://user-images.githubusercontent.com/2773216/32352190-02feb61e-c085-11e7-9c32-6cc1ffb9dbd9.png)

[2017-11-02 22:12] bradmac commented on #3718
Couple of probs:
- some weird problem with re-running or displaying results. Please make sure that if the query is changed and the user presses run they then see the output of that updated query
- handle the IP type in logs
- remove the site drop down at top right
- move the "Select fields" button into the results tab so its associated with the results table
- also move the size input into the res

[2017-11-02 22:37] bradmac commented on #4232
OK, i think this was because of the problem with the autoloader that wes fixed.

So shouldnt happen again.

@Uafinder please test with a fresh account

[2017-11-03 00:22] paddyow opened #4313 "KCRM funnel not working"
http://kcrm.kademi.us/analytics/kademi-sales?filters=source%3DNone&stage=Hot

Clicking on hot does not show the correct list of leads in the table below.

Note this lead is HOT but is not in the table http://kcrm.kademi.us/leads/15869188/

![image](https://user-images.githubusercontent.com/2201340/32356452-36506892-c089-11e7-90cd-04ecd2f31dd1.png)

[2017-11-03 01:17] bradmac opened #4314 "Only display lead page components on the lead page"
When editing the dashboard template, i see a lot of Leadman components which cant be used here, they can only be used on a lead page.

For example:
![image](https://user-images.githubusercontent.com/826458/32357451-a69565e0-c0a1-11e7-9652-b1fee82acc8e.png)

Please ensure components which are specific to the lead page are only shown when editing the lead page template

[2017-11-03 02:34] anhnt commented on #4110
fixed

[2017-11-03 02:41] bradmac commented on #4261
Integrated with leadman dashboard:
![image](https://user-images.githubusercontent.com/826458/32358754-7bccf5a6-c0ad-11e7-8ae5-7a0ea2f83bfa.png)

[2017-11-03 02:43] bradmac commented on #4261
@ducdhm please add a readonly column for the score:

![image](https://user-images.githubusercontent.com/826458/32358796-ca1e24dc-c0ad-11e7-94dc-92f3d523bf91.png)

[2017-11-03 02:47] bradmac commented on #4305
Should be fixed now

[2017-11-03 02:47] #4305 closed

[2017-11-03 02:48] bradmac commented on #4300
Should be done now

[2017-11-03 02:53] bradmac commented on #4282
Fixed

[2017-11-03 02:54] bradmac commented on #4282
Fixed

[2017-11-03 02:55] bradmac commented on #4269
Thats our exciting new feature, see here - https://github.com/Kademi/kademi-dev/issues/4261

[2017-11-03 02:56] bradmac commented on #4269
@gonzalon please make this page more awesome

[2017-11-03 02:57] #4294 closed

[2017-11-03 03:05] bradmac commented on #3718
Size doesnt seem to work:
![image](https://user-images.githubusercontent.com/826458/32359169-ba3eaf20-c0b0-11e7-89d0-93cb264e98c2.png)

[2017-11-03 03:11] bradmac commented on #3718
![image](https://user-images.githubusercontent.com/826458/32359258-9620cc3a-c0b1-11e7-9035-2b0e88a0178a.png)

[2017-11-03 03:25] bradmac commented on #3718
Aggregations dont appear to be getting rendered

[2017-11-03 03:40] ducdhm commented on #4311
Fixed!

[2017-11-03 03:46] ducdhm commented on #4312
@bradmac I already have identifier for them. But @Uafinder doesnt want to show these messages in first time user go to this screen.

[2017-11-03 03:58] ducdhm commented on #4312
@bradmac So what do you think?

[2017-11-03 04:15] gonzalon commented on #4313
The query we are running:
`{
  "bool" : {
    "must" : [
      {
        "term" : {
          "funnel" : {
            "value" : 7651239,
            "boost" : 1.0
          }
        }
      },
      {
        "bool" : {
          "should" : [
            {
              "term" : {
                "orgIds" : {
                  "value" : 1257,
                  "boost" : 1.0
                }

[2017-11-03 04:19] ducdhm commented on #4314
@bradmac How can do it? Maybe we can add something special to components like special category. And in contentEditor, we can filter it like this.

[2017-11-03 04:27] anhnt commented on #4261
done
![image](https://user-images.githubusercontent.com/735555/32360580-e99f9e4a-c089-11e7-92c5-57b0062bb7b5.png)

[2017-11-03 04:28] anhnt commented on #4277
Fixed please test again

[2017-11-03 05:50] ducdhm commented on #3735
@Uafinder
`2.` and `3.` are fixed.

About `1.`, I think it's OK because the width of upload photo is depended on width of its container. And look at your 2 examples, first one is in container which has layout is `Box` and second one is `Auto` or `Wide` layout. That's why they are looked different.

[2017-11-03 07:42] Uafinder commented on #4232
Yup, looks fine at the moment

[2017-11-03 07:42] #4232 closed

[2017-11-03 08:03] Uafinder commented on #4311
Not sure, if changed something...
![image](https://user-images.githubusercontent.com/1945230/32364571-4a3f883e-c07e-11e7-830c-551bd54f8e71.png)
http://vlad-test31.admin.kademi-ci.co

[2017-11-03 08:20] Uafinder commented on #4300
looks great!

[2017-11-03 08:20] #4300 closed

[2017-11-03 08:30] anhnt commented on #4229
This is old component and i dont think we need it at the moment since we can set specific promotion via settings for promotion form.

[2017-11-03 08:43] Uafinder commented on #4229
IF it's an old component, so we probably should hide it, or remove from selection list

[2017-11-03 08:57] anhnt commented on #3475
@gonzalon please update query to be able to filter lead by date range
![image](https://user-images.githubusercontent.com/735555/32366209-bad6defe-c0af-11e7-8695-7aad332af232.png)

[2017-11-03 09:03] Uafinder commented on #4282
It works!

[2017-11-03 09:03] #4282 closed

[2017-11-03 09:06] Uafinder opened #4315 "Organisations count probably contain rootorg"
![image](https://user-images.githubusercontent.com/1945230/32366475-e46d29e0-c086-11e7-8580-998fa377e3b6.png)
![image](https://user-images.githubusercontent.com/1945230/32366481-ed6cdf22-c086-11e7-9f75-1ebdc713d85a.png)
http://vlad-test31.admin.kademi-ci.co
Organisations count probably contains the root organisation.

[2017-11-03 09:51] anhnt commented on #4272
cant reproduce above issue but i can see another bug when layout is grid
![image](https://user-images.githubusercontent.com/735555/32368105-319dd0ea-c0b7-11e7-8f74-96f5e762009d.png)

[2017-11-03 10:10] anhnt commented on #4279
This error occurs when a product with empty price is added to ecom store

[2017-11-03 10:14] anhnt commented on #4272
fixed
![image](https://user-images.githubusercontent.com/735555/32369036-542fece4-c0ba-11e7-9c62-af17275c4f89.png)
![image](https://user-images.githubusercontent.com/735555/32369055-62b79fb4-c0ba-11e7-9925-28b36a0c3da5.png)

[2017-11-03 10:29] Uafinder commented on #4311
It works!

[2017-11-03 10:29] #4311 closed

[2017-11-03 10:35] Uafinder opened #4316 "Leads score amount"
Score in admin console:
![image](https://user-images.githubusercontent.com/1945230/32369733-02f768a6-c093-11e7-9544-c63b3da62258.png)
Score on dashboard:
![image](https://user-images.githubusercontent.com/1945230/32369742-1350ee8e-c093-11e7-9376-405607fd1639.png)
Score on leads page:
![image](https://user-images.githubusercontent.com/1945230/32369762-2734fd1e-c093-11e7-8842-9a1348d755b5.png)
http:

[2017-11-03 10:54] Uafinder commented on #4277
It works with bugs!
Often when you change several amounts in column it changes value incorrectly.
I wrote a video, which show this problem and the problem with score amount disappears...
https://drive.google.com/open?id=1XI0vgXXqfP3Q1v5Yn3RnJTSewNbgeRtW

[2017-11-03 11:04] Uafinder opened #4317 "KPoll created by value bad"
![image](https://user-images.githubusercontent.com/1945230/32370906-6b78d424-c097-11e7-9774-cfe3c100cab9.png)
![image](https://user-images.githubusercontent.com/1945230/32371118-4b264200-c098-11e7-89bb-36c954e12761.png)

http://vlad-test31.admin.kademi-ci.co/kpoll/managePolls/

Seems like it use UserID value.

[2017-11-03 11:22] Uafinder commented on #4114
Works fine

[2017-11-03 11:22] #4114 closed

[2017-11-03 11:54] Uafinder commented on #4306
FYI
![image](https://user-images.githubusercontent.com/1945230/32372658-7a48906e-c09e-11e7-80c2-43f79da250df.png)

[2017-11-03 12:41] Uafinder opened #4318 "Promotion Terms and Conditions value by default weird"
![image](https://user-images.githubusercontent.com/1945230/32374067-e41d4a92-c0a4-11e7-88e4-358ee6edc871.png)
1. Create promotion
2. Go to edit it
3. Watch for strange value
http://vlad-test31.admin.kademi-ci.co/rewards/promos2/#entryForm-tab

[2017-11-03 12:44] Uafinder commented on #3735
2 and 3 ok
1st still a question - probably would be good to reduce it somehow, because if it will be more images it will create a mess on the screen.
![image](https://user-images.githubusercontent.com/1945230/32373716-535a8e76-c0a3-11e7-9743-bde7769718b9.png)

Also
4. Show user's photo probably should hide Photo Gallery, not image uploads window.
![image](https://user-images.githubusercontent.com/

[2017-11-03 12:54] Uafinder commented on #3773
The same sit at the moment:
Timezone selected
![image](https://user-images.githubusercontent.com/1945230/32374506-bdd71082-c0a6-11e7-9f2c-07f14008a90e.png)
![image](https://user-images.githubusercontent.com/1945230/32374522-cc54570a-c0a6-11e7-8ac7-009a3d9258d8.png)

Removing timezone:
![image](https://user-images.githubusercontent.com/1945230/32374543-df06e3fe-c0a6-11e7-90b3-157d7649c674.png)
![im

[2017-11-03 13:53] Uafinder commented on #4230
![image](https://user-images.githubusercontent.com/1945230/32376967-f957c860-c0ae-11e7-95c6-efa3b6454401.png)
![image](https://user-images.githubusercontent.com/1945230/32376986-0530125a-c0af-11e7-934d-41326e5d4208.png)

Spot it again!
http://vlad-test31.admin.kademi-ci.co/groupEmails/1580103/log.html

[2017-11-03 14:19] Uafinder opened #4319 "Manage users page - page size component"
http://vlad-test30.admin.kademi-ci.co/manageUsers/?sortfield=firstName,email&startPos=0&pageSize=100&
![image](https://user-images.githubusercontent.com/1945230/32378133-9f5a11f2-c0b2-11e7-90f3-70c4f8fa54a5.png)
I've more than 10000 users
![image](https://user-images.githubusercontent.com/1945230/32378178-b724b1a2-c0b2-11e7-8af5-fd41f505ff8d.png)

Page size component should be added

[2017-11-03 14:21] Uafinder commented on #4202
What is the name of this component? Recent Points?

[2017-11-03 14:30] Uafinder commented on #2522
It works for more than 10000 records

[2017-11-03 14:30] #2522 closed

[2017-11-03 14:45] Uafinder commented on #3307
Not quite understand...
I want to check my new theme and click Theme checker... but it shows me my standard theme.
For example here
http://vlad-test31.admin.kademi-ci.co/websites/vlad31-learn/version1/#panel_theme-tab

Cyborg theme original
![image](https://user-images.githubusercontent.com/1945230/32379341-f38ed4c6-c0b5-11e7-979e-0547981a817e.png)
Our
![image](https://user-images.githubuserconten

[2017-11-05 06:40] AlaaKhalaf94 opened #4320 "Accept Task button shows incorrect modal"
Here : http://alaa-test25.admin.kademi-ci.co/leads/1664667/#tasks-tab when I try to accept the task , it shows me modal with incorrect title "Edit task" and without content

![capture1](https://user-images.githubusercontent.com/26510030/32412573-bc53dce0-c204-11e7-91ef-16ff574c65c7.PNG)

This lead return to this journey : http://alaa-test25.admin.kademi-ci.co/funnels/journey1/version1/#journeyBuil

[2017-11-05 06:45] AlaaKhalaf94 commented on #4253
wait this issue to be closed to test : https://github.com/Kademi/kademi-dev/issues/4320

[2017-11-05 07:39] AlaaKhalaf94 commented on #4249
passed

[2017-11-05 07:39] #4249 closed

[2017-11-05 09:41] AlaaKhalaf94 commented on #4272
passed

[2017-11-05 09:41] #4272 closed

[2017-11-05 09:56] AlaaKhalaf94 opened #4321 "When Base cost of products that added to ecommerce is null , it shows error"
When Base cost of products that added to ecommerce is null , it shows error in website page : http://version1.alaa-test25_alaa-test25.kademi-ci.co/ecom-store/
![capture3](https://user-images.githubusercontent.com/26510030/32413316-cf8c9c4e-c217-11e7-8f76-7ffd54436501.PNG)

And shows error in "Website Manager" list in side navbar just from manage eCommerce store page : http://alaa-test25.admin.kade

[2017-11-05 10:48] AlaaKhalaf94 commented on #3508
passed

[2017-11-05 10:48] #3508 closed

[2017-11-05 12:38] AlaaKhalaf94 commented on #4110
@bradmac , about using this mvel expression @{formatter.toInteger("520.33")} , I asked Anh to give me a mvel expression to use , and he gave me it

@anhnt , here : http://alaa-test27.admin.kademi-ci.co/funnels/journey1/version1/#journeyBuilder-tab I make three tests with :
- @{formatter.toInteger("520.33")}
- @{formatter.toInteger('520.33')}
- 330
but doesn't work with me , it doesn't convert any

[2017-11-05 14:14] AlaaKhalaf94 commented on #4259
Hi @tuzzmaniandevil ,  Where can I test this ? I can see two balances in the navbar
each of them returned to deffirent point bucket

![capture1](https://user-images.githubusercontent.com/26510030/32415550-337ea716-c244-11e7-9f87-b82dac97be5f.PNG)

Login with this user : http://alaa-test27.admin.kademi-ci.co/manageUsers/1674962/#pointsBucketTab-tab

[2017-11-05 20:03] bradmac opened #4322 "Comments - reply doesnt work"
I posted a comment with my account here - http://docs.kademi.co/getting-started/Website-management/how-to-create-domain-names.html

I then logged out and posted a reply anonymously.

The comment did not appear, and after reloading the page still does not appear

[2017-11-05 20:34] bradmac commented on #4110
When i execute the journey i see this in the log:
[code]

Note the last line, "Not awarding points"

[2017-11-05 20:39] bradmac commented on #4110
The problem was because we simple werent handling points expressions, only fixed points.

I've added code to evaluate the expression now

[2017-11-05 20:46] bradmac commented on #4321
here's the stack trace
[code]

[2017-11-05 20:50] bradmac commented on #4321
Added null checks. Note that if there is no base cost then the cost will not be correctly displayed in search results.

[2017-11-05 20:56] bradmac commented on #4320
Error - "Unable to find resource 'accept'"
[code]

[2017-11-05 21:03] bradmac commented on #4320
Hi @AlaaKhalaf94 you have specified a task outcome form path here:
![image](https://user-images.githubusercontent.com/826458/32419097-97a29564-c2d9-11e7-9d83-275c2d2804c0.png)

But you havent created a page for it, so there is an error when the server attempts to generate that form

Please just remove the form path unless you want a custom form

[2017-11-05 21:10] bradmac commented on #3307
Is working now:
![image](https://user-images.githubusercontent.com/826458/32419166-a8a44d7a-c2da-11e7-958a-9db35ab8be26.png)

Note that i've just restarted the CI server, so its possible this is a server caching issue. Can you please attempt to reproduce?

[2017-11-05 21:11] bradmac commented on #4202
Called "pointsEarned"
[code]

[2017-11-05 21:13] bradmac commented on #4319
Number of users appears correct:
![image](https://user-images.githubusercontent.com/826458/32419195-3240d1ac-c2db-11e7-9c3b-5a4de6534458.png)

[2017-11-05 21:14] bradmac commented on #4319
Not sure what you mean by "page size list"

[2017-11-05 21:15] bradmac commented on #4319
@gonzalon please enable the page size list

[2017-11-05 21:16] bradmac commented on #4230
Displays correctly for me:
![image](https://user-images.githubusercontent.com/826458/32419221-986c8534-c2db-11e7-9f8a-692fde49a53a.png)

[2017-11-05 21:17] bradmac commented on #4230
If this happens again can you please check your web console for JS errors or network errors?

[2017-11-05 21:20] bradmac commented on #4230
Just tidied up the page layout a bit

[2017-11-05 21:24] bradmac commented on #4317
Please change to using the user's name if there is one, and only display userid if there is no name.

Note that there is a property called formattedName on Profile for this purpose

[2017-11-05 21:29] bradmac commented on #4229
hey @anhnt no, this component is for selecting a promotion for filtering data. Its not related to promotion selection in settings.

Its needed for building analytics dashboards which shows data from promotions, and should work similar to the common date selector

[2017-11-05 21:30] bradmac commented on #4229
@Uafinder this is not intended for users to select a promotion. In the situation you have on page2.html you would either select the promotion in settings, or you would normally just have each promotion page display itself and not need to select a promotion on the component

[2017-11-05 21:42] bradmac commented on #4314
hey @ducdhm sounds like you dont know components already have a type property!

Eg in LeadManApp:
[code]

That last argument "lead" means that this component will only be displayed on pages (and templates) where $page.is("lead") returned true

However, this component will be displayed on all pages, because all html pages return true for "html"

[code]

Types are set on components in the same way f

[2017-11-05 21:42] bradmac commented on #4314
But @ducdhm note this is in the Krabby milestone

[2017-11-05 21:44] bradmac commented on #4312
The problem at the moment is that we see 3 messages. If they all have the same ID and the ID system is working correctly the user would only see 1 message. Its fine for that message to display when the page is shown when the page is first opened.

[2017-11-05 22:14] bradmac commented on #4321
that seems to be working now

[2017-11-05 22:22] bradmac commented on #3718
Something seems to be adding fields to the roles collection:
![image](https://user-images.githubusercontent.com/826458/32419788-bced6672-c2e4-11e7-9d88-f0ee6312a62e.png)

[2017-11-05 22:23] bradmac commented on #3718
Remove the aggregation name field:
![image](https://user-images.githubusercontent.com/826458/32419804-f16e13b0-c2e4-11e7-91da-5e34f95b9579.png)

[2017-11-05 22:32] bradmac commented on #3718
Also, i think a couple of layout changes would be good:
- move the query builder to a new tab, which should be the first tab
- move the aggregation builder UI into the aggregations tab
- allow for multiple aggregations

[2017-11-06 01:35] tuzzmaniandevil opened #4323 "Backup/Restore: Add Auctions"

[2017-11-06 02:20] gonzalon commented on #4313
![image](https://user-images.githubusercontent.com/2773216/32422479-62c278e2-c305-11e7-8796-a95d6fc13399.png)

From:
![image](https://user-images.githubusercontent.com/2773216/32422516-a7bdc262-c305-11e7-923f-81be533d9a17.png)

[2017-11-06 02:23] gonzalon opened #4324 "Support bootstrap styles for blog articles"
Celine it's asking to be able to select the same styles in the blog article editor as in the web page editor:

Page styles:

![image](https://user-images.githubusercontent.com/2773216/32422628-3c93a474-c306-11e7-90ca-486f3d962815.png)

Blog article styles:

![image](https://user-images.githubusercontent.com/2773216/32422632-4403289c-c306-11e7-95e6-fa4b435c0a24.png)

[2017-11-06 02:27] ducdhm commented on #4324
@bradmac @gonzalon Main issue of here is because we're editing Blog Article in admin instead of frontend. If you can provide me a Resource for editing it in frontend, it'll be cool

[2017-11-06 02:41] ducdhm commented on #4201
https://github.com/Kademi/kademi-dev/issues/4324

[2017-11-06 02:43] ducdhm commented on #4312
@bradmac We have 2 IDs for message in this screen. One for leaderboard tab and one for debits tab. Do you want me to merge them into 1?

Vlad took this screenshot when 2 others are closed. It's not 3 messages :)

[2017-11-06 03:25] anhnt commented on #4317
done

[2017-11-06 04:27] ducdhm opened #4325 "Transparent menu"

[2017-11-06 06:06] AlaaKhalaf94 commented on #4320
Thanks @bradmac , that success with me

[2017-11-06 06:06] #4320 closed

[2017-11-06 06:07] AlaaKhalaf94 commented on #4253
passed

[2017-11-06 06:30] anhnt commented on #4313
@gonzalon please update to filter result by stage. Currently results are the same when filter by specific stage or not

@paddyow at the moment we click to bubble to filter leads by stage. But i think we could add a dropdown list for stages. What do you think?

[2017-11-06 06:38] ducdhm commented on #4325
Done!

[2017-11-06 06:38] #4325 closed

[2017-11-06 06:42] anhnt commented on #4110
i just test and noticed that we dont need ```@{ }``` to wrap variables.

Working fine for me with this

![image](https://user-images.githubusercontent.com/735555/32428451-59181fa2-c2f8-11e7-8a2b-e16eb9667fbe.png)

[2017-11-06 06:47] AlaaKhalaf94 commented on #4321
passed

[2017-11-06 06:47] #4321 closed

[2017-11-06 06:50] anhnt commented on #4110
![image](https://user-images.githubusercontent.com/735555/32428656-6d630688-c2f9-11e7-8825-4ec08ca1e770.png)

[2017-11-06 07:16] bradmac opened #4326 "License page 500 error"
https://boschptnz.admin.kademi.com.au/license

![image](https://user-images.githubusercontent.com/826458/32429400-5e50b38a-c32f-11e7-9a21-e1aca5538293.png)

[2017-11-06 07:28] Uafinder commented on #3307
Without any problems
1. I've create a new website
2. Check it's theme, it's by default. Click to check it (theme checker)
3. Then go to themes and install cosmo theme.
4. Check theme checker again, but it shows default k-theme.

[2017-11-06 07:45] Uafinder commented on #4290
It works!

[2017-11-06 07:45] #4290 closed

[2017-11-06 08:22] AlaaKhalaf94 commented on #4110
passed

[2017-11-06 08:22] #4110 closed

[2017-11-06 08:49] anhnt commented on #4288
@gonzalon please tell me if you can reproduce it again. I tried several times but not able to reproduce it

[2017-11-06 09:00] Uafinder commented on #4317
It works!

[2017-11-06 09:00] #4317 closed

[2017-11-06 09:16] Uafinder commented on #4229
Ok, understood!

[2017-11-06 09:16] #4229 closed

[2017-11-06 09:16] Uafinder commented on #4319
Paginator implemented, but some problems exists...
When you change page size from 100 to 5000 it loads very slowly and cause some scripts stop.
And also, after page loads and when you try to move to last page, it looks broken.
![image](https://user-images.githubusercontent.com/1945230/32432750-59859c1a-c2e1-11e7-9cda-4cc144eea882.png)
I wrote a video on process changing page size from 100 to 5000

[2017-11-06 09:17] AlaaKhalaf94 commented on #4253
Hi @gonzalon  , Here also we need @docs , in "Products log" in Hinda settings page : http://alaa-test28.admin.kademi-ci.co/hinda-settings/

![capture1](https://user-images.githubusercontent.com/26510030/32433565-125f2290-c2e4-11e7-9654-bd488f389de9.PNG)

[2017-11-06 09:23] bradmac commented on #4312
Yes please. As a user these messages arent very important, i dont want to see my screen filled with them

[2017-11-06 10:30] anhnt commented on #4175
fixed

[2017-11-06 10:52] Uafinder opened #4327 "Anonymous comments - online update"
Comments from other users don't appears when you on page - e.g. online comments appear (Facebook comments style).
http://vlad32-test.admin.kademi-ci.co/websites/vlad32-anontest
http://vlad32-anontest_vlad32-test.kademi-ci.co/

[2017-11-06 10:56] Uafinder commented on #4003
Probably should be same button labels and color: Post

[2017-11-06 11:00] Uafinder opened #4328 "Email sending failed"
http://vlad32-test.admin.kademi-ci.co/emails/?q=&status=&job=
With error : No MimeMessage found
I've post to real and mailinator addresses - sit are the same.

[2017-11-06 11:50] Uafinder commented on #3745
*|profile_email_domain|* - returns email address, should be email domain, e.g. everything after @
*|profile_orgIds|* - return groups values, should be org id's
http://vlad32-test.admin.kademi-ci.co/emails/1718439

[2017-11-06 12:05] AlaaKhalaf94 commented on #4048
Hi @paddyow , In the second row of the component , should it display only two promotions or more ?
as shown in the screenshot

![capture1](https://user-images.githubusercontent.com/26510030/32440355-74e94410-c2fb-11e7-9195-948592d273bd.PNG)

[2017-11-06 12:28] Uafinder opened #4329 "Image or video upload fails"
![image](https://user-images.githubusercontent.com/1945230/32441067-8264c882-c2fe-11e7-9339-f25ad25e4939.png)
When you try to upload image or video to poll details it fails:
1. When no folder is selected - upload finishes but nothing happens further
2. When folder repository for example selected - upload fails with Method not Implemented error
3. When folder polls selected - upload never finishes.

[2017-11-06 12:33] Uafinder opened #4330 "Keditor - change your video button does nothing"
![image](https://user-images.githubusercontent.com/1945230/32441238-60279f82-c2ff-11e7-91a7-a98215a26bf1.png)
http://vlad32-test.admin.kademi-ci.co/websites/vlad32-learn/version1/programs/p1/c1/m1/#files-tab
Created a new page, add a component with video. Push change video button, and it does nothing.

Also problem with side panel
When you click on the gear icon once - side panel appears
When you

[2017-11-06 12:46] AlaaKhalaf94 opened #4331 "The event appears in calendar but doesn't appear in events list"
Here : http://alaa-test27.admin.kademi-ci.co/Calendars/Calendar01/ I've created two events, but I can't see them in the Events list at next to them

![capture3](https://user-images.githubusercontent.com/26510030/32441654-391aa356-c301-11e7-91f1-99c4ac10029f.PNG)

[2017-11-06 12:52] Uafinder commented on #4126
It works!

[2017-11-06 12:52] #4126 closed

[2017-11-06 12:59] Uafinder commented on #4147
@ducdhm
Hand needed... could you provide me short descr - what should be tested. In two words...

[2017-11-06 13:48] Uafinder commented on #4163
It shows current KPI period at the moment, so it's ok
I've a question
Why in admin console KPI showed as reached, but in the frontend - not?
![image](https://user-images.githubusercontent.com/1945230/32444045-e41a11ee-c309-11e7-8be4-98556421c356.png)
![image](https://user-images.githubusercontent.com/1945230/32444057-eecfae1e-c309-11e7-87d0-ff6b845dfb33.png)

[2017-11-06 14:12] Uafinder opened #4332 "Unwanted Module deletion is possible"
1. Create a module
2. Create a page
3. Open page in Keditor
4. Add some text
5. Upload some video via this button
![image](https://user-images.githubusercontent.com/1945230/32444835-9fa61d84-c30c-11e7-90b0-2a18f6a9af2f.png)
6.
![image](https://user-images.githubusercontent.com/1945230/32444861-ae07bc48-c30c-11e7-86e7-a90a983b8aa8.png)
Close it with success
7. Go back to edit video modal and try to

[2017-11-06 14:19] Uafinder opened #4333 "Sales data app install cause an error"
![image](https://user-images.githubusercontent.com/1945230/32445305-f8f0893c-c30d-11e7-8b49-9e903f74de60.png)

http://vlad32-test.admin.kademi-ci.co/marketPlace/KSalesData/?websiteBranch=version1&websiteName=vlad32-kpi

[2017-11-06 14:24] Uafinder opened #4334 "Applications installed from the market should be showed only for a specified site"
1. Go to websites
2. Open site
3. Open market (find more apps)
4. Change to installed tab
5. You see all apps installed across the account, but should see only installed in this website.
![image](https://user-images.githubusercontent.com/1945230/32445629-062fbd92-c30f-11e7-8ddc-ba606584393a.png)
http://vlad32-test.admin.kademi-ci.co/marketPlace?websiteBranch=version1&websiteName=vlad32-learn&type=

[2017-11-06 14:26] Uafinder commented on #4230
will keep an eye on it

[2017-11-06 14:26] #4230 closed

[2017-11-06 15:22] Uafinder commented on #4175
Fresh account
Rebuild QA
http://version1.vlad33-leads_vlad-test33.kademi-ci.co/leads
http://vlad-test33.admin.kademi-ci.co/websites/vlad33-leads/version1/#panel_details-tab

[2017-11-06 15:39] ducdhm commented on #3745
@bradmac Can you help me explain these fields to @Uafinder ?

[2017-11-06 15:47] ducdhm commented on #4147
@Uafinder For simplest description: It's bug of container and sub container. When you change layout of container, layout of sub container will be change to the same.

[2017-11-06 20:21] bradmac commented on #4329
@anhnt can you check this is using the new support for content uploads for custom apps? If there's a problem with that framework please assign back to me

[2017-11-06 20:22] bradmac commented on #4331
The "Coming events" list only shows upcoming events, ie events in the future. Those events are in the past.

[2017-11-06 20:27] bradmac commented on #4332
@ducdhm looks like the wrong URL is being constructred for the delete

[2017-11-06 20:34] bradmac commented on #4163
@ducdhm can you check please?

[2017-11-07 00:14] bradmac commented on #3745
Please ignore the lead fields for now

Well, for product purchases, which can be either from ecom or reward stores

[2017-11-07 00:15] bradmac commented on #3745
This is correct, its intended to be that way. This is intended to be used for filtering and decisions, rather then displaying in pages.

[2017-11-07 00:16] bradmac commented on #3745
OK, that needs to be fixed

[2017-11-07 00:53] bradmac commented on #3745
Fixed domain name field

[2017-11-07 00:54] bradmac commented on #3745
Fixed FirstPurchaseDate

[2017-11-07 01:02] bradmac commented on #4334
Now hiding the installed tab when a website is selected. Users can view installed apps from the apps tab on the website

[2017-11-07 01:14] bradmac commented on #4333
Fixed

[2017-11-07 01:44] bradmac commented on #4328
Problem is the from email address:
[code]

[2017-11-07 02:31] gonzalon commented on #4288
Closing it for now

[2017-11-07 02:31] #4288 closed

[2017-11-07 02:56] anhnt commented on #4175
Re-synced libs. please check

[2017-11-07 03:41] gonzalon opened #4335 "KCRM Analytics Page: Funnel shouldn't be updated on filters"
- Remove the funnel filtering when the user clicks on a source (or other aggregation)
should still filter table though
-We need a way to remove a filter once applied so the clear filters should always be shown (the clear filters appear when you click on the source but not the stage)

[2017-11-07 03:41] gonzalon commented on #3475
Depends on: https://github.com/Kademi/kademi-dev/issues/4335

[2017-11-07 03:42] gonzalon commented on #4313
Depends on: https://github.com/Kademi/kademi-dev/issues/4335

[2017-11-07 04:03] bradmac opened #4336 "New manage orgs page, org type filtering doesnt work"
![image](https://user-images.githubusercontent.com/826458/32476667-9c0219ea-c3dd-11e7-814f-2ac0f2d12e09.png)

[2017-11-07 04:05] bradmac opened #4337 "New manage orgs page, show basic stats"
The new manage orgs page should have a similar layout as the manage users page. This includes displaying basic statis at the top, and arrangement of buttons:

![image](https://user-images.githubusercontent.com/826458/32476685-ccfedfe2-c3dd-11e7-8b51-07c7496d1b68.png)

Please show
- total orgs
- total org types

[2017-11-07 04:08] anhnt commented on #4335
done

[2017-11-07 04:20] bradmac opened #4338 "New manage orgs page, agg filters"
![image](https://user-images.githubusercontent.com/826458/32476988-eb61f922-c3df-11e7-9103-867c768ef778.png)

https://zoetis.admin.kademi.com.au/organisations/?term-orgTypes=noType

[2017-11-07 04:21] bradmac commented on #4324
FYI, currently loading styles from here:
http://localhost:8080/templates/themes/admin2/styles.js

[2017-11-07 04:25] bradmac commented on #4324
hey @ducdhm a very simple thing we can do, which we should do anyway, is update the admin styles.js to have bootstrap styles

This should be the same as in the bootstrap-base styles.js

[2017-11-07 04:55] gonzalon commented on #4298
https://github.com/Kademi/kademi-dev/commit/d6a41f2b1544e91be1d9d1b36bcb8413c025e2c4

@Uafinder now if it's an anon form by default would show you the fields for the user information:

![image](https://user-images.githubusercontent.com/2773216/32477658-b9b7a35e-c3e4-11e7-9ee1-4a112f331643.png)

If you remove all the fields in the settings of the component  and submit the form now shows a user frie

[2017-11-07 06:32] #4331 closed

[2017-11-07 07:01] anhnt commented on #4329
@bradmac i have added code to mount repo but there's no repo created

[code]

[2017-11-07 07:32] ducdhm commented on #4163
@Uafinder Can you double-check again?

I have checked with http://moblix.admin.kademi-ci.co/manageUsers/762030/#summary-tab and here is what I got in frontend:
![ui](https://user-images.githubusercontent.com/1289631/32482032-89afa2ea-c3c8-11e7-993a-cb115b744ce3.png)

[2017-11-07 07:46] Uafinder commented on #4163
weird thing... it was there yesterday... :(
will keep an eye on it

[2017-11-07 07:46] #4163 closed

[2017-11-07 08:52] Uafinder commented on #4334
It works!

[2017-11-07 08:52] #4334 closed

[2017-11-07 09:31] Uafinder opened #4339 "Email app should be enabled automatically when installing apps"
When you go to website app market and install app from there - Email app is not enabled automatically, but looks like it should to ensure that all functions are work correctly.
http://vlad-test35.admin.kademi-ci.co/
![image](https://user-images.githubusercontent.com/1945230/32486379-233d5462-c3af-11e7-8ca2-758fdf1bf133.png)

[2017-11-07 09:34] Uafinder commented on #4328
http://vlad-test35.admin.kademi-ci.co/emails/1783334
Doesn't send at all
It gives next error
Domain contains illegal character

[2017-11-07 10:15] AlaaKhalaf94 commented on #4335
passed

[2017-11-07 10:15] #4335 closed

[2017-11-07 10:17] bradmac commented on #4339
hey @Uafinder its not that simple. An app should only depend on the email app if there is something specific that it depends on. That decision is made for each app, its not a blanket rule that all apps should depend on the email app.

Can you be more specific? Which app doesnt work properly without the email app?

[2017-11-07 10:49] Uafinder commented on #4298
Looks ok!

[2017-11-07 10:49] #4298 closed

[2017-11-07 10:51] Uafinder commented on #4339
Sure, no probs... I've install four different types of app:
sales
leadman
learning
reward-store
All was created with email app disabled. If needed - I can check all market apps.

[2017-11-07 10:57] Uafinder opened #4340 "promotion images bugs"
When choosing to upload image in promotion two bugs appear:
1. When you upload image - it show very pixelated.
![image](https://user-images.githubusercontent.com/1945230/32490122-c7a36eaa-c3ba-11e7-8522-f94462ae797e.png)

2. When you submit one entry, then push submit another, it goes back to initial page, but:
- it already contains image in upload image box (which was uploaded earlier)
- it doesn

[2017-11-07 11:26] Uafinder commented on #3735
Works like a charm

[2017-11-07 11:26] #3735 closed

[2017-11-07 11:33] Uafinder commented on #4175
Looks ok

[2017-11-07 11:33] #4175 closed

[2017-11-07 11:43] Uafinder opened #4341 "Klead - Link|Unlink company and further search issue"
1. Create a lead and open it
2. Go to company details
3. Create a company by using company information
4. Unlink company
5. Try to search company which you just created
it will show you your company by only several symbols entered, but if you for example enter full name - no company found.

![image](https://user-images.githubusercontent.com/1945230/32491917-16332280-c3c1-11e7-8721-2d3e372013e1.png

[2017-11-07 12:09] Uafinder commented on #4166
Where this component located? Which app should be enabled to work with?

[2017-11-07 13:21] mkhoudary commented on #4256
@AlaaKhalaf94 please try to add a record.. in hosted zone.. then try to set the domain to match it in one of the sites.. then change to same domain with www prefix.. if the old records are deleted.. then the problem persists.. otherwise this is passed.

[2017-11-07 13:57] mrdadah commented on #4324
Done,,
@bradmac , Please give me rights to push my changes to Kademi-dev

<img width="429" alt="screen shot 2017-11-07 at 3 56 22 pm" src="https://user-images.githubusercontent.com/11255121/32497141-44c50a7e-c3d4-11e7-830a-575fb85c0f3d.png">

[2017-11-07 14:13] AlaaKhalaf94 opened #4342 "Couldn't edit content for blogs"
Here : http://alaa-test29.admin.kademi-ci.co/blogs/components/components/#bodyCopy-tab
I try to edit content , but the keditor doesn't load

It shows me error in console : " VM2325:161 WebSocket connection to 'ws://version1.alaa-test29_alaa-test29.kademi-ci.co:81/comments/version1.alaa-test29_alaa-test29.kademi-ci.co/content/L2Jsb2dzL2NvbXBvbmVudHMvY29tcG9uZW50cy8=' failed: Error in connection est

[2017-11-07 14:23] Uafinder opened #4343 "Points which allocated via points allocation rules are not listed in points list"
I have an allocation rule which award 50 points on every award.
They are adding to user points, but doesn't display in points list:
http://vlad-test31.admin.kademi-ci.co/manageUsers/1533595/#pointsBucketTab-tab
http://vlad-test31.admin.kademi-ci.co/points-buckets/points/
http://vlad-test31.admin.kademi-ci.co/points-rules/
![image](https://user-images.githubusercontent.com/1945230/32498250-dc9188b6

[2017-11-07 14:23] mkhoudary commented on #4308
@bradmac I exported files and sum of credit:
![image](https://user-images.githubusercontent.com/3704174/32498275-f3789d12-c3d7-11e7-8faf-c26eea330ba4.png)

Sum of debit:
![image](https://user-images.githubusercontent.com/3704174/32498293-00f91a84-c3d8-11e7-9bf2-fa056d6eda56.png)

And that exactly matches the number you've mentioned..

[2017-11-07 15:09] Uafinder commented on #4202
Works like a charm!

[2017-11-07 15:09] #4202 closed

[2017-11-07 20:02] bradmac commented on #4339
But what problems did you see? We should only add an app as a dependency on another if there is some specific need for it. What is that need for each app?

[2017-11-07 20:03] bradmac commented on #4339
Just to clarify: dont go checking which apps depend on email app or not, just report what problems you see, and then we can resolve each problem individually.

[2017-11-07 21:00] gonzalon opened #4344 "Sku page import export dropdown"
dropdown wasnt working

[2017-11-07 21:02] gonzalon commented on #4344
![image](https://user-images.githubusercontent.com/2773216/32517645-ed806130-c46b-11e7-93fa-69aee8758670.png)

[2017-11-07 21:02] #4344 closed

[2017-11-07 21:19] gonzalon commented on #4338
The filtering works fine after a re-index

[2017-11-07 21:25] gonzalon commented on #4338
The amount of orgs in the agg filter was wrong for no type

![image](https://user-images.githubusercontent.com/2773216/32518638-12b21d4c-c46f-11e7-9db9-9476d9554ecc.png)

[2017-11-07 23:03] gonzalon commented on #4337
![image](https://user-images.githubusercontent.com/2773216/32522611-e0ebf7f2-c47c-11e7-81aa-55b4cd979a9a.png)

[2017-11-07 23:07] gonzalon commented on #4283
@Uafinder This was fixed in one of the other issues, you should see it now

[2017-11-07 23:31] gonzalon commented on #4269
1- Pagination added, the default page size its 100.
3- Removed

[2017-11-08 00:09] gonzalon commented on #4310
@Uafinder it wasn't remembering the stage, it'd always select the first one (Cold).
Now it's clearing the source too, so the user has to select it.

latest leadman lib (1.6.3)

[2017-11-08 00:28] bradmac commented on #4337
@gonzalon in the screenshot above i can see 4 org types in the aggregation list, but it says "1" in the stats panel

[2017-11-08 01:00] bradmac opened #4345 "Allow re-running scheduled email tasks"
Because we often need to debug sending scheduled emails, and test isnt the same as having it run on a worker

[2017-11-08 01:03] gonzalon commented on #4253
Needs to be deployed

![image](https://user-images.githubusercontent.com/2773216/32526330-95447f8e-c48d-11e7-973f-45b6d1bf8c73.png)

[2017-11-08 01:04] #4253 closed

[2017-11-08 01:05] gonzalon commented on #4337
as we spoke it's updating the stats by the filters as the users page

[2017-11-08 01:39] bradmac commented on #4308
Hmm, very strange.

To mitigate the risk of this happening again, lets display totals on the manage buckets page from the db, filtered by date range. Currently the totals are for all time.

Eg
https://carters.admin.kademi.com.au/points-buckets/

![image](https://user-images.githubusercontent.com/826458/32527363-934840bc-c492-11e7-8a9f-3b99bb67b8bb.png)

[2017-11-08 02:15] bradmac commented on #4324
you should be able to now

[2017-11-08 02:15] bradmac commented on #4166
This is part of KRecognition

[2017-11-08 02:30] anhnt opened #4346 "Allow anon users to view calendar event"
At the moment this needs login to view http://version1.travelworldnz_travelworld.kademi.com.au/Calendars/secondaryschoolholiday?start=2017-11-01&end=2017-12-01&_=1510107652192

I think we can have new role for viewing calendar event then add that role to **public** group

https://github.com/Kademi/client-gilpin-travelworld/issues/37

[2017-11-08 02:38] anhnt commented on #4346
Note that our new component is using ajax that doenst allow anno user to see results.

[2017-11-08 02:46] gonzalon commented on #4269
- 1 Pagination added, the default page size its 100.
- 2 --
- 3 Removed
- 4 Done
- 5 It's taking you to the "All leads" page. Why is invalid?
- 6/7 Updated as the same style in the other leads page

[2017-11-08 03:01] gonzalon commented on #4209
![image](https://user-images.githubusercontent.com/2773216/32529547-0ef2f2b0-c49e-11e7-93eb-f0373eec8c7f.png)

[2017-11-08 03:05] bradmac commented on #4345
![image](https://user-images.githubusercontent.com/826458/32529655-905d1330-c49e-11e7-9ca0-6a6c3338bd5c.png)

[2017-11-08 03:06] bradmac commented on #4345
After using the reschedule link, the job should be scheduled to run as if the last run had not happened, so it will be scheduled for the past. Ie "3 hours ago" in the screen above

[2017-11-08 03:52] bradmac commented on #4345
Note to self
[code]

[2017-11-08 03:59] ducdhm commented on #4129
Done!

[2017-11-08 04:21] gonzalon commented on #3478
@AlaaKhalaf94  this one and https://github.com/Kademi/kademi-dev/issues/4264 should be working fine

now for the text its going to cut the name like this:
![image](https://user-images.githubusercontent.com/2773216/32531499-dbc8a94c-c4a8-11e7-9b0a-d67066fb068d.png)

please test with the latest version 1.6.4

[2017-11-08 05:54] anhnt commented on #4234
done

[2017-11-08 06:10] anhnt commented on #4277
I could not reproduce. it does save values correctly for me

[2017-11-08 07:16] Uafinder commented on #4339
No probs... I've just spot this while working on other issues and decided to report. No need to do job for sake of job :)

[2017-11-08 07:16] #4339 closed

[2017-11-08 07:20] mrdadah commented on #4324
Pushed

[2017-11-08 07:42] AlaaKhalaf94 commented on #4313
passed

[2017-11-08 07:51] AlaaKhalaf94 commented on #4324
waiting this issue to be closed : https://github.com/Kademi/kademi-dev/issues/4342 , to test

[2017-11-08 08:05] Uafinder commented on #4310
It works!

[2017-11-08 08:05] #4310 closed

[2017-11-08 08:30] anhnt opened #4347 "profile.lastVisit field is always null"
Please have a look at this query http://vlad-test29.admin.kademi-ci.co/queries/test/#queryBuilderTab-tab

This user has visited some websites but it doesnt stored value to ES profile index http://vlad-test29.admin.kademi-ci.co/manageUsers/1291940/#userAppTab-tab

The lastVisit field will be updated if reindex

[2017-11-08 08:39] AlaaKhalaf94 commented on #4234
passed

[2017-11-08 08:39] #4234 closed

[2017-11-08 09:02] Uafinder commented on #4336
Org type filter absent
![image](https://user-images.githubusercontent.com/1945230/32540109-513a9102-c474-11e7-9f0e-01d318354e11.png)
http://vlad-test36.admin.kademi-ci.co/organisations/

[2017-11-08 09:12] Uafinder commented on #4283
Doh, no...
![image](https://user-images.githubusercontent.com/1945230/32540557-b9129d32-c475-11e7-8334-f27558fd7080.png)
http://vlad-test36.admin.kademi-ci.co

[2017-11-08 09:21] Uafinder commented on #4338
Looks like no-type problem is because of root org appears to count...
https://github.com/Kademi/kademi-dev/issues/4283
I will take a look on filter not working problem.

[2017-11-08 09:21] #4338 closed

[2017-11-08 09:22] Uafinder commented on #4337
It works perfect...

[2017-11-08 09:22] #4337 closed

[2017-11-08 09:54] Uafinder opened #4348 "Scheduled email content Keditor stucks"
1. Fresh account
2. Cache cleared
3. Created new email job
4. Saved some details
5. Edit content
6.
![image](https://user-images.githubusercontent.com/1945230/32542397-2213428c-c47b-11e7-82fb-3b8bf5c37616.png)
http://vlad-test36.admin.kademi-ci.co/scheduledEmails/scheduleqa1/#configuration-tab
![image](https://user-images.githubusercontent.com/1945230/32542438-50dc24c6-c47b-11e7-9cbf-ba740510e3ba.

[2017-11-08 10:21] bradmac commented on #4277
@Uafinder I also followed the steps in the video, and it worked correctly

[2017-11-08 11:28] Uafinder opened #4349 "Manage leads page bulk deletion doesn't update leads count without refresh"
1. select some leads by checkboxes
2.  push remove
3. They are still number 3
4. Refresh page and it will be counted correctly.
![image](https://user-images.githubusercontent.com/1945230/32546397-a8c7c47c-c487-11e7-899a-3642881ce4bc.png)
![image](https://user-images.githubusercontent.com/1945230/32546420-b91416c8-c487-11e7-84d2-2362e3f670a1.png)
http://vlad-test36.admin.kademi-ci.co

also,
it does

[2017-11-08 11:34] Uafinder opened #4350 "Lead import process very slow"
I've a file which contains ~250 lead records.
First 50 leads was imported quick, but then process is slowing down very quickly and in the end the speed of import was 1 lead per 5 seconds.

[export-leads(13) - Copy.zip](https://github.com/Kademi/kademi-dev/files/1453670/export-leads.13.-.Copy.zip)

http://vlad-test36.admin.kademi-ci.co

[2017-11-08 11:51] Uafinder commented on #4277
Found a problem, this is a sorting issue
The thing is, that if deal amount is not filled yet - it's null. When you are using quick edit feature it sets deal amount to "0", not null. And if you don't sort leads list manually, when you edit some lead it jumps somewhere up and think that it enter some mess.

[2017-11-08 11:52] AlaaKhalaf94 opened #4351 "Add remove mode in organisation uploader"
Please add remove mode in organisation uploader like Existing in user uploader

![capture1](https://user-images.githubusercontent.com/26510030/32547690-fcde6008-c48b-11e7-8b9e-2361975c0a0f.PNG)

[2017-11-08 12:04] Uafinder opened #4352 "Leads quick edit feature bugs"
When using quick edit feature for leads:
1. Score amount disappears
2. Journey label disappears
![image](https://user-images.githubusercontent.com/1945230/32548257-bff76e4e-c48d-11e7-8c6d-e78df2dfbbf5.png)
http://vlad36-leads_vlad-test36.kademi-ci.co/leads/

[2017-11-08 12:14] Uafinder commented on #4269
1. Pagination ok, there is no possibility to change page size.
![image](https://user-images.githubusercontent.com/1945230/32548404-32b82716-c48e-11e7-80d6-26105b0fd107.png)
2. ok
3. ok
4. Sorting works ok, but when you click some header to sort - sorting ended successfully, but Kademi ico blinking constantly.
![image](https://user-images.githubusercontent.com/1945230/32548546-b7fd0a72-c48e-11e7-92

[2017-11-08 13:01] anhnt commented on #4352
Fixed

@bradmac When a row is updated datatable will update that row with data which returns from server which is LeadBean object. But that object doesnt have score prop so that column will be blank. The same problem with funnelName field but i added that to LeadBean. Please advise!

[2017-11-08 13:04] anhnt commented on #4277
I think we should temporary disable sorting when editing a row. So user just need to click sort again if needed

[2017-11-08 13:19] Uafinder commented on #4263
Backup duration - 4 mins 30 secs...

[2017-11-08 13:57] Uafinder opened #4353 "New org page visual bug when resolution is not 1920x1080"
![image](https://user-images.githubusercontent.com/1945230/32552695-76261f8a-c49d-11e7-9a57-1595b5ae18b7.png)
http://vlad-test38.admin.kademi-ci.co/organisations/

[2017-11-08 14:24] Uafinder opened #4354 "dashboard graphs are not responsible without refresh"
![image](https://user-images.githubusercontent.com/1945230/32553957-f73733e0-c4a0-11e7-820d-4936ae6d9739.png)
![image](https://user-images.githubusercontent.com/1945230/32553965-fd4eaefc-c4a0-11e7-8a4a-24f476f69e9c.png)
http://vlad-test38.admin.kademi-ci.co/

[2017-11-08 14:35] Uafinder opened #4355 "Stream dashboard zone which may cause no way situation"
Marked zone is clickable and leads to full screen stream window, and there is no way out of there.
![image](https://user-images.githubusercontent.com/1945230/32554438-6dbeec96-c4a2-11e7-9d52-e57485ce72f2.png)

![image](https://user-images.githubusercontent.com/1945230/32554454-82600a04-c4a2-11e7-805b-e6e1666fce3c.png)
http://vlad-test38.admin.kademi-ci.co/

[2017-11-08 20:24] gonzalon commented on #4336
Hey @Uafinder sorry forget to mention that, it would only show when there are more than 4 items to filter.
Just added one org type to your account:

![image](https://user-images.githubusercontent.com/2773216/32572530-c17bc9e8-c52f-11e7-9f15-85af598fbebc.png)

[2017-11-08 20:48] bradmac commented on #4355
the stream needs a complete overhaul anyway..

[2017-11-08 20:48] bradmac commented on #4354
That's fine

[2017-11-08 20:48] #4354 closed

[2017-11-08 20:49] bradmac commented on #4353
@gonzalon please move the map and "create account" links into the tools dropdown. They're not frequently used

[2017-11-08 20:52] bradmac commented on #4263
This is correct. You will need to manually reindex after restoring

[2017-11-08 20:59] bradmac opened #4356 "Backup/Restore issues (not urgent)"
Related https://github.com/Kademi/kademi-dev/issues/4263

http://moblix.admin.kademi-ci.co/backup/
to
http://vlad-test38.admin.kademi-ci.co/

5. Translations doesn't copy

7. Signups doesn't copy
http://vlad-test38.admin.kademi-ci.co/signupSearch
http://moblix.admin.kademi-ci.co/signupSearch

8. Journeys are copied successful, but without leads in it.
![image](https://user-images.githubusercontent

[2017-11-08 20:59] bradmac commented on #4263
Moved non-urgent issues here - https://github.com/Kademi/kademi-dev/issues/4356

[2017-11-08 21:15] bradmac commented on #4277
Guys, thats not a problem worth solving. Users are able to edit the table just fine as it is now. It will initially be unexpected, but then users will understand its being sorted and that is actually correct.

[2017-11-08 21:16] gonzalon commented on #4353
![image](https://user-images.githubusercontent.com/2773216/32574733-eec2af5a-c536-11e7-9419-f4e71d4ab96e.png)

[2017-11-08 21:16] bradmac commented on #4352
Thats fine, we can live with it like this

[2017-11-08 21:26] bradmac commented on #4269
What do you mean by "going back"? Do you mean clicking the back button on your web browser? If so that will take you to whatever page you viewed previously.

[2017-11-08 21:28] gonzalon commented on #4283
No parent org, and the count it's right!!!  :)
Also checked re-indexing and it doesn't show

![image](https://user-images.githubusercontent.com/2773216/32575335-91f1794e-c538-11e7-9284-87dfb9016461.png)

[2017-11-08 21:35] bradmac commented on #4350
@tuzzmaniandevil sounds like we need session.clear

[2017-11-08 21:42] bradmac commented on #4349
@anhnt please just remove selected rows with JS

[2017-11-08 22:02] gonzalon commented on #4269
The date issue and other minor issues fixed.
I talked with Brad and the link in the breadcrumbs can stay like that.

[2017-11-08 23:02] gonzalon commented on #3140
@Uafinder ok I found the issue why we were having so much troubles with the sorting! now it should be fine for good!

Just note that the blanks are never going to be on top, that's how the sorting of ES works, and actually you can see the same behaviour in the users page.

[2017-11-08 23:16] bradmac commented on #4326
Fixed. Now makes a distinction between
- host not found
- license invalid
- license valid

When the license is invalid, still allows access to certain pages

[2017-11-08 23:16] #4326 closed

[2017-11-08 23:36] paddyow opened #4357 "Submitting an order takes longer than normal"
Login with this guy http://incremental-marketing.admin.kademi.com.au/manageUsers/82811266/#pointsBucketTab-tab

Add to cart and checkout.  The time to complete the checkout takes up to and beyond 5 seconds, which is longer than expected.

[2017-11-09 00:13] gonzalon commented on #3773
##TZ Buenos Aires selected:
![image](https://user-images.githubusercontent.com/2773216/32581589-592e89b4-c54f-11e7-8209-13fd8a467c68.png)

![image](https://user-images.githubusercontent.com/2773216/32581596-6443acbc-c54f-11e7-8726-3286af04f684.png)

##No selected TZ:
![image](https://user-images.githubusercontent.com/2773216/32581623-86ab2a50-c54f-11e7-89c2-d075669c8933.png)

![image](https://user

[2017-11-09 00:58] gonzalon opened #4358 "Is Inverse option being overwriten"
Celine from Gilpin was trying to set the footer links in white. Setted the is inverse option in the container and now its like:
![image](https://user-images.githubusercontent.com/2773216/32582856-bb86f960-c555-11e7-8d17-31685ef3b06d.png)

So it should be the default colour for the hyperlinks in black, and the inverse should be white. And underline on hover
URL: http://versionnew.gilpinperformance_

[2017-11-09 02:01] bradmac opened #4359 "Error after restore"
1. restore process breaks after 60 seconds
When try to refresh page or go to dashboard got an error
![image](https://user-images.githubusercontent.com/1945230/32553026-633c7166-c49e-11e7-9ea4-7850a98071ff.png)
After 3 minutes restore looks success.

[2017-11-09 02:49] ducdhm commented on #4358
@gonzalon Fixed! Please check it out. If it's ok for you. Please deploy to AU

[2017-11-09 03:06] gonzalon commented on #4358
Works :)

![image](https://user-images.githubusercontent.com/2773216/32586531-ee733a20-c567-11e7-81e1-a6dc17022290.png)

Need to deploy to AU

[2017-11-09 03:47] gonzalon commented on #4347
To test:
- Create a new profile
- Login with that profile
- Visit one website
- Create a query like the one in the example to check
- The visit should apper wihout the need to re-index

[2017-11-09 03:48] ducdhm commented on #4358
Deployed!

[2017-11-09 04:18] anhnt commented on #4330
Fixed. please update kademi dev before testing

[2017-11-09 04:20] tuzzmaniandevil commented on #4263
1. Fixed
2. Fixed
3. The Dyna group doesn't work in Moblix either, It doesn't have any queries.

[2017-11-09 04:47] gonzalon commented on #4269
Found two issues:
- when the funnel was created, if you go directly to the leads page would throw a NPE.
- the list wasn't filtering by funnel, so you would see the leads in all funnels!

[2017-11-09 05:00] anhnt commented on #4349
I got error when on leads page

[code]

[2017-11-09 05:33] ducdhm commented on #4340
Fixed!

[2017-11-09 05:38] ducdhm commented on #4342
@AlaaKhalaf94 I can't reproduce this issue. Can you help me?

[2017-11-09 06:43] anhnt commented on #4332
Could not reproduce.
Go to this page: http://version1.vlad32-learn_vlad32-test.kademi-ci.co/programs/p1/c1/m1/contenteditor?fileName=pp2test.html&miltonUserUrl=/users/anh&miltonUserUrlHash=d482923c-74c4-46e1-a36a-5064552242dc:UFhRE7179iGqYBOPzDfYGl-64lo

![image](https://user-images.githubusercontent.com/735555/32591869-da363350-c553-11e7-834f-ca6c9ae73d0d.png)

![image](https://user-images.github

[2017-11-09 07:11] anhnt commented on #4348
Tested working fine on chrome and firefox

[2017-11-09 07:58] Uafinder commented on #4353
Nice move, it works!

[2017-11-09 07:58] #4353 closed

[2017-11-09 08:24] Uafinder commented on #4336
It works!

[2017-11-09 08:24] #4336 closed

[2017-11-09 08:29] Uafinder commented on #4283
root org is not displaying, but the count is incorrect
![image](https://user-images.githubusercontent.com/1945230/32595484-c8ea4ef8-c538-11e7-90ab-ef8e24c60fbf.png)
http://vlad-test36.admin.kademi-ci.co/organisations

[2017-11-09 08:42] ducdhm commented on #4280
@Uafinder

`1.` Here is what I got and seem like it's ok. Doesnt look like your screen shot

![aaaa](https://user-images.githubusercontent.com/1289631/32595372-4c8b8668-c562-11e7-8758-b20f6b98bcd5.png)

`2.` Fixed!

[2017-11-09 08:45] Uafinder commented on #4348
1. Delete all emails tasks
2. Clear cache
3. Create new task
4. Edit it, fill from, subject, hourly rate
5. Push save
6. Press edit content

[2017-11-09 09:21] Uafinder commented on #4352
ok

[2017-11-09 09:21] #4352 closed

[2017-11-09 09:46] anhnt commented on #4332
fixed

[2017-11-09 10:26] AlaaKhalaf94 commented on #4342
stranger , I can't reproduce it again

[2017-11-09 10:26] #4342 closed

[2017-11-09 10:29] AlaaKhalaf94 commented on #4324
passed

[2017-11-09 10:29] #4324 closed

[2017-11-09 11:14] AlaaKhalaf94 commented on #3478
passed

[2017-11-09 11:14] #3478 closed

[2017-11-09 11:17] AlaaKhalaf94 commented on #4264
Hi @gonzalon , now it work well with me , but there is a little improvement in appearance
please add margin-bottom to name of file uploaded , I think 6px to be fine

![capture1](https://user-images.githubusercontent.com/26510030/32602852-5abe48a4-c550-11e7-98c4-d2346872177c.PNG)

[2017-11-09 11:23] Uafinder opened #4360 "Update dependencies for apps inside the website doesn't change version to last (remains previous one or even blank)"
![image](https://user-images.githubusercontent.com/1945230/32602963-d0710550-c550-11e7-9d75-cabf3d67b06a.png)
![image](https://user-images.githubusercontent.com/1945230/32602977-d6c0f83e-c550-11e7-9eef-f04a3a72157c.png)
![image](https://user-images.githubusercontent.com/1945230/32602995-deb42958-c550-11e7-9fbf-44fb9a259d7d.png)
![image](https://user-images.githubusercontent.com/1945230/32603023-f6

[2017-11-09 11:37] Uafinder commented on #4340
1. When you submit one entry and push "submit another" it appears to be that user photo is not showing.
![image](https://user-images.githubusercontent.com/1945230/32603608-02c76f88-c553-11e7-9b39-18e7de9206a9.png)
http://version1.vlad41-promos_vlad-test41.kademi-ci.co/rewards/promo1/
http://vlad-test41.admin.kademi-ci.co/rewards/promo1/#details-tab

[2017-11-09 11:59] Uafinder commented on #4332
Yeah, it's good!

[2017-11-09 11:59] #4332 closed

[2017-11-09 12:04] Uafinder commented on #4330
It works!

[2017-11-09 12:04] #4330 closed

[2017-11-09 12:20] Uafinder commented on #4280
2. YEah, it's ok
1. probably I've just got to specific image size which looks like on my screen
so, it ok

[2017-11-09 12:20] #4280 closed

[2017-11-09 12:21] Uafinder commented on #4277
closing

[2017-11-09 12:21] #4277 closed

[2017-11-09 12:28] Uafinder opened #4361 "After Install app to a website button should become inactive and with correct label"
Before install
![image](https://user-images.githubusercontent.com/1945230/32605341-c7acb49c-c559-11e7-957e-75aeb45ab190.png)
After install
![image](https://user-images.githubusercontent.com/1945230/32605376-e7eaa142-c559-11e7-97e1-7f92ea883a54.png)
What does it mean Enable?! It's already enabled...
It's clickable, but it says to install app again.
![image](https://user-images.githubusercontent.com

[2017-11-09 12:34] Uafinder commented on #3773
It works like a charm!

[2017-11-09 12:34] #3773 closed

[2017-11-09 12:53] Uafinder commented on #3140
Sorting great!

[2017-11-09 12:53] #3140 closed

[2017-11-09 13:00] Uafinder commented on #4269
Both confirmed

[2017-11-09 13:45] Uafinder commented on #4269
About those ones which were fixed - they are ok

[2017-11-09 13:52] Uafinder opened #4362 "Could not create voucher type when ID or name are using accross rootorg"
![image](https://user-images.githubusercontent.com/1945230/32608697-e04562cc-c565-11e7-850e-ed9047fe30c6.png)

http://vlad-test41.admin.kademi-ci.co/voucher-type/

This name were existed in my test accounts earlier.

[2017-11-09 13:57] Uafinder opened #4363 "Voucher type extra field add option button does nothing"
![image](https://user-images.githubusercontent.com/1945230/32608952-a679a20a-c566-11e7-93af-a8b402332de5.png)
http://vlad-test41.admin.kademi-ci.co/voucher-type/skd1/#details-tab

[2017-11-09 13:59] Uafinder opened #4364 "Voucher type content image upload doesn't work"
![image](https://user-images.githubusercontent.com/1945230/32609017-db5e1e2e-c566-11e7-97f2-a9a34e0dcdb3.png)

Loading continue forever.
http://vlad-test41.admin.kademi-ci.co/voucher-type/skd1/#voucherContent-tab

[2017-11-09 14:07] Uafinder opened #4365 "Should randomHex(5) expression return values with 3 or 4 symbols?"
I have an expression for vouchers creation skdYY-@{randomHex(5)}
It create for me some vouchers, but some of the was shorter that I expected, for example:
skdYY-beb
skdYY-68bf
So the question is, RandomHex(5) should return values between 0-fffff, or 10000-fffff (to save number of symbols)?
http://vlad-test41.admin.kademi-ci.co/voucher-type/skd1/#details-tab

[2017-11-09 14:19] Uafinder opened #4366 "Adding specific user to a specific group fails"
![image](https://user-images.githubusercontent.com/1945230/32609726-457fb202-c569-11e7-84dd-f112ee66b4bb.png)
![image](https://user-images.githubusercontent.com/1945230/32609776-6fe9773a-c569-11e7-81e8-291198ce4ed8.png)
I've tried both ways, but both failed - after pushing add it simple never ends.

http://vlad-test41.admin.kademi-ci.co/manageUsers/1882725/#summary-tab
try add "vouch" group

[2017-11-09 14:51] Uafinder commented on #4299
What user, where, where it happened?

[2017-11-09 15:14] Uafinder opened #4367 "Restore does nothing"
![image](https://user-images.githubusercontent.com/1945230/32611917-8ae2d9ea-c56f-11e7-958e-5c5f6efb0e6a.png)
1. I've done a backup on moblix qa
2. Then create a new account
http://vlad-test42.admin.kademi-ci.co/backup/
3. Go here, and push restore backup
4. It uploads file and that's all... it doesn't do anything else.
I've wrote a video:
https://drive.google.com/open?id=1rIu3HrG5nasPrhVcm7lIy4dY

[2017-11-09 20:21] gonzalon commented on #4358
This its working in the Gilpin site

[2017-11-09 20:21] #4358 closed

[2017-11-09 20:30] bradmac commented on #4209
@Uafinder the list shows only used reason codes. There is no point allowing searching for something which isnt there.

[2017-11-09 20:31] #4191 closed

[2017-11-09 20:32] #4133 closed

[2017-11-09 20:33] #4275 closed

[2017-11-09 20:33] #4088 closed

[2017-11-09 20:34] #3971 closed

[2017-11-09 20:34] #3890 closed

[2017-11-09 20:40] #4276 closed

[2017-11-09 20:40] #4242 closed

[2017-11-09 20:40] tuzzmaniandevil commented on #4346
We already support this :-)

You just give the Content Viewer role to the Calendar repository.

[2017-11-09 20:40] #4048 closed

[2017-11-09 20:41] #4078 closed

[2017-11-09 20:41] #3709 closed

[2017-11-09 20:43] tuzzmaniandevil commented on #4259
You need to setup an organisation based points bucket. Add a user to 2 different organisations and use the organisation selector to switch between the two orgs. The points balance should change when you switch

[2017-11-09 20:46] tuzzmaniandevil commented on #4322
Anonymous comments wasn't enabled for the docs site :-)

[2017-11-09 20:46] bradmac opened #4368 "Score amount disappears when editing leads table"
When you use lead quick edit feature - score amount disappear.
![image](https://user-images.githubusercontent.com/1945230/32369885-ba296f92-c093-11e7-84fb-6aae6564d830.png)

From https://github.com/Kademi/kademi-dev/issues/4316

[2017-11-09 20:48] #4322 closed

[2017-11-09 20:51] bradmac commented on #4264
And please use button group :)

[2017-11-09 20:52] gonzalon commented on #4017
This link its also wrong:

![image](https://user-images.githubusercontent.com/2773216/32629042-c679ed1c-c5fc-11e7-90d9-6176fad27663.png)

![image](https://user-images.githubusercontent.com/2773216/32629076-de2e2860-c5fc-11e7-92f6-8b7860b9cf5f.png)

[2017-11-09 20:56] bradmac commented on #4365
Should definitely return 5 characters!

[2017-11-09 21:01] bradmac commented on #4299
Hey @Uafinder we just need to check voucher validation and redemption in front end sites

To do that
- create a website
- enable the vouchers app
- make sure the website is within an org account which is the redeeming org for a voucher type
- make sure you login as a user with voucher redeemer role
- allocate a voucher frmo admin
- verify you can search for and find that voucher in the front end

[2017-11-09 21:19] gonzalon commented on #4017
As this page should be to manage the funnel branches and this is still to be implemented, I added a blank page with a redirect to the /funnels page.

[2017-11-09 23:21] tuzzmaniandevil commented on #4173
Applied same fix

[2017-11-09 23:24] bradmac opened #4369 "KJourneys app"
Create a marketplace app for when user want to use journeys for automation, but not necessarily part of lead management

This will create a funnel and enable funnels and tracking for the website its installed into

It will enable Leadman as an account level application, but not install it into any websites

[2017-11-09 23:27] bradmac commented on #4361
Now shows "Already installed" instead of button

![image](https://user-images.githubusercontent.com/826458/32634849-8b7168ce-c612-11e7-9e3b-aa4e9b8cc1da.png)

[2017-11-09 23:28] bradmac commented on #4369
![image](https://user-images.githubusercontent.com/826458/32634876-b02567d8-c612-11e7-81fc-f93dd6bff6f3.png)

[2017-11-09 23:29] gonzalon commented on #4099
![image](https://user-images.githubusercontent.com/2773216/32634893-be0e7f60-c612-11e7-9459-f96a8b62d334.png)

![image](https://user-images.githubusercontent.com/2773216/32634910-d64651f2-c612-11e7-8acc-35a06a262340.png)

[2017-11-09 23:35] gonzalon commented on #4119
Was already fixed:

![image](https://user-images.githubusercontent.com/2773216/32635086-a1138436-c613-11e7-864e-fc7d97617c16.png)

[2017-11-09 23:49] bradmac opened #4370 "Menu option to view pages without logging in"

[2017-11-09 23:50] bradmac commented on #4370
![image](https://user-images.githubusercontent.com/826458/32635578-c67f9d8e-c615-11e7-9d74-1da165b2ff1b.png)

[2017-11-09 23:50] #4370 closed

[2017-11-09 23:51] bradmac commented on #4370
Also, removed the "edit with content editor" as this is the normal editor now

[2017-11-09 23:53] gonzalon commented on #4313
It's showing the stages where it should be showing the sources, which makes the filters dont find any data:

![image](https://user-images.githubusercontent.com/2773216/32635676-2d118c56-c616-11e7-9111-e0a52f272bd2.png)

[2017-11-10 00:03] tuzzmaniandevil commented on #4329
Looks like the image and video uploader are uploading to `/` instead of the current href/dir so that's why it isn't uploading. The app repo only get's created when it get's used. So if the CKEditor isn't using the right directory it won't create the repo or upload to the correct place.

@ducdhm Can you see why the image and video addon for the CKEditor is using the wrong path?

[2017-11-10 00:13] tuzzmaniandevil commented on #4343
It's deffenatly adding the points, Not sure where your screenshot is from.
![image](https://user-images.githubusercontent.com/3378330/32636275-ef5590e4-c618-11e7-8872-f2419e6c3067.png)

[2017-11-10 00:19] tuzzmaniandevil commented on #3728
Checked. I can't delete points until I delete the debit records that are linked to it.

Were you deleting the debits first then the points? You should try just deleting the points and not the debits, You will get an error like this:

![image](https://user-images.githubusercontent.com/3378330/32636437-b1eed066-c619-11e7-8a3f-d181a27175de.png)

[2017-11-10 00:20] bradmac commented on #4343
@Uafinder please always give the URL of the page where you see a problem

[2017-11-10 00:24] gonzalon commented on #4313
needed to deploy the libs to US.

[2017-11-10 00:24] #4313 closed

[2017-11-10 00:34] paddyow opened #4371 "Funnel lead should click through to lead not lead list"
http://kcrm.kademi.us/analytics/kademi-sales

If you click on the cog icon, it should open the lead.

![image](https://user-images.githubusercontent.com/2201340/32636910-173ad870-c60b-11e7-88cb-fbeb03b3617e.png)

[2017-11-10 01:56] gonzalon commented on #4371
Please re-index the leads to test it :)

[2017-11-10 01:58] gonzalon commented on #4284
This was fixed

![image](https://user-images.githubusercontent.com/2773216/32639214-a548f84c-c627-11e7-9ae7-9b75875b2231.png)

[2017-11-10 02:25] anhnt commented on #4346
Yup looking good thanks

[2017-11-10 02:25] #4346 closed

[2017-11-10 02:48] tuzzmaniandevil commented on #4291
1. Fixed (Specific to firefox Urg..)
2. Search works but only searches on the profile and and email
![image](https://user-images.githubusercontent.com/3378330/32640625-80f51dfc-c62e-11e7-8912-cac7a393ca8e.png)

[2017-11-10 03:16] tuzzmaniandevil commented on #4218
Easiest way to fix it is to reset the stage to blank as every time the modal opens or the journey field changes it will reload the stages for that journey

[2017-11-10 03:53] bradmac commented on #4348
If we cant solve the problem directly, lets just move the editor to a new tab

[2017-11-10 03:59] bradmac commented on #4349
Fixed error above

[2017-11-10 04:00] bradmac commented on #4340
@anhnt please check why the image thumb is not displayed.

[2017-11-10 04:02] bradmac commented on #4279
@tuzzmaniandevil please also refactor the ecom manage store page to be the same as reward stores, ie with a sepereate view for adding products

[2017-11-10 04:22] anhnt commented on #4312
done

[2017-11-10 05:18] anhnt commented on #4349
fixed

[2017-11-10 05:28] paddyow opened #4372 "Saving a contacts details should not require an email address"
http://kcrm.kademi.us/custs/21b43d20-5063-495d-beee-a0efacc177e0/

At the moment email is mandatory

[2017-11-10 06:39] anhnt commented on #4329
Fixed

[2017-11-10 07:01] anhnt commented on #4372
done

[2017-11-10 08:03] Uafinder commented on #4361
![image](https://user-images.githubusercontent.com/1945230/32648352-14eed5ec-c5fe-11e7-96a6-c0f70d44f748.png)
It's after install
The same thing after refreshing page.
http://vlad-test43.admin.kademi-ci.co/marketPlace/KLearning/?websiteBranch=version1&websiteName=vlad43-learn

[2017-11-10 08:32] Uafinder commented on #4372
Yup, it fixed
But Should be removed mandatory for email when creating contact.

[2017-11-10 08:49] Uafinder opened #4373 "Lead contacts bugs"
![image](https://user-images.githubusercontent.com/1945230/32649559-26aaaa40-c603-11e7-962b-ff9ad28402c1.png)
![image](https://user-images.githubusercontent.com/1945230/32649565-2f2d11bc-c603-11e7-84bf-a11cbd3ef883.png)
1. Font color bad - should be white or invertable
2. After creating contact - it's adding to leads group. Is it ok?
3. Creating contact (push create and close) doesn't cause to upd

[2017-11-10 09:01] Uafinder commented on #4361
It's ok! Just was need to rebuild

[2017-11-10 09:01] #4361 closed

[2017-11-10 09:06] Uafinder opened #4374 "Minor visual bug on analytics dashboard"
![image](https://user-images.githubusercontent.com/1945230/32650594-136e88b2-c607-11e7-83fd-2cf7cea7658e.png)
Should be either 0 or N/A

[2017-11-10 09:13] Uafinder commented on #4318
Yup!

[2017-11-10 09:13] #4318 closed

[2017-11-10 09:35] Uafinder opened #4375 "Promotions app dependencies"
When you enable Rewards and Promotions app it doesn't enough to make it works...
I've enable it here
http://vlad-test43.admin.kademi-ci.co/manageApps/#installed-tab
And then enable it here
http://vlad-test43.admin.kademi-ci.co/websites/vlad43-promo/version1/#panel_apps-tab
Create a promo here:
http://vlad-test43.admin.kademi-ci.co/rewards/promo1/#details-tab
But when you go to frontend it gives yo

[2017-11-10 09:50] anhnt commented on #4179
fixed form validation

[2017-11-10 09:53] anhnt commented on #4372
removed mandatory validation

[2017-11-10 10:14] Uafinder opened #4376 "When no rewards is available area for rewards are still clickable and leads to error"
![image](https://user-images.githubusercontent.com/1945230/32653412-8423c398-c610-11e7-8f3c-bd513533d919.png)
![image](https://user-images.githubusercontent.com/1945230/32653419-8a2c9828-c610-11e7-9b95-f80e0faaa7a1.png)
http://vlad43-promo_vlad-test43.kademi-ci.co/rewards/
http://vlad-test43.admin.kademi-ci.co/rewards/

[2017-11-10 10:47] Uafinder commented on #4349
It works like a charm!

[2017-11-10 10:47] #4349 closed

[2017-11-10 10:56] Uafinder opened #4377 "Delete all leads on the second page cause impossible to go back"
For example you have 120 leads separated to 2 pages. You go to second page, select all leads on the second page by select all checkbox, press delete.
All leads on the second page are deleted, pages component disappear and you would have an empty list with 100 leads in it.
![image](https://user-images.githubusercontent.com/1945230/32655714-7ffb4bc2-c617-11e7-9470-2ca9799f3e91.png)
![image](https://

[2017-11-10 11:13] Uafinder opened #4378 "KCRM: Displaying records counter bad on Contacts page"
![image](https://user-images.githubusercontent.com/1945230/32656038-e42f9dd6-c618-11e7-83d2-d0258c9eadff.png)
http://vlad43-leads_vlad-test43.kademi-ci.co/custs/?startPos=100&pageSize=100
http://vlad-test43.admin.kademi-ci.co

[2017-11-10 11:34] Uafinder opened #4379 "KCRM: Payments menu bad"
![image](https://user-images.githubusercontent.com/1945230/32656725-c87ad580-c61b-11e7-901b-09ed2ad1b802.png)
http://vlad43-leads_vlad-test43.kademi-ci.co
http://vlad-test43.admin.kademi-ci.co/

[2017-11-10 11:52] Uafinder opened #4380 "KCRM: Leads page pagination?"
![image](https://user-images.githubusercontent.com/1945230/32657385-392baa6e-c61e-11e7-8849-3ae6f7e846f1.png)
Does leads page need a pagination?
http://vlad43-leads_vlad-test43.kademi-ci.co/leads/?query=&leadType=active

[2017-11-10 11:56] Uafinder commented on #4371
Still same sit
![image](https://user-images.githubusercontent.com/1945230/32657532-c78c5420-c61e-11e7-83be-8e1c9848bda1.png)
![image](https://user-images.githubusercontent.com/1945230/32657543-cf5cc90a-c61e-11e7-9248-9c0acf8e6f19.png)
http://vlad43-leads_vlad-test43.kademi-ci.co/analytics/journey1

[2017-11-10 13:42] Uafinder commented on #4343
it's not about image...
I mean that I can't see points which are allocated by point allocation rule

[2017-11-10 13:44] Uafinder commented on #4091
It works !

[2017-11-10 13:44] #4091 closed

[2017-11-10 13:46] Uafinder commented on #4017
ok, problem is solved for now

[2017-11-10 13:46] #4017 closed

[2017-11-10 13:51] Uafinder commented on #4173
It's ok at the moment

[2017-11-10 13:51] #4173 closed

[2017-11-10 13:53] Uafinder opened #4381 "KCRM: Unlink company button should be removed from company page"
![image](https://user-images.githubusercontent.com/1945230/32661276-0c02d3d0-c62f-11e7-9d29-1290c6986fab.png)
Pressing it cause reset all data for company, so probably just need to remove button (or probably change title). Note that leads remain linked to org even if you press this button.
http://vlad43-leads_vlad-test43.kademi-ci.co/companies/1917470

[2017-11-10 13:55] Uafinder commented on #4119
Yup!

[2017-11-10 13:55] #4119 closed

[2017-11-10 13:58] Uafinder commented on #4218
Yup, it looks ok at the moment

[2017-11-10 13:58] #4218 closed

[2017-11-10 14:00] Uafinder commented on #4284
Yup, it's ok

[2017-11-10 14:00] #4284 closed

[2017-11-10 14:25] Uafinder commented on #4312
https://drive.google.com/open?id=1pLK4fzZot9Y02IydWAABfYCb2T7a5O7W
looks different, but not much better...
http://vlad-test44.admin.kademi-ci.co/points-buckets

[2017-11-10 14:43] Uafinder commented on #4372
I've stop hinda, run kademi build, then stop hinda again, run update kademi dev, then run hinda, run autoloader, create a fresh account
![image](https://user-images.githubusercontent.com/1945230/32663314-3f385778-c636-11e7-9fbe-ee99be762a87.png)

:(

WHere i'm wrong?

[2017-11-10 14:53] Uafinder commented on #4329
It looks ok at the moment

[2017-11-10 14:53] #4329 closed

[2017-11-10 14:55] Uafinder commented on #4306
it works!

[2017-11-10 14:55] #4306 closed

[2017-11-10 14:59] Uafinder commented on #4209
oh, understood

[2017-11-10 14:59] #4209 closed

[2017-11-11 01:11] bradmac commented on #4380
No, not at the moment.

The intended usage of this page isnt consistent with pagination

[2017-11-12 07:46] AlaaKhalaf94 opened #4382 "Blogs content editor doesn't work on chrome"
here : https://oceanyouth.admin.kademi.com.au/blogs/homepage/oy-advisory-committee-sydney/#bodyCopy-tab
When I try to edit content the editor stays in a loading state and does not work
this case just on chrome browser

![capture1](https://user-images.githubusercontent.com/26510030/32696975-2ef5f2c2-c78e-11e7-9ce9-db29f552bd42.PNG)

But when I try on firefox browser it works well

[2017-11-12 13:52] AlaaKhalaf94 commented on #4256
Done

But it should show meaningful message when I create site with domain already exist
I test here : http://alaa-test.admin.kademi.com.au/websites/alaatest2/version1/#panel_details-tab

![capture1](https://user-images.githubusercontent.com/26510030/32699624-7884d4de-c7c1-11e7-9bd8-61554d5e3ee4.PNG)

[2017-11-12 19:48] bradmac commented on #4382
This looks like the https/http problem. @ducdhm can you take a look and then lets talk about how to resolve

[2017-11-12 19:50] bradmac commented on #4382
hey @tuzzmaniandevil i think that if the current admin site is https we need to use a https address for the blog article

[2017-11-12 20:09] bradmac commented on #4256
@tuzzmaniandevil please improve the validation response

[2017-11-12 20:21] bradmac opened #4383 "Content search should use prefix search on last word in search phrase"

[2017-11-12 20:58] bradmac opened #4384 "Facebook Pixel app"
Please create a custom app which just inserts Facebook Pixel tracking code for a specified ID:

https://www.facebook.com/business/help/952192354843755

Here's example code:

[code]

[2017-11-12 21:05] gonzalon commented on #4366
Just tested and its working but takes a loong time. For ex I added "vouch" and this is the delete time:

![image](https://user-images.githubusercontent.com/2773216/32703397-1d6dcc92-c85a-11e7-9715-2396f459656a.png)

[2017-11-12 21:08] gonzalon commented on #4371
@Uafinder  just did a re-index and its working fine in the account you linked:

http://vlad43-leads_vlad-test43.kademi-ci.co/analytics/journey1

![image](https://user-images.githubusercontent.com/2773216/32703416-8a0d52e6-c85a-11e7-8a05-ae6330730ae4.png)

![image](https://user-images.githubusercontent.com/2773216/32703418-9c6984dc-c85a-11e7-9541-81df70dd65b1.png)

[2017-11-12 21:14] bradmac commented on #4383
Appears to have been done already

[2017-11-12 21:14] #4383 closed

[2017-11-12 21:23] gonzalon commented on #4269
Both are fixed, it's filtering and for the new journey:
![image](https://user-images.githubusercontent.com/2773216/32703553-957b4ab4-c85c-11e7-9938-339286ee2843.png)

[2017-11-12 21:35] bradmac commented on #4375
We need to ensure that the Rewards and Promos app does not depend on RewardStore.

[2017-11-12 22:06] gonzalon commented on #4362
Removed constrains for the name in voucher type in the US and AU db

[2017-11-12 22:07] gonzalon commented on #4362
Rootorg:
![image](https://user-images.githubusercontent.com/2773216/32703963-bded2570-c862-11e7-9616-36b171c7a2c9.png)

Child org:
![image](https://user-images.githubusercontent.com/2773216/32703967-d2a23af0-c862-11e7-8835-f7eb117389d0.png)

[2017-11-12 23:41] bradmac commented on #4366
This is actually a performance issue, with same cause as
https://github.com/Kademi/kademi-dev/issues/4357

[2017-11-12 23:54] gonzalon commented on #4364
![image](https://user-images.githubusercontent.com/2773216/32704896-c19e4578-c871-11e7-8b4c-ab1115442f94.png)

[2017-11-12 23:54] gonzalon commented on #4363
Fixed
![image](https://user-images.githubusercontent.com/2773216/32704899-cad2521a-c871-11e7-9d55-70bddeb9a156.png)

[2017-11-13 01:49] bradmac commented on #4366
The problem is because the user being used is a sales person with many leads (100's or 1000's). Whenever the profile is updated, all leads the profile is the sales person for are re-indexed.

So this was taking a very long time.

However, i think we shouldnt do this, its an unnecessary performance overhead. It means whenever a sales person updates their phone number, name, etc, all of their leads

[2017-11-13 02:13] gonzalon commented on #4378
Fixed:
![image](https://user-images.githubusercontent.com/2773216/32706897-2786e9cc-c885-11e7-9bbe-c84828dcd51f.png)

[2017-11-13 02:49] bradmac commented on #4357
Seems fixed now. I think same issue as for https://github.com/Kademi/kademi-dev/issues/4366

[2017-11-13 03:13] ducdhm commented on #4384
Done!

[2017-11-13 03:15] #4384 closed

[2017-11-13 03:42] gonzalon commented on #4089
now for the accounts its converting the org id to lowercase

[2017-11-13 03:44] anhnt commented on #4372
working fine for me with new account http://anhtest1.admin.kademi-ci.co/websites/kcrmtest/version1/#panel_apps-tab

[2017-11-13 03:52] gonzalon commented on #4012
5. Fixed
6. if we hide the button there is no other way to use this functionality, it's that ok?

[2017-11-13 04:16] anhnt commented on #4376
Fixed

[2017-11-13 04:20] ducdhm commented on #4348
The root cause I guess is `$.getScriptOnce`. Sometimes, it doesnt work well. Open in new tab doesnt help in this case.

[2017-11-13 04:46] bradmac commented on #4012
The button should be hidden for deleted voucher types. The user should not be able to sell vouchers for a deleted voucher type.

[2017-11-13 06:21] anhnt commented on #4373
@bradmac can you please advise

It will show following, from high priority to low priority

Preferred name -> first name (last name) -> No name

[2017-11-13 06:55] ducdhm opened #4385 "Fix htmlPanel component"
Example: http://version2.idhealth-training_3dn.kademi.com.au/programs/prof-disability/DP01/MOD03/contenteditor?fileName=pfeedback.html

[2017-11-13 08:22] Uafinder commented on #4380
Ok, no probs!

[2017-11-13 08:22] #4380 closed

[2017-11-13 09:12] anhnt commented on #4312
Fixed please test again

[2017-11-13 09:24] Uafinder commented on #4378
Looks great

[2017-11-13 09:24] #4378 closed

[2017-11-13 09:31] Uafinder commented on #4373
Looks fine!

[2017-11-13 09:31] #4373 closed

[2017-11-13 09:35] Uafinder commented on #4371
Looks ok at the moment

[2017-11-13 09:35] #4371 closed

[2017-11-13 09:48] Uafinder commented on #4016
working ok

[2017-11-13 09:48] #4016 closed

[2017-11-13 09:49] anhnt opened #4386 "Journey dropdown list values are null on lead details"
![image](https://user-images.githubusercontent.com/735555/32719298-7d725fbc-c892-11e7-80d2-da482e74edca.png)

`leadDetailFormComponent.html`

[code]

`$funnel.funnelRepo` is always null in this case

[2017-11-13 09:58] Uafinder commented on #4366
it works!

[2017-11-13 09:58] #4366 closed

[2017-11-13 10:04] ducdhm commented on #4385
Fixed!

[2017-11-13 10:05] AlaaKhalaf94 commented on #4205
I tried to use it again, but it does not work with me properly
I choose icons from setting of component , but doesn't appear in Accordion
@anhnt , Repair the component , please

I test it again here : http://alaa-test32.admin.kademi-ci.co/pages/alaa-test32/version1
in Golden page

[2017-11-13 10:08] anhnt commented on #4176
Yup just updated messages

[2017-11-13 10:19] Uafinder opened #4387 "Enabling vouchers app doesn't cause appearing it in the menu"
![image](https://user-images.githubusercontent.com/1945230/32720568-9c729402-c86c-11e7-9837-cb0f21dd933c.png)
1. Enable voucher app
2. Appropriate menu items doesn't appear in side menu
3. Looks like it depends on Rewards app, because if you enable it - all items will appear correctly

http://vlad-test45.admin.kademi-ci.co/manageApps/#installed-tab

[2017-11-13 10:24] Uafinder commented on #4362
it works ok

[2017-11-13 10:29] Uafinder commented on #4363
It's ok at the moment

[2017-11-13 10:29] #4363 closed

[2017-11-13 10:51] Uafinder opened #4388 "Leads manage page - page size selector for paginator"
Page size selector needed for paginator.
Moved from https://github.com/Kademi/kademi-dev/issues/4269
http://vlad-test45.admin.kademi-ci.co/funnels/journey1/version1/leads/

[2017-11-13 10:52] Uafinder commented on #4269
looking great, page size moved to separate

[2017-11-13 10:52] #4269 closed

[2017-11-13 11:46] Uafinder commented on #4089
It works!

[2017-11-13 11:46] #4089 closed

[2017-11-13 12:53] Uafinder commented on #4176
Works like a charm

[2017-11-13 12:53] #4176 closed

[2017-11-13 12:55] Uafinder commented on #4348
IT works!

[2017-11-13 12:55] #4348 closed

[2017-11-13 13:00] Uafinder opened #4389 "Scheduled emails - current server time with timezone issue"
Normally
![image](https://user-images.githubusercontent.com/1945230/32726855-20e2f7c0-c883-11e7-8e79-4915fbb7bf65.png)
1. When timezone is selected it will show to you only date.
![image](https://user-images.githubusercontent.com/1945230/32726914-65bb0838-c883-11e7-8b99-8061429cd20c.png)

[2017-11-13 13:29] Uafinder commented on #4376
It works

[2017-11-13 13:29] #4376 closed

[2017-11-13 14:04] Uafinder commented on #4312
Looks great!

[2017-11-13 14:04] #4312 closed

[2017-11-13 14:14] Uafinder commented on #4179
Works great!

[2017-11-13 14:14] #4179 closed

[2017-11-13 14:43] Uafinder commented on #4279
Error fixed.
About Refactoring to be similar to reward store:
1. "Remove selected" button should be added
2. Removing and adding product via checkboxes should be removed.
![image](https://user-images.githubusercontent.com/1945230/32731123-b0da86d2-c891-11e7-9c8a-e3552fc08971.png)

[2017-11-13 20:02] bradmac commented on #4385
Hey @ducdhm I've checked on the 3DN site and i cannot see an editor for the html panel component

http://version2.idhealth-training_3dn.kademi.com.au/programs/prof-disability/DP01/MOD03/contenteditor?fileName=pfeedback.html

Tested in Firefox and Chrome including in incognito mode.

![image](https://user-images.githubusercontent.com/826458/32746441-7f89e936-c91a-11e7-80c7-aaac4d2c38be.png)

[2017-11-13 20:26] paddyow opened #4390 "ORG search does not work"
http://kademi.admin.kademi.us/organisations/

Search for 'Incentive Logic'

This org does exist, and  it does not refine to show only this ORG.

[2017-11-13 20:27] bradmac commented on #4387
Fixed

[2017-11-13 21:07] bradmac commented on #4390
It does for me:
![image](https://user-images.githubusercontent.com/826458/32749233-9cdba430-c923-11e7-975b-81fda4405d61.png)

[2017-11-13 21:08] bradmac commented on #4390
But the ranking is screwy. It should be sorting by relevance, and "incentive logic" should be at the top of the list when searching for "incentive logic"

[2017-11-13 21:15] bradmac commented on #4390
When no ordering field is selected:
- if there is no search criteria, order by title
- if there is a search criteria, order by relevance

[2017-11-13 21:16] bradmac commented on #4390
And please remove the address field

[2017-11-13 21:50] paddyow opened #4391 "Deleting a lead should delete any associated tasks"
Currently after a lead is deleted, its tasks are still active.

[2017-11-13 22:22] gonzalon commented on #4341
Seems the problem was the cache for the search, disabled it

[2017-11-13 22:29] tuzzmaniandevil commented on #4256
It will now show a field validation message under the domain name field

![image](https://user-images.githubusercontent.com/3378330/32752670-ef901444-c92e-11e7-9d2c-bc2bbbe14c68.png)

[2017-11-13 22:30] bradmac commented on #4391
OK, thats weird, I'm sure it was doing that..

[2017-11-13 22:32] gonzalon commented on #4390
![image](https://user-images.githubusercontent.com/2773216/32752811-7680f40a-c92f-11e7-9fda-0a8d0cfd8fd6.png)

![image](https://user-images.githubusercontent.com/2773216/32752816-80e424a8-c92f-11e7-9474-18a3134fe7e2.png)

[2017-11-13 22:37] paddyow commented on #4391
From memory I deleted the lead from here http://kcrm.kademi.us/leads/?query=&leadType=active

Using the check boxes.

[2017-11-14 00:26] bradmac opened #4392 "Editor panel layout different in editor and front end site"
Here is how a page looks when viewed in the front end:

![image](https://user-images.githubusercontent.com/826458/32756514-57ecc39c-c93f-11e7-87ed-2b0a1310a3b6.png)
http://www.idhealtheducation.edu.au/programs/prof-disability/DP01/MOD02/pwhat-is-mental-illness.html

Here is how it looks in the editor:
![image](https://user-images.githubusercontent.com/826458/32756528-6c1e853a-c93f-11e7-99d5-352187

[2017-11-14 00:27] bradmac commented on #4385
Note that i do see the editor working on this page:
http://version2.idhealth-training_3dn.kademi.com.au/programs/prof-disability/DP01/MOD02/contenteditor?fileName=pwhat-is-mental-illness.html

[2017-11-14 02:08] bradmac opened #4393 "Cant upload video to video component"
Editing this page:
http://docs.kademi.co/getting-started/elearning/contenteditor?fileName=importing-a-scorm-module.html

Clicking the "Change your video" button does nothing:

![image](https://user-images.githubusercontent.com/826458/32759300-9a236b04-c94d-11e7-95e5-8022db9fb7ac.png)

I'm seeing this error on page load

`TypeError: selectPicker.selectpicker is not a function`

[2017-11-14 02:10] anhnt commented on #4393
This is fixed on QA https://github.com/Kademi/kademi-dev/issues/4330

[2017-11-14 02:23] bradmac commented on #4393
OK

[2017-11-14 02:23] #4393 closed

[2017-11-14 02:37] ducdhm commented on #4392
@bradmac The reason here is because in `masterTemplate.html`, developers added new less file

[code]

but in `contentEditor.html`, we have only 2 less files
[code]

That's why.

[2017-11-14 02:56] ducdhm commented on #4392
@Anton69arb Can you help me create an article in our docs site. This article is about how to styling in Kademi in correct way. The content is

[code]

[2017-11-14 03:28] ducdhm opened #4394 "Move keditor, contentEditor and edmEditor into libs"

[2017-11-14 03:39] bradmac commented on #4392
hey @ducdhm this will go into our developer section, but we're not working on that yet

[2017-11-14 03:54] anhnt commented on #4205
Fixed working ok now

[2017-11-14 04:16] ducdhm commented on #4385
Fixed!

[2017-11-14 04:23] anhnt commented on #4084
@Uafinder please follow instructions from this issue and test it again https://github.com/Kademi/kademi-dev/issues/4347

[2017-11-14 06:56] ducdhm commented on #4394
@bradmac I want a somethings like .ksyncingore for our ksync. I have `node_modules` folder for keditor which will be used for compiled keditor but I dont want to sync this folder because it's really huge. Can you provide me solution for it? Atm, everytime I sync keditor-lib, I need to remove `node_modules` and when I need to compile, I need to re-install node modules again. It'll take me a time fo

[2017-11-14 08:25] anhnt commented on #3917
Component settings:
![image](https://user-images.githubusercontent.com/735555/32769811-dc6245ba-c94f-11e7-9554-a99b5a1fff17.png)

Group settings
![image](https://user-images.githubusercontent.com/735555/32769823-edf9652e-c94f-11e7-9877-2f1c19cb1e8c.png)

Contact us settings:
![image](https://user-images.githubusercontent.com/735555/32769847-0601c7c4-c950-11e7-85fb-f7ae023b908d.png)

[2017-11-14 10:00] bradmac commented on #4394
ok, we can add an ignored list to the ksync properties file

[2017-11-14 10:34] anhnt commented on #4340
That image thumb is not showing because css background image is not correct. Just fixed now

[2017-11-14 12:50] Uafinder opened #4395 "Minor visual bug on dashboard when large users and orgs number"
![image](https://user-images.githubusercontent.com/1945230/32780712-f8a63b64-c94a-11e7-9cd8-1f50246b4ae0.png)
Resolution 1600*900
It looks pretty on full hd.
http://rootorg.admin.kademi-ci.co/

[2017-11-14 13:27] Uafinder commented on #4369
1. It doesn't enable tacking and funnels for website level
2. It creates all groups and dashboard messages for leads.
http://vlad-test47.admin.kademi-ci.co/websites/vlad47-jour/version1/#panel_apps-tab

[2017-11-14 13:28] Uafinder commented on #4387
yup

[2017-11-14 13:28] #4387 closed

[2017-11-14 13:49] Uafinder commented on #4388
It works!

[2017-11-14 13:49] #4388 closed

[2017-11-14 13:54] Uafinder commented on #4341
Minor issue remains, but I think we can ignore it, because it's hardly reproduced by end user

[2017-11-14 13:54] #4341 closed

[2017-11-14 14:26] Uafinder opened #4396 "Date picker, content editor and other js doesn't work - promotions"
![image](https://user-images.githubusercontent.com/1945230/32784163-b9318ad6-c956-11e7-9a11-dc9c2d8384e5.png)
http://vlad-test48.admin.kademi-ci.co/rewards/promo1qa/#details-tab
from console
GET http://vlad-test48.admin.kademi-ci.co/static/keditor/dist/js/keditor-0.0.0.min.js 404 (Not Found)

[2017-11-14 15:03] ducdhm opened #4397 "Make AdminApp as DependedApplication"

[2017-11-14 15:03] ducdhm commented on #4397
https://github.com/Kademi/kademi-dev/issues/4394

[2017-11-14 15:24] Uafinder commented on #4291
It works!

[2017-11-14 15:24] #4291 closed

[2017-11-14 20:03] bradmac commented on #4395
Dont need to do anything about the autoloader, thats only for internal use.

I think we can change numbers for profiles and orgs to use abbreviated formatting like "15k"

use:
[code]

[2017-11-14 20:09] bradmac commented on #4369
Fixed. Incorrect folder name for website installation

[2017-11-14 20:27] bradmac commented on #4396
Need to either have the formbuilder dependency included in the admin, or statically add the formbuilder js

[2017-11-14 22:09] tuzzmaniandevil opened #4398 "Infusionsoft Integration - Be able to create an opportunity in IS from journeys"

[2017-11-14 23:50] paddyow opened #4399 "Menu bar search does not work on this page"
http://kcrm.kademi.us/custs/

Might be due to the 2nd search field.

[2017-11-15 00:55] bradmac opened #4400 "Invoices page, buttons not working"
http://moblix.admin.kademi-ci.co/invoices/1976221#

![image](https://user-images.githubusercontent.com/826458/32812987-a92e5504-ca0c-11e7-8054-88a5000083d1.png)

[2017-11-15 01:28] bradmac opened #4401 "Calendar enhancements"
- on the event attendees page, allow adding a new attendee. See CalEventAttendeesResource and manageAttendees.html , this should a similar form as the front end which allows selecting guests
- allow confirming attendance for attendees, this should set the participationStatus property of the AttendeeRequest to CONFIRMED
- add a button to generate invoices. This will generate 1 invoice per primary a

[2017-11-15 02:51] tuzzmaniandevil commented on #4015
@ducdhm Added productCode as a search field as requested :-)

[2017-11-15 03:08] bradmac commented on #4397
Added this:

[code]

[2017-11-15 03:09] bradmac commented on #4397
So now if admin-lib is enabled, deps will be taken of normally. If not, we need to hard code dependencies as the legacy /static files

[2017-11-15 03:58] bradmac commented on #4396
Please install from the marketplace:

![image](https://user-images.githubusercontent.com/826458/32818112-3513eff2-ca26-11e7-92cb-86190f8a1535.png)

[2017-11-15 03:59] bradmac commented on #4396
Note that the problem will only be solved if KPromotions is installed, as this has the dependencies. Enabling promotions directly from the apps page will not work correctly. We will remove the ability to enable from the apps page in the near future

[2017-11-15 04:21] anhnt commented on #4152
![image](https://user-images.githubusercontent.com/735555/32818648-0db92afa-c9f7-11e7-9d2b-f04223df16dd.png)

[2017-11-15 04:21] anhnt commented on #4152
Fixed

[2017-11-15 05:31] #4397 closed

[2017-11-15 06:07] ducdhm commented on #4394
Done!

[2017-11-15 06:08] ducdhm commented on #4394
@bradmac I need only ignore properties for ksync.

[2017-11-15 06:15] ducdhm opened #4402 "Ignore property for ksync"
Needed for https://github.com/Kademi/kademi-dev/issues/4394

[2017-11-15 06:48] ducdhm commented on #4015
Done!

[2017-11-15 07:28] anhnt commented on #4090
working great with latest leadman-lib

[2017-11-15 07:41] AlaaKhalaf94 commented on #4205
Thanks @anhnt
passed

[2017-11-15 07:41] #4205 closed

[2017-11-15 07:50] bradmac commented on #4051
There is a parameter you can pass to alerts to identify them, so they replace an existing alert rather then showing another one. Please use that.

[2017-11-15 07:57] bradmac commented on #2759
I think this is done now..

[2017-11-15 07:59] #1057 closed

[2017-11-15 08:47] Uafinder commented on #4396
works like a charm...
the install app approach - is very suitable for end user...

[2017-11-15 08:47] #4396 closed

[2017-11-15 08:55] Uafinder commented on #4340
It works!

[2017-11-15 08:55] #4340 closed

[2017-11-15 09:42] Uafinder commented on #4152
Yup, it works!

[2017-11-15 09:42] #4152 closed

[2017-11-15 09:54] Uafinder commented on #4090
![image](https://user-images.githubusercontent.com/1945230/32829771-b6696904-c9fb-11e7-8e3c-999a9fd4f2a5.png)
http://vlad50-leads_vlad-test50.kademi-ci.co/leads

[2017-11-15 10:15] Uafinder commented on #4369
it works

[2017-11-15 10:15] #4369 closed

[2017-11-15 10:20] AlaaKhalaf94 commented on #4256
passed

[2017-11-15 10:20] #4256 closed

[2017-11-15 10:34] Uafinder opened #4403 "Learners app when install learners group doesn't add to specific roles"
1. Install KLearning app
2. Check Learners group and it will not have "Content Viewer" and "Learners" roles assigned.
http://vlad-test50.admin.kademi-ci.co

[2017-11-15 10:36] bradmac commented on #4403
Hi @anhnt can you do this please? Just need to add some controller code in app.js

See KLeadman for an example

[2017-11-15 11:37] AlaaKhalaf94 commented on #4351
Hi @gonzalon , done
But it allow me to choose only ( Org ID , Internal org ID ) in step three ( Map columns )

![capture1](https://user-images.githubusercontent.com/26510030/32834126-12b4eb26-ca0a-11e7-9655-4492c0d1bbe8.PNG)

[2017-11-15 11:46] AlaaKhalaf94 commented on #4264
passed

[2017-11-15 11:46] #4264 closed

[2017-11-15 12:12] AlaaKhalaf94 commented on #4099
passed

[2017-11-15 12:12] #4099 closed

[2017-11-15 12:17] Uafinder opened #4404 "Vouchers issues"
http://vlad-test50.admin.kademi-ci.co/voucher-type/
http://vlad50-vouch_vlad-test50.kademi-ci.co/vouchers
1. What should Voucher table contain without search?
![image](https://user-images.githubusercontent.com/1945230/32834787-87c91e6c-ca0c-11e7-9ff3-ba083e6125db.png)

2. Change status and redeem buttons should work only when some checkboxes selected.
![image](https://user-images.githubusercontent

[2017-11-15 12:21] Uafinder commented on #4299
It works!

[2017-11-15 12:21] #4299 closed

[2017-11-15 12:23] mrdadah commented on #4181
@anhnt could you review my commit and approve it if everything is ok?

[2017-11-15 12:36] Uafinder commented on #4362
It creates voucher type without any problems, however when you push create vouchers (for example 50), it takes naming and other options from those other type which were exist earlier...
http://vlad-test50.admin.kademi-ci.co/voucher-type/vw/#details-tab
It has next naming parameter YY-@{randomHex(4)}
But it created for me next vouchers
http://vlad-test50.admin.kademi-ci.co/vouchers/?q=&status=&vouc

[2017-11-15 12:41] Uafinder opened #4405 "Organisations pickup and search sorting (ordering)"
![image](https://user-images.githubusercontent.com/1945230/32836514-b4e82810-ca12-11e7-8f69-83194af47e5a.png)
Different pages, which has org search and selector return orgs after searching without any sorting
http://vlad-test50.admin.kademi-ci.co/voucher-type/mazda/#details-tab
![image](https://user-images.githubusercontent.com/1945230/32836598-06718a64-ca13-11e7-9376-99ca6bb1ba80.png)
http://vlad

[2017-11-15 12:45] Uafinder opened #4406 "All Help pages inaccessible"
![image](https://user-images.githubusercontent.com/1945230/32836688-5b971b12-ca13-11e7-98c0-cf51503a1b73.png)
![image](https://user-images.githubusercontent.com/1945230/32836702-684e1cde-ca13-11e7-9781-af85b7eb8a79.png)

[2017-11-15 13:07] Uafinder opened #4407 "Leads timeline bad text"
![image](https://user-images.githubusercontent.com/1945230/32837550-ac70bc02-ca16-11e7-915a-1b8b09cb5c3c.png)
![image](https://user-images.githubusercontent.com/1945230/32837568-bb1da3d2-ca16-11e7-9561-2034e9d96b2a.png)

http://vlad-test50.admin.kademi-ci.co/manageUsers/1990908/#summary-tab

[2017-11-15 13:25] Uafinder opened #4408 "Minor KCRM bug when updating lead profile - date|time format"
![image](https://user-images.githubusercontent.com/1945230/32838237-f1e78408-ca18-11e7-8c8a-01c5ed5165f1.png)
After saving some information to lead, date time format will change to absolute
![image](https://user-images.githubusercontent.com/1945230/32838317-2c4a83a2-ca19-11e7-8f32-b5b49f1c6afd.png)

[2017-11-15 13:38] Uafinder commented on #4390
There are no default sorting:
![image](https://user-images.githubusercontent.com/1945230/32838824-eada6796-ca1a-11e7-9c72-039ff6752c96.png)

http://vlad-test50.admin.kademi-ci.co/organisations

[2017-11-15 14:17] Uafinder commented on #4357
Hey, is it possible to test in this account with specified guy?

[2017-11-15 14:29] Uafinder commented on #4385
works great!

[2017-11-15 14:29] #4385 closed

[2017-11-15 14:39] Uafinder commented on #4241
Looks ok, at the moment. Will keep an eye on it

[2017-11-15 14:39] #4241 closed

[2017-11-15 14:59] Uafinder opened #4409 "scheduled emails - dynamic group members are not counting"
![image](https://user-images.githubusercontent.com/1945230/32842374-93578c64-ca25-11e7-9cc4-2dd29f301d42.png)
http://vlad-test50.admin.kademi-ci.co/scheduledEmails/scheduledqa01/#configuration-tab
When users from dynamic group in mailing list - they are not counting and so, no sending limit validation works.

[2017-11-15 15:52] Uafinder opened #4410 "Scheduled emails - multiple sending detected"
http://vlad-test50.admin.kademi-ci.co/scheduledEmails/scheduledqa01/#configuration-tab
I have such configuration
It cause multiple emails send to one recipient...
[email_history log.xlsx](https://github.com/Kademi/kademi-dev/files/1475356/email_history.log.xlsx)
It sends 38 email to one user

probably it happens only for first scheduled sending

[2017-11-15 16:00] Uafinder commented on #3839
i'm closing this issue, it seems to be fine

[2017-11-15 16:00] #3839 closed

[2017-11-15 16:23] Uafinder opened #4411 "Create new auction button does nothing"
![image](https://user-images.githubusercontent.com/1945230/32847235-19617156-ca32-11e7-9558-673945d78d48.png)
http://vlad-test50.admin.kademi-ci.co/auctions/

[2017-11-15 20:03] bradmac opened #4412 "Make navbar menu component border configurable"
Our client has a site here:
http://versionnew2.gilpinperformance-gilpin.kademi.com.au/

By default the menu has a light grey border, but she wants no border on the navbar

Please provide a configurable option in keditor to control this, either as
- an option on the menu component
- a theme variable in the variables editor

[2017-11-15 20:23] bradmac opened #4413 "SKU's page go cray cray"
Seems to be blanking fields out when you edit, but after refreshing they come back

[2017-11-15 20:26] gonzalon commented on #4351
@AlaaKhalaf94 that is like that on porpose, because you aren't going to delete the org by the address or postcode, so you don't need to map any of those fields.

This way shows the user that you can delete the org by the "internal org id" or the "Org id".

[2017-11-15 20:47] bradmac opened #4414 "KEditor: containers should not resize while dragging a component"
When i'm editing a page in KEditor I often need to move components from one container to another. This is often very frustrating because when i start dragging a component the container it was in changes size, and shifts other containers around, making it hard to find the container i intended to drag it to.

Please see if you can do an update so container height is set immediately before dragging,

[2017-11-15 20:53] bradmac opened #4415 "Add product order from admin"
Please add a UI feature to the orders page to add an order directly:
http://localhost:8080/shopping-carts/

- use the profile entity finder jquery plugin to lookup a customer
- allow setting address fields
- allow adding multiple product order line items

[2017-11-15 20:55] bradmac opened #4416 "Vertical alignment options for photo component"
![image](https://user-images.githubusercontent.com/826458/32859720-2cea2826-cab4-11e7-8b40-fff086f8687f.png)

[2017-11-15 20:55] bradmac opened #4417 "Padding and margin options for images"
Should we add component settings for padding and margin on images? I think sometimes this is necessary to achieve a particular layout

[2017-11-15 21:06] bradmac commented on #4404
It should be empty

OK, we should add a messge "Please select one or more vouchers"

The status should be updated. This looks like a server side bug.

This is intended to open a form allowing the voucher to be set to any status, not just pending. So might be the wrong form showing

No, we dont need that. Cashiers are generally not interested in redeemed vouchers, they are focused on processing cus

[2017-11-15 21:07] bradmac commented on #4404
So @gonzalon please check issue with redeem and change status above. Also check that the change status button should be opening the change status form.

[2017-11-15 21:08] bradmac commented on #4181
@mrdadah looks good!

[2017-11-15 21:11] bradmac commented on #60
Done!

[2017-11-15 21:11] #60 closed

[2017-11-15 21:11] #132 closed

[2017-11-15 21:13] bradmac commented on #4400
Send form something like this:
![image](https://user-images.githubusercontent.com/826458/32860542-c7309350-cab6-11e7-8211-df0212accd10.png)

[2017-11-15 21:18] bradmac commented on #4408
Looks like timeago needs to be called

[2017-11-15 21:19] bradmac commented on #4357
Yep, this is a demo account

[2017-11-15 21:21] bradmac commented on #4410
Hi Vlad, please test with normal groups, not dynamic.

Its actually not a realistic test case to use this with dynamic group.s

[2017-11-15 21:22] bradmac commented on #4411
[code]

[2017-11-15 21:39] #4413 closed

[2017-11-15 22:14] bradmac opened #4418 "Lead fields for assigned to properties"
We want to replace this with standard fields
[code]

[2017-11-15 23:05] bradmac commented on #4418
Can now use this:

[code]

![image](https://user-images.githubusercontent.com/826458/32865059-639295e0-cac6-11e7-90ec-bc8a8122fcd5.png)

[2017-11-16 00:36] paddyow opened #4419 "Confusing UI for editing pages"
Client by default was clicking the drop down, then editing the page which opens the WYSIWYG editor so thought there was a problem with Keditor.

To open Keditor you have to click the edit button, which he was not doing.

We need to clearly differentiate between the 3 types of editing.  The edit icon should by default use Keditor, but the drop down should show the 3 ways to edit in case the user by

[2017-11-16 01:40] bradmac commented on #4419
Done.

![image](https://user-images.githubusercontent.com/826458/32869480-09f31c38-cadc-11e7-82c8-a8b5dcf44214.png)

[2017-11-16 02:02] bradmac commented on #4394
Actually, realised we dont need to put dependencies in AdminApp, we can just leave them in the old templates but remove from new templates using admin-lib

[2017-11-16 02:15] bradmac commented on #4417
Not needed, we can just add a single cell container and use the padding and margin options on that
![image](https://user-images.githubusercontent.com/826458/32870472-ef4ad7f4-cae0-11e7-9eb5-75208a62cb68.png)

[2017-11-16 02:15] #4417 closed

[2017-11-16 02:18] bradmac commented on #4386
@anhnt please just remove the select box

[2017-11-16 02:29] bradmac commented on #4394
hey @Uafinder we need to test keditor works for EDMs and web pages
- email editing works (eg journey emails, group and scheduled)
- web content editing works (web pages, blog articles, etc)

We need to test 2 situations
- when admin-lib is NOT installed. This is the initial situation
- when admin-lib IS installed. This will be for newly created accounts

[2017-11-16 03:19] tuzzmaniandevil commented on #1670
3. This checks the "expired" flag on points, Not the reason code on debits. After expiring the points It's now showing results.
![image](https://user-images.githubusercontent.com/3378330/32872116-d63f93d6-cae9-11e7-9920-a7afbb9fad67.png)

[2017-11-16 03:28] bradmac opened #4420 "Manage orgs page, add aggregation with filtering for parent org"
Related https://github.com/Kademi/kademi-dev/issues/3140

Should be like on manage users page where we can see the number of orgs by parent org, and click on them to filter

![image](https://user-images.githubusercontent.com/826458/32872354-33861096-caeb-11e7-92cd-e2fceb3e0e78.png)

[2017-11-16 03:32] tuzzmaniandevil commented on #1670
1. Fixed - Requires lib update

[2017-11-16 03:33] tuzzmaniandevil commented on #1670
2. It uses the timezone of your PC/browser, Hence the difference

[2017-11-16 04:15] anhnt commented on #4090
Fixed

[2017-11-16 04:31] bradmac opened #4421 "Manage orgs page: bulk operations for assigning type and parent do not update index"
![image](https://user-images.githubusercontent.com/826458/32873963-04f0c47a-caf4-11e7-9c15-97646a232dc9.png)

[2017-11-16 04:42] paddyow opened #4422 "Changing a funnel name is problematic"
Currently there is no way to change the name of a funnel stage without reassigning all the leads again.  This is a problem if you have hundreds of leads but realize that the funnel stage needs to be updated to be more meaningful.

Suggestion:
1) A funnel stage has an ID that does not change
2) There is a funnel name which can be changed but won't affect the leads in that stage
3) Funnel descriptio

[2017-11-16 05:09] paddyow opened #4423 "Need lead Title adding"
Currently it's hard to track leads when there are multiple with a single customer, the only way to do this is to open every lead then look at the notes.

Add a lead 'Title' that sits with the lead description.
![image](https://user-images.githubusercontent.com/2201340/32874739-2fa0525a-cae8-11e7-9e88-d2dcf6ddb185.png)

Add lead title next to score on leads page http://kcrm.kademi.us/leads/?query=&

[2017-11-16 05:31] anhnt opened #4424 "auction detail start and end date should be able to select time"
When auction page loaded initially
![image](https://user-images.githubusercontent.com/735555/32875293-c19b6218-cac9-11e7-8064-89bf3135139c.png)

When clicked to date field
![image](https://user-images.githubusercontent.com/735555/32875299-d26c2424-cac9-11e7-8dbf-eb06769c3c21.png)

When selected a date
![image](https://user-images.githubusercontent.com/735555/32875315-e116923e-cac9-11e7-9b73-2f1d9d

[2017-11-16 05:38] anhnt commented on #4411
Fixed

[2017-11-16 05:40] paddyow opened #4425 "Add company notes field"
Note the company list page is not working:
http://kcrm.kademi.us/companies/

Then open a company and add there.

![image](https://user-images.githubusercontent.com/2201340/32875568-cf0f759c-caec-11e7-81a8-a9bc558d2615.png)

[2017-11-16 07:26] anhnt commented on #4386
that field has been removed

[2017-11-16 07:26] #4386 closed

[2017-11-16 07:29] ducdhm commented on #4414
Done!

[2017-11-16 08:16] Uafinder commented on #4410
Not sure why you say that, but you're the boss :)

[2017-11-16 08:16] #4410 closed

[2017-11-16 09:44] anhnt commented on #4424
Fixed tested on this http://anhtest2.admin.kademi-ci.co/auctions/ac2/#details-tab

[2017-11-16 09:45] Uafinder commented on #4411
It works!

[2017-11-16 09:45] #4411 closed

[2017-11-16 09:59] anhnt commented on #4403
Done

[2017-11-16 10:02] Uafinder commented on #4424
It's ok

[2017-11-16 10:02] #4424 closed

[2017-11-16 11:23] anhnt commented on #3749
![image](https://user-images.githubusercontent.com/735555/32888853-47f13cee-cafb-11e7-853c-b1b6688553d8.png)

Please update kademi-dev before testing

[2017-11-16 12:00] Uafinder commented on #4367
Up... still doesn't work...
backup
http://vlad-test51.admin.kademi-ci.co/backup/
to
http://vlad-test51b.admin.kademi-ci.co/backup/

[2017-11-16 12:01] Uafinder commented on #4323
https://github.com/Kademi/kademi-dev/issues/4367

[2017-11-16 12:02] Uafinder commented on #4307
https://github.com/Kademi/kademi-dev/issues/4367

[2017-11-16 12:26] Uafinder commented on #4407
Ok!

[2017-11-16 12:26] #4407 closed

[2017-11-16 12:29] Uafinder commented on #4090
Same thing...
fresh account
![image](https://user-images.githubusercontent.com/1945230/32891242-813583f0-cada-11e7-8e1a-23f6af726503.png)

http://vlad52-lead_vlad-test52.kademi-ci.co/leads

[2017-11-16 12:38] Uafinder opened #4426 "KCRM Closing deal amount field prepopulating"
![image](https://user-images.githubusercontent.com/1945230/32891416-1fe76400-cadb-11e7-8a37-fd7f4b9b1e51.png)

Should deal amount be prepopulated while closing deal?

[2017-11-16 12:52] Uafinder commented on #4403
It works!

[2017-11-16 12:52] #4403 closed

[2017-11-16 13:03] Uafinder commented on #4181
it's ok!

[2017-11-16 13:03] #4181 closed

[2017-11-16 13:12] Uafinder opened #4427 "Dynamic group should not be visible for direct user adding"
![image](https://user-images.githubusercontent.com/1945230/32892914-6f5780ec-cae0-11e7-87cd-7f5c3660568b.png)
![image](https://user-images.githubusercontent.com/1945230/32892928-7bdce58c-cae0-11e7-9888-16a0bfab06e8.png)
![image](https://user-images.githubusercontent.com/1945230/32892937-83f1f546-cae0-11e7-9ec1-acb2df6c9af5.png)
http://vlad-test52.admin.kademi-ci.co/manageUsers

[2017-11-16 13:16] Uafinder commented on #3749
it works!

[2017-11-16 13:16] #3749 closed

[2017-11-16 13:56] Uafinder opened #4428 "eComm manage stores issues"
http://vlad-test52.admin.kademi-ci.co/ecommerce/ecom/#products-tab

1. Search and category selection doesn't work
![image](https://user-images.githubusercontent.com/1945230/32894688-2dcfa374-cae6-11e7-8449-6f18f1277948.png)

2. Should be a validation on incorrect decimal symbols, and similar to reward stores
![image](https://user-images.githubusercontent.com/1945230/32894762-72afa43a-cae6-11e7-9fa

[2017-11-16 14:00] Uafinder opened #4429 "eComm installation should enable products database"
When you install eCommerce store it's just enable app and nothing else.
Should enable Products database, and create some pre-staged products (as it is in reward store app installation).
http://vlad-test52.admin.kademi-ci.co

[2017-11-16 14:02] Uafinder commented on #4279
Looks ok

[2017-11-16 14:02] #4279 closed

[2017-11-16 14:07] Uafinder commented on #4357
The result is 3 seconds at the moment, so I think it's ok?!

[2017-11-16 14:07] #4357 closed

[2017-11-16 14:19] Uafinder opened #4430 "Products deleting cause filter issue"
![image](https://user-images.githubusercontent.com/1945230/32895737-b978f274-cae9-11e7-8df7-79f200f78b9c.png)

When bulk delete products:
1. Filter either doesn't apply or doesn't clear

2. Delete button remains pushed,,,
http://vlad-test52.admin.kademi-ci.co/products/

[2017-11-16 14:21] Uafinder commented on #4292
Product uploader for example:
![image](https://user-images.githubusercontent.com/1945230/32895908-38d0ffd0-caea-11e7-8fae-1726d888099c.png)
http://vlad-test52.admin.kademi-ci.co/tableUploaders/productsUploader