[2017-04-01 22:01] bradmac opened #3075 "Enhance ManageSkus page"
Related to - https://github.com/Kademi/kademi-dev/issues/3072

This page also needs to handle a high volume of data, eg 100k records.

Please implement pagination and search.

[2017-04-01 22:32] bradmac opened #3076 "Add multiplier field to Category"
Please create a new field on Category
- called multiplier
- numeric, with at least 2 decimal places
- allow editing through the manage category page

[2017-04-02 06:03] mkhoudary commented on #3071
I suggest that we create a new entity for user properties, so the profile entity is kept in the same structure, and also we allow other future properties for users to be specified dynamically.

If we decided to keep it in the Profile class I will need access to io.milton.vfs.db.Profile.

[2017-04-02 08:05] bradmac commented on #3071
It's in the kademi vfs project. I suggest adding it to profile

On 2 April 2017 6:03:40 pm Mohammed Riyad El Khoudary
<notifications@github.com> wrote:

[2017-04-02 21:02] #3023 closed

[2017-04-02 21:02] #3030 closed

[2017-04-02 21:02] #3032 closed

[2017-04-02 21:02] #3033 closed

[2017-04-02 21:02] #3043 closed

[2017-04-02 21:04] #3049 closed

[2017-04-02 21:04] #3050 closed

[2017-04-02 23:29] bradmac opened #3077 "Move orgs feature on manage orgs page"
Be able to find organisations based on their parent path, and move them in batch to a new organisation

To assist with - https://github.com/Kademi/client-carters/issues/308

[2017-04-02 23:33] bradmac commented on #3077
![image](https://cloud.githubusercontent.com/assets/826458/24591951/65c23298-1861-11e7-9e71-a7051c4b19e0.png)

[2017-04-02 23:33] #3077 closed

[2017-04-03 00:52] paddyow commented on #3059
@hoanglinhlan please check this update has been pushed to dev.  We need to make sure anyone in the Vets group (who should not also be in the reward group) does not get rewarded any points to their profile via the journeys or modules rewards we have setup.

[2017-04-03 03:08] ducdhm opened #3078 "Email template"
Basic concept of email template is:
 * Base styles for element in an email like defining font-size, line-height, font-weight for heading tags, for anchor and normal text
 * Provide brands color same with website for let user choose color from Color Palette instead of free color choose like current
 * Provide style for button element
 * Provide header and footer if needed

[2017-04-03 04:28] anhnt commented on #3056
done

[2017-04-03 04:28] #3056 closed

[2017-04-03 09:04] ducdhm opened #3079 "Fields are not stored in checkout order"
* Standard field birthDate is not stored
 * Custom field which has options

[2017-04-03 09:32] bradmac commented on #3079
This is handled by product order fields, not custom checkout fields

[2017-04-03 21:16] bradmac opened #3080 "Should be able to create profiles with the same user ID as deleted/disabled profiles"
Note that if a deleted/disabled profile is re-enabled we need to check to see if this will conflict with a currently enabled profile with the same user id. If that happens then throw an error

[2017-04-04 04:07] bradmac opened #3081 "Check permissions for Points Statements pages"
Check the following resource classes
- ManagePointsStatementsFolder
- ManagePointsStatementCsv

These should allow access to a user with the PointsAdministratorRole role

[2017-04-04 07:31] anhnt opened #3082 "Content editor is broken"
Please see this http://version1.airnz-voucher.kademi.com.au/contenteditor?fileName=index.html
There's error in console
[code]

[2017-04-04 09:56] ducdhm commented on #3070
UI for textbox
![textbox](https://cloud.githubusercontent.com/assets/1289631/24651238/4bd47c6e-1957-11e7-86b3-5d1e79179d26.png)
![textbox_modal](https://cloud.githubusercontent.com/assets/1289631/24651239/4bd757ae-1957-11e7-9fab-7c94d43dbdbb.png)

[2017-04-04 09:56] ducdhm commented on #3070
UI for textarea
![textarea](https://cloud.githubusercontent.com/assets/1289631/24651330/9cda3fcc-1957-11e7-85d0-429d036baac7.png)
![textarea_modal](https://cloud.githubusercontent.com/assets/1289631/24651331/9cdecdf8-1957-11e7-8467-55ca2d9f87c3.png)

[2017-04-04 09:56] ducdhm commented on #3070
UI for CKEditor
![ckeditor](https://cloud.githubusercontent.com/assets/1289631/24651346/a7e6eaaa-1957-11e7-9863-ce984ffa884d.png)
![ckeditor_modal](https://cloud.githubusercontent.com/assets/1289631/24651347/a7e9b05a-1957-11e7-8eac-08140975ba7c.png)

[2017-04-04 09:57] bradmac commented on #3070
@ducdhm can you remove the word "translate". Otherwise we'll need to translate it :)

Just an icon is cool.

[2017-04-04 10:08] ducdhm commented on #3070
Done!

[2017-04-04 10:08] #3070 closed

[2017-04-04 10:31] #3082 closed

[2017-04-04 22:30] tuzzmaniandevil opened #3083 "signupStats, moduleActivityStats and pointsActivityStats not working with UserAdministrator"
When a user only has the UserAdministrator role i.e. not the Administrator role those resources gives an authorisation declined error

[2017-04-05 00:49] bradmac opened #3084 "User administrator approval to be contextual to UserAdministratorRole"

[2017-04-05 03:53] bradmac commented on #2965
Also emails are not being indexed

[2017-04-05 03:54] #2965 closed

[2017-04-05 05:17] ducdhm opened #3085 "Option for emails to include login tokens"

[2017-04-05 05:35] ducdhm commented on #3085
UI is done. All for you!

[2017-04-05 06:34] anhnt commented on #2301
created voucher and voucherRedemption components

[2017-04-05 09:50] ducdhm commented on #3074
UI is done. Added in menuComponent

[2017-04-05 09:54] ducdhm commented on #3074
Setting in contentEditor:
![frontend](https://cloud.githubusercontent.com/assets/1289631/24700154/79299e1e-1a20-11e7-99bb-95d29dd38eb9.png)

In Front-end site
![setting](https://cloud.githubusercontent.com/assets/1289631/24700155/792c7b66-1a20-11e7-8192-216e2b3339c8.png)

[2017-04-05 09:55] ducdhm opened #3086 "Option for show/hide search menu in menuComponent"

[2017-04-05 10:08] #3086 closed

[2017-04-05 10:15] #3074 closed

[2017-04-05 22:41] bradmac opened #3087 "Additional security header support"
X-Frame-Options
https://www.sjoerdlangkemper.nl/2016/07/20/block-iframe-loading/
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options

Strict-Transport-Security
https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security

Required for project:
https://github.com/Kademi/client-2one2f-3M/issues/66

[2017-04-05 22:43] bradmac commented on #3087
@tuzzmaniandevil I think we should implement HSTS in the platform, and set it automatically if force ssl is enabled. Both for admin and websites

X-Frame-Options could also be handled as a platform option, as part of website configuration. Or it could be a market place app.

[2017-04-06 03:09] #2820 closed

[2017-04-06 07:23] paddyow opened #3088 "Points page not showing most recent credits and debits"
http://zoetis.admin.kademi.com.au/rewards/points/?pageSize=100&searchReward=zoetic-points&dataQuery=&startPos=0&searchGroup=undefined&

Only showing up to 30/03/2017 22:03

When I download the CSV there are 708 records for 6/4/17

[2017-04-06 07:25] #3088 closed

[2017-04-06 21:41] #3052 closed

[2017-04-06 21:50] #61 closed

[2017-04-06 21:53] bradmac opened #3089 "Decrease quantity from inventory location when ordered through reward store"

[2017-04-06 22:34] tuzzmaniandevil opened #3090 "Automation Tool: Using incorrect Automations when doing a search"

[2017-04-07 02:52] hoanglinhlan opened #3091 "Auction detail page: remove those links on the profile names"
Profile
http://lan-test.admin.kademi.com.au/manageUsers/11536931/#summary-tab
frontEnd page:
http://c5s.kademi.com.au/auctions/ipad9/

Need for Zoetis https://github.com/Kademi/client-zoetis/issues/240

[2017-04-07 03:14] bradmac opened #3092 "Rename repository feature"
Add option to allow renaming repositories from the filemanager

[2017-04-07 03:16] bradmac opened #3093 "Points expiry component"
Required for - https://github.com/Kademi/client-carters/issues/310

Similar to pointsExpiringEDM component, except this should be for websites rather then emails.

[2017-04-07 03:34] #3090 closed

[2017-04-07 03:34] #3087 closed

[2017-04-07 04:02] ducdhm opened #3094 "Store extra fields of product when checkout"

[2017-04-07 05:23] mkhoudary opened #3095 "Dashboard boxes overlap in UHD screens"
In UHD screens dashboard boxes collapse. Please check the attached photo:

![image](https://cloud.githubusercontent.com/assets/3704174/24786601/77095560-1b6b-11e7-885e-6fc79ae61425.png)

[2017-04-07 05:57] anhnt commented on #3053
![Uploading image.png…]()

[2017-04-07 05:57] #3053 closed

[2017-04-07 05:58] anhnt commented on #3053
This app will require KongoDB, Promotions to be enabled

[2017-04-07 10:08] anhnt commented on #3095
fixed

[2017-04-07 10:09] #3095 closed

[2017-04-09 00:08] bradmac opened #3096 "Backup and restore of journeys/funnels"

[2017-04-09 00:13] #3096 closed

[2017-04-09 20:39] bradmac commented on #3026
Resolved in other issue

[2017-04-09 20:39] #3026 closed

[2017-04-09 20:44] bradmac opened #3097 "Make points filter work on manage users page"
![image](https://cloud.githubusercontent.com/assets/826458/24840861/dea4cce4-1dc9-11e7-95e4-7b52da7ad99e.png)

[2017-04-09 20:46] bradmac commented on #3097
Actually will be a bit tricky, because the balance can be in the org index. Leave it for a later milestone

[2017-04-09 21:43] bradmac opened #3098 "Implement support for 2 factor authentication"
- initially in admin only
- based on google authenticator
- initially only applied to users who choose to use it (ie no group policy)

Consider using this:
https://github.com/j256/two-factor-auth

Tasks
- First integrate into the admin profile page, so that a user can connect their profile to a 2FA device
- On login, check if the profile has a 2FA credential set. If so display the 2FA UI as second

[2017-04-09 21:52] tuzzmaniandevil opened #3099 "TextFromHtml util: Not converting &nbsp; correctly"

[2017-04-09 23:04] #3099 closed

[2017-04-10 00:31] bradmac commented on #2993
Done in other issue

[2017-04-10 00:31] #2993 closed

[2017-04-10 00:56] bradmac commented on #3089
Got this error:
[code]

Note that this reward store was not configured to use inventory, so this code should not be applied at all.

[2017-04-10 02:06] anhnt commented on #3091
done

[2017-04-10 02:46] bradmac commented on #3079
Should be fixed now.

[2017-04-10 04:52] tuzzmaniandevil commented on #2984
After some refactoring of the SearchManager, It now works and has fixed a few other fixes too! :-)

[2017-04-10 04:53] tuzzmaniandevil commented on #3094
@bradmac Is this now sorted?

[2017-04-10 05:22] anhnt commented on #3060
Done as rewardProduct component

[2017-04-10 05:35] bradmac commented on #3094
Yep

[2017-04-10 05:35] #3094 closed

[2017-04-10 06:45] ducdhm opened #3100 "Make website field is mandatory in Automation when Send an email is checked"

[2017-04-10 07:45] #3100 closed

[2017-04-10 14:42] anhnt commented on #3060
done

[2017-04-10 23:08] bradmac opened #3101 "Failed emails report - add histogram"
Extension to:
https://github.com/Kademi/kademi-dev/issues/3039

Please show a date histogram of failed emails on the report page

[2017-04-10 23:09] bradmac commented on #3039
Please update as follows
- limit by date range
- limit by current organisation

[2017-04-11 02:50] hoanglinhlan commented on #2971
need to update

[2017-04-11 04:21] tuzzmaniandevil opened #3102 "Allow apps to provide attachments to the Email Action on Automation"
This can be used by apps like the Voucher app, When someone purchases a product link to a Voucher the app will generate the Voucher PDF and attach it to the ProductOrder, The ShoppingCartEvent then provides these attachments to the BatchEmailService to attach

a new template is used for the PDF Creattion called printVoucher.html, This template can be accessed 2 ways from the front end, Adding ?pri

[2017-04-11 10:12] ducdhm opened #3103 "Add a button for multi-file upload in Blog Article page"

[2017-04-11 10:21] ducdhm opened #3104 "bootstrap-upcrop-image should allow user to upload only 1 photo for cropping"

[2017-04-11 22:09] #3038 closed

[2017-04-11 22:57] #158 closed

[2017-04-11 23:04] bradmac commented on #3093
Not needed now

[2017-04-11 23:04] #3093 closed

[2017-04-11 23:33] #3085 closed

[2017-04-11 23:53] bradmac opened #3105 "Commits page querying and pagination"
Please enable querying on the commits page on
- filter by username
- filter by the common date range control
- add pagination, showing 100 records per page

[2017-04-12 02:12] ducdhm commented on #3103
Need for https://github.com/Kademi/client-carters/issues/270

[2017-04-12 02:12] ducdhm commented on #3104
Need for https://github.com/Kademi/client-carters/issues/270

[2017-04-12 02:17] ducdhm opened #3106 "Should config basePath and pagePath in keditor and ckeditor instead of in their plugins"

[2017-04-12 02:17] ducdhm commented on #3106
Need for https://github.com/Kademi/client-carters/issues/205

[2017-04-12 04:14] diegoperezn opened #3107 "Users page pagination"

[2017-04-12 04:22] ducdhm commented on #732
I found this plugin (https://github.com/beautify-web/js-beautify). I'll apply when have free time

[2017-04-12 05:50] ducdhm commented on #1925
Dont need now. Just need to fix on Outlook (which will fixed in https://github.com/Kademi/kademi-dev/issues/3055)

[2017-04-12 05:50] #1925 closed

[2017-04-12 08:38] n2lose commented on #3104
Fixed.

[2017-04-12 09:11] ducdhm commented on #3104
@n2lose: https://github.com/Kademi/kademi-dev/commit/6c2c934ad29abfd7a2db88f996c6d7c28e57884a?diff=unified

Issues:
 * `fieldName` is removed.
 * Don't need option for maxFiles in upcrop plugin. It should be in mupload plugin
 * `$.size` is not used
 * Please remove unuseded code at line 123

[2017-04-12 09:11] bradmac opened #3108 "Use org timezone when parsing query dates"

[2017-04-12 09:36] #3108 closed

[2017-04-12 10:09] #3104 closed

[2017-04-12 23:41] bradmac opened #3109 "Use internal ID's in manage organisations url"

[2017-04-12 23:43] #3109 closed

[2017-04-13 00:58] bradmac opened #3110 "Manage orgs page not finding orgs by secondary org types"

[2017-04-13 00:59] #3110 closed

[2017-04-13 05:24] bradmac opened #3111 "Integration executor role does not allow access to integration pages"

[2017-04-13 05:24] #3111 closed

[2017-04-13 05:58] bradmac opened #3112 "Users require admin permissions to call queries from front end webites"

[2017-04-13 06:05] #3112 closed

[2017-04-13 08:38] ducdhm opened #3113 "Exclude param for extra field in product href"
Step by step to reproduce
 * Login in website as test user: http://nesst.admin.kademi.com.au/manageUsers/44669440/#summary-tab
 * Access Visagiftcard category: http://www.nesstrewards.com.au/nesst-rewards/visaGiftCard/
 * Add one to cart
 * Enter your DOB in popup and save it
 * Checkout your order successfully
 * Go to your profile and check Reward Store History section
 * Click in link to produc

[2017-04-13 08:49] ducdhm commented on #3113
Need for https://github.com/Kademi/client-2one2f-nesst/issues/73#event-1041281813

[2017-04-13 08:51] anhnt commented on #3112
Confirmed it works with

- ReportingAccess on their own organisation
- ReportViewer on a website repo

[2017-04-13 09:20] #3103 closed

[2017-04-13 16:16] #3055 closed

[2017-04-13 17:06] #2852 closed

[2017-04-13 17:07] ducdhm commented on #2356
We have new approach for edmEditor for journey email. So just close it

[2017-04-13 17:07] #2356 closed

[2017-04-13 17:12] ducdhm commented on #2464
Fixed in other issue

[2017-04-13 17:12] #2464 closed

[2017-04-13 17:16] ducdhm commented on #2547
It's working now. Check it as example http://mercury.admin.kademi.us/funnels/nurture/emailAction-757787/#message-tab

[2017-04-13 17:16] #2547 closed

[2017-04-13 17:16] ducdhm commented on #2580
It's working normally.

[2017-04-13 17:16] #2580 closed

[2017-04-13 17:17] ducdhm commented on #2667
Fixed in new Gen of edmEditor

[2017-04-13 17:17] #2667 closed

[2017-04-13 17:17] ducdhm commented on #2679
Fixed in new Gen of edmEditor

[2017-04-13 17:17] #2679 closed

[2017-04-13 17:19] ducdhm commented on #2785
You need to override component template in custom app. In `admin` folder for edmEditor preview and `website` folder for sending EDM

[2017-04-13 17:19] #2785 closed

[2017-04-13 17:20] ducdhm commented on #1921
You can follow the guide from KEditor for supporting touch devices - https://github.com/Kademi/keditor#support-touch-devices

[2017-04-13 17:20] #1921 closed

[2017-04-13 17:23] ducdhm commented on #2467
Enable setting font-size and line-height for heading tags from H1 -> H6 in EDM Settings panel

[2017-04-13 17:24] ducdhm opened #3114 "Update fuse-image and fuse-video plugins"
* Use mselect plugin instead of CKEditor dialog

[2017-04-13 17:24] ducdhm commented on #3114
Need for https://github.com/Kademi/kademi-dev/issues/2421

[2017-04-14 07:44] anhnt commented on #3060
done
![image](https://cloud.githubusercontent.com/assets/735555/25036968/cd140242-2120-11e7-8ada-aabef5af0386.png)

[2017-04-14 07:46] anhnt commented on #3060
oh, need to implement sorting feature

[2017-04-14 09:42] #2467 closed

[2017-04-14 09:43] ducdhm commented on #2467
Headings settings section in EDM Settings panel

![aaaaaaa](https://cloud.githubusercontent.com/assets/1289631/25040057/69725c5a-2131-11e7-9975-f2b60b14f250.png)

[2017-04-14 16:55] Uafinder commented on #2565
Leave the page means that you go to any other page.
How it looks like
https://drive.google.com/file/d/0B9V2ZH-h_cR2UWwxNXpacW51TlU/view?usp=sharing
How achive it
https://drive.google.com/open?id=0B9V2ZH-h_cR2YnRwanlraUprZ2M

[2017-04-14 17:16] Uafinder opened #3115 "Export notes button exports strange info"
![image](https://cloud.githubusercontent.com/assets/1945230/25050269/29ca9982-214f-11e7-8da4-1c1852f3f926.png)

[2017-04-14 17:21] Uafinder opened #3116 "No counts for created or updated leads after uploading"
![image](https://cloud.githubusercontent.com/assets/1945230/25050392/e593b270-214f-11e7-92d9-4adae7d55bf7.png)

[2017-04-14 17:29] Uafinder opened #3117 "Proposals page leads to error"
![image](https://cloud.githubusercontent.com/assets/1945230/25050586/f652e1d4-2150-11e7-8ecc-82f6378a8e9f.png)
http://vladqasand.admin.kademi.com.au/proposals

[2017-04-14 17:48] Uafinder opened #3118 "Invoice details bugs"
![image](https://cloud.githubusercontent.com/assets/1945230/25050834/45d6e8d0-2152-11e7-9951-308f3f9e6763.png)
1. Preview and Print buttons does nothing
2. Searching vendor and customer works with issues, When you using context searching and than want to click on string you need, it simply close context searching and leave field with a small part of info. When using enter key all works perfect.
3.

[2017-04-14 17:52] Uafinder opened #3119 "Quote creation bug"
Quote expiration date filed date picking doesn't show up.
![image](https://cloud.githubusercontent.com/assets/1945230/25051229/3ed5e282-2154-11e7-90b8-3e110db6c21d.png)

[2017-04-15 17:52] ducdhm opened #3120 "Update EDM Dynamic components with new gen of EDM Editor"
New available variables:
 * width
 * fontFamily
 * fontSize
 * lineHeight
 * textColor
 * linkColor
 * fontSizeH1
 * lineHeightH1
 * fontSizeH2
 * lineHeightH2
 * fontSizeH3
 * lineHeightH3
 * fontSizeH4
 * lineHeightH4
 * fontSizeH5
 * lineHeightH5
 * fontSizeH6
 * lineHeightH

[2017-04-15 22:43] bradmac opened #3121 "Add last visit and last contacted to active users report"

[2017-04-15 22:45] #3121 closed

[2017-04-16 00:34] #3105 closed

[2017-04-16 00:36] #3092 closed

[2017-04-16 00:44] #2987 closed

[2017-04-16 00:44] #3071 closed

[2017-04-16 00:45] #3102 closed

[2017-04-16 00:45] #3069 closed

[2017-04-16 00:46] bradmac commented on #3051
@mkhoudary can you fix this please?

[2017-04-16 09:44] #3106 closed

[2017-04-16 09:45] ducdhm commented on #3114
In https://github.com/Kademi/kademi-dev/issues/3106, I added pagePath and basePath in config of CKEditor. When you refactory them, you can get these configs by following:

[code]

[2017-04-16 09:49] ducdhm commented on #2565
Thank @Uafinder, it happens only FireFox. I'll fix it soon

[2017-04-17 02:56] ducdhm opened #3122 "#docs method for custom app"
I think we need a method same functionality like #docs in custom app. It's really helpful

[2017-04-17 03:09] ducdhm commented on #2565
Need to deploy!

[2017-04-17 03:09] #2565 closed

[2017-04-17 03:10] gonzalon commented on #3098
@bradmac I ended just changing
milton-server-ce/src/main/java/io/milton/http/http11/auth/LoginResponseHandler.java

But I dont have access to that repo to push a new branch

[2017-04-17 03:16] ducdhm commented on #3061
We already have option for customizing password error message. Please look at jquery.forms options
[code]

[2017-04-17 03:16] #3061 closed

[2017-04-17 03:20] ducdhm commented on #3054
It's working normally in AU and Atlas admin console

[2017-04-17 03:20] #3054 closed

[2017-04-17 05:15] bradmac commented on #3098
please just fork it and send a pull request

[2017-04-17 08:49] ducdhm opened #3123 "Using JSDuck as documentation framework for JS"
https://github.com/senchalabs/jsduck

[2017-04-17 18:08] gonzalon commented on #3098
@bradmac
https://github.com/Kademi/kademi-dev/tree/2fa-implementation
https://github.com/Kademi/kademi-platform/tree/2fa-implementation
https://github.com/miltonio/milton2/pull/88  (Isn't building. Should I look this?)

[2017-04-17 20:42] bradmac commented on #3123
:+1:

[2017-04-17 20:47] bradmac commented on #3098
OK, I've had a look at the pull request and we dont want to do it this way.

Milton does not have 2FA, so the respondJson2FA method should not be part of Milton. Instead, just create a Kademi implementation of ResponseHandler and inject that instead of the default implementation

[2017-04-17 21:49] bradmac commented on #3122
@ducdhm #docs should work from custom apps. Is there something wrong with it?

[2017-04-17 21:49] #590 closed

[2017-04-18 01:56] ducdhm commented on #3122
@bradmac I mean for KodeJS stuff, not velocity stuff

[2017-04-18 02:25] tuzzmaniandevil commented on #3113
Fixed

[2017-04-18 02:25] #3113 closed

[2017-04-18 02:43] bradmac opened #3124 "Admin tool to locate a resource from a URL and to say where it comes from (eg which repo)"
Similar to the tool on the maint page, but should be available in each account, but only for resources provided by the account

[2017-04-18 03:27] ducdhm opened #3125 "HTML editor (CKEditor) is broken in new theme and when file name is loooong"

[2017-04-18 03:45] ducdhm opened #3126 "pointsExpiringEDM component settings is not working"

[2017-04-18 04:07] #2492 closed

[2017-04-18 04:08] #2322 closed

[2017-04-18 04:12] bradmac commented on #2018
Please use elasticsearch, not database search

[2017-04-18 04:13] bradmac commented on #2480
@tuzzmaniandevil as discussed please remove because SES is rubbish

[2017-04-18 04:55] #2480 closed

[2017-04-18 05:12] #3126 closed

[2017-04-18 07:19] mkhoudary opened #3127 "Decision Node Settings Not Opening"
After specifying choices to decision node, I get the error shown in screenshot when clicking on settings at the decision node.

![image](https://cloud.githubusercontent.com/assets/3704174/25118758/4c012574-2420-11e7-87d5-6b2e6a7bf152.png)

[2017-04-18 07:49] hoanglinhlan opened #3128 "User manage page: cant remove user"
1. open this http://3m.admin.kademi.com.au/manageUsers/
2. search for test
3. select first 2 records
4. click "remove" but nothing happen
same problem with VTL http://vtl.admin.kademi.com.au/manageUsers/?q=test&g&enabled=true#
https://github.com/Kademi/client-2one2f-3M/issues/81

[2017-04-18 08:13] bradmac commented on #3128
Fixed

[2017-04-18 08:13] #3128 closed

[2017-04-18 08:32] ducdhm commented on #3120
https://github.com/Kademi/kademi-dev/issues/2929

[2017-04-18 19:38] gonzalon commented on #3098
I did the change we speak yesterday, but I found another issue.

If we set the dependency for "KademiLoginResponseHandler" to "KademiHttpManagerBuilderEnt" hrough Spring without args.

Then we get a NullPointerException when is trying to set the Buffer and other properties in the init method.

Here:
[code]

I rolled back those changes and in the afterInit method Im trying to set the dependencies b

[2017-04-18 22:30] tuzzmaniandevil commented on #3083
Fixed

[2017-04-18 22:30] #3083 closed

[2017-04-18 23:15] diegoperezn commented on #2825
Tested on http://carters-test.kademi.com.au and I was not able to reproduce it.

Tested with products that have Gifts category and was removed to get no categary:
http://carters-test.kademi.com.au/trade-reward/BS/
http://carters-test.kademi.com.au/trade-reward/bf/
http://carters-test.kademi.com.au/trade-reward/40026891/

and with a new product: http://carters-test.kademi.com.au/trade-reward/newPro

[2017-04-18 23:16] diegoperezn commented on #2266
Done!

[2017-04-18 23:20] #2266 closed

[2017-04-18 23:48] #2675 closed

[2017-04-19 02:08] bradmac opened #3129 "Manage products page: Add column ordering and filtering"
- allow ordering by selecting a column header for these cols (Code, Title, Supplier, Base Cost)
- filtering on supplier from a dropdown list of supplier orgs
- filtering on free text, which will search code and title

[2017-04-19 02:23] anhnt commented on #3114
done for fuse-image. please continue with video and audio @ducdhm

[2017-04-19 02:27] bradmac opened #3130 "Add selectable page size to common paginator UI"

[2017-04-19 02:30] n2lose opened #3131 "Hide the balance when no items are in the cart on the checkout page"
Hide the balance when no items are in the cart on the checkout page

[2017-04-19 02:52] anhnt opened #3132 "ES index is not updated when updating quantity in SKUs admin screen"

[2017-04-19 02:53] #3131 closed

[2017-04-19 02:54] tuzzmaniandevil commented on #2997
Fixed

[2017-04-19 02:54] #2997 closed

[2017-04-19 02:56] tuzzmaniandevil commented on #2996
When creating a new rule, it was using the wrong dates :-) That's why it was swapped

[2017-04-19 03:01] tuzzmaniandevil commented on #3132
RewardStoreAppIndexer and ECommerceAppIndexer weren't updating there indexes when ProductSku was updated

[2017-04-19 03:10] bradmac commented on #2448
![image](https://cloud.githubusercontent.com/assets/826458/25161828/3a110d00-2512-11e7-9597-0bfe7bcd06a4.png)

[test-user-upload.xlsx](https://github.com/Kademi/kademi-dev/files/931640/test-user-upload.xlsx)

[2017-04-19 04:44] #2996 closed

[2017-04-19 04:45] tuzzmaniandevil commented on #3132
@anhnt Please recheck

[2017-04-19 07:32] ducdhm commented on #3127
Fixed!

[2017-04-19 07:32] #3127 closed

[2017-04-19 09:58] anhnt commented on #3132
worked great 👍

[2017-04-19 09:58] #3132 closed

[2017-04-19 22:17] tuzzmaniandevil commented on #2064
@hoanglinhlan Looking at the daterange in your screen shots, They don't include the dates of the records thats probably why they are dissapearing. Can you please retest?

[2017-04-19 23:00] tuzzmaniandevil commented on #2140
Added an option called "NOSOURCE", When we get a source with that name we will include leads that don't have a source.
@anhnt Please can you add a static option with the value "NOSOURCE" to the Sources dropdown? And maybe with the text: "Leads with no source"

[2017-04-19 23:03] #2779 closed

[2017-04-19 23:05] bradmac commented on #2748
Can you check if this is still active?

[2017-04-19 23:05] tuzzmaniandevil commented on #2092
Done. @hoanglinhlan Please test :smile:

[2017-04-19 23:07] #2615 closed

[2017-04-19 23:43] #2305 closed

[2017-04-19 23:44] bradmac commented on #2272
@tuzzmaniandevil can we close this?

[2017-04-19 23:45] #2122 closed

[2017-04-19 23:47] bradmac commented on #1969
@tuzzmaniandevil can this be closed?

[2017-04-19 23:48] bradmac commented on #1935
Please add pagination

[2017-04-20 00:59] #2272 closed

[2017-04-20 00:59] tuzzmaniandevil commented on #1969
Yup

[2017-04-20 00:59] #1969 closed

[2017-04-20 01:54] bradmac commented on #2448
@hoanglinhlan can you please give the users import tool a thorough test?

[2017-04-20 01:57] #3065 closed

[2017-04-20 02:29] #3048 closed

[2017-04-20 02:36] ducdhm commented on #3048
💯

[2017-04-20 07:06] #2064 closed

[2017-04-20 07:09] hoanglinhlan opened #3133 "CartID is null when user submit cart with voucher product"
refer https://github.com/Kademi/client-emc-airnz/issues/86#issuecomment-295601922

[2017-04-20 10:15] ducdhm commented on #2951
Already fixed in other issue

[2017-04-20 10:15] #2951 closed

[2017-04-20 10:16] ducdhm opened #3134 "jQuery plugin for searching org"

[2017-04-20 10:17] ducdhm opened #3135 "jQuery plugin for searching profile"

[2017-04-20 10:18] ducdhm opened #3136 "jQuery plugin for searching static elements"
Idea from textbox search of left menu in admin console

[2017-04-21 00:15] tuzzmaniandevil commented on #2928
I cannot reproduce this error, Even when testing with a postgres server and a http blobby server the same as production.

[2017-04-21 00:15] #2928 closed

[2017-04-21 03:34] bradmac commented on #3129
@diegoperezn can you please change the search to use the same automatic search used on the manage users page?

Eg see manageUser.js
[code]

[2017-04-21 03:55] gonzalon commented on #2803
What browsers we need to support?
So far I tested in the latests Chrome and Firefox and working fine, for IE we would need a polyfill as it doesnt support getUserMedia atm.

Also, after the save, the image of the user in the top nav (beside the username) isn't being updated.

[2017-04-21 03:56] bradmac commented on #3130
Please change this from a free text number to a select box with options 100, 500, 1000, 5000

[2017-04-21 03:58] bradmac commented on #2271
Please change "There is no valid row in the file" to "There are no valid rows in the file"

[2017-04-21 04:00] bradmac commented on #2803
The main requirement is to support mobile devices, iOS and Android.

Desktop browsers are a bonus. IE is not required

[2017-04-21 04:16] diegoperezn commented on #3129
Done!

[2017-04-21 04:34] #3129 closed

[2017-04-21 06:14] diegoperezn commented on #2271
Done!

[2017-04-21 07:12] #3134 closed

[2017-04-21 07:14] ducdhm opened #3137 "Improve manageOrg screen"
* Apply jquery.orgFinder (v1.1.0 aka org searching plugin)
 * Add `Edit parent org` in action list

[2017-04-21 07:38] anhnt commented on #3060
added product sorting component

[2017-04-21 07:38] #3060 closed

[2017-04-21 10:42] ducdhm commented on #3137
@bradmac All UI for it is done. Just need java side supports method to update parent.

FYI: Request data to update
[code]

[2017-04-21 15:53] paddyow opened #3138 "Cannot create lead in KCRM"
http://kcrm.kademi.us/enterprise-sales

When you click create new lead, it goes to a page not found.

[2017-04-21 17:04] #3138 closed

[2017-04-21 17:25] #3137 closed

[2017-04-21 17:29] ducdhm commented on #3138
Fixed! Just need update leadmanTheme

[2017-04-22 01:02] bradmac commented on #3098
Tested with Authy android app - https://play.google.com/store/apps/details?id=com.authy.authy&hl=en

[2017-04-22 01:04] bradmac commented on #3098
Starting by enabling 2FA on your profile

![image](https://cloud.githubusercontent.com/assets/826458/25300113/70dbe950-274b-11e7-8da0-6e45e90a3fd1.png)

[2017-04-22 01:07] bradmac commented on #3098
Then configure your authenticator app (eg Authy or Google authenticator) using the QR code which is displayed on the profile page:

![image](https://cloud.githubusercontent.com/assets/826458/25300129/c0c2abd4-274b-11e7-8456-12283d4a4929.png)

Then logout, and login using your normal username and password

The system will display a modal to enter the 2FA key. Get this number from your authenticator

[2017-04-23 20:32] gonzalon commented on #2803
For testing in mobile it should be only in **https**, because of browser spec.
So far, Safari is not supporting it, but it should work on Chrome for iOS.

[2017-04-23 21:22] diegoperezn commented on #3130
Done!

[2017-04-23 21:51] gonzalon commented on #2624
Pushed to master

[2017-04-23 21:57] gonzalon commented on #2948
Couldn't reproduce it

[2017-04-23 22:31] #3130 closed

[2017-04-23 22:53] tuzzmaniandevil opened #3139 "Admin Date Selectors: Use account timezone"
When using time/date selector in the admin console, use the admin org time selector, If it's not present use the server default (Might need some API)

e.g. When creating an Auction on the US Cluster, the "Start Date" should default to the current time in the US, Not my current time

If you create an auction with default start date, the auction should be immediately active. This is just "round trip

[2017-04-23 22:55] gonzalon commented on #2124
The push fix "Category" and "Tag" in the blog editing.

Couldn't reproduce the one in /websites

[2017-04-24 03:06] #3135 closed

[2017-04-24 03:37] hoanglinhlan commented on #2748
this issue is not active

[2017-04-24 03:37] #2748 closed

[2017-04-24 04:08] hoanglinhlan commented on #3057
passed

[2017-04-24 04:08] #3057 closed

[2017-04-24 06:09] #2635 closed

[2017-04-24 06:50] tuzzmaniandevil commented on #2226
The search was only doing a prefix search, So I changed it to do a prefix and postfix search, i.e. `.*TEXT.*`

[2017-04-24 07:17] bradmac commented on #2226
Hey @tuzzmaniandevil i dont think we should do it that way. Thats going to smash ES performance wise.

What i would suggest is either
- use some sort of special or custom tokeniser
- change the appindexer to store an additional field which is the email split into personal and domain parts.

[2017-04-24 07:26] tuzzmaniandevil commented on #2226
@bradmac It's using a WildCard query so should be a performance hit, We can do a custom tokeniser/Extra index field if it will make it faster

[2017-04-24 07:33] bradmac commented on #2226
I think adding an extra field in the index for the domain would be good. Thats something we might want to report on in some cases

[2017-04-24 15:26] #3114 closed

[2017-04-25 05:54] ducdhm commented on #2929
Please test on your locally

[2017-04-25 06:38] hoanglinhlan commented on #3059
passed

[2017-04-25 06:38] #3059 closed

[2017-04-25 06:55] hoanglinhlan commented on #3133
passed

[2017-04-25 06:55] #3133 closed

[2017-04-25 07:34] #2929 closed

[2017-04-25 09:06] #3120 closed

[2017-04-25 21:04] tuzzmaniandevil commented on #2226
added a new field called `emailDomain`  and added it to the fields it searches in. a Re-index will be needed

[2017-04-25 21:48] tuzzmaniandevil commented on #2441
I've added a validation check.

@ducdhm Please can you change the way it shows the invalid records to be like the manage users importer?

[2017-04-25 21:53] gonzalon commented on #1958
@bradmac this is in /products/:id/ or somewhere else? I can't seem to find it

[2017-04-25 23:14] gonzalon commented on #2523
@bradmac Where are this logs? The ones I found couldn't access if you werent logged in.

[2017-04-25 23:28] bradmac opened #3140 "Upgrade manage orgs page to be like manage users page"
- allow faceted search
- by org type

Please do this as a **new** resource and template, so the current page continues to work as it is. Once fully tested we'll switch over to the new one

[2017-04-25 23:49] bradmac commented on #1958
This is just for the groups combo:

![image](https://cloud.githubusercontent.com/assets/826458/25412371/938f8232-2a65-11e7-8e37-a2a8035f6f39.png)

[2017-04-25 23:52] bradmac commented on #2523
http://localhost:8080/logging

[2017-04-26 00:36] gonzalon commented on #2523
I think this is already solved!

- If I open it a Incognito browser Im being redirect to the login

-  if I try to access to the api: http://localhost:8080/logging?since=2017-04-26T00%3A29%3A03.301Z&logLevel=&user=&keyword=&size=500
Got a prompt asking for username / password.

[2017-04-26 00:44] bradmac commented on #2523
:+1:

[2017-04-26 00:44] #2523 closed

[2017-04-26 00:51] bradmac commented on #965
hey @diegoperezn does sorting by "Tag/Reason Code"? Note that is foreign key in Points but a text field in PointsDebit, so would be tricky to sort on.

The simplest thing might be to just not have a sort on that column

[2017-04-26 04:05] hoanglinhlan commented on #2124
confirm it's work now
Cant reproduce this issue

[2017-04-26 04:05] #2124 closed

[2017-04-26 04:31] diegoperezn commented on #965
Done! Added 2 new Select to filter by "Tag" and "Reason Code" and remove the sort by "Tag/Reason Code" column.

[2017-04-26 04:37] tuzzmaniandevil opened #3142 "Make shopping cart persistent in DB"
This is to replace the current "Cookie" shopping cart. Should work in a similar way.

After checkout is complete, mark ShoppingCart as complete and link to the Cart.

[2017-04-26 05:07] #3136 closed

[2017-04-26 06:15] diegoperezn commented on #2260
Hi @tuzzmaniandevil!
In this issue I added 3 columns on GroupMembershipApplication:

- SubscriptionAction applicationResultState;
- Date applicationResultDate;
- Profile applicationRusultProfile;

Thanks!

[2017-04-26 08:32] hoanglinhlan commented on #2448
passed

[2017-04-26 08:37] ducdhm commented on #2803
@gonzalon An issue with camera feature: after show camera zone, there is no way to back normal upload zone.

[2017-04-26 08:47] hoanglinhlan commented on #2092
hi @tuzzmaniandevil
I have a group c5s-user with extra field "field2"
http://lan-test.admin.kademi.com.au/groups/c5s-user/
but IfI selected that group in default group, I cant see "field2" in list suggestion

[2017-04-26 08:49] hoanglinhlan commented on #2271
passed

[2017-04-26 08:49] #2271 closed

[2017-04-26 08:53] hoanglinhlan commented on #2270
passed

[2017-04-26 08:53] #2270 closed

[2017-04-26 09:25] hoanglinhlan commented on #2624
passed on au server

[2017-04-26 09:25] #2624 closed

[2017-04-26 09:55] mkhoudary opened #3143 "Add InitialGoal As a property in the Begin Node - Journey Builder"
Add a property initialGoal to specify that a specific beginNode is the initial one

[2017-04-26 10:03] hoanglinhlan commented on #3098
passed

[2017-04-26 10:03] #3098 closed

[2017-04-26 10:21] mkhoudary commented on #3143
Done..

[2017-04-26 10:21] #3143 closed

[2017-04-26 10:33] hoanglinhlan commented on #2261
hi @diegoperezn
I clicked to add/remove group button nothing happen
Please check

[2017-04-26 14:23] anhnt commented on #2851
now we can configure:

- color of bar/line via ```data-colors```

- chart margins ```data-bottom, data-top, data-left, data-right```

- y axis alignment via ```data-align```

[2017-04-26 14:23] #2851 closed

[2017-04-26 23:04] bradmac opened #3144 "Points balance statements page is crashing the browser in production"
Appears to be returning all records, instead of limiting to pageSize

[2017-04-26 23:12] tuzzmaniandevil opened #3145 "Error when deleting a GroupEmail that has an email_job_attachment"
When trying to delete a GroupEmail where test emails have been sent it throws an exception that there are still EmailJobAttachments referencing it

[2017-04-26 23:25] diegoperezn commented on #3144
Fixed!

[2017-04-27 00:01] #3144 closed

[2017-04-27 00:31] gonzalon commented on #2529
When Im trying to create a new Endpoint (Following: http://docs.kademi.co/programs/dev/d2/int1/pconfiguring-pipelines-with-xml.html)

I'm getting:

[code]

[2017-04-27 01:57] tuzzmaniandevil opened #3146 "Group Registration: Portlet not showing on admin dashboard"
Because the portlet isn't showing, So new registrations can be accepted.

This is effecting Swimart, Please notify Patricia Kucukakyuz when fixed

[2017-04-27 03:50] ducdhm opened #3147 "moment-lib"

[2017-04-27 04:27] hoanglinhlan commented on #3107
passed

[2017-04-27 04:27] #3107 closed

[2017-04-27 04:37] hoanglinhlan opened #3148 "Paging: Do we should showing all page"
hi @bradmac
currently, We just show only 10 page, so if the system has more than 10 page, user cant see pages from 11th page.
should we show all page?

[2017-04-27 06:51] bradmac commented on #3146
This requires the user admin permission

[2017-04-27 06:54] bradmac commented on #3148
No, this is fine, at least for now

[2017-04-27 07:04] bradmac opened #3149 "Reward store Product EDM component"
We need a component to generate a single product tile for a selected product, with links.

Please see here for an example - http://carters.admin.kademi.com.au/groupEmails/20924171

[2017-04-27 07:34] hoanglinhlan commented on #2226
passed

[2017-04-27 07:34] #2226 closed

[2017-04-27 07:47] ducdhm commented on #3008
Fixed in other issue

[2017-04-27 07:47] #3008 closed

[2017-04-27 07:50] ducdhm opened #3150 "Single Product Component"
Needed for carter

[2017-04-27 07:50] ducdhm commented on #3002
Already fixed!

[2017-04-27 07:50] #3002 closed

[2017-04-27 07:55] ducdhm commented on #3150
Duplicated with https://github.com/Kademi/kademi-dev/issues/3149

[2017-04-27 07:55] #3150 closed

[2017-04-27 08:29] #3147 closed

[2017-04-27 19:30] gonzalon commented on #2602
This is for: http://localhost:8080/manageSearch/?

[2017-04-27 19:30] gonzalon commented on #1901
This should be in the top nav?
What's kcrm?

[2017-04-27 23:49] diegoperezn commented on #2261
@hoanglinhlan It is working in http://carterstest.admin.kademi.com.au/Calendars/

[2017-04-27 23:51] #2948 closed

[2017-04-28 00:03] bradmac commented on #2261
@hoanglinhlan I just checked in http://lan-test.admin.kademi.com.au/Calendars/NewYork/ and it seems to work ok

[2017-04-28 00:09] tuzzmaniandevil commented on #3142
@hoanglinhlan Please give ECommerce a full end-to-end test as I have refactored a fair bit of code and might have missed something in my testing

[2017-04-28 00:10] bradmac commented on #1901
Looks like its not quite integrated correctly

This is what i see on the manage users page:
![image](https://cloud.githubusercontent.com/assets/826458/25509230/c29cf636-2bfa-11e7-9c48-f1ce7933bb68.png)

And this is what i see on the dashboard:
![image](https://cloud.githubusercontent.com/assets/826458/25509237/d6f87a42-2bfa-11e7-89b6-b8273d513bb4.png)

[2017-04-28 01:05] bradmac opened #3151 "Organisations import wizard"
Please create an import wizard for importing organisations, this should be as similar as possible as the user importer.

Please re-use existing services such as TableService, and follow the same patterns

[2017-04-28 01:06] bradmac commented on #3151
Eg similar to this:

![image](https://cloud.githubusercontent.com/assets/826458/25510341/c6b954d2-2c02-11e7-93c2-2c0ada9d30a1.png)

[2017-04-28 05:34] hoanglinhlan opened #3152 "Showing error in event page"
Profile: http://lan-test.admin.kademi.com.au/manageUsers/48603785/#general-tab
Precondition: event has not group
Step:
- Login to c5s site
- click to open any event
ie http://c5s.kademi.com.au/Calendars/NewYork/abcbcbc
![image](https://cloud.githubusercontent.com/assets/20508726/25515400/883a475a-2c0e-11e7-9bb9-fe269f7d3089.png)

**Note**:
that error showing after this profile submit attendanced t

[2017-04-28 06:00] hoanglinhlan commented on #1712
passed

[2017-04-28 06:00] #1712 closed

[2017-04-28 06:31] bradmac commented on #3152
Just from the error message, i think that is not related to the change @diegoperezn made

[2017-04-28 06:32] bradmac commented on #3152
@hoanglinhlan can you please give the steps to reproduce this error on a new event? I think it is probably due to accepting and then deleting an attendance

[2017-04-28 07:43] hoanglinhlan commented on #2803
after I take a picture, the system showing a message "Please drag a rectangle to crop the image". But after I drag a rectangle and click "crop" button, an error showing
![image](https://cloud.githubusercontent.com/assets/20508726/25519047/7fd2698c-2c20-11e7-9245-35138bf8025c.png)

[2017-04-28 08:01] hoanglinhlan commented on #1958
hi @gonzalon
list group still not alphabetially and it's showing some empty row
http://lan-test.admin.kademi.com.au/products/samsung01/#panel_details-tab
![image](https://cloud.githubusercontent.com/assets/20508726/25519779/65318b82-2c23-11e7-884f-0813ee174b35.png)

[2017-04-28 08:04] hoanglinhlan commented on #2189
passed

[2017-04-28 08:04] #2189 closed

[2017-04-28 09:21] anhnt commented on #2841
fixed

[2017-04-28 10:03] anhnt commented on #2809
done

[2017-04-28 10:35] hoanglinhlan commented on #2260
passed

[2017-04-28 10:35] #2260 closed

[2017-04-28 11:03] hoanglinhlan commented on #3152
@bradmac
**Profile**: http://lan-test.admin.kademi.com.au/manageUsers/48689307/#summary-tab
**Event**: http://lan-test.admin.kademi.com.au/Calendars/CalendarTest/event#details-tab
current, I cant reproduce it, because I cant submit attendance. When I submit attendance, the system alway showing JSON
![image](https://cloud.githubusercontent.com/assets/20508726/25526191/afb57808-2c3c-11e7-868b-8242ed

[2017-04-28 12:03] bradmac commented on #3152
I've just updated calendar-lib, so now that page is appearing and working correctly

[2017-04-29 08:05] ducdhm commented on #3051
Fixed!

[2017-04-29 08:05] #3051 closed

[2017-04-29 08:05] ducdhm commented on #3149
Done!

[2017-04-29 08:42] ducdhm commented on #2966
@bradmac: What do you think about this issue?

[2017-04-29 08:42] ducdhm commented on #2999
Fixed!

[2017-04-29 08:42] #2999 closed

[2017-04-29 08:43] ducdhm commented on #2981
Changed to date time picker!

[2017-04-29 08:44] ducdhm commented on #2628
@bradmac How can I append google API key in link to google map js?

[2017-04-29 09:11] #2953 closed

[2017-04-29 09:11] ducdhm commented on #2953
Fixed!

[2017-04-29 15:38] ducdhm commented on #732
Done!

[2017-04-29 15:38] #732 closed

[2017-04-29 16:01] ducdhm commented on #3125
Fixed!

[2017-04-29 16:01] #3125 closed

[2017-04-30 17:14] gonzalon commented on #2803
@hoanglinhlan is the normal crop working for you? As I'm testing it in a windows machine the crop functionality doesn't work.

[2017-04-30 21:06] bradmac commented on #2628
@ducdhm not sure of the best approach. Please grab me when youre online to discuss.

[2017-04-30 21:08] bradmac commented on #2966
Currently its showing the number of memberships, which can be different to the number of users. It would be better to show the number of users, but showing number of memberships is acceptable.

[2017-04-30 21:09] bradmac commented on #2966
I think we push this back a couple of milestones

[2017-04-30 21:44] gonzalon commented on #1958
hey @hoanglinhlan sorry my bad, I mixed up and sort the wrong combo.
Regarding the blank spaces you see is because the "Title" property of the group is empty.
Should be working fine now.

[2017-05-01 00:10] bradmac opened #3153 "RewardStoreApp menu items are not using the points admin role"
Currently the RewardStoreApp is using the content author permission to decide whether or not to show menu items:
[code]

But this is incorrect. The app should check for the presence of the PointsAdministratorRole, not content author role.

[2017-05-01 00:36] bradmac opened #3154 "Submitting promotion entry forms multiple times creates multiple profiles"

[2017-05-01 01:31] bradmac opened #3155 "Dates not displaying on the manage promotion page"
I have a promotion with start and end dates specified, and I have confirmed through debugging they are correctly saved.

But when i view the manage promotion page no value is being displayed:

![image](https://cloud.githubusercontent.com/assets/826458/25569867/659fb26e-2e72-11e7-8add-ae06afa56859.png)

Here is the generated html:

[code]

[2017-05-01 02:52] bradmac commented on #3154
Fixed

[2017-05-01 02:52] #3154 closed

[2017-05-01 05:59] paddyow opened #3156 "Manage website domain name field referencing Olhub"
http://kademi.admin.kademi.us/websites/themecheck/version1/#panel_details-tab

Should be setup for AWS.

![image](https://cloud.githubusercontent.com/assets/2201340/25573263/0d3f69c4-2e87-11e7-963c-1e22af29065a.png)

[2017-05-01 06:19] paddyow opened #3157 "Display name field when creating profile"
http://3m.admin.kademi.com.au/manageUsers/

When creating a new profile, there is a field called Display Name.
However there is no display name field on a profile i.e. http://3m.admin.kademi.com.au/manageUsers/48817481/#general-tab

Still, if you create a profile and manually add the display name field and include a space, it causes the below validation error.

![image](https://cloud.githubusercon

[2017-05-01 06:22] #3157 closed

[2017-05-01 21:48] bradmac opened #3158 "Products import wizard"
For the manage products page - Eg http://localhost:8080/products/

Similar to  https://github.com/Kademi/kademi-dev/issues/3151

[2017-05-01 23:36] bradmac commented on #2825
Reproduced the issue

[2017-05-01 23:42] bradmac opened #3159 "Not collecting purchase order options"
https://github.com/Kademi/client-emc-cca/issues/17

[2017-05-01 23:42] bradmac commented on #3159
Fixed - https://github.com/Kademi/kademi-platform/commit/518a7b2ed2469bc8b6774ca1cbb089d33b7d9467

[2017-05-01 23:42] #3159 closed

[2017-05-02 02:03] bradmac opened #3160 "points awarded report"
Similar to PointsDebitReport, but should be based on Points

[2017-05-02 06:46] paddyow opened #3161 "Journey Builder Email Node broken"
You can no longer edit an email node in any journey.  This seems to have broken the journey as the email is not sent.

http://zoetis.admin.kademi.com.au/funnels/guidar-accreditation/#journeyBuilder-tab
http://nesst.admin.kademi.com.au/funnels/welcome-journey/#journeyBuilder-tab  (email not sent on this journey)

[2017-05-02 21:21] bradmac opened #3162 "Validate from address to have a valid domain when sending emails"
The from address for an email must have a domain name the same as the domain on a website in the account, otherwise most mail clients will reject it as spam.

So please validate the from address matches a website domain. Note that from addresses allow both plain format and personalised format, eg
[code]

This applies to send group emails, and automations

[2017-05-03 03:15] anhnt opened #3163 "Could not set font for edm button"
I saw this error in console

[code]

[2017-05-03 03:32] anhnt commented on #3163
fixed

[2017-05-03 03:44] diegoperezn opened #3164 "Categories import wizard"

[2017-05-03 03:59] #2825 closed

[2017-05-03 05:02] anhnt opened #3165 "Outlook doesnt apply global font setting in EDM editor"

[2017-05-03 05:06] bradmac opened #3166 "show user name (ie userid) instead of nickname on manage members page"

[2017-05-03 05:30] #3166 closed

[2017-05-03 05:35] bradmac opened #3167 "Implement customer facing proposal screen"
To support customers reviewing and accepting quotes:
- have a resource to display a proposal at /proposals/[proposalid]
- have a component to display the quotes in the proposal and allow selection of a quote and acceptance
- only display if the current user (normally authenticated by an auth token) matches the customer or vendor

The component should
- display each quote in a tile with heading and

[2017-05-03 05:47] bradmac opened #3168 "Quote/Proposal workflow"
- add a new property to Proposals and Quotes to allow them to be associated with a lead
- add a button to the lead page in LeadMan to create a quote, and connect it to the current lead
- add a link on the quote page to link to the lead
- add links on the lead page to existing quotes
- add a button to the quote page to allow creating a proposal and linking to this quote
- add a button on the quote

[2017-05-03 05:58] bradmac opened #3169 "Implement proposal acceptance goal"
Depends on:
https://github.com/Kademi/kademi-dev/issues/3167
https://github.com/Kademi/kademi-dev/issues/3168

Create a new goal which is achieved when a quote associated with the lead is accepted

[2017-05-03 06:05] bradmac opened #3170 "Leadman task form: Only display outcome forms for selected outcome"
When displaying the form for a task which has outcomes, only display the outcome form (eg using fields or formPath) when the outcome is selected

[2017-05-03 07:32] hoanglinhlan opened #3171 "Admin login: Dont show any error message"
Profile https://lan-test.admin.kademi.com.au/manageUsers/46391155/#general-tab
Login to https://lan-test.admin.kademi.com.au

we dont show any error message if user loged in cases:
- Profile has not permission to access admin page
- user input incorrect pass
- user input email that not existed

[2017-05-03 11:02] hoanglinhlan commented on #3142
**Profile**: https://lan-test.admin.kademi.com.au/manageUsers/48689307/#general-tab
1: in checkout page, I cant remove or decrease/increase product's quantity
2: seem like order detail has unnecessary row
order https://lan-test.admin.kademi.com.au/shopping-carts/48973569/#items-tab
in frontEnd
![image](https://cloud.githubusercontent.com/assets/20508726/25657883/457398b6-302a-11e7-9666-980b5c1ba30

[2017-05-03 11:06] hoanglinhlan commented on #3152
it's work fine now

[2017-05-03 11:06] #3152 closed

[2017-05-03 16:24] anhnt opened #3172 "Menu component to have layout setting"
Should have following options:

- Box
- Wide

[2017-05-03 16:56] anhnt commented on #3172
done

![image](https://cloud.githubusercontent.com/assets/735555/25671990/2558056c-305c-11e7-9c4f-5fb6b9543ebd.png)

[2017-05-03 16:56] #3172 closed

[2017-05-03 19:45] gonzalon commented on #2529
Should we change the "Next Due" column whit the new field: scheduledEndDate in
http://localhost:8080/integration/#schedules-tab ???

[2017-05-03 21:07] bradmac commented on #3165
If the default style doesnt propogate through the whole email, then maybe we can look at injecting the default with templating? The solution which involves setting important! might not be great, if that means we cant set the font on specific components in the EDM

[2017-05-03 21:12] bradmac commented on #3142
Hi @diegoperezn can you please look into the issues @hoanglinhlan found?

[2017-05-03 21:14] diegoperezn commented on #3142
Ok @bradmac

[2017-05-03 21:14] bradmac commented on #3172
:+1:

[2017-05-03 21:15] bradmac commented on #2529
I think we should have a new column and display both

[2017-05-03 21:18] bradmac opened #3173 "Points allocation rules need to locate the correct entity given the reward"

[2017-05-03 22:04] #3173 closed

[2017-05-04 02:23] bradmac commented on #3167
![image](https://cloud.githubusercontent.com/assets/826458/25688667/402d0328-30d5-11e7-83ef-a1398d4c5b5d.png)

[2017-05-04 02:25] bradmac commented on #3167
@mkhoudary please improve the screen. The layout is in viewProposalDetailsComponent.html

[2017-05-04 03:33] bradmac commented on #3169
Created AcceptQuoteGoal in PaymentApp

[2017-05-04 03:39] bradmac commented on #3169
@mkhoudary this goal has been implemented. Please integrate into itsinsured. Note that it requires the lead on the quote/proposal to match on, so you will need to complete #3168 to be able to test it

[2017-05-04 03:40] bradmac commented on #3168
Have added the lead property to Quote and Proposal.

@mkhoudary please update the screen flow in leadman so that the lead is set when these are created

[2017-05-04 04:11] diegoperezn opened #3174 "Points import wizard"

[2017-05-04 05:05] hoanglinhlan commented on #2261
https://lan-test.admin.kademi.com.au/Calendars/CalendarTest/
1: I choose normal-user and  c5s-manager group but I still access to event with others group
(group c5s-user, profile https://lan-test.admin.kademi.com.au/manageUsers/46391155/#general-tab
2: nothing happen when I click to Mail user in elligibleProfiles page
https://lan-test.admin.kademi.com.au/Calendars/CalendarTest/elligibleProfiles-ev

[2017-05-04 05:29] hoanglinhlan commented on #3164
https://lan-test.admin.kademi.com.au/categories/
I can import new Category without Name/code and incorrect parentCategory

[2017-05-04 07:18] paddyow opened #3175 "Cannot go back from email editing screen when using the JB"
http://nesst.admin.kademi.com.au/funnels/welcome-journey/emailAction-34b86d/#message-tab

If I edit an email in the JB workflow, there is no way to go back to the email config screen.

[2017-05-04 07:52] hoanglinhlan commented on #3158
hi @diegoperezn
1: Cant upload with Category and Supplier
2: Upload file with product's code existed, the system create a new product ( note: the product code is the unique id, we use this field to find the product)

[2017-05-04 08:20] hoanglinhlan opened #3176 "Unnecessary field in organisation manager page"
https://lan-test.admin.kademi.com.au/organisations/
what's mean of textbox name?. I just put an organisation's name then enter but nothing happen
Please remove that field

[2017-05-04 08:53] hoanglinhlan commented on #3151
Cant import now
http://alaatest.admin.kademi.com.au/organisations/
[orgs.zip](https://github.com/Kademi/kademi-dev/files/975607/orgs.zip)
After I upload file, the system cant stop loading and If I refresh that page, org is not created

[2017-05-04 09:01] hoanglinhlan commented on #1901
passed

[2017-05-04 09:01] #1901 closed

[2017-05-04 09:02] hoanglinhlan commented on #2803
passed

[2017-05-04 09:02] #2803 closed

[2017-05-04 09:29] hoanglinhlan commented on #3149
hi @ducdhm
https://lan-test.admin.kademi.com.au/manageApps/#installed-tab
please update  rewardstore-lib to version 1.0.1.
current version of this lib is 1.0.0, so I cant find this component in list component

[2017-05-04 09:45] hoanglinhlan opened #3177 "web page - content editor: Cant see list container and list component"
http://version1.c5s.kademi.com.au/contenteditor?fileName=p2704.html&miltonUserUrl=/users/lan&miltonUserUrlHash=f09c7816-5608-47f3-bbb6-561e9779d958:j4k18P9PVnBf63nENBUmjg2tI_8

![image](https://cloud.githubusercontent.com/assets/20508726/25698427/0567eed8-30e9-11e7-9cdf-189fa378f727.png)

[2017-05-04 10:12] hoanglinhlan commented on #2981
1: after I created a new record, the date is not showing in record detail page
https://lan-test.admin.kademi.com.au/sales/new-series1/56747212
2: I cant save Sale date and Date entered. The system alway showing an error "we could not process your request"

[2017-05-04 10:23] hoanglinhlan commented on #965
1: why can I see many un row in list reason code?
![image](https://cloud.githubusercontent.com/assets/20508726/25699561/fe3b802a-30ed-11e7-8302-0fbaad42b795.png)
Where can I control my list reason code?
2: I have one record with tag A and some record with reason code "P" but when I filter with tag A and reason code "P". the system dont show anything
![image](https://cloud.githubusercontent.com/ass

[2017-05-04 10:26] hoanglinhlan commented on #2841
passed

[2017-05-04 10:26] #2841 closed

[2017-05-04 12:41] mkhoudary commented on #3168
Implemented what's necessary to proceed to goal issue..
- add a new property to Proposals and Quotes to allow them to be associated with a lead [Done]
- add a button to the lead page in LeadMan to create a quote, and connect it to the current lead  [Done]
- add a link on the quote page to link to the lead [Postponed, Can wait]
- add links on the lead page to existing quotes  [Done]
- add a button

[2017-05-04 18:29] mkhoudary commented on #3169
This can be tested now

[2017-05-04 21:23] bradmac commented on #3175
That is correct. Just open in a new tab

[2017-05-04 21:23] #3175 closed

[2017-05-04 21:24] bradmac commented on #3176
Looks like its because that cell has id="orgId", and i guess the orgFinder is setup to automatically convert that id.

@ducdhm if thats the case i think we should use a special class

[2017-05-04 21:27] bradmac commented on #3177
I think your libs probably need to be updated. Please check with Anh or Duc

[2017-05-04 21:28] bradmac commented on #965
1. This list is found by querying the database. But i think the problem is that query is not being restricted to the current org, it appears to be querying the whole db!

[2017-05-04 21:34] bradmac commented on #3168
Please add a link from the quote page back to the lead page, if related to a lead

[2017-05-04 22:38] paddyow opened #3178 "Customer did not receive password reset email"
See here http://allstarrewards.admin.kademi.us/manageUsers/11691093/#emailAppTab-tab

The sender address is: noreply@all star rewards.kademi.us (note the spaces)
Says it failed. But the status said it was opened.

![image](https://cloud.githubusercontent.com/assets/2201340/25727703/1d514d70-316e-11e7-8d6f-845b44a1a422.png)

[2017-05-04 22:52] diegoperezn commented on #3174
Done in the path "/rewards/points/upload", we can change the upload button link after test it.

[2017-05-04 23:08] #3178 closed

[2017-05-04 23:15] paddyow opened #3179 "Creating and editing webpage templates"
When wanting to update my website I intuitively went to edit webpages, but the pages I needed to update were not available, instead I had to navigate to Manage Websites, then tab to themes.

As a task, I want all my webpages and templates in one place so I can build my website or webapp without having to navigate to other parts of the admin console.

See example below.  The website pages and templ

[2017-05-04 23:17] bradmac commented on #3179
Not the same page. But we should have a Manage Templates page beside Edit Web pages

[2017-05-04 23:20] diegoperezn commented on #965
1. Yes, I was retrieving all the reasons, Added the restriction to show just the ones in the current organisation.
2. This page shows the credit and debit points, reason code is for debit and tag is for credit. If you select both is an in and its ok that the result is empty. We can change it to use and "Or" between those filters if you want.

[2017-05-04 23:26] diegoperezn commented on #3151
@hoanglinhlan Could you try now?

[2017-05-04 23:37] diegoperezn commented on #2261
1. You have access to the event but you are not allowed to register on it. Right now the error is wrong in that environment but seems to be that a JSs lib update is needed, The backend is sending the correct error ([{field: "groupCalendarRequired", message: "Calendar and user group validation"}]). @bradmac
2. Regarding this, do you have more info about it? I test it in chrome and is working.
![cap

[2017-05-04 23:44] bradmac commented on #3179
OK, so what we want is this:
- update managePages.html
- when being viewed in the root of a website, display 2 columns, Pages and Templates
- the Pages column should show pages (as currently) and also folders (but not /theme)
- clicking a folder opens the folder in managePages.html, which should display as per the current page only layout (ie no templates)
- the Templates column should show the li

[2017-05-04 23:50] diegoperezn commented on #3158
Fixed a little bug with an empty value in category column.

@hoanglinhlan Could you give the environment and url you are testing? I was not able to reproduce there errors

Thanks

[2017-05-04 23:52] diegoperezn commented on #3142
It would be fixed with a lib update.

[2017-05-05 00:08] bradmac opened #3180 "Allow overriding freight cost in reward stores"
A client will have multiple reward stores using a single product library, each reward store will be for a different country.

The cost to ship a product will vary depending on the country, but currently the freight cost can only be set once in the product library.

Currently we have the ability to override some values for a product in a reward store, please add a freight cost field:

![image](http

[2017-05-05 00:15] diegoperezn commented on #965
Changed the reason and tag to an "Or" condition.

[2017-05-05 02:20] hoanglinhlan commented on #3158
hi @diegoperezn
this is url that I checked and my csv file
[products.zip](https://github.com/Kademi/kademi-dev/files/977976/products.zip)

https://lan-test.admin.kademi.com.au/products/

[2017-05-05 02:36] bradmac opened #3181 "Allow attaching files to quotes"
Please provide the ability to attach multiple files to a quote

Each file should have
- the content as a hash
- text describing the attachment, for displaying links
- the file extension, eg pdf or docx

The proposal acceptance quote should display links to the files in the quote

[2017-05-05 04:07] bradmac commented on #3155
Hey @ducdhm looks like datepicker support in kademi is completely busted. I've been trying to get the current datetimepicker working but it just doesnt display the current value.

Can you please look into this as top priority? And please make sure we have a consistent approach used across all kademi screens that need date and datetime pickers.

[2017-05-05 04:57] hoanglinhlan opened #3182 "Manage Points page: Cant delete debits"
https://carters.admin.kademi.com.au/rewards/points/
Click choose an debit then delete it but nothing happen

[2017-05-05 06:21] paddyow opened #3183 "Reward Store component (Items per row) not working"
http://reward-store.kademi.us//theme/apps/rewardstore/contenteditor?fileName=rewardStoreCategory.html&miltonUserUrl=/users/patrick-707421&miltonUserUrlHash=d92be4e4-1f94-4cfc-9227-c9679b3c30a6:exq-KlsfNXtectx5wd3lYSr78_c

http://reward-store.kademi.us/reward1/

When I choose to show 2 items per row the default view still shows 3.
![image](https://cloud.githubusercontent.com/assets/2201340/25735438

[2017-05-06 06:26] mkhoudary commented on #3168
Points 1 and 3 are done.. point 2 needs investigation

[2017-05-06 07:32] bradmac commented on #3168
hey @mkhoudary we definitely dont want brokers to have to explicitly create a proposal. Just create the proposal when the quote is created from this screen.

[2017-05-06 08:45] mkhoudary commented on #3168
I know @bradmac it is just that customer and vendor are set to quote after creation, so when a quote is created for the first time I don't have the vendor, while I can get the customer from the lead.

I will manage that and let you know.

[2017-05-06 08:48] bradmac commented on #3168
Hey I just realised there is a mistake with Proposal. It has a vendor field, but each quote will be from a different vendor.

Can you remove that from Proposal, then that makes it easier

[2017-05-06 09:34] mkhoudary commented on #3168
Yes.. that's exactly what I wanted to discuss.. problem solved this way :-)

[2017-05-06 10:39] ducdhm commented on #3155
I removed moment-timezone and everything is working fine.

[2017-05-06 10:39] #3155 closed

[2017-05-06 17:23] ducdhm commented on #3163
Fixed!

[2017-05-06 17:23] #3163 closed

[2017-05-06 20:13] mkhoudary commented on #3168
Point 2 is done

[2017-05-06 23:00] mkhoudary commented on #3168
@bradmac if you pulled on an older version you need to drop the Vendor Column:
alter table proposal drop column vendor
To get this working.

[2017-05-07 07:44] mkhoudary commented on #3181
This is done..

[2017-05-07 07:47] mkhoudary opened #3184 "Remove Vendor and Amount Extra Fields added into leads from quotes"
Vendor and Amount extra fields shall not be set automatically into fields when quotes got accepted

[2017-05-07 07:55] mkhoudary commented on #3184
Now we shall let vendor email and amount be read using MVEL and lead object

[2017-05-07 08:07] #3184 closed

[2017-05-07 09:39] mkhoudary commented on #3170
Done

[2017-05-07 10:07] mkhoudary opened #3185 "Getting quotes page Vendor, Customer, and Suppliers fields to work with jquery.userSearch"
Please implement search functionality for payment app manageQuote fields Vendor, Customer, and Suppliers (in line items table) which will search for both Organisation and Profile.

[2017-05-07 11:03] bradmac opened #3186 "Participating products page"
Please create a page which displays all particpating products, ie products which users are rewarded for purchasing.

This should be linked to from the "Products" tile on the home page

[2017-05-07 11:15] mkhoudary opened #3187 "Support Group Custom Fields in Autoload script"
Please support having custom fields being loaded to groups in autoload script

[2017-05-07 19:25] gonzalon commented on #2529
@bradmac its ready for test, I tested triggering the job and a with a scheduled one.

[2017-05-07 21:08] bradmac commented on #3145
@gonzalon this might already be done and wesley forgot to close, can you please check?

[2017-05-07 21:08] bradmac commented on #3146
Please ensure the portlet shows for users who have the Administrator permission

[2017-05-07 21:09] #3148 closed

[2017-05-07 21:25] bradmac opened #3188 "Failed emails report: Add organisation"
Extension to https://github.com/Kademi/kademi-dev/issues/3039

Please add columns to show the orgId and title of the user's primary memberships to the table and export CSV

[2017-05-07 21:32] bradmac commented on #3171
@gonzalon please ensure that if a user is denied access to the admin they see an appropriate error message

[2017-05-07 21:35] gonzalon commented on #3145
Can't reproduce, seems to be fixed.

[2017-05-07 21:37] bradmac commented on #2720
@ducdhm can you have a look at this please? might need to update libs

[2017-05-07 21:38] #2830 closed

[2017-05-07 21:39] bradmac commented on #2854
Hey @hoanglinhlan sorry, not sure what this relates to. Can you provide a page/screenshot etc to give some context?

[2017-05-07 21:41] bradmac commented on #2750
@ducdhm please investigate

[2017-05-07 21:45] bradmac commented on #2598
Please add an option to the importer for whether to match on phone number

[2017-05-07 21:48] bradmac commented on #2510
@anhnt is this still an issue?

[2017-05-07 22:00] bradmac opened #3189 "Ability to create an organisation when creating a profile"
Often our users want to create a new contact, and to create a new organisation and link the new user to it at the same time.

So please update the new user form to allow either selecting an existing org (default) or adding a new one.

When adding a new organisation allow these fields
- org Id
- title
- org type (from dropdown)

![image](https://cloud.githubusercontent.com/assets/826458/25785462/07

[2017-05-07 22:04] #3186 closed

[2017-05-07 22:32] bradmac commented on #2735
Is this fixed now?

[2017-05-07 22:33] bradmac commented on #2608
The server cant know if the user has closed the tab. But we should have an option to cancel.

And same for other importers

[2017-05-07 23:08] bradmac commented on #2442
Please create a lead importer wizard in the front end of LeadMan.

[2017-05-08 01:22] bradmac commented on #2388
Please confirm if this is still an active issue, it may have been resolved

[2017-05-08 02:02] bradmac commented on #3188
Just a small change, can you please use KademiUtils.toCsv(..) instead of your own functions?

[2017-05-08 02:03] bradmac commented on #3188
Eg
[code]

[2017-05-08 02:15] diegoperezn commented on #3188
Changed!

[2017-05-08 02:30] ducdhm commented on #3149
I have set hash for it. You can test for now!

[2017-05-08 02:35] bradmac opened #3190 "Points CSV importer should handle debits"

[2017-05-08 02:37] bradmac commented on #3174
@diegoperezn can you please update to create debits when the numPoints is negative? Same change applied here - https://github.com/Kademi/kademi-dev/issues/3190

[2017-05-08 04:54] hoanglinhlan commented on #2981
passed

[2017-05-08 04:54] #2981 closed

[2017-05-08 05:56] paddyow opened #3191 "Module progress 'module selector' has gone?"
http://zoetis.admin.kademi.com.au/autoEmails/41767622/#triggers-tab

![image](https://cloud.githubusercontent.com/assets/2201340/25791922/d13a7240-3406-11e7-9091-12378d8055a2.png)

[2017-05-08 06:07] bradmac opened #3192 "Cannot add attachments to group email"
For example, see here - http://swimart.admin.kademi.com.au/groupEmails/72442487/#sendInfo-tab

[2017-05-08 06:29] hoanglinhlan commented on #3153
passed

[2017-05-08 06:29] #3153 closed

[2017-05-08 06:42] hoanglinhlan commented on #3160
passed

[2017-05-08 06:42] #3160 closed

[2017-05-08 06:45] anhnt commented on #3177
fixed by upgrading bootstrap theme

[2017-05-08 06:49] hoanglinhlan commented on #2809
depend on https://github.com/Kademi/kademi-dev/issues/3177

[2017-05-08 06:50] #3177 closed

[2017-05-08 07:08] hoanglinhlan commented on #2809
I changed from Midle to top then save, the system showing message " File is saved!" but after refresh page, it's alway showing Middle

[2017-05-08 07:23] ducdhm commented on #3192
Done. Just need to deploy!

[2017-05-08 07:23] #3192 closed

[2017-05-08 07:31] ducdhm commented on #3191
Fixed! Need to deploy

[2017-05-08 07:31] #3191 closed

[2017-05-08 07:36] hoanglinhlan commented on #3182
passed

[2017-05-08 07:36] #3182 closed

[2017-05-08 07:39] hoanglinhlan commented on #965
hi @diegoperezn
https://lan-test.admin.kademi.com.au/rewards/points/
I still can see the record what is a creadit with tag A
here is image before filter
![image](https://cloud.githubusercontent.com/assets/20508726/25794634/0accb87a-33fc-11e7-8c90-0ed414034e7f.png)

after filtered
![image](https://cloud.githubusercontent.com/assets/20508726/25794643/11ca2982-33fc-11e7-956a-de88d8e0a665.png)

[2017-05-08 08:19] hoanglinhlan commented on #1958
work fine now

[2017-05-08 08:19] #1958 closed

[2017-05-08 08:34] bradmac opened #3193 "allow omni-search from front end sites in leadman app"

[2017-05-08 08:45] hoanglinhlan commented on #2441
import with 2 row: first row is valid, second row has invalid email
1: it's showing wrong Data status: New profiles found: 1, existing profiles found: 0, invalid records: 2 ==> invalid record should be 1
2: at step 5, I cant find the way to download or see invalid record. It's not showing any invalid record

[2017-05-08 08:47] paddyow opened #3194 "Components are not rendering in editor view"
http://reward-store.kademi.us//theme/apps/rewardstore/contenteditor?fileName=rewardStoreCategory.html&miltonUserUrl=/users/patrick-707421&miltonUserUrlHash=7b4c1b22-e44b-4516-a12b-64c2e0b9e707:B_iRIMJL_7K8-2LYpD5-8c7kxMI

![image](https://cloud.githubusercontent.com/assets/2201340/25796963/d1e808ca-341e-11e7-97a7-c8dfaa72182a.png)

Various templates have this problem
http://reward-store.kademi.us/

[2017-05-08 08:53] #3193 closed

[2017-05-08 08:55] paddyow opened #3195 "Should Keditors RHS menu adopt the current theme?"
http://reward-store.kademi.us//theme/apps/user/contenteditor?fileName=dashboard.html&miltonUserUrl=/users/patrick-707421&miltonUserUrlHash=69464df4-aebf-4dc0-b2e6-bf793d516d2b:0O0EAXvWqGTJDtCY36bJga5V6AY

For example updating inputs in a theme, if a customer does something really wacky, it might make Keditor impossible to use.  In our case our update to the styles on inputs have made reading input

[2017-05-08 08:56] bradmac commented on #3195
Yes, this is correct

[2017-05-08 08:56] #3195 closed

[2017-05-08 09:13] hoanglinhlan commented on #3188
passed

[2017-05-08 09:13] #3188 closed

[2017-05-08 09:24] hoanglinhlan opened #3196 "List entity in reporting site: should not showing child org"
https://lan-test.admin.kademi.com.au/reporting/points
https://lan-test.admin.kademi.com.au/reporting/pointsDebit
https://lan-test.admin.kademi.com.au/reporting/smsHistory
when I click to child org in list entity, the system showing error page

[2017-05-08 09:30] hoanglinhlan commented on #2602
passed

[2017-05-08 09:30] #2602 closed

[2017-05-08 09:31] hoanglinhlan commented on #2998
passed

[2017-05-08 09:31] #2998 closed

[2017-05-08 09:41] hoanglinhlan commented on #3145
Cant reproduce

[2017-05-08 09:41] #3145 closed

[2017-05-08 10:01] mkhoudary opened #3197 "Enable Lead File viewing on websites"
Allow a profile to view attached files associated with the leads related to this profile

[2017-05-08 10:15] hoanglinhlan commented on #3162
I cant send test mail, it's alway showing json
https://lan-test.admin.kademi.com.au/groupEmails/49066171/
https://lan-test.admin.kademi.com.au/autoEmails/72495742/
`{`
data: null,
fieldMessages: [ ],
messages: [ ],
nextHref: "",
status: true
}

[2017-05-08 10:41] hoanglinhlan commented on #3162
Cant save email although from address to have a valid domain
https://lan-test.admin.kademi.com.au/groupEmails/49066171/#sendInfo-tab

[2017-05-08 10:51] #3197 closed

[2017-05-08 10:55] hoanglinhlan opened #3198 "showing error in category page"
Profie https://lan-test.admin.kademi.com.au/manageUsers/48689307/#general-tab
http://c5s.kademi.com.au/c5s-business/

![image](https://cloud.githubusercontent.com/assets/20508726/25801369/7d3e82b0-3417-11e7-98d7-b3246daa24a6.png)

[2017-05-08 10:58] hoanglinhlan commented on #3080
work fine

[2017-05-08 10:58] #3080 closed

[2017-05-08 20:22] gonzalon commented on #3171
@brad, For that user I'm seeing this:

![sin titulo](https://cloud.githubusercontent.com/assets/2773216/25823526/bb2d9278-3412-11e7-9ed3-f152ab179db8.png)

Should I add the messages for the wrong user / wrong password?

[2017-05-08 20:46] bradmac commented on #3198
Hi @hoanglinhlan looks like the search app is turned off. Please enable it for that site.

[2017-05-08 23:47] #3190 closed

[2017-05-09 00:26] diegoperezn commented on #3196
@hoanglinhlan We decided to remove the select because is not used anymore

[2017-05-09 01:30] bradmac commented on #3171
@gonzalon the current problem is because of the change to jquery.user.js for 2FA. All we need is an exception handler around the parse line 192.

BUT we should not ever change static assets, because this can affect client sites using those assets.

So please do the following
- revert your changes to jquery.user.js, to exactly as it was prior to the 2FA issue
- create a new version of jquery.user-1

[2017-05-09 02:33] hoanglinhlan opened #3199 "Showing error when user choose a product what has extra field"
Profile https://lan-test.admin.kademi.com.au/manageUsers/48689307/#general-tab

FrontEnd page: http://c5s.kademi.com.au/c5s-business/

![image](https://cloud.githubusercontent.com/assets/20508726/25833303/71e279fc-349a-11e7-8357-ea2734b2ed9c.png)

[2017-05-09 02:37] hoanglinhlan opened #3200 "Missing product's title"
Profile https://lan-test.admin.kademi.com.au/manageUsers/48689307/#general-tab
FrontEnd page: http://c5s.kademi.com.au/c5s-business/
no way to open product page because it's not showing product's title.
![image](https://cloud.githubusercontent.com/assets/20508726/25833344/c5eb6950-349a-11e7-94e8-9cb47c883ceb.png)

[2017-05-09 02:42] hoanglinhlan commented on #3142
passed

[2017-05-09 02:42] #3142 closed

[2017-05-09 02:42] #3198 closed

[2017-05-09 03:02] bradmac commented on #3187
Hey @mkhoudary I've just done a test and it does seem to work. Here's an example
[code]

[2017-05-09 04:08] ducdhm opened #3201 "libphonenumber for jquery.forms doesnt work"
List of test data:
[code]

[2017-05-09 04:45] ducdhm commented on #3176
Fixed!

[2017-05-09 04:45] #3176 closed

[2017-05-09 08:03] hoanglinhlan commented on #3180
click to config button, it's showing error
![image](https://cloud.githubusercontent.com/assets/20508726/25841014/8d5d79b0-34c8-11e7-9077-9fd4bb554287.png)

[2017-05-09 08:15] mkhoudary opened #3202 "Start Another Journey JB Node doesn't contain list of Journies"
When opening settings for the Start Another Journey in JB the list of journies is not populated

[2017-05-09 08:45] #3183 closed

[2017-05-09 08:46] paddyow commented on #3179
We also need to add the Rewardstore dashboard template to the mix, as currently it is not available from the list.

[2017-05-09 09:23] ducdhm commented on #3202
Fixed! Need to deploy!

[2017-05-09 09:23] #3202 closed

[2017-05-09 22:06] bradmac opened #3203 "Org members page breaks when a profile has a null email"
Eg https://carters.admin.kademi.com.au/organisations/8265962/viewDetails

Results in a stack trace from this:
[code]

Please add a sort compatator that sorts by
- surname
- firstname
- email

[2017-05-09 22:27] bradmac opened #3204 "Importers: Limit number of error rows to display of 1000"
During the review step, if the number of invalid rows exceeds 1000, stop processing and display only the results found to that point.

Inform the user that too many errors were encountered

Applies to all importer wizards

[2017-05-10 02:52] bradmac opened #3205 "Show request date/time on the profile page visits tab table"

[2017-05-10 03:23] gonzalon commented on #3171
@hoanglinhlan now is showing the same error message for the wrong password / wrong user name. couldnt reproduce the other one. see the screen below.

[2017-05-10 03:28] hoanglinhlan opened #3206 "Showing error page when I add profile in to group"
Profile https://lan-test.admin.kademi.com.au/manageUsers/46391155/#general-tab

[2017-05-10 03:43] bradmac opened #3207 "Build component template for companies page"
Need a component theme template for:

/theme/apps/leadman/leadCompanies.html

See class: LeadCompaniesFolder

Example address: http://version1.itsinsured-crm.loopbackdns.com:8080/companies/

[2017-05-10 03:49] hoanglinhlan commented on #3206
Cant reproduce

[2017-05-10 03:49] #3206 closed

[2017-05-10 06:53] mkhoudary opened #3208 "Add Reminder to Start Calendar Action JB Node"
We need to be able to specify a calendar reminder and a link to the reminder email contents for the Start Calendar Action JB Node.

[2017-05-10 07:34] hoanglinhlan commented on #2529
hi @gonzalon
seem like both of Next Due and Scheduled Date has the same value with Start date although I choose Frequency is Month or week or Day

[2017-05-10 07:47] hoanglinhlan commented on #2529
and we should display Specific Day in the table

[2017-05-10 07:54] bradmac opened #3209 "Fix start journey action node"

[2017-05-10 07:57] #3209 closed

[2017-05-10 08:01] bradmac opened #3210 "Add pagination to group members page"
![image](https://cloud.githubusercontent.com/assets/826458/25888792/9d62c93e-35bb-11e7-996b-fe74181e561d.png)

[2017-05-10 08:07] mkhoudary opened #3211 "Add TimeUnit selector for Set Calendar Event JB Node"
For Reminders please add the TimerUnit select combo

[2017-05-10 19:27] gonzalon commented on #2529
@hoanglinhlan its ok. it should be like that untill it gets processed. That happens on the "Scheduled end date".
You can put a date older than today and its going to get processed right away.

[2017-05-10 22:29] diegoperezn commented on #2400
@bradmac here do you want to change the import to a wizard or just add the that lan is asking for?

[2017-05-11 00:55] gonzalon commented on #3210
@bradmac the pagination is done.
do you want to add the filter in the criteria or should keep it in the js?

[2017-05-11 05:29] bradmac commented on #3210
Hey @diegoperezn could you peer review please?

[2017-05-11 05:32] bradmac commented on #2400
@diegoperezn this isnt actually an important feature, so quickest is best

[2017-05-11 08:20] mkhoudary opened #3212 "Save AssignedTo in forked journeys leads to match parent lead"
When a journey forks another, let the created lead has the same assignedTo as the parent lead.

[2017-05-11 08:21] mkhoudary commented on #3212
Done..

[2017-05-11 08:21] #3212 closed

[2017-05-11 10:19] bradmac commented on #3189
Note that there was a regression error, when selecting an existing org the user was not being added to it. Fixed.

[2017-05-11 20:17] bradmac opened #3213 "KCRM: Cancel lead shows incorrect modal content"
1.
![image](https://cloud.githubusercontent.com/assets/826458/25970048/68d17bda-36eb-11e7-88fc-8ea30bf3036c.png)

2.
![image](https://cloud.githubusercontent.com/assets/826458/25970061/79cc07b6-36eb-11e7-8468-eb3d18498661.png)

[2017-05-11 22:02] diegoperezn commented on #3210
@bradmac for me is ok!

[2017-05-11 22:41] bradmac commented on #3210
@gonzalon you will need to implement the password filter server side, otherwise the functionality just does not work:

![image](https://cloud.githubusercontent.com/assets/826458/25974905/80c9894e-36ff-11e7-8e3a-0b9ab93b0fad.png)

[2017-05-11 23:00] paddyow opened #3214 "Client cannot see or use date range picker in admin"
![image](https://cloud.githubusercontent.com/assets/2201340/25975295/cb5e6a24-36f0-11e7-9831-7b67a5bd601a.png)

Additionally custom date range picker in 2x custom reports needs to be removed so the main Kademi date picker can be used.

http://zoetis.admin.kademi.com.au/gudair-reports/
http://zoetis.admin.kademi.com.au/completions-reports/

![image](https://cloud.githubusercontent.com/assets/220134

[2017-05-12 00:28] bradmac opened #3215 "Integration script is not updating points balances in ES"
[code]

[code]

[2017-05-12 00:29] bradmac commented on #3215
http://nesst.admin.kademi.com.au/integration/72946530

[2017-05-12 03:22] paddyow opened #3216 "Quote description field"
This is done directly from the quote page, NOT from the profile + quote button.

Whenever I type in a value in the Description field, and click on another field, it causes the above error to appear.

![image](https://cloud.githubusercontent.com/assets/2201340/25980951/7184891e-3715-11e7-969e-24f7d87b318f.png)

[2017-05-12 03:23] paddyow opened #3217 "Quote preview and print buttons do not work"
http://version1.itsinsuredqa-crm.kademi.com.au/quotes/72964854#

Nothing happens when I click them.

![image](https://cloud.githubusercontent.com/assets/2201340/25981054/30784496-3716-11e7-88d5-62778767f777.png)

[2017-05-12 03:32] bradmac opened #3218 "Quote page is publicly viewable"
Eg http://version1.itsinsuredqa-crm.kademi.com.au/quotes/72964854

[2017-05-12 03:45] paddyow opened #3219 "KCRM: Duplicate profile being created"
http://version1.itsinsuredqa-crm.kademi.com.au/leads/72967601/

After completing this task:
![image](https://cloud.githubusercontent.com/assets/2201340/25981552/3bcee8d8-3719-11e7-8d53-07135ac657f3.png)

It creates a duplicate profile:
![image](https://cloud.githubusercontent.com/assets/2201340/25981561/4c6a1a96-3719-11e7-8692-1a6df75a6398.png)

[2017-05-12 04:28] bradmac opened #3220 "Org edit page allows anon access"
- go to the edit page for an org in the admin
- copy the URL
- logout
- open the URL again
- the page is viewable even though you're not logged in

Please ensure this results in the normal login page

[2017-05-12 04:45] anhnt commented on #3179
done

[2017-05-12 04:46] hoanglinhlan opened #3221 "I Cant find org when I want to add membership"
refer waterCo
http://waterco.admin.kademi.com.au/manageUsers/72825045/#summary-tab
http://waterco.admin.kademi.com.au/organisations/72970456/edit

We need re-save this org to find it when we add member ship

[2017-05-12 04:57] bradmac commented on #3179
Hi @anhnt please make a couple of changes

- when being viewed in the root of a website, display 2 columns, Pages and Templates. Not tabs. We want the templates to be obvious to the user
- do not show templates on sub folders. These should only be displayed on the root of the website

[2017-05-12 04:59] diegoperezn commented on #2018
@gonzalon could you peer review? Thanks!

[2017-05-12 05:13] #3207 closed

[2017-05-12 05:25] paddyow opened #3222 "Journey builder canvas space"
There is a lot of canvas on the monitor not being used.  Would be great for the canvas to maximise to the clients screen.

![image](https://cloud.githubusercontent.com/assets/2201340/25983303/36a3c0b4-3727-11e7-8c67-604a15c7fcc5.png)

[2017-05-12 05:33] bradmac commented on #3222
@ducdhm we've spoken about this before, the canvas should expand to fill vertical space.

[2017-05-12 08:16] tannguyen3489 opened #3223 "Example data for dynamic components"
after drag&drop component, the component must show example data for a client.

[2017-05-12 08:34] anhnt commented on #3179
done

[2017-05-12 09:37] #3222 closed

[2017-05-12 10:37] ducdhm commented on #2367
What is your requirement for Tasks list:
 * By a profile or a website or org or a lead?
 * Assigned or Unassigned?
 * All tasks or in a date range?

[2017-05-13 02:55] bradmac opened #3224 "Authentication should not include profiles from sub-orgs"

[2017-05-13 02:55] #3224 closed

[2017-05-14 11:18] bradmac opened #3225 "Custom reports redevelopment"
![image](https://cloud.githubusercontent.com/assets/826458/26183189/673ddbf2-3bd1-11e7-8f31-e4ef4a454018.png)

![image](https://cloud.githubusercontent.com/assets/826458/26183171/4962b9a4-3bd1-11e7-9149-3d27f14db8c4.png)

myreport.html
[code]

myreport.report.json
[code]

[2017-05-14 11:24] bradmac commented on #3221
Requires reindexing org and profile indexes

[2017-05-14 11:24] #3221 closed

[2017-05-14 12:58] mkhoudary commented on #3216
Done..

[2017-05-14 13:01] mkhoudary commented on #3217
I hid these buttons because they are intended for future implementation

[2017-05-14 13:56] mkhoudary commented on #3218
Done..

[2017-05-14 20:51] gonzalon commented on #2018
@diegoperezn everything seems ok 👍

[2017-05-14 22:29] diegoperezn commented on #2018
Thanks!

[2017-05-14 22:31] bradmac opened #3226 "Allow uploading forms as part of registration forms"
We need to support file uploads in registration forms. Please see screenshot below as an example

![image](https://cloud.githubusercontent.com/assets/826458/26038269/d04373d0-3958-11e7-9837-297ab89394dc.png)

To do this:
- Allow configuring an extra field as a file upload field on manage groups (see below)
- Update the registerFormComponent to display a file input for these fields
- Update ExtraFi

[2017-05-14 23:04] gonzalon commented on #3210
@diegoperezn Can you review it please?

[2017-05-14 23:04] gonzalon commented on #2084
@diegoperezn Can you review it please?

[2017-05-14 23:12] bradmac opened #3227 "Profile memberships in ES profile index is empty"
http://swimart.admin.kademi.com.au/manageUsers/72969793/#general-tab

[2017-05-14 23:13] bradmac commented on #3227
Added logging to ProfileAppIndexer to see why no memberships are being added

[2017-05-14 23:45] paddyow opened #3228 "KCRM cancel and email buttons do not work"
- Clicking the email button should open a browser with the KCRM BCC email
- Clicking the close lead button opens KCRM in a modal, it should open the cancel lead modal options

![image](https://cloud.githubusercontent.com/assets/2201340/26038768/0ef30aa6-3953-11e7-8b64-4cce712f333a.png)

When you cancel a lead:
![image](https://cloud.githubusercontent.com/assets/2201340/26038772/2f8b26d6-3953-11e7-

[2017-05-15 01:20] bradmac commented on #2084
@gonzalon the form paths stuff is wrong.

Currently you're doing a DB query across all customers.
[code]

This means customers are seeing form paths from other customers!

ALSO, this should not be using a DB search at all, it should be using Elasticsearch

There is already a call to ES on /contactRequestSearch so please just add an aggregation to that

[2017-05-15 02:35] bradmac opened #3229 "Registration with pending approval is creating a contacts group in suborganisations"

[2017-05-15 02:36] #3229 closed

[2017-05-15 02:37] #3227 closed

[2017-05-15 02:51] anhnt opened #3230 "File manager: Copy and paste file issue"
Please go to here and try copying a file http://anh.admin.kademi.com.au/repositories/anh/version1/aaa/#files-tab

Then click paste button at the same folder. new file created in same folder but the file manager reloaded to root folder

[2017-05-15 02:55] anhnt commented on #3179
Templates column content will be hidden when users drilling down inside subfolders

[2017-05-15 04:01] diegoperezn commented on #3226
@gonzalon Could you review it please?

[2017-05-15 04:03] anhnt commented on #3230
fixed

[2017-05-15 04:03] #3230 closed

[2017-05-15 04:30] ducdhm commented on #3201
Added `allow-dodgy-phone` class for checking phone field with minimum requires: digits and greater or equal than 6 digits

[2017-05-15 04:30] #3201 closed

[2017-05-15 04:33] ducdhm commented on #3165
Issue for Outlook is: it automatically set default font-family for every tables. So we need define font-family for tds which wrap text

[2017-05-15 04:51] ducdhm commented on #2421
1, 2, 3 are fixed!
[code]
EDM is belong to a website so you just can choose image from the repo of website which EDM is in

[2017-05-15 04:52] ducdhm commented on #2469
Already fixed in new EDM Editor

[2017-05-15 04:52] #2469 closed

[2017-05-15 05:06] ducdhm commented on #2720
Already fixed: http://lan-testing.admin.kademi.us/websites/bootstrap-test/version1/#panel_theme-tab

[2017-05-15 05:07] ducdhm commented on #2720
And please make sure: dont name your website special like bootstrap, leadman or something like that.

[2017-05-15 05:32] ducdhm commented on #2977
Fixed

[2017-05-15 05:32] #2977 closed

[2017-05-15 05:44] anhnt commented on #2809
fixed

[2017-05-15 05:46] ducdhm commented on #59
Will be implemented in https://github.com/Kademi/kademi-dev/issues/2412

[2017-05-15 05:46] #59 closed

[2017-05-15 06:18] AlaaKhalaf94 opened #3231 "js authentication pop up"
![capture3](https://cloud.githubusercontent.com/assets/26510030/26044840/6b456b22-394f-11e7-9093-0a8b04439c2f.PNG)

[2017-05-15 07:11] paddyow opened #3232 "From, to and forward links no longer work in KCRM"
![image](https://cloud.githubusercontent.com/assets/2201340/26046256/74af8318-3991-11e7-9b1e-11df6c96769d.png)

http://kcrm.kademi.us/leads/12002221/

[2017-05-15 08:19] mkhoudary commented on #3228
Cancel is fixed, waiting next deployment to be applied.. for mail buttons that is strangely not working in windows 10 + chrome.. and this seems like a browser/os bug

[2017-05-15 08:45] mkhoudary commented on #3232
It doesn't work with windows 10 and no default mail client specified..

[2017-05-15 08:51] mkhoudary opened #3233 "Create sourceLead in Lead class"
For leads we shall create a field called sourceLead, this is set when a lead is created using StartFunnelNode

[2017-05-15 09:14] mkhoudary commented on #3233
Done..

[2017-05-15 09:14] #3233 closed

[2017-05-15 09:35] #2359 closed

[2017-05-15 10:17] anhnt commented on #2735
comment component works properly independently but when in forum question screen, user got error when replying a comment:

[code]

[2017-05-15 10:43] paddyow opened #3234 "How should the Proposal button work?"
http://itsinsuredqa-crm.kademi.com.au/quotes/

- If I click the button it asks me to choose a series of quotes
- If I choose a group of quotes, then click it, it tells "Quotes must have customer and vendor assigned"

![image](https://cloud.githubusercontent.com/assets/2201340/26052668/8c42ae0c-39a9-11e7-8a57-342c94baba89.png)

[2017-05-15 17:34] anhnt commented on #2840
added 2 new options for toggle showing legend data values and labels

![image](https://cloud.githubusercontent.com/assets/735555/26070479/0ab43ace-39cf-11e7-85c0-96f08bb6fdb5.png)

[2017-05-15 17:38] anhnt commented on #2840
to test, create a query in Data -> Query with following code:

[code]

then drag a piechart, select query type = query, and then select your created query from dropdown list

[2017-05-15 17:40] gonzalon commented on #2084
Updated

[2017-05-15 21:18] bradmac opened #3235 "Intermittent permission denied when accessing the admin site for administrators"
It was observed that
- Profile.getMemberships() was returning a single item
- there were 38 items in the DB for that profile
- A hibernate criteria query returned 38 items

This appears to be some sort of internal error in hibernate

[2017-05-15 21:19] bradmac commented on #3235
Created a method in Profile to return memberships from a query, and will refactor evrything to use it

Note we cannot remove getMemberships() mapping,because this is still needed in queries

[2017-05-15 21:38] bradmac commented on #2084
Cant see any form paths appearing..

![image](https://cloud.githubusercontent.com/assets/826458/26080598/70fafc18-3a1b-11e7-911f-c5080129e370.png)

[2017-05-15 21:39] bradmac commented on #2084
Note that the correct data is returned in the JSON response:

![image](https://cloud.githubusercontent.com/assets/826458/26080635/9d8c0010-3a1b-11e7-8270-5977787ca2c3.png)

[2017-05-15 22:03] #3235 closed

[2017-05-15 23:56] paddyow opened #3236 "Cannot create K-feedback survey"
http://proposals.admin.kademi.us/kfeedback/#!/surveys/detail/

When I click submit, nothing happens and nothing is saved.

![image](https://cloud.githubusercontent.com/assets/2201340/26084217/e5597ea2-3a1d-11e7-8e1a-8df5caaeb7a6.png)

[2017-05-16 00:46] bradmac opened #3237 "Importer for sales data series"
1. go here - http://localhost:8080/sales/
2. Create a sales data series, eg called "car-sales"
3. go here - http://localhost:8080/sales/car-sales
4. upload data from the drop down at top right

See ManageSalesDataSeriesFolder, SalesDataRecord and SalesDataSeries

[2017-05-16 00:47] bradmac opened #3238 "Points value goal"
Create a goal which is achieved when the user has reached a certain level of points in a specified points bucket

This should have an option for whether it is cumulative (all points earned regardless of debits) or current balance

[2017-05-16 01:28] bradmac commented on #2831
dupissue

[2017-05-16 01:28] #2831 closed

[2017-05-16 01:49] anhnt commented on #3236
just reindexed that ksurvey db and its working now

[2017-05-16 01:51] #3236 closed

[2017-05-16 01:59] diegoperezn commented on #2631
@gonzalon Could you take it a look?

[2017-05-16 02:37] bradmac opened #3239 "Data series value goal"
Create a goal which is achieved when a user (or an organisation they're connected to) has achieved a certain value in a specified data series

[2017-05-16 03:49] ducdhm commented on #3213
Already fixed!

[2017-05-16 04:10] bradmac opened #3240 "Allow registration forms to create customer organisations"
- new special field called orgTitle used in GroupRegistrationPage
- for membership applications, store on GroupMembershipApplication, and when accepted find or create a matching org, and add the user to it
- for open groups, find or create immediately and add to it

[2017-05-16 04:12] bradmac commented on #3240
Please assign to @ducdhm to make an option in registerFormComponent for whether to show the organisation input or not

[2017-05-16 04:57] bradmac opened #3241 "Pending applications component"
We need a component for front end sites which allows users to review and accept pending membership applications, the same as currently happens in the admin.

Note that the user must only see applications which are within their organisation (same as admin)

The user should see a collapsed list of applications, and expand each row to see details, including uploaded files (same as admin)

[2017-05-16 04:58] bradmac commented on #3241
Needed for ACDelco project

[2017-05-16 05:04] bradmac opened #3242 "Shopping cart orders component"
Please create a front end component for displaying shopping carters

Should be basically the same as:
http://localhost:8080/shopping-carts/

This should be date sensitive, ie re the date selector component

Should only display orders from within the user's organisation

[2017-05-16 06:13] #3185 closed

[2017-05-16 09:04] mkhoudary opened #3243 "Support Blocking StartFunnel Goal"
We need a goal that does exactly like StartFunnel.. but blocks until that funnel ends.

[2017-05-16 09:09] mkhoudary commented on #3243
Done..

[2017-05-16 09:09] #3243 closed

[2017-05-16 10:13] ducdhm commented on #3241
I'm done with frontend site with UI stuff. Just need backend site for handling request to `/pendingApps/`

[2017-05-16 10:19] ducdhm commented on #3241
Done!

[2017-05-16 18:32] gonzalon commented on #3226
Great 👍

[2017-05-16 23:43] bradmac opened #3244 "Allow multiple email recipients for testing EDMs"
When testing and approving emails, it is often necessary to send a test to several users so all stake holders can review.

Currently the user has to send each test email individually. We want them to be able to enter a list of recipient addresses and have a test email sent to each
- Use the test button with enter recipient
- this issue applies to both group emails and automated emails

![image](ht

[2017-05-17 04:02] paddyow opened #3245 "Check for special characters in Web name field when uploading products"
When uploading products http://customerfusion.admin.kademi.com.au/products/

If a special character like " is used in the webname field it breaks as this is used in the URL.

Can we validate the upload and stop it if a special character is used, or not import those lines that use a special character?

[2017-05-17 04:25] ducdhm commented on #3214
It's working normally! @hoanglinhlan also confirmed about it. Will reopen if we see it again

[2017-05-17 04:25] #3214 closed

[2017-05-17 04:43] ducdhm commented on #3119
Already fixed!

[2017-05-17 04:43] #3119 closed

[2017-05-17 04:43] ducdhm commented on #3117
We didn't implement it yet.

[2017-05-17 04:43] #3117 closed

[2017-05-17 05:04] bradmac commented on #3245
@diegoperezn can you please add this to the old csv importer, as well as the new import wizard

[2017-05-17 11:54] bradmac commented on #3223
I just did blogArticleHeaderComponent, which was not displaying the title or date

[2017-05-17 11:55] bradmac commented on #3223
Also, the pointsActivity component is not displayed well:
![image](https://cloud.githubusercontent.com/assets/826458/26152723/439940f8-3b5c-11e7-9527-9bc8975fb6e4.png)

[2017-05-17 11:57] bradmac commented on #3223
Fixed:
![image](https://cloud.githubusercontent.com/assets/826458/26152778/8782ba88-3b5c-11e7-9671-04d305fe56b2.png)

[2017-05-17 12:02] bradmac commented on #3223
@tannguyen3489 can you please also fix the display for these components. Note that we must not ever display template code like $page.title

![image](https://cloud.githubusercontent.com/assets/826458/26152800/a958236e-3b5c-11e7-83a8-45f66d6e17e6.png)

![image](https://cloud.githubusercontent.com/assets/826458/26152811/b5cbc678-3b5c-11e7-9578-e5c2f71c4b48.png)

![image](https://cloud.githubuserconte

[2017-05-17 17:06] anhnt commented on #2857
![recentlyviewedproducts](https://cloud.githubusercontent.com/assets/735555/26166465/d071623e-3b5d-11e7-84e6-df581be405cf.png)

[2017-05-17 21:23] bradmac commented on #3244
Status display:
- return the list of new email ID's in the response to the POST
- add a JSON status service to ManageEmailItemPage sendContent (use WebUtils.asJson()). Should return fields status, from, to, subject, send attempts
- after submitting the POST, display a table with statuses of each item. Include a link to the email item page for each row

[2017-05-17 22:33] bradmac commented on #3158
@diegoperezn a couple of enhancements required to support the acdelco project

1. Create a new column mapping for variants. The variant type should be defaulted to the column heading. If the column text includes a colon, then parse it and use the first part as the variant type. The rest of the part should be split on comma, and these are the variant values

Examples, assuming a variant type of "we

[2017-05-17 23:54] bradmac opened #3246 "Support ExtraField rendering in LeadMan"
Please implement rendering of Funnels ExtraField values (ie com.fuselms.apps.funnels.ExtraField) the same as group/profile ExtraField values (ie io.milton.cloud.server.web.ExtraField)

Note that it might be possible to consolidate to a single class, which would be io.milton.cloud.server.web.ExtraField

If not consolidating the two classes, consider applying a common interface, and moving rendering

[2017-05-18 01:31] bradmac commented on #3016
Should be displaying custom fields

[2017-05-18 03:20] hoanglinhlan opened #3247 "KCRM: Message "Couldn't find any leads" is still showing after user take a first task"
refer
https://github.com/Kademi/client-cf-itsinsured/issues/23

[2017-05-18 03:23] bradmac commented on #3247
Low priority issue

[2017-05-18 03:30] bradmac commented on #2735
@gonzalon please reproduce this issue in the forums app, by creating a forum, then posting a comment to it, then replying to that comment.

[2017-05-18 06:52] anhnt commented on #2493
done

[2017-05-18 07:03] anhnt commented on #2213
its cool at the moment
![image](https://cloud.githubusercontent.com/assets/735555/26190268/c2a6603a-3bd2-11e7-86ea-0c927bc19369.png)

[2017-05-18 09:22] #3242 closed

[2017-05-18 09:35] bradmac opened #3248 "Ability to hide leads from certain funnels in KCRM"
Funnels should have a property which when selected, hides leads from that funnel in KCRM

[2017-05-18 10:58] mkhoudary commented on #3248
Done..

[2017-05-18 15:07] anhnt opened #3249 "Could not create membership in second time"
![image](https://cloud.githubusercontent.com/assets/735555/26208840/4c21d316-3c15-11e7-9a71-cb8d9216a3e6.png)

To reproduce this bug:

- Go to a user profile
- Try to add new membership by clicking "Add membership and organisation", then click save. It worked ok
- Try again with other membership, then will get this error

I have investigated the problem. We loaded  ```/theme/apps/leadman/viewLead.

[2017-05-18 15:08] anhnt commented on #3249
we need to limit this event handler to specific bootstrap modals, not global scope as it is atm

[2017-05-18 20:38] gonzalon commented on #2735
@bradmac I enabled the forum app, created a forum, but dunno how to comment / reply.
Don't see any options in "moderate posts". Could you help me with this?

[2017-05-18 21:01] bradmac commented on #2735
You need to access this from a front end website

[2017-05-18 22:41] diegoperezn commented on #3240
@bradmac  We need to create the field for newOrgProvided (new_Org_Provided) in the GroupMembershipApplication Entity.

Assigned to @ducdhm for the UI and @gonzalon to code review.

[2017-05-18 23:32] bradmac commented on #3158
Need to refactor to allow support multiple cols for a single DestField

[2017-05-18 23:48] gonzalon commented on #3240
Ok for me 👍

[2017-05-18 23:54] diegoperezn commented on #2649
Look ok for my

[2017-05-18 23:58] diegoperezn commented on #2388
Its working fine

![captura de pantalla 2017-05-19 a las 11 58 15](https://cloud.githubusercontent.com/assets/26150017/26228064/83e841f2-3c8a-11e7-8ca7-ade352420e8a.png)

[2017-05-19 00:45] paddyow opened #3250 "Add a column to group CSV download with the date the password was set"
http://3m.admin.kademi.com.au/groups/australian-dealers/

[2017-05-19 01:08] bradmac commented on #3240
Hey @diegoperezn  can we remove applicationRusultProfile from GroupMembershipApplication?

This is already captured with the member property

[2017-05-19 01:10] bradmac commented on #3240
Also, this looks wrong
[code]

I think we should leave org as null, just set the title. We already have the admin org, so dont need it again.

[2017-05-19 01:13] bradmac commented on #3240
In SignupApp you have this:
[code]

But thats not quite right.

Firstly, we should be trying to locate an org by the title property, not by orgId.

And when you do create an organisation, we do want to set the org title from getNewOrgProvided, but we do not want to use this as the orgId of the new org. Instead generate an orgid without spaces and special characters by using DbUtils.replaceYuckyCha

[2017-05-19 02:06] #3001 closed

[2017-05-19 02:07] bradmac commented on #2990
@tannguyen3489 i think this component has been created within a client account. We would like to have it available as a standard component.

[2017-05-19 02:08] bradmac commented on #2986
@tannguyen3489 please have a look, and if its going to be hard lets discuss

[2017-05-19 02:08] bradmac commented on #2983
@tannguyen3489 please integrate @ducdhm 's new jquery plugin for locating users and orgs

[2017-05-19 02:10] bradmac opened #3251 "Display of pending applications on admin dashboard is broken"
Does not expand to show details.

Eg
https://boschptnz.admin.kademi.com.au/

[2017-05-19 02:39] ducdhm commented on #3251
Fixed

[2017-05-19 02:41] #3251 closed

[2017-05-19 03:44] diegoperezn commented on #3240
For this case :
[code]

This property is used for a few places, for example, to know if the logged user is allowed to approve the app and I though that the parent organisation is the closest one to related the app. and also is used in other places, Do you thinks this places can be changed to used the admin org of the app? Remember that in these cases with do not have org yet:
[code]

[2017-05-19 03:48] bradmac commented on #3240
"Do you thinks this places can be changed to used the admin org of the app" - Yes, use the admin org.

[2017-05-19 04:51] ducdhm commented on #2413
New UI:
![new_ui](https://cloud.githubusercontent.com/assets/1289631/26233705/73f2a252-3c89-11e7-98a7-08c5a02d2311.png)

[2017-05-19 04:54] #2413 closed

[2017-05-19 04:57] ducdhm commented on #2789
It's still working!

[2017-05-19 04:59] tannguyen3489 commented on #2983
applied entityFinder plugin.

[2017-05-19 07:56] hoanglinhlan opened #3252 "Cant save funnel tester with blank value of Delay or Accelerator"
Create a funnel tester and set value for Delay or Accelerator  then save.
refresh page, other field showing 0, it's should be blank value

[2017-05-19 10:19] anhnt commented on #2384
done
![image](https://cloud.githubusercontent.com/assets/735555/26243784/46831a62-3cb7-11e7-9dff-59761fd5bdb4.png)

[2017-05-19 10:42] bradmac commented on #2384
:+1:

[2017-05-20 02:22] bradmac commented on #3252
For now have just removed the accelerator option. Can add back later if needed

[2017-05-20 02:22] #3252 closed

[2017-05-20 02:27] bradmac commented on #3249
Just checked locally and seems ok. @anhnt please confirm if still active

[2017-05-21 02:46] bradmac commented on #3225
Done

[2017-05-21 02:46] #3225 closed

[2017-05-21 07:06] bradmac opened #3253 "Add setting to Login form component to specify next page"
Please add a setting to the loginFormComponent to allow specifying what should happen after succesful login:
- refresh current page
- dashboard
- profile page
- custom path

[2017-05-21 07:40] bradmac opened #3254 "JB: StartFunnelGoalAction: add list of fields to copy to new lead"

[2017-05-21 13:45] mkhoudary commented on #3254
Done

[2017-05-21 18:34] gonzalon commented on #2631
👍

[2017-05-21 23:44] bradmac opened #3255 "Improve display of user and organisation names in entity pickers"
re https://github.com/Kademi/client-cf-itsinsured/issues/54#issuecomment-302628959

[2017-05-22 02:52] ducdhm commented on #3255
Fixed!

[2017-05-22 02:52] #3255 closed

[2017-05-22 03:39] bradmac opened #3256 "Create proposal page"
- for front end sites as part of KCRM
- allow setting the customer and status fields
- create new proposal at /proposals/new , redirect after saving to nextHref
- once created allow adding quotes
- allow quickly adding quotes with just the following:
  - vendor
  - file attachment
  - total amount
  - title
  - customer defaulted from proposal customer
  - lead defaulted from proposal lead

[2017-05-22 04:01] ducdhm commented on #3253
Done!

[2017-05-22 04:01] #3253 closed

[2017-05-22 04:48] diegoperezn commented on #3240
@bradmac I added changes to the vfs project and we have to change the database to allow null values for the withinOrg var in GroupMembershipApplication

[2017-05-22 06:06] anhnt opened #3257 "Email group item: Should not include www when validating email domain against website domain"
in 3M, we do have email domain: info@racetowinrewards.com and website domain: www.racetowinrewards.com

so it doesnt allow user to save  edm settings.

[2017-05-22 07:36] ducdhm commented on #2990
@tannguyen3489 Please ping me when you do this issue. I'll show you where this component in client account.

[2017-05-22 07:46] tannguyen3489 commented on #2990
I see

[2017-05-22 08:27] bradmac commented on #3162
@gonzalon this is currently incorrect. It currently requires the user to enter a from domain the same as the selected theme site which is not correct. It needs to allow any domain configured in the account

[2017-05-22 08:29] bradmac commented on #3162
For example if i have an account with 2 domains:
- www.mysite.com
- mysite.com

Then from address for noreplay@www.mysite.com and noreply@mysite.com should both be valid

[2017-05-22 08:29] bradmac commented on #3257
Duplicate of https://github.com/Kademi/kademi-dev/issues/3162

[2017-05-22 08:29] #3257 closed

[2017-05-22 09:11] mkhoudary opened #3258 "Create Set Source Lead JB Node"
Please create a set source lead jb node that sets the source lead of a lead.

[2017-05-22 09:14] mkhoudary commented on #3258
Ready

[2017-05-22 09:46] mkhoudary opened #3259 "Enable submitted forms persistence in LeadFormsApp"
Please enable persisting forms posted data in LeadFormsApp, and allow this data to be displayed when the form is not in submission phase.

[2017-05-22 12:34] mkhoudary commented on #3259
Done

[2017-05-22 12:34] #3259 closed

[2017-05-22 15:15] anhnt opened #3260 "Data series app enhanments"
Please implement following:

- Allow creating more than 5 extra fields
- Show extra fields by field names in edit record page, not field1, field2, etc
- KPI criteria should be configured by field name, not by ordering

[2017-05-22 21:28] bradmac commented on #3162
![image](https://cloud.githubusercontent.com/assets/826458/26329182/1da0a8fe-3f9a-11e7-9c20-736c9ae87be6.png)

[2017-05-22 21:30] bradmac commented on #3162
![image](https://cloud.githubusercontent.com/assets/826458/26329251/7b4a9488-3f9a-11e7-8d10-9f83dc18f678.png)

[2017-05-22 21:54] bradmac commented on #3260
@anhnt is this needed, or a nice to have?

[2017-05-23 01:45] gonzalon commented on #2735
@diegoperezn  could you review it please?

[2017-05-23 02:44] hoanglinhlan commented on #3248
passed

[2017-05-23 02:44] #3248 closed

[2017-05-23 02:57] ducdhm commented on #3067
Please rename EDM's components which dont contains "EDM" in their names.

[2017-05-23 03:27] bradmac opened #3261 "When organisations are created within other organisations they are not indexed"

[2017-05-23 03:48] #3261 closed

[2017-05-23 17:40] ducdhm commented on #2814
Done!

[2017-05-23 21:13] diegoperezn commented on #3250
Its ok for me!

[2017-05-23 21:30] diegoperezn commented on #3244
Its ok for me!

[2017-05-23 22:35] #2707 closed

[2017-05-23 22:36] #2623 closed

[2017-05-23 22:38] bradmac commented on #2545
@ducdhm can we do something about item 1?

[2017-05-23 22:40] #1087 closed

[2017-05-23 22:41] #587 closed

[2017-05-23 22:41] #928 closed

[2017-05-23 22:41] #229 closed

[2017-05-23 22:42] #167 closed

[2017-05-23 22:43] #169 closed

[2017-05-23 22:43] #200 closed

[2017-05-23 22:43] #120 closed

[2017-05-23 22:44] #119 closed

[2017-05-23 22:44] #117 closed

[2017-05-23 22:44] #90 closed

[2017-05-23 22:44] #76 closed

[2017-05-23 22:44] #46 closed

[2017-05-23 22:44] #31 closed

[2017-05-23 23:05] bradmac commented on #3244
hey @gonzalon looks like the UI hasnt been integrated into the automations page yet:
http://localhost:8080/autoEmails/

This should work the same as for group emails

[2017-05-23 23:30] bradmac opened #3262 "Kademi subscription management: Part 1: CRUD page for subscriptions"
- Create a new entity class called KademiSubscription with fields
  - admin org
  - expiryDate
  - planName
  - limitsText
  - licenseKey
  - createdDate
  - modifiedDate
- Create a new app called KademiSubscriptionManager
- add a page to the app which shows all KademiSubscription rows (not filtered by any organisation), and ability to add/edit/delete

[2017-05-23 23:31] #3250 closed

[2017-05-24 00:10] paddyow opened #3263 "Search not working in client account"
http://ward6.admin.kademi.com.au/manageUsers/?startDate=24/05/2007&finishDate=24/05/2017

When you type a search in, the results do not update.

![image](https://cloud.githubusercontent.com/assets/2201340/26381568/118f2822-4069-11e7-89a8-ea40a9cb023d.png)

[2017-05-24 00:19] bradmac commented on #3263
Problem because of the custom report in this account

[2017-05-24 00:19] #3263 closed

[2017-05-24 00:37] bradmac opened #3264 "Hide hidden journeys from new lead dropdown"
We should not be showing hidden journeys in this list:

![image](https://cloud.githubusercontent.com/assets/826458/26382092/bd26bd8a-407d-11e7-8623-2767e4ed9a82.png)

[2017-05-24 01:29] paddyow opened #3265 "'Login As' in admin does not work in IE11"
1) when you click on the menu drop down it open the profile page, not the modal popup with websites listed
![image](https://cloud.githubusercontent.com/assets/2201340/26383075/1662d186-4074-11e7-9d51-96c3f35d782f.png)

From the profile page, the Login As button does nothing when clicked.
![image](https://cloud.githubusercontent.com/assets/2201340/26383090/34286776-4074-11e7-9a48-c23fa27ea802.png)

[2017-05-24 01:50] diegoperezn opened #3266 "Points Balance Component Settings: We should add size options and the datepicker is not working"
![captura de pantalla 2017-05-24 a las 13 49 49](https://cloud.githubusercontent.com/assets/26150017/26383611/ef5e68d4-4087-11e7-8dd9-96270202ef8c.png)

[2017-05-24 01:54] diegoperezn opened #3267 "2 Columns Container: the container does not appear if it is empty"
If I used the 2nd column and the 1st one is empty the content is shown in the left

![captura de pantalla 2017-05-24 a las 13 54 10](https://cloud.githubusercontent.com/assets/26150017/26383700/8157aa16-4088-11e7-84af-623074c230a3.png)

![captura de pantalla 2017-05-24 a las 13 54 36](https://cloud.githubusercontent.com/assets/26150017/26383709/8ccde7d4-4088-11e7-91c3-edef64a8d528.png)

[2017-05-24 01:59] paddyow opened #3268 "Cannot change EDM button color in editor"
The value is not saved and updated.

![image](https://cloud.githubusercontent.com/assets/2201340/26383838/7929d572-4078-11e7-8f04-1b2d2e867257.png)

[2017-05-24 02:13] paddyow commented on #3268
FYI, it is not updating background-color only bgcolor

<table align="center" border="0" cellpadding="0" cellspacing="0" class="button-wrapper" bgcolor="#2BAADF" style="border-radius:0px; background-color: #2BAADF">

[2017-05-24 03:03] bradmac opened #3269 "Combine KCRM menus"
Please have a single dropdown menu for the following. Use fa-users for the menu icon
- customers (/custs/)
- companies (/companies/)
- create a contact (modal)

[2017-05-24 04:34] diegoperezn commented on #2443
Could you code review please?

[2017-05-24 04:49] bradmac commented on #2443
@ducdhm can you please review?

[2017-05-24 04:54] anhnt opened #3270 "Export csv contains speical characters"
Please have a look when csv contains special characters like ®and &

[data (2).zip](https://github.com/Kademi/kademi-dev/files/1024446/data.2.zip)

[2017-05-24 04:58] anhnt commented on #3270
this is correct content

![image](https://cloud.githubusercontent.com/assets/735555/26387500/5697debe-4078-11e7-90ae-b5a619609b1e.png)

[2017-05-24 05:10] ducdhm commented on #3264
Done!

[2017-05-24 05:10] #3264 closed

[2017-05-24 09:19] ducdhm opened #3271 "Dropzone is conflicted in File Manager screen"
Reason: When enabling dropzone-lib and File Management screen also includes other dropzone js file, and then conflict happens

[2017-05-24 09:25] bradmac commented on #3271
ok, so maybe its time for the admin app to have dependencies

[2017-05-24 09:26] ducdhm commented on #3271
@bradmac 👍

[2017-05-24 09:48] ducdhm commented on #3256
Done!

[2017-05-24 19:08] gonzalon commented on #2834
Can't reproduce!

[2017-05-24 21:04] gonzalon commented on #3244
Updated to implement the same feature in the automation page

[2017-05-24 21:49] gonzalon commented on #2865
Can´t reproduce

[2017-05-24 22:53] gonzalon commented on #2786
Can't reproduce

[2017-05-24 23:44] diegoperezn commented on #2363
@gonzalon Could you code review?

[2017-05-25 00:33] paddyow opened #3272 "Cannot create or delete profiles on Olhub"
http://minda.admin.olhub.com/manageUsers/?q=test&g
Minda tried to delete profile on Olhub and got error:
An error occurred removing users. You might not have permission to do this.

Also cannot delete or create new profiles from the root of Olhub.
When trying to create profile from root, error: org.hibernate.exception.GenericJDBCException: could not execute statement

[2017-05-25 00:59] diegoperezn commented on #3245
@paddyow Do you have the file you tried to upload?

[2017-05-25 01:45] paddyow opened #3273 "Cannot search for product title"
http://3m.admin.kademi.com.au/products/

When searching for '1442B-12 KIDS SCISSORS 70005284750' it does not appear in the search, but it does appear in the products CSV download and page.

After the search has  finished, I noticed the top left Kademi logo is still animating which represents something is processing.

![image](https://cloud.githubusercontent.com/assets/2201340/26432474/6434fe54-413

[2017-05-25 01:57] bradmac commented on #3273
error - Link is not defined
[code]

[2017-05-25 02:01] bradmac commented on #3273
But thats not the problem. Search for '1442B' works

[2017-05-25 02:03] #3273 closed

[2017-05-25 02:07] #2834 closed

[2017-05-25 02:20] #2786 closed

[2017-05-25 02:31] diegoperezn commented on #3245
@gonzalon Could you review it?

[2017-05-25 03:16] bradmac opened #3274 "LeadMan layout enhancements"

[2017-05-25 04:04] hoanglinhlan commented on #3241
showing sample data in frontENd
http://version1.c5s.kademi.com.au/p2704.html?miltonUserUrl=/users/lan&miltonUserUrlHash=69f19e24-8c4e-445a-b55e-688b9dfaf655:BG_2QrKl5pqGf5VGtPwp1ag-QeU
![image](https://cloud.githubusercontent.com/assets/20508726/26435474/ab98f12a-4139-11e7-919f-ee1f0b889d46.png)

[2017-05-25 04:07] #3269 closed

[2017-05-25 04:16] bradmac commented on #3241
Generally we should only show fake data when a component has required configuration which has not been entered. Since this component does not have any required config, we should not show fake data.

[2017-05-25 04:17] bradmac commented on #3241
But we do need to show structural elements, eg panel and table

[2017-05-25 04:18] tannguyen3489 opened #3275 "Removing the dropzone lib in vendor.js file of the leadman-theme."
currently, we have a conflict import dropzone lib in leadman-theme and myfile-lib. So, please remove the dropzone-lib in vendor.js file.

![image](https://cloud.githubusercontent.com/assets/1665005/26435783/e090cf86-413b-11e7-87c9-0f52765e7159.png)

[2017-05-25 04:23] bradmac commented on #3256
Couple of things
- when adding a quote we need to be able to attach a file as part of the create modal
- do not redirect to the quote page after adding

[2017-05-25 04:25] bradmac commented on #3275
Duplicate of https://github.com/Kademi/kademi-dev/issues/3271

[2017-05-25 06:47] tannguyen3489 commented on #3241
@hoanglinhlan : It will be fixed after deploying the sign-up lib (version 1.0.1)

[2017-05-25 06:54] bradmac commented on #3241
@tannguyen3489  Please talk to @ducdhm about how to deploy libs. Make sure you use a new version number

[2017-05-25 06:57] ducdhm commented on #3271
I have added a fix for it. Should work now!

[2017-05-25 07:15] tannguyen3489 commented on #3241
@hoanglinhlan : it was fixed

[2017-05-25 09:21] hoanglinhlan commented on #3241
nothing happen after I clicked to reject or accept button

[2017-05-25 09:37] tannguyen3489 commented on #3241
@hoanglinhlan : it is fixed, please check again

[2017-05-25 09:37] hoanglinhlan commented on #3241
passed

[2017-05-25 09:37] #3241 closed

[2017-05-25 20:39] gonzalon commented on #3245
Looks great :)

[2017-05-25 22:05] bradmac commented on #3272
DB problem, fixed

[2017-05-25 22:05] #3272 closed

[2017-05-25 22:07] #3245 closed

[2017-05-25 22:11] bradmac opened #3276 "Ability to create tags on a lead"
Please add an option to the Tags menu to create a new tag. This should be immediately added to the lead.

Ensure the same capability is on the new lead form.

Create the new "tag" as a user group with type "M". This might require a new ajax service on some Resource class.

![image](https://cloud.githubusercontent.com/assets/826458/26472718/6fc7a3a4-41fb-11e7-9ae0-71395fb84303.png)

[2017-05-25 22:16] bradmac commented on #2443
![image](https://cloud.githubusercontent.com/assets/826458/26472908/714ff4c8-41fc-11e7-8728-cd63d401420e.png)

[2017-05-25 22:21] bradmac commented on #2363
@diegoperezn as discussed, please apply changes to the versioned repository lib code. We should never make changes to static web assets, and will completely remove them at some point

[2017-05-25 22:22] bradmac commented on #3276
duplicate of https://github.com/Kademi/kademi-dev/issues/2363

[2017-05-25 22:22] #3276 closed

[2017-05-25 23:04] diegoperezn commented on #3237
@gonzalon Could you review it please?

[2017-05-26 02:41] bradmac commented on #3256
In the add quote form, allow the user to add a single line item with the following fields. If adding a line item all fields except supplier are required.
- supplier (entity selector)
- description;
- quantity
- unitPrice

[2017-05-26 03:48] diegoperezn commented on #2598
@gonzalon Could you review it please?

[2017-05-26 03:51] hoanglinhlan commented on #2720
passed

[2017-05-26 03:51] #2720 closed

[2017-05-26 03:53] hoanglinhlan commented on #2213
passed

[2017-05-26 03:53] #2213 closed

[2017-05-26 03:56] hoanglinhlan commented on #2195
passed

[2017-05-26 03:56] #2195 closed

[2017-05-26 03:58] hoanglinhlan commented on #2388
it's work now

[2017-05-26 03:58] #2388 closed

[2017-05-26 04:02] hoanglinhlan commented on #965
passed

[2017-05-26 04:02] #965 closed

[2017-05-26 04:51] hoanglinhlan commented on #2421
Cant remove folders
https://lan-test.admin.kademi.com.au/groupEmails/40321913/edmeditor?fileName=index.html&useHash=true

[2017-05-26 04:57] hoanglinhlan commented on #3171
passed

[2017-05-26 04:57] #3171 closed

[2017-05-26 04:57] hoanglinhlan commented on #3203
passed

[2017-05-26 04:57] #3203 closed

[2017-05-26 05:12] ducdhm commented on #3256
Front-end stuff is done!

[2017-05-26 06:22] hoanglinhlan commented on #2384
passed

[2017-05-26 06:22] #2384 closed

[2017-05-26 06:41] hoanglinhlan commented on #2865
Cant reproduce

[2017-05-26 06:41] #2865 closed

[2017-05-26 06:50] hoanglinhlan commented on #2983
current
I can save without saler or incorrect profile of sale by
https://lan-test.admin.kademi.com.au/sales/new-series1/72436211

[2017-05-26 06:58] hoanglinhlan commented on #2649
it's still very slowly
after page loaded, then I click to image upload button, I need wait about 30s to see the popup to upload image.

[2017-05-26 07:03] hoanglinhlan commented on #2809
passed

[2017-05-26 07:03] #2809 closed

[2017-05-26 07:06] hoanglinhlan commented on #2493
passed

[2017-05-26 07:06] #2493 closed

[2017-05-26 07:07] hoanglinhlan commented on #2857
passed

[2017-05-26 07:29] hoanglinhlan commented on #3018
it's still showing decimal number

[2017-05-26 07:32] tannguyen3489 commented on #3018
@hoanglinhlan : the reason is the lib out updates. I ready to upgrade it for you, please check

[2017-05-26 07:33] hoanglinhlan commented on #3018
passed

[2017-05-26 07:33] #3018 closed

[2017-05-26 07:34] hoanglinhlan commented on #3244
passed

[2017-05-26 07:34] #3244 closed

[2017-05-26 07:52] hoanglinhlan commented on #3162
passed

[2017-05-26 07:52] #3162 closed

[2017-05-26 08:28] hoanglinhlan commented on #3220
passed

[2017-05-26 08:28] #3220 closed

[2017-05-26 08:29] #3217 closed

[2017-05-26 08:38] hoanglinhlan commented on #3205
passed

[2017-05-26 08:38] #3205 closed

[2017-05-26 08:39] hoanglinhlan commented on #3181
passed

[2017-05-26 08:39] #3181 closed

[2017-05-26 08:57] hoanglinhlan commented on #3216
passed

[2017-05-26 08:57] #3216 closed

[2017-05-26 09:08] hoanglinhlan opened #3277 "Quote page: duplicate quote after quote created"
http://version1.itsinsured-fake.kademi.com.au/quotes/

[2017-05-26 09:09] tannguyen3489 commented on #2983
@hoanglinhlan : I have just fixed it in the entityFinder lib. So, please wait to next deploying for checking.

[2017-05-26 09:20] hoanglinhlan commented on #3218
passed

[2017-05-26 09:20] #3218 closed

[2017-05-26 10:14] hoanglinhlan commented on #3228
nothing happen after I clicked to email button

[2017-05-26 10:16] hoanglinhlan commented on #3213
passed

[2017-05-26 10:16] #3213 closed

[2017-05-26 10:18] ducdhm opened #3278 "Improve UI/UX of Pending Applications"
- Add button to expand details if have
 - Have confirm when click accepting button
 - After accepting an application, remove Accept and Reject button, show a button to access profile page of accepted application

[2017-05-26 10:18] ducdhm commented on #3278
Needed for https://github.com/Kademi/client-tri-acdelco/issues/51

[2017-05-26 10:20] hoanglinhlan commented on #3196
hi @diegoperezn
why dont we display any value of Points Buckets / Groups and Organisations ?

![image](https://cloud.githubusercontent.com/assets/20508726/26490904/79fe917a-4237-11e7-9912-410863d3fcc5.png)

[2017-05-26 10:26] ducdhm commented on #3278
Done!

[2017-05-26 10:26] #3278 closed

[2017-05-26 10:32] hoanglinhlan commented on #3146
passed

[2017-05-26 10:32] #3146 closed

[2017-05-28 19:09] gonzalon commented on #2598
Great 👍

[2017-05-28 23:56] bradmac opened #3279 "Update e-com templates to be similar to reward store"
@anhnt has recently updated reward store templates to be much more awesome. Please apply similar updates to the ecom templates.

Ensure changes are only made to repository libs.

[2017-05-29 03:43] hoanglinhlan commented on #3149
1: background is not work
2: horizontal is not work
![image](https://cloud.githubusercontent.com/assets/20508726/26535854/74444b6e-445b-11e7-994b-f591c2a54af3.png)

3: showing null page after I entered when I put backgourd color

[2017-05-29 03:52] tuzzmaniandevil opened #3280 "Add createdDate to PointsDebit"

[2017-05-29 04:15] paddyow opened #3281 "Leads creating conflict with profiles in accounts"
- We have a KCRM lead which uses a customers main email address
- We then create a Kademi account for that customer
- In that customer account you cannot add a profile using the same email as the lead, unless Kademi does this manually from the root account, which then gives the customer access to all of Kademi's sales tags which we do not want

[2017-05-29 04:15] hoanglinhlan commented on #3151
passed

[2017-05-29 04:15] #3151 closed

[2017-05-29 06:43] hoanglinhlan commented on #2857
1: it's still showing example data in frontEnd
2: set number of product =2 but it's showing 5 product
3: it doesn't show recent viewed product, just showing example data
![image](https://cloud.githubusercontent.com/assets/20508726/26539083/bf6cecf4-4474-11e7-8954-f534f82d4623.png)
http://c5s.kademi.com.au/dashboard?miltonUserUrl=/users/test00nick4/&miltonUserUrlHash=94ba8b4c-07e6-468c-8ccf-d11e122

[2017-05-29 06:54] hoanglinhlan commented on #2529
hi @gonzalon
I cant see any your update

[2017-05-29 07:53] hoanglinhlan commented on #3174
Import file has an invalid email in rewardTo. At review step, it's showing 3 valid row and 1 invalid row but when it's completed, it's has not imported any row
[points.zip](https://github.com/Kademi/kademi-dev/files/1035170/points.zip)

[2017-05-29 08:19] ducdhm commented on #2421
Can't reproduce. I can delete folder normally.

[2017-05-29 08:20] #2421 closed

[2017-05-29 08:49] mkhoudary opened #3282 "Add set in source lead option to the Set Field JB Node"
Set Field JB Node should have a checkbox option, Set in Source Lead, to be able to set a field value to the source lead.

[2017-05-29 08:54] hoanglinhlan commented on #2084
it still doesn't show form types
https://lan-test.admin.kademi.com.au/manageContacts/?search=&startDate=29%2F05%2F2016&finishDate=29%2F05%2F2017&acked=false

[2017-05-29 09:00] bradmac opened #3283 "Zero buy price in reward store"
http://acdelco.admin.kademi.com.au/reward-store/ae-store-manager-points/#products-tab

[2017-05-29 09:02] AlaaKhalaf94 opened #3284 "eCommerce Store : can't add product to cart without login"
This is what we need in this site

http://version1.polomania.kademi.com.au/polomania-store/kayaks/

[2017-05-29 10:05] hoanglinhlan commented on #3189
passed

[2017-05-29 10:05] #3189 closed

[2017-05-29 10:52] ducdhm commented on #3275
Reason is we have duplicated id for modal "modal-upload". I have changed id of modal in myfile-lib to `modal-upload-files`

[2017-05-29 10:52] #3275 closed

[2017-05-29 11:06] mkhoudary commented on #3282
Done..

[2017-05-29 11:06] #3282 closed

[2017-05-29 11:08] mkhoudary opened #3285 "Add Copy Lead File to JB"
Add a new node for copying a lead file, file copy could occur to lead or to copy to source lead.

[2017-05-29 12:45] mkhoudary commented on #3285
Done..

[2017-05-29 12:45] #3285 closed

[2017-05-29 14:11] mkhoudary opened #3286 "Support copying lead files in start funnel"
Shall enable copying lead files to forked leads from source leads.

[2017-05-29 21:14] gonzalon commented on #2084
@hoanglinhlan the data doesn't have any form type in that request =/
![image](https://cloud.githubusercontent.com/assets/2773216/26562188/b0742cd2-449a-11e7-90c4-d83978540d3a.png)

[2017-05-29 21:25] #3280 closed

[2017-05-29 21:32] bradmac commented on #2084
@hoanglinhlan please quote the contact pages you were using to test with, and confirm that contact requests are being created

[2017-05-29 21:34] bradmac opened #3287 "Remove duplicate transaction list on orgs page"

[2017-05-29 21:41] bradmac commented on #2857
@tannguyen3489 can you investigate please? remember, we should only show example data when the component does not have required configuration

[2017-05-29 22:24] tuzzmaniandevil commented on #2649
@hoanglinhlan I can't reproduce, Works find for me. Can you please re-test? If you can reproduce please provide the steps

[2017-05-29 22:42] bradmac opened #3288 "Persisted shopping cart needs to allow anonymous e-commerce"
Currently when using an ecom store anonymously an error is thrown when adding an item to cart

[2017-05-29 22:54] bradmac commented on #3284
Moved to https://github.com/Kademi/kademi-dev/issues/3288

[2017-05-29 22:54] #3284 closed

[2017-05-29 22:57] bradmac commented on #3288
Example:
http://version1.polomania.kademi.com.au/polomania-store/kayaks/

[2017-05-29 23:04] bradmac commented on #3283
Looks ok to me - http://acdelco.admin.kademi.com.au/manageUsers/44580058/#pointsBucketTab-tab

![image](https://cloud.githubusercontent.com/assets/826458/26563541/b1db3196-4527-11e7-8789-9f63562fb3cf.png)

[2017-05-29 23:19] tuzzmaniandevil commented on #3287
Was using a single instance of the PointsBalanceCalculator instead of a new one for each reward.

[2017-05-29 23:19] #3287 closed

[2017-05-29 23:41] gonzalon commented on #2529
@hoanglinhlan  Im seeing the scheduled date being set right

https://lan-test.admin.kademi.com.au/integration/#schedules-tab

![image](https://cloud.githubusercontent.com/assets/2773216/26563820/a28f3256-44ae-11e7-93a4-0479941be3bc.png)
![image](https://cloud.githubusercontent.com/assets/2773216/26563822/abd7c1fc-44ae-11e7-8f5d-b8101fe7a654.png)

[2017-05-30 00:03] bradmac opened #3289 "Reward store should allow selection of multiple variants on product details page"
@paddyow please provide a design guide

![image](https://cloud.githubusercontent.com/assets/826458/26564045/1e939cb2-4530-11e7-8432-2a3a7042c82a.png)

[2017-05-30 00:06] #3283 closed

[2017-05-30 00:20] bradmac commented on #3281
Need to move the client account outside Kademi's account

[2017-05-30 00:20] #3281 closed

[2017-05-30 01:29] bradmac commented on #223
Please add ajax progress support to get file upload progress client side only. I'm not sure if we're using our jquery.forms plugin, but if so we should add a progress callback

https://stackoverflow.com/questions/4856917/jquery-upload-progress-and-ajax-file-upload
https://stackoverflow.com/questions/23219033/show-a-progress-on-multiple-file-upload-jquery-ajax

[2017-05-30 01:47] tannguyen3489 commented on #2857
@bradmac : let me check it.

[2017-05-30 02:27] hoanglinhlan commented on #2649
please disable upload image button in the case product doesn't has SKU

[2017-05-30 02:33] hoanglinhlan commented on #2649
passed

[2017-05-30 02:33] #2649 closed

[2017-05-30 02:35] hoanglinhlan opened #3290 "Product SKU: showing broken image on SKU image popup"
https://lan-test.admin.kademi.com.au/skus/
1: should disable upload image in the case product doesn't has SKU
2: click select image button of product that doesn't has any image, the popup showing broken image
![image](https://cloud.githubusercontent.com/assets/20508726/26566171/45f80988-451b-11e7-8a29-c23a969783c9.png)

[2017-05-30 03:04] ducdhm commented on #3256
Done frontend stuff!

[2017-05-30 03:18] anhnt commented on #3260
i think this is nice to have

[2017-05-30 03:21] tannguyen3489 commented on #2857
@hoanglinhlan : the number config was fixed. Currently, because this component don't have required configurations, the example data will show on this component.

![image](https://cloud.githubusercontent.com/assets/1665005/26566980/adced522-4521-11e7-89db-fa31c72fe35d.png)

[2017-05-30 03:37] anhnt commented on #3249
looks good to me as well

[2017-05-30 03:37] #3249 closed

[2017-05-30 03:41] anhnt commented on #3200
cant reproduce

[2017-05-30 03:48] #3200 closed

[2017-05-30 03:53] anhnt commented on #3194
this has been done by @tannguyen3489

[2017-05-30 03:53] #3194 closed

[2017-05-30 03:57] tannguyen3489 commented on #2857
@hoanglinhlan : it was fixed again. It will now show example data, if now data, the no data message will be shown.

[2017-05-30 04:07] bradmac opened #3291 "contactFormComponent is sending an incorrect contactForm path"
The contactFormComponent should only have a contactForm path input if there is a value for the contactForm setting.

Currently its sending a blank value, which the server uses as the contact form path instead of the referrer

[2017-05-30 04:22] hoanglinhlan commented on #2084
set contact path and checked
passed

[2017-05-30 04:22] #2084 closed

[2017-05-30 04:24] hoanglinhlan commented on #2529
passed

[2017-05-30 04:24] #2529 closed

[2017-05-30 04:32] anhnt commented on #3291
done

[2017-05-30 04:47] ducdhm commented on #3165
Fixed!

[2017-05-30 04:47] #3165 closed

[2017-05-30 04:54] bradmac commented on #3256
Done backend stuff!

[2017-05-30 07:55] hoanglinhlan commented on #3204
user importer/ org importer / Points importer wizard
passed

[2017-05-30 07:55] #3204 closed

[2017-05-30 07:59] mkhoudary commented on #3286
Done..

[2017-05-30 07:59] #3286 closed

[2017-05-30 08:24] ducdhm opened #3292 "Can't change background color of EDM"
After changing background color, press Save and reload, background is reverted to gray.

[2017-05-30 08:26] ducdhm opened #3293 "Uploading, loading indicator for mselect plugin"
In real life, sometime I upload a big image (about 2-3MB) via mselect and I have slow internet connection. I dont see anything happen although opening Network or Console tab, I can see a lot of log but it doesnt make sense for end-user. So need indicator or progress bar when uploading or loading image or video in mselect

[2017-05-30 08:56] tannguyen3489 opened #3294 "making E-commerce lib support search by the price range."
Currently, the searchProducts in ECommerceApp.java doesn't support searching by price range, so please implement a new searchProducts method for support that.

[2017-05-30 08:57] ducdhm commented on #3292
Fixed

[2017-05-30 08:57] #3292 closed

[2017-05-30 08:57] hoanglinhlan commented on #2814
passed

[2017-05-30 08:57] #2814 closed

[2017-05-30 09:29] #3293 closed

[2017-05-30 10:02] anhnt commented on #2199
done

[2017-05-30 20:07] gonzalon commented on #223
@bradmac the change is made, now the jquery form supports a onProgress callback.
The last version was 1.1.2 so I added the 1.1.3 but we were using 1.1.1 ATM
Should I replace 1.1.2? Seems that is not being use

[2017-05-30 20:11] bradmac commented on #223
Yes, please update the admin to use your 1.1.3. The 1.1.2 version is probably used in front end sites, so it should not be changed

[2017-05-30 21:02] bradmac opened #3295 "Performance of integration scripts is rubbish"

[2017-05-30 21:16] bradmac opened #3296 "Kademi subscription management: Part 2: REST API Client/server"
Extension to https://github.com/Kademi/kademi-dev/issues/3262

For this task we will just create a simple REST service to allow licenses to be created and checked, and build a java client to work with it. Do not integrate into the Kademi app.

- create a REST endpoint to allow subscriptions to be created and renewed
- create a java client for the endpoint

The client needs to
- get the license for

[2017-05-30 23:13] bradmac commented on #3295
The mappings cache was being invalidated

[2017-05-30 23:14] #3295 closed

[2017-05-31 00:22] paddyow opened #3297 "Terst New Products Uploaded Tool for decimal places"
@hoanglinhlan please test the upload of products using both CSV and Excel files here http://kademisolutions.admin.kademi.us/products/

Please test that the base cost allows a decimal place i.e. $25.40  or $50.50 for example.

![image](https://cloud.githubusercontent.com/assets/2201340/26610468/f5072358-45ea-11e7-9bb2-79bbae40c7c0.png)

[2017-05-31 03:23] hoanglinhlan commented on #3297
hi @paddyow
current, it's still showing error with decimal cost
![image](https://cloud.githubusercontent.com/assets/20508726/26614501/14f893c2-45eb-11e7-82ff-5952fb4a15ab.png)

[products.zip](https://github.com/Kademi/kademi-dev/files/1040229/products.zip)

[2017-05-31 03:36] anhnt commented on #2140
done
![image](https://cloud.githubusercontent.com/assets/735555/26614853/f8ebcf94-45ec-11e7-9ae6-32418369d785.png)

[2017-05-31 03:36] #2140 closed

[2017-05-31 03:57] hoanglinhlan commented on #3226
passed

[2017-05-31 03:57] #3226 closed

[2017-05-31 04:07] hoanglinhlan commented on #3288
passed

[2017-05-31 04:07] #3288 closed

[2017-05-31 04:16] hoanglinhlan opened #3298 "eCommerce - orders by Anonymous has 404 link"
http://polomania.admin.kademi.com.au/shopping-carts/
![image](https://cloud.githubusercontent.com/assets/20508726/26615621/7212f47e-45f2-11e7-99a0-556914fcf1a9.png)

I think we should hide this link with order by  Anonymous

[2017-05-31 04:39] anhnt commented on #2446
![image](https://cloud.githubusercontent.com/assets/735555/26616029/c6eb4872-45f5-11e7-97e9-64d427659ddc.png)

[2017-05-31 04:48] hoanglinhlan commented on #2840
1: I dont see options for toggle showing legend data values and labels
![image](https://cloud.githubusercontent.com/assets/20508726/26616205/0f9283be-45f7-11e7-89db-4f8e1f656f69.png)

[2017-05-31 04:55] hoanglinhlan opened #3299 "pieChart component issue"
Data test:
p3 https://lan-test.admin.kademi.com.au/pages/c5s/version1/
http://version1.c5s.kademi.com.au/contenteditor?fileName=p34235.html&miltonUserUrl=/users/lan&miltonUserUrlHash=bba28691-0efd-4e56-a54b-5c7f9b4e6f0c:i5bjztr_yT33idX2nRlAsjRkLP8

1: enter chart's title then save. after refresh page, title field is empty
2: select query type  then choose a query and save. after refresh value of q

[2017-05-31 05:00] hoanglinhlan opened #3300 "all Component: showing new page after click and entered on any field"
- Create a new web page then add any component.
- open setting of this component then click to any field and entered

==> browser refresh and showing a new page

[2017-05-31 06:07] anhnt commented on #1973
cant reproduce. this might be fixed

[2017-05-31 06:07] #1973 closed

[2017-05-31 07:18] hoanglinhlan commented on #2261
@diegoperezn
about 2
[Mail user button.zip](https://github.com/Kademi/kademi-dev/files/1040556/Mail.user.button.zip)
please view my record video

[2017-05-31 07:36] hoanglinhlan commented on #3179
passed

[2017-05-31 07:36] #3179 closed

[2017-05-31 08:39] hoanglinhlan commented on #2441
passed

[2017-05-31 08:39] #2441 closed

[2017-05-31 10:23] AlaaKhalaf94 commented on #3270
it still not fixed

[2017-05-31 11:00] ducdhm commented on #2412
@bradmac Front-end stuff is done. Need implementation from server side

[2017-05-31 15:52] ducdhm opened #3301 "Theme dependencies"
Created a file `/apps/leadman-theme/dependencies.json` with content
[code]
so leadman-theme is depended on bootstrap theme and...
 * Expect: leadman-theme will be inherited everything from bootstrap theme.
 * Actucal: everything in leadman-theme will be overried from bootstrap theme. Example: `masterTemplate.html`

@bradmac: is it correct behavior?

[2017-05-31 20:14] bradmac commented on #3301
OK, so the issue we have here is that there is no ordering of dependencies.

Dependencies control which repos are enabled, but once they are enabled they are all at the same level, there is no overriding logic.

Its possible we could build a dependency tree and then look for resources in that order. But there is the potential for that to be inefficient.

The other option would be to arrange themes

[2017-05-31 23:22] paddyow opened #3302 "Scheduled email embeds CSV contents in email body"
http://waterco.admin.kademi.com.au/scheduledEmails/adk-test/#configuration-tab

CSV is attached correctly, however the CSV is also embedded in the email body.

![image](https://cloud.githubusercontent.com/assets/2201340/26658200/df26af1a-46ab-11e7-804c-969d925c65c3.png)

[2017-05-31 23:47] bradmac opened #3303 "Add RRP field to Product"
New column for holding the recommended retail price.

Integrate with product importer and manage product page

[2017-06-01 01:18] bradmac commented on #2412
@ducdhm how about just POSTing to the resource? ie just post to the filename

Note however, that this should only be enabled for editing web pages. Not for blog articles, calendar events, etc.

[2017-06-01 01:20] tuzzmaniandevil commented on #3303
Done

[2017-06-01 01:58] #3303 closed

[2017-06-01 02:17] paddyow opened #3304 "Assign CPD certificate to a group"
- User can choose which group the CPD points and cert are awarded to
- When the module is completed, the points and certificate must only be awarded to a profile in the selected group
- If no groups are selected, the profile is awarded all sets of points and certs

![image](https://cloud.githubusercontent.com/assets/2201340/26661920/f17ce496-46c3-11e7-8fe9-436c7dcec20e.png)

Additionally, it would

[2017-06-01 02:30] ducdhm commented on #2412
@bradmac Ok. Dont worry about blog article or calendar events, they're using inline/iframe mode contentEditor for now :)

[2017-06-01 02:55] #3073 closed

[2017-06-01 02:58] ducdhm commented on #3301
[code]
It feels like complicated with me. But seem like workable then. So something like: Depended app will override its dependencies resource

[code]
IMHO, It's easy solution but how about common file like masterTemplate.html? Leadman and polo have different masterTemplate than bootstrap theme

[2017-06-01 02:59] bradmac commented on #3301
We would have a base lib called "bootstrap-base" which did not have any common files. Then "bootstrap-theme" would depend on bootstrap-base, and so would leadman and polo themes.

[2017-06-01 03:21] bradmac opened #3305 "Backup/restore : ensure unique names for websites"
Website names must be unique in all of Kademi. So when restoring, if a website name exists, append the admin domain to make it unique

[2017-06-01 03:45] bradmac opened #3306 "Integrate translation support into front end"
Please integrate translatable support into websites.

This will allow, for example, the translatable class to be added to menu items so that a user can select a language, and then click the translate button for a menu item and enter its translation, and then have that displayed.

[2017-06-01 05:16] paddyow opened #3307 "Demo: Bootstrap in the marketplace"
http://rewardtest1.admin.kademi.us/marketPlace/bootstrap/

Should we make this more visible that it is the latest bootstrap component that a customer will need, and give it an image?

I can create an image for this.

[2017-06-01 05:24] paddyow opened #3308 "Demo: Naming for Points bucket when creating a reward store"
When you create a reward store, change "Reward" to be "Points Bucket" as you create buckets not rewards now.

![image](https://cloud.githubusercontent.com/assets/2201340/26665609/3d5754fe-46de-11e7-97b2-7251957d7dea.png)

[2017-06-01 05:29] paddyow opened #3309 "Demo: Choosing BS theme"
- Can we load the latest K theme so I can select it, or set it to be the default theme in an account?
- Selecting BS causes a page not found which does not look the best

![image](https://cloud.githubusercontent.com/assets/2201340/26665714/edd6dbce-46de-11e7-8af4-9fdb17c26057.png)

I want to use this theme:
![image](https://cloud.githubusercontent.com/assets/2201340/26666176/e54fa00a-46e1-11e7-95d

[2017-06-01 05:38] paddyow opened #3310 "Demo: I do not know the difference between user panels when creating a dashboard page"
One is for the user app
One is for the reward store app

I think we need to update the images for the components.

[2017-06-01 05:52] paddyow opened #3311 "Demo: Updating libs"
To use the latest reward store components, the app library version update had to be manually selected.

When I change the version of rewardstorelib, it does not remember my choice or show the change in the drop down even though the new components have updated.

![image](https://cloud.githubusercontent.com/assets/2201340/26666874/9fd79e66-46e5-11e7-8bc0-a28dbebcefb0.png)

Anh also tells me I need t

[2017-06-01 05:58] paddyow opened #3312 "Demo: Cannot add the category list to the dashboard"
- I dragged the category component onto the canvas
- Updated the settings to choose the reward store
- At this point I expected products to appear (as the did with the older component using an older library), instead the component reduced to nothing and when I saved the page the component disappeared

![image](https://cloud.githubusercontent.com/assets/2201340/26666337/b9764e56-46e2-11e7-81a1-f349

[2017-06-01 06:05] #3312 closed

[2017-06-01 06:18] paddyow opened #3313 "Demo: category panel not rendering images"
On page load the category panels render with the correct number and with images:
![image](https://cloud.githubusercontent.com/assets/2201340/26666926/e43f801e-46e5-11e7-8a83-9ed134e98448.png)

Then defaults to the below:
![image](https://cloud.githubusercontent.com/assets/2201340/26666910/d3cb9a2e-46e5-11e7-8716-ce789078d434.png)

Is this intended?  The old category component using an older lib wo

[2017-06-01 06:37] paddyow opened #3314 "Demo: Uploading a logo in a template with menu does not save"
After uploading a logo, and clicking save, it does not save.

![image](https://cloud.githubusercontent.com/assets/2201340/26667448/a1889294-46e8-11e7-8827-adadb21348a5.png)

[2017-06-01 06:51] paddyow opened #3315 "Demo: Dashboard products not showing"
http://rewardtest1.admin.kademi.us/pages/ptest/version2/

Template: http://ptest.kademi.us//theme/apps/user/contenteditor?fileName=dashboard.html&miltonUserUrl=/users/patrick-707421&miltonUserUrlHash=7c1b05bd-83a2-4e19-aebc-49cd79f94cea:fqpKkWCB7mVXeu0UBAfNCkQkdR0

The product components are not rendering when you login as a user.

![image](https://cloud.githubusercontent.com/assets/2201340/266678

[2017-06-01 06:52] paddyow opened #3316 "Demo: Reward store not showing any products"
http://rewardtest1.admin.kademi.us/pages/ptest/version2/

Template: http://ptest.kademi.us//theme/apps/rewardstore/contenteditor?fileName=rewardStoreDashboard.html&miltonUserUrl=/users/patrick-707421&miltonUserUrlHash=3aa19db0-558e-45e4-b5da-6ed7a67fc021:HHeV2QU2kG3e3T8DQD0FKTt6Gy0

result:
![image](https://cloud.githubusercontent.com/assets/2201340/26667884/a8bd58d6-46ea-11e7-85f5-db85f634bba2.pn

[2017-06-01 07:03] paddyow commented on #3309
@ducdhm we need to extract the new Kademi theme from this demo account and make it part of our theme selection.

http://kademisolutions.admin.kademi.us/manageUsers/11695433/#summary-tab

Brad tells me you are working on some theme stuff now.  FYI @anhnt create the demo site.

@ducdhm we need this doing today if possible as I have to have a demo rolled out tomorrow.

[2017-06-01 07:23] bradmac commented on #3307
Definitely needs a tidy up.

[2017-06-01 08:03] #3314 closed

[2017-06-01 08:06] anhnt commented on #3313
fixed and applied to stock

[2017-06-01 09:08] anhnt opened #3317 "Custom repo app: invoking a function problem"
Please see this code which is from rewardstore-lib:
[code]

When a website is using version 1.0.4 and that repo's live version is 1.0.0, it cant invoke custom js server side functions which are defined in version 1.0.4.

Please fix it

[2017-06-01 09:20] bradmac commented on #3317
Only the selected version of the app should be used, never the live version

[2017-06-01 09:26] ducdhm opened #3318 "Display option for menu component"
* Icon
* Icon and text
* Text

Need for leadman theme

[2017-06-01 09:27] ducdhm opened #3319 "K-theme"
Very first theme which has theme dependencies

[2017-06-01 09:27] ducdhm commented on #3319
Need for https://github.com/Kademi/kademi-dev/issues/3309

[2017-06-01 09:28] paddyow opened #3320 "Demo: Rename Profile Menu option"
rename "Show user menu or not" to "Show profile drop-down in menu"

![image](https://cloud.githubusercontent.com/assets/2201340/26673462/557cd44c-4700-11e7-8efd-526f525a0d2e.png)

[2017-06-01 09:37] paddyow opened #3321 "Reward store dashboard not showing categories to select"
![image](https://cloud.githubusercontent.com/assets/2201340/26673929/f58b9512-4701-11e7-9e33-a3e4deb7f9b9.png)

This user http://rewardtest1.admin.kademi.us/manageUsers/12410013/#summary-tab

The store is selected in the category component http://ptest.kademi.us//theme/apps/rewardstore/contenteditor?fileName=rewardStoreDashboard.html&miltonUserUrl=/users/patrick-707421&miltonUserUrlHash=7386a20d-8

[2017-06-01 10:13] #3319 closed

[2017-06-01 10:15] paddyow opened #3322 "Demo: Category list component not rendering titles"
http://rewardtest1.admin.kademi.us/pages/ptest/version2/

Should look like this:
![image](https://cloud.githubusercontent.com/assets/2201340/26675367/fcb237c4-4706-11e7-8e10-e9d76bf8e520.png)

Looks like this:
![image](https://cloud.githubusercontent.com/assets/2201340/26675383/0c432e14-4707-11e7-8ab2-bacc2bec513a.png)

[2017-06-01 10:19] paddyow opened #3323 "Demo: unable to deselect a filter by clicking it"
Applies to both cats and point ranges.

![image](https://cloud.githubusercontent.com/assets/2201340/26675501/98ffcb14-4707-11e7-8c4c-b1e3819942bd.png)

[2017-06-01 10:20] #3316 closed

[2017-06-01 10:22] #3315 closed

[2017-06-01 10:27] ducdhm commented on #3309
Done!

[2017-06-01 10:31] paddyow commented on #3309
I installed the theme, but cannot select it to make the change.
http://rewardtest1.admin.kademi.us/websites/ptest/version2/themeSelect

[2017-06-01 10:42] ducdhm commented on #3309
Seem like we dont have moment-lib in US and error message is not showed. I'll create issue for handling this

[2017-06-01 10:42] paddyow opened #3324 "Add color picker to background colour in editor"
![image](https://cloud.githubusercontent.com/assets/2201340/26676368/d0c7c62a-470a-11e7-91f9-862f60a732e5.png)

[2017-06-01 10:43] ducdhm opened #3325 "Theme selector doesnt show error message when getting error"

[2017-06-01 10:43] ducdhm commented on #3309
https://github.com/Kademi/kademi-dev/issues/3325

[2017-06-01 10:45] #3309 closed

[2017-06-01 10:57] paddyow opened #3326 "Select doctype 'top' hides menu"
Using editor you lost the menu bar if you choose doctype top
![image](https://cloud.githubusercontent.com/assets/2201340/26676864/e16f0b44-470c-11e7-9d32-dfb5000b641d.png)

[2017-06-01 11:08] paddyow opened #3327 "Demo: base template has unwanted padding I cannot control"
There is a gap below the menu bar, but cannot find a way to remove it without editing the source code.
![image](https://cloud.githubusercontent.com/assets/2201340/26677223/530bf6d0-470e-11e7-8190-c6a85bab2660.png)

This is the result:
![image](https://cloud.githubusercontent.com/assets/2201340/26677236/6237e9d4-470e-11e7-87c2-3b0627bbcbb8.png)

[2017-06-01 11:10] paddyow opened #3328 "Cannot upload an image with a file name that already exists in Kademi"
If I upload a file via the editor called logo.png, then upload the same file I get an error.
I should be able to upload and replace .

![image](https://cloud.githubusercontent.com/assets/2201340/26677295/a9c731ba-470e-11e7-998b-0d7e34b2240f.png)

[2017-06-01 11:12] #3328 closed

[2017-06-01 11:15] paddyow commented on #3327
@duc can you add a variable to control this.  There will be pages that need a header image but needs to be flush with the top nav bar where the BS theme applies a default button margin.

@navbar-margin-bottom

[2017-06-01 11:21] anhnt opened #3329 "Demo: create portlet to show user balance in navbar"

[2017-06-01 11:33] anhnt commented on #3329
done

[2017-06-01 11:33] #3329 closed

[2017-06-01 11:35] anhnt commented on #3329
deployed rewardstore-lib 1.0.5 to US server

[2017-06-01 11:38] paddyow opened #3330 "Editor: nesting a container"
@ducdhm I want to insert a container which has a full width BG image, then have type which conforms to the box width so it aligns with the rest of the page content.  How would I achieve this?

![image](https://cloud.githubusercontent.com/assets/2201340/26678150/790ad398-4712-11e7-80ec-026ab98b6779.png)

[2017-06-01 12:25] ducdhm commented on #3330
You just need change `Layout` of container is `Box` and `Background for` change to `Container`

[2017-06-01 12:26] ducdhm commented on #3330
@paddyow Maybe we need better Name of option and value of `Background for`

[2017-06-01 15:31] ducdhm commented on #3320
Done!

[2017-06-01 15:34] ducdhm commented on #3326
@paddyow @bradmac do you have any suggestion for this case? It's just css stuff. When you choose Dock type is "fixed", it means position of container is fixed and top: 0. And.... it's overlapping menu

[2017-06-01 15:35] ducdhm commented on #3327
@paddyow Bootstrap already supports `@navbar-margin-bottom` variable for it. You can use it now!

FYI: List of available variables of Bootstrap are at http://getbootstrap.com/customize/#navbar

[2017-06-01 21:26] bradmac commented on #3327
Hey guys. This is not something that should be "controlled". Its just part of the theme. If we want to change the theme, we change the theme.

[2017-06-01 21:27] bradmac commented on #3326
Yep. Its all working correctly. @paddyow i dont think you should be docking the container to the top of the screen

[2017-06-01 21:27] #3326 closed

[2017-06-02 03:15] anhnt commented on #3322
works ok with rewardstore-lib 1.0.5
![image](https://cloud.githubusercontent.com/assets/735555/26709350/5d241e18-477c-11e7-8655-897adfd2a7a3.png)

[2017-06-02 03:28] anhnt commented on #3323
looking good atm please check

[2017-06-02 03:52] anhnt opened #3331 "Org details are gone after restoring json backup data"
I created a backup json file from 3M then restored to 3M Staging and some org details are gone
like tittle, type, path, address, etc

http://3mstaging.admin.kademi.com.au/organisations/

[2017-06-02 04:27] #3330 closed

[2017-06-02 04:32] paddyow commented on #3327
@ducdhm update K theme not to apply that bottom margin on the nav.

Question: Is the a reason why a container has no margin setting?  I can add padding but want to add margins as well.

[2017-06-02 04:33] paddyow opened #3332 "Editor: Cannot see value in padding field"
Need to 1) Increase form width or 2) reduce font size

The values should read 100, but only showing 2 chars.

![image](https://cloud.githubusercontent.com/assets/2201340/26710834/5a062e50-47a0-11e7-8374-f6e81541b468.png)

[2017-06-02 05:28] #3325 closed

[2017-06-02 05:29] paddyow opened #3333 "Demo: Account setup - reward store APP did not install correctly"
http://rewardtest2.admin.kademi.us/pages/rewardtest2/version1/

After installing the reward store APP
1) The libs needed to be manually updated
2) The templates are missing components.  See below rewardstoredashboard, which only shows cats

http://rewardtest2.kademi.us//theme/apps/rewardstore/contenteditor?fileName=rewardStoreDashboard.html&miltonUserUrl=/users/patrick-707421&miltonUserUrlHash=505

[2017-06-02 08:11] ducdhm commented on #3332
Fixed! Just need to deploy!

[2017-06-02 08:11] #3332 closed

[2017-06-02 08:18] paddyow opened #3334 "Cannot create field that appears in the user importer"
I want to create a custom group then import an excel file with that custom group.  Importer does not display custom fields when matching.

[2017-06-02 08:50] hoanglinhlan opened #3335 "Leadman - quotes page: create quote Button on popup doesn't work"
Profile file https://lan-test.admin.kademi.com.au/manageUsers/74497161
Page: http://hattonfake.kademi.com.au/quotes/
- Click to new quote button
- Enter all require field then click create quote button ==> nothing happen

[2017-06-02 09:15] paddyow opened #3336 "Cannot import users (using profile tool) into a journey without it failing"
I have this journey http://rewardtest1.admin.kademi.us/funnels/onboarding/#journeyBuilder-tab

If I add a user manually to the sales consultant group the profile is added and the journey works as intended

If I use the profile uploaded tool, match on cols, the import fails

http://rewardtest1.admin.kademi.us/manageUsers/upload

File below

[users.xlsx](https://github.com/Kademi/kademi-dev/files/10

[2017-06-02 09:45] paddyow opened #3337 "K-editor back buttons"
http://owensdemo1.kademi.us//theme/apps/rewardstore/contenteditor?fileName=rewardStoreDashboard.html&miltonUserUrl=/users/patrick-707421&miltonUserUrlHash=1a96fa33-0b30-4223-ba59-653b888bfe60:ASLDDsiPj_lDMfbL1c2Eqy2-CEo

When opening a template with our editor, we do not need to show a back button, it goes to a blank page and the editor is opened in a new window.

![image](https://cloud.githubuser

[2017-06-03 10:21] ducdhm commented on #3337
Fixed! Can see the change in next deployment!

[2017-06-03 10:21] #3337 closed

[2017-06-04 10:19] mkhoudary opened #3338 "Entity Finder in Edit Quote page doesn't search for orgs and custs"
As was applied in the edit quote page, the fields for Vendor and Suppliers were searching for both orgs and custs before applying the entity finder, now they only search for customers.

Please make sure they search for both.

[2017-06-04 10:28] mkhoudary opened #3339 "Proposal screen creates wrong quotes"
The current proposal screen creates a proposal correctly and binds it to the correct lead, but when it creates a quote; you should send the lead id along with the created quote.

Please have a look at the quote creation modal inside the viewlead page, it has this attribute sent.

[2017-06-04 10:32] mkhoudary opened #3340 "Entity Finder makes search fields unclickable"
When trying to use the quote page after having entity finder associated with the vendor/customer fields, both fields are unclickable(focusable via clicking) due to a field that is above them with 0 opacity.

Please fix that to allow the visible fields to be clickable, a suggested solution is to give the 0 opacity field a css pointer-events: none.

[2017-06-04 23:46] bradmac commented on #3338
@ducdhm please sort this out asap

[2017-06-05 00:30] bradmac commented on #3339
@mkhoudary , the proposal screen does this already. When a quote is created the proposal id is passed, and the lead associated with the proposal is set on the quote

See line 159 of ManageQuotesFolder

[code]

[2017-06-05 00:32] bradmac commented on #3340
:+1:

[2017-06-05 01:09] bradmac opened #3341 "Admin Dashboard links to client accounts"

[2017-06-05 02:34] hoanglinhlan commented on #2018
Report: https://lan-test.admin.kademi.com.au/reporting/MostPopularProduct?startDate=05%2F03%2F2017&finishDate=05%2F06%2F2017
Reward store: https://lan-test.admin.kademi.com.au/reward-store/c5s-business/#products-tab
Profile: https://lan-test.admin.kademi.com.au/manageUsers/41267184

1: filter by date range isn't work,
I viewed 2 product a few days ago but the graph showing only 1 product with 2 vi

[2017-06-05 02:53] hoanglinhlan opened #3342 "Journey: showing error when I add or remove any node"
https://lan-test.admin.kademi.com.au/funnels/journey001/#journeyBuilder-tab
![image](https://cloud.githubusercontent.com/assets/20508726/26768813/9e15ee74-49d4-11e7-8b4a-952e60c05e18.png)

[2017-06-05 03:03] hoanglinhlan commented on #3170
passed

[2017-06-05 03:03] #3170 closed

[2017-06-05 03:18] ducdhm commented on #3338
Done! I have added entityFinder-lib and dependencies on it from payment-lib

[2017-06-05 03:18] #3338 closed

[2017-06-05 03:30] ducdhm commented on #3340
It's working normally in my side. Can you double-check again?

[2017-06-05 03:32] tannguyen3489 commented on #3338
I checked on admin and front-end. It is still ok.

![image](https://cloud.githubusercontent.com/assets/1665005/26769595/4dfdf598-49da-11e7-9982-050c1e77c0b4.png)

[2017-06-05 03:35] ducdhm opened #3343 "Support margin options for container"

[2017-06-05 03:36] ducdhm commented on #3327
Move margin stuff to https://github.com/Kademi/kademi-dev/issues/3343

[2017-06-05 03:36] #3327 closed

[2017-06-05 04:35] #3318 closed

[2017-06-05 04:43] hoanglinhlan commented on #3168
passed

[2017-06-05 04:43] #3168 closed

[2017-06-05 05:26] mkhoudary commented on #3339
Yes.. we can rely on backend fix

[2017-06-05 05:26] #3339 closed

[2017-06-05 07:25] hoanglinhlan commented on #3169
passed

[2017-06-05 07:25] #3169 closed

[2017-06-05 07:26] hoanglinhlan commented on #3167
passed

[2017-06-05 07:26] #3167 closed

[2017-06-05 07:31] hoanglinhlan commented on #3342
it's resolved after fixed the problem of blob store in au

[2017-06-05 07:31] #3342 closed

[2017-06-05 07:39] tannguyen3489 commented on #3067
@hoanglinhlan : please make sure the new libs will work well

[2017-06-05 08:17] ducdhm commented on #3340
Just need to deploy!

[2017-06-05 09:42] AlaaKhalaf94 opened #3344 "Allow selecting subscription groups as opt-ins for a primary group"
Appeared here
https://acfenz.admin.kademi.com.au/groups/Advertiser/

[2017-06-05 09:43] bradmac commented on #3344
what is the problem?

[2017-06-05 09:46] AlaaKhalaf94 commented on #3344
when I make the Advertiser group an opt-in for members
and save

it shows an error

[2017-06-05 09:47] bradmac commented on #3344
Its the wrong way around. You should be editing the members group, and selecting "Advertisers"

[2017-06-05 10:39] anhnt commented on #1133
![image](https://cloud.githubusercontent.com/assets/735555/26780855/d5ac5ecc-4a15-11e7-99bd-f92605699799.png)

Finally done

[2017-06-05 10:46] bradmac commented on #1133
hey @anhnt can you combine this with the expiry col?

If the points is fully used then we dont care about its expiry date, so we can display one or the other

[2017-06-05 11:08] anhnt commented on #1133
done

[2017-06-05 22:33] bradmac opened #3345 "Kademi subscription part 3: Acquire and validate a license"
- Create a new filter (similar to IDPFilter) and configure in applicationContext.xml
- This will check for a previously acquired license which will have been persisted to the DB
- If present check the expiry date (TODO: later will generate signature)
- If not present or not valid, use the client to acquire one for the admin domain (note that when accessing a website, the website needs to be looked

[2017-06-05 22:33] #3296 closed

[2017-06-05 22:33] #3262 closed

[2017-06-06 01:13] tuzzmaniandevil opened #3346 "Shopping Cart Checkout: Disable submit button when submitted"
It's been possible to double click the button creating 2 purchases even if the user didn't have enough points.

I've added a java side validation, but we need to disable the button in the front end as well.

[2017-06-06 01:15] tuzzmaniandevil opened #3347 "Table Uploader: Make it re-usable"
All apps should use a standard framework instead of re-writing the code every time. This will also allow custom apps to make use of the framework.

[2017-06-06 02:49] anhnt commented on #3346
added to shoppingcart-lib 1.0.4

[2017-06-06 03:07] #3301 closed

[2017-06-06 03:08] #3323 closed

[2017-06-06 03:41] anhnt commented on #3299
after upgrading theme and libs, everything is working fine :)

[2017-06-06 03:54] ducdhm commented on #3298
![newui](https://cloud.githubusercontent.com/assets/1289631/26813177/918fe07e-4aa6-11e7-9014-d1bf071d5e58.png)

[2017-06-06 04:31] paddyow opened #3348 "Cannot edit parameters of password reset button in EDM template"
I should be able to adjust padding, change button colour...

This is the case on both AU and US servers.

![image](https://cloud.githubusercontent.com/assets/2201340/26813882/c185f6ce-4ac4-11e7-9e0a-66b0160bd521.png)

[2017-06-06 04:45] ducdhm commented on #3348
I have deployed the newest version of email-lib. It works normally now. Just need to update it on your site

[2017-06-06 04:46] paddyow opened #3349 "Demo: Cannot step through password reset workflow"
I created this email and fired it off: http://rewardtest1.admin.kademi.us/groupEmails/12591225/#sendInfo-tab

I received the email and clicked through to the wrong template, even though I chose the correct website.
![image](https://cloud.githubusercontent.com/assets/2201340/26814158/b704a338-4ac6-11e7-8785-dc53b0529f2e.png)

It should have opened our shiny password reset form here: http://owensdem

[2017-06-06 04:59] #3348 closed

[2017-06-06 05:18] #3349 closed

[2017-06-06 05:25] paddyow opened #3350 "Demo: PasswordDoReset template"
I think the template for this should be broken down into parts, so the user can edit the title and button copy.

![image](https://cloud.githubusercontent.com/assets/2201340/26814918/543546da-4acc-11e7-999a-be2a25118742.png)

[2017-06-06 06:38] paddyow opened #3351 "Deleting a sent email removes the history from the profile email tab"
http://rewardtest1.admin.kademi.us/manageUsers/12462469/#emailAppTab-tab

[2017-06-06 06:40] hoanglinhlan commented on #2199
passed

[2017-06-06 06:40] #2199 closed

[2017-06-06 06:42] hoanglinhlan commented on #2378
passed

[2017-06-06 06:42] #2378 closed

[2017-06-06 06:46] hoanglinhlan commented on #2446
I cant create new note, after I click to "new note" button the page scroll up to top page
profile login frontEnd: https://lan-test.admin.kademi.com.au/manageUsers/74497161/#summary-tab
http://hattonfake.kademi.com.au/leads/74649436/

[2017-06-06 06:54] hoanglinhlan commented on #2983
I still cant save with valid org
https://lan-test.admin.kademi.com.au/sales/new-series1/72436211
![image](https://cloud.githubusercontent.com/assets/20508726/26817165/ad974e4c-4abf-11e7-82f0-ea1137da1c4a.png)

[2017-06-06 07:14] tuzzmaniandevil commented on #3347
Some features that still need to be added, Either in this issue or part 2:
- Validators - An App needs a way to specify which fields are required, e.g.
  - Points Uploader
    - Either the Default Reward or the Reward Name fields are required
    - The "Awarded To" field is Required
  - Users Upload
    - Either a default group or the Group column needs to be specified
- Custom Fields need to supp

[2017-06-06 07:26] bradmac commented on #3347
I think this should be part of the logic of the implementation of TableProcessor returned by the app. I would not necessarily expect to have apps return a particular instance, eg StandardTableProcessor.

I dont think there should be any data type representing custom fields. Instead an app should simply provide a template which generates the UI, and the inputs submitted from the form are made avail

[2017-06-06 08:00] tannguyen3489 commented on #2983
@hoanglinhlan : it was fixed. Please wait for next deploy.

[2017-06-06 08:00] tannguyen3489 commented on #2983
@hoanglinhlan : oh, I will deploy it for you. Sorry

[2017-06-06 08:02] anhnt commented on #2446
fixed by upgrading leadman theme & leadman-lib

[2017-06-06 08:18] bradmac commented on #3344
OK, so currently only "user tag" groups are presented for selection as opt-ins for primary groups. We should change this to allow selecting sub groups

[2017-06-06 08:19] bradmac commented on #3344
This needs updating:

![image](https://cloud.githubusercontent.com/assets/826458/26820022/7b42a208-4af5-11e7-9e45-4a79aa389716.png)

[2017-06-06 08:41] hoanglinhlan opened #3352 "Cant complete task"
Login to hattonfake site by account
https://lan-test.admin.kademi.com.au/manageUsers/74497161/#general-tab
 then go to lead http://hattonfake.kademi.com.au/leads/74683718/
and complete current task
it's running under this funnel: https://lan-test.admin.kademi.com.au/funnels/newjourney/#properties-tab
it's showing null error:
![image](https://cloud.githubusercontent.com/assets/20508726/26820871/9f8

[2017-06-06 09:00] hoanglinhlan commented on #2446
passed

[2017-06-06 09:00] #2446 closed

[2017-06-06 09:29] ducdhm commented on #2412
Everything is working normally! But just an issue, how can I remove a meta or data/param?

[2017-06-06 09:52] hoanglinhlan opened #3353 "Should remove unnecessary "hr" tag on complete tag popup"
http://hattonfake.kademi.com.au/leads/74683718/
click to complete task
![image](https://cloud.githubusercontent.com/assets/20508726/26823601/650eb796-4ad8-11e7-8cb6-91ed43a6046a.png)

[2017-06-06 10:11] paddyow opened #3354 "EDM editor is showing wrong settings for image component"
http://rewardtest1.admin.kademi.us/groupEmails/12605741/edmeditor?fileName=index.html&useHash=true

http://rewardtest1.admin.kademi.us/groupEmails/12605741/#messages-tab

![image](https://cloud.githubusercontent.com/assets/2201340/26824362/60545be0-4af4-11e7-8a7c-d08842b65b63.png)

[2017-06-06 10:31] hoanglinhlan commented on #3353
passed

[2017-06-06 10:31] #3353 closed

[2017-06-06 10:36] ducdhm commented on #3354
Done! Need deploy to prod

[2017-06-06 10:36] #3354 closed

[2017-06-06 10:44] mkhoudary commented on #3344
Done..

[2017-06-06 10:49] mkhoudary commented on #3344
@bradmac  Pending deployment..

[2017-06-06 10:50] anhnt commented on #2152
I implemented feature which allows filtering auctions by global date range. At the moment it is filtered by field ```createdDate```

[2017-06-06 10:50] mkhoudary commented on #3234
This was changed since the new proposals page was added.

[2017-06-06 10:50] #3234 closed

[2017-06-06 10:50] hoanglinhlan commented on #3346
passed

[2017-06-06 10:50] #3346 closed

[2017-06-06 10:51] mkhoudary commented on #3228
@hoanglinhlan with email button it's an OS issue, if you have a mail client like thunderbird or outlook it will work..

[2017-06-06 10:52] #3187 closed

[2017-06-06 10:52] #3340 closed

[2017-06-06 11:02] hoanglinhlan commented on #3228
just checked after I changed default app
it's work fine

[2017-06-06 11:02] #3228 closed

[2017-06-06 11:07] hoanglinhlan commented on #3300
it's still not working

[2017-06-06 11:25] ducdhm commented on #3300
Where did you test it?

[2017-06-06 13:27] mkhoudary commented on #3304
This is done.. can be tested after the next deployment

[2017-06-06 15:57] hoanglinhlan commented on #3300
hi @ducdhm
just re-checked, not all component. Current, at least we have one component still not working
Please check in here http://version1.c5s.kademi.com.au/contenteditor?fileName=p2704.html&miltonUserUrl=/users/lan&miltonUserUrlHash=64bd028e-91ae-465b-9b61-53c446873a18:cxxfwGJzi9DGv8vpqxJfIffZqpg

![image](https://user-images.githubusercontent.com/20508726/26838797-6c6b6b5a-4b0b-11e7-9e06-5054

[2017-06-06 20:05] gonzalon commented on #3345
KademiLicense
- Organisation
- licenseText
- licenseSig
- expiryDate
- acquiredDate

[2017-06-06 22:52] paddyow opened #3355 "Feature to select a sales date range and purge data in one go"
http://3m.admin.kademi.com.au/sales/3m-sales/#history-tab

Currently records display in 1000's.  Need to choose start and end date, then purge all data between the range.

[2017-06-06 23:37] #3304 closed

[2017-06-06 23:47] #3344 closed

[2017-06-06 23:51] bradmac commented on #3355
Already there ..

![image](https://user-images.githubusercontent.com/826458/26856423-a1a5ec34-4b77-11e7-9bd2-c234008ef7ea.png)

[2017-06-06 23:51] #3355 closed

[2017-06-07 00:08] bradmac opened #3356 "My past orders component issues"
We have 2 past orders components, one each for reward store and e-commerce. Both do not work.

We do not want to show orders just for a certain product, but we do want a component to show all orders for a user on their profile page. We already have this for the reward store app with the orderHistory component, but we do not have an equivalent for ecommerce

So please do the following
- remove them

[2017-06-07 03:01] ducdhm commented on #3300
Fixed! Need a deployment!

[2017-06-07 03:07] bradmac commented on #2412
i dont think we can at the moment, but i think thats ok

[2017-06-07 03:27] ducdhm commented on #2344
Already fixed!

[2017-06-07 03:27] #2344 closed

[2017-06-07 04:17] bradmac opened #3357 "theme param editor page"
We want to allow non-technical users to change the theme parameters such as primary colour, corner radius, etc.

Currently users must edit the theme-params.less file, which requires knowledge of bootstrap and CSS.

So..do we make a new page? Or show a sidebar on theme checker? Or something else?

To update the parameters just POST to the manage website with a parameter of "updateThemeParams". All

[2017-06-07 04:18] anhnt opened #3358 "Create product orders provider"
This is for airnz elite https://github.com/Kademi/client-emc-airnz/issues/117

[2017-06-07 04:33] bradmac commented on #3357
As discussed, initially we will just support the main params
- brand colours
- border radius
- text font
- headings base font
- base line height
- base padding

[2017-06-07 05:20] ducdhm commented on #2412
Ok. So we can remove it in textEditor atm. So close it.

[2017-06-07 05:20] #2412 closed

[2017-06-07 05:47] anhnt commented on #2808
done

[2017-06-07 07:06] anhnt commented on #1704
When edit an image, we only know its hash, not full path so we cant initially selects it when tree is loaded.

[2017-06-07 07:29] ducdhm commented on #3357
I'll add a button for changing theme in Ktoolbar. First thing need to do is make KToolbar as an app. It should be quick. https://github.com/Kademi/kademi-dev/issues/2604

[2017-06-07 08:11] #3341 closed

[2017-06-07 08:13] bradmac commented on #3277
not sure if this is still active, but please check

[2017-06-07 08:13] #3274 closed

[2017-06-07 08:23] ducdhm commented on #2604
Done!

[2017-06-07 08:23] #2604 closed

[2017-06-07 08:23] bradmac commented on #2843
Working now

[2017-06-07 08:23] #2843 closed

[2017-06-07 08:24] bradmac commented on #2797
I'm sure is fixed now

[2017-06-07 08:24] #2797 closed

[2017-06-07 08:33] bradmac commented on #2774
Confirmed is very slow, 12 secs or so.

Also, i think the search logic might be wrong. It should just be searching the orgs appindexer, and should be limited to the org type for customer orgs

[2017-06-07 08:35] bradmac commented on #2686
Should be resolved in new platform

[2017-06-07 08:35] #2686 closed

[2017-06-07 08:39] bradmac commented on #2685
Seems to be resolved

[2017-06-07 08:39] #2685 closed

[2017-06-07 08:41] #2653 closed

[2017-06-07 08:41] bradmac commented on #2645
Is this still active?

[2017-06-07 08:41] #2668 closed

[2017-06-07 08:42] #2607 closed

[2017-06-07 08:43] #2521 closed

[2017-06-07 08:43] #1885 closed

[2017-06-07 08:44] #3161 closed

[2017-06-07 08:49] bradmac commented on #2357
i think this is sorted now as we've changed the layout to show pending tasks seperately

[2017-06-07 08:49] #2357 closed

[2017-06-07 08:49] #2109 closed

[2017-06-07 08:51] mkhoudary commented on #3238
@bradmac I've got a question:
Say we've added such a node with 100 points cumulative, and the customer has got 100, the event will be fired, when the customer continues having 110, 150, 160 ... etc the event will be fired each time, and its up to the JB designer to act, right?

[2017-06-07 08:51] bradmac commented on #3238
No, because the journey will have moved on to another node.

[2017-06-07 16:10] mkhoudary commented on #3238
Done..

[2017-06-07 16:11] mkhoudary commented on #3238
@bradmac Waiting next deployment

[2017-06-07 21:58] tuzzmaniandevil commented on #3158
This is now moved to https://github.com/Kademi/kademi-dev/issues/3347

[2017-06-07 21:58] #3158 closed

[2017-06-07 22:01] tuzzmaniandevil commented on #3297
The Products importer has been re-writen to work with the framework in #3347
I tested it and now imports decimal points :-). @hoanglinhlan I'll assign the new issue to you to test all the new importers

[2017-06-07 22:01] #3297 closed

[2017-06-07 22:10] tuzzmaniandevil commented on #3174
Moved to #3347

[2017-06-07 22:10] #3174 closed

[2017-06-07 23:15] tuzzmaniandevil commented on #3358
Done, class is ShoppingCartTableProvider

[2017-06-08 00:55] bradmac commented on #3352
@mkhoudary i think you said this was because the lead was already closed. Please confirm.

[2017-06-08 00:56] bradmac commented on #3350
I think the copy can simply be removed, and the user can add text components. The copy on the button should be a configurable settings.

[2017-06-08 00:57] bradmac commented on #3350
Note that the standard template which uses this component needs to be updated to include the lead copy as text components.

[2017-06-08 01:04] bradmac commented on #3333
@paddyow i think this should be cool now

[2017-06-08 01:04] #3333 closed

[2017-06-08 03:34] #3271 closed

[2017-06-08 03:57] ducdhm commented on #3357
@bradmac Please kindly help me to do backend stuff to support POST data to "/" in frontend site

[2017-06-08 04:25] ducdhm commented on #3267
Should work now but need to save edm content again!

[2017-06-08 04:25] #3267 closed

[2017-06-08 04:26] ducdhm commented on #2425
It's fixed in new gen of edmEditor!

[2017-06-08 04:26] #2425 closed

[2017-06-08 04:32] ducdhm commented on #2545
Done!

![newui](https://user-images.githubusercontent.com/1289631/26912400-35ac9740-4c3e-11e7-9bbe-0f6e203058d0.png)

[2017-06-08 04:37] ducdhm commented on #2836
It's fixed new gen of edmEditor!

[2017-06-08 04:37] #2836 closed

[2017-06-08 04:41] ducdhm commented on #2642
@hoanglinhlan There are a lot of nodes atm. And each node are made by different devs so I think when you get error on some nodes, please create issue for fix them.

[2017-06-08 04:41] #2642 closed

[2017-06-08 04:42] bradmac commented on #2545
hey @ducdhm could we have the begin node in a different colour?

[2017-06-08 04:48] ducdhm commented on #2545
Yes @bradmac, maybe begin and end node have same color. Maybe purple :)

[2017-06-08 04:49] bradmac commented on #2545
:+1:

[2017-06-08 04:52] ducdhm commented on #2545
And last thing, add fullscreen button for entering fullscreen mode for node editor

[2017-06-08 08:43] ducdhm commented on #2545
Done!

![newui2](https://user-images.githubusercontent.com/1289631/26919820-2693f604-4c61-11e7-8fce-85c4f9cc5b50.png)

[2017-06-08 08:43] #2545 closed

[2017-06-08 09:00] hoanglinhlan commented on #3256
after create quote
in quote page, it's not showing customer. It should show customer like a proposal customer
http://hattonfake.kademi.com.au/quotes/74742314

[2017-06-08 09:09] #3322 closed

[2017-06-08 09:28] #3320 closed

[2017-06-08 09:36] #3308 closed

[2017-06-08 09:47] #3321 closed

[2017-06-08 10:18] ducdhm commented on #3268
Fixed!

[2017-06-08 10:35] hoanglinhlan commented on #2986
pased

[2017-06-08 10:35] #2986 closed

[2017-06-08 10:43] ducdhm commented on #3335
It's working normally!

[2017-06-09 01:39] bradmac commented on #3357
@ducdhm i have a site with KToolbar enabled, but i cant see any options to edit theme params

[2017-06-09 02:27] hoanglinhlan commented on #3335
passed

[2017-06-09 02:27] #3335 closed

[2017-06-09 02:29] bradmac opened #3359 "KCRM: Show funnel name on leads panel"
Eg
http://itsinsuredqa-crm.kademi.com.au/custs/23b1ead2-d803-4353-8616-85001cdf900f/

![image](https://user-images.githubusercontent.com/826458/26958649-efef24c4-4d1f-11e7-80de-ca92c87e708f.png)

[2017-06-09 02:37] bradmac opened #3360 "Calendar: upcoming events panel"
Create a configurable setting for how many days ahead to show events for

[2017-06-09 02:39] bradmac opened #3361 "KCRM: Allow setting customer avatar"
Similar to currently available on profile page

[2017-06-09 02:43] bradmac opened #3362 "change "lead cancelled" heading on lead page to indicate success or failure"
When leads are completed successfully in a journey (eg claims completed or acquisition) this must show success on the lead. I think this needs either a new node or setting on the current end lead node.

![image](https://user-images.githubusercontent.com/826458/26959011-f663fd6e-4d21-11e7-86da-0565b5945384.png)

[2017-06-09 02:48] bradmac opened #3363 "KCRM: Quick add task"
A KCRM user should be able to quickly add a task from the menu with
- due date
- task description
- assigned to

This should not be related to any particular lead

[2017-06-09 02:53] hoanglinhlan commented on #3210
passed

[2017-06-09 02:53] #3210 closed

[2017-06-09 02:59] hoanglinhlan commented on #3313
passed

[2017-06-09 02:59] #3313 closed

[2017-06-09 03:16] hoanglinhlan commented on #2650
passed

[2017-06-09 03:16] #2650 closed

[2017-06-09 03:24] hoanglinhlan commented on #3240
passed

[2017-06-09 03:24] #3240 closed

[2017-06-09 03:25] anhnt commented on #3358
👍

[2017-06-09 03:33] hoanglinhlan commented on #2631
passed in  itsinsuredqa-crm project but it's doesn't show anything in my test site
https://lan-test.admin.kademi.com.au/manageUsers/74497161
http://hattonfake.kademi.com.au/dashboard
![image](https://user-images.githubusercontent.com/20508726/26960105-eb6bd198-4cfe-11e7-8b4e-5a478bf879ff.png)

[2017-06-09 04:00] hoanglinhlan commented on #3291
passed

[2017-06-09 04:00] #3291 closed

[2017-06-09 06:58] hoanglinhlan commented on #3232
confirm after config in default app it's work

[2017-06-09 06:58] #3232 closed

[2017-06-09 07:28] hoanglinhlan commented on #2410
passed

[2017-06-09 07:28] #2410 closed

[2017-06-09 07:29] hoanglinhlan commented on #2789
confirm it's still working

[2017-06-09 07:29] #2789 closed

[2017-06-09 07:41] hoanglinhlan commented on #3164
hi @diegoperezn
please fix my comment

[2017-06-09 08:02] ducdhm opened #3364 "Change the way to store version of lib, app or theme"
* Current: name of folder
 * Update: should be value in a plain text file named "VERSION" or "version" under lib or app or theme folder

[2017-06-09 08:31] hoanglinhlan commented on #2857
it's alway showing message: "You have no recently viewed items"
https://lan-test.admin.kademi.com.au/manageUsers/48689307
http://c5s.kademi.com.au/dashboard

[2017-06-09 08:39] ducdhm commented on #3357
Done!

![newui](https://user-images.githubusercontent.com/1289631/26967783-bbc2fb94-4d29-11e7-99e9-da60be60a7c2.png)

[2017-06-09 08:45] ducdhm opened #3365 "New UI/UX for market place"
Current UI:
 * Dashboard
![dashboard](https://user-images.githubusercontent.com/1289631/26967992-948a69da-4d2a-11e7-8c03-70b3f3f409ce.png)

 * Detailed page
![detailed_page](https://user-images.githubusercontent.com/1289631/26967995-99c86d16-4d2a-11e7-86b7-b537660f71d0.png)

[2017-06-09 08:54] ducdhm commented on #3357
@bradmac if value which I send to server is null or empty, can we remove it out of theme-parametter?

[2017-06-09 09:40] ducdhm commented on #2443
I dont see any button for adding tag.

[2017-06-09 10:24] hoanglinhlan commented on #2735
passed

[2017-06-09 10:24] #2735 closed

[2017-06-09 10:49] hoanglinhlan commented on #1133
passed

[2017-06-09 10:49] #1133 closed

[2017-06-10 01:21] bradmac opened #3366 "KAutoloader to use version number file instead of directory"

[2017-06-10 01:22] #3366 closed

[2017-06-10 05:29] bradmac commented on #3357
@ducdhm i've improved the parsing, so you get default params now :)

And also will remove params which are empty. This does mean that if there is a default it will be restored

[2017-06-10 08:45] #3364 closed

[2017-06-11 05:24] paddyow opened #3367 "Reward demo: Templates are out of date"
http://rewardtest1.admin.kademi.com.au/websites/rewardtest1/version1/#panel_details-tab

- Created new account an AU
- Created website
- Installed K theme
- Installed Rewards Store
- Selected K theme under themes
- Went to edit the reward store template and it's not showing the latest and greatest template

Maybe the libs are not up to date?

http://rewardtest1.kademi.com.au//theme/apps/rewardstor

[2017-06-11 06:01] bradmac commented on #3367
hey @ducdhm and @anhnt can you guys help @paddyow ?

[2017-06-11 06:05] paddyow opened #3368 "Cannot edit image in Keditor"
http://kademi.admin.kademi.us/

http://kademi.admin.kademi.us/funnels/website-enquiries/emailAction-f6db01/#message-tab

Showing wrong options, we should show option to edit image

![image](https://user-images.githubusercontent.com/20508726/27018282-62424e6c-4f59-11e7-97b3-f517e2f52893.png)

[2017-06-11 06:08] paddyow commented on #3367
I need these latest libs to install on a new account, at the moment I cannot step through and create a reward store.

[2017-06-11 07:27] mkhoudary commented on #3277
Quote page needs revision now,

[2017-06-11 11:04] mkhoudary opened #3369 "Changing app version doesn't work after the new version file modification"
After converting app versions from folders to a single file, when the version is written and there's a carriage return after the version no, changing version no. fails and leaves instance in an inconsistent state.

We need to trim version numbers when being read during autoloading.

[2017-06-11 11:05] mkhoudary commented on #3369
This is done..

[2017-06-11 11:05] #3369 closed

[2017-06-11 11:08] mkhoudary commented on #3359
Done..

[2017-06-11 11:08] mkhoudary commented on #3359
Ready for test after @bradmac uploads next version

[2017-06-11 11:21] mkhoudary commented on #3352
The journey itself is wrongfully built, the task has no name, no title, after I've added a name to the task it worked just fine.

[2017-06-11 13:41] mkhoudary commented on #3360
@bradmac this is done, the days count ahead is stored in an extra field called upcoming-event-days.. so this is at a user level now.

[2017-06-11 13:42] mkhoudary commented on #3360
@bradmac  Ready to test whenever deployed..

[2017-06-11 13:42] mkhoudary commented on #3277
@hoanglinhlan can you reproduce please? or this is an old bug? because last time I checked this problem wasn't present.

[2017-06-11 21:51] tuzzmaniandevil commented on #3347
@hoanglinhlan Please test all the new repoirts under /tableUploaders

[2017-06-11 22:03] tuzzmaniandevil commented on #3215
No IndexedItemUpdatedEvent was being fired.

[2017-06-11 23:07] bradmac commented on #3360
:+1: looks good.

[2017-06-12 03:19] hoanglinhlan commented on #3277
Hi @mkhoudary
I checked, this issue is still active ( please search: quotefor3277-001)
![image](https://user-images.githubusercontent.com/20508726/27018197-a2649f5a-4f58-11e7-937f-653cf116f0fb.png)

Profile to login as: http://itsinsuredtqa.admin.kademi.com.au/manageUsers/72924918
1: go to quote page then create a new quote
http://itsinsuredqa-crm.kademi.com.au/quotes/
2: after redirect to quote d

[2017-06-12 03:20] ducdhm commented on #3357
Leave me with it now :)

[2017-06-12 04:22] hoanglinhlan commented on #2400
seem like it's still not working
http://lan-test.admin.kademi.com.au/funnels/
to check it
Please export file and edit (all data of lead profile) then upload

[2017-06-12 04:28] ducdhm opened #3370 "Move specified css rules out of extras.less"
Eg

[code]

It should be in its own app

[2017-06-12 04:29] ducdhm commented on #3357
Done!

[2017-06-12 04:29] #3357 closed

[2017-06-12 04:34] paddyow commented on #3367
Tried again but the updated template are not showing
Also I installed K Theme, but could not select it under manage themes, got error:

Could not enable all dependencies. These failed: user-lib

[2017-06-12 04:56] ducdhm commented on #3310
Done!

[2017-06-12 04:56] #3310 closed

[2017-06-12 04:56] #3299 closed

[2017-06-12 05:08] ducdhm commented on #3368
Already fixed. Need to deploy!

[2017-06-12 08:21] paddyow opened #3371 "Make K Theme the default theme upon account creation"
At the moment I have to for the demo:

1) Create website
2) Go to marketplace via website and install reward APP
3) Go back to the website management
4) Go to marketplace via website and install K theme
5) Go back to website management
6) Open themes and select K Theme
7) ...

[2017-06-12 08:23] #3371 closed

[2017-06-12 09:15] ducdhm commented on #3367
@bradmac I deployed the latest version of rewardstore-lib is 1.0.7 but in my test account, it's always available only version 1.0.0 for rewardstore-lib. You can check my admin console in AU at http://duc-test.admin.kademi.com.au/websites/duc-test-bs/version1/#panel_apps-tab

[2017-06-12 09:48] mkhoudary commented on #3363
This is done

[2017-06-12 09:48] mkhoudary commented on #3363
@bradmac Waiting deployment for testing

[2017-06-12 10:05] ducdhm commented on #3343
Done!

[2017-06-12 10:05] #3343 closed

[2017-06-12 10:20] mkhoudary commented on #3277
Fixed..

[2017-06-12 10:23] mkhoudary commented on #3362
Will need to do the following:
1- Create cancel lead node.
2- Remove the newly created ending status field.
3- Let end lead node not to sent the cancelled flag.
4- Modify leadman screens to show cancelled/successful.
5- Modify insured flows to feature the new node.

[2017-06-12 12:05] mkhoudary commented on #3362
Done..

[2017-06-12 14:33] mkhoudary commented on #2774
Fixed that, this is my first time using App Indexers, @bradmac I'd appreciate a code review

[2017-06-12 20:40] mkhoudary commented on #2774
Done

[2017-06-12 22:24] bradmac opened #3372 "Automate reward store configuration"

[2017-06-13 01:25] tuzzmaniandevil opened #3373 "Move User Importer to the new TableUploader Framework"

[2017-06-13 03:06] #3372 closed

[2017-06-13 04:01] hoanglinhlan opened #3374 "reward store: should use the product base cost if none is entered on the SKU"
in the case SKU base cost is 0, we should use the product base cost

[2017-06-13 04:04] bradmac commented on #3374
No, if the SKU cost is zero then we need to use zero.

Only if the SKU cost is blank we should use the product base cost

[2017-06-13 04:05] paddyow opened #3375 "Demo creation issues"
Should we set the roles on the group for Redeemer and content viewer by default?

Should we create a website already linked to the group?

Import products goes to page not found http://testreward5.admin.kademi-prod.com/products/upload

Product images are not uploading, i.e. the cannot be found  http://testreward5.admin.kademi-prod.com/products/breville-blender/#panel_details-tab

Could not find th

[2017-06-13 05:35] bradmac commented on #3375
Mostly done. Still need to sort out images ( @tuzzmaniandevil ?) and link the group to the website

[2017-06-13 08:36] ducdhm commented on #2818
Done!

[2017-06-13 08:36] #2818 closed

[2017-06-13 09:01] mkhoudary opened #3376 "Dropzone is being initialized twice"
In Leadman Profile, Dropzone is being initialized twice, that prevents profile avatar from being set successfully.

[2017-06-13 09:58] tannguyen3489 opened #3377 "Error when edit storeCategory Ecom in Keditor"
![image](https://user-images.githubusercontent.com/1665005/27077223-882a772a-5059-11e7-9a9b-2edffc526738.png)

[2017-06-13 10:35] mkhoudary commented on #3376
Tested

[2017-06-13 10:35] #3376 closed

[2017-06-13 12:18] mkhoudary commented on #3361
Done..
Avatar can be changed from both view profile and view lead pages..
Additionally avatar now appear at the header of the lead and lead profile:

![image](https://user-images.githubusercontent.com/3704174/27081951-761a26a6-504b-11e7-90e0-46d5bc78b3e6.png)

![image](https://user-images.githubusercontent.com/3704174/27081957-82b314b8-504b-11e7-9840-82651998f298.png)

[2017-06-13 20:21] bradmac commented on #3377
Let me know if you need a hand.

[2017-06-13 20:22] bradmac commented on #3361
Nice!

[2017-06-13 21:24] bradmac commented on #3375
Now adding the group to the website when the rewardstore app is enabled. Also fixed image cropping

[2017-06-13 21:24] #3375 closed

[2017-06-14 00:38] tuzzmaniandevil opened #3378 "Table Uploaders: Be able to save configuration"
This should save any options provided by the app and also the field mappings.

[2017-06-14 02:36] bradmac opened #3379 "Do not show analytics links for hidden funnels"
![image](https://user-images.githubusercontent.com/826458/27113058-d101558a-510e-11e7-934e-5586ce99fc63.png)

[2017-06-14 02:46] bradmac opened #3380 "Integrate leadman analytics page with common date selector"
Eg, see http://itsinsuredqa-crm.kademi.com.au/analytics/acquisition

Where we show active leads this will not be affected by date range. The date range should only apply to leads completed in the specified date range
- closed deals in the funnel
- the histogram and circles in the left hand panel

![image](https://user-images.githubusercontent.com/826458/27113218-b88124bc-510f-11e7-98f5-17949f84028

[2017-06-14 02:48] #3352 closed

[2017-06-14 02:55] #3367 closed

[2017-06-14 02:58] bradmac opened #3381 "Remove bs335 assets from marketplace libs"
Many of our marketplace apps and themes are still referencing assets from the bootstrap338 directory

These assets should be moved into the marketplace, possibly as part of bootstrap-base

[2017-06-14 03:51] hoanglinhlan commented on #2448
current, I cant import profile with more than one group
https://lan-test.admin.kademi-prod.com/tableUploaders/usersUploader

![image](https://user-images.githubusercontent.com/20508726/27114683-70bd61ba-50ef-11e7-9b05-9ccba4736e13.png)

[users-lanTest-au.xlsx](https://github.com/Kademi/kademi-dev/files/1073466/users-lanTest-au.xlsx)

[2017-06-14 04:04] hoanglinhlan opened #3382 "user importer: showing incorrect Number with errors"
https://lan-test.admin.kademi-prod.com/tableUploaders/usersUploader

at complete step, the system showing Number with errors is 12 but error file is just showing 6 record
![image](https://user-images.githubusercontent.com/20508726/27114932-4d15d0b0-50f1-11e7-978e-fa595b3195b4.png)

[users-lanTest-au.xlsx](https://github.com/Kademi/kademi-dev/files/1073487/users-lanTest-au.xlsx)

[users-lanTest-au

[2017-06-14 04:15] ducdhm opened #3383 "Height option for Carousel component"

[2017-06-14 04:19] bradmac opened #3384 "Menu editor: option to control visibility of menu items by group"
We would like to be able to choose whether menu items are shown
- for all users
- for anonymous users only
- for users in a specified group only

![image](https://user-images.githubusercontent.com/826458/27115214-44a068f6-511d-11e7-85da-2a49f5ffae0e.png)

[2017-06-14 04:36] bradmac commented on #3384
I've changed the "hidden" propertly on MenuConfigItem to be string, so i suggest we use values
- blank or "false" visible for all users
- "true" not visible for any user
- "anon" - only visible for not logged in users
- [group name] - only visible for a specific group

[2017-06-14 04:37] hoanglinhlan commented on #3361
hi @mkhoudary
where can I change lead's avatar in lead page and profile page
![image](https://user-images.githubusercontent.com/20508726/27115568-c19b6b12-50f5-11e7-9e1b-c6e5de17b130.png)

[2017-06-14 04:38] mkhoudary commented on #3361
@hoanglinhlan please try this at the http://kademi-prod.com/ it's not deployed to production yet

[2017-06-14 07:45] hoanglinhlan opened #3385 "Manage application page: Button is disapear after I click to change status"
http://lantest1.admin.kademi-prod.com/manageApps/#installed-tab

![image](https://user-images.githubusercontent.com/20508726/27121084-25737f2a-5110-11e7-9b0c-fa3c7df33769.png)

[2017-06-14 08:54] ducdhm commented on #3383
Done!

[2017-06-14 08:54] #3383 closed

[2017-06-14 09:05] mkhoudary commented on #3379
Done..

[2017-06-14 09:10] hoanglinhlan opened #3386 "Cant save category without Multiplier"
hi @bradmac
http://lantest1.admin.kademi-prod.com/categories/Samsung-PC/#general-tab
I cant save this category without Multiplier
is it a mandatory field???

[2017-06-14 09:56] mkhoudary opened #3387 "dateRange component doesn't work well on leadman-theme"
When using dateRange in leadman-theme the range button shows.. but when clicking on the button nothing shows up:

![image](https://user-images.githubusercontent.com/3704174/27126636-c8568b8e-5100-11e7-8a0c-82b232ff3199.png)

Initially this might be because the div.dropdown doesn't get an open class when the picker is toggled.

[2017-06-14 10:01] mkhoudary commented on #3387
https://github.com/Kademi/kademi-dev/issues/3380

[2017-06-14 10:38] mkhoudary commented on #3387
Done..

[2017-06-14 10:38] #3387 closed

[2017-06-14 10:44] #2645 closed

[2017-06-14 13:37] mkhoudary commented on #3380
This is done..

[2017-06-14 17:09] ducdhm commented on #3384
Done! @bradmac Can you add backend stuff to handle other values of "hidden" property?