[2017-10-02 03:10] bradmac commented on #4027
I've added methods to ControllerMappingBuilder to allow specifying resource types for custom app resources.

Eg - using addType
[code]

[2017-10-02 03:10] gonzalon opened #4029 "rewards lib dependencies problem"
I created a website, enabled the rewards lib and getting this:

competitionPage.js:14 Uncaught TypeError: $(...).mupload is not a function
    at HTMLDocument.<anonymous> (competitionPage.js:14)
    at fire (jquery-1.11.0.js:3099)
    at Object.fireWith [as resolveWith] (jquery-1.11.0.js:3211)
    at Function.ready (jquery-1.11.0.js:3423)
    at HTMLDocument.completed (jquery-1.11.0.js:3453)

This

[2017-10-02 03:13] #4029 closed

[2017-10-02 03:38] gonzalon opened #4030 "Top Balances component query not working"

[2017-10-02 03:40] gonzalon commented on #4030
To test
-create a website
-enable the reward store app
-add the Top Balances

[2017-10-02 04:32] anhnt opened #4031 "Rotatable card component"
For travelworld http://travelworld.co.nz/featured/experts/

[2017-10-02 05:03] bradmac commented on #4031
Guys, i actually think this is really poor UI, lets not make an effort to reproduce it

Instead, lets just have the contact details under the photo, as part of the panel

[2017-10-02 05:06] anhnt commented on #4031
ok will close now

[2017-10-02 05:06] #4031 closed

[2017-10-02 06:07] anhnt opened #4032 "Duplicating a container will have new container with components that have the same IDs"
![image](https://user-images.githubusercontent.com/735555/31065832-857c66a8-a772-11e7-8b46-28e63200c5e2.png)

It does show on first 2 block but not show when edit 3rd block

http://travelworld.admin.kademi.com.au/blogs/featured/experts/#bodyCopy-tab

[2017-10-02 06:08] ducdhm commented on #4024
@paddyow Which theme are you using? And which component are not changed after you change border-radius?

Note: value should be `5px` not only `5`

[2017-10-02 06:17] bradmac commented on #4024
hey @paddyow can you give a link to this page?

[2017-10-02 06:56] AlaaKhalaf94 commented on #3978
These have passed

[2017-10-02 06:56] #3978 closed

[2017-10-02 07:15] ducdhm commented on #4024
Note: Need to fix the way K-theme override `.btn` class. At the moment, it forces `.btn` has `border-radius: 0`

[2017-10-02 07:17] ducdhm commented on #4021
As discussed with @bradmac

[code]

[2017-10-02 07:18] ducdhm commented on #4022
As discussed with @bradmac:
 * Has limited number of tiles for each tile components
 * Size option with user-friendly names: Small, Medium, Large and Full-width

Note: no layout option because it's tile component and its layout is tile

[2017-10-02 07:45] bradmac opened #4033 "Incorrect webm video URL being built"
This account:
http://3dn.admin.kademi.com.au/repositories/idhealth-training/version1/programs/prof/MH2/mod04/

This page:
http://version1.idhealth-training.kademi.com.au/programs//prof/MH2/mod04/pcommuincation-activities.html

Contains this video:
http://version1.idhealth-training.kademi.com.au/programs//prof/MH2/mod04/2-Positive%20Attitude.mp4

In firefox it renders correctly to HLS:
http://versi

[2017-10-02 07:49] paddyow opened #4034 "Learning Components"
Thoughts for eLearning components:

Options: Panels or List will vary how the modules are displayed

Panels:
- Options using check boxes to choose if CPD points, Reward points, Time, and Button is shown (can  very a minimal or detailed panel)
- Like reward store panels (Number of panels, panels per row)

When Lists is selected:
- No options, just returns all modules in the chosen course

General:

[2017-10-02 07:51] Uafinder opened #4035 "Backup/Restore issue"
http://vlad-test.admin.kademi-prod.com
I've created a backup here, and restore it here:
http://vlad-test.admin.kademi-ci.co/

As a result, all client sites are empty. After investigation we discovered that there is no template /theme/defaultThemeTemplate.html and http://vlad-test.admin.kademi-ci.co/repositories/bootstrap-base/1.4.1 is empty at all.

[2017-10-02 07:59] Uafinder opened #4036 "Journey creation bug - title empty"
http://vlad-test6.admin.kademi-ci.co/funnels/journeyqa01/version1/#properties-tab
when you create a journey, you've entering it's title, but when you're redirecting to it's properties - title field is empty.
![image](https://user-images.githubusercontent.com/1945230/31068470-cb6c5720-a760-11e7-9aeb-631d584e7372.png)

[2017-10-02 08:14] AlaaKhalaf94 commented on #4002
Hi @gonzalon , I see the selecting website as filter is set , but what is these numbers ?
http://alaa-test1.admin.kademi-ci.co/reporting/esWebsiteAccess?startDate=26%2F09%2F2017&finishDate=02%2F10%2F2017

![capture1](https://user-images.githubusercontent.com/26510030/31068796-467be3d0-a762-11e7-9cdd-c70b34301128.PNG)

[2017-10-02 08:17] Uafinder commented on #3983
![image](https://user-images.githubusercontent.com/1945230/31068996-27ace8ea-a763-11e7-86b0-5733e74605e6.png)
http://vlad-test6.admin.kademi-ci.co
http://version1.vladqa6-kcrm.kademi-ci.co/dashboard

[2017-10-02 08:22] Uafinder commented on #3954
Looks ok at the moment

[2017-10-02 08:22] #3954 closed

[2017-10-02 08:34] Uafinder opened #4037 "KCRM: required extra field problem when creating lead"
http://vlad-test6.admin.kademi-ci.co/funnels/journeyqa01/version1/#properties-tab
I've some extra field which has required mark.
![image](https://user-images.githubusercontent.com/1945230/31069396-fb53e2ec-a764-11e7-9adc-d900bd866a57.png)

When create a lead you could miss extra fields tab, and push save. There is a required fields validation works, but no targeting which extra field is not filled

[2017-10-02 08:39] AlaaKhalaf94 commented on #3962
paeesd

[2017-10-02 08:39] #3962 closed

[2017-10-02 08:48] Uafinder opened #4038 "KCRM: Leads are not appearing after creation without page refresh"
I create a lead but it doesn't appears in list without refresh
![image](https://user-images.githubusercontent.com/1945230/31069983-6650ad94-a767-11e7-8fe9-06d630fe8791.png)
![image](https://user-images.githubusercontent.com/1945230/31070016-776943ac-a767-11e7-9308-e58f11cf0bba.png)

http://version1.vladqa6-kcrm.kademi-ci.co/leads/?query=&leadType=active
http://vlad-test6.admin.kademi-ci.co/funnels

[2017-10-02 08:57] Uafinder opened #4039 "Manage promotions terminology"
![image](https://user-images.githubusercontent.com/1945230/31070398-d4570742-a768-11e7-886f-96149d51d904.png)

Should be the same terminology to avoid distracting users and admins.

[2017-10-02 09:43] AlaaKhalaf94 commented on #3905
passed

[2017-10-02 09:43] #3905 closed

[2017-10-02 10:04] Uafinder opened #4040 "Points balance stats side menu bug"
When you're on Points Statements page, side menu collapsing and doesn't highlight menu link.
![image](https://user-images.githubusercontent.com/1945230/31072805-2393c922-a772-11e7-89d6-bb7c3072ed54.png)
![image](https://user-images.githubusercontent.com/1945230/31072809-29b9c7fc-a772-11e7-80df-9cf16c2447dd.png)

[2017-10-02 10:30] Uafinder opened #4041 "When website search app is not enabled front-end error appears"
![image](https://user-images.githubusercontent.com/1945230/31073431-7998e332-a774-11e7-86e9-e562c6a4e42c.png)
http://vladqa6-promo.kademi-ci.co/vladreward1/
http://vlad-test6.admin.kademi-ci.co/websites/vladqa6-promo/version1/#panel_apps-tab

[2017-10-02 10:40] AlaaKhalaf94 commented on #3788
passed

[2017-10-02 10:40] #3788 closed

[2017-10-02 10:40] AlaaKhalaf94 commented on #3786
passed

[2017-10-02 10:40] #3786 closed

[2017-10-02 10:47] Uafinder opened #4042 "Incorrect number of products when add them to reward store"
![image](https://user-images.githubusercontent.com/1945230/31074188-1694cba8-a778-11e7-83f9-e3d067e6b327.png)
95 records - it's a total amount of all products, no matter of added or not.
http://vlad-test6.admin.kademi-ci.co/reward-store/vladreward1/?addProducts

[2017-10-02 10:55] #3775 closed

[2017-10-02 11:04] Uafinder commented on #4015
Not sure if there should be load more button when no products appears by filter
![image](https://user-images.githubusercontent.com/1945230/31074424-4c690388-a779-11e7-91d2-2429f1b334a0.png)

Search working poor... e.g. If i want to find Product0* it doesn't find anything, but if i enter an exact product title - it finds product successfully.
![image](https://user-images.githubusercontent.com/19452

[2017-10-02 11:51] Uafinder commented on #3979
as you wish, however leads page looks poor at the moment and leads tab on the journey page looks better... this page need to be improved, so moving to separate issue...

[2017-10-02 11:51] #3979 closed

[2017-10-02 11:53] Uafinder opened #4043 "Improve main leads page"
http://vlad-test6.admin.kademi-ci.co/leads/
Looks poor at the moment.
As a result of https://github.com/Kademi/kademi-dev/issues/3979

[2017-10-02 12:11] Uafinder opened #4044 "Award point records appears twice"
![image](https://user-images.githubusercontent.com/1945230/31076493-0580930a-a783-11e7-9e13-0d4c8841dc6c.png)
When issued date specified, second record appears with it, when issued date is not specified, both records has similar issued dates.
http://vlad-test6.admin.kademi-ci.co/rewards/points/
![image](https://user-images.githubusercontent.com/1945230/31076658-ff4d5db4-a783-11e7-919e-3f763ff4907b

[2017-10-02 12:39] Uafinder opened #4045 "Add new translation validation problem"
When you try to submit new translation, and missed some field, validation works ok (all necessary fields highlighed), but modal window closing.
![image](https://user-images.githubusercontent.com/1945230/31077570-ab5d1fe2-a787-11e7-84ce-d83967d47e9a.png)
Trying to open it again cause opening already filled form with worked validation.

[2017-10-02 13:15] Uafinder opened #4046 "Add translation error"
![image](https://user-images.githubusercontent.com/1945230/31079039-07ab6650-a78d-11e7-98ce-1a71df3875e7.png)

![image](https://user-images.githubusercontent.com/1945230/31078987-d447e0a4-a78c-11e7-9f60-2ab3a83c04a2.png)
http://vladqa6-promo.kademi-ci.co/vladreward1/
http://vlad-test6.admin.kademi-ci.co

[2017-10-02 13:34] Uafinder commented on #3969
yup, works ok!

[2017-10-02 13:37] AlaaKhalaf94 commented on #3740
passed

[2017-10-02 13:37] #3740 closed

[2017-10-02 13:41] Uafinder commented on #3966
![image](https://user-images.githubusercontent.com/1945230/31079925-f0304998-a78f-11e7-81ec-d519a158badc.png)
![image](https://user-images.githubusercontent.com/1945230/31079938-f88ef15c-a78f-11e7-9803-cac51e99afd1.png)
![image](https://user-images.githubusercontent.com/1945230/31079964-0ca57206-a790-11e7-9551-3903f31cde6e.png)
After re-index
![image](https://user-images.githubusercontent.com/1945

[2017-10-02 14:07] Uafinder commented on #3965
It looks ok at the moment

[2017-10-02 15:59] ducdhm commented on #4015
@Uafinder Can you provide me link to check?

[2017-10-02 20:42] bradmac commented on #4041
@tuzzmaniandevil can you investigate

[2017-10-02 20:44] bradmac commented on #4043
:+1:

[2017-10-02 21:18] tuzzmaniandevil commented on #4019
I've changed the timeout on nginx to 30 minutes

[2017-10-02 21:38] tuzzmaniandevil commented on #4041
@Uafinder I can't re-produce, I had the website search app turned on and off. If you can reproduce it can you please provide the steps to do so?

[2017-10-02 21:40] bradmac commented on #4015
I think Vlad is right that the "load more" button should be hidden when there's no more results

[2017-10-02 21:47] bradmac commented on #3966
Please provide a link to your site and admin account

[2017-10-02 22:19] gonzalon commented on #3814
Couldn't  reproduce it. Any indications?

[2017-10-02 23:17] gonzalon commented on #4002
@AlaaKhalaf94 that number should be the same as the hits, fixed now :)

![image](https://user-images.githubusercontent.com/2773216/31103700-d99d4910-a834-11e7-87be-f0168205ecd5.png)

[2017-10-02 23:19] gonzalon commented on #3990
@bradmac should I close this?

[2017-10-02 23:20] gonzalon commented on #4001
@bradmac should I close this?

[2017-10-02 23:34] #3990 closed

[2017-10-02 23:55] bradmac commented on #3814
Example URL - http://localhost:8080/sales/bosch-sales/kpis/monthly-trade-sales/?period=6#results-tab

![image](https://user-images.githubusercontent.com/826458/31104530-fd4e34a0-a839-11e7-8b1d-ad0c9dd159e7.png)

But this period does require reward processing:

![image](https://user-images.githubusercontent.com/826458/31104537-149ffca6-a83a-11e7-909c-e85bf1159ae8.png)

[2017-10-02 23:58] tuzzmaniandevil commented on #4044
Tested locally and couldn't reproduce, Then found this allocation rule on the account:
http://vlad-test6.admin.kademi-ci.co/points-rules/rule1#general-tab

That's why they are being awarded twice :-)

[2017-10-03 00:03] bradmac opened #4047 "Only show appropriate templates in new page modal"
Currently, the new page modal shows a list of all templates in the system, which includes templates that are not appropriate for content pages. Such as the template for a profile page:

![image](https://user-images.githubusercontent.com/826458/31104749-3ba98884-a83b-11e7-8c1e-8e3ff044e9f0.png)

This list should be filtered to only show templates appropriate for content pages, and should default to

[2017-10-03 01:32] paddyow commented on #4034
@ducdhm  I have sent you the artwork via wetransfer.

Module picker - fix up the module picker based on artwork

**Module Tile Component**
We have different use cases where we want a big minimal hero tile on the dashboard vs. a list of tiles on the my learning page that have more detail, so looking to create a configurable tile component.

- Show panel with button
- Show time
- Show reward points

[2017-10-03 01:36] paddyow opened #4048 "Promotion components"
Need a component to show promotions.

Two types:
- Promotion tile
- Hero promotion tile

Like we created for Bosch, there are 3 states of promotions active, winner pending and closed.

For the hero tile, it would be great if the title font could scale based on the size of the title, for example a large promotion tile would use a H2.

![image](https://user-images.githubusercontent.com/2201340/31106

[2017-10-03 01:52] tuzzmaniandevil commented on #4042
Should be sorted now :-)

[2017-10-03 01:54] tuzzmaniandevil commented on #4035
Did you select "Yes" for "Transfer content from a remote server" ?

As you are going between servers you need to do this and provide the correct details to be able to fetch the files

[2017-10-03 02:05] tuzzmaniandevil commented on #3985
All that modal does is show any existing images on the Product

@ducdhm Can you add a button to the modal to be able to manually upload an image? Like the upload button if no image is selected

[2017-10-03 02:10] paddyow opened #4049 "Module Quiz page"
Need to update the module quiz page in Keditor:

- The current page layout is very disjointed
- The quiz component needs to be separate from the quiz page title where the title is an editable text area
- The quiz component can be dropped into a container of choice

PSD file: [Component - module quiz.zip](https://github.com/Kademi/kademi-dev/files/1350935/Component.-.module.quiz.zip)

![image](http

[2017-10-03 02:18] bradmac commented on #3985
Just to confirm, when clicking an image, display a modal with
- an image upload button
- list of images attached to the product

The user should then be able to upload a new image or select an image from the product.

It might be nice to replace the current button group with just showing this modal.

[2017-10-03 02:20] bradmac commented on #4049
I think this isnt critical for demos, lets look at it again in a later milestone

[2017-10-03 03:29] bradmac commented on #4027
Have applied an update which should now correctly locate component resources

[2017-10-03 03:40] bradmac opened #4050 "Improve manage scheduled emails"

[2017-10-03 04:22] bradmac commented on #4050
New list page UI

![image](https://user-images.githubusercontent.com/826458/31109846-188c04a2-a85f-11e7-8214-e9b91fefde87.png)

New detail page UI

![image](https://user-images.githubusercontent.com/826458/31109899-77f0f18c-a85f-11e7-9e8a-bbb504e6009d.png)

[2017-10-03 04:24] bradmac commented on #4006
hey @Uafinder I'm closing because the problem related to this issue is fixed.

If there is another issue with editor initialisation, please create another issue for that.

[2017-10-03 04:24] #4006 closed

[2017-10-03 04:30] bradmac commented on #3983
Aha, it was in 2 places :)

[2017-10-03 04:32] #3746 closed

[2017-10-03 04:34] #3547 closed

[2017-10-03 04:44] ducdhm commented on #4021
Done!

[2017-10-03 05:19] bradmac commented on #3307
New UI allows searching market place by apps or themes

![image](https://user-images.githubusercontent.com/826458/31111002-5882f888-a867-11e7-8dac-800eb1232836.png)

[2017-10-03 05:20] bradmac commented on #3307
And website manager has updated UI on the theme tab:
![image](https://user-images.githubusercontent.com/826458/31111020-7ac3bc16-a867-11e7-8566-0363c1ff4009.png)

By going to the marketplace from here, and selecting a theme it is automatically installed and selected as the website theme

[2017-10-03 05:59] ducdhm commented on #4022
Done!

[2017-10-03 07:12] AlaaKhalaf94 commented on #4002
passed

[2017-10-03 07:12] #4002 closed

[2017-10-03 07:35] AlaaKhalaf94 commented on #2134
passed

[2017-10-03 07:35] #2134 closed

[2017-10-03 07:46] AlaaKhalaf94 commented on #3442
passed

[2017-10-03 07:46] #3442 closed

[2017-10-03 07:59] Uafinder commented on #4044
Ooops, my mistake...
I've delete points allocation rule, and it's begin to award once, but why pop-up appears twice?
![image](https://user-images.githubusercontent.com/1945230/31115114-b6b8b00c-a829-11e7-99fc-38fcc90d3d1c.png)

http://vlad-test6.admin.kademi-ci.co/rewards/points/
adminqa@mailinator.com

[2017-10-03 08:13] AlaaKhalaf94 commented on #3535
passed

[2017-10-03 08:13] #3535 closed

[2017-10-03 08:23] Uafinder opened #4051 "Doubling success pop-up messages bug"
http://vlad-test6.admin.kademi-ci.co/rewards/points/
adminqa@mailinator.com

Awarding or debiting points cause success pop-up messages fired twice.
![image](https://user-images.githubusercontent.com/1945230/31116028-37ccc806-a82d-11e7-9b68-ce3fddbdf2aa.png)
![image](https://user-images.githubusercontent.com/1945230/31116036-3b568b38-a82d-11e7-9fa4-6ba8d95c1769.png)

[2017-10-03 08:23] Uafinder commented on #4044
moved to separate issue
https://github.com/Kademi/kademi-dev/issues/4051

[2017-10-03 08:23] #4044 closed

[2017-10-03 08:48] Uafinder commented on #4050
![image](https://user-images.githubusercontent.com/1945230/31116942-9ff8b540-a830-11e7-80ef-24f3c91593c0.png)
http://vlad-test6.admin.kademi-ci.co/scheduledEmails/scheduledqa02
adminqa@mailinator.com (user is necessary)

[2017-10-03 08:57] #3680 closed

[2017-10-03 09:06] Uafinder opened #4052 "Removing products from reward store cause bugs"
http://vlad-test6.admin.kademi-ci.co/reward-store/vladreward1/#products-tab
adminqa@mailinator.com
![image](https://user-images.githubusercontent.com/1945230/31117519-ce6142b0-a832-11e7-9164-c5b52bb58c18.png)
1. Check some products and choose RemoveSelected
2. See some different pop-ups appears

1. Check some products and choose RemoveSelected
2. Products removed but checkboxes remain on the place

[2017-10-03 10:05] ducdhm commented on #4023
Done!

[2017-10-03 10:23] Uafinder commented on #4042
Yup, looks ok at the moment

[2017-10-03 10:23] #4042 closed

[2017-10-03 10:27] AlaaKhalaf94 commented on #4030
Hi @gonzalon , I have a question for you

When I add Top Balances component and select "site1-points2" points bucket from settings
data in this page : http://alaa-test1.admin.kademi-ci.co/rewards/points/ that related to "site1-points2" points bucket will appear in point Balance table in the site ?

If no , can you guide me to which data will appear in point Balance table in the site ?
this is admi

[2017-10-03 10:33] bradmac commented on #4030
Currently the component says "no matching participants"

![image](https://user-images.githubusercontent.com/826458/31121009-06ea5d64-a893-11e7-9eaa-4afe5c07d5b5.png)

This is probably because no user groups have been assigned to the points bucket:
![image](https://user-images.githubusercontent.com/826458/31121046-2db7b450-a893-11e7-9215-6a8719062c34.png)

http://alaa-test1.admin.kademi-ci.co/point

[2017-10-03 11:08] Uafinder commented on #4041
![image](https://user-images.githubusercontent.com/1945230/31122162-736eef0e-a843-11e7-8071-3901e5f5b923.png)

I was able to reproduce it on the fresh account:
1. Create an account http://vlad-test7.admin.kademi-ci.co
2. Create admin user
3. Create a website and give access to admins
4. Enable global apps: products, rewards, reward store
4. Create several products
5. Create points bucket (reward)

[2017-10-03 11:13] AlaaKhalaf94 commented on #4030
I  assign a user group to the points bucket , and still nothing appears in point balance table
http://alaa-test1.admin.kademi-ci.co/points-buckets/

![capture1](https://user-images.githubusercontent.com/26510030/31122570-0b908f6c-a845-11e7-902c-0f0e2a4366c2.PNG)

[2017-10-03 11:21] Uafinder commented on #4035
No, i've use local file. I've not tested online restore between two servers, just a simple file backup.

[2017-10-03 11:28] Uafinder commented on #4047
Looks filtered at the moment

[2017-10-03 11:28] #4047 closed

[2017-10-03 11:37] Uafinder commented on #4019
Yeap, creating works ok.
But deleting still failed.
You could try to delete vlad-test8 or vlad-test3,4,5 organisations from rootorg.
http://rootorg.admin.kademi-ci.co/organisations/
vlad@kademi.co

[2017-10-03 12:16] AlaaKhalaf94 commented on #3872
passed

[2017-10-03 12:16] #3872 closed

[2017-10-03 12:29] Uafinder commented on #4015
@ducdhm  this link was actual yesterday.
vladqa6-promo.kademi-ci.co/vladreward1/
http://vlad-test6.admin.kademi-ci.co
userqa05@mailinator.com

I've created a fresh account
vlad8-promo.kademi-ci.co
http://vlad-test8.admin.kademi-ci.co
adminqa@mailinator.com
![image](https://user-images.githubusercontent.com/1945230/31124947-394d0f66-a84f-11e7-9fec-af9647243f58.png)
![image](https://user-images.gith

[2017-10-03 12:35] Uafinder commented on #4011
yeap, works ok

[2017-10-03 12:35] #4011 closed

[2017-10-03 12:38] Uafinder opened #4053 "Vouchers search doesn't reset to default values"
![image](https://user-images.githubusercontent.com/1945230/31125312-907eedee-a850-11e7-9fd1-3ef906ea4a16.png)
Selected button does nothing, but should reset all search filters to default (empty).
http://vlad-test.admin.kademi-ci.co/vouchers
adminqa@mailinator.com

[2017-10-03 12:47] AlaaKhalaf94 commented on #3836
Hi @gonzalon , How can I test ?

[2017-10-03 13:14] Uafinder commented on #3983
Yeap, works ok

[2017-10-03 13:14] #3983 closed

[2017-10-03 13:33] Uafinder commented on #3966
Created a fresh account
http://vlad-test8.admin.kademi-ci.co
http://vlad8-kcrm.kademi-ci.co
adminqa@mailinator.com

1. I've created a lead, by entering all necessary data and provide company name as well
2. It does not appears in companies list http://vlad8-kcrm.kademi-ci.co/companies/
![image](https://user-images.githubusercontent.com/1945230/31127173-bef11f0c-a856-11e7-9400-873c784b7c9c.png)
3.

[2017-10-03 13:49] Uafinder commented on #3925
yeap, works fine!

[2017-10-03 13:49] #3925 closed

[2017-10-03 20:22] tuzzmaniandevil commented on #4035
@Uafinder You still upload the backup json file, But because you are restoring a backup from a different server you need to fill in the remote server details otherwise it won't be able to get any of the blobs

[2017-10-03 20:23] bradmac commented on #4030
Yep, setup correctly but appears to not be working

[2017-10-03 20:26] tuzzmaniandevil commented on #4019
The error is: `Cannot delete an admin domain. Remove the admin domain first`

[2017-10-03 20:31] bradmac commented on #3836
Actually we can jsut close this for now

[2017-10-03 20:31] #3836 closed

[2017-10-03 20:33] bradmac commented on #4035
![image](https://user-images.githubusercontent.com/826458/31147678-1b628b00-a8e7-11e7-9aca-4094986fe8ef.png)

[2017-10-03 20:43] tuzzmaniandevil commented on #4041
Changed rewardstore-lib to depend on the search app. So the search app will be enabled by default now

[2017-10-03 20:46] gonzalon opened #4054 "points-buckets leaderboard wrong link"
![image](https://user-images.githubusercontent.com/2773216/31148310-dcaa28ee-a8e8-11e7-9873-7ae79e82a7b9.png)

[2017-10-03 21:17] tuzzmaniandevil commented on #4041
You will need to create a new account to test it.

[2017-10-03 21:19] tuzzmaniandevil commented on #4018
Needs to be enchanced.

Vouchers and Voucher Types should be part of it now though.

[2017-10-03 21:31] tuzzmaniandevil commented on #4010
Looks ok, I added 5000 vouchers. Must be fixed with the nginx change

[2017-10-03 22:02] bradmac commented on #4019
@Uafinder this error is correct, you cant delete an organisation which is an admin domain. If you want to, you first need to blank out the admin domain.

It would be nice to have a better error message for this situation, but in reality admin domains are very rarely deleted, and never by clients, so that is a low priority task.

[2017-10-03 22:39] #4054 closed

[2017-10-03 22:59] gonzalon commented on #4030
@AlaaKhalaf94
We have changed it, so it would show you the report based on your membership with the ReportingAccess role.

[2017-10-03 23:06] gonzalon commented on #4012
1. Fixed
2. Not showing the "Delete" option, the restore could be a future improvement
3. Fixed, and now it also reload in the same page.
4. Maybe another improvement

[2017-10-03 23:09] gonzalon commented on #4016
We are going to support formats like:
- comma for thousand separator
- dot for decimal separator
- having dollar euro pound simbols

Ex:
$1,000.50
1,000.50
1000.50

--
Updated code in
Leads Importer
Products Importer
Sales Importer

[2017-10-03 23:11] tuzzmaniandevil commented on #4004
There is now API available on the forums app.
[code]

[2017-10-03 23:12] tuzzmaniandevil commented on #4004
This requires a platform deploy

[2017-10-03 23:14] tuzzmaniandevil opened #4055 "Social Sharing: Stage 2 - Add support for LinkedIn"
Should be able to post to a LinkedIn business page

[2017-10-03 23:32] bradmac commented on #3966
Hey @Uafinder, I've fixed but please note a couple of things...

I've updated some libs so please retest with a fresh account to get those updates.

Always install apps from the market place, dont enable directly on the apps tab of website manager. We will soon make an update to the apps page to prevent directly enabling.

The reason is that when installing from the marketplace the app automatical

[2017-10-03 23:38] bradmac commented on #3966
Note that dashboard alerts tell you what changes were made in app initialisation

![image](https://user-images.githubusercontent.com/826458/31154010-c4b68724-a900-11e7-88cf-6c590e4f7cc5.png)

And you can verify settings from leadman app settings form:
![image](https://user-images.githubusercontent.com/826458/31154048-efb415ae-a900-11e7-8d28-6fe55bce5e66.png)

[2017-10-04 00:08] bradmac commented on #3768
related - https://github.com/Kademi/kademi-dev/issues/988

[2017-10-04 00:27] tuzzmaniandevil commented on #3643
Changed it so it will check if the user's home admin org is the current org.

[2017-10-04 01:01] paddyow opened #4056 "Polls do not show unless they have a group assigned"
Is this intended?  I thought no groups shows a content item to all end users?

Poll config:  http://paddy.admin.kademi-ci.co/kpoll/managePolls/poll-Tz2eKT5gdfWubF9YVQnIaIOTwS5gNbGC#groups-tab

Test with this user: http://paddy.admin.kademi-ci.co/manageUsers/101653/#summary-tab

[2017-10-04 01:12] paddyow commented on #4022
Number of modules does not work.  If I choose 2, it still shows all available modules.

User: http://paddy.admin.kademi-ci.co/manageUsers/101653/#summary-tab
Dashboard template http://paddy.admin.kademi-ci.co/pages/templates/version1/

![image](https://user-images.githubusercontent.com/2201340/31155887-339117a8-a8fd-11e7-9999-ab34828db4ca.png)

[2017-10-04 01:18] paddyow commented on #4023
Awesome!

[2017-10-04 01:18] #4023 closed

[2017-10-04 01:18] #4021 closed

[2017-10-04 01:41] bradmac commented on #4056
it doesnt need to be that way, but I think thats reasonable, because in reality there will always be a group selected.

[2017-10-04 01:45] tuzzmaniandevil commented on #4050
Fixed

[2017-10-04 02:37] bradmac opened #4057 "Reward store add products screen isnt working properly with parent product libraries"
Eg:
https://carters.admin.kademi.com.au/reward-store/trade-reward/?addProducts&q=&l=12198884&categoryName=[Any%20category]

![image](https://user-images.githubusercontent.com/826458/31157780-d1996362-a919-11e7-8964-c76f090db027.png)

Is missing this product:
https://carters.admin.kademi.com.au/products/80771422/#panel_details-tab

[2017-10-04 02:38] ducdhm commented on #4022
Fixed!

[2017-10-04 03:11] paddyow opened #4058 "KCRM company members showing 0 when they have linked profiles"
Search for 'Strategic Incentives' here http://kcrm.kademi.us/companies/

Says 0 should be 1

[2017-10-04 03:30] bradmac commented on #988
I've added the ability for custom apps to declare resources as collections, and associate them with a repository. The repo will be auto-created when needed.

Eg:

[code]

This then allows files to be uploaded via the _DAV gateway:

![screenshot from 2017-10-04 16-29-10](https://user-images.githubusercontent.com/826458/31158848-3315dc18-a921-11e7-9ce6-6436f12822a7.png)

And this is then uploaded to

[2017-10-04 03:32] bradmac commented on #988
And is also available as json via the ajax gateway:
![image](https://user-images.githubusercontent.com/826458/31158899-8dfb6c4c-a921-11e7-9fe7-560faae6d232.png)

[2017-10-04 06:14] Uafinder commented on #4053
YEap, works fine!

[2017-10-04 06:14] #4053 closed

[2017-10-04 07:03] Uafinder commented on #4050
Yeap, bug fixed.
One thing... members count does not count dynamic group members...
![image](https://user-images.githubusercontent.com/1945230/31163485-42542594-a8eb-11e7-96ca-51f1106a8a43.png)
http://vlad-test.admin.kademi-ci.co/scheduledEmails/scheduledqa06/
adminqa@mailinator.com

[2017-10-04 07:13] #4056 closed

[2017-10-04 07:14] anhnt opened #4059 "Button component should allow browse files and select from server like link addon in ckeditor"

[2017-10-04 07:22] Uafinder opened #4060 "Delete organisation which has admin domain specified enhancement"
![image](https://user-images.githubusercontent.com/1945230/31163921-7e65a51a-a8ed-11e7-8985-89ae098eee47.png)

this error is correct, you cant delete an organisation which is an admin domain. If you want to, you first need to blank out the admin domain.

It would be nice to have a better error message for this situation, but in reality admin domains are very rarely deleted, and never by clients, s

[2017-10-04 07:40] AlaaKhalaf94 commented on #4030
Hi @gonzalon , This worked with me
But I cant see the point balance to organisation

Here , in point bucket setting I select "Points go to user's organisation"
http://alaa-test1.admin.kademi-ci.co/points-buckets/site1-points2/?startDate=02%2F10%2F2017&finishDate=04%2F10%2F2017&dataQuery=&startPos=0#details-tab

Then I've converted points to organization
http://alaa-test1.admin.kademi-ci.co/rewards

[2017-10-04 07:51] bradmac commented on #4030
hi @AlaaKhalaf94, after a configuration change like that you'll need to reindex organisations and profiles

please reindex and then check again

[2017-10-04 07:51] bradmac commented on #4059
This uses webdav browsing. We may need to change the underlying framework to allow apps to provide a list of resources in a sensible way

[2017-10-04 07:54] AlaaKhalaf94 commented on #4030
That works with me well , Thanks @bradmac

[2017-10-04 07:54] #4030 closed

[2017-10-04 08:00] Uafinder commented on #4019
Moved to separate issue...
https://github.com/Kademi/kademi-dev/issues/4060

[2017-10-04 08:00] #4019 closed

[2017-10-04 08:38] Uafinder commented on #4041
Yeah, works ok...

[2017-10-04 08:38] #4041 closed

[2017-10-04 08:50] anhnt commented on #4032
I can see the problem. When duplicating a container to create new one, all components inside that container has the same ID. So keditor would not work properly ie init ckeditor inline

[2017-10-04 09:36] ducdhm commented on #4026
Done!

[2017-10-04 10:11] Uafinder commented on #4013
Looks like there is an error when create a voucher type which already exists in other accounts across the rootorg.
http://vlad-test9.admin.kademi-ci.co/voucher-type/
![image](https://user-images.githubusercontent.com/1945230/31170526-02397396-a905-11e7-800a-b92804e5f3f4.png)
http://vlad-test7.admin.kademi-ci.co/voucher-type/
![image](https://user-images.githubusercontent.com/1945230/31170636-7cdbe

[2017-10-04 10:17] mkhoudary commented on #3932
https://github.com/Kademi/client-gilpin-travelworld/issues/18

[2017-10-04 10:26] Uafinder commented on #4010
Yeap, looks ok at the moment.

[2017-10-04 10:26] #4010 closed

[2017-10-04 10:27] Uafinder commented on #4009
Yeap, works great

[2017-10-04 10:27] #4009 closed

[2017-10-04 10:48] Uafinder commented on #3966
Yeah, it works/
Thanks for detailed explanation

[2017-10-04 10:48] #3966 closed

[2017-10-04 10:55] Uafinder opened #4061 "Enabling KLeadman via Market place bugs"
![image](https://user-images.githubusercontent.com/1945230/31172135-fd7ca7fa-a90a-11e7-9319-a9d6a6880136.png)

1. I've create a fresh account http://vlad-test9.admin.kademi-ci.co/
2. Create a vlad9-kcrm site
3. Install app from marketplace (website page)
4. Go to dashboard and watch messages.
5. Second and third message have incorrect links.
6. Last message says that Journey is created, but link l

[2017-10-04 11:41] Uafinder commented on #3952
Yeap, works fine

[2017-10-04 11:41] #3952 closed

[2017-10-04 12:22] Uafinder opened #4062 "Import users mechanism performance"
Processing users file from specifying columns to begin import process step (from 3 to 4) takes 120 secs.
File contains ~4000 users.
![image](https://user-images.githubusercontent.com/1945230/31175051-8b7fe6f6-a916-11e7-92ef-d60fdde5c76f.png)
[users(4).txt](https://github.com/Kademi/kademi-dev/files/1355711/users.4.txt)
http://vlad-test9.admin.kademi-ci.co
adminqa@mailinator.com

Import process spe

[2017-10-04 13:01] AlaaKhalaf94 commented on #3834
Hi @gonzalon , How can I test ?

[2017-10-04 13:12] Uafinder commented on #3874
1. Pagination doesn't work. It shows all memberships at once.
![image](https://user-images.githubusercontent.com/1945230/31177242-1250d4a4-a91e-11e7-8348-04ed77eca519.png)
![image](https://user-images.githubusercontent.com/1945230/31177256-1cf1ea74-a91e-11e7-991b-c594fe0fcfe2.png)
http://vlad-test9.admin.kademi-ci.co/groups/DynaGroup1QA/members/
adminqa@mailinator.com

2. Upload CSV, Open Unsubscr

[2017-10-04 13:34] Uafinder commented on #3904
Numbers
"Less or equal" works like "Less" (it doesn't return value for "equal") - same
"Greater" works inproperly. It returns greater or equal values. (E.g. 29 > 29 return true which is wrong) - same

Text
"Equal" doesn't work
"Not equal" and "Not contain" works inproperly, just returning all entries.

http://vlad-test9.admin.kademi-ci.co/groups/DynaGroup2QA/
adminqa@mailinator.com

[2017-10-04 14:01] Uafinder commented on #3140
http://vlad-test9.admin.kademi-ci.co/organisations-es
adminqa@mailinator.com

1. When push remove button and forget to put checkboxes.
![image](https://user-images.githubusercontent.com/1945230/31179626-1d9f2750-a925-11e7-991d-64930750d005.png)

2. Default sorting is working but it is in incorrect direction e.g. Z-A, and it's case sensitive e.g. Upper characters and lower characters sorting differ

[2017-10-04 20:28] bradmac commented on #988
Actually that approach isnt going to work :(

[2017-10-04 20:29] #379 closed

[2017-10-04 20:32] bradmac commented on #3097
And perhaps we can remove this, instead rely on fields and dynamic queries?

[2017-10-04 20:45] #3254 closed

[2017-10-04 23:05] tuzzmaniandevil commented on #3616
Looks fine to me

[2017-10-04 23:15] bradmac commented on #988
--- Take 2 ---

[2017-10-04 23:20] bradmac commented on #988
OK, so we now have 3 new methods which allow representing a true hierarchy:
- .pathSegmentName('ksurvey')
- .pathSegmentResolver('surveyId', 'findSurvey')
- .child(..)

The 2 pathSegment methods allow you to specify that a controller resource should be located based on a single path segment only, rather then applying  regex to a path.

pathSegmentName just locates on exact text matching. pathSegme

[2017-10-04 23:40] paddyow opened #4063 "Unable to reorder menu items"
Cannot drag and drop into place.

http://moblix.admin.kademi-ci.co/pages/moblix-channel/version1/

Template http://moblix-channel.kademi-ci.co//theme/contenteditor?fileName=defaultThemeTemplate.html&miltonUserUrl=/users/patrick&miltonUserUrlHash=ac18e4c1-b5b5-4c8a-9ee8-e3dd0105877c:_IBNaP6AaWyM71gpND4Ztd4sleA

![image](https://user-images.githubusercontent.com/2201340/31204832-7ae99082-a9b9-11e7-9

[2017-10-05 00:17] paddyow opened #4064 "Create an auction title adds a hyphen"
When I enter an auction title like Fitbit Giveaway! - it add the name as fitbit-giveaway which is not allowed as hyphens are rejected.

1) either allow hyphens in the name (if we can)
2) or don't add hyphens in the auto name creation as the user types it

![image](https://user-images.githubusercontent.com/2201340/31205669-98b5c18a-a9be-11e7-9734-0a5a1d0cd66d.png)

http://moblix.admin.kademi-ci.co/

[2017-10-05 00:23] paddyow opened #4065 "Update auction panel"
This user http://moblix.admin.kademi-ci.co/manageUsers/152956/#summary-tab

Should show title and countdown.

![image](https://user-images.githubusercontent.com/2201340/31205812-8b2c5992-a9bf-11e7-8e86-a395b72d078c.png)

[2017-10-05 00:31] gonzalon commented on #3642
Please test in a new account, create a website and enable / disable lead man app multiple times, should only have one sales and leads group.

[2017-10-05 00:36] gonzalon commented on #3140
@Uafinder I cant reproduce the multiple messages for the delete. Can you please tell me how to reproduce this? Thanks

[2017-10-05 00:38] bradmac commented on #4064
hyphens should be allowed

[2017-10-05 00:39] #4063 closed

[2017-10-05 00:45] bradmac opened #4066 "Deleted tags are shown in blogPageTagsComponent"
![image](https://user-images.githubusercontent.com/826458/31206269-486e561e-a9d3-11e7-81c6-aabb72440e8c.png)

[2017-10-05 01:17] gonzalon commented on #3140
@anhnt could you please make the change to avoid the multiple messages in the delete validation?

[2017-10-05 01:22] #4066 closed

[2017-10-05 01:29] bradmac commented on #3768
related - https://github.com/Kademi/kademi-dev/issues/988

[2017-10-05 01:29] #3768 closed

[2017-10-05 01:32] #3661 closed

[2017-10-05 01:47] #4001 closed

[2017-10-05 02:02] gonzalon commented on #3834
@AlaaKhalaf94
1. First go to http://version56.kademi-www.kademi-ci.co/get-kademi.html and register
![image](https://user-images.githubusercontent.com/2773216/31207838-22d30b20-a9dd-11e7-9773-ab05f556238d.png)
2. This would create a new account
3. Go to the license page
![image](https://user-images.githubusercontent.com/2773216/31207914-9e39fa58-a9dd-11e7-80f9-acfeb0420e6c.png)
4. Click on the "Man

[2017-10-05 02:17] anhnt commented on #4004
worked great

[2017-10-05 02:17] #4004 closed

[2017-10-05 02:39] bradmac commented on #3904
"Less or equal" works like "Less"

Seems to work correctly to me.
- I have this user with birthdate 10/10/2007 - http://vlad-test9.admin.kademi-ci.co/manageUsers/136978/#general-tab
- I have a query setup for age=10
![image](https://user-images.githubusercontent.com/826458/31208652-0b61db5a-a9e3-11e7-9c22-fd4541af0dff.png)
http://vlad-test9.admin.kademi-ci.co/groups/brad-rule-test-01/

this query

[2017-10-05 02:52] tuzzmaniandevil commented on #4020
Backend done and basic front-end

[2017-10-05 02:53] tuzzmaniandevil commented on #4020
@anhnt or @ducdhm can you make it look awesome?

[2017-10-05 02:58] bradmac commented on #3904
I've found the opposite. A user which is returned for age = 10 is not returned (incorrectly) for age greater or equal 10, and also (correctly) not returned for greater then 10

[2017-10-05 03:17] bradmac commented on #3904
Fixed GTE with age field

[2017-10-05 03:27] bradmac commented on #3904
Problem appears to be that the query only works on lower case text. So we're now forcing the input text to lowercase, and that seems to fix this problem

[2017-10-05 03:34] bradmac commented on #3904
- "Not contain" wasnt implemented, is now.
- "Not equal" also needed lowercasing as above

[2017-10-05 03:38] bradmac commented on #3904
Should be fixed now

[2017-10-05 03:40] paddyow opened #4067 "Levels component"
When a level component is dropped into the dashboard:

- Have option to show or hide title of the level
- Title should be H3 (or configurable i.e. choose header size)
- If there is no level do not show a panel.  The user should be able to set a level of 0 and choose what image they want to show for it
- The level image should respond i.e. if it is bigger than the container is should respond (scale

[2017-10-05 04:14] gonzalon commented on #3513
Test with the latest leadman lib 1.3.7

[2017-10-05 04:18] gonzalon commented on #4046
@Uafinder just remember to choose one language in your profile.
![image](https://user-images.githubusercontent.com/2773216/31210788-2a7d2054-a9f1-11e7-8281-a596a38604ff.png)

[2017-10-05 04:27] paddyow commented on #4026
Bottom section still needs updating as per creative:

![image](https://user-images.githubusercontent.com/2201340/31210997-ab03bf4a-a9e1-11e7-9ba4-cd25cbd1fd39.png)

[2017-10-05 04:28] paddyow commented on #4065
Update auction panel to look like component creative:

![image](https://user-images.githubusercontent.com/2201340/31211014-c93bcf02-a9e1-11e7-9e21-bbbd9d6d5f7e.png)

[2017-10-05 05:19] paddyow opened #4068 "Claims Components"
Claim component:
- option to show or hide the image of the receipt
- if the receipt image is shown, do not scale vertically, just make the image scale on the x axis only
- remove any background colors in the component (needs to be transparent)
- add success ticks for each part of the process as the user completes the form i..e when a input is complete show the tick (use success color)
- when submi

[2017-10-05 05:32] paddyow opened #4069 "Changing page template causes meta tags to duplicate"
http://moblix.admin.kademi-ci.co/pages/moblix-channel/version1/

![image](https://user-images.githubusercontent.com/2201340/31212194-b7edca1c-a9ea-11e7-870e-d8fb8b9552d1.png)

[2017-10-05 05:49] paddyow opened #4070 "Need help configuring sales claim APP"
- Cannot search for products that I have loaded
- Getting error when submitting
- I have setup a data series

Please advise what I need to do to make this work.

This user http://moblix.admin.kademi-ci.co/manageUsers/152956/#summary-tab

This page http://version1.moblix-channel.kademi-ci.co/contenteditor?fileName=sales-claims.html&miltonUserUrl=/users/patrick&miltonUserUrlHash=49a18864-b74b-4f35-8

[2017-10-05 05:59] paddyow opened #4071 "Reward store template rending error"
Error rendering component: rewardStoreCategoryProducts

http://moblix.admin.kademi-ci.co/pages/moblix-channel/version1/

Rewardstore dashboard and rewardStoreCategory template.

![image](https://user-images.githubusercontent.com/2201340/31212812-8229d9bc-a9ee-11e7-84a3-73fa9df3f937.png)

[2017-10-05 06:43] AlaaKhalaf94 commented on #3834
Thanks @gonzalon
passed

[2017-10-05 06:43] #3834 closed

[2017-10-05 07:05] anhnt commented on #3932
Admin:

![image](https://user-images.githubusercontent.com/735555/31214584-04951902-a9d6-11e7-8a50-1a624d8d01ab.png)

Component:

![image](https://user-images.githubusercontent.com/735555/31214592-1172304c-a9d6-11e7-889b-249ea3426de5.png)

Settings:
![image](https://user-images.githubusercontent.com/735555/31214613-2d0c7f56-a9d6-11e7-8b06-06b65a07e28a.png)

[2017-10-05 07:26] paddyow opened #4072 "Auctions Components and templates"
Update auction components
1) Component without description
2) Component with description
3) Component closed auction

![image](https://user-images.githubusercontent.com/2201340/31360129-bc3afbc4-ad98-11e7-9bac-7aca864d1d75.png)

Create auction templates:

1) Auction list (show a list of active and closed auctions)
2) Auction detail (shows live auction details)

Split up auction detail components s

[2017-10-05 08:20] Uafinder commented on #3904
http://vlad-test10.admin.kademi-ci.co/manageUsers
adminqa@mailinator.com
I've created a fresh account, with three users:
userqa01 - 01/01/1995 - eg 22
userqa02 - 01/01/1997 - eg 20
userqa03 - 01/01/1999 - eg 18

SO, let's start
1. Profile age equal
I've setup this condition, but it returns nothing
![image](https://user-images.githubusercontent.com/1945230/31214548-55e624ee-a9b4-11e7-8eea-e9fef05a7

[2017-10-05 08:40] #3819 closed

[2017-10-05 08:52] ducdhm commented on #4034
Done!

[2017-10-05 09:15] paddyow opened #4073 "Sales Reporting Dashboards"
Need to setup sales dashboards for the Moblix demo.

This reporting website has been created http://moblix.admin.kademi-ci.co/pages/moblix-reporting/version1/

Thinking:

//Active Users Report
Active memebrs
Inactive memebrs

//Points Report
Top blanaces
Top redeemed
Expiring points
Negative balences

//Sales data report Report
TBC

Need help setting up the queries and hooking up to some reports.

[2017-10-05 09:48] paddyow commented on #4034
A few things:
1) Latest artwork was not followed
2) Progress bar not working

[2017-10-05 10:04] anhnt commented on #3477
worked for me with latest leadman-lib 1.3.7

[2017-10-05 10:22] Uafinder opened #4074 "Null error when add admin domain in ORG profile"
![clipboard - october 5 2017 1-13 pm](https://user-images.githubusercontent.com/1945230/31222568-354c3b1c-a9d0-11e7-84f8-f117579a4d10.png)

Adding text with UpperCase cause error.
http://vlad-test10.admin.kademi-ci.co/organisations/208053/edit/

[2017-10-05 10:23] anhnt commented on #4074
error log:
[code]

[2017-10-05 10:43] AlaaKhalaf94 commented on #3968
Hi @gonzalon , when I try to delete about 1000 record , this messag appear

![capture1](https://user-images.githubusercontent.com/26510030/31223235-4ef26eae-a9d2-11e7-944a-00a093410efd.PNG)

And when I click on "see the status" , direct me to new page contain only this
![capture2](https://user-images.githubusercontent.com/26510030/31223384-cd3534e0-a9d2-11e7-8497-18ec889811a0.PNG)
http://alaa-test

[2017-10-05 10:43] Uafinder commented on #4057
Yeap, it works at the moment

[2017-10-05 10:43] #4057 closed

[2017-10-05 11:04] Uafinder commented on #3643
Yes, it works ok!

[2017-10-05 11:04] #3643 closed

[2017-10-05 11:12] Uafinder commented on #4046
Yeah, working great

[2017-10-05 11:12] #4046 closed

[2017-10-05 11:20] Uafinder commented on #4035
understood, will rise another issue if there will be errors

[2017-10-05 11:20] #4035 closed

[2017-10-05 11:23] Uafinder commented on #4018
Will create another backup|restore and rise a problem if needed.

[2017-10-05 11:23] AlaaKhalaf94 commented on #3961
passed

[2017-10-05 11:23] #3961 closed

[2017-10-05 11:37] Uafinder commented on #3857
Looks ok

[2017-10-05 11:37] #3857 closed

[2017-10-05 12:03] Uafinder commented on #3477
The same for me, field disappears before i can edit something

http://vlad10-kcrm.kademi-ci.co/leads/?query=&leadType=active
http://vlad-test10.admin.kademi-ci.co/websites/vlad10-kcrm/version1/#panel_apps-tab
adminqa@mailinator.com

I've wrote a video
https://drive.google.com/file/d/0B9V2ZH-h_cR2V2V2cmRTNzJUXzg/view?usp=sharing

[2017-10-05 12:11] Uafinder opened #4075 "KCRM: minor visual bugs"
![image](https://user-images.githubusercontent.com/1945230/31226569-43a694f0-a9df-11e7-8887-cc3bc9e3a6b9.png)
http://vlad10-kcrm.kademi-ci.co/leads/?query=&leadType=active
http://vlad-test10.admin.kademi-ci.co/websites/vlad10-kcrm/version1/#panel_apps-tab
adminqa@mailinator.com

[2017-10-05 12:23] AlaaKhalaf94 commented on #3932
Hi @anhnt , I create 2 Calendars as shown here : http://alaa-test3.admin.kademi-ci.co/Calendars/
and I select colors

![capture1](https://user-images.githubusercontent.com/26510030/31226636-8ccbbf70-a9df-11e7-818d-e9228048fa06.PNG)

Then in page "Calendar color" here : http://alaa-test3.admin.kademi-ci.co/pages/alaa-test3/version1/
I add calendar component and I select the 2 calendars in settings

[2017-10-05 12:26] mrdadah opened #4076 "Ksurveyapp fails to install"
When I try to install ksurveyapp from market place it fails with a generic message:

 **An error occured doing the publish. Please check your internet connection and try again**

After investigating the issue we found that this was because KongoDB app is not enabled, after checking dependencies.json we've noticed that KongoDB app is already added as an app dependency.

Applications with dependency

[2017-10-05 12:37] Uafinder commented on #4018
huh...
i have an account
http://vlad-test6.admin.kademi-ci.co
and want to backup and restore it here
http://vlad-test11.admin.kademi-ci.co

I've created backup
![image](https://user-images.githubusercontent.com/1945230/31227509-c3ab4d50-a9e2-11e7-94ae-5cb621b7cd20.png)
Then go to the vlad-test11 server and there try to restore it:
![image](https://user-images.githubusercontent.com/1945230/31227534

[2017-10-05 12:52] AlaaKhalaf94 commented on #3814
Hi @gonzalon , How can I test ?

[2017-10-05 13:25] AlaaKhalaf94 commented on #3810
Hi @gonzalon , where can I see these updates ?

[2017-10-05 13:47] Uafinder opened #4077 "Round corners does not appears - editor, images"
I have this page created via editor. Orange section should have rounded corners, but when you access this content via front-end site - it's simple square.
![image](https://user-images.githubusercontent.com/1945230/31230431-abf6b906-a9ec-11e7-897c-18449312a0b4.png)
![image](https://user-images.githubusercontent.com/1945230/31230447-b57dce4c-a9ec-11e7-91e2-daeba0e3aa25.png)
http://vlad-test10.admin.

[2017-10-05 20:01] gonzalon commented on #3810
@AlaaKhalaf94
For translations:
http://alaa.admin.kademi-ci.co/translations/

In the manage translations you can get to the languages page:
http://alaa.admin.kademi-ci.co/languages

[2017-10-05 20:39] Anton69arb opened #4078 "CONTAINER ISSUE - cant change background colors - no color picker"
please can you add a color picker to the tab shown on the Screen grab (pic)
![screenshot-version1 sweets-for-heavens kademi-ci co-2017-10-06-09-30-52-489](https://user-images.githubusercontent.com/32444328/31251365-35fae48c-aa7a-11e7-93d5-306f85877077.png)

http://version1.sweets-for-heavens.kademi-ci.co/contenteditor?fileName=index.html&miltonUserUrl=/users/anton&miltonUserUrlHash=733f1b49-d7f9-4

[2017-10-05 20:51] gonzalon commented on #3814
1. Create a data series /sales/
![image](https://user-images.githubusercontent.com/2773216/31251656-347a9b1a-aa7b-11e7-85c2-ab27f0e9167e.png)

2. Create test data
![image](https://user-images.githubusercontent.com/2773216/31251049-34940ea8-aa79-11e7-981d-a66d3286ac8c.png)
![image](https://user-images.githubusercontent.com/2773216/31251708-687555a4-aa7b-11e7-803d-518838b71553.png)

3. In the new se

[2017-10-05 21:13] gonzalon commented on #3968
![image](https://user-images.githubusercontent.com/2773216/31252764-c5c8e43e-aa7e-11e7-93db-124ece9f8d5c.png)

[2017-10-05 21:14] bradmac commented on #4070
Its only searching on products with SKU's, since the user will generally enter a SKU

http://moblix.admin.kademi-ci.co/skus/

[2017-10-05 21:15] bradmac commented on #4070
Eg
![image](https://user-images.githubusercontent.com/826458/31252911-4a627656-aa7f-11e7-977b-a63251051ca4.png)

[2017-10-05 21:22] bradmac commented on #4071
This error is occuring because the reward store resource is not being found.

I've added a null check. But in this case the template is being rendered for a reward store so it should definitely be found!

[code]

[2017-10-05 21:23] bradmac commented on #4071
So @ducdhm please check why the current page is not being used as the reward store

[2017-10-05 21:38] bradmac commented on #4074
Closing, because we're going to refactor that UI anyway. This is expected behaviour at present.

[2017-10-05 21:38] #4074 closed

[2017-10-05 21:40] bradmac commented on #4074
To create an admin account either use "Create account" on orgs page:
![image](https://user-images.githubusercontent.com/826458/31253793-a6c6938e-aa82-11e7-9a45-39af68c44c60.png)

or create account from the admin dashboard

[2017-10-05 21:42] bradmac opened #4079 "Improve UI for setting, editing and removing admin domain on an existing organisation"
Actions should be made through a modal, to indicate to the user they are making a significant change
- setting an admin domain: should then open the account in a new window
- changing admin domain: if changing the current admin account, redirect to the new url
- removing admin domain: If for the current admin domain, display a clear warning to the user they will lose access to the account. If user

[2017-10-05 21:49] bradmac commented on #4076
I created a fresh account, and installed ksurveyapp and it did correctly install KongoDB

![image](https://user-images.githubusercontent.com/826458/31254143-f74d5ff8-aa83-11e7-8a91-abf10128ffa1.png)

[2017-10-05 21:50] bradmac commented on #4076
But i can see this in the logs:

[code]

[2017-10-05 21:51] Anton69arb opened #4080 "style sheet issue, cant change styles with the click of a button"
Hey, style sheet issue, cant change styles with the click of a button

you have to select the same style to deselect it, could we make it that you can select text and change with one click, can be confusing

![style sheet issue cant change styles with the click of a button](https://user-images.githubusercontent.com/32444328/31254140-f3112b72-aa83-11e7-93c3-cdc67ff59ba6.png)

[2017-10-05 22:08] Anton69arb opened #4081 "Cant copy and paste the content"
Cant copy and paste the content with the same style and paste it to another page or any where, if you play with it, it does copy it but not in the same style manner

![cant copy and paste the content with the same style and paste it to another page or any where if you play with it it does copy it but not in the same style manner](https://user-images.githubusercontent.com/32444328/31254799-a2dec698

[2017-10-05 22:42] bradmac commented on #4080
The issue here is that the style picker just adds styles. So if someone selects "success" and then "danger" both styles are added.

We need some way of setting a text style which replaces the previous text style.

[2017-10-05 22:44] bradmac commented on #4081
![image](https://user-images.githubusercontent.com/826458/31255864-a45f1eb4-aa8b-11e7-97d7-859d70f74740.png)

[2017-10-05 22:53] bradmac commented on #4081
@Anton69arb this might just be because the original content came from the old theme

[2017-10-05 23:09] bradmac commented on #4076
I've pushed a fix which adds a dependencies.json file for the admin context. That might resolve the problem, but note that this update isnt in a deployed version of the lib yet.

[2017-10-05 23:14] paddyow opened #4082 "Claims Reporting Components"
Create the following components for Keditor.  These components should not require anyone to write a query, they should be drag, drop and your're done.

**Sales Claims**
All components should filter by organisation and date range.

Component
- Single metric of how many claims have been made

Component
- Single metric of pending claims

Component
- Single metric of total claims in $

Component
- His

[2017-10-05 23:16] bradmac opened #4083 "Editing organisation parent doesnt seem to work"
I need to move an organisation to a new parent in .AU cluster.

![image](https://user-images.githubusercontent.com/826458/31256527-a21fa2d2-aa8f-11e7-8cb0-220fc2129a30.png)

This needs to be moved under Gilpin. However, when i used "Edit parent" i get this error:

![image](https://user-images.githubusercontent.com/826458/31256563-c9613e32-aa8f-11e7-9a8a-43c68f17397b.png)

Also, if i try to use the

[2017-10-05 23:30] paddyow opened #4084 "Member Reporting Components"
Create the following components for Keditor. These components should not require anyone to write a query, they should be drag, drop and your're done.

**Member Components**
All components should filter by org and date ranges.

Component
- Single metric of recent registrations

Component
- Single metric of active users 'Users who have logged in within 7 days'

Component
Member table which can be co

[2017-10-06 00:00] Anton69arb opened #4085 "when adding an image with text, Button is not big enough and is not visible, needs to be fixed"
when adding an image with text, Button is not big enough and is not visible, needs to be fixed

![1](https://user-images.githubusercontent.com/32444328/31257668-437789f0-aa96-11e7-8aea-62673ae6d099.png)

![2 button is not big enough and is not visible needs to be fixed](https://user-images.githubusercontent.com/32444328/31257670-467ea750-aa96-11e7-998c-9238cab870fb.png)

http://v4-ktheme.kademi-de

[2017-10-06 00:05] Anton69arb opened #4086 "text does not nest or wrap around the image"
text does not nest or wrap around the image, cant add text on the side of the image, only at the top and bottom
![text does not nest or wrap around the image](https://user-images.githubusercontent.com/32444328/31257764-0c005d20-aa97-11e7-8fef-c4b34be66ea9.png)

[2017-10-06 00:08] paddyow opened #4087 "Org selector not showing in Kditor or filtering correctly"
**Component not showing in Keditor**

![image](https://user-images.githubusercontent.com/2201340/31257806-84b92816-aa86-11e7-89b6-f29a55019ded.png)

When you drag this in the component does not show in the container, but it does appear in the front end after saving.

Admin http://moblix.admin.kademi-ci.co/pages/moblix-reporting/version1/

Template Page: http://version1.moblix-reporting.kademi-ci.c

[2017-10-06 00:12] bradmac commented on #4085
- Also the alignment dropdown has been pushed down over the image.
- and we need to be able to specify padding for the image

[2017-10-06 00:27] paddyow commented on #3464
Closing have not seen for a while.

[2017-10-06 00:27] #3464 closed

[2017-10-06 02:03] tuzzmaniandevil commented on #3507
![image](https://user-images.githubusercontent.com/3378330/31260006-6f1d51f0-aaa7-11e7-8465-3ebd409b98cd.png)

[2017-10-06 02:03] paddyow commented on #4022
When adding the component to a RHS column, I am getting unwanted padding left and right?

![image](https://user-images.githubusercontent.com/2201340/31260024-caa10f64-aa96-11e7-8423-7c4146ed5867.png)

[2017-10-06 02:16] ducdhm commented on #4022
@paddyow A thing you should remember about these kind of components. They're tile component. So you need to drop new container in RHS and then drop all tile components which you want into this container. KEditor will handle it by adding special class for container which contains only tile components

[2017-10-06 02:18] bradmac opened #4088 "Funnel fields needs to funge types to be equivalent"

[2017-10-06 02:21] bradmac commented on #4088
Now forcing the rhs to be the same type as the lhs:

[code]

[2017-10-06 02:37] paddyow commented on #4070
Cools I can see the prod appearing, but still getting an error when I submit.

Error when creating claim: java.lang.NullPointerException

[2017-10-06 05:04] anhnt commented on #3932
http://version1.alaa-test3.kademi-ci.co/calendarscolor.html?miltonUserUrl=/users/anh&miltonUserUrlHash=db922db2-f0dc-49c5-9f78-ef0d7601ed96:n4ca8EdbxJapLyOyNioPBSdn3q4 worked for me

![image](https://user-images.githubusercontent.com/735555/31263763-7d5b654a-aa8e-11e7-944b-b6ff0b4de7f1.png)

[2017-10-06 05:14] anhnt commented on #4027
worked great on AU server

[2017-10-06 05:14] #4027 closed

[2017-10-06 05:35] ducdhm commented on #4068
[code]
Done!

[code]
Set max-height for image is `300px`

[code]
I added an option below form background color is `transparent` for letting form has transparent background

[code]
As discussed, we will change the icon and text of `Upload receipt` to `Upload other receipt` when user selects a receipt

[code]
Done!

[code]
You can set `inverse` for container which contains this component to do it

[

[2017-10-06 05:36] ducdhm commented on #4070
Fixed issue related to `java.lang.NullPointerException`

[2017-10-06 06:17] Uafinder commented on #3524
No, the same...
Tested on http://vayatest.admin.kademi.com.au/tableUploaders/usersUploader and http://vlad-test10.admin.kademi-ci.co/

[2017-10-06 06:40] Uafinder opened #4089 "Create account ID validation"
![image](https://user-images.githubusercontent.com/1945230/31265642-910e01da-aa78-11e7-9ee4-79d0530b4bf1.png)
Error appears when you provide ID with uppercase characters.
Should be a soft validation or just converting ID to lowercase.
http://vlad-test10.admin.kademi-ci.co/organisations/

[2017-10-06 06:56] Uafinder opened #4090 "KCRM: Minor visual bug when close deal"
Tags selector becomes bad
![image](https://user-images.githubusercontent.com/1945230/31266474-99844e24-aa7c-11e7-9b73-c4d59f0bcd46.png)
![image](https://user-images.githubusercontent.com/1945230/31266510-c3918fa6-aa7c-11e7-8e6a-0acc8c4e0acc.png)

http://vlad10-kcrm.kademi-ci.co/leads/224130/
http://vlad-test10.admin.kademi-ci.co

[2017-10-06 07:06] Uafinder opened #4091 "Lead importer fails when Deal Amount field is empty"
![image](https://user-images.githubusercontent.com/1945230/31266722-d0028b72-aa7d-11e7-8385-c1cb0d80284d.png)
![image](https://user-images.githubusercontent.com/1945230/31266731-de7dab00-aa7d-11e7-91a6-e318549d33ec.png)
When file doesn't contain deal amount information, it looks fails lead import.
[export-leads(8).txt](https://github.com/Kademi/kademi-dev/files/1361784/export-leads.8.txt)

[2017-10-06 07:59] Uafinder commented on #4087
T works for search because T symbol are in ORG id e.g. T1, t2 and so on, so probably search does not work by Organisation name.

[2017-10-06 08:32] Uafinder opened #4092 "Org selector component issue"
Not filtering in front end

When typing in an ORG name, the only search that pulls up any org is typing the letter T

![image](https://user-images.githubusercontent.com/1945230/31269621-dc5f16ea-aa89-11e7-85ae-2f0f36f34c87.png)
![image](https://user-images.githubusercontent.com/1945230/31269635-e3b79610-aa89-11e7-80db-e59c146b782d.png)
T works for search because T symbol are in ORG id e.g. T1, t2

[2017-10-06 08:32] Uafinder commented on #4087
Created separated issue for filtering, component showing in editor fixed

[2017-10-06 08:32] #4087 closed

[2017-10-06 08:37] anhnt commented on #3477
http://vlad10-kcrm.kademi-ci.co/leads/?query=&leadType=active

@bradmac i fixed the problem that field editor disappear. but i can see other problem. after submit inline form edit, the table just reload but field is not updated. but wait some moment then refresh table, field is updated. i think ES will take some time to update index so if we reload table immediately it wont get updated data

[2017-10-06 08:41] Uafinder commented on #2966
Probably column "memberships" on the organisations manage page should be changed back to "members".
https://github.com/Kademi/kademi-dev/issues/3937

[2017-10-06 08:42] ducdhm commented on #4026
[code]
@paddyow Let's discuss about it later

[code]
Fixed!

[code]
Fixed!

[2017-10-06 08:59] #2819 closed

[2017-10-06 08:59] anhnt commented on #2819
this is working ok atm

[2017-10-06 09:22] Uafinder commented on #3507
YEap, it works!

[2017-10-06 09:22] #3507 closed

[2017-10-06 09:48] Uafinder opened #4093 "KAuctions app installation dashboard messages add"
Should be added admin dashboard messages for installation of Auction APP as it exists on other apps installation.

[2017-10-06 10:13] Uafinder commented on #3864
Yeah, it works.
Please note that website setting have an advantage after global app setting.
E.g. if global contains warehouse-1 parameter, and warehouse-2 is setup in website, website settings will be active. But if global contains warehouse-1 parameter and checkbox Inventory control checked, and website setting contains warehouse-2 parameter and checkbox Inventory control unchecked - Inventory c

[2017-10-06 12:00] Uafinder opened #4094 "Site pop-up tip bad"
![image](https://user-images.githubusercontent.com/1945230/31276911-09960aa2-aaa7-11e7-8ede-f18235e629b3.png)
Website manage pop-up tips bad

[2017-10-06 12:12] Uafinder commented on #4003
How can i test it on QA?

[2017-10-06 12:17] Uafinder opened #4095 "KEditor - change photo button does nothing"
![image](https://user-images.githubusercontent.com/1945230/31277373-50a52e94-aaa9-11e7-9c89-1a01c54e2b4f.png)
I've add a simple image + text container, press change gear icon on container and Change photo button doesn't work.
http://vlad-test10.admin.kademi-ci.co/products/product090/#panel-content-tab
adminqa@mailinator.com

[2017-10-06 12:25] Uafinder commented on #3881
Yup, it looks ok!

[2017-10-06 12:25] #3881 closed

[2017-10-06 12:27] Uafinder commented on #3843
Great!

[2017-10-06 12:27] #3843 closed

[2017-10-06 13:02] Uafinder commented on #3781
http://vlad-test10.admin.kademi-ci.co/kpoll/managePolls/
http://vlad10-learn.kademi-ci.co/dashboard
I cant make poll visible on my account. Could you help?

[2017-10-07 01:27] paddyow opened #4096 "Inverting a container makes calendar unreadable"
http://moblix.admin.kademi-ci.co/pages/moblix-channel/version1/

sales-claims.html

I need to invert the container so the claims completion message with the thumbs up is white and not black.  But doing so inverts the calendar.

Can a container be inverted without inverting a calendar?

![image](https://user-images.githubusercontent.com/2201340/31303521-af9b3798-ab5a-11e7-9498-5463621b63e2.png)

[2017-10-07 01:58] paddyow opened #4097 "Edit button in claims table does not work"
Clicking edit does nothing.

User http://moblix.admin.kademi-ci.co/manageUsers/152956/#summary-tab

![image](https://user-images.githubusercontent.com/2201340/31303791-30e3279e-ab5f-11e7-94c7-c9c5c4555ac3.png)

**Assign to Vlad for testing**

[2017-10-07 05:36] paddyow opened #4098 "Apply background image to parent container applies it to the child contatiner"
If you apply a BG image to a parent container, it should not inherit into the child containers otherwise the user has to go through and correct all child containers.

![image](https://user-images.githubusercontent.com/2201340/31305117-b147b918-ab7d-11e7-99a1-32af1b19d4aa.png)

[2017-10-07 06:54] ducdhm commented on #3781
@Uafinder Now, we have component for Kpoll, so you should drag n drop this component into the page which you want to view.

[2017-10-07 08:06] paddyow opened #4099 "Cannot change dynamic group title"
- Create a dynamic group
- Edit a dynamic group
- Only option are below which resets the dynamic group to a primary, list or tag after you rename it

![image](https://user-images.githubusercontent.com/2201340/31306012-935c2906-ab92-11e7-8f74-8c726abd553d.png)

Change dynamic group icon to Font Awesome fa-refresh

Config page"

- Correct copy to "A dynamic group is driven by rules. Select the rules

[2017-10-08 02:43] paddyow opened #4100 "Menu Visibility"
There should be an option to show the menu item for 'Visible for logged in users'

![image](https://user-images.githubusercontent.com/2201340/31313428-aeeda98c-ac2e-11e7-9331-a8ffb41fd319.png)

[2017-10-08 02:48] paddyow opened #4101 "Registration component"
Add the following options:

- Show or hide lables
- Align fields left, right and center
- Choose input size (small, medium and large)
- Customize which fields to show or hide
- Number of columns i.e. 1,2,3 or 4
- Set padding in between fields
- Would be good if we could order fields by dragging and dropping them

![image](https://user-images.githubusercontent.com/2201340/31313437-0fefc4b8-ac2f-11e

[2017-10-08 03:42] paddyow opened #4102 "Cannot edit email using Text Editor"
Drop an email node into a journey
Edit email
Choose 'Text Editor'
See error message 'Invocation of method'

![image](https://user-images.githubusercontent.com/2201340/31313715-b6e58c88-ac36-11e7-9118-4fd4d006068d.png)

If you first edit the email using Keditor, then save, then open using the editor it open fine.

Journey http://paddy.admin.kademi-ci.co/funnels/test/version1/#journeyBuilder-tab
EMa

[2017-10-08 04:27] paddyow opened #4103 "Duplicate profile being created by journey"
I send this email manually http://moblix.admin.kademi-ci.co/groupEmails/307160/#sendInfo-tab

Which starts this journey http://moblix.admin.kademi-ci.co/funnels/registration/version1/#journeyBuilder-tab

When the user is approved, Kademi creates a 2nd profile using the same email address, see test2@kademi.co

Is this expected? From memory we don't allow duplicate profiles?

[2017-10-08 04:30] paddyow opened #4104 "Pending registration email not firing"
This journey http://moblix.admin.kademi-ci.co/funnels/registration/version1/#journeyBuilder-tab

When a group goal is used, and the pending node output is linked to an email, should this fire when the user submits the registration form but is pending?

![image](https://user-images.githubusercontent.com/2201340/31313928-877208ee-ac3d-11e7-8728-0d297cad3f5c.png)

[2017-10-08 05:30] paddyow opened #4105 "Timer Goal Bug"
http://moblix.admin.kademi-ci.co/funnels/redeemer-journey/version1/#journeyBuilder-tab

Timer Goal not firing.  Note the node connector is not aligned to the output.

![image](https://user-images.githubusercontent.com/2201340/31314194-dcbead90-ac45-11e7-9c35-4793abf442c8.png)

[2017-10-08 05:36] paddyow opened #4106 "Emoticon feedback icons not appearing in email that is sent"
See this email http://moblix.admin.kademi-ci.co/funnels/redeemer-journey/version1/emailAction-4905fb/#message-tab

Email template
![image](https://user-images.githubusercontent.com/2201340/31314212-c2d4366a-ac46-11e7-953a-df4525118ecf.png)

Email sent
![image](https://user-images.githubusercontent.com/2201340/31314214-cc25d6a6-ac46-11e7-9ed9-095a2d67d2f9.png)

[2017-10-08 05:42] paddyow commented on #4106
APP was not switched on

[2017-10-08 05:42] #4106 closed

[2017-10-08 06:30] AlaaKhalaf94 commented on #3932
passed

[2017-10-08 06:30] #3932 closed

[2017-10-08 06:35] mkhoudary commented on #4105
@paddyow you are using the **past time** connector, this connector is used with relative time property in timers, so that if the node is entered while the timeout has already passed, we exit through past time, for regular timeout you shall use the timeout connector.

If that's clear with you we can reassign this issue to @ducdhm to check the misaligned line.

[2017-10-08 08:29] AlaaKhalaf94 commented on #3814
passed

[2017-10-08 08:29] #3814 closed

[2017-10-08 10:06] AlaaKhalaf94 commented on #3810
Hi @gonzalon , I try here : http://alaa-test4.admin.kademi-ci.co/translations/ and search by field doesn't work with me

And I add more than 100 translations  and the pagination doesn't appear

[2017-10-08 10:15] AlaaKhalaf94 opened #4107 "In pop-up, when I leave the primary fields blank it closes the pop-up"
In this page : http://alaa-test4.admin.kademi-ci.co/translations/
When I try to add new translation and leave the "Translated" feild blank , and submit it closes the pop-up
and doesn't add any translation

And when I open pop-up again , it shows me the error that "Please enter all required fields"

![capture1](https://user-images.githubusercontent.com/26510030/31315898-95ed0db4-ac2a-11e7-919e-9fac

[2017-10-08 10:36] AlaaKhalaf94 commented on #4083
passed

[2017-10-08 10:36] #4083 closed

[2017-10-08 10:58] AlaaKhalaf94 commented on #3760
passed

[2017-10-08 10:58] #3760 closed

[2017-10-08 20:49] tuzzmaniandevil commented on #3887
@Uafinder This has already been done. Make sure to clear your cache as it's a Javascript change

[2017-10-08 20:49] tuzzmaniandevil commented on #3524
Duplicate of #3887

[2017-10-08 20:49] #3524 closed

[2017-10-08 21:18] bradmac commented on #4092
The problem is actually case-sensitivity.

I renamed "California" to "california" and now its appearing in search results.

[2017-10-08 21:20] bradmac commented on #4092
I've added orgTitle (indexed as text field) as well as title (indexed as keyword field), which should resolve the problem

[2017-10-08 21:29] bradmac commented on #2966
Done

[2017-10-08 21:35] bradmac commented on #3477
hey @anhnt can we just not reload the table? ie use client side code to update the cell

[2017-10-08 21:36] bradmac commented on #4093
Sorry, not sure what you mean. Can you please clarify?

[2017-10-08 21:37] bradmac commented on #3864
Thats ok, later we can improve management. In reality, users will only control settings at org level

[2017-10-08 21:37] #3864 closed

[2017-10-08 21:38] bradmac commented on #4003
@Uafinder please chat with @anhnt to setup a test with comments

[2017-10-08 21:45] bradmac commented on #4099
Please update the group membership settings modal. A normal group should not be able to be changed to a dynamic gruop, and vice versa.

So we can just hide the type selection for dynamic gruops

[2017-10-08 21:46] bradmac commented on #4100
Simply select the groups you want to see it. We dont need another option for logged in users.

[2017-10-08 21:46] #4100 closed

[2017-10-08 21:49] bradmac opened #4108 "Funnel node resources should not be publicly accessible"
eg ManageSendEmailResource

[2017-10-08 21:50] bradmac commented on #4102
[code]

[2017-10-08 21:52] bradmac commented on #4102
Should be fixed now

[2017-10-08 22:23] paddyow commented on #4105
OK just need to fix alignment of the connector.

[2017-10-08 22:24] #4070 closed

[2017-10-08 22:27] #4068 closed

[2017-10-08 22:41] paddyow commented on #4026
- Image are still pixelated
![image](https://user-images.githubusercontent.com/2201340/31321745-f43e094e-acd5-11e7-87c6-2c576bbe5279.png)

[2017-10-08 23:51] bradmac commented on #4104
hey @paddyow this isnt really a valid journey. Only one outcome from the goal will be taken. If you want emails to be sent on the 3 outcomes you need to have them all linked up.

[2017-10-08 23:55] bradmac commented on #4104
note that all 4 journies proceeded past accept, they did not wait for pending:

![image](https://user-images.githubusercontent.com/826458/31322265-0c3db65a-acf1-11e7-84dc-0dbdd70c12b5.png)

[2017-10-08 23:55] bradmac commented on #4104
can you please reproduce the problem, and then leave the journey so we can see it?

[2017-10-09 00:50] bradmac commented on #3887
hey guys, notice this issue is in I7 which is not the current milestone

[2017-10-09 00:58] paddyow opened #4109 "Menu not clicking through to parent menu item"
Templates http://moblix.admin.kademi-ci.co/pages/moblix-channel/version1/

Note I created custom nav items with sub menu items
![image](https://user-images.githubusercontent.com/2201340/31322715-ce5986fa-ace8-11e7-8b41-71cbda5e1a1b.png)

This user http://moblix.admin.kademi-ci.co/manageUsers/152956/#summary-tab

Click through to here http://moblix-channel.kademi-ci.co/moblix-channel-store/

Then c

[2017-10-09 01:11] bradmac commented on #4109
Dont use relative paths in menus, because that relative path will only be correct from certain urls

Instead just use the full path, eg
[code]

[2017-10-09 02:03] #4109 closed

[2017-10-09 02:09] tuzzmaniandevil commented on #3976
I've moved the importer to the new table uploader framework, This alone should fix many bugs! I've also fixed the values not updating

[2017-10-09 02:27] bradmac opened #4110 "grant rewards action enhancements"
Currently the grant rewards action only supports a hard coded value:
![image](https://user-images.githubusercontent.com/826458/31323588-3f9a002a-ad06-11e7-814a-0fb7bd4d9de2.png)

Please update the settings to support:
- a points expression (numPointsMvel). Note that the user should only be able to select points OR a points expression
- a "reason" field, which is plain text

[2017-10-09 02:51] bradmac opened #4111 "Member Reporting Components - registrations over time"
Component
-    Line graph of registrations over time

[2017-10-09 02:52] bradmac commented on #4111
- user-lib/common/theme/apps/user/components/registrationsOverTimeComponent.html
- registrationsOverTime.query.json

[2017-10-09 02:54] paddyow opened #4112 "Saving causes Keditor to add extra containers at the bottom of the page"
http://moblix.admin.kademi-ci.co/pages/moblix-channel/version1/

Template http://moblix-channel.kademi-ci.co//theme/contenteditor?fileName=defaultThemeTemplate.html&miltonUserUrl=/users/patrick&miltonUserUrlHash=b10233bb-5396-445c-a529-607f329a3455:_ytN3j_PCv6wbVxY2-pxzjvvY4I

Before save
![image](https://user-images.githubusercontent.com/2201340/31323950-47504098-acf9-11e7-86c4-7c7b11544142.png)

[2017-10-09 04:01] bradmac commented on #4103
Should be fixed now

[2017-10-09 04:01] #4103 closed

[2017-10-09 04:18] ducdhm commented on #4026
Done!

[2017-10-09 04:25] ducdhm opened #4113 "Improve UI of switch repo"
Instead of showing in dropdown list, we can show in combo with chosen plugin

[2017-10-09 04:36] gonzalon commented on #4084
The single metric component are done.
The table needs to provide the functionality of select the fields, dinamyc point buckets (ATM is hardcoded for the demo), show the rest of the fields.

[2017-10-09 04:37] gonzalon commented on #4082
Single metric components are done

[2017-10-09 05:02] ducdhm commented on #4113
New UI:
![newui](https://user-images.githubusercontent.com/1289631/31325638-9a0a1422-ace9-11e7-9da9-a5d9e3e68106.png)

[2017-10-09 05:02] #4113 closed

[2017-10-09 05:49] anhnt commented on #4111
@bradmac do we need to filter by website or group? please advise

[2017-10-09 06:05] AlaaKhalaf94 commented on #3968
passed

[2017-10-09 06:05] #3968 closed

[2017-10-09 06:29] ducdhm commented on #4096
Fixed!

[2017-10-09 06:37] anhnt commented on #4111
added org filter

[2017-10-09 06:42] #4096 closed

[2017-10-09 06:55] AlaaKhalaf94 commented on #3759
Hi @gonzalon , Brad ask to add "issued by" as link to the admin user who created it , please fixed it
 - In Points Report : http://alaa-test4.admin.kademi-ci.co/reporting/points?startDate=03%2F10%2F2017&finishDate=09%2F10%2F2017
 - In Points Debit Report : http://alaa-test4.admin.kademi-ci.co/reporting/pointsDebit?startDate=03%2F10%2F2017&finishDate=09%2F10%2F2017

And in Points Report , the rewar

[2017-10-09 07:09] Uafinder commented on #4092
Looks the same...
![image](https://user-images.githubusercontent.com/1945230/31327750-d3c5a89e-acd9-11e7-89e7-eeb54f37e84e.png)
![image](https://user-images.githubusercontent.com/1945230/31327757-db656e4a-acd9-11e7-90c4-e65822906378.png)
![image](https://user-images.githubusercontent.com/1945230/31327762-e91c7088-acd9-11e7-981e-ee504af9cc47.png)

http://moblix-reporting.kademi-ci.co/dashboard?milt

[2017-10-09 07:18] Uafinder commented on #3887
@tuzzmaniandevil Nope, it's still there, please notice that that's a common uploader bug, not only users import.
http://vlad-test10.admin.kademi-ci.co/tableUploaders/usersUploader

[2017-10-09 07:43] Uafinder commented on #3781
Yeap, it works!
@ducdhm thanks for your help...

[2017-10-09 07:43] #3781 closed

[2017-10-09 07:49] Uafinder opened #4114 "When two or more polls on one page success message bad"
There are several polls on one page, when first poll is answered all going fine, but when second poll is answered - JS message appears.
![image](https://user-images.githubusercontent.com/1945230/31328696-156fcd24-acdf-11e7-91bb-2891ec69bc7f.png)

http://version1.vlad10-learn.kademi-ci.co/index-1.html?miltonUserUrl=/users/adminqa-mailinator-com&miltonUserUrlHash=37b680f6-7f43-4aa8-999e-69423d7688d8

[2017-10-09 07:55] anhnt opened #4115 "Queries page doesnt show any query unless we manually create one"
http://localhost:8080/queries/

[2017-10-09 07:56] ducdhm commented on #4098
Fixed!

[2017-10-09 08:13] #988 closed

[2017-10-09 08:42] Uafinder opened #4116 "When lead profile already created with other group memberships, group membership "leads" is not added to him"
![image](https://user-images.githubusercontent.com/1945230/31330111-b486aba2-ace5-11e7-9943-190fe009e6b0.png)
http://vlad-test10.admin.kademi-ci.co/manageUsers/397933/#summary-tab
1. I've created a profile userqa30@mailinator.com and add him to group participants
2. I've uploaded a file via lead importer
3. Lead is successfully imported, but user group "leads" is not assigned.

[2017-10-09 08:43] Uafinder commented on #3976
All closed, third moved to separate issue

[2017-10-09 08:43] #3976 closed

[2017-10-09 08:45] Uafinder commented on #2966
YEap, works ok

[2017-10-09 08:45] #2966 closed

[2017-10-09 08:49] paddyow opened #4117 "Blog post layout broken"
http://moblix.admin.kademi-ci.co/manageUsers/397438/#summary-tab

http://moblix-channel.kademi-ci.co/programs/p1/c1/MB5000/pcamera-lens.html?r=1507538763876

![image](https://user-images.githubusercontent.com/2201340/31330611-dde8817e-ad2a-11e7-9aff-3b11861e6a93.png)

[2017-10-09 09:00] AlaaKhalaf94 commented on #3702
passed

[2017-10-09 09:00] #3702 closed

[2017-10-09 09:28] AlaaKhalaf94 commented on #3739
passed

[2017-10-09 09:28] #3739 closed

[2017-10-09 09:39] Uafinder commented on #3307
YEah, it works. But theme checker seems to show bootstrap theme anytime...
![image](https://user-images.githubusercontent.com/1945230/31332343-b720463a-acee-11e7-95a2-09219952c601.png)
![image](https://user-images.githubusercontent.com/1945230/31332356-c56fc940-acee-11e7-8d5e-115e61054973.png)

http://vlad-test10.admin.kademi-ci.co/websites/vlad10-blog/version1/#panel_theme-tab

[2017-10-09 10:08] paddyow opened #4118 "Repo picker does not work"
http://moblix.admin.kademi-ci.co/pages/moblix-reporting/version1/

Unable to select top repo in the list.

![image](https://user-images.githubusercontent.com/2201340/31333467-ee349742-ad35-11e7-925b-44e97fa5dfba.png)

[2017-10-09 10:10] ducdhm commented on #4117
Fixed!

[2017-10-09 10:15] AlaaKhalaf94 commented on #3513
Hi @gonzalon , I try to open "Lead from email" modal , and it doesn't work with me
when I click on it from menu nothing happens

I test here in "test3" site :  http://alaa-test3.admin.kademi-ci.co/

[2017-10-09 10:34] AlaaKhalaf94 commented on #3642
passed

[2017-10-09 10:34] #3642 closed

[2017-10-09 11:12] Uafinder commented on #3778
YEap, its ok

[2017-10-09 11:12] #3778 closed

[2017-10-09 11:25] Uafinder opened #4119 "When you check installed apps from website page it should be filtered by website"
![image](https://user-images.githubusercontent.com/1945230/31335963-8632d452-acfd-11e7-8e0c-735bca4f4dd6.png)

I've go to manage websites page, then manage website, then find apps, then installed apps tab.
It shows me all apps which installed accross my account, but should display only installed for this website.

http://vlad-test10.admin.kademi-ci.co/marketPlace?websiteBranch=version1&websiteName

[2017-10-09 11:30] Uafinder opened #4120 "Change photo button inaccessible (does nothing)"
![image](https://user-images.githubusercontent.com/1945230/31336131-2a80e314-acfe-11e7-9442-d3373d1e7b4c.png)
When i select a simple template with photo, i can't change it with component controls.

http://vlad-test10.admin.kademi-ci.co/rewards/promoqa1/#rewardContent-tab
adminqa@mailinator.com

[2017-10-09 11:36] AlaaKhalaf94 commented on #3709
Hi @mkhoudary , when I leave white space after email , doesn't send message to it

I put this in "to" field "alaakhalaf94@mailinator.com , alaa@kademi.co"
"alaa@kademi.co" receive the message
"alaakhalaf94@mailinator.com" doesn't receive the message

[2017-10-09 12:21] Uafinder opened #4121 "Promotion entry accept/reject does not update entry state"
![image](https://user-images.githubusercontent.com/1945230/31337627-d74e671e-ad04-11e7-840f-76da7c1982a5.png)

1. Create a promotion which requires approval
2. Create an entry
3. Go to entries page: http://vlad-test10.admin.kademi-ci.co/rewards/entries-promoqa1.html
4. Check either appove or reject for entry
5. It says that it's successfully approved|rejected, but it doesn't disappears from the li

[2017-10-09 12:30] Uafinder opened #4122 "2 sales data claimer app available for install"
![image](https://user-images.githubusercontent.com/1945230/31338126-cc31d846-ad06-11e7-998c-69e1b85bbbcf.png)
http://vlad-test10.admin.kademi-ci.co/marketPlace?websiteBranch=version1&websiteName=vlad10-competition&type=app#browse-tab

[2017-10-09 12:33] AlaaKhalaf94 opened #4123 "The text field appears at the top of the list of organizations"
Like this img , the box specified in red is text field

![capture1](https://user-images.githubusercontent.com/26510030/31338206-fb65c348-ad06-11e7-8b20-80d34d521a97.PNG)

Thats happened in group emails in recipients tab when I try to add recipient organisations : http://alaa-test3.admin.kademi-ci.co/groupEmails/421953/#recipients-tab

[2017-10-09 13:16] AlaaKhalaf94 commented on #3720
passed

[2017-10-09 13:16] #3720 closed

[2017-10-09 13:16] Uafinder commented on #4033
it looks ok from firefox and chrome both at the moment

[2017-10-09 13:16] #4033 closed

[2017-10-09 13:38] AlaaKhalaf94 commented on #3800
At your request @mkhoudary

[2017-10-09 13:39] AlaaKhalaf94 commented on #3800
passed

[2017-10-09 13:39] #3800 closed

[2017-10-09 13:39] AlaaKhalaf94 commented on #3726
At your request @mkhoudary

[2017-10-09 13:54] salehh93 commented on #3444
Hey @bradmac  I see no problem !

[2017-10-09 13:55] Uafinder opened #4124 "Content editor stucks on the blank page"
When i click edit page, content editor doesn't start.
![image](https://user-images.githubusercontent.com/1945230/31341255-9d2d59ac-ad11-11e7-9987-13e2087e610c.png)
![image](https://user-images.githubusercontent.com/1945230/31341265-a8771a78-ad11-11e7-97f7-db5225a98cd9.png)

http://vlad-test10.admin.kademi-ci.co/pages/vlad10-competition/version1/
http://version1.vlad10-competition.kademi-ci.co/cont

[2017-10-09 14:01] Uafinder commented on #3515
Yup, works great, after new uploading process being implemented...

[2017-10-09 14:01] #3515 closed

[2017-10-09 14:12] Uafinder commented on #3414
It looks ok at the moment

[2017-10-09 14:12] #3414 closed

[2017-10-09 15:34] anhnt commented on #4082
Component: Histogram of claims over time ---DONE

[2017-10-09 16:54] ducdhm commented on #4123
Fixed!

[2017-10-09 19:49] bradmac commented on #3307
The theme checker is rendering with the paper theme correctly

You can see the original theme here - https://bootswatch.com/paper/

Note that this is a bootstrap theme, so the theme checker still mentions bootstrap

[2017-10-09 19:51] bradmac commented on #3307
From original theme:
![image](https://user-images.githubusercontent.com/826458/31355784-1c005da2-ad98-11e7-8983-4d8c1be5d621.png)

From theme checker:
![image](https://user-images.githubusercontent.com/826458/31355807-30d8235e-ad98-11e7-834b-10663c4f5def.png)

[2017-10-09 20:14] bradmac commented on #3513
OK, the problem here is that K-Theme combines all JS files into a single URL to improve performance. But this site has all apps enabled so that URL is too long.

[2017-10-09 20:17] bradmac commented on #4119
To see what apps you have installed in a website you should use the apps tab on website manager

So instead of filtering installed apps on the app manager, we should just hide the installed tab when there is a website specified.

[2017-10-09 20:17] bradmac commented on #4119
@gonzalon please add a simple #if condition to not show the installed apps tab when there is a website name param

[2017-10-09 20:19] bradmac commented on #4120
@ducdhm should we move the editor into an overlay?

[2017-10-09 20:22] bradmac commented on #3513
I'll look into this

[2017-10-09 20:23] bradmac commented on #4122
Thats just an issue with the CI environment. Please use  "salesDataClaimer"

[2017-10-09 20:23] #4122 closed

[2017-10-09 20:25] bradmac commented on #3444
OK, will leave that for now

[2017-10-09 20:25] #3444 closed

[2017-10-09 20:35] bradmac commented on #4084
@ducdhm and @anhnt can you please finish up?

[2017-10-09 20:38] bradmac commented on #3839
@tuzzmaniandevil can you please look into the issue with scheduled emails

[2017-10-09 21:06] tuzzmaniandevil opened #4125 "KEditor: Photo/Image Component to support "alt" tag"
This is super important for SEO
https://moz.com/learn/seo/alt-text

[2017-10-09 21:08] gonzalon commented on #3810
@AlaaKhalaf94 The search works by the start of the word, atm it's searching by:
sourceType
sourceId
translated

Going to add sourceField.
Related to the translations with the same data, one is Source0102 and the other is source0102.
As its generating a hash with the text it's not the same!

[2017-10-09 21:08] tuzzmaniandevil opened #4126 "KEditor: Photo/Image Component link regex doesn't support params"
Trying to use this link fails:
`https://youtu.be/KdxI79Bgxz8?list=PLNJCZZAkPWxBghPQp3HFDiBrJRbDODwPE`
but this one works:
`https://youtu.be/KdxI79Bgxz8`

[2017-10-09 21:11] bradmac commented on #4126
@tuzzmaniandevil is talking about validation...

[2017-10-09 21:13] bradmac commented on #4125
I dont think its "super important". Seems more like a nice to have. It assists with google indexing images themselves, but really we're focused on search results for the pages.

[2017-10-09 21:15] paddyow commented on #4067
Change 'Topic' to 'Select a Level'

Order of fields:

1) Show level name (tick box)
2) Level name font size (drop down h1, h2 etc)
3) Show placeholder image (Visible/hidden) (tick box)
4) Choose placeholder image
- small font below "Show an image when the user has no level."

*note if the user does not select show level name, nor adds a placeholder image, nothing should appear in the template*

![

[2017-10-09 21:20] bradmac commented on #4067
"Change 'Topic' to 'Select a Level'" - No, the user isnt selecting a level. They're selecting a topic which contains levels.

The level is whatever each user has obtained.

[2017-10-09 21:23] tuzzmaniandevil commented on #3887
Ahhh right! Got it now :-)

[2017-10-09 21:34] bradmac commented on #4092
@tuzzmaniandevil can you look into this please?

[2017-10-09 21:35] paddyow commented on #4026
This page http://moblix-channel.kademi-ci.co/training.html
This user http://moblix.admin.kademi-ci.co/manageUsers/152956/#summary-tab

1) Note these components need to work with the module picker when it has been separated out as a component i.e. we could use the component to show different modules in different layouts on the page, then use the picker to filter on the programs and courses
2) Full

[2017-10-09 21:37] #4022 closed

[2017-10-09 21:39] bradmac commented on #1670
Currently this component only works if its used in the same site as the reward store.

But often it will be used in a reporting site which does not have any reward store.

Please refactor to not require a reward store in the same site.

I suggest changing to use a query or querytable provided by the RewardStoreApp.

[2017-10-09 21:59] #4065 closed

[2017-10-09 22:00] #4034 closed

[2017-10-09 22:04] tuzzmaniandevil commented on #4121
The entry state does get updated, It just wasn't refreshing the page. I've added reload fragment now to the entries. The entry shouldn't disappear from the list, but the status should be updated.

As for the second error, I can't reproduce that

[2017-10-09 22:06] paddyow opened #4127 "Module template"
1) Add space in between icon and text
2) Note padding and put all pages in a box
3) The module page only becomes ticked when it has been completed and all completed pages stay ticked to show progress
4) Avatar should be in circle
5) Remove line

I love how I can move the tool bar around, but doing so it would be good to have options on the tools bar to align the menu items i.e. Align left, right o

[2017-10-09 22:13] paddyow opened #4128 "Create My Learning Page template"
Picker needs to be split out.

![image](https://user-images.githubusercontent.com/2201340/31360677-356be808-ad9b-11e7-9314-8bcc0db787f8.png)

**Assign to Vlad for testing**

[2017-10-09 22:26] gonzalon commented on #3810
Pagination added

[2017-10-09 22:29] gonzalon commented on #4107
Duplicated https://github.com/Kademi/kademi-dev/issues/4045

[2017-10-09 22:29] #4107 closed

[2017-10-09 23:39] gonzalon commented on #3759
@AlaaKhalaf94 fixed the reward name not assigned,
we dont support links in the reports atm.

[2017-10-09 23:45] #4117 closed

[2017-10-10 00:42] paddyow opened #4129 "Blog components and templates"
Create blog components just like learning with adjustments:

![image](https://user-images.githubusercontent.com/2201340/31364281-7091eb12-adaf-11e7-9cdf-86b365d25cbb.png)

Note the blog article page needs a component adding for files.  These are uploaded when creating the blog article itself.

![image](https://user-images.githubusercontent.com/2201340/31364364-fe015230-adaf-11e7-8861-8e6bc2157330.

[2017-10-10 01:41] paddyow opened #4130 "Categories not showing in reward store filters"
User http://moblix.admin.kademi-ci.co/manageUsers/152956/#summary-tab

![image](https://user-images.githubusercontent.com/2201340/31365655-35faf35a-adb8-11e7-892f-0b1a3bdccd9b.png)

Note the product 10-inch 8GB Quad Core Android™ Tablet has a category here http://moblix.admin.kademi-ci.co/categories/256467/#products-tab

[2017-10-10 01:49] bradmac commented on #4104
@paddyow this was probably fixed in #4103

can you check if still active?

[2017-10-10 02:18] bradmac commented on #3904
1. There was an off-by-one bug. That is fixed now, so someone born yesterday will be returned for age=0

[2017-10-10 02:22] bradmac commented on #3904
2 - yep, changed to use keyword field

[2017-10-10 02:33] bradmac commented on #3904
"3 - Birthday" - Needed to convert to a Long. Should be fixed now.

[2017-10-10 03:23] bradmac commented on #3904
"4 - Contains DynamicGroup" - This should be fixed now! Note, only supports contains and not-contains

[2017-10-10 03:25] bradmac commented on #3904
"5 - Dynamic group renaming" - should be fixed with this - https://github.com/Kademi/kademi-dev/issues/4099

[2017-10-10 03:26] bradmac commented on #3908
"Can't manage email sending queue... i've a message which falls into "retrying" state and has no possibility to exclude it (or delete it) to complete email message task."

That is expected behaviour.

[2017-10-10 03:28] bradmac commented on #3908
"There is no possibility to stop task... it's appearing in the running state forever."

Did you press cancel? If so, can you please link me to an example job which you attempted to cancel?

[2017-10-10 03:30] bradmac commented on #3908
"4. Would be great to add links to Retrying, Failed emails to review those emails"

That has been done in a seperate issue

[2017-10-10 03:31] bradmac commented on #3908
So @Uafinder please review comments above. Looks like only the canceling thing that might be a problem, but just need to check on new server.

[2017-10-10 03:32] bradmac commented on #3908
Also, 1000 emails in 5 mins isnt great, but i think its ok. Will be faster on prod servers.

[2017-10-10 03:39] gonzalon commented on #3475
Guys @anhnt @ducdhm
I did this, probably it could look better and isnt refreshing when the dates change.

![image](https://user-images.githubusercontent.com/2773216/31368291-5908cfc2-add9-11e7-9d6a-d89269cfa37e.png)

I added the methods in the payment app for the rest.

countNewQuotes
countAcceptedQuotes
countNewProposals (This one would only count for proposals whit a quote)

[2017-10-10 03:41] anhnt opened #4131 "Allows creating queryTable in custom app"
I'd like to use this method in custom app like we do in queries repo
[code]

[2017-10-10 03:52] bradmac commented on #4131
It will be a bit different. Apps should not create queryTables or queries which get persisted in the queries folder. Instead, the app should declare queries and queryTables.

[2017-10-10 04:05] ducdhm opened #4132 "numProducts always is 0 in rewardstore category"
https://github.com/Kademi/kademi-dev/issues/4130

Category has 1 product: http://moblix.admin.kademi-ci.co/categories/171992/#products-tab
Preview page: http://moblix-channel.kademi-ci.co/moblix-channel-store/
User: http://moblix.admin.kademi-ci.co/manageUsers/152956/#summary-tab

![image](https://user-images.githubusercontent.com/826458/31410439-160c47b6-ae6b-11e7-874c-6de20c2be7fb.png)

[2017-10-10 04:39] gonzalon commented on #3874
@bradmac should we implement the Open CSV for the dynamic groups?

[2017-10-10 06:17] AlaaKhalaf94 commented on #4123
passed

[2017-10-10 06:17] #4123 closed

[2017-10-10 06:28] bradmac commented on #3874
yes please!

[2017-10-10 06:37] paddyow opened #4133 "Kcode plugin not rendering in email client"
http://kademi.admin.kademi.us/funnels/channel-loyalty-campaign/version1/emailAction-ef856d/#message-tab

*|profile_firstName|* and *|profile_email|* does not render.

![image](https://user-images.githubusercontent.com/2201340/31372491-ac97bc54-ade1-11e7-9828-1248b81b3e30.png)

[2017-10-10 06:40] AlaaKhalaf94 commented on #3759
passed

[2017-10-10 06:40] #3759 closed

[2017-10-10 07:00] anhnt commented on #4082
Component: Table of dealers: done

http://version1.moblix-reporting.kademi-ci.co/test.html

[2017-10-10 07:02] AlaaKhalaf94 commented on #3810
Here : http://alaa-test4.admin.kademi-ci.co/translations/ When I try to search about "two" word there is one result , but the pagination still appear

![capture1](https://user-images.githubusercontent.com/26510030/31373111-7018466c-ada1-11e7-8a28-d215d3cf4ff6.PNG)

And when I refresh the page , the pagination disappear
It shall disappear when the search results are less than 100 without refresh ,

[2017-10-10 07:17] Uafinder commented on #4092
1. I've cleared cache and created a fresh account:
http://vlad-test12.admin.kademi-ci.co/websites/
2. Create a website, add 4 orgs (exported from moblix)
3. Activate reporting lib
4. Create a fresh page and add there organisation selector component.
5. Still the same
6. http://vlad12-dash.kademi-ci.co/page1.html

So, when you try to select "california" it's ok, no matter what case you're using.
Wh

[2017-10-10 07:19] bradmac commented on #4092
Hey @tuzzmaniandevil there's nothing in that commit to change the search logic, so i would be very surprised if that fixed anything!

Please ensure you confirm the fix works.

[2017-10-10 07:21] bradmac commented on #4133
This is expected because KCode works with the component framework, and this email isnt using components.

But we'll see if its viable to integrate with non-component emails

[2017-10-10 07:22] Uafinder commented on #4045
Hey, it works!
Same problem with languages page
![image](https://user-images.githubusercontent.com/1945230/31373986-cf331908-ada4-11e7-8443-a0ac690c59f7.png)
http://vlad-test12.admin.kademi-ci.co/languages

[2017-10-10 08:02] AlaaKhalaf94 commented on #2002
passed

[2017-10-10 08:02] #2002 closed

[2017-10-10 08:04] Uafinder commented on #4121
First fixed
Second:
I wrote a video... it happens when you delete something in two steps...
http://vlad-test12.admin.kademi-ci.co/rewards/entries-promoqa1.html
https://drive.google.com/file/d/0B9V2ZH-h_cR2V1I2Y2l1MVNjQTg/view?usp=sharing

[2017-10-10 08:08] Uafinder commented on #3887
yeah, great :)

[2017-10-10 08:08] #3887 closed

[2017-10-10 08:25] #3850 closed

[2017-10-10 08:30] ducdhm commented on #4067
[code]
Instead of it, I added remove placeholder image

![newui](https://user-images.githubusercontent.com/1289631/31376702-ff666780-adcf-11e7-9acc-c8726c868618.png)

[2017-10-10 08:31] ducdhm commented on #4067
[code]
It's available on frontend. In editor page, I still show text `No awarded level found` for letting user know where the component is

[2017-10-10 08:42] AlaaKhalaf94 commented on #3824
I checked and There is no bug

[2017-10-10 08:42] #3824 closed

[2017-10-10 09:05] #4067 closed

[2017-10-10 10:33] AlaaKhalaf94 commented on #3513
Hi @bradmac , I create new account : http://test6.admin.kademi-ci.co
And the dialog does not appear at all : http://test6.kademi-ci.co/

[2017-10-10 10:37] AlaaKhalaf94 commented on #3823
passed

[2017-10-10 10:37] #3823 closed

[2017-10-10 10:42] Uafinder commented on #3904
1 - fixed
2 - fixed
3 - nope, still the same
4 - fixed
5 - understood

So, we have this at the moment:
3. Birthday
It looks birthday parameter is not accessible at all.
I've created next condition.
http://vlad-test12.admin.kademi-ci.co/groups/BirthdayDyna/
It should return this user
http://vlad-test12.admin.kademi-ci.co/manageUsers/515453/
But it returns nothing
![image](https://user-images.github

[2017-10-10 10:44] AlaaKhalaf94 commented on #4118
passed

[2017-10-10 10:44] #4118 closed

[2017-10-10 10:59] ducdhm commented on #4128
New UI:
![newui](https://user-images.githubusercontent.com/1289631/31383303-b9ff61fa-ade4-11e7-9275-4247d607fea5.png)

[2017-10-10 11:25] Uafinder commented on #3140
All looks pretty, page ready to be implemented

[2017-10-10 12:34] AlaaKhalaf94 commented on #4097
passed

[2017-10-10 12:34] #4097 closed

[2017-10-10 13:22] Uafinder commented on #3839
No emails was send at all, when dynamic groups are in list.
http://vlad-test12.admin.kademi-ci.co/scheduledEmails/scheduledqa1/#configuration-tab
![image](https://user-images.githubusercontent.com/1945230/31388532-139a8d38-add7-11e7-8048-f5406e6e792c.png)
![image](https://user-images.githubusercontent.com/1945230/31388544-1e100dc4-add7-11e7-889c-e9bf30abf6cf.png)

[2017-10-10 20:22] bradmac commented on #3513
hey @gonzalon the JS problem is fixed, but the modal isnt appearing, and i cant actually see what code should make it appear.

[2017-10-10 20:23] tuzzmaniandevil commented on #3839
Works absolutely fine for me
http://wesleytest.admin.kademi-ci.co/scheduledEmails/test-email/#history-tab

![screenshot-wesleytest admin kademi-ci co-2017-10-11-09-13-13-275](https://user-images.githubusercontent.com/3378330/31408645-bf9f3c80-ae65-11e7-8fd4-438aef3a180b.png)

![screenshot-wesleytest admin kademi-ci co-2017-10-11-09-15-10-816](https://user-images.githubusercontent.com/3378330/31408

[2017-10-10 20:32] bradmac commented on #3904
"3. Birthday - It looks birthday parameter is not accessible at all."

Just use greater/less then for birthday. I think its not realistic that a user will filter for a particular birthday. The reason its not matching is that the db records the exact date/time but we're just comparing to a date. I think this is fine.

[2017-10-10 20:33] tuzzmaniandevil commented on #4121
Seemed to be a firefox specific issue.

[2017-10-10 20:41] bradmac commented on #3839
@tuzzmaniandevil can you please confirm if you can see @Uafinder s email work?
http://vlad-test12.admin.kademi-ci.co/scheduledEmails/scheduledqa1/#configuration-tab

[2017-10-10 20:47] tuzzmaniandevil commented on #4092
Turns out orgTitle was being defined in the mappings but has never actually added to the index. Added and re-index and now I can search for california or New York

[2017-10-10 20:54] bradmac opened #4134 "Manage orgs page: sort by path doesnt work correctly"
Eg
http://cca.admin.kademi.com.au/organisations/?q=&searchOrgType=store&sortfield=parentOrgLinks&sortdir=asc

![image](https://user-images.githubusercontent.com/826458/31409856-ca856792-ae69-11e7-983c-eef099bc3369.png)

[2017-10-10 20:58] gonzalon commented on #3140
Need to change the menu

[2017-10-10 20:59] bradmac commented on #4132
@gonzalon a couple of things to look into here:
1. need to understand why the numProducts method is not working, and fix it
2. but this component shouldnt actually use that. Instead we should be using ES to get an aggregation of available categories

[2017-10-10 21:11] gonzalon commented on #3140
Also need to fix this: https://github.com/Kademi/kademi-dev/issues/4134#event-1286923879

[2017-10-10 22:20] bradmac commented on #4131
Here's an example:

[code]

[2017-10-10 22:23] bradmac commented on #4131
@anhnt can you please use this for a real querytable, and close if its all good

[2017-10-10 22:56] bradmac opened #4135 "Email templates"
We would like the ability to create email templates from normal emails, and the ability to create a normal email from a template.
- user can "Create template" from a normal email. This will create a new GroupEmailJob flagged as a template, which will be a copy of the original email
- when editing an email template, it should be the same as a normal email, except no ability to send or view logs
- t

[2017-10-10 23:16] bradmac opened #4136 "Dynamic groups - Age conditions"
Extension to https://github.com/Kademi/kademi-dev/issues/3904

"6. Less"
Less condition works the same as Less and Equal
I've created next condition.
http://vlad-test12.admin.kademi-ci.co/groups/LessDyna/
it should return only one user:
http://vlad-test12.admin.kademi-ci.co/manageUsers/520086 which is 18 years old
However it returns another one, which is 20 years old
http://vlad-test12.admin.kadem

[2017-10-10 23:17] bradmac commented on #3904
"6. Less" - Moved to separate issue

[2017-10-10 23:20] bradmac commented on #4133
Hey @paddyow thats because the Kademi website is on the old theme which doesnt support KCode or components.

So you can use the old style templating, and we should get the guys to convert our site to components

[2017-10-10 23:25] bradmac commented on #3904
"Condition with Birthday incorrect" - Thats an invalid query. We're not able to validate, so instead I've just added error handling so that condition will be ignored.

[2017-10-10 23:58] bradmac commented on #3904
"8. Phone field doesn't support characters "

Fixed:
![image](https://user-images.githubusercontent.com/826458/31416114-9210e7f0-ae83-11e7-88cb-793be5ea1b64.png)

![image](https://user-images.githubusercontent.com/826458/31416148-d23de26a-ae83-11e7-85f2-158d308938c6.png)

[2017-10-10 23:58] bradmac commented on #3904
"Profile orgs condition works only via OrgID"

Correct, this is intended behaviour

[2017-10-11 01:08] bradmac commented on #3621
I cant see this happening at the moment. Can you check if its still active, otherwise close the issue?

[2017-10-11 02:38] bradmac commented on #3938
hey @mkhoudary we really need to be able to build the velocity jar.

can you provide instructions?

[2017-10-11 02:47] gonzalon commented on #4132
@ducdhm I just added the product to the reward store and it's showing in the page
![image](https://user-images.githubusercontent.com/2773216/31420027-8b9cb42c-ae9b-11e7-8e99-ed8a9e78c2be.png)

[2017-10-11 02:52] gonzalon commented on #3513
Fixed. Test with the latest leadman lib 1.3.9

[2017-10-11 03:01] ducdhm commented on #4112
Already fixed!

[2017-10-11 03:13] bradmac opened #4137 "Scheduled email page: display max recipients and warning if exceeded"
New UI:

![image](https://user-images.githubusercontent.com/826458/31420620-18c9b89c-ae9f-11e7-8ff1-1cc817e78112.png)

[2017-10-11 03:41] paddyow opened #4138 "Hinda APP switched off, still synced"
http://moblix.admin.kademi-ci.co/manageApps/#installed-tab

I switched off the Hinda app, deleted all prods and cats.  Next day all the prods and cats were back.

Looks like the app was still running.

![image](https://user-images.githubusercontent.com/2201340/31421294-53a55334-ae92-11e7-920a-1018c7ba935c.png)

[2017-10-11 03:45] bradmac commented on #4138
The app is currently on. Are you sure you turned it off in this account?

![image](https://user-images.githubusercontent.com/826458/31421393-a559d16c-aea3-11e7-8986-46de6e513d93.png)

[2017-10-11 03:47] bradmac commented on #4138
@gonzalon has confirmed we're not currently checking.

Please add a check that the app is enabled for the account before running any jobs

[2017-10-11 04:02] #4137 closed

[2017-10-11 04:38] anhnt commented on #4082
Fixed: add kongodb prefix when declare query in custom app

[code]

Added: Creating query table in custom app

[2017-10-11 06:43] AlaaKhalaf94 commented on #3513
passed

[2017-10-11 06:43] #3513 closed

[2017-10-11 07:28] anhnt commented on #4131
working ok

[2017-10-11 07:28] #4131 closed

[2017-10-11 07:36] Uafinder commented on #4128
http://vlad13-learn.kademi-ci.co//theme/apps/learner/contenteditor?fileName=myLearning.html&miltonUserUrl=/users/vlad-bayrak&miltonUserUrlHash=9b409f2c-6823-4703-886c-69d8e6386d48:Lt_9uKJPlORTlPDUvEu4T6al1_A
http://version1.vlad13-learn.kademi-ci.co/myLearning

1. Course description is not showing
![image](https://user-images.githubusercontent.com/1945230/31427304-7c698dd0-ae6f-11e7-9cb4-d925496e5

[2017-10-11 08:01] Uafinder opened #4139 "Email visual layout bugs"
![image](https://user-images.githubusercontent.com/1945230/31428433-5dc40956-ae73-11e7-852a-79fcdcdfb4b1.png)
![image](https://user-images.githubusercontent.com/1945230/31428441-642cefec-ae73-11e7-97be-2a3e13d94c70.png)

Included and excluded organisations selector contains minor visual layout bug.
http://vlad-test13.admin.kademi-ci.co/groupEmails

probably this options need to be separated, e.g.

[2017-10-11 08:36] Uafinder commented on #4092
Great, it works finally 👍

[2017-10-11 08:36] #4092 closed

[2017-10-11 08:51] anhnt commented on #4084
![image](https://user-images.githubusercontent.com/735555/31430768-19643cbc-ae9c-11e7-992b-19e246f533c9.png)

[2017-10-11 09:06] ducdhm commented on #4128
@Uafinder Can you check permission of user which you're logged-in as

[2017-10-11 11:29] Uafinder commented on #4128
True, course selector is ok!
But description problem is there.
![image](https://user-images.githubusercontent.com/1945230/31438342-821f4730-ae90-11e7-90c6-3b5b150d130b.png)
![image](https://user-images.githubusercontent.com/1945230/31438361-8d120f60-ae90-11e7-98dc-9891b14b36dd.png)

[2017-10-11 11:32] Uafinder opened #4140 "All emails falls into queue state"
![image](https://user-images.githubusercontent.com/1945230/31438435-c872b294-ae90-11e7-95be-1ac76f96df83.png)
http://vlad-test13.admin.kademi-ci.co/groupEmails
i've create send mail task, run it, but it stucks, i've tried to investigate a problem and looks like QA emails are broken.
i've tried from other account - the same.
Also, email history now is in forever loading...
![image](https://user-ima

[2017-10-11 11:40] Uafinder opened #4141 "Update app dependencies error"
![image](https://user-images.githubusercontent.com/1945230/31438680-c945694a-ae91-11e7-889d-e666c6601117.png)

http://vlad-test13.admin.kademi-ci.co/manageApps/#installed-tab
Manual update is successful
http://vlad-test12.admin.kademi-ci.co/manageApps/#installed-tab
Also the same

[2017-10-11 11:47] Uafinder commented on #4121
Yup, great!

[2017-10-11 11:47] #4121 closed

[2017-10-11 11:50] Uafinder commented on #4045
Fixed!

[2017-10-11 11:50] #4045 closed

[2017-10-11 11:59] Uafinder commented on #3904
Ok, tested,
so closing it

[2017-10-11 11:59] #3904 closed

[2017-10-11 12:17] Uafinder commented on #3140
4134 shouldn't be fixed for new page... it's related to incorrect sorting order e.g. Upper case and lower case...

A few more:
1. Sorting by Org type cause page to be empty
![image](https://user-images.githubusercontent.com/1945230/31439928-b70c11d4-ae96-11e7-9a4b-b00dbdc8fe39.png)
result
![image](https://user-images.githubusercontent.com/1945230/31439958-d51ab37e-ae96-11e7-9017-d1d3bb891886.png)

[2017-10-11 12:31] Uafinder commented on #4112
Looks ok!

[2017-10-11 12:31] #4112 closed

[2017-10-11 12:49] Uafinder commented on #3958
![image](https://user-images.githubusercontent.com/1945230/31441379-b2313554-ae9b-11e7-9940-b403d6a80641.png)

http://vlad-test13.admin.kademi-ci.co/products/

[2017-10-11 13:23] Uafinder commented on #3728
Not sure which effect i should observe...

I've create bucket and debit two products with auto-reconcile, and two without.
Those with reconcile can't be removed.
![image](https://user-images.githubusercontent.com/1945230/31442876-725e7d42-aea0-11e7-801c-c377a58b1580.png)
http://vlad-test13.admin.kademi-ci.co/points-buckets/vlad13-points-points

[2017-10-11 13:43] Uafinder commented on #4115
Please provide me more details

[2017-10-11 14:15] Uafinder opened #4142 "Password issue when doing restore backup"
![image](https://user-images.githubusercontent.com/1945230/31445849-afe0c43e-aea7-11e7-8469-c6bce0a949ca.png)

It's probably appears when password not contain numbers or characters.
http://vlad-test14.admin.kademi-ci.co/backup/

[2017-10-11 14:32] Uafinder opened #4143 "Backup question"
I can't restore backup from:
http://vlad-test13.admin.kademi-ci.co/backup/
to
http://vlad-test14.admin.kademi-ci.co/backup/
I've created it successfully, then go to new account and try to restore it. It says that everything ok, but it restores nothing and doesn't wrote information that backup was restored.
I've wrote a video.
https://drive.google.com/open?id=0B9V2ZH-h_cR2dERvNy1HWU9yQTg

[2017-10-11 19:46] bradmac commented on #4115
I think we can just close this

[2017-10-11 19:46] #4115 closed

[2017-10-11 20:01] bradmac commented on #3728
[code]

[2017-10-11 20:03] bradmac commented on #3958
Should use title as default sorting

[2017-10-11 20:11] bradmac opened #4144 "Reward store product management updates"
For this page:
![image](https://user-images.githubusercontent.com/826458/31464000-84074fec-af2c-11e7-9fa1-389633c21bd5.png)

- remove margin and multiplier columns
- add column for base cost
- add column for product added to store date (ie created date for ProductInReward)
- allow sorting by code, title, created date, base cost
- use title as default sorting
- update the category filter dropdown t

[2017-10-11 20:22] salehh93 commented on #3826
done

[2017-10-11 20:24] bradmac opened #4145 "Reward store: add products enhancements"
Related: https://github.com/Kademi/kademi-dev/issues/4144

![image](https://user-images.githubusercontent.com/826458/31464339-cb3594e0-af2d-11e7-83af-44e869ecd773.png)

For the add products page, please make the following enhancements
- remove margin and multiplier cols
- add column for product created date
- add column for base cost
- allow sorting by cols code, title, created date, base cost

[2017-10-11 20:25] bradmac commented on #3958
Closing, superceded by https://github.com/Kademi/kademi-dev/issues/4144

[2017-10-11 20:25] #3958 closed

[2017-10-11 20:28] bradmac opened #4146 "Reward store: export/import included products"
Clients would like to setup a reward store with particular products, and then be able to replicate that product inclusion list to another store.

Please create a CSV export and import function to assist with this
- export included products including overridden store parameters like margin
- support import of the same file

Note that this process should work with products from the local product lib

[2017-10-11 20:38] bradmac commented on #4141
@tuzzmaniandevil looks like the same problem you're looking at
[code]

[2017-10-11 20:42] tuzzmaniandevil commented on #4141
All fixed

[2017-10-11 20:57] gonzalon opened #4147 "Keditor adding a extra class"
If you save it, the layout change from boxed to fluid. I saw it was adding an extra class to a section. I "hacked" it to add the buttons, but we needs to be able to edit as usual.

URL:
http://milestoneevents.global//theme/apps/blogs/contenteditor?fileName=viewBlogArticle.html&miltonUserUrl=/users/celine-gilpin&miltonUserUrlHash=97fe581c-dfaf-4b28-907d-f51cd9a86f59:HUPu8orrYu-7Eo0QaVJfQrpf9Bw

The

[2017-10-11 21:00] bradmac commented on #4147
@ducdhm please investigate today

[2017-10-11 21:15] salehh93 commented on #4094
I used the title method
![image](https://user-images.githubusercontent.com/23012214/31467328-3b1201dc-aee2-11e7-8011-0fb5a45422f9.png)
@bradmac  that's good ?

[2017-10-11 21:26] bradmac commented on #4094
:+1:

[2017-10-11 21:29] bradmac commented on #3826
Looks good!

[2017-10-11 22:00] bradmac commented on #4085
Its almost there!

Still doesnt quite fit with K-Theme though, because of the larger then normal buttons:
![image](https://user-images.githubusercontent.com/826458/31468902-43732fa4-af3c-11e7-8824-e6fd76f63c58.png)

One option is just to remove the input labels. Users can see what the inputs are from the placeholders.

[2017-10-11 22:10] bradmac commented on #4142
@Uafinder a couple of things
- you only need to use a remote server when transferring content from another platform, so its not needed for going from one CI account to another
- the password you enter must be correct, and all Kademi passwords must at least meet the requirement of 6 chars and container numbers and letters, so this message is valid if the password you entered does not meet that requ

[2017-10-11 22:20] gonzalon commented on #3938
MVEL Update:

After the update of MVEL is working fine for the templates as well:

Ex:
[code]

[2017-10-11 23:00] tuzzmaniandevil commented on #4140
Seems to be fixed now, I think it was related to #4141

[2017-10-12 00:25] gonzalon commented on #3938
VELOCITY:

The validation itself it's working fine:
For ex. in TextTemplater I added:
`        engine.addProperty("velocity.filtersmanager", "io.milton.cloud.server.mail.FiltersManager1");
`

I had some issues with the validation process.

Example ASTReference.java
`result` sometimes is null, and that breaks the whole process.

[code]

[2017-10-12 02:16] gonzalon commented on #3938
Null checks for Velocity
https://github.com/Kademi/velocity-engine/commit/aec1114c0595b18b0093cce978df70e3aa1b91c2

[2017-10-12 02:40] gonzalon commented on #3938
@bradmac what should we do about this now?

[2017-10-12 02:48] gonzalon commented on #3140
@Uafinder
1. was caused because a change in the index, as this page use elasticsearch a re index was needed
2. fixed other two

[2017-10-12 03:18] gonzalon commented on #4134
@Uafinder I fixed it in the new organisations page /organisations-es
Please re index the orgs before testing!

[2017-10-12 04:02] gonzalon commented on #4139
@Uafinder I can't reproduce it :/ tried it in Chrome and Firefox.

[2017-10-12 04:25] ducdhm commented on #4127
New UI for comments
![comment](https://user-images.githubusercontent.com/1289631/31479243-0e5c8942-af40-11e7-9c2c-a9e95cfb40c5.png)

[2017-10-12 04:25] ducdhm commented on #4127
New UI for recent posts:
![community_comments_list](https://user-images.githubusercontent.com/1289631/31479254-15c88294-af40-11e7-9268-7c55cd51f836.png)

[2017-10-12 06:22] anhnt commented on #3477
fixed

[2017-10-12 06:55] Uafinder commented on #3616
looks like reward store and products are really doesn't restored...
i've backup
http://vlad-test13.admin.kademi-ci.co/backup/
and restore it here
http://vlad-test14.admin.kademi-ci.co
And no products and no reward stores

[2017-10-12 06:59] #4143 closed

[2017-10-12 07:02] Uafinder commented on #4141
Looks ok!

[2017-10-12 07:02] #4141 closed

[2017-10-12 07:05] Uafinder commented on #4140
IT looks ok at the moment

[2017-10-12 07:05] #4140 closed

[2017-10-12 07:07] Uafinder commented on #4139
@gonzalon it looks ok to me also... it could be fixed by some other fix...
Anyway, i will keep an eye on it...

[2017-10-12 07:21] Uafinder commented on #4142
Understood, so probably there should be a validation for password complexity ever when you change it from admin console...

[2017-10-12 07:22] Uafinder commented on #4094
Great, it works!

[2017-10-12 07:22] #4094 closed

[2017-10-12 07:57] Uafinder commented on #4145
1. Created date is not showing when product is on adding page
![image](https://user-images.githubusercontent.com/1945230/31484978-f402b72e-af3a-11e7-9c6c-cbb75fb832ea.png)
http://vlad-test13.admin.kademi-ci.co/reward-store/vlad13-points-store/

[2017-10-12 08:01] Uafinder opened #4148 "Minor issue when base cost is not specified"
![image](https://user-images.githubusercontent.com/1945230/31485413-5f733ac8-af3c-11e7-8506-232ea34d7cf0.png)
When you open product details which have not base cost specified there appears $page.basecost variable...
http://vlad-test13.admin.kademi-ci.co/reward-store/vlad13-points-store

[2017-10-12 08:03] Uafinder opened #4149 "Product details incorrect save button"
![image](https://user-images.githubusercontent.com/1945230/31485596-0f09e1a8-af3d-11e7-8056-d60bd1712713.png)
Should be Save instead of Create Product button
http://vlad-test13.admin.kademi-ci.co/reward-store/vlad13-points-store/#products-tab

[2017-10-12 08:06] ducdhm commented on #4026
Done!

[2017-10-12 08:07] ducdhm commented on #4130
@paddyow Please check @gonzalon comment in related issue

[2017-10-12 08:12] Uafinder opened #4150 "Removing selected product cause incorrect pop-up tip"
![image](https://user-images.githubusercontent.com/1945230/31485834-e6fe32da-af3d-11e7-827f-c6cfab6aa5d7.png)
1. Select product from the list
2. Push remove selected
3. Watch "adding selected" pop-up
http://vlad-test13.admin.kademi-ci.co/reward-store/vlad13-points-store/#products-tab

[2017-10-12 08:32] Uafinder opened #4151 "FIrefox Issue when you delete an element from list and after page refreshes checkbox appears on the position where deleted element was placed"
It's a specific Firefox issue.
Faced it here:
https://github.com/Kademi/kademi-dev/issues/4121
Then I faced it on the reward store manage products page...
![image](https://user-images.githubusercontent.com/1945230/31486650-d65af5dc-af40-11e7-963a-821cc517a7ef.png)
![image](https://user-images.githubusercontent.com/1945230/31486662-e066275e-af40-11e7-969a-8e5b187ab604.png)
http://vlad-test13.admin.

[2017-10-12 08:39] bradmac commented on #4132
@ducdhm please check if that was the problem

[2017-10-12 08:56] Uafinder opened #4152 "Should be no possibility to enter simple password which not satisfies basic password complexity"
Now it can be overrun by entering password via admin console on manage user page.
There is no validation there.

http://vlad-test13.admin.kademi-ci.co/manageUsers/620497/#general-tab

It's moved from https://github.com/Kademi/kademi-dev/issues/4142

[2017-10-12 08:57] Uafinder commented on #4142
moved to separate issue https://github.com/Kademi/kademi-dev/issues/4152

[2017-10-12 08:57] #4142 closed

[2017-10-12 09:03] Uafinder commented on #4135
1. Pop-up message probably should contain something like "Template is created" or "$templateName is created"
![image](https://user-images.githubusercontent.com/1945230/31488003-0d55da30-af45-11e7-854a-1df46ef22061.png)
http://vlad-test13.admin.kademi-ci.co/groupEmails/

2.

[2017-10-12 09:46] anhnt commented on #3604
I fixed those above issues but there's problem with Task completion pie chart. At the moment its always zero
![image](https://user-images.githubusercontent.com/735555/31490021-d7b18668-af6c-11e7-8303-3baa4fa4c8ce.png)

@tuzzmaniandevil can you have a look.

[2017-10-12 10:00] ducdhm commented on #4132
@gonzalon Yeah, you're right. After adding correct products, categories are displayed correctly.

[2017-10-12 10:00] #4132 closed

[2017-10-12 10:15] AlaaKhalaf94 commented on #3909
When I try to import new leads , "Closed Date" Column isn't imported
I test here : http://alaa-test7.admin.kademi-ci.co/funnels/journey1/version1/#lead-tab

This is excel file : [import-leads.zip](https://github.com/Kademi/kademi-dev/files/1378922/import-leads.zip)

[2017-10-12 10:57] AlaaKhalaf94 commented on #3826
Checked

[2017-10-12 10:57] #3826 closed

[2017-10-12 11:53] Uafinder opened #4153 "Manage products in reward store details page opens like new page not modal"
1. go to the page http://vlad-test13.admin.kademi-ci.co/reward-store/vlad13-points-store
2. select any category which contains products
3. push product details button (gear)
![image](https://user-images.githubusercontent.com/1945230/31494570-82b9d684-af5c-11e7-838b-88301d23dbcd.png)
4. Special page for specified product appears... It's not a quite theme compliant.
When you push save, no success me

[2017-10-12 12:01] Uafinder commented on #4144
Works perfect

[2017-10-12 12:01] #4144 closed

[2017-10-12 12:40] Uafinder commented on #4134
Yeap, it works

[2017-10-12 12:40] #4134 closed

[2017-10-12 12:46] Uafinder commented on #3140
I checked it a few mins ago:
1. The org himself shouldn't appears in the list
http://vlad-test13.admin.kademi-ci.co/organisations-es
![image](https://user-images.githubusercontent.com/1945230/31496451-07dc3648-af64-11e7-9a47-5bcca3d2266a.png)

2. Sorting by orgType incorrect
http://vlad-test13.admin.kademi-ci.co/organisations-es
![image](https://user-images.githubusercontent.com/1945230/31496537-7

[2017-10-12 12:46] salehh93 opened #4154 "not appear photo if open from email"
in email template
if I add photo from k-editor not appear in email
![template](https://user-images.githubusercontent.com/23012214/31496434-f358eb44-af63-11e7-970c-c25142b63f36.jpg)

![im3](https://user-images.githubusercontent.com/23012214/31496436-f45025e4-af63-11e7-8285-e7291b051b9b.jpg)

I think because internal link
src="/_hashes/files/8a889188f937d0e24ff6beef1936d615c3346b81"

can you check h

[2017-10-12 13:22] Uafinder opened #4155 "Group members page - paginator"
When you have for example 300 users, you have an enabled paginator which tells to show 100 records. When you change it to 500 records limit, it shows all 300 users, but hide a paginator controls, which will prevent you to return to previous setup.
http://vlad-test12.admin.kademi-ci.co/groups/DynaGroup5QA/members/
![image](https://user-images.githubusercontent.com/1945230/31497947-49d32fb6-af69-11e

[2017-10-12 13:26] Uafinder opened #4156 "Group members page - default users sorting"
![image](https://user-images.githubusercontent.com/1945230/31498196-080e1d38-af6a-11e7-98c2-6db422eb1b40.png)
http://vlad-test12.admin.kademi-ci.co/groups/basic/members/

[2017-10-12 13:31] Uafinder commented on #3874
Organisation column is empty
![image](https://user-images.githubusercontent.com/1945230/31498516-ca35b5a6-af6a-11e7-8114-b519f8368393.png)
http://vlad-test12.admin.kademi-ci.co/groups/DynaGroup5QA/members/

[2017-10-12 14:18] Uafinder commented on #3477
Nope, it's not working.
Editor for field not disappear so you could successfully enter the value, but it doesn't updating field value or it's not visible. It happens only with dropdown fields.
Also problem could be because of entering value specific. For example deal amount... you enter amount and should press Enter. When you select value from dropdown pressing Enter doesn't help.
http://vlad15-le

[2017-10-12 21:04] bradmac opened #4157 "Web hits report, detailed items seems incorrect"
See this as an example - http://airnz.admin.kademi.com.au/reporting/esWebsiteAccess?startDate=13%2F07%2F2017&finishDate=13%2F10%2F2017&term-website=37119321

- the CSV export should include all URLs, not just top 10 (the report page should just be top 10 though)
- for some reason hits to category pages dont seem to be included, eg http://www.airnewzealandelitegift.co.nz/reward1/Category-Dine/ - pl

[2017-10-12 21:08] bradmac commented on #3874
hi @Uafinder that is correct, because the organisation shown on the members page is the organisation associated with the membership. But there is no organisation associated with a dynamic membership.

But it probably makes sense to hide the organisation column for dynamic groups

[2017-10-12 21:09] bradmac commented on #3874
@gonzalon please just add a condition to the template to hide the org column for dynamic groups

[2017-10-12 21:10] bradmac commented on #4155
Valid issue but low priority, pushing back to a later milestone

[2017-10-12 21:12] bradmac commented on #4156
- make columns sortable
- default sorting should be firstname
- ensure this works for normal groups and rule based groups

[2017-10-12 21:12] bradmac commented on #4156
Pushing back to later milestone

[2017-10-12 21:14] bradmac commented on #4154
@ducdhm please investigate urgently. Definitely needed for travelworld and all clients who use emails!

[2017-10-12 21:17] tuzzmaniandevil commented on #4145
@Uafinder Note the created date on products is a new field so it won't show for existing products only new products.

[2017-10-12 21:27] bradmac commented on #4153
@tuzzmaniandevil please make sure we're using $().on("click") to open the modal

[2017-10-12 21:29] bradmac commented on #3909
@gonzalon please ensure the closed date field gets set

Note that if a lead is "closed" that means its not an active lead

[2017-10-12 21:36] bradmac commented on #4151
We should add this:

[code]

https://stackoverflow.com/questions/299811/why-does-the-checkbox-stay-checked-when-reloading-the-page

[2017-10-12 21:39] bradmac commented on #3616
Pushing back to later milestone

[2017-10-12 21:40] tuzzmaniandevil commented on #4151
@bradmac Yup thats how I fixed the other page

[2017-10-12 22:14] tuzzmaniandevil commented on #4145
![image](https://user-images.githubusercontent.com/3378330/31521852-9f265544-b007-11e7-898f-914f4ad9f327.png)

[2017-10-12 22:48] tuzzmaniandevil commented on #4135
1. Fixed
2. Fixed
3. It will now be "Template - " instead of "Copy of "
4. It won't append the notes now but will copy across any existing notes

[2017-10-12 23:09] tuzzmaniandevil commented on #4151
Done, Also added to the checkbox method on Formatter

[2017-10-12 23:58] gonzalon commented on #3140
1. Fixed
2. Just made the re index and the sorting by its fine. Going to take a look if we fire the re index, might be a issue there

[2017-10-13 00:20] gonzalon commented on #3909
@bradmac
Just tested with the file and the reason the date is not being save is the format:

I tried again with 12/10/2017 22:55 and worked fine
Should we support this?

[2017-10-13 00:27] tuzzmaniandevil commented on #3728
With points, We don't allow a user to delete points if it's linked to a debit, It's will show an error
With Points Debits it will automatically delete the link

[2017-10-13 00:35] #4130 closed

[2017-10-13 00:36] bradmac commented on #3909
As discussed, please ensure the user is informed of any parse errors. And we should also handle this date format.

[2017-10-13 02:23] gonzalon commented on #3909
- Added validation for the date, it's going to show an error message to the user if the format is not correct.
- Also added the option for the user to select the 12hs format with AM/PM.

Please, take in mind that the importer it's going to use the chosen format  or fallback to the default one, so it could work with two different formats but ideally we should use only one date format in the sheets.

[2017-10-13 02:33] #3865 closed

[2017-10-13 02:45] anhnt commented on #3477
Please rebuild QA and then update leadman-lib to version 1.3.9d and test it again

[2017-10-13 03:04] ducdhm commented on #4154
Fixed!

[2017-10-13 03:26] tuzzmaniandevil commented on #4146
![image](https://user-images.githubusercontent.com/3378330/31529050-3621519e-b033-11e7-9db5-32c145999047.png)

[2017-10-13 03:41] Anton69arb opened #4158 "The calendar is not selecting/ not working in the embargo date selector (blogs)"
Hey, The calendar is not selecting/ not working in the embargo date selector (blogs) can wee get it setup and test, thank you :)

![the calendar is not selecting_not working in the embargo date selector](https://user-images.githubusercontent.com/32444328/31529356-4af803c2-b035-11e7-811d-85510f376871.png)

http://antontest.admin.kademi-ci.co/blogs/sweets-for-heavens%2012/orange-cream-soda-pop-cupca

[2017-10-13 03:55] gonzalon commented on #3140
@Uafinder if everything is ok please assign it back to me so I can change the menu and I'll close it after that :+1:

[2017-10-13 03:58] anhnt opened #4159 "Lead page: Completing a task will automatically create new task"
Also in timeline it says there's new task created

![image](https://user-images.githubusercontent.com/735555/31529346-ddc3f6a8-b002-11e7-9ea5-29e885690eb4.png)

[2017-10-13 04:06] ducdhm commented on #4147
As I checked as Text Editor, code for container of this page is
[code]

but our standard container structure is
[code]

And if you dont have `div.container-layout`, contentEditor will correct it for you by adding it after `div.container-bg`.

And seem like you set box layout in wrong way. `container` should be added in `div.container-bg` instead of `section` tag

[2017-10-13 04:09] ducdhm commented on #4147
@Uafinder Can you test with provided link at top comment?

[2017-10-13 04:35] anhnt commented on #3604
@tuzzmaniandevil this doesnt work because when you creating new task, assignedToOrg is null, if we have a term query to filter by assignedToOrg.id, no result returns.

See this example query: http://vlad-test15.admin.kademi-ci.co/queries/tasktest/

[2017-10-13 04:37] anhnt commented on #3477
i've updated QA to use latest leadman-lib

[2017-10-13 05:04] paddyow commented on #4127
Padding not correct see below:

![image](https://user-images.githubusercontent.com/2201340/31531056-32b1719a-b030-11e7-88ee-add2d8613fae.png)

[2017-10-13 05:11] paddyow commented on #4026
http://moblix-channel.kademi-ci.co/training.html

1) Gap missing that was there before that divides the two components?
2) The list format broken

![image](https://user-images.githubusercontent.com/2201340/31531152-fe9be0a6-b030-11e7-9362-9380a75c3bca.png)

[2017-10-13 05:31] anhnt commented on #4159
I see the problem: When completing a task, dueDate field is automatically set to be next 7 days. So that will create new task.

![image](https://user-images.githubusercontent.com/735555/31531619-4f717744-b012-11e7-9f14-6169f7bf5d04.png)

@bradmac @paddyow should that field be empty by default unless user selects a date?

[2017-10-13 05:34] anhnt commented on #3468
fixed. @Uafinder please test it in fresh account. thanks

[2017-10-13 05:36] ducdhm commented on #4124
I see `Handler is not defined` in console message.

@bradmac I think we got issue with dependencies.

 1. `Reward and promotion` app is depended on `rewards-lib`
 2. `rewards-lib` is depended on `handlerbars-lib`
 3. When enabling `Reward and promotion` app, `rewards-lib` is enabled but not `handlerbars-lib`

Can you help me investigate it?

[2017-10-13 05:49] paddyow commented on #4159
Add watermark to field 'Select a date' so aligns with the other fields which have one.

[2017-10-13 05:53] anhnt commented on #4159
Fixed

[2017-10-13 06:19] anhnt commented on #4003
We need to update jquery.comment.js to add the "following a comment via email" checkbox

[2017-10-13 06:27] Uafinder commented on #4153
Fixed

[2017-10-13 06:27] #4153 closed

[2017-10-13 06:27] Uafinder commented on #4149
Fixed

[2017-10-13 06:27] #4149 closed

[2017-10-13 06:27] Uafinder commented on #4148
Fixed

[2017-10-13 06:27] #4148 closed

[2017-10-13 06:34] Uafinder commented on #4151
Yup, fixed

[2017-10-13 06:44] Uafinder commented on #4145
Yup, understand... It works at the moment

[2017-10-13 06:44] #4145 closed

[2017-10-13 07:05] Uafinder commented on #3140
Great, it works
Probably would be great to check again after menu change. So please re-assign it to me when you complete changes.

[2017-10-13 07:11] ducdhm commented on #4127
I have updated k-theme and it worked!

[2017-10-13 07:18] ducdhm commented on #4000
Fixed!

[2017-10-13 07:19] ducdhm commented on #4000
@bradmac can you do backend stuff for supporting "," in keywords?

[2017-10-13 07:19] ducdhm commented on #4069
Depend on https://github.com/Kademi/kademi-dev/issues/4000

[2017-10-13 07:41] Uafinder commented on #3874
Working great

[2017-10-13 07:41] #3874 closed

[2017-10-13 08:59] Uafinder opened #4160 "Table Uploader not showing errors correctly"
I have a file where I setup next import settings:
![image](https://user-images.githubusercontent.com/1945230/31538232-8c8c138c-b00d-11e7-971c-bd30e8f3178c.png)
But when I go further it looks that some columns are not properly counted, I mean shift to the right...
![image](https://user-images.githubusercontent.com/1945230/31538327-de1f50a6-b00d-11e7-961a-8d19e322c59c.png)
http://vlad-test16.admin.k

[2017-10-13 09:39] Uafinder commented on #4160
The same thing with products, so probably an importer common bug
![image](https://user-images.githubusercontent.com/1945230/31540091-4a17acae-b013-11e7-9799-ecf198088938.png)
![image](https://user-images.githubusercontent.com/1945230/31540146-7c1841d2-b013-11e7-9a53-ef2f23f3dab8.png)

[2017-10-13 09:43] Uafinder commented on #4146
![image](https://user-images.githubusercontent.com/1945230/31540334-0889bd4e-b014-11e7-9cfe-a44b2f4fc8db.png)
![image](https://user-images.githubusercontent.com/1945230/31540341-0fa50d18-b014-11e7-8609-88ba3c5826ef.png)

result for export
http://vlad-test13.admin.kademi-ci.co/reward-store/vlad13-points-store/#products-tab

[2017-10-13 10:11] ducdhm commented on #4026
Fixed!

![fireshot screen capture 074 - training - moblix-channel_kademi-ci_co_training_html](https://user-images.githubusercontent.com/1289631/31541637-84b8212e-b039-11e7-9c4c-e6999d49e526.png)

[2017-10-13 10:22] ducdhm commented on #4032
I have checked and seem like it's dynamic element's issue.

[2017-10-13 11:15] anhnt commented on #4003
I got NPE

[code]

I will set up an account on CI to reproduce

[2017-10-13 12:32] Uafinder commented on #3477
IT works finally!

[2017-10-13 12:32] #3477 closed

[2017-10-13 12:32] Uafinder opened #4161 "Leads minor visual bug"
Checkbox to select lead are not in place.
![image](https://user-images.githubusercontent.com/1945230/31546433-f8c999a2-b02b-11e7-89c0-c1bb06fe5c13.png)

[2017-10-13 12:38] Uafinder opened #4162 "Lead page: cancelling task cause completing task record appears"
![image](https://user-images.githubusercontent.com/1945230/31546568-8576f426-b02c-11e7-9e33-98f00791e932.png)
http://vlad16-leads.kademi-ci.co/leads/672957/
1. Create a task
2. Cancel it
3. Watch incorrect timeline record.

[2017-10-13 12:45] Uafinder commented on #4159
It looks good.

[2017-10-13 12:45] #4159 closed

[2017-10-13 12:53] Uafinder commented on #3468
good
![image](https://user-images.githubusercontent.com/1945230/31547064-9bca9244-b02e-11e7-8f39-69cb9d877656.png)

[2017-10-13 12:53] #3468 closed

[2017-10-14 21:14] salehh93 commented on #4158
done

[2017-10-14 21:29] salehh93 commented on #4150
done

[2017-10-14 23:16] paddyow opened #4163 "KPI sales component"
1) Remove the background color so it's transparent (color will be applied to the container)
2) Make text and icon black as standard (user can invert container if required to make text white)
3) Make the component elements fill the container (user can add padding to the container)
4) **Note the component does not resize inside the container (it overflows), see below**
5) Colors:
   - 2016 circle Pr

[2017-10-14 23:31] paddyow opened #4164 "KPI visualization report"
1) On the current component the padding is not even around the graph, the RHS has extra padding
2) Have an option in the component to remove the title, outer border and vertical grey lines.  Also make sure when these items are removed the component resizes to fill the container so the admin can apply padding to the container
2b) Make sure the text inverts if the container is inverted
3) Either (1)

[2017-10-15 00:03] bradmac commented on #4003
i think the target profile is null
[code]

[2017-10-15 04:11] paddyow commented on #4082
This user http://moblix.admin.kademi-ci.co/manageUsers/240803/#summary-tab
This page http://moblix-reporting.kademi-ci.co/claims.html

1. Need to add decimal place
2. Claims pending should be 2 based on the APP http://moblix.admin.kademi-ci.co/manageSaleDataClaimer/
3. No claims data appearing in table

![image](https://user-images.githubusercontent.com/2201340/31581577-02d2a23c-b1bb-11e7-8d83-501

[2017-10-15 04:18] paddyow opened #4165 "Sales APP reporting components - no data showing"
This user http://moblix.admin.kademi-ci.co/manageUsers/240803/#summary-tab

This page http://moblix-reporting.kademi-ci.co/sales.html

We have a data series with KPI and sales data linked to SKUs http://moblix.admin.kademi-ci.co/sales/sales-data-2016-and-2017/#general-tab

![image](https://user-images.githubusercontent.com/2201340/31581623-e7336646-b1bb-11e7-82cf-2dd58c99e405.png)

[2017-10-15 06:08] AlaaKhalaf94 commented on #4138
passed

[2017-10-15 06:08] #4138 closed

[2017-10-15 06:10] paddyow commented on #4026
Unable to select any courses from the component:

Web pages http://moblix.admin.kademi-ci.co/pages/moblix-employees/version1/

Template http://moblix-employees.kademi-ci.co//theme/apps/user/contenteditor?fileName=dashboard.html&miltonUserUrl=/users/patrick&miltonUserUrlHash=44eb828a-0b03-4c44-95eb-83caa4685c4c:byvbI5h_wlylV2jF4aVUED09x1E

![image](https://user-images.githubusercontent.com/2201340/

[2017-10-15 07:00] bradmac commented on #4026
There are no courses in that website

![image](https://user-images.githubusercontent.com/826458/31582561-8313133c-b1e3-11e7-8820-e59a35ddfd01.png)

[2017-10-15 07:02] paddyow opened #4166 "Badges"
Need to update the badge component.

Options:
A) List all badges or choose how many from 1+
B) When 1 badge is displayed always show the most recently awarded badge
C) Show/hide badge title
D) Choose how many badges per row
E) Ensure there is comfortable padding in between badges
F) Ensure there is no padding around the outside of the component so the admin can apply padding to the container

1) S

[2017-10-15 20:57] tuzzmaniandevil commented on #4003
Added a null check

[2017-10-15 21:58] Anton69arb opened #4167 "create a new page on your website when you in a folder - not allowing to view or links working"
when you in a folder on your website and you create a new page, The template page is not allowing us to use any of the previous template pages - this does not allow us to view our page and letting them work - you can edit but not view live :) even when linking pages.

![the template page is not allowing us to use any of the previous template pages - this does not allow us to view our page and lett

[2017-10-15 21:59] Anton69arb commented on #4167
In the properties menu, sorry forgot to mention that

[2017-10-15 22:12] bradmac opened #4168 "Image carousel component editor producing invalid image paths, and cannot remove images"
1. Invalid paths for the hash and src
2. Clicking the delete button does nothing

1) Note that data-hash attribute below is not a valid hash, and the src attribute is not a path to an image

[code]

2)
![image](https://user-images.githubusercontent.com/826458/31589741-2c395bea-b263-11e7-8ac0-e050cbf217b4.png)

http://hydra.admin.kademi.com.au/blogs/Hydraulink%20Conference/photo-gallery/#bodyCopy-t

[2017-10-15 22:15] gonzalon commented on #4162
Now you should see:

![image](https://user-images.githubusercontent.com/2773216/31589754-4f45338e-b263-11e7-89a9-41d3ec7902fb.png)

[2017-10-15 22:17] Anton69arb opened #4169 "can only edit names for folders in the file manager and not on the tab menus"
can only edit names for folders in the file manager and not on the tab menus -tab menu has delete only,
if we could put a properties menu there to edit the folder.

http://kademi.admin.kademi.us/pages/kademi-dev/v4-ktheme/

![can only edit names for folders in the file manager and not on the tab menus](https://user-images.githubusercontent.com/32444328/31589757-5b385e00-b263-11e7-9ebe-29dd75143171

[2017-10-15 22:43] tuzzmaniandevil commented on #4003
Also added anonymous profile tracking to websockets, This requires the Tracking app to be enabled

[2017-10-15 23:45] bradmac commented on #4000
@ducdhm i cant see any problem. I've set values with commas and seems to work correctly:
![image](https://user-images.githubusercontent.com/826458/31590611-cc76c5a0-b26f-11e7-9537-fdde5e0eadd0.png)

![image](https://user-images.githubusercontent.com/826458/31590615-d7114f26-b26f-11e7-8e7a-342697d77586.png)

[2017-10-15 23:45] tuzzmaniandevil commented on #4146
Export works fine for me on the provided link

[2017-10-16 00:01] bradmac commented on #4167
@Anton69arb please check after next deploy if there is still an issue

[2017-10-16 00:06] tuzzmaniandevil commented on #3604
@anhnt The method you are calling is `getTeamTaskStatus` which is designed to get the **Team** tasks, It doesn't that by looking at the assighedToOrg, Which comes from the Lead assignedToOrg

If that panel isn't designed to show team task stats but individual tasks then you are using the wrong method

[2017-10-16 00:25] gonzalon opened #4170 "points importer fails when mapping points tag and the points are in wrong format"
Throws a NPE
`java.lang.RuntimeException: Exception executing io.milton.cloud.server.apps.admin.ManageTableUploaderPage$$Lambda$1934/1587724403@28d5484c
	at io.milton.cloud.util.SessionManagerUtils.processFormCommandInTransaction(SessionManagerUtils.java:187)
	at io.milton.cloud.server.apps.admin.ManageTableUploaderPage.processForm(ManageTableUploaderPage.java:155)
	at io.milton.http.http11.PostHa

[2017-10-16 00:32] #4170 closed

[2017-10-16 00:42] tuzzmaniandevil commented on #3604
I have updates the tasks index so assignedToOrg is never null, It will default to the admin org if no assigneToOrg it set.

[2017-10-16 01:35] gonzalon commented on #3565
Test with the latest leadman-lib 1.5.0

[2017-10-16 02:54] anhnt opened #4171 "Allow upgrade specific app when it has settings"
For example salesDataClaimer app, there's no way to upgrade it

![image](https://user-images.githubusercontent.com/735555/31593302-09ea4c9e-b258-11e7-9264-3d26690b042e.png)

[2017-10-16 03:16] gonzalon commented on #3633
Seems to be working:

![image](https://user-images.githubusercontent.com/2773216/31593767-1b067612-b28d-11e7-83c8-dc318769268b.png)

To test:
- Create a lead with a valid email
- Send an email to the forward address
![image](https://user-images.githubusercontent.com/2773216/31593793-46c43046-b28d-11e7-9a14-fcca6c31d029.png)

[2017-10-16 03:21] bradmac opened #4172 "Points importer creates points records with zero points"
Points and debit records should only be created if the value is not zero

Currently it creates zero point records. This is especially problematic when using multiple columns for different tags

Example import config:
![image](https://user-images.githubusercontent.com/826458/31593907-0636f21a-b28e-11e7-8199-538b2808d355.png)

Showing zero records:
![image](https://user-images.githubusercontent.com/

[2017-10-16 04:08] anhnt commented on #4082
all fixed please check again

[2017-10-16 04:20] ducdhm commented on #4168
Fixed!

[2017-10-16 05:41] ducdhm commented on #4128
Fixed!

[2017-10-16 06:20] Uafinder commented on #4150
Looks great!

[2017-10-16 06:20] #4150 closed

[2017-10-16 06:22] Uafinder commented on #4151
Same bug when adding products to reward store
![image](https://user-images.githubusercontent.com/1945230/31597850-5ebb1fc8-b253-11e7-89a0-f1c50c14f30f.png)
![image](https://user-images.githubusercontent.com/1945230/31597876-79491502-b253-11e7-8645-3ed8c7389eee.png)
And as a result
![image](https://user-images.githubusercontent.com/1945230/31597889-8723751e-b253-11e7-852f-c5957be46b02.png)

[2017-10-16 06:42] Uafinder commented on #4160
Still the same thing!
![image](https://user-images.githubusercontent.com/1945230/31598423-3dab1c86-b256-11e7-8e3b-c31111bb69c7.png)
fresh account
http://vlad-test17.admin.kademi-ci.co/tableUploaders

[2017-10-16 07:01] Uafinder opened #4173 "Lead company saving in lead profile causing an error"
![image](https://user-images.githubusercontent.com/1945230/31598879-b8874ca2-b258-11e7-8f9a-3a55eadf77ed.png)
1. Open lead
2. Go to the company block
3. If company does not exist - feel free to create one, if it is already, just push save details.
4. Error appears, no changes made.
http://vlad17-lead.kademi-ci.co/leads/722439/
http://vlad-test17.admin.kademi-ci.co/websites/

[2017-10-16 07:07] Uafinder opened #4174 "Lead profile unlink from company caused incorrect pop-up"
![image](https://user-images.githubusercontent.com/1945230/31599117-ac31d430-b259-11e7-935e-09b5ebf4f36e.png)
![image](https://user-images.githubusercontent.com/1945230/31599134-b8529ea2-b259-11e7-9ea3-4bfd130ccb95.png)
Pushing unlink caused pop-up Company details is saved
http://vlad17-lead.kademi-ci.co/leads/722439/
http://vlad-test17.admin.kademi-ci.co/websites/

[2017-10-16 07:08] Uafinder opened #4175 "Lead profile company button doesn't change label"
![image](https://user-images.githubusercontent.com/1945230/31599203-05ab24b2-b25a-11e7-823c-f11601a21672.png)

1. When page is refreshed you enter a name of company which are not in database and then button save details change it's label to "create company".
2. The expected thing is to do the same when you for example unlink bad company and want to add new one. Button label doesn't change.

[2017-10-16 07:23] Uafinder opened #4176 "Lead creation date and change by date picker caused multimple pop-ups appears on every change"
![image](https://user-images.githubusercontent.com/1945230/31599587-add1f714-b25b-11e7-9e26-29345eac0425.png)
When you're using a date/time picker every change made there are saving online and caused multiple pop-ups appear.
One more thing, there two different types of pop-up appears, green with "created date is saved" and blue with "saved created". Probably should be only first.
I've wrote a vide

[2017-10-16 07:31] Uafinder commented on #4162
it works!

[2017-10-16 07:31] #4162 closed

[2017-10-16 07:50] anhnt commented on #4165
@bradmac kpi api returns data with zero. Can you please have a look
Here is data for Growth KPI graph

http://jsoneditoronline.org/?id=04de1f2dc7e8102b59a27a8f2c0a54fe

[2017-10-16 07:53] Uafinder opened #4177 "Carousel element minor bug - next icon doesn't appears in editor"
![image](https://user-images.githubusercontent.com/1945230/31600644-e7b3f55a-b25f-11e7-9daa-37c2ce836a36.png)
When you change previous and next icons for carousel element in editor, icon for next is not appears in editor.
http://version1.vlad17-reward.kademi-ci.co/contenteditor?fileName=test1.html&miltonUserUrl=/users/18f99d7f-b812-4fb0-8ef3-b3dce205fff5&miltonUserUrlHash=7f251022-fb17-4c2a-a61a-7

[2017-10-16 07:57] Uafinder commented on #4168
Works ok for me
![image](https://user-images.githubusercontent.com/1945230/31600882-b9a1883e-b260-11e7-8050-c21a51a64a2f.png)

[2017-10-16 07:57] #4168 closed

[2017-10-16 08:25] Uafinder opened #4178 "Products importer doesn't allow to update products with no specified base and freight cost and selected columns for import"
1. I've six products with no details and no costs specified.
2. I need to update products with new details and also import other products with specified base and freight cost. So I put them to one file.
3. While importing I setup to import name, details and base and freight cost. And receive this.
![image](https://user-images.githubusercontent.com/1945230/31602007-5f676178-b264-11e7-8ff2-304a6b5d7

[2017-10-16 09:09] Uafinder commented on #4146
Yeah, looks fixed some kind...
Anyway, problems:
1. Freight cost is not importing
![image](https://user-images.githubusercontent.com/1945230/31603713-a7553f00-b269-11e7-89f3-6c62d88a7beb.png)
[productsInReward(1) - Copy.txt](https://github.com/Kademi/kademi-dev/files/1386781/productsInReward.1.-.Copy.txt)

2. Multiplier field grammar error in importer and in export file.
![image](https://user-imag

[2017-10-16 09:20] Uafinder opened #4179 "Product in rewards fields validation needed and decimal separator add"
1. Product in rewards details doesn't support any other type of decimal separator but dot. So comma or space is not allowed. E.g. "0.05" is correct, but "0,05" is not and "1000" is correct and "1 000" is not.
![image](https://user-images.githubusercontent.com/1945230/31604428-f034cf86-b26b-11e7-97ce-b7bff03949ee.png)
2. Validation needed... when you enter some value which system thinks it's incorr

[2017-10-16 09:21] bradmac commented on #4165
ok, will take a look tomorrow

[2017-10-16 09:27] bradmac commented on #4165
http://moblix-reporting.kademi-ci.co/sales/sales-data-2016-and-2017/growth-kpi?startDate=&endDate=&interval=day&dateHistogram

[2017-10-16 09:47] ducdhm commented on #4166
as discussed with @bradmac

[code]
At the moment, we'll skip this option

[2017-10-16 10:28] Uafinder opened #4180 "Users manage page - filter by reward store is not working"
![image](https://user-images.githubusercontent.com/1945230/31607595-9e376144-b275-11e7-9508-c323c14ca7db.png)
http://vlad-test17.admin.kademi-ci.co/manageUsers/
http://vlad-test18.admin.kademi-ci.co/manageUsers/

[2017-10-16 10:36] Uafinder commented on #3140
Minor issues:
1. When path contains more then one chain e.g. /org1/org2
![image](https://user-images.githubusercontent.com/1945230/31607843-b6640d98-b276-11e7-8234-9e7cefd492b2.png)

2. Address descending sorting in not working.
![image](https://user-images.githubusercontent.com/1945230/31607911-f5bdd960-b276-11e7-9b53-946c552ec155.png)

http://vlad-test17.admin.kademi-ci.co/organisations

[2017-10-16 11:29] Uafinder commented on #4128
Both No description label and real description text appears in KEditor
![image](https://user-images.githubusercontent.com/1945230/31609813-54db665e-b27e-11e7-8254-d6f08c6ad283.png)
http://version1.vlad17-learn.kademi-ci.co/contenteditor?fileName=test2.html&miltonUserUrl=/users/18f99d7f-b812-4fb0-8ef3-b3dce205fff5&miltonUserUrlHash=811a1bd1-65a5-4b81-ad2c-5b70edfe6754:oKFX1epCkgyh4ltP9POZP0UFTuo

[2017-10-16 12:04] Uafinder opened #4181 "Zero missed for time pop-up on the module frontend"
![image](https://user-images.githubusercontent.com/1945230/31611012-0a2a8a36-b283-11e7-8d3b-4fa458aa5022.png)
![image](https://user-images.githubusercontent.com/1945230/31611042-296caed8-b283-11e7-8ba1-a6e08fc5f08d.png)
![image](https://user-images.githubusercontent.com/1945230/31611051-333dce38-b283-11e7-8bc2-052d7a167486.png)

e.g. 15:0 for 15:00, 15:1 for 15:01 and 15:3 for 15:03
http://vlad17-

[2017-10-16 12:08] mkhoudary commented on #3726
This is fixed..

[2017-10-16 12:08] #3726 closed

[2017-10-16 12:50] salehh93 opened #4182 "export modules activity on backup"
we can't  import and export modules activity on backup
I can't see modules activity here  http://3dn.admin.kademi.com.au/websites/idhealth-training/version1/programs/Carers/Carers1/Carers01/#activity-tab
from
http://3dn.admin.olhub.com/backup/

[2017-10-16 12:52] Uafinder commented on #4127
Looks ok for me

[2017-10-16 12:52] #4127 closed

[2017-10-16 13:03] Uafinder opened #4183 "Page changing from one to another doesn't cause comments reload"
http://vlad17-learn.kademi-ci.co/programs/PRG1/CRS1/m1/ppage1.html
Just switch from page 1 to page 2
note, that comments doesn't disappear
if you will refresh page - you will note that they are gone
http://vlad17-learn.kademi-ci.co/programs/PRG1/CRS1/m1/ppage2.html
also if you go directly to the page 2, you will note that comments are absent and this is correct
if you will go back to previous page

[2017-10-16 13:24] AlaaKhalaf94 commented on #3810
Here : http://alaa-test4.admin.kademi-ci.co/translations/

When I try to add new translation with the same exist translation data it show me that The operation was successfully
and doesn't add any new translation

![capture1](https://user-images.githubusercontent.com/26510030/31614264-79bcacf2-b28e-11e7-8568-4fe61986e62a.PNG)

@gonzalon ,  please fix that to show error message when this case happe

[2017-10-16 13:28] AlaaKhalaf94 commented on #3709
passed

[2017-10-16 17:27] anhnt commented on #4164
![image](https://user-images.githubusercontent.com/735555/31625874-de766b40-b2d1-11e7-965c-a819502ec2e2.png)

![image](https://user-images.githubusercontent.com/735555/31625896-eb7fbbfc-b2d1-11e7-9cee-a0c62cda64a1.png)

Done

[2017-10-16 20:33] tuzzmaniandevil commented on #4160
Done, But will still show "Column not imported" if the column wasn't selected in the previous row

[2017-10-16 20:43] bradmac opened #4184 "Manage orgs page issues"
- trim search criteria
- change "profiles" to organisations in no results message
![image](https://user-images.githubusercontent.com/826458/31634168-0374b01c-b31f-11e7-8a80-612589896ff4.png)
- move search box to left so it aligns with search results
- move actions which are contextual to checkboxes so they align with checkboxes. Probably in a tools dropdown with "Remove" as the main inline button

[2017-10-16 20:53] bradmac opened #4185 "Users importer is forcing orgid's to lowercase"
Importing users with an org ID like "D0001" when an organisation exists with that ID.

the user should be linked to the existing org, but instead a new org is created called "d0001" and the user is linked to that

additionally, these newly created orgs are not added to the index so are not visible on the manage orgs page

[2017-10-16 21:18] bradmac opened #4186 "Points panel background colour clash"
The points balance is not visible because its black text on a black background:
![image](https://user-images.githubusercontent.com/826458/31635470-552d4de8-b323-11e7-8e4c-afd0164ac2ed.png)

Thats because the panel uses brand-primary which has been set through customisation to be black:
![image](https://user-images.githubusercontent.com/826458/31635742-660aa6dc-b324-11e7-83b2-62b6d4f6ddc8.png)

We

[2017-10-16 21:36] tuzzmaniandevil commented on #4179
1. We are only going to support dot for decimal separators. We don't be supporting spaces either. From this page: https://en.wikipedia.org/wiki/Decimal_mark

2. Fixed

[2017-10-16 21:43] tuzzmaniandevil opened #4187 "Funnels: Processing leads even when cancelled"
We need to check if a lead is cancelled before processing them.

[2017-10-16 22:09] bradmac opened #4188 "KEditor is failing to initialise"
Eg
http://linkrewards.kademi.com.au//theme/apps/rewardstore/contenteditor?fileName=rewardStoreDashboard.html&miltonUserUrl=/users/lyle-de-villiers&miltonUserUrlHash=3496e02a-d4ca-42c3-b795-cd65f0332ecc:4PFlNsDKoBygH1W6g_INzK487N8

![image](https://user-images.githubusercontent.com/826458/31637457-53a4342a-b32b-11e7-879b-3741822d8f0e.png)

No sign of errors in the logs, but initContentEditorPage is

[2017-10-16 22:25] gonzalon commented on #4184
![image](https://user-images.githubusercontent.com/2773216/31637737-9a004250-b32c-11e7-941a-c2a3936d7dde.png)

[2017-10-16 22:58] gonzalon commented on #3810
Now it's showing The translation was updated / created accordingly

[2017-10-16 22:58] Anton69arb opened #4189 "Hey, its not letting us select any styles, need to change the colors of the links in the text - not working :)"
Hey, its not letting us select any styles, need to change the colors of the links in the text - not working :)

![its not letting us select any styles](https://user-images.githubusercontent.com/32444328/31638905-7ee4eb00-b332-11e7-8f12-13b2ae7d8e24.png)

http://docs.kademi.co/programs/dev/d3/app-2/contenteditor?fileName=pintroduction.html&miltonUserUrl=/users/anton&miltonUserUrlHash=c40c300f-1d88-

[2017-10-16 23:19] bradmac commented on #4180
Duplicate of https://github.com/Kademi/kademi-dev/issues/3097

[2017-10-16 23:19] #4180 closed

[2017-10-16 23:23] bradmac commented on #4182
@tuzzmaniandevil can you look into this today, please?

[2017-10-16 23:25] bradmac commented on #4183
Comments should be associated with the module, not the page, so should not change from one page to the next.

Refreshing the page should continue to display the same comments as shown on other pages

[2017-10-16 23:31] #4082 closed

[2017-10-16 23:34] bradmac commented on #4189
@Anton69arb we dont want to manually set link colours. The link colour should come from the site stylesheet.

[2017-10-16 23:51] paddyow opened #4190 "Type in background alignment"
Should be 'Top Center'

![image](https://user-images.githubusercontent.com/2201340/31640250-09cee310-b329-11e7-8794-884494b5146e.png)

[2017-10-17 00:08] paddyow commented on #4164
Remove link from title as it goes to a TODO page
![image](https://user-images.githubusercontent.com/2201340/31639963-5cead678-b327-11e7-82fd-a68a062493dc.png)

SKU http://moblix.admin.kademi-ci.co/products/676331/#panel_details-tab

Sales data has SKU codes http://moblix.admin.kademi-ci.co/sales/sales-data-2016-and-2017/#history-tab

Please also add table height and Table title field to the compon

[2017-10-17 00:09] paddyow opened #4191 "SKUs not appearing in table"
This user http://moblix.admin.kademi-ci.co/manageUsers/152956/#summary-tab

This page http://moblix-channel.kademi-ci.co/sales-data.html

![image](https://user-images.githubusercontent.com/2201340/31640644-5543ed0c-b32b-11e7-8d6a-3d3378848d6c.png)

SKU http://moblix.admin.kademi-ci.co/products/676331/#panel_details-tab

Sales data has SKU codes http://moblix.admin.kademi-ci.co/sales/sales-data-201

[2017-10-17 01:01] bradmac commented on #3938
Please build and deploy mvel/velocity with updated version numbers to our maven repo, and then integrate with kademi

[2017-10-17 01:15] bradmac commented on #4165
hey @anhnt and @paddyow, that is returning data for a KPI. But the user is not a participant in that KPI, so doesnt see any data.

KPI's are not intended to be aggregated. And its not possible to do that, for example a KPI which is an average of data, its not valid to average averages.

I think what you want here for a reporting user is just a histogram of the sales data series, not a KPI.

[2017-10-17 01:19] bradmac commented on #4124
Seems to be working now.

I dont think there is an actual problem with enabling dependencies. But if anyone can reproduce a situation where deps arent enabled i'll look into it!

[2017-10-17 01:36] gonzalon opened #4192 "KEditor adding edit buttons"
When saving the page in the editor:
http://milestoneevents.global//theme/apps/blogs/contenteditor?fileName=viewBlogArticle.html&miltonUserUrl=/users/celine-gilpin&miltonUserUrlHash=8fb86799-5c73-4578-8795-a8c18d43a6b9:JzL_FBkHoYRd-HeFItoTrLIz1f0

It would add:
![image](https://user-images.githubusercontent.com/2773216/31642634-6fb13358-b348-11e7-912e-534e70b5fd75.png)

[2017-10-17 02:26] paddyow opened #4193 "Points bucket showing when group is assigned"
This user http://moblix.admin.kademi-ci.co/manageUsers/152956/#summary-tab

http://moblix.admin.kademi-ci.co/points-buckets - there are 2 buckets, both with a different group assigned.

If a points bucket has a group selected, it should only show for that group.

![image](https://user-images.githubusercontent.com/2201340/31643874-be5523c0-b33e-11e7-8bd6-9deb23d7f231.png)

[2017-10-17 02:52] anhnt commented on #4164
done

[2017-10-17 03:01] paddyow opened #4194 "Learning Comments"
The text 'Ask a question, or offer an answer' isnt needed please remove from template.

![image](https://user-images.githubusercontent.com/2201340/31644749-a2a1f41e-b343-11e7-9884-db529a9244cf.png)

[2017-10-17 03:14] ducdhm commented on #4188
Content editor and keditor js stuff are working normally. Error came from `kpis.js`
[code]

[2017-10-17 03:20] anhnt opened #4195 "admin elearning: allows searching courses, modules, programs"

[2017-10-17 03:28] ducdhm commented on #4188
I have removed `kpis.js` file because its content is not related to kpi or salesdata stuff.

[2017-10-17 03:56] anhnt commented on #4193
done

[2017-10-17 04:20] paddyow opened #4196 "Unable to upload points"
http://moblix.admin.kademi-ci.co/tableUploaders/pointsUploader

[Points.xlsx](https://github.com/Kademi/kademi-dev/files/1389740/Points.xlsx)

![image](https://user-images.githubusercontent.com/2201340/31646624-a0ed070c-b34e-11e7-8891-52b0e54464ab.png)

![image](https://user-images.githubusercontent.com/2201340/31646631-acd61dd8-b34e-11e7-9fd5-78296ee5b711.png)

[2017-10-17 04:32] #4165 closed

[2017-10-17 04:47] ducdhm commented on #4163
Done!

[2017-10-17 04:51] #4196 closed

[2017-10-17 05:50] paddyow commented on #4163
User http://moblix.admin.kademi-ci.co/manageUsers/762030/#summary-tab

When the page first loads the Growth KPI circle does not update to show the current status so looks like this:

![image](https://user-images.githubusercontent.com/2201340/31648767-42ae1d18-b35b-11e7-9114-58c3fdf5818d.png)

When you then select the same period from the period picker, the circle updates.
![image](https://user-ima

[2017-10-17 05:54] paddyow commented on #4193
User http://moblix.admin.kademi-ci.co/manageUsers/762030/#summary-tab

Still show extra points bucket in the profile panel.

[2017-10-17 06:07] ducdhm commented on #4128
Fixed!

[2017-10-17 06:30] Uafinder commented on #4128
Both fixed

[2017-10-17 06:35] Uafinder commented on #4128
Looks ok!

[2017-10-17 06:56] AlaaKhalaf94 commented on #4157
Hi @gonzalon , here : http://alaa4.admin.kademi-ci.co/reporting/esWebsiteAccess?startDate=11%2F10%2F2017&finishDate=17%2F10%2F2017&term-website=

The sum of the numbers in the table does not equal the number in the chart
In chart 96
In the table, the sum of the digits is 93

![capture1](https://user-images.githubusercontent.com/26510030/31650755-76e7d9d2-b321-11e7-9019-c765332056ba.PNG)

[2017-10-17 07:11] AlaaKhalaf94 commented on #3810
passed

[2017-10-17 07:11] #3810 closed

[2017-10-17 07:24] anhnt commented on #4193
Fixed. Please update rewardstore-lib to check again

[2017-10-17 08:05] ducdhm commented on #4163
@paddyow As default, when no cookie/history for selected period, we'll select current period. And I have checked with current period, Growth KPI is Off track with 0% in-progress

[2017-10-17 08:07] ducdhm opened #4197 "Better admin dashboard alert"
Current UI when we have a lot of alerts:
![ui](https://user-images.githubusercontent.com/1289631/31653425-becfd36e-b34c-11e7-9b8a-e64ec839a2e9.png)

Maybe can use notification in topnav as original clipone theme (http://preview.themeforest.net/item/clipone-bootstrap-3-responsive-admin-template/full_screen_preview/5881143?_ga=2.178038432.446918208.1508227378-462555083.1507514649)

[2017-10-17 08:37] Uafinder commented on #4128
When you change course 1 to course 2, it's changing ok, but doesn't change label
![image](https://user-images.githubusercontent.com/1945230/31652209-0eae6272-b327-11e7-951f-8dca5c5b4028.png)
http://version1.vlad17-learn.kademi-ci.co
http://version1.vlad19-learn.kademi-ci.co

[2017-10-17 09:27] Uafinder commented on #4026
Can't find and add modulePagePagination component to test it separately.
Is it ok?
![image](https://user-images.githubusercontent.com/1945230/31657205-7e86fee2-b336-11e7-810d-48469cdb0af2.png)
http://vlad17-learn.kademi-ci.co//theme/apps/learner/contenteditor?fileName=modulePage.html&miltonUserUrl=/users/18f99d7f-b812-4fb0-8ef3-b3dce205fff5&miltonUserUrlHash=cacefa35-d624-410d-b807-a338509085b5:QB

[2017-10-17 11:12] AlaaKhalaf94 commented on #3633
Hi @gonzalon , when I click on "forward" it doesn't work anything

I login with this user : http://alaa5.admin.kademi-ci.co/manageUsers/63007/#summary-tab
to this lead : http://version1.alaa5.kademi-ci.co/leads/776799/

[2017-10-17 11:20] Uafinder commented on #4160
looks ok

[2017-10-17 11:20] #4160 closed

[2017-10-17 11:22] AlaaKhalaf94 commented on #3417
passed

[2017-10-17 11:22] #3417 closed

[2017-10-17 11:30] Uafinder commented on #4178
it works

[2017-10-17 11:30] #4178 closed

[2017-10-17 11:31] AlaaKhalaf94 commented on #3476
passed

[2017-10-17 11:31] #3476 closed

[2017-10-17 11:37] Uafinder opened #4198 "Leads with closed date empty and specified column for import are not importing"
I have a list of leads which are partially active and others are already closed with closed date attribute specified.
I upload file and specify all necessary columns for import, and after that system says that leads with no closed date specified will not be imported.
![image](https://user-images.githubusercontent.com/1945230/31662841-ac494e7c-b348-11e7-8056-386b2d098033.png)
![image](https://user-

[2017-10-17 12:16] AlaaKhalaf94 commented on #3565
passed

[2017-10-17 12:16] #3565 closed

[2017-10-17 12:27] AlaaKhalaf94 commented on #4158
Its work well with me , but the calendar pop up appears above the text field
I test here : http://alaa5.admin.kademi-ci.co/blogs/blog01/blog01/#activity-tab

![capture2](https://user-images.githubusercontent.com/26510030/31664818-97e41456-b34f-11e7-9863-ef29ac79bac7.PNG)

[2017-10-17 12:34] AlaaKhalaf94 commented on #3909
passed

[2017-10-17 12:34] #3909 closed

[2017-10-17 13:33] AlaaKhalaf94 opened #4199 "Validate task fields on new lead from kademi console"
If the description field is entered, validate the task field
related to : https://github.com/Kademi/kademi-dev/issues/3565

![capture1](https://user-images.githubusercontent.com/26510030/31667688-d8998810-b358-11e7-84d6-0c7218a604e0.PNG)

[2017-10-17 13:39] AlaaKhalaf94 commented on #3239
Hi @gonzalon , I create this journey : http://alaa5.admin.kademi-ci.co/funnels/journey2/version1/#journeyBuilder-tab
And from "edit details" of goal I set the amount = 50

![capture1](https://user-images.githubusercontent.com/26510030/31667878-59bc42ca-b359-11e7-970a-7abcfd8819fe.PNG)

Then here : http://alaa5.admin.kademi-ci.co/sales/new-series01/#history-tab
I add new record with amount = 60

An

[2017-10-17 13:43] Uafinder commented on #4084
![image](https://user-images.githubusercontent.com/1945230/31668130-0738ef20-b35a-11e7-9ba6-8108ee57009c.png)

1. Fields missed
- Date registered
- Parent organization (this would most likely show their territory)
- Spent points

[2017-10-17 13:52] ducdhm commented on #4026
@bradmac Because type of `modulePagePagination` is `module` so in contentEditor, it's not showed in snippets list. Is it correct behavior?

[2017-10-17 13:53] AlaaKhalaf94 opened #4200 "Add option button in add extra fields in sales data doesn't work"
Here : http://alaa5.admin.kademi-ci.co/sales/training-data/#general-tab

At the bottom of the page when I try to add extra fields in its modal the "add option" button doesn't work

![capture1](https://user-images.githubusercontent.com/26510030/31668756-bd3e170e-b35b-11e7-8f80-a0c4cd3bb934.PNG)

[2017-10-17 13:53] ducdhm opened #4201 "Instead of inline contentEditor for blog article and calendar event, we should editing their content in frontend with iframe"

[2017-10-17 14:22] anhnt commented on #4048
![image](https://user-images.githubusercontent.com/735555/31670223-5469fbfa-b381-11e7-92aa-e0798b84d4db.png)
done

[2017-10-17 20:15] gonzalon commented on #3633
@AlaaKhalaf94 sorry I wasn't clear enough.
- just copy the address in the foward link
- open your email (Fastmail, Outlook, etc..) and write / send an email.

[2017-10-17 20:17] gonzalon commented on #4198
Related to: https://github.com/Kademi/kademi-dev/issues/3909#event-1296780196

[2017-10-17 20:45] bradmac commented on #4157
Hi @AlaaKhalaf94 the table is only listing the top 10 urls. Its likely there are a few urls not shown which account for the difference.

[2017-10-17 20:53] bradmac commented on #4197
No, as discussed we want alerts to be inline in the page. These are important, they're saying that an app has created new groups, orgs, etc, or reconfigured settings.

If those are put in a facebook style notification box users will rarely look at them.

And note that its not realistic to have so many alerts. A real user would simply close alerts once they've seen them.

But i think we can improve

[2017-10-17 21:08] bradmac commented on #3633
Note that clicking the forward link will open a new email window from your email client (if using a desktop client like Outlook or Thunderbird). But you usually need to Alt-Tab to get to that window.

[2017-10-17 21:12] bradmac commented on #3633
![image](https://user-images.githubusercontent.com/826458/31689726-deb738fc-b3ec-11e7-9c3b-1fc71a12008f.png)

[2017-10-17 21:15] bradmac commented on #4198
The closed date is just blank, which should be treated as null, ie the lead is not closed

[2017-10-17 21:28] gonzalon commented on #3239
Hi @AlaaKhalaf94 it was only firing the events to make it work by the importer, now if you create a record manually it's going to work as well...

![image](https://user-images.githubusercontent.com/2773216/31690354-fb494ea4-b3ee-11e7-9479-a3c682367ce3.png)

![image](https://user-images.githubusercontent.com/2773216/31690378-0c077478-b3ef-11e7-91b9-425b3555ca74.png)

[2017-10-17 21:47] bradmac commented on #4186
OK, so the problem is that headings have a hard color override:
![image](https://user-images.githubusercontent.com/826458/31691177-9c816034-b3f1-11e7-90e9-fe705292dcaa.png)

But non heading styles get white text when using panel-primary:
![image](https://user-images.githubusercontent.com/826458/31691210-c4916790-b3f1-11e7-8b0b-eca391ffcc39.png)

So I've put in a temp hack so the text is at least v

[2017-10-17 21:48] bradmac commented on #4186
But that text is too small. We should have something better..

[2017-10-17 22:10] bradmac opened #4202 "Points earned component, with optional tag"
Please create a new component as part of rewardstore-lib

This will show points earned for the current participant, for a selected points bucket, and optionally filtered by a points tag.

- ensure common date range is applied
- for org based points buckets, use the common org selector
- component settings should allow selection of a points bucket and (optional) points tag
- the component should be

[2017-10-17 22:49] #4193 closed

[2017-10-18 01:28] bradmac commented on #4026
Working now:

![image](https://user-images.githubusercontent.com/826458/31696870-9b3d7d56-b410-11e7-900a-7bf56df73548.png)

[2017-10-18 01:29] bradmac commented on #4026
I've updated LearningApp to return appropriate components for the template, rather then the edited resource
[code]

[2017-10-18 01:32] gonzalon commented on #3422
-Delete in /custs/
![image](https://user-images.githubusercontent.com/2773216/31696795-32bbc080-b410-11e7-95b4-8a08a4dfa7b8.png)

-Delete in the customer details page

![image](https://user-images.githubusercontent.com/2773216/31696804-4c0942f6-b410-11e7-9cbc-9b184ca79b23.png)

- When deleting the customer also will delete the lead
- Seems that's working fine atm: http://kcrm.kademi.us/custs/

In

[2017-10-18 02:57] ducdhm commented on #4166
Done!

[2017-10-18 03:12] tuzzmaniandevil opened #4203 "Create a Module Status Table Uploader"

[2017-10-18 03:21] gonzalon commented on #3140
Took it off failing for carters https://carters.admin.kademi.com.au/organisations-es/
Probably is the pagination

[2017-10-18 03:23] bradmac commented on #3140
Please re-test locally with a large database of orgs, eg 10k

Also, need to make sure that soft-deleted organisations are not displayed

[2017-10-18 03:39] anhnt commented on #4084
Missing fields added

[2017-10-18 04:29] ducdhm commented on #4186
@bradmac I think in k-theme, we should set headings-color is `inherited` same as default of bootstrap

[2017-10-18 05:00] ducdhm commented on #4128
Fixed!

[2017-10-18 06:21] anhnt commented on #4186
It's now configurable

![image](https://user-images.githubusercontent.com/735555/31703540-36d848cc-b407-11e7-8478-435caf1690dc.png)

[2017-10-18 07:19] AlaaKhalaf94 commented on #4157
passed

[2017-10-18 07:19] #4157 closed

[2017-10-18 07:34] AlaaKhalaf94 commented on #3239
passed

[2017-10-18 07:34] #3239 closed

[2017-10-18 08:01] Uafinder commented on #4026
Yeap, it looks ok.

[2017-10-18 08:01] #4026 closed

[2017-10-18 08:08] Uafinder commented on #4128
Items per row parameter is no longer work
![image](https://user-images.githubusercontent.com/1945230/31707293-84c2f7de-b3f4-11e7-9cdd-863b61b9b6f7.png)
![image](https://user-images.githubusercontent.com/1945230/31707316-9f822c8e-b3f4-11e7-970f-63c96c7a270d.png)
http://version1.vlad19-learn.kademi-ci.co/contenteditor?fileName=learn.html&miltonUserUrl=/users/adminqa&miltonUserUrlHash=27dc546a-f735-4

[2017-10-18 08:50] AlaaKhalaf94 commented on #3633
passed

[2017-10-18 08:50] #3633 closed

[2017-10-18 09:04] Uafinder commented on #4084
1. Weird records with all groups which exists in account.
http://version1.vlad19-learn.kademi-ci.co/learn.html
http://vlad-test19.admin.kademi-ci.co/manageUsers/?q=&g&enabled=true
2. When user is a member of child org, the parent org should be at same line where child membership located.
3. Columns not sortable
4. Columns are not sorted by default.
![image](https://user-images.githubusercontent.co

[2017-10-18 09:45] Uafinder commented on #4151
Yup, it works ok. To be continued

[2017-10-18 09:45] #4151 closed

[2017-10-18 09:49] Uafinder commented on #4179
Understood
Validation issue:
1. When validation works on one field, it highlights this field and those which are in one line with it.
![image](https://user-images.githubusercontent.com/1945230/31712083-bd99c8f4-b402-11e7-9b04-26d489d92d41.png)

[2017-10-18 10:00] Uafinder commented on #4184
Yeap, looks fine

[2017-10-18 10:00] #4184 closed

[2017-10-18 10:07] Uafinder opened #4204 "New org page creation pop-up incorrect"
![image](https://user-images.githubusercontent.com/1945230/31712872-03d942b6-b405-11e7-8b2a-1116daf901a6.png)
I've creating an org, and it gives me such pop-up
Should be something like "$orgname$ is created" or "Organisation is created"
http://vlad-test19.admin.kademi-ci.co/organisations-es

[2017-10-18 10:21] AlaaKhalaf94 opened #4205 "Improved Accordion Component"
Add possibility to choose icon to appear when Accordion is closed and when its open
and choose alignment to it , please

thing like this

![capture1](https://user-images.githubusercontent.com/26510030/31716524-ed3abd3a-b410-11e7-918a-e35b38f8b16c.PNG)

[2017-10-18 10:24] Uafinder commented on #4185
Both works great!
Index ok!

[2017-10-18 10:24] #4185 closed

[2017-10-18 10:28] Uafinder commented on #4188
Looks ok!

[2017-10-18 10:28] #4188 closed

[2017-10-18 10:51] anhnt commented on #4032
tested working ok

[2017-10-18 10:51] #4032 closed

[2017-10-18 10:54] Uafinder commented on #4146
Great, it works!

[2017-10-18 10:54] #4146 closed

[2017-10-18 11:01] anhnt commented on #4000
tested working ok for me

[2017-10-18 11:01] #4000 closed

[2017-10-18 11:39] AlaaKhalaf94 opened #4206 "Improved Panel Component"
Please make the following :
- Add the possibility to specify padding .
- Remove the link between its style and font color " I mean when I change the panel style, do not change the text color stays black " .

[2017-10-18 11:42] Uafinder commented on #4135
4. The same.
http://vlad-test19.admin.kademi-ci.co/groupEmails/802175/#sendInfo-tab
![image](https://user-images.githubusercontent.com/1945230/31716433-6f547c3a-b410-11e7-8894-4bcfbdda7f76.png)

5. I have a template, which i have no need anymore. I delete it, and then go to emails tab to create email from other correct
![image](https://user-images.githubusercontent.com/1945230/31716834-2b021a9a-b4

[2017-10-18 11:45] AlaaKhalaf94 commented on #4205
https://github.com/Kademi/client-gilpin-travelworld/issues/36

[2017-10-18 11:45] AlaaKhalaf94 commented on #4206
https://github.com/Kademi/client-gilpin-travelworld/issues/36

[2017-10-18 12:47] Uafinder commented on #4124
Looks ok on specified and fresh account... will keep an eye on it

[2017-10-18 12:47] #4124 closed

[2017-10-18 12:50] mkhoudary opened #4207 "Resending Emails"
Many times operation customers would need to resend an email to a user, can be out of many reasons, such as not receiving the email, deleting/clearing trash by mistake, or just not noticing that it was received in junk and not getting correct guidance.

I am discussing a functionality that allows kademi admin users to resend any email out of EDMs in leads or EDMs in profile, this can include renew

[2017-10-18 13:05] Uafinder commented on #4139
![image](https://user-images.githubusercontent.com/1945230/31720027-0eb973e0-b41e-11e7-9bfb-af285afdb6bd.png)
Found it again
Fresh account
http://vlad-test20.admin.kademi-ci.co/groupEmails/803487
Firefox
adminqa@mailinator.com

[2017-10-18 13:15] Uafinder commented on #4154
The same...
![image](https://user-images.githubusercontent.com/1945230/31720381-2138e004-b41f-11e7-994c-2b6a34a20117.png)
![image](https://user-images.githubusercontent.com/1945230/31720457-5249dfcc-b41f-11e7-8a08-004d2a358078.png)
![image](https://user-images.githubusercontent.com/1945230/31720485-6125c3f8-b41f-11e7-9f59-127e99a6a3ae.png)

[2017-10-18 13:25] Uafinder commented on #4108
Need more details, please

[2017-10-18 13:33] AlaaKhalaf94 commented on #3422
Hi @gonzalon , when I try to delete journey1 here : http://alaa5.admin.kademi-ci.co/funnels/
It shows me an error , and told me that the Funnel deleted
and the Funnel doesn't deleted

![capture1](https://user-images.githubusercontent.com/26510030/31721332-c5f66b96-b421-11e7-8d5b-6f677177bfdc.PNG)

![capture2](https://user-images.githubusercontent.com/26510030/31721340-ca92fde0-b421-11e7-9253-b884d

[2017-10-18 13:37] Uafinder opened #4208 "Award points field validation needed"
http://vlad-test20.admin.kademi-ci.co/points-buckets/points/
Validation should be added when awarding points to user. If you will not specify Issued date, points will not be visible or even doesn't award.
![image](https://user-images.githubusercontent.com/1945230/31721636-8c318ce6-b422-11e7-89ba-13161720be54.png)

[2017-10-18 13:44] Uafinder opened #4209 "Tag & Reason Code filters doesn't contain variants which was changed without refresh"
1. I've debit some points from user with reason code E
2. Then I want to use filter by "E" code, but it's empty
![image](https://user-images.githubusercontent.com/1945230/31721958-6e015796-b423-11e7-91d8-b69fecaee5e2.png)
http://vlad-test20.admin.kademi-ci.co/points-buckets/points/

[2017-10-18 13:59] Uafinder commented on #1670
IF this issue dedicated to Points Activity component, so there are some probs...
It's no displaying at all, even on the reward store website
http://version1.vlad20-store.kademi-ci.co/contenteditor?fileName=page2.html&miltonUserUrl=/users/3120a759-575d-4b8e-9b11-11c221a4366f&miltonUserUrlHash=f07dac26-44ea-4ef3-94f8-ef80fa1c0050:pqBz1PudetrWVuY8wiGpsU8cW14
http://version1.vlad20-store.kademi-ci.co/

[2017-10-18 20:19] bradmac commented on #4163
Issue is that when no date range has been selected we default to a range of -7 days to now.

Somehow we want it to default to the current KPI period, which is the end date of the last assessed period until that plus the KPI interval.

[2017-10-18 20:35] tuzzmaniandevil commented on #4179
@Uafinder That is an issue with the jQuery forms plugin. @ducdhm Please can you have a look?

[2017-10-18 21:23] bradmac commented on #4204
Please change to "Created organisation" (no exclamation marks)

[2017-10-18 21:32] bradmac commented on #4205
If this is required for travelworld then it should be High Priority and in the current milestone

[2017-10-18 21:36] bradmac commented on #4207
I think adding a "Edit as new" feature to sent emails would be a good way of doing it.

Often the originating EDM is difficult to use for resending a single email. Eg if a group email job is completed.

But as long as the email that was sent can be found, then the user should be able to create a new email from it, with a copy of all fields and content. This should allow the recipient and content e

[2017-10-18 21:38] bradmac commented on #4139
Confirmed i can see it too

[2017-10-18 21:42] bradmac commented on #4154
hey @Uafinder, the original issue reported was with KEditor. But i think your example was created with the rich text editor

If KEditor works correctly please close this issue. If there is a problem with the rich text editor then create a new issue.

[2017-10-18 21:54] bradmac commented on #4108
Previously users could access management pages for journey nodes when not logged in

For example this:
http://gilead.admin.kademi.us/funnels/executing-priorities-journey/version1/emailAction-m1w1/

[2017-10-18 22:05] bradmac commented on #4209
http://vlad-test20.admin.kademi-ci.co/manageApps/#installed-tab

![image](https://user-images.githubusercontent.com/826458/31744938-67a26fbc-b4bd-11e7-980f-19eb383bf015.png)

[2017-10-18 22:06] bradmac commented on #4209
The list is generated from settings, not from looking at records

[2017-10-18 22:39] gonzalon commented on #4139
Did reproduce it in the fresh account. Fixed.

[2017-10-18 23:02] bradmac commented on #4163
hey @ducdhm here's how i think we handle this

- the kpiPeriodPicker holds its own cookie, selectedKpiPeriodId
- when a period is selected, set this cookie and also set the common date range params
- when this component displays and there is no selectedKpiPeriodId, set the period id to some special value (eg "current") and set the common date range to the current period range, and reload the page

[2017-10-18 23:10] gonzalon commented on #3140
@Uafinder You can use this file to import orgs if you change the number in L1 change the names for the orgs so you can import it multiple times
[orgs-import.xls.zip](https://github.com/Kademi/kademi-dev/files/1396585/orgs-import.xls.zip)

[2017-10-18 23:12] bradmac opened #4210 "Error when awarding points from the profile page"
Eg
http://hydra.admin.kademi.com.au/manageUsers/81199886/#pointsBucketTab-tab

![image](https://user-images.githubusercontent.com/826458/31746963-a390fc10-b4c6-11e7-90cb-e0fc46bc3a12.png)

This is because of using an invalid URL:
http://hydra.admin.kademi.com.au/rewards/points/

[2017-10-18 23:19] #4210 closed

[2017-10-19 01:21] bradmac commented on #3709
The change means that the default no longer works.

By default the action should send to the lead profile. But now when the recipient field is blank no email is sent

[2017-10-19 02:29] bradmac commented on #3709
Note that the change i've made here means that recipient emails which do not have a corresponding profile will not be sent. I'm not sure if that conflicts with existing requirements.

[2017-10-19 02:35] anhnt commented on #4069
I have investigated this. the form data posted to server is correct so it seems to be a java error

[2017-10-19 02:42] ducdhm commented on #4085
@bradmac @salehh93 how about increase width of `modal-lg` in k-theme? Issue is came from `k-theme` because of size of button

[2017-10-19 02:54] anhnt commented on #4204
done

[2017-10-19 02:55] bradmac commented on #4085
@ducdhm it should be robust enough to handle different themes.

If we just remove input labels (see comment above) then there should be plenty enough room on all themes

[2017-10-19 02:56] bradmac commented on #4085
+1

[2017-10-19 02:59] tuzzmaniandevil commented on #4069
The data being posted is incorrect. It's using the same meta id for both the description and the keyword fields. e.g.:
[code]

[2017-10-19 03:16] tuzzmaniandevil commented on #4069
I put in a fix that will be applied on the next deploy

[2017-10-19 03:17] anhnt commented on #4169
added rename button

![image](https://user-images.githubusercontent.com/735555/31752716-91cc16c8-b4b6-11e7-8635-dd7e06808db3.png)

![image](https://user-images.githubusercontent.com/735555/31752731-a3501548-b4b6-11e7-86d1-76b1f65f7f96.png)

[2017-10-19 04:25] gonzalon commented on #3938
@Uafinder did some changes to enforce security in the templates / expressions of Velocity and MVel.
Please take it in mind and look around if I broke something  :P

[2017-10-19 04:56] ducdhm commented on #4072
Done!

[2017-10-19 05:21] anhnt commented on #3938
Could not build Kademi local at the moment.
[code]

[2017-10-19 05:36] ducdhm commented on #4128
Fixed!

[2017-10-19 05:39] ducdhm commented on #4194
Done!

[2017-10-19 05:44] bradmac commented on #3938
Mine ran ok
[code]

[2017-10-19 07:23] anhnt commented on #3938
OK i can build now thanks

[2017-10-19 07:58] anhnt opened #4211 "Setting hash from remote server bug"
Steps to reproduce:

1. Create new account on CI, then setup a website with some pages.
2. Back up data (all data)
3. Create new account on US, then restore from backup data (remote server ticked, enter username and password)
4. My website is created on new US account but without any files
5. Go to file manager, then set remote hash (make sure you entered correct user detail)
6. It says error and

[2017-10-19 08:08] ducdhm commented on #4163
Done!

[2017-10-19 08:57] Uafinder commented on #4128
working  great!

[2017-10-19 08:57] #4128 closed

[2017-10-19 09:06] paddyow opened #4212 "Slow page display when funnels are enabled"
Clicking from an email sent by the US server to a webpage on the US server was running very slow, at times it took 15 seconds from clicking to the page finishing loading.

Manually add a user to this group http://kademi.admin.kademi.us/groups/loyalty-email-campaign/members/ to send an email.

Then in Mailinator click from the first email link.

[2017-10-19 09:42] Uafinder opened #4213 "Organisation import performance results"
Import process are slowing down while importing.
On the start there was 20-25 orgs per hop (2 secs), after 2000 orgs already imported speed is 5 orgs/2sec and slowing down. Will update a result when it finishes.
update: so, import of file, which contains 10800 orgs takes 3 hours and 15 minutes, while import ends it processed by 1 org into 2 seconds.

[2017-10-19 09:49] AlaaKhalaf94 commented on #4204
passed

[2017-10-19 09:49] #4204 closed

[2017-10-19 09:54] Uafinder commented on #4208
It works!

[2017-10-19 09:54] #4208 closed

[2017-10-19 09:56] anhnt opened #4214 "After copy hash from remote server, some files need to be touched to show content"
To reproduce: create a website with some html file on CI then copy them to new website on US by setting remote hash. The files are showed on list but not showing content or title when rendering

[2017-10-19 09:58] Uafinder commented on #4139
Yup, looks ok!

[2017-10-19 09:58] #4139 closed

[2017-10-19 10:18] Uafinder commented on #4154
Understood, will do...
It works, but doesn't restrict for resolution limitation
![image](https://user-images.githubusercontent.com/1945230/31766307-df160006-b4cf-11e7-9a54-c127b6cd2ffa.png)
In the editor
![image](https://user-images.githubusercontent.com/1945230/31766347-f89d8b7a-b4cf-11e7-9b8a-58ea61161db6.png)
![image](https://user-images.githubusercontent.com/1945230/31766363-04b04e8e-b4d0-11e7

[2017-10-19 10:22] Uafinder opened #4215 "Adding photo via rich text editor caused it doesn't appears in emails"
http://vlad-test20.admin.kademi-ci.co/groupEmails/803487/#messages-tab
https://user-images.githubusercontent.com/1945230/31720381-2138e004-b41f-11e7-994c-2b6a34a20117.png
https://user-images.githubusercontent.com/1945230/31720457-5249dfcc-b41f-11e7-8a08-004d2a358078.png
https://user-images.githubusercontent.com/1945230/31720485-6125c3f8-b41f-11e7-9f59-127e99a6a3ae.png

Add a picture via Rich txt e

[2017-10-19 10:25] AlaaKhalaf94 commented on #4169
passed

[2017-10-19 10:25] #4169 closed

[2017-10-19 10:27] Uafinder opened #4216 "KEditor - doubleclick on image to edit it caused a bug"
![image](https://user-images.githubusercontent.com/1945230/31766619-bfe0c08a-b4d0-11e7-82fb-54ad2a35270d.png)
1. Open page for edit
2. Found an image in text
3. Select it
4. When i use toolbar button it works ok, but i use doubleclick on image to edit it caused a bug.
http://vlad-test20.admin.kademi-ci.co/groupEmails/854540/#messages-tab

[2017-10-19 13:23] Uafinder opened #4217 "Lead creation process - accounts pickup"
1. ![image](https://user-images.githubusercontent.com/1945230/31772332-05c64798-b4e8-11e7-91d0-fb8fa08d15ab.png)
![image](https://user-images.githubusercontent.com/1945230/31772343-0f7dee58-b4e8-11e7-84f2-24710be95645.png)
userqa03 account is not appearing in list because it doesn't have leads group. Is this correct or not?
http://vlad-test20.admin.kademi-ci.co/manageUsers/
http://vlad20-lead.kade

[2017-10-19 13:32] Uafinder opened #4218 "Create more than one lead without page refresh"
1. Create a lead.
2. Open create lead dialog for create another one. Note, that some fields are already entered.
![image](https://user-images.githubusercontent.com/1945230/31773333-1bc372a2-b4eb-11e7-9dbb-a7fc9e27b38f.png)
3. Create a lead without change already specified fields.
4. Note, that field Source are not entered but it was specified on the lead creation dialog.
![image](https://user-imag

[2017-10-19 14:49] salehh93 commented on #4205
done

[2017-10-19 16:34] ducdhm commented on #4205
@salehh93 When you're done, please add label `Ready to Test QA` and dont remove any labels

[2017-10-19 16:41] ducdhm commented on #4205
@salehh93 A couple of comments from me:
 1. Dont add any number to label like this "Panel style1"
 2. Dont commit `package-lock.json`. You should add it in ignore file inside `keditor` folder
 3. Please naming class more meaning. Dont use `panelIcon1` and `panelIcon2`. They're meaningless.
 4. Please write LESS instead of normal CSS in LESS file (you research about LESS, how to do it)
 5. Please t

[2017-10-19 16:51] ducdhm commented on #4085
@salehh93 A small thing, I see you change "Width" to "Widthh", please revert it back.

[2017-10-19 16:54] ducdhm commented on #4206
@AlaaKhalaf94 @bradmac Do you think it's ok for letting user to change padding of panel? Padding of panel should be came from theme.

[2017-10-19 20:54] tuzzmaniandevil opened #4219 "Login Component: Breaks editor when auto redirect is enable"
When editing the Login template and "Redirect if already logged in" is enabled on the Login Form component, When you try edit the template it just redirects you so you can't edit the template anymore

[2017-10-19 21:39] tuzzmaniandevil commented on #1670
@Uafinder The Reporting app is required for that component to work

[2017-10-19 22:29] paddyow opened #4220 "Migration issue - No training components showing"
Looks like the latest learning components have not been pushed.

From:
http://moblix.admin.kademi-ci.co/pages/moblix-channel/version1/

To:
http://moblix-hinda.admin.kademi.us/hinda-settings/

See training.html which has code but no components showing.

Test with this profile http://moblix.admin.kademi-ci.co/manageUsers/762030/#summary-tab

Go to this page http://moblix-channel-site.kademi.us/trai

[2017-10-19 22:31] paddyow opened #4221 "Migrations issue - Recognition APP not showing"
http://moblix-hinda.admin.kademi.us/manageApps/#installed-tab

![image](https://user-images.githubusercontent.com/2201340/31797330-75116ab0-b579-11e7-8e81-85ca4c3cea24.png)

[2017-10-20 00:10] #4221 closed

[2017-10-20 00:12] paddyow opened #4222 "Sales Data Debug Code"
This page http://moblix-channel-site.kademi.us/sales-data.html

http://moblix-hinda.admin.kademi.us/manageUsers/15806240/#summary-tab

If the below is not fixed, hide the debug code so it's at least partly functioning for Hinda.

![image](https://user-images.githubusercontent.com/2201340/31799709-83a7ab76-b587-11e7-97b8-68b71055e365.png)

[2017-10-20 00:14] paddyow opened #4223 "Auction Panel fails to click through to detail screeen"
Clicking through from an auction list goes to a blank page.
This page http://moblix-channel-site.kademi.us/auctions/
This user http://moblix-hinda.admin.kademi.us/manageUsers/15806240/#summary-tab

Note Moblix works ok...

[2017-10-20 00:43] paddyow opened #4224 "Click through from Category on dashboard fails to show prods in the store"
This user http://moblix.admin.kademi-ci.co/manageUsers/762030/#summary-tab

Needs fixing on QA Moblix and the Hinda account http://moblix-hinda.admin.kademi.us

![image](https://user-images.githubusercontent.com/2201340/31800297-afa515e8-b58b-11e7-8274-761e60ba533e.png)

[2017-10-20 00:55] paddyow opened #4225 "Cannot upload claim"
This user http://moblix-hinda.admin.kademi.us/manageUsers/15806276/#summary-tab

See claim app here http://moblix-hinda.admin.kademi.us/manageSaleDataClaimer/

![image](https://user-images.githubusercontent.com/2201340/31800579-8aa08f0a-b58d-11e7-9b93-a3af9720dbc7.png)

[2017-10-20 01:19] paddyow opened #4226 "Unable to upload new image for emoticon feedback"
http://moblix-hinda.admin.kademi.us/kfeedback/#!/surveys/detail/?id=program-sentiment

Note I tried this with a new survey and it still failed.

![image](https://user-images.githubusercontent.com/2201340/31800990-c9863794-b590-11e7-9af8-07917c6173f7.png)

[2017-10-20 02:03] anhnt commented on #4220
fixed

[2017-10-20 02:49] anhnt commented on #4226
fixed http://moblix-hinda.admin.kademi.us/kfeedback/#!/surveys/detail/?id=test

[2017-10-20 02:54] #4220 closed

[2017-10-20 02:59] #4226 closed

[2017-10-20 03:02] #4222 closed

[2017-10-20 03:08] ducdhm commented on #4224
Fixed! Just need re-indexing!

[2017-10-20 03:09] paddyow opened #4227 "Poll not awarding points when completed"
Poll http://moblix-hinda.admin.kademi.us/kpoll/managePolls/poll-VcZI2AXrIzkTokJvZ4Trzq54pWpFXEPX#detail-tab

User
http://moblix-hinda.admin.kademi.us/manageUsers/15813094/#summary-tab

[2017-10-20 03:10] #4224 closed

[2017-10-20 03:12] anhnt commented on #4223
fixed

[2017-10-20 03:12] paddyow opened #4228 "Missing the new reporting components"
Login as http://moblix-hinda.admin.kademi.us/manageUsers/15765097/#summary-tab

[2017-10-20 03:15] #4223 closed

[2017-10-20 03:18] ducdhm commented on #4225
Fixed!

[2017-10-20 03:21] paddyow commented on #4225
Cannot approve a claim

http://moblix-hinda.admin.kademi.us/manageSaleDataClaimer/

[2017-10-20 03:38] #4228 closed

[2017-10-20 03:40] #4225 closed

[2017-10-20 03:42] anhnt commented on #4228
done

[2017-10-20 03:46] gonzalon commented on #3478
@bradmac can you please tell me where is this page? couldn't find it

[2017-10-20 05:55] ducdhm commented on #4227
Fixed!

[2017-10-20 06:59] Uafinder opened #4229 "Reward selector component doesn't change promotion on selection"
![image](https://user-images.githubusercontent.com/1945230/31808778-4cf13444-b57d-11e7-92f4-2eaed5fe70ff.png)
When you change promotion via selector it doesn't change page to appropriate promotion page.
http://vlad20-promo.kademi-ci.co/page2.html

[2017-10-20 07:43] Uafinder commented on #3735
1. Could not submit request
![image](https://user-images.githubusercontent.com/1945230/31809373-1e0092f8-b580-11e7-8263-e3ba6ae99df1.png)

2. Image pixelated
![image](https://user-images.githubusercontent.com/1945230/31809441-6cf08742-b580-11e7-8471-c2a9bbf47833.png)

http://vlad20-promo.kademi-ci.co/page2.html
http://version1.vlad20-promo.kademi-ci.co/contenteditor?fileName=page2.html&miltonUserU

[2017-10-20 07:47] anhnt commented on #4003
looking good now. Over to @Uafinder for testing

[2017-10-20 08:04] Uafinder commented on #4061
Incorrect link are remains:
![image](https://user-images.githubusercontent.com/1945230/31810904-317adc3e-b586-11e7-890b-64718167011a.png)

Journey link error also remains
![image](https://user-images.githubusercontent.com/1945230/31810921-48a1b338-b586-11e7-8cfc-3d443b038bb0.png)
Probably link should be:
http://vlad-test23.admin.kademi-ci.co/funnels/journey1/version1 where version1 should link to

[2017-10-20 09:06] anhnt commented on #4084
fixed

[2017-10-20 09:08] Uafinder commented on #3140
OrgType and OrgName search incorrect.
![image](https://user-images.githubusercontent.com/1945230/31812026-55610d5e-b58a-11e7-8b31-83f2800b911d.png)
http://vlad-test21.admin.kademi-ci.co/organisations-es

[2017-10-20 10:21] anhnt commented on #3604
thanks its working now. just added some code to reload the piechart when a task is updated

[2017-10-20 10:22] #3604 closed

[2017-10-20 10:50] anhnt commented on #4078
background color picker added

![image](https://user-images.githubusercontent.com/735555/31817635-1aa9df9e-b5bf-11e7-898b-416218379161.png)

[2017-10-20 10:57] Uafinder commented on #4084
So, no default sorting and no manual sorting?

1. Include inactive users checkbox is not working anymore. When it's unselected - no users appears, when it's selected - they appears all. Probably last active field bad.
http://vlad-test23.admin.kademi-ci.co/pages/vlad23-learn/version1/
http://version1.vlad23-learn.kademi-ci.co/vlad-test23.html?miltonUserUrl=/users/2f5ccda6-2de0-4223-a41b-31d380bf3e5

[2017-10-20 11:43] Uafinder opened #4230 "Email history show nothing"
http://vlad-test21.admin.kademi-ci.co/emails/?q=&status=&job=
http://vlad-test21.admin.kademi-ci.co/groupEmails/
![image](https://user-images.githubusercontent.com/1945230/31819324-e71b5e4c-b5a4-11e7-941a-4dc8313e17a1.png)