[2017-12-13 04:24] paddyow opened #4622 "Mobix issue #3"
We have a rego journey here http://moblix.admin.kademi-ci.co/funnels/registration/version1/#journeyBuilder-tab

The first email once the participant is approved is sent an email with a button that should click them through and log them into the dashboard.

This is the template in the journey http://moblix.admin.kademi-ci.co/funnels/registration/version1/emailAction-3455cf/#summary-tab

The link is

[2017-12-13 04:37] bradmac commented on #4622
Looks like that email does have the correct token on it:
http://moblix.admin.kademi-ci.co/emails/3318606

http://moblix-channel.kademi-ci.co/dashboard?miltonUserUrlHash=a8328af2-e969-4ff2-8346-f91b45b0cd25%3AAK2oYexLmo6xuUs7SqczyNGZfkw&edmid=3318606&miltonUserUrl=%2Fusers%2Fsdfds

[2017-12-13 04:38] bradmac commented on #4622
@paddyow why do you think there's no login token?

[2017-12-13 05:32] paddyow commented on #4622
This is the rego page http://moblix-channel_moblix.kademi-ci.co/dealer-claims/signup

I registered this user kadtest123@mailinator.com
Approved them in the admin
Got sent the first email in the journey
When I click through from the link in the eamil which is http://moblix-channel.kademi-ci.co/dashboard?miltonUserUrlHash=ebc3f61f-769e-4ddb-82a1-998d25cde4c5%3A9YIxic4DKaVOrJH6VLXcLmZAJno&edmid=33193

[2017-12-13 05:35] ducdhm commented on #4621
Just need reindex and the data is there.

[2017-12-13 05:59] ducdhm commented on #4620
@paddyow Kpoll and Sales chart are fixed by reindexing

[2017-12-13 06:38] ducdhm commented on #4620
Done!

[2017-12-13 07:20] Uafinder commented on #4617
ok, just wondering...

[2017-12-13 07:20] #4617 closed

[2017-12-13 07:22] Uafinder commented on #4618
https://github.com/Kademi/kademi-dev/issues/4574

[2017-12-13 07:31] mkhoudary commented on #4615
@bradmac sure..

[2017-12-13 07:39] ducdhm commented on #4622
It's fixed!

[2017-12-13 07:53] AlaaKhalaf94 commented on #4607
tested

[2017-12-13 07:53] #4607 closed

[2017-12-13 09:01] Uafinder commented on #4622
Ok, for me

[2017-12-13 09:49] Uafinder opened #4623 "Moblix issues"
![image](https://user-images.githubusercontent.com/1945230/33932371-7bfd35be-dffb-11e7-8b72-ac9c4b4e14d8.png)
Claim products contains deleted products
http://moblix.admin.kademi-ci.co/manageUsers/762059/#summary-tab
http://moblixchannel-moblix.kademi-ci.co/sales-claims.html

Issue with carousel
![clipboard - december 13 2017 11-37 am](https://user-images.githubusercontent.com/1945230/33932433-983d

[2017-12-13 09:54] ducdhm commented on #4623
`Issue with carousel` is fixed!

[2017-12-13 10:00] AlaaKhalaf94 commented on #4435
Hi Anh , here : http://fresh08-fresh08.kademi-ci.co//theme/contenteditor?fileName=defaultThemeTemplate.html I enable "Organisation selector" from setting

![capture1](https://user-images.githubusercontent.com/26510030/33932901-e3b8ede6-dffc-11e7-8186-0b3376afb846.PNG)

but in website , the org selector doesn't appear , appear white space instead of it

![capture2](https://user-images.githubusercon

[2017-12-13 11:43] #4435 closed

[2017-12-13 11:44] AlaaKhalaf94 commented on #4435
it need reindex to appear

[2017-12-13 12:24] AlaaKhalaf94 commented on #3247
passed

[2017-12-13 12:24] #3247 closed

[2017-12-13 12:41] Uafinder commented on #4610
Yup, can't reproduce it at the moment...
So closing for now

[2017-12-13 12:41] #4610 closed

[2017-12-13 12:49] Uafinder commented on #4609
Yes, fixed

[2017-12-13 12:49] #4609 closed

[2017-12-13 12:50] Uafinder opened #4624 "multiple pop-ups appering when saving lead details in admin"
![image](https://user-images.githubusercontent.com/1945230/33939720-e159ce4a-e014-11e7-9913-acb31fdf8cc6.png)
http://vladtest05.admin.kademi-ci.co/leads/3328441/#information-tab

[2017-12-13 12:54] #4614 closed

[2017-12-13 13:00] Uafinder commented on #4450
yup, looks fine right now

[2017-12-13 13:00] #4450 closed

[2017-12-13 13:03] mkhoudary commented on #4613
@Uafinder to test this, use omni search on website.. for anything you type either a result should appear or the sentence "No results found".. but it will never show a blank list.

[2017-12-13 13:19] Uafinder commented on #4595
Works great

[2017-12-13 13:19] #4595 closed

[2017-12-13 13:35] mkhoudary commented on #4611
Done..

[2017-12-13 13:36] mkhoudary commented on #4611
@Uafinder to test this, go to KEditor, drag a loginFormComponent, try to change the title above, if title is blank you should see a default title, if a logo is added the title should disappear

[2017-12-13 13:36] mkhoudary commented on #4612
Done..

[2017-12-13 13:37] mkhoudary commented on #4612
@Uafinder to test this, add a logo to the login form let it show, then remove it.. if the title reappeared then this is resolved.

[2017-12-13 13:43] AlaaKhalaf94 commented on #4455
passed

[2017-12-13 13:43] #4455 closed

[2017-12-13 13:51] Uafinder commented on #3745
Yup, it doesn't show error at the moment...
However:
1. You add some KCode which depends on Funnel app
2. push save
3. refresh page
4. All kcodes disappears

http://vladtest05.admin.kademi-ci.co/pages/vlad05leads/version1/
http://vladtest05.admin.kademi-ci.co/pages/vlad05leads/version1/?contenteditor=page.html

[2017-12-13 13:52] Uafinder commented on #4546
Ok, so it's works correctly!

[2017-12-13 13:52] #4546 closed

[2017-12-13 13:56] mkhoudary commented on #4615
Done and tested on Dev..

[2017-12-13 14:06] Uafinder commented on #4314
ok
so, it looks good

[2017-12-13 14:06] #4314 closed

[2017-12-13 14:30] Uafinder commented on #4587
Search by profiles doesn't work...
![image](https://user-images.githubusercontent.com/1945230/33943847-ec8464de-e022-11e7-9f5c-4df22ebd2488.png)
http://vladtest05.admin.kademi-ci.co/Calendars/calQA01/hrdhdrhd-ddr-drj#details-tab

[2017-12-13 14:33] Uafinder opened #4625 "No checkboxes for add attendie to the event"
![image](https://user-images.githubusercontent.com/1945230/33943972-59a8f5ca-e023-11e7-84ab-26f8b835225b.png)
http://vladtest05.admin.kademi-ci.co/Calendars/calQA01/elligibleProfiles-hrdhdrhd-ddr-drj

[2017-12-13 14:54] Uafinder commented on #4462
hmmm...
looks like, when you click login as button it doesn't transfer you to specific site...
![image](https://user-images.githubusercontent.com/1945230/33944905-2bc714a4-e026-11e7-83a5-6142798177ed.png)

![image](https://user-images.githubusercontent.com/1945230/33944892-2044c2a2-e026-11e7-8ae6-99be241db79f.png)

![image](https://user-images.githubusercontent.com/1945230/33944880-18903654-e026-1

[2017-12-13 19:34] bradmac commented on #4462
It does work when logged in as admin, but not when logged in as a sales user.

@tuzzmaniandevil can you please provide instructions for setting up roles

@anhnt please add text to the component settings explaining the requirements for roles

[2017-12-13 19:38] bradmac commented on #4587
I'm seeing this error in the user search ajax response:
http://vladtest05.admin.kademi-ci.co/manageUsers?asJson=true&type=profile&omni=a

[code]

I've reindexed profiles and orgs

[2017-12-13 19:39] bradmac commented on #4615
Looks good! 👍

[2017-12-13 21:24] gonzalon commented on #4598
@paddyow  I did an update for the categories in the safety demo, now are ok... but I had to delete the old ones, so I think that not all the products are asigned to categories

[2017-12-13 21:24] gonzalon commented on #4593
@paddyow  I did an update for the categories in the safety demo, now are ok... but I had to delete the old ones, so I think that not all the products are asigned to categories

[2017-12-14 01:34] gonzalon commented on #3897
![image](https://user-images.githubusercontent.com/2773216/33971152-eae22904-e0db-11e7-99c1-615af513c95e.png)

[2017-12-14 02:28] gonzalon commented on #3945
Now we can test the templates, also its going to do the same validation on the save.

![image](https://user-images.githubusercontent.com/2773216/33972564-4a9cce24-e0e3-11e7-8995-fb61eae91796.png)

Valid:
![image](https://user-images.githubusercontent.com/2773216/33972570-54445528-e0e3-11e7-8a5b-1e4525a988fc.png)

Invalid:
![image](https://user-images.githubusercontent.com/2773216/33972580-5d415e5a

[2017-12-14 02:40] gonzalon opened #4626 "Stream layout problem"
Seeing this in airnz

![image](https://user-images.githubusercontent.com/2773216/33972929-0805140c-e0e5-11e7-8539-5975b1569de6.png)

Seems that the problem is the same as we had in the timeline, the products have HTML code in the name / title so its breaking the HTML.

[2017-12-14 02:59] gonzalon commented on #2150
Seems this is working for me, @anhnt can you confirm?

![image](https://user-images.githubusercontent.com/2773216/33973424-ac95ae3a-e0e7-11e7-8218-f93bc91ad364.png)

[2017-12-14 03:03] gonzalon commented on #2631
Seems ok to me:

![image](https://user-images.githubusercontent.com/2773216/33973548-5f26dbaa-e0e8-11e7-9975-cc28767b46d6.png)

[2017-12-14 03:11] gonzalon commented on #2725
Can't reproduce!

[2017-12-14 04:38] bradmac opened #4627 "ELearning component to see module progress of users within the current user's team"
- this should integrate with the orgselector, and show users from the currently selected org
- show a table of all module statuses, probably use pagination
- allow filtering by status (complete or in-progress), user, program, course and module

[2017-12-14 04:39] bradmac opened #4628 "Enhancements to generating plain text from html emails"
Styles are included, these should be removed:
![image](https://user-images.githubusercontent.com/826458/33975202-f36cb826-e0f1-11e7-8439-1c81b8dff6e3.png)

You can do this by using Jerry to remove specific elements such as <style> prior to conversion to text.

And non-text elements are converted to newlines, but when we have deeply nested divs this results in lots of empty lines. We should change

[2017-12-14 05:52] anhnt commented on #4619
![image](https://user-images.githubusercontent.com/735555/33977475-9e9c442a-e0cd-11e7-8c13-29f88d768632.png)

Please rebuild to test

[2017-12-14 08:08] Uafinder commented on #4625
Yup, checkboxes are there...

[2017-12-14 08:08] #4625 closed

[2017-12-14 08:08] Uafinder commented on #4587
yup, it works !

[2017-12-14 08:08] #4587 closed

[2017-12-14 08:14] Uafinder commented on #3897
Yup it works!

[2017-12-14 08:14] #3897 closed

[2017-12-14 08:37] Uafinder commented on #3945
Works ok!
Examples would be great to have as much as you can (to have an example for syntax)
Now we have only two:
ABC-@{randomHex(3)} - ABC-4c1
MM-@{formatter.getYear(date)}-@{randomHex(3)} - MM-2015-724

[2017-12-14 08:37] #3945 closed

[2017-12-14 08:59] Uafinder commented on #2725
Yup, looks like a very old issue :)

[2017-12-14 08:59] #2725 closed

[2017-12-14 10:39] Uafinder opened #4629 "Pie chart component small bug"
![image](https://user-images.githubusercontent.com/1945230/33988070-c8ebb118-e0cb-11e7-821e-0e7483ad41a4.png)
http://vladtest06.admin.kademi-ci.co/pages/vlad06data/version1/

[2017-12-14 11:07] Uafinder commented on #4307
tested on moblix, working good

[2017-12-14 11:07] #4307 closed

[2017-12-14 11:20] Uafinder commented on #4274
Works great!

[2017-12-14 11:20] #4274 closed

[2017-12-14 13:12] Uafinder opened #4630 "uploading second image cause error to Loginform component"
![image](https://user-images.githubusercontent.com/1945230/33993862-f5963250-e0e0-11e7-95b8-2d89024ee643.png)
http://vladtest06.admin.kademi-ci.co/pages/vlad06data/version1/
1. Add component to page
2. upload image for logo
3. Remove image
4. Try to upload another image

[2017-12-14 13:12] Uafinder commented on #4611
yup, works as expected

[2017-12-14 13:12] #4611 closed

[2017-12-14 13:19] Uafinder commented on #4612
Yup, looks good

[2017-12-14 13:19] #4612 closed

[2017-12-14 13:31] Uafinder commented on #4613
looks ok at the moment

[2017-12-14 13:31] #4613 closed

[2017-12-14 15:28] Uafinder commented on #4556
It's ok at the moment

[2017-12-14 15:28] #4556 closed

[2017-12-14 15:28] Uafinder commented on #4304
It's ok at the moment

[2017-12-14 15:28] #4304 closed

[2017-12-14 16:49] ducdhm commented on #4473
Done!

[2017-12-14 19:13] bradmac commented on #4629
@gonzalon can you please update so that when the description is missing we use the query name

[2017-12-14 19:14] bradmac commented on #4629
I think there are a few components that allow selecting a query so we should check those as well

[2017-12-14 19:14] bradmac commented on #4630
@ducdhm this issue might be redundant with the new image controls, but please check

[2017-12-14 20:52] bradmac opened #4631 "Ensure concurrent reward store redemption transactions cannot result in a negative balance"
We shouldnt rely on disabling form submit

[2017-12-14 22:26] tuzzmaniandevil commented on #1110
Replaced with #4594

[2017-12-14 22:26] #1110 closed

[2017-12-14 23:16] gonzalon opened #4632 "Link from product page to see the variants in the SKU page"

[2017-12-14 23:53] gonzalon commented on #4632
In the products page:

![image](https://user-images.githubusercontent.com/2773216/34020046-c3932f9a-e196-11e7-9279-78a423b00cc1.png)

In the Sku page:
![image](https://user-images.githubusercontent.com/2773216/34020054-ce006948-e196-11e7-88cd-56e09ae72cd5.png)

[2017-12-15 01:32] bradmac commented on #4473
Seeing this error when using the photo component in keditor:

![image](https://user-images.githubusercontent.com/826458/34022548-cf682a42-e1a4-11e7-930a-9437994609f5.png)

[2017-12-15 01:39] bradmac commented on #4473
And where do we see this awesomeness?
![image](https://user-images.githubusercontent.com/826458/34022740-cc99b668-e1a5-11e7-9adb-22a6ed400323.png)

[2017-12-15 02:18] tuzzmaniandevil commented on #4462
So the component requires the user to have the `User Administrator` role.

@Uafinder Please make sure the sales group has the correct roles.
@anhnt If you need any more info to add the explanation please let me know

[2017-12-15 03:26] gonzalon commented on #4628
@Uafinder for your reference you have to select the option to display the email body as plain text.
One problem as you can see in the image Brad posted was the styles, another is that we were getting something like:
![image](https://user-images.githubusercontent.com/2773216/34025376-6d877250-e1b4-11e7-8e32-a46eba492438.png)

And now:

![image](https://user-images.githubusercontent.com/2773216/3402

[2017-12-15 04:19] ducdhm commented on #4473
@bradmac I have added dependencies in admin-lib. You should see it in fresh account.

[2017-12-15 06:51] ducdhm commented on #4624
Fixed! I added default category for all messages. So this issue will be never happened again.

[2017-12-15 07:02] #4623 closed

[2017-12-15 07:17] anhnt commented on #4627
![image](https://user-images.githubusercontent.com/735555/34031178-b70e2eb2-e1a2-11e7-8226-3299b2b21eac.png)

[2017-12-15 07:29] Uafinder commented on #4526
https://drive.google.com/open?id=1WywgKtFlp3Ajund_KfQb5jFmkH8ajGzv

[2017-12-15 07:50] anhnt commented on #2150
Looks great now

[2017-12-15 07:50] #2150 closed

[2017-12-15 08:02] Uafinder commented on #4624
Yup, looks fine

[2017-12-15 08:02] #4624 closed

[2017-12-15 08:20] Uafinder opened #4633 "Re-process KPI error"
![image](https://user-images.githubusercontent.com/1945230/34033092-8188f9b4-e181-11e7-8153-afe8973644b5.png)
http://vladtest06.admin.kademi-ci.co/sales/salesqa01/kpis/kpiqa01/#general-tab

[2017-12-15 09:14] Uafinder commented on #4164
ok, please check this one
http://vladtest06.admin.kademi-ci.co/pages/vlad06data/version1/
http://vladtest06.admin.kademi-ci.co/pages/vlad06data/version1/?contenteditor=rep3.html
it show no data at all...
![image](https://user-images.githubusercontent.com/1945230/34034902-02fcc640-e189-11e7-9480-10de78696f86.png)
however it shows here

[2017-12-15 09:18] Uafinder opened #4634 "KPI leaderboard order incorrect"
![image](https://user-images.githubusercontent.com/1945230/34035075-8122f512-e189-11e7-99c0-c2a3a498db82.png)
![image](https://user-images.githubusercontent.com/1945230/34035097-94b7646e-e189-11e7-921d-5bc5f4106806.png)
http://vladtest06.admin.kademi-ci.co/sales/salesqa03/kpis/kpiqa03/#config-tab

[2017-12-15 09:31] anhnt commented on #2715
Fixed, please rebuild QA to test

[2017-12-15 10:07] anhnt commented on #4462
help text added

[2017-12-15 10:12] anhnt commented on #4608
looking ok without any error. @Uafinder can you please re-check

[2017-12-15 10:39] Uafinder commented on #4473
https://github.com/Kademi/kademi-dev/issues/4630

[2017-12-15 10:47] Uafinder commented on #4473
module thumbnail photo upload:
1. Upload one image
2. Click to edit
3. Edit some
4. click "back to upload"
5. Click ok
thumbnail would be bad
![image](https://user-images.githubusercontent.com/1945230/34038768-21bfa2ca-e196-11e7-9fa1-ec9bfa08e9bc.png)

http://vladtest07.admin.kademi-ci.co/websites/vlad07learn/version1/programs/p1/c1/m1/#details-tab

[2017-12-15 12:23] Uafinder commented on #4462
Hmmm... I logged in as userqa01 (useradmin role) and try to login to another site. It doesn't transfer...
But when you full administrator links work ok.

[2017-12-15 12:27] Uafinder commented on #4619
yup, it works, but description is absent on some roles
![image](https://user-images.githubusercontent.com/1945230/34042162-00b36964-e1a4-11e7-9099-c349dcd34d2d.png)
And some others

[2017-12-15 13:18] Uafinder opened #4635 "Permission access denied for typical learner"
Member of learner group can't access to MyLearning page:
http://vladb07learn_vladtest07b.kademi-ci.co/myLearning
http://vladtest07b.admin.kademi-ci.co/groups/learners/
![image](https://user-images.githubusercontent.com/1945230/34043771-2ca10cfa-e1ab-11e7-94a8-fdc5e3ffe2aa.png)

[2017-12-15 13:27] Uafinder commented on #4627
can't find this component in list...
http://vladtest07b.admin.kademi-ci.co/pages/vladb07learn/version1/

[2017-12-15 14:20] Uafinder commented on #4628
Yup, looks ok...

[2017-12-15 14:20] #4628 closed

[2017-12-15 14:32] Uafinder commented on #4635
Probably related to this change because when user in viewable group everything works fine, but when he in completable group - error appears
https://github.com/Kademi/kademi-dev/issues/2715

[2017-12-15 14:32] Uafinder commented on #2715
It looks good for me

[2017-12-15 14:32] #2715 closed

[2017-12-15 15:02] Uafinder opened #4636 "Survey app - error when adding a question to survey and press enter"
![image](https://user-images.githubusercontent.com/1945230/34047675-aef54e60-e1b9-11e7-9cc6-9369786ffc97.png)
http://vladtest07b.admin.kademi-ci.co/ksurvey/survey-5769c769-21b1-4a66-90fc-03dac2e5d22b/#questions-tab

[2017-12-15 15:19] Uafinder opened #4637 "Finish survey text bad"
![image](https://user-images.githubusercontent.com/1945230/34048374-25d45f7e-e1bc-11e7-943c-f0a36ea57b79.png)
![image](https://user-images.githubusercontent.com/1945230/34048384-2d3eaa80-e1bc-11e7-85b6-c1cfc8c9beca.png)
text for links are same color as background
http://vladtest07b.admin.kademi-ci.co/ksurvey/survey-920af56d-1ec9-4caa-81ed-4a71337cde7c/#questions-tab
http://vladb07survey-vladtest07

[2017-12-15 15:22] Uafinder commented on #4541
How can I access a DB records for survey. They are absent in query index...

[2017-12-17 22:03] gonzalon opened #4638 "Search product by SKU"
Add the ability to search by the SKU code / title in the products / skus page.

[2017-12-17 23:38] paddyow opened #4639 "Show Category levels when adding products to reward store"
http://safetydemo.admin.kademi.us/reward-store/safety-store/?addProducts

Currently looks like this:
![image](https://user-images.githubusercontent.com/2201340/34085111-8b0e0f32-e3df-11e7-8a40-e7fdbdc9fde9.png)

Should look like this http://safetydemo.admin.kademi.us/reward-store/safety-store/#products-tab

![image](https://user-images.githubusercontent.com/2201340/34085113-956a2236-e3df-11e7-9121

[2017-12-17 23:42] paddyow opened #4640 "Managing large lists of products"
**Use case**
Most of my safety programs use the same reward store list, but each time I setup a new safety site, I have to spend a lot of time searching thousands of reward store products and add them to my reward store.

I want the ability to reuse a reward store list across accounts.

Could these be setup in the root account and pulled?

[2017-12-17 23:43] paddyow opened #4641 "Test reward store search and pager"
http://safetydemo.admin.kademi.us/reward-store/safety-store/#products-tab

@Uafinder please test the search function and pager on the above page to ensure it works as intended.

[2017-12-17 23:51] paddyow opened #4642 "Add 'Every day cost' field in reward store"
Client wants to see the 'Every day cost' field added next to the base cost so they can make a decision if the product is added.

This would need to be added to screens:
http://safetydemo.admin.kademi.us/reward-store/safety-store/
http://safetydemo.admin.kademi.us/reward-store/safety-store/?addProducts

They would like the field to show a percentage of the base costs i.e. 150% of everyday cost.

[2017-12-17 23:54] paddyow opened #4643 "Run search queries on reward store product"
http://safetydemo.admin.kademi.us/reward-store/safety-store/?addProducts

When adding reward store products from a mass list of thousands of products can be slow.

Client would like to run a search query in the search field to refine searches based on certain attributes i.e. base cost, category types, then simply select all and add to store.  This will save time having to selectively choose produc

[2017-12-17 23:54] gonzalon commented on #4639
![image](https://user-images.githubusercontent.com/2773216/34085249-816efc44-e3f2-11e7-9bcd-78a9727dbd35.png)

[2017-12-17 23:57] paddyow opened #4644 "Managing new vs. discontinued reward products"
In order to manage a reward store, the admin needs to know

1) When a product has expired and is no longer available so they can optionally choose a product to replace it
2) When the Hinda sync runs and a product is removed, does this automatically get removed from the reward store
3) When a new product is added so they can opt to add this

What ways could we support this?

[2017-12-18 00:19] bradmac commented on #4644
We've already applied that feedback.

The user can sort existing products by added date, and when adding new products they can sort by date created.

The sync does remove products from the product library, although @gonzalon is just checking if they're removed from reward stores as well.

[2017-12-18 00:41] bradmac commented on #4605
Now sending about 2k emails per minute when running locally.

[2017-12-18 00:43] gonzalon commented on #4644
For 2: https://github.com/Kademi/client-hinda/issues/16

[2017-12-18 02:15] anhnt commented on #4627
added component image. please update kademi-dev and test on new account

[2017-12-18 03:05] paddyow opened #4645 "SKU page taking too long to load (around 15 secs)"
http://asrdev.admin.kademi.us/skus/

Then searching for AW14803 took about 20 secs.

[2017-12-18 03:06] paddyow opened #4646 "Add page size drop down to product SKU page"

[2017-12-18 03:08] paddyow opened #4647 "Product Search not working as anticipated"
http://asrdev.admin.kademi.us/products/

Searching for 'Salad' returns the product 'Salad Spinner'

Then search for 'Salad Spinner' which returns nothing.

I should be able to search for 'Salad Spinner' and return the product Salad Spinner

[2017-12-18 03:09] anhnt commented on #4619
Added more description

[2017-12-18 03:11] paddyow opened #4648 "SKUs missing image"
See here http://asrdev.admin.kademi.us/skus/

![image](https://user-images.githubusercontent.com/2201340/34088376-2ee40252-e3fd-11e7-80de-51c5503fa618.png)

Under products the image exists.

![image](https://user-images.githubusercontent.com/2201340/34088390-4511273a-e3fd-11e7-9a0d-3f125d6dee6e.png)

[2017-12-18 03:13] paddyow opened #4649 "Base cost not showing"
See here http://asrdev.admin.kademi.us/skus/

Power Path® Deluxe Carpet Washer has base cost of 183.40

Not base costs showing on prods http://asrdev.admin.kademi.us/products/?dataQuery=Power&supplier=

Or reward stores http://asrdev.admin.kademi.us/reward-store/general/#products-tab

Or reward store add page http://asrdev.admin.kademi.us/reward-store/general/?addProducts

[2017-12-18 03:19] paddyow opened #4650 "A better way to choose categories"
http://asrdev.admin.kademi.us/reward-store/general/?addProducts

When trying to search for a category, when there are hundreds, the process takes a long time.  Need to be able to search for and select multiple categories.

We also need to select categories to exclude.

![image](https://user-images.githubusercontent.com/2201340/34088532-0c3e1b42-e3fe-11e7-828b-ad98eeb8a900.png)

Adding a combo of s

[2017-12-18 03:29] anhnt commented on #4541
All custom apps will store database here http://vladtest07b.admin.kademi-ci.co/jsondb/

[2017-12-18 04:03] bradmac commented on #4473
Hey @ducdhm please ensure the editor can physically resize images. This is critical for emails etc.

[2017-12-18 04:54] bradmac opened #4651 "When sending emails, use the reverse DNS host name as the Sender"
Eg

[code]

[2017-12-18 05:04] gonzalon opened #4652 "Can't add product to cart when I need to select a variant"
In the list of products, if the product has a variant you cant add it directly to the cart as you need to select a variant.

Ex:
![image](https://user-images.githubusercontent.com/2773216/34090684-a2682b66-e41d-11e7-9882-a5c3df0c2227.png)

If I select a variant here, I can add it:
![image](https://user-images.githubusercontent.com/2773216/34090711-d674ccac-e41d-11e7-9cfa-6a8e139318e2.png)

[2017-12-18 05:24] ducdhm commented on #4526
Done!

[2017-12-18 07:42] Uafinder commented on #4526
yup, looks ok...

[2017-12-18 07:42] #4526 closed

[2017-12-18 07:46] anhnt commented on #4164
Please login as Sales data group user so it will work

http://vladtest06.admin.kademi-ci.co/manageUsers/3353745/#summary-tab

[2017-12-18 08:28] AlaaKhalaf94 opened #4653 "Organisation selector doesn't appear after enable it from menu settings"
admin : http://fresh09.admin.kademi-ci.co

I enable organisation selector from menu settings : http://fresh09-fresh09.kademi-ci.co//theme/contenteditor?fileName=defaultThemeTemplate.html

![capture1](https://user-images.githubusercontent.com/26510030/34096437-eac4c65c-e3dd-11e7-954b-8d0e9f14d398.PNG)

but in the site , the org selector doesn't appear , appear white space instead of it

![capture2]

[2017-12-18 08:41] Uafinder commented on #4541
can't reproduce... :(

[2017-12-18 08:41] #4541 closed

[2017-12-18 08:47] Uafinder opened #4654 "KPI visualization component some options doesn't work"
![image](https://user-images.githubusercontent.com/1945230/34097112-8803a8e6-e3e0-11e7-81ef-f0472db9bd43.png)
This options doesn't work
http://version1.vlad06data-vladtest06.kademi-ci.co/rep3.html
http://vladtest06.admin.kademi-ci.co/pages/vlad06data/version1/
http://vladtest06.admin.kademi-ci.co/manageUsers/3353770/#summary-tab

what they should show and what privileges user should have?

[2017-12-18 08:51] Uafinder commented on #4164
Inverted check box does nothing
![image](https://user-images.githubusercontent.com/1945230/34097315-66a7b11e-e3e1-11e7-9b45-707f53816401.png)
![image](https://user-images.githubusercontent.com/1945230/34097321-6db389ec-e3e1-11e7-8e77-eaa5ea244285.png)

[2017-12-18 09:19] mrdadah commented on #4600
done

[2017-12-18 09:30] anhnt commented on #4654
Hi @bradmac i fixed the issue with kpiLeaderboard but the issue with pointsLeaderboard and summary. Can you please have a look?

[2017-12-18 09:33] anhnt commented on #4654
Also when i allocating rewards i got error in console

![image](https://user-images.githubusercontent.com/735555/34099116-2d7a6f64-e411-11e7-8d2e-6e149566fc81.png)

[code]

[2017-12-18 10:22] AlaaKhalaf94 commented on #4639
passed

[2017-12-18 10:22] #4639 closed

[2017-12-18 10:26] anhnt commented on #4164
Inverted means text color is inverted. see sample here

![image](https://user-images.githubusercontent.com/735555/31625874-de766b40-b2d1-11e7-965c-a819502ec2e2.png)

[2017-12-18 11:02] AlaaKhalaf94 commented on #4638
passed

[2017-12-18 11:02] #4638 closed

[2017-12-18 11:11] Uafinder commented on #4485
Fresh account
![image](https://user-images.githubusercontent.com/1945230/34103304-fd72dd54-e3f4-11e7-916d-c1866dad7cc8.png)
http://vladtest08.admin.kademi-ci.co/pages/vlad08learning/version1/

[2017-12-18 11:14] AlaaKhalaf94 commented on #4632
passed

[2017-12-18 11:14] #4632 closed

[2017-12-18 11:33] Uafinder commented on #4627
1. Would be great to have dropdown lists for programs, courses and modules.
![image](https://user-images.githubusercontent.com/1945230/34104056-ae30af3e-e3f7-11e7-8ac3-73ace2dd03e0.png)

2. should be org selector in component setting I suppose.
![image](https://user-images.githubusercontent.com/1945230/34104083-c97ffdf8-e3f7-11e7-8f31-ca728b2b8aae.png)

3. User from other ORG can see the page with

[2017-12-18 11:38] Uafinder commented on #4619
Yup, looks great!

[2017-12-18 11:38] #4619 closed

[2017-12-18 11:41] AlaaKhalaf94 commented on #3738
passed

[2017-12-18 11:41] #3738 closed

[2017-12-18 11:53] Uafinder commented on #4164
Inverted off
![image](https://user-images.githubusercontent.com/1945230/34104821-ae1ae264-e3fa-11e7-9734-58fc2447a46e.png)

Inverted on
![image](https://user-images.githubusercontent.com/1945230/34104852-d26db812-e3fa-11e7-9726-7a2b7963f230.png)

So, no changes
http://vladtest06.admin.kademi-ci.co/pages/vlad06data/version1/

[2017-12-18 13:59] Uafinder commented on #4641
1. when accessing reward store page error appears in console and search and filter don't work (sometimes)
![image](https://user-images.githubusercontent.com/1945230/34108653-90a2c80a-e409-11e7-8d36-49d66ae30bdf.png)

2. Paginator works incorrect. When you select 6 page for example, it shows you not sixth hundred of products, but all 600 products in list... e.g. it just raise a limit...
![image](ht

[2017-12-18 14:04] Uafinder commented on #4545
When you select checkbox for password reset link, this link doesn't appear in email.
http://vladtest08.admin.kademi-ci.co/groupEmails/3414932/#recipients-tab
![image](https://user-images.githubusercontent.com/1945230/34109707-1e045940-e40d-11e7-80b3-25f3801e121a.png)

![image](https://user-images.githubusercontent.com/1945230/34109732-2b71d454-e40d-11e7-989e-36de8fae8b75.png)

[2017-12-18 14:21] Uafinder commented on #4631
Tried to create order from two diff browsers in one time... looks impossible to create two orders to fool the system and to have a negative balance...

[2017-12-18 14:21] #4631 closed

[2017-12-18 15:07] Uafinder commented on #2631
It's ok at the moment...
Fixed earlier...

[2017-12-18 15:07] #2631 closed

[2017-12-18 16:29] ducdhm commented on #4473
Done!

[2017-12-18 16:46] ducdhm commented on #4577
Fixed!

[2017-12-18 19:53] bradmac commented on #4641
That error appears unrelated, it looks like some libs havent been installed.

[2017-12-18 20:01] bradmac commented on #4627
I think having some sort of tree selection would be best, because courses depend on program, and modules depend on course, etc

[2017-12-18 20:36] gonzalon commented on #4649
Updated the import from Hinda, now it would use the lowest price of the SKUs as the base price of the product.

[2017-12-18 20:40] gonzalon commented on #4648
https://github.com/Kademi/client-hinda/issues/18

[2017-12-18 20:40] #4648 closed

[2017-12-18 21:19] bradmac opened #4655 "Tree selection for module components"
Related - https://github.com/Kademi/kademi-dev/issues/4627#issuecomment-351931978

[2017-12-18 21:25] bradmac opened #4656 "Roles are being displayed with their description, should be name"
![image](https://user-images.githubusercontent.com/826458/34128846-f38e004a-e4a6-11e7-94a1-ac9bb7b27b8a.png)

Related - https://github.com/Kademi/kademi-dev/issues/4619#issuecomment-351993950

Note that this created invalid roles, the name doesnt match the actual role so will not convey permissions

[2017-12-18 21:35] bradmac commented on #4462
@Uafinder the problem is because of this - https://github.com/Kademi/kademi-dev/issues/4656

The user admin control hasnt actually been added because the role name is incorrect

[2017-12-18 21:45] bradmac commented on #4635
Probably because of this - https://github.com/Kademi/kademi-dev/issues/4656

You'll need to remove the current role and add it again

[2017-12-18 21:47] bradmac commented on #4462
@Uafinder please note that using Login-as from a profile page (eg /profile) is not a meaningful test

The profile page renders for the current user, so you're just logging in as yourself.

To test this properly you should use it with a lead page or a customer contact page.

[2017-12-18 21:49] bradmac commented on #4462
I've checked that this does work with the fix from #4656,  but as above please test with a more representative example

[2017-12-18 21:51] bradmac commented on #4637
@ducdhm please make sure we're using bootstrap classes and components correctly.

[2017-12-18 21:55] bradmac commented on #4640
No, but you can simply export the reward store and import it into another account.

![image](https://user-images.githubusercontent.com/826458/34129990-16fcf050-e4ab-11e7-80ed-1012534b8b06.png)

[2017-12-18 22:00] bradmac commented on #4642
@gonzalon we need to do this:
- display Product.rrp on both reward store screens (existing products and add products)
- populate Product.rrp from the every day cost field from Hinda

I'm not sure which field that is though..

[2017-12-18 22:03] bradmac commented on #4643
We can add more search options, but i suggest next milestone

[2017-12-18 22:04] bradmac commented on #4643
Note that we already have that ability with the checkbox at the top of the screen
![image](https://user-images.githubusercontent.com/826458/34130356-5db4d836-e4ac-11e7-9669-a8c18f90d7d5.png)

[2017-12-18 22:11] bradmac commented on #4652
I think we need to remove the add to cart button on the list page. It will be rare that products wont have variants.

[2017-12-18 22:16] bradmac commented on #4485
@ducdhm please have a look, and ping me if you need a hand

[2017-12-18 23:20] gonzalon commented on #4642
Now its being imported from Hinda:

![image](https://user-images.githubusercontent.com/2773216/34132900-e4125124-e4b6-11e7-9506-19d600d6819f.png)

![image](https://user-images.githubusercontent.com/2773216/34132905-ec6cf22a-e4b6-11e7-8850-a7798c4c9b59.png)

[2017-12-19 02:10] paddyow opened #4657 "Cannot create new website on US cluster"
http://moblix-demo-1.admin.kademi.us/

![image](https://user-images.githubusercontent.com/2201340/34137252-fb62cc3a-e4bd-11e7-98cd-c576a07b6607.png)

[2017-12-19 02:12] bradmac commented on #4657
@ducdhm do we need to deploy admin-lib?

[2017-12-19 02:20] anhnt commented on #4545
@Uafinder @mkhoudary this issue is fixed on latest email lib but it was not enabled on Vlad's test website. So it loaded the static version of the component which was done long time ago. I just enabled email app which also enabled email-lib and then it works fine

[2017-12-19 03:00] ducdhm commented on #4657
Done!

[2017-12-19 03:10] tuzzmaniandevil commented on #4415
@ducdhm Could you please add a search box to the Modal so a user can search for products then add it to the form?
They should also be able to delete products and change the quantity/variants

There is a search API here are the params:
`url: /shopping-carts/?searchProducts`
[code]

[2017-12-19 03:43] paddyow opened #4658 "eLearning workflow not working"
Video
[Part 4 - Adding training content.zip](https://github.com/Kademi/kademi-dev/files/1570308/Part.4.-.Adding.training.content.zip)

[2017-12-19 03:48] paddyow commented on #4658
Clicking save causes error
![image](https://user-images.githubusercontent.com/2201340/34139950-ad4330f4-e4cb-11e7-82f9-844ca8786ebc.png)

[2017-12-19 03:50] bradmac commented on #4627
- remove complete column
- instead of displaying the 3 codes, display the module title if possible. @tuzzmaniandevil will add this to the index
- for the user, display the formattedName, and have an optional link  (from settings) to the profile page under /custs
- do not display expiry date
- have a single status column, which has a green tick if complete, otherwise show percentage completion

[2017-12-19 04:06] tuzzmaniandevil commented on #4627
Added the module title to the index

[2017-12-19 04:12] bradmac commented on #4415
@tuzzmaniandevil as discussed, please consider moving those end points to the respective apps resources

[2017-12-19 04:51] anhnt commented on #4627
Done

There is org selector component under Reports app

Please add org selector component so it will get from current selected org

[2017-12-19 04:59] anhnt commented on #4608
Fixed, please test leadman features if you can see any error after fixing this issue

[2017-12-19 05:25] paddyow opened #4659 "Keditor not initializing"
http://moblix-demo-3.admin.kademi.us/pages/moblix-reseller-website/version1/

Click on the dashboard template.  Keditor does not load.

[2017-12-19 06:51] ducdhm commented on #4659
Fixed!

[2017-12-19 07:24] Uafinder commented on #4659
looks fine at the moment

[2017-12-19 07:38] ducdhm commented on #4658
Fixed!

[2017-12-19 08:03] anhnt commented on #4636
Fixed

[2017-12-19 08:14] Uafinder opened #4660 "Kchat date\time issue"
![image](https://user-images.githubusercontent.com/1945230/34147110-3a11ebe6-e4a5-11e7-8e5e-7d8103645c48.png)
When you're leaving messages timestamps looks bad for it.
http://vlad09test_vladtest09.kademi-ci.co/
http://vladtest09.admin.kademi-ci.co/

[2017-12-19 08:28] Uafinder commented on #4594
ok, I'm testing here:
frontend: http://vlad09test_vladtest09.kademi-ci.co/
admin: http://vladtest09.admin.kademi-ci.co/
I've create a fresh account, create an admin, create a user and basic group, create a website, install there KChat via marketplace and login to this website with simple user in other browser. So.

First critical:
[ KChat ] :: WS Connection Closed, Re-attempt soon...
![image](http

[2017-12-19 09:25] Uafinder commented on #4656
yup, looks fine at the moment... I saw it yesterday, but thought that it's by design...

[2017-12-19 09:25] #4656 closed

[2017-12-19 09:37] Uafinder opened #4661 "Geo-loc error on leadman page loading"
![image](https://user-images.githubusercontent.com/1945230/34150383-e4bbaf2c-e4b0-11e7-941c-2d94a9e5079a.png)
http://vlad09lead_vladtest09.kademi-ci.co/dashboard
userqa02@mailinator.com

Looks like it's because of missed Sales Team Viewer role.
Is it by design?

[2017-12-19 09:39] Uafinder opened #4662 "Errors in console while creating a lead"
![image](https://user-images.githubusercontent.com/1945230/34150522-38a865e4-e4b1-11e7-9d02-30d2d4519d42.png)
http://vlad09lead_vladtest09.kademi-ci.co/dashboard
userqa02@mailinator.com

it looks like because of missing Sales Team Viewer role... why it's needed for Lead creation?

P.s. Create lead buttons also don't work.

[2017-12-19 09:57] AlaaKhalaf94 commented on #4647
passed

[2017-12-19 09:57] #4647 closed

[2017-12-19 09:58] AlaaKhalaf94 commented on #4259
waiting this issue : https://github.com/Kademi/kademi-dev/issues/4653 to test

[2017-12-19 10:18] Uafinder commented on #4462
Yup, looks fine!
Thanks for info!

[2017-12-19 10:18] #4462 closed

[2017-12-19 11:03] Uafinder commented on #4473
Globally it's ok! Some other issue are separated...

[2017-12-19 11:13] Uafinder opened #4663 "New photo plugin issues"
1. Uploading second image cause an error
https://github.com/Kademi/kademi-dev/issues/4630
![image](https://user-images.githubusercontent.com/1945230/34154209-5ed6afd0-e4bd-11e7-9505-ef157b5649be.png)

2.
- Upload one image
- Click to edit
- Edit some
- click "back to upload"
- Click ok (without clicking on image name on the left)
- thumbnail would be bad
https://user-images.githubusercontent.com/1

[2017-12-19 11:28] Uafinder opened #4664 "Image component adding bug"
1. Create a custom page
2. Push edit
3. Add 2 columns (33/67) container
4. Take Photo block and drag & drop it to left part of container.
5. Image will not appear
![image](https://user-images.githubusercontent.com/1945230/34155039-79f0fa2a-e4c0-11e7-821b-f3eb23cc4a43.png)
http://vladtest09.admin.kademi-ci.co/pages/vlad09lear/version1/

[2017-12-19 11:32] Uafinder commented on #4473
https://github.com/Kademi/kademi-dev/issues/4663

[2017-12-19 11:32] #4473 closed

[2017-12-19 11:32] AlaaKhalaf94 commented on #4642
passed

[2017-12-19 11:32] #4642 closed

[2017-12-19 11:36] Uafinder commented on #4635
nope. it's not because of this
![image](https://user-images.githubusercontent.com/1945230/34155316-8ecf90b8-e4c1-11e7-952b-69722466ba74.png)
Fresh account
http://vladtest09.admin.kademi-ci.co/websites/

[2017-12-19 11:47] Uafinder commented on #4577
Yup, course description is ok.
Same thing in other places - for example text component of Keditor or certificate content.
![image](https://user-images.githubusercontent.com/1945230/34155724-25109238-e4c3-11e7-9041-242e1fedc007.png)

[2017-12-19 12:09] AlaaKhalaf94 commented on #4649
passed

[2017-12-19 12:09] #4649 closed

[2017-12-19 12:19] AlaaKhalaf94 opened #4665 "Categories not displaying correctly"
Categories not displaying correctly in quick add from product page
http://fresh11.admin.kademi-ci.co/products/3430622/#panel_details-tab

![capture1](https://user-images.githubusercontent.com/26510030/34156846-aa9862a6-e4c7-11e7-8a78-d242493ee38a.PNG)

[2017-12-19 12:52] Uafinder commented on #4627
Incorrect user profile links:
![image](https://user-images.githubusercontent.com/1945230/34157911-2c20b4c8-e4cc-11e7-8732-b8216e450367.png)
![image](https://user-images.githubusercontent.com/1945230/34157897-23223b12-e4cc-11e7-8fe1-f90f02310861.png)
http://vladtest09.admin.kademi-ci.co/
http://version1.vlad09lear-vladtest09.kademi-ci.co/page3.html

[2017-12-19 12:55] anhnt commented on #4618
added lot of missing component preview images

[2017-12-19 13:04] anhnt commented on #4627
It needs to enable Leadman app because that page is customer detail page ie http://version1.vlad09lear-vladtest09.kademi-ci.co/custs/227ac233-8ea2-45e3-a223-af4c1b49b8c7/

[2017-12-19 13:20] Uafinder commented on #4608
Looks ok... if I spot some issues I will raise them separately

[2017-12-19 13:20] #4608 closed

[2017-12-19 13:21] Uafinder commented on #4627
How can Leadman lib is related to Learning app?! That's completely not obvious...

[2017-12-19 14:24] Uafinder commented on #4636
yup, looks work

[2017-12-19 14:24] #4636 closed

[2017-12-19 14:51] ducdhm commented on #4630
Move to https://github.com/Kademi/kademi-dev/issues/4663#event-1393917886

[2017-12-19 14:51] #4630 closed

[2017-12-19 15:30] Uafinder commented on #4658
Those ones looks fixed,
but please note two things...
1. Error in console while adding some component to container
![image](https://user-images.githubusercontent.com/1945230/34164279-cdc74246-e4e1-11e7-9789-f65c192d086d.png)

2. when you first time add page, it loads content editor very long - approx. 15 secs, and if you add name of the page and click save before it load completely - content edito

[2017-12-19 16:51] ducdhm commented on #4664
Fixed!

[2017-12-19 19:27] bradmac commented on #4627
@Uafinder the page being linked to isnt related to elearning. Its the customer profile page which is part of the leadman app. Note that its not leadman-lib thats needed, its the KLeadman app.

Menu items can be hidden from the menu editor as normal.

I think it would make sense to move this customer profile page to a generic app like UsersApp, but we wont do that just yet, lets just make sure it a

[2017-12-19 19:28] bradmac commented on #4665
Please use a similar appearance as on the reward store pages, ie indented child cats

[2017-12-19 19:35] bradmac commented on #4635
Ok, the permission for the mylearning page only worked correctly when it was applied to the org. Fixed so also works for repos.

[2017-12-19 21:15] gonzalon commented on #4645
I tested locally with around 4k skus

[2017-12-19 21:40] gonzalon commented on #4665
Fixed:
![image](https://user-images.githubusercontent.com/2773216/34180083-40196668-e572-11e7-8063-14f4c544adde.png)

[2017-12-19 22:03] bradmac opened #4666 "Fix encryption for sending emails"
Seeing this when TLS is enabled
[code]

[2017-12-19 22:04] bradmac commented on #4666
See Configuration in the aspirin project, line 398

[code]

[2017-12-19 22:52] tuzzmaniandevil commented on #4658
1. The surveyDB didn't have the "Allow Access" enable to was throwing an error

[2017-12-19 23:20] tuzzmaniandevil commented on #4653
The user needs to either have the `Reporting Access` role of the `Administrator` role for the org selector to show and work

[2017-12-19 23:20] gonzalon commented on #4629
We were missing a bunch of @Docs annotations should be fine for all QueryTables

[2017-12-20 00:58] #4659 closed

[2017-12-20 00:58] #4657 closed

[2017-12-20 01:00] #4620 closed

[2017-12-20 01:00] #4621 closed

[2017-12-20 01:00] #4599 closed

[2017-12-20 01:01] #4622 closed

[2017-12-20 01:04] #4640 closed

[2017-12-20 01:28] gonzalon opened #4667 "Can't find / reproduce video"
If I open de video I can reproduce it:
https://waterco.admin.kademi.com.au/repositories/hydroxypure/version1/videos/Chemicals/Changing%20Perox%20containers.mp4

but when I select the video seems that its not getting the correct location:

![image](https://user-images.githubusercontent.com/2773216/34186634-d418e630-e591-11e7-8cdf-f6d69db50f45.png)

Site:
http://version1.hydroxypure-waterco.kademi.c

[2017-12-20 01:42] gonzalon commented on #4633
Now it would validate that it found a profile for the email.

[2017-12-20 02:08] gonzalon commented on #4283
Hi @Uafinder,
Tried to reproduce the last error you reported but I can't!
Can you tell me how or set up an account so I can test it? (Tried in the account linked but doesnt have any org atm)

[2017-12-20 02:14] bradmac commented on #4666
Problem appears to be that not all CA's are installed.

Need to update docker

[2017-12-20 02:20] bradmac commented on #4667
Wrong streamnig format path on Chrome:
http://version1.hydroxypure-waterco.kademi.com.au/alt-640-360.webm

[2017-12-20 02:30] anhnt commented on #4662
Cannot reproduce at the moment. The user with only sales role can search for existing lead profiles without any error

![image](https://user-images.githubusercontent.com/735555/34188338-6eb2645c-e568-11e7-8538-f565fa930390.png)

[2017-12-20 02:32] #4651 closed

[2017-12-20 02:35] anhnt commented on #4662
I noticed that the sales role must be connect to org to work. It was Sales on vlad09lead which causes the error

![image](https://user-images.githubusercontent.com/735555/34188426-e7d8d55a-e568-11e7-9f67-fd1690b5109f.png)

[2017-12-20 02:37] bradmac commented on #4574
@anhnt this might have been fixed with the thumb updates you did

[2017-12-20 02:42] bradmac commented on #4662
Yes, thats because leads exist across websites, it really doesnt make sense to limit per website. Eg you cant say someone can manage leads in website A but not website B, because they're the same leads.

[2017-12-20 03:30] anhnt commented on #4667
Fixed on version3 http://version3.hydroxypure-waterco.kademi.com.au/videos/Chemicals/

[2017-12-20 03:57] gonzalon commented on #4667
Working fine!

[2017-12-20 03:57] #4667 closed

[2017-12-20 04:16] anhnt opened #4668 "Video url is wrong after uploaded via keditor"
See image placeholder output

[code]

[2017-12-20 06:30] #4653 closed

[2017-12-20 06:31] AlaaKhalaf94 commented on #4665
passed

[2017-12-20 07:34] anhnt commented on #4668
This need to test on production, so i will inform when libs are updated on AU

[2017-12-20 07:46] anhnt commented on #4661
Looks ok with SalesManager on org role

[2017-12-20 07:46] anhnt commented on #4661
http://vladtest09.admin.kademi-ci.co/groups/sales-manager/

[2017-12-20 07:48] anhnt commented on #4574
@Uafinder please recheck. thanks

[2017-12-20 07:54] anhnt commented on #4485
handlebars-lib is not enabled that causes the error

[2017-12-20 08:18] Uafinder commented on #4485
fresh account
create one website - install leads app there, create another website, install learning app there. go to edit pages. go bac to the second website apps and enable reports
http://vladtest10a.admin.kademi-ci.co/websites/vlad10alearn/version1/#panel_apps-tab

[2017-12-20 08:23] Uafinder commented on #4664
Yup, looking good

[2017-12-20 08:23] #4664 closed

[2017-12-20 08:48] Uafinder commented on #4662
ok, causing a new issue

[2017-12-20 08:48] #4662 closed

[2017-12-20 08:51] Uafinder opened #4669 "Installing Leadman app via Marketplace create a group with incorrect role in org linking"
https://github.com/Kademi/kademi-dev/issues/4662
https://github.com/Kademi/kademi-dev/issues/4661
Installation cause creation of group where some roles added:
![image](https://user-images.githubusercontent.com/1945230/34198573-948cbe92-e573-11e7-9a13-9eefa739d265.png)
where vlad10lead is a website
as discussed with Anh and brad there should be in their own organisation.
http://vladtest10.admin.kad

[2017-12-20 08:53] Uafinder commented on #4661
Same problem with membership in org

[2017-12-20 08:53] #4661 closed

[2017-12-20 09:25] anhnt commented on #2795
It works ok on new website on the same account org http://vladtest03b.admin.kademi-ci.co/websites/testanh/version1/programs/p1/c1/m1/#files-tab

[2017-12-20 09:49] Uafinder commented on #4164
![image](https://user-images.githubusercontent.com/1945230/34201018-d5b35cc0-e57b-11e7-8f3f-95e9ca1813b5.png)
looks ok!

[2017-12-20 09:49] #4164 closed

[2017-12-20 09:55] AlaaKhalaf94 commented on #4259
Look at this user please : http://fresh09.admin.kademi-ci.co/manageUsers/3488704/#pointsBucketTab-tab

- This user has 40 points , from "ABC Electronics" organisation
- And 20 points , from "Computer Market" organisation
And these both points , from "fresh09-points01" points bucket that based on organisation
http://fresh09.admin.kademi-ci.co/points-buckets/fresh09-points01/#details-tab

And when I

[2017-12-20 09:57] anhnt commented on #2795
as discussed with @bradmac we're just cool if fresh site working ok

[2017-12-20 09:57] Uafinder commented on #4283
![image](https://user-images.githubusercontent.com/1945230/34201169-5028cbd4-e57c-11e7-9db4-91b7e36cc548.png)
http://vladtest10.admin.kademi-ci.co/organisations/

1. Create two orgs for example
2. Note that count is correct
3. Go to re-index and re-index org indexes
4. Go back to orgs and note that count is incorrect

[2017-12-20 10:09] Uafinder commented on #2795
same thing for new account and new website
![image](https://user-images.githubusercontent.com/1945230/34201846-873cd974-e57e-11e7-94e1-c93a18835f40.png)
http://vladtest10.admin.kademi-ci.co/websites/vlad10learn2/version1/programs/p1/c1/m1/#files-tab
to see this please clear your cache...

[2017-12-20 10:36] AlaaKhalaf94 commented on #3475
passed

[2017-12-20 10:36] #3475 closed

[2017-12-20 11:09] AlaaKhalaf94 commented on #3471
Hi @anhnt , here from this page : http://version1.fresh11-fresh11.kademi-ci.co/quotes/
I can't open quote detail page , the edit button lead me to page error 500
What's wrong with me ?

admin : http://fresh11.admin.kademi-ci.co

[2017-12-20 11:31] Uafinder commented on #4635
Nope, still doesn't have access. The reason is that role membership is assigned to website, not Org.
The basic Learner group is created by Market place installation, so probably would be correct to change it to role in their own org membership.

[2017-12-20 11:40] Uafinder opened #4670 "Module image thumbnails are not displaying"
![image](https://user-images.githubusercontent.com/1945230/34205486-45ae9b84-e58b-11e7-8bd5-e48f7b02d775.png)
![image](https://user-images.githubusercontent.com/1945230/34205475-3ce8dd0c-e58b-11e7-85dc-cac0bbf926a3.png)
http://vladtest10.admin.kademi-ci.co/websites/vlad10learn2/version1/programs/p1/c1/m2/#details-tab
http://vlad10learn2_vladtest10.kademi-ci.co/myLearning
http://vlad10learn2_vladte

[2017-12-20 11:41] Uafinder commented on #4598
Yeah, looking good!

[2017-12-20 11:53] AlaaKhalaf94 commented on #2019
Hi @gonzalon , I can't see  filtering by reward store

![capture1](https://user-images.githubusercontent.com/26510030/34205930-0abc4024-e58d-11e7-970d-8daaeeaa9060.PNG)

And in CSV output there isn't column for number of views

http://fresh08.admin.kademi-ci.co/reporting/MostPurchasedProduct?startDate=14%2F12%2F2017&finishDate=20%2F12%2F2017

[2017-12-20 12:33] Uafinder commented on #4629
ok, list is empty at the moment

[2017-12-20 12:33] #4629 closed

[2017-12-20 12:43] Uafinder commented on #4627
Ok, so if leadman thing is ok, other is good!

[2017-12-20 12:43] #4627 closed

[2017-12-20 12:49] Uafinder commented on #4574
Yup, mostly looks good

[2017-12-20 12:49] #4574 closed

[2017-12-20 12:58] AlaaKhalaf94 commented on #2018
passed

[2017-12-20 12:58] #2018 closed

[2017-12-20 13:14] AlaaKhalaf94 commented on #4665
In "Most Products Viewed Report" page and "Most Purchased Products Report" page , also categories not displaying correctly

http://fresh11.admin.kademi-ci.co/reporting/MostPopularProduct
http://fresh11.admin.kademi-ci.co/reporting/MostPurchasedProduct

![capture1](https://user-images.githubusercontent.com/26510030/34208821-70ba6508-e598-11e7-8bee-011315ea4b82.PNG)

[2017-12-20 13:29] Uafinder commented on #4645
Hmmm... at the Patrick's link it still takes 20 seconds to search...

[2017-12-20 13:49] AlaaKhalaf94 commented on #4618
I see that there are still some  missing component preview images , such as:
- component-publicProfileMemberships
- component-publicProfileContact
- component-topPurchased
- component-eventManager
- component-ecomProduct

Admin : http://fresh12.admin.kademi-ci.co/pages/fresh12/version1/
in page "Golden"

[2017-12-20 14:35] Uafinder commented on #4633
![image](https://user-images.githubusercontent.com/1945230/34212027-9ca3c988-e5a3-11e7-9e81-64f021a99e23.png)
![image](https://user-images.githubusercontent.com/1945230/34212037-a2fdb7d0-e5a3-11e7-9414-c029026fa0ab.png)
looks like it process correctly only first string, other strings are mentioning as invalid...

[2017-12-20 14:47] Uafinder commented on #4668
ok, waiting

[2017-12-20 15:00] Uafinder commented on #4545
undestood...
so old component would be great to remove...
works ok

[2017-12-20 15:00] #4545 closed

[2017-12-20 20:46] bradmac commented on #4668
@anhnt assigning to you because needs you to action it

[2017-12-20 20:49] bradmac opened #4671 "Make some Roles only support organisation association"
Some roles jsut dont make sense to be connected to a repository, eg Sales role, because leads are the same across the whole account regardless of website.

For these roles, the user should not have the option of selecting a repository.

- Extend the Role interface with an enum property of targetType - {Repo, Org, Both}
- Update the manage gruop page, so the modal for adding roles to a group only s

[2017-12-20 21:15] bradmac opened #4672 "In "Most Products Viewed Report" page and "Most Purchased Products Report" page , categories are displaying codes, should be titles"
In "Most Products Viewed Report" page and "Most Purchased Products Report" page , also categories not displaying correctly

http://fresh11.admin.kademi-ci.co/reporting/MostPopularProduct
http://fresh11.admin.kademi-ci.co/reporting/MostPurchasedProduct

![capture1](https://user-images.githubusercontent.com/26510030/34208821-70ba6508-e598-11e7-8bee-011315ea4b82.PNG)

[2017-12-20 21:15] bradmac commented on #4665
Created new issue for reports - https://github.com/Kademi/kademi-dev/issues/4672

[2017-12-20 21:15] #4665 closed

[2017-12-20 21:18] bradmac commented on #4670
@ducdhm please ping me if you need a hand

[2017-12-20 21:22] bradmac commented on #3471
[code]

[2017-12-20 21:23] bradmac commented on #3471
[code]

[2017-12-20 21:27] bradmac commented on #3471
So looks like the template for the edit quote page hasnt been updated for component themes

[2017-12-20 21:37] bradmac commented on #2795
@Uafinder works ok for me. Tried clearing cache, and not clearing.

![image](https://user-images.githubusercontent.com/826458/34229927-f0063c54-e63a-11e7-9369-b734e534e8df.png)

[2017-12-20 21:47] bradmac commented on #4669
@anhnt can you update the KLeadman init script to create org based roles?

[2017-12-20 21:48] bradmac commented on #4485
@anhnt please let me know if yuo need a hand with deps. Anything thats needed should be loaded automatically

[2017-12-21 00:53] bradmac opened #4673 "Add alt tags to social links EDM component"
Missing alt tags is causing a spam score hit.

Please add the alt tags for each social link with the name of the social media provider, eg alt="Facebook:

[2017-12-21 00:54] bradmac opened #4674 "Add list-unsub header"
![image](https://user-images.githubusercontent.com/826458/34235417-735b7a04-e656-11e7-8175-a9f4c4bc71f8.png)

Eg
https://stackoverflow.com/questions/4365850/list-unsubscribe-in-e-mail-header-how-to#7804157

[2017-12-21 00:56] bradmac opened #4675 "Support alt tags on Kademi's ckeditor image plugin"
![image](https://user-images.githubusercontent.com/826458/34235462-bce48b34-e656-11e7-9a6b-81ec8aaa4d54.png)

[2017-12-21 02:09] gonzalon commented on #4200
![image](https://user-images.githubusercontent.com/2773216/34237327-edf8ec60-e660-11e7-9f78-18f09eb70c94.png)

![image](https://user-images.githubusercontent.com/2773216/34237332-f769555a-e660-11e7-9093-ff164cc62840.png)

[2017-12-21 02:11] gonzalon commented on #4641
I coudln't reproduce the error for the search, seems to be working fine to me. Can you still reproduce it? If so maybe provide the steps to reproduce it!

The logic for the paginator was updated

[2017-12-21 02:27] #4674 closed

[2017-12-21 02:44] anhnt commented on #4195
Fixed 2 and 3

[2017-12-21 03:24] tuzzmaniandevil commented on #4666
Should be fixed by using this:
[code]

Updated aspirin to `0.10.03.08`

[2017-12-21 03:28] #4666 closed

[2017-12-21 03:36] tuzzmaniandevil commented on #4660
It will now take the timezone into account

[2017-12-21 03:51] tuzzmaniandevil commented on #4594
All fixed

[2017-12-21 04:04] gonzalon commented on #4645
I just did a test locally with images as well and its fast as well...I think we didnt deploy this change to US yet.

[2017-12-21 04:11] anhnt commented on #4669
Fixed

[2017-12-21 05:32] ducdhm commented on #4663
Fixed!

[2017-12-21 05:35] anhnt commented on #4668
Tested working ok here http://anh.admin.kademi.com.au/pages/anhtest2/version1/

[2017-12-21 05:54] ducdhm commented on #4670
Fixed! @Uafinder you should reselect image and save it.

[2017-12-21 07:25] anhnt commented on #4673
Added alt attribute to img tag

[2017-12-21 07:46] anhnt commented on #4652
Removed the class that triggers adding item to cart. Now when clicked to that button it will redirect to product detail page

[2017-12-21 07:56] anhnt opened #4676 "Org stats negative value"
Created new child org from rootorg and then go to child org dashboard -> Manage orgs screen

![image](https://user-images.githubusercontent.com/735555/34245955-06bb190a-e65f-11e7-890b-8de44dedca31.png)

[2017-12-21 08:12] AlaaKhalaf94 commented on #4200
Hi @gonzalon , I can't see your update

I test here : http://fresh14.admin.kademi-ci.co/sales/new-series/#general-tab

![capture1](https://user-images.githubusercontent.com/26510030/34246469-70bed33c-e637-11e7-8c22-9bb709115585.PNG)

![capture2](https://user-images.githubusercontent.com/26510030/34246475-74f7f2c6-e637-11e7-9877-bd9651a639b5.PNG)

[2017-12-21 08:16] bradmac commented on #4485
from Anh

[2017-12-21 08:38] AlaaKhalaf94 commented on #4195
passed

[2017-12-21 08:38] #4195 closed

[2017-12-21 09:04] AlaaKhalaf94 commented on #4673
passed

[2017-12-21 09:04] #4673 closed

[2017-12-21 09:48] anhnt commented on #4618
added more missing images

[2017-12-21 09:54] anhnt commented on #3471
@mkhoudary please have a look at java code. thanks

[2017-12-21 11:02] AlaaKhalaf94 commented on #4652
passed

[2017-12-21 11:02] #4652 closed

[2017-12-21 12:06] AlaaKhalaf94 commented on #4618
I'm sorry @anhnt  , there are other some missing component preview images :

- component-kpiTargetProgress
- component-salesDataCompare

Admin : http://fresh15.admin.kademi-ci.co/pages/fresh15/version1/
in page "newOne"

[2017-12-21 13:11] AlaaKhalaf94 commented on #4670
passed

[2017-12-21 13:11] #4670 closed

[2017-12-21 20:24] bradmac commented on #4676
hey @gonzalon can you look into this please? we want to make sure the current account is excluded from results, but not by minusing 1!

[2017-12-21 20:29] bradmac commented on #3471
@gonzalon can you assist please?

[2017-12-21 20:37] gonzalon commented on #4200
@AlaaKhalaf94 Ups forgot to push my changes :( Should be able to see it now

[2017-12-21 21:11] bradmac opened #4677 "EmailItemQueueStore should check for stuck pending email items"
After all other processing, check for any email items which have status of pending and a status date of at least 1 hour.

Any such items should be set to retry with nextAttempt time of now

[2017-12-21 21:17] gonzalon commented on #3471
@AlaaKhalaf94 should be working fine now :)

[2017-12-22 01:39] tuzzmaniandevil commented on #4635
Updated the app to create the roles with "their own organisation"

[2017-12-22 02:32] anhnt commented on #4618
they're there. but you didnt enable Sales data app so you dont see them

[2017-12-22 02:36] anhnt commented on #2795
Working great for me both local and QA

[2017-12-22 02:51] bradmac commented on #4597
hey @ducdhm with the jcrop dependency fixed this should be ok now, can you check?

[2017-12-22 02:55] #4261 closed

[2017-12-22 02:55] #4677 closed

[2017-12-22 03:04] bradmac commented on #4618
@anhnt was Alaa seeing broken preview images? If so we need to fix that, and that should not happen due to a disabled app.

Also, i can see the same image used for multiple components:
![image](https://user-images.githubusercontent.com/826458/34283640-c46c2692-e731-11e7-9052-7365a5d31530.png)

[2017-12-22 03:11] bradmac commented on #4618
Please use different images for single value metric and number of users:
![image](https://user-images.githubusercontent.com/826458/34283806-cd2aade8-e732-11e7-9cb5-0d0275d49df4.png)

[2017-12-22 05:28] anhnt commented on #4637
Done

[2017-12-22 07:38] anhnt commented on #4618
Done

[2017-12-22 09:12] anhnt commented on #4675
![image](https://user-images.githubusercontent.com/735555/34292285-ec447826-e732-11e7-875a-bc863999cf50.png)

[2017-12-22 09:24] anhnt commented on #4038
Working ok now can you please re-check?

[2017-12-24 14:10] mrdadah commented on #4197
Done, new alerts should looks like this

<img width="1455" alt="screen shot 2017-12-24 at 4 08 17 pm" src="https://user-images.githubusercontent.com/11255121/34327111-e8ba46ca-e8c4-11e7-80dd-f60915a9f0bc.png">

[2017-12-24 14:11] mrdadah commented on #4197
@bradmac if you have any comments just let me know

[2017-12-25 02:55] anhnt commented on #4577
Tested on new account working ok http://anhtest11.admin.kademi-ci.co/pages/w1/version1/

[2017-12-25 03:43] anhnt opened #4678 "Promotion detail admin: missing form builder lib"
![image](https://user-images.githubusercontent.com/735555/34332171-4e7810e6-e960-11e7-97c7-7480f1693297.png)

Also consider to use fuelux form builder

[2017-12-25 04:51] anhnt commented on #4075
Fixed

[2017-12-25 05:24] anhnt commented on #3995
![image](https://user-images.githubusercontent.com/735555/34333379-94ad138c-e96e-11e7-979f-6191ccc476d1.png)

Looks good atm without error

[2017-12-25 08:09] anhnt commented on #4581
Fixed

[2017-12-25 08:43] mkhoudary opened #4679 "Allow start journey node to have a profile"
We need to add another property with MVEL support for the start journey and start journey asyc nodes to be able to specify to which profile shall this the new lead be, if it is left blank then the lead profile will be same as the lead profile for the current lead.

[2017-12-25 08:43] mkhoudary commented on #4679
https://github.com/Kademi/kademi-dev/issues/4679

[2017-12-25 08:44] mkhoudary commented on #4679
https://github.com/Kademi/client-vaya/issues/230

[2017-12-25 09:12] mkhoudary opened #4680 "Create Fork Journey Action Node and Enable multiple Secondary Goals for a lead"
We need to have a new node type called Rule Trigger, this node is a special type of goal nodes, it has no prior nodes, it contains an optional MVEL expression to evaluate, and it can be linked to a goal followed by an action.

The new node which is an action/goal node listen to various types of events, and passes it along to its next node if no MVEL expression is present, if the MVEL is present th

[2017-12-25 09:15] mkhoudary commented on #4680
@bradmac as you remember we needed this for Vaya to support giving points after variable periods of time without blocking the journey, and also this is needed to send an email 1 day after completing a survey without blocking the journey..

After writing this down based upon our older conversation, I find the multiple current goals to the same lead is quite better for many cases including Vaya case

[2017-12-25 09:15] mkhoudary commented on #4680
https://github.com/Kademi/kademi-dev/issues/4680

[2017-12-25 09:15] mkhoudary commented on #4680
https://github.com/Kademi/client-vaya/issues/231

[2017-12-25 09:17] mkhoudary commented on #4680
https://github.com/Kademi/client-vaya/issues/232

[2017-12-25 09:19] mkhoudary opened #4681 "Survey completed goal node should be sending/listening to survey name to evaluate"
The current survey completed goal node is satisfied whenever **any** survey is submitted, we need to add a new property to the survey goal node to contain the survey name, so when it listens to the survey submitted event it evaluates that it is the survey it's been waiting.

For backwards compatibility, we need to let the survey goal act as it used to do if the survey name field is blank or null.

[2017-12-25 09:19] mkhoudary commented on #4681
https://github.com/Kademi/client-vaya/issues/232

[2017-12-25 09:40] mrdadah commented on #3982
Done

[2017-12-25 09:49] mkhoudary opened #4682 "Enable previewing journey emails"
At the moment when we try to test an email from a journey, this generally returns an exception of not being able to process the email template because of a missing **lead** object in the scope. This is correct since we only select the profile.

But since most of our emails use the **lead** object in creating the email content, this makes the test button for emails with **lead** object used untesta

[2017-12-25 09:49] mkhoudary commented on #4682
https://github.com/Kademi/client-vaya/issues/237

[2017-12-25 13:57] mrdadah commented on #3981
I've checked it.
I see the alerts don't accumulate, also typing delay is the same as the other pages.

@Uafinder, could you please recheck if the issue still exist?

[2017-12-25 15:34] ducdhm opened #4683 "Make mtree as lib"

[2017-12-26 02:45] anhnt commented on #4597
Looks good atm

[2017-12-26 03:10] anhnt commented on #4008
its working fine with latest leadman-lib. Please ping me when you need to update kcrm us website @paddyow

[2017-12-26 07:05] #4683 closed

[2017-12-26 07:43] Uafinder opened #4684 "KChat showing current username instead of admin username"
![image](https://user-images.githubusercontent.com/1945230/34350685-d5e254ae-ea20-11e7-8231-5ef06a817f9c.png)
When admin is answering to a user, in user dialog box it shows his name instead of admin name.
https://vladtest11.admin.kademi-ci.co/
https://vlad11chat_vladtest11.kademi-ci.co/dashboard

[2017-12-26 08:10] Uafinder commented on #4594
Firefox still shows error with connection timed out
![image](https://user-images.githubusercontent.com/1945230/34351298-779a9830-ea24-11e7-9bce-8def5898827b.png)
Chrome is ok
Edge also shows error
![image](https://user-images.githubusercontent.com/1945230/34351335-aaf650f2-ea24-11e7-8d8d-fc44f3fd6645.png)

It's probably due the https thing.

[2017-12-26 08:18] Uafinder opened #4685 "KChat visual bugs"
- Username missed
![image](https://user-images.githubusercontent.com/1945230/34351538-ead9aa7e-ea25-11e7-9e9b-9eb00c088921.png)

- Avatar dimensions bad. It looks incorrect aspect ratio between width and height.
![image](https://user-images.githubusercontent.com/1945230/34352774-1d50ce2c-ea2d-11e7-8f0b-20a2c2756dca.png)

- Green online icon is not in place

- avatar is empty
![image](https://user-

[2017-12-26 08:57] anhnt opened #4686 "Edit page param bug"
![image](https://user-images.githubusercontent.com/735555/34352497-73de06ce-ea55-11e7-9c76-5460f3f9b330.png)

[2017-12-26 09:19] Uafinder opened #4687 "https to http problem"
You're on https address of admin console. You're going to review websites and it automatically change https to http.
Same situation with organisation details link.
![image](https://user-images.githubusercontent.com/1945230/34353010-721c862a-ea2e-11e7-904a-26639e618eb8.png)
https://vladtest11.admin.kademi-ci.co/

[2017-12-26 09:24] Uafinder commented on #4684
can't reproduce

[2017-12-26 09:24] #4684 closed

[2017-12-26 09:39] Uafinder commented on #4660
Looks fine!

[2017-12-26 09:39] #4660 closed

[2017-12-26 09:42] Uafinder commented on #4658
Yup, looks better

[2017-12-26 10:53] Uafinder commented on #2795
I wrote video for this errors:
- keditor launching very slowly and it may cause save page while it doesn't load completely:
https://drive.google.com/file/d/1FPduTP46CyIIO1_P1K1jWETjCHsWfXGs/view?usp=sharing

- postMessage error
![image](https://user-images.githubusercontent.com/1945230/34354107-b68af32c-ea34-11e7-94d3-a80888b0e28e.png)
https://drive.google.com/file/d/10J5Kpo9iS9z7rV88IUOsv58SO7wRK

[2017-12-26 11:04] Uafinder commented on #4669
Content viewer role still has link to a website
![image](https://user-images.githubusercontent.com/1945230/34355361-50af47ac-ea3d-11e7-871c-e71c465eb067.png)
http://vladtest11.admin.kademi-ci.co/groups/

[2017-12-26 11:36] Uafinder commented on #4075
Works great!

[2017-12-26 11:36] #4075 closed

[2017-12-26 11:38] Uafinder commented on #4038
looks ok at the moment!

[2017-12-26 11:38] #4038 closed

[2017-12-26 11:40] Uafinder commented on #4635
Yup, looks great!

[2017-12-26 11:40] #4635 closed

[2017-12-26 11:49] Uafinder opened #4688 "New photo plugin: photo upload failed"
1. go to module details
2. click select on the module thumbnail
3. click upload image
4. select image
5. it will upload it but doesn't show in preview and in the left panel

same thing with keditor and image component
![image](https://user-images.githubusercontent.com/1945230/34356092-5fb634ee-ea43-11e7-9247-b93e326d336d.png)
http://vladtest11.admin.kademi-ci.co/websites/vlad11chat/version1/progra

[2017-12-26 11:50] Uafinder commented on #4663
https://github.com/Kademi/kademi-dev/issues/4688

[2017-12-26 12:02] Uafinder commented on #4577
Looks good at the moment. not sure why it was appear

[2017-12-26 12:02] #4577 closed

[2017-12-26 12:05] Uafinder commented on #4581
Looks better

[2017-12-26 12:05] #4581 closed

[2017-12-26 12:27] Uafinder commented on #3974
Much better!

[2017-12-26 12:27] #3974 closed

[2017-12-26 12:30] Uafinder opened #4689 "kCommerce paginator missed"
For eCommerce store products page paginator, page size selector and total products count missed.
Should be added.
http://vladtest11.admin.kademi-ci.co/ecommerce/vlad11ecomm-ecomstore/#products-tab

[2017-12-26 12:43] Uafinder commented on #3981
https://drive.google.com/file/d/1hncnighale07Z6azmZvzujQfS_K6K412/view?usp=sharing
If It looks ok, then great.
Probably, would be great to remove multiple pop-ups
http://vladtest11.admin.kademi-ci.co/products/

[2017-12-26 12:45] Uafinder commented on #3982
Same thing here
looks pretty, but multiple pop-ups should be removed
![image](https://user-images.githubusercontent.com/1945230/34356970-622fd3c6-ea4b-11e7-9250-e7cad505a7de.png)
http://vladtest11.admin.kademi-ci.co/skus

[2017-12-26 12:52] Uafinder commented on #4637
![image](https://user-images.githubusercontent.com/1945230/34357052-58dad2fc-ea4c-11e7-933c-ce49df2a7638.png)

[2017-12-26 12:53] Uafinder commented on #4597
Yup, it was fixed two weeks ago I think

[2017-12-26 12:53] #4597 closed

[2017-12-26 12:59] anhnt commented on #4686
Fixed

[2017-12-26 13:00] Uafinder commented on #4641
1. Error doesn't appear
2. Paginator still works badly.
For example you're on first page and you see 100 products from 1 to 100. You click to seconds page and you should see 100 products from 101 to 200. However it shows you 200 products from 1 to 200.

[2017-12-26 13:13] mkhoudary opened #4690 "Site selector in JB email nodes select website physical id"
Should select website name instead of physical id

[2017-12-26 13:52] Uafinder opened #4691 "Data series page error in console"
![image](https://user-images.githubusercontent.com/1945230/34358027-b82723f2-ea54-11e7-88dc-412ded9de89d.png)
http://vladtest11.admin.kademi-ci.co/sales/
probably dedicated to some KPI processing task.

[2017-12-26 13:54] Uafinder commented on #4633
yup, looks fine!

[2017-12-26 13:54] #4633 closed

[2017-12-26 14:20] Uafinder commented on #4197
Looks great! 👍

[2017-12-26 14:20] #4197 closed

[2017-12-26 14:54] Uafinder opened #4692 "SKU code disappears when entering"
SKU code disappears when entering, refresh doesn't help
https://drive.google.com/file/d/1-ZF4QFO-hjr8kbkbPo7dANlSQDdO7Qsw/view?usp=sharing
http://vladtest11.admin.kademi-ci.co/skus/

[2017-12-26 15:11] Uafinder opened #4693 "Promotions - can't select organisation"
http://version1.vlad11promos-vladtest11.kademi-ci.co/rewards/promosqa01/
http://vladtest11.admin.kademi-ci.co/rewards/promosqa01/#entryForm-tab
I have create several orgs and inventories, but list is still empty...
![image](https://user-images.githubusercontent.com/1945230/34359321-b5b1527c-ea5f-11e7-83cc-8809f2133bbb.png)
https://github.com/Kademi/kademi-dev/issues/3995

[2017-12-26 15:12] Uafinder commented on #3995
most of them fixed
closing this one and will open another issue...

[2017-12-26 15:12] #3995 closed

[2017-12-26 20:36] bradmac commented on #4679
:+1:

[2017-12-26 20:38] bradmac commented on #4680
hey @mkhoudary, yeah thinking about this more, i think we should be able to handle this with existing capabilities.

it would just be additional begin nodes (or 1 begin node with the branch goal), which might then take a single action and then end the journey

[2017-12-26 20:40] bradmac commented on #4681
:+1:

[2017-12-26 20:40] bradmac commented on #4681
Hey @anhnt can you please look at this first thing today?

[2017-12-26 20:45] bradmac commented on #4682
@mkhoudary i think you're right, but really there are 3 things here:
- firstly, expressions in emails should always be null safe, so they dont throw an exception when there is something missing. Being non-null safe has really caused us a few problems. MVEL supports null safe notation (like velocity)
- secondly, its better to use fields then MVEL expressions, wherever possible. We added a couple of

[2017-12-26 21:32] bradmac commented on #4692
I've checked and seem that the SKU is created, and after refreshing the page displays correctly.

So looks like a front end or timing issue.

[2017-12-26 21:36] bradmac commented on #4691
Thats fine, the page is just checking to see if there is an upload task in progress

[2017-12-26 21:36] #4691 closed

[2017-12-26 21:41] bradmac commented on #3981
I think thats ok. We might change the notification UI at some point, but the main thing for now is that pages are using the notification system correctly.

[2017-12-26 21:41] #3981 closed

[2017-12-26 21:41] bradmac commented on #4689
Next milestone.

[2017-12-26 21:53] bradmac commented on #4687
I cant see any problem. All the links appear to be https. Eg the Websites link in the menu is to https://vladtest11.admin.kademi-ci.co/websites

[2017-12-26 21:54] bradmac commented on #4685
@ducdhm looks like front end stuff, can you do these?

[2017-12-26 21:57] bradmac commented on #4594
FF works ok for me, but I'm in the same network as the CI server so that might help.

I think its ok to just test with Chrome on CI, and we'll check other browsers once deployed to prod with correct https certs

[2017-12-26 21:59] bradmac commented on #4594
I cant reproduce. Can you check if still active?

[2017-12-27 01:36] gonzalon commented on #2019
@AlaaKhalaf94 added the views in the CSV, but as the change we made in the other report we are not filtering any more by reward stores, you can filter by the website

[2017-12-27 01:40] gonzalon commented on #3801
I added another validations to not show other menu items

[2017-12-27 03:31] anhnt commented on #3541
![image](https://user-images.githubusercontent.com/735555/34369737-1afe67b4-eaf1-11e7-923d-5d9130ab5a07.png)

[2017-12-27 03:34] anhnt commented on #3541
Please update kademi dev and test on new account

[2017-12-27 05:18] ducdhm commented on #4688
Fixed!

[2017-12-27 05:28] ducdhm commented on #4678
Fixed!

[2017-12-27 07:37] Uafinder commented on #4688
Yup, works fine

[2017-12-27 07:37] #4688 closed

[2017-12-27 07:38] mkhoudary commented on #4690
Done..

[2017-12-27 07:38] #4690 closed

[2017-12-27 07:42] Uafinder commented on #4663
2,3,4 - fixed
1 - still appears
http://vladtest12.admin.kademi-ci.co/websites/vlad12-learn/version1/programs/p1/c1/m1/#details-tab

[2017-12-27 07:54] Uafinder commented on #4687
I wrote a video. A link really looks like https, but looks some redirection works
https://drive.google.com/file/d/1tv84B9qWYGtvSAdMhqqXpXVZDUq7KT1n/view?usp=sharing

[2017-12-27 08:07] AlaaKhalaf94 commented on #4675
passed

[2017-12-27 08:07] #4675 closed

[2017-12-27 08:07] anhnt commented on #4681
Done

[2017-12-27 08:11] anhnt commented on #4681
@Uafinder to test this please update latest Kademi Survey app
Create 2 test surveys and assign to the group users who can submit survey
Then setup a journey then select one of those surveys in settings
![image](https://user-images.githubusercontent.com/735555/34375202-de2ff470-eb17-11e7-8598-c940464d7160.png)

Check the leads created to make sure only users who submitted the selected survey on the

[2017-12-27 08:20] anhnt commented on #4637
Yup fixed

[2017-12-27 08:21] anhnt commented on #4669
Content Viewer role should be linked to website repo. @bradmac can you please confirm?

[2017-12-27 08:49] Uafinder commented on #3541
Yup, looks fine!

[2017-12-27 08:49] #3541 closed

[2017-12-27 09:01] Uafinder commented on #3801
Yup, all looks fine, but unsubscribers page still shows no permission
![image](https://user-images.githubusercontent.com/1945230/34376606-3f858c44-eaf5-11e7-81d9-1b8fa07f3314.png)
http://vladtest12.admin.kademi-ci.co/unsubscribes/

[2017-12-27 10:00] Uafinder commented on #4637
yup, fine

[2017-12-27 10:00] #4637 closed

[2017-12-27 10:07] Uafinder commented on #4678
Looks ok at the moment...
btw, I worked with promos yesterday and didn't spot this error...weird

[2017-12-27 10:07] #4678 closed

[2017-12-27 10:53] mkhoudary opened #4694 "Test SendEmail goal node throws NPE if From is blank"
If from is blank an NPE is thrown when testing sending the email from a SendEmailGoalNode

[2017-12-27 10:59] AlaaKhalaf94 commented on #4200
passed

[2017-12-27 10:59] #4200 closed

[2017-12-27 11:00] anhnt commented on #4693
Fixed

[2017-12-27 11:10] mkhoudary commented on #4694
Done..

@Uafinder to test this.. create a journey with a SendEmail node.. try to test sending from email manager, if it worked then this is resolved.. if failed then still there's a problem..

Please note that the from shall be left empty.

[2017-12-27 12:01] AlaaKhalaf94 commented on #3471
@gonzalon , look here please : http://version1.fresh16-fresh16.kademi-ci.co/quotes/3668719/
in "Quote Attachments" section
admin : http://fresh16.admin.kademi-ci.co/

- I can't remove any of attachment that I've added
- I add 2 type of attachment , img and csv file
when I click on img will open it in new tab , but when I click on csv file will open it as a text in new tab

![capture1](https://user

[2017-12-27 12:27] AlaaKhalaf94 commented on #2019
passed

[2017-12-27 12:27] #2019 closed

[2017-12-27 12:40] Uafinder commented on #4594
![image](https://user-images.githubusercontent.com/1945230/34381553-f0c34d04-eb11-11e7-8771-12e4a340ef9b.png)
https://vladtest12.admin.kademi-ci.co/websites/vlad12chat/version1/#panel_details-tab

1. Open admin: https://vladtest12.admin.kademi-ci.co/
2. Open in incognito http://vlad12chat-vladtest12.kademi-ci.co/
3. Push some comment from the user side
4. Click on pop-up from admin.
5. Push some a

[2017-12-27 13:14] Uafinder opened #4695 "Better error when SKU code unique validation works"
![image](https://user-images.githubusercontent.com/1945230/34382590-965cfbe2-eb18-11e7-84da-652817d47150.png)
http://vladtest12d.admin.kademi-ci.co/skus

[2017-12-27 13:15] Uafinder commented on #3982
Yup, fine

[2017-12-27 13:15] #3982 closed

[2017-12-27 13:25] Uafinder opened #4696 "Organisations search"
![image](https://user-images.githubusercontent.com/1945230/34382773-ebc7ba62-eb19-11e7-9c59-f7f99b0d7156.png)
When I enter some symbols which are not a part of org name, dropdown list appears.
it looks like it searching in ParentOrg field as well and my parentorg is vlad12dtest and that's why dropdown with results appears.
is it by design?
http://version1.vlad12dpromos-vladtest12d.kademi-ci.co/rew

[2017-12-27 13:27] Uafinder commented on #4693
yup, works fine

[2017-12-27 13:27] #4693 closed

[2017-12-27 13:43] AlaaKhalaf94 commented on #4618
There are set of components is displayed twice :
- component-socialLinks
- component-errorDetails
- component-htmlPanel
- component-showHideButton
- component-rating
- component-tile
- component-recentUserRegistrations
- component-recentActiveUsers
- component-registrationsOverTime
- component-membersTable

There are set of different components use the same img , in "Sales Data Claimer" apps

![ca

[2017-12-27 14:02] Uafinder opened #4697 "Error in console while journey page open"
![image](https://user-images.githubusercontent.com/1945230/34383637-2f8044c2-eb1f-11e7-9b77-1ba3b0c41423.png)
http://vladtest12d.admin.kademi-ci.co/funnels/first-journey/version1/#journeyBuilder-tab
Install journey app from marketplace.

[2017-12-27 14:17] Uafinder commented on #4694
![image](https://user-images.githubusercontent.com/1945230/34383906-4a9fc000-eb21-11e7-9e48-22f6276429be.png)
I've have this message when push send test
However if I use manually select recipient - it's ok.

[2017-12-27 14:58] Uafinder opened #4698 "Error when accessing kSurvey step of journey"
http://vladtest12d.admin.kademi-ci.co/manageUsers/3674680/#funnelsTab-tab
![image](https://user-images.githubusercontent.com/1945230/34384795-2708831a-eb27-11e7-949d-f868f7096ddf.png)
![image](https://user-images.githubusercontent.com/1945230/34384782-19ae96a0-eb27-11e7-9251-8f5c06daf6f3.png)
http://vladtest12d.admin.kademi-ci.co/funnels/first-journey/ksurveySubmittedGoal-91500c

[2017-12-27 15:02] Uafinder commented on #4681
Yeah, looks wonderful

[2017-12-27 15:02] #4681 closed

[2017-12-27 15:10] Uafinder commented on #4668
I've check here, looks not very good for me:
http://anhtest2-anh.kademi.com.au/123.html
http://anh.admin.kademi.com.au/pages/anhtest2/version1/
![image](https://user-images.githubusercontent.com/1945230/34385091-e5d317b4-eb28-11e7-8591-ffa308d4f160.png)

[2017-12-27 20:13] bradmac commented on #4687
OK, got it. This happens when the link is a collection resource, but does not have a trailing slash.

Eg the link is to https://vladtest11.admin.kademi-ci.co/websites then redirects to http://vladtest11.admin.kademi-ci.co/websites/

[2017-12-27 20:18] bradmac commented on #4687
@gonzalon can you please check AbstractResource.checkRedirect? might be a problem with WebUtils.isHttps()

[2017-12-27 20:20] bradmac commented on #4669
@anhnt thats correct. The sales roles need to be org based, but content viewer should be for the website only, because we dont necessarily want to give the sales people access to every website in the account

[2017-12-27 20:26] bradmac commented on #4696
Yeah, i think this is reasonable. Often the parent will represent something the user might want to search by, eg their region, so we want it included

[2017-12-27 20:28] bradmac commented on #4697
I think that should be ok. I dont think it will affect anything.

[2017-12-27 20:31] bradmac commented on #4698
The path was wrong, but not all nodes have a details page so i've removed the link

[2017-12-27 20:34] bradmac commented on #4668
Works correctly for me.

Probably the streaming format of the video hadnt generated yet, so i think is ok

[2017-12-28 01:21] gonzalon commented on #3471
@AlaaKhalaf94  Added the option to delete the attachments.
The links are working for me but anyways I talked with Brad about this and isn't that important at the moment!

![image](https://user-images.githubusercontent.com/2773216/34397266-927a42f2-ebd9-11e7-99ce-18c987a4e305.png)

[2017-12-28 01:39] gonzalon commented on #4679
if the expression its empty it would use the lead profile, if not would try to evaluate the expression and find the user by id, email or username.

[2017-12-28 03:03] anhnt opened #4699 "Delete a product sku code causes the error which doesnt display any SKUs"
Go to SKUs page, try to delete  a sku text then enter
Page refreshed and no skus showing

[2017-12-28 03:07] gonzalon commented on #4641
@Uafinder cant reproduce the error locally. Did you test it in the safetydemo or in CI?

[2017-12-28 03:19] bradmac commented on #4699
[code]

[2017-12-28 03:43] anhnt commented on #4692
I added small delay before reloading the row so it will fix the issue which doesnt show sku code after update but does show after reloading.

@gonzalon please help me with the issue which doesnt show sku code even after refreshing the page manually

[2017-12-28 03:44] bradmac commented on #4692
Note that this means the data is not being saved at all.

[2017-12-28 04:07] gonzalon commented on #4692
@anhnt  this should be working fine atm

[2017-12-28 04:56] anhnt commented on #4699
Fixed the bug that sends post request 2 times

[2017-12-28 05:02] anhnt commented on #4692
yup fixed thanks

[2017-12-28 05:23] ducdhm commented on #4663
Fixed!

[2017-12-28 07:28] Uafinder commented on #4697
No probs, just FYI

[2017-12-28 07:28] #4697 closed

[2017-12-28 07:31] Uafinder commented on #4696
ok, great!

[2017-12-28 07:31] #4696 closed

[2017-12-28 08:03] anhnt commented on #4618
[code]
Cant reproduce

[code]
Fixed

[2017-12-28 08:38] AlaaKhalaf94 commented on #4618
Hi @anhnt , The components are displayed twice in the list , like this examples :

![capture1](https://user-images.githubusercontent.com/26510030/34405258-02a6d3d4-ebbb-11e7-9939-fc02929f4390.PNG)

![capture2](https://user-images.githubusercontent.com/26510030/34405259-02c5ebc0-ebbb-11e7-896a-4f2a532116c8.PNG)

![capture3](https://user-images.githubusercontent.com/26510030/34405260-034a8c36-ebbb-1

[2017-12-28 08:54] AlaaKhalaf94 commented on #3471
passed

[2017-12-28 08:54] #3471 closed

[2017-12-28 09:21] Uafinder commented on #4663
yup, looks fine

[2017-12-28 09:21] #4663 closed

[2017-12-28 09:23] Uafinder opened #4700 "New photo crop plugin save button does nothing when you crop large image"
![2011_skoda_octavia_rs_by_bt_design_003_9118](https://user-images.githubusercontent.com/1945230/34406373-5a983e1a-ebc1-11e7-869b-fcf969e96ba2.jpg)
![clipboard - december 28 2017 10-26 am](https://user-images.githubusercontent.com/1945230/34406399-780b8e7a-ebc1-11e7-8545-44a330c9182a.png)
![clipboard - december 28 2017 10-30 am](https://user-images.githubusercontent.com/1945230/34406401-78453698-e

[2017-12-28 09:27] mkhoudary commented on #4680
We agreed to make multiple goal feature for lead..

[2017-12-28 09:35] Uafinder commented on #4692
yup, looks fine!

[2017-12-28 09:35] #4692 closed

[2017-12-28 09:36] Uafinder commented on #4695
yup, looks great!

[2017-12-28 09:36] #4695 closed

[2017-12-28 09:37] Uafinder commented on #4699
Yeah, works great!

[2017-12-28 09:37] #4699 closed

[2017-12-28 09:41] Uafinder commented on #4641
i'm testing on safety demo as Patrick asks...

[2017-12-28 10:10] Uafinder commented on #4698
Ok, link was removed

[2017-12-28 10:10] #4698 closed

[2017-12-28 10:41] AlaaKhalaf94 commented on #4618
passed

[2017-12-28 10:41] #4618 closed

[2017-12-28 11:08] Uafinder commented on #4686
looks good!

[2017-12-28 11:08] #4686 closed

[2017-12-28 11:54] Uafinder commented on #4679
![image](https://user-images.githubusercontent.com/1945230/34410055-43e1b48e-ebd6-11e7-8590-2c7b622dd1c8.png)
I've tried to specify email directly and tried to specify something like "email == 'userqa05@mailinator.com'"

Also I don't know if correct to give an error on other lead creation...

[2017-12-28 12:37] Uafinder commented on #4605
20 seconds for generate 1000 emails and 30 seconds to send it... it looks much better than it was...

[2017-12-28 12:37] #4605 closed

[2017-12-28 20:01] bradmac commented on #4700
Here's the error in jenkins:
[code]

@ducdhm can you change this to use a PUT instead of POST? Should be almost the same as what you're doing now

[2017-12-28 20:05] bradmac commented on #4700
Actually, I've increased the max from 2Mb to 10Mb which should be sufficient.

@ducdhm can you please
1. Check the file size prior to sending, make sure is less then 10Mb
2. Update the client side to check for a success code. When this happens the request is aborted so there is just an empty response. You should check for status: true or similar in the response, if thats not there then tell the us

[2017-12-28 20:21] bradmac commented on #4668
hey @Uafinder the first video works fine for me. Second isnt playing, but that appears to be because it hasnt generated the streaming format yet.

[2017-12-28 20:22] bradmac commented on #4668
Lets discuss when you're online

[2017-12-28 20:35] bradmac commented on #4679
hey @gonzalon please add screenshots so Vlad can see how to test the new feature

[2017-12-29 01:10] Anton69arb opened #4701 "Manage products - issue uploading multiple images with multiple images"
Hello

When I was uploading images to the product images and I add 3 x varients ( i-phone 7, white, black, red)
the code is ip7000 - therefore the varients code is ip7000.1, ip7000.2, ip7000.3 for each colour.

When I add them into the product images - It only adds one image and not all three
it should load all three variants.

http://ant6.admin.kademi-ci.co/products/

[2017-12-29 03:58] anhnt opened #4702 "Reward products list edm to have option to show products when user balance is zero"
Requested by Lyle for http://frucor.admin.kademi.com.au

[2017-12-29 04:38] anhnt commented on #4702
![image](https://user-images.githubusercontent.com/735555/34429585-b5cad45c-ec8c-11e7-983a-48158dc6e855.png)

[2017-12-29 07:01] ducdhm commented on #4685
UI in admin:
![newui](https://user-images.githubusercontent.com/1289631/34431324-c9c0dc7c-eca0-11e7-9622-89c63e90f7b5.png)

UI in frontend
![newui2](https://user-images.githubusercontent.com/1289631/34431325-ca8960ca-eca0-11e7-9188-e84f1de56778.png)

[2017-12-29 07:44] Uafinder opened #4703 "Fresh site home page weird symbols"
![image](https://user-images.githubusercontent.com/1945230/34432072-d1a3836e-ec7c-11e7-83de-693449c2d4c3.png)
http://vlad14cchat-vladtest14c.kademi-ci.co/
http://vladtest14c.admin.kademi-ci.co/pages/vlad14cchat/version1/
What is the XXXXXXXXX symbols?

[2017-12-29 08:09] Uafinder commented on #4685
Looks fine

[2017-12-29 08:09] #4685 closed

[2017-12-29 08:14] Uafinder opened #4704 "KChat pop-up for anonymous user"
![image](https://user-images.githubusercontent.com/1945230/34432503-7bf3d488-ec80-11e7-8f10-bd7f2c0a7356.png)
https://vladtest14c.admin.kademi-ci.co
Should be some sort of "New message from Anonymous user"

[2017-12-29 09:24] Uafinder opened #4705 "points balance component for EDM minor visual issue"
In the editor pts icon looks ok
![image](https://user-images.githubusercontent.com/1945230/34433810-6e918498-ec8a-11e7-8755-f9e9348494af.png)
But when email arrives it looks next way:
![image](https://user-images.githubusercontent.com/1945230/34433877-e1bf8b4a-ec8a-11e7-9ee7-9ac907e8ad6f.png)

[2017-12-29 09:26] Uafinder opened #4706 "Console error on opening email for editing and more places"
![image](https://user-images.githubusercontent.com/1945230/34433906-175e13e8-ec8b-11e7-9690-70c954dccd23.png)
1. create email
2. edit it
http://vladtest14c.admin.kademi-ci.co/groupEmails/3741606/#sendInfo-tab

02:02:43 ERROR io.milton.http.http11.GetHandler  - Exception sending content for:/_fields of resource type: co.kademi.server.fields.FieldsResource
02:02:43 java.lang.NullPointerException
02:

[2017-12-29 09:39] Uafinder commented on #4702
yup, works great!

[2017-12-29 09:39] #4702 closed

[2017-12-29 12:04] Uafinder opened #4707 "Can't upload image to image component in products and content brief"
![image](https://user-images.githubusercontent.com/1945230/34436738-39d0b780-eca1-11e7-8fb9-2a539a9a0d68.png)
http://vladtest15.admin.kademi-ci.co/products/3743796/#panel-brief-tab

[2017-12-29 14:22] Uafinder opened #4708 "Send email journey block cause error on adding and saving"
![image](https://user-images.githubusercontent.com/1945230/34439107-4f6e0576-ecb4-11e7-9c24-5c1140500c46.png)
error on adding
![image](https://user-images.githubusercontent.com/1945230/34439131-6c205638-ecb4-11e7-9370-0b93bf7d728c.png)
error on saving
http://vladtest15.admin.kademi-ci.co/funnels/first-journey/version1/#journeyBuilder-tab

[2017-12-31 13:05] mkhoudary commented on #4680
Done..

![image](https://user-images.githubusercontent.com/3704174/34461766-15b4f28e-ee3c-11e7-9362-885918c36fb2.png)

[2017-12-31 13:09] mkhoudary commented on #4680
@Uafinder to test this you need to create a journey that contains a Fork node.. which will spawn several secondary paths and a primary path.. forked paths shall be executed in parallel with the default/primary path.

Example:
Fork and two secondary paths with a timer then an email to be sent and the primary with another timer or a task

[2018-01-02 03:19] bradmac commented on #4434
Here's an example of a custom content type for representing pets:

![image](https://user-images.githubusercontent.com/826458/34473518-a6315f1c-efd8-11e7-95fd-df26c337b4c1.png)

[2018-01-02 03:24] bradmac commented on #4434
Example of a list of content and media types
![image](https://user-images.githubusercontent.com/826458/34473566-62779b78-efd9-11e7-8171-f4d5c700322f.png)

[2018-01-02 03:25] bradmac commented on #4434
Example of a list of assets, some media assets, some content assets
![image](https://user-images.githubusercontent.com/826458/34473575-809d0ca0-efd9-11e7-8e4e-43ba608e8ad8.png)

[2018-01-02 03:43] bradmac commented on #4434
Example of an image asset showing multiple tags and resized image views

![image](https://user-images.githubusercontent.com/826458/34473805-0bad9812-efdc-11e7-89cd-503a84211d2f.png)

[2018-01-02 03:45] bradmac opened #4709 "KMediaLibrary: Integrate with image selection in page and edm editor"
Extends - https://github.com/Kademi/kademi-dev/issues/4434

Anywhere we can upload or select images and videos we should be able to upload to the media library and select from it.

When browsing, it should only show assets of the appropriate type. Eg if inserting a video, only show assets which are videos

[2018-01-02 03:46] bradmac commented on #4709
First need an ajax/json search service available in the front end and admin

[2018-01-02 03:48] bradmac opened #4710 "KMediaLibrary: Improve assets page UI"
Extends - https://github.com/Kademi/kademi-dev/issues/4434
- Improve upload UI, including progress
- use timeago for dates
- anythign else needed for good UX

Eg URL - http://localhost:8080/asset-manager/

![image](https://user-images.githubusercontent.com/826458/34473903-3e7d0dc6-efdd-11e7-9a49-0d21a612b3cc.png)

[2018-01-02 04:07] bradmac commented on #4708
This usually happens when the journey is invalid for some reason.

[2018-01-02 04:14] bradmac commented on #4706
That error appears to be fixed now

[2018-01-02 04:15] bradmac commented on #4705
Thats a known issue, and there is no way to resolve it.

[2018-01-02 04:16] bradmac commented on #4703
Thats just debugging code, which should be removed

[2018-01-02 04:26] anhnt opened #4711 "Changing variant doesnt change item url to add to cart"
![image](https://user-images.githubusercontent.com/735555/34474299-cc1c8efa-efaf-11e7-8dc3-bf52f8de8b12.png)

[2018-01-02 04:32] anhnt commented on #4711
test user: http://viri.admin.kademi.com.au/manageUsers/95192325

[2018-01-02 05:22] ducdhm commented on #4711
Please test on QA

[2018-01-02 07:05] Uafinder commented on #4705
huh... understood

[2018-01-02 07:05] #4705 closed

[2018-01-02 07:30] Uafinder commented on #4703
Looks good

[2018-01-02 07:30] #4703 closed

[2018-01-02 07:36] Uafinder commented on #4706
looks good for me

[2018-01-02 07:36] #4706 closed

[2018-01-02 07:56] Uafinder commented on #4711
![image](https://user-images.githubusercontent.com/1945230/34477455-06bdfad8-efa3-11e7-91ff-06e25c319ba9.png)
No change for me.
I've open a product details, change variant, and inspect "add to cart" button. It seems look to same link.
http://vlad16rewards_vladtest16.kademi-ci.co/vlad16rewards-store/elec/3806598
http://vladtest16.admin.kademi-ci.co/products/3806598/#panel_details-tab

[2018-01-02 08:40] Uafinder opened #4712 "Video playback issue on preview - keditor"
![image](https://user-images.githubusercontent.com/1945230/34478350-1a38e022-efa9-11e7-8ebc-3df9b4292250.png)
1. Create a page
2. Adding a video component
3. Change video button
4. upload another video
5. Click ok
6. Click play on video, it will be invisible and will give an error.
http://vladtest16.admin.kademi-ci.co/pages/vlad16rewards/version1/
http://vladtest16.admin.kademi-ci.co/pages/vlad16r

[2018-01-02 08:46] Uafinder commented on #4668
hmmm, looks ok to me too...
weird thing...
It looks ok on QA for me too

[2018-01-02 08:46] #4668 closed

[2018-01-02 09:51] Uafinder commented on #4680
1. The default and secondary nodes are starting from the one point.
![image](https://user-images.githubusercontent.com/1945230/34480117-3813d084-efb3-11e7-8ac8-b67a40155e66.png)
http://vladtest16.admin.kademi-ci.co/funnels/first-journey/version1/#journeyBuilder-tab

[2018-01-02 09:54] Uafinder opened #4713 "Minor visual bug in journey builder"
![image](https://user-images.githubusercontent.com/1945230/34480163-7de80044-efb3-11e7-9758-bcba348ceff0.png)
Connection line starts not in the center of the connection point.
It looks like only on default connection points, because timeout connection points for example looks ok.
http://vladtest16.admin.kademi-ci.co/funnels/first-journey/version1/#journeyBuilder-tab

[2018-01-02 10:42] mkhoudary commented on #4680
@Uafinder this is a visual bug.. I will fix it.. but the behavior should be correct..

[2018-01-02 11:26] Uafinder commented on #4680
Can't create a lead with journey setup
![image](https://user-images.githubusercontent.com/1945230/34482370-3ff0d79a-efc0-11e7-8908-ea2ff3a76a60.png)
Caused by: org.postgresql.util.PSQLException: ERROR: column "fork_id" of relation "lead_journey_transition" does not exist
http://vladtest16.admin.kademi-ci.co/manageUsers/3812989/#funnelsTab-tab

[2018-01-02 15:05] Uafinder opened #4714 "Module progress node with some mistake data blocks other nodes options tab"
![image](https://user-images.githubusercontent.com/1945230/34487884-e6cab126-efde-11e7-8256-66c24da27de8.png)
1. Add begin node
2. Add module progress node
3. Add some program name for example, or module name
4. refresh
5. try to edit begin node and you will see an error.
http://vladtest15.admin.kademi-ci.co/funnels/first-journey/version1/#journeyBuilder-tab

[2018-01-02 19:46] bradmac commented on #4711
Doesnt work.

[2018-01-02 19:54] bradmac commented on #4680
hey @mkhoudary just one thing, forkId should be a nullable field, but you've made it long.

Thats a primitive so cant be null, so hibernate cant automatically create the column. Thats why it hasnt been added to the CI environment

We can add that column easily, but please remember that new fields always need to be nullable, which means Long rather then long

[2018-01-02 19:56] bradmac commented on #4714
We should create a settings file for the begin node. But there arent any settings, so this should not have any functional impact.

[2018-01-02 20:45] bradmac commented on #4680
Thats working now

[2018-01-02 20:59] bradmac commented on #4711
@Uafinder to test this, just confirm that you are able to add to your cart when using SKU's (ie with inventory control enabled)

[2018-01-02 21:38] bradmac commented on #4709
Example search:
http://version1.assetw1-rootorg.loopbackdns.com:8080/assets/?q=doge

![image](https://user-images.githubusercontent.com/826458/34501076-2dc1d260-f072-11e7-8ec7-e0aa26c6475a.png)

[2018-01-02 22:23] bradmac opened #4715 "Content queries"
A common use case is for a piece of content to be chosen for display based on what groups the viewing user is in (ie customer segments)

We can currently do this with container visibility rules, but this is difficult to manage for larger numbers of segments

- Create an asset type which is a content query, ie which allows the user to specify rules to select another piece of content
- Create compon

[2018-01-02 22:46] bradmac commented on #4598
Hey guys, this is a bit of a whoopise. We cant disable the old style of templating because we have clients who are using it!

[2018-01-02 22:52] bradmac commented on #4598
Should be working correctly now:
![image](https://user-images.githubusercontent.com/826458/34503339-99a2c30e-f07c-11e7-9cda-73b3d21e602a.png)

[2018-01-03 04:00] anhnt opened #4716 "Access query table result from velocity"
This code used to work

[code]

To reproduce this please create simple query table and access it from frontend with user who has reporting access to rootorg and report viewers role.

[2018-01-03 04:22] bradmac commented on #4715
Fixed

[2018-01-03 05:20] ducdhm commented on #4709
@bradmac Can you add hash in response, too?

[2018-01-03 08:06] anhnt commented on #4716
brad has fixed it 👍

[2018-01-03 08:06] #4716 closed

[2018-01-03 08:08] anhnt opened #4717 "Org selector is not showing"
Check this profile http://anhtest11.admin.kademi-ci.co/manageUsers/3800869/#summary-tab who connected to 2 orgs

Org selector is put on index.html http://version1.w1-anhtest11.kademi-ci.co/contenteditor?fileName=index.html

Login as that user to see no org selector showing

[2018-01-03 09:24] Uafinder commented on #4711
Works as expected... variants are possible to add to cart, base product is not...
so, passed

[2018-01-03 09:24] #4711 closed

[2018-01-03 09:31] Uafinder commented on #4707
yup, looks good for me

[2018-01-03 09:31] #4707 closed

[2018-01-03 09:38] Uafinder commented on #4598
yeap, both styles work correctly

[2018-01-03 10:58] Uafinder opened #4718 "Fork node both connections starting from one point"
http://vladtest17.admin.kademi-ci.co/funnels/first-journey/version1/#journeyBuilder-tab
![image](https://user-images.githubusercontent.com/1945230/34517953-c2c2e4c2-f085-11e7-9a92-adaeba42b42f.png)

[2018-01-03 11:01] Uafinder opened #4719 "Fork node remove Title with MVEL syntax"
![image](https://user-images.githubusercontent.com/1945230/34518060-3c2a7b7c-f086-11e7-8b5c-33fbae5f4a06.png)
http://vladtest17.admin.kademi-ci.co/funnels/first-journey/version1/#journeyBuilder-tab

[2018-01-03 11:04] Uafinder commented on #4680
Logics work ok. Closing this issue and will open a separate ones.
https://github.com/Kademi/kademi-dev/issues/4718
https://github.com/Kademi/kademi-dev/issues/4719

[2018-01-03 11:04] #4680 closed

[2018-01-03 11:26] Uafinder opened #4720 "Minor visual issue on user leads tab (padding different for 1st and 2nd lead)"
![image](https://user-images.githubusercontent.com/1945230/34518768-a5d957de-f089-11e7-80f5-6937f64f8929.png)
http://vladtest15.admin.kademi-ci.co/manageUsers/3831503/#funnelsTab-tab

[2018-01-03 12:11] Uafinder commented on #4714
Disagree,
it also impact on email nodes as well and all options there are ignored
http://vladtest15.admin.kademi-ci.co/funnels/first-journey/version1/#journeyBuilder-tab
![image](https://user-images.githubusercontent.com/1945230/34520090-e804294e-f08f-11e7-9328-71f501d316e4.png)

[2018-01-03 13:34] AlaaKhalaf94 opened #4721 "Calendar doesn't appear when click on date input"
Here : http://scenario.admin.kademi-ci.co/proposals/3869905
In "Add new Quote" modal , when I click on "Expiry Dates input" , the calendar shall appear

![capture2](https://user-images.githubusercontent.com/26510030/34522479-7cdf0808-f09b-11e7-8718-0a34d139eba3.PNG)

![capture1](https://user-images.githubusercontent.com/26510030/34522414-2a8425ac-f09b-11e7-85e5-a4599cca6577.PNG)

[2018-01-03 13:40] Uafinder opened #4722 "Journey builder nodes should have input validation on saving"
For example:
Send email node should have a validation on inputting From OR Reply to addresses
![image](https://user-images.githubusercontent.com/1945230/34522522-aede9de6-f09b-11e7-875e-c72a82ad0b96.png)
If there is no validation on inputting those fields it could cause no Email sending

Module progress node should have a dropdown list of possible choices.
![image](https://user-images.githubuserco

[2018-01-03 13:53] Uafinder opened #4723 "Organisation selector doesn't appears via menu component"
![image](https://user-images.githubusercontent.com/1945230/34522957-ffb689b6-f09d-11e7-8fbe-eef420bb312f.png)
![image](https://user-images.githubusercontent.com/1945230/34522987-2850a6ae-f09e-11e7-83e5-3d1314c57b6a.png)
http://vladtest15.admin.kademi-ci.co/websites/vladsales01/version1/#panel_apps-tab

[2018-01-03 13:59] Uafinder opened #4724 "Manage email send node (edit via text editor)"
![image](https://user-images.githubusercontent.com/1945230/34523189-05713242-f09f-11e7-8ec7-8837e4cedcf4.png)

![image](https://user-images.githubusercontent.com/1945230/34523180-ff52a60c-f09e-11e7-98c3-4f10037913a6.png)

http://vladtest17.admin.kademi-ci.co/funnels/journey2/version1/emailAction-7cd7fc/#message-tab

[2018-01-03 17:32] mkhoudary opened #4725 "KPI Level threshold "Find from series" need fields criteria"
When we want to read level target from another series there's no possibility that we filter the target data series with filter parameters, so basically we need to have 5 fields to set while setting a level.

[2018-01-03 17:45] mkhoudary commented on #4725
Done..

![image](https://user-images.githubusercontent.com/3704174/34532356-8ec8e084-f0be-11e7-91f8-65d7d1e0db55.png)

@Uafinder to test this, please create two data series, one populate with data for target and populate custom fields, then populate the other and user the data fields when you create a level to filter by some field value

[2018-01-03 21:20] bradmac commented on #4723
Note that this will only appear if the user has multiple org memberships

[2018-01-03 21:23] bradmac commented on #4722
That is duplicating this issue - https://github.com/Kademi/kademi-dev/issues/3996

[2018-01-03 21:30] bradmac commented on #4714
Thats a different issue. It looks like the journey had become invalid for some reason.

[2018-01-03 21:31] bradmac commented on #4720
Thats because they're tables, the alignment varies to fit the content. This is acceptable.

[2018-01-03 21:31] #4720 closed

[2018-01-03 21:39] bradmac commented on #4709
@ducdhm note that assets dont live in the blob store, so you cant really use their hash for anything. This is intentional because we want assets to be self contained and associated with the client account only, but the blob store is always shared.

Note that the asset path is consistent in the admin and front end sites

So lets chat later

[2018-01-03 21:55] bradmac commented on #4724
Fixed

[2018-01-03 21:57] bradmac commented on #4708
[code]

[2018-01-03 22:01] bradmac commented on #4714
The module progress action field was empty and this was causing the journey to be invalid, which meant that the journey couldnt be parsed so no nodes were available.

I set it to this: MODULE_STARTED

And is ok now

[2018-01-03 22:04] bradmac commented on #4708
Same issue as here - https://github.com/Kademi/kademi-dev/issues/4714

[2018-01-03 22:53] bradmac opened #4726 "Add content queries to asset manager"
- should allow a single item to be selected based on rules about the user
- should allow a list of items (from a tag) to be selected based on rules about the user
- rules should be the same as for dynamic groups

[2018-01-03 22:58] bradmac opened #4727 "Add permissions to asset types"
Asset type should be extended to support permissions

Each permission will consist of
- list of priviledges (eg READ_CONTENT, WRITE_PROPERTIES, etc)
- a website this permission applies to
- list of group names who will get the priviledges

For a given asset which may have multiple asset types, the priviledges from all asset types should be combined to give the final list of privs

[2018-01-04 02:41] bradmac commented on #4709
Added support for PUT to asset resources to replace previous content

[2018-01-04 04:37] bradmac opened #4728 "Asset selection jquery plugin"
Please create a jquery plugin to make a text input into an asset selection UI for use with forms. The text input should still be present in the form and submit the selected asset uniqueid property.

This asset selection should allow searching for assets, optionally with an asset type specified on the text input as a data attribute

Here is the typical html for an asset field:
[code]

Here is an ex

[2018-01-04 06:55] ducdhm opened #4729 "Improve UI of roles list in Group manage screen"
Instead of showing description, role name should be showed. Description should be title.

[2018-01-04 07:25] Uafinder commented on #4714
Yeah, simply regular user couldn't know the correct values for module status

[2018-01-04 07:25] #4714 closed

[2018-01-04 07:30] Uafinder commented on #4708
Yup
Possible choices for Module progress should be either dropdown or described in help page.

[2018-01-04 07:30] #4708 closed

[2018-01-04 07:40] Uafinder commented on #4723
Yeah, that's was a problem...

[2018-01-04 07:40] #4723 closed

[2018-01-04 07:42] Uafinder opened #4730 "Org selector element of menu component are not aligned such as other menu items"
![image](https://user-images.githubusercontent.com/1945230/34554033-6c85783c-f133-11e7-9dff-0934aae05fb9.png)
http://vladsales01_vladtest15.kademi-ci.co/
http://vladtest15.admin.kademi-ci.co/websites/

[2018-01-04 09:46] Uafinder commented on #4724
looks good!

[2018-01-04 09:46] #4724 closed

[2018-01-04 09:48] ducdhm commented on #4729
Already done!

[2018-01-04 09:48] #4729 closed

[2018-01-04 10:05] ducdhm commented on #4710
Done!

[2018-01-04 10:58] Uafinder opened #4731 "Creating data series bugs"
1. Two pop-ups appears when push New Sales Data Series
![image](https://user-images.githubusercontent.com/1945230/34560510-a783356c-f14e-11e7-94a1-a41ab4061f36.png)
http://vladtest18.admin.kademi-ci.co/sales/

2. In the bottom of the page records menu appears. It looks that "records" tab is not hided when creating data series.
![image](https://user-images.githubusercontent.com/1945230/34560573-e68

[2018-01-04 11:05] Uafinder opened #4732 "Additional data series field bug when create a record manually"
![image](https://user-images.githubusercontent.com/1945230/34560714-9f50fa9a-f14f-11e7-9db7-3ce7c6a404cf.png)
But when you create data series record manually (via create record button) this field looks like a dropdown list.
![image](https://user-images.githubusercontent.com/1945230/34560754-ce7cb7be-f14f-11e7-8c0b-dafde55ceb15.png)
http://vladtest18.admin.kademi-ci.co/sales/salesqa01/#history-tab

[2018-01-04 11:48] Uafinder opened #4733 "Leaderboard starts from #0, should be #1"
![image](https://user-images.githubusercontent.com/1945230/34562170-e6defa28-f155-11e7-8fb3-e29f0a46bf3c.png)
http://vladtest18.admin.kademi-ci.co/sales/salesqa01/kpis/kpiqa01/#general-tab

[2018-01-04 11:49] Uafinder opened #4734 "Leaderboard query generates leaderboard in incorrect order"
![image](https://user-images.githubusercontent.com/1945230/34562219-11445d1c-f156-11e7-928f-3c808a50ebf6.png)
http://vladtest18.admin.kademi-ci.co/sales/salesqa01/kpis/kpiqa01/#leaderboard-tab

[2018-01-04 11:50] Uafinder commented on #4725
Works fine!

[2018-01-04 11:50] #4725 closed

[2018-01-04 12:35] Uafinder opened #4735 "Install KMediaLibrary app via MarketPlace cause menu error"
1. Create a website
2. Install app there via MarketPlace
3. Go to left menu
![image](https://user-images.githubusercontent.com/1945230/34563722-7b3e9470-f15c-11e7-9b80-1074eda761ec.png)
![image](https://user-images.githubusercontent.com/1945230/34563730-864ba63c-f15c-11e7-8022-75eaac82eb8c.png)
http://vladtest18.admin.kademi-ci.co/mediaLibrary/

[2018-01-04 12:37] AlaaKhalaf94 opened #4736 "Downloading added files in blogs , is not available"
Here : http://scenario.admin.kademi-ci.co/blogs/blogname/articletitle/#files-tab I've added two files

In preview blog , downloading files is not available, it opens it as a text file in a new tab

![capture1](https://user-images.githubusercontent.com/26510030/34563764-a003b8c6-f15c-11e7-91b0-6cbd6050c24f.PNG)

[2018-01-04 13:11] GeoBlaso commented on #4721
Can I contribute?

[2018-01-04 14:04] Uafinder opened #4737 "Reschedule job timer calendar bug"
![image](https://user-images.githubusercontent.com/1945230/34566872-da0f2b3e-f168-11e7-8480-4860dd79cca0.png)
http://vladtest15.admin.kademi-ci.co/leads/3900773/#information-tab
When you try to reschedule timer, calendar is incorrectly aligned and will be partially covered by the upper part of screen.

[2018-01-04 15:48] Uafinder opened #4738 "Error in console while accessing Points tab in User"
![image](https://user-images.githubusercontent.com/1945230/34571545-78bd4230-f177-11e7-929d-fe37f93a3999.png)
http://vladtest18.admin.kademi-ci.co/manageUsers/3892461/#pointsBucketTab-tab

[2018-01-04 16:02] Uafinder commented on #4737
Can't reproduce it anymore

[2018-01-04 16:02] #4737 closed

[2018-01-04 20:15] bradmac commented on #4730
@ducdhm note this is in milestone L

I think we should see about refactoring the layout of this to be more appropriate for use with a menu

[2018-01-04 20:22] bradmac commented on #4735
We're no longer using a seperate app for this, so i've deleted it from source control.

You will need to remove it from the CI marketplace manually though

[2018-01-04 20:25] bradmac commented on #4736
@mrdadah please add the download attribute to force files to be downloaded rather then opened

https://stackoverflow.com/questions/2793751/how-can-i-create-download-link-in-html#16316830

[2018-01-04 20:27] bradmac commented on #4721
Hi @GeoBlaso thanks for the offer, but kademi core is not open for contributions at the moment (hopefully we'll have a developer edition you can run locally in the near future)

But our drag and drop editor is an open project, and is pretty cool!

https://github.com/Kademi/keditor

[2018-01-04 20:29] bradmac commented on #4738
Looks like we're using the same ID in the points panels

[2018-01-05 07:34] ducdhm commented on #4728
@bradmac Plugin is ready. I need filter `type` for searching asset type.

[2018-01-05 09:01] Uafinder commented on #4710
1. Date/time is not using a timezone.
![image](https://user-images.githubusercontent.com/1945230/34601834-61ff6b24-f206-11e7-914c-08b5d18ba64d.png)

2. Delete file is not possible
![image](https://user-images.githubusercontent.com/1945230/34601846-6be06dbe-f206-11e7-9ac0-7f89ecd98342.png)

3. uploading progress in not visible (just a simple indicator)
![image](https://user-images.githubusercontent

[2018-01-05 09:02] Uafinder commented on #4735
How can I do that?

[2018-01-05 09:11] bradmac commented on #4735
Yep

[2018-01-05 09:22] bradmac commented on #4710
Dont worry about this, its covered in a different issue and is still in progress

[2018-01-05 09:23] bradmac commented on #4710
That is correct if there are not asset types created. Go to the /content/ page to create asset types

[2018-01-05 09:24] bradmac commented on #4710
This is for a content query asset which is not ready for test yet. Please just test with images, videos

[2018-01-05 09:24] bradmac commented on #4710
Does not support audio and text files yet

[2018-01-05 09:31] Uafinder commented on #4735
Yeah, looks fine.
App removed from CI rootorg.

[2018-01-05 09:31] #4735 closed

[2018-01-05 10:19] bradmac commented on #4728
OK, thats added now

It does a prefix search on format, which works for image and video, but can also be used for other content types

[2018-01-05 10:45] Uafinder opened #4739 "Error while products upload"
![image](https://user-images.githubusercontent.com/1945230/34605796-8e9b49e6-f215-11e7-89a2-ff79a154cb22.png)
![image](https://user-images.githubusercontent.com/1945230/34605806-96e1a276-f215-11e7-918c-fa9ed232096f.png)
http://mysolution.admin.kademi-ci.co/tableUploaders/productsUploader

[2018-01-05 12:29] Uafinder opened #4740 "Auction admin page layout bug"
Before selecting description
![image](https://user-images.githubusercontent.com/1945230/34609101-fc66f2aa-f223-11e7-83af-38d7dff18830.png)
Become twice smaller after clicking on it
![image](https://user-images.githubusercontent.com/1945230/34609150-28c2fdda-f224-11e7-8a1a-9f186ad8598c.png)

body before selecting
![image](https://user-images.githubusercontent.com/1945230/34609178-46d16cd0-f224-11e7

[2018-01-05 14:34] Uafinder opened #4741 "salesDataclaimer app appears twice in marketPlace"
![image](https://user-images.githubusercontent.com/1945230/34613377-3b37e040-f236-11e7-9a66-f263f0bd4f95.png)
http://mysolution.admin.kademi-ci.co/marketPlace?websiteBranch=version1&websiteName=resellers&type=app#browse-tab

[2018-01-05 14:48] Uafinder opened #4742 "Sales data creation bug"
When you enter a code (for example Sales1) and a title (for example Sales1Title), and push "save", it will take a title and put it to "code".
![image](https://user-images.githubusercontent.com/1945230/34613880-1ceface2-f238-11e7-8fa6-e2bec1c5606d.png)
![image](https://user-images.githubusercontent.com/1945230/34613885-2a12da70-f238-11e7-8094-64ccd7061909.png)
http://mysolution.admin.kademi-ci.co/s

[2018-01-06 20:30] bradmac commented on #4728
I've integrated with the edit page as well as the new item page (and later will merge the 2 into one template, i think)

[2018-01-06 20:33] bradmac commented on #4728
@ducdhm can you extend this a bit more.

Can you please allow for uploading a new image or video from this control? This should have cropping etc for images.

[2018-01-06 20:46] bradmac commented on #4726
Duplicate - https://github.com/Kademi/kademi-dev/issues/4715

[2018-01-06 20:46] #4726 closed

[2018-01-06 20:57] bradmac commented on #4434
Closing, moving dev to specific issues

[2018-01-06 20:57] #4434 closed

[2018-01-07 03:16] bradmac commented on #4741
The correct one is salesDataClaimer (lower case first letter)

Please remove the other from CI marketplace, it has already been removed from source code

[2018-01-07 03:19] bradmac opened #4743 "Manage content type page"
- Allow adding and removing field definitions for the 4 types - typed field, relation, derived field and simple field
- Allow adding and removing views, eg template page view
- Do something about controllers

Have an indicator structure used for both views and controllers. Eg a view or a controller could be indicated by the presence of a request parameter, a content type or method, and these can b

[2018-01-07 03:30] bradmac commented on #4743
done relation and typed fields

[2018-01-07 20:41] bradmac commented on #2608
This can be resolved by limiting validation to maxiumum of 1k rows, and extrapolating results

[2018-01-07 23:55] Anton69arb opened #4744 "add HTML alt tags for screen readers through content editor"
Hey, The  HTML alt tags for screen readers through content editor used to be working and visible, please could we add it to the image component

http://ant16.admin.kademi-ci.co/websites/ant16/version1/#panel_apps-tab

![screenshot-version1 ant16-ant16 kademi-ci co-2018-01-08-12-45-17-805](https://user-images.githubusercontent.com/32444328/34655719-3a1c9e6e-f473-11e7-85cc-196002cc4cda.png)

[2018-01-08 01:04] tuzzmaniandevil commented on #2608
Limiting is done, deployed and tested :-)

[2018-01-08 01:08] bradmac commented on #4728
@ducdhm also, please move the type detection inside the plugin. Its good to have an option to specify the type, but usually the assetFinder plugin should determine the type from classes on the input

Also, please make this support content types with type=content, class=select-asset-content, and have a data attribute for the asset type

Example
[code]

This should produce an ajax query like:
http:/

[2018-01-08 06:20] ducdhm commented on #4710
I send data `toDelete` to server but it doesnt work

Do you think we need percentage for uploading?

[2018-01-08 08:23] Uafinder commented on #4741
Yup, I've un-publish it in rootorg CI...

[2018-01-08 09:05] Uafinder opened #4745 "Importer behaviour on pressing cancel"
For example, I have a large file with numerous rows in it. It contains users.
I've begin to upload it, but then I think that it fair enough, and pressing cancel. It write to me, that some number of rows are processed and successfully imported, but physically they are not.
So, how it looks right? Either it shouldn't show successfully uploaded rows or it should import them.
p.s. I've done re-index,

[2018-01-08 10:11] Uafinder commented on #2608
Looks ok for me...
I suppose that we can't spot errors in rows (>1000) it's an expected behavior.

[2018-01-08 12:08] Uafinder opened #4746 "Changing reward-store code results all reward products pages broken"
For example, you have 30 products in reward store and you need to change reward store code.
When you change it, this will cause all products detail pages to be broken, because links will not update. Only the removing and adding back a product to a store will cause link regenerating.
![image](https://user-images.githubusercontent.com/1945230/34670148-c042e2fa-f47d-11e7-84d3-c58dc47aa311.png)
![imag

[2018-01-08 12:19] mkhoudary opened #4747 "Need to be able to manipulate forks timers"
Currently there's no way to manipulate pending timers for forks, only for current goal..

[2018-01-08 12:36] Uafinder opened #4748 "Auction doesn't appears on the frontend"
http://mysolution.admin.kademi-ci.co/manageUsers/3964135/#summary-tab
http://resellers-mysolution.kademi-ci.co/auctions/
Can't understand why auction doesn't appears for me at the frontend. I'm logging with the user specified upper.

[2018-01-08 13:37] mkhoudary commented on #4747
Done..

![image](https://user-images.githubusercontent.com/3704174/34673080-b5c51bc0-f489-11e7-9752-4f26240868c1.png)

[2018-01-08 13:38] mkhoudary commented on #4747
@Uafinder to test this you can create a fork with several secondary forks leading to a timer.. then check the lead page in admin and manipulate time..

[2018-01-08 13:48] Uafinder opened #4749 "salesDataClaim entering products dropdown always empty"
![image](https://user-images.githubusercontent.com/1945230/34673564-531ec12c-f48b-11e7-8438-6606f38a1984.png)
http://mysolution.admin.kademi-ci.co/
http://resellers-mysolution.kademi-ci.co/data-claims.html

[2018-01-08 14:03] Uafinder opened #4750 "Journey email node sending bug (specified To address)"
![image](https://user-images.githubusercontent.com/1945230/34673994-df40dc2a-f48c-11e7-9190-58d1e2478128.png)
When you fill up field "to address" and enter no values to upper two fields (Reply to address and Email from address) email will not fire.
http://mysolution.admin.kademi-ci.co/funnels/claims/version1/emailAction-19557d/#summary-tab

[2018-01-08 14:22] Uafinder opened #4751 "salesDataClaimer app in admin and website level"
The both apps on both levels has an option, called "Data series" where you should specify data series for this claimer. That's not completely obvious.
If one this parameters are not setup correctly, it will generate next error on processing.
![image](https://user-images.githubusercontent.com/1945230/34674836-1acebb88-f490-11e7-9767-3647a0b4f299.png)
http://mysolution.admin.kademi-ci.co/manageSaleD

[2018-01-08 14:49] Uafinder opened #4752 "Delete claim does nothing"
![image](https://user-images.githubusercontent.com/1945230/34675926-b71aab3e-f493-11e7-893e-c6c64e1a20ca.png)
http://mysolution.admin.kademi-ci.co/manageSaleDataClaimer/
1 select claim
2 push delete
3 refresh
4 see that claim are still in place

It looks like because of they already approved or rejected. The new claim is deleting successfully. So would be great to add a validation or disable check

[2018-01-08 14:55] Uafinder opened #4753 "What about hide old csv uploaders?"
http://mysolution.admin.kademi-ci.co/organisations/
![image](https://user-images.githubusercontent.com/1945230/34676033-0e5866ac-f494-11e7-9fbc-8f328e310ada.png)

http://mysolution.admin.kademi-ci.co/products/
![image](https://user-images.githubusercontent.com/1945230/34676072-3f60e896-f494-11e7-8065-f244b3e8655c.png)

[2018-01-08 15:24] Uafinder opened #4754 "Enter claims frontend date/time bug"
For example you're entering a claim with date:
![image](https://user-images.githubusercontent.com/1945230/34677227-2559d06c-f498-11e7-9204-2f37033a3236.png)
Push save and then review it, and time will be -11 hours from setup.
![image](https://user-images.githubusercontent.com/1945230/34677281-47bd9b7a-f498-11e7-8c74-2062a06c7200.png)
http://resellers-mysolution.kademi-ci.co/data-claims.html
http:/

[2018-01-08 15:27] Uafinder opened #4755 "Incorrect modal heading for edit claims"
![image](https://user-images.githubusercontent.com/1945230/34677520-19e00890-f499-11e7-9a18-2837ee265b01.png)
http://mysolution.admin.kademi-ci.co/edit/
http://resellers-mysolution.kademi-ci.co/data-claims.html

[2018-01-08 15:58] Uafinder opened #4756 "Admin leads page layout become worse"
![image](https://user-images.githubusercontent.com/1945230/34678972-436f590a-f49d-11e7-8d41-0f54ba7faa88.png)
http://vladtest19.admin.kademi-ci.co/leads/

[2018-01-08 20:45] bradmac commented on #4753
For product import, i think we need to leave it because Carters still uses it. But move it to the bottom of the list under a seperator with text "Upload CSV (old)"

[2018-01-08 20:50] bradmac commented on #4751
When the app is installed
- check for a series with a default name of "SalesClaims"
- if it doesnt exist, create it, and create a dashboard alert to say it was created
- use that as the setting

On the manage page
- if no series has been selected, display an alert at the top of the page, with a select box to choose a series. Also provide a link to the data series page so the user can create one if

[2018-01-08 20:52] tuzzmaniandevil commented on #4753
All done

[2018-01-08 20:57] bradmac commented on #4746
This is expected. The solution is to reindex the reward store.

[2018-01-08 20:58] bradmac commented on #2608
@tuzzmaniandevil as discussed please change the estimation so it skips through the entire file. Eg for a file with 4000 rows it will check every 4th row.

[2018-01-08 21:02] bradmac commented on #4745
Correct, if the import is cancelled and no rows are physically imported, the summary page show have a clear message and now show imported rows

[2018-01-08 21:07] bradmac commented on #4739
@Uafinder can you reliably reproduce this?

[2018-01-08 21:20] bradmac commented on #4710
Fixed

[2018-01-08 21:25] bradmac commented on #4710
@ducdhm the progress bar should show the progress of the upload. Ie if half of the file has been uploaded the progress bar should be half filled in. This is just normal progress bar stuff.

You can do this with the onProgress callback in jquery.forms

[2018-01-08 21:28] tuzzmaniandevil commented on #2608
All done

[2018-01-08 21:34] tuzzmaniandevil commented on #4749
The sales data claim app uses Product Sku's, There were no Sku's setup. After I added one the search worked

[2018-01-08 21:42] bradmac commented on #4749
@Uafinder please let me know if you want to discuss.

[2018-01-08 21:44] tuzzmaniandevil commented on #4748
Because a points bucket was set on the Auction, The user needs access to that points bucket. Adding the Dealers group to the points buckets fixed the issue

[2018-01-08 21:45] bradmac commented on #4728
Currently, the value of the input is blanked out when rendered:

![image](https://user-images.githubusercontent.com/826458/34693942-40ac92b8-f52a-11e7-9911-377f772a7b86.png)

[2018-01-08 21:51] bradmac opened #4757 "Content query list component"
This should function much the same as a blog article list component, except it shows content items from the asset library

[2018-01-08 21:55] tuzzmaniandevil commented on #1670
All the dependencies look ok, The d3 lib has turned off but the nvd3-lib was on.
@Uafinder Can you please test on a new account? All the libs should be installed correctly

[2018-01-08 21:56] bradmac commented on #4715
Currently the manage page for an asset query looks like this. We want to change this so it uses the same rule builder UI as for dynamic groups.

Current:
![image](https://user-images.githubusercontent.com/826458/34694353-a79b6354-f52b-11e7-8692-a60a1ee8061d.png)

Change to use rules builder like dynamic groups:
![image](https://user-images.githubusercontent.com/826458/34694380-c33f31e4-f52b-11e7-8

[2018-01-08 22:16] bradmac commented on #4743
@tuzzmaniandevil please add support for adding derived and simple fields

[2018-01-08 22:18] bradmac commented on #4757
Please update the component to have settings:
- allow selecting a query asset
- similar settings as blog articles

Note that the selected query asset has a property targetAssetType. Load the properties for that type to allow selecting properties for:
- title
- image
- brief

[2018-01-08 22:22] tuzzmaniandevil commented on #3728
I watched the video, The you just added points and deleted them again. You need to actually some at least part of the points record for it to be linked to a debit record.

[2018-01-08 22:24] bradmac opened #4758 "Assets app indexer"
- Have a single type which contains properties from all asset types
- types property which is all of the asset type names for each asset
- each document has all properties for the asset, from all asset types its connected to
- assume that properties from different asset types with the same name have the same type
- only store properties, not content of media assets (eg image, video and text)

[2018-01-08 23:07] bradmac commented on #4748
@tuzzmaniandevil ok lets add an installation script to set everything up so the logged in user can immediately click through to the auctions page and see everything working.

this should use the same default points bucket and participant group as reward stores.

[2018-01-08 23:12] bradmac commented on #4748
Note that KAuctions depends on KRewardStore (or should if it doesnt) so much of that configuration should already be there.

[2018-01-08 23:14] tuzzmaniandevil commented on #4444
1. Should be fixed now :-)
2. This is correct. I've fixed the error that get's displayed

[2018-01-08 23:23] bradmac commented on #4758
Working now:
![image](https://user-images.githubusercontent.com/826458/34697433-f2852a06-f537-11e7-9605-81ba6253c17e.png)

[2018-01-08 23:29] #4758 closed

[2018-01-09 07:36] Uafinder commented on #4753
Yeah, looks great!

[2018-01-09 07:36] #4753 closed

[2018-01-09 07:47] Uafinder commented on #4749
It simple not obvious for configuring, just need to know that fact :)

[2018-01-09 07:47] #4749 closed

[2018-01-09 07:55] Uafinder commented on #4739
Easily
![image](https://user-images.githubusercontent.com/1945230/34710238-2696c8a0-f523-11e7-9c7d-f1bbaf7013bf.png)
![image](https://user-images.githubusercontent.com/1945230/34710264-3e789ad4-f523-11e7-898e-6e144a183bc2.png)
http://vladtest20.admin.kademi-ci.co/tableUploaders/productsUploader
![image](https://user-images.githubusercontent.com/1945230/34710273-463961d6-f523-11e7-8654-0aa63e3a3013

[2018-01-09 08:54] ducdhm commented on #4755
Fixed!

[2018-01-09 08:54] ducdhm commented on #4710
Done!

[2018-01-09 09:25] Uafinder commented on #4746
yup, re-index helps!

[2018-01-09 09:25] #4746 closed

[2018-01-09 09:28] bradmac commented on #4728
Done

![image](https://user-images.githubusercontent.com/826458/34713857-65e00ba2-f58c-11e7-859a-5b794f44b88b.png)

[2018-01-09 10:41] Uafinder opened #4759 "Expiry date timezone issue"
1. When you setup an expiry date for example to 01/11/2018 0:00
![image](https://user-images.githubusercontent.com/1945230/34716943-0dd54118-f53a-11e7-84fa-b83f54e43f50.png)
2. And award some points
3. Expiry date will setup to:
![image](https://user-images.githubusercontent.com/1945230/34717014-4af4dae0-f53a-11e7-81f7-c0fbae5a5b13.png)
01/10/2018 13:00
http://vladtest20.admin.kademi-ci.co/points-

[2018-01-09 11:46] Uafinder opened #4760 "Reward store activity component date|time issue"
![image](https://user-images.githubusercontent.com/1945230/34719394-5b27e390-f543-11e7-920d-3c26c74c32fe.png)
![image](https://user-images.githubusercontent.com/1945230/34719404-656ba18e-f543-11e7-82ed-d425a3354a6f.png)
http://vladtest20.admin.kademi-ci.co/points-buckets/points/
http://vlad20repo_vladtest20.kademi-ci.co/repo3.html
Timezone setup to Kiev

[2018-01-09 11:46] Uafinder commented on #1670
New account looks good, but it seems still have a problem with time.
So will open another issue to close this one.
https://github.com/Kademi/kademi-dev/issues/4760

[2018-01-09 11:46] #1670 closed

[2018-01-09 12:04] Uafinder commented on #2608
Looks much worse...
1. When file contains more than 1000 records it will double a result (new records to be inserted).
![image](https://user-images.githubusercontent.com/1945230/34719979-a1b3e4a6-f545-11e7-9363-5e2c4c5c64cb.png)

2. It doesn't found mistake rows in large file. It contains approx. 10000 rows, so it should check every 10th row. I've corrupt 20 of them to ensure some falls in that li

[2018-01-09 12:13] Uafinder commented on #3728
Got it finally...
Yup, it works as expected!

[2018-01-09 12:13] #3728 closed

[2018-01-09 12:40] mrdadah commented on #4733
Fixed

[2018-01-09 12:47] Uafinder commented on #4710
yup, looks good
so, other things are todo

[2018-01-09 12:47] #4710 closed

[2018-01-09 13:03] Uafinder commented on #4755
When you push edit i'm not sure it's a New claim
Would be great to have some sort of "Edit claim"
![image](https://user-images.githubusercontent.com/1945230/34722142-4bcdc008-f54e-11e7-8788-e003edf53868.png)
http://version1.vlad20bdata-vladtest20b.kademi-ci.co/sales.html

[2018-01-09 13:51] Uafinder commented on #4715
![image](https://user-images.githubusercontent.com/1945230/34723847-9aa1266a-f554-11e7-9476-97e997904214.png)
1. Save cause an error
2. Is old target fields still needed?
http://vladtest20b.admin.kademi-ci.co/asset-manager/dbe0dea7-c7de-415c-80ad-38e9cdc103dd

[2018-01-09 13:57] Uafinder commented on #4733
Yup, looks fine!

[2018-01-09 13:57] #4733 closed

[2018-01-09 14:04] Uafinder commented on #4748
Ok, understood...
script looks good

[2018-01-09 14:04] #4748 closed

[2018-01-09 14:15] mrdadah commented on #4736
Done

[2018-01-09 14:31] Uafinder commented on #4444
yup, looks good for me

[2018-01-09 14:31] #4444 closed

[2018-01-09 14:40] Uafinder commented on #4747
![image](https://user-images.githubusercontent.com/1945230/34726128-cdb4c622-f55b-11e7-86f9-f49884bc44b9.png)
http://vladtest19.admin.kademi-ci.co/leads/4003094/#information-tab

[2018-01-09 17:23] ducdhm commented on #4709
@bradmac
1. Which request can I use for upload? Example: POST to `/assets/`
2. I send DELETE to `/assets/{uniqueID}` but it doesnt work
3. When send request to `/assets/?q=` to getting all assets, the format in response is empty

[2018-01-09 20:51] bradmac commented on #4739
Cannot reproduce

![image](https://user-images.githubusercontent.com/826458/34742655-c9127192-f5eb-11e7-88b6-3688131a5993.png)

[2018-01-09 20:56] bradmac commented on #2608
Same. For an import of 2k rows where 500 already exist:

![image](https://user-images.githubusercontent.com/826458/34742834-83041de4-f5ec-11e7-9447-81c613309b95.png)

[2018-01-09 20:58] bradmac commented on #4739
I've tried with 500 records and 2k records, seems to work fine.

[2018-01-09 21:22] bradmac commented on #4739
OK, so i've discovered this only occurs with new accounts, and it only happens once.

[2018-01-09 21:35] bradmac commented on #4739
The problem occurs when the products repository is auto-created in the import process.

To resolve it, I've added an initialisation process to the products app to auto-create the products repository, so it will already exist when the uploader runs.

Note that this wont apply to existing accounts which already have the products app enabled.

[2018-01-09 21:43] bradmac commented on #4755
@ducdhm lets leave this until the L milestone

[2018-01-09 21:50] tuzzmaniandevil commented on #2608
I've adjusted the math, Looks much better now! Tested with you file and 500 existing profiles:

![image](https://user-images.githubusercontent.com/3378330/34745019-112046b4-f5f4-11e7-8e87-e206f357a923.png)

[2018-01-09 22:04] Anton69arb opened #4761 "registration form not working on an index page"
Hey, I've added the registration app to a page and tried testing it, to see if it would add the new user to a group, seems to not work.

it's coming up with this:
Errors
Sorry, we could not process your request
Sorry, there appears to be a problem with the network or server. Please check your internet connection. If you're connected ok this might be a glitch in the system. - error

http://version1

[2018-01-09 22:07] bradmac commented on #4761
Its doing a POST to http://version1.ant17-ant17.kademi-ci.co/index.html

[2018-01-09 22:11] bradmac commented on #4709
I've added PUT support to /assets and /asset-manager

Note that you might want to use the JSON gateway rather then PUT directly to get more information

Eg instead of PUT /assets use POST /assets/_DAV/PUT using normal form multipart encoding

That will return a JSON response with name of the created resource.

[2018-01-09 22:24] bradmac commented on #4709
Fixed

[2018-01-09 22:27] bradmac commented on #4709
Fixed. But as discussed dont use this for filtering. Instead use the type parameter which does a prefix search on the format field

Eg curl -u admin:xxx -X GET http://localhost:8080/assets/?q=&type=video

[code]

[2018-01-10 01:33] bradmac commented on #4728
Not correctly filtering by content type, but good enough for now

[2018-01-10 01:33] #4728 closed

[2018-01-10 01:35] bradmac commented on #4715
The target field is needed for selecting a single asset. But we need to extend this to allow selecting an asset type.

The query builder is to decide whether a rule is matched, if it is matched then the asset(s) returned comes from either the target asset (single item) or the target asset type (multiple items)

[2018-01-10 01:36] bradmac commented on #4743
Added ability to create the 4 field types

[2018-01-10 01:37] bradmac commented on #4743
@tuzzmaniandevil please add the ability to remove views and fields. And please add ability to configure the default view.

[2018-01-10 01:39] bradmac commented on #4715
@ducdhm can you see why we're getting 2 inputs for the target asset?

[2018-01-10 06:25] paddyow opened #4762 "Unable to change selected font size in container"
If you highlight some text in a container, and try to change the font to say H4, all the type updates and not just the selected text. You should be able to change the font size of selected text.

http://kademi.admin.kademi.us/pages/kademi-dev/v5-sections/howtos/moblix/

![image](https://user-images.githubusercontent.com/2201340/34758554-188ea468-f62b-11e7-8130-b67e4a8b81f1.png)

[2018-01-10 06:33] ducdhm opened #4763 "Youtube component doesnt allows to fullscreen"
Solution: https://stackoverflow.com/questions/27723423/youtube-iframe-embed-full-screen

[2018-01-10 06:40] ducdhm commented on #4762
Already fixed!

[2018-01-10 06:40] #4762 closed

[2018-01-10 06:47] ducdhm opened #4764 "SCORM content is null in frontend"
Link to module: http://swimart.admin.kademi.com.au/websites/swimart/27102015nohydroxypure/programs/2018Promo/PPP/PPP1/#files-tab

Zip file for SCORM content:
[89c4a5926769ddeee82abc47b7c1f37a8d00629f.zip](https://github.com/Kademi/kademi-dev/files/1617754/89c4a5926769ddeee82abc47b7c1f37a8d00629f.zip)

Frontend link: http://training.swimart.com.au/programs/2018Promo/PPP/PPP1/

[2018-01-10 08:08] AlaaKhalaf94 commented on #4736
passed

[2018-01-10 08:08] #4736 closed

[2018-01-10 08:51] AlaaKhalaf94 commented on #4506
Works normally

[2018-01-10 08:51] #4506 closed

[2018-01-10 09:16] Uafinder opened #4765 "Pressing "Cancel" while uploading something not really cancel a task"
1. I've upload a file with products (more than 1000)
[Lonza_TraxProducts_full.zip](https://github.com/Kademi/kademi-dev/files/1618150/Lonza_TraxProducts_full.zip)
2. when import reach 1000 I've press cancel
3. it says that import cancelled
4. go to background tasks and there will be a task
![image](https://user-images.githubusercontent.com/1945230/34764384-0ba55244-f5f7-11e7-9fd6-8d016696cb5e.png)

[2018-01-10 09:19] Uafinder commented on #4739
ok, understood
looks better

[2018-01-10 09:19] #4739 closed

[2018-01-10 10:36] AlaaKhalaf94 commented on #4476
I see that is ok

[2018-01-10 10:36] #4476 closed

[2018-01-10 10:49] Uafinder opened #4766 "Uploader fails when file contains empty row"
1. if file contains an empty row it will fails import of all rows after that empty row
![image](https://user-images.githubusercontent.com/1945230/34766771-4a3c9aa6-f5fe-11e7-8351-4fb97aa2c6fc.png)
![image](https://user-images.githubusercontent.com/1945230/34766831-672d2ce8-f5fe-11e7-8524-7cc54e9aac08.png)

2. if file contains an empty row as a first row, it will fails with error
![image](https://u

[2018-01-10 11:59] AlaaKhalaf94 commented on #4008
There is not problem on it

[2018-01-10 11:59] #4008 closed

[2018-01-10 15:25] Uafinder opened #4767 "Claims over time component settings cause 500 error"
![image](https://user-images.githubusercontent.com/1945230/34779794-e9bc5bb8-f629-11e7-8e43-7a7023298ed1.png)
[code]

1. Add component to the custom page
2. Push settings icon on it.
http://vladtest20f.admin.kademi-ci.co/pages/vladmoblixclone/version1/
http://vladtest20f.admin.kademi-ci.co/pages/vladmoblixclone/version1/?contenteditor=sales4.html

[2018-01-10 20:17] bradmac commented on #4765
hey @Uafinder thats ok, the status checking continues while there is a task to check. Thats what you're seeing in jenkins logs and the browser logs. The task isnt running (at least those logs dont indicate that it is running), but the front end continues to check the task status.

[2018-01-10 20:20] bradmac commented on #2608
@Uafinder that sounds correct to me. The new process is faster because it only samples rows, and then gives an estimate based on the sample

It will sample 1000 rows, so if you're uploading a file with 10k rows it will sample 1 in every 10 rows.

The "340" is an estimate, and if the real value is 344 then its a very good estimate.

I cant say anything about that because i dont know how many errors

[2018-01-10 20:29] bradmac commented on #4767
Cause is:
[code]

[2018-01-10 20:29] bradmac commented on #4767
So possibly a lib hasnt been installed. @ducdhm please check dependencies.

[2018-01-10 20:33] bradmac commented on #4764
I've uploaded locally and seeing this JS error when running the SCORM module
[code]

[2018-01-10 20:35] bradmac commented on #4764
I've uploaded locally and is working correctly:

![image](https://user-images.githubusercontent.com/826458/34794184-c248cac4-f6b2-11e7-84eb-127b62f54735.png)

[2018-01-10 20:36] bradmac commented on #4764
![image](https://user-images.githubusercontent.com/826458/34794202-d65efa10-f6b2-11e7-849f-7afcc64691b9.png)

[2018-01-10 20:37] bradmac commented on #4764
Looking at the swimart site, it appears the scorm module hasnt been added correctly, there is nothing showing:

![image](https://user-images.githubusercontent.com/826458/34794260-f886bb32-f6b2-11e7-8a0a-6509b3e0f540.png)

Although i can see files have been unzipped:
![image](https://user-images.githubusercontent.com/826458/34794281-05829ec8-f6b3-11e7-84a8-ab84ecedb284.png)

[2018-01-10 21:23] #3482 closed

[2018-01-10 22:17] bradmac commented on #4764
Problem was that the site was using an old theme

[2018-01-10 22:17] #4764 closed

[2018-01-11 03:00] bradmac commented on #4757
Working now:

![image](https://user-images.githubusercontent.com/826458/34806565-8a8800a6-f6e8-11e7-895d-b0bba4a6fa98.png)

[2018-01-11 03:02] bradmac commented on #4757
Thats using this component:
[code]

[2018-01-11 03:03] bradmac commented on #4757
This is using hardcoded settings:
[code]

@ducdhm can you please update assetQueryListSettings.html to allow selecting those properties for the asset type?

[2018-01-11 03:05] bradmac commented on #4715
@ducdhm please update manageQueryAsset.html to allow selecting either input?

![image](https://user-images.githubusercontent.com/826458/34806664-397879c4-f6e9-11e7-9d84-b0835d959037.png)

[2018-01-11 03:07] bradmac commented on #4727
Good enough for now

[2018-01-11 03:07] #4727 closed

[2018-01-11 06:57] Uafinder commented on #4765
ok, understood, thanks

[2018-01-11 06:57] #4765 closed

[2018-01-11 08:19] Uafinder commented on #2608
Yeah, just tuned file a  bit and was able to catch errors
![image](https://user-images.githubusercontent.com/1945230/34815109-d1a2b84e-f6b8-11e7-9c45-1621cb41db68.png)
So test passed

[2018-01-11 08:19] #2608 closed

[2018-01-11 09:43] ducdhm commented on #4709
@bradmac I do like this for uploading assets
[code]
But I got 404 error - NOT FOUND

[2018-01-11 09:57] mkhoudary opened #4768 "Create Bootstrap tabs Component"
We need a component that enables creating  bootstrap tabs:
![image](https://user-images.githubusercontent.com/3704174/34819407-51c64344-f6c6-11e7-8aa2-0f231e4afec2.png)

Allowing us to assign a hyperlink or function to each tab on click, and allowing tabs to be highlighted when page opens using MVEL or any other relevant method.

Our target is to be able to implement this view:
![image](https://us

[2018-01-11 09:57] mkhoudary commented on #4768
https://github.com/Kademi/client-sudler-phhub/issues/8
https://github.com/Kademi/client-sudler-phhub/issues/9

[2018-01-11 10:07] mkhoudary opened #4769 "Add "you are about to leave website" option to CKEditor links"
We need an option in the CKEditor links plugin to allow adding a confirmation message when the user clicks through..

Aim is to create something like this:
![image](https://user-images.githubusercontent.com/3704174/34819967-f2138b6c-f6c7-11e7-83a7-15ff5cd330fc.png)

[2018-01-11 10:09] mkhoudary commented on #4769
https://github.com/Kademi/client-sudler-phhub/issues/4

[2018-01-11 12:18] mkhoudary opened #4770 "Knowing asset file size and mime type"
We need a way to be able to know asset file size and mime type.. to be able to implement such feature:
![image](https://user-images.githubusercontent.com/3704174/34825197-30777348-f6da-11e7-82af-b9378007dba2.png)

[2018-01-11 12:21] mkhoudary commented on #4770
https://github.com/Kademi/client-sudler-phhub/issues/12

[2018-01-11 13:12] mkhoudary opened #4771 "Showing alerts outside of Dashboard"
We need to extend the dashboard alerts to be able to view on demand and filter based upon certain tags

[2018-01-11 13:16] mkhoudary commented on #4771
https://github.com/Kademi/client-sudler-phhub/issues/14

[2018-01-11 14:12] mrdadah commented on #4101
I've added show/hide cancel button option, to be used in phhub
https://github.com/Kademi/client-sudler-phhub/issues/4

[2018-01-11 17:00] ducdhm commented on #4763
Done!

[2018-01-11 17:11] ducdhm commented on #4744
Done!

[2018-01-11 20:33] bradmac commented on #4768
Urgh ... we've avoided tabs deliberately because it will be a hassle for visual editing.

A couple of options i can think of..
1. Enhance KEditor's support for containers so that instead of a container only being columns, it can also handle a tab structure. Best for content editing, but will be a bit of work
2. Have a tab component which just renders the tabs and acts as a navigation control with

[2018-01-11 20:33] bradmac commented on #4768
@ducdhm what are your thoughts?

[2018-01-11 20:36] bradmac commented on #4769
Rather then doing this on each link (which would be tricky from a content management perspective) we could make this an app which listens for click events. Any event for a page on a different domain name would consume the event and display the modal.

The OK button would then be made into an actual link to the other site.

[2018-01-11 20:36] bradmac commented on #4769
@ducdhm your thoughts?

[2018-01-11 20:42] bradmac commented on #4770
Asset has the mimetype in the format property.

I'll add the ability to get the file size.

[2018-01-11 20:50] bradmac commented on #4771
Also probably needed - https://github.com/Kademi/kademi-dev/issues/4458

[2018-01-11 21:15] bradmac commented on #4709
I'll look into that. But one thing i noticed is we're getting misalignment:

![image](https://user-images.githubusercontent.com/826458/34847844-8cc0cbd4-f781-11e7-8f0e-7e531ca1d4c4.png)

[2018-01-11 21:16] bradmac commented on #4709
I'm not seeing a 404 error, I'm seeing a NullPointerEx
[code]

[2018-01-11 21:16] tuzzmaniandevil opened #4772 "Libs breaking existing sites"
There was in error on Travel World where you couldn't edit an image inside the ckeditor/text component.

Nothing was changed to cause this. BUT Updating all the libs did fix the issue.

_**Current sites should never be effected by lib changes.**_

[code]

Here is the complete log file:
[www.travelworld.co.nz-1515705027402.log](https://github.com/Kademi/kademi-dev/files/1624137/www.travelworld.co.n

[2018-01-11 21:35] bradmac commented on #4709
Uploading works fine now, although the new image is not shown in the assets list:
![image](https://user-images.githubusercontent.com/826458/34848644-5a14a23e-f784-11e7-8d51-cd752ff7147b.png)

[2018-01-11 21:37] bradmac commented on #4709
@ducdhm here's a summary of changes we need:
- fix alignment of tabs header
- add asset to list after uploading, and select it in RHS
- we also need a search feature for assets, with text search and selecting by tag (eg asset types configured here http://localhost:8080/content/)

[2018-01-11 23:51] bradmac opened #4773 "Support dynamic media assets"
In situations where a page is being rendered for a content asset (eg displaying a page for a Pet) we will want to display images and videos (ie media) assets related to the content asset. Eg the thumb for the pet, or a funny video

This needs to be dynamic, ie it uses a property of the asset.

I've created a new component called dynamicMediaAsset, but I'm not sure that this is the right approach.

[2018-01-11 23:52] bradmac commented on #4773
@ducdhm what do you think? Should we integrate property selection into standard video and photo components? Or continue with using a seperate component? If using a seperate component we'll need to replicate the style settings, eg rounded corners etc.

[2018-01-11 23:54] bradmac commented on #4773
If integrating with the standard image/video components, we can consider using KCode fields, because these include asset type fields, and there might be fields on other objects useful for displaying media

[2018-01-12 00:19] bradmac opened #4774 "Support text assets"
- Ability to add text assets, which are basic media asset types, ie they dont have content fields
- The "text" can be plain text, html or html for email

[2018-01-12 01:28] bradmac commented on #4774
Done a simple implementation:
![image](https://user-images.githubusercontent.com/826458/34855499-e20a3896-f7a4-11e7-9e02-ac38a9e3bc01.png)

[2018-01-12 01:41] bradmac commented on #4774
Creating a new text asset, select plain text or html

![image](https://user-images.githubusercontent.com/826458/34855816-a1384b58-f7a6-11e7-8816-bff3dc228ad6.png)

[2018-01-12 01:41] bradmac commented on #4774
@ducdhm please integrate keditor for format=text/html

![image](https://user-images.githubusercontent.com/826458/34855831-ba8c2016-f7a6-11e7-9711-d546bbc53222.png)

[2018-01-12 01:42] bradmac commented on #4774
see manageTextAsset.html
[code]

[2018-01-12 02:04] bradmac commented on #4774
Added support for Web vs EDM html assets
![image](https://user-images.githubusercontent.com/826458/34856420-da08c0b8-f7a9-11e7-97bb-86527671bb73.png)

And checked that keditor components returns the appropriate handlers. Eg
http://localhost:8080/asset-manager/a034110e-f684-4d44-83b5-b7114571d926/_components?handlers

![image](https://user-images.githubusercontent.com/826458/34856435-f26c9a3a-f7a9-

[2018-01-12 02:33] ducdhm commented on #4769
@bradmac I think we can make it as an app. Whenever users click on external link, we'll show popup like this. To check external link, it's not hard. Just check link is not started with `/` (except `//`).

[2018-01-12 02:43] bradmac commented on #4715
Need to allow selecting a target content type

[2018-01-12 02:58] bradmac commented on #4769
:+1:

[2018-01-12 03:52] bradmac commented on #4757
Note that you can now get the target asset type from ajax:

![image](https://user-images.githubusercontent.com/826458/34859087-0626d860-f7b9-11e7-9006-6b7f2fbdef88.png)

[2018-01-12 03:56] ducdhm commented on #4715
New UI:
![newui](https://user-images.githubusercontent.com/1289631/34859188-3d356e20-f787-11e7-9d3b-3b21883678eb.png)

[2018-01-12 03:58] tuzzmaniandevil commented on #4715
:+1:

[2018-01-12 04:00] bradmac commented on #4757
And can now get asset types as json:
http://localhost:8080/content/pet/?asJson

![image](https://user-images.githubusercontent.com/826458/34859279-13af8fbc-f7ba-11e7-82d1-7c3a4c7ff489.png)

[2018-01-12 04:08] bradmac commented on #4715
Can now access content resources through front end

[2018-01-12 04:12] bradmac commented on #4715
OK, just need to add a component to display text assets from queries now.

[2018-01-12 07:44] ducdhm commented on #4757
Done!

[2018-01-12 14:11] Uafinder commented on #4763
![image](https://user-images.githubusercontent.com/1945230/34878455-e84f5e62-f7b2-11e7-910a-910371fb938e.png)
http://version1.vlad21clearn-vladtest21c.kademi-ci.co/page1.html

I've create a new fresh acc, fresh site
Add a custom page and add there a youtube component
Then View page and try to full screen
http://version1.vlad21clearn-vladtest21c.kademi-ci.co/page1.html
http://vladtest21c.admin.kade

[2018-01-12 14:15] Uafinder opened #4775 "Autoloader missed on rootorg"
![image](https://user-images.githubusercontent.com/1945230/34878630-78ef54a4-f7b3-11e7-871d-2caaccfb5145.png)
http://rootorg.admin.kademi-ci.co/

I can't find autoloader and not sure if autoloading works automatically.

[2018-01-12 15:17] ducdhm commented on #4763
@Uafinder you need to sync latest code to apply my changes. I have checked the code and it's old

[2018-01-14 05:32] paddyow opened #4776 "New Journey Email not firing"
Create a new journey here http://kademi.admin.kademi.us/funnels/channel-loyalty-campaign-followup/version1/#journeyBuilder-tab

It is triggered when a profile is added to this group Loyalty Email Campaign Followup

The first email when fired is blank http://kademi.admin.kademi.us/funnels/channel-loyalty-campaign-followup/version1/emailAction-15d10e/#summary-tab

Also you cannot test fire the email

[2018-01-14 07:30] paddyow commented on #4776
Note this applies to any new journey, here is another I created http://kademi.admin.kademi.us/funnels/agency-campaign-1/version1/emailAction-8ea87b/#message-tab

[2018-01-14 07:50] bradmac commented on #4776
FYI
[code]

[2018-01-14 20:51] bradmac commented on #4327
@Uafinder can you please confirm if this issue is still active in a new account? If so its high priority.

[2018-01-14 20:53] #2177 closed

[2018-01-14 20:55] bradmac commented on #3595
Attempt to open a lead page by editing the URL, and verify leads cannot be accessed outside their account

[2018-01-14 20:57] bradmac commented on #3725
This is probably just a CSS/style issue related to the height of the content.

@ducdhm please investigate

[2018-01-14 20:58] bradmac commented on #4166
hey @Uafinder can you please talk directly to Paddy for any information you need?

[2018-01-14 20:59] #4212 closed

[2018-01-14 21:00] bradmac commented on #4316
Thats fine for now

[2018-01-14 21:00] #4316 closed

[2018-01-14 21:01] bradmac commented on #4355
Stream has been rebuilt now

[2018-01-14 21:01] #4355 closed

[2018-01-14 21:01] bradmac commented on #4359
I think this has been fixed in a different issue

[2018-01-14 21:01] #4359 closed

[2018-01-14 21:02] bradmac commented on #4485
@ducdhm can you please investigate?

[2018-01-14 21:03] bradmac commented on #4626
I think we need to strip html tags from content in the stream boxes

[2018-01-14 21:06] bradmac opened #4777 "Entity selection fields for content types"
Create fields for selecting
- group
- profile
- organisation
- base entity (profile or org)

[2018-01-14 21:07] bradmac opened #4778 "Add content editor fields to asset library content types"
Allow choice of
- simple content field, plain html editor
- visual editing, keditor

[2018-01-14 21:26] bradmac commented on #4775
The problem was that there were organisations with a null parent, which makes them root orgs. But that is invalid, there should only ever be 1 rootorg.

I'm not sure how we ended up with multiple root orgs, but i've moved the others to be under the real rootorg.

[2018-01-14 22:15] Anton69arb opened #4779 "function component for KPI on-track target achiever"
Hey, what is the function of this, could you explain please, when making an on-track target achiever for  users with KPI's

http://version1.ant-kpi3_ant-kpi3.kademi-ci.co
http://version1.ant-kpi3_ant-kpi3.kademi-ci.co/index.html

![screenshot-version1 ant-kpi3_ant-kpi3 kademi-ci co-2018-01-15-11-10-16-368](https://user-images.githubusercontent.com/32444328/34921338-79a58330-f9e5-11e7-8cf5-d034b03b

[2018-01-14 22:41] bradmac commented on #4779
@ducdhm should that input be showing in the admin? It seems to be hidden in front end.

[2018-01-14 22:49] bradmac commented on #4777
Done. See the "owner" field in the pets example generated from AssetTypeServiceTest:

![image](https://user-images.githubusercontent.com/826458/34921624-19ec77fa-f9ea-11e7-9bdf-23f1457c3f09.png)

[2018-01-14 22:51] gonzalon commented on #4679
@Uafinder this is an example you can use to test...

I created a journey like this:

![image](https://user-images.githubusercontent.com/2773216/34921635-3ed8bc2c-f9ea-11e7-9d32-f481b381a068.png)

The expression for the "Start other journey":

![image](https://user-images.githubusercontent.com/2773216/34921643-4e62ceda-f9ea-11e7-80b6-01b3c4dc01e1.png)

And then you can check that the other journey

[2018-01-14 23:03] bradmac opened #4780 "Group selection field"
Related - https://github.com/Kademi/kademi-dev/issues/4743

[2018-01-14 23:05] bradmac commented on #4777
@ducdhm can you please add a modal to create this type of field?

![image](https://user-images.githubusercontent.com/826458/34921860-68338b0e-f9ec-11e7-8138-d22b296f55eb.png)

[2018-01-14 23:25] gonzalon commented on #4776
@Uafinder this error was caused by the change I made to select the leads, here it was empty and failing because of that.
Now if you just use the "Test" button it would "create" a mock lead so it wont fail if we are using the lead in a expression for the email...

[2018-01-15 00:23] paddyow commented on #4776
Looks good to me

[2018-01-15 01:10] bradmac commented on #4780
Done allow multiple:

Example:
[code]

![image](https://user-images.githubusercontent.com/826458/34923139-e29a1b7c-f9fd-11e7-9ff9-d0da4b81d4e0.png)

[2018-01-15 01:16] bradmac commented on #4780
Also supports single value:

![image](https://user-images.githubusercontent.com/826458/34923197-a3ae5242-f9fe-11e7-8c2f-15b9a3b08185.png)

[2018-01-15 01:19] bradmac commented on #4743
@ducdhm there is an ajax service to remove fields now. Send a param called "toDelete" with the names of the fields to remove, suitable for use with checkboxes

[2018-01-15 01:23] bradmac commented on #4743
And I've added similar services for views (toDeleteViews) and permissions (toDeletePermissions)

[2018-01-15 01:36] bradmac commented on #4778
Actually, i think the best way to do this is to use a relation field to a text asset. The relation field will be extended to allow creation and editing of the related item

[2018-01-15 01:36] bradmac commented on #4778
So closing as duplicate of this - https://github.com/Kademi/kademi-dev/issues/4774

[2018-01-15 01:43] bradmac opened #4781 "Relation field types to allow creation and editing in place"
Should be dependent on the type of field

Eg if the relation field is defined for an image, then it should allow uploading an image. Similar for video.

If its to a content type, then the field should allow creating an instance of the content type and linking to it

For a text asset, it should provide an editor in a modal (similar for editing calendar events)

[2018-01-15 02:30] gonzalon commented on #3595
can't see the leads on the list or accessing to it by URL.

[2018-01-15 02:30] #3595 closed

[2018-01-15 03:00] bradmac opened #4782 "Enhance category management tool"
- default view is to show full hierarchy with nested sub-categories
- add a search button, which will show results in a tabular (non-hierarchial) view, but will show the complete hierarchial path to each item

[2018-01-15 03:33] bradmac opened #4783 "Update asset manager mtree view"
Related - https://github.com/Kademi/kademi-dev/issues/4709#issuecomment-357069151
Also, i think viewing items using the tree format (ie with connecting lines) isnt appropriate for the asset library. This is a flat list rather then a tree structure. So it would be best to dislpay as a table with columns - Name, Size (eg 35k), Created Date, Tags. I think we can increase the width of the LHS column,

[2018-01-15 03:35] ducdhm commented on #4743
Done!

[2018-01-15 04:09] bradmac commented on #4650
So we need to have 2 category selection inputs, and each one needs to allow searching and selecting multiple items

The 2 inputs will be for included and excluded categories.

[2018-01-15 04:13] ducdhm commented on #4709
Done!

[2018-01-15 04:29] ducdhm commented on #4768
@bradmac I think we can introduce container type. Instead of having only `container` as type of container. We can introduce more types of container same as component. Such as `container-grid`, `container-tab`, etc...

[2018-01-15 04:29] ducdhm commented on #4774
@bradmac I got error when saving on this page

[code]

[2018-01-15 04:36] bradmac commented on #4768
:+1:

[2018-01-15 04:41] bradmac commented on #4774
Fixed, after a clean or drop the text column

[2018-01-15 04:48] bradmac commented on #4781
I've moved the HTML into template files templates/apps/content/asset-fields/groupField.html and relationFieldInput.html

[2018-01-15 05:54] ducdhm commented on #4774
Done!

[2018-01-15 09:34] Uafinder commented on #4775
Yup, looks ok

[2018-01-15 09:34] #4775 closed

[2018-01-15 10:37] Uafinder commented on #4763
Yup looks fine at the moment...
I've tested in a fresh account, so no idea why code was old

[2018-01-15 10:37] #4763 closed

[2018-01-15 10:41] Uafinder commented on #4687
Yup, looks better

[2018-01-15 10:41] #4687 closed

[2018-01-15 10:45] Uafinder opened #4784 "Youtube component - error while pressing Cancel on video choose"
![image](https://user-images.githubusercontent.com/1945230/34938667-e44df5a8-f9f1-11e7-98e3-852575afd1fc.png)
![image](https://user-images.githubusercontent.com/1945230/34938632-bec1e844-f9f1-11e7-8304-581b1b9fac53.png)
1. Add a container and a component
2. Press edit component
3. Press change video
4. Press cancel on video choose
5. Error in console appears
https://vladtest22.admin.kademi-ci.co/p

[2018-01-15 10:49] Uafinder commented on #4645
Yeah, looks much better at the moment

[2018-01-15 10:49] #4645 closed

[2018-01-15 11:02] Uafinder commented on #4327
![image](https://user-images.githubusercontent.com/1945230/34939330-136d08e0-f9f4-11e7-8c7a-25cc7ed40c29.png)
![image](https://user-images.githubusercontent.com/1945230/34939351-1dc7b524-f9f4-11e7-882c-ddc19cd443cb.png)

I've create a site, and a page with comments only. Enable forums app and tracking app.
Then I go to separate browsers and leave a comment in one browser and it's not appear in sec

[2018-01-15 11:05] Uafinder commented on #4641
Yup, looks good at the moment

[2018-01-15 11:05] #4641 closed

[2018-01-15 11:45] Uafinder opened #4785 "Email journey node send emails from future (+12 hrs from now)"
1. Create a journey
2. add begin and send email nodes
3. Edit email send node, enter some data, send test
4. So to email history, if there will be default 7 day timerange you should not see those email sent, you should change timerange into future a bit (to see tomorrow time) and then you will see those email.
![image](https://user-images.githubusercontent.com/1945230/34940945-442c8c3e-f9fa-11e7-9

[2018-01-15 11:46] Uafinder opened #4786 "Notify checkbox on comments block have no influence to send notification"
1. Create a website, install forums there, create a page...
2. Go to page, login as some user, leave a comment and don't select Notify checkbox.
3. Open different browser, leave a comment
4. Open emails history and watch that notify about comment has fired.
https://vladtest22.admin.kademi-ci.co/emails/?q=&status=&job=

[2018-01-15 11:52] Uafinder commented on #4776
I've an active lead, but I can't select it in email test template...
![image](https://user-images.githubusercontent.com/1945230/34941180-53ded3ac-f9fb-11e7-843b-943da4db5fb0.png)
https://vladtest22.admin.kademi-ci.co/funnels/journey1/version1/emailAction-c9038c/#summary-tab

[2018-01-15 12:32] Uafinder commented on #4679
Yup, it works!

[2018-01-15 12:32] #4679 closed

[2018-01-15 12:40] Uafinder opened #4787 "Start other journey node thoughts"
1. Initial goal option will not accept text like "begin". You should enter something like "begin-a2241d" to capture start node. Also would be great to have a validation on node search.
2. When you enter invalid initial goal option (for example: "Begin1") it set Next goal to Begin1 (not found) with a link leading to error (this link should be removed).
![image](https://user-images.githubusercontent

[2018-01-15 13:04] Uafinder opened #4788 "journey title bad on creation"
I've two journeys
![image](https://user-images.githubusercontent.com/1945230/34943655-30c58852-fa05-11e7-904e-498253a99d8e.png)
When I try to create a lead it's title looks bad
![image](https://user-images.githubusercontent.com/1945230/34943681-4d6577ba-fa05-11e7-9291-0bd98b326431.png)
![image](https://user-images.githubusercontent.com/1945230/34943688-55e03b14-fa05-11e7-8391-3817a10f6b26.png)
htt

[2018-01-15 13:35] Uafinder commented on #4741
I've in-publish it several times, but after server reboot it appears again :(

[2018-01-15 14:23] Uafinder opened #4789 "Level progress panel component bugs"
1. Bug in circle viewing in editor
![image](https://user-images.githubusercontent.com/1945230/34946343-2ab95498-fa0f-11e7-94fa-33c63aa1fc07.png)
- add component
- edit it, assign some topic to it
- save
- close tab
- then open page for edit again
- check that circle will replaced by numeric value

it also happens on adding component

2. When you change a container layout from auto to box for examp

[2018-01-15 14:29] Uafinder opened #4790 "Achievements tab shows no achieved levels"
![image](https://user-images.githubusercontent.com/1945230/34947778-d84475f8-fa13-11e7-8b0a-d5cb5c19089d.png)
![image](https://user-images.githubusercontent.com/1945230/34946873-2ae82960-fa11-11e7-93cc-d1faf6b50f65.png)
https://vladtest22.admin.kademi-ci.co/manageUsers/4293702/#krecognition-achievements-tab
I've achievements for a user, but they are not appear in user profile.

[2018-01-15 15:00] Uafinder opened #4791 "When badge node contains no badge inside it blocks journey work (NPE)"
Should be a validation, which will not allow to save node without selected badge. Or it could be NPE check on journey execution.
![image](https://user-images.githubusercontent.com/1945230/34948343-81f8d75a-fa15-11e7-9dca-97dfb7195fd0.png)
![image](https://user-images.githubusercontent.com/1945230/34948373-94011af2-fa15-11e7-87e3-267f4a63ae34.png)
https://vladtest22.admin.kademi-ci.co/funnels/journ

[2018-01-15 15:05] Uafinder commented on #4166
There is no padding between badges rows
![image](https://user-images.githubusercontent.com/1945230/34948544-2857f900-fa16-11e7-85ed-7923f5a27cd3.png)
Should be comfortable
http://version1.vlad22sales-vladtest22.kademi-ci.co/page2.html
https://vladtest22.admin.kademi-ci.co

[2018-01-15 15:20] Uafinder commented on #4744
need more info pls

[2018-01-15 15:27] Uafinder opened #4792 "KPI review page questions"
1. Date selector... there are appears 2015, 2016 years, and no possibility to change to 2017 for example. What it for?
2. Pop-up bad for date
![image](https://user-images.githubusercontent.com/1945230/34949406-b41c0c0e-fa18-11e7-89c1-a475bf55de2c.png)

3. When you select another year it cause terrible visual bug...
![image](https://user-images.githubusercontent.com/1945230/34949442-c88dcf10-fa18-1

[2018-01-15 15:29] Uafinder opened #4793 "Leaderboard KPI order weird"
![image](https://user-images.githubusercontent.com/1945230/34949580-28e5dd30-fa19-11e7-9881-9d8974155f19.png)
https://vladtest22.admin.kademi-ci.co/sales/salesqa01title/kpis/kpiqa01/#general-tab
Should be as marked on the screenshot. OR I missed somewhere?

[2018-01-15 17:25] ducdhm commented on #4781
@bradmac I add extra relationFields for text and binary as following:

[code]

but it throws error like
```Error: Error invoking method 'get(java.lang.Integer)' in java.util.ArrayList at rootorg.admin.loopbackdns.com:/theme/apps/content/asset-fields/relationFieldInput.html[line 9, column 33]```

Code line 9 is

[code]

[2018-01-15 17:31] ducdhm commented on #4772
@Uafinder Can you check in old accounts in QA and edit/add module page with KEditor in modal (your website should be k-theme). If some of them throw error same like it. Please let me know.

[2018-01-15 18:26] bradmac commented on #4741
@tuzzmaniandevil please check out why it keeps coming back

[2018-01-15 18:39] bradmac commented on #4774
hey @ducdhm ok so we need to either have a preview of the content in the page, or have keditor working inline rather then in a modal.

Please let me know which you prefer, and if you need a hand from me

[2018-01-15 18:42] bradmac commented on #4781
@ducdhm I dont like this UI, i think we need something nicer:

![image](https://user-images.githubusercontent.com/826458/34956999-85fca996-fa90-11e7-9846-61a9a729cd09.png)

I was thinking we would have one line, something like a button group, with an upload button to upload a new item

[2018-01-15 18:52] bradmac commented on #4781
@ducdhm regarding that error, just needed this
[code]

[2018-01-15 20:20] Anton69arb commented on #4744
so basically they need to add tags to there images,

[2018-01-15 20:37] gonzalon commented on #4776
@Uafinder the lead is related to the target profile. if you enter the target email it would show the leads for that user.
Ex:
![image](https://user-images.githubusercontent.com/2773216/34960722-ea0281a8-faa0-11e7-82ab-8b18b7a87ac1.png)

[2018-01-15 22:23] bradmac commented on #4781
Here's what i've come up with:
![image](https://user-images.githubusercontent.com/826458/34963893-b9ef1102-faaf-11e7-97ae-6316daf0e4db.png)

[2018-01-15 22:28] bradmac commented on #4781
Clicking the edit icon shows the related asset in a modal:

![image](https://user-images.githubusercontent.com/826458/34964030-4eaf0c3e-fab0-11e7-91d9-c868533a28f3.png)

[2018-01-16 02:13] bradmac commented on #4774
Actually, now we have related assets being displayed in a modal for relation fields, i think it makes sense to display the editor inline

[2018-01-16 02:14] anhnt opened #4794 "API function to load all comments of specific user on any resource"
https://github.com/Kademi/client-vaya/issues/255

[2018-01-16 02:21] bradmac commented on #4777
Done

[2018-01-16 02:21] #4777 closed

[2018-01-16 02:25] bradmac commented on #4781
@ducdhm can you please apply the same approach to other asset types

[2018-01-16 02:45] bradmac commented on #4781
![image](https://user-images.githubusercontent.com/826458/34969575-4a72b584-fad4-11e7-9474-833cba8a45aa.png)

We're now displaying modals to create and edit related assets

[2018-01-16 02:46] gonzalon commented on #4788
New lead, now it would show the title or the name if the title wasn't setup.

![image](https://user-images.githubusercontent.com/2773216/34968518-9679ea52-face-11e7-8e68-59f88aed6a78.png)

![image](https://user-images.githubusercontent.com/2773216/34969578-4e83e77e-fad4-11e7-976e-688686291633.png)

[2018-01-16 02:49] bradmac commented on #4781
@ducdhm please ensure the creation modals all correctly update the input value

Note that new asset responses now include a assetUniqueName property to identify the new resource.

[2018-01-16 02:59] tuzzmaniandevil commented on #4650
Changed the search syntax to be similar to GitHub allowing you to include and exclude terms and fields.
Example to search for apples excluding the Electronics (name: elec) category:
`apples -category:elec` or `apples -categoryTitle:Electronics`
Or to search for anything in the "Food Supply" category and the "Food" categories:
`category:food-supply category:food` or `categoryTitle:"Food Supply cate

[2018-01-16 02:59] ducdhm commented on #4774
Done!

[2018-01-16 03:16] tuzzmaniandevil commented on #4650
This is what the current page looks like:
![image](https://user-images.githubusercontent.com/3378330/34970277-65337b02-fad8-11e7-8518-81762ba4bd0c.png)

We want it to have a similar UI to GitHub with the dropdown boxes like this:
![image](https://user-images.githubusercontent.com/3378330/34970249-20da6fce-fad8-11e7-876c-cd5c0107fde5.png)

The fields we want are:
- include category - Be able to sel

[2018-01-16 03:22] bradmac commented on #4774
Looking good! A couple of things:
- ajax handling of forms needs to be hooked up, but also needs to work in modals
- text inputs should be full width, so lets move the comments section down underneath the main content area

[2018-01-16 04:33] bradmac commented on #4781
@ducdhm can you make sure that for multi-value relation fields, there is always a blank field for the user to add a new item? So if they select an item with the last field we should add a new blank one.

![image](https://user-images.githubusercontent.com/826458/34971987-67e0d3c6-fae3-11e7-9782-31316386c281.png)

[2018-01-16 06:36] ducdhm commented on #4781
Done!

[2018-01-16 07:38] paddyow opened #4795 "Profile creation on new accounts"
1) Create a new Kademi account on AU
2) Go to manage users and manually add a new profile in the admin group
3) Click create and view

The process hangs for about 30 seconds before the model closes and the profile opens.

4) Go to users page and note no profiles show

![image](https://user-images.githubusercontent.com/2201340/34976820-5c2a7ec0-faec-11e7-9af4-b4080bc2cabb.png)

Fix: reindex profile

[2018-01-16 08:04] Uafinder commented on #4776
Yup, looks good... missed that thing

[2018-01-16 08:04] #4776 closed

[2018-01-16 08:14] Uafinder commented on #4788
YUp, fine in that places...
but remains here: when push create new lead in the frontend
![image](https://user-images.githubusercontent.com/1945230/34978164-fe141cb0-faa5-11e7-9326-c7db4f56c8ee.png)
http://vlad22leads_vladtest22.kademi-ci.co/dashboard
https://vladtest22.admin.kademi-ci.co/

[2018-01-16 09:00] Uafinder opened #4796 "Module page edit as HTML error"
When you create a page in module and then try to open it with HTML editor, it fails to load with error:
![image](https://user-images.githubusercontent.com/1945230/34980206-6f48326c-faac-11e7-9905-6c26ef78c114.png)
http://vladtest22.admin.kademi-ci.co/websites/vlad22learn/version1/programs/p1/c1/m1/#files-tab

[2018-01-16 09:53] Uafinder opened #4797 "Managing license process complicated"
So,
1. So to subscriptions
2. Find there a necessary org (account)
3. Open it
4. Verify that license is expired
5. Push add license
6. Enter date time
7. Save
8. Refresh the license information in the site button
9. It transfer you to account where license was managed
10. You push manage subscription (or you shouldn't?)
11. But still will redirect you to license page when you try to access other p

[2018-01-16 10:12] Uafinder commented on #4772
Yup, found a problem:
Old account without admin-lib..
![image](https://user-images.githubusercontent.com/1945230/34983514-712d0ad0-fab6-11e7-9b72-63153cbad583.png)
http://vlad-test10.admin.kademi-ci.co/websites/vlad10-learn/version1/programs/Prog1/Course1/Module1/#files-tab

[2018-01-16 12:30] Uafinder opened #4798 "error while trying to setup Google Maps component (keditor)"
![image](https://user-images.githubusercontent.com/1945230/34989063-b3e924ea-fac9-11e7-95c2-43d6d4486ae4.png)
http://vladtest22.admin.kademi-ci.co/pages/vlad22learn/version1/
1. Create a page
2. Add googleMaps component
3. Click edit on the component

[2018-01-16 12:35] Uafinder opened #4799 "Error while uploading an audio file to keditor"
![image](https://user-images.githubusercontent.com/1945230/34989213-5360be5c-faca-11e7-9ed0-e8ae4b5c4b09.png)
http://vladtest22.admin.kademi-ci.co/pages/vlad22learn/version1/
1. Create a page
2. Add audio component
3. Press edit
4. Upload audio
5. Select it and press ok.
6. Watch an error in console

[2018-01-16 20:04] bradmac commented on #4796
Thats using the wrong editor, its the old classic editor

[2018-01-16 20:06] bradmac commented on #4796
But looks ok to me currently:

![image](https://user-images.githubusercontent.com/826458/35009799-a1d1f038-fb65-11e7-8f96-3560b461e42f.png)

[2018-01-16 20:07] bradmac commented on #4797
After pushing that button the client account should be re-enable immediately.

[2018-01-16 20:08] bradmac commented on #4797
@gonzalon please see if you can reproduce the problem Vlad saw above. Use an existing expired account in CI to test with.

[2018-01-16 21:34] tuzzmaniandevil opened #4800 "Error with Image uploader in KEditor"
When trying to use the image uploader, In the component and CKEditor we get this error:

This is effecting Travel World: http://www.travelworld.co.nz/ourDeals/oceania-cruises/contenteditor?useHash=true
[code]

[2018-01-16 21:48] bradmac commented on #4800
This is probably from updating libs to the new mtree, which probably requires an updated version of jstree

[2018-01-16 22:47] tuzzmaniandevil commented on #4794
You can access the API from the forums app e.g.
`$applications.forums.getUserComments(user)` or `$applications.forums.userComments` to get comments for the logged in user

[2018-01-16 22:48] tuzzmaniandevil commented on #4800
Published the mtree-lib and installed it in Travel World which corrected the issue

[2018-01-16 22:48] #4800 closed

[2018-01-16 23:46] tuzzmaniandevil commented on #4793
Added sorting

[2018-01-17 01:57] gonzalon commented on #4797
Fixed, now it'd invalid the cache and after you do the "Refresh the license" you can access any page without waiting the 5min

[2018-01-17 02:16] #4769 closed

[2018-01-17 02:21] gonzalon commented on #4788
Fixed in leadman 1.7.8

![image](https://user-images.githubusercontent.com/2773216/35022285-fe8a4404-fb99-11e7-8a8f-cdd223243225.png)

[2018-01-17 03:26] gonzalon commented on #4432
@Uafinder  Could reproduce it, and found what was happening. The problem was that we had deleted products with the same internal id. Now it's validating if the ID is from a deleted product, it would give you a validation error as "invalid id", also is checking that you can update the product checking the org ids.

[2018-01-17 04:23] gonzalon commented on #3922
Fixed.

[2018-01-17 04:36] bradmac commented on #4757
Now have the ability to select a field (usually a derived field) to populate each item in the list from a template defined on the content type.

Eg:
Here is the editor:
![image](https://user-images.githubusercontent.com/826458/35025889-ce7a9f62-fbac-11e7-8fdb-60c2111d3605.png)

Here is the derived field:
![image](https://user-images.githubusercontent.com/826458/35025903-e31a9ef4-fbac-11e7-8de5-df3

[2018-01-17 07:23] Uafinder commented on #4796
If so, link to the old HTML editor should be removed
![image](https://user-images.githubusercontent.com/1945230/35030580-20173e88-fb68-11e7-8cb9-fc31ff2ab5e4.png)

[2018-01-17 09:03] AlaaKhalaf94 commented on #4793
passed

[2018-01-17 09:03] #4793 closed

[2018-01-17 09:41] ducdhm commented on #4650
@bradmac

 * `manageAddProducts.html` file, line `54`, please help me to show only 10-20 categories.
 * `manageAddProducts.js` file:
    * Line 120: Change url `/` to real request
    * Line 138: Add data result from server to `categories` variable

[2018-01-17 10:42] AlaaKhalaf94 commented on #4788
This is fine
But I see another place with the same bug , in "Quick Lead" menu
http://vlad22leads_vladtest22.kademi-ci.co/
https://vladtest22.admin.kademi-ci.co/

![capture1](https://user-images.githubusercontent.com/26510030/35038550-d30c4946-fb83-11e7-85b7-0e015730851d.PNG)

[2018-01-17 16:11] Uafinder opened #4801 "text editor - table split cells vertically and horizontally are mixed places"
1. Create a page
2. Add a text component there
3. Add a table to the text
4. Try to merge and split cells
5. When you push "split horizontally" it do it vertically and vice versa.
![image](https://user-images.githubusercontent.com/1945230/35053053-cbe4d2cc-fbb1-11e7-9041-3ff003c45cca.png)
spotted on prod itinsured
http://insured.admin.kademi.com.au/pages/insured/iti16012018/customquotes/

[2018-01-17 16:22] ducdhm commented on #4588
@Uafinder Can you re-check again? I followed your step-by-step and it's working normally with me.

http://duc-test-2.admin.kademi-ci.co/pages/duc-test-2/version1/

[2018-01-17 18:49] bradmac commented on #4796
It needs to be retained because we still have legacy clients on the old style theme. It will be removed once they've all been upgraded.

But users are expected to simply click the "Edit" button which should open the correct editor.

[2018-01-17 18:53] bradmac commented on #4801
"split horizontally" means to create a horizontal split, ie to create 2 cells one over the other

![image](https://user-images.githubusercontent.com/826458/35060970-aeaff984-fc24-11e7-9559-1a41327077d2.png)

So i think this is correct

[2018-01-17 18:53] #4801 closed

[2018-01-17 20:28] bradmac commented on #4650
hey @ducdhm a couple of probs:
1. initially when nothing has been selected, when i do a search the "currently selected" section shows all categories
![image](https://user-images.githubusercontent.com/826458/35065289-b1204d06-fc31-11e7-8c2a-3568c5b43fa5.png)
2. When i select a category is should be added to the search text box, but currently it isnt
![image](https://user-images.githubusercontent.co

[2018-01-17 20:31] bradmac commented on #4650
- unticking a category must remove it from the search query box

[2018-01-17 21:04] bradmac commented on #4650
I've added a new term called "combine" which allows terms to be combined with AND or OR

Eg: this will display products in either category
[code]

[2018-01-17 21:21] bradmac commented on #4650
Also, I've noticed that when selecting a category there is often a space added between the request parameter and the value, which makes the url invalid:

See after the q=

![image](https://user-images.githubusercontent.com/826458/35067605-53cf8a24-fc39-11e7-800d-2004acc61a2d.png)

[2018-01-17 21:24] gonzalon commented on #4788
Hopefully we are not missing any other one :P

![image](https://user-images.githubusercontent.com/2773216/35067730-b57fdf62-fc39-11e7-9281-47399d2ad7b3.png)

[2018-01-17 21:49] tuzzmaniandevil commented on #4741
"SalesDataClaimer" was still in kademi-dev

[2018-01-17 22:06] gonzalon commented on #3790
@ducdhm added a escape for html entities now I can see it fine:

![image](https://user-images.githubusercontent.com/2773216/35069572-6ec26f12-fc3f-11e7-9bac-01a2acdc9f29.png)

I checked around and couldn't find another place isn't showing it fine, let me know if you find any!

[2018-01-17 22:21] bradmac opened #4802 "Ability to hide categories in reward store"
- add a hidden flag to category
- update reward store components so that hidden categories are never displayed

[2018-01-17 23:02] Anton69arb opened #4803 "Cant open folders and add images, from using the photo block component"
Hey, please would you be able to take a look and fix.
Cant open folders and add images, from using the photo block component.

![cant open folders and add images in a photo block component](https://user-images.githubusercontent.com/32444328/35071909-57463fd2-fc47-11e7-96f0-befb918aa80c.png)

http://kademi.admin.kademi.us/pages/kademi-dev/v7/getting-started/editing-content/
http://docs.kademi.co/ge

[2018-01-17 23:28] tuzzmaniandevil commented on #4791
Added UI Validation and a null check in the back end

[2018-01-18 01:13] bradmac commented on #4709
Hi @ducdhm we need the asset library to only display appropriate types of assets.

Eg if inserting an image, only show images
![image](https://user-images.githubusercontent.com/826458/35075714-96c761ba-fc59-11e7-9f97-d56060295499.png)

![image](https://user-images.githubusercontent.com/826458/35075744-ba49650c-fc59-11e7-8d50-8d10ab9309f7.png)

[2018-01-18 01:18] bradmac commented on #4709
Also, I've noticed that when selecting an image from the asset library and then clicking OK, it doesnt update the image in the content:
![image](https://user-images.githubusercontent.com/826458/35075864-60318bb6-fc5a-11e7-9455-e8eaef9077a8.png)

[2018-01-18 01:18] bradmac commented on #4709
So 2 issues
- ensure correct filtering when displaying asset library
- the image in the edited page is not updated when an image is selected from the asset library

[2018-01-18 01:19] bradmac commented on #4773
OK, so i think the best way to handle this is to update the existing image and video components to support selecting KCode fields.

That all the current styles and options remain available.

[2018-01-18 02:12] gonzalon commented on #4752
@Uafinder talked with Brad about disabling it and said it's not necessary in the admin.
Now you should be able to delete any claim without problems.

[2018-01-18 02:17] gonzalon commented on #4754
Should be ok now! Time ATM: 15:17

![image](https://user-images.githubusercontent.com/2773216/35077499-92ffa0ac-fc62-11e7-8ba7-a2d68bfbc510.png)

![image](https://user-images.githubusercontent.com/2773216/35077504-a09a9e56-fc62-11e7-81a7-1d752c32523e.png)

[2018-01-18 02:21] gonzalon commented on #4802
Category with products:

![image](https://user-images.githubusercontent.com/2773216/35077627-2e2f2f34-fc63-11e7-96a9-884f23bceea5.png)

Hidden checkbox:
![image](https://user-images.githubusercontent.com/2773216/35077617-267ff96c-fc63-11e7-8fe8-244c69dd8ce7.png)

Reward store menu:
![image](https://user-images.githubusercontent.com/2773216/35077658-43b760ec-fc63-11e7-84d5-7c3f009598eb.png)

[2018-01-18 02:51] paddyow opened #4804 "Journey email node / history not showing"
http://kademi.admin.kademi.us/funnels/agency-campaign-1/version1/emailAction-8ea87b/#history-tab

1) Not showing any email history.  A list of 100 was sent out today.

2) Add extra field to show conversation status i.e. email was sent, opened or converted.
Like this page http://kademi.admin.kademi.us/manageUsers/17712683/#emailAppTab-tab

3) Add export to CSV

![image](https://user-images.githubus

[2018-01-18 02:52] tuzzmaniandevil commented on #4786
Fixed

[2018-01-18 02:55] tuzzmaniandevil commented on #4590
Should work better now

[2018-01-18 03:02] paddyow opened #4805 "Email history CSV not showing all statuses"
http://kademi.admin.kademi.us/emails/?q=&status=&job=

When you export to CSV, the status field shows Complete or Failed only.  It should also show the additional status of  Opened and Converted.

The UI also needs updating
![image](https://user-images.githubusercontent.com/2201340/35079115-a88c4f6e-fc59-11e7-9c53-4333ff95c252.png)

Complete/Failed > Opened > Converted

[2018-01-18 03:09] ducdhm commented on #4773
As discussed:
 * Removing static photo and video component
 * Add dynamic photo and video component in contentApp with KCode support

[2018-01-18 04:31] gonzalon commented on #4802
Update also going to change it so it only shows the categories that has products in that reward store.

[2018-01-18 04:40] gonzalon commented on #4805
@AlaaKhalaf94  Please take in mind that if you test with an old account you are going to need to re index the emailItems.!

[2018-01-18 05:50] ducdhm commented on #4709
Done!

[2018-01-18 05:51] ducdhm commented on #4458
@Uafinder Now, instead of Files tab, you should use Asset tab for upload image for Dashboard alert.

[2018-01-18 06:01] ducdhm commented on #4803
Fixed!

[2018-01-18 07:30] AlaaKhalaf94 commented on #4788
Passed

[2018-01-18 07:30] #4788 closed

[2018-01-18 10:46] AlaaKhalaf94 commented on #4805
passed

[2018-01-18 10:46] #4805 closed

[2018-01-18 10:47] paddyow opened #4806 "Losing next timer goal at email decision node in journey"
Emails were sent out via this journey:
http://kademi.admin.kademi.us/funnels/channel-loyalty-campaign/version1/

At the first email result goal, some profiles are not progressing and no longer have a current goal:
![image](https://user-images.githubusercontent.com/2201340/35094096-6cc46a54-fc98-11e7-97a9-516665583441.png)

Example of profiles I have found from a quick review that have no timer goa

[2018-01-18 11:35] Uafinder commented on #4588
Fresh account
![image](https://user-images.githubusercontent.com/1945230/35096207-0051980e-fc54-11e7-84de-d69e65b25074.png)

Steps to reproduce,
1. Create fresh account
2. Create admin
3. Create a website
4. update libs (content-lib wants to be updated)
5. Enable reports app for site
6. Create a page
7. Open page for edit
http://vladtest23.admin.kademi-ci.co/pages/vlad23repo/version1/

[2018-01-18 11:44] Uafinder commented on #4741
Thanks, looks fine now

[2018-01-18 11:44] #4741 closed

[2018-01-18 13:25] Uafinder commented on #4797
Working like a charm...!

[2018-01-18 13:25] #4797 closed

[2018-01-18 13:35] AlaaKhalaf94 commented on #4752
passed

[2018-01-18 13:35] #4752 closed

[2018-01-18 13:38] Uafinder commented on #4432
Yup, looks good at the moment

[2018-01-18 13:38] #4432 closed

[2018-01-18 14:15] Uafinder commented on #4458
Hey,
I've install KAlerts app, create new alert, save it, and try to upload an image to Asset tab...
![image](https://user-images.githubusercontent.com/1945230/35102107-97a29ed6-fc6a-11e7-9e0d-e29e1719dc25.png)
Image doesn't appear and error in console appears.
http://vladtest23.admin.kademi-ci.co/manageAlerts/alert-4414234#bodyCopy-tab

[2018-01-18 14:19] AlaaKhalaf94 commented on #4754
Hi @gonzalon , I see the problem still appear
I create clime with 18/01/2018 0:00 Purchase date

![capture1](https://user-images.githubusercontent.com/26510030/35102217-e39cadc2-fc6a-11e7-9b2f-228b11d21755.PNG)

and it appear on admin with 17\01\2018 13:00

![capture2](https://user-images.githubusercontent.com/26510030/35102305-36a717dc-fc6b-11e7-8f03-e2eed1d1d057.PNG)

http://mysolution.admin.kad

[2018-01-18 14:22] Uafinder opened #4807 "Asset manager links doubling"
![image](https://user-images.githubusercontent.com/1945230/35102466-b4ebfe8c-fc6b-11e7-9e66-7ab73c74325d.png)
http://vladtest23.admin.kademi-ci.co
![image](https://user-images.githubusercontent.com/1945230/35102486-c0acfda2-fc6b-11e7-8192-aedd404b1aee.png)

[2018-01-18 14:46] ducdhm commented on #4458
@bradmac I have checked. After I upload to `/assets/_DAV/PUT?overwrite=true`. I'll get response like

[code]

But when I access `/assets/4e6809ec-f17e-4437-be56-64a94982265b`, I got error page.

[2018-01-18 15:06] Uafinder commented on #4804
![image](https://user-images.githubusercontent.com/1945230/35104531-bee72816-fc71-11e7-955d-377e0e66765f.png)
Bugs on the image

Also, when you bring mouse cursor to the email row, it change form link it could be clickable, but it doesn't.
http://vladtest23.admin.kademi-ci.co/funnels/first-journey/version1/email1/#history-tab

[2018-01-18 15:06] ducdhm commented on #4458
And it's working normally in locally.

[2018-01-18 15:21] Uafinder opened #4808 "bulk email sending via journey node history trouble"
So, we have a simple journey which constains only begin and send email
Send email has only From setting, site, and subject, some content inside
Begin node has initial checkbox.
So, after instant lead creation it will receive email.
Then we take a file with 104 leads inside, and import it to the journey.
Import finish with success, but when we go to email history tab, there we will see only a few e

[2018-01-18 16:13] Uafinder commented on #4588
1. rootorg, create account from there
2. then create a user with admin rights for this account
3. logout and login as that user
4. create a website
5. go to ./manageApps/#installed-tab and update content-lib
6. go to ./websites/vlad23arepo/version1/#panel_apps-tab and enable reports
7. go to pages
8. create a page
9. edit it

[2018-01-18 20:56] tuzzmaniandevil commented on #4804
Fixed

[2018-01-18 21:14] tuzzmaniandevil opened #4809 "Contact Us Form Component: Option to redirect to another page on success"
Feature request from Sarah at Travel World.

After successfully submitting a form they want to be able to redirect to another page instead of showing the thank you message

[2018-01-18 21:58] tuzzmaniandevil commented on #4415
Changed endpoints.
For eCom use `/ecommerce/{store-name}/`
For reward use `/reward-store/{store-name}/`

For both use these parameters:
[code]

[2018-01-18 22:07] bradmac commented on #4458
Didnt have transactions handling. Should be fixed now.

[2018-01-18 23:58] bradmac commented on #4807
Fixed

[2018-01-19 00:53] gonzalon opened #4810 "Importing lead should set current node / goal correctly"
When the lead is imported:
if the lead is new it should wait for the goal timer or execute the action that it's being set.
if the lead exists the node should being set should be different to the current one for it to work.

[2018-01-19 00:58] Anton69arb commented on #4803
hey, the image is importing and folders are working, but they do not load into  the component once you select it and save, the image does not change,

http://ant15.admin.kademi-ci.co/websites/onboarding-journey/version1/programs
http://ant15.admin.kademi-ci.co/websites/onboarding-journey/version1/programs/EK446/HN466/FL447

![1](https://user-images.githubusercontent.com/32444328/35129362-340dbcd2-

[2018-01-19 02:04] bradmac commented on #4709
I'm still seeing this problem locally (after autoloading updates)

![image](https://user-images.githubusercontent.com/826458/35131256-eb5e7594-fd29-11e7-8c93-a44b456bc956.png)

[2018-01-19 02:08] bradmac commented on #4458
hey @ducdhm, i can see this working fine locally, but having trouble getting it working on CI. Can you take a look please?

[2018-01-19 02:09] gonzalon commented on #4802
Front end:

![image](https://user-images.githubusercontent.com/2773216/35131331-679236f0-fd2a-11e7-9c95-8b5adf62f6b1.png)

Categories:
![image](https://user-images.githubusercontent.com/2773216/35131341-779f0eba-fd2a-11e7-8fa2-1887a9d8c4ec.png)

Hidden: Homeware / hidden-child
No products: cate
No products in the reward store: gonz

[2018-01-19 02:14] #4743 closed

[2018-01-19 02:14] #4774 closed

[2018-01-19 02:15] #4781 closed

[2018-01-19 02:15] #4780 closed

[2018-01-19 02:15] #4757 closed

[2018-01-19 02:20] gonzalon commented on #4806
@paddyow I can't seem to be able to reproduce it, but we should keep an eye on it to see if happens again
now regarding the leads you have without any action I did an update so we can update those by the excel upload and set a new current goal correctly  (https://github.com/Kademi/kademi-dev/issues/4810)

For this case, what should that be? should they go directly to the second email?

[2018-01-19 02:50] Anton69arb commented on #4744
Seem to be a problem, the settings icon for the component is not available and the picture component is not on the components list to add it to the container - see picture for example

http://ant16.admin.kademi-ci.co/pages/ant16/version1/

![1](https://user-images.githubusercontent.com/32444328/35132453-4a4a1b5c-fd30-11e7-8c95-1f67d0184ee8.png)

thank you

[2018-01-19 03:30] gonzalon commented on #4754
Now it should be fine, both in the frontend and admin. Fixed in 1.1.6

[2018-01-19 03:32] gonzalon commented on #4810
@AlaaKhalaf94 example to test would be to create a jurney that has a timer goal and a email.
Import one lead to the timer goal, and check that waits the timer and then continues.
Import another lead to the email action, you should get the email inmediatly.

[2018-01-19 03:41] ducdhm commented on #4650
Done!

[2018-01-19 04:42] ducdhm commented on #4744
@Uafinder I added Alt text option for image component. You just check image in view has alt text like option or not.

@Anton69arb I have fixed, so you can see option for photo component. And you can type `photo` in search box to see photo component. The reason why photo component is not at top place is `I moved photo component from static to dynamic`

[2018-01-19 04:57] ducdhm commented on #4709
Done!

[2018-01-19 07:21] Uafinder commented on #4807
yup, looks good

[2018-01-19 07:21] #4807 closed

[2018-01-19 07:32] ducdhm commented on #4458
Done!

[2018-01-19 07:32] ducdhm commented on #4712
Fixed in other issue

[2018-01-19 07:33] ducdhm commented on #4773
@bradmac Web components are ready to test. I'm doing EDM Photo component.

[2018-01-19 08:27] Uafinder commented on #3790
YYup, looks better

[2018-01-19 08:29] Uafinder opened #4811 "Ampersand symbol bad in page header for modules"
1. In admin console is looks like &amp;
2. In frontend it looks like && instead of &
![image](https://user-images.githubusercontent.com/1945230/35141430-93478f42-fd03-11e7-8651-2c51462b445d.png)
http://vladtest23b.admin.kademi-ci.co/websites/vlad23blearn/version1/programs/p1/c1/m1m3/#details-tab
http://version1.vlad23blearn-vladtest23b.kademi-ci.co/programs/p1/c1/m1m3/

[2018-01-19 09:12] Uafinder opened #4812 "error when open photo editor for Dashboard alert image (Assets)"
![image](https://user-images.githubusercontent.com/1945230/35143193-7e33f414-fd09-11e7-890a-70fa7839cf89.png)
http://vladtest23b.admin.kademi-ci.co/manageAlerts/alert-4446527#bodyCopy-tab
1. Add alert
2. Upload image
3. Push edit image button
![image](https://user-images.githubusercontent.com/1945230/35143237-a8cd37bc-fd09-11e7-8908-fadccd3f3d0f.png)

[2018-01-19 09:26] Uafinder commented on #4458
Image looks good, but audio still failed
![image](https://user-images.githubusercontent.com/1945230/35143899-90dcd9ee-fd0b-11e7-82cd-293b08352a3b.png)
http://vladtest23c.admin.kademi-ci.co/manageAlerts/alert-4447274#bodyCopy-tab
1. Create alert
2. Try to upload audio