[2016-06-07 23:10] bradmac opened #1959 "Select all checkbox on manage group page for opt-ins"
For when there are a large number of groups to choose from.

Should also only list groups of type "tag" (ie formerly called mailing list type)

Also make this panel full width

[2016-06-08 02:03] #1931 closed

[2016-06-08 03:31] #1846 closed

[2016-06-08 06:19] Uafinder commented on #1743
oops, forget to add an image, will add it in a moment

[2016-06-08 07:05] Uafinder commented on #1743
![image](https://cloud.githubusercontent.com/assets/1945230/15885530/71448856-2d60-11e6-9620-2ab8d84aa674.png)
Probably the second option can be removed

[2016-06-08 08:34] mamun4343 opened #1960 "additional info for groups is not opening."
see here. http://metta.admin.olhub.com/groups/

upd by Uafinder:
Just the last one group additional info is showing.
Also,

when you opening a category of groups, it opening a list of group with the first group already showed addtional info

![image](https://cloud.githubusercontent.com/assets/1945230/15887895/6d1f2134-2d6d-11e6-9a96-c638bed25d5c.png)

And it can't be collapsed

[2016-06-08 08:57] #1869 closed

[2016-06-08 09:40] bradmac opened #1961 "Expired points are contributing to points leaderboard rankings"

[2016-06-08 11:19] mamun4343 commented on #1960
also, groups are not movable.

[2016-06-08 11:24] bradmac commented on #1743
:+1:

[2016-06-08 22:24] #1961 closed

[2016-06-08 22:33] bradmac opened #1962 "Manage organisations map"
New screen to show organisations on a map, and to allow searching

[2016-06-09 02:02] paddyow commented on #1950
The thinking is any given account might have contacts that are no longer needed or spam, so having a tool to remove these helps.  Right now Kademi's CRM has so many contacts that are not needed and need cleaning up.

What if we have:

Select contacts you want to delete
Click delete
Dialogue popups up with message:  Are you sure you want to delete X contacts?
Then an optional tick box "Delete all l

[2016-06-09 02:03] paddyow commented on #1949
I understand the difference.  THe issues is any incoming lead creates a contact, many of these contacts will be spam and not needed in the CRM, so how do we ensure the CRM list of contacts don't get overloaded with spam contacts.

[2016-06-09 02:29] paddyow commented on #1885
The workflow to me feels wrong and confusing in that it displays the wrong info.  This is what I think it should do when you click the tick.

![image](https://cloud.githubusercontent.com/assets/2201340/15917203/d52cb662-2e3d-11e6-84c1-19a213a36bd0.png)

[2016-06-09 02:42] bradmac commented on #1885
Sure, we can have 3 buttons if you like.

[2016-06-09 02:43] bradmac commented on #1949
So do you want to delete the lead or the contact?

[2016-06-09 02:44] bradmac commented on #1950
Deleting contacts has to delete any associated leads.

[2016-06-09 02:51] bradmac commented on #1962
@ducdhm can you please update the orgFinder plugin, and add features to the new map page
- allow searching by multiple organisation types
- the search text box should be to locate an address (using gmaps api). The lat/lng should be sent as search parameters. The server will then locate orgs within a radius of that location

[2016-06-09 02:54] bradmac commented on #1962
Note that we will use these same features in front end org search

[2016-06-09 03:20] bradmac opened #1963 "Password reset is case sensitive"
and it shouldnt be

[2016-06-09 03:44] paddyow commented on #1950
Ok then let's do this:

- Select contacts you want to delete by ticking check boxes on each row
- Click delete button at top of page
- Dialogue popups up with message: Are you sure you want to delete X contacts and all the leads associated with each contact?

[2016-06-09 03:47] anhnt opened #1964 "Available Programs looks bad"
![group program](https://cloud.githubusercontent.com/assets/735555/15918286/725991a8-2e2f-11e6-95c7-d0310117c7f3.PNG)

[2016-06-09 03:49] paddyow opened #1965 "New feature when re-assigning leads"
Thoughts....

I have a lead assigned to me, but I want to pass it onto a colleague to look at as I am not sure what to do with the lead.

- I change who the lead is assigned to using the drop down
- It open a dialogue where I can write an optional note then click submit
- This sends an email notification with the note and basic lead info.  The email has a direct link to the lead
- The note also ge

[2016-06-09 03:54] paddyow opened #1966 "Contact request not showing the message"
http://kcrm.olhub.com/leads/178751099/

Click view
![image](https://cloud.githubusercontent.com/assets/2201340/15918368/7a06d7f2-2e49-11e6-9dec-08b6d13ccb68.png)

This is the contact request: http://kcrm.olhub.com/contactRequests/178751064

It does not include the body message like below.  Please add:
Hi, Thanks for connecting with me. I noticed from your profile that you work in web design, devel

[2016-06-09 03:57] tuzzmaniandevil opened #1967 "AWS: Fixes"
Some fixes and enhancements for our new AWS clusters.

- Update NvPair value length to 20000
- Change text showing SPF setting on Manage website page to be dynamic according to primary domain
- Add a portlet to the HTTPS section of manage website to allow the AWS plugin to provide SSL certificates in the future using AWS Certificate Manager

[2016-06-09 03:59] paddyow opened #1968 "KCRM dashboard location icon"
http://kcrm.olhub.com/dashboard

When an address is not specified, do not show the location icon.  Make sure there is no white space.

![image](https://cloud.githubusercontent.com/assets/2201340/15918450/33e1580a-2e4a-11e6-9c17-5835cdbb1196.png)

[2016-06-09 04:00] tuzzmaniandevil opened #1969 "AWS: Implement AWS Certificate Manager"
This will allow users to request an SSL certificate from within Kademi.

[2016-06-09 04:07] #1967 closed

[2016-06-09 04:09] paddyow opened #1970 "Add date to each note and lines to separate each note"
![image](https://cloud.githubusercontent.com/assets/2201340/15918602/bc3285ca-2e4b-11e6-9a2d-f4748748c838.png)

[2016-06-09 04:30] paddyow opened #1971 "Change profile button"
- Remove Nick Name Field
- Name field: Make sure the dropdown panel conforms to the width of the email address

![image](https://cloud.githubusercontent.com/assets/2201340/15918802/1cf9bfe8-2e4e-11e6-9b2e-c8cc1d0e94f2.png)

Update how the dropdown contacts appear.
- Move the name and email fields closer together
- Add a line inbetween each contact

![image](https://cloud.githubusercontent.com/asse

[2016-06-09 04:51] paddyow opened #1972 "Dashboard lead (what body content to show)"
If the lead has no notes show the lead description content (as it currently is)
If the lead has notes, show the most recent note instead

http://kcrm.olhub.com/dashboard

![image](https://cloud.githubusercontent.com/assets/2201340/15919108/591b239c-2e51-11e6-8c60-7eaeaceead56.png)

[2016-06-09 05:11] bradmac commented on #1966
Add the message field, truncated to 200 chars

[2016-06-09 05:12] paddyow opened #1973 "Unwanted carriage returns in lead notes"
http://kcrm.olhub.com/

![image](https://cloud.githubusercontent.com/assets/2201340/15919374/17f3814a-2e54-11e6-9a3c-1f19309c3770.png)

When you add a lead note in the popup dialogue then click 'Create and View', on the lead profile page the copy seems to have carriage returns added.  Remove any carriage returns.

![image](https://cloud.githubusercontent.com/assets/2201340/15919414/7866026e-2e54-1

[2016-06-09 05:15] paddyow opened #1974 "Cannot save contact information"
http://kcrm.olhub.com/leads/180200883/

- If I click save I get an error
- If i reduce the amount of characters in the notes field it seems to save, but does not actually save the updated notes

![image](https://cloud.githubusercontent.com/assets/2201340/15919475/0d1e0c62-2e55-11e6-90d0-7f03db0c0a44.png)

[2016-06-09 05:23] paddyow opened #1975 "Notes fields issue on lead page"
Example: http://kcrm.olhub.com/leads/136865592/

There are 3 notes field on a lead page
- Remove the notes field in the top panel
- The contact information notes field should pull content from the Notes fields when adding a new lead
- The Company notes field should be blank unless someone adds notes for the company

![image](https://cloud.githubusercontent.com/assets/2201340/15919535/b9e5e442-2e55

[2016-06-09 05:25] paddyow opened #1976 "Companies in KCRM"
Are companies their own entity i.e. a multiple contacts can be assigned to a single company?

If so we need to support this and have a list of companies in a separate page where they can be managed

[2016-06-09 05:29] Uafinder commented on #1960
It happens when you does something with groups, like create a group, or delete a folder. After hard page refresh this bug is gone.

[2016-06-09 05:35] bradmac commented on #1976
Yes, they are their own entity. So i'm thinking we have
- the search box searches for contacts and companies
- clicking on a company goes to a company details page
- the company details page lists contacts and also company details such as address, phone, etc
- can click on a contact to see the contact detail page
- contact detail page has a link to the company details page

[2016-06-09 05:36] paddyow opened #1977 "Removing groups"
- I have a profile that has one membership in the admin group
- I had to remove the profile temporarily from the admin group whilst testing
- This removed the profile from the account i.e. it was no longer in the users page
- Removing a profile from an account when it has no groups seems very frustrating as I had to add the profile again

Thoughts....

[2016-06-09 05:55] bradmac commented on #1975
I think we need to keep the deal description field. For example, when i have 3 different leads for EMC i will have a lead description like "Carters reward store, enterprise subscription", and for another lead i'll have "Coke trade engagement site, professional sub". Having that lead description text is really important in managing leads, and is different to having an ongoing list of notes to descr

[2016-06-09 05:58] paddyow opened #1978 "File panel has scroll bar"
Do not show a scroll bar

![image](https://cloud.githubusercontent.com/assets/2201340/15920135/042b41c8-2e5b-11e6-9534-9392606de7fe.png)

[2016-06-09 05:59] bradmac commented on #1965
This is just like assigning an issue in github. I do not think we have a special dialog with notes field, thats what the existing notes feature is for (just like github).

Yes, we should have email notification

[2016-06-09 06:00] bradmac commented on #1950
:+1:

[2016-06-09 06:01] bradmac commented on #1978
There must be a scrollbar, otherwise it wont fit

[2016-06-09 06:01] bradmac commented on #1978
To make it fit we would need to remove cols

[2016-06-09 06:02] paddyow opened #1979 "Quick lead"
After I added a quick lead, I could not search on it to find it, instead I had to scroll for a while in the leads list to get to it.

Please add first name and surname fields to the popup dialogue.

![image](https://cloud.githubusercontent.com/assets/2201340/15920191/4f7e2780-2e5b-11e6-9de7-7d9fc5fd6732.png)

[2016-06-09 06:04] bradmac commented on #1977
There should be validation telling you that if you remove the last group, that removes the profile. We did have this but was lost with the move to the top panel

[2016-06-09 06:05] paddyow opened #1980 "Memo recorder"
@tuzzmaniandevil  what mobile devices supports this feature? I tried it on my Android and it did nothing.

![image](https://cloud.githubusercontent.com/assets/2201340/15920281/e724966e-2e5b-11e6-8ecd-da6ae6153589.png)

[2016-06-09 06:09] Uafinder commented on #1636
Hmmm... Not sure... Looks like the trouble was because of sales consultant group was selected in the app settings, and leads wasn't.
Should be a validation when importing contacts, not only Sales group, but also on Leads group...
![image](https://cloud.githubusercontent.com/assets/1945230/15920294/68536ebc-2e21-11e6-956f-e34a6288cbd3.png)
![image](https://cloud.githubusercontent.com/assets/1945230

[2016-06-09 06:10] paddyow opened #1981 "Buttons sit on top of content in mobile view"
![image](https://cloud.githubusercontent.com/assets/2201340/15920356/a49be8e6-2e5c-11e6-9f87-86990aead301.png)

[2016-06-09 06:11] Uafinder commented on #1980
Someone told me that voice memo should be disabled...

[2016-06-09 06:14] Uafinder opened #1982 "Bug with selecting options for application"
There is a bug for a long time with selecting options in app.
Steps to reproduce:
1. Open some app, for example LeadMan
2. Change some group.
3. Try to open options again and watch that there are no selected option appear.
4. Try to refresh page.
5. Try to open option again and watch the same sit
6. Close it and open again - changed option appears.

There was an issue on it earlier but looks like

[2016-06-09 06:44] paddyow opened #1983 "Broken link on docs page"
http://docs.kademi.co/blogs/kb/getting-through-spam-filters

[2016-06-09 06:57] bradmac commented on #1983
Re-indexed, but is still being included. Maybe that the blog has been soft deleted

[2016-06-09 08:20] bradmac commented on #1980
It should work on Android and iOS

[2016-06-09 08:22] bradmac commented on #1636
@tuzzmaniandevil please check the behaviour when there are no options selected. Should use default groups "sales" and "leads", and auto-create groups if required

[2016-06-09 08:27] bradmac commented on #1979
We dont want to add text fields, because this is for when you dont want to entertext.

But it should create a task to transcribe what has been captured, ie audio or photo

[2016-06-09 10:36] bradmac opened #1984 "Class cast exception on unsub"

[2016-06-09 10:38] #1984 closed

[2016-06-09 10:38] ducdhm commented on #1962
New look for this page:
![fireshot capture 23 - organisations map - http___localhost_8080_organisations_map_q a](https://cloud.githubusercontent.com/assets/1289631/15926950/e902a39c-2e68-11e6-90e8-d786b9a28a5d.png)

[2016-06-09 10:42] bradmac commented on #1962
More for me to do yet

[2016-06-09 10:43] ducdhm commented on #1962
Oops, I forgot it

[2016-06-09 22:04] bradmac opened #1985 "Component filtering by resource type"
Instead of specifying a category for the editor, components should specify what types of resoruce they are relevant to

[2016-06-09 22:52] bradmac commented on #1962
The suggestions doesnt seem to work. I entered text "rosario" and it said no results. When i do this on google maps i get the following:
![maps](https://cloud.githubusercontent.com/assets/826458/15949151/5543e0f8-2ef9-11e6-93b1-31be1cbed780.png)

[2016-06-09 22:53] bradmac commented on #1962
Also, I noticed that its doing an organisation search when i type in the address which is incorrect. It should only do an organisation search when i select an address suggestion (using the lat/lng coordinates of the selected address) or when I click the search button, which should do a keyword search with no lat/lng coordinates

[2016-06-09 23:12] tuzzmaniandevil commented on #1980
Yes it's support on IOS and Android but the website needs to be HTTPS or it won't work.

[2016-06-09 23:16] bradmac commented on #1980
We should probably force https on crm.

@Uafinder can you please test using https?

[2016-06-10 00:18] bradmac commented on #1963
Also make password reset in admin nicer

[2016-06-10 00:19] #1963 closed

[2016-06-10 01:28] bradmac opened #1986 "Add explanatory copy to contact settings form"

[2016-06-10 01:28] #1986 closed

[2016-06-10 03:43] ducdhm commented on #1962
Done!

[2016-06-10 03:45] tuzzmaniandevil opened #1987 "PointsRowProvider: Defer updating points balance until the end of the integration job"

[2016-06-10 03:46] ducdhm commented on #1962
Final UI:

![aaaa](https://cloud.githubusercontent.com/assets/1289631/15953762/96c1ed5a-2ef8-11e6-9ae1-b4cd120be157.png)

[2016-06-10 04:14] ducdhm commented on #1962
Docs for new version of jquery.orgFinder: http://docs.kademi.co/ref/javascript/jquery.orgFinder-1.0.1.html

[2016-06-10 04:35] #1987 closed

[2016-06-10 06:21] paddyow opened #1988 "Groups do not drop down to reveal info"
http://admin.minda.olhub.com/groups/

Click on Minda-RG

[2016-06-10 11:32] anhnt commented on #1627
its working for action and goal. there's some notes:
- can create connection from begin node or action to a goal, but create connection from goal is not working because of transitions builder is in progress
- right click to view node detail, delete node, click save button to submit changes
- needs to implement node editing for begin, action and goal

[2016-06-12 21:20] #1985 closed

[2016-06-12 21:22] bradmac commented on #1962
@tuzzmaniandevil can you implement geo-location search
- ideally seach by sorting by distance, and show top X results. If we cant do that, then use a query parameter to specify a max radius
- allow for multiple org types to be selected (use OR)
- if a keyword parameter is present also use that in the query

[2016-06-12 21:24] bradmac opened #1989 "Organisation geo-search (store locator) extension"
Extension to:
https://github.com/Kademi/kademi-dev/issues/1962

-Add a rating field to organisation
- Add input to organisation edit page to edit the rating
- Add to organisation AppIndexer
- Adjust the organisation search to use distance and rating as relevance factors, so that a store with a higher rating will be shown ahead of a store which is closer with a lower rating

[2016-06-12 21:31] bradmac commented on #1627
Great start, but a lot of work to do
- use same look and feel as content editor, ie have the list of node types in right hand panel list
- have a draggable item for each action type, ie send email, add to group, etc
- each goal has a fixed transition for Timeout. This should not be a droppable item
- do not use right click for context menu, have a button on the node, eg cog icon top right
- do not

[2016-06-12 21:38] bradmac commented on #1974
- increase size of col in prod
- add increased size to java class
- check why its not saved

[2016-06-13 01:09] tuzzmaniandevil commented on #1962
- ideally seach by sorting by distance, and show top X results. If we cant do that, then use a query parameter to specify a max radius - **Done, distance can be passed in as a param, as distance (Double) default is 20 and distanceUnit default is "km", the units supported are**
 - in or onch
 - yd or yards
 - ft or feet
 - km or kilometers (Default)
 - NM or nmi or nauticalmiles
 - mm or millimeter

[2016-06-13 04:39] bradmac opened #1990 "Add methods for showing carts and orders"
See RewardStoreApp
- ordersForProfile
- cartsForProfile

And RewardStoreFolder.myTransactions returns a list which now has additional properties:
- cart
- productInReward
- product
- itemHref

[2016-06-13 06:22] #1990 closed

[2016-06-13 08:47] bradmac opened #1991 "Management screen to show profiles without timers"
This is to assist with checking for profiles which are not part of automated streams

[2016-06-13 17:59] #1836 closed

[2016-06-13 20:51] bradmac commented on #1836
woohoo!

[2016-06-13 23:45] #1991 closed

[2016-06-14 00:33] paddyow opened #1992 "Creating new funnel breaks KCRM"
http://kademi.admin.olhub.com/funnels/

Add new funnel then navigate to KCRM here http://kcrm.olhub.com/dashboard

[2016-06-14 00:56] bradmac commented on #1992
Looks ok to me. Whats broken?

[2016-06-14 01:14] paddyow commented on #1992
Create a new funnel called 'Other' here http://kademi.admin.olhub.com/funnels/
Then go here http://kademi.admin.olhub.com/funnels/
Then see Grizley error

[2016-06-14 01:16] paddyow opened #1993 "Emails not capturing into KCRM"
See this lead http://kcrm.olhub.com/leads/136865592/
I clicked the To field and sent an email which was captured
I then sent 3 more test using this email to-lead-136865592@kcrm.olhub.com
None of the followup emails were captured into KCRM

[2016-06-14 01:51] bradmac commented on #1993
Confirmed, same with me.

[2016-06-14 01:53] paddyow opened #1994 "Cannot assign new contact to lead"
This contact http://kcrm.olhub.com/custs/eddytsang/

Need to be assigned to this lead http://kcrm.olhub.com/leads/132046956/

Cannot find the contact when changing the profile.

[2016-06-14 02:52] bradmac commented on #1660
The enabled/disabled logic appears to be reversed.

[2016-06-14 11:15] ducdhm opened #1995 "theme.js & init-theme.js issue"

[2016-06-14 21:55] tuzzmaniandevil commented on #1962
I've moved this to a seperate app called "Organisation Locator"
@Duc the API is the same, I've changed the URL for the admin search and moved the admin file to the orgsLocator folder.

a Resource is now available for website integration, the URL is /orgsLocator/ and the template is /theme/apps/orgsLocator/orgsMap.html

Can you please create a front end page? If you need any API added please let me

[2016-06-14 22:08] bradmac commented on #1965
@tuzzmaniandevil please create a notification email for when a lead is assigned

[2016-06-14 22:11] bradmac commented on #1966
@tuzzmaniandevil please add the message field to the template

[2016-06-14 22:50] tuzzmaniandevil commented on #1660
Sorted

[2016-06-14 22:51] bradmac opened #1996 "New Fast points inserter for historical data"
- should not fire triggers
- do not update elasticsearch
- only invalidate points balances

[2016-06-14 23:30] bradmac commented on #1996
Example

[code]

[2016-06-15 01:10] #1996 closed

[2016-06-15 01:11] #1923 closed

[2016-06-15 01:24] #1743 closed

[2016-06-15 01:30] bradmac commented on #1848
We need to use this in a couple of places. Eg
- unsubs page
- lead profiles page
- automation timers (without timers)

So would be good to find some way of doing this efficiently. Possibly ideas..
- add a column to Profile
- create a new table that links to profile
- create a query that looks up last contact efficiently for a set of profiles (eg use max to get the ID)
- store in elasticsearch

[2016-06-15 02:02] paddyow opened #1997 "Viewing lead info takes a long time to load page"
![image](https://cloud.githubusercontent.com/assets/2201340/16065782/f955e3bc-32f0-11e6-9a54-23a7c762c5aa.png)

http://kcrm.olhub.com/leads/139038643/

Takes 30+ seconds to navigate to the contact request page.

[2016-06-15 02:37] bradmac opened #1998 "Component list to show component description as tooltip"
When mouse over a component please display a tooltip with the component description

[2016-06-15 03:48] bradmac commented on #1997
Problem is that the entire list of contact requests is being loaded to find just one

@tuzzmaniandevil please change getChildren in ContactRequestsFolder to return null. Instead implement child(..) to locate the CR by ID and return it

Be sure to check that the loaded CR is for the current organisation and return null if not, to prevent access to CR's from other orgs

[2016-06-15 05:04] tuzzmaniandevil commented on #1994
I tested it and seems to work fine, @paddyow can you please re-test?

[2016-06-15 05:12] bradmac commented on #1994
Hey @tuzzmaniandevil i checked in and confirmed there is a problem. Let me know if you cant see it

[2016-06-15 05:14] #1997 closed

[2016-06-15 05:25] bradmac opened #1999 "Top points balances component"

[2016-06-15 06:56] paddyow opened #2000 "Description field should not be mandatory when adding note"
![image](https://cloud.githubusercontent.com/assets/2201340/16070597/ff3a6d88-3319-11e6-9cf1-f432ba659a65.png)

Adding a new note on a lead then a task in the same window, the description field should not be mandatory

[2016-06-15 07:12] paddyow commented on #1994
@tuzzmaniandevil  I just had a look, when I do a search for a profile, it's pulling up profile names from somewhere else, I have no idea where from though.

![image](https://cloud.githubusercontent.com/assets/2201340/16071003/447fa758-331c-11e6-9c7e-484b108a9187.png)

[2016-06-15 07:36] paddyow opened #2001 "When a lead is cancelled, the tasks are still active"
http://kcrm.olhub.com/tasks/?type=active

It seems we have lots of active leads, yet they are linked to cancelled leads.

When a lead is cancelled the task should be flagged as cancelled and appear in the cancelled list.

[2016-06-15 07:44] paddyow commented on #1966
@tuzzmaniandevil  was this done as I cannot see it on Beta of live?

[2016-06-15 08:08] paddyow opened #2002 "Adding a note should also add a marker to the timeline"
When you add a note to a lead, this should also create a new reference point in the timeline.

[2016-06-15 09:14] ducdhm opened #2003 "$rootFolder variable in edmEditor"
Hi @bradmac
We have issue with `$rootFolder` variable in edmEditor. In edmEditor screen, `$rootFolder` is `OrganisationRootFolder` but when sending email, `$rootFolder` is `WebsiteRootFolder`. If I make dynamic component works in edmEditor, when sending email, the content will be error. And reserve.

What should we do?

[2016-06-15 09:15] #1874 closed

[2016-06-15 09:33] ducdhm commented on #1998
Pending https://github.com/Kademi/keditor/issues/26

[2016-06-15 09:50] bradmac commented on #2003
@ducdhm can you give me an example of something you want to access in both contexts?

[2016-06-15 10:05] paddyow opened #2004 "Rule to show leads on KCRM dashboard"
http://kcrm.olhub.com/dashboard

What is the rule?

[2016-06-15 11:07] paddyow opened #2005 "Clear notes field"
After a note has been added to a lead, clear the form fields so another note can be added without the page having to be refreshed.

http://kcrm.olhub.com/leads/182647096/

[2016-06-15 20:45] bradmac commented on #2004
Leads are shown to the assigned team member

[2016-06-15 20:49] bradmac commented on #1966
@paddyow check the milestone, this hasnt been deployed yet

[2016-06-15 20:49] #1966 closed

[2016-06-15 20:59] bradmac commented on #2001
This was resolved in this issue - https://github.com/Kademi/kademi-dev/issues/1637

@paddyow can you confirm if this is still happening, and if so re-open 1637, or if these are just old tasks from before 1637 was done?

[2016-06-15 23:14] bradmac commented on #2003
OK, so the best thing to do in this case, and this is probably going to be the usual approach, is to use methods on the app class rather then on resources.

I've added a searchProducts method to the ECommerceApp which has a store parameter. This can be called from the template like this:

[code]

That will then work no matter what context its called from

[2016-06-15 23:14] #2003 closed

[2016-06-16 00:03] bradmac commented on #1999
UI:
![top-balances](https://cloud.githubusercontent.com/assets/826458/16101483/4c90d626-33ba-11e6-87a2-b3f7f1928b7a.png)

[2016-06-16 00:04] bradmac commented on #1999
@ducdhm can i hand over to you to finish off?
- make the limit configurable, instead of days (i copied from recent points component)

[2016-06-16 03:14] ducdhm commented on #2003
Yeah, you right. We should use $applications.{applicationName} to do anything with dynamic component :+1:

[2016-06-16 03:17] ducdhm commented on #1999
Ok. It's same with My Recent Point :)

[2016-06-16 04:27] mamun4343 opened #2006 "items not removing from shopping cart"
http://carters.kademi-sandbox.co/checkout/
here, products are not removing after a delete command.

experienced this as this user http://carters.admin.kademi-sandbox.co/manageUsers/6742554/#commentsTab-tab

[2016-06-16 04:37] mamun4343 commented on #2006
How to generate the issue,
add more then 1o products from different categories.

[2016-06-16 05:38] #2000 closed

[2016-06-16 05:53] #2005 closed

[2016-06-16 07:37] bradmac commented on #1977
Current we give a warning message when deleting any membership that if it is the last they will lose access to the profile. However, users will tend to ignore this because its the same each time

Please update the message as follows:
- When deleting ask "Are you sure you want to remove this membership"
- IF it is the last membership, add an **additional** validation message "Warning: This is the l

[2016-06-16 08:21] ducdhm commented on #1977
Additional message:
![aaa](https://cloud.githubusercontent.com/assets/1289631/16110031/eee8c198-33d5-11e6-8d39-b71e145bae92.png)

[2016-06-16 10:22] bradmac commented on #2006
I cant reproduce the problem described above. But i can see that after adding those 2 items the shopping cart icon correctly says 2 items, but the chekcout page shows 1 item. Removing it leaves the shopping cart icon showing 1 item but no item displaying in the checkout page

I noticed that the ajax methods to add the products differs between the detail page and the list page:

changeItemHrefQuant

[2016-06-16 11:40] anhnt commented on #1627
![jorueny](https://cloud.githubusercontent.com/assets/735555/16115530/be3cf78c-33f1-11e6-94c7-ca7585fc940d.png)

[2016-06-16 15:32] ducdhm commented on #1627
:+1: Look great!

[2016-06-17 00:34] paddyow opened #2007 "Closing lead caused error page"
Closing this lead http://kcrm.olhub.com/leads/128090874/

Created this error message on a blank page: {"data":null,"fieldMessages":[],"messages":["Closed deal"],"nextHref":"","status":true}

But the lead was closed.

[2016-06-17 02:25] bradmac commented on #1627
Awesome! :+1:

[2016-06-17 02:28] bradmac commented on #1999
Also needs to be contextual, ie to show top balances in whatever organisation the current user is in. Need to change to elasticsearch query to do that.

[2016-06-17 02:43] ducdhm commented on #2007
Can you re-check again? I can't reproduce this issue

[2016-06-17 05:00] anhnt opened #2008 "Needs to validate email settings before send a test one"
For example: Email subject, sender email address, etc

[2016-06-17 05:04] paddyow commented on #2007
I just re-opened it and cancelled it again but it went through.  Does the error tell you anything?

[2016-06-17 05:06] bradmac commented on #2007
The "error" is actually just the response from the server but its normally handled by js. This can happen if the page doesnt load properly, or if part of the page is reloaded usually by doing some other action, eg adding a note.

So if you can remember what you did just before that then we might be able to reproduce the error

[2016-06-17 05:15] ducdhm commented on #1398
@Uafinder Please kindly test it again!

[2016-06-17 05:21] mamun4343 commented on #1398
@Uafinder  Please also check the same for version4-bs335 for waterco .

[2016-06-17 05:44] paddyow commented on #2007
I simply cancelled the lead.  I re-opened the lead and cancelled it again but could not reproduce it.  I have seen this screen many times before but have not consistently been able to re-create it yet.

[2016-06-17 05:46] bradmac commented on #2007
So you've seen this problem many times?

[2016-06-17 05:52] paddyow commented on #2007
I have seen this appear 3 or 4 times before but have never been able to re-produce it.

[2016-06-17 05:54] bradmac commented on #2007
ok, so probably not specific to closing a lead then. If you see it again, then try to write down the exact steps leading up to it.

[2016-06-17 06:03] paddyow opened #2009 "Completing a task"
![image](https://cloud.githubusercontent.com/assets/2201340/16142013/eb8d9256-34a4-11e6-8d99-9759599693e4.png)

When a task is completed, where should the what happened content go?  On the timeline?  If it should it's not working so please assign to be fixed.

[2016-06-17 06:04] #2001 closed

[2016-06-17 06:07] paddyow commented on #1637
This is not resolved.
I create this lead with 1x task and closed it: http://kcrm.olhub.com/leads/183262316/
The task is still there called closetask  http://kcrm.olhub.com/tasks/

[2016-06-17 06:13] paddyow opened #2010 "Allow tasks to be re-opened"
http://kcrm.olhub.com/leads/155065644/

See the task Revisit lead which is closed.

Maybe we add a button called re-open task? But remove the edit icon.

[2016-06-17 06:49] tuzzmaniandevil opened #2011 "Custom App: Dynamic Menu Items"
Add the ability to define dynamic menu items.

Example:
[code]

[2016-06-17 06:50] tuzzmaniandevil commented on #2011
@bradmac Can you review this please?

[2016-06-17 16:26] #1998 closed

[2016-06-18 07:43] bradmac commented on #2010
I think we do need to be able to re-open a task, but i dont think we need to make tasks readonly when they're closed.

Kademi tasks are modelled on github issues, and github issues are editable when closed.

[2016-06-19 01:51] bradmac opened #2012 "Re-index to use selection of indexes instead of indexers"

[2016-06-19 01:53] #2012 closed

[2016-06-19 02:55] bradmac opened #2013 "Points balance to be search facet on manage users page"

[2016-06-19 02:57] #2013 closed

[2016-06-19 10:05] bradmac commented on #1999
Is now using profile app indexer. Next is to make it work with org app indexer for team based points, such as will be used in carters

[2016-06-20 00:34] paddyow opened #2014 "Capture attachments in KCRM"
When an email is sent to KCRM not only capture the email body, also capture any attached files.

[2016-06-20 02:37] anhnt opened #2015 "Elearning module issue"
http://admin.zoetis.olhub.com/websites/zoetis-livestock-reseller/version4/programs/PRODSOLU01/ZOELIV1343/ZOELIV1343/

![module managerment issue](https://cloud.githubusercontent.com/assets/735555/16181886/9afa842a-36ca-11e6-82cf-6174cf996c7e.PNG)

Editing version is not rendered
Cant manage version
Publish button is appearing when its live version

[2016-06-20 02:38] #2015 closed

[2016-06-20 02:39] anhnt commented on #2015
@bradmac can you please do a quick deploy for that?

[2016-06-20 04:02] ducdhm opened #2016 "Module activity (beta) Report return incorrect number of records"
Link example: http://cheprb.admin.olhub.com/reporting/esModuleBreakdown
Total number is `137824`
Real number is `230`

[2016-06-20 04:18] bradmac commented on #2015
Patched into prod

[2016-06-20 04:20] bradmac commented on #2016
This report is just not completed yet. Use the normal module breakdown report for now.

[2016-06-20 04:29] bradmac opened #2017 "Product list component for reward stores"
Should be similar as for e-commerce, including both web and EDM components.

[2016-06-20 05:17] bradmac opened #2018 "Most popular (viewed) products in reward store report"
Report to show the products and number of views, to be able to find the most and least popular for viewing (but not necessarily purchasing)
- Report histogram should show products page views in the selected date range, ie normal date histogram
- Allow filtering via aggregations/facets by
  - product category
  - user group
  - reward store
- CSV output to show
  - product title
  - number of views

[2016-06-20 05:18] bradmac opened #2019 "Most purchased products in reward store report"
Report to show the products and number of purchases, to be able to find the most and least popular
- Report histogram should show products by number of purchases in the selected date range, from most popular to least
- Allow filtering via aggregations/facets by
  - product category
  - user group
  - reward store
- CSV output to show
  - product
  - number of purchases
  - number of views

[2016-06-20 05:18] bradmac commented on #2011
Looks ok to me!

[2016-06-20 05:18] #2011 closed

[2016-06-20 05:19] bradmac commented on #1993
Added logging, will review after next deploy

[2016-06-20 05:25] #1398 closed

[2016-06-20 05:25] #1660 closed

[2016-06-20 05:32] bradmac commented on #1864
Looks done now

[2016-06-20 05:32] #1864 closed

[2016-06-20 05:34] #1774 closed

[2016-06-20 09:58] #2017 closed

[2016-06-20 23:56] paddyow opened #2020 "Searching on cancelled leads"
I don't think KCRM search should show cancelled leads.  I had once customer, 2 cancelled leads and 1 active, and had to go through all 3 to find the active lead.

If we show all leads, we should show if they are active or closed in the search result drop down.

Thoughts?

[2016-06-21 00:12] paddyow opened #2021 "Task date picker does not always show"
Chrome Version 51.0.2704.103 m

- Open this lead: http://kcrm.olhub.com/leads/153690144/
- Edit latest task called test
- Click on date picker
- If the data picker appears, close the task then re-open and click on the date picker again to see if it appears
- The data picker intermittently shows
- Have tried to see if whether or not is shows is based on where you click in the input, but no luck so

[2016-06-21 00:18] paddyow opened #2022 "Add Job Title to contact in KCRM"

[2016-06-21 00:20] paddyow opened #2023 "Add or create company when creating contact in KCRM"
When adding a new contact in KCRM, we must be able to create a new company or assign a company to the contact.  This will allow the admin user to open a company and see all employees in that company.

Must also be able to assign company from the profile page, for example: http://kcrm.olhub.com/custs/dirlafis/

[2016-06-21 00:51] bradmac opened #2024 "Cant add second membership with new membership form on admin profile page"

[2016-06-21 00:52] #2024 closed

[2016-06-21 02:27] bradmac commented on #1999
Now works with organisations

[2016-06-21 02:27] #1999 closed

[2016-06-21 04:05] #1936 closed

[2016-06-21 04:08] ducdhm opened #2025 "Disable re-attempt button if quiz is not batched"

[2016-06-21 04:14] bradmac opened #2026 "Quiz enhancements"
- do not show "Re-attempt" button for non-batch quizes
- users should be able to go to a previous page from a quiz. Currently, attempting to navigate away submits the quiz
- remove exclamation marks from result message
- make re-attempt button visuallay different from the normal submit button (ie use brand-success), and place it above and below the quiz

[2016-06-21 04:16] ducdhm opened #2027 "Users need to go back to previous page if they're in quiz page"

[2016-06-21 04:31] ducdhm commented on #2027
Duplicated of https://github.com/Kademi/kademi-dev/issues/2026#event-698531009

[2016-06-21 04:31] #2027 closed

[2016-06-21 04:32] ducdhm commented on #2025
Duplicated of https://github.com/Kademi/kademi-dev/issues/2026#event-698531009

[2016-06-21 04:32] #2025 closed

[2016-06-21 05:00] bradmac commented on #2023
This is currently available on the lead page, needs to also be on the contact page

[2016-06-21 05:02] bradmac commented on #2022
Note that that this should be part of the company, ie similar to linkedin, where a user has a role to a particular company

So should be a new column or custom field on the membership

[2016-06-21 05:06] bradmac commented on #2020
Yep, agree that we should not see cancelled leads by default. But there does need to be a way to see cancelled leads.

So we should have an option on search to show cancelled leads

[2016-06-21 05:09] bradmac opened #2028 "Password reset link text in email editor is tiny"

[2016-06-21 05:12] #2028 closed

[2016-06-21 05:51] #1964 closed

[2016-06-21 09:47] ducdhm commented on #2026
@Uafinder Can you help me test this issue on Waterco and Swimart?

This user for waterco: http://admin.waterco.olhub.com/manageUsers/27906219/
And this user for swimart: http://admin.swimart.olhub.com/manageUsers/36004087/

[2016-06-21 11:18] ducdhm commented on #1900
![aaaaaa](https://cloud.githubusercontent.com/assets/1289631/16227665/3c42ac7e-37dc-11e6-816d-2633fd1780c8.png)

[2016-06-21 11:18] #1900 closed

[2016-06-21 14:16] ducdhm commented on #1962
@tuzzmaniandevil Can you add API for getting list of org types in front-end?

[2016-06-21 23:02] bradmac commented on #1962
Now available in both admin and website
[code]

[2016-06-22 02:07] bradmac opened #2029 "Make Jest support scrolling"
Suggest look at these
https://github.com/searchbox-io/Jest/blob/master/jest/src/test/java/io/searchbox/core/SearchScrollIntegrationTest.java

https://github.com/searchbox-io/Jest/blob/master/jest-common/src/main/java/io/searchbox/core/SearchScroll.java

[2016-06-22 03:50] #2016 closed

[2016-06-22 03:52] tuzzmaniandevil opened #2030 "Fix up some Jest compatibility issues"

[2016-06-22 05:11] bradmac opened #2031 "Create FastPointsDebitRowProvider for historical data import"

[2016-06-22 07:44] bradmac opened #2032 "Allow preloading all memberships for OrgData"

[2016-06-22 20:38] Uafinder opened #2033 "Uploader issues"
1. When there are a lot of fields in file, upload tool looks poor and buggy.
![image](https://cloud.githubusercontent.com/assets/1945230/16281294/5f052eb2-38cc-11e6-9faf-a6250abae7f1.png)
Dropdowns looks buggy and no idea how it decide to wrap text to the other string.

2. Visual issues - default group text is not full, it could be fixed by moving Removing text a bit closer to it's dropdown list.

[2016-06-22 22:07] bradmac opened #2034 "Allow PointsDebits to be created without corresponding points credit"

[2016-06-23 01:55] #2031 closed

[2016-06-23 01:56] bradmac commented on #2032
Not doing this now

[2016-06-23 01:56] #2032 closed

[2016-06-23 04:31] #2006 closed

[2016-06-23 04:38] tuzzmaniandevil commented on #1974
I increased the size on BaseEntity notes to 20000. updated and deployed VFS and updated kademi-server with the new VFS version.

[2016-06-23 04:47] tuzzmaniandevil commented on #1974
There was also a templating issue.

There is three note fields which get's stored in deffirent places. You have the Lead notes, Profile/Customer notes and Org/Company Notes. I've updated the template to reflect this.

[2016-06-23 04:47] #1974 closed

[2016-06-23 04:47] tuzzmaniandevil commented on #1852
Done

[2016-06-23 04:47] #1852 closed

[2016-06-23 04:53] #1943 closed

[2016-06-23 04:55] tuzzmaniandevil commented on #1942
Works ok with me. Please clear your cache and try again :-)

[2016-06-23 05:17] bradmac commented on #1942
Confirmed it happens here:
http://vlad.admin.olhub.com/unsubscribes/

[2016-06-23 05:18] bradmac commented on #1942
Error in page output:
Invocation of method 'getGroupSummary' in  class io.milton.cloud.server.apps.admin.ManageUnsubscribesFolder threw exception org.hibernate.exception.SQLGrammarException: could not extract ResultSet

[2016-06-23 05:21] bradmac commented on #1942
I think the problem occurs where there are no unsubs

[2016-06-23 05:24] #1942 closed

[2016-06-23 08:07] ducdhm opened #2035 "Logging screen is not real-time anymore"

[2016-06-23 08:25] bradmac commented on #2035
Yep, real time just doesnt work in a clustered environment

[2016-06-23 08:40] anhnt opened #2036 "Custom app XmlHttpRequest async"
From our client:

@tuzzmaniandevil  can you have a look please

[2016-06-23 08:43] ducdhm commented on #2035
@bradmac But instead of setTimeout 5s for each ajax request, we can using long-pulling for it.

[2016-06-23 09:25] bradmac commented on #2035
Nope, because the data comes from different servers. We can increase the polling frequency, but we cant do it with websockets

[2016-06-23 09:25] bradmac commented on #2036
@anhnt that doesnt make any sense.

[2016-06-23 09:33] siyoyo commented on #2036
Hi bradmac, it will not goes here/ or waiting until the process finished:
 http.onreadystatechange

 instead passed it, can you show me the correct code for waiting the post finished?

[2016-06-23 09:43] bradmac commented on #2036
The XHR object supports syncronous and async modes:

http://www.w3schools.com/ajax/ajax_xmlhttprequest_send.asp

xhttp.open("GET", "ajax_info.txt", true);
xhttp.send();

open(method, url, async) 	Specifies the type of request

method: the type of request: GET or POST
url: the server (file) location
async: true (asynchronous) or false (synchronous)

[2016-06-23 09:48] siyoyo commented on #2036
I have set it into false Brad, but it doesn't want to wait until the send has finished..

[2016-06-23 10:03] ducdhm commented on #2035
Yeah, I dont hope we can implement websockets like previously, but at least "realtime" is in +/- 1 second

[2016-06-23 11:42] anhnt commented on #2036
@siyoyo i've tested using synchronous request and its working fine for me. Please have a look at this bit:
`var http = new XMLHttpRequest();
    http.open("GET", 'https://github.com', false); // async = false
    http.setRequestHeader('Content-Type','text/html');
    http.send();
    log.info('http readyState {}', http.readyState);
    log.info('http status {}, responseText {}', http.status, http.

[2016-06-23 22:58] bradmac opened #2037 "Template manager"

[2016-06-24 01:25] bradmac commented on #2037
Currently only supports text editing. Once bs336 is upgraded to support content editor then we can do more awesome.

[2016-06-24 01:25] #2037 closed

[2016-06-24 01:27] bradmac commented on #2037
![template-man](https://cloud.githubusercontent.com/assets/826458/16325134/5dc1731e-3a0f-11e6-8bb6-e2f20b83b2e3.png)

[2016-06-24 01:28] bradmac commented on #2034
Debits without associated credits are not being included in some pages

[2016-06-24 02:55] anhnt commented on #2036
ok, so just use synchronous request as its working now

[2016-06-24 02:55] #2036 closed

[2016-06-24 02:58] siyoyo commented on #2036
Hi Anh, thank you for your help, so the conlusion is: if we set Async off then no need to setup di onreadystatechange.

[2016-06-24 03:01] anhnt commented on #2036
Yeah, we can ignore onreadystatechange for now to make life simpler

[2016-06-24 03:29] #2034 closed

[2016-06-24 03:42] bradmac commented on #2035
Changed to 1000ms, and added auto scroll to bottom, and added checkbox to tail or not for pausing

[2016-06-24 03:42] #2035 closed

[2016-06-24 08:36] #1962 closed

[2016-06-24 09:25] ducdhm commented on #1947
Need this feature (https://github.com/Kademi/keditor/issues/27) for adding width of edm when getting data of dynamic components

[2016-06-24 10:30] bradmac opened #2038 "Add group selection to containers"
Allow editing a list of groups for each container. Containers will only be rendered if there are no groups selected, or the current user is a member of a selected group

[2016-06-24 10:31] bradmac commented on #2038
@ducdhm can you please add editor support for selecting zero or more groups, and storing as a comma seperated list on a data attribute of the container

[2016-06-24 10:58] #1954 closed

[2016-06-24 11:10] #1888 closed

[2016-06-24 11:36] #1887 closed

[2016-06-26 21:37] bradmac opened #2039 "When an app is installed, it should be immediately enabled for the account"
Enable for the account when installed, but not for websites

[2016-06-26 21:47] bradmac opened #2040 "Improve validation message for rename file"
Currently if you try to rename a file to the same name as an existing file you get an generic "sorry" message, but not information about the actual error.

Please add a validation check just prior to renaming which will do an ajax request to check the entered name does not already exist, and if it does display an appropriate message to the user.

Also, please update the form to use a modal with in

[2016-06-26 22:05] bradmac opened #2041 "Changing the title on an existing page should not change the file name"
Currently, if i open the properties dialog on the page editor, when i edit the page title the dialog changes the file name as a type. When i save it saves the new title but also changes the file name.

This is correct for new pages only. When editing an existing page the file name should not change unless the user edits it directly.

[2016-06-26 22:18] bradmac opened #2042 "Automatically populate group name field from group title"
Similar to what we do for pages - https://github.com/Kademi/kademi-dev/issues/2041

When a new group is being created the name (ie code) field should be automatically populated from the title field by replacing spaces and special characters with dashes.

When editing the title on an existing group the name field should not be changed

[2016-06-26 22:29] bradmac opened #2043 "websites on base domain do not have valid ssl certs"
Eg https://kteam.olhub.com/

Gives:
kteam.olhub.com uses an invalid security certificate. The certificate is only valid for *.admin.olhub.com

[2016-06-26 22:54] bradmac opened #2044 "Integrate hazelcast with CacheManager"
Create an implementation of io.milton.cloud.server.manager.CacheManager for hazelcast, and integrate that with AWS configuration

[2016-06-26 22:55] bradmac opened #2045 "Add flush cache management tool to maintenance page"

[2016-06-26 22:56] #2045 closed

[2016-06-26 23:05] bradmac opened #2046 "Fix insert link button on Compose email in manage profile page"
Go to a profile in the admin, then go to the Emails page
Click compose
Click the "insert link" button.
The modal that pops up is screwy

[2016-06-26 23:09] bradmac opened #2047 "Manage profile Compose email should automatically add edmid and login token"

[2016-06-27 06:24] mamun4343 commented on #1937
this issue still exist!

[2016-06-27 06:27] mamun4343 commented on #1942
@bradmac  yeah, this problem occurs where there are no unsubs

[2016-06-27 07:07] mamun4343 commented on #1962
i dont see map in all accounts.

[2016-06-27 07:41] mamun4343 commented on #1988
i still see this http://kademi.admin.olhub.com/groups/
check here some are ok, many are not opening.

[2016-06-27 07:51] mamun4343 commented on #1929
still showing the old date. either remove the date and time or update it. not even updaing time and date after a page reload. seems like that time is static.

[2016-06-27 08:03] ducdhm commented on #1988
It's not deployed yet. Should check on your local!

[2016-06-27 08:03] #1988 closed

[2016-06-27 08:03] ducdhm commented on #1929
It's not deployed yet. Should check on your local!

[2016-06-27 08:03] #1929 closed

[2016-06-27 09:40] mamun4343 commented on #2000
its working cool, just i see a little bug,

check the attachment.
![untitled](https://cloud.githubusercontent.com/assets/3419573/16375437/4217b0ae-3c7d-11e6-8e7d-56b37396111c.jpg)

when the marks field is empty, then i see a @note.notes in front end. plz replace a default text there.

[2016-06-27 09:54] bradmac commented on #2000
:+1:

[2016-06-27 10:04] mamun4343 commented on #2025
working fine. but, i think we dont need 2 submit button therr. see attachment
![untitled](https://cloud.githubusercontent.com/assets/3419573/16376154/bd30356a-3c80-11e6-8c42-fbf897c4484d.png)

[2016-06-27 10:05] mamun4343 commented on #2032
so, this should be ignored for now.

[2016-06-27 10:27] bradmac commented on #2032
yep

[2016-06-27 10:29] bradmac commented on #2025
We've always had 2 buttons. Its because users sometimes think the Next button is only for going to the next page, and not submitting the quiz.

[2016-06-27 10:44] ducdhm commented on #2000
Can't reproduce it

[2016-06-27 11:00] mamun4343 commented on #1929
@ducdhm its cool in sandbox, need a deploy

[2016-06-27 11:02] ducdhm commented on #2000
Done!

[2016-06-27 17:40] ducdhm commented on #1947
Done width static container. Just need to do with dynamic content. `$width` is available for all dynamic content. And `$width` is content width of parent element which contains `data-dynamic-href` element

[2016-06-27 21:57] tuzzmaniandevil commented on #1664
@Uafinder I can't reproduce this. Can you check again?

[2016-06-27 22:56] bradmac opened #2048 "Points debit report probs"
View report here:
http://acb.admin.olhub.com/reporting/pointsDebit

And compare with the cart details here:
http://acb.admin.olhub.com/shopping-carts/185656168/#items-tab

Note the difference in the product descriptions. This is after re-indexing.

[2016-06-27 23:02] #2026 closed

[2016-06-27 23:23] bradmac opened #2049 "KademiSNICertificateManager to use config properties instead of calling Kademi.getPropertyOrDefault"
Currently KademiSNICertificateManager makes a call to the Kademi getproperty method every time it opens a new ssl connection

Instead, its configuration should be set in a constructor.

[2016-06-27 23:52] tuzzmaniandevil commented on #2044
Hazelcast already implements CacheManager. I've just updated to implement flush

[2016-06-28 03:18] #1907 closed

[2016-06-28 03:30] #2046 closed

[2016-06-28 03:33] #2049 closed

[2016-06-28 03:47] bradmac opened #2050 "ES module activity report, graph is incorrect"
Because there is a zero value and a non-zero value for dates

Eg
http://admin.zoetis.olhub.com/reporting/esModuleBreakdown

[2016-06-28 04:01] #2041 closed

[2016-06-28 04:22] bradmac opened #2051 "Cannot submit quizes with no selected correct answers in elearning"

[2016-06-28 04:22] #2051 closed

[2016-06-28 04:37] tuzzmaniandevil commented on #2048
This is because a single item can have multiple points debit records.

I've added Facets to the reports. Groups, Orgs and Points Buckets

[2016-06-28 04:38] #2048 closed

[2016-06-28 04:43] tuzzmaniandevil commented on #2043
Fixed :-)

[2016-06-28 04:43] #2043 closed

[2016-06-28 05:09] tuzzmaniandevil commented on #1747
I tried it, Sadly we don't support HTTPS for versioned websites like https://version1.test.loopbackdns.com
Any suggestions?

[2016-06-28 05:25] #2042 closed

[2016-06-28 08:07] mamun4343 opened #2052 "Restore backup failed if configurations checked alone or with others."
configs are not possible to restore.

![untitled](https://cloud.githubusercontent.com/assets/3419573/16408181/50b71552-3d39-11e6-8c33-9ccbb1238f21.png)

[2016-06-28 08:12] mamun4343 commented on #2052
uploading url: http://cginc.admin.olhub.com/backup/

downloaded file url: http://reward-demo.admin.olhub.com/backup/

[2016-06-28 16:45] ducdhm opened #2053 "Time for Automation test"
Hey guys,
I know we have a lot of things need to do but I'm sure that quality of Kademi is top priority. As known, all test stuffs we did by manual and there are no automation test for coverage what we did and have done. So I strongly recommend we should establish Automation system for our product ASAP.

I also had experience and setup Automation environment in my last company. I used [Robot Frame

[2016-06-28 21:43] tuzzmaniandevil commented on #1747
All fixed :-)

[2016-06-28 21:43] #1747 closed

[2016-06-28 22:15] bradmac commented on #1134
The programs folder is now created when the learning app is enabled.

[2016-06-28 22:15] #1134 closed

[2016-06-28 22:20] bradmac commented on #1979
Please create a task automatically to transcribe what has been captured

[2016-06-29 00:55] bradmac opened #2054 "Group tags should link to organisations, when not a root org"

[2016-06-29 00:57] #2054 closed

[2016-06-29 01:12] bradmac opened #2055 "Reporting components integrated with custom queries"
Required components
- table: display hits from an ES query in a table
- date histogram: display an aggregation as a histogram, eg number of page views per day
- pie chart: show an aggregation as pie slices

These components should allow the user to select a saved query (ie from Reporting-Queries) see https://github.com/Kademi/kademi-dev/issues/1822

Those which require an aggregation should allow

[2016-06-29 03:22] tuzzmaniandevil opened #2056 "OrgsMap Locator"
Not returning lng geo point correctly

[2016-06-29 03:22] #2056 closed

[2016-06-29 04:45] #2052 closed

[2016-06-29 04:51] #2030 closed

[2016-06-29 04:53] anhnt commented on #2040
![image](https://cloud.githubusercontent.com/assets/735555/16440883/0e2ff58e-3df0-11e6-9f8e-0c25a568adfb.png)

[2016-06-29 04:53] #2040 closed

[2016-06-29 06:59] mamun4343 opened #2057 "exporterd csv file always containg max 1000 emails for any range"
check here,
http://minda.admin.olhub.com/emails/

[2016-06-29 08:06] anhnt commented on #1944
It will look like following
![image](https://cloud.githubusercontent.com/assets/735555/16445038/0e26b940-3e0b-11e6-9f1c-9d75765fff87.png)

[2016-06-29 08:06] #1944 closed

[2016-06-29 09:02] anhnt commented on #1960
all fixed

[2016-06-29 09:02] #1960 closed

[2016-06-29 09:05] bradmac opened #2058 "SMS failure reason is not displayed on SMS history when retrying, and is incorrect after"
A client configured an incorrect sender id, and sends were failing, but the failure reason was not being reported.

When the sms hit its retry limit it said "Invalid number" which was not the correct failure reason.

http://admin.waterco.kademi-sandbox.co/smsHistory/

[2016-06-29 09:06] ducdhm opened #2059 "NullPointerException when updateMembership"

[2016-06-29 09:20] #2059 closed

[2016-06-29 09:25] #1941 closed

[2016-06-29 10:05] #1940 closed

[2016-06-29 11:10] #1959 closed

[2016-06-29 11:30] #1947 closed

[2016-06-29 11:48] #1939 closed

[2016-06-29 17:50] Uafinder opened #2060 "Organisations filter does not support multiple org types"
![image](https://cloud.githubusercontent.com/assets/1945230/16462672/ebb2d346-3e3a-11e6-9cd4-6d634e1f4049.png)

1. Add org to two or more org types
2. Back to the orgs list
3. Firstly, you will not see this in the org list, but that's a minor
4. Choose filter by org types - filter will only show you an org when it's a first in the list.

[2016-06-29 17:59] Uafinder opened #2061 "Much bigger action buttons like Save, etc"
Just spot that some buttons are really bigger for others. Is it a new style?
![image](https://cloud.githubusercontent.com/assets/1945230/16462898/176084b0-3e3c-11e6-8c9e-d5471b1b0e36.png)
![image](https://cloud.githubusercontent.com/assets/1945230/16462912/2ae228ea-3e3c-11e6-849b-b08d28faa547.png)

[2016-06-29 18:31] Uafinder opened #2062 "Minor debug info left on the points bucket debit tab"
![image](https://cloud.githubusercontent.com/assets/1945230/16463973/d288a8d6-3e40-11e6-8d12-bc7b1fe3fd64.png)

[2016-06-29 18:36] Uafinder opened #2063 "Date alignment should be another (manage user - > points)"
![image](https://cloud.githubusercontent.com/assets/1945230/16464147/7c63cf66-3e41-11e6-916e-4e16960f85c5.png)

[2016-06-29 18:39] Uafinder opened #2064 "Should pages be visible while debits counts not more than it's limit?"
![image](https://cloud.githubusercontent.com/assets/1945230/16464212/dd579924-3e41-11e6-8b91-8fae2bf3bf87.png)

[2016-06-29 18:43] Uafinder opened #2065 "Points bucket table issue"
![image](https://cloud.githubusercontent.com/assets/1945230/16464333/613a58c6-3e42-11e6-938a-1755b103070b.png)
![image](https://cloud.githubusercontent.com/assets/1945230/16464372/8dd1db48-3e42-11e6-80d0-a2c73cf76944.png)

it seems to be a two separate columns here. It should show groups and org types (when org type is selected)

[2016-06-29 19:04] Uafinder opened #2066 "Expired column always empty on points tab (points bucket)"
![image](https://cloud.githubusercontent.com/assets/1945230/16464986/517f3a3e-3e45-11e6-8267-ef21e59ef200.png)

You can select either value of days or expiration date. Result will be the same - expiration date will be empty.

[2016-06-29 19:06] Uafinder opened #2067 "Valid for days and choose an expiration date fields cannot be specified at the same time"
![image](https://cloud.githubusercontent.com/assets/1945230/16465069/ad77edc2-3e45-11e6-945c-55966d1a2a3e.png)
there should be some kind of validation, or some sort.

[2016-06-29 19:10] Uafinder opened #2068 "point tags issue"
1. Tags column always empty
   ![image](https://cloud.githubusercontent.com/assets/1945230/16465206/3424a432-3e46-11e6-97b9-79369a76df4a.png)
2. Tags are not calculating on the tags page - all values are zeroes
   ![image](https://cloud.githubusercontent.com/assets/1945230/16465229/51ead694-3e46-11e6-8526-ae3992766d4d.png)

[2016-06-29 19:15] Uafinder opened #2069 "points upload couldn't add new points record"
![image](https://cloud.githubusercontent.com/assets/1945230/16465353/e522e802-3e46-11e6-8c08-b62756d3da2c.png)
I am uploading a valid CSV file and receive message that it can't match my points by ID, which means it should add it i think

[2016-06-29 19:26] Uafinder opened #2070 "Strange thing with time while using filter by date"
![image](https://cloud.githubusercontent.com/assets/1945230/16465597/3f4ac45c-3e48-11e6-88a2-2cb75af782ce.png)
For example i wanna to filter by points by date and will setup "Today", it should show me same points
But it shows empty results
![image](https://cloud.githubusercontent.com/assets/1945230/16465643/75d61f62-3e48-11e6-9dae-ff788e0a1178.png)
Timezone is setupped correctly. Weird!

[2016-06-29 19:43] Uafinder opened #2071 "kcrm: event label color on dashboard"
![image](https://cloud.githubusercontent.com/assets/1945230/16466173/cc86da84-3e4a-11e6-9570-65f4ec9eec86.png)
The red label on the blue background makes my eyes to feel unlucky :)
How do you think, should it be changed?

[2016-06-29 19:47] Uafinder commented on #1937
Password policy - ok!
Opt-in...
Select all groups checkbox? And that's all?
![image](https://cloud.githubusercontent.com/assets/1945230/16466339/62f5fc0c-3e4b-11e6-9071-284b185a9fbe.png)

[2016-06-29 19:52] Uafinder opened #2072 "no success message when changing application parameters"
![image](https://cloud.githubusercontent.com/assets/1945230/16466494/061555ea-3e4c-11e6-8ed1-7aa258606364.png)
I've spot this on signup and ecommerce app today twice...

[2016-06-29 20:06] Uafinder commented on #1977
Is it possible to place user to some kind of hidden group called "Deleted" or "Recycle" when removing last membership. This will make it easier to change group memberships and give a possibility to easily restore deleted account?

[2016-06-29 20:09] Uafinder commented on #2007
https://github.com/Kademi/kademi-dev/issues/2072

[2016-06-29 20:35] bradmac commented on #1977
No, we will in the future create a hard link between a profile and its owner organisation

[2016-06-29 20:35] #1977 closed

[2016-06-29 20:37] bradmac commented on #2071
@paddyow please suggest appropriate brand colours (for this and other themes)

[2016-06-29 21:38] bradmac commented on #2069
No, if you give an explicit row ID then it will look for that row to update. If you want to insert the id needs to be blank

[2016-06-29 21:38] #2069 closed

[2016-06-29 21:40] bradmac commented on #2065
Its a single column which will show either org type or groups depending on the bucket type. Is there something wrong with that?

[2016-06-29 21:41] bradmac commented on #2064
Correct, paginator should not be shown in that case

[2016-06-29 21:43] bradmac commented on #2061
Yep, i think we have been guilty of having buttons difficult to find. Just makeing them bigger, green, and with an icon helps

[2016-06-29 21:43] bradmac commented on #2060
Yes, this page will need to be upgraded to be similar to manage users. But not yet :)

[2016-06-29 21:43] #2060 closed

[2016-06-29 22:32] bradmac commented on #2057
Deployed to beta, tested and works correctly - http://minda.admin.kademi-beta.co/emails/

[2016-06-29 22:51] #2057 closed

[2016-06-29 23:50] #2039 closed

[2016-06-29 23:50] #2029 closed

[2016-06-30 00:11] #1938 closed

[2016-06-30 00:48] #2010 closed

[2016-06-30 01:01] tuzzmaniandevil commented on #1637
I created a lead, Created a task. Closed the lead and all tasks were closed.
Did the same but cancelled the lead. Same result.

But I noticed the ES index wasn't being updated.

[2016-06-30 01:02] #1637 closed

[2016-06-30 02:40] anhnt commented on #1937
@Uafinder please check this issue for detail https://github.com/Kademi/kademi-dev/issues/1959
We just show groups which are mailing list type for optins

[2016-06-30 03:25] #1982 closed

[2016-06-30 03:55] tuzzmaniandevil commented on #1636
I've added the functionality so it creates the default groups if nothing is selected

[2016-06-30 04:48] tuzzmaniandevil opened #2073 "HLS generating failing with videos that don't have an audio channel"
Instead of specifying the mappings e.g. -map 0:0 -map 0:1 use -map 0 which will automatically map all channels. So if there is no audio channel it won't throw an error.

[2016-06-30 04:54] #2073 closed

[2016-06-30 05:07] anhnt commented on #1697
all fixed

[2016-06-30 05:07] #1697 closed

[2016-06-30 08:11] anhnt commented on #2066
works for me locally. need to test on prod

[2016-06-30 08:34] #2063 closed

[2016-06-30 09:48] #1981 closed

[2016-06-30 16:00] #1972 closed

[2016-06-30 16:01] anhnt commented on #1972
![image](https://cloud.githubusercontent.com/assets/735555/16495187/8242d9ec-3f16-11e6-80d0-2f2f4d42ac92.png)

[2016-06-30 23:45] bradmac opened #2074 "Move points bucket pages under products and stores menu"

[2016-06-30 23:46] #2074 closed

[2016-06-30 23:50] tuzzmaniandevil opened #2075 "Implement Shield for ElasticSearch, Also allow a prefix to be specified"
Shield is to support elastic.co clusters.

The prefix is so multiple Kademi clusters and use the same ES cluster. It adds a prefix to the index name.

[2016-07-01 00:01] #2075 closed

[2016-07-01 02:42] anhnt commented on #2066
works on prod as well http://admin.anhnt.olhub.com/points-buckets/anh-test/#debits-tab
Can you confirm @Uafinder

[2016-07-01 02:45] bradmac opened #2076 "Vietnamese characters not saved correctly"

[2016-07-01 03:27] #1636 closed

[2016-07-01 04:08] anhnt commented on #1971
![image](https://cloud.githubusercontent.com/assets/735555/16511592/1222c396-3f7c-11e6-8030-bc7f3dd1a544.png)

[2016-07-01 04:08] #1971 closed

[2016-07-01 04:23] tuzzmaniandevil opened #2077 "KongoDB: Implement Backup/Restore process"
This is so if an account it migrated somewhere else or is backup up. Any JSON DB data is also backed up. Useful for custom apps

[2016-07-01 04:26] #1951 closed

[2016-07-01 04:28] tuzzmaniandevil commented on #1872
There was an edge case when delayed triggers get fired it didn't create a trigger fired record. This has now been sorted.

[2016-07-01 04:28] #1872 closed

[2016-07-01 04:32] bradmac commented on #2076
This was only seen affecting forms using multipart. Its because they're parsed using commons-fileupload which was incorrectly using a non- utf8 encoding.

Workaround is to specify utf8 when we get the form field

Requires an upgrade of milton

[2016-07-01 05:03] #2076 closed

[2016-07-01 06:11] #1970 closed

[2016-07-01 07:25] #2077 closed

[2016-07-01 08:00] #1881 closed

[2016-07-01 09:09] #2021 closed

[2016-07-01 09:59] #1792 closed

[2016-07-01 09:59] anhnt commented on #1792
also fixed the bug that doesnt reload funnel and graph when new lead created

[2016-07-01 10:20] anhnt commented on #1650
To generate login token with given website and profile objects within custom app:

    var domain = formatter.getDomainName(website);
    var loginToken = page.find('/websites/'+website.name).current.getLoginToken(profile);
    var urlWithToken = 'http://' + domain + '/?'+ loginToken;

[2016-07-01 10:20] #1650 closed

[2016-07-01 17:16] ducdhm commented on #2038
@bradmac I'm done in my side. The rest is yours.

[2016-07-02 05:11] tuzzmaniandevil opened #2078 "AWS: Implement Route 53"
This will allow users to manage the domain from Kademi. All they will need to do is to point their domain to AWS domain name servers.

This is also needed because CNAME on the root domain causes errors with MX records. Route53 Uses an A alias record, which mean the world just sees an A record, but it acts like a CNAME record, pointing to CloudFront.

[2016-07-02 15:39] ducdhm opened #2079 "Lack of charset meta tag in template"

[2016-07-02 19:59] Uafinder commented on #2033
10. If file has a lot of strings - it shows only first 50 in the table. Not sure if it's a bug.

11. There no imported users are shown after uppload is fininshed without hard refresh.
![image](https://cloud.githubusercontent.com/assets/1945230/16542183/71ecb79c-40a7-11e6-968c-da618bbf7748.png)

12. There is a possiblity to push Next whch will leads you to next step but without import starting.

[2016-07-02 20:29] Uafinder commented on #2033
15.Looks like there is no automic profiles indexations after import and new profiles are not showing. I've spot it when i import ~400 users and it says that they was updated. But there was only two visible users, so it very weird.

[2016-07-04 00:06] bradmac commented on #2055
Completed table and date histo:

![screenshot-carters admin loopbackdns com 8080 2016-07-04 12-06-15](https://cloud.githubusercontent.com/assets/826458/16548351/c7610438-41df-11e6-987f-05730a442222.png)

[2016-07-04 00:07] bradmac commented on #2055
Here is the dashboard page code:
[code]

[2016-07-04 00:07] bradmac commented on #2055
And here is the saved logs query:
[code]

[2016-07-04 00:08] bradmac commented on #2055
@ducdhm can you please implement a pie chart component?

[2016-07-04 00:46] bradmac commented on #2055
To set this up:
1. Go to the manage search page
2. Click on logs
3. Click save, enter "logs" as the name
4. Go to the reporting page
5. Click on the Queries submenu
6. Edit the "logs" query
7. Enter the code above and run it (which will save it)
8. Now create an admin dashboard for admins with the source code above

[2016-07-04 02:06] #2079 closed

[2016-07-04 02:54] #1701 closed

[2016-07-04 03:29] anhnt commented on #1658
done

[2016-07-04 03:29] #1658 closed

[2016-07-04 04:45] #1860 closed

[2016-07-04 21:10] bradmac opened #2080 "Import users fails when a custom app is enabled"
Applies to
- new user importer
- group membership importer

[2016-07-04 21:39] bradmac commented on #2080
Disabled the progress commit and clear for MemberImporter. Evicting profiles on each row should be sufficient. Imported 1k without sign of slowing down

[2016-07-04 22:31] #2080 closed

[2016-07-05 02:20] paddyow opened #2081 "Queued triggers stats vary"
http://admin.rspca-sa.olhub.com/autoEmails/ (RSPCA SA) Folder

I took screenshots over 5 mins and noticed that queued trigger numbers would vary as I refresh the screen.

Screenshot 1:
![image](https://cloud.githubusercontent.com/assets/2201340/16572323/cc695ce8-42aa-11e6-81e4-bfe56203c329.png)

Screenshot 2:
![image](https://cloud.githubusercontent.com/assets/2201340/16572331/d847a06a-42aa-11e6-9

[2016-07-05 03:10] ducdhm commented on #1625
New menu items:
![aa](https://cloud.githubusercontent.com/assets/1289631/16572940/a3767de6-4298-11e6-8cf5-d7e1b16cf287.png)

[2016-07-05 03:34] bradmac commented on #2055
I still need to integrate with date range control

[2016-07-05 03:41] bradmac commented on #2081
Yes, because items in the queue will be getting processed.

[2016-07-05 03:41] bradmac commented on #2081
But its a bad sign that its retrying so many

[2016-07-05 04:36] tuzzmaniandevil opened #2082 "Reward Store: Fix issues for Org based purchases"

[2016-07-05 04:37] bradmac commented on #1608
Custom date view
![custom-date](https://cloud.githubusercontent.com/assets/826458/16574034/be1fe3cc-42ce-11e6-9d3f-4acd25529ea7.png)

[2016-07-05 04:38] bradmac commented on #1608
Custom date handling
![custom-date2](https://cloud.githubusercontent.com/assets/826458/16574042/d8cb715a-42ce-11e6-9447-5ea18aecbb1e.png)

[2016-07-05 04:49] #2082 closed

[2016-07-05 09:27] bradmac opened #2083 "Cannot filter automation"
http://admin.minda.olhub.com/autoEmails/

Choosing date range of last 7 days does not update the graph to show the last 7 days of data.

[2016-07-05 17:42] Uafinder commented on #2066
Not sure if i right, here is steps:
1. Setup expiration date for points bucket
![image](https://cloud.githubusercontent.com/assets/1945230/16593929/76ef4354-42f0-11e6-89dd-64715cbf385c.png)
2. Award some points to a user
![image](https://cloud.githubusercontent.com/assets/1945230/16593998/dae38cda-42f0-11e6-9b61-9d04f31ad9f2.png)
3. Watch that there is no expiration date
![image](https://cloud.git

[2016-07-05 17:43] Uafinder commented on #2061
Undarstood, thanks!

[2016-07-05 17:43] #2061 closed

[2016-07-05 17:44] Uafinder commented on #1937
Understood, thanks

[2016-07-05 17:44] #1937 closed

[2016-07-05 22:16] bradmac commented on #2066
The expiry date for a points record only gets set when that points record expires. That means in the example above the points records will only expire after 21/7/2016

[2016-07-06 02:32] bradmac opened #2084 "Allow filtering by form type on contact requests page"
The manage contact requests page should have filter options like on manage users, to restrict by form type.

http://localhost:8080/manageContacts/

![image](https://cloud.githubusercontent.com/assets/826458/25785598/f00fca72-33d8-11e7-81b5-871325897f79.png)

[2016-07-06 04:12] bradmac opened #2085 "Bulk update organisation geo-location"
Currently when you edit an organisation you can specify an address. You can then search google maps for it and select a location to set the organisation geo-location (ie coordinates)

But there is no way to do that in bulk. A client will be loading a list of 100+ organisations with addresses and it would be good if there was a way to automatically set the geo-location for all of them.

Please crea

[2016-07-06 07:31] paddyow opened #2086 "Existing profiles when uploading data"
@bradmac when it says Existing Profiles - does this mean in the data file or in the Kademi account?

![image](https://cloud.githubusercontent.com/assets/2201340/16610553/427f512c-439f-11e6-9933-8586cdcaf232.png)

[2016-07-06 07:33] paddyow opened #2087 "Import button"
http://admin.developer.olhub.com/manageUsers/

Step 3: Import

User should not be able to click the Next button as this does nothing and becomes confusing.  The only button they should press is the Import button to move on.

![image](https://cloud.githubusercontent.com/assets/2201340/16610605/a27ac7be-439f-11e6-86ba-7f72e53a8f79.png)

[2016-07-06 07:36] paddyow opened #2088 "Data uploader: Download Data after Import"
http://admin.developer.olhub.com/manageUsers/

After an import of data, add a button to download the results to a CSV.  CSV needs an extra column to show the status of each record i.e. failed, imported, updated etc

![image](https://cloud.githubusercontent.com/assets/2201340/16610662/01206c38-43a0-11e6-8427-02f3dbe4ea98.png)

[2016-07-06 07:38] bradmac commented on #2087
I think the next button should do the same thing as "Import now"

[2016-07-06 07:40] paddyow opened #2089 "Data not importing"
Data did not import with the following:

This admin account: http://admin.developer.olhub.com/manageUsers/
This data: [Excel1.xlsx](https://github.com/Kademi/kademi-dev/files/349268/Excel1.xlsx)
This group: http://admin.developer.olhub.com/groups/dt1/members/
This config:
![image](https://cloud.githubusercontent.com/assets/2201340/16610768/bd1e191c-43a0-11e6-8dc9-436ef996cce0.png)

[2016-07-06 07:45] paddyow commented on #2089
Note I updated the emails in the Excel document so they don't append a number after the .com and is failed.

[2016-07-06 07:46] bradmac commented on #2086
New profiles: rows where no existing profile was found, so a new one will be created
Existing profiles: rows where an existing profile was found, so will be updated

[2016-07-06 10:36] ducdhm commented on #1608
Done!

[2016-07-06 15:33] #2055 closed

[2016-07-06 15:33] ducdhm commented on #2055
Integrated with date range control!

[2016-07-06 23:31] #2078 closed

[2016-07-07 00:15] bradmac commented on #1608
I've integrated with the email history page.

@ducdhm can you now please integrate that across all admin pages, including
- dashboard panels
- automation history
- reports
- SMS history
- contact requests
- points buckets, points tab
- shopping carts
- reward points
- audit records
- submissions

[2016-07-07 00:21] bradmac opened #2090 "queryTable component to use ajax and page date selector and pagination"
The queryTable component should update when the page date selector is used to select a new range.

To do this i think its necessary to refactor the component to load data using ajax

See https://github.com/Kademi/kademi-dev/issues/2055

[2016-07-07 00:29] tuzzmaniandevil commented on #2033
15. **I tested it with 700 users and worked fine**

[2016-07-07 00:31] bradmac commented on #2090
Note that QueryService has been updated to apply "from" and "size" arguments if they are request parameters to enabled pagination.

[2016-07-07 00:42] tuzzmaniandevil commented on #2033
14 . **This has been fixed.**

[2016-07-07 00:44] tuzzmaniandevil commented on #2033
10.If file has a lot of strings - it shows only first 50 in the table. Not sure if it's a bug. **That's fine, It's just so users can see how to assign the culumns, the complete file still get's processed**

[2016-07-07 02:56] bradmac commented on #2038
Integrated server side now

![screenshot-version1 ecom1 loopbackdns com 8080 2016-07-07 14-54-44](https://cloud.githubusercontent.com/assets/826458/16641261/ea85fcf0-4452-11e6-965d-ee5fbf7bfc84.png)

[2016-07-07 02:56] #2038 closed

[2016-07-07 04:41] anhnt commented on #2085
http://waterco.admin.kademi.com.au/orgGeolocation/

[2016-07-07 04:41] #2085 closed

[2016-07-07 06:00] paddyow opened #2091 "New memberships in last 7 days does not look correct"
http://admin.minda.olhub.com/

New memberships in last 7 days does not look correct as 3000 profile as 3569 profiles have not been uploaded.

https://github.com/Kademi/kademi-dev/issues/2091z
![image](https://cloud.githubusercontent.com/assets/2201340/16643906/01138ef2-445c-11e6-84e2-c6165654556c.png)

[2016-07-07 06:26] #2091 closed

[2016-07-07 07:10] anhnt commented on #2033
In frontend code we just show first 50 records. I think we can improve that by adding a dropdown list indicate how many records should be displayed

[2016-07-07 07:11] bradmac commented on #2033
I think its ok as it is.

[2016-07-07 08:48] bradmac commented on #2033
Hey @Uafinder can you give us the URL of this account?

[2016-07-07 09:22] anhnt commented on #2033
1. **This has been fixed**
2. **This has been fixed**

[2016-07-07 09:23] anhnt commented on #2033
6. If default group is not selected, then user must indicate group column as destination field. Also if no destination field is selected, should alert an error message

[2016-07-07 11:01] anhnt commented on #2033
12: **this has been fixed**

[2016-07-07 11:25] anhnt commented on #2033
13.Fields list are not organized at all (there is sorting). **This has been fixed**

[2016-07-07 11:30] anhnt commented on #2033
11.There no imported users are shown after uppload is fininshed without hard refresh. **This has been fixed**

[2016-07-07 11:48] anhnt commented on #2033
8. There are should be a validation on file type when selecting file. **This has been fixed**

[2016-07-07 11:50] anhnt commented on #2033
Hey @tuzzmaniandevil  can you have look at 3, 4, 5, 7 please. I think its java part :)

[2016-07-07 22:44] tuzzmaniandevil commented on #2033
5 . Data type values are not showing in the import tool and doesn't import at all from Excel files. **Fixed**

[2016-07-07 23:21] tuzzmaniandevil opened #2092 "User Importer: Filter available fields depending on default group selection"
Suggestion: it could be great to filter available fields depends on default group selection. E.g. when you select minda for example it will show only fields in minda group.

[2016-07-07 23:21] tuzzmaniandevil commented on #2033
3: Suggestion: it could be great to filter available fields depends on default group selection. E.g. when you select minda for example it will show only fields in minda group. **Moved to a seperate issue** #2092

[2016-07-08 00:05] tuzzmaniandevil commented on #2033
4: Weird import result - **Fixed for xlsx files**

[2016-07-08 00:36] tuzzmaniandevil opened #2093 "ElasticSearch: Fix bug where index search always returned incorrect results"

[2016-07-08 00:47] #2093 closed

[2016-07-08 01:36] tuzzmaniandevil opened #2094 "OrgAppIndexer: Should not index delete organisations"

[2016-07-08 01:36] #2094 closed

[2016-07-08 02:08] bradmac opened #2095 "Make bs336 page templates compatible with content editor"
Eg, here is the profile page template

![profile-editor](https://cloud.githubusercontent.com/assets/826458/16754281/2261c67c-4845-11e6-80cb-29eec180b586.png)

[2016-07-08 03:33] bradmac opened #2096 "CX Journey Builder: Support multiple begin nodes"
Extension to - https://github.com/Kademi/kademi-dev/issues/1627

[2016-07-08 03:46] bradmac opened #2097 "CX Journey Builder: Setting timeout value"
When a timeout link is created, display a modal prompting the user to enter the duration of the timeout internal.

And when the user clicks on the timeout label, open the same modal to edit it

[2016-07-08 03:51] bradmac opened #2098 "CX Journey Builder: Node titles"
Each node should have a title property, which is a short description like "Day 1: Welcome email".

This should be displayed in the node body, and editable by clicking it

[2016-07-08 03:57] bradmac commented on #2098
Added a title property in java

[2016-07-08 03:58] bradmac opened #2099 "CX Journey Builder: Add a delete button to transition labels"
Transition labels should have an X to delete the transition

[2016-07-08 04:02] bradmac opened #2100 "CX Journey Builder: Remove label property from decision choice"
Should only be value, the label is generated dynamically

[2016-07-08 04:22] anhnt commented on #2020
can we just add a label to each result which shows whether that lead is cancelled or not? and probably just sort that result list to display non-cancelled lead first?

[2016-07-08 04:28] bradmac commented on #2020
No, we definitely do not want to show cancelled leads by default. For most clients there will be far more cancelled leads then active.

But something like what github has with open/closed issues would be nice

[2016-07-08 05:49] #2096 closed

[2016-07-08 07:17] #2100 closed

[2016-07-08 07:20] anhnt commented on #2099
should we apply to all connections to delete them? please advise @bradmac

[2016-07-08 08:34] bradmac commented on #2099
yep, every connection should be able to be deleted

[2016-07-08 10:04] #2099 closed

[2016-07-08 10:06] anhnt opened #2101 "CX Journey Builder: Do not allow begin node connect to another begin node"
Please advise!

[2016-07-08 10:07] bradmac commented on #2101
Begin nodes should only be a source node, should not be able to connect to them as a destination

[2016-07-08 10:09] anhnt commented on #2101
ok i will implement that rule

[2016-07-08 10:11] #1608 closed

[2016-07-08 10:14] #2101 closed

[2016-07-09 02:51] bradmac opened #2102 "Initialise admin org account"
When a new account is created (ie an admin domain is set on an organisation) the organisation should be initialised with an admin group:
- name is administrator
- title is capitalised
- primary group
- closed
- admin role on users organisation

[2016-07-11 02:54] #2097 closed

[2016-07-11 04:04] #2098 closed

[2016-07-11 04:13] anhnt opened #2103 "CX Journey Builder: Canceled deleting connection trigger editing modal showing"

[2016-07-11 04:14] #2103 closed

[2016-07-11 04:39] ducdhm opened #2104 "Can not drop container into duplicated container"

[2016-07-11 04:40] ducdhm commented on #2104
https://github.com/Kademi/keditor/issues/28

[2016-07-11 05:03] #2072 closed

[2016-07-11 05:07] #2104 closed

[2016-07-11 05:18] bradmac commented on #2095
Using a new templater so we dont need velocity template tags in the template. They get stripped out when saving from the editor

[2016-07-11 05:24] anhnt opened #2105 "CX Journey Builder: Begin node transition trigger should not be null"
As the title, should validate that when submit builder data

[2016-07-11 06:29] mamun4343 opened #2106 "Small visual bug : missed title"
check attachment. see red mark.
![untitled](https://cloud.githubusercontent.com/assets/3419573/16721696/fb96f5c2-4762-11e6-8c52-730007b60bea.png)

[2016-07-11 07:35] #2105 closed

[2016-07-11 07:36] anhnt commented on #2020
@paddyow will provide a design for that and i will update it then

[2016-07-11 08:03] paddyow commented on #2020
Hey guys I am thinking this where they can toggle active and closed leads using a drop down in the search box.  A lot of stock libraries use this method.

![image](https://cloud.githubusercontent.com/assets/2201340/16723670/bc265e26-4791-11e6-8804-d2648b8f1386.png)

Bootstrap example here: http://www.bootply.com/gWOb4RcY86

[2016-07-11 10:26] anhnt commented on #2020
just added a dropdown as design above. @tuzzmaniandevil can you help me with java side please?

[2016-07-11 10:40] anhnt commented on #2007
this one looks like fixed. tried many times and cant reproduce. Its just client side issue and was fixed in other issue i think

[2016-07-11 10:40] #2007 closed

[2016-07-11 11:41] #1861 closed

[2016-07-12 00:20] tuzzmaniandevil opened #2107 "New Date Selector causing error on Integration page"
[code]

[2016-07-12 03:25] bradmac commented on #2095
Have done:
- theme/home.html
- theme/page.html
- theme/apps/user/profile.html
- theme/apps/user/dashboard.html

[2016-07-12 03:28] bradmac opened #2108 "Make bs336 reward store templates content editor compatible"
Part of https://github.com/Kademi/kademi-dev/issues/2095

To do this we need to
1. Implement ComponentApplication on RewardStoreApp
2. Copy/paste the 2 component methods and the allComponents list from somewhere else (eg ReportingApp)
3. Edit the component details when added to the list
4. Create 3 component files for each component
5. Test in content editor by editing the template in the bs336 cu

[2016-07-12 03:37] #2107 closed

[2016-07-12 05:09] mamun4343 opened #2109 "need to support stripe for payment"
Currently we support only eway and Braintree . Plz add stripe .

[2016-07-12 05:11] tuzzmaniandevil opened #2110 "Change FileHashView to support AltFormatGenerator"

[2016-07-12 09:40] bradmac commented on #2109
Appears they are both very similar, Braintree slightly ahead in most areas

https://www.quora.com/What-are-the-pros-and-cons-between-Stripe-vs-Braintree-Payments

[2016-07-12 11:45] anhnt commented on #2108
@bradmac i've updated rewardstore templates to be compatible with content editor. 1 thing: its not rendered when view on the content editor like this `http://localhost:8080/repositories/bootstrap-theme/bootstrap336/website/theme/apps/rewardstore/contenteditor?fileName=rewardStoreDashboard.html` because there's no context for rewardstore app there. can you please advise?

[2016-07-12 21:43] #2110 closed

[2016-07-12 21:46] bradmac opened #2111 "Customer journey builder: Infinite canvas"
Currently the area for placing nodes is limited by screen area. We need to allow scrolling so the user can place nodes in an area larger then the view port.

Please make the width of the div 200px wider then the furthest right node

[2016-07-13 00:10] bradmac opened #2112 "Customer journey builder: Use content editor look and feel"
The node palette should have the same layout as the content editor, ie flush right, full height, with a visual for each node and hover text description. Should only be one list though (ie not 2 lists for containers and components.

Node details should show in a side panel form like component settings do, instead of navigating away from the main page to edit details. Note that we will also need a f

[2016-07-13 01:26] bradmac opened #2113 "Customer journey builder: Output anchors should be on the right"
Currently we have output ports located at the bottom 2 corners of nodes, left and right.

But this is confusing, we expect flow to be left to right, so output ports should be on the right

[2016-07-13 01:27] bradmac opened #2114 "Customer journey builder: Use right angle arrows"
Instead of curved arrows, use right angle arrows like in this xample

https://jsplumbtoolkit.com/demos/toolkit/flowchart-builder/index.html

[2016-07-13 01:31] bradmac opened #2115 "Timeout value to be specified in multiple units"
Currently the timeout value is just in minutes, and this is the value that gets stored.

Most users will specify the value in days, but it would also be good to allow entry as weeks, months and years.

[2016-07-13 01:36] bradmac opened #2116 "Customer journey builder: Remove user action"
This is typically for when there is an email failed result, we should remove the profile but not create an unsub

Should also close the current lead

[2016-07-13 01:37] bradmac opened #2117 "Customer journey builder: Add to group action"

[2016-07-13 02:35] bradmac commented on #2112
Note that we need 2 forms for each node
- brief settings for the side panel
- full page details

To do this we can use a standard parameter, eg
http://localhost:8080/funnels/nurture2/action-9bae81?renderSettings

This will be checked in the template, and if present only render the basic settings, and the funnel page will extract that section with a standard ID or class.

If that parameter is not p

[2016-07-13 11:54] anhnt commented on #2108
this is done now

[2016-07-13 11:54] #2108 closed

[2016-07-14 03:05] #2102 closed

[2016-07-14 04:24] tuzzmaniandevil commented on #2050
Seems to be ok with latest code:
![screenshot from 2016-07-14 16-23-53](https://cloud.githubusercontent.com/assets/3378330/16827947/6d933d4c-49df-11e6-8906-d7b06893b856.png)

[2016-07-14 04:56] #2050 closed

[2016-07-14 05:00] bradmac opened #2118 "Points balance calculation to use full credit/debits history"

[2016-07-14 08:41] anhnt opened #2119 "Component attributes are not initialized at the first time"
ComponentBean.add(allComponents,
            "signup/components", "registerForm",
            "Display signup form",
            ComponentBean.att("show-optins", "true").add("show-orgs", "true")

those attributes are null when first load

[2016-07-14 09:20] ducdhm commented on #2119
@anhnt You should add it in html. It will be added if you drag and drop it

[2016-07-14 09:21] ducdhm commented on #2119
There are 2 cases:
1. Component is ready in html. Based on data-* attribute of HTML tag to getting attributes
2. Component is added by drag and drop. Attributes of component will be default value in Java code

[2016-07-14 09:50] bradmac commented on #2119
:+1:

[2016-07-14 09:55] paddyow opened #2120 "See which blog article are performing the best"
![image](https://cloud.githubusercontent.com/assets/2201340/16835600/cc3169a6-49fc-11e6-8fa7-fc54a8589d8f.png)

Show overall blog hits across all blogs.
Show number of hits per blog article in the list view
Be able to choose date ranges

![image](https://cloud.githubusercontent.com/assets/2201340/16835591/c44682a8-49fc-11e6-929f-330f106d7b7d.png)

[2016-07-14 09:59] anhnt commented on #2119
This is the case: when user wants to edit stock template in content editor:

**user/register.html**

    <section>
            <div class="container-bg">
                <div class="container-content">
                    <div class="row">
                        <div class="col-sm-12" data-type="container-content">
                            <section data-type="component-registerForm">

[2016-07-14 11:49] anhnt commented on #2095
Signup app is done

[2016-07-14 22:29] bradmac commented on #2119
@anhnt the component is already placed, so whatever attributes it defines will be used. Best thing is just to set whatever attributes you want in the stock template

[2016-07-14 23:32] #2117 closed

[2016-07-15 00:00] paddyow commented on #2004
Does it rank them in any way?  For example shows the leads that need the most urgent attention?

[2016-07-15 00:02] paddyow commented on #1976
Perfect!

[2016-07-15 00:17] bradmac opened #2121 "Profile uploader - insert/update mode"
Add a select on import settings for choosing the mode
- insert only: existing profiles will not be updated, will be logged as an erro
- update only: will not insert
- insert or update: ie what it does now

Attempt to insert or update profiles where there is matching unsub will fail that row

[2016-07-15 00:23] bradmac opened #2122 "Profiles to have a home account"
Add a link from a profile to an admin account. If all memberships are deleted, that profile should still show as a user in that admin account

[2016-07-15 00:33] bradmac commented on #2004
Leads to be ranked by
- funnel position (ie hotter is higher)
- engagement (ie more engagements, and more recent)

[2016-07-15 00:35] bradmac opened #2123 "Lead colour coding"
Stages should have a colour associated. This will be used for funnel visualisation, and also for colour coding of leads.

@paddyow to provide creative.

[2016-07-15 01:33] paddyow opened #2124 "Cannot delete blog category"
http://kademi.admin.olhub.com/blogs/kb/

![image](https://cloud.githubusercontent.com/assets/2201340/16860940/b1f46196-4a7f-11e6-8049-b988968f1ae3.png)

Unable to scroll down.  The dropdown seems to open in the nested window and not the parent.

This also happens on the manage website page when you click on the bottom row dropdown button.
http://kademi.admin.olhub.com/websites/

![image](https://c

[2016-07-15 02:29] anhnt commented on #2119
:+1:

[2016-07-15 02:29] #2119 closed

[2016-07-15 04:06] ducdhm opened #2125 "Delete certificate in profile user"
Instead of delete certificate, the module is deleted!

[2016-07-15 04:13] tuzzmaniandevil opened #2126 "CsvInput: Stops reading file after certain amount of lines"

[2016-07-15 04:14] #2114 closed

[2016-07-15 04:22] bradmac commented on #2125
Only occurs when there is no certificate generated for that user and module

[2016-07-15 04:23] #2125 closed

[2016-07-15 05:29] #2111 closed

[2016-07-15 09:25] ducdhm commented on #2111
Done!

[2016-07-15 11:51] #2113 closed

[2016-07-15 12:38] anhnt commented on #2113
:+1:

[2016-07-16 07:56] ducdhm opened #2127 "Error when sending email"
Hi @bradmac, here is content of email which is sent from Kademi

[code]

Please help me check it.

Link to email trigger: http://cx-survey.admin.olhub.com/autoEmails/190602350/#action-tab

[2016-07-16 08:48] bradmac commented on #2127
The problem was having a newline in the subject

[2016-07-16 08:48] bradmac commented on #2127
We should add a validation rule to the automation and group email admin pages to disallow newlines in the subject field

[2016-07-17 22:56] bradmac opened #2128 "Show points transactions on organisation page"

[2016-07-17 23:49] bradmac opened #2129 "viewTriggerTimers page is still using its own date range selector"
Should be using the common date range selector

See apps/email/viewTriggerTimers.html

[2016-07-17 23:50] bradmac opened #2130 "manage users page, cannot add membership"
There is a js error on page load from the date range picker

[2016-07-18 00:01] #2130 closed

[2016-07-18 00:01] bradmac commented on #2128
Needs a tidy up. Hide balance calculator by default

[2016-07-18 05:53] paddyow opened #2131 "Limit scheduled group emails"
http://admin.ccqld.olhub.com/scheduledEmails/genesis-data-2/

When a group is added to a schedule, there is room for error where the admin user chooses a group which might contain end customer profiles.  In order to mitigate customer data being sent to the wrong group accidentally, limit the daily group send to only 5 profiles.

Update UI to note this and add warning message.

[2016-07-18 09:25] hoanglinhlan opened #2132 "Wrong URL when click view website"
http://lan.admin.olhub.com/websites/
**Desc**:
On Manage websites: click on Eye button to view Website
On Configure pages: click on "View website" button

**Expect**: show dashboard page (ex: http://version1.lanhl.olhub.com/dashboard)
**Actual**: show page http://version1.lanhl.olhub.com

[2016-07-18 09:42] bradmac commented on #2132
I think the view button on both should go to the home page. The configure page has a dropdown with options for other pages

[2016-07-18 18:01] Uafinder opened #2133 "Off for public switch for website missed color"
![image](https://cloud.githubusercontent.com/assets/1945230/16925001/bfd018ac-4d2a-11e6-907c-4a747e8a41a0.png)

![image](https://cloud.githubusercontent.com/assets/1945230/16925062/1313216c-4d2b-11e6-8b7f-4823aebc5d85.png)

[2016-07-18 21:08] bradmac commented on #2133
I think thats ok. The neutral colour is good, a red would be overpowering.

[2016-07-18 21:08] #2133 closed

[2016-07-18 21:36] bradmac opened #2134 "Points balance report"
- histogram showing distribution of balances. Maybe log distribution?
- filter on screen by range
- filter by parent org
- export to csv

Note: see points balance component

[2016-07-19 03:19] hoanglinhlan opened #2135 "Can not remove meta data tag or data tag"
Edit web pages
**Desc**: for meta data ( the same bug with data tag)

- create a new pages or edit properties of any page
- add a new meta data
- remove this meta data or old meta data ( in old page)

**Expected**: remove success
**Actual**: can not remove both new meta data or old meta data

[2016-07-19 03:25] anhnt opened #2136 "Blog post content editor is broken"
![image](https://cloud.githubusercontent.com/assets/735555/16937652/107a05e0-4d9b-11e6-9cab-1c45edf6ac97.png)

[2016-07-19 05:00] paddyow opened #2137 "Creating a new category in Automation created error dialogue"
http://kademi.admin.olhub.com/autoEmails/#

Folder was still created.

![image](https://cloud.githubusercontent.com/assets/2201340/16939085/7950eb26-4dc1-11e6-954d-e3afbe5db0a1.png)

[2016-07-19 08:22] ducdhm commented on #2137
Already fixed but not deployed yet on olhub.com

[2016-07-19 08:22] #2137 closed

[2016-07-19 09:13] hoanglinhlan opened #2138 "GUI: wrong responsive on kademi.co"
http://www.kademi.co/
do not scroll down
wrong responsive: refer img kademi.co.responsive01.png
wrong responsive when click button search kademi.co.responsive01.png
<img width="960" alt="kademi co responsive01" src="https://cloud.githubusercontent.com/assets/20508726/16942981/56cf895c-4dc3-11e6-909c-e3d8ddde48c4.png">
<img width="960" alt="kademi co responsive02" src="https://cloud.githubuserconte

[2016-07-19 10:42] hoanglinhlan commented on #2129
all page is ok, but in autions page I could'n saw the timer
Pls check again

[2016-07-20 03:00] tuzzmaniandevil commented on #2020
@anhnt Java side is done :-)

[2016-07-20 03:16] anhnt commented on #2020
updated client side. its ready for testing

[2016-07-20 03:34] tuzzmaniandevil commented on #2020
Tested locally, Looks good. @hoanglinhlan Over to you ;-)

[2016-07-20 04:04] hoanglinhlan commented on #2020
start test . . . :-)

[2016-07-20 09:49] hoanglinhlan opened #2139 "Loss parent category after refresh page"
http://emc.admin.olhub.com/categories/
**Desc**: step
- Edit a category, set parent category for this.
- Refresh page

**Expected**: keep parent category
**Actual**: their update was gone ( parent category set none)

[2016-07-20 10:46] hoanglinhlan commented on #2020
Confirm fixed ok
Dropdown have 3 option: Active / Won/ Lost
Search function working exactly for each option

[2016-07-21 01:11] paddyow opened #2140 "Be able to filter leads"
On the leads page be able to filter by tags

(BM: removed dashboard filtering requirement)

[2016-07-21 01:58] bradmac opened #2141 "Support js and css app dependencies"

[2016-07-21 02:32] ducdhm commented on #2141
:+1: :100:

[2016-07-21 03:58] anhnt opened #2142 "creating auction datetime picker not working"

[2016-07-21 10:07] ducdhm commented on #2112
Just need update form details for each of node type

FYI: The element which is loaded in Details panel in Right Panel need `id="frmDetails"`

[2016-07-22 02:28] bradmac commented on #1627
@ducdhm we still have OUT transition ports appearing on the left of nodes. These should all be on the right.

![screenshot-localhost 8080 2016-07-22 14-26-32](https://cloud.githubusercontent.com/assets/826458/17044893/6e3d0e1e-5018-11e6-9496-464fdc4fa819.png)

[2016-07-22 03:01] ducdhm commented on #1627
Like this, right?
![sssssssssssssss](https://cloud.githubusercontent.com/assets/1289631/17045391/39ce005e-4ff3-11e6-87ae-74d9c962a36b.png)

[2016-07-22 04:19] ducdhm commented on #1627
Updated UI:

![333](https://cloud.githubusercontent.com/assets/1289631/17046477/15a0bd92-4ffe-11e6-8b1a-c9299dc2e512.png)

[2016-07-22 04:25] bradmac opened #2143 "Edit funnel properties"
Extension to https://github.com/Kademi/kademi-dev/issues/1627

Users need to be able to edit funnel properties in the funnel management screen
- title;
- leadsGroup;
- defaultInitialGoal;
- sources;
- stages; // a sequential list of stages, eg cold->warm->hot
- extraFields
- lostReasons
- customerActivities; // a list of suggested activities for customer acvtiies, each call, email, etc
- funnelTes

[2016-07-22 04:38] bradmac opened #2144 "Funnel email action attachments"
Should support attachments on funnel email actions

[2016-07-22 08:37] #2112 closed

[2016-07-24 22:46] bradmac commented on #1627
@ducdhm the JB is initially showing with no lines:
![jb-no-lines](https://cloud.githubusercontent.com/assets/826458/17087026/dd1d990a-5254-11e6-908c-18fc9ef84ab7.png)

If i drag a node it then shows a line, but the IN port is located incorrectly, and is joining to a node off the canvas:
![jb2](https://cloud.githubusercontent.com/assets/826458/17087045/039ab630-5255-11e6-83a8-e23c5003c32f.png)

[2016-07-25 00:20] bradmac opened #2145 "Journey builder: do not default node content to NodeId"
Default to:
Enter description

[2016-07-25 00:34] bradmac opened #2146 "Jouney Builder: Cannot edit decision choices"
The decision node has an expression property. Just allow entering a MvelExpression, which is just a textarea

Each choice is an expression and a key. The key should be internally generated and not user editable. The choice expression should be

[2016-07-25 04:15] bradmac commented on #2134
@tuzzmaniandevil please sort detailed items by points balance.

[2016-07-25 05:03] hoanglinhlan commented on #2142
Confirm working ok

[2016-07-25 05:03] #2142 closed

[2016-07-25 05:10] hoanglinhlan opened #2147 "Creating auction: Must validate start date and end date"
Currently, I could add start Date > end date ( ex: start date = 05/08/2016 and end date = 01/08/2016).
I think we need validate it. Start date can not > end date

[2016-07-25 07:34] anhnt opened #2148 "Only load necessary dependencies for current app pages"
For example, when i am on ecom product detail page, it should load ecom deps only. now it loads all app deps and causing error

[2016-07-25 09:47] ducdhm commented on #1627
Brad step by step to reproduce
[code]

[2016-07-25 09:47] ducdhm commented on #1627
@bradmac I do the same step by step as you said but I can not reproduce.

[2016-07-25 10:03] hoanglinhlan commented on #2127
confirm validation ok

[2016-07-25 10:03] #2127 closed

[2016-07-25 11:02] bradmac commented on #1627
Possibly a browser issue. Try to reproduce with firefox.

[2016-07-25 22:32] bradmac commented on #2044
Cache stats are not appearing
http://rootorg.admin.kademi.com.au/maint#cache-tab

[2016-07-25 22:33] bradmac commented on #2148
We want all enabled apps to inject their dependencies in all pages so that
- components can work on any page
- the js/css/less can be compiled into single site wide files to optimise performance

[2016-07-25 22:33] #2148 closed

[2016-07-25 22:59] bradmac opened #2149 "Error when saving website with custom domain first time"
When a custom domain name is first entered and saved we see an error like this:

 Errors

[code]

(from http://kademi.admin.kademi.com.au/websites/kademico/version1/ )

Saving again works.

[2016-07-26 01:26] anhnt opened #2150 "JSON database: Could not save utf8 string"
I created a record with following json string:
`{"title": "Nguyễn Tuấn Anh"}`

but it saved as following:
`{"title": "Nguy?n Tu?n Anh"}`

test url: http://admin.anh.kademi.com.au/jsondb/anhapiDB/utf8test

[2016-07-26 02:47] ducdhm opened #2151 "Error when updating quantity in checkout page"

[2016-07-26 02:59] tuzzmaniandevil commented on #1955
@anhnt can you fix the styling for this please?

It's completely functional.

[2016-07-26 03:12] anhnt commented on #2129
there's no timer in auction page. i think you mean the date range picker @hoanglinhlan

[2016-07-26 03:13] hoanglinhlan commented on #2129
@anhnt yeap, It's mean the date range picker

[2016-07-26 03:45] ducdhm commented on #2151
Seems like it's server side issue. Example:
 * Current quantity is 23
 * I change to 24
 * **Expected**: 24
 * **Actual**: 47

[2016-07-26 03:53] #2132 closed

[2016-07-26 04:20] #2118 closed

[2016-07-26 04:21] tuzzmaniandevil commented on #2140
@anhnt Can you do the UI please? Currently i'm using this http://davidstutz.github.io/bootstrap-multiselect/

[2016-07-26 04:29] anhnt opened #2152 "Manage Auctions page to support filtering by date range"

[2016-07-26 04:29] anhnt commented on #2129
closing it now https://github.com/Kademi/kademi-dev/issues/2152

[2016-07-26 04:29] #2129 closed

[2016-07-26 04:31] bradmac commented on #2140
hey guys, dont use any fancy stuff. just do it the same as on the manage users page

[2016-07-26 04:32] bradmac commented on #2140
@anhnt it would be good to make this a pulldown filter list like github uses on the issues page so we have maximum screen area for displaying leads. But use the same display styles as manage users etc.

[2016-07-26 05:23] bradmac commented on #2151
No, its front end. If you refresh the page you actually see the correct value displayed.

Removing the call to trigger('change') in line 98 of checkout.js fixes it, but then editing the text box directly doesnt work.

So i think the logic just needs to be refactoring slightly.

[2016-07-26 05:30] bradmac commented on #2139
Seems to only happen when parent category has special characters in its code

[2016-07-26 08:12] ducdhm commented on #1627
Fixed

[2016-07-26 09:17] anhnt commented on #2140
just added a dropdown like following:
![image](https://cloud.githubusercontent.com/assets/735555/17132515/51f06152-534c-11e6-8944-e295975b10ea.png)

@tuzzmaniandevil please check my skype message for detail. The ES query is not working correctly at the moment.

[2016-07-26 09:26] bradmac commented on #2140
@anhnt please use a similar layout as github issues:
![screenshot-github com 2016-07-26 21-20-12](https://cloud.githubusercontent.com/assets/826458/17132821/84163f82-5377-11e6-9243-f1dbdbd224bb.png)

Also please remove the stats panel

[2016-07-26 09:27] bradmac commented on #2140
And please add a couple of extra filtering options for assigned to and source. So we can then filter by
- team
- tags
- assigned to
- source

[2016-07-26 09:46] ducdhm commented on #2145
Done!

[2016-07-26 21:11] tuzzmaniandevil commented on #2140
@anhnt Woops you are right :-) https://github.com/Kademi/kademi-dev/issues/2140#issuecomment-235209823 is now fixed

[2016-07-26 21:17] tuzzmaniandevil commented on #2140
@Brad should those filters also be multi select?

[2016-07-26 21:58] bradmac commented on #2140
Yes

[2016-07-27 00:56] tuzzmaniandevil commented on #2140
@anhnt I've done the Java side, Use the following params:
 - assigned to - assignedTo = Should be an array of profile id's
 - source to - sources = Should be an array of sources

We all ready filter by team and tags

[2016-07-27 02:33] hoanglinhlan commented on #2135
Confirm fixed ok

[2016-07-27 02:33] #2135 closed

[2016-07-27 02:46] hoanglinhlan commented on #2139
Confirm set and save parent category ok

[2016-07-27 02:46] #2139 closed

[2016-07-27 03:06] hoanglinhlan commented on #2145
UX comment: I think we should mouse focus textbox "Note title" when user click "Enter title"

[2016-07-27 03:43] ducdhm commented on #2145
Done!

[2016-07-27 03:57] hoanglinhlan commented on #2145
Confirm fixed ok

[2016-07-27 03:57] #2145 closed

[2016-07-27 04:59] anhnt commented on #2140
@hoanglinhlan its ready for testing now. can you please help :)

[2016-07-27 06:09] paddyow opened #2153 "Group signup report not working correctly"
http://admin.rspca-sa.olhub.com/reporting/groupSignups

Note the graph looks incorrect - Brad noted it might be throwing an exception
When you export the data the CSV does not show the list of profiles for the given time rane

[2016-07-27 08:12] hoanglinhlan commented on #2140
Source dropdown has not any value
![2140_sourcevalue](https://cloud.githubusercontent.com/assets/20508726/17168422/896e90ca-540c-11e6-97c5-5f28af1b9ab5.png)

[2016-07-27 08:48] anhnt commented on #2140
fixed in latest commit

[2016-07-27 09:44] hoanglinhlan commented on #2140
**Question**: When I creating a new lead, Source item is not require, so in list lead we have some lead what has blank source. ==> how to filter only leads have blank source

[2016-07-27 11:26] anhnt commented on #2140
i think source should be required

[2016-07-27 15:01] ducdhm commented on #2151
@bradmac Can you double-check again? I used the same code with ecommerce-demo site and it's working (http://ecommerce-demo.olhub.com/storeCheckout/)

[code]
It's cached value, not real value of input. If you dont trigger the change event of input, when you press `-` or `+`, it's just update value only on input, not on server

[2016-07-27 20:41] bradmac commented on #2140
@anhnt The source cannot be required. This is sort of like a milestone in github issues, the user should be able to search for leads with no source. @tuzzmaniandevil might need to add server side support for searching for leads with no source

[2016-07-28 00:11] tuzzmaniandevil commented on #1994
I've fixed the search query and also changed it to use ES instead of DB.

[2016-07-28 01:04] tuzzmaniandevil commented on #1965
Done @hoanglinhlan  please test :-)

[2016-07-28 01:49] bradmac opened #2154 "Deleting all products is very slow"
Deleting 1000 products from EMC account on AU servers is taking a long time, several minutes at least.

[2016-07-28 02:43] bradmac commented on #2154
Possibly use HQL to do a batch update statement, since we're only soft deleting

[2016-07-28 03:29] bradmac commented on #2143
Couple of changes
- please make the group a select box with a list of groups
- remove "Default Initial Goal"

[2016-07-28 03:34] bradmac commented on #2143
Stages are not saving.
- add a stage
- save
- refresh page
- stages list is empty

[2016-07-28 04:36] tuzzmaniandevil commented on #1993
I've tested this on AWS and locally. both work correctly.

[2016-07-28 04:37] tuzzmaniandevil commented on #1993
I've re-added the sales role check.

[2016-07-28 04:41] ducdhm commented on #2143
Done!

[2016-07-28 06:05] bradmac commented on #2151
@ducdhm I'm pretty sure it is a front end issue. The server side just sets the quantity its given, and I confirmed that the front end does submit the correct value.

Refreshing the front end shows the correct value, so its not just caching

[2016-07-28 06:06] bradmac commented on #2151
If you think it is server side, just put a breakpoint in ShoppingCartResource line 166 and verify if the correct quantity is being used

[2016-07-28 06:08] bradmac commented on #2151
[code]

And you can check the final value being written to the cookie in line 408
[code]

[2016-07-28 09:56] ducdhm commented on #2151
@bradmac At line 394, it's adding current quantity with update quantity
[code]

[2016-07-29 00:28] paddyow opened #2155 "Product image upload error"
Customer uploaded these images:

![austww12m](https://cloud.githubusercontent.com/assets/2201340/17233873/09452442-5577-11e6-824f-08397271e2e6.jpg)
![farmtrader12m](https://cloud.githubusercontent.com/assets/2201340/17233874/09460164-5577-11e6-85a0-662afaba7bf7.jpg)

Here: http://emc.admin.kademi.com.au/product-images/

And got this error but the images were uploaded.

![error](https://cloud.githu

[2016-07-29 02:02] hoanglinhlan commented on #2033
**Pass**: 1-2-4-5-6-8-9-11
**Fail**:
7:
- Organization must always required, but I can import user without Organization ( At Complete step: system report create new user however I can't saw new user in list user)
- on configuration group created an extra field and set require for this. Currently, system allow create new user has not require extra field.

14: Calculating existing profiles doesn't w

[2016-07-29 05:52] anhnt commented on #1863
![image](https://cloud.githubusercontent.com/assets/735555/17239056/510ffe3c-558b-11e6-955d-b9223fd98896.png)

[2016-07-30 08:48] ducdhm commented on #2146
@bradmac Please help me add handler for custom type. Example: Type of `expression` is `Expression` button the value which I POST to server is `String`

[2016-07-30 09:07] anhnt commented on #1884
![image](https://cloud.githubusercontent.com/assets/735555/17269334/a967b9b4-566f-11e6-9a82-6430362b81c8.png)

[2016-07-30 20:35] #2066 closed

[2016-08-01 00:44] bradmac commented on #2136
Fixed.

[2016-08-01 00:45] bradmac commented on #2136
@hoanglinhlan please check that blog article editing and web page editing are working correctly with the drag/drop editor.

[2016-08-01 00:56] bradmac opened #2156 "Cannot edit org type"
- Create an organisation type
- Create an organisation
- Click to edit the organisation
- There is no field to change the organisation type

[2016-08-01 01:26] bradmac commented on #2020
Hey @paddyow can we remove the active filter from the menu area? We're stuffing way too much into the menu. I think it should just search for active only from the menu, and the user can filter on the leads page.

[2016-08-01 01:30] bradmac commented on #2020
@anhnt Can you please remove the status selection from the menu?

Also, just noticed that the Calendars menu is hard coded. This should be removed, because apps should add their menus when enabled.

[2016-08-01 01:59] bradmac opened #2157 "Cannot add team member using teams app"
- logged in here http://vtlcrm.kademi.com.au/team/ as this user http://vtl.admin.kademi.com.au/manageUsers/19834783/
- Attempted to add a new team member
- Got error
![screenshot-vtlcrm kademi com au 2016-08-01 13-58-07](https://cloud.githubusercontent.com/assets/826458/17281386/16332890-57f0-11e6-889f-ddd8c38112c5.png)

[2016-08-01 02:01] bradmac opened #2158 "Error displaying donut map in KCRM"
- logged in as this user http://vtl.admin.kademi.com.au/manageUsers/19834783/#summary-tab
- to this KCRM http://vtlcrm.kademi.com.au/dashboard
- there is an error displayed in the map on the dashboard
- js logs say the gmaps key is invalid.

I dont know where the key is configured

[2016-08-01 02:06] bradmac opened #2159 "Uploading organisations CSV did not update orgs index"
Saw issue in this account:
http://vtl.admin.kademi.com.au/

- I manually created 4 orgs (3 regions and 1 dealer), and then uploaded a spreadsheet of dealers.
- Checked the search index page and saw only 4 items in the orgs index
- Reindexed and all 15 appeared

[2016-08-01 02:09] bradmac opened #2160 "Leads org search is using the wrong setting"
When logged in as this user:
http://vtl.admin.kademi.com.au/manageUsers/19834783/#summary-tab

This returns no results:
http://vtlcrm.kademi.com.au/leads?orgSearch=dealer

But there are several organisations beginning with 'dealer' and with the org type specified for leads in the leadman settings.

It appears the org search is searching for the sales org type instead of lead org type.

[2016-08-01 02:11] bradmac commented on #2160
Also updated when creating a lead

[2016-08-01 02:33] anhnt commented on #2020
done

[2016-08-01 02:43] bradmac opened #2161 "KCRM contacts page is displaying sales consultants"

[2016-08-01 02:53] tuzzmaniandevil commented on #2161
The search will now filter by lead group

[2016-08-01 02:54] tuzzmaniandevil opened #2162 "Adjust CategoryTableProvider and ProductInCategoryTableProvider to try find a category by name or title"

[2016-08-01 03:01] tuzzmaniandevil commented on #2157
This is because no group was selected, and no groups are showing on the modal because no team groups have been setup :-)

[2016-08-01 03:02] bradmac commented on #2157
OK, we need a meaningful error message.

[2016-08-01 03:03] tuzzmaniandevil commented on #2157
Though I just found a bug when selecting the team groups.

[2016-08-01 03:06] tuzzmaniandevil commented on #2157
I've added a field error. So will tell you that a group is now required :-)

[2016-08-01 03:07] bradmac commented on #2157
And there should be a meaningful error that the app is not configured, if configuration is missing

[2016-08-01 03:10] tuzzmaniandevil commented on #2157
Added an alert to the modal saying:
`No team groups have been configured, Please configure Teams groups in the admin console.`

[2016-08-01 03:31] hoanglinhlan opened #2163 "Leads page: additional filter button"
Please add filter button to allow status filtering on these

- Active - leads which are still in progress
- Closed - leads which have been won
- Lost - leads which have been cancelled

[2016-08-01 03:35] tuzzmaniandevil commented on #2159
Fixed, Also fixed it when an org is removed it wasn't removing it from the index.

[2016-08-01 03:53] tuzzmaniandevil commented on #2134
Done

[2016-08-01 04:10] ducdhm commented on #2158
Now we have variable name `$googleMapKey` in `masterTemplate.html` for config gmap key

[2016-08-01 04:29] anhnt commented on #2156
can add or remove org type here
![image](https://cloud.githubusercontent.com/assets/735555/17283478/1f5a5db8-57db-11e6-81b4-31471d4c836b.png)

[2016-08-01 04:32] anhnt opened #2164 "org.getSelectedOrgTypes returns only 1 item"
Can you please have a look :) @tuzzmaniandevil

[2016-08-01 04:47] bradmac commented on #2164
@anhnt please use org.allSelectedOrgTypes()

[2016-08-01 04:52] ducdhm commented on #2158
Deployed!

[2016-08-01 05:03] anhnt commented on #2164
Now it is showing all org types in org list page

[2016-08-01 07:09] anhnt opened #2165 "could not save lost reasons on funnel properties management"

[2016-08-01 07:25] anhnt commented on #2163
done

[2016-08-01 09:48] ducdhm commented on #2146
Done!

[2016-08-01 10:04] hoanglinhlan commented on #2160
confirm work ok

[2016-08-01 10:04] #2160 closed

[2016-08-01 11:46] anhnt commented on #1862
done

[2016-08-01 21:43] tuzzmaniandevil opened #2166 "Add SwipeHQ as a Payment gateway"
https://www.swipehq.co.nz/support/categories.php?cat=Developers

Library: https://github.com/tuzzmaniandevil/SwipeHQ-Wrapper

[2016-08-01 22:03] bradmac commented on #2022
@paddyow what do you think about using tags for job title?
Advantages would be
- can then segment on job title, ie send email to all CTO's
- quick to add

But would need to be able to add tags on the fly

[2016-08-01 23:23] bradmac opened #2167 "Tags list should be in one row"
Please move the list of tags up to be in a row with the add tags button
![screenshot-vtlcrm loopbackdns com 8080 2016-08-02 11-21-44](https://cloud.githubusercontent.com/assets/826458/17311983/76149038-58a3-11e6-90c2-f7dafbbf015b.png)

[2016-08-01 23:28] bradmac opened #2168 "KCRM menu layout breaks on medium resolution"
![screenshot-vtlcrm loopbackdns com 8080 2016-08-02 11-28-12](https://cloud.githubusercontent.com/assets/826458/17312088/40acdf4e-58a4-11e6-905e-ab53e4d13927.png)

[2016-08-02 00:31] bradmac opened #2169 "KCRM Funnel does not count leads without a source"
I have 3 leads loaded, where only one has a selected source. But on the analytics page it only shows 1 lead in the funnel

![screenshot-vtlcrm loopbackdns com 8080 2016-08-02 12-28-53](https://cloud.githubusercontent.com/assets/826458/17313075/b9fd114a-58ac-11e6-9091-ec8d5f025cc3.png)

All 3 leads are in the returned json. From firebug:

stages
    [Object { sources=[0],  name="cold",  count=2,  m

[2016-08-02 00:40] bradmac opened #2170 "KCRM Lead page banner image should be flush left and top"
![screenshot-vtlcrm loopbackdns com 8080 2016-08-02 12-24-45](https://cloud.githubusercontent.com/assets/826458/17313258/2463062e-58ae-11e6-9f47-0e420f47e21d.png)

There should be no gap to the top or sides of the banner image. The image should have inner padding so the buttons and avatar icon inside the image stay where they are now, ie are vertically aligned with controls below the image

[2016-08-02 02:48] tuzzmaniandevil commented on #1886
One reason is it will only show stats for the last 30 Days. This restriction can be removed or a date selector can be added.
@bradmac thoughts?

[2016-08-02 02:53] bradmac commented on #1886
Lets make it for the current calendar year for now. Pat might need to make some design suggestions on a date control

[2016-08-02 03:02] tuzzmaniandevil commented on #1886
Ok done.

[2016-08-02 03:14] bradmac opened #2171 "KCRM dashboard map does not show stats from sub-teams"
A sales manager should see stats from the teams under them. For example, for VTL the head of sales should see donuts representing each office with its number of leads. But currently it looks like this, because its not including sub-teams, ie an empty map

![screenshot-vtlcrm kademi com au 2016-08-02 15-25-16](https://cloud.githubusercontent.com/assets/826458/17316129/867e03ba-58c5-11e6-878d-376780

[2016-08-02 03:53] tuzzmaniandevil commented on #2044
I've moved the HazelcastCacheManage to Kademi-server instead of kademi-aws and make some tweaks to the flush method.

[2016-08-02 05:04] ducdhm commented on #2170
New UI:
![aa](https://cloud.githubusercontent.com/assets/1289631/17317550/3d954c24-58a9-11e6-9088-a012b3dd7b83.png)

[2016-08-02 05:23] bradmac commented on #2170
Perfect

[2016-08-02 06:17] tuzzmaniandevil opened #2172 "EmailSync app"
Create a new app that can download emails from POP3 or IMAP and store it against the profile.
A user should be able to setup credentials in the admin.
This is primarily for use with KCRM so a sales consultant can automatically record emails sent back and forth without having to BCC to the lead.

We store all emails received from the mail server, this is because there is a very likely chance contac

[2016-08-02 07:35] hoanglinhlan commented on #1863
1.> I can't change order image
2.> when select image, user want to view full img. Must show full img, remove scrollbar
![carousel](https://cloud.githubusercontent.com/assets/20508726/17320545/4ec5a9fc-58be-11e6-9430-89f80d995c59.png)

[2016-08-02 07:59] hoanglinhlan commented on #2170
confirm fixed

[2016-08-02 07:59] #2170 closed

[2016-08-02 08:35] tuzzmaniandevil commented on #2172
Now have basic impl of POP3 and IMAP syncers.

Both support none secure and TLS/SSL connections.

[2016-08-02 08:38] tuzzmaniandevil commented on #2172
The IMAP Syncer will attempt to walk down the folder tree, This ensures all emails get synced.

[2016-08-02 08:41] tuzzmaniandevil commented on #2172
@bradmac would you mind having a look?

[2016-08-02 09:02] hoanglinhlan commented on #1884
1.  select Manual radio, should keep default map (actual: don't show anything)
2. curently, default ratio is 16:9, so pls high light "16:9" button when the first time open setting tab.
3. select any ratio button, then hide setting tab, then reopen setting tab, ratio button selected not high light

[2016-08-02 09:11] hoanglinhlan commented on #1884
4. At the first time open setting, select manual ( do not input anything), then hide setting tab, then reopen this, mapAddress textbox has embed code ==> should keep blank value

[2016-08-02 09:41] anhnt commented on #2090
done

[2016-08-02 10:01] hoanglinhlan commented on #2157
I created success ( mess: member added)
but I can't see this member in table
![teampage-newmember](https://cloud.githubusercontent.com/assets/20508726/17324866/b7d28212-58d2-11e6-9aa0-68b5e4c49c58.png)

[2016-08-02 10:18] anhnt commented on #1884
all fixed :-)

[2016-08-02 10:26] hoanglinhlan commented on #2156
confirm fixed

[2016-08-02 10:26] #2156 closed

[2016-08-02 11:17] bradmac commented on #2172
That looks awesome! Here's a few comments
- I want to use this, but i definitely DO NOT want it to suck in all my emails. So how about we have a create mode option
 - only link to existing leads
 - only link to existing profiles
 - create profile if none match
 - create lead if none match (and profile of course)
- Usually an organisation will use all the same mail servers, and only username/passwo

[2016-08-02 17:44] mamun4343 commented on #2138
@hoanglinhlan this is fixed! please check!

[2016-08-02 18:06] ducdhm commented on #2167
New UI: ![bbbbbbbb](https://cloud.githubusercontent.com/assets/1289631/17339512/78e1878a-5916-11e6-81a2-1eaec6570f20.png)

[2016-08-02 18:25] ducdhm commented on #2168
Navbar in breakpoints:
![aaaaaaaaaaaaaaaaaaaaaaaaa333333333](https://cloud.githubusercontent.com/assets/1289631/17340126/1e48cb28-5919-11e6-8869-195161033c5c.png)

[2016-08-02 23:05] tuzzmaniandevil commented on #2157
Very weird as no team groups have been setup. So could be a caching issue for you. I see this which is correct:
![screenshot from 2016-08-03 11-03-13](https://cloud.githubusercontent.com/assets/3378330/17348378/e692a824-5969-11e6-8993-cf24ccf23fcc.png)

and after setting up the team groups I see this:
![screenshot from 2016-08-03 11-04-42](https://cloud.githubusercontent.com/assets/3378330/1734841

[2016-08-03 00:39] tuzzmaniandevil commented on #2157
Found the reason as to why user's weren't showing up. Incorrect query when searching for users.

[2016-08-03 01:07] tuzzmaniandevil commented on #2033
14: Calculating existing profiles doesn't work. Selected profile is on the files, but it counted like new. - **This should now be corrected :-)**

[2016-08-03 02:14] bradmac commented on #1877
I think this is resolved

[2016-08-03 02:19] bradmac commented on #2062
@anhnt can you check please? might only be when debits are empty

[2016-08-03 02:20] paddyow commented on #2022
From a user experience:
- I want to be able to type and have past job titles appear in a drop down so I can select one if it has been used before
- If the job title does not exist, I want to be able to add it so I can re-use it again

If we use tags I guess all other tags will appear as I start typing?

[2016-08-03 02:34] bradmac commented on #2022
After talking with @paddyow have decided that for now we should just add a job title text field. This can be an additional column no the Lead table.

This should be an auto-complete text field, pulling a list of job titles from other leads.

@tuzzmaniandevil can you please add the column and simple text field, and an ajax service to get a list of job titles (eg using a terms query on the leads app

[2016-08-03 02:38] bradmac commented on #2128
Eg
http://carters.admin.kademi.com.au/organisations/11512357/edit

![screenshot-carters admin kademi com au 2016-08-03 14-38-29](https://cloud.githubusercontent.com/assets/826458/17352080/fcbe4658-5987-11e6-8b6e-65dde443faa5.png)

[2016-08-03 02:51] tuzzmaniandevil commented on #2033
7:
- **An organization isn't required when importing users, if no org is provided the admin org is used**
- **The required field is for the front end only, not for admins on the back end**

[2016-08-03 02:53] tuzzmaniandevil commented on #2009
That just creates a note when filled out

[2016-08-03 03:29] bradmac commented on #2009
Notes should appear on the timeline

[2016-08-03 04:57] ducdhm opened #2173 "UX issue with website picker on integration screen"
Now we have 2 website picker on Endpoint and Schedule tab. We should have one for all

Maybe we should move  website picker on right of tab header

[2016-08-03 07:15] hoanglinhlan commented on #1884
confirm fixed ok

[2016-08-03 07:15] #1884 closed

[2016-08-03 08:22] hoanglinhlan commented on #1994
assign new contact ok

[2016-08-03 08:22] #1994 closed

[2016-08-03 08:34] hoanglinhlan opened #2174 "when validate form, the highlight is incorrect."
http://kcrm.olhub.com/leads/132046956/

- Click change profile
- do not input any thing, then click submit
- highlight Phone text although Phone is not mandatory field

[2016-08-03 08:39] #1877 closed

[2016-08-03 09:20] #2020 closed

[2016-08-03 09:41] anhnt commented on #1404
Modified jquery.mselect to have an option `mselectAll: true` to show all files types.
![image](https://cloud.githubusercontent.com/assets/735555/17361156/2a5be2e4-5999-11e6-87c2-0af6adbba97a.png)

[2016-08-03 10:06] hoanglinhlan commented on #2023
Created or added company success

[2016-08-03 10:06] #2023 closed

[2016-08-03 10:14] hoanglinhlan opened #2175 "view profile contact page: Cant saw company's information when creating company"
2 case:
.1. create a new company, then input for all field. Created success but system do not show any information of this company
![creatcompany](https://cloud.githubusercontent.com/assets/20508726/17361999/5b5a8d88-599d-11e6-9204-2fbfa4fa4f22.png)

.2. selected an existing company, then change something. Assigned success but data not updated

[2016-08-03 10:29] #2163 closed

[2016-08-03 10:31] #2138 closed

[2016-08-04 00:47] tuzzmaniandevil commented on #2009
Found the problem, The note was being created against the current logged in user, not the profile of the lead.

[2016-08-04 00:51] tuzzmaniandevil commented on #2009
Is should show in the timeline of the lead according to the code. I'll test it.

[2016-08-04 00:57] tuzzmaniandevil commented on #2009
Just tried it and this is the result, You can see the note "Nothing Happend" and a timeline item showing the note being created:
![screenshot from 2016-08-04 12-56-12](https://cloud.githubusercontent.com/assets/3378330/17386892/dc0b901c-5a42-11e6-814b-490a2f23d6ce.png)

[2016-08-04 00:57] tuzzmaniandevil commented on #2009
This is the URL I tested it with:
http://test.kademi.com.au/leads/19745247/

[2016-08-04 02:50] tuzzmaniandevil commented on #2154
You are right, It slows down as it processors more products. Flushing the session helped a lot!

[2016-08-04 03:41] tuzzmaniandevil commented on #2022
I've added the field and API.
@anhnt to access the jobTitle API you use ?jobTitle if you want to add a query use "q"
so for example
`http://version1.test.loopbackdns.com:8080/leads/1/?jobTitle`
or
`http://version1.test.loopbackdns.com:8080/leads/1/?jobTitle&q=Test`

This will return a JsonResult with an Array in the data, e.g.:
[code]

[2016-08-04 04:54] #2174 closed

[2016-08-04 07:00] anhnt commented on #2064
done. @hoanglinhlan let me know if you need a hand to setup test data

[2016-08-04 07:38] hoanglinhlan commented on #2165
saved ok

[2016-08-04 07:38] #2165 closed

[2016-08-04 07:40] anhnt commented on #2062
looks like its fixed

[2016-08-04 09:29] #2167 closed

[2016-08-04 10:16] #2164 closed

[2016-08-04 10:28] anhnt commented on #2022
![image](https://cloud.githubusercontent.com/assets/735555/17398815/e98492fe-5a68-11e6-96f6-81ba7df121b3.png)

[2016-08-04 10:57] anhnt commented on #2083
we've replaced that date range control with global one. it should work fine now

[2016-08-04 10:59] anhnt commented on #1863
this one was fixed :)

[2016-08-04 11:09] anhnt commented on #2106
fixed

[2016-08-04 12:27] ducdhm commented on #1863
I think we just need a button for toogle the Fit or Full size of image

[2016-08-04 23:09] tuzzmaniandevil commented on #1095
- add auto-login tokens for links to kademi websites - **Done**

[2016-08-04 23:31] bradmac opened #2176 "KCRM attachment handling"
Extension to https://github.com/Kademi/kademi-dev/issues/1095

Sales consultants would often like to be notified when a lead opens an attachment. One way we can support that is by automatically detaching attachments and placing into a website with FunnelApp enabled, and inserting a link in the email. The link will include login tokens as per #1095 and will notify the sales consultant.

[2016-08-04 23:32] bradmac commented on #2176
@paddyow can you please review the requirement above?

[2016-08-04 23:34] tuzzmaniandevil opened #2177 "Document New feature: Using "Forward to" on a lead will automatically add login tokens"
A new feature has been added when sending an email to the forward-to address of a lead.

Is will now automatically add login tokens to any links that points to a Kademi website that is inside the same admin org as the lead and if the FunnelApp is turned on on the website the link refers to.

For example, if the email contained a link to `http://www.kademi.co` and the FunnelApp is turned on for tha

[2016-08-04 23:36] paddyow commented on #2176
I think this is awesome.  The question is around how the link is obtained from the UI, then copied and pasted into the email body when using an external email client.  W

We could have an icon (next to the file they upload) that they click on, opens a dialogue and allows the link to be copied.

Also I like the reporting for URLs here http://kademi.admin.olhub.com/shortUrl/

[2016-08-05 00:09] bradmac commented on #2176
Updated description to reflect Pat's ideas.

[2016-08-05 01:08] paddyow opened #2178 "Data Uploader - No records imported"
http://uploader-test.admin.kademi.com.au/manageUsers/

[Inside.xlsx](https://github.com/Kademi/kademi-dev/files/402969/Inside.xlsx)

- I uploaded the attached as an Excel and CSV.
- There are 42 records
- Kademi says there are 236 records which is incorrect

![image](https://cloud.githubusercontent.com/assets/2201340/17423249/bb6e7daa-5afc-11e6-87aa-6d43dc07a505.png)

I ran the import and no profi

[2016-08-05 01:11] paddyow commented on #2178
[Inside - Small.xlsx](https://github.com/Kademi/kademi-dev/files/402974/Inside.-.Small.xlsx)

I then ran an import with a file that had less columns, and it imported.

@hoanglinhlan can you test why the first file which had more columns failed to upload.

[2016-08-05 01:24] paddyow opened #2179 "Data uploader: Unsubscribe"
@bradmac your comments would be appreciated.

See below workflow to unsubscribe:
- Upload a file
- I should not have to choose a group to unsubscribe a profile from an account
- I should be able to choose at least one field to match on, any record that matches should be unsubscribed
- I should only be able to choose only unique IDs like SMS and email - these are the only fields that a profile woul

[2016-08-05 01:29] paddyow opened #2180 "Data Uploader: Importing profiles for unsub does not add up"
http://uploader-test.admin.kademi.com.au/manageUsers/

[Inside - Unsibscribe.xlsx](https://github.com/Kademi/kademi-dev/files/402988/Inside.-.Unsibscribe.xlsx)

I uploaded the attached Unsub list
Group: Inside
Mode: Unsub all
Fields: I matched on only the email

![image](https://cloud.githubusercontent.com/assets/2201340/17423625/7194ffbc-5aff-11e6-936f-eb1e0cd92274.png)

It then tells me there ar

[2016-08-05 01:35] paddyow opened #2181 "Data uploader: Format type not clear"
![image](https://cloud.githubusercontent.com/assets/2201340/17423731/8895ebc6-5b00-11e6-906e-637c6601a456.png)

Understanding is that CSV, XLS and XLSX are supported.  I have been able to upload with all 3 formats.

Should the button either be updated to show.

(Upload CSV, XLS, XLSX)

Or

(Upload file)

And validate those three formats.

[2016-08-05 01:46] paddyow opened #2182 "Data uploader: Updating a profile"
http://uploader-test.admin.kademi.com.au/manageUsers/

When wanting to update a profile, it seems I have to match all fields available or the profiles will not get updated.

@bradmac  can you confirm if this was the intention.  If so there is no visible pompt for the end user to do this.

![image](https://cloud.githubusercontent.com/assets/2201340/17423896/1a22d10c-5b02-11e6-8faa-8e0ff1c64a6f.png)

[2016-08-05 02:05] tuzzmaniandevil commented on #1095
- there should be some way to inform the sales consultant when a lead has opened or viewed a link or attachment - **Done**

[2016-08-05 02:05] tuzzmaniandevil commented on #1095
- attachments should be removed from email and made available securely through the website, with an auto-login token - **Moved to issue #2176**

[2016-08-05 02:07] tuzzmaniandevil commented on #1095
@hoanglinhlan Do test the login token, you will need to do it on AWS as you need to send an email to the server to be able to test it.

[2016-08-05 02:43] ducdhm commented on #2173
New UI:
![33333333333](https://cloud.githubusercontent.com/assets/1289631/17424736/0d11f472-5af1-11e6-8388-9a92bc928c13.png)

[2016-08-05 02:53] bradmac commented on #2182
No. The uploader will match on the following fields in order, if they are present in the file
- userid
- email
- phone

The uploader never matches on firstname/surname

[2016-08-05 02:54] bradmac commented on #2181
yes

[2016-08-05 02:55] bradmac commented on #2180
"It then tells me there are 10 new profiles found. Unsure where this number comes from?" - This is the number of "new" profiles in the file. Ie profiles which are not in the database

[2016-08-05 02:56] bradmac commented on #2180
"After importing, nothing happens." - After importing the unsubscribed profiles should be unsubscribed.

[2016-08-05 02:56] bradmac commented on #2180
@tuzzmaniandevil please look into why profiles are not being unsubscribed

[2016-08-05 03:02] bradmac commented on #2179
"I should not have to choose a group to unsubscribe a profile from an account" - True

[2016-08-05 03:02] bradmac commented on #2179
"I should be able to choose at least one field to match on, any record that matches should be unsubscribed" - Yes, you should be required to select at least one field which can be used to match, ie userid, email or phone

[2016-08-05 03:03] bradmac commented on #2179
"I should only be able to choose only unique IDs like SMS and email - these are the only fields that a profile would need to be unsubscribed on" - i dont think we need to bother with that rule at this point

[2016-08-05 03:11] bradmac commented on #1973
@anhnt consider using CommentService to process notes when submitted, and then display without <pre>s

[2016-08-05 04:30] anhnt commented on #2178
i've tested the large data file and see lots of  NPE when using this bit:

`TableManager.DestField df = getDestField(mappedField.getKey(), destFields);`

Also java.lang.IndexOutOfBoundsException in TableManager.java:72

And it didnt notice that if excel row is empty. my case it said there are 194 records which is not correct

@tuzzmaniandevil can you have a look please

[2016-08-05 04:50] ducdhm opened #2183 "Disable contentEditor on manageEvent page"

[2016-08-05 05:15] hoanglinhlan commented on #2033
.14. fixed/ pass
.7.

- cant import if you do not import org
- about extra require field: cant import. Step3 (import) found new profile, then at step5 (complete): system report create and update was 0 record but I cant saw any warning or error message

[2016-08-05 05:34] ducdhm commented on #2183
Done!

[2016-08-05 07:27] anhnt commented on #2179
Now on remove/unsubscribe mode, the default group should not be mandatory, instead of that we check the des fields to have at least on of [Email, Phone, UserId] and then do the next action

[2016-08-05 07:38] anhnt commented on #2181
it has already been validated. just updated button label

[2016-08-05 08:49] #2181 closed

[2016-08-05 09:21] #2179 closed

[2016-08-05 09:40] #2159 closed

[2016-08-05 09:57] #2183 closed

[2016-08-05 10:17] #1862 closed

[2016-08-05 10:23] #2173 closed

[2016-08-05 10:31] hoanglinhlan commented on #2157
Fixed :+1:

[2016-08-05 10:31] #2157 closed

[2016-08-05 10:56] #2161 closed

[2016-08-05 10:57] hoanglinhlan commented on #2161
confirm fixed ok

[2016-08-05 11:10] hoanglinhlan commented on #2155
hi @paddyow
I re-produced with lastest version of source code (commit 4d6e76f), and it's a bug.

[2016-08-05 11:15] #2106 closed

[2016-08-05 15:07] #2168 closed

[2016-08-05 15:21] hoanglinhlan commented on #2158
Display donut ok

[2016-08-05 15:21] #2158 closed

[2016-08-08 00:28] bradmac commented on #1128
Now displays in use version:
![screenshot-localhost 8080 2016-08-08 12-26-35](https://cloud.githubusercontent.com/assets/826458/17466394/7de3132e-5d63-11e6-9131-aea24852e5f6.png)

[2016-08-08 00:33] bradmac commented on #1128
The version can be changed from the settings dialog

![screenshot-localhost 8080 2016-08-08 12-32-09](https://cloud.githubusercontent.com/assets/826458
/17466442/39f01044-5d64-11e6-9295-39468af5a8b8.png)

[2016-08-08 00:40] tuzzmaniandevil commented on #2180
There was a null pointer exception. GroupManager.unsubscribe was referencing KademiSecurityManager.currentUser(); which in this context there is no current user. So it's now wrapped around using KademiSecurityManager.asUser and the profile of the user who uploaded the file.

Also fixed another issue with an IndexOutOfBoundsException in TableManager.

[2016-08-08 00:44] tuzzmaniandevil commented on #2178
@anhnt That has now been fixed :-) See https://github.com/Kademi/kademi-server/commit/44c0e2ff4ebde0ead0ad014630e017d115d73878

[2016-08-08 00:52] tuzzmaniandevil commented on #2033
@hoanglinhlan With "cant import if you do not import org", Do you mean it won't import unless you specify an org field or it fails when you try to specify an org field?

[2016-08-08 00:53] tuzzmaniandevil commented on #2033
@hoanglinhlan I did an import this morning without specifying an org field and it worked.

[2016-08-08 00:58] tuzzmaniandevil commented on #2033
"about extra require field: cant import. Step3 (import) found new profile, then at step5 (complete): system report create and update was 0 record but I cant saw any warning or error message" - **I tested it and it works, Could of been fixed with https://github.com/Kademi/kademi-dev/issues/2178#issuecomment-238119922**

[2016-08-08 02:31] bradmac commented on #1128
A notification is displayed when a new version is available

![screenshot-localhost 8080 2016-08-08 14-29-48](https://cloud.githubusercontent.com/assets/826458/17467658/ac63552c-5d74-11e6-9bd7-6913fe53c6ed.png)

To test, find a custom app (eg nvd3-lib) and create a new version in file manager, then re-publish from the app's market place page, eg
http://localhost:8080/manageApps/nvd3-lib/#market-ta

[2016-08-08 02:58] ducdhm commented on #2155
@paddyow If you want to upload photo for a product, there is 2 ways
1. Access **Product Images** page and upload a photo. Make sure photo name is **SAME** with productId
2. Access **Product Detailed** page and upload a photo.

In your case, you did the first way but the file name is **09452442-5577-11e6-824f-08397271e2e6**. There is no product with id like this.

[2016-08-08 03:00] ducdhm commented on #2155
@paddyow You can hover the image for seeing the error message and get more details

[2016-08-08 03:02] bradmac commented on #2155
@ducdhm  i think the name that you saw is generated by github. Its not the actual name of the file

[2016-08-08 03:11] ducdhm commented on #2155
@hoanglinhlan Please confirm is this issue fixed or not

[2016-08-08 03:13] hoanglinhlan commented on #2155
I just test with comment by Duc. it's ok

[2016-08-08 03:31] paddyow opened #2184 "2x triggers created from 1 record"
I uploaded this file:

[Triggers CSV.zip](https://github.com/Kademi/kademi-dev/files/405958/Triggers.CSV.zip)

Here http://admin.rspca-sa.olhub.com/autoEmails/118632491/timerTriggers.html?startDate=02/08/2016&finishDate=08/08/2016

And it created 2x records, onc which fired and anther queued for later:

![image](https://cloud.githubusercontent.com/assets/2201340/17468548/42116054-5d6c-11e6-91d4-f8

[2016-08-08 03:35] bradmac commented on #2184
The first trigger, which has already been processed, was created yesterday at 10:30am

The second trigger which is waiting, was created today about 10 mins ago.

You can see this on the profile page - http://admin.rspca-sa.olhub.com/manageUsers/191635932/

[2016-08-08 03:36] bradmac commented on #2184
Note that yesterday's timer was created manually:

"Automation timer started 01-DAY1-VIDEOSTORY1

Created manually by: patrick-707421/53337434
Processing started 08/08/2016 12:55
1 attempts
Processed at 08/08/2016 12:55"

[2016-08-08 03:40] paddyow commented on #2184
This was in the CSV:

CreatedAt	        FireAt
7/08/2016 8:02	8/08/2016 8:02

Why were two triggers created?

[2016-08-08 03:46] tuzzmaniandevil commented on #1848
We already have EmailItem in ES, if we just add SMS we can use ES as is, because both are child indexers of profile.

[2016-08-08 04:06] paddyow commented on #2184
[Triggers CSV (2).zip](https://github.com/Kademi/kademi-dev/files/405987/Triggers.CSV.2.zip)

This file was uploaded.

The trigger timer started and completed, but no email fired.

http://admin.rspca-sa.olhub.com/manageUsers/195402053/

[2016-08-08 04:14] paddyow commented on #2155
I just uploaded this image (in the ZIP) by dragging it:

[test.zip](https://github.com/Kademi/kademi-dev/files/405990/test.zip)

To here: http://emc.admin.kademi.com.au/product-images/

Got the red cross on the image:

![image](https://cloud.githubusercontent.com/assets/2201340/17469158/212c7832-5d72-11e6-8c88-d052dd310763.png)

[2016-08-08 04:16] bradmac commented on #2155
@paddyow the image is called "test.jpg" but there is no product with code "test"

[2016-08-08 04:23] paddyow commented on #2155
Just tried another file name test135p.jpg and it still failed.

[2016-08-08 04:23] bradmac commented on #2155
It needs to match a product code.

[2016-08-08 04:27] paddyow commented on #2155
Aha! Done worked :) Maybe we add some text saying: "Image file names much match an existing product with the same name or the image will not be uploaded." @bradmac

[2016-08-08 04:32] bradmac commented on #2155
@ducdhm can you please
- Add the following copy above the dropzone: "Please upload image files with the same name as the product code you want them attached to, with an extension. For example, to upload an image to product with SKU ABC-123 you could upload a file called "ABC-123.png"
- Display errors below the dropzone, as well as on hover on the dropzone icons

[2016-08-08 04:34] anhnt opened #2185 "Putting apps into libs"

[2016-08-08 04:42] #2033 closed

[2016-08-08 04:47] #2178 closed

[2016-08-08 05:08] ducdhm commented on #2155
It's ok for you?

![222222222222222222222222](https://cloud.githubusercontent.com/assets/1289631/17469794/db715274-5d60-11e6-8795-563d93d32feb.png)

[2016-08-08 05:10] #2180 closed

[2016-08-08 05:21] ducdhm commented on #2155
New finale UI:
![4444444444444](https://cloud.githubusercontent.com/assets/1289631/17469978/ae64ce9e-5d62-11e6-975e-53e958dfdb90.png)

[2016-08-08 06:38] paddyow opened #2186 "Email history graph not showing failed emails"
http://admin.minda.olhub.com/emails/

All showing 0 in the graph, but the list shows failed emails.

[2016-08-08 07:00] paddyow opened #2187 "Cannot download an email history based on my date range"
http://admin.minda.olhub.com/emails/

If I choose a date range of 1 Jan 2016 to present day, then export to CSV, it does not give me data for that date range.

[2016-08-08 07:01] paddyow commented on #2187
@bradmac  would be good to get this fixed for the olhub release as a customer will need to pull complete list.

[2016-08-08 07:42] #2022 closed

[2016-08-08 10:58] hoanglinhlan opened #2188 "Create new module: Error message not meaning"
Create new module in case website has not course.
system show error message not meaning. Refer img
![newmodule](https://cloud.githubusercontent.com/assets/20508726/17477810/9f91ad7c-5d91-11e6-9323-11001ad90a4a.png)

[2016-08-08 15:20] ducdhm commented on #2188
@bradmac We can use JS for checking at least a course does exist or not :)

[2016-08-08 20:32] bradmac commented on #2188
Sounds good!

[2016-08-08 23:18] paddyow opened #2189 "Manual multiple unsubscribes"
Be able to select multiple profiles from the manage users page then using the drop down action an unsubscribe.

Needs dialogue alert to say you are about to unsubscribe X profiles before they are unsubscribed.

![image](https://cloud.githubusercontent.com/assets/2201340/17499611/dedf3b9a-5e11-11e6-8430-56bf16c1d244.png)

[2016-08-08 23:27] #2184 closed

[2016-08-08 23:49] paddyow opened #2190 "Firing mobile (04)10000000"
Will a mobile with brackets fire an SMS?
Currently we can import a mobile with this syntax.

[2016-08-08 23:55] paddyow opened #2191 "Data uploader: Unsubscribe process shows incorrect profile numbers"
Upload this data into a new group group:
[Inside.xlsx](https://github.com/Kademi/kademi-dev/files/407949/Inside.xlsx)

Re-upload the above data but choose the unsubscribe option and key on the email address only.

Note the results below.  It says 42 existing profiles which is correct. Not sure why it says 195 profiles found?

![image](https://cloud.githubusercontent.com/assets/2201340/17500255/32e

[2016-08-08 23:58] paddyow opened #2192 "A unsubscribed profile should have an option to resubscribe"
http://uploader-test.admin.kademi.com.au/unsubscribes/

Add check boxes and dropdown to allow admin to select profile(s) and re-subscribe them in batches.

![image](https://cloud.githubusercontent.com/assets/2201340/17500312/bdb25794-5e17-11e6-8d43-28dfb1bb2c7b.png)

[2016-08-09 00:04] paddyow commented on #2192
If a profile is part of an ongoing email/sms campaign, and re-subscribes a month in it is important that they continue from where they last left off i.e. their trigger, however if a trigger is created it will fire and create it's next trigger.  It would be good to understand the implications of this.

[2016-08-09 00:06] bradmac commented on #2192
If a timer is processed and the user is unsubscribed then the automation will fire but the email will not be sent. If the next trigger is fired on email delivery then that will not fire because no email will have been delivered.

This is something which could be handled with CX journey builder, though

[2016-08-09 00:07] paddyow opened #2193 "Data uploader: Profile numbers incorrect"
Might be relating to #2191

Upload this data:
[Inside.xlsx](https://github.com/Kademi/kademi-dev/files/407961/Inside.xlsx)

To here: http://uploader-test.admin.kademi.com.au/manageUsers/

Into the 'Inside' Group.
Key on First Name, Last Name, Email, Mobile, RG Amount

The number of profiles is incorrect:
![image](https://cloud.githubusercontent.com/assets/2201340/17500445/f9a98bae-5e18-11e6-9161-c

[2016-08-09 00:22] paddyow opened #2194 "Data uploader: Progress Bar"
Uploading 20,000 profiles took around 3 to 4 mins.

Add progress bar as the data is initially uploaded.

Would be good to have one as the data gets imported as well.

![image](https://cloud.githubusercontent.com/assets/2201340/17500742/6e7947ce-5e1b-11e6-98b3-f6583cc2cf13.png)

[2016-08-09 00:25] tuzzmaniandevil commented on #2191
That's because the excel file has 237 rows, 194 of them are just empty rows.

[2016-08-09 00:27] tuzzmaniandevil commented on #2191
I've added a check to make sure an excel row isn't empty before storing it.

[2016-08-09 00:28] tuzzmaniandevil commented on #2191
This will also fix #2193

[2016-08-09 00:29] tuzzmaniandevil commented on #2193
Fixed in #2191

[2016-08-09 00:33] bradmac commented on #2194
Hey @anhnt please have a look at this. If its a big job we can push back to the next milestone

[2016-08-09 00:49] #2141 closed

[2016-08-09 00:52] bradmac commented on #1992
Fixed a while back

[2016-08-09 00:52] #1992 closed

[2016-08-09 01:34] paddyow opened #2195 "Data uploader: Cannot go back to an upload in progress"
If I start an upload then navigate away, but then try to start another upload I just get a server error.

A user should be able to start an upload, navigate away then go back to the upload tool and see their last upload in progress. Stage 4 in the process should appear again.

A user should not be able to run 2 simultaneous uploads.

[2016-08-09 01:40] paddyow opened #2196 "Data uploader: Able to upload incorrect emails"
I was able to upload this file which had an incorrect email syntax.
[Outside2.xlsx](https://github.com/Kademi/kademi-dev/files/408051/Outside2.xlsx)

http://uploader-test.admin.kademi.com.au/groups/Outside2/members/

The tool should check if the email field has a value after it is uploaded, if so it should validate the syntax before the data is uploaded and alert the customer.

[2016-08-09 01:42] #2196 closed

[2016-08-09 02:19] paddyow commented on #2088
I just uploaded 3005 records but have not way of knowing which were errors so I can download those records, correct them and re-upload.

![image](https://cloud.githubusercontent.com/assets/2201340/17502457/6e8ebc84-5e2b-11e6-8ff9-2ed64b31a3b6.png)

@bradmac I think this is a critical feature when uploading many records or it will be a pain for the customer to have to work out which records failed

[2016-08-09 02:22] paddyow opened #2197 "Data uploader: Should not import records with errors"
I uploaded this file:
[Outside3.xlsx](https://github.com/Kademi/kademi-dev/files/408086/Outside3.xlsx)

Into this group: http://uploader-test.admin.kademi.com.au/groups/outside3/members/

When the import finished it said there were 5 errors.  However all the data was imported.

1) I had no idea what the errors were because Kademi did not tell me #2088
2) If a profile attempts to upload but an erro

[2016-08-09 02:24] paddyow opened #2198 "Data uploader: Should not import records with invalid email addresses"
I uploaded this file:
[Outside3.xlsx](https://github.com/Kademi/kademi-dev/files/408088/Outside3.xlsx)

Into this group: http://uploader-test.admin.kademi.com.au/groups/outside3/members/

Note the email address outsidec4@mailintor. was uploaded with no domain.

Any email with no domain should be classed as an error and not uploaded. #2088

[2016-08-09 02:34] #2191 closed

[2016-08-09 02:34] #2193 closed

[2016-08-09 02:37] paddyow commented on #2194
http://uploader-test.admin.kademi.com.au/manageUsers/

Uploaded this file:
[Outside3.xlsx](https://github.com/Kademi/kademi-dev/files/408094/Outside3.xlsx)

Into this group: http://uploader-test.admin.kademi.com.au/groups/Outside4/members/

When all the lines have finished processing the upload takes about another 2 to 3 minutes to complete.  It will be important that the upload process accounts f

[2016-08-09 02:49] paddyow opened #2199 "Data uploader: Button name should be dynamic"
![image](https://cloud.githubusercontent.com/assets/2201340/17502929/30abc8b8-5e2f-11e6-9190-bb086dc68777.png)

Remove
- If the option remove is selected the button should read "Import and Remove"
- If the option remove is selected add dynamic warning message in the tool window "You about to remove the uploaded profiles.  Once a profile has been removed it cannot be restored."

Unsubscribe
- If th

[2016-08-09 03:29] paddyow commented on #2197
@hoanglinhlan can you look into this please.

1) Find out which records in the Outside3.xlsx are causing an error after being uploaded

[2016-08-09 04:49] anhnt commented on #2194
![image](https://cloud.githubusercontent.com/assets/735555/17504860/cf8c7c10-5e26-11e6-8c8e-760d4fba17f9.png)
Its now showing a progress bar to indicate process status. when import is done, there should be a text saying that "Reindexing profiles..." because we need to reindex data after import.

[2016-08-09 04:53] bradmac commented on #2194
@anhnt can you adjust the progress bar so it ends at 90% for line processing?

[2016-08-09 05:02] anhnt commented on #2194
done as @bradmac comment

[2016-08-09 09:19] tuzzmaniandevil commented on #2166
Base implementation done. Need to complete callback and live payment notification handling.

Integrated into bs335, need to make sure this change get's put into bs336

[2016-08-09 09:59] ducdhm opened #2200 "Added product with variant is not showed in Checkout page"

[2016-08-09 10:46] anhnt opened #2201 "Allow nesting components"
Currently when i create new web page with theme/page template, then using content editor to drag and drop a dynamic component, it is not rendered in the frontend site view because it is inside **pageBody** component

[2016-08-09 15:52] ducdhm commented on #2200
@tuzzmaniandevil Hey wes, please kindly help me investigate and fix this issue

[2016-08-09 15:58] ducdhm commented on #2200
@bradmac I have a suggestion, instead of store shopping cart in cookie with plain string, we can using JSON string for better manipulation. Example:
Instead of
[code]

we can use like
[code]

What do you think?

[2016-08-09 17:09] ducdhm commented on #2188
Error message:
![fireshot capture 31 - p2 - http___localhost_8080_websites_local_version1_programs_p2_](https://cloud.githubusercontent.com/assets/1289631/17525823/aa3174a8-5e8e-11e6-8ccc-90a41b500dc3.png)

[2016-08-09 20:31] bradmac commented on #2200
We should continue using hrefs

[2016-08-09 21:45] bradmac opened #2202 "Profiles to have a home admin organisation"
Profiles should remain linked to their organisation even when all groups are removed

Profiles may be linked to other organisations through group memberships, and they will no longer be visible when all groups are removed from those orgs.

Key security information should only be editable within the home admin organisation

[2016-08-09 22:57] tuzzmaniandevil commented on #2200
There were some issues parsing and storing the href on the server side.

[2016-08-09 23:07] tuzzmaniandevil commented on #2200
Also changed the bs335 checkout page to show variants.

[2016-08-09 23:08] tuzzmaniandevil opened #2203 "Apply same parsing function to eCommerce as reward store."

[2016-08-09 23:24] bradmac opened #2204 "e-com tab on admin profile page is displaying results for current user"
Should display for the profile being viewed

This shows transactions which the logged in administrator (NOT the user dd) made:

![screenshot-localhost 8080 2016-08-10 11-25-38](https://cloud.githubusercontent.com/assets/826458/17536991/35b79fe4-5eed-11e6-96ed-9924335473da.png)

[2016-08-09 23:25] bradmac commented on #2204
@hoanglinhlan please verify that the current transactions are displayed on a profile page, and that they are not the transactions for the logged in user

[2016-08-10 00:05] bradmac opened #2205 "Add start and end dates to points allocation rules"
See PointsAllocationRule

Please add new fields
- startDate
- finishDate

The rule should only be processed for points which have a created date meeting the date range criteria. A null date should be ignored.

[2016-08-10 00:24] bradmac commented on #2187
@tuzzmaniandevil as discussed, lets convert this to use ES

[2016-08-10 02:36] ducdhm commented on #2201
Instead of pageBody **component**, we can make it pageBody **container**

[2016-08-10 02:38] bradmac commented on #2201
I think it should be a component, because when the user is designing a template they will place the body content component inside a container.

It should be ok to just change the rendering logic to handle nested components. We dont need to change the editor.

[2016-08-10 02:47] #2188 closed

[2016-08-10 04:09] tuzzmaniandevil commented on #2153
Going to convert old report to use ES

[2016-08-10 04:18] anhnt opened #2206 "Blog article publish date picker is not showing"
![image](https://cloud.githubusercontent.com/assets/735555/17541704/314245aa-5eec-11e6-9a8c-241b3d15720b.png)
actually it is the embargo date. there's another issue when publishing article with embargo date. It is currently using only date value, so time is set to 0:00. That field should be formatted as date and time

[2016-08-10 04:53] anhnt opened #2207 "Create bs336.leadman theme"

[2016-08-10 05:04] anhnt commented on #2207
should name it as LeadMan

[2016-08-10 07:55] ducdhm opened #2208 "Update Journey Builder"
Following changes:
 * Remove Begin node
 * Replace general Goal node with other specified Goal nodes.
 * New Goal nodes:
    * automationGoal
    * contactFormGoal
    * eventGoal
    * pageViewGoal
    * taskCompleteGoal
    * emailResultGoal
    * timerGoal

[2016-08-10 08:25] paddyow opened #2209 "Lead creation goes to page cannot be found"
http://kcrm.olhub.com/

I created a lead from KCRM dashboard, then it opened but went to this page http://kcrm.olhub.com/leads/195879443

Note that the contact was created, just not the lead.

[2016-08-10 09:25] bradmac commented on #2209
I think this bug is not active on the current version of KCRM

[2016-08-10 09:25] #2209 closed

[2016-08-10 23:51] bradmac opened #2210 "Do not mount repos inside websites"
This causes all sorts of headaches

[2016-08-10 23:52] #2210 closed

[2016-08-11 00:39] tuzzmaniandevil commented on #2187
CSV export now uses ES

[2016-08-11 01:26] bradmac opened #2211 "Disable theme apps which are not selected when selecting a theme"

[2016-08-11 03:35] tuzzmaniandevil commented on #2187
Changed page to use ES as well

[2016-08-11 04:25] paddyow opened #2212 "Selecting no group causes email to fire when profile created in any group"
http://kademi.admin.olhub.com/autoEmails/192777291/#triggers-tab

We had a campaign setup to send a thank you email:
![image](https://cloud.githubusercontent.com/assets/2201340/17578675/506f6c62-5fcf-11e6-80b0-c056002734c0.png)

No group was specified, but there was a group setup for the campaign.

I then went into KCRM and added some new leads, however this added the leads to Kademi's customer gr

[2016-08-11 04:44] #2212 closed

[2016-08-11 07:23] paddyow commented on #2194
@Anh can we add this to the file upload as well?

[2016-08-11 07:51] #2211 closed

[2016-08-11 07:53] paddyow opened #2213 "Data Uploader: Order of options"
![image](https://cloud.githubusercontent.com/assets/2201340/17581968/671bba02-5fec-11e6-9693-ed9e54afaabb.png)

Feel the order should be:
- Select what you want to do first.
- Then the row
- The the optional group

If remove or unsub if selected, the group drop down should hide or lock as it's not needed.

@bradmac thoughts.

[2016-08-11 07:54] #2182 closed

[2016-08-11 08:16] anhnt opened #2214 "Leadman: Groups are automatically created"
The group name is sales

[2016-08-11 08:20] paddyow opened #2215 "Data Uploader: Profile not created properly"
I uploaded this file:
[New batch.xlsx](https://github.com/Kademi/kademi-dev/files/412768/New.batch.xlsx)

- It created one record with an email outsidddde2222222b@mailintor.com
- That profile is in the group http://uploader-test.admin.kademi.com.au/groups/Outside/members/
- But the profile has not been created if you search for it.

I then did it again with this file:
[New batch2.xlsx](https://git

[2016-08-11 08:25] paddyow commented on #2215
Note that I created this group http://uploader-test.admin.kademi.com.au/groups/new-batch/

Which has all the custom fields to match the Excel doc.  Even if you upload to this group, you get the same error.

[2016-08-11 08:40] paddyow opened #2216 "Creating custom fields"
http://uploader-test.admin.kademi.com.au/groups/new-batch/

I need to setup a group and apply custom fields, but I don't know what fields Kademi supports out of the box as I could use some of these instead i.e. First Name.

@brad maybe we should list the fields we support in the Extra fields section?

[2016-08-11 08:45] bradmac commented on #2216
Just add text in an alert box which has standard fields in a list
- firstName
- surName
- phone
- email
- nickName
- birthDate

[2016-08-11 09:49] bradmac opened #2217 "Blog components"
Please update blog components as follows
- blogArticleDetailComponent.html - this should be renamed to blogArticleHeaderComponent, and only contain title, date and tags. It should not contain the body or image
- move the image to a separate component, with configurable orientation
- the body of a blog article should be displayed with the pageBodyComponent. This should not need a special blog compo

[2016-08-11 10:02] bradmac opened #2218 "Merge blogPageFeaturedArticles and blogPageNonFeaturedArticlesComponent"
There should just be 1 component to list articles that has a setting to control whether to display:
- all articles
- only featured
- only non-featured
- only articles for a list of selected categories
- only articles for a list of selected tags

[2016-08-11 10:06] bradmac opened #2219 "Learning components - modulePageCommentComponent"
Remove the modulePageCommentComponent, and use standard comments component instead

[2016-08-11 10:23] bradmac opened #2220 "Reward Store Components"
- rewardStoreCategoryNameComponent: Use a generic page title component instead, similar to pageBodyComponent. Ensure null handling so there is nice output when there is no title, instead of outputting template code
- rewardStoreCategorySearchBoxComponent: use a generic search component instead. The generic search component should have an option to search only the current directory, or search whole

[2016-08-12 00:04] tuzzmaniandevil opened #2221 "Tracking App: Add a way to track page segments"
If a user is using a one page site, we need to be able to track each section.

Do something like GA where you call a command:
[code]

[2016-08-12 00:17] #2201 closed

[2016-08-12 00:24] bradmac opened #2222 "Allow pages to be rendered as PDF"
Extend the AltFormat framework to allow rendering HTML pages as PDF.

This will be done by appending an alt format identifer string, eg
To render this page - http://version1.elearning336.loopbackdns.com:8080/index.html

Use this url - http://version1.elearning336.loopbackdns.com:8080/index.html-alt.pdf

[2016-08-12 00:46] tuzzmaniandevil commented on #2222
:+1:

[2016-08-12 01:12] #2222 closed

[2016-08-12 03:54] bradmac opened #2223 "Allow variant images to be uploaded through the product images bulk uploader"
Allowable formats:

-    Product code: a1.png (for a product with code "a1")
-    Product code, followed by a number: a1.2.png (for a product with code "a1", to add an extra image)
-    Variant code: a1-1.jpg (for a product which has a variant with code "a1-1"
-    Full: a1.size.large.png (product "a1", variant type "size", variant "large")

[2016-08-12 04:40] ducdhm commented on #2208
![newui](https://cloud.githubusercontent.com/assets/1289631/17612902/886f84b4-6081-11e6-978a-ad94a85fbdf1.png)

[2016-08-12 04:43] ducdhm commented on #2208
![newui2](https://cloud.githubusercontent.com/assets/1289631/17612937/ec85803e-6081-11e6-9b08-c8c117219a94.png)

[2016-08-12 05:04] ducdhm commented on #2208
![newui3](https://cloud.githubusercontent.com/assets/1289631/17613201/dbf74bfa-6084-11e6-80c4-35643e86a008.png)

[2016-08-12 05:40] #2223 closed

[2016-08-12 07:39] #1918 closed

[2016-08-12 07:39] #1917 closed

[2016-08-12 07:40] #1914 closed

[2016-08-12 07:40] #1910 closed

[2016-08-14 21:17] tuzzmaniandevil commented on #2126
Only when importing the full carters file

[2016-08-14 22:00] tuzzmaniandevil commented on #2203
@hoanglinhlan This issue was to fix the bug when adding a product that has a variant.
Before if you added a product with a variant, it shouldn't show on the checkout page, also if the variant had a cost associated with it the final cost wouldn't reflect this.

The shopping cart should be able to have products in it that has no variant, a variant with no additional cost and a variant that has an ad

[2016-08-14 23:00] bradmac commented on #2215
Worked locally. Will review again when AWS indexing problem is resolved.

[2016-08-15 01:14] bradmac commented on #2202
When a profile is removed from its home admin org, its "enabled" status is set to false.

Be sure to set all profiles enabled status from the /maint page first! This also sets their home admin org.

Next steps
- add option to manage users search page to display disabled profiles. The search service now has a boolean "enabled" parameter, which is true by default. Send enabled=false to show disabled

[2016-08-15 01:14] bradmac commented on #2202
@ducdhm would you mind doing the 2 features above?

[2016-08-15 01:18] bradmac commented on #2116
Note we have 2 actions:
- CancelLeadGoalAction
- RemoveProfileGoalAction

[2016-08-15 01:18] #2116 closed

[2016-08-15 01:28] bradmac commented on #2115
The Goal class now has 2 properties
- timeoutMultiples
- timeoutUnits

These can be used together to make user friendly intervals like 2 days, 3 weeks, etc.

The timeoutUnits should be displayed with user friendly text values like "Day", "Week". But the coded values should be standardised. I suggest we use the values used by moment.js:
http://momentjs.com/docs/#/durations/

Key 	Shorthand
years 	y

[2016-08-15 02:22] hoanglinhlan opened #2224 "Data uploader: issue"
Data uploader
•	Cant set date field with formats: 15-Jul-16 / 7/15/2016 / … If I choose format cell for date field in excel file is text, I can see date field updated but the update value is not a value in excel file (excel value: 7/15/2016 ==> date filed value after import/update: 7/3/2017)
•	When I update profile with all extra field (10 field), some field not updated
•	When I update profile, if

[2016-08-15 02:26] hoanglinhlan opened #2225 "Profile page: extra field issue"
Create a profile of group has more than 10 fields

•	Extra field showing with order not constant, after you access this page, it was change ==> very  difficult to observe
•	Duplicate require-extra field when I refreshed page many time.

[2016-08-15 04:03] hoanglinhlan commented on #2215
Confirm add profile successfuly. Search by email: "outsidddde2222222b"
![2215](https://cloud.githubusercontent.com/assets/20508726/17655171/1174ec36-62d5-11e6-9276-b2ea6cb6a596.png)

[2016-08-15 04:03] #2215 closed

[2016-08-15 04:09] hoanglinhlan opened #2226 "User manager: Users should be able to search using email domains"
Currently, system can search the list profile by nick name, phone, local-part ( name of mailbox). But, system cant search by domain mail.
**Expect**: Users should be able to search using email domains

[2016-08-15 09:41] ducdhm opened #2227 "Dynamic Nodes in Journey Builder"
Data from server for each of nodes should be in JS. Example:
[code]

[2016-08-15 09:42] ducdhm commented on #1627
Let's move to #2227

[2016-08-15 09:42] #1627 closed

[2016-08-15 09:45] anhnt commented on #2227
cant wait to see it :)

[2016-08-15 11:05] bradmac commented on #2227
OK, done.

Now to add this to an app, implement JourneyBuilderApplication

See EmailApp for an example

The JourneyBuilderApplication requires a single method called nodeTypes to be implemented. Eg:
[code]

The first argument for NodeTypeBean is the name of the node type, as it appears in json. The second is the path to the js fragment to be merged into the handlers js file.

@ducdhm you can put a

[2016-08-16 03:32] tuzzmaniandevil opened #2228 "RewardStoreAppIndexer: Add a seperate non index title field"
This is so we can sort on the title field

[2016-08-16 08:13] paddyow opened #2229 "File is FTPd at incorrect time"
http://admin.rspca-sa.olhub.com/integration/#history-tab

![image](https://cloud.githubusercontent.com/assets/2201340/17692403/fca9a5cc-63dc-11e6-9547-2832a22bc256.png)

7 hours difference from 3pm schedule to 8pm upload time.

![image](https://cloud.githubusercontent.com/assets/2201340/17692415/0811578e-63dd-11e6-96cf-d2d420720eb2.png)

Note the org time is set to Sydney.

[2016-08-16 08:39] bradmac commented on #2229
And please fix the "$exec.source" template code

[2016-08-16 08:49] bradmac commented on #2229
Here's one thing i can see wrong. In PipelineSchedule.timerFireAt we have this code:
[code]

That is not setting the org timezone on the calendar used to get the fire at hour and minute.

[2016-08-16 21:26] tuzzmaniandevil commented on #2229
I'm made the changes to the time and added a null check to the $exec.source template

[2016-08-16 22:13] tuzzmaniandevil commented on #2229
I added a unit test to check 3 time zones. Pacific/Auckland, Australia/South and America/Los_Angeles. All of then are now correct

[2016-08-16 22:29] tuzzmaniandevil commented on #2229
The time showing on the Integration history and execution results page didn't take into account the timezone, so the time showing was the NZ time.

[2016-08-16 22:29] #2221 closed

[2016-08-17 04:45] bradmac opened #2230 "Allow searching for disabled profiles on manage users"
Extension to https://github.com/Kademi/kademi-dev/issues/2202

The manage users page now does not show disabled (aka removed) users by default. Please add an option to show only disabled users. Perhaps a toggle switch or checkbox under the search box?

The search service now has a boolean "enabled" parameter, which is true by default. Send enabled=false to show disabled profiles

[2016-08-17 04:45] bradmac commented on #2202
Have now added a toggle switch on the manage user page to enable/disable

[2016-08-17 07:54] hoanglinhlan opened #2231 "checkout page - order summary: total product incorrect"
login by any account
**step**:
- login by account 1: add some product to cart then logout
- login again by account 2, then go to checkout page

**expect**: order summary must be empty
**actual**: order summary count product thats selected by account 1

[2016-08-17 07:56] bradmac commented on #2231
Shopping cart cookies should be per user. The simplest option is just to use a cookie name which includes the userid. That way users will not see each other's carts.

[2016-08-17 09:44] paddyow opened #2232 "Pipeline is using NZ time but displaying local time"
http://admin.rspca.olhub.com/integration/#history-tab

- The account timezone is Sydney
- The FTP schedule is set for 3pm
- The last FTP upload under history for the 17/8/16 shows 3pm
- The end point of the file sent on the 17/8/16 to Listens FTP is 1pm so using NZ time

Confirm the update tomorrow will fix this.

[2016-08-17 09:48] bradmac commented on #2232
yes, that is fixed

[2016-08-17 09:48] paddyow commented on #2232
:)

[2016-08-17 09:57] bradmac opened #2233 "Add product image hashes to reward store app indexer"
So that links can be generated using the hash.

[2016-08-17 09:59] bradmac opened #2234 "Use a category path for the path field in reward store app indexer"
Rather then using a non-category path. This way the page linked to from search results will be in a category and can show more contextual information

When a product is in multiple categories, simply use the first

[2016-08-17 10:00] bradmac opened #2235 "Add category list to product in reward store app indexer"
Should be a list, where each item has the category name and full path, ie for sub cats

[2016-08-18 00:37] #2235 closed

[2016-08-18 00:37] #2234 closed

[2016-08-18 00:49] #2233 closed

[2016-08-18 00:49] paddyow opened #2236 "Cannot edit header section when building an EDM"
Chrome: Version 52.0.2743.116 m

Video: https://youtu.be/NY1f4e8HibQ

[2016-08-18 01:09] paddyow opened #2237 "New profiles are not enabled"
http://twoprovidores.admin.kademi.com.au/manageUsers/

Add new profile
Add first name and email only
Click create and view
Note the profile is disabled

![image](https://cloud.githubusercontent.com/assets/2201340/17758613/252163c0-6534-11e6-8a2d-f6c7fc65b989.png)

[2016-08-18 01:11] paddyow commented on #2237
It seems the profile is created but not visible so I cannot re-create the same profile again.

[2016-08-18 01:17] paddyow opened #2238 "Email history does not show"
http://twoprovidores.admin.kademi.com.au/emails/

Page loads, flashes the email history for 1 split second then hides it.

Chrome:  Version 52.0.2743.116 m

[2016-08-18 01:19] bradmac commented on #2238
@tuzzmaniandevil is this the issue you fixed earlier today?

[2016-08-18 01:32] tuzzmaniandevil commented on #2238
No. Thats the date selector. @paddy change the selected date and the emails will show

[2016-08-18 01:39] bradmac commented on #2238
@paddyow I dont see the problem. Although i think there is a problem sending emails, they all say pending

[2016-08-18 02:04] tuzzmaniandevil commented on #2238
@bradmac the "pending" is the issue I fixed earlier

[2016-08-18 02:27] paddyow opened #2239 "Data was uploded but needed re-indexing"
This file was uploaded via integration http://admin.minda.olhub.com/integration/197437902

Profiles did not appear under manage users
Had to re-index profiles

[2016-08-18 02:30] ducdhm opened #2240 "Using hash URL for product photos, article photos, etc..."

[2016-08-18 03:54] bradmac opened #2241 "Add new page to have option for folder default page"
When creating a html page, users often want to create a folder default page. For example, to have a page at /myfolder/ they need to create a file at /myfolder/index.html

But it is not user friendly to expect users to type in the correct file name. Instead, we should give the user an option on the new page dialog:
![screenshot-localhost 8080 2016-08-18 15-52-40](https://cloud.githubusercontent.com

[2016-08-18 04:39] paddyow commented on #1928
@bradmac we are still having to offset by two hours to account for NZ time.

![image](https://cloud.githubusercontent.com/assets/2201340/17762188/817f7ec8-6551-11e6-858b-1ca791005eae.png)

[2016-08-18 04:52] paddyow opened #2242 "Group signup does not work for Zoetis"
http://admin.zoetis.olhub.com/reporting/esGroupSignups?startDate=01%2F07%2F2016&finishDate=+31%2F07%2F2016

No data displaying.

[2016-08-18 05:32] bradmac commented on #2242
Seeing this in logs:

INFO  io.milton.cloud.server.manager.SearchManager  - Index signuplog-30746481 does not exist, so create all mappings
INFO  io.milton.cloud.server.manager.SearchManager  - Creating 1 mappings in index signuplog-30746481
ERROR org.hibernate.AssertionFailure  - HHH000099: an assertion failure occured (this may indicate a bug in Hibernate, but is more likely due to unsafe use of

[2016-08-18 05:33] bradmac commented on #2242
Possibly an issue in the version of hibernate used on olhub:

https://hibernate.atlassian.net/browse/HHH-6857

[2016-08-18 05:48] paddyow opened #2243 "Integration: Double entry in history"
1x FTP line item  (correct)
2x /integration/LP1.xml items which are being created by the email schedule here: http://admin.rspca-sa.olhub.com/scheduledEmails/listen-data/

Only 1x email is being sent, but 2 lines items under history. Wondering if this is correct or an error displaying the history?

![image](https://cloud.githubusercontent.com/assets/2201340/17763268/da7ca01a-655a-11e6-96de-3d46e82

[2016-08-18 05:53] bradmac commented on #2243
There is one history item for the FTP job in the schedule, and there is also a pipeline execution history for each recipient sent from the scheduled email.

[2016-08-18 05:59] #2243 closed

[2016-08-18 06:29] #2232 closed

[2016-08-18 06:29] #2229 closed

[2016-08-18 23:05] bradmac opened #2244 "Improve maintenance pages"

[2016-08-18 23:08] #2244 closed

[2016-08-19 00:26] bradmac commented on #2240
Hey @ducdhm are you going to make this change? Its just a matter of updating Kademi templates similar to Carters

[2016-08-19 03:17] ducdhm commented on #2240
@bradmac Yes. I'll do it ;)

[2016-08-19 03:23] anhnt commented on #2207
hey @hoanglinhlan , just ping me when you're ready to test this one

[2016-08-19 04:30] #2194 closed

[2016-08-21 23:15] bradmac commented on #2242
Also, CSV export is not being sorted by date

[2016-08-21 23:17] #2242 closed

[2016-08-22 02:28] bradmac commented on #2242
Sorting not working properly over a year of data due to scrolling. It seems that records are sorted within each tranche

[2016-08-22 02:38] bradmac opened #2245 "ES scrollng is not what we thought it was"
The new ES group signups report uses scrolling with a tranche size of 1000 and sorts by create date. What has been noticed is that the CSV output has results correctly ordered only within each batch of 1000 rows, but then the ordering restarts.

So it looks like scrolling gets a set of rows and then applies ordering, rather then using sort order to find the correct set of results.

It may be neces

[2016-08-22 02:47] hoanglinhlan opened #2246 "Review document: User manager"
http://docs.kademi.co/programs/admin/users/manage-users/pintroduction.html

@mamun4343

[2016-08-22 03:59] #2237 closed

[2016-08-22 05:12] bradmac opened #2247 "Including products in category does not update the reward store app indexer"

[2016-08-22 05:33] bradmac opened #2248 "Cannot import users through members csv"
Seen here
http://admin.zoetis.kademi-beta.co/groups/UNSENT/members/

[2016-08-22 10:33] anhnt commented on #2220
i created a component called searchBox which is from search app. when use this, please make sure search app is enabled.

[2016-08-22 10:51] anhnt opened #2249 "Allow showing non-editable section in keditor"
when we just want to show a text placeholder on dynamic component instead of velocity code
![image](https://cloud.githubusercontent.com/assets/735555/17852338/063f3b66-6891-11e6-9bd3-3668cceb250e.png)

[2016-08-22 10:55] bradmac commented on #2249
Note that this does happen already for many components, such as blogPageArticlesComponent.

[2016-08-22 17:30] ducdhm commented on #2115
See in EmailResultGoal node as example.

[2016-08-22 17:31] ducdhm commented on #2115
@hoanglinhlan Please ask me if you have any questions when testing

[2016-08-22 17:34] ducdhm commented on #2249
@anhnt Please check it!

[2016-08-22 17:38] ducdhm commented on #2208
Let's move to https://github.com/Kademi/kademi-dev/issues/2227

[2016-08-22 17:38] #2208 closed

[2016-08-22 22:08] bradmac opened #2250 "Reward store index not updated when images are uploaded to products"

[2016-08-22 22:15] #2248 closed

[2016-08-22 23:16] bradmac commented on #2245
Tested with the new group signups report with 2300 rows and a batch size of 1000, and seems to work correctly.

[2016-08-22 23:16] #2245 closed

[2016-08-22 23:53] bradmac opened #2251 "Build process: Do not download from oracle"
Currently the JDK gets downloaded from oracle for each build.

Please investigate if we can use a local storage option instead, such putting the file in S3

[2016-08-23 00:56] tuzzmaniandevil commented on #2251
It uses apt to install java and the unlimited policy files. Any reason why you want to change this? We can use S3 if you want

[2016-08-23 01:01] bradmac commented on #2251
Its just that the oracle download isnt really part of the apt ecosystem, and i dont think we can necessarily rely on it being there. And generally, the less external dependencies the better. Its also a possible (though unlikely) attack vector

It we can easily move it to S3 then lets do that. If its going to take more then a couple of hours then leave it.

[2016-08-23 01:23] bradmac opened #2252 "User importer: make error rows availablefor download"
Often, when an admin uploads a spreadsheet of profiles many of them will fail to import. Its important the admin can get a list of failures, so they can correct them and re-upload

So what we should do is
- as the importer progresses,add any failed rows to an in memory list, with the error reason added as a first column
- if there are errors, when the importer completes, store the list as a csv
-

[2016-08-23 01:31] anhnt commented on #2249
works great thanks mate

[2016-08-23 01:31] #2249 closed

[2016-08-23 04:50] bradmac commented on #2252
New UI
![screenshot-localhost 8080 2016-08-23 16-49-45](https://cloud.githubusercontent.com/assets/826458/17880655/abe8258a-6951-11e6-9bd6-40a7cadcc804.png)

[2016-08-23 05:01] bradmac commented on #2252
Also, have hopefully improved status information. Should now be a message during the lengthy search index update phase after records are inserted

[2016-08-23 05:12] bradmac commented on #2252
Ready to test!

[2016-08-23 07:02] hoanglinhlan commented on #2198
refer #2252

[2016-08-23 07:02] #2198 closed

[2016-08-23 08:20] hoanglinhlan commented on #2252
[emailError.xlsx](https://github.com/Kademi/kademi-dev/files/431919/emailError.xlsx)
**_Case1_**. Import this file. Default group vaue is any group.
**Expect**:

1. import 3 profile
-. 01outsidec3@mailintor.jj
-. 01outsidec8@mailintor.com
-. 01outsidec9@mailintor.com
2. error file have 6 incorrect profile

**Actual**:  import 6 new profile and show profiles: 1 -4 -5 in error file

**_Case2_**: Cle

[2016-08-23 08:21] ducdhm commented on #2241
2 radio buttons:
 1. Default folder page
 2. File name

[2016-08-23 09:12] hoanglinhlan commented on #2252
dont clear data. Re-produce case 1 after case 2
==> duplicate profile
![image](https://cloud.githubusercontent.com/assets/20508726/17886518/60255eec-694c-11e6-9081-3ea248d448d3.png)

[2016-08-23 11:10] anhnt commented on #2206
Hi @bradmac, the datepicker is working now but i think we need to parse Embargo with date and time.
Any suggestion?

[2016-08-23 19:27] ducdhm commented on #2227
`Decision` and `Timer` node is not belong to any apps so I made it to be node type of FunnelApp

[2016-08-23 21:51] bradmac commented on #2227
:+1:

[2016-08-23 21:54] bradmac commented on #2206
Yes, please use date and time. The underlying field is of type timestamp so supports date and time.

[2016-08-23 23:46] bradmac opened #2253 "User importer: Move mode to step before selecting columns"
Currently step 2 is bloated with copy describing the mode, and the column selection and default group. Please split these into 2 steps

Step 2: Select mode and default group
Step 3: Map columns. Only show group if "auto" mode is selected. If no default group is selected on step 2, then a group column is mandatory
Step 4: Import
...

[2016-08-23 23:52] bradmac opened #2254 "User importer: Move to its own screen"
Its a bit squeezy trying to fit this on the manage users page. Please move the wizard to its own template and call that from ManageUsersFileUpload to render the page.

[2016-08-24 00:28] bradmac commented on #2252
I've added extra validation on the email address, and added a check to only import rows if they're valid (that was missing).

I've also added a display on step 3 to show invalid rows.

I could not reproduce the problem with duplicated profiles. If you see that again please let me know.

[2016-08-24 04:01] bradmac opened #2255 "BAckup tool exports deleted repositories"
and it shouldnt

[2016-08-24 04:19] hoanglinhlan commented on #2252
Case 1: pass
Case 2: pls recheck
duplicate profile: cant re-produce

[2016-08-24 04:39] hoanglinhlan opened #2256 "Data uploader/ User import: Must show confirm popup when user click cancel import"

[2016-08-24 04:59] bradmac opened #2257 "Variant image enhancements"
- after an image has been selected for a variant, we need to be able to unselect it, so there is no variant image
- currently its possible to select a product image as a variant image. But we would also like to be able to upload an image which is set as the variant image, but not added to the product image list

[2016-08-24 05:31] bradmac commented on #2252
Added a validation check for group name field.

[2016-08-24 05:42] ducdhm opened #2258 "Can not add group in Point Bucket screen"

[2016-08-24 08:15] hoanglinhlan commented on #2252
Confirm fixed :D

[2016-08-24 08:15] #2252 closed

[2016-08-24 21:27] tuzzmaniandevil commented on #2255
Added a check if it's deleted, also added the same check to website backup.

[2016-08-24 22:21] bradmac opened #2259 "Deleting contact requests does not remove them from index"
For example see here:
http://admin.oceanyouth.kademi-beta.co/manageContacts/

Delete an old test entry and it is initially removed from the page. Then refresh the page and it appears. But then re-index and go back to the page and its gone.

So appears to be getting deleted from teh DB, but not the index.

[2016-08-24 23:29] bradmac opened #2260 "Group membership application enhancements"
See GroupMembershipApplication
- add columns to record whether it was accepted or rejected, and by who, and the date of processing
- show created and accepted/rejected events on profile timeline

[2016-08-24 23:38] bradmac opened #2261 "Calendar invitation enhancements"
Attendance restriction
- calendar to have optional list of groups with access. If none selected then access is not limited by group
- if groups are selected, then only allow registration from profiles in at least one selected group
- when creating an invitation email, set recipient groups to those defined for the calendar (if any)

Follow up emails
These should only be generated when the admin cli

[2016-08-25 01:32] bradmac commented on #2224
Fixed. Now validating the birthdate field.

Note that Kademi currently only supports date formats dd/mm/yyyy

[2016-08-25 03:13] tuzzmaniandevil opened #2262 "ProfileTableProvider: Add support to set the "enable" flag on a profile"

[2016-08-25 04:52] bradmac opened #2263 "My transactions list should show transactions from related organisations for org type points buckets"

[2016-08-25 08:13] paddyow opened #2264 "FTP fired but no file was sent"
Client said the below file was not sent to Listen, but records show it was.  Is there any further  information from our end to check if this was or was not sent?

http://admin.rspca-sa.olhub.com/integration/199276973

[2016-08-25 09:08] tuzzmaniandevil opened #2265 "Content Editor: Adding an <i> tag in the content editor get's removed"
If I try and add a `<i>` tag to use font awesome icons in the content editor using CKEditor, CKEditor removes the `<i>` tag, We have had this problem before in our standard CKEditor impl that was fixed by adding:
[code]

[2016-08-25 11:22] bradmac commented on #2264
Looks like it wasnt sent. Here is an example of a successful run:

http://admin.rspca-sa.olhub.com/integration/198339039

[code]

[2016-08-25 20:30] bradmac commented on #2264
@tuzzmaniandevil can you please look into this first thing? There's 2 things to look at
- why is it not being processed? I would guess there is an error during pipeline execution
- why is the problem not being logged? The result of every pipeline execution should be recorded

[2016-08-25 20:47] bradmac opened #2266 "Hide/Delete contact requests from the contact request detail page"
Currently can only be done from the list page

[2016-08-25 23:36] tuzzmaniandevil commented on #2264
I've added logging and extra steps to make sure errors get logged in the pipeline execution step. This will need to be backported to olhub

[2016-08-26 00:04] tuzzmaniandevil opened #2267 "Removing product from reward store doesn't update index"

[2016-08-26 01:38] tuzzmaniandevil commented on #2259
Backported a fix to olhub.com

The issue seems to be the constructor on DefaultIndexedItemUpdatedEvent when not specifying a transaction. ie `SessionManager.session().getTransaction()` doesn't work

[2016-08-26 02:11] hoanglinhlan commented on #2088
Refer #2252

[2016-08-26 02:11] #2088 closed

[2016-08-26 02:12] hoanglinhlan commented on #2197
refer #2252

[2016-08-26 02:12] #2197 closed

[2016-08-26 03:15] bradmac opened #2268 "Refactor record execution step"
Make this a part of IntegrationService

Note that it should be possible for the execution ID template to depend on the calling context, ie a job which sends by email and another which sends by FTP might want to have different execution ids

[2016-08-26 03:18] bradmac commented on #2264
We're getting "connection refused" on the provided FTP connection details.

[2016-08-26 03:46] tuzzmaniandevil commented on #2264
Some further details, Testing the FTP using implicit over TLS has this result:
![screenshot from 2016-08-26 15-43-45](https://cloud.githubusercontent.com/assets/3378330/17993475/31d19a9c-6ba4-11e6-8043-71511324b8e8.png)

Testing the FTP using explicit over TLS has this result:
![screenshot from 2016-08-26 15-44-08](https://cloud.githubusercontent.com/assets/3378330/17993481/3a6afe0a-6ba4-11e6-97f6

[2016-08-26 03:48] tuzzmaniandevil commented on #2264
@paddyow Please can you send those screenshots to listen, it seems to be a certificate issue on their end

[2016-08-26 03:49] tuzzmaniandevil commented on #2264
Btw I used this site to test it: https://ftptest.net/

[2016-08-26 03:51] tuzzmaniandevil commented on #2264
Sorry, I tested it with the wrong port numbers.

[2016-08-26 03:54] hoanglinhlan commented on #2224
Created a new profile with only email
Update profile: Choose email and birthday (7/12/1942 ) in spreadSheet
==>
**Expect**: step 3 find 1 existing profile and update profile
**Acutal**: step 3 find 1 new profile (???) and create a new profile with old email. so, we have 2 profile with only one email: 1 profile has birthday, 1 profile has not birthday

Note: currently, system dont validate birthday

[2016-08-26 04:43] ducdhm commented on #2241
New UI:
![222222222222](https://cloud.githubusercontent.com/assets/1289631/17994387/421fc68e-6b82-11e6-9afd-cad97b74e975.png)

[2016-08-26 04:48] bradmac opened #2269 "Contact form component: make thank you text configurable option"
Currently the contact form allows content to be edited in a page at a special path. But since we now have a component framwork with configuration options, the thank you text should be made a configurable option

AND the thank you text should be displayed in an appropriately styled box. I would suggest an alert panel

[2016-08-26 05:18] hoanglinhlan commented on #2224
[ExtraField.xlsx](https://github.com/Kademi/kademi-dev/files/438556/ExtraField.xlsx)

Can't set value for extraField has more than one option (extraField01 and 06)

[2016-08-26 07:15] hoanglinhlan commented on #2224
I just rechecked, some row in excel file has space (it mean value for extraField is "extra01-1 " but in list define value must "extra01-1".
Pls ignore this case

[2016-08-26 07:17] hoanglinhlan commented on #2224
However, should we need trim the string??

[2016-08-26 07:28] bradmac commented on #2224
Yes, i think we should add string trimming

[2016-08-26 07:38] hoanglinhlan opened #2270 "Data uploader /user Importer: Error SpreadSheet in step 3 and Error file need a header"

[2016-08-26 08:19] hoanglinhlan opened #2271 "Data uploader /user Importer: Must disable import button if spreadsheet has not any valid profile"
![image](https://cloud.githubusercontent.com/assets/20508726/17998825/70d7f4ec-6ba0-11e6-8d14-8b59cdaf823a.png)

[2016-08-26 11:00] tuzzmaniandevil opened #2272 "Add a PDF parser framework."
This will allow custom apps to parse and manipulate PDF files.

Use PdfBox https://pdfbox.apache.org/

to access use:

[code]

An example of generating thumbnails of the pages:

[code]

[2016-08-26 11:19] bradmac commented on #2272
Its best if we dont require custom apps to clean up resources by closing them. Often developers wont close the resource and that can cause resource depletion and crash the server.

Probably the best way of doing that is to parse the document to a bean which does not hold the pdf document internally, instead it reads its content (ie fields) when parsed, and just holds the content in memory.

Simila

[2016-08-26 18:40] ducdhm commented on #2230
New UI:
![55555555555](https://cloud.githubusercontent.com/assets/1289631/18016558/2f391f6e-6bf7-11e6-8b4e-64b5eab13a2d.png)

[2016-08-26 21:05] tuzzmaniandevil commented on #2272
Unfortunately a bean won't work, You need to have the PDF "open" to be able to make modifications to it. but I agree the framework should handle the closing of resources. So I've moved the `generatePageImage` to the file manager as recommended, with `parsePdf`  I came up with an idea, Why not wrap it? Here is a JS example:
[code]

and in Java it looks like this:
[code]

[2016-08-27 00:27] bradmac commented on #2272
You could wrap it like that, and that might be the way to go. But another approach is
- parse it to a bean, so you only need the open document to retrieve fields etc, and then you close it
- have service methods which perform operations, and these open the document, do what they need to do, and then close it

So you never need a "live" instance of the pdf. Just use and release.

[2016-08-27 00:31] bradmac commented on #2230
@ducdhm i think it would be better to have a lighter UI, i think the switch is overkill.

how about just having a link like github issues has for open/closed issues? We dont need to show counts. I think these could go under the search box, about the buttons

![open-closes](https://cloud.githubusercontent.com/assets/826458/18023813/fd5c2922-6c51-11e6-93c0-cb9856004950.png)

[2016-08-27 03:47] tuzzmaniandevil opened #2273 "Leadman: Allow to save custom fields on a lead profile page"
This should populate customs fields on a group

[2016-08-28 21:29] bradmac commented on #2224
Added trimming

[2016-08-28 21:46] #2264 closed

[2016-08-29 00:08] tuzzmaniandevil opened #2274 "Points Balance Calculator - Make sure all services use the new calculator"

[2016-08-29 00:26] bradmac commented on #2263
hey @hoanglinhlan, to test this you need to
- create an organisation based points bucket, linked to an org type like "rewards org"
- create an organisation with that org type
- create a profile linked to that organisation
- award points to the organisation
- view the profile in admin and verify you see the points on the Points tab
- create some debits for the profile (might need to setup a reward

[2016-08-29 00:39] bradmac opened #2275 "Tools menu drop down on manage user will not open"
Cannot access the upload users link because the drop down will not show.

This might be due to the enabled/disabled search feature

[2016-08-29 00:42] bradmac commented on #2270
@hoanglinhlan so can you please clarify..
- "Error SpreadSheet in step 3" - I dont understand what the problem is. Can you provide details?
- "Error file need a header" - do you mean that it should have a header row? If so i dont think that is needed currently.

[2016-08-29 01:42] bradmac opened #2276 "Group subscription goal in journey builder"
Part of https://github.com/Kademi/kademi-dev/issues/2227

[2016-08-29 02:07] bradmac commented on #2276
@ducdhm I've added GroupGoal and groupGoalNode.js following the same pattern as for other nodes. It is appearing in the editor, but if i add a group goal and then reload it doesnt display

Can you have a look please?

[2016-08-29 02:09] bradmac commented on #2276
And can you also add a dropdown for selecting the group?

[2016-08-29 02:25] bradmac commented on #2276
Groupgoal is working now. Just need to add a select box for the group

[2016-08-29 03:00] hoanglinhlan commented on #2275
Confirm fixed pass

[2016-08-29 03:00] #2275 closed

[2016-08-29 03:18] hoanglinhlan commented on #2270
hi
it's mean we need add a header row for error Spreadsheet that you show in step3 and header row for error file.
I think it not a big problem. However, if we do it, really convenient for users. That the reason I added label enhancement, it's not a bug. Maybe we do it in the next time

[2016-08-29 03:27] tuzzmaniandevil commented on #2257
- after an image has been selected for a variant, we need to be able to unselect it, so there is no variant image **Done**

[2016-08-29 04:08] tuzzmaniandevil commented on #2257
- currently its possible to select a product image as a variant image. But we would also like to be able to upload an image which is set as the variant image, but not added to the product image list **Done**

[2016-08-29 04:23] bradmac commented on #2270
OK. Moving back to milestone after next.

[2016-08-29 04:32] ducdhm commented on #2230
Update UI:
![a](https://cloud.githubusercontent.com/assets/1289631/18040815/1c65167c-6ddc-11e6-845a-a71ce151b5e0.png)

[2016-08-29 04:38] bradmac opened #2277 "Journey builder: Begin nodes to indicate entry point goals"

[2016-08-29 04:40] ducdhm opened #2278 "JB updates"
* Bring Begin node back with `nextNodeId` property only
* Add `stageName` property for any nodes which are `Goal`

[2016-08-29 04:40] hoanglinhlan commented on #2224
Fixed pass

[2016-08-29 04:40] #2224 closed

[2016-08-29 04:40] #2277 closed

[2016-08-29 05:06] hoanglinhlan commented on #2230
Confirm fixed pass

[2016-08-29 05:06] #2230 closed

[2016-08-29 05:43] bradmac opened #2279 "Show the "404 not found" page when viewing a website with no home page, or a folder with no default page"
To test:
- Create a new website with no index.html page in the root
- View the website
- You should see our standard "404 not found" page, instead of the empty white screen that was previously displayed

[2016-08-29 06:03] tuzzmaniandevil opened #2280 "Profile Timeline: Use group Title instead of name if available"
Also ignore signup logs where the group is deleted

[2016-08-29 06:08] ducdhm opened #2281 "Support grouped snippets"
We have looooong snippets list for now. It's time for Grouped Snippets

[2016-08-29 06:08] ducdhm commented on #2281
https://github.com/Kademi/keditor/issues/15

[2016-08-29 06:20] bradmac commented on #2241
I just used it and it produced a file with name "index-html.html", which is not found when going to the website root, ie - http://version1.w1.loopbackdns.com:8080/

Instead it is accessed on http://version1.w1.loopbackdns.com:8080/index-html.html

Please ensure the file is created with the name "index.html"

[2016-08-29 07:35] #2258 closed

[2016-08-29 08:14] hoanglinhlan commented on #2267
confirm pass

[2016-08-29 08:14] #2267 closed

[2016-08-29 08:27] hoanglinhlan commented on #2279
It's still show error page

[2016-08-29 09:51] hoanglinhlan commented on #1863
1. Cant delete image
2. Duplicate component: Click back/next of second component ==>
*Expect*: the second component change image
*Acutal*: the first component change image.

[2016-08-29 10:06] hoanglinhlan commented on #1863
3. Add image and upload img in any folder, then save component. Img cant saved in child folder, it saved in root folder