[2016-08-29 10:19] bradmac commented on #1863
:+1: yep, we need the image saved in the same location as the content. This applies to calendars, blogs, etc, as well as regular file system pages.

[2016-08-29 23:10] tuzzmaniandevil commented on #2238
@paddyow can you confirm that you just needed to change the date range?

[2016-08-29 23:23] tuzzmaniandevil commented on #1928
Timezone wasn't being applied when calculating the nextRun date

[2016-08-30 02:10] tuzzmaniandevil opened #2282 "Antisamy: Allow for class attributes"

[2016-08-30 03:35] bradmac commented on #2282
Yep, class attribute looks safe:

https://www.owasp.org/index.php/XSS_(Cross_Site_Scripting)_Prevention_Cheat_Sheet#Bonus_Rule_.234:_Use_the_X-XSS-Protection_Response_Header

"Safe HTML Attributes include: align, alink, alt, bgcolor, border, cellpadding, cellspacing, class, color, cols, colspan, coords, dir, face, height, hspace, ismap, lang, marginheight, marginwidth, multiple, nohref, noresize,

[2016-08-30 03:41] ducdhm commented on #2282
@hoanglinhlan You can download this tool for checking security https://sourceforge.net/projects/zaproxy/

[2016-08-30 04:07] paddyow commented on #2238
Ok so this looks fine now.  However I did notived the pages has 10 pages, but only one page of emails.

[2016-08-30 04:09] bradmac commented on #2238
@tuzzmaniandevil can you please have a look at the pagination control? We should get this nailed on this page, and then we can staart using it on all list pages

[2016-08-30 04:56] tuzzmaniandevil commented on #2238
Sorted :-)

[2016-08-30 05:12] tuzzmaniandevil opened #2283 "FunnelBuilder SendEmailAction: Make to, from and subject fields expressions"
- Also, please finish off manage funnel edm screen

[2016-08-30 05:36] #1980 closed

[2016-08-30 05:36] paddyow commented on #2071
The blue is correct, make the red text white.

[2016-08-30 05:43] bradmac commented on #2071
Hey @paddyow the text is red because its a link, and the link colour is by default the @brand-primary colour. We cant change each page for each theme, so really we need a colour pallette that works together.

[2016-08-30 06:10] ducdhm commented on #2241
@bradmac The value of `name` input should is `index` instead of `index.html` (without extension). I fixed it!

[2016-08-30 10:23] anhnt opened #2284 "Cant search reward product by content"
Please reproduce this bug when searching with term: MJVM2X/A which is from this product: http://carters.kademi.com.au/trade-reward/technology-and-accessories/computers/20507852/

[2016-08-30 10:24] anhnt commented on #2284
This is query builder code:
`var q = {
            "multi_match": {
                "query": query,
                "fields": ["title", "content"]
            }
        };`

[2016-08-30 21:28] bradmac opened #2285 "Display date range on manage reward points"
Eg, in Carters

http://carters.admin.kademi.com.au/rewards/points/

[2016-08-30 21:30] #2285 closed

[2016-08-30 22:26] tuzzmaniandevil opened #2286 "FunnelBuilder Editing Email templates doesn't work correctly"
When I try add containers and components using the EDM editor it looks all wrong
![screenshot from 2016-08-31 10-22-22](https://cloud.githubusercontent.com/assets/3378330/18109438/5f87aa0c-6f65-11e6-8835-26fac8b48ba4.png)

![screenshot from 2016-08-31 10-23-47](https://cloud.githubusercontent.com/assets/3378330/18109418/44b93dee-6f65-11e6-8e37-cb2fc3f139c9.png)

[2016-08-30 22:54] bradmac opened #2287 "CX Journey Builder: Decision action"
Decision action has a list of choices, where each choice identifies a next node and has an expression.

The first choice where the expression returns true is taken.

The expected user experience is:
- user creates a decision node
- user adds subsequent nodes as choices
- user may add an "else" node, which will be taken if no choices evaluated to true
- user then edits the decision node properties

[2016-08-30 23:52] tuzzmaniandevil commented on #2284
There was a bug when converting HTML to plain text. So the indexed content ended up being incorrect.

[2016-08-30 23:56] tuzzmaniandevil opened #2288 "FunnelBuilder: Add SMS Funnel action"
This will allow the funnel to send SMS messages. Should work similar to automation

[2016-08-31 00:16] tuzzmaniandevil commented on #1950
What would also be good is to restrict this to a certain role. Like the User Administrator role

[2016-08-31 01:06] bradmac commented on #2287
New expression type available in json with name "query"

The fields available for the query builder are available as json from the mange funnel folder, for example:
http://localhost:8080/funnels/decision2/?fields
[code]

[2016-08-31 01:18] bradmac commented on #2287
Here is an example of a funnel containing a single decision node with 2 choices:

[code]

[2016-08-31 01:21] bradmac commented on #2287
@ducdhm can you please integrate the rule builder into the GUI for decision? As noted above, i think the rule builder should be a in a large modal opened from the settings panel.

[2016-08-31 03:07] ducdhm opened #2289 "Multiple-choice for quiz"
Currently, `Multiple-choice` in quiz is `Single choice`

[2016-08-31 03:10] bradmac commented on #2289
:+1:
Definitely a nice to have feature.

[2016-08-31 04:38] tuzzmaniandevil opened #2290 "SendEmailAction: Enhance management screen"
Add analytics to the manage screen. also tidy up the screen a bit

[2016-08-31 04:38] tuzzmaniandevil commented on #2283
_Also, please finish off manage funnel edm screen_ - **Moved to a separate issue** https://github.com/Kademi/kademi-dev/issues/2290

[2016-08-31 04:44] paddyow opened #2291 "SMS can be sent twice"
After the Send button is pressed, it can be pressed again and the same message sent again.

After the button is pressed the end user must not be allowed to send the SMS message again.

![image](https://cloud.githubusercontent.com/assets/2201340/18116220/42c25ab0-6f89-11e6-947c-a112563c6cce.png)

[2016-08-31 04:46] bradmac commented on #2291
@anhnt can you please ensure the send button is disabled when clicked

[2016-08-31 05:06] paddyow opened #2292 "Not choosing an SMS gateway"
If the account has 2x gateways setup and the user does not choose a gateway, what happens?  Will it send the SMS to both gateways resulting in the end user receiving 2x SMS messages?

If so we should probably make choosing one gateway mandatory.

![image](https://cloud.githubusercontent.com/assets/2201340/18116584/5dabdb96-6f8c-11e6-98d2-72ea4e7438ea.png)

[2016-08-31 05:15] paddyow opened #2293 "Kademi logging"
Adding the API key to the clicksend APP created a lot of logging. leadman, braintree etc.  Is this normal?

![image](https://cloud.githubusercontent.com/assets/2201340/18116737/a3bc1bd6-6f8d-11e6-974d-8dd71482274c.png)

[2016-08-31 05:20] ducdhm commented on #2286
Reason is `height` of `container-content` is `50px`. It's should `min-height`

[2016-08-31 07:28] bradmac commented on #2293
I cant see why that would happen, worth a look!

[2016-08-31 07:30] bradmac commented on #2292
Please make the provide mandatory

[2016-08-31 07:53] tuzzmaniandevil opened #2294 "SmsApp: Add EmailTrigger for sms delivery status"

[2016-08-31 07:54] tuzzmaniandevil opened #2295 "FunnelBuilder: Add Sms Result goal"

[2016-08-31 09:34] paddyow opened #2296 "Find and replace"
Would be good to have a find and replace feature in the code editor.

[2016-08-31 15:32] ducdhm commented on #2296
@paddyow yes, you can. Just press `Ctrl + H` for replace, `Ctrl + F` for searc

[2016-08-31 21:46] tuzzmaniandevil opened #2297 "JourneyBuilder: Group Goal output pins doesn't connect correctly"
![imageedit_1_2298295024](https://cloud.githubusercontent.com/assets/3378330/18147496/e75cbdd2-7028-11e6-9b04-1dbc74e95dc1.jpg)

[2016-08-31 22:00] bradmac opened #2298 "CX Journey Builder: Not extending right"
There should always be at least 200px of space to the right of the most right node

![screenshot-nzi admin kademi com au 2016-09-01 09-58-54](https://cloud.githubusercontent.com/assets/826458/18147912/eb6a8c5e-702a-11e6-9c07-185b14c51350.png)

[2016-08-31 22:31] tuzzmaniandevil commented on #2282
I've also added span as a safe tag :-)

[2016-08-31 23:55] tuzzmaniandevil opened #2299 "Comment Service: websocket broadcasts should be restricted to the content the comment comes from"
Before if you had 2 different pages open that have comments, blogs for example. if a user posted a comment on one blog it would show up on the other blog. this should not happen

[2016-09-01 04:26] bradmac opened #2300 "Make theme template editable with content editor"

[2016-09-01 06:08] anhnt opened #2301 "Remaining apps to be componentise"
salesdata, products, vouchers, forums, contacts

[2016-09-01 06:10] anhnt commented on #2095
closing it and move to https://github.com/Kademi/kademi-dev/issues/2301

[2016-09-01 06:10] #2095 closed

[2016-09-01 11:32] anhnt commented on #2253
i've done splitting select mode and map columns into 2 steps. there is issue when i selected remove mode then the record validation is saying: groupName is invalid and couldnt remove any record
@bradmac please have a look on this tomorrow. thanks

[2016-09-01 22:23] bradmac opened #2302 "KToolbar is clashing with site menu in componentised theme"
KToolbar uses a fixed position at the top of the page, but so does the site navbar, meaning they site on top of each other

See extras.less line 30 and ktoolbar.less line 3

Temporarily removed navbar-fixed-top in menuComponent.html

Please update so that the menu and ktoolbar work together when fixed

Related to https://github.com/Kademi/kademi-dev/issues/2300

[2016-09-02 02:50] tuzzmaniandevil opened #2303 "Removing a product from a category causes an error"
This is because the ProductInCategory doesn't get removed the the collection in the product. This causes the indexer to throw an exception because it tries to access an entity that no longer exists.

[2016-09-04 21:45] bradmac commented on #2300
Mostly done. Need to add menu editing to the new menu component

[2016-09-04 23:37] tuzzmaniandevil opened #2304 "Backport User Importer to olhub.com"

[2016-09-05 00:18] bradmac opened #2305 "Make menu editor awesome"
We now have a menu component which allows editing menus
- logo editing
- change the path and text for app provided menus
- hide app provided menus
- add custom menu items
- delete custom menu items
- re-order all menu items by drag/drop

BUT this is still not completetly awesome. To be fully awesome we need
- better logo editing, including image upload
- control navbar options, eg inverse, left, r

[2016-09-05 00:18] bradmac commented on #2300
Menu editor is now functional, albeit basic. Created an issue to make it more awesomer
https://github.com/Kademi/kademi-dev/issues/2305

[2016-09-05 00:23] bradmac commented on #2300
To test this...

1. first go to the website manager, theme tab. And click on the "defaultThemeTemplate" item in "Content viewing and authoring"
2. Then edit the base template layout in the content editor

1. Open template editor
![template-ed](https://cloud.githubusercontent.com/assets/826458/18234763/48b790f6-7363-11e6-83a5-1b3829070d3a.png)

2. Edit layout mostly with menu and template body comp

[2016-09-05 03:15] hoanglinhlan commented on #2256
2 case: step 3 ( Processing) click cancel import
show confirm popup
- click ok => cancel importing
- click cancel in popup => continue importing

tested ok

[2016-09-05 03:15] #2256 closed

[2016-09-05 03:24] hoanglinhlan commented on #2279
recheck
case 2: passed

[2016-09-05 03:24] #2279 closed

[2016-09-05 03:26] ducdhm commented on #2297
@tuzzmaniandevil fixed!

[2016-09-05 03:42] #2304 closed

[2016-09-05 04:10] hoanglinhlan commented on #2253
5 case:
.1.  Step2: No default group. Step 3: dont select group colum in Spreadsheet
=> **Expect**: Show message: Please indicate group field in data table

.2.  Step2: No default group. Step 3: select group colum with group name not existed
=> **Expect**:  At step 4: find error profile and show message: groupName is invalid

.3.  Step2: No default group. Step 3: select group colum with group name

[2016-09-05 04:10] #2253 closed

[2016-09-05 04:23] #2254 closed

[2016-09-05 05:02] #2297 closed

[2016-09-05 05:22] bradmac opened #2306 "Error installing app"
App published as "bootstrap"

Attempt to install into another account and there is an error that the app already exists

[2016-09-05 07:24] #2295 closed

[2016-09-05 07:27] #2288 closed

[2016-09-05 08:18] #2241 closed

[2016-09-05 08:48] hoanglinhlan commented on #2236
Add container wrong
![image](https://cloud.githubusercontent.com/assets/20508726/18242355/1d3f6bf2-7380-11e6-92ba-124246a4da51.png)

[2016-09-05 11:02] anhnt opened #2307 "Content editor: Container settings dont show after reloaded"
I was setting the padding for container but after reloaded the values on the settings panel has gone but css still exists

[2016-09-05 11:03] anhnt opened #2308 "Content Editor: Should be able to set text color with paragraph component"
As discussed, rather then add the colour widget we should incorporate additional bootstrap components such as the jumbotron

[2016-09-05 11:19] anhnt opened #2309 "Bring ckeditor custom link plugin into content editor page"

[2016-09-05 11:20] anhnt opened #2310 "Content Editor: Create jumbotron component"
http://getbootstrap.com/components/#jumbotron

[2016-09-05 11:21] anhnt opened #2311 "Content Editor: Create breadcrumb component"
http://getbootstrap.com/components/#breadcrumbs

[2016-09-05 16:34] ducdhm commented on #2308
I think we can do it with CKEditor?

[2016-09-05 21:14] bradmac commented on #2308
Yes we can, I'm just not sure if we should.
When users can set colours directly the site always ends up looking like a mess. Its better if they use components and styles from the pallette.
I spoke to @anhnt about his situation and we decided he will add some bootstrap components to the content editor component list.

[2016-09-05 22:59] bradmac opened #2312 "Menu editor and component to support sub menus"
Related to https://github.com/Kademi/kademi-dev/issues/2305

[2016-09-05 23:02] bradmac commented on #2312
Add a sub menu item like so..
![submenu1](https://cloud.githubusercontent.com/assets/826458/18257992/44d1ef04-7421-11e6-8dfb-8ae437c6eeeb.png)

And it displays thusly..

![submenu2](https://cloud.githubusercontent.com/assets/826458/18257996/53cb5ca2-7421-11e6-95db-1dfb060c40ab.png)

[2016-09-06 01:51] bradmac opened #2313 "Add edit template and theme links to ktoolbar"
This is to make it easier for admins to understand the relationship between pages, page templates and theme templates, and to make it easier to find them.

From viewing a page they can open an editor for either one.

![screenshot-version1 lp loopbackdns com 8080 2016-09-06 13-50-31](https://cloud.githubusercontent.com/assets/826458/18259532/02e94836-7439-11e6-9574-a5e30fb8b008.png)

[2016-09-06 01:59] paddyow opened #2314 "Unsubscribe showed no confirmation screen"
http://admin.rspca-sa.kademi-beta.co/manageUsers/upload

I unsubscribed 1x email via the profile uploader
It showed 1x profile to be unsubscribed
It processed and added them to the unsubscribed list
The wizard did not progress to the end completed screen, it just went back to the first section (upload)

[2016-09-06 02:04] tuzzmaniandevil opened #2315 "SendEmailAction: management screen - Add CSV export of email history"
Also add a csv export of stats

[2016-09-06 02:07] #2314 closed

[2016-09-06 02:12] paddyow opened #2316 "Unsubscribe workflow"
The review screen when unsubscribing a profile looks like the below:

![image](https://cloud.githubusercontent.com/assets/2201340/18259761/f0a42b68-742a-11e6-97e7-1e446fb6d477.png)

The complete screen looks like the below:

![image](https://cloud.githubusercontent.com/assets/2201340/18259764/ff531c78-742a-11e6-99ae-a5f42a835442.png)

I think the review screen should show number profiles to be uns

[2016-09-06 02:31] paddyow opened #2317 "Add link to profile on unsub page"
http://admin.rspca-sa.kademi-beta.co/unsubscribes/

Add link to profile so I can check why some profiles have no last message sent.

[2016-09-06 02:36] #2317 closed

[2016-09-06 02:53] ducdhm commented on #2312
@bradmac Should we allow 2-levels menu?

[2016-09-06 03:29] ducdhm commented on #2307
Fixed!

[2016-09-06 03:43] #2283 closed

[2016-09-06 04:24] #2290 closed

[2016-09-06 05:06] hoanglinhlan opened #2318 "add new page: File name created wrong"
**Step**
1. Set title for new page
2. Selected Default folder page
3. Save and close

**Expect**: create new file: index.html
**Actual**: create new file 	2016_8_6_124.html

[2016-09-06 08:20] hoanglinhlan commented on #2303
passed

[2016-09-06 08:20] #2303 closed

[2016-09-06 08:45] hoanglinhlan commented on #2269
1. after send message, system redirect to /contactus page and show the code
`{
data: null,
fieldMessages: [ ],
messages: [ ],
nextHref: "",
status: true
}
`
2. At admin site, contact request not increase

[2016-09-06 08:45] ducdhm opened #2319 "Dockable option for container"
* Can be docked at `top`, `bottom` and `center` (like login panel in http://reward-demo.olhub.com/login.html)
* `Visible at` option if user wants to show container at xxx when it's docked

[2016-09-06 08:53] ducdhm opened #2320 "Missing scroll bar in component tab in Content Editor"

[2016-09-06 09:05] bradmac opened #2321 "Calendar event component improvements"
- use a standard breadcrumb component instead of a calendar specific one
- move all js and css out of the component, and into dependencies.  This should allow for multiple event components in one page
- make calendar and event selection available in settings. If none selected then the template should attempt to use the current page.
- remove components for administration of events, ie add event bu

[2016-09-06 09:44] hoanglinhlan commented on #2239
upload file worked.
Confirm profile appear in manage user after upload file

[2016-09-06 09:44] #2239 closed

[2016-09-06 09:48] #2231 closed

[2016-09-06 10:21] #2259 closed

[2016-09-06 10:51] bradmac opened #2322 "Implement support for HSTS"
https://www.owasp.org/index.php/HTTP_Strict_Transport_Security_Cheat_Sheet

[2016-09-07 00:03] tuzzmaniandevil opened #2323 "Improve LeadsImporter"
Add access to more fields and ability to assign a lead to a profile.

[2016-09-07 02:14] bradmac opened #2324 "Integrate custom apps with the journey builder"
Allow adding through controller mappings. Eg

[code]

That will register a goal node type with the journey builder. The app can then trigger the goal as complete by firing a corresponding event.

[2016-09-07 02:20] bradmac commented on #2324
Note that custom app goals will all be of the same json type of "customGoal". So we need to differentiate between different node types by some other ID.

Custom nodes will be registered in the journey builder with a unique ID (eg kfeedbackSubmittedGoal) but will use the json type of "customGoal". Nodes have a  nodeType property to hold the unique identifier of the node type.

I've added  this meth

[2016-09-07 02:21] bradmac commented on #2324
@ducdhm can you finish up please? Its mostly working now, but connections drag from the top left corner, and they dont appear after the bind

[2016-09-07 02:42] #2154 closed

[2016-09-07 02:58] bradmac opened #2325 "Funnel builder manage email screen does not display CK editor toolbar for html components"
- Create a funnel
- Create a send email action
- Go to the manage page
- Add a html component
- Edit the html component
- the CK Editor toolbar should be displayed, but is not

Note it is displayed when editing web pages

[2016-09-07 03:11] bradmac opened #2326 "Add link option to image for content editor"
Should allow entering text, or selecting an asset.

Note that when used in an EDM this will need to be an fully qualified url

[2016-09-07 03:49] bradmac opened #2327 "Creating a funnel fails when there is a repository with the same name"
Eg create a website called "lp1" and then try to create a funnel called "lp1"

[2016-09-07 04:27] anhnt commented on #2310
Added some more settings

[2016-09-07 04:28] anhnt commented on #2311
Added some more settings

[2016-09-07 04:37] ducdhm commented on #2324
Done!

[2016-09-07 04:41] ducdhm commented on #2305
[code]
Remaining thing. Will do in next milestone!

[2016-09-07 06:51] anhnt commented on #2306
I got the same error when installing other app called "user-lib" so i think name doesnt matter

[2016-09-07 07:43] hoanglinhlan opened #2328 "Event Calendar: display date time error"
- Create event for a calendar
- go to event detail page
=> Date and time display error

![image](https://cloud.githubusercontent.com/assets/20508726/18303759/e3a38560-7508-11e6-87b0-0bfc1932aa70.png)

[2016-09-07 07:59] hoanglinhlan opened #2329 "Event Calendar: Display information of People attending error"
- at frontEnd, register an event then add a guest ( fill valid data for all textbox ).
- at admin, go to attendees of this event. Fullname is "null null" and Org is blank. Refer img
  ![image](https://cloud.githubusercontent.com/assets/20508726/18304254/88f2d906-750b-11e6-86f9-f022834333dd.png)

[2016-09-07 08:35] hoanglinhlan opened #2330 "Event Calendar: 404 error when click Link of guest in attending"
- Register an event then add a guest
- Click to any guest link in list attending

==> system show 404 error. Maybe the reason is that the guest is not a member so I think we should display a more reasonable notice

[2016-09-07 08:36] ducdhm commented on #2287
New UI:
![333333](https://cloud.githubusercontent.com/assets/1289631/18305245/d8942a82-7510-11e6-906c-b9d469ce2462.png)

![4444444444444444444](https://cloud.githubusercontent.com/assets/1289631/18305251/dfed2978-7510-11e6-91f8-a8619b2d045e.png)

[2016-09-07 08:37] ducdhm commented on #2287
@bradmac I'm done!

[2016-09-07 08:40] hoanglinhlan opened #2331 "Cant change avatar"
Cant change profile's avatar

[2016-09-07 08:50] hoanglinhlan opened #2332 "Event Calendar: FrontEnd - Display description wrong"
Dont fill content for event then go to frontEnd. This event display description wrong

![image](https://cloud.githubusercontent.com/assets/20508726/18305638/addcea34-7512-11e6-9150-e3046f48fbe6.png)

[2016-09-07 09:05] hoanglinhlan opened #2333 "Event Calendar: Display error message not reasonable"
- Register a event
- do not select any radio then submit attendance
==> system display 3 message but I think we need only last message (Please select an option)

![image](https://cloud.githubusercontent.com/assets/20508726/18306209/ed53930a-7514-11e6-8d6b-24327565c752.png)

[2016-09-07 09:18] ducdhm commented on #2298
New UI (Bonus: Dotted grid background)
![666666](https://cloud.githubusercontent.com/assets/1289631/18306555/9aa2e398-7516-11e6-839b-8f3013d4f483.png)

[2016-09-07 09:21] ducdhm commented on #2318
@hoanglinhlan It'll happen when you already have index.html page

[2016-09-07 09:25] ducdhm commented on #2318
Ahh, I found the way to reproduce

[2016-09-07 09:34] bradmac commented on #2331
@hoanglinhlan is that in admin profile page or front end? Is there an error? And what theme did you see this with?

[2016-09-07 09:35] hoanglinhlan commented on #2331
@bradmac  that is in admin profile page. it's an error.

[2016-09-07 09:35] bradmac commented on #2330
Most likely there is just a js error. Clicking the link should show a modal.

[2016-09-07 09:37] bradmac commented on #2328
Looks like the server is not correctly parsing the date when creating hte event.

[2016-09-07 09:38] hoanglinhlan commented on #2331
![image](https://cloud.githubusercontent.com/assets/20508726/18307146/4d1e9038-7519-11e6-9968-acf7d83367a1.png)
when I click crop or save, system show popup with error message. I tried with many image( jpg, png, big size, small size ...) but system always show error message

[2016-09-07 09:48] ducdhm commented on #2286
Seem like this screen is loading web snippets instead of edm snippets

[2016-09-07 09:52] bradmac commented on #2286
Thats because the resource being edited is a html file. I can look into this tomorrow if you like.

[2016-09-07 09:54] ducdhm commented on #2286
@bradmac Ok. Please help me this issue. Thanks.

[2016-09-07 09:56] ducdhm commented on #2331
@bradmac @hoanglinhlan It's correct because it's locally kademi in Window. Cropping image doesnt work on Window

[2016-09-07 09:59] bradmac commented on #2331
Yep, depends on linux utilities

[2016-09-07 10:23] ducdhm commented on #2331
@bradmac But I got other issue with it. I can not save the uploaded image (without cropping). It's happening on local and prod, too

[2016-09-07 21:55] tuzzmaniandevil opened #2334 "Add a CSV Import/Export for Lead tasks"

[2016-09-07 22:06] bradmac commented on #2331
Admin works when using crop, but there is an error when saving without cropping

[2016-09-07 22:25] bradmac commented on #2331
Fixed upload without crop

[2016-09-07 22:45] bradmac opened #2335 "Use colours on stages"
We would like stages in leadman to be associated with specified colours. This colour coding should display on the funnel.

Colours are to be specified on the funnel properties page. Please use a colour picker with a limited set of colours similar to what github uses for its label configuration - https://github.com/Kademi/kademi-dev/labels

[2016-09-08 00:18] paddyow opened #2336 "KCRM US - Not show funnels in Analytics"
http://kcrm.kademi.us/dashboard

Only shows agency..  Should show 3x funnels.

[2016-09-08 00:52] bradmac opened #2337 "Journey builder timers and tasks"

[2016-09-08 02:14] ducdhm opened #2338 "JourneyBuilder: Move rule editing to the decision node"
On decision node settings panel, display a list of choices (ie transitions). The use can click each one to open the rule editor for that choice. This will replace clicking on a transition.

The user cannot change transitions from this settings panel, they can only edit the rules for the current transitions

[2016-09-08 02:22] ducdhm commented on #2338
wont do it

[2016-09-08 06:11] bradmac commented on #2286
Done. Now the edmeditor is editing the ManageSendEmailResource action itself, rather then the html file holding the content. The ManageSendEmailResource class returns true for is("email") and is("edm") so should support the correct set of components

[2016-09-08 06:11] bradmac commented on #2286
@ducdhm can you check please?

[2016-09-08 07:33] hoanglinhlan commented on #2331
change avatar worked

[2016-09-08 07:33] #2331 closed

[2016-09-08 07:56] #2318 closed

[2016-09-08 07:59] hoanglinhlan commented on #2318
Create a new page:
File name - choose Default folder page: 2 case
- case1: index.html existed, file name has created date.
- case2: index.html not existed, file name is index.html
File name - dont choose Default folder page: create file with name that use input

passed

[2016-09-08 08:06] ducdhm commented on #2286
@bradmac It works. Thanks!

[2016-09-08 08:06] #2286 closed

[2016-09-08 08:12] hoanglinhlan commented on #2298
![image](https://cloud.githubusercontent.com/assets/20508726/18341876/4e9d45d6-75d6-11e6-99b9-46533186fcdb.png)

passed

[2016-09-08 08:12] #2298 closed

[2016-09-08 08:45] anhnt commented on #2217
Update tag and category components

[2016-09-08 08:55] hoanglinhlan commented on #2312
currently, I cant add sub menu item

[2016-09-08 09:13] bradmac commented on #2312
Should be just 2 levels. Ie
- Services
 - Cloud technology
 - Consulting
- Products
 - Product 1
 - Product 2

[2016-09-08 09:23] ducdhm commented on #2338
New UI:
![qqqqqqqqqqqqqq](https://cloud.githubusercontent.com/assets/1289631/18344226/98ab765c-75e0-11e6-911f-8ab779b6ccb6.png)

[2016-09-08 09:30] bradmac commented on #2338
@ducdhm could you remove the "send email" part from the rule text? Just having the icon and the node label would be perfect. And just reduce the indentation by about half of the rules lists

[2016-09-08 09:40] ducdhm commented on #2338
@bradmac Ok.

[2016-09-08 09:50] ducdhm commented on #2338
Done!

[2016-09-08 21:56] bradmac commented on #2306
Havent been able to reproduce. The problem with user-lib was because the app had not been published.

[2016-09-08 21:56] #2306 closed

[2016-09-08 23:45] bradmac commented on #2337
Task creation is now working
Timers are now working

[2016-09-09 03:45] #2310 closed

[2016-09-09 04:13] hoanglinhlan commented on #1664
Cant reproduce

[2016-09-09 04:13] #1664 closed

[2016-09-09 07:36] hoanglinhlan commented on #1128
Failed
Precondition: user-lib/ live version is 2.0.0
**Step**:
- http://localhost:8080/repositories/user-lib : created new version 2.1.0
- http://localhost:8080/manageApps/user-lib/#market-tab: re-publish this app
- Publish version 2.1.0

==> notification display wrong and app'version auto change to new live version, refer the img

![image](https://cloud.githubusercontent.com/assets/20508726/18379

[2016-09-09 07:51] hoanglinhlan commented on #1863
confirm worked

[2016-09-09 07:51] #1863 closed

[2016-09-09 08:14] #1404 closed

[2016-09-11 21:03] bradmac commented on #2337
Hey @hoanglinhlan, to test this i ..
- created a kcrm website, and configured a sales consultant group to use it
- created a funnel, starting with a group goal
- added a few goals and create task steps to the funnel in sequence. Make sure the assign to group and org fields are setup to make available to the sales consultant group
- set a "tester" rule on the funnel for "mailinator.com" to have a d

[2016-09-11 21:07] bradmac commented on #2287
Looks great! Over to you @hoanglinhlan

[2016-09-11 21:58] bradmac opened #2339 "Integrate custom apps with content editor"
Custom apps should be able to provide components

[2016-09-12 00:51] bradmac commented on #2339
@anhnt can you finish integrating kfeedback app?
https://github.com/Kademi/kademi-app-kfeedback/tree/master/kfeedback/admin/theme/apps/kfeedback

What i would like to do is
- the kfeedbackEmail component settings should allow the user to select a survey.
- the component will then generate the email snippet in the EDM

Then please document the component editor integration process in a module on doc

[2016-09-12 01:57] bradmac commented on #2324
Also, need to support actions.

I've added RepoAppAction which has json type "customAction". It has properties appId and jsMethod which must be set. These should be populated from the app provided js (somehow)

[2016-09-12 02:04] bradmac commented on #2324
@ducdhm could you create a custom action as part of kfeedback which emails a selected survey? When done please create documentation in docs.kademi.co showing how to create custom goals and actions

[2016-09-12 02:33] ducdhm commented on #2324
Ok

[2016-09-12 07:24] hoanglinhlan opened #2340 "Journey builder: Save website wrong when setting email node"
**Step**:
1. Create a funnel, add send email node
2. Edit setting in email node: set a website and save
3. then go to email manage of this node
4. select others website and save
5. check setting node

**Expect for each step:**
3. tab send information, value of website dropdown is the website selected in step 2
5. in setting node, value of website dropdown is the website selected in step 4

[2016-09-12 08:40] hoanglinhlan opened #2341 "Journey Builder: Send email node cant save setting"
- Create funnel, add Send email node
- open setting and input From/Reply to / To then save
==> nothing saved

[2016-09-12 08:48] ducdhm opened #2342 "[Content Editor] Toggle Menu component"

[2016-09-12 08:51] ducdhm opened #2343 "Weird character in custom component in Content Editor"
@bradmac I have added Toggle Menu component. There is a button for closing the menu. The content of this button is `$times;`. It's looking well in contentEditor. But when viewing frontend site, this character is converted to `�`

[2016-09-12 08:55] ducdhm commented on #2343
Source code of page:
[code]

[2016-09-12 09:13] bradmac commented on #2343
https://github.com/Kademi/kademi-dev/blob/9eaeb8f2592be12491e62dbffb5ec72d3aba59bc/src/main/webapp/templates/apps/content/components/toggleMenuComponent.html

[2016-09-12 09:47] ducdhm commented on #2342
Done!

[2016-09-12 09:52] anhnt opened #2344 "Content editor: Could not get files tree when upload image"
![error](https://cloud.githubusercontent.com/assets/735555/18431888/4779198e-7909-11e6-9e11-fa5b4287d4f5.PNG)

[2016-09-12 11:06] hoanglinhlan commented on #2337
worked pass

[2016-09-12 11:06] #2337 closed

[2016-09-12 14:36] paddyow opened #2345 "Need to be able to upload profiles into funnels and/or tag them"
http://version1.kcrm.kademi.us/custs/

Need to upload profiles with tags
Need to upload profiles and create leads into a chosen funnel

How do I do this?  If not can we build this in.

[2016-09-12 20:41] bradmac commented on #2345
I think we'll need an extension to allow multiple columns with groups

[2016-09-12 23:23] bradmac opened #2346 "Journey builder: Assign-to step"
Create a new journey node which will allow assignment of the lead.

Leads can be assigned to and or all of:
- organisation
- group
- sales person

[2016-09-13 01:05] tuzzmaniandevil commented on #2346
:+1:

[2016-09-13 01:26] bradmac commented on #2324
Realised the approach implemented above is all screwy. Should use the nodeType property to identify the NodeType, and then get the jsMethod from that.

[2016-09-13 02:13] bradmac opened #2347 "Make profile timeline limited by selected date range"
Use the common date range selector to filter the displayed date range on profiles.

Add a "Show more" button at the bottom of the timeline which loads and appends items for the preceding time period

[2016-09-13 03:39] hoanglinhlan commented on #2136
![image](https://cloud.githubusercontent.com/assets/20508726/18460668/915294e2-799d-11e6-982b-2a84472c9bb6.png)
confirm drag/drop editor worked ok

[2016-09-13 03:39] #2136 closed

[2016-09-13 03:49] hoanglinhlan commented on #2206
pass/ worked ok

[2016-09-13 03:49] #2206 closed

[2016-09-13 04:08] tuzzmaniandevil commented on #2334
@hoanglinhlan This is to export Tasks from the frontend of KCRM. So you will need to setup a KCRM site, create some leads and tasks, then export and import into another kcrm site

[2016-09-13 04:30] hoanglinhlan opened #2348 "Reset password issue"
1. Cant access reset password site
http://www.kademi.co/

- Login then click Forgotten password
- Open reset password link

**Expect**: access this site, display reset pass area and customer can reset pass success
**Actual**:  Cant access this site

[2016-09-13 04:52] bradmac opened #2349 "Fix admin dashboard builder"
Currently when i open the admin dashboard builder (http://localhost:8080/dashboards/) i see the content editor, but i cant drop layouts into the page. I see a large number of js errors.

[code]

[2016-09-13 04:52] hoanglinhlan commented on #2348
2. Dont received reset pass email
at admin domain, when I choose forfot password. I dont received any email for reset pass

[2016-09-13 07:50] bradmac opened #2350 "LeadMan: After editing the leads org type field in settings, the value is lost when re-displaying"

[2016-09-13 08:07] ducdhm opened #2351 "Improve container"
* Support extra class option for container and its column
* Can set background for container or inner-container

[2016-09-13 08:10] ducdhm opened #2352 "Button component"
Supports:
 * Bootstrap brand colors
 * Bootstrap size
 * Linkable with `a` tag instead of `button` tag

[2016-09-13 08:22] bradmac opened #2353 "Funnels do not appear to work with automation"
- create an automation to send an email from a contact form
- create a funnel with initial goal from the contact form
- there is an exception indexing at the end of funnel processing

http://clickstartdigital.admin.kademi.com.au/autoEmails/

http://clickstart-digital.kademi.com.au/lead.html

[code]

[2016-09-13 08:39] hoanglinhlan commented on #2207
CSS error
![image](https://cloud.githubusercontent.com/assets/20508726/18466969/36d972ee-79c8-11e6-9a4a-ad5b4dabff67.png)

[2016-09-13 08:45] bradmac opened #2354 "Journey Builder: Add to group settings does not re-display selected group"
- Add a "Add to Group" node to a funnel
- open the settings panel
- select a group
- press Save on the settings panel
- open the settings panel again
- the same group should be re-displayed, but is not

I checked the json and confirmed that it is saving the selected value, just not redisplaying

[2016-09-13 09:09] paddyow opened #2355 "Email from and reply fields not remember the values after save"
http://clickstartdigital.admin.kademi.com.au/funnels/leadsform/#journeyBuilder-tab

Note this applies to the RHS journey builder panel and when you manage the email.

[2016-09-13 09:25] paddyow opened #2356 "Saving an email"
As I created an email for a journey, I intuitively clicked on the top save button, and not the save button in the email editor resulting in me losing my email.
- Maybe we only have one save button that saves all email data and returns back to the builder
- Or two options, save and save and exit

![image](https://cloud.githubusercontent.com/assets/2201340/18468460/6ea6c0b8-79e7-11e6-888f-efb5487aa4

[2016-09-13 09:32] bradmac commented on #2356
True. I think we should not use an iframe for email editor. It should be part of the page, and use the page save button

[2016-09-13 09:41] paddyow opened #2357 "Show tasks in chronological order"
Most recent due at the top

![image](https://cloud.githubusercontent.com/assets/2201340/18469091/1056322a-79ea-11e6-8b63-94f16922b439.png)

[2016-09-13 09:43] paddyow opened #2358 "Completing task creates error page"
http://clickstart-digital-crm.kademi.com.au/leads/21965207/

Click the first tick button on a task in the RHS panel
Click the 2nd tick button
Then the 3rd without adding any additional information

[2016-09-13 09:51] ducdhm commented on #2356
I think we can use embedded mode of KEditor instead of iframe link to EDM Editor page like current. I'll create edmEditor plugin for it

[2016-09-13 09:51] bradmac opened #2359 "Use content editor for calendar events content"
The calendar event editor is currently using the plain ck editor, but should use content editor.

Use same approach as here - https://github.com/Kademi/kademi-dev/issues/2356 - although this is for creating web content rather then EDM

[2016-09-13 09:58] paddyow opened #2360 "Funnel stage value not showing"
It seems to set but not get displayed.

![image](https://cloud.githubusercontent.com/assets/2201340/18469663/5e69f378-79ec-11e6-91b9-309770dbf0a3.png)

[2016-09-13 10:04] paddyow opened #2361 "Adding extra funnel stage warm"
http://clickstartdigital.admin.kademi.com.au/funnels/customerform/#properties-tab

I created 2x funnel stages but by default it's adding warm when I do not want a warm stage.

[2016-09-13 10:07] paddyow opened #2362 "Lead not showing in funnel"
http://clickstart-digital-crm.kademi.com.au/leads/21968328/

Stage: In progress

Is not appearing in the funnel here http://clickstart-digital-crm.kademi.com.au/analytics/customerform

[2016-09-13 10:16] bradmac commented on #2361
I dont know what you mean? Where does it say "warm"? Maybe a screen shot would help.

[2016-09-13 10:20] bradmac commented on #2362
This lead - http://clickstart-digital-crm.kademi.com.au/leads/21968328/ (test@kademi.co) is in the leadform funnel.

But you are looking at the customerform funnel in the analytic page link above

[2016-09-13 10:22] ducdhm commented on #2351
Need it for milestone site

[2016-09-13 10:23] #2342 closed

[2016-09-13 14:05] paddyow opened #2363 "Allow creating new tags from the add tag button"
![image](https://cloud.githubusercontent.com/assets/2201340/18476825/dac0e32e-7a0e-11e6-87b5-61da20282a2f.png)

[2016-09-13 14:10] paddyow opened #2364 "KCRM capture does not work"
http://clickstart-digital-crm.kademi.com.au/leads/21974953/

I sent an email with to-lead-21974953@clickstart-digital-crm.kademi.com.au and it did not capture into the lead.

[2016-09-13 14:13] paddyow opened #2365 "Cannot define the source for a form submit in the funnel builder."
There is no where to set the source when a form is submitted.

![image](https://cloud.githubusercontent.com/assets/2201340/18477182/1c06bdd0-7a10-11e6-9d81-ca7c9022620b.png)

[2016-09-13 14:29] paddyow opened #2366 "Lead timeline issue"
http://clickstart-digital-crm.kademi.com.au/leads/21976518/

When I complete a task in KCRM:
![image](https://cloud.githubusercontent.com/assets/2201340/18477768/2553df4c-7a12-11e6-8b7f-c5879ff0944d.png)

It appears as a contact in the lead timeline:
![image](https://cloud.githubusercontent.com/assets/2201340/18477796/44619f1e-7a12-11e6-961f-ad338e67fa5e.png)

Should appear as a task complete icon

[2016-09-13 14:31] paddyow opened #2367 "Task lookup should be smarter"
http://clickstartdigital.admin.kademi.com.au/funnels/customerform/#journeyBuilder-tab

Should be a dynamic lookup so user does not have to copy and paste.

![image](https://cloud.githubusercontent.com/assets/2201340/18477870/8ab745b8-7a12-11e6-8e32-f2625a53ba3a.png)

[2016-09-13 14:35] paddyow opened #2368 "Email timeline events not appearing"
http://clickstart-digital-crm.kademi.com.au/leads/21976518/

When an email is sent to a profile it appears in the Kademi Admin.
http://clickstartdigital.admin.kademi.com.au/manageUsers/21976508/#summary-tab

Does not appear in KCRM timeline:
http://clickstart-digital-crm.kademi.com.au/leads/21976518/

[2016-09-13 14:39] paddyow opened #2369 "Funnel Timer Goal not working"
http://clickstartdigital.admin.kademi.com.au/funnels/leadsform/#journeyBuilder-tab

I created a timer goal of 24 hours & also tried 1 day but the 2nd email always fires within minutes.

Profile http://clickstartdigital.admin.kademi.com.au/manageUsers/21974945/#summary-tab

[2016-09-13 14:45] paddyow commented on #2362
Paul Barry is in the Customer Funnel http://clickstart-digital-crm.kademi.com.au/leads/21975707/
Stage: In progress

He is not appearing in the In Progress funnel section here http://clickstart-digital-crm.kademi.com.au/analytics/customerform

[2016-09-13 14:48] paddyow commented on #2361
http://clickstartdigital.admin.kademi.com.au/funnels/customerform/#properties-tab
These funnel stages are defined in the admin
![image](https://cloud.githubusercontent.com/assets/2201340/18478505/e4f7d996-7a14-11e6-82c9-afa280f0e6d2.png)

This is what you see in KCRM
http://clickstart-digital-crm.kademi.com.au/analytics/customerform

![image](https://cloud.githubusercontent.com/assets/2201340/1847

[2016-09-13 19:36] ducdhm commented on #2358
@bradmac I got this error message when reproducing this issue on local

[code]

[2016-09-13 20:45] bradmac commented on #2358
@ducdhm just fyi, that will be because of an error with the funnel, meaning it cant be parsed.

[2016-09-13 20:46] bradmac commented on #2361
@paddyow  That will be because there are leads in the hot and warm stages. Just edit or delete them

[2016-09-13 21:03] bradmac commented on #2362
500 error here - http://clickstart-digital-crm.kademi.com.au/analytics/customerform?asJson&aggr=assignedToOrg.id&filters=&stage=

[2016-09-13 21:04] bradmac commented on #2348
Looks like the queue processor was stopped. Restarted last night and seems to work ok now. @hoanglinhlan please confirm

[2016-09-13 21:13] bradmac commented on #2365
@ducdhm please ensure all goals have a common editable fields:

    protected String stageName; // for flattening analytics into a sequential series of stages, not sure if we need it

    protected BigDecimal cost; // acquisition cost

    protected BigDecimal probability; // probablility of converting this goal

    protected String source; // the source of the lead this goal indicates, ie facebo

[2016-09-13 21:14] bradmac commented on #2363
Create groups in the backend

[2016-09-13 22:10] tuzzmaniandevil commented on #2358
@paddyow I tried the steps on the link you sent me with sam as the user, It's working fine.

[2016-09-13 22:26] bradmac commented on #2358
@paddyow I cant follow your steps. There is no third tick, I can only see a "Done" button. But i cannot click the Done button without entering further information, because the description field is required.

When i enter something in the description and press Done everything works fine.

Please provide sufficient information for us to be able to reproduce the problem, otherwise we cant help.

BTW,

[2016-09-13 23:39] tuzzmaniandevil opened #2370 "Blog Files and Images not honoring blog reader roles"
This allows users who don't have permission access blog files and image resource.

[2016-09-13 23:51] bradmac commented on #2369
Wasnt applying units correctly.

[2016-09-13 23:55] bradmac commented on #2368
That was because the email app was disabled for the kcrm site, and the email app provides email items to the timeline. I've enabled it now

[2016-09-14 01:08] bradmac commented on #2366
Tasks are now shown on the timeline when created. And when completed that adds another item to the timeline

![screenshot-version1 kcrm loopbackdns com 8080 2016-09-14 13-07-25](https://cloud.githubusercontent.com/assets/826458/18496720/49ca009e-7a7c-11e6-979a-1d0669f44d43.png)

[2016-09-14 02:49] bradmac commented on #2362
500 should be fixed now.

Next issue i can see is that incorrect leads are displaying at the bottom of the analytics page. They are not being filtered by the funnel.

[2016-09-14 03:11] bradmac commented on #2362
And wasnt applying org filtering properly, just all over the place really. Should be correct now.

[2016-09-14 03:15] bradmac commented on #2362
![screenshot-version1 kcrm loopbackdns com 8080 2016-09-14 15-12-53](https://cloud.githubusercontent.com/assets/826458/18498847/ff0fd95e-7a8d-11e6-9bd1-812c3eec50c3.png)

[2016-09-14 03:16] hoanglinhlan commented on #2348
send email still slowly. I choose forgot password 5mins ago but I dont receive any email

[2016-09-14 03:16] bradmac commented on #2348
Thats probably not slow, its probably not being sent

[2016-09-14 03:21] hoanglinhlan commented on #2348
yeap and I cant see that email in email history

[2016-09-14 03:22] hoanglinhlan commented on #2348
ops, just received reset mail. So I think it slowly

[2016-09-14 03:23] bradmac commented on #2348
thats crazy slow, there is no reason why it should take longer then 60secs

[2016-09-14 03:26] ducdhm commented on #2352
Milestone needs it, too

[2016-09-14 03:30] bradmac commented on #2345
Please add group column support to the profiles importer. Ensure that multiple group cols can be used to add the profile to multiple groups

[2016-09-14 03:32] bradmac commented on #2345
@paddyow as a workaround, use the admin profile importer

[2016-09-14 03:33] anhnt commented on #2305
Can you add option of toggling visibility of login menu item? @ducdhm

[2016-09-14 03:42] bradmac commented on #2350
Cannot reproduce

[2016-09-14 03:42] #2350 closed

[2016-09-14 04:01] hoanglinhlan commented on #2338
1. Should highlight button selected
2. Cant choose condition
![image](https://cloud.githubusercontent.com/assets/20508726/18499587/84147282-7a6a-11e6-8476-72b74600c067.png)

[2016-09-14 04:28] paddyow commented on #2358
I opened this form http://clickstart-digital.kademi.com.au/customer.html and filled it out.

I took the 3 tasks that appeared in KCRM.
![image](https://cloud.githubusercontent.com/assets/2201340/18499992/2508eda0-7a87-11e6-9a5b-850fa37b3112.png)

I opened the new lead http://clickstart-digital-crm.kademi.com.au/leads/21996932/

I click on the 1st task setup website domain:
![image](https://cloud.g

[2016-09-14 04:39] bradmac commented on #2358
Fixed by clearing cache

[2016-09-14 04:39] #2358 closed

[2016-09-14 04:41] #2368 closed

[2016-09-14 04:42] paddyow commented on #2363
Lets add a feature that enables the user to create Tags from that button with ease.

[2016-09-14 04:50] #2361 closed

[2016-09-14 04:53] paddyow opened #2371 "Switching funnel does not update stage drop down"
http://clickstart-digital-crm.kademi.com.au/leads/21975623/

So I have 2x funnels, both have different stages.
If i change the funnel using the drop down, the stage drop down options does not update.
i can then choose a stage in the wrong funnel. This then adds that stage to the wrong funnel.

![image](https://cloud.githubusercontent.com/assets/2201340/18500427/ac1492ce-7a8a-11e6-8235-86d25442882d

[2016-09-14 04:55] hoanglinhlan commented on #2155
worked pass

[2016-09-14 04:55] #2155 closed

[2016-09-14 04:55] bradmac commented on #2371
Just change the funnel, save, then refresh the page.

[2016-09-14 05:10] hoanglinhlan opened #2372 "Cant preview Product image"
At Product images
Upload  product success but preview image showing error( refer attach img)
![image](https://cloud.githubusercontent.com/assets/20508726/18500695/0d1cda0c-7a74-11e6-8aa2-a6a7683b6fc0.png)

At Product detail, the thumb image is showing error too
![image](https://cloud.githubusercontent.com/assets/20508726/18500709/2f2d9208-7a74-11e6-87dc-45c161053537.png)
![image](https://cloud.git

[2016-09-14 05:16] tuzzmaniandevil commented on #2348
@hoanglinhlan  I've fixed a couple of null pointer exceptions, please re-test

[2016-09-14 05:23] hoanglinhlan commented on #2372
Cant showing on Window

[2016-09-14 05:23] #2372 closed

[2016-09-14 05:37] #2151 closed

[2016-09-14 08:05] paddyow opened #2373 "Kademi KCRM tasks look incorrect on dashboard"
http://kcrm.kademi.us/dashboard

The information in the task panel looks different (lacking info) and the delete icon is in the take task button.

Is this due to the import going wrong?

![image](https://cloud.githubusercontent.com/assets/2201340/18504393/6d0e1f76-7aa5-11e6-95f0-d60d151ecfa2.png)

![image](https://cloud.githubusercontent.com/assets/2201340/18504670/da3a98b2-7aa6-11e6-9e01-8d4e7134

[2016-09-14 08:21] paddyow commented on #2364
@tuzzmaniandevil  did you look at this?

[2016-09-14 08:22] bradmac commented on #2364
its being worked on

[2016-09-14 08:27] paddyow opened #2374 "Notes in the timeline"
http://clickstart-digital-crm.kademi.com.au/leads/22009517/

When a note is created and displayed on the timeline:

1) Give it the brown color like a Task
2) It should have a Pencil icon
3) The title should be 'Note Created' then the note description below

![image](https://cloud.githubusercontent.com/assets/2201340/18505048/b70172ba-7aa8-11e6-9437-805798fd1808.png)

[2016-09-14 08:32] paddyow opened #2375 "Completing task causes error page"
NB I have cleared my cache;
http://clickstart-digital-crm.kademi.com.au/leads/22009517/

Create a new task

Click the tick button
![image](https://cloud.githubusercontent.com/assets/2201340/18505167/607cec3e-7aa9-11e6-9b7b-0a11bf450146.png)

Click the next green tick button
![image](https://cloud.githubusercontent.com/assets/2201340/18505186/7e76135a-7aa9-11e6-8b44-27e384fbbc87.png)

Add some copy

[2016-09-14 08:37] paddyow opened #2376 "Change KCRM timeline in desktop"
When at a desktop break-point the timeline is squashed and the arrows are hidden.

![image](https://cloud.githubusercontent.com/assets/2201340/18505377/4c0b5898-7aaa-11e6-8f36-2ec523d5eb32.png)

I say at all breakpoints we have the icons down the LHS of the panel creating more room for the information in the panel.

![image](https://cloud.githubusercontent.com/assets/2201340/18505358/330ca6ee-7aaa

[2016-09-14 08:38] bradmac commented on #2376
this is just the standard timeline component, probably not worth spending time on it

[2016-09-14 09:20] #2366 closed

[2016-09-14 09:33] hoanglinhlan commented on #2238
passed

[2016-09-14 09:33] #2238 closed

[2016-09-14 10:06] #2216 closed

[2016-09-14 11:52] #2376 closed

[2016-09-14 11:59] paddyow opened #2377 "Define Group Property"
Add option upon group creation to choose it's type i.e. primary or tag.  Otherwise creating lots of tags means opening each group and then defining it;s property which can take a long time.

![image](https://cloud.githubusercontent.com/assets/2201340/18511311/5d310552-7ac6-11e6-9c1a-4b7d90796c8c.png)

[2016-09-14 12:02] paddyow opened #2378 "Tag/optin group icon"
http://clickstartdigital.admin.kademi.com.au/groups/

Feel this should be a different icon.  As tags will be used a lot for segmentation then we should probably show a tag like icon.  We should also update the text at the end of the row not to show mailing list but 'Tag/Opt-in Group'.

![image](https://cloud.githubusercontent.com/assets/2201340/18511500/67f11c38-7ac7-11e6-9231-41d1b0e50627.png)

!

[2016-09-14 12:04] paddyow opened #2379 "Allow tag searches"
Be able to search for a tag and return all results that have that tag.

![image](https://cloud.githubusercontent.com/assets/2201340/18511473/28be367c-7ac7-11e6-9384-a845bf741051.png)

[2016-09-14 12:29] paddyow opened #2380 "Adding source issue"
http://clickstartdigital.admin.kademi.com.au/repositories/leadsform/version1/texteditor?fileName=funnel.json

When manually adding the source for the lead funnel:
![image](https://cloud.githubusercontent.com/assets/2201340/18512059/9b7a5de6-7aca-11e6-841c-f04119d5a9fd.png)

I get this error:
![image](https://cloud.githubusercontent.com/assets/2201340/18512067/a4e432c6-7aca-11e6-9e84-fb9e30f5350c.p

[2016-09-14 12:33] paddyow commented on #2296
@ducdhm is that a common key command that devs will know?  Ctrl F is.  If not we should make this known or have an icon in the search to show the replace fields.

[2016-09-14 12:33] #1978 closed

[2016-09-14 12:56] paddyow commented on #2316
I needed to unsubscribe 55 profiles.  I uploaded the spreadsheet and got the below:

![image](https://cloud.githubusercontent.com/assets/2201340/18512842/3b77cd94-7ace-11e6-9ac9-45b8d2b7a1b5.png)

What I should see is show many profiles I am about to unsubscribe, however as the list I am uploading has profiles that have since unsubscribed, this shows them as New Profiles to be inserted which is ve

[2016-09-14 13:39] paddyow opened #2381 "Uploading lead data and assigning tags"
Test data [Group-data.xlsx](https://github.com/Kademi/kademi-dev/files/472140/Group-data.xlsx)

I choose the primary group as Leads as I want to upload this data into KCRM.
![image](https://cloud.githubusercontent.com/assets/2201340/18514190/ea86950e-7ad3-11e6-9fa3-40a867d75d4b.png)

I then choose the field Group and assign the tag/group 'testg1'.
![image](https://cloud.githubusercontent.com/asset

[2016-09-14 13:47] paddyow opened #2382 "Assigning profile to lead group does not show lead in KCRM"
I added the below profile into the Lead group.
http://kademi.admin.kademi.us/manageUsers/1973945/#general-tab

I presumed it would appear in KCRM http://kcrm.kademi.us/dashboard

Is this correct?  If not what am I doing wrong?

[2016-09-14 13:56] paddyow opened #2383 "Funnel builder Add To Group node property not getting remembered"
![image](https://cloud.githubusercontent.com/assets/2201340/18514933/d2a283a0-7ad6-11e6-89b6-16854479229a.png)

[2016-09-14 17:30] paddyow commented on #2371
But a customer will not do that therefore they will encounter the same problem I did.  We cannot ask our customers to refresh a page after they have reconfigured a drop down.

[2016-09-14 17:32] paddyow commented on #2364
Note I got a delayed email:

This is the mail system at host mailout.nyi.internal.

####################################################################
# THIS IS A WARNING ONLY.  YOU DO NOT NEED TO RESEND YOUR MESSAGE. #
####################################################################

Your message could not be delivered for more than 1 hour(s).
It will be retried until it is 1 day(s) old.

F

[2016-09-14 22:08] tuzzmaniandevil commented on #2364
After fixing a few null pointer exceptions it now works! :-) Will deploy fix to syd and us

[2016-09-14 22:11] bradmac commented on #2296
Would be best to have a popup window with a list of keyboard shortcuts

[2016-09-14 22:15] bradmac commented on #2381
The "default group" is the group which the profile will be added to if no other group is selected.

What you should do is to use multiple group cols

[2016-09-14 22:17] bradmac commented on #2382
You created a profile, but that profile does not have any associated leads, so you will not see any leads for it.

You can see that profile on the profiles page - http://kcrm.kademi.us/custs/?q=testgroup2%40kademi.co&g

[2016-09-14 22:18] bradmac commented on #2371
Will look into it some time in the future. Not a priority

[2016-09-14 22:18] #2371 closed

[2016-09-14 22:53] tuzzmaniandevil commented on #2364
I've fixed some NPE's and a security policy on the US cluster. I've deployed to both SYD and US with the fixes.

[2016-09-14 22:59] bradmac commented on #2380
The source attribute on a goal has in the past been an expression, which is evaluated to extract a parameter from a cookie or request parameter. "Website" was not a valid expression, so it was producing an error message.

I have changed this so now source is treated as a template, so you can have plain text like Website, but we can also use template code if we need to extract a field from the requ

[2016-09-14 23:00] bradmac commented on #2380
The source still needs to be integrated with the UI, but this is on this issue - https://github.com/Kademi/kademi-dev/issues/2365

So will close this one.

[2016-09-14 23:00] #2380 closed

[2016-09-14 23:10] bradmac commented on #2374
The icon cannot have the "brown" colour because that is the brand colour for "danger", and there is nothing dangerous about a note.

The default icon has been changed to a pencil. Note that the icon also depends on what action is selected, eg a phone call shows a phone icon, and an email action displays an envelope

The title also depends on the action, but the default has been changed to Note Cre

[2016-09-14 23:11] tuzzmaniandevil commented on #2364
@hoanglinhlan To test you will need to create a KCRM site with some leads, then go to the lead and click the "to" button and send an email, Once sent the email should appear in the timeline of the lead.

[2016-09-14 23:13] bradmac commented on #2374
![screenshot-version1 kcrm loopbackdns com 8080 2016-09-15 11-12-56](https://cloud.githubusercontent.com/assets/826458/18533221/7909ada0-7b35-11e6-94f1-c5cf0a394239.png)

[2016-09-14 23:32] bradmac commented on #2374
Also adjusted widths and padding

[2016-09-15 01:34] bradmac commented on #2375
Should be solved now

[2016-09-15 01:45] bradmac opened #2384 "Make group memberships editable"
The manage profile page allows group memberships to be added and deleted.

![screenshot-clickstartdigital admin kademi com au 2016-09-15 13-39-20](https://cloud.githubusercontent.com/assets/826458/18535643/1c4c6f8e-7b4a-11e6-8e32-238f8be34f72.png)

However, we also want users to be able to edit a membership. This should allow the organisation of the membership to be changed.

We want the user inte

[2016-09-15 02:09] tuzzmaniandevil commented on #2340
Fixed, @hoanglinhlan Please re-test

[2016-09-15 02:32] bradmac commented on #2346
Hi @hoanglinhlan, with this feature you should check that a group, organisation OR profile can be assigned to.

Note that the list of available organisations shown only lists organisations which have the org type specified as the sales org type in the leadman app settings.

[2016-09-15 03:17] hoanglinhlan commented on #2381
hi @bradmac @paddyow
I remember, in the case with "unsubscribe all" and field "remove mode", if you select both of mode and Field "remove mode" then "remove mode" colum will be ignore.
So I think we should have common solutions for similar situations :)

[2016-09-15 04:22] ducdhm commented on #2305
[code]
@anhnt Done!

[2016-09-15 05:00] hoanglinhlan commented on #2351
- Support extra class option for container and its column ==> passed
- Can set background for container or inner-container ==> passed

[2016-09-15 05:00] #2351 closed

[2016-09-15 10:12] anhnt opened #2385 "Content Editor: Create Accordion Component"
http://getbootstrap.com/javascript/#collapse-example-accordion

This layout is helpful for building FAQ content

[2016-09-15 10:13] bradmac commented on #2385
:+1:

[2016-09-15 10:22] ducdhm commented on #2385
:+1:

[2016-09-15 22:56] #2323 closed

[2016-09-16 03:23] bradmac opened #2386 "Grant rewards action"

[2016-09-16 05:01] bradmac opened #2387 "Theme checker page"
Have a page which shows all bootstrap components and styles to check the theme integration

[2016-09-16 05:07] bradmac commented on #2387
![screenshot-localhost 8080 2016-09-16 17-06-21](https://cloud.githubusercontent.com/assets/826458/18575842/027322b0-7c30-11e6-90ba-3d0008cd8c62.png)

[2016-09-16 05:07] bradmac commented on #2387
Eg

![screenshot-version1 kcrm loopbackdns com 8080 2016-09-16 17-07-23](https://cloud.githubusercontent.com/assets/826458/18575852/15c1b110-7c30-11e6-80bc-958d1b966a87.png)

[2016-09-16 07:15] paddyow opened #2388 "Cannot search for profile"
http://kcrm.kademi.us/leads/2013106/

I created a lead without an email , which is fine as I do not have an email yet.  But when I searched for the profile based on his name, it did not appear in the search.

Need to be able to search for leads based on their name where they might not have an email.

[2016-09-16 07:27] #2382 closed

[2016-09-16 07:29] paddyow commented on #2381
I feel the most intuitive flow is if a default group is selected then it should apply, then any additional fields in the uploaded file would be included as well.  For me if felt like something went wrong.

[2016-09-16 07:33] #2375 closed

[2016-09-16 07:34] #2081 closed

[2016-09-16 07:34] #1913 closed

[2016-09-16 07:35] #1479 closed

[2016-09-16 07:35] #1396 closed

[2016-09-16 08:14] anhnt commented on #2385
Done

[2016-09-16 08:34] bradmac commented on #2385
:+1:

[2016-09-16 08:47] bradmac commented on #2381
OK, we can make it so that
- if a default group is selected, then all imported leads are assigned to that group
- if there are any group columns selected, then the profile will be added to those as well
- it is allowable to not select a default group, and for profiles to be imported with no group at all

[2016-09-16 08:47] ducdhm commented on #2341
Fixed

[2016-09-16 08:50] ducdhm commented on #2354
@bradmac Can you check again? It works normally in my side

[2016-09-16 09:26] ducdhm commented on #2338
[code]
Fixed

[code]
It's default behavior of query builder. You can check original of this at http://querybuilder.js.org/demo.html. And IMO, I think it's right behavior, if you have only 1 rule or group, you dont need choose condition is `AND` or `OR`

[2016-09-16 09:51] bradmac opened #2389 "JB: Form goals"
When a user is assigned a task, they can currently mark it as completed which means it has been successfully completed. But sometimes tasks cannot be completed successfully. For example there might be a task to check a lead's email address, but if its not possible to correct the user then they should be able to complete the task but as unsuccessfully

Also, sometimes there may be multiple possible

[2016-09-16 10:17] bradmac commented on #2338
"if you have only 1 rule or group, you dont need choose condition is AND or OR" :+1:

[2016-09-16 10:19] bradmac commented on #2388
I think its probably not creating the profile, because in the past a profile required an email address. But now we can have profiles without emails, so we can create the profile always

[2016-09-17 07:43] bradmac commented on #2386
![screenshot-localhost 8080 2016-09-17 19-42-28](https://cloud.githubusercontent.com/assets/826458/18606827/f1db18ce-7d0e-11e6-9f69-45e258281751.png)

[2016-09-18 13:55] hoanglinhlan commented on #2334
1. Export file has only active task
2. I cant import lead task althrough upload csv file success

[logsImportTaskLead.txt](https://github.com/Kademi/kademi-dev/files/476050/logsImportTaskLead.txt)
[tasks.txt](https://github.com/Kademi/kademi-dev/files/476051/tasks.txt)

[2016-09-18 19:36] tuzzmaniandevil commented on #2334
@hoanglinhlan The export applies the same filter as the page, So if you have selected to active tasks then only active tasks will be exported

[2016-09-18 21:19] bradmac commented on #1128
@tuzzmaniandevil can you investigate the issue above please?

[2016-09-18 21:22] bradmac opened #2390 "Journey Builder docs: Simple nurture example"
Create a JB example which consists of
1. A landing page requesting user information and offering to email a PDF
2. When submitted begin journey and immediately send an email with a link to the PDF
3. Opening the PDF should be the next goal. If not opened within 1 day re-send
4. After opened send emoticon feedback email asking if they liked it or not
5. Depending on the result then send another ema

[2016-09-18 23:20] bradmac opened #2391 "Journey builder: Fix calendar event action"
Should allow selection of the calendar

See CreateCalendarEventGoalAction and calendarEventActionNode.js

[2016-09-18 23:36] bradmac commented on #2324
@ducdhm should be ok to finish off now. Custom actions are basically the same as for custom goals

[2016-09-19 01:40] bradmac commented on #2390
Here's an example funnel

[code]

[2016-09-19 02:55] hoanglinhlan commented on #2334
@tuzzmaniandevil
Sorry for inform not exactly information.
1. You can choose any status ( cancel, close) **but**  Export file always has only active task

[2016-09-19 03:47] bradmac opened #2392 "KEditor should only load component settings form when requested"
Currently the settings forms for all components are loaded when the editor shows.

It would be better for performance if they are only loaded when the settings cog is clicked.

[2016-09-19 05:18] ducdhm commented on #2355
Duplicated with #https://github.com/Kademi/kademi-dev/issues/2341

[2016-09-19 05:18] #2355 closed

[2016-09-19 07:13] bradmac opened #2393 "Journey builder: Add time field to all goals"
All goals have a timerTime property. If set this will cause a timer to execute at a particular time, as well as after the specified delay.

Please ensure this property is editable on all goals. It should be right beside or below the time delay (ie multiples and units). Please add a label that its optional.

[2016-09-19 09:26] ducdhm opened #2394 "Inverse option for container and components"
Support inverse style for
 * Container
 * Column container
 * Jumbotron component
 * ...

Add default inverse style in `extra.less`

[2016-09-19 09:43] bradmac opened #2395 "Content editor: HTML editor components should have format and style dropdowns"
Should have the same ability as the previous generation editor:
![screenshot-version1 w1 loopbackdns com 8080 2016-09-19 21-42-08](https://cloud.githubusercontent.com/assets/826458/18627949/ffa28c18-7eb1-11e6-8675-7201500d9f87.png)

Also, the font family, size and colour options should be removed to encourage content editors to use theme provided styles

Applies to all components which have a cked

[2016-09-19 10:17] anhnt commented on #2394
breadcrum and navbar

[2016-09-19 11:14] paddyow opened #2396 "Cannot add profile to Group"
This group http://kademi.admin.kademi.us/groups/agency-campaign-1/members/

When adding manually or using the Profile uploaded.  See below adding manually.

![image](https://cloud.githubusercontent.com/assets/2201340/18630151/f2f38638-7ead-11e6-8517-3908d83c7737.png)

[2016-09-19 12:45] paddyow opened #2397 "KCRM leads have not been imported correctly"
See this lead on OLHUB http://kcrm.olhub.com/leads/198787609/
See this lead on US http://kcrm.kademi.us/leads/1938763/

This seems to be the correct lead however:
1) The notes did not get moved across
2) The task did not get moved across

This lead on OLHUB http://kcrm.olhub.com/leads/147954214/
This lead on US http://kcrm.kademi.us/leads/1939525/

Same issue where tasks, notes etc have not been m

[2016-09-19 12:47] paddyow opened #2398 "KCRM inbound website leads"
Need all website leads to go into the new US KCRM.

[2016-09-19 12:50] paddyow commented on #1993
I BCCd an email to this lead http://kcrm.kademi.us/leads/1939430/

Have not recieved the timeline update after 5 mins.

![image](https://cloud.githubusercontent.com/assets/2201340/18632579/7734c260-7ebb-11e6-80da-28d1e9834a09.png)

[2016-09-19 20:47] bradmac commented on #2398
I dont know what this means?

[2016-09-19 23:00] tuzzmaniandevil commented on #1993
There was a misconfig on our US cluster. This has now been corrected

[2016-09-20 03:43] anhnt commented on #2311
Need to add option of inverse color

[2016-09-20 04:02] paddyow commented on #2398
All contact form requests on our website here http://www.kademi.co/
Go into KCRM olhub, not US.

[2016-09-20 05:36] ducdhm commented on #2394
@anhnt Please continue with other components which you want/need

[2016-09-20 08:21] ducdhm commented on #2392
https://github.com/Kademi/keditor/issues/30

[2016-09-20 09:53] anhnt commented on #2394
breadcrumb is done

[2016-09-20 11:01] anhnt commented on #2311
already in other issue

[2016-09-20 11:01] #2311 closed

[2016-09-20 11:21] anhnt opened #2399 "contactForm component doesnt show success message"
https://github.com/Kademi/client-emc-milestone/issues/7

[2016-09-20 11:23] anhnt commented on #2399
@hoanglinhlan it can be tested via milestone https://github.com/Kademi/client-emc-milestone/issues/7

[2016-09-20 16:25] ducdhm commented on #2395
Update UI:
![fireshot screen capture 006 - edit_ gallery_html - version1_milestone_loopbackdns_com_8080_contenteditor_filename gallery_html miltonuserurl _users](https://cloud.githubusercontent.com/assets/1289631/18679342/6e18b01e-7f89-11e6-84ab-339bc57ea06d.png)

[2016-09-20 21:45] bradmac commented on #2334
And please see @paddyow feedback here:
https://github.com/Kademi/kademi-dev/issues/2397

[2016-09-20 22:25] bradmac commented on #2390
http://customerfusion.admin.kademi.com.au/funnels/nurture1/#journeyBuilder-tab

[2016-09-20 22:25] bradmac commented on #2390
![screenshot-customerfusion admin kademi com au 2016-09-21 10-25-16](https://cloud.githubusercontent.com/assets/826458/18691073/bb56c238-7fe5-11e6-928c-0ea77cb1aea7.png)

[2016-09-20 22:26] bradmac commented on #2390
@mamun4343 can you please use this as the basis for your tutorial?

[2016-09-20 23:14] tuzzmaniandevil opened #2400 "KCRM: Notes CSV Export/Import"

[2016-09-21 00:54] bradmac opened #2401 "CX: Record each transition to enable analytics"

[2016-09-21 05:18] hoanglinhlan commented on #2399
passed

[2016-09-21 05:18] #2399 closed

[2016-09-21 07:04] anhnt opened #2402 "Content Editor Sidebar elements should not be affected by theme"
Please see button in sidebar

![image](https://cloud.githubusercontent.com/assets/735555/18700961/44339266-8004-11e6-9140-eb6284563d12.png)

[2016-09-21 07:20] bradmac commented on #2402
Have a look at the bootstrap button styles here
http://getbootstrap.com/css/#buttons-sizes

I think the "Events Portfolio" button should probably be a large button. But the "change background" button should be normal size

[2016-09-21 07:26] hoanglinhlan commented on #2246
http://docs.kademi.co/programs/admin/users/sendemail/pintroduction.html

[2016-09-21 07:39] hoanglinhlan commented on #2348
confirm passed

[2016-09-21 07:39] #2348 closed

[2016-09-21 07:59] ducdhm commented on #2319
Need for Coca site

[2016-09-21 08:10] hoanglinhlan commented on #2341
Confirm passed

[2016-09-21 08:10] #2341 closed

[2016-09-21 08:29] hoanglinhlan commented on #2340
passed

[2016-09-21 08:29] #2340 closed

[2016-09-21 09:09] paddyow opened #2403 "Menu getting cut off"
![image](https://cloud.githubusercontent.com/assets/2201340/18704817/e98105c6-802e-11e6-88ce-149ed10850fd.png)

http://kademi.admin.kademi.us/websites/

[2016-09-21 10:33] paddyow opened #2404 "Cannot send email to profile using compose button"
http://kademi.admin.kademi.us/manageUsers/2124015/#emailAppTab-tab

![image](https://cloud.githubusercontent.com/assets/2201340/18707671/89c15968-803a-11e6-9037-f7aae355d727.png)

[2016-09-21 10:41] paddyow opened #2405 "Cannot upload profiles into group - has import error"
This file
[Test data.xlsx](https://github.com/Kademi/kademi-dev/files/484731/Test.data.xlsx)

Into this group http://kademi.admin.kademi.us/groups/agency-campaign-1/members/

![image](https://cloud.githubusercontent.com/assets/2201340/18707929/a22535aa-803b-11e6-851b-a6f57c4ba096.png)

![image](https://cloud.githubusercontent.com/assets/2201340/18707945/ae6f4378-803b-11e6-8d2d-88483e154311.png)

!

[2016-09-21 13:44] paddyow opened #2406 "Using profile uploader causes automation issue"
Manually creating a profile with a first name, surname and email then adding them to this group http://admin.cpaaustralia.kademi-beta.co/groups/RG-Retention-Outside-NSW/members/

Fires this triggers as intended http://admin.cpaaustralia.kademi-beta.co/autoEmails/40396503/

However uploading an Excel file matching on fields First Name, Surname, Email, Phone and Rgamount
[test.xlsx](https://github.c

[2016-09-21 13:51] paddyow commented on #2397
Will this require all profiles to be moved across again?

[2016-09-21 13:52] paddyow commented on #2396
Might relate to #2405 and #2404

[2016-09-21 13:58] paddyow opened #2407 "Tasks have not imported correctly"
http://kcrm.kademi.us/dashboard

Incoming tasks missing information:
![image](https://cloud.githubusercontent.com/assets/2201340/18713851/2049fc7a-8057-11e6-8cac-56de5956b328.png)

Should look like this:
![image](https://cloud.githubusercontent.com/assets/2201340/18713878/3d092c14-8057-11e6-96c2-b944884a1dd3.png)

My tasks look like this:
![image](https://cloud.githubusercontent.com/assets/2201340

[2016-09-21 21:30] bradmac commented on #2402
As discussed, i think a correctly implemented theme will work fine with side bar controls. So we can close this issue for now.

[2016-09-21 21:30] #2402 closed

[2016-09-22 00:21] tuzzmaniandevil opened #2408 "User Imports: Group Membership event fires before populating profile."

[2016-09-22 00:22] tuzzmaniandevil commented on #2406
See this issue https://github.com/Kademi/kademi-dev/issues/2408
The event was being fired before the profile fields were populated.

[2016-09-22 00:31] tuzzmaniandevil commented on #2406
I've updated Beta with the fix @paddyow please test

[2016-09-22 00:41] tuzzmaniandevil commented on #2396
This has been sorted :-)

[2016-09-22 00:41] #2396 closed

[2016-09-22 00:42] tuzzmaniandevil commented on #2404
Same issue as #2396 so also sorted

[2016-09-22 01:15] tuzzmaniandevil commented on #2405
This has also been fixed

[2016-09-22 01:15] #2405 closed

[2016-09-22 03:20] bradmac opened #2409 "Add title setting to visualisation components"
The pie chart and date histogram components should have a title property which displays in the panel heading.
![screenshot-version1 demo-dash loopbackdns com 8080 2016-09-22 15-19-13](https://cloud.githubusercontent.com/assets/826458/18736114/126a0588-80d8-11e6-86f0-771c41e9b89a.png)

[2016-09-22 03:22] tuzzmaniandevil opened #2410 "Lead Importer: Add Profile First name, Surname, Phone and job title"

[2016-09-22 04:18] ducdhm commented on #2409
Done!

[2016-09-22 04:32] bradmac commented on #2409
Also, queryTableComponent too please

[2016-09-22 05:09] tuzzmaniandevil commented on #2397
This issue https://github.com/Kademi/kademi-dev/issues/2410 will sort it out, But all leads will need to be deleted and re-imported

[2016-09-22 05:59] paddyow commented on #2406
not fixed, still firing the 2nd trigger http://admin.cpaaustralia.kademi-beta.co/manageUsers/205582404/

[2016-09-22 13:28] #2407 closed

[2016-09-22 13:29] paddyow commented on #2373
This looks like an import issue. Creating a new task looks fine.

[2016-09-22 13:38] paddyow commented on #2404
Still not working.  See profile http://kademi.admin.kademi.us/manageUsers/2156360/#emailAppTab-tab

![image](https://cloud.githubusercontent.com/assets/2201340/18750223/9a8f43d4-811d-11e6-939e-d663b87a97ca.png)

I also have a journey built here which adds profiles to a group then fires an email which isnt sending http://kademi.admin.kademi.us/funnels/agency-sales/#journeyBuilder-tab

[2016-09-22 18:10] ducdhm opened #2411 "Improve login form"
Logo configuratioin

[2016-09-22 18:12] ducdhm opened #2412 "Page setting panel for contentEditor"
After discuss with @bradmac, so there is conclusion:
- A button for open page setting panel on modal
- In modal, can edit page title, page properties...

[2016-09-22 21:28] bradmac commented on #2412
Well 2 things:
- yes, users should have the ability to do this
- but no, whatever it is you're trying to achieve should be achieved through the style and component pallette.

Lets chat later

[2016-09-22 21:34] tuzzmaniandevil commented on #2406
Uploaded another fix, I tested it and it's working. @paddyow please retest

[2016-09-22 21:47] tuzzmaniandevil commented on #2404
@paddyow That is a seperate issue, That's because the domain hasn't been verified by AWS yet. Will do that today

[2016-09-22 23:51] bradmac opened #2413 "Make singleValue query component more awesome"
See templates/apps/reporting/singleValueComponent.html

This component is to display a single number from a query aggregation, such as the number of users, or the highest balance. The metric can be linked to another page, usually a query page

Please make the following updates to the settings panel
- allow selection of the aggregation the same as for the pieChart component
- allow selection of a f

[2016-09-22 23:53] bradmac commented on #1822
Now just need to integrate permissions to allow organisation based data filtering
- Create a role QueryViewer
- When a query is executed, find all orgs the current user has that permission on, and add the list of orgids to the params map
- Substitute any occurences of $orgIds with that list
- then execute the query

[2016-09-23 00:25] tuzzmaniandevil commented on #2404
@paddyow please retest

[2016-09-23 03:31] ducdhm opened #2414 "Update missing preview snippets"

[2016-09-23 08:32] paddyow opened #2415 "Cannot send test email when editing email"
http://kademi.admin.kademi.us/funnels/agency-sales/emailAction-31c1bd#messages-tab

If I click the Send Test email I get the error:

Sorry, we couldnt send the test. Please contact the administator to help find the problem.

If I put in a recipient I get the error:

Sorry, we could not process your request
Sorry, there appears to be a problem with the network or server. Please check your internet

[2016-09-23 08:42] paddyow opened #2416 "Emails: Choice of editors"
Update:
Allow email authors to enter content as html (using edm editor) or text (using plain text editor) or both. HTML and text content should be stored separately.
- If only text is provided the email is sent as text only
- If only html is provided, text should be generated from the html and the email sent with both forms
- If both are provided each will be used, ie do not generate text from htm

[2016-09-23 08:51] paddyow opened #2417 "Edit line height value in EDM template"
I want to be able to edit the exact value of the line height property including a negative value.

![image](https://cloud.githubusercontent.com/assets/2201340/18779964/a87c468a-81be-11e6-9b29-dbc1e0c6a53d.png)

[2016-09-23 08:59] paddyow opened #2418 "Cannot switch to text editing view"
http://kademi.admin.kademi.us/funnels/agency-sales/emailAction-31c1bd#messages-tab

![image](https://cloud.githubusercontent.com/assets/2201340/18780207/c0614006-81bf-11e6-8a7a-e5b42e8bf981.png)

Editor view does not finish loading.

![image](https://cloud.githubusercontent.com/assets/2201340/18780220/d0126d2c-81bf-11e6-8a5b-a98af10d5bd1.png)

[2016-09-23 09:09] paddyow opened #2419 "Multiple profiles"
http://kademi.admin.kademi.us/manageUsers/?q=test2%40kademi.co&g&enabled=true

I have been uploading profiles via the profile tool, then removing them from the group they were uploaded to, then uploading the same profile with the same email again via the profile tool.

This creates multiple instances of profiles, where they do not have any membership.

Is this correct?

![image](https://cloud.gith

[2016-09-23 09:16] paddyow opened #2420 "Cannot see image in email template"
![image](https://cloud.githubusercontent.com/assets/2201340/18780670/0be04502-81c2-11e6-89e9-7529f61c8537.png)

I pasted my email signature into the header of an email template.  The image appeared in the email template straight away.  After a browser refresh the image disappears but is still in the source code and get's included when the email is sent.  You can see the image has an absolute image

[2016-09-23 09:26] paddyow opened #2421 "No way to insert image when editing section in EDM editor."
I need to insert an image between paragraph copy.  Need option to upload and insert image.

![image](https://cloud.githubusercontent.com/assets/2201340/18781045/84bc08ca-81c3-11e6-85f2-a89887555e65.png)

[2016-09-23 09:28] paddyow opened #2422 "Help page broken or needs to be created"
http://kademi.admin.kademi.us/funnels/agency-sales/emailAction-31c1bd#messages-tab

![image](https://cloud.githubusercontent.com/assets/2201340/18781133/d8c3147c-81c3-11e6-9460-9cb92f11f8b2.png)

[2016-09-23 09:44] paddyow opened #2423 "Moving the JB canvas"
Clicking and dragging on the JB blank canvas space should show a hand icon then scroll the canvas on both axis.

![image](https://cloud.githubusercontent.com/assets/2201340/18781655/1181187a-81c6-11e6-9856-832f7debc937.png)

[2016-09-23 09:49] paddyow opened #2424 "Cannot use breadcrumb on the funnel text edit view."
http://kademi.admin.kademi.us/repositories/agency-sales/version1/

When editing a funnel:
![image](https://cloud.githubusercontent.com/assets/2201340/18781795/aa143a54-81c6-11e6-865e-c5e47a32779e.png)

There is no way to go back one level using the breadcrumb trail.  You have to go to the master LHS Menu or click the browser back button.

![image](https://cloud.githubusercontent.com/assets/2201340

[2016-09-23 10:00] paddyow commented on #2420
Note also the LinkedIn Image is not appearing when editing the template.

<a href="http://au.linkedin.com/in/enscape" style="text-decoration:none;color:#333333"><img alt="View Patrick Hone's profile on LinkedIn" border="0" height="25" src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" width="160"> </a

[2016-09-23 10:04] paddyow commented on #2419
When you remove the last subscription you get the below warning.  i think we updated this so the profile does not need a membership, if so the warning needs to be updated.

![image](https://cloud.githubusercontent.com/assets/2201340/18782256/dc7e9834-81c8-11e6-9d91-39c4b0d3ddad.png)

[2016-09-23 10:24] #2404 closed

[2016-09-23 10:36] paddyow opened #2425 "Cannot edit Hex colour under source view"
When I edit the source view of a content section in an email template, if I try to change the HEX color of the hyperlink manually then save the source code, it will not  update it, it always reverts back to the value set in the RHS properties window.

I think we should be able to update this. Thoughts?

![image](https://cloud.githubusercontent.com/assets/2201340/18783079/2931272e-81cd-11e6-9e86-f1

[2016-09-23 10:58] paddyow commented on #2420
I also noticed the image was getting a 1px height and width, still when I removed this and refreshed the editor view, the image still did not appear.

[2016-09-23 12:35] paddyow opened #2426 "From field after save loses information"
- Add a value i.e. "Patrick Hone" <patrick@kademi.co> to an email node using the JB.
- Then click save

![image](https://cloud.githubusercontent.com/assets/2201340/18785748/621aced6-81dd-11e6-824f-ad4d3583a8a3.png)

Then refresh your browser and note the value in the field updates:
![image](https://cloud.githubusercontent.com/assets/2201340/18785831/f596e2c6-81dd-11e6-90d2-6ef3808c9ac3.png)

If yo

[2016-09-23 12:48] paddyow opened #2427 "Time out at specific time using the JB"
I want to  send an email at a specific time and delay.  Can this be added as a feature.

![image](https://cloud.githubusercontent.com/assets/2201340/18786137/b945ed9c-81df-11e6-8189-6bbbab669996.png)

[2016-09-23 13:09] paddyow opened #2428 "Email 'From' field error"
Cannot use brackets or it will cause the email to fail:

"Patrick Hone (Kademi Co-founder)" <patrick@kademi.co>

Should we allow this or validate this?

[2016-09-23 13:23] paddyow opened #2429 "Cannot delete JB node connection"
Certain positions of the connector will not allow you to delete it when clicking on the red cross.

The below example is one such position.  If the connector is moved horizontal it can then be deleted.

![image](https://cloud.githubusercontent.com/assets/2201340/18787085/9f6be516-81e4-11e6-8ff7-b08a1da6063d.png)

[2016-09-23 14:33] paddyow commented on #2406
I uploaded this profile  http://admin.cpaaustralia.kademi-beta.co/manageUsers/206070210/#summary-tab

Tells me the email was sent but I did not receive any.
![image](https://cloud.githubusercontent.com/assets/2201340/18789317/eb40e76c-81ed-11e6-9c26-3de5aade00c0.png)

Nor did the email send appear in the email history http://admin.cpaaustralia.kademi-beta.co/emails/
![image](https://cloud.githubus

[2016-09-23 22:21] bradmac commented on #2406
Just looked at this profile - http://admin.cpaaustralia.kademi-beta.co/manageUsers/206070210/#general-tab

It currently has email address - cpatesty@mailinator.com

One email has been sent to that profile - http://admin.cpaaustralia.kademi-beta.co/emails/206070218

Note that this email was sent to email address -  	testcpa_wes@mailinator.com

** The email address is different to the profile **

I

[2016-09-25 08:35] bradmac commented on #2421
Hey @ducdhm really need the insert image toolbar button. Please make sure this uses the useHash parameter like the old editor does.

[2016-09-25 08:36] bradmac commented on #2418
Looks like a js issue when loading the page.

[2016-09-25 08:42] bradmac commented on #2417
@paddyow a negative line-height doesnt make any sense. And i think using a pre-defined list of values is appropriate.

[2016-09-25 08:43] bradmac commented on #2416
I think just use it as it is.

[2016-09-25 12:47] paddyow commented on #2406
Looks good now!

[2016-09-25 12:47] #2406 closed

[2016-09-25 21:02] tuzzmaniandevil commented on #2397
I've re-imported leads. http://kcrm.kademi.us/leads/2266281/

[2016-09-25 21:06] tuzzmaniandevil commented on #2397
@paddyow please recheck

[2016-09-25 21:42] bradmac commented on #2426
Looks like the value needs to be encoded in the template.

[2016-09-25 21:43] bradmac commented on #2429
Pushing this back to the next milestone because we can live with it for a while

[2016-09-25 21:44] bradmac commented on #2428
What field are you talking about? I dont think thats valid syntax for a from/to field, use the same as on other email screens

[2016-09-25 21:45] bradmac commented on #2427
Closing, duplicate of https://github.com/Kademi/kademi-dev/issues/2393

[2016-09-25 21:45] #2427 closed

[2016-09-25 21:46] bradmac commented on #2420
@ducdhm please investigate

[2016-09-25 21:48] bradmac commented on #2419
@tuzzmaniandevil please ensure that
- if a profile exists within an account (ie is linked by membership or its homeAdminOrg property), and it is not deleted/disabled, then it will be located and updated from an upload, NOT creating a new profile
- remove the warning message on removing last membershiup

[2016-09-25 21:49] bradmac commented on #2424
Thats correct, the edit button takes you to the file manager which is not related to funnels

[2016-09-25 21:49] #2424 closed

[2016-09-25 21:50] bradmac commented on #2422
Has not been created yet. @mamun4343 can you please create this page?

[2016-09-26 00:29] tuzzmaniandevil commented on #2373
I've re-imported the tasks after fixing some bugs. @paddyow please re-check

[2016-09-26 01:11] bradmac opened #2430 "ProductOrders app indexer"
Create an app indexer for product orders, to allow reporting on purchases and redemptions

Also, create a product order importer to make it easy to test

[2016-09-26 02:16] ducdhm opened #2431 "User panel component for dashboard"
For Coke site https://github.com/Kademi/client-emc-cca/issues/2

[2016-09-26 02:19] ducdhm commented on #2421
@bradmac I think we should separate them. In EDM, it's not really is HTML block. It's just text block. If you want to insert photo, we need drag and drop photo component.

[2016-09-26 02:31] ducdhm opened #2432 "Update reward store stock with Bootstrap component"
Need for Coke https://github.com/Kademi/client-emc-cca/issues/3

[2016-09-26 03:00] #2411 closed

[2016-09-26 05:08] bradmac commented on #2421
@ducdhm as discussed please add the image toolbar button to the ckeditor toolbar. This should function the same as the previous email editor, where images use hash based paths.

but @paddyow please just split the text and use the image component for the time being, or edit the text directly in the text editor.

[2016-09-26 07:06] paddyow opened #2433 "When nodes won't connect in the JB"
Nodes can connect but won't always work.  For example a timer goal after an email results goal does not seem to do anything.

Maybe when a user tries to connect two nodes that will not work we don't allow this and highlight the connecting node in red.

![image](https://cloud.githubusercontent.com/assets/2201340/18825410/9348640c-840b-11e6-98da-79c85767fec5.png)

[2016-09-26 07:56] hoanglinhlan commented on #2395
A Component still doesnt has format and style dropdowns: Accordion

[2016-09-26 08:28] hoanglinhlan commented on #2387
![image](https://cloud.githubusercontent.com/assets/20508726/18827140/6eb8745c-83fb-11e6-8fc6-bae00c90d42e.png)

My website display normaly but when theme checker page display with many wrong
+. Theme: bootstrap335.leadman
+. List apps seted on status:
- User dashboar
- Funnels and lead management
- Lead management
- Team Management

[2016-09-26 08:31] #2392 closed

[2016-09-26 08:50] paddyow opened #2434 "Add subject title to text view of funnel"
Hard to tell which email is what until you open it.

![image](https://cloud.githubusercontent.com/assets/2201340/18828224/2156d93c-841a-11e6-8f7c-42a05b402082.png)

http://kademi.admin.kademi.us/repositories/agency-sales/version1/

[2016-09-26 09:27] paddyow opened #2435 "Issue with failed email in JB"
So I uploaded a profile into this group http://kademi.admin.kademi.us/groups/agency-campaign-1/members/

Started profile on this journey http://kademi.admin.kademi.us/funnels/agency-sales/#journeyBuilder-tab

I purposely created a false email failed2@kademi.co

First issue:  Task from failed email did not create task in KCRM after it had failed.
![image](https://cloud.githubusercontent.com/assets/

[2016-09-26 09:54] hoanglinhlan commented on #2395
confirm fixed

[2016-09-26 09:54] #2395 closed

[2016-09-26 09:58] paddyow commented on #2426
also applies to the edit email page.
![image](https://cloud.githubusercontent.com/assets/2201340/18830316/8a4401be-8423-11e6-8527-6da9be52d21c.png)

[2016-09-26 10:06] hoanglinhlan commented on #2312
1:
![image](https://cloud.githubusercontent.com/assets/20508726/18829815/42f9668e-8408-11e6-9c45-c107805ca7ff.png)

It is difficult to distinguish hide menu and visibility menu => Should be change color for hide menu, Maybe gray button

2:
![image](https://cloud.githubusercontent.com/assets/20508726/18830287/4a64ea18-840a-11e6-8a61-5ec46409da7c.png)
when I hover to hide/visibility button, I can se

[2016-09-26 13:59] paddyow opened #2436 "No Name appearing in contacts"
http://kcrm.kademi.us/custs/
If a contact only has a First Name, then show the First Name in the contacts list and not 'No Name'.

![image](https://cloud.githubusercontent.com/assets/2201340/18836877/2c58de86-8445-11e6-83c3-808309b719fc.png)

![image](https://cloud.githubusercontent.com/assets/2201340/18836862/1da4e1f0-8445-11e6-9475-9c6250458f0a.png)

[2016-09-26 14:56] paddyow opened #2437 "Filter contacts with no leads"
option to filter contacts that do now have any leads associated with them.

http://kcrm.kademi.us/custs/

[2016-09-26 14:57] paddyow opened #2438 "Add tags to more than 1 lead"
http://kcrm.kademi.us/leads/?query=&leadType=active

Be able to select more than 1 lead then assign a tag.

[2016-09-26 15:06] paddyow opened #2439 "Tag appearance"
Show the group name not the code.

![image](https://cloud.githubusercontent.com/assets/2201340/18839518/9ef31b7e-844e-11e6-8950-f3035b266c4a.png)

[2016-09-26 16:07] paddyow opened #2440 "Tags show under user management"
http://kademi.admin.kademi.us/manageUsers/?q=&g&enabled=true

It would be good to see Tags and not just Primary Groups as it helps manage tags and add them to selected groups of profiles much easier.  Otherwise you need to change the group type to primary group, then back to tag.

Make Tag color different.

![image](https://cloud.githubusercontent.com/assets/2201340/18842019/0367defc-8457-11e6-97f

[2016-09-26 16:35] paddyow opened #2441 "Contact importer not working correctly"
http://kcrm.kademi.us/custs

I imported this file [Test Upload.xlsx](https://github.com/Kademi/kademi-dev/files/493616/Test.Upload.xlsx)

Matched on First Name and Last Name but they were not added to the profile
![image](https://cloud.githubusercontent.com/assets/2201340/18843139/ecbbe1d6-845a-11e6-937f-abee84adf8ac.png)

Importer said 0 new profiles
![image](https://cloud.githubusercontent.com/a

[2016-09-26 16:39] paddyow opened #2442 "Lead importer"
There is nowhere in KCRM to upload a spreadsheet, create a contact and a lead at the same time.

There should be the option to:
- Upload a file of contacts
- Create a contact
- Create a lead and optionally assign a funnel + tags + source
- Optionally create a task for all leads uploaded

At the moment you can only upload a file and create contacts.

[2016-09-26 17:21] paddyow opened #2443 "Adding tags to leads"
When creating a lead, need an option to add 1 or more tags.

![image](https://cloud.githubusercontent.com/assets/2201340/18844633/63a097aa-8461-11e6-968d-c33f94464043.png)

[2016-09-26 17:30] paddyow commented on #2442
Should it not copy what we have in Kademi http://kademi.admin.kademi.us/funnels/agency-sales/#lead-tab

![image](https://cloud.githubusercontent.com/assets/2201340/18844925/c659f75a-8462-11e6-9908-0ce1d9c9ca70.png)

[2016-09-26 21:42] bradmac commented on #2440
No, it gets much too busy on that screen. Its ok for 2-3 tags with short names, but frequently we have many more tags then that, and often with longer names.

Just use filtering instead. We might want to allow inverse filtering (ie users NOT in "have met")

[2016-09-26 21:44] bradmac commented on #2439
Looks like it should be doing that now
[code]

[2016-09-26 21:48] bradmac commented on #2312
"3: theme bs335-leadman" <- we have no live bs335 leadman clients, and any new clients will use bs336+. So dont need to worry about that.

[2016-09-26 21:51] bradmac commented on #2434
This is just a file manager view.

[2016-09-26 21:51] #2434 closed

[2016-09-26 21:52] bradmac commented on #2387
Only use theme checker with the Bootstrap marketplace theme (ie 336+).

Its not going to work properly with the old theme architecture

[2016-09-26 21:53] bradmac commented on #2433
A timer goal will work after an email result goal. If you think it doesnt please  give an example

[2016-09-26 23:36] tuzzmaniandevil commented on #2426
Can't reproduce locally:

![screenshot from 2016-09-27 12-29-19](https://cloud.githubusercontent.com/assets/3378330/18855364/93956876-84ae-11e6-9a5d-482aab87662a.png)

Testing on US, after re-saving the From email it seems to be ok now.

Had a look at commit history and looks like Duc already fixed this issue, The server just needed updating:
https://github.com/Kademi/kademi-dev/issues/2341

@padd

[2016-09-26 23:38] bradmac commented on #2426
Closing as duplicate - https://github.com/Kademi/kademi-dev/issues/2426#issuecomment-249728191

[2016-09-26 23:40] tuzzmaniandevil commented on #2419
I've adjusted the UserDao to also check admin org. and adjusted the imported to only return enabled profiles.

[2016-09-26 23:43] tuzzmaniandevil commented on #2419
I've removed the warning from the manage profile page

[2016-09-26 23:54] tuzzmaniandevil commented on #2439
@bradmac That was for the tags dropdown, not displaying selected tags. I've added a fix

[2016-09-27 00:01] tuzzmaniandevil opened #2444 "Password Reset Emai: Fix issue where customized subject doesn't work with new templater"
Also add properties to allow from and reply-to email to be specified

Add this to the header to specifu emails:
[code]

[2016-09-27 00:04] tuzzmaniandevil commented on #2444
@bradmac Thoughts on the from and reply-to parameters?

[2016-09-27 00:12] bradmac commented on #2444
I dont think you would ever want a reply address on a password reset email, right?

A meaningful from address would be good, but this should be automatic and not require users to override templates etc.

Should just be something like noreply@www.mywebsite.com

[2016-09-27 00:14] bradmac commented on #2444
where www.mywebsite.com is either the custom domain name or the default domain name, so either way it should result in happy from field validation by email clients

[2016-09-27 00:15] bradmac commented on #2430
Here is an example query using the new indexer
[code]

And here's how it looks when used in a dashboard:
![screenshot-version1 demo-dash loopbackdns com 8080 2016-09-27 13-15-21](https://cloud.githubusercontent.com/assets/826458/18856094/7db7b026-84b4-11e6-8127-0f10c901aae4.png)

[2016-09-27 00:21] bradmac commented on #2430
And here's a sample product orders upload file to use with testing. Note taht you need to create the products, categories and users first.
[orders.csv.zip](https://github.com/Kademi/kademi-dev/files/494337/orders.csv.zip)

[2016-09-27 03:23] #2387 closed

[2016-09-27 03:42] ducdhm opened #2445 "Update auction stock with Bootstrap standard components"
Need for coke

[2016-09-27 03:42] ducdhm commented on #2445
https://github.com/Kademi/client-emc-cca/issues/5

[2016-09-27 05:16] paddyow commented on #2416
@bradmac it's an increasing case that customers are now creating emails that look like they have been sent from an email client like Outlook, therefore the email template needs to have a 100% width.  If we don't put this option in the only way for a customer to manage the content is edit the HTML, and if they then save the email in the new editor it sets the width to be absolute again.

[2016-09-27 08:32] paddyow opened #2446 "Email Note too big"
http://kcrm.kademi.us/leads/2335455/

Captured email to customer is taking up too much space in the notes section:
- There seems to be a lot of white space that is getting captured, not sure if this is email client specific
- The email content should be truncated to maybe 1 paragraph with the option to open the email to see more

![image](https://cloud.githubusercontent.com/assets/2201340/18865837

[2016-09-27 09:01] paddyow commented on #2439
We want to show the Group Title not the Code .

![image](https://cloud.githubusercontent.com/assets/2201340/18866782/c8d78092-84e4-11e6-857d-1e92bb696c68.png)

[2016-09-27 09:07] hoanglinhlan commented on #2439
Passed

[2016-09-27 09:07] #2439 closed

[2016-09-27 10:21] hoanglinhlan opened #2447 "Cant see the new contact on contact page in lead man"
create a new contact on contact page

*expect*: contact page display this new contact
*actual*: must re-index to see the new contact on contact page

[2016-09-27 10:42] hoanglinhlan commented on #2436
passed

[2016-09-27 10:42] #2436 closed

[2016-09-27 10:53] paddyow opened #2448 "Cannot upload file with more than one group"
http://kademi.admin.kademi.us/manageUsers/upload

[agency test upload.xlsx](https://github.com/Kademi/kademi-dev/files/495269/agency.test.upload.xlsx)

Tried uploading a file with more than one group column, then a single column with comma separated groups.

Anh confirmed this is not supported.  Would be great to allow multiple columns with a field 'Group' to assign the profile to more than one gr

[2016-09-27 11:57] paddyow opened #2449 "Profile Tool - Updating profiles"
http://kademi.admin.kademi.us/manageUsers/upload

I uploaded a file with 709 records.  I then uploaded the same file several times to assign the profiles to more than one group.  Each time the results says there are new profiles to be added when there were not.

![image](https://cloud.githubusercontent.com/assets/2201340/18872343/48083966-84fd-11e6-9ed6-81433a80c469.png)

@bradmac should I send La

[2016-09-27 12:48] paddyow opened #2450 "Adding profiles to groups"
http://kademi.admin.kademi.us/manageUsers

When the Add to Group windows appears, allow the selection of more than one group.

![image](https://cloud.githubusercontent.com/assets/2201340/18873791/6d3fb310-8504-11e6-92a3-e2415ec53390.png)

[2016-09-27 20:51] bradmac commented on #2449
@tuzzmaniandevil can you investigate please?

[2016-09-27 20:52] bradmac commented on #2448
Expected behaviour is that if there are multiple group columns, then profiles will be added to whichever is not blank.

[2016-09-27 20:54] bradmac commented on #2446
- We should trim white space when creating any note.
- Notes should be limited in height with a button to expand to see all. Probably use the dotdotdot.js plugin

[2016-09-27 21:35] bradmac commented on #2416
@paddyow i understand that, and we do want to allow this. But this enhancement will take a while so best to use what we have for now.

[2016-09-27 21:35] bradmac commented on #2416
@ducdhm can you please update the UI to allow editing of both text and html. I'll take care of the backend.

[2016-09-27 22:40] tuzzmaniandevil opened #2451 "Local Less Compiler: Override ReaderFactory to append .less if missing"

[2016-09-27 22:50] tuzzmaniandevil commented on #2441
Session was being flushed before saving the profile.

[2016-09-27 22:53] bradmac commented on #2451
Also note that it appears that semi-colons are considered invalid in mixin argument lists, but commas are ok

Eg
Netbeans says this is invalid:
.make-bg(@bg; @color: lighten(@@bg, 43%); @link: lighten(@bg, 52%); @muted: lighten(@bg, 26%); @navlinkbg: darken(@bg, 8%)) {

But this is ok:
.make-bg(@bg, @color: lighten(@bg, 43%), @link: lighten(@bg, 52%), @muted: lighten(@g, 26%), @navlinkbg: darken(@

[2016-09-27 23:02] tuzzmaniandevil commented on #2447
Tested locally and on Syd server:
1. Created new contact from `/custs/` page
    - Nickname - Peter
    - First name - Simon
    - Surname - Peter
    - Email - simon@peter.com
2. Refreshed page and contact was there

I did not have to reindex
![screenshot from 2016-09-28 11-59-34](https://cloud.githubusercontent.com/assets/3378330/18895041/10a1d088-8573-11e6-96f4-68cf7439ab13.png)

@hoanglinhlan

[2016-09-27 23:24] tuzzmaniandevil commented on #2426
Managed to reproduce the error, It accors when moving a node. When the json saves it breaks the email address.
@ducdhm Please have a look

[2016-09-27 23:46] tuzzmaniandevil commented on #2398
I've set it up on a second begin node in the agency-sales funnel. The email content for the Thank You email needs to be created @paddyow

I've tested this and it works.

[2016-09-28 01:54] bradmac opened #2452 "Date histogram component to allow stacked and grouped series"

[2016-09-28 01:59] bradmac commented on #2452
New editor UI, showing options:

![screenshot from 2016-09-28 14-59-26](https://cloud.githubusercontent.com/assets/826458/18898129/2f0aebea-858c-11e6-82a2-cece64330a50.png)

[2016-09-28 02:01] bradmac commented on #2452
Front end:

![screenshot-version1 demo-dash loopbackdns com 8080 2016-09-28 15-00-04](https://cloud.githubusercontent.com/assets/826458/18898180/60c6f3b8-858c-11e6-9040-9d4244f65159.png)

[2016-09-28 02:03] bradmac opened #2453 "Improve date aggregation settings panel"
Make the sub-aggregation text box into a select

[2016-09-28 02:03] bradmac commented on #2452
Note that using this feature currently requires entering the sub-aggregation manually. This should be changed to a select box, see https://github.com/Kademi/kademi-dev/issues/2453

[2016-09-28 02:04] bradmac commented on #2452
Here is an example query to work with the above histogram

[code]

[2016-09-28 02:32] ducdhm commented on #2416
@bradmac Sure! I'll touch it soon

[2016-09-28 02:34] bradmac commented on #2416
Next milestone :)

[2016-09-28 02:45] ducdhm opened #2454 "Coming up auction panel on dashboard"
Need for coke

[2016-09-28 02:46] ducdhm commented on #2454
https://github.com/Kademi/client-emc-cca/issues/2

[2016-09-28 03:23] hoanglinhlan commented on #2357
confirm passed

[2016-09-28 03:24] hoanglinhlan commented on #2338
1: passed
2: +1

[2016-09-28 03:24] #2338 closed

[2016-09-28 04:07] tuzzmaniandevil commented on #2315
History CSV export done.

[2016-09-28 04:53] ducdhm opened #2455 "Improve UI and UX of content editor"
Hey guys,
Let's discuss about our content editor and write down the disadvantage of our tool which you got. I need your feedbacks for improving UX for content editor.

@paddyow I need your magic hand for making UI of content editor more awesome

Linked issues:
 * https://github.com/Kademi/kademi-dev/issues/2281

[2016-09-28 04:55] ducdhm opened #2456 "Reward categories list component for dashboard"
Need for Coke

[2016-09-28 05:05] ducdhm commented on #2456
https://github.com/Kademi/client-emc-cca/issues/2

[2016-09-28 07:58] hoanglinhlan commented on #1095
passed

[2016-09-28 07:58] #1095 closed

[2016-09-28 10:56] anhnt commented on #2385
Need to display first accordion item content and hide all other item content when export this component to html

[2016-09-28 15:07] paddyow commented on #2426
@ducdhm can you get this sorted for me mate.  got a campaign going out and if the subject line changes all the remaining emails break.

[2016-09-28 15:26] ducdhm commented on #2426
@paddyow: Ok sure. In next time, if issue is urgent, please add label `High Priority` for it. I'll complete in current day

[2016-09-28 16:03] paddyow opened #2457 "EDM Editor: Add unsub link Component"
Using this http://$page.closest('website').domainName/profile?$page.model.login does not work.

What do I use in the body of the email if there is an unsub in the email template?

[2016-09-28 20:47] bradmac commented on #2426
@ducdhm please continue to work on the Coke project. That has top priority.

[2016-09-28 21:13] tuzzmaniandevil commented on #2315
Stats export done

[2016-09-28 21:14] bradmac commented on #2456
@ducdhm we already have this in the rewardStoreDashboardComponent component.

We only want one component so please remove either yours or the original.

[2016-09-28 21:14] tuzzmaniandevil commented on #2457
Where are you creating this email? Group Email, Automation, Funnel ?

[2016-09-28 21:16] bradmac commented on #2455
Definitely need categories, as discussed on another keditor issue i think. What i would like to see is
- components have a list of tags
- at top of keditor toolbar the user can select from the list of tags to filter the list.
- the user also has a search box which will filter by tag, name or component title

[2016-09-28 21:17] bradmac commented on #2457
That will be a funnel in Kademi US - http://kademi.admin.kademi.us/funnels/agency-sales/#journeyBuilder-tab

[2016-09-28 21:17] tuzzmaniandevil opened #2458 "Funnel Builder: Create a ShoppingCartEvent Goal"
Have a goal for when someone completes an ecommerce checkout

[2016-09-28 21:21] bradmac commented on #2458
:+1:

[2016-09-28 22:35] tuzzmaniandevil commented on #2457
I've added a unsubscribe link component to the editor :-)

[2016-09-28 23:37] tuzzmaniandevil commented on #2449
The importer wasn't handling mixed cased emails correctly.

[2016-09-29 05:04] mamun4343 opened #2459 "content editor : photo block not fully functional"
@ducdhm  as we discussed earlier :)

[2016-09-29 05:30] paddyow opened #2460 "Journey timers do not seem to be working as expected"
http://kademi.admin.kademi.us/funnels/agency-sales/#journeyBuilder-tab

I have delays in the journey @ 7 days and 24 hours.  I am using an accelerator of 7 which should adjust the emails  @ 7 days to send after 1 day if the value is divided.

At the moment the emails send concurrently with no delay.

[2016-09-29 05:46] ducdhm opened #2461 "<link rel="template" /> is not working"
In login page, I added `<link rel="template" href="/theme/blank"/>` but it's still loading layout of `defaultThemeTemplate`

[2016-09-29 05:59] ducdhm opened #2462 "Body class of template is not append when rendering"
Example in login page, `<body class="login-page">`, when rendering, the class of body should contains `login-page`

[2016-09-29 06:22] mamun4343 commented on #2459
@ducdhm need uppercase option in editor.

[2016-09-29 07:56] ducdhm commented on #2459
@mamun4343 Why not type UPPERCASE text?

[2016-09-29 08:14] ducdhm commented on #2461
Need for Coke (https://github.com/Kademi/client-emc-cca/issues/1)

[2016-09-29 08:14] ducdhm commented on #2462
Need for Coke (https://github.com/Kademi/client-emc-cca/issues/1)

[2016-09-29 08:17] ducdhm commented on #2456
@bradmac They have different look n feel. Here is one which I have created

![rewardstorecategorieslist 1](https://cloud.githubusercontent.com/assets/1289631/18946131/bd16c550-8657-11e6-9c76-a33b96e0a578.png)

[2016-09-29 08:33] bradmac commented on #2456
ok, cool

[2016-09-29 08:34] #2456 closed

[2016-09-29 09:24] hoanglinhlan commented on #1965
passed

[2016-09-29 09:24] #1965 closed

[2016-09-29 09:34] hoanglinhlan commented on #1670
component added

[2016-09-29 09:38] paddyow opened #2463 "Renaming file reverts back to parent directory"
http://experiment.admin.kademi.us/repositories/components/version1/ebook/#files-tab

After a file is renamed in the sub folder, the file is renamed but the file directory reverts back to the root.  Should stay in the same directory after being renamed.

[2016-09-29 09:38] hoanglinhlan commented on #2284
passed

[2016-09-29 09:38] #2284 closed

[2016-09-29 09:38] #2385 closed

[2016-09-29 09:49] paddyow opened #2464 "Cannot change image in EDM editor"
http://experiment.admin.kademi.us/funnels/nurture1/emailAction-25b65d/#messages-tab

![image](https://cloud.githubusercontent.com/assets/2201340/18949200/adcb563a-867d-11e6-8fb5-6f6fac815a82.png)

![image](https://cloud.githubusercontent.com/assets/2201340/18949211/b7eb0fa2-867d-11e6-90fc-34b528f29cd6.png)

After clicking the upload button and selecting a file, nothing happens.

After the upload w

[2016-09-29 09:53] paddyow opened #2465 "Getting a link URL for an EDM"
![image](https://cloud.githubusercontent.com/assets/2201340/18949338/4e97b3ce-867e-11e6-9991-2ccccbd0d082.png)

Need a better way to find a link within an account.  Maybe a file browser to find the file i.e. a PDF and insert the link.

[2016-09-29 09:56] hoanglinhlan commented on #2200
passed

[2016-09-29 09:56] #2200 closed

[2016-09-29 10:11] paddyow opened #2466 "EDM image getting blown up after page refresh"
after adding an image using the EDM editor, saving, then refreshing the web page, the image get's scaled up super big and you cannot access the image controls.

![image](https://cloud.githubusercontent.com/assets/2201340/18949935/d9f32e24-8680-11e6-8d8e-e7c22bb25ee4.png)

[2016-09-29 10:26] #2352 closed

[2016-09-29 10:33] paddyow opened #2467 "EDM fonts not rendering correctly in email client"
H1 Font
![image](https://cloud.githubusercontent.com/assets/2201340/18950571/db426102-8683-11e6-9ed0-9cd5c330f73e.png)

Not showing correctly in sent email
![image](https://cloud.githubusercontent.com/assets/2201340/18950582/e936ec6a-8683-11e6-9679-cf44888ccdbb.png)

[2016-09-29 12:21] mamun4343 opened #2468 "content editor : form block or input blocks are not editable."
Text not editable inside form.

check this
![untitled](https://cloud.githubusercontent.com/assets/3419573/18953689/705d555c-8671-11e6-8746-0881283cdebc.png)

[2016-09-29 12:32] paddyow opened #2469 "Font styles are not being encoded correctly"
Email editor:
![image](https://cloud.githubusercontent.com/assets/2201340/18953894/ef75c3c0-8693-11e6-906f-7662a3d810d2.png)

Mailinator renders the font as a sans-serif even though it looks like it's  Arial and should render fine.
![image](https://cloud.githubusercontent.com/assets/2201340/18953916/0203ce38-8694-11e6-891a-fdecb761976b.png)

To fix this I had to highlight the text, then select Ari

[2016-09-29 12:58] paddyow opened #2470 "Email builder should use full browser canvas"
Email editor canvas should be able to use the browsers available canvas area,

![image](https://cloud.githubusercontent.com/assets/2201340/18954853/2ca8cc7a-8698-11e6-995d-cc9f2c87023e.png)

[2016-09-29 14:13] #2062 closed

[2016-09-29 14:50] #1968 closed

[2016-09-29 19:59] bradmac commented on #2470
This is issue is superceded by https://github.com/Kademi/kademi-dev/issues/2416

[2016-09-29 19:59] #2470 closed

[2016-09-29 20:01] bradmac commented on #2468
@ducdhm would it be possible for these to be editable? If not just editing through properties would be ok

[2016-09-29 20:06] #2452 closed

[2016-09-29 20:07] bradmac opened #2471 "Applications should not be inherited from parent"
Really messes up things with the market place

[2016-09-29 20:13] #2471 closed

[2016-09-29 21:09] tuzzmaniandevil opened #2472 "Date Range Selector in admin dashboard"
At the moment, if I select 1 Year, it stores the actual dates in a cookie. so if I log in a day or two later, the date range is now incorrect. Instead a keyword should be stored. i.e. 1YR then dynamically calculate the date range so it's always correct.

e.g. when select 3 days store start date as '-3d' and end date as 'now'. but still pass the actual dates to the fired event

[2016-09-29 21:12] bradmac commented on #2472
Note that some server side scripts use the values from cookies. So i think the jquery plugin needs to update the cookie values when the page is loaded.

So probably the keyword value should be stored in addition to the date values

[2016-09-29 21:27] bradmac commented on #2452
Example orders file
[orders.csv.zip](https://github.com/Kademi/kademi-dev/files/501735/orders.csv.zip)

[2016-09-29 22:12] tuzzmaniandevil commented on #2472
:+1:

[2016-09-29 22:34] tuzzmaniandevil commented on #1128
@hoanglinhlan i've done some fixes, When testing make sure to test across 2 orgs, not in the same org.

[2016-09-29 23:00] bradmac opened #2473 "Improve query table component"
- table to be flush with panel
- options for displaying headers and paginator
- reload correctly

[2016-09-29 23:02] bradmac commented on #2473
Example query;
[code]

[2016-09-30 01:46] tuzzmaniandevil commented on #2461
The HTML wasn't being parsed so no template link was being found.

[2016-09-30 02:11] tuzzmaniandevil commented on #2435
An event wasn't being fired if an email failed because of a permanent bounce, This has been corrected

[2016-09-30 02:48] hoanglinhlan commented on #2009
passed

[2016-09-30 02:48] #2009 closed

[2016-09-30 02:50] hoanglinhlan commented on #1955
passed

[2016-09-30 02:50] #1955 closed

[2016-09-30 02:58] hoanglinhlan commented on #2083
passed

[2016-09-30 02:58] #2083 closed

[2016-09-30 03:13] hoanglinhlan commented on #1886
Passed

[2016-09-30 03:13] #1886 closed

[2016-09-30 03:49] bradmac commented on #2462
As discussed please combine body classes from page, page template and theme template in the same way as in HtmlTemplateRenderer. Then edit masterTemplate in bootstrap theme to use this.

Ideally have a method on the template which outputs this list, and have the template call that method. But DO NOT lookup templates again, make sure you use the variables already in templating context.

[2016-09-30 04:07] #2374 closed

[2016-09-30 04:48] hoanglinhlan commented on #2064
Failed
Limit = 10 row / 1 page
I have 16 row, so we must have 2 page
![image](https://cloud.githubusercontent.com/assets/20508726/18980947/c9d688d2-8703-11e6-9185-a087b347dd70.png)

[2016-09-30 05:10] paddyow opened #2474 "Funnel tester on/off"
http://kademi.admin.kademi.us/funnels/agency-sales/#journeyBuilder-tab

I think there should be a switch to turn off the testers vs delete them or change their values.

![image](https://cloud.githubusercontent.com/assets/2201340/18981262/f0201294-871f-11e6-8c5c-03ca359b9475.png)

[2016-09-30 05:20] paddyow opened #2475 "Clicking on timer goal in profile page goes to template error page"
http://kademi.admin.kademi.us/manageUsers/2483290/#funnelsTab-tab

![image](https://cloud.githubusercontent.com/assets/2201340/18981411/52623314-8721-11e6-8e4c-c2059858e069.png)

![image](https://cloud.githubusercontent.com/assets/2201340/18981417/5e2be438-8721-11e6-894a-8503cec57e46.png)

[2016-09-30 06:08] #2473 closed

[2016-09-30 07:37] hoanglinhlan commented on #2153
passed

[2016-09-30 07:37] #2153 closed

[2016-09-30 07:39] paddyow opened #2476 "Customer emails not firing"
CSV file uploaded here to the upload endpoint http://admin.rspca-sa.olhub.com/integration/?branch=websites/rspca-sa-campaign/version1#endpoints-tab

[test.zip](https://github.com/Kademi/kademi-dev/files/502349/test.zip)

Profiles are added to the group ok http://admin.rspca-sa.olhub.com/groups/kademi-test-2/members/

Email trigger does not fire http://admin.rspca-sa.olhub.com/autoEmails/118632491/

[2016-09-30 07:52] #2476 closed

[2016-09-30 22:00] bradmac commented on #2475
@tuzzmaniandevil can you please create a management page for timers? This can be very simple, just needs to show summary stats for:
- number of timers currently queued
- number of timers due to fire in next 24 hours
- number of timers due to fire in next 7 days

And would be good to have a date histogram of timers due to fire. I think this information is available from the current app indexer

[2016-09-30 22:02] bradmac commented on #2474
The idea is that you have specific domains used for testing, and that you dont need to disable them. For example, you should not have kademi.co as a tester, you should use mailinator for testing instead.

[2016-10-01 07:31] mamun4343 opened #2477 "photo uploader visual bug"
see this
![untitled](https://cloud.githubusercontent.com/assets/3419573/19012552/3193293a-87db-11e6-92b7-1e00f360c4ce.png)
i dont see ok or cancel button.
i only see those buttons when i open my console.
![untitled2](https://cloud.githubusercontent.com/assets/3419573/19012557/463490a4-87db-11e6-8b82-da47473ffabb.png)

[2016-10-01 07:32] bradmac commented on #2477
Can you provide a link to the page where you see that?

[2016-10-01 08:43] mamun4343 commented on #2477
use any content editor for first time.
such as http://version1.brynnkelly.kademi.us/theme/contenteditor?fileName=home.html&miltonUserUrl=/users/mamun&miltonUserUrlHash=e508b24f-fb8d-4040-b55c-a7025a4530eb:O3Ist_-0HcMnp33kc2slns6emak

[2016-10-01 09:30] bradmac commented on #2477
Just tried in firefox on linux and seems ok. Maybe a chrome specific issue?

[2016-10-01 10:33] mamun4343 commented on #2477
@hoanglinhlan  can you do a cross browser test. I see this in FF.

[2016-10-01 16:06] #2433 closed

[2016-10-01 16:06] #2428 closed

[2016-10-01 16:06] #2417 closed

[2016-10-01 16:09] #2397 closed

[2016-10-01 16:30] mamun4343 opened #2478 "contactForm component throwing an error"
**ReferenceError: initContactUs is not defined**

![untitled](https://cloud.githubusercontent.com/assets/3419573/19015437/1f5e7e5e-8826-11e6-99bc-0cff941f8a29.png)

[2016-10-01 16:50] #2478 closed

[2016-10-01 21:29] bradmac commented on #2478
Hey @mamun4343, I'm interested to find out what caused the error, and how you solved it?

[2016-10-01 21:53] #49 closed

[2016-10-01 21:53] #65 closed

[2016-10-01 21:53] #222 closed

[2016-10-01 21:53] #378 closed

[2016-10-01 21:53] #422 closed

[2016-10-01 21:53] #638 closed

[2016-10-01 21:53] #646 closed

[2016-10-01 21:53] #691 closed

[2016-10-01 21:53] #694 closed

[2016-10-02 05:51] mamun4343 commented on #2478
it was occuring because of not using stock template and js files.

[2016-10-02 20:11] tuzzmaniandevil opened #2479 "eCommerce Store: Index not updated if you edit Product in Store Details"

[2016-10-02 21:40] bradmac opened #2480 "SES domain validation enhancements"
- Move SES validation message to mail server tab
- display the actual DNS record to create, including actual domain name and key eg

[code]

[2016-10-02 21:41] #2479 closed

[2016-10-02 23:33] bradmac commented on #1668
Depends on https://github.com/Kademi/kademi-dev/issues/2401

[2016-10-03 00:33] #1668 closed

[2016-10-03 00:33] #2401 closed

[2016-10-03 00:33] bradmac commented on #1822
Done

[2016-10-03 00:33] #1822 closed

[2016-10-03 00:35] bradmac commented on #2268
Hey @tuzzmaniandevil let me know if you want to discuss before you start

[2016-10-03 00:51] bradmac commented on #2293
Cant see any problem, probably just a result of setting up the site

[2016-10-03 00:51] #2293 closed

[2016-10-03 00:54] bradmac opened #2481 "Move manage leads/funnels into users/groups menu"

[2016-10-03 00:54] #2481 closed

[2016-10-03 00:59] bradmac commented on #2354
Looks good to me

[2016-10-03 00:59] #2354 closed

[2016-10-03 01:02] bradmac commented on #2412
Please go ahead and build the UI, then assign back to me to implement server side.

Should be basically the same as the current page property editor, just POST a bunch of inputs to the page being edited.

[2016-10-03 03:01] ducdhm commented on #2462
I checked in my local and it doesnt work

[2016-10-03 03:37] tuzzmaniandevil opened #2482 "Timer Goal: Add Histogram"
would be good to have a date histogram of timers due to fire. I think this information is available from the current app indexer

[2016-10-03 03:38] tuzzmaniandevil commented on #2475
Done, Moved Histogram to a separate issue https://github.com/Kademi/kademi-dev/issues/2482

[2016-10-03 03:50] ducdhm commented on #2462
Works perfectly!

[2016-10-03 03:50] #2462 closed

[2016-10-03 03:51] mamun4343 opened #2483 "Content editor : carousel component issue"
i cant set caption using carousel component.
 i need at least 2 different text field for my current slider.

Please take a look.

[2016-10-03 04:10] tuzzmaniandevil opened #2484 "Products: Change URL from id to specific field"
This is to create a more SEO friendly URL, e.g.
`/store/homeware/6-pack-wine-glasses/`
instead of
`/store/homeware/123455/`

Should derive the path from the title when a product get's created. but should also have an editable field on the manage product page. Make sure to adjust any affected app indexers and integration importers.
- add a field to Product, eg webPath
- add a lookup in ProductsFold

[2016-10-03 04:19] bradmac opened #2485 "Menu builder, allow menu items to be selected from font awesome"
To allow for menus like this:
![screenshot-brynnkelly com 2016-10-03 17-19-11](https://cloud.githubusercontent.com/assets/826458/19027500/93e82f1e-898d-11e6-9c20-456d411e5d9f.png)

[2016-10-03 08:04] paddyow opened #2486 "Group Signup Report"
This group has 28 members http://admin.rspca-sa.olhub.com/groups/RSPCA-SA-RG/members/

The Group Signup report here http://admin.rspca-sa.olhub.com/reporting/esGroupSignups
 Has 730 members in the group.  Does the report show every member who has been added over time regardless if they were deleted or unsubed?

[2016-10-03 08:08] bradmac commented on #2486
Yes, it shows all memberships created.

[2016-10-03 08:11] #2486 closed

[2016-10-03 09:14] paddyow opened #2487 "Group signup issue"
I created this profile today as an example http://admin.rspca-sa.olhub.com/manageUsers/208050803/

They were added to this group http://admin.rspca-sa.olhub.com/groups/RSPCA-SA-RG/members/

They do not appear in the Group Signup Report here http://admin.rspca-sa.olhub.com/reporting/esGroupSignups

I have re-index profiles to see if that helped.

[2016-10-03 09:17] bradmac commented on #2487
I can see it here - http://admin.rspca-sa.olhub.com/reporting/esGroupSignups?startDate=02%2F10%2F2016&finishDate=+04%2F10%2F2016

Check your date filter.

[2016-10-03 09:25] paddyow opened #2488 "Profile Upload Tool (dupe field names)"
Upload a test file here http://admin.rspca-sa.kademi-beta.co/manageUsers/upload
[Reupload - test.xlsx](https://github.com/Kademi/kademi-dev/files/505884/Reupload.-.test.xlsx)

Choose default group: RSPCA-SA-RG

The giving amount field shows two:
![image](https://cloud.githubusercontent.com/assets/2201340/19032757/5d53fd9c-89a7-11e6-8da4-81561f90b9b7.png)

The group has only 1 http://admin.rspca-sa

[2016-10-03 13:19] paddyow opened #2489 "Sending an email to more than 1x contact form request"
We have this journey http://kademi.admin.kademi.us/funnels/online-sales/#journeyBuilder-tab

We load them into this group http://kademi.admin.kademi.us/groups/leads/members/

If a customer tries to submit the form more than once, they will not get anther email notification as they are not added to the group again.

How do we work around this?

[2016-10-03 14:12] paddyow opened #2490 "JB: Title of node differs"
![image](https://cloud.githubusercontent.com/assets/2201340/19040386/943afa18-89cf-11e6-86cc-13c49c00c793.png)

[2016-10-03 14:27] paddyow opened #2491 "JB: remove profile"
This node removes a Kademi profile, but should we not have the option to remove a lead as well?

![image](https://cloud.githubusercontent.com/assets/2201340/19040892/b48ea3c6-89d1-11e6-97f2-669c679e84c9.png)

[2016-10-03 14:32] #2487 closed

[2016-10-03 20:43] bradmac commented on #2488
The list of fields is displayed for all groups, because you can import into multiple groups. So i would guess that other field exists on another group.

[2016-10-03 21:08] bradmac commented on #2343
As discussed, please check default system encoding on the docker image, should be UTF-8

[2016-10-03 21:37] bradmac commented on #2489
The intention was that funnels are configurable whether they allow just one per profile, or whether multiple leads would be allowed per profile.

But this seems to have been lost.

What we should do, is to add an option to the "Begin" node for whether it will trigger multiple times for a profile or not

[2016-10-03 21:41] bradmac opened #2492 "Poll FTP location for scheduled inbound files"
- to be driven by the integration schedule
- should allow collecting files with a matching filename pattern. Note that often files will have a date pattern, and we should only collect the file which matches at that time.
- allow ftp or ftps
- ensure failures are logged
- after transfer, should be processed as if it had been sent to us
- the scheduler should be able to raise an alarm if the file is

[2016-10-03 22:09] bradmac commented on #2491
We have a cancel lead action for that, but it hadnt been added to the list. Now added

[2016-10-03 22:15] bradmac commented on #2491
![screenshot-localhost 8080 2016-10-04 11-14-48](https://cloud.githubusercontent.com/assets/826458/19056131/d84a692e-8a23-11e6-82b6-1e524e52c31b.png)

[2016-10-03 22:15] #2491 closed

[2016-10-03 22:29] tuzzmaniandevil commented on #2343
Updated servers locale to be en_us.UTF-8. All fixed now

[2016-10-03 22:29] #2343 closed

[2016-10-04 00:05] bradmac commented on #2475
Please add a link from the timer settings panel in the funnel builder to its manage page

[2016-10-04 05:43] paddyow opened #2493 "Profile uploader tool"
When the profile uploader gets to 100% the blue bar pulls back and disappears.  This looks like it's rolling back the upload.

The blue bar should stay at 100% until fully completed.

http://admin.rspca-sa.kademi-beta.co/manageUsers/upload

[2016-10-04 08:29] mamun4343 commented on #2422
done!
http://docs.kademi.co/ref/screens/theme/apps/funnels/sendEmail.html  check here.

[2016-10-04 09:06] ducdhm opened #2494 "Components for password reset and password do reset page"

[2016-10-04 09:06] ducdhm commented on #2494
Need for https://github.com/Kademi/client-emc-cca/issues/9#event-810450273

[2016-10-04 10:18] #1355 closed

[2016-10-04 10:36] bradmac commented on #2422
:+1:

[2016-10-04 10:36] #2422 closed

[2016-10-05 02:11] bradmac opened #2495 "Improve funnel tester settings UI in JB"
- user should be able to enter either an accelerator or a fixed delay, but not both
- provide the user with some way of choosing which they want, then allow them to only enter a single value
- currently blank values are converted to zero, but they should remain blank

Current UI:
![screenshot-localhost 8080 2016-10-05 15-11-12](https://cloud.githubusercontent.com/assets/826458/19098932/00333142-8b

[2016-10-05 02:12] bradmac commented on #2460
The problem was that the delay value was being converted from blank to zero, and that value of zero was being used instead of the accelerator.

I've made an update to a value of zero is ignored, and we have an issue in the next milestone to improve the UI of this section

[2016-10-05 02:12] #2460 closed

[2016-10-05 02:54] tuzzmaniandevil opened #2496 "Poll SFTP location for scheduled inbound files"
- to be driven by the integration schedule
- should allow collecting files with a matching filename pattern. Note that often files will have a date pattern, and we should only collect the file which matches at that time.
- allow ftp or ftps
- ensure failures are logged
- after transfer, should be processed as if it had been sent to us
- the scheduler should be able to raise an alarm if the file is

[2016-10-05 03:06] #2461 closed

[2016-10-05 04:15] hoanglinhlan commented on #2477
Cant reproduce

[2016-10-05 04:15] #2477 closed

[2016-10-05 04:17] anhnt opened #2497 "[olhub.com] Email history page is not showing correctly"
Please have a look here http://admin.waterco.olhub.com/emails/

Scroll down and you will see Subject is email address, not correct subject

Also  this automation email is not showing on general email history page above http://admin.waterco.olhub.com/autoEmails/27942838/#history-tab

Also pagination is not working

[2016-10-05 04:35] bradmac commented on #2497
Also, the search box is not filtering.

[2016-10-05 07:38] hoanglinhlan commented on #2426
passed

[2016-10-05 07:38] #2426 closed

[2016-10-05 07:44] hoanglinhlan commented on #2415
passed

[2016-10-05 07:44] #2415 closed

[2016-10-05 07:47] hoanglinhlan commented on #2236
passed

[2016-10-05 07:47] #2236 closed

[2016-10-05 08:00] hoanglinhlan commented on #1928
Passed

[2016-10-05 08:00] #1928 closed

[2016-10-05 08:08] hoanglinhlan commented on #2447
Cant reproduce

[2016-10-05 08:08] #2447 closed

[2016-10-05 08:23] hoanglinhlan commented on #2370
passed

[2016-10-05 08:23] #2370 closed

[2016-10-05 11:45] mamun4343 commented on #2390
done!

[2016-10-05 12:33] paddyow opened #2498 "KCRM: Followup tasks are not created"
http://kcrm.kademi.us/leads/2472522/

Create a new task
Complete it and create a followup task in the dialogue window
The followup tasks is not created

![image](https://cloud.githubusercontent.com/assets/2201340/19113155/16213fbc-8b54-11e6-8096-6d2d9b8886a5.png)

[2016-10-05 14:38] paddyow opened #2499 "Add options to control which fields are shown in the profileDetailsComponent"
No current option to choose which fields a customer can see in a profile vs those that might be used for admin purposes only.

The profileDetailsComponent should allow control of which fields are shown, including standard and custom fields.

http://kademi.admin.kademi.us/groups/leads/

![image](https://cloud.githubusercontent.com/assets/2201340/19117668/7d78fcb6-8b65-11e6-9c13-eebfb14883fc.png)

[2016-10-05 14:52] paddyow commented on #2474
@bradmac I understand this, but if a customer uses gmail.com as a tester, does not remove it or leaves the value set to 0, it fill fire off all nodes.  I think there is massive room for error here.

[2016-10-05 14:58] paddyow opened #2500 "JB: Formate dates nicely"
http://kademi.admin.kademi.us/manageUsers/2705694/#funnelsTab-tab

Dates should be formatted using timeago, and be relative to the timezone in the account settings

![image](https://cloud.githubusercontent.com/assets/2201340/19118457/28c77640-8b68-11e6-8f1b-dda29996a93e.png)

[2016-10-06 07:12] bradmac opened #2501 "bootstrap theme is not installing with all dependencies"
See http://acb.admin.kademi.com.au/manageApps/#appBuilder-tab

[2016-10-06 11:52] #2488 closed

[2016-10-06 12:03] ducdhm opened #2502 "Rotating text component"

[2016-10-06 12:05] ducdhm opened #2503 "Multi-bg with supportes transition container"
Simple idea: Slide image for background of container

[2016-10-06 14:23] paddyow opened #2504 "JB: Timeout did not fire"
I set a timeout at 5 mins to see if it worked, the subsequent email did not fire.

http://kademi.admin.kademi.us/funnels/agency-sales/#journeyBuilder-tab

![image](https://cloud.githubusercontent.com/assets/2201340/19156134/985cc0cc-8c2c-11e6-9310-0600398fca28.png)

[2016-10-06 14:26] paddyow commented on #2504
I also noticed that the due date timer was updating real-time with Sydney local time.  I expected this time to be fixed at the point is was due to fire.

![image](https://cloud.githubusercontent.com/assets/2201340/19156288/12e4f40e-8c2d-11e6-8d7b-427442434cab.png)

[2016-10-06 16:02] ducdhm opened #2505 "Support border for video component"

[2016-10-06 16:06] ducdhm opened #2506 "Default favicon of website should be Kademi favicon"

[2016-10-06 17:55] #2414 closed

[2016-10-06 22:46] bradmac commented on #2504
The timer goal page was incorrectly showing leads which have no timer date as being due. The lead for "moo4" currently has no timer.

[2016-10-06 22:54] bradmac commented on #2504
The timer is firing, but there must be an error occuring...

[2016-10-06 23:40] bradmac commented on #2504
The underlying problem is that minutes was not a supported units in the backend. Thats been fixed.

But @paddyow remember there is no need to use low durations for testing, just setup a tester domain

So i've changed the timer to be 7 days, and there is a tester for mailinator, and that works fine.

[2016-10-06 23:40] #2504 closed

[2016-10-07 01:03] #2475 closed

[2016-10-07 09:30] #2506 closed

[2016-10-07 10:48] bradmac opened #2507 "Journey builder: Create an action node to invite people to a calendar event"
- calendar can be selected, or can be derived eg by group
- event can be selected, eg find the closest event to the user
- events should be able to have a maximum number of attendees, if exceeded do not invite the user

[2016-10-07 18:17] ducdhm commented on #2312
New UI:

![hidden_item](https://cloud.githubusercontent.com/assets/1289631/19200761/ec6a969e-8cf4-11e6-8410-f5c34f3409fb.png)
![new_edit](https://cloud.githubusercontent.com/assets/1289631/19200762/ec70944a-8cf4-11e6-91ad-8a54d1b68987.png)

[2016-10-09 20:18] #2496 closed

[2016-10-09 20:18] #2268 closed

[2016-10-09 21:38] tuzzmaniandevil commented on #2498
Is was missing the process to create a follow up task

[2016-10-09 22:40] tuzzmaniandevil commented on #2064
Pagination fixed, Tested with 50 records.

[2016-10-09 22:57] tuzzmaniandevil commented on #2497
Re-indexing seemed to fix the subject issue. I need to remove the search box and fix pagination

[2016-10-09 23:22] #2312 closed

[2016-10-09 23:28] tuzzmaniandevil opened #2508 "Integration Pipeline: Add an SFTP Outbound handler"
This is so an integration pipeline and upload files via SFTP

[2016-10-09 23:36] bradmac commented on #2419
@tuzzmaniandevil please backport to olhub.com

[2016-10-09 23:36] bradmac commented on #2449
@tuzzmaniandevil please backport to olhub.com

[2016-10-10 00:05] #2508 closed

[2016-10-10 04:26] bradmac commented on #2501
Confirmed still not working. Here's the logs for enabling the user rego app, which should enable the user-lib app:

[code]

[2016-10-10 10:52] mamun4343 opened #2509 "Content editor: need a default containter with just container class"
current: All containers have class ="container-fluid" .
need container with just container class. i can override now but, default container with class="container" will be helpful.

[2016-10-10 10:54] anhnt opened #2510 "Less compiler throws error"
website admin: http://mindfulness.admin.kademi.us/websites/e-learning/version1/#panel_details-tab
frontend site: http://version1.e-learning.kademi.us/myLearning

I used to see this issue when i was creating bs336 theme and it affected current bs335 one. The less compiler doesnt know the less root folder  so it could not find all less files to compile. This will happen when some app has custom less

[2016-10-10 10:59] ducdhm commented on #2509
You can change it by your self. The `Layout` option of container will help you

[2016-10-10 10:59] mamun4343 commented on #2509
ok. confirmed!

[2016-10-10 11:00] #2509 closed

[2016-10-10 11:22] paddyow opened #2511 "KCRM: Email does not show comments"
When opening an email it does not show the main body of the email.

![image](https://cloud.githubusercontent.com/assets/2201340/19234520/e4d5945c-8f37-11e6-938d-7de51fd3a2e2.png)

![image](https://cloud.githubusercontent.com/assets/2201340/19234525/f0217ad8-8f37-11e6-8760-efc6471e54fe.png)

Needs to show the message as below
![image](https://cloud.githubusercontent.com/assets/2201340/19234548/0e68

[2016-10-10 12:46] paddyow opened #2512 "Admin Profile name"
I feel the profile name that appears in the menu bar of the admin should show their first name.

If not and there is no nickname, we should show their first name.

![image](https://cloud.githubusercontent.com/assets/2201340/19236553/bf1667b2-8f43-11e6-8211-0545345dd3f7.png)

[2016-10-10 14:28] paddyow opened #2513 "Cancelling a lead via JB"
When a lead is cancelled via the JB it does not have the usual yellow bar that says it's cancelled and you can click the button cancel lead again.

When a lead is cancelled through the JB it should show the lead as being cancelled in KCRM and show the reason for being cancelled that is set in a field using the JB.

http://kcrm.kademi.us/leads/2855582/

[2016-10-10 14:29] paddyow opened #2514 "Cancel lead node has wrong text"
Text should read 'Enter reason for cancelling lead.'

![image](https://cloud.githubusercontent.com/assets/2201340/19239492/03f34414-8f52-11e6-800b-62efdf40b598.png)

[2016-10-10 19:35] bradmac commented on #2512
Its extremely common for sites to allow users to enter a display name, which is seperate from their actual name. And i think that is appropriate.

But the template should display whatever is available, in order:
- nickname
- first name
- email
- userid

[2016-10-10 19:39] bradmac commented on #2511
Thats not an email, its a contact request.

The message is shown in the "Message" field - http://kademi.admin.kademi.us/manageContacts/2845189

[2016-10-10 19:39] #2511 closed

[2016-10-11 01:13] bradmac opened #2515 "Incorrect path generated for reward store product index when a product has no categories"
Eg for Carters
[code]

In this example "/trade-reward/SP2900BT BLACK-RED" is incorrect. It should
- not have a leading slash
- use the product id

And please ensure this path does actually work

[2016-10-11 02:38] ducdhm opened #2516 "Disable fixed style of fixed container in content editor"

[2016-10-11 06:01] ducdhm opened #2517 "My File components for My File page"
Needed for ACB site

[2016-10-11 06:10] mamun4343 opened #2518 "Content editor: dynamic accordion component."
now we have static accordion. dynamic accordion like: grab content from blog articles, will be handy.

[2016-10-11 07:14] ducdhm commented on #2517
Already have

[2016-10-11 07:14] #2517 closed

[2016-10-11 07:25] bradmac opened #2519 "Inadequate error handling when templates are not found"
When a page is rendered referencing a template which does not exist, there is only a 500 error page displayed, and no meaningful logs are generated on the logs page

Here i an example of a stack trace

[code]

[2016-10-11 07:26] bradmac commented on #2519
We should
- handle template not found gracefully and display an informative message
- ensure that any exceptions from template rendering are captured to the logs index

[2016-10-11 07:55] paddyow opened #2520 "Send email page status"
http://kademi.admin.kademi.us/emails/

I thought in the past we showed the email status as in Read and Converted on this page, currently only seems to show Sent or Failed.   Has this been changed?

[2016-10-11 07:56] bradmac commented on #2520
No, thats on the automation page - http://kademi.admin.kademi.us/autoEmails/

.. and group emails page - http://kademi.admin.kademi.us/groupEmails/

[2016-10-11 08:41] paddyow opened #2521 "Complete task panel showing too much content"
http://kcrm.kademi.us/leads/2335455/

When opening a task to complete it, the first panel is showing all the notes which is about 5 pages long.  This needs to be truncated.

We still have issue #1885 to look into one day.

![image](https://cloud.githubusercontent.com/assets/2201340/19263867/25224f0c-8fea-11e6-9974-076d7c61635e.png)

[2016-10-11 08:46] paddyow commented on #2357
This is working however I feel completed tasks should appear under active tasks.   Below you will see how completed tasks are appearing at the top, but I want my most recent active task to appear at the very top.

![image](https://cloud.githubusercontent.com/assets/2201340/19264126/37fc1ac6-8feb-11e6-8c9d-7c41e9bb60b0.png)

[2016-10-11 09:18] ducdhm commented on #2518
It's need for ACB site

[2016-10-11 21:51] tuzzmaniandevil commented on #2497
I've updated Beta with a fix

[2016-10-11 21:56] #2497 closed

[2016-10-11 23:04] tuzzmaniandevil opened #2522 "Manage Users Page CSV Export currently limited to 10,000 records"
This limit should be removed and paging should be used instead.
Che Proximity needs this for an eDM blast. Please let Blair know once complete.
Will need to be backported to olhub

[2016-10-12 00:30] bradmac commented on #2522
@tuzzmaniandevil please go ahead and aim for this friday's backport release.

Note that the workaround is to export from the members csv file on the manage group page

[2016-10-12 01:15] tuzzmaniandevil commented on #2512
Done, Also made an improvement to the firstNotNull on formatter.

[2016-10-12 01:15] #2512 closed

[2016-10-12 01:20] #2514 closed

[2016-10-12 01:23] tuzzmaniandevil commented on #2513
Changed it to use the funnel manager so will do the same as front-end, including updating the index

[2016-10-12 03:51] tuzzmaniandevil commented on #2449
Backported and running on beta

[2016-10-12 23:17] tuzzmaniandevil opened #2523 "Group Email Page: Logs page needs to require a logged in user"
probably use the setForceLogin method in the constructor

[2016-10-13 02:59] hoanglinhlan commented on #2421
Failed
1: Add two text Component, I cant add image for second text component, Add image popup is blank.
see Image
![image](https://cloud.githubusercontent.com/assets/20508726/19334956/e10e8d3a-9129-11e6-8ec5-8886009b8816.png)
2: Image style is not working. I choose "circle image" but image still doesn't has style in the test mail
3: where is the image save? After add and save an image, I cant find

[2016-10-13 03:02] hoanglinhlan commented on #2421
4: How can I choose an exist image in an any repository?

Test done

[2016-10-13 05:47] ducdhm opened #2524 "Alerts component doesnt work"

[2016-10-13 06:03] ducdhm opened #2525 "Shopping cart is not displayed in navbar when product is added"
Only be displayed after refresh page

[2016-10-13 10:20] ducdhm opened #2526 "Users still see reward store which they dont have permission to access"
Example:
[code]

Need for Coke site

[2016-10-13 10:42] ducdhm opened #2527 "Sort option for product list component of category page"
Need for Coke

[2016-10-13 10:48] anhnt opened #2528 "Contact importer: Could not go to next step when set start row = 0"

[2016-10-13 22:56] tuzzmaniandevil opened #2529 "Pipeline Scheduler: Add support for a day name"
Add support to be able to select specific days the schedule is allow to run on, i.e. Sunday to Saterday

Add to columns to PipelineSchedule
- String dayName
- Date scheduledEndDate

Note that the "endDate" property is currently used to determine the next time the schedule is executed. Ie "endDate" is the end date of the interval the schedule is being run for.

How this should work:

Have 2 end dat

[2016-10-14 00:26] #2526 closed

[2016-10-14 00:27] bradmac opened #2530 "Updating search indexes is srsly slow when uploading thousands of users"

[2016-10-14 00:53] #2530 closed

[2016-10-14 03:49] #2519 closed

[2016-10-14 04:13] #2527 closed

[2016-10-14 08:53] paddyow opened #2531 "Automation trigger add to group not working"
We have this trigger http://admin.cpaaustralia.olhub.com/autoEmails/40377944/#action-tab

Uploaded a trigger here http://admin.cpaaustralia.olhub.com/autoEmails/40377944/timerTriggers.html (test@kademi.co)

Trigger fired ok but the profile was not added to the selected group which is configured under the Action tab.

Note this is required for an update to the campaign.

[2016-10-14 08:58] bradmac commented on #2531
What user?

[2016-10-14 09:14] paddyow opened #2532 "Client not receiving emails"
http://admin.cpaaustralia.olhub.com/autoEmails/55870223/#history-tab

Comment notifications that get sent to client are failing..  Why is this error occurring?

![image](https://cloud.githubusercontent.com/assets/2201340/19382150/a8a282ea-924a-11e6-95a5-674ec199c9ea.png)

[2016-10-14 09:15] paddyow commented on #2532
Found this https://bobcares.com/blog/top-5-causes-for-email-error-451-temporary-local-problem-please-try-later/

Maybe spamming issue?

[2016-10-14 09:16] bradmac commented on #2532
Something to do with the recipient's server

[2016-10-14 09:16] #2532 closed

[2016-10-14 09:21] #2185 closed

[2016-10-14 09:23] anhnt commented on #2394
I think its enough for now. Will reopen if we have new component which needs inverse

[2016-10-14 09:23] #2394 closed

[2016-10-14 10:03] anhnt opened #2533 "Blog article publishing flow should be more user-friendly"
Can we use ajax to prevent reloading page when submitting, publishing, rejecting an article? Now it reloads every time user makes action

[2016-10-14 11:34] anhnt commented on #2309
![image](https://cloud.githubusercontent.com/assets/735555/19386159/d75c1370-923c-11e6-8272-320fa9d65ac8.png)

[2016-10-14 11:34] #2309 closed

[2016-10-14 12:44] paddyow commented on #2531
test@kademi.co was sent the email but not added to the group http://admin.cpaaustralia.olhub.com/groups/year2/members/

I just searched for that user but they do not exist?  Should I reindex profiles?

[2016-10-14 12:45] #2520 closed

[2016-10-14 18:09] hoanglinhlan commented on #2455
- Are components sorted by order in lists? If yes, what order? By name or by user usage?
- Components will be displayed as they are now (with thumb images) or with names only? (I find it very hard to tell what component based on images). We can let images display when users hover on components'names

[2016-10-16 11:13] hoanglinhlan commented on #2525
passed

[2016-10-16 11:13] #2525 closed

[2016-10-16 11:20] hoanglinhlan commented on #2498
confirm follow up task created after old task closed

[2016-10-16 11:20] #2498 closed

[2016-10-16 11:21] hoanglinhlan commented on #2494
passed

[2016-10-16 11:21] #2494 closed

[2016-10-16 11:41] hoanglinhlan commented on #2064
Failed
while I access the page I see many record, but after loading done, I cant see any record

Reward point
![image](https://cloud.githubusercontent.com/assets/20508726/19417089/aab4e2e2-93cd-11e6-977f-2ff03cd961ec.png)

Point bucket
![image](https://cloud.githubusercontent.com/assets/20508726/19417128/b78a2940-93ce-11e6-87ea-70703e8e2800.png)

https://www.youtube.com/watch?v=Z1SSeEGFDvg

[2016-10-16 11:59] hoanglinhlan commented on #2418
switch to text editing view worked

[2016-10-16 11:59] #2418 closed

[2016-10-16 12:06] hoanglinhlan commented on #2420
passed

[2016-10-16 12:06] #2420 closed

[2016-10-16 12:15] hoanglinhlan commented on #2466
passed

[2016-10-16 12:15] #2466 closed

[2016-10-16 12:41] hoanglinhlan commented on #2463
passed

[2016-10-16 12:41] #2463 closed

[2016-10-16 14:07] hoanglinhlan commented on #2364
passed

[2016-10-16 14:07] #2364 closed

[2016-10-16 14:18] hoanglinhlan commented on #2360
passed

[2016-10-16 14:18] #2360 closed

[2016-10-16 15:11] hoanglinhlan commented on #2169
Failed
I have 5 lead
![image](https://cloud.githubusercontent.com/assets/20508726/19418387/1002ac82-93ed-11e6-9469-109677b2ca04.png)

But Wrap shows 4 lead
![image](https://cloud.githubusercontent.com/assets/20508726/19418397/3bf5b1e0-93ed-11e6-947f-9b671755b424.png)

[2016-10-16 15:30] hoanglinhlan commented on #2169
And still does not count leads without a source

[2016-10-16 15:38] hoanglinhlan opened #2534 "Analysic page: wrap disappear"
Select any value of group that doesn't have lead then wrap disappear
![image](https://cloud.githubusercontent.com/assets/20508726/19418559/8f56530a-93f0-11e6-9c42-5acb7d178f96.png)

[2016-10-16 18:00] Uafinder commented on #2441
Importer still says 0 profiles found.
![image](https://cloud.githubusercontent.com/assets/1945230/19419593/9c3865c0-93e3-11e6-8dd2-431a908a5a0d.png)

[2016-10-16 22:02] bradmac opened #2535 "Allow custom apps to provide journey fields"
For example, KFeedback should have a field which is the last result, this will allow journeys to have a decision node based on the result

[2016-10-17 02:34] hoanglinhlan opened #2536 "Analytics page: sources should be different colours"
![image](https://cloud.githubusercontent.com/assets/20508726/19423672/db4f2c58-944c-11e6-89bd-100d4e9cf411.png)

[2016-10-17 02:38] hoanglinhlan opened #2537 "Analytic page: Wrap area should have a button to clear filters"
after select one source, No way to re-select other source
Before
![image](https://cloud.githubusercontent.com/assets/20508726/19423712/581484e0-944d-11e6-9783-493c2f1d2b83.png)

After
![image](https://cloud.githubusercontent.com/assets/20508726/19423692/15c0d968-944d-11e6-9949-29a42556b2c6.png)

[2016-10-17 03:15] bradmac opened #2538 "Deleting org types when orgs are associated with them causes org details page to fail"
- create an org type
- create or edit an organisation
- assign the new org type
- delete the org type
- attempt to view org details page
- the page does not display properly

Note: problem seen on olhub.com, but might also apply to new platforms

[2016-10-17 03:17] hoanglinhlan commented on #2515
passed

[2016-10-17 03:17] #2515 closed

[2016-10-17 03:50] hoanglinhlan commented on #2250
passed

[2016-10-17 03:50] #2250 closed

[2016-10-17 03:53] hoanglinhlan commented on #2247
passed

[2016-10-17 03:53] #2247 closed

[2016-10-17 04:28] hoanglinhlan commented on #2204
passed

[2016-10-17 04:28] #2204 closed

[2016-10-17 05:08] hoanglinhlan commented on #1128
create a new version and publish this on 2 case
case1: app  set on a version that not a publish version (maybe it's an old version) ==> passed
case2: app set on a publish version ==> still failed: system display the app's version is a new version and update avaiable is last version

[2016-10-17 07:45] bradmac opened #2539 "Incorrect status displayed on email history page"
Looks like manageEmailItemHistory.html hasnt been updated to use the EmailItemBean properties

![screenshot-mercur admin loopbackdns com 8080 2016-10-17 20-44-22](https://cloud.githubusercontent.com/assets/826458/19429165/9c3845be-94aa-11e6-96bc-bcc1b183436b.png)

[2016-10-17 07:58] hoanglinhlan commented on #2171
passed

[2016-10-17 07:58] #2171 closed

[2016-10-17 08:01] hoanglinhlan commented on #1128
my last comment, I set incorrect orgs
Confirm passed

[2016-10-17 08:01] #1128 closed

[2016-10-17 08:40] hoanglinhlan commented on #2217
passed

[2016-10-17 08:40] #2217 closed

[2016-10-17 08:59] anhnt commented on #2308
should use bootstrap default style

[2016-10-17 08:59] #2308 closed

[2016-10-17 09:34] hoanglinhlan opened #2540 "Blog article page show error rendering component"
Create website with boostrap theme then set Blogs app is on. Go to the Blog article page in frontEnd
system display error component

Error rendering component: blogPageCategories
class org.apache.velocity.exception.ParseErrorException - Lexical error, Encountered: "$" (36), after : "." at bootstrap-web.loopbackdns.com:/theme/apps/blogs/components/blogPageCategoriesComponent.html[line 2, column 65]

[2016-10-17 09:36] hoanglinhlan commented on #2265
passed

[2016-10-17 09:36] #2265 closed

[2016-10-17 09:49] hoanglinhlan commented on #2319
passed

[2016-10-17 09:49] #2319 closed

[2016-10-17 10:06] hoanglinhlan commented on #2205
passed

[2016-10-17 10:06] #2205 closed

[2016-10-17 10:09] anhnt commented on #2307
worked for me

[2016-10-17 10:10] #2307 closed

[2016-10-17 10:15] ducdhm opened #2541 "Update brand color for inline text"
Such as `text-primary` or `text-success`, now we're support them for block but also need support for inline text

[2016-10-17 10:25] hoanglinhlan commented on #2362
refer #2169

[2016-10-17 10:34] hoanglinhlan commented on #2518
passed

[2016-10-17 10:34] #2518 closed

[2016-10-17 10:40] hoanglinhlan commented on #2457
passed

[2016-10-17 10:40] #2457 closed

[2016-10-17 10:47] #2431 closed

[2016-10-17 10:54] #2326 closed

[2016-10-17 10:57] hoanglinhlan commented on #2143
passed

[2016-10-17 10:57] #2143 closed

[2016-10-17 11:10] #2445 closed

[2016-10-17 11:16] hoanglinhlan commented on #2454
passed

[2016-10-17 11:16] #2454 closed

[2016-10-17 18:30] Uafinder commented on #2419
- warning message successfully removed
- import via upload tool still creating duplicate profiles, when existed profile has no membership
![image](https://cloud.githubusercontent.com/assets/1945230/19450123/d7941fc4-94b0-11e6-91df-fc5994a52b84.png)

[2016-10-17 18:48] Uafinder commented on #2484
There should be a validation on the already existed web link to avoid merging two products to a single link
![image](https://cloud.githubusercontent.com/assets/1945230/19450712/2e83ac44-94b3-11e6-96aa-1014b9d43b88.png)
![image](https://cloud.githubusercontent.com/assets/1945230/19450728/3d82859e-94b3-11e6-9562-0a114a5c38ae.png)

[2016-10-17 19:00] Uafinder commented on #2484
Also:
- there should be added a possibility to add this field via CSV import
- if you import a new product via CSV Web Name field also should be generated automatically

[2016-10-17 19:23] Uafinder commented on #2449
I've checked mixed cases email records... looks ok...

[2016-10-17 19:23] #2449 closed

[2016-10-17 19:49] Uafinder commented on #2257
Everything looks fine, one thing: would be great to add a possibility to uncheck checkbox while selecting an image for the variant.
For example, you want to change image for the variant, you are accessing images from the list, and current image is not selected there. And there is no possibility to remove it from there.

[2016-10-18 00:38] paddyow opened #2542 "Duplicate schedules email were sent"
http://admin.rspca-sa.olhub.com/manageUsers/209879975/#emailAppTab-tab

On the 17/10/2016 it looks like the same email was sent twice.

This is the schedule http://admin.rspca-sa.olhub.com/scheduledEmails/listen-data/

[2016-10-18 01:54] paddyow commented on #2542
@bradmac wes has looked into this but cannot find a reason for the dupe.

[2016-10-18 01:55] paddyow commented on #2531
@bradmac can someone check this as this campaign needs updating.

[2016-10-18 02:50] bradmac commented on #2531
hey @paddyow please try again with a fresh user

[2016-10-18 02:51] bradmac commented on #2542
Probably just a one-off. Will investigate if it happens again.

[2016-10-18 03:12] #2541 closed

[2016-10-18 03:53] tuzzmaniandevil opened #2543 "RecordExecution: Add columns to record to and from dates"

[2016-10-18 04:59] hoanglinhlan commented on #2300
Failed
![image](https://cloud.githubusercontent.com/assets/20508726/19464910/5a2165d6-952a-11e6-8f10-efcf2fb071d5.png)

[2016-10-18 05:06] ducdhm commented on #2300
@hoanglinhlan It's your local less server's problem

[2016-10-18 05:10] bradmac commented on #2300
I've created an account for Lan on kademi.us to use

[2016-10-18 05:19] bradmac commented on #2300
@hoanglinhlan please retest on the kademi.us account

[2016-10-18 05:27] hoanglinhlan commented on #2300
recheck on the kademi.us passed

[2016-10-18 05:27] #2300 closed

[2016-10-18 07:09] tuzzmaniandevil opened #2544 "Braintree Payment Gateway: Improve error handling"

[2016-10-18 07:42] hoanglinhlan commented on #2400
Export: should add Lead info
Import: not working. System show message: uploaded successfully but it not add new note or update exist notes

[2016-10-18 07:49] #2432 closed

[2016-10-18 08:33] hoanglinhlan commented on #2391
passed

[2016-10-18 08:33] #2391 closed

[2016-10-18 08:53] hoanglinhlan opened #2545 "journeyBuilder: impove to easy find a node"
1- Begin note should a first node in list
2- Should a text box to search nodes by name

[2016-10-18 08:55] hoanglinhlan commented on #2325
passed

[2016-10-18 08:55] #2325 closed

[2016-10-18 09:02] bradmac commented on #2545
:+1:

[2016-10-18 09:42] hoanglinhlan commented on #2313
New links still not display
http://lan-testing.admin.kademi.us/websites/quickadd/version1/#panel_theme-tab
http://version1.quickadd.kademi.us/profilepage.html

[2016-10-18 09:48] anhnt opened #2546 "EDM Editor: custom app component is not rendered when generating edm item"
Have a look here http://customerfusion.admin.kademi.com.au/groupEmails/25687498/#messages-tab

There's custom edm component for kfeedback app

[2016-10-18 09:50] bradmac commented on #2546
Thats because EDM's are rendered using the website specified in the send information, but the KFeedback app is not enabled for that website - http://customerfusion.admin.kademi.com.au/websites/feedbacksite/version1/#panel_apps-tab

Please enable the app and try again

[2016-10-18 09:59] anhnt commented on #2546
worked 👍

[2016-10-18 09:59] #2546 closed

[2016-10-18 10:01] anhnt opened #2547 "EDM editor: Login token not working"
http://customerfusion.admin.kademi.com.au/groupEmails/25687498/#messages-tab

There's login token for each mood but it hasnt been transformed to valid kademi auto login token

[2016-10-18 10:59] #2315 closed

[2016-10-18 22:12] #2542 closed

[2016-10-18 22:15] paddyow opened #2548 "Cancel JB trigger from firing"
Where a lead replies to an email, there needs to be a way to stop them from getting any subsequent followup emails i..e cancel a trigger for a profile/lead.

[2016-10-18 23:04] paddyow commented on #2531
I created a new profile, then uploaded test2@kademi.co as a trigger, it fired but was not added to the group.

This is the trigger http://admin.cpaaustralia.olhub.com/autoEmails/40377944/#action-tab

[2016-10-19 01:38] paddyow commented on #2531
the account needed reindexing.  The profile test2@kademi.co was created http://admin.cpaaustralia.olhub.com/manageUsers/211491345/

The emails were fired but the profile was not added to the group.

[2016-10-19 02:13] hoanglinhlan commented on #2334
http://version1.bs335-leadman-web.kademi.us/tasks/
pls re-check export task
I still cant export close and cancel task
Export file always has active task

[2016-10-19 02:49] #2544 closed

[2016-10-19 02:49] tuzzmaniandevil opened #2549 "Integration Pipeline: Improve HTTP out handling"

[2016-10-19 03:56] paddyow opened #2550 "Unsubscribe not working"
An agency campaign was sent out using the JB - http://kademi.admin.kademi.us/funnels/online-sales/#journeyBuilder-tab

3 customers seem to have unsubscribed here http://kademi.admin.kademi.us/unsubscribes/

After their unsubscribe all profiles were sent another email.  It seems their profile still exists under manage users after the unsub action was performed.

[2016-10-19 04:37] bradmac commented on #2548
We will add
- see timers for a lead
- cancel timer
- reschedule timer

[2016-10-19 04:53] hoanglinhlan opened #2551 "Header : Should display First Name/Surname when Nick name is empty"
Header of leadman web
![image](https://cloud.githubusercontent.com/assets/20508726/19506080/778ec2f8-95f2-11e6-8f15-ef73cb582c01.png)

[2016-10-19 05:17] paddyow opened #2552 "Pipeline not appearing on Olhub for schedules emails"
http://admin.rspca.olhub.com/scheduledEmails/lp2-genesis/

Note the pipeline is not appearing in the dropdown, but it has one as emails are getting sent with attached data.

[2016-10-19 06:29] paddyow opened #2553 "Deleting a schedule to send FTP does not seem to stop the process"
http://admin.rspca.olhub.com/integration/?branch=websites/pet-guide-qld/version6#schedules-tab

Note there are no schedules for the QLD website.

However the FTP process is running see here http://admin.rspca.olhub.com/integration/211527460

[2016-10-19 06:47] #2227 closed

[2016-10-19 06:51] bradmac commented on #2553
The integration configuration is held as a file in a repository (so we get version history for updates)

We usually have a special website for integration, separate from any user facing website. A real user website should never be used for integration.

But for this account each of the integration files were kept in the user facing websites. That in itself doesnt cause a problem, but it is a poten

[2016-10-19 06:55] hoanglinhlan commented on #2278
All Goal nodes has stage

[2016-10-19 06:55] #2278 closed

[2016-10-19 07:06] hoanglinhlan commented on #2140
@tuzzmaniandevil

[2016-10-19 07:17] bradmac commented on #2552
I think its the same issue as with the schedule. Its only going to show pipelines in the live branch in the dropdown

[2016-10-19 07:19] hoanglinhlan commented on #1993
passed

[2016-10-19 07:19] #1993 closed

[2016-10-19 07:31] hoanglinhlan commented on #2383
passed

[2016-10-19 07:31] #2383 closed

[2016-10-19 07:54] hoanglinhlan commented on #1950
passed

[2016-10-19 07:54] #1950 closed

[2016-10-19 08:34] hoanglinhlan commented on #2273
passed

[2016-10-19 08:34] #2273 closed

[2016-10-19 09:00] #2146 closed

[2016-10-19 09:04] hoanglinhlan commented on #2365
passed

[2016-10-19 09:04] #2365 closed

[2016-10-19 09:29] hoanglinhlan commented on #2276
passed

[2016-10-19 09:29] #2276 closed

[2016-10-19 09:40] #2280 closed

[2016-10-19 10:27] hoanglinhlan commented on #2513
passed

[2016-10-19 10:27] #2513 closed

[2016-10-19 18:08] Uafinder commented on #2202
Works ok for me...
One thing: when you remove account, it moves to disabled and all groups are disappeared. Is it ok?
And one more about toggle switch: would be great to change cursor on it... now it's for typing, need to be like hand (for picking up)

[2016-10-19 19:27] bradmac commented on #2202
Disabling a profile should not remove all groups. Admins should be able to just turn a profile off, then turn it back on, and the profile should be the same as it was before.

[2016-10-20 01:36] #2543 closed

[2016-10-20 05:04] hoanglinhlan commented on #2458
passed

[2016-10-20 05:04] #2458 closed

[2016-10-20 07:27] hoanglinhlan commented on #2435
pass

[2016-10-20 07:27] #2435 closed

[2016-10-20 07:44] #2489 closed

[2016-10-20 08:39] hoanglinhlan commented on #2444
passed

[2016-10-20 08:39] #2444 closed

[2016-10-20 08:45] #2299 closed

[2016-10-20 09:24] anhnt commented on #2269
cant reproduce

[2016-10-20 09:26] anhnt opened #2554 "Contact Form component: Allows configuring custom fields, contactForm path"
Custom fields should be loaded from all available groups within current account

[2016-10-20 10:45] hoanglinhlan commented on #2409
passed

[2016-10-20 10:45] #2409 closed

[2016-10-20 20:36] bradmac opened #2555 "Performance issues with cluster"
It seems that there is always one server in the cluster running slowly. A good example to see this is the components handlers page, it can take 10secs to render when running slowly, instead of 200ms normally.

I have added logging and can see that when its running slowly each handler takes 200ms to render

I think this is probably a caching problem, and have made some changes to hazelcast config t

[2016-10-20 20:54] bradmac opened #2556 "KCRM profile page form doesnt work"
Clicking save shows json text instead of updating page
http://insured-crm.kademi.com.au/profile/

[2016-10-20 20:55] bradmac opened #2557 "Email details page in kcrm has not been updated for leadman theme"
For example
http://insured-crm.kademi.com.au/emails/26111510/26117372/

[2016-10-20 22:28] bradmac opened #2558 "KCRM: Cancel dialog does not work in new theme"
Eg
http://insured-crm.kademi.com.au/leads/26123230/

[2016-10-21 00:35] paddyow opened #2559 "JB adding image to email template"
When adding an image to an email, the dialogue is nested under the main frame of the page making it hard to get to without scrolling.

![image](https://cloud.githubusercontent.com/assets/2201340/19582681/5bc9c996-9782-11e6-8880-048f32cbc206.png)

[2016-10-21 00:48] bradmac commented on #2559
@ducdhm lets have a chat before you do anything. I noticed that the toolbar is being hidden or moved up, and that is probably causing this problem. And i dont think we should do it that way

[2016-10-21 00:50] bradmac commented on #2559
What i'm thinking is that maybe we should not display the editor at all, initially. Instead we will have buttons for each type of editor to open it, possibly in a full screen modal rather then a new tab.

[2016-10-21 00:57] bradmac commented on #2476
Fixed in https://github.com/Kademi/kademi-dev/issues/2408

[2016-10-21 01:11] bradmac opened #2560 "JB task is not being assigned to the current sales consultant"
In the following journey, the task 'follow up with customer re renewal' is created but not assigned to anyone

http://insured.admin.kademi.com.au/funnels/policy-holder/#journeyBuilder-tab

[code]

[2016-10-21 02:25] #2269 closed

[2016-10-21 02:39] #2549 closed

[2016-10-21 03:33] bradmac commented on #2537
Should have something like what github does for clearing filters on the issues page

[2016-10-21 03:35] #2219 closed

[2016-10-21 03:36] bradmac commented on #2557
@ducdhm I think its ok to just have a single component for the whole page, rather then componentising each section like we have with other apps.

[2016-10-21 03:55] bradmac commented on #2202
Ah, ok, now i understand. Yes removing a user should disable it and remove all group memberships. It can still be viewed by showing disabled users

Disabling a user does not remove groups

[2016-10-21 03:55] #2202 closed

[2016-10-21 04:04] bradmac opened #2561 "Refactor UserResource.dailyVisits to use elasticsearch"
Currently can add several seconds to rendering the profile page, so best to use ES

[2016-10-21 04:47] hoanglinhlan commented on #1682
passed

[2016-10-21 04:47] #1682 closed

[2016-10-21 04:50] hoanglinhlan commented on #2429
passed

[2016-10-21 04:50] #2429 closed

[2016-10-21 04:57] ducdhm opened #2562 "Error when deleting user group"

[2016-10-21 05:12] #2453 closed

[2016-10-21 08:03] hoanglinhlan opened #2563 "Create dashboard: Cant drag and drop container"
User login is an admin
Create and new dashboard for administrator group
Cant drag and drop container
![image](https://cloud.githubusercontent.com/assets/20508726/19591036/391ad2ba-979f-11e6-9347-6029ee28430f.png)

[2016-10-21 08:15] hoanglinhlan commented on #2562
passed

[2016-10-21 08:15] #2562 closed

[2016-10-21 09:00] ducdhm commented on #2556
Done!

[2016-10-21 10:23] #2516 closed

[2016-10-21 10:35] #2218 closed

[2016-10-21 17:27] Uafinder opened #2564 "Signups menu should be highlighted"
![image](https://cloud.githubusercontent.com/assets/1945230/19606694/c66fe75e-97cc-11e6-8d58-72a443abd2ff.png)

[2016-10-21 17:39] Uafinder opened #2565 "Journey builder: when edit journey every connection line will start from the top left corner"
![image](https://cloud.githubusercontent.com/assets/1945230/19606852/663efe2c-97ce-11e6-8caa-0a4b0c4787bf.png)
I'm staring from connection point, but it starts from corner

[2016-10-23 20:59] bradmac commented on #2565
I've seen that as well, but seems intermittent.

[2016-10-23 21:08] bradmac commented on #2564
Done

[2016-10-23 21:14] bradmac commented on #2563
Confirmed when running locally. There is a js error when starting drag.

@ducdhm can you look into this please?

[2016-10-23 22:07] #2561 closed

[2016-10-24 00:41] bradmac opened #2566 "Improve manage user page loading time, but only loading tabs when opened"
The manage user page should still be able to use the manage user page as before, but it should be faster to load now because tab content is only loaded when the user views it

[2016-10-24 00:43] bradmac opened #2567 "Show un-subscribes on user timeline"

[2016-10-24 01:07] bradmac commented on #2567
![screenshot-localhost 8080 2016-10-24 14-07-05](https://cloud.githubusercontent.com/assets/826458/19631058/32fe90d2-99f3-11e6-8318-2a79e8a2ed4c.png)

[2016-10-24 01:45] bradmac opened #2568 "Do not allow editing password or email of users viewed outside of their home admin org"
This is to ensure that administrators of lower level accounts cannot take over admins of higher accounts

[2016-10-24 02:06] bradmac commented on #2568
@hoanglinhlan please check
- the normal case is that a profile is created within an account, and can be completely edited in that account
- when an admin of the root org joins a lower account, the admin's profile page when viewed from the lower account should not allow editing password or other contact details

[2016-10-24 02:06] bradmac commented on #2550
The unsub check wasnt being applied to emails sent from the JB. Should be ok now.

[2016-10-24 03:39] bradmac opened #2569 "Journey builder fields to allow decisions based on group membership"

[2016-10-24 03:46] bradmac commented on #2569
![screenshot-customerfusion admin loopbackdns com 8080 2016-10-24 16-40-41](https://cloud.githubusercontent.com/assets/826458/19633007/5bee2456-9a09-11e6-89b2-01dbd350bbfa.png)

[2016-10-24 05:09] paddyow commented on #2569
Add the Decision to the journey stop the first task from being created.

![image](https://cloud.githubusercontent.com/assets/2201340/19634156/34130078-9a04-11e6-99a4-dd0c054d196e.png)

[2016-10-24 05:26] hoanglinhlan commented on #2567
passed

[2016-10-24 05:26] #2567 closed

[2016-10-24 05:31] hoanglinhlan opened #2570 "Show an error after cancel unsubrice"
On a profile page
Click unsubrcibe then click close button on unsubrcibe popup
==> system showing an error but it has not any description

![image](https://cloud.githubusercontent.com/assets/20508726/19634456/7955c680-99e5-11e6-8316-6838a54e8bc1.png)

[2016-10-24 05:36] hoanglinhlan opened #2571 "Disable profile after unsubcribe"
After unsubcribe a profile, the system set this profile is disable.

[2016-10-24 05:41] hoanglinhlan commented on #2568
your cases passed
But currently, with 2 user at the same level. User1 can edit the profile of user2.
I think an user should not be allowed to edit the profiles of other users at the same level with him

[2016-10-24 06:17] paddyow commented on #2569
Also adding a decision node anywhere on the journey stops the panel for email and SMS from showing any parameters, it just looks blank.

[2016-10-24 06:40] bradmac opened #2572 "JB decision node json formatting problems"
1. There is a "const' property inside choices which should not be there, see below. We are not using constant expressions any more.
2. And rules are not being correctly parsed by the server

[code]

[2016-10-24 06:51] bradmac commented on #2572
2. Fixed

[2016-10-24 07:06] bradmac commented on #2572
Here is an example of what hte parse expects...
[code]

[2016-10-24 07:14] bradmac commented on #2572
Here's how it would look with a property for the type info..
[code]

[2016-10-24 07:15] hoanglinhlan commented on #2569
passed

[2016-10-24 07:19] hoanglinhlan commented on #2556
passed

[2016-10-24 07:19] #2556 closed

[2016-10-24 07:54] ducdhm commented on #2558
Done!

[2016-10-24 08:28] anhnt commented on #2540
Could not reproduce. Please check your blogs-lib repo to make sure its using latest source code

[2016-10-24 08:32] hoanglinhlan commented on #2540
look like ok on us server

[2016-10-24 08:32] #2540 closed

[2016-10-24 08:45] hoanglinhlan commented on #2262
passed

[2016-10-24 08:45] #2262 closed

[2016-10-24 09:01] hoanglinhlan commented on #2255
passed

[2016-10-24 09:01] #2255 closed

[2016-10-24 09:18] anhnt commented on #2332
couldnt reproduce

[2016-10-24 09:32] hoanglinhlan opened #2573 "Calendar: Show Internal server error (500) when View event via menu"
Click view event via view menu
![image](https://cloud.githubusercontent.com/assets/20508726/19640464/fdff63f2-9a06-11e6-92c3-f26987a03a5c.png)
Page display Internal Server Error (500)
![image](https://cloud.githubusercontent.com/assets/20508726/19640483/1e77082e-9a07-11e6-9fc3-4b9a07955508.png)

[2016-10-24 10:56] hoanglinhlan commented on #2333
passed

[2016-10-24 10:56] #2333 closed

[2016-10-24 10:57] hoanglinhlan commented on #2330
Passed

[2016-10-24 10:57] #2330 closed

[2016-10-24 11:22] anhnt commented on #2328
It was the daterangepicker config. now it will look like following:
[code]

[2016-10-24 11:30] hoanglinhlan commented on #2328
passed

[2016-10-24 11:30] #2328 closed

[2016-10-24 19:28] bradmac commented on #2568
Any user with Administrator or UserAdministrator should be permitted to change any user details.

Any user who does not have those roles (ie only has AdminViewer) should see an error if they attempt to edit a user

[2016-10-24 19:28] bradmac commented on #2568
I've looked, and this seems to be right

[2016-10-24 20:24] bradmac commented on #2571
That is correct. Unsubscribing means that a user does not want to be contacted, and the profile should be disabled.

[2016-10-24 21:33] bradmac commented on #2569
Fixed

[2016-10-25 00:46] bradmac commented on #2572
Hey @ducdhm its still not parsing. Here is the error we're seeing now:

[code]

[2016-10-25 01:09] paddyow opened #2574 "KCRM does not show SMS touch points in the lead timeline"
Add SMS touch points to the lead timeline like we do for email.

[2016-10-25 02:20] #2571 closed

[2016-10-25 02:59] ducdhm commented on #2565
@Uafinder Can you show me how to reproduce it?

[2016-10-25 05:00] hoanglinhlan commented on #2568
re-check
it's ok

[2016-10-25 05:00] #2568 closed

[2016-10-25 05:21] ducdhm commented on #2572
It works normally on my side. Test with full funnel

[2016-10-25 09:10] anhnt opened #2575 "JB: Not sending email body"
I have configured a JB and there's some Send Email tasks but it didnt send email body for those EDMs

http://mercury.admin.kademi.us/funnels/nurture/#journeyBuilder-tab

[2016-10-25 09:16] ducdhm commented on #2559
New UI:

![fireshot screen capture 009 - send email funnel action - localhost_8080_funnels_myfunnel_emailaction-962223_ sendinfo-t](https://cloud.githubusercontent.com/assets/1289631/19680063/6632ef1c-9ace-11e6-8f90-bfa40cad587e.png)

![fireshot screen capture 008 - send email funnel action - localhost_8080_funnels_myfunnel_emailaction-962223_ sendinfo-t](https://cloud.githubusercontent.com/assets

[2016-10-25 09:54] ducdhm commented on #2559
Latest UI:

Send Information tab:
![send_info_tab](https://cloud.githubusercontent.com/assets/1289631/19681429/91c62298-9ad3-11e6-8772-20abecbb927a.png)

Message tab:
![message_tab](https://cloud.githubusercontent.com/assets/1289631/19681439/97b9e608-9ad3-11e6-9ddb-e361017a1cfb.png)

Edit message modal:
![edit_message_modal](https://cloud.githubusercontent.com/assets/1289631/19681447/9e3402f2-9ad3

[2016-10-25 09:58] hoanglinhlan commented on #2386
passed

[2016-10-25 09:58] #2386 closed

[2016-10-25 10:45] hoanglinhlan commented on #2263
on Profile page: points show on the Points tab => passed
verify that the purchase appears as a debit on the profile admin page => passed

[2016-10-25 10:45] #2263 closed

[2016-10-25 11:11] hoanglinhlan commented on #2570
passed

[2016-10-25 11:11] #2570 closed

[2016-10-25 21:47] bradmac commented on #2575
It looks ok to me.

I submitted the contact form here - http://version1.mercury-cust.kademi.us/contactus

This created this lead - http://mercury.admin.kademi.us/manageUsers/3396390/#funnelsTab-tab

Which sent this email - http://mercury.admin.kademi.us/emails/3396399

As you can see that email does have the body as shown here - http://mercury.admin.kademi.us/funnels/nurture/emailAction-d3112a/#me

[2016-10-25 22:11] bradmac commented on #2575
But i did see a bug sending emails with dynamic components, a nullpointer exception

[2016-10-26 02:00] bradmac opened #2576 "Add the ability to request additional fields for purchasing an item from reward store"
For some products there are additional fields which must be collected for them to be purchased. For example, when selecting a debit card from a reward store we must collect
- name to appear on card
- the date of birth

This might possibly be an extension to the RelatedProductApplication which currently allows extra fields to be entered on the manage product screen.

The collected data would be sto

[2016-10-26 02:38] #2575 closed

[2016-10-26 02:41] bradmac opened #2577 "Automatically add login tokens to email links"
Should not require @login token when sending from JB, as users are not technical enough, and all comms should be contextual to the customer

[2016-10-26 02:41] #2577 closed

[2016-10-26 03:48] paddyow commented on #2572
http://experiment.admin.kademi.us/funnels/nurture-call-center/#journeyBuilder-tab

Originally I had a decision going to a 'group goal' where the decision checked to see if the lead was in a group using:

Where I wanted to check if the lead was in the a group:
![image](https://cloud.githubusercontent.com/assets/2201340/19712593/ee3145e6-9b8a-11e6-91da-c4e9af78d513.png)

This did not work.

I then u

[2016-10-26 03:52] paddyow commented on #2572
This is the journey that needs debugging.

http://experiment.admin.kademi.us/funnels/nurture-call-center/#journeyBuilder-tab

[2016-10-26 04:07] hoanglinhlan opened #2578 "JB: "Contact form goal" node missing text in title"
in nodes list, name of Node is "Contact form goal"
After drag and dropt, The name of Node is "Contact form"

![image](https://cloud.githubusercontent.com/assets/20508726/19712952/34f70a8e-9b6c-11e6-9d29-7e4637b7b282.png)

[2016-10-26 04:19] ducdhm opened #2579 "Shopping cart components for automation"
2 components:
- list of purchased product in tablet format
- Purchased information like name, phone, address, etc...

[2016-10-26 04:36] hoanglinhlan commented on #2550
passed

[2016-10-26 04:36] #2550 closed

[2016-10-26 04:41] hoanglinhlan commented on #2559
passed

[2016-10-26 04:41] #2559 closed

[2016-10-26 05:03] hoanglinhlan commented on #2128
passed

[2016-10-26 05:03] #2128 closed

[2016-10-26 07:27] anhnt opened #2580 "EDM editor: Dynamic component doesnt get rendered on Send Email Funnel Action"
See here http://mercury.admin.kademi.us/funnels/nurture/emailAction-757787/#message-tab

But it does when click Edit Message

[2016-10-26 09:33] hoanglinhlan commented on #2134
1: filter by parent org ==> not yet done, It should be like on manage users page
2: excessive "report entity" dropdown
3: Point balance display incorrect
![image](https://cloud.githubusercontent.com/assets/20508726/19720657/51450a4c-9b99-11e6-8159-717066dbbb1f.png)

4: filter by range not working: I have 2 items in range 0-100 but after select range 0-100, the system display 0 items
![image](https

[2016-10-26 09:53] #2282 closed

[2016-10-26 10:20] hoanglinhlan commented on #2569
passed

[2016-10-26 10:20] #2569 closed

[2016-10-26 20:59] bradmac commented on #2574
Hey @paddyow that has previously been implemented, so should be working. Can you please give me an example of where SMS's are not being displayed?

[2016-10-26 21:00] bradmac commented on #2573
@hoanglinhlan can you please give me a link to the account where you see that problem?

[2016-10-26 21:13] bradmac commented on #2572
I just tested and it worked fine.

Converted customer - http://experiment.admin.kademi.us/manageUsers/3437303/#summary-tab

Not converted - http://experiment.admin.kademi.us/manageUsers/3436800

[2016-10-26 21:13] bradmac commented on #2572
@paddyow seems to work fine, can you please confirm?

[2016-10-26 21:14] bradmac commented on #2560
I have just tested with this funnel - http://experiment.admin.kademi.us/funnels/nurture-call-center/#journeyBuilder-tab

Tasks are being correctly assigned to the assigned sales consultant

[2016-10-26 21:14] #2560 closed

[2016-10-26 22:01] bradmac opened #2581 "EDM link replacement is not working for links containing new lines"
Eg this doesnt get correctly replaced
[code]

[2016-10-27 00:49] tuzzmaniandevil commented on #2419
Added a fix

[2016-10-27 00:50] tuzzmaniandevil opened #2582 "Crypto: PBKDF2 and HMAC not implemented correctly"

[2016-10-27 02:22] hoanglinhlan commented on #2332
@anhnt : Pls re-check
http://version1.bs335-leadman-web.kademi.us/Calendars/M2M%20show/
http://lan-testing.admin.kademi.us/Calendars/M2M%20show/m2m-euro-show#details-tab

[2016-10-27 02:30] hoanglinhlan commented on #2573
this bug appears on the us server: http://lan-testing.admin.kademi.us/Calendars/
but currently, I cant reproduce it

[2016-10-27 02:30] #2573 closed

[2016-10-27 02:39] anhnt commented on #2332
Do we support bs335.leadman theme anymore? can you please advise @bradmac

[2016-10-27 03:05] anhnt commented on #2332
As discussed with Brad, we now just use Leadman theme for testing with lead management app. I will fix this issue for bs335 though

[2016-10-27 03:11] #2581 closed

[2016-10-27 03:11] bradmac commented on #2578
Ignoring for now. We are going to change the preview images completely anyway

[2016-10-27 03:11] #2578 closed

[2016-10-27 03:16] bradmac commented on #2535
For example...

[code]

[2016-10-27 03:16] bradmac commented on #2535
http://mercury.admin.kademi.us/repositories/kfeedbackApp/version2/APP-INF/texteditor?fileName=app.js

[2016-10-27 03:23] bradmac opened #2583 "KCRM tasks to have multiple outcomes"
A task definition should allow multiple outcomes to be defined. Each outcome may have a list of lead fields which are required. These will be displayed on the task complete form

Each outcome will be a different out port on the journey builder node

[2016-10-27 03:49] hoanglinhlan commented on #2566
passed

[2016-10-27 03:49] #2566 closed

[2016-10-27 04:12] hoanglinhlan commented on #2329
Organisation still doesn't display

![image](https://cloud.githubusercontent.com/assets/20508726/19754279/1e6f482e-9c36-11e6-894c-671c4afc1b66.png)

[2016-10-27 05:22] anhnt opened #2584 "JB: Decision choice rule field name is undefined after reload JB page"
![image](https://cloud.githubusercontent.com/assets/735555/19755415/f612fbfa-9c3f-11e6-842c-7b2384ddd945.png)

[2016-10-27 05:38] anhnt opened #2585 "New theme default layout: Horizontal scroll bar is visible and body has top margin"
See this page without login http://mercury-cust.kademi.us/

[2016-10-27 06:54] anhnt commented on #2535
@bradmac please check this function API: `function getLastFeedbackResult(lead, exitingNode, funnel, vars) {}`

i've doubled test this and see that lead param is null. So the decision could not get custom journey field value

here is code to log and log result:

`log.error('went to custom field func {}', JSON.stringify(lead));`

`went to custom field func undefined`

http://mercury.admin.kademi.us/

[2016-10-27 10:02] hoanglinhlan commented on #2558
passed

[2016-10-27 10:02] #2558 closed

[2016-10-27 10:53] #2332 closed

[2016-10-27 21:00] bradmac commented on #2535
Here is the final working code for KFeedback

[code]

[2016-10-27 21:01] #2535 closed

[2016-10-27 21:02] bradmac opened #2586 "Documentation on integrating with the journey builder for custom apps"
Some example code here
https://github.com/Kademi/kademi-dev/issues/2535

And here
http://mercury.admin.kademi.us/repositories/kfeedbackApp/version2/APP-INF/texteditor?fileName=app.js

[2016-10-27 22:23] bradmac opened #2587 "KSurvey to have JB fields for each survey question"
- Show a list of fields for each question in each survey
- Should support decisions based on survey responses.

[2016-10-28 02:19] hoanglinhlan commented on #2294
passed

[2016-10-28 02:19] #2294 closed

[2016-10-28 03:50] bradmac opened #2588 "User importer: UserID field does not get set on new profiles"

[2016-10-28 04:35] #2588 closed

[2016-10-28 08:10] hoanglinhlan opened #2589 "Import and remove user does not work correctly"
1: Import hundreds or thousands of user, I always must re-index to get the correct number of profiles.
2: Remove hundreds of user but on manage user page, total number of enable profile would reduce by only 100 proflies.

[2016-10-28 09:26] bradmac commented on #2589
@hoanglinhlan can you please provide a specific example of the project?

Really, we need to see after an action like an import or a delete, records which either do not show when they should, or they continue to be displayed when they should not.

[2016-10-28 09:48] hoanglinhlan commented on #2589
Data test
[User.xlsx](https://github.com/Kademi/kademi-dev/files/558068/User.xlsx)

1: import this file ( have 1498 valid profile)
Expect: after import succesful, on search index page, numbs of profile increase 1498.
Actual: numbs of profile not change, must re-indext to get the correct number

2: After imported, remove all profile
Expect: all profile removed and numbs of profile updated
Actual: r

[2016-10-31 03:09] anhnt opened #2590 "Custom app: Allow passing params to callback function when invoking addTextJourneyField"
the API function:

`public ControllerMappingList addTextJourneyField(String id, String label, Object evalFunction) {`

[2016-10-31 03:12] anhnt commented on #2587
https://github.com/Kademi/kademi-dev/issues/2590

[2016-10-31 03:29] hoanglinhlan commented on #2563
passed

[2016-10-31 03:29] #2563 closed

[2016-10-31 04:01] anhnt commented on #2554
to add custom field, needs to override contactFormComponent.html:
[code]

and contactFormSettings.html
[code]

and contactFormComponent.js
[code]

and
[code]

working example here http://insured.admin.kademi.com.au/repositories/insured/version1/theme/apps/contactus/components/#files-tab

[2016-10-31 04:01] #2554 closed

[2016-10-31 04:12] anhnt opened #2591 "Edit webpages: Changing webpage title will remove file extension and throws error"
![image](https://cloud.githubusercontent.com/assets/735555/19844027/afb80bf0-9f5a-11e6-934e-17fe67a73658.png)

I have **index.html** and after changing title and click save, that file now has no extension

[2016-10-31 04:35] hoanglinhlan commented on #2557
passed

[2016-10-31 04:35] #2557 closed

[2016-10-31 05:23] ducdhm commented on #2585
It's padding-top, not margin-top. And it's from ktoolbar.less file so we can ignore it now

[2016-10-31 06:46] #2585 closed

[2016-10-31 06:54] hoanglinhlan commented on #2551
passed

[2016-10-31 06:54] #2551 closed

[2016-10-31 07:26] hoanglinhlan commented on #2187
passed

[2016-10-31 07:26] #2187 closed

[2016-10-31 07:48] hoanglinhlan commented on #2584
passed

[2016-10-31 07:48] #2584 closed

[2016-10-31 07:49] paddyow commented on #2574
SMS appears here in Kademi http://experiment.admin.kademi.us/manageUsers/3364009/#summary-tab

But does not appear in the KCRM timeline here http://ep-kcrm.kademi.us/leads/3364016/

Login to KCRM with this account http://experiment.admin.kademi.us/manageUsers/3264297/#summary-tab

[2016-10-31 08:36] hoanglinhlan commented on #2419
passed

[2016-10-31 08:36] #2419 closed

[2016-10-31 09:17] bradmac commented on #2574
Problem is the SMS app was turned off for the KCRM website

[2016-10-31 09:17] bradmac commented on #2574
Fixed now

[2016-10-31 09:17] #2574 closed

[2016-10-31 09:35] bradmac commented on #2548
![screenshot-version1 crm1 loopbackdns com 8080-2016-10-31-22-31-08](https://cloud.githubusercontent.com/assets/826458/19849865/55824e74-9fba-11e6-8b29-c1ddff04c82c.png)

[2016-10-31 09:37] bradmac commented on #2548
Use the current goals to
- play: immediately complete the current goal and progress to the selected next action
- pause: clear the current goal timer, so it will not automatically complete
- reschedule: change the due date/time of the timer
- switch goal: select a different goal

[2016-10-31 09:55] #2408 closed

[2016-10-31 10:53] anhnt commented on #2321
We need to test this by:

- Edit native calendar templates which in calendar app
- Drag/drop those components to any page with settings

[2016-10-31 12:56] bradmac commented on #2531
Applied patch to web4, so will be used for delayed triggers

[2016-10-31 12:56] #2531 closed

[2016-11-01 01:57] tuzzmaniandevil opened #2592 "Contact Request CSV Export"
Change report to use new ES paging

[2016-11-01 02:47] #2592 closed

[2016-11-01 04:22] anhnt commented on #2590
confirmed its working by using closure
[code]

[2016-11-01 04:22] #2590 closed

[2016-11-01 04:31] ducdhm commented on #2579
UI of 2 components

![aaaaaaaaaa](https://cloud.githubusercontent.com/assets/1289631/19879574/bcd6338a-a026-11e6-8076-2f95f39739ff.png)

[2016-11-01 04:45] hoanglinhlan commented on #2203
passed

[2016-11-01 04:45] #2203 closed

[2016-11-01 06:51] mamun4343 commented on #2246
@hoanglinhlan  also check this
http://docs.kademi.co/programs/admin/elearning/rew3/pintroduction.html

[2016-11-01 07:28] #2393 closed

[2016-11-01 08:42] hoanglinhlan commented on #2329
passed

[2016-11-01 08:42] #2329 closed

[2016-11-01 09:10] anhnt commented on #2591
also fixed the case user not selected default folder page and entered file without extension
![image](https://cloud.githubusercontent.com/assets/735555/19884722/a8bba174-a04d-11e6-871d-d27348806649.png)

[2016-11-01 10:13] anhnt commented on #2591
**updated**: Now it will automatically appended `.html` if new filename doesnt end with that.

[2016-11-01 10:57] bradmac commented on #2583
Note that to preserve compatibility i have left the existing node types unchanged, and added a new node type called taskGoal which creates the task on entry, and then waits for its completion

[2016-11-01 11:39] bradmac commented on #2583
Example funnel with a taskGoal
[code]

[2016-11-01 11:44] bradmac commented on #2583
Hey @ducdhm can you please do the front end? This should be basically the same as the existing createTaskAction and taskCompleteGoal put together, but with the abililty to dynamically add out ports for each outcome.

The outcomes represent different results of the task. The example above shows a task for an agent to call a customer and to try to get their credit card details. In this example there

[2016-11-02 00:03] bradmac commented on #2587
You can now specify a function on the mappings which will load fields dynamically
[code]

[2016-11-02 02:23] hoanglinhlan commented on #1848
passed

[2016-11-02 02:23] #1848 closed

[2016-11-02 03:34] hoanglinhlan commented on #2346
passed

[2016-11-02 03:34] #2346 closed

[2016-11-02 04:08] anhnt commented on #2587
great it works

[2016-11-02 04:33] ducdhm opened #2593 "Update login and password reset page"
These page should:
 * use blankThemeTemplate instead of defaultThemeTemplate
 *  Without menu
 * Center of screen by horizontal and vertical

[2016-11-02 08:54] hoanglinhlan commented on #2591
passed

[2016-11-02 08:54] #2591 closed

[2016-11-02 12:18] anhnt commented on #2587
I got following exception so that multi choices Fields dont work. @bradmac  can you please check it?

[code]

[2016-11-02 12:21] anhnt commented on #2587
Please check this line https://github.com/Kademi/kademi-server/blob/admin-theme-2/apps/ksurveyapp/APP-INF/app.js#L167

[2016-11-03 03:22] #2324 closed

[2016-11-03 03:22] bradmac commented on #2324
Related - https://github.com/Kademi/kademi-dev/issues/2587

[2016-11-03 03:22] ducdhm commented on #2324
@anhnt done this issue in other issue

[2016-11-03 03:25] anhnt commented on #2587
![image](https://cloud.githubusercontent.com/assets/735555/19954913/6b06eeb6-a1af-11e6-9e11-e11f51cd12ec.png)
KSurvey can now integrate to JB Fields completely. Above image is for multi choices, single choice and Yes/No question

[2016-11-03 07:15] paddyow opened #2594 "There is no way to unsubscribe a profile with only a mobile number"
Need to be able to match on an email and/or mobile and unsubscribe those with just a mobile to stop receiving SMS.

[2016-11-03 07:26] paddyow opened #2595 "Bulk Unsub"
http://admin.rspca-sa.olhub.com/manageUsers/upload

When doing a bulk unsub of 146 emails, the preview shows the below. This is very confusing.  The unsub preview screen should just have one line item saying Number of unsub records that will be unsubscribes = x

![image](https://cloud.githubusercontent.com/assets/2201340/19958355/b73d5624-a1f2-11e6-8054-19b30f86e7ba.png)

[2016-11-03 08:42] anhnt commented on #2339
Document: http://docs.kademi.co/programs/dev/d3/app-4/padding-component-to-content-editor.html

[2016-11-03 09:54] anhnt commented on #2207
works fine for me

[2016-11-03 22:44] paddyow opened #2596 "Uploading records that have been deleted"
If you create a profile called bob@bob.com in Kademi, then delete it.  Then upload a file using the import tool with a new record called bob@bob.com, the importer preview says that the record is existing even though it has been deleted.   It should appear as a new record.

![image](https://cloud.githubusercontent.com/assets/2201340/19988215/270d2706-a273-11e6-9efb-80436f82c6c0.png)

[2016-11-03 23:01] paddyow opened #2597 "Bulk unsub did not work"
http://experiment.admin.kademi.us/manageUsers

This file was uploaded [Customers.xlsx](https://github.com/Kademi/kademi-dev/files/570261/Customers.xlsx)

Matched on the email field

After the unsub process, the profile still exists http://experiment.admin.kademi.us/manageUsers/3671752/#summary-tab

[2016-11-03 23:11] paddyow opened #2598 "Profile upload tool: Matching on email vs phone"
[Customers.xlsx](https://github.com/Kademi/kademi-dev/files/570272/Customers.xlsx)

I wanted to upload 2x profiles with different emails but the same mobile, but the tool only inserted one profile because the mobiles matched.

Scenario: If you have a couple who share different email addresses, but the same phone number, (which could be a landline)  it will not create the two profiles.  Currently a

[2016-11-03 23:18] bradmac commented on #2594
What screen is this on?

[2016-11-03 23:20] bradmac commented on #2595
@paddyow it says its going to insert 100 users. That means there are 100 users in your file to upload which are not present in the database. Is that what you expect?

[2016-11-03 23:24] bradmac commented on #2339
Couple of things
- please add an opening slide which says what the module is teaching
- please remove the black background on source snippets. Use default pre style
- add an explanation of why we need separate components for email and web

[2016-11-04 01:57] bradmac opened #2599 "Re-indexing should not remove current index until its complete"
Use elasticsearch aliases, so that when re-indexing we create a new index with a unique name, then when finished we assign an alias with the logical index name to it, and then delete the old index.

[2016-11-04 02:47] paddyow commented on #2597
Note I did this on this account http://admin.cpaaustralia.olhub.com/manageUsers

This file [CPA test data - UNsub.xlsx](https://github.com/Kademi/kademi-dev/files/570526/CPA.test.data.-.UNsub.xlsx)

One record was removed but this  one was not http://admin.cpaaustralia.olhub.com/manageUsers/206718386/

Note I only matched on email when unsubbing.

[2016-11-04 03:12] anhnt commented on #2292
That field is already mandatory

[2016-11-04 03:55] hoanglinhlan commented on #2593
passed

[2016-11-04 03:55] #2593 closed

[2016-11-04 04:32] anhnt commented on #2339
done http://docs.kademi.co/programs/dev/d3/app-4/

[2016-11-04 04:32] #2339 closed

[2016-11-04 06:08] hoanglinhlan commented on #2579
passed

[2016-11-04 06:08] #2579 closed

[2016-11-04 07:24] hoanglinhlan opened #2600 "Checkout page: Order Summary display point incorrect"
http://lan-test.admin.kademi.com.au/shopping-carts/
Login acc: tuoi-au@kademi.co
1.> Add to cart some product with variant
example: http://version1.bootstrap.kademi.com.au/epp-bucket/Gifts/26786687/
then select iPhone6Plus gold - 16Gb (220 point)
2.> go to checkout page, In order summary, I see only 120 point (product'point)
Expect: 220 point

[2016-11-04 08:46] hoanglinhlan commented on #2220
passed

[2016-11-04 08:46] #2220 closed

[2016-11-04 08:59] #2207 closed

[2016-11-04 09:15] hoanglinhlan commented on #2162
passed

[2016-11-04 09:15] #2162 closed

[2016-11-04 09:15] anhnt commented on #2302
![image](https://cloud.githubusercontent.com/assets/735555/20000365/afcaa2f4-a2a9-11e6-9eda-082d932ca0c0.png)
![image](https://cloud.githubusercontent.com/assets/735555/20000375/bb722280-a2a9-11e6-959b-0ffff2b2682c.png)

Can you guys share your thoughts about above new ktoolbar please @ducdhm @bradmac @tuzzmaniandevil @mamun4343 @paddyow

[2016-11-04 09:16] bradmac commented on #2302
👍  Perfect!

[2016-11-04 09:37] ducdhm commented on #2302
It's great 👍  and IMHO, i think we can move setting icon to LHS or RHS of toolbar

[2016-11-04 09:40] bradmac commented on #2302
i think the middle is good. if its to the right it will get in the way of the user menu, on the left will sit over the brand logo.

[2016-11-04 09:48] #2228 closed

[2016-11-04 10:08] anhnt commented on #2302
thanks guys :) @hoanglinhlan please test on both bs335 and bs335 theme

[2016-11-04 11:08] hoanglinhlan commented on #2321
passed

[2016-11-04 11:08] #2321 closed

[2016-11-06 02:42] bradmac opened #2601 "Company details page in leadman"
Should provide
- view of all members of the company
- view of all leads related to the company
- view/edit company details
- link to the company details page in the company component on the lead page

Will only be available in marketplace leadman theme

[2016-11-06 02:51] bradmac opened #2602 "Progress indication for search re-indexing"
related https://github.com/Kademi/kademi-dev/issues/2599

Please use TrackedProcessable similar to ReIndexJsonDbTrackedProcessable

See manageDatabase.html for how to use it client side

[2016-11-06 02:52] bradmac opened #2603 "Make the lead stage available as a JB decision field"
Also add the lead source

[2016-11-06 03:08] #2603 closed

[2016-11-06 03:10] #2362 closed

[2016-11-06 04:14] #2169 closed

[2016-11-07 02:27] ducdhm opened #2604 "Enable/disable Ktoolbar in new themes"
Hey @bradmac, what do you think about an option for enable/disable Ktoolbar? Or maybe make it as a lib/app on Kademi?

[2016-11-07 02:31] bradmac commented on #2604
Making it an app would be nice.

[2016-11-07 02:46] hoanglinhlan commented on #2291
passed

[2016-11-07 02:46] #2291 closed

[2016-11-07 02:51] hoanglinhlan commented on #2292
passed

[2016-11-07 02:51] #2292 closed

[2016-11-07 02:57] ducdhm commented on #2313
Fixed on local

[2016-11-07 03:24] hoanglinhlan opened #2605 "Video Component: issues"
sever AU
**1:** On chrome: Cant select button upload video
**2**: display strange characters
![image](https://cloud.githubusercontent.com/assets/20508726/20045381/3292628c-a4d3-11e6-8d18-612c8044259d.png)
**3**: uncheck show control but controls always showed
**4**: cant change ratio to 16:9
**5**: border setting dont show in Chrome  ( Firefox display ok)
![image](https://cloud.githubusercontent.c

[2016-11-07 03:24] hoanglinhlan commented on #2505
refer issue #2605

[2016-11-07 03:44] ducdhm commented on #2505
Closed of duplicated

[2016-11-07 03:44] #2505 closed

[2016-11-07 04:04] ducdhm commented on #2605
No 2 is fixed so can test on local

No 1, 3, 4, 5, 6 are working normally

[2016-11-07 05:03] hoanglinhlan commented on #2369
passed

[2016-11-07 05:03] #2369 closed

[2016-11-07 05:48] anhnt commented on #2499
![image](https://cloud.githubusercontent.com/assets/735555/20047602/6e1ffc32-a4e8-11e6-8b6a-74af30d398e0.png)

[2016-11-07 07:15] bradmac commented on #2499
:+1:

[2016-11-07 07:28] anhnt commented on #2490
just closed as it is simple

[2016-11-07 07:28] #2490 closed