[2017-08-07 17:22] ducdhm commented on #3704
Done!

[2017-08-07 17:22] #3704 closed

[2017-08-07 17:58] bradmac commented on #3472
Regarding item 3, note that jquery.forms-1.1.5.js has a progress callback:

[code]

[2017-08-07 19:33] paddyow opened #3716 "K Feedback - show/hide title"
There are times when we don't want to show the Kfeedback title due to using some MVEL or something in the email body.

Rather than use code to hide it, add an option to show/hide the kfeedback title.

![image](https://user-images.githubusercontent.com/2201340/29042600-ef58e202-7bfa-11e7-8f06-de814e9d14da.png)

[2017-08-08 01:35] bradmac opened #3717 "UserViewer role"
Please create a new role, similar to UserAdministrator, but which only provides read access

[2017-08-08 01:35] bradmac commented on #3717
related https://github.com/Kademi/kademi-dev/issues/3713

[2017-08-08 02:11] ducdhm commented on #3715
@anhnt I can't reproduct this issue. Please double-check again. Maybe an automation or journey runs...

[2017-08-08 03:12] anhnt commented on #3715
Just reproduced this in the profile http://vaya.admin.kademi.us/manageUsers/13748205/#general-tab

Initial group: Participants in Cohort August
Add Executing Priorities in Cohort August
Add managing-time
Fill value for extra fields: Competency and Habit
Add registered

[2017-08-08 03:13] anhnt commented on #3715
Yeah i think might be the issue with vaya journey as well

[2017-08-08 04:13] bradmac commented on #3593
Its a start ..

![image](https://user-images.githubusercontent.com/826458/29056066-4d9ccef0-7bb5-11e7-8dfb-9482aed4d86c.png)

Eg http://localhost:8080/leads/121/

[2017-08-08 04:14] bradmac commented on #3593
@ducdhm can you please build the page content? This uses the same resource as for the front end so the ajax services are all the same.

[2017-08-08 04:15] bradmac commented on #3593
Want it have similar capabilities as the front end lead page, but it doesnt need to be exactly the same.

[2017-08-08 04:59] bradmac commented on #3480
I've just checked and cannot reproduce the issue

[2017-08-08 05:00] bradmac commented on #3480
@AlaaKhalaf94 please check if this issue is still active

[2017-08-08 05:15] ducdhm commented on #3705
As discussed with @bradmac, we'll support editing caption for Image item. Editing caption with minimum toolbar of CKEditor.

[2017-08-08 05:17] bradmac opened #3718 "Visual query builder"
Update the queries page to allow creating adhoc queries with a visual editor
- select output columns
- build the query
- add aggregations

Perhaps use these
http://querybuilder.js.org/
https://github.com/piotch/jQuery-QueryBuilder-Elasticsearch

[2017-08-08 07:03] AlaaKhalaf94 commented on #3480
@bradmac I check and see this issue is not active

[2017-08-08 09:13] AlaaKhalaf94 commented on #3678
passed

[2017-08-08 09:13] #3678 closed

[2017-08-08 09:38] ducdhm commented on #3705
New modal for editing caption of image item:
![newui](https://user-images.githubusercontent.com/1289631/29065932-e8545934-7c57-11e7-8cab-316e72e59a87.png)

[2017-08-08 09:39] tannguyen3489 commented on #3624
I checked on version 1.0.6. It works well. Please recheck it for me.

![image](https://user-images.githubusercontent.com/1665005/29065954-fc06c9d0-7c57-11e7-99d5-1b2427e47a1d.png)
![image](https://user-images.githubusercontent.com/1665005/29066002-204c6638-7c58-11e7-8c3a-25ad64266014.png)

[2017-08-08 09:42] tannguyen3489 commented on #3624
please check it on version 1.0.7

[2017-08-08 09:46] ducdhm commented on #3705
Because default, bootstrap make caption align is center, I added a CSS rule for making default caption of carousel (Kademi's carousel with custom class is `carousel-fixed-height`) is left. This CSS rule doesnt impact to default bootstrap carousel.

[2017-08-08 09:47] #3705 closed

[2017-08-08 10:13] AlaaKhalaf94 commented on #3624
passed

[2017-08-08 10:13] #3624 closed

[2017-08-08 13:31] #3480 closed

[2017-08-08 17:25] ducdhm commented on #3716
NewUI:

![newui](https://user-images.githubusercontent.com/1289631/29085359-3efeb838-7c99-11e7-9a16-771818bef3f7.png)

[2017-08-08 17:25] #3716 closed

[2017-08-09 01:14] bradmac opened #3719 "Allow specifying an organisastion for dashboard alerts"
Currently dashboard alerts can have a selected group, which means the alert is only shown to those users.

We also need to be able to target based on organisation.

So please add the ability to select an organisation, and if selected, ensure the alert is only shown to users in that org

[2017-08-09 01:16] bradmac opened #3720 "Allow specifying orgs as recipients on group emails"
Currently when setting up a group email the user can specify multiple groups as recipients.

We also need to be able to add multiple organisations as recipients. If any are selected, the email should only be sent to users in at least one of the selected orgs.

Similar to https://github.com/Kademi/kademi-dev/issues/3719

[2017-08-09 04:10] anhnt commented on #3697
done

[2017-08-09 04:10] #3697 closed

[2017-08-09 04:47] ducdhm commented on #3622
I added toggle content button when Notes is loooong....

New UIs:
![newui](https://user-images.githubusercontent.com/1289631/29105527-82a19f2e-7cf8-11e7-81fa-c8d5e68a9d37.png)

![newui2](https://user-images.githubusercontent.com/1289631/29105529-85bda0b8-7cf8-11e7-83c2-d4e680887016.png)

[2017-08-09 04:47] #3622 closed

[2017-08-09 04:50] ducdhm commented on #3593
@bradmac Can you implement the resource for this screen? I can't see it in my local.

[2017-08-09 07:50] tannguyen3489 commented on #3549
@AlaaKhalaf94 : I checked your website instance. Please use leadman theme and config google api key in setting app.

![image](https://user-images.githubusercontent.com/1665005/29110751-f9da61de-7d11-11e7-8b57-73fd6d0f8d11.png)

[2017-08-09 08:14] mkhoudary commented on #3715
Looking at **FunnelManager** method **createLead** line 485:

[code]
We can observe that when a journey starts the membership is added to the homeMembershipOrg.. so this is part of the journey creation.

[2017-08-09 08:16] ducdhm commented on #3715
@anhnt @bradmac so what do you think about this? Is it issue?

[2017-08-09 09:04] salehh93 opened #3721 "learner-lib app in au server it can't update"
I tried update for learner-lib in au server from 1.0.0 to 1.0.6 but I don't find last version

[2017-08-09 09:18] AlaaKhalaf94 opened #3722 "k-editor does not work"
here : http://version1.leaddsash.kademi-prod.com/contenteditor?fileName=golden.html&miltonUserUrl=/users/alaa&miltonUserUrlHash=13611d9a-98d0-413a-aaec-a5bd0b0e7a53:nwWUZZZgiFK_poGh7FRQk85_fec

admin url : http://fortoday.admin.kademi-prod.com

less error : http://version1.leaddsash.kademi-prod.com/--theme--less--bootstrap.less,--theme--apps--KToolbar--ktoolbar.less,--theme--apps--user--profile.le

[2017-08-09 09:25] #3722 closed

[2017-08-09 09:28] AlaaKhalaf94 commented on #3700
passed

[2017-08-09 09:28] #3700 closed

[2017-08-09 09:51] tannguyen3489 commented on #2502
it was implemented

[2017-08-09 10:28] #3655 closed

[2017-08-09 10:28] AlaaKhalaf94 commented on #3717
passed

[2017-08-09 10:28] #3717 closed

[2017-08-09 10:29] anhnt commented on #3714
needs for https://github.com/Kademi/client-vaya/issues/25

[2017-08-09 11:53] AlaaKhalaf94 commented on #3662
Hi @bradmac I can't reproduce this issue too , I can create tags normally without multiple prompts

I try here : http://leaddsash.kademi-prod.com/leads/341411/
admin : http://fortoday.admin.kademi-prod.com

[2017-08-09 11:57] AlaaKhalaf94 commented on #3549
passed

[2017-08-09 13:10] AlaaKhalaf94 commented on #3713
passed

[2017-08-09 13:10] #3713 closed

[2017-08-09 22:29] bradmac commented on #3549
Hey guys, can someone tell me why this needs the leadman-theme? KCRM needs to work with any theme.

[2017-08-09 22:46] bradmac commented on #3593
Yep, its already added. I've added a link on the manage funnel page to help you find it :)

![image](https://user-images.githubusercontent.com/826458/29147122-f1c8cd48-7d19-11e7-99c0-d1bf1a98f9a1.png)

[2017-08-09 22:53] bradmac commented on #3715
Yep, thats it. This is just so we have a group which identifies all lead profiles. We dont need to add them to the group if they're already in it.

So I've put in a change so it only adds them to the leads group if they're not already in the group.

[2017-08-09 22:54] bradmac commented on #3721
@salehh93 1.0.6 needs to be deployed. Please ask @mkhoudary to show you how to deploy using ksync

[2017-08-09 23:14] bradmac commented on #3662
Great!

[2017-08-09 23:14] #3662 closed

[2017-08-09 23:32] bradmac opened #3723 "Fix the stream"
- remove aggregation of events
- find out why sometimes doesnt display

[2017-08-09 23:40] bradmac opened #3724 "Sales claims app"
Create a new marketplace app to allow users to enter sales data. In some cases these need to be approved by an admin before being activated. Once activated, create an entry in a sales data series, and save the record id on the sales claim.

Depends on
- Sales data app
- KongoDB
- User app

Components
- form to enter a new sales claim
- view claims showing status (for an end user)
- view pending cl

[2017-08-10 02:16] tannguyen3489 commented on #3549
sorry, Alaa, I checked again. The #portlets("header") exist on all themes, so you only need to config the google API key, it will work on all themes.

[2017-08-10 02:23] ducdhm commented on #2502
"Rotating text" is concept which we change the text with animation! Not's a css properties. It should like this (http://morphext.fyianlai.com/)

[2017-08-10 03:09] ducdhm opened #3725 "Certificate has 2 pages with second page is blank"
Reported from Katie

[2017-08-10 06:03] AlaaKhalaf94 commented on #3719
Hi @gonzalon
In Dashboard alert there are ability to select an organisation , but the alert appear to users does not exist in selected organization

I try here : http://fortoday.admin.kademi-prod.com
And this is alert that I create : http://fortoday.admin.kademi-prod.com/manageAlerts/alert-344183#details-tab
for "org org 02" organisation

I login with this user : http://fortoday.admin.kademi-prod.

[2017-08-10 06:35] AlaaKhalaf94 commented on #3549
passed

[2017-08-10 06:35] #3549 closed

[2017-08-10 06:53] tannguyen3489 commented on #2502
it was changed.

[2017-08-11 01:16] bradmac opened #3726 "Task assignment expression searches for profiles outside the current org"

[2017-08-11 07:54] ducdhm commented on #3706
UI when editing:
![newui](https://user-images.githubusercontent.com/1289631/29205101-f7bf0564-7ea4-11e7-8b5e-7b88d199578d.png)

UI when preview:
![newui2](https://user-images.githubusercontent.com/1289631/29205109-fe121d48-7ea4-11e7-8099-cce5edd5580c.png)

[2017-08-11 07:54] #3706 closed

[2017-08-11 08:01] ducdhm commented on #2502
@tannguyen3489 It's still not correct. It's not what rotating text component mean.
 * It's new component, not a property of text component (that's why title of this issue is Rotating text component)
 * Access to http://morphext.fyianlai.com/, take a look at section with title "Preview (Phrases in a paragraph)", the animation text is what rotating text should be

[2017-08-11 09:30] anhnt opened #3727 "Cant delete extra field in group settings page"
http://anh.admin.kademi.com.au/groups/leads/

[2017-08-11 09:31] anhnt commented on #3727
Also reproducible in the US http://vaya.admin.kademi.us/groups/managers/

[2017-08-11 13:20] bradmac commented on #3727
@ducdhm looks like a problem because of the new modal. Its POST'ing to /groups/[groupname] but isnt sending any data, should be sending the removeFieldName parameter

[2017-08-11 13:52] bradmac opened #3728 "Configurable option to allow associate between points and debits"

[2017-08-11 15:40] ducdhm commented on #3727
Fixed!

[2017-08-11 15:40] #3727 closed

[2017-08-11 15:42] ducdhm commented on #3715
@anhnt I think you can test it in your local now.

[2017-08-11 16:23] ducdhm commented on #3593
@bradmac I still got 404 error page when click on link in manage funnel page. Can you double-check?

[2017-08-11 22:42] bradmac commented on #3593
Pushed.. should work now

[2017-08-12 05:25] mkhoudary commented on #3727
https://github.com/Kademi/client-vaya/issues/88

[2017-08-13 07:43] AlaaKhalaf94 commented on #3005
passed

[2017-08-13 07:43] #3005 closed

[2017-08-13 07:53] AlaaKhalaf94 opened #3729 "Velocity code appear in popup restore product in Audit Records"
Here : http://fortoday.admin.kademi-prod.com/auditRecords

when I want to restore any product that has been deleted , this popup appear and it contain velocity code it should not appear to the user

![capture1](https://user-images.githubusercontent.com/26510030/29248011-9daf359a-8015-11e7-80d1-6a364a129e34.PNG)

[2017-08-13 09:07] AlaaKhalaf94 commented on #3701
passed

[2017-08-13 09:07] #3701 closed

[2017-08-13 22:00] tuzzmaniandevil commented on #3696
Seemed to be mostly done, Just added a couple more fixes

[2017-08-13 22:00] #3696 closed

[2017-08-13 22:19] tuzzmaniandevil commented on #3685
Sorted, Just needs a deploy

[2017-08-13 22:19] #3685 closed

[2017-08-13 22:26] #3630 closed

[2017-08-13 23:04] gonzalon commented on #3720
Should do a bit more of testing

[2017-08-13 23:31] tuzzmaniandevil commented on #3689
Added a null check

[2017-08-13 23:31] #3672 closed

[2017-08-13 23:57] tuzzmaniandevil commented on #3639
Added a check to make sure soft deleted groups aren't used or shown

[2017-08-14 02:03] tuzzmaniandevil commented on #3660
Added a fix for VOD

[2017-08-14 02:03] #3660 closed

[2017-08-14 02:13] tuzzmaniandevil commented on #3640
It seems to create the correct mappings, I starting my local (clean build) and mappings were correct, I then created a new sub account and it still created all the correct mappings for logs

[2017-08-14 02:13] #3536 closed

[2017-08-14 02:16] tuzzmaniandevil commented on #3156
I've removed that bit so it now reads:
`If you have your own domain enter it here - eg www.mycompany.com`

[2017-08-14 02:16] #3156 closed

[2017-08-14 06:47] tannguyen3489 opened #3730 "Can't Unsubscribe users from importing Excel file."
Steps:

- Go to /tableUploaders/usersUploader
- Uploading file [tantest.xlsx](https://github.com/Kademi/kademi-dev/files/1221424/tantest.xlsx)
- Select "Un-subscribe all uploaded" and following next steps.

But the users which have an id in file excel can't be unsubscribed.

[2017-08-14 06:48] tannguyen3489 commented on #3730
@tuzzmaniandevil : please check it.

[2017-08-14 06:49] AlaaKhalaf94 opened #3731 "Ksurvey questions ordering is gone when reload page"
Here "Manage Survey | Month 2 reflection survey" : http://vaya.admin.kademi.us/ksurvey/survey-57b96d7a-d1c2-40a5-9860-08de7d604d1f/#questions-tab
I arrange questions 1, 2, 3, 4 ,5

And when I preview the page in site : http://vaya-group.kademi.us/ksurvey/survey-57b96d7a-d1c2-40a5-9860-08de7d604d1f/?miltonUserUrl=/users/alaa2&miltonUserUrlHash=ae3a6f2a-29ce-4cca-bb81-72c39e35f028:qL_kb2aBt8JSLLcGnK

[2017-08-14 07:42] ducdhm commented on #3731
Fixed!

[2017-08-14 10:06] AlaaKhalaf94 commented on #3731
passed

[2017-08-14 10:06] #3731 closed

[2017-08-14 12:14] AlaaKhalaf94 commented on #3639
passed

[2017-08-14 12:14] #3639 closed

[2017-08-14 12:47] mkhoudary commented on #3726
Fixed that..

[2017-08-14 16:11] bradmac opened #3732 "Support instagram in social media login"

[2017-08-14 16:26] ducdhm opened #3733 "Icons are vertical although selected layout is horizontal in Social Icons Component of EDM Editor"
Thanks @tuzzmaniandevil for reporting

[2017-08-14 18:23] #3640 closed

[2017-08-14 19:15] bradmac opened #3734 "JS error when saving promotion"
I created a new promotion, and clicked save on Details tab

[code]
which is this line..
[code]

[2017-08-14 19:43] bradmac opened #3735 "Improve competitionForm component"
- add settings to allow selecting a promotion, so that the component can be used on content pages. If none selected it should use the promotion from the current page if possible
- setting for whether to show other users photo uploads or not
- improve the UI for photo upload. See screenshot below, this is pretty bad, we want something modern and awesome

![image](https://user-images.githubuserconte

[2017-08-14 20:06] bradmac opened #3736 "Add option to require approval of reward entrys"
Add an option to promotions (ie Reward) to require approval before rewards are granted.

RewardEntry's should hold a column to indicate if they're approved or not (maybe nullable date?)

Create a panel on manageRewardEntries.html to allow approving or rejecting entries. This should show all information captured on the entry, including an uploaded image, SKU, store, etc. Possibly show in a modal?

[2017-08-14 23:52] tuzzmaniandevil commented on #3732
Already supported :-)

[2017-08-14 23:52] #3732 closed

[2017-08-15 01:47] tuzzmaniandevil opened #3737 "MembershipList not correctly filtering by OrgType"
This is because it's not taking into account the "selectedOrgTypes" list, Only the "orgType" field on organisation

[2017-08-15 02:46] #3737 closed

[2017-08-15 05:23] ducdhm commented on #3734
Fixed!

[2017-08-15 05:23] #3734 closed

[2017-08-15 09:28] ducdhm commented on #3593
Done!

[2017-08-15 09:29] ducdhm opened #3738 "Proposal pages for admin"
@bradmac We have a link from Lead page in admin console which is linked creating proposal page. So I think we also need page for proposal in admin too.

[2017-08-15 10:56] AlaaKhalaf94 commented on #3689
passed

[2017-08-15 10:56] #3689 closed

[2017-08-16 03:48] tuzzmaniandevil commented on #3730
It wasn't applying the global mode,

[2017-08-16 04:13] ducdhm commented on #3593
Need to apply entity finder for `Assign to` dropdown

[2017-08-16 06:06] #3593 closed

[2017-08-16 06:33] mkhoudary opened #3739 "Activate Alert Journey Node"
Please create a journey node that activates using an action node in JB.

[2017-08-16 06:35] mkhoudary opened #3740 "Mandatory organisation field in Alerts"
Please modify dashboard alerts app to require organisation field, and if not set for any reason have it as the account org by default.

[2017-08-16 06:37] mkhoudary commented on #3739
https://github.com/Kademi/client-vaya/issues/33

[2017-08-16 07:45] mkhoudary commented on #3740
Doned

[2017-08-16 08:39] ducdhm opened #3741 "Convert journal to lib"
Need for https://github.com/Kademi/client-vaya/issues/21

[2017-08-16 08:54] ducdhm commented on #3730
I tested twice. Fixed!

[2017-08-16 08:54] #3730 closed

[2017-08-16 10:45] mkhoudary commented on #3739
Done..

[2017-08-16 12:24] AlaaKhalaf94 commented on #3680
https://github.com/Kademi/kademi-dev/issues/3661

[2017-08-16 12:36] AlaaKhalaf94 commented on #3719
Hi @gonzalon

Here I make new alert : http://fortoday.admin.kademi-prod.com/manageAlerts/alert-363220#details-tab
for "org org 02" organisation
And it does not appear in dashboard
login with this user : http://fortoday.admin.kademi-prod.com/manageUsers/144490/#summary-tab

[2017-08-16 12:51] AlaaKhalaf94 commented on #3740
When I try to leave organisation field in Alerts empty , and save
The save operation succeeds
http://fortoday.admin.kademi-prod.com/manageAlerts/alert-363297#details-tab

Then I refresh the page , and I see "the main org" was putted in organisation field by default

[2017-08-16 13:46] AlaaKhalaf94 commented on #3680
Hi @tuzzmaniandevil
I send email to 3 users , and I oped 2 of them
but Open rate does not change

http://fortoday.admin.kademi-prod.com/groupEmails/363643/#status-tab

[2017-08-16 16:17] ducdhm commented on #3741
New UI when panel is hide
![newui](https://user-images.githubusercontent.com/1289631/29373583-ec03f828-82d8-11e7-8e2b-fff2e4980338.png)

New UI when panel is showed
![newui2](https://user-images.githubusercontent.com/1289631/29373591-f288d88a-82d8-11e7-90b0-f12ad7c57c83.png)

New UI when saving/loading journal entry
![newui3](https://user-images.githubusercontent.com/1289631/29373612-00c4c508-82d9

[2017-08-16 21:53] bradmac commented on #3719
![image](https://user-images.githubusercontent.com/826458/29386927-ec1e1a7e-8331-11e7-98b7-c1ed4ceeda00.png)

[2017-08-16 21:54] bradmac commented on #3719
@gonzalon please ensure that:
- organisation is optional, if none selected then alerts are not filtered
- the organisation on the alert is compared to the org on each user membership

[2017-08-16 21:55] bradmac commented on #3719
Related - https://github.com/Kademi/kademi-dev/issues/3740#issuecomment-322760671

[2017-08-16 22:26] bradmac opened #3742 "Refactor JB Field to be useable with just profile"
Change the Field interface so that JB objects are not an explicit part of the interface. Instead the "lead" etc will be objects added to the map

Move this out of the Funnels app, it should be a basic part of the Kademi platform. Maybe create FieldService ?

[2017-08-16 22:30] bradmac opened #3743 "Refactor dynamic component service to lookup substitution variables from the Field list"
Related - https://github.com/Kademi/kademi-dev/issues/3742

Currently the DynamicComponentService does very primitive variable substitution of a few known properties.

Please change this so that Field implementations are located from the FieldService, and are only evaluated if used.

[2017-08-16 22:32] bradmac opened #3744 "Create an ajax service to retrieve a list of fields from FieldService"
Related - https://github.com/Kademi/kademi-dev/issues/3742

Ajax/json service to retrieve the list of fields. This should only return fields from currently active apps.

Should allow filtering on only fields which support profile filtering, which would also return enough information to be used in QueryBuilder.js (see #3746)

[2017-08-16 22:34] bradmac opened #3745 "add ckeditor plugin to provide a list of fields, allow user to insert"
Depends on https://github.com/Kademi/kademi-dev/issues/3744

The list should be all fields returned from FieldService

When the user selected a field it should be inserted into the editor at the current cursor location with square brackets, eg [firstName]

[2017-08-16 22:38] bradmac opened #3746 "FieldService fields to have optional support for profile filtering in ES"
Have a specialisation of Field which filtering of profiles in the ES query from /manageUsers

This will have a method which adds an ES query to apply the filter.

For example the BirthDate field would add a range query for profiles with a birthday less then a user provided value

This is to be compatible with the QueryBuilder.js framework

[2017-08-16 22:40] bradmac opened #3747 "add query builder to manage users page"
Depends on:
https://github.com/Kademi/kademi-dev/issues/3744
https://github.com/Kademi/kademi-dev/issues/3746

Add QueryBuilder.js to the manage users page, to allow building queries to filter profiles

[2017-08-16 23:08] paddyow opened #3748 "Blog editing container getting cut off at bottom of page"
http://vaya.admin.kademi.us/blogs/vayablog/gilead-ldp-resource-guide-5/#bodyCopy-tab

Unable to scroll down to the very bottom.

![image](https://user-images.githubusercontent.com/2201340/29389082-8cc492a2-832b-11e7-8147-8dcee6b8531c.png)

[2017-08-17 02:49] paddyow commented on #3741
1) Have an option in the APP to hide or show the page name
2) The page name should show the page title by default, then if no title show the page name
2) Show the date the journal entry was made (small text above entry)

[2017-08-17 03:50] paddyow opened #3749 "Show group type"
When viewing and choosing a group, it would be good to show the group type icon i.e. tag or list..

![image](https://user-images.githubusercontent.com/2201340/29395255-eac78a5e-8352-11e7-9455-bdd78a7a0a0d.png)

[2017-08-17 04:06] bradmac opened #3750 "Calendar selector should allow selecting personal calendars"
The calendar selector component currently allows the user to select calendars from the current website.

But sometimes users have their own personal calendars, and they should be able to select that from the list, eg;
http://itsinsuredqa-crm.kademi.com.au/users/tanteset1/Calendars/default/

[2017-08-17 04:25] bradmac opened #3751 "Allow creating and editing calendar events through front end sites"
Should only show options to edit if the user has authoring permission on the calendar.

http://insured-crm_insured.kademi.com.au/users/mark2/Calendars/default/
For example:
![image](https://user-images.githubusercontent.com/826458/35949033-6869ed8e-0cd4-11e8-82d9-35a03759bf02.png)

[2017-08-17 04:26] anhnt opened #3752 "Improve UX when adding new membership"
Should be able to search group when there're many groups
When adding new membership and organisations please allow search for group and add multiple groups a time

[2017-08-17 04:27] bradmac commented on #3752
:+1:

[2017-08-17 04:53] tuzzmaniandevil opened #3753 "Hosted Zones: Lock a Hosted zone to a particular org"
This could be done using the [Resource Groups Tagging API](http://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/Welcome.html)

[2017-08-17 07:15] ducdhm opened #3754 "Improve journal-lib"
* Have an option in the APP to hide or show the page name
 * The page name should show the page title by default, then if no title show the page name (maybe just a link to page with icon. No need the title)
 * Show the date the journal entry was made (small text above entry)

[2017-08-17 07:16] ducdhm commented on #3741
Moved to https://github.com/Kademi/kademi-dev/issues/3754

[2017-08-17 07:16] #3741 closed

[2017-08-17 10:10] #3637 closed

[2017-08-18 04:00] ducdhm opened #3755 "Carousel Component adds "active" class to all items automatically"

[2017-08-18 04:29] anhnt commented on #3725
http://zoetis.admin.kademi.com.au/websites/zoetis-livestock-reseller/030817/programs/CATTLE/ZL0779/ZL0779/#files-tab

[2017-08-18 05:23] ducdhm commented on #3755
Fixed!

[2017-08-18 05:23] #3755 closed

[2017-08-18 08:51] anhnt opened #3756 "Enhancing MembershipList filter method"
Please allow filtering membership by

- Group folder
- Group types (rather than primary, ie mailing list or user tag/optin)

[2017-08-18 09:21] bradmac commented on #3756
Done
[code]

[2017-08-18 09:22] #3756 closed

[2017-08-21 01:16] gonzalon commented on #3140
@bradmac we said we werent going to do the points range.
should I do it now or open another issue for it?

[2017-08-21 02:27] gonzalon commented on #3553
Tested here: http://gnz.admin.kademi-prod.com/

Seems to work ok now :+1:

http://version1.orglocatortest.kademi-prod.com/orgsLocator/?maxResults=1000&jsonQuery=&orgTypes=test-org-type

[2017-08-21 02:27] #3553 closed

[2017-08-21 04:00] bradmac commented on #3140
Removed that requirement. Will address it in a later milestone

[2017-08-21 07:45] mkhoudary opened #3757 "Jsondb mappings aren't being exported"
When exporting a site config that has apps with jsondb enabled and running.. import process doesn't collect db mappings, causing the restore process to create a default mapping and causing a number of errors.

Please insure mappings are exported/imported using the backup/restore tool.

[2017-08-21 09:47] mkhoudary opened #3758 "Have a Create Lead modal in admin profile page"
We need to have a create lead modal like the one in KCRM:

![image](https://user-images.githubusercontent.com/3704174/29513671-b7cc567e-866e-11e7-8dca-5c6fed80ed60.png)

![image](https://user-images.githubusercontent.com/3704174/29513678-bddfc032-866e-11e7-8b75-597ca2db2497.png)

![image](https://user-images.githubusercontent.com/3704174/29513696-c40bebf2-866e-11e7-8434-939b6ae4aa95.png)

Please n

[2017-08-21 09:51] mkhoudary commented on #3758
https://github.com/Kademi/client-vaya/issues/178

[2017-08-21 10:50] bradmac commented on #3758
:+1:

[2017-08-21 11:09] AlaaKhalaf94 commented on #3719
passed

[2017-08-21 11:09] #3719 closed

[2017-08-22 04:52] bradmac opened #3759 "Ability to track who issued points and points debits"
Add "issued by" field to points report. This is to assist with auditing.

- the field will be blank for points which have been created by the import process
- for manually created records it will link to the admin user who created it
- same for debit records

Related to quote QU-0163

Please let me know when complete

[2017-08-22 17:00] ducdhm commented on #3724
@bradmac How can I get session in custom app? I need it for adding record to data series.

[2017-08-22 17:32] mkhoudary commented on #3724
@ducdhm having a session into custom apps leaks a direct connection to database and leaves kademi with no protection at all since a session can do anything with database.

Instead we can create you the required feature as a method in the data series app so you can use it in your custom app.

[2017-08-22 18:49] bradmac commented on #3724
Yep, never use session in custom apps directly. Just use a method on sales data app if there is one other wise well add it

[2017-08-22 18:50] bradmac commented on #3724
@tuzzmaniandevil please check and add if needed

[2017-08-22 21:35] bradmac commented on #3724
@ducdhm a couple of issues i can see:

1.I dont think we should have a button to request approval. Just submitting the claim should make it require approval:
![image](https://user-images.githubusercontent.com/826458/29588039-1bd88252-87e4-11e7-997b-31f7d7fd63dc.png)
2. Please remove the spin animation on the status cog
3. Allow uploading a file attachment with the claim
4. The Product SKU field sh

[2017-08-23 00:12] tuzzmaniandevil commented on #3744
The URL for the resource is `/_fields`
Here is an example of the JSON response:
[code]

[2017-08-23 00:43] gonzalon opened #3760 "Debit points for a point bucket without a reward store"
You can't debit points from a points bucket when there is no reward store for that point bucket.

Look manageReward.js line 36

[2017-08-23 00:49] gonzalon commented on #3759
Done

[2017-08-23 00:54] bradmac commented on #3724
Current UI:

![image](https://user-images.githubusercontent.com/826458/29594006-194b5960-8802-11e7-9174-920ed0e77554.png)

![image](https://user-images.githubusercontent.com/826458/29594012-22509458-8802-11e7-871a-122555a2fa5a.png)

[2017-08-23 02:20] bradmac commented on #3750
Duc, Wes has mostly done it, but please just add a "Personal calendars" label above the list of personal calendars in the drop down

[2017-08-23 02:20] #3426 closed

[2017-08-23 02:21] gonzalon commented on #3740
Hi @AlaaKhalaf94
you can leave it empty. If so, it will save it with the account org.

So seems that what you are seeing is right :)

[2017-08-23 02:21] #2251 closed

[2017-08-23 02:24] gonzalon commented on #3759
@AlaaKhalaf94 take in mind that if you are going to test it with existing data, you have to re-index for it to work
* rewardPoints
* rewardPointsDebit

[2017-08-23 04:07] ducdhm opened #3761 "[Menu Component] Option for move portlets("shoppingCart") after user dropdown"
![untitled](https://user-images.githubusercontent.com/1289631/29598472-461b05da-87f3-11e7-8260-a9874a772ca9.png)

[2017-08-23 04:53] bradmac commented on #3758
@gonzalon  please assist @anhnt by changing the Funnels app to always show the lead tab, even when a user has no leads.

[2017-08-23 04:55] bradmac commented on #3761
are you sure we need this? i really dont like the idea of stuffing a million options into our menu configuration

that will make it unuseable

wouldnt it be better to just have one location which makes sense?

[2017-08-23 04:58] bradmac opened #3762 "Badges and levels app"
Overview
----
An achievement is a series of levels connected to some measurable quantity. The measurable quantity can be either a points bucket or a data series. Levels are purely linear, ie they are achieved simply for reaching a threshhold and must be attained in order. Eg to get level 2 you must first get level 1

A badge represents a user has achieved some criteria, and will usually be awarded

[2017-08-23 05:20] ducdhm opened #3763 "Fix issue with Kpoll app"
Need for https://github.com/Kademi/kademi-demos/issues/154

* Error in frontend component
[code]

* Can't choose poll in content editor
* TYPE "Add question" in Answers list

[2017-08-23 05:55] #3763 closed

[2017-08-23 06:07] ducdhm opened #3764 "Make userPointPanel should have same styles with userPanel"
These panels should be same styles. Just different that one contains points block and one doesnt

Needed for https://github.com/Kademi/kademi-demos/issues/154

[2017-08-23 08:12] ducdhm commented on #3764
No longer needed

[2017-08-23 08:12] #3764 closed

[2017-08-23 10:02] anhnt commented on #3758
deployed to QA

[2017-08-23 11:01] mkhoudary opened #3765 "Having goal time controls in admin"
Please add those goal time controls to the lead page in admin:

![image](https://user-images.githubusercontent.com/3704174/29612750-7acc6680-880b-11e7-8392-3430829c8211.png)

[2017-08-23 11:02] mkhoudary opened #3766 "Link to lead page from leads in profile"
Please add a link that goes to the lead page from the leads appearing in the leads tab in the profile in admin.

Sample link:
http://gileadqa.admin.kademi-prod.com/leads/1603009/

[2017-08-23 11:04] AlaaKhalaf94 commented on #3758
passed

[2017-08-23 11:04] #3758 closed

[2017-08-23 11:18] anhnt commented on #3766
done

[2017-08-23 16:01] mkhoudary commented on #3765
@anhnt I did basic implementation in the lead page.. please add some front-end magic

[2017-08-24 01:27] gonzalon commented on #2002
Seems like this is done!

[2017-08-24 03:43] gonzalon opened #3767 "Imports through the products Uploader dont support decimals in the prices"
Should support numbers like "33.55" for base cost and freight cost.

[2017-08-24 04:45] tuzzmaniandevil opened #3768 "Add support for the content editor in custom apps"

[2017-08-24 06:22] ducdhm commented on #3761
Let it be!

[2017-08-24 06:22] #3761 closed

[2017-08-24 06:23] ducdhm opened #3769 "KPI target component"

[2017-08-24 06:38] ducdhm commented on #3769
![newui](https://user-images.githubusercontent.com/1289631/29652491-d4df2bac-88cf-11e7-95cd-42eef9ab7c57.png)

[2017-08-24 06:38] ducdhm commented on #3769
Working well with/without pageDatePicker!

[2017-08-24 07:26] ducdhm commented on #3769
https://github.com/Kademi/kademi-demos/issues/154

[2017-08-24 07:27] ducdhm opened #3770 "pollsTileComponent for KPoll app"
Show all available polls in tile format

Needed for https://github.com/Kademi/kademi-demos/issues/154

[2017-08-24 07:27] ducdhm opened #3771 "modulesTileComponent"
Show all available module in tile format. Available modules are In-progressing and New module, not locked module.

Needed for https://github.com/Kademi/kademi-demos/issues/154

[2017-08-24 09:15] mkhoudary opened #3772 "Create static text content for KSurvey"
In KSurvey we need to have another option for question type to be static text, where no actual input field will be there.. and only to show some content to the user.

[2017-08-24 09:15] mkhoudary commented on #3772
https://github.com/Kademi/client-vaya/issues/197

[2017-08-24 09:27] anhnt commented on #3765
done
![image](https://user-images.githubusercontent.com/735555/29659643-21f57aa4-88e9-11e7-976e-14f24d43824c.png)

[2017-08-24 09:42] anhnt commented on #3772
I think we can just use multiple choices question without any answer and is not mandatory.

![image](https://user-images.githubusercontent.com/735555/29660291-2b209698-88eb-11e7-81d5-fb59d18cc237.png)

@mkhoudary what do you think?

[2017-08-24 09:47] mkhoudary commented on #3772
Agreed.. this is good

[2017-08-25 03:45] #3767 closed

[2017-08-25 05:18] ducdhm commented on #3770
![newui](https://user-images.githubusercontent.com/1289631/29700523-6cbf8fe2-898f-11e7-8b54-5a2db6611368.png)

[2017-08-25 09:19] ducdhm commented on #3771
![newui](https://user-images.githubusercontent.com/1289631/29707899-18728e5e-89b1-11e7-8943-dea1805ffcc2.png)

[2017-08-25 09:22] #3771 closed

[2017-08-26 02:27] paddyow opened #3773 "Auction end date does not get remembered"
When I create an auction from the auction list page, choose an end date in the modal popup, then save, then open the auction to edit its details, the end date resets to the current date.

http://hinda.admin.kademi.us/auctions/fitbit-1/#details-tab

![image](https://user-images.githubusercontent.com/2201340/29737885-d133df1c-8a59-11e7-952f-c51585dc2497.png)

[2017-08-26 02:33] ducdhm commented on #3769
Currently, we're getting sales data for all users. Should get for current user

[2017-08-26 02:43] #3769 closed

[2017-08-26 02:58] paddyow opened #3774 "Cannot see excel data when uploading file into ORGs"
http://hinda.admin.kademi.us/tableUploaders/organisationsUploader

This file:
[ORGs - List of companies r2.xlsx](https://github.com/Kademi/kademi-demos/files/1253365/ORGs.-.List.of.companies.r2.xlsx)

Has data:
![image](https://user-images.githubusercontent.com/2201340/29738102-0717c0ea-8a5e-11e7-990c-2c5dcfaf88d2.png)

What I see:

![image](https://user-images.githubusercontent.com/2201340/297381

[2017-08-26 03:01] paddyow commented on #3774
Ok worked it out.  The data needs an ORG type to upload.

But the state isn't showing even through it's in the spreadsheet.

![image](https://user-images.githubusercontent.com/2201340/29738132-aa15c558-8a5e-11e7-997b-dcca24254424.png)

[ORGs - List of companies r2.xlsx](https://github.com/Kademi/kademi-dev/files/1253367/ORGs.-.List.of.companies.r2.xlsx)

[2017-08-26 03:06] paddyow commented on #3774
Ok worked it out.

It needed me to add the ORG ID - @bradmac does the system not auto generate the ID if not added to the file?

![image](https://user-images.githubusercontent.com/2201340/29738150-4611f620-8a5f-11e7-8829-839f829c1efc.png)

[2017-08-26 03:30] bradmac opened #3775 "Dashboard alerts are not appearing in admin"
For alerts which are specified for the admin dashboard, they are not appearing in the admin dashboard

[2017-08-26 03:31] bradmac commented on #3775
eg http://hinda.admin.kademi.us/manageAlerts/alert-14204286#details-tab

[2017-08-26 03:36] ducdhm opened #3776 "Update Up Coming Auction panel style"
![untitled-1](https://user-images.githubusercontent.com/1289631/29738331-4ff690e8-8a4a-11e7-824d-7000d3a362c1.png)

Needed for https://github.com/Kademi/kademi-demos/issues/154

[2017-08-26 03:38] bradmac commented on #3774
You do need to provide an OrgID. But that doesnt explain why blank values were displayed for address etc

[2017-08-26 03:54] paddyow opened #3777 "Sales Data Upload Issue"
When uploading to here http://hinda.admin.kademi.us/tableUploaders/salesDataUploader?salesDataSeries=sales-data

This file:
[Sales Data.zip](https://github.com/Kademi/kademi-dev/files/1253385/Sales.Data.zip)

I get these errors and 4 rows failed:
[Error.zip](https://github.com/Kademi/kademi-dev/files/1253386/Error.zip)

Yet the file looks fine.

[2017-08-26 03:57] bradmac commented on #3777
Its just because there are 4 blank rows at the end of the file
[code]

[2017-08-26 03:58] bradmac commented on #3777
@tuzzmaniandevil please ensure blank rows are ignored without raising an error

[2017-08-26 04:16] ducdhm commented on #3773
@anhnt If I remove timezone lib, it's working normally. Can you double-check again?

[2017-08-26 05:58] paddyow opened #3778 "Module and quiz pages should be broken into components"
![image](https://user-images.githubusercontent.com/2201340/29739030-5390dccc-8a77-11e7-8d46-9a947ebae03f.png)

[2017-08-26 06:01] paddyow opened #3779 "Make module completion modal an editable template"
Can we add this to templates so the end message can be edited by an admin?

![image](https://user-images.githubusercontent.com/2201340/29739046-c094e0ca-8a77-11e7-9f44-53616d88eb94.png)

[2017-08-26 09:46] #3776 closed

[2017-08-27 00:52] bradmac commented on #3762
I'm doing the backend implementation in java. Will look at doing the front end with a custom app

[2017-08-27 01:55] bradmac commented on #3744
Hey @tuzzmaniandevil couple of things i picked up on
- please move to a kademi package. We should not be using the milton package namespace for anything new
- instead of "fieldservice" use just "fields" as the package name

So instead of io.milton.cloud.server.fieldservice.FieldsService should have co.kademi.server.fields.FieldsService

[2017-08-27 03:16] paddyow opened #3780 "Validation error on Auction Page"
http://hinda.admin.kademi.us/auctions/laptop2/#details-tab

If you don't add a value into the Description field, you get a network error, but it should tell the user to add a value into the Description field.

![image](https://user-images.githubusercontent.com/2201340/29746815-ac893312-8b29-11e7-8513-52ab64ffe640.png)

[2017-08-27 03:29] paddyow opened #3781 "Poll comma separation issue"
http://hinda.admin.kademi.us/kpoll/managePolls/poll-8zLYvsOZumaPQryZnrtTncd7DTl45c01#detail-tab

When creating a poll question, if you add a comma in the answer, it splits the answer into 2 like below.

![image](https://user-images.githubusercontent.com/2201340/29746877-bd0b6a6e-8b2b-11e7-9874-7a344d5eb7d1.png)

Becomes this when you submiot

![image](https://user-images.githubusercontent.com/2201

[2017-08-27 08:04] bradmac commented on #3306
- currently displays the word "Translate". Should just be the icon as per in the admin
- should only display for users with content editing permission (similar to KToolbar)
- possibly we make this part of KToolbar?

[2017-08-27 09:56] bradmac commented on #3775
@gonzalon please discuss with me when you look at this. I've just noticed the website is being ignored in AlertsApp.getMessages so i think that isnt working properly

[2017-08-27 23:56] tuzzmaniandevil commented on #3744
I've made those changes now

[2017-08-28 03:51] anhnt opened #3782 "Allows import/export groups in csv"

[2017-08-28 06:04] ducdhm opened #3783 "kpiPeriodPicker does not work correctly"
After selecting a period in kpiPeriodPicker, `$queryManager.commonStartDate` and `$queryManager.commonEndDate` are correct.

[2017-08-28 06:05] #3783 closed

[2017-08-28 06:30] ducdhm opened #3784 "Update pointsUserPanel style"

[2017-08-28 06:32] ducdhm commented on #3784
![newui](https://user-images.githubusercontent.com/1289631/29761799-36fb9fe6-8bf5-11e7-9826-b1cfe977f442.png)

[2017-08-28 06:32] #3784 closed

[2017-08-28 06:53] #3294 closed

[2017-08-28 09:02] bradmac opened #3785 "Move access logic for LeadPage to roles"
Currently we have this logic for the authorise method in LeadPage.

The problems with this are:
- the first call to super authorise is ignored
- even if a user is administrator, they will be denied access unless they have salesTeamViewerRole

[code]

Instead of this abomination, we should move ACL logic to the LeadApp roles as appropriate.

[2017-08-28 09:49] AlaaKhalaf94 opened #3786 "Velocity code appear when the journey ends"
Its appear here in this page : http://gilead.admin.kademi.us/leads/14255654/#information-tab

![capture1](https://user-images.githubusercontent.com/26510030/29768580-755a9d9c-8bef-11e7-8e40-357b724bbb29.PNG)

[2017-08-28 10:53] mkhoudary opened #3787 "Profile.find gets all profile including disabled ones"
We need to filter only enabled profiles

[2017-08-28 10:53] mkhoudary commented on #3787
Done

[2017-08-28 11:05] AlaaKhalaf94 opened #3788 "Email Shows Wrong Content"
This email , in title " Lead viewed link " , that send when the lead open link which sent to him in other email , show wrong content

![capture1](https://user-images.githubusercontent.com/26510030/29770880-ce38fcb0-8bf9-11e7-8732-0318ac3c5606.PNG)

[2017-08-28 19:33] bradmac commented on #3747
From #3744

The URL for the resource is /_fields
Here is an example of the JSON response:

{
  "data": [
    {
      "input": "",
      "operators": [
        "equal",
        "not_equal",
        "less",
        "less_or_equal",
        "greater",
        "greater_or_equal",
        "is_null",
        "is_not_null"
      ],
      "values": [],
      "id": "profile_birthDate",
      "label": "Prof

[2017-08-28 20:16] bradmac commented on #3787
Hey @mkhoudary you cant just the semantics of a widely used method like that. This could break the logic in production accounts.

It is perfectly correct to have a method which locates profiles regardless of the status of their soft delete flag. There are many cases where we need to locate a user which may or may not have been soft deleted.

Its best to instead create a new method like Profile.fin

[2017-08-28 20:17] bradmac commented on #3787
FYI, i have reverted the change to Profile.find

[2017-08-28 20:30] mkhoudary commented on #3787
👍

[2017-08-29 00:46] paddyow opened #3789 "Course picker is broken"
Profile http://hinda.admin.kademi.us/manageUsers/14203500/#summary-tab

Page http://reward-store-hinda.kademi.us/myLearning

Cannot select another program from the drop down, there are 2.

![image](https://user-images.githubusercontent.com/2201340/29799474-2e16fa4e-8ca7-11e7-9dcd-e44e5358fcc8.png)

[2017-08-29 00:48] paddyow opened #3790 "Ampersand missing in module title + course title"
http://hinda.admin.kademi.us/websites/reward-store-hinda/version1/programs/p1/q1/m1/#details-tab

Expected:
![image](https://user-images.githubusercontent.com/2201340/29799527-916adcb4-8ca7-11e7-972b-45eca0f53cfd.png)

Result:
![image](https://user-images.githubusercontent.com/2201340/29799538-996dc002-8ca7-11e7-804a-88fa8de0d2f1.png)

[2017-08-29 03:16] bradmac opened #3791 "Add ordering parameters to ecom store, like we have in reward store"
The reward store does a check on products when added to the cart to see if they have ordering fields, and if so the user is prompted to enter them

We need the same capability added to the ecom store.

[2017-08-29 05:23] ducdhm commented on #3724
@bradmac Currently, I can add claim to Sale Data as a record but still an issue with it. I can't add Product SKU as well as extra fields. Our API doesnt support it yet

[2017-08-29 05:54] bradmac commented on #3724
Added product search controller to website.js, eg

http://version1.claim02.loopbackdns.com:8080/salesDataClaimsProducts/

[code]

[2017-08-29 07:27] ducdhm commented on #3724
Done!

[2017-08-29 08:08] paddyow opened #3792 "Do ORG types have to be unique?"
Creating an ORG type was denied where the same org type resided in the parent account.

![image](https://user-images.githubusercontent.com/2201340/29810874-e2f03fd8-8ce4-11e7-9fbd-33ecdce38cb8.png)

[2017-08-29 08:10] #3792 closed

[2017-08-29 10:48] paddyow opened #3793 "Inverting rego page"
http://claims.admin.kademi.us/pages/claims-demo/version1/

If you invert the container for the rego page, the modal popup text is white, so you cannot read it.

![image](https://user-images.githubusercontent.com/2201340/29817423-4d76b402-8cfb-11e7-829d-1974cb0e3e03.png)

[2017-08-29 22:01] bradmac commented on #3724
@tuzzmaniandevil can you please update the sales claim nodes so they are only active for a journy for that claim.

![image](https://user-images.githubusercontent.com/826458/29846281-3ffc8526-8d6a-11e7-9ee7-1ca0a7daa87e.png)

[2017-08-29 22:30] tuzzmaniandevil commented on #3724
Done

[2017-08-30 02:08] paddyow opened #3794 "KCMR: Cannot connect companies to profiles"
This lead has a company name 'Hone' associated with it.
http://kcrm.kademi.us/leads/14337648/

The company (ORG) was created when I created the lead.

Under companies, the ORG did not show any members associated with it, even though the company was created at the same time the lead was.
http://kcrm.kademi.us/companies/

In the lead page, when I re-type the company Hone, it cannot find it, or any o

[2017-08-30 03:55] bradmac commented on #3794
I can see a member associated with the company:

![image](https://user-images.githubusercontent.com/826458/29854666-93836d82-8d9b-11e7-84d5-c15ee8ff054b.png)

[2017-08-30 03:56] bradmac commented on #3794
But i can see there is a problem searching companies

No results - http://kcrm.kademi.us/leads?orgSearch=h

500 error - http://kcrm.kademi.us/leads?orgSearch=

[2017-08-30 04:28] ducdhm opened #3795 "Improve list after demos"
Updating...

 * Can't find Signup app in web site manager (need to enable it in Manage App first)
 * Can't find Sales Data app in web site manager (need to enable it in Manage App first)
 * alerts-lib is not enabled when enabling Alerts app
 * Move translate stuff to KToolbar
 * Default, KToolbar should be hidden instead of showed
 * Register component doesnt show name fields although `Display nam

[2017-08-30 04:37] bradmac commented on #3795
- Create KSignup, KSalesData and KAlerts as marketplace apps
- make sure each app has all necessary dependencies, eg libs and other apps

[2017-08-30 04:48] paddyow opened #3796 "KCRM: Cannot see any analytics"
http://kcrm.kademi.us/analytics/kademi-sales

![image](https://user-images.githubusercontent.com/2201340/29855861-50f1cdfa-8d92-11e7-8fe3-d0ee9197579f.png)

[2017-08-30 06:54] ducdhm commented on #3789
Fixed!

[2017-08-30 06:54] #3789 closed

[2017-08-30 07:13] paddyow opened #3797 "KCRM: Closing a lead causes white error page"
Close this lead to see what i see.  This happens with all leads I close.

http://kcrm.kademi.us/leads/11377186/

[2017-08-30 07:49] mkhoudary opened #3798 "Check that lib and apps dependencies"
Please make sure that for all libs and apps in marketplace, they have a correct dependencies.json file

[2017-08-30 09:35] bradmac commented on #3797
Yep, got that

![image](https://user-images.githubusercontent.com/826458/29865964-1131b3f4-8dcb-11e7-8172-4c69db26636d.png)

[2017-08-30 10:48] mkhoudary opened #3799 "Module renewal functionality"
Currently, when a ModuleStatus is completed the user is able to view the module again, but it is in readonly mode.

The new ModuleExpiryProcessor checks for modules which have passed their renewal date (60 days prior to expiry) and sets the renewal flag, and raises an event which will usually email the user to ask them to do the module again.

This means that a module must appear as if it is not c

[2017-08-30 10:48] mkhoudary commented on #3799
https://github.com/Kademi/client-zoetis/issues/272

[2017-08-30 22:26] bradmac commented on #3796
I've updated apps, and its working now

![image](https://user-images.githubusercontent.com/826458/29897820-d5e6dd26-8e36-11e7-9a9c-8b165180396c.png)

[2017-08-31 03:53] bradmac opened #3800 "Create LearningLog app indexer"
Please create a new AppIndexer as part of LearningApp

This should be very similar to ModuleStatusAppIndexer, except that it will be indexing from LearningLog instead of ModuleStatus.

This is because LearningLog is a permanent record of module completions, while ModuleStatus only represents current status, and can change as records expire.

However, the index needs to have fields for renewalDate

[2017-08-31 04:28] #3796 closed

[2017-08-31 04:31] bradmac commented on #3794
@tuzzmaniandevil please investigate

[2017-08-31 04:42] gonzalon commented on #3239
1- Implements IndexedItemUpdatedEvent in SalesDataRecodFunnelEvent, and
2- Fire it on SalesDataApp. 554 - 560

[2017-08-31 06:12] anhnt commented on #3791
added js but i got errror when submit order form

![image](https://user-images.githubusercontent.com/735555/29908945-e6665cb4-8e4d-11e7-938e-aa1df68be02a.png)

Stack trace

[code]

[2017-08-31 06:28] anhnt commented on #3791
Ok i fixed it by change form action to be ```/storeCheckout```

[2017-08-31 06:28] #3791 closed

[2017-08-31 09:21] anhnt commented on #3786
it now will hid that part when lead is closed

[2017-08-31 11:28] anhnt commented on #3773
fixed

![image](https://user-images.githubusercontent.com/735555/29920980-24723ef2-8e7a-11e7-8d56-efcd1946c54e.png)

[2017-08-31 11:28] anhnt commented on #3773
@AlaaKhalaf94 please rebuild QA and test it

[2017-08-31 22:13] gonzalon opened #3801 "UserAdminRole can't edit user"
Need to add the WRITE_ACL priviledge

[2017-08-31 22:23] bradmac opened #3802 "Allow Repo apps to provide queries"

[2017-08-31 23:17] bradmac commented on #3802
Example mapping:
[code]

Example file..
/repositories/[MY APP]/1.0.0/APP-INF/queries/first.query.json

[code]

![image](https://user-images.githubusercontent.com/826458/29949195-2bf5d1d8-8f07-11e7-8dcc-5dca86283289.png)

[2017-08-31 23:33] #478 closed

[2017-08-31 23:41] bradmac opened #3803 "Improve custom report handling for repo apps"

[2017-09-01 00:42] bradmac commented on #3803
[code]

/repositories/[MY-APP]/1.0.0/admin/theme/apps/KRecognition/myReport.html
[code]

[2017-09-01 00:48] #3803 closed

[2017-09-01 03:20] paddyow opened #3804 "Export to PDF (module export)"
CSS needs tweaking a bit to get the PDF to render better.  Currently images and content is getting cut off, or overlapping.

http://zoetis.admin.kademi.com.au/websites/zoetis-livestock-reseller/es5migration/programs/CATTLE/ZL0601M/

[2017-09-01 04:07] gonzalon commented on #3239
The events fired in SalesDataApp.java are not called.

[2017-09-01 04:17] gonzalon opened #3805 "Can't see members on org edit page"
The members link is wrong taking you to:

"/organisations/39574730/edit/viewDetails"

instead of

"/organisations/39574730/viewDetails"

[2017-09-01 08:56] anhnt commented on #3715
I've tested locally and confirmed it working

[2017-09-01 08:56] #3715 closed

[2017-09-01 09:55] anhnt commented on #3797
I've tested locally and there's no problem when closing a lead. Just updated kcrm leadman-lib to the latest version. @paddyow can you please confirm its working on the kcrm site now?

[2017-09-01 10:22] anhnt commented on #2628
Org Locator app works great

[2017-09-01 10:22] #2628 closed

[2017-09-04 01:38] bradmac commented on #3762
Badges can now be awarded from journeys

[2017-09-04 01:39] bradmac commented on #3762
Levels are awarded when the admin clicks the "Generate awards" button on a topic

![image](https://user-images.githubusercontent.com/826458/30008740-6df38280-9176-11e7-9840-a97a394438ce.png)

[2017-09-04 01:39] bradmac commented on #3762
@ducdhm please integrate into demos

[2017-09-04 02:45] gonzalon commented on #3799
@mkhoudary now the ModuleExpiryProcessor reset all the data but the completed status.
Now if the module is in the renewal period the can do it again.

[2017-09-04 20:51] bradmac opened #3806 "StockControlServce"
Typically an external stock control system will update Kademi occasionally, but there may be use cases where an external check is required every time a stock quantity is displayed

1. Add a column updatedAt on ProductInLocation. This should be set whenever the stock quantity is set.

2. Create a StockControlService to manage stock quantities. This should have an ajax method accessible from e-comme

[2017-09-04 21:04] bradmac opened #3807 "Cant open manage subscriptions page"
This returns a 404
http://kademi.admin.kademi.us/subscriptions

probably because of the parent org null check
[code]

[2017-09-04 21:05] bradmac opened #3808 "Cant open manage license page"
Eg from this site:
http://polomania.admin.kademi.us/license

I click "Manage details" but it just refreshes the current page

![image](https://user-images.githubusercontent.com/826458/30038484-4a8ba75c-9219-11e7-9a3e-d9139f8e213c.png)

[2017-09-04 21:06] bradmac opened #3809 "No plan name displayed"
Eg http://polomania.admin.kademi.us/license

It displays
[code]

This should display a meaningful plan name such as "Trial" etc

[2017-09-04 21:09] bradmac commented on #3799
@gonzalon please move the event out of the domain class. Event management should be handled at the manager or service layer, not at the domain layer

ModuleStatus
[code]

[2017-09-04 21:11] #3802 closed

[2017-09-05 02:53] #3806 closed

[2017-09-05 03:16] gonzalon commented on #3807
Done

[2017-09-05 03:16] #3807 closed

[2017-09-05 03:16] gonzalon commented on #3808
Done

[2017-09-05 03:16] #3808 closed

[2017-09-05 03:16] gonzalon commented on #3809
Done

[2017-09-05 03:16] #3809 closed

[2017-09-05 03:18] #3388 closed

[2017-09-05 03:18] #3488 closed

[2017-09-05 03:18] #3736 closed

[2017-09-05 03:20] bradmac commented on #3728
@tuzzmaniandevil i think backend is mostly done, but we need the option in settings, and to make sure it works

[2017-09-05 03:23] bradmac commented on #3702
@gonzalon can you please do this?

[2017-09-05 03:25] #3453 closed

[2017-09-05 03:33] bradmac opened #3810 "Language management"
The TranslationService currently has 2 hardcoded languages.

Please update this to have a configurable list of languages which should be persisted to the database

Create a new role called "Translater". This role is required to allow users to edit translations.

Update ManageTranslationsPage to use this.

Update ManageTranslationsPage to have search and pagination. Allow searching by
- select lang

[2017-09-05 04:06] tuzzmaniandevil commented on #3794
matchQuery only works when a query string isn't blank, I've added a check now

[2017-09-05 04:11] #3794 closed

[2017-09-05 04:27] #3777 closed

[2017-09-05 11:16] anhnt opened #3811 "Custom report should use table name, not table title"
![image](https://user-images.githubusercontent.com/735555/30058675-3bf33f46-9266-11e7-8d9e-c55befc2f7d6.png)

There's no option value

![image](https://user-images.githubusercontent.com/735555/30058694-4a8256c8-9266-11e7-8d20-8e984539b5b7.png)

[2017-09-05 11:18] paddyow commented on #3762
http://claims.admin.kademi.us/recognition/14591839/

When I change the ''Levels Value'' to sales data series and save, it reverts back to points bucket after I refresh.

![image](https://user-images.githubusercontent.com/2201340/30058761-ad1724d0-927f-11e7-9656-5afcfe0711fb.png)

[2017-09-05 11:20] anhnt opened #3812 "scheduled email attachment should use data table csv"
See here https://zoetis.admin.kademi.com.au/scheduledEmails/gudair-accreditation-report/#configuration-tab

![image](https://user-images.githubusercontent.com/735555/30058808-bafba38c-9266-11e7-8495-e1b64fb4ed38.png)

So when go to ```https://zoetis.admin.kademi.com.au/reporting/gudair-accreditation-report.csv``` i got 500 error

The url should be csv output of data table ie
[code]

[2017-09-05 11:21] anhnt commented on #3812
https://github.com/Kademi/client-zoetis/issues/280

[2017-09-05 11:25] bradmac commented on #3762
Still need to build components

[2017-09-05 13:25] salehh93 opened #3813 "pages of modules not working well"
if moving modules from olhub to new website it's not working well if was there are fields
and click on next without filling fields and this field has class required appear problem
like this
![module2](https://user-images.githubusercontent.com/23012214/30061995-435f31b8-9252-11e7-9c71-5eaf1fa3a873.jpg)

![module3](https://user-images.githubusercontent.com/23012214/30062237-21df5d14-9253-11e7-9587-d

[2017-09-05 21:32] bradmac commented on #3811
Fixed

[2017-09-05 21:34] bradmac commented on #3762
@tuzzmaniandevil can you please
- fix the config bug above
- create components (@duc can finish off)

[2017-09-05 21:57] bradmac commented on #3812
Actually no, its correct to be sending content from the CustomReportCsvPage. This uses the selected query internally to generate that data.

The error causing the 500 response is:
[code]

[2017-09-05 22:05] bradmac commented on #3812
Fixed in next deploy.

But @anhnt if you need a workaround, just replace nulls in your query table with empty strings

[2017-09-05 22:21] bradmac opened #3814 "Cannot process rewards from manage KPI page"

[2017-09-05 22:24] tuzzmaniandevil opened #3815 "Cart: Add City and Country"

[2017-09-05 23:04] #3815 closed

[2017-09-05 23:46] bradmac commented on #3813
![image](https://user-images.githubusercontent.com/826458/30088216-0a421812-92f9-11e7-91c5-26c1859bc2fd.png)

[2017-09-05 23:47] bradmac commented on #3813
![image](https://user-images.githubusercontent.com/826458/30088236-31bee6d6-92f9-11e7-97f3-f8fac306b743.png)

[2017-09-05 23:53] bradmac commented on #3813
learner-lib updated to 1.1.1
KLearning updated to 1.0.2

[2017-09-05 23:54] bradmac commented on #3813
Note that jquery.module.js is now part of learning-lib

[2017-09-05 23:54] bradmac commented on #3813
Please deploy updated libs to .AU

[2017-09-05 23:54] #3813 closed

[2017-09-06 01:17] bradmac commented on #3813
Should be fixed after deploying and updating to learning-lib 1.1.1

[2017-09-06 02:27] bradmac commented on #3762
levelPanelComponent is functional. Shows the highest level for the current user in a selected topic

![image](https://user-images.githubusercontent.com/826458/30091776-7df1486c-930f-11e7-82c6-192415509502.png)

![image](https://user-images.githubusercontent.com/826458/30091732-48668b76-930f-11e7-8cd4-f09c53567478.png)

[2017-09-06 02:29] anhnt commented on #3812
worked on AU server now

[2017-09-06 02:29] #3812 closed

[2017-09-06 02:30] bradmac commented on #3762
The manage topic page now has a list of awards

![image](https://user-images.githubusercontent.com/826458/30091863-ef47cdec-930f-11e7-9d40-76da1b4bed19.png)

[2017-09-06 02:35] #2246 closed

[2017-09-06 02:35] #1454 closed

[2017-09-06 02:35] #969 closed

[2017-09-06 02:35] #267 closed

[2017-09-06 02:36] #1744 closed

[2017-09-06 02:45] bradmac opened #3816 "Ability for goals to record attributes even when its the initial goal"
Related to https://github.com/Kademi/kademi-demos/issues/201

[2017-09-06 02:46] bradmac commented on #3816
We should pass a Map to goals so they can read and set attributes regardless of whether a lead is created yet or not.

[2017-09-06 06:10] paddyow commented on #3770
http://safetydemo.admin.kademi.us/pages/safety/version1/

http://safety.kademi.us//theme/apps/user/contenteditor?fileName=dashboard.html&miltonUserUrl=/users/patrick-707421&miltonUserUrlHash=77d3aba3-4233-453b-8a2b-d888de25ed34:kvGIdNAWrtBmIEBVHzI7Ve6x0bU

- Unable to drag and drop the poll component onto the canvas.
- Cannot find the learning panel in Keditor

[2017-09-06 14:43] salehh93 opened #3817 "open and close for dropdown at the same time"
in module page there is dropdown don't working well
for example this page
http://version1.idhealth-training.kademi.com.au/programs/Carers/Carers1/Carers01/p57534.html
please click on any dropdown in page

I think because there is in module js function repeated twice
function initLearningContentStyles()
..apps/learner/module.js

[2017-09-06 20:52] #3816 closed

[2017-09-06 22:10] #3762 closed

[2017-09-06 22:38] bradmac commented on #3817
Hi @salehh93

module.js should not be used anymore, its been replaced with jquery.module.js

I've checked the page above and i can see that module.js is not being included in the page.
[code]

[2017-09-06 22:52] bradmac opened #3818 "Panel component"
Create a new KEditor component
- allows editing HTML content similar to existing plain html component
- also allows selecting an icon to appear inside the panel at top left
- allows selecting a panel colour style

Examples of the end result:
![image](https://user-images.githubusercontent.com/826458/30138069-81738f9e-93ba-11e7-81b5-357931f7761d.png)

![image](https://user-images.githubusercontent.c

[2017-09-06 22:55] bradmac opened #3819 "Create a dropdown panel component"
- create a component similar to the plain html component which allows editing HTML content
- allow entering a title (probably in settings)
- allow selecting a panel background style

End result should be similar to this:
![image](https://user-images.githubusercontent.com/826458/30138187-ff17564c-93ba-11e7-91ef-bc8208c0fc45.png)

[2017-09-06 22:59] bradmac opened #3820 "Improve style of hide following button"
Learning styles includes a button which initially hides content following it, and when clicked displays content up to the next hide following component

This has been re-implemented from the old Fuse theme to bootstrap, but the style isnt correct

It should look like this:
![image](https://user-images.githubusercontent.com/826458/30138283-7aeee316-93bb-11e7-874c-1001794fdd02.png)

But it currently

[2017-09-06 23:00] bradmac commented on #379
https://github.com/Kademi/kademi-dev/issues/3818
https://github.com/Kademi/kademi-dev/issues/3819
https://github.com/Kademi/kademi-dev/issues/3820

[2017-09-07 00:00] paddyow opened #3821 "KCRM - Adding new lead"
When adding a new lead I get this error.  I know the email has a profile in a client Kademi account on the US server.

![image](https://user-images.githubusercontent.com/2201340/30139764-407c5464-93b3-11e7-878f-e5b46ecef93a.png)

[2017-09-07 00:46] gonzalon opened #3822 "Update groups page"
- Should be able to filter by an org in the groups page.
- Users having multiple memberships should be listed multiple times
- Remove should only remove the membership selected

[2017-09-07 00:46] gonzalon commented on #3822
Related to: https://github.com/Kademi/client-emc-cca/issues/25#issuecomment-327485238

[2017-09-07 00:56] gonzalon opened #3823 "EntityFinder - If org name is blank show orgId"

[2017-09-07 02:09] gonzalon commented on #3822
![image](https://user-images.githubusercontent.com/2773216/30142652-1ea037ac-93d6-11e7-8b7a-f5ac581dc83a.png)
![image](https://user-images.githubusercontent.com/2773216/30142666-2cfc5448-93d6-11e7-9938-0902835a1b89.png)

[2017-09-07 05:34] anhnt opened #3824 "Module pages have all gone out of orders"
https://zoetis.admin.kademi.com.au/websites/zoetis-livestock-reseller/030817/programs/OTHER/ZL0721/ZL0721/#files-tab

@AlaaKhalaf94 please try to reproduce this issue by creating a new module on QA with lot of pages. **do not touch to that above module**

[2017-09-07 06:06] #3797 closed

[2017-09-07 06:08] paddyow opened #3825 "KCCRM: Kademi sales funnel analytics not showing"
http://kcrm.kademi.us/analytics/kademi-sales

All panels are blank.

[2017-09-07 12:50] salehh93 opened #3826 "we need to controller on padding for website logo"
we need to controller form navbar component
for example
![logoneed](https://user-images.githubusercontent.com/23012214/30164006-cec768d2-93e3-11e7-8c5c-9ee09c56ee45.jpg)

should the padding : 0 15px ;

[2017-09-07 13:17] mkhoudary commented on #3799
@gonzalon I will need to have the module renewal period configurable from the module page.

[2017-09-07 20:49] bradmac commented on #3799
As discussed, thats a nice to have but we probably wont have it ready for when yuo need it. So best to test locally or in QA using the time simulator

[2017-09-07 20:58] bradmac commented on #3824
Note that ordering is preserved in each page with the "order" param which can be viewed directly with the file manager.

https://zoetis.admin.kademi.com.au/repositories/zoetis-livestock-reseller/030817/programs/OTHER/ZL0721/ZL0721/

For example page pbreaks-the-flea-lifecycle.html has "order"=12
https://zoetis.admin.kademi.com.au/repositories/zoetis-livestock-reseller/030817/programs/OTHER/ZL0721/

[2017-09-07 20:59] bradmac commented on #3824
Also, we have had a problem in the past with order when there were more then 10 pages, because ordering was alphabetical. Eg it would go 1, 10, 11,12, 2, 3, 4

That bug should have been fixed a while ago, but please check

[2017-09-07 21:33] bradmac commented on #3825
However, when clicking on the date control (top left) the date picker does not appear

I can see in the logs this:
[code]

But the range picker is not shown

[2017-09-07 21:34] bradmac commented on #3825
@ducdhm can you please investigate:
http://kcrm.kademi.us/analytics/agency-sales

[2017-09-07 22:11] bradmac opened #3827 "Problem with infinite scroll in reward store component"
For this site:
http://asrdev.admin.kademi.us/websites/devsite01/version1/#panel_apps-tab

In this front end reward store:
http://devsite01.kademi.us/general-2/

It appears that the infinite scroll isnt working.

[2017-09-07 22:20] faithtek commented on #3827
This is not an issue. I am in the middle of development on this.

[2017-09-07 22:31] bradmac commented on #3827
Gotcha!

[2017-09-07 22:31] #3827 closed

[2017-09-07 22:39] bradmac commented on #3821
Fixed

[2017-09-07 22:39] #3821 closed

[2017-09-07 22:53] bradmac opened #3828 "Feature to add all products to a reward store"
Please add a feature to the manage reward store page to add all products in the product library to the reward store. This should not require the user to select tick boxes.

And have the ability to optionally select a category, so only products in that category will be added

And ability to select the product library

[2017-09-07 23:06] bradmac opened #3829 "Add paginator to reward store products list"
Currently the reward store products list page displays all matched products.

- Please change this to use a paginator
- Seperate pages for adding and removing products
- allow filtering by category
- all adding/removing either selected items (ie using checkboxes) or all matching records

[2017-09-07 23:40] bradmac opened #3830 "Update KademiAutoloader to allow manual initiation of autoloading"
- disable auto auto-loading on startuop
- make sure this app is only available in dev
- use a portlet to show a button on the admin dashboard
- clicking the button initiates autoloading

[2017-09-08 00:34] #3830 closed

[2017-09-08 00:43] bradmac opened #3831 "Subscriptions: OrgCreatorPage should re-use profile"
The OrgCreatorPage is intended to run on the same cluster as the license server, so it doesnt necessarily need to use the client.

This is handy because it allows us to re-use the Profile created in the customer account as the profile on the subscription. That way if the credentials are changed on either side they user can still login on the other.

So please update as follows
- i suggest moving t

[2017-09-08 00:45] bradmac opened #3832 "Manage subscriptions page should require login"
Eg
http://subscription.kademi.us/manage-subscription?adminDomain=reg02.admin.kademi.us

[2017-09-08 00:46] bradmac opened #3833 "Manage subscriptions page should show payment transactions"

[2017-09-08 00:49] bradmac opened #3834 "Manage subs, plan table should show prices"
- show prices for paid plans
- remove Trial as an available option:

![image](https://user-images.githubusercontent.com/826458/30191342-5fc7abde-9494-11e7-91ce-555cdeb5909d.png)

[2017-09-08 01:03] bradmac opened #3835 "Subscriptions refactoring"
- use EwayService as a singleton. Ideally push into context in EWayApp and get from context in the processor
- make sure payment failed reasons are captured, and payment is retried later
- EWayService should not use any subscrioption related classes

[2017-09-08 01:05] bradmac opened #3836 "Subscriotions: credits"
- when a new plan is selected, calculate a credit for the current plan (if any) and reduce the new plan's initial payment by that amount
- add a credit field on KademiSubscription. Whenever a payment is due, reduce the payment amount by the credit, and then zero out the credit amount. If the credit is greater then the payment amount just do not make the payment, and reduce the credit. We need to r

[2017-09-08 04:15] bradmac opened #3837 "Fix alerts app dependencies"
Please make alerts-lib a dependency of Alerts app, plus any other deps required

[2017-09-08 06:23] ducdhm commented on #3837
I already added alerts-lib as a dependency of Alerts app in bootstrap-base but seems like it doesn't work. Please help me investigate.

[2017-09-08 08:40] anhnt commented on #3825
fixed

[2017-09-08 08:42] anhnt opened #3838 "uservisit has gone after reindexing"
Have a look here https://zoetis.admin.kademi.com.au/manageSearch/

And Katie reported that no user visit  log found here https://zoetis.admin.kademi.com.au/manageUsers/45174886/#userAppTab-tab

[2017-09-08 08:49] bradmac commented on #3838
The user visit log is not persisted, its only held in the user visits index. So reindexing will delete that information.

However, we should create a daily visits report which simply derives the number of users active each day from the access log.

[2017-09-08 09:03] #3811 closed

[2017-09-09 00:56] bradmac commented on #3746
Create a rule based group:
![image](https://user-images.githubusercontent.com/826458/30235593-1c2f87c8-955e-11e7-97aa-c237bcb90ff9.png)

Enter rules (to be replaced with query builder)
![image](https://user-images.githubusercontent.com/826458/30235584-fd81f61c-955d-11e7-860a-b2a20b902bc5.png)

Use generateMembers request param to view members, eg http://localhost:8080/groups/rule1/?generateMembers

[2017-09-09 01:28] bradmac opened #3839 "Allow use of rule based groups with sending group emails"

[2017-09-09 01:29] bradmac commented on #3839
Need to check performance of sends to large groups, including large normal groups

[2017-09-10 02:29] paddyow opened #3840 "Keditor - changing image using existing image"
When changing an image and selecting a pre-uploaded image, it does not update.  You have to upload a new image each time.

![image](https://user-images.githubusercontent.com/2201340/30245625-9d1fd0fc-9623-11e7-8513-240dd2c37138.png)

[2017-09-10 02:30] #3840 closed

[2017-09-10 02:32] paddyow opened #3841 "Keditor - choose don't show rego field names"
If 'Display name fields' is set no No, this does not hide the field names in the front-end.

![image](https://user-images.githubusercontent.com/2201340/30245639-fc409e68-9623-11e7-93fb-e3dc8eb1588d.png)

[2017-09-10 02:58] paddyow opened #3842 "Group Goal"
- I created a rego journey as below
- The first group goal I left without any group selection
- The result was it created 2x leads and fired off the email to the email that registered twice

Does not seem correct...

![image](https://user-images.githubusercontent.com/2201340/30245772-911c579a-9627-11e7-8eb1-f4451a76be00.png)

[2017-09-10 03:03] paddyow opened #3843 "Keditor - text padding"
@ducdhm why do we add left and right padding to text?  This means every time you add text to a container, you have to remove the padding if you want your text flush with the container edge.

![image](https://user-images.githubusercontent.com/2201340/30245798-6218fcfe-9628-11e7-8948-6ce08911ee1f.png)

[2017-09-10 03:28] paddyow opened #3844 "Shopping cart goal"
The shopping cart goal which is also used for rewards store checkouts is only available if the eCommerce APP is switched on.

Was this intended?

![image](https://user-images.githubusercontent.com/2201340/30245902-cf1acb2c-962b-11e7-8c76-525d6ac14cdf.png)

[2017-09-10 04:16] paddyow opened #3845 "Journey alert causing checkout error"
This journey http://staymetrics.admin.kademi.us/funnels/redeemer-journey/#journeyBuilder-tab

Adding the 'activate alert' node causes a checkout error so I cannot checkout from the reward store.

![image](https://user-images.githubusercontent.com/2201340/30246078-974db25c-9632-11e7-92dc-e1be09dd8080.png)

This is the alert http://staymetrics.admin.kademi.us/websites/stay-metics/version1/alert-1476

[2017-09-10 04:42] bradmac commented on #3839
Example rules for a group
[code]

[2017-09-10 05:38] paddyow opened #3846 "Uploading points required an ID to work"
http://staymetrics.admin.kademi.us/tableUploaders/pointsUploader

Why do I have to include an ID in order to upload some points?  Should that not be auto generated?

If I remove the ID, the importer omits certain rows.

[points upload.xlsx](https://github.com/Kademi/kademi-dev/files/1290289/points.upload.xlsx)

[2017-09-10 05:45] paddyow commented on #3846
Also why am I getting issue date error?

The date is 8/09/2017 3:53
And I selected this format at the start of the upload..

![image](https://user-images.githubusercontent.com/2201340/30246494-f938b12c-963e-11e7-8e29-a36afd3d3f35.png)

[2017-09-10 06:10] paddyow opened #3847 "Timer goal not firing"
See this journey http://staymetrics.admin.kademi.us/funnels/registration-journey/#journeyBuilder-tab

Started from this rego page http://stay-metics.kademi.us/participants/signup

The timer goal which is set for 1 minute is not firing, also note the connector to the next node is not aligned to the node outcome - could this be part of the issue?

![image](https://user-images.githubusercontent.com/2

[2017-09-10 06:53] bradmac commented on #3839
We now have UI editable rules:

![image](https://user-images.githubusercontent.com/826458/30246856-58aff3ee-9659-11e7-8798-f5663ce65f69.png)

[2017-09-10 07:46] mkhoudary commented on #3845
@gonzalon this alert node still uses alert physical ids, please change it to seek for alerts by id first and if not found to seek by the newly created alert name.

[2017-09-10 08:37] mkhoudary commented on #3847
@paddyow you are using the past-time connector not the timeout connector, you shall use the timeout connector when you are not using relative time.. because with non-relative times the journey simply timesout and finds no exit node

[2017-09-10 08:40] mkhoudary opened #3848 "Download backup button does not work"
When I try to download backup from Zoetis site:
https://zoetis.admin.kademi.com.au/backup/

Nothing happens.. checking JS/Network does not show any activity or error as well.

[2017-09-10 10:03] AlaaKhalaf94 opened #3849 ""Simulate the time" doesn't work well"
When I try to make "Simulate the time" from here : http://admin.kademi-prod.com/maint/#utils-tab
and the period that I set up for more than a month
the target site become blank with me
this is a target site that I try with it : http://renewal.admin.kademi-prod.com

When I put : 40000 minutes and submit
and the date/time beacome : Oct 08 04:35:19 UTC 2017
the site work well with me

![capture1](htt

[2017-09-10 10:07] bradmac commented on #3849
@mkhoudary please check the logs to see what error is causing the site to be blank

[2017-09-10 12:46] mkhoudary commented on #3849
@bradmac it looks like when changing QA time a massive amount of time related operations happen.. like vaya journeys, automated emails, automated reports.
There is no certain error when refreshing appears, but locally the time operation works just fine without any problem.

[2017-09-10 14:06] AlaaKhalaf94 opened #3850 "Module renewal keeps on firing emails"
When module is renewed, it keeps on firing module renewed event every one hour until expired or renewed.

[2017-09-10 17:39] mkhoudary commented on #3850
Fixed

[2017-09-10 17:42] mkhoudary commented on #3850
@bradmac the query should not get any renewed modules from the beginning, but I've noticed that this condition is commented.. any clue why? ModuleStatus.java line 122

[2017-09-10 20:30] bradmac commented on #3850
Fixed

[2017-09-10 20:34] bradmac opened #3851 "Make module renewal and expiry date editable in admin"
Please allow administrators to edit the module expiry and renewal dates for module statuses

This is primarily intended to support testing

[2017-09-10 20:35] bradmac commented on #3849
we'll support testing module renewals using a new feature

https://github.com/Kademi/kademi-dev/issues/3851

[2017-09-10 20:35] #3849 closed

[2017-09-10 20:36] bradmac commented on #3848
@tuzzmaniandevil if this is a performance issue, we might need to consider whether the backup runs in the background, and produces a download link.

This might be good to have a history of backups (and restores?) anyway

[2017-09-10 20:42] bradmac commented on #3847
Yeah, I've checked the json and confirmed its setup to use the **past** timeout outcome.

[code]

[2017-09-10 20:43] bradmac commented on #3847
@paddyow just link the yellow "timeout" output to the next node

![image](https://user-images.githubusercontent.com/826458/30252827-4b896ca8-96cd-11e7-8680-eecc7dd42619.png)

[2017-09-10 20:48] bradmac commented on #3846
You should not include an ID. If you do then it will only update rows with that ID, which I'm sure is not what you want.

If you're having an error without the ID then please report that error.

[2017-09-10 20:50] bradmac commented on #3845
@gonzalon please update the alert node settings to display a list of alerts in a select box

![image](https://user-images.githubusercontent.com/826458/30252877-383a701a-96ce-11e7-803c-0df7805acf16.png)

[2017-09-10 20:51] bradmac commented on #3845
This should persist the alert name into the journey, but ensure the Alert node continues to work correctly with either name or ID persisted

[2017-09-10 20:55] bradmac commented on #3844
@tuzzmaniandevil please create a corresponding goal in reward store app

Note they both are triggered by the same event, and can probably use the same underlying Goal java class

[2017-09-10 20:57] bradmac commented on #3841
The name fields are first name and surname. Those have been hidden.

There i no option to hide labels, if thats what you mean.

[2017-09-10 23:56] bradmac opened #3852 "All inventory locations are displayed in reward store settings"
Eg
http://staymetrics.admin.kademi.us/manageApps/#installed-tab

Should come from here:
http://staymetrics.admin.kademi.us/inventory/

[2017-09-11 00:08] bradmac opened #3853 "Get default base cost for product when using SKUs"
When calculating the base cost on a product when using inventory control:
- if the selected options matched a SKU use the SKU cost
- if there is a base cost on the product use that
- otherwise, use the lowest cost SKU as the product base cost

[2017-09-11 00:11] #3853 closed

[2017-09-11 00:11] #3852 closed

[2017-09-11 02:01] bradmac opened #3854 "Inefficient product searching from component"
RewarsearchProducts.searchProducts does not use pagination. Not sure which component, but it might be productListComponent.html

[code]

[2017-09-11 02:04] bradmac commented on #3854
Should change the component to use one of the productSearch methods which use pagination fields

[2017-09-11 02:33] tuzzmaniandevil commented on #3848
We are going to refactor the backup to run in the background and to create a zip file with individual json files for each app.

[2017-09-11 02:45] tuzzmaniandevil commented on #3844
Will now work with both reward and ecommerce apps

[2017-09-11 02:45] #3844 closed

[2017-09-11 02:48] bradmac opened #3855 "Allow initiating a journey from sending group email"

[2017-09-11 03:33] ducdhm commented on #3854
Fixed and deployed on US

[2017-09-11 03:33] #3854 closed

[2017-09-11 03:40] paddyow opened #3856 "Reward store product links to 404 error page from product detail page"
User http://staymetrics.admin.kademi.us/manageUsers/14779388/#summary-tab

Go here http://stay-metics.kademi.us/stay-metics-store/171997/255899/256538/256545/257301/257103/elec/172277/255762/255774/14815881/

Click a product
![image](https://user-images.githubusercontent.com/2201340/30257649-e150c1d6-96f6-11e7-9078-6832dd7d9d6d.png)

[2017-09-11 04:40] gonzalon commented on #3833
Now in the manage-subscriptions page, you can see a table like this:

![image](https://user-images.githubusercontent.com/2773216/30258703-cf5e5376-970f-11e7-8b09-f7ca87921ec5.png)

To get there:
1. Go to the license page in the account /license
2. Click on the manage details

[2017-09-11 04:50] #3851 closed

[2017-09-11 04:59] ducdhm commented on #3856
Fixed!

[2017-09-11 06:24] paddyow opened #3857 "Backup and restore fields"
http://safetydemo.admin.kademi.us/backup/

admin URL, username and password should not be mandatory if uploading a file.

![image](https://user-images.githubusercontent.com/2201340/30260955-96fa88e4-970d-11e7-962c-e828ded1ccd1.png)

[2017-09-11 06:25] bradmac commented on #3857
should only be required when restoring across servers

And should initially be hidden, with a button like "Transfer content from a remote server"

[2017-09-11 06:41] gonzalon commented on #3831
Done

[2017-09-11 06:41] #3831 closed

[2017-09-11 06:43] paddyow opened #3858 "Backup restore failed after trying for a few minutes"
Into this account: http://safetydemo.admin.kademi.us/backup/

Taken from here: http://staymetrics.admin.kademi.us/backup/

This backup file: [backup.zip](https://github.com/Kademi/kademi-dev/files/1291593/backup.zip)

To here http://safetydemo.admin.kademi.us/backup/

This error:
![image](https://user-images.githubusercontent.com/2201340/30261414-d9afb02c-970f-11e7-9855-955bdba1f2b0.png)

[2017-09-11 07:01] paddyow commented on #3858
Correction, the restore did work, but I still got the above error.

[2017-09-11 09:26] anhnt commented on #3819
done
![image](https://user-images.githubusercontent.com/735555/30267780-d3f941e0-970d-11e7-93cb-ac624c650c44.png)

[2017-09-11 09:32] AlaaKhalaf94 commented on #3845
passed

[2017-09-11 09:32] #3845 closed

[2017-09-11 21:02] bradmac opened #3859 "Email send page updates"
- do not show list of sending/retrying emails
- ensure the progress bar shows number sent (including failed) as a proportion of job.numEmails
- show statistics, updated every 5secs for
  - total to send
  - emails generated
  - delivered
  - failed to deliver
  - opened
  - converted

[2017-09-11 21:44] #3855 closed

[2017-09-11 21:44] bradmac opened #3860 "Experiments"

[2017-09-12 03:19] paddyow opened #3861 "Group save button does not work"
http://staymetrics.admin.kademi.us/groups/participants/

Clicking save does not save.

[2017-09-12 03:25] paddyow opened #3862 "Cannot manage the survey menu item"
http://stay-metics.kademi.us/ note it appears in the menu

Admin: http://staymetrics.admin.kademi.us/pages/stay-metics/version1/

Does not appear in menu builder.

![image](https://user-images.githubusercontent.com/2201340/30306787-a7e1b03c-97bd-11e7-8717-4ea0511c1398.png)

Need options to
- change if visible in the menu
- only available to logged in users

[2017-09-12 03:44] paddyow opened #3863 "KToolbar appearing on survey page"
Login as this profile http://staymetrics.admin.kademi.us/manageUsers/14901952/#general-tab

[2017-09-12 03:50] #3856 closed

[2017-09-12 03:54] paddyow opened #3864 "Cannot add to cart"
This user http://staymetrics.admin.kademi.us/manageUsers/14901952/#summary-tab

Adding to cart gives this error 'Sorry, we could not add the item to your cart. That item is currently unavailable'

[2017-09-12 03:55] ducdhm commented on #3861
Fixed!

[2017-09-12 04:31] bradmac commented on #3860
Manage experiment page:
![image](https://user-images.githubusercontent.com/826458/30308204-d3ff9444-97d7-11e7-8561-b4c826832720.png)

[2017-09-12 04:33] bradmac commented on #3860
Use in EDM editor:

![image](https://user-images.githubusercontent.com/826458/30308231-0d1d685a-97d8-11e7-967b-9a393f8ebe0f.png)

[2017-09-12 04:34] bradmac commented on #3860
Note that the experiment can be either

"test1" - select the experiment, but not variant, so this is the control option
"test1/b" - the test1 experiment, and the variant "b"

[2017-09-12 04:40] ducdhm commented on #3863
Fixed!

[2017-09-12 04:40] #3863 closed

[2017-09-12 04:43] gonzalon opened #3865 "Translation in website"

[2017-09-12 04:46] bradmac commented on #3860
@ducdhm please update the container settings to allow the user to select either the control option or a variant for an experiment.

Use the following service to get the list:
http://localhost:8080/experiments/?asJson

[2017-09-12 06:43] bradmac commented on #3864
was out of stock

[2017-09-12 07:02] ducdhm commented on #3860
Done!

[2017-09-12 08:04] paddyow commented on #3864
This user http://staymetrics.admin.kademi.us/manageUsers/14901952/#summary-tab

Cannot add any product to cart, have checked stock levels.

![image](https://user-images.githubusercontent.com/2201340/30314651-b0d698a2-97e4-11e7-89df-495f6e3e0c5e.png)

![image](https://user-images.githubusercontent.com/2201340/30314669-c0d0d538-97e4-11e7-96df-2f14fd84f7df.png)

[2017-09-12 19:41] bradmac opened #3866 "KEditor initialisation bug"
I've seen this issue a few times before. The content in the editor doesnt display sometimes when doing a refresh, but it does display when loading the page withouth a refresh (ie clicking enter on address bar)

https://www.youtube.com/watch?v=zlAHa2v0voU&feature=em-upload_owner

[2017-09-12 22:29] gonzalon commented on #3864
There was a bug when the inventory location wasn't configured in the website.
Now it should work for both (org and website) settings.

[2017-09-12 22:36] gonzalon commented on #3864
To test take in mind to test setting the reward store at the organisation level, and another test would be at the website level.

![image](https://user-images.githubusercontent.com/2773216/30351400-4624bd3c-986f-11e7-9c2d-13987a25965e.png)

[2017-09-12 22:44] #3744 closed

[2017-09-12 22:44] #3743 closed

[2017-09-12 22:45] bradmac commented on #3728
@tuzzmaniandevil please integrate with points expiry processor

[2017-09-12 22:49] bradmac commented on #3860
Note that "conversion" in this context means clicking a link generated by an experiment panel

[2017-09-12 22:49] #3860 closed

[2017-09-13 03:39] anhnt commented on #3818
done

[2017-09-13 03:45] anhnt commented on #3818
![image](https://user-images.githubusercontent.com/735555/30358728-a3d9e186-9870-11e7-9948-20bcf265e598.png)

[2017-09-13 06:03] paddyow opened #3867 "Checkout form validation prevents user from re-submitting form"
http://staymetrics.admin.kademi.us/manageUsers/15049872/#summary-tab

Add product to cart
Complete form but fail to add a phone number
Submit form
Note validation that appears
Enter phone number
Note the submit button is greyed out and cannot be clicked on again
Refresh, compete form with phone number and submit - goes through ok

![image](https://user-images.githubusercontent.com/2201340/30361972

[2017-09-13 06:23] anhnt opened #3868 "Manage users page filter by org not working"
Here is org which could be found http://swimart.admin.kademi.com.au/organisations/?q=Belconnen&searchOrgType=&parentOrgId=

Here is manage users page url which doesnt show that org http://swimart.admin.kademi.com.au/manageUsers/?q=&g=&enabled=true&term-groups=&filter-orgs=Belconnen

[2017-09-13 07:29] AlaaKhalaf94 commented on #3861
passed

[2017-09-13 07:29] #3861 closed

[2017-09-13 07:48] anhnt commented on #3868
worked after reindexing

[2017-09-13 07:48] #3868 closed

[2017-09-13 10:23] AlaaKhalaf94 commented on #3829
- Adding product is in seperate page but removing products **isn't**

- Part of word category is hidden under the select  box

![capture1](https://user-images.githubusercontent.com/26510030/30372500-af0ce5d8-9886-11e7-8290-d93bb58f02b0.PNG)

[2017-09-13 10:57] anhnt commented on #3820
this is working for me with an arrow
![image](https://user-images.githubusercontent.com/735555/30373828-da7d4bd8-98ac-11e7-9e4b-ff7d19aaba88.png)

And that button is k-theme default style button

[2017-09-13 11:27] AlaaKhalaf94 commented on #3818
Hi @anhnt , I want you to put color chooser to panel box please , To have the possibility of creating such a picture attached at the top

And put color chooser to icon also, not only for background of it please

[2017-09-13 12:02] AlaaKhalaf94 commented on #3819
passed

[2017-09-13 12:58] AlaaKhalaf94 commented on #3820
Hi @anhnt , Where can I find this button and try use it ?

[2017-09-13 13:43] salehh93 opened #3869 "in any group the save button does not work in US server"
for example
this group
http://mahle.admin.kademi.us/groups/Learners/

[2017-09-13 18:58] bradmac commented on #3829
"Adding product is in seperate page but removing products isn't" - that is correct. We have split the two activities (adding and removing) intentionally to fix some useability issues

"Part of word category is hidden under the select box" - thats ok for this page

[2017-09-13 19:45] bradmac commented on #3818
Hi @anhnt, currently the icon is always white on black.

![image](https://user-images.githubusercontent.com/826458/30397233-49dcbc5c-9920-11e7-9b97-cd8b2e65be88.png)

We need it to use theme styles appropriately, like bootstrap alerts:
![image](https://user-images.githubusercontent.com/826458/30397306-8cd8a322-9920-11e7-8488-a5e6000efaf8.png)

Notice how the panel border, background, and text and

[2017-09-13 19:46] bradmac commented on #3869
Duplicate of - https://github.com/Kademi/kademi-dev/issues/3861

[2017-09-13 19:46] #3869 closed

[2017-09-13 20:12] salehh93 commented on #3861
@bradmac
but not work in this website
http://mahle.admin.kademi.us/groups/Learners/
please check in US server not QA

[2017-09-13 20:20] bradmac commented on #3861
Yeah, the fix hasnt been deployed yet.

[2017-09-13 20:20] bradmac commented on #3861
Should be deployed today

[2017-09-13 21:05] #3828 closed

[2017-09-13 21:59] tuzzmaniandevil opened #3870 "Backup/Restore: Add support for Vouchers"

[2017-09-14 00:23] #3837 closed

[2017-09-14 02:28] anhnt commented on #3820
@AlaaKhalaf94  please go to Elearning -> Edit a module page then click to the button

![image](https://user-images.githubusercontent.com/735555/30409430-15bf3364-992f-11e7-8707-28d27cac614f.png)

[2017-09-14 03:27] paddyow opened #3871 "Searching for an Org does not show title to make selection"
http://staymetrics.admin.kademi.us/manageUsers/

Adding new user

1) Org ID shows (title should show)

![image](https://user-images.githubusercontent.com/2201340/30410717-34688c04-9950-11e7-96cd-49e353c68fc7.png)

http://staymetrics.admin.kademi.us/groupEmails/15106487/#recipients-tab

Sending email

1) Org ID shows (title should show)
2) ORG dropdown needs higher z index, appears behind exclude f

[2017-09-14 03:52] gonzalon commented on #3871
@paddyow ups, that my bug! related to this

https://github.com/Kademi/kademi-dev/issues/3823

[2017-09-14 04:03] anhnt commented on #3818
done

![image](https://user-images.githubusercontent.com/735555/30411595-360eb13c-993c-11e7-8177-536f124659ad.png)

Also user can set custom color for icon

[2017-09-14 05:08] #3848 closed

[2017-09-14 05:50] #3829 closed

[2017-09-14 06:00] AlaaKhalaf94 commented on #3818
passed

[2017-09-14 06:27] bradmac commented on #3820
hey @anhnt could you also make this available as a component? I think there are valid use cases for both having it inline and also having it beween other html blocks

[2017-09-14 07:23] bradmac commented on #3724
Sales claim records need to be able to be made by anonymous users (ie non-logged in) or logged in users.

Please create a configuration option to control whether claims can be made by non-logged in users.

In this case we need to capture contact fields
- email
- first name

For a non-logged in user, when the claim is submitted, attempt to locate a profile by email address. If not found auto-create

[2017-09-14 11:26] mkhoudary opened #3872 "The ability to do maintenance to leads"
We need to be able to do maintenance work to leads in case a lead entered an inconsistent state, the ability shall contain but not be limited to:
1- The ability to select the current goal/node.
2- The ability to explicitly set the current timer date.
3- The ability to view the transition history of that lead.

[2017-09-14 11:30] mkhoudary opened #3873 "The ability to test leads using a macro-like methodology"
We need to be able to record a journey run, and then replay it and get the run result. The testing should not involve testing UI interaction, it shall only be testing the flow and functionality of a journey.

[2017-09-14 13:16] AlaaKhalaf94 commented on #3820
Hi @anhnt , can you reduces the right padding here ?

![capture1](https://user-images.githubusercontent.com/26510030/30431682-0d34fdb2-9968-11e7-8c6c-29b3ef3a65d0.PNG)

[2017-09-14 17:52] ducdhm commented on #3724
Done!

[2017-09-14 20:54] bradmac commented on #3873
A test should have:
- initial profile condition, eg create a new profile with a given name pattern and group and org membership
- ability to select outcomes for goals, eg timeout or a particular transition
- for tasks ability to specify task outcome parameters

I think this could initially be done as json configuration, and at another time we could add some sort of UI for the setup

[2017-09-14 21:00] bradmac commented on #3820
The arrow should be right aligned, like standard bootstrap dropdown buttons

[2017-09-14 22:16] bradmac commented on #3842
I've changed GroupGoal so it now only matched if a group is configured. So the journey above wouldnt do anything until a group is selected, and then it will only create a single journey when added to the selected group.

[2017-09-14 22:16] #3842 closed

[2017-09-14 23:02] bradmac commented on #3872
3. See LeadJourneyTransition

[2017-09-15 00:20] bradmac opened #3874 "Integrate group members page with dynamic groups"
Currently when i view the group members page for a dynamic group it displays no members, because its only showing physical memberships.

Please update this page to
- continue working as it is now for normal groups
- for dynamic groups, use the GroupManager.getProfiles method. But we need to extend this to support pagination.

[2017-09-15 01:02] gonzalon commented on #3872
Changing the goal:

![image](https://user-images.githubusercontent.com/2773216/30461916-fd9ddc8a-9a15-11e7-9a84-4fd34eff1ddf.png)

Changing the time for the schedule:

![image](https://user-images.githubusercontent.com/2773216/30461928-26e9bb9a-9a16-11e7-92fb-9b62c516cf0a.png)

[2017-09-15 02:31] bradmac commented on #3832
I registered through the signup form on QA
http://version56.kademi-www.kademi-prod.com/get-kademi.html

which created this user:
https://rootorg.admin.kademi-prod.com/manageUsers/2114061/#general-tab

I opened the license page here in their account:
http://testrego01.admin.kademi-prod.com/license

Clicked the manage details button to go here:
http://subscription.kademi-prod.com/manage-subscription

[2017-09-15 02:55] gonzalon commented on #3872
Timeline for the lead ..

![image](https://user-images.githubusercontent.com/2773216/30464493-eac23ef2-9a25-11e7-88a9-48f29a0c035d.png)

[2017-09-15 03:15] #3724 closed

[2017-09-15 03:41] paddyow opened #3875 "Error creating profile"
http://kpis-sales-demo.admin.kademi.us/manageUsers/

Not sure why I get the below using the details in the form?

![image](https://user-images.githubusercontent.com/2201340/30465652-8dd0d406-9a1b-11e7-82b1-d98e5bb405b4.png)

[2017-09-15 03:42] paddyow commented on #3875
Ok it's when adding to the participant group.

[2017-09-15 05:25] ducdhm commented on #3867
Fixed!

[2017-09-15 05:25] #3867 closed

[2017-09-16 10:06] bradmac opened #3876 "Improve IDP options"

[2017-09-16 10:08] bradmac commented on #3876
[code]

[2017-09-16 16:39] ducdhm opened #3877 "Nested container"
https://github.com/Kademi/keditor/issues/68

[2017-09-16 16:53] #3877 closed

[2017-09-17 10:35] AlaaKhalaf94 commented on #3820
Hi @anhnt , Can you make the ability to put two effective buttons in one page under each other?

like here in this page : http://training.idhealtheducation.edu.au/programs/Carers/Carers3/Carers05/p7-bipolar-disorder.html

[2017-09-17 21:06] bradmac commented on #3820
Just to confirm the requirement for this button
- all content following the button should be initially hidden
- when clicked, all content **up to the next show/hide button** should be displayed

This logic is already implemented in the old styles, should just be a copy/paste

[2017-09-17 22:13] bradmac opened #3878 "Profile visits tab needs tidy ups"
- should be ordered by request date
- referrer should be truncated to 10 chars and with a hyperlink to the full url
- date should be relative to the organisation timezone, and displayed as short date/time

[2017-09-17 23:31] gonzalon commented on #3871
Pushed the changes in https://github.com/Kademi/kademi-dev/issues/3823
Closing this one

[2017-09-17 23:31] #3871 closed

[2017-09-18 00:36] paddyow opened #3879 "Unable to turn off HINDA APP"
http://dealerengagement.admin.kademi.us/manageApps/#installed-tab

Expect if it can be turned on, it should be possible to turn it off?

[2017-09-18 00:53] bradmac commented on #3879
The Hinda APP is not a core app, should be able to be turned on or off

[2017-09-18 01:33] paddyow commented on #3879
Also note that any new sub account created is by default installing the HINDA App.  The HINDA App should not be switched on when a new account is created.

[2017-09-18 02:55] gonzalon opened #3880 "Manage Products: Can't filter by supplier"
The dropdown for filtering by supplier isnt working correctly.

[2017-09-18 03:21] gonzalon commented on #3880
Fixed need to deploy

[2017-09-18 04:25] paddyow opened #3881 "Keditor bug uploading 2nd image fails"
http://consumer-sales-app.admin.kademi.us/pages/sales-demo-1/version1/

Watch the video below.  Seems after adding a BG image, then a 2nd image in a container, the 2nd image does not update until the page is saved and refreshed.

[Ice Video 20170918-142141-1.zip](https://github.com/Kademi/kademi-dev/files/1309683/Ice.Video.20170918-142141-1.zip)

[2017-09-18 04:58] tuzzmaniandevil opened #3882 "Reward Store EDM update to handle multi-account users"

[2017-09-18 05:08] gonzalon commented on #3760
Done, need to deploy.
To test only create a points bucket and award / debit points for user and org :+1:

[2017-09-18 05:57] ducdhm commented on #3862
Fixed!

[2017-09-18 05:57] #3862 closed

[2017-09-18 06:16] paddyow opened #3883 "Rename a website should not allow spaces in its name"
Renaming a website allows the user to include spaces which breaks the URL.  Validate no spaces are included.

![image](https://user-images.githubusercontent.com/2201340/30530722-8aa6d9d8-9c8c-11e7-9eb1-c9627fa81c81.png)

[2017-09-18 07:17] Uafinder opened #3884 "Minor bug on the manage group page - radio button"
![image](https://user-images.githubusercontent.com/1945230/30531947-1d579da4-9c5a-11e7-9ed5-9ee1ae8a7be0.png)
When you bring mouse cursor on the group rego type (open, approval, closed) description, cursor changes form to pickup (hand), but it's not clickable, e.g. radio button doesn't change position on click. Should be the same as upper radio button (What will this group be used for? ).

[2017-09-18 07:17] ducdhm commented on #3804
Almost issue is fixed! But when developing website, developers still need add `hidden-print` class for elements which they dont want to show them in print screen.

[2017-09-18 07:32] Uafinder opened #3885 "Creating user minor bug - user not appears"
![image](https://user-images.githubusercontent.com/1945230/30532140-5157635e-9c5b-11e7-82d3-e92d83b1df4e.png)
When you creating a number of users, for example two, you're using create and add another button. So,
1. You created one user and push "create and add another" button
2. It's show up on the background in users list.
3. Meanwhile, you create second user and push create and close.
4. New use

[2017-09-18 07:38] Uafinder opened #3886 "Default sorting attribute for users page"
What is the default sorting attribute for users page. I don't understand :(
Probably it should be name, email or something else...
![image](https://user-images.githubusercontent.com/1945230/30532535-7b706512-9c5d-11e7-8193-809e0b77fb95.png)

[2017-09-18 08:41] Uafinder opened #3887 "Users import - Previous button works as next button"
![image](https://user-images.githubusercontent.com/1945230/30534181-adca147e-9c65-11e7-9683-053caad2656b.png)
Prev button works similar to next button

[2017-09-18 08:50] mkhoudary opened #3888 "Popup comments in CKEditor"
Please add the possibility to create popup comments on specific text using CKEditor:

![image](https://user-images.githubusercontent.com/3704174/30534554-5f28546e-9c67-11e7-8a1b-5d947bafdae3.png)

[2017-09-18 08:51] mkhoudary commented on #3888
https://github.com/Kademi/client-gilpin-travelworld/issues/8

[2017-09-18 08:52] anhnt commented on #3888
should use bootstrap popover

[2017-09-18 09:00] Uafinder opened #3889 "Bulk users removing"
When you do a bulk user deletion, after you push ok in the popup window, users deleted, but to show changes page should be refreshed.

![image](https://user-images.githubusercontent.com/1945230/30534918-eb6d930c-9c68-11e7-86ad-4b1416f376cf.png)

[2017-09-18 09:11] mkhoudary opened #3890 "Support sending comments on a topic to users"
In forums app, we need the user to be able to subscribe to receive others comments about some topic on email, user should submit this to topic itself or when they comment.

[2017-09-18 09:11] mkhoudary commented on #3890
https://github.com/Kademi/client-gilpin-travelworld/issues/11

[2017-09-18 09:35] mkhoudary opened #3891 "Add bootstrap-well component"
Please add a component that allows adding a bootstrap-well to the content, and allow customizing background color.

[2017-09-18 09:35] mkhoudary commented on #3891
https://github.com/Kademi/client-gilpin-travelworld/issues/12

[2017-09-18 09:50] Uafinder opened #3892 "User image when enable or disable user"
![image](https://user-images.githubusercontent.com/1945230/30536744-cac637c4-9c6f-11e7-90d3-3bc259c8b7f3.png)

![image](https://user-images.githubusercontent.com/1945230/30536761-e17263bc-9c6f-11e7-8254-291c700b7e2a.png)

When user is disabled image is absent

[2017-09-18 10:24] AlaaKhalaf94 commented on #3879
passed

[2017-09-18 10:24] #3879 closed

[2017-09-18 10:28] bradmac commented on #3888
we already have a modal plugin for ckeditor

[2017-09-18 10:39] AlaaKhalaf94 commented on #3819
https://github.com/Kademi/Client-3DN/issues/53

[2017-09-18 10:44] bradmac commented on #3890
@tuzzmaniandevil lets have a chat. I think our notifications support should handle this, but needs checking

[2017-09-18 10:45] bradmac commented on #3889
Probably just needs a reloadFragment

[2017-09-18 10:53] Uafinder opened #3893 "Enabled and disabled users switch"
"Enabled users" shows enabled and disabled users both
![image](https://user-images.githubusercontent.com/1945230/30538813-61fe4c8c-9c78-11e7-85ed-b020ed02179c.png)

"Disabled users" shows already deleted users
![image](https://user-images.githubusercontent.com/1945230/30538843-780a23f2-9c78-11e7-8d5e-09bfb7cbb9fe.png)

Is it by design?

[2017-09-18 11:03] bradmac commented on #3893
@Uafinder can you please provide a link to that account so we can investigate why thats happening?

[2017-09-18 11:03] #3888 closed

[2017-09-18 11:03] ducdhm commented on #3820
Note: Should move js stuff of this button out of jquery.module.js or module.js

[2017-09-18 11:05] bradmac commented on #3886
it should be sorted by relevance, although when there is no search term there is no relevance, so in that case should be name then email

[2017-09-18 11:24] ducdhm commented on #3306
Done!

[2017-09-18 11:24] #3306 closed

[2017-09-18 11:30] Uafinder opened #3894 "Download CSV for unsubscribers is not working"
![image](https://user-images.githubusercontent.com/1945230/30539986-d1f1a8ea-9c7d-11e7-944c-502300a8ceaf.png)

![image](https://user-images.githubusercontent.com/1945230/30539996-e02eb90c-9c7d-11e7-9a9e-fe1caa2bd6c7.png)

[2017-09-18 12:04] mkhoudary commented on #3872
@AlaaKhalaf94 please test

[2017-09-18 12:05] mkhoudary commented on #3799
I've checked the renewal feature

[2017-09-18 12:05] #3799 closed

[2017-09-18 12:07] salehh93 opened #3895 "appear velocity code on search page"
appear velocity code on search page
if I search on "Contact"
I think the problem from search-lib
![image](https://user-images.githubusercontent.com/23012214/30541121-ad3d58aa-9c82-11e7-9a87-e0c5d5d042e7.png)

http://oceanyouth.kademi.com.au/contentSearch?q=Contact

[2017-09-18 12:11] salehh93 opened #3896 "appear error on search page"
if we search on "Event" appear the error

![image](https://user-images.githubusercontent.com/23012214/30541302-7bd0dba6-9c83-11e7-9d4a-2cc9b9885d5c.png)

http://oceanyouth.kademi.com.au/contentSearch?q=Event

[2017-09-18 12:17] Uafinder commented on #3805
Looks ok at the moment

[2017-09-18 12:17] #3805 closed

[2017-09-18 12:32] Uafinder commented on #3822
A few questions:
1. Is this a members counter or memberships counter?
If one user has membership in more than one org, it adds +1 to counter, so memberships become more than physical members...
![image](https://user-images.githubusercontent.com/1945230/30541993-48ab0960-9c86-11e7-90b3-d8fcefa8162d.png)
2.  Same question here on members page
![image](https://user-images.githubusercontent.com/194523

[2017-09-18 12:32] mkhoudary commented on #3788
Fixed

[2017-09-18 12:33] mkhoudary commented on #3788
@AlaaKhalaf94 please update leadman-lib in gilead and test accordingly in production

[2017-09-18 12:38] mkhoudary commented on #3765
Tested

[2017-09-18 12:38] #3765 closed

[2017-09-18 12:41] mkhoudary commented on #3787
Added a new method

[2017-09-18 12:41] #3787 closed

[2017-09-18 12:41] Uafinder commented on #3822
Also, probably would be great to change text when user membership is deleting.
![image](https://user-images.githubusercontent.com/1945230/30542329-abdc2b94-9c87-11e7-89fe-9701ab6c5f4a.png)
Should be something like:
Are you sure you want to remove 1 user from group?
or
Are you sure you want to remove 1 user membership?

[2017-09-18 12:42] mkhoudary commented on #3721
I had to delete the existing lib and then add it again after republish

[2017-09-18 12:42] #3721 closed

[2017-09-18 12:43] Uafinder commented on #3893
http://vlad-test.admin.kademi-prod.com

[2017-09-18 12:50] Uafinder opened #3897 "Account history doesn't show removing membership"
![image](https://user-images.githubusercontent.com/1945230/30542695-018a5dd0-9c89-11e7-8f35-6c7d0ca032cf.png)
It's showing that group membership is added, but doesn't show information that it has been removed.

[2017-09-18 13:09] Uafinder commented on #3774
looks ok at the moment

[2017-09-18 13:09] #3774 closed

[2017-09-18 13:39] Uafinder commented on #3773
Aha!
It saved ok at the moment, but:
When organisation has no timezone selected, values are not displaying.
Timezone selected
![image](https://user-images.githubusercontent.com/1945230/30544604-b8188d46-9c8f-11e7-904f-41ad8de3e025.png)
timezone removed
![image](https://user-images.githubusercontent.com/1945230/30544622-c841857e-9c8f-11e7-83bc-dda92acca7cc.png)
![image](https://user-images.githubus

[2017-09-18 14:00] Uafinder opened #3898 "Organisations import options bug"
![image](https://user-images.githubusercontent.com/1945230/30545579-b47be63a-9c92-11e7-8bc4-d70afa6f2cdb.png)

1. orgid is not in alphabet order
2. what is internalorgid? is this not a double of orgid?

[2017-09-18 21:19] bradmac commented on #3895
Note that resources in theme should be excluded in content search results.

[2017-09-18 21:23] bradmac commented on #3822
"1. Is this a members counter or memberships counter?" - it should be a count of memberships. So if a user is connected to 2 orgs it should count as 2 memberships
"2. Same question here on members page" - yes, same

[2017-09-18 21:30] bradmac commented on #3893
I've checked and it currently appears correct:
![image](https://user-images.githubusercontent.com/826458/30565608-1072cd16-9d1d-11e7-98fe-3fb156299ae1.png)

![image](https://user-images.githubusercontent.com/826458/30565623-22c97c94-9d1d-11e7-8649-eeba8f3d730b.png)

[2017-09-18 21:33] bradmac commented on #3897
- add a column to SignupLog for deleted date
- create a deleted signuplog when a group memmbership is removed
- display added and removed signuplogs on timeline

[2017-09-18 21:41] bradmac opened #3899 "Voucher type search doesnt work on vouchers page"
![image](https://user-images.githubusercontent.com/826458/30566087-b9988e52-9d1e-11e7-94f0-0d5e75d3a5a0.png)

http://bartercard.admin.kademi.com.au/vouchers/

[2017-09-18 21:59] bradmac commented on #3822
"Also, probably would be great to change text when user membership is deleting." - Fixed

[2017-09-18 22:01] bradmac opened #3900 "Implement public profile page as component page"
Required for this - https://github.com/Kademi/projects/issues/6

[2017-09-18 22:04] bradmac commented on #3898
"OrgID" - this is the user definable unique identifier for an organisation. Eg "STORE-123"
"Internal org ID" - this is Kademi's unique identifier for an organisation. Eg 3321334

[2017-09-18 22:04] bradmac commented on #3898
But yes, fields should be in alphabetical order.

[2017-09-18 22:05] bradmac commented on #3895
also note that this is not velocity code. Its just js in the component file

[2017-09-18 22:11] #3882 closed

[2017-09-18 22:22] #3870 closed

[2017-09-19 01:57] paddyow opened #3901 "KCRM - double search result"
http://kcrm.kademi.us/leads/15248905/

When searching for a lead, I get two results.

1) Goes to the lead page
2) The other a page not found

Try searching for our Zoetis client, many results link to a 404 page.

![image](https://user-images.githubusercontent.com/2201340/30572511-6b909002-9d31-11e7-8032-001dc7e66be9.png)

[2017-09-19 02:44] gonzalon commented on #3900
Done, need to deploy.
New version for user-libs: 1.0.7

[2017-09-19 04:34] gonzalon opened #3902 "Reload fragment don't find ids"
I was using:

`                $('#manageUsersContent').reloadFragment();
`

The div is in the webpage, and has the ID attr.

I'm seeing in the console:

`[jquery.reloadFragment] IDs:`

I think it might be because of the each, as the $(this) for my case is not an array.

[2017-09-19 04:35] gonzalon commented on #3889
Depends on: https://github.com/Kademi/kademi-dev/issues/3902

[2017-09-19 05:21] gonzalon commented on #3895
Needs to be deployed, please test it after after reindexing
http://admin.oceanyouth.kademi.com.au/websites/oceanyouth/version1/manageSearch/

[2017-09-19 06:04] ducdhm commented on #3820
Settings for new component:
![aaaa](https://user-images.githubusercontent.com/1289631/30577851-17acca82-9d3b-11e7-83fb-35d58af9058b.png)

[2017-09-19 06:25] Uafinder commented on #3894
Working correct at the moment

[2017-09-19 06:25] #3894 closed

[2017-09-19 06:47] ducdhm opened #3903 "Duplicated components in components list"
Need to do:
 * Remove components declaration in custom app for existing components in Java

[2017-09-19 06:51] Uafinder commented on #3822
Very minor:
When you delete one member text appends in plural (e.g. membershipS)

[2017-09-19 06:51] #3895 closed

[2017-09-19 06:52] #3896 closed

[2017-09-19 06:52] ducdhm commented on #3902
@gonzalon, I have checked with
[code]

Seems like this element doesn't exist. Can you double-check again?

[2017-09-19 07:07] #3903 closed

[2017-09-19 07:27] bradmac commented on #3902
Hey @ducdhm can you please look into this? Its just the manage users page

[2017-09-19 07:28] mkhoudary commented on #3709
Done and tested on QA

[2017-09-19 07:29] Uafinder commented on #3893
https://drive.google.com/open?id=0B9V2ZH-h_cR2ZVlTYU1DRjR4MWc

I've created a video... please take a look... cache cleared, diff browsers
user: adminqa@mailinator.com
password: Pa$$w0rd

[2017-09-19 07:49] bradmac commented on #3709
Just one thing i noticed, inside the foreach loop if you cant find something currently it returns. I think instead it should just skip that email recipient, but continue the for loop for other recipients

Eg this return:
[code]

https://github.com/Kademi/kademi-platform/commit/487f99a0a950659aace2a0e06c3e09f288a79740#commitcomment-24397524

[2017-09-19 08:10] mkhoudary commented on #3709
Fixed

[2017-09-19 08:23] Uafinder commented on #3893
Looks like some indexing trouble...
I've disable user, it doesn't appears in disabled users list, i've run re-index and disabled user successfully appers in disabled users list and vice versa

[2017-09-19 08:36] AlaaKhalaf94 commented on #3820
passed

[2017-09-19 08:36] #3820 closed

[2017-09-19 08:42] Uafinder opened #3904 "Dynamic groups bugs"
When you're dealing with numbers:
1. "Equal" doesn't work
2. "Not equals" doesn't work correctly (it returns all accounts)
3. "Less or equal" works like "Less" (it doesn't return value for "equal")
4. "Greater" works inproperly. It returns greater or equal values. (E.g. 29 > 29 return true which is wrong)

When you're dealing with text:
1. "Is empty" and "Is not empty" works inproperly, just retur

[2017-09-19 09:09] AlaaKhalaf94 opened #3905 "A bug in the style container settings in kediter"
In this account , in edit home page : http://categorycont.admin.kademi-prod.com/pages/categorycont/version1/

![capture1](https://user-images.githubusercontent.com/26510030/30584737-5486e3e6-9d33-11e7-9bea-47bea7e065d2.PNG)

[2017-09-19 09:16] ducdhm commented on #3889
Fixed!

[2017-09-19 10:01] bradmac commented on #3893
ok, thanks for clarifying

[2017-09-19 10:34] mkhoudary commented on #3804
@ducdhm if you please can check this:

https://zoetis.admin.kademi.com.au/websites/zoetis-livestock-reseller/es5migration/programs/CATTLE/ZL0601M/ZL0601M?format=pdf

Here where the problem shows.. all images are outside page and text overlapping.

[2017-09-19 10:53] Uafinder opened #3906 "Import users mechanism works slow"
File which contains 2000 lines processing approx 8 minutes. It's mostly new accounts.

[import_users.xlsx](https://github.com/Kademi/kademi-dev/files/1313937/import_users.xlsx)
Interesting observation... when uploader starts he process 40-50 lines per hop (per 2 seconds), in the end he process 5-6 lines per hop (per 2 seconds)

[2017-09-19 11:28] Uafinder opened #3907 "minor visual bug - button pic sending emails"
![image](https://user-images.githubusercontent.com/1945230/30590298-9eededb8-9d46-11e7-9bf5-35cba31339ad.png)

Probably should be something like "check mark"

[2017-09-19 12:11] Uafinder opened #3908 "Plain emails testing results"
I've test Send Emails mechanism with positive scenario, some content was added to message body, but nothing serious.
This email tasks were executed...
![image](https://user-images.githubusercontent.com/1945230/30591827-0c805784-9d4d-11e7-9a07-64ba857ba2f7.png)
http://vlad-test.admin.kademi-prod.com/groupEmails/
So, results:
50 emails - 27 sesconds
300 emails - 105 seconds
1000 emails - 330 seconds

[2017-09-19 12:27] Uafinder commented on #3889
Nope, it's still there :(
tested here:
http://vlad-test.admin.kademi-prod.com/manageUsers

[2017-09-19 12:30] Uafinder commented on #3874
https://github.com/Kademi/kademi-dev/issues/3904

[2017-09-19 12:32] Uafinder commented on #3839
Pending until logical expressions will not be repaired

[2017-09-19 13:12] mkhoudary opened #3909 "Lead importer doesn't create lead properly"
When leads are imported and created they are added as regular static data, leads should be created using the create method in the FunnelManager not as a regular DB record, so when it is created it is subject to transitioning.

[2017-09-19 13:17] mkhoudary commented on #3909
@bradmac this solution starts the lead correctly, but neither this solution nor the old code manages importing ended leads or cancelled leads..

I am assigning to you for peer review.

[2017-09-19 14:04] AlaaKhalaf94 commented on #3818
Hi @anhnt , why the min-height is 190px ? It's causing me trouble in appearance

![capture1](https://user-images.githubusercontent.com/26510030/30596365-92fe9050-9d5c-11e7-8d55-0f71a30e069b.PNG)

[2017-09-19 16:15] ducdhm commented on #3889
@Uafinder It's working normally with me. Can you check with incognitor tab or cache your browser cache?

[2017-09-19 21:27] bradmac commented on #3822
"When you delete one member text appends in plural (e.g. membershipS)" - we can live with that :)

[2017-09-19 21:27] bradmac commented on #3822
@Uafinder if everythign else is fine please close the issue

[2017-09-19 21:28] gonzalon commented on #3902
@ducdhm Sorry, the example was something I was changing isn't pushed.
That's why I said that the div was on the page, and had the attr id.

[2017-09-19 21:30] bradmac commented on #3818
I think we need a min-height, but much less, should be just for a single line, ie about 30px

[2017-09-19 21:32] bradmac commented on #3889
I tested now on the link above and initially saw the problem. But then i hard refreshed and tried again and it worked correctly.

[2017-09-19 21:34] #3902 closed

[2017-09-19 22:25] bradmac opened #3910 "Account creation: Creted profile must have a home admin org of its own account"
I created an account here - http://kademi-www.kademi-prod.com/get-kademi.html

And that created this profile - http://kademi-prod.com/manageUsers/2189443/#general-tab

and this account - http://ksignup01.admin.kademi-prod.com/manageUsers/2189443/#summary-tab

Note that the profile is not editable in the new account:
![image](https://user-images.githubusercontent.com/826458/30618299-e5db5682-9ded-1

[2017-09-19 22:30] bradmac opened #3911 "Subscription payment: pre-populate customer details from logged in profile"
![image](https://user-images.githubusercontent.com/826458/30618456-b32ddaec-9dee-11e7-8147-1ef708da8906.png)

[2017-09-19 22:33] bradmac opened #3912 "Subscription payment: after submitting payment, no transactions are displayed"
This is displayed after payment has been completed. This will make customers think the payment has failed.

![screenshot from 2017-09-20 10-32-12](https://user-images.githubusercontent.com/826458/30618563-28effdbe-9def-11e7-93f0-1389b3ac2e87.png)

And the confirmation message is just the single word "success", and this message disappears after a period of time.

![image](https://user-images.github

[2017-09-19 22:39] bradmac opened #3913 "Subscription payment: Payment workflow"
There are two use cases for making a payment
1. upgrading to a higher plan (eg standard to Pro)
2. paying an upcoming bill

The payment screen needs to cater for the 2 use cases
- Provide a panel with a button to "change plan". If selected then allow the user to select a new plan. Do not allow them to select the current plan.
- Display a panel showing due payment if there is one, with details, ie

[2017-09-19 22:46] bradmac opened #3914 "Subscription payments: Transactions list should describe the transaction"
Currently, the transaction list doesnt tell me what the transaction is for.

![image](https://user-images.githubusercontent.com/826458/30618947-e0cc7c7c-9df0-11e7-932b-76ef1527c1f0.png)

It should state
- the plan that was purchased
- the dates the subscription is valid from and to

[2017-09-19 22:52] bradmac opened #3915 "Subscription payments:"
Always display a return to site button on the customer's site

![image](https://user-images.githubusercontent.com/826458/30619128-ca3c0f1c-9df1-11e7-8a52-f241f36f452c.png)

[2017-09-19 22:55] bradmac opened #3916 "Subscription payment: Display credit amount"
I selected and paid for a plan, and then upgraded to a higher plan immediately.

This should have resulted in me having a credit, but i cant see that credit anywhere:

![image](https://user-images.githubusercontent.com/826458/30619170-1cdbb970-9df2-11e7-9426-842d5e9d6c83.png)

Please ensure that any current credit is displayed on this page

[2017-09-20 00:48] bradmac opened #3917 "Contact form component should allow selection of opt-in groups"
I have a form like this:
![image](https://user-images.githubusercontent.com/826458/30621824-87f77e6a-9e01-11e7-8c4d-1005bd6ccd25.png)

I would like users submitting this form to be added to a configured group (eg "Newsletter"). So please add settings to allow page authors to chose which groups to add users to.

Also, the page author might want users to have groups which they can choose to be added

[2017-09-20 01:13] bradmac opened #3918 "ckeditor toolbar is not appearing when editing content in a calendar event page"
![image](https://user-images.githubusercontent.com/826458/30622381-6c3fb22e-9e05-11e7-8f3d-92d49aaffc17.png)

Event page is here
http://youmum.admin.kademi.com.au/Calendars/youmum-webinars/webinar-with-our-breast-feeding-expoert#details-tab

[2017-09-20 01:17] bradmac commented on #3918
Found it! But its in a messed up location

![image](https://user-images.githubusercontent.com/826458/30622479-028e4c7c-9e06-11e7-9051-9e004753e38c.png)

[2017-09-20 03:37] gonzalon commented on #3916
https://github.com/Kademi/kademi-dev/commit/aa5a71206eb9ba478a8724127150753b54f8152a

[2017-09-20 04:54] bradmac commented on #3906
I've put in some performance optimisations which should increase the speed generally, and also prevent the decrease in speed as the uploader progresses

[2017-09-20 05:32] AlaaKhalaf94 commented on #3819
Hi @anhnt , Can you reduce the min-height of the body bf component ?

![capture1](https://user-images.githubusercontent.com/26510030/30628312-3e32564c-9dde-11e7-8ccf-1466f086be46.PNG)

[2017-09-20 05:54] anhnt commented on #3818
We use standard bootstrap panel so we can define less params in theme-params.less.

[2017-09-20 06:01] bradmac commented on #3818
Hey @anh we need users to be able to use this component without coding. So we should override that in bootstrap Base

[2017-09-20 06:24] mkhoudary commented on #3804
Creating an issue in zoetis repo

[2017-09-20 06:24] #3804 closed

[2017-09-20 06:45] Uafinder commented on #3906
It works much faster... 2000 lines file processed in 4 minutes without decreasing speed as the uploader progresses...

[2017-09-20 06:48] Uafinder commented on #3889
Working at the moment

[2017-09-20 06:48] #3889 closed

[2017-09-20 06:50] Uafinder commented on #3898
Work ok!

[2017-09-20 06:50] #3898 closed

[2017-09-20 07:02] Uafinder opened #3919 "Incorrect number of profiles on the dashboard"
![image](https://user-images.githubusercontent.com/1945230/30630665-396af130-9dea-11e7-8879-c8c02bfd7405.png)
![image](https://user-images.githubusercontent.com/1945230/30630719-69fae530-9dea-11e7-96fb-940972fd282c.png)
Looks like profiles tile shows memberships instead of profiles.

[2017-09-20 07:03] ducdhm opened #3920 "Content editor improvement"
From @bradmac
[code]

[2017-09-20 07:07] ducdhm commented on #3920
Needed for https://github.com/Kademi/Client-3DN/issues/59

[2017-09-20 07:11] Uafinder commented on #3822
Yup, works correct

[2017-09-20 07:11] #3822 closed

[2017-09-20 07:41] bradmac commented on #3906
The qa server is pretty slow so I think will be faster in prod. All good.

[2017-09-20 07:41] #3906 closed

[2017-09-20 07:53] ducdhm opened #3921 "Group repo in File Manage screen by type"
* Website at top
 * Lib/app
 * Blog repo
 * Normal repo

[2017-09-20 08:12] Uafinder commented on #3910
Looks ok at the moment

[2017-09-20 08:12] #3910 closed

[2017-09-20 08:22] Uafinder commented on #3859
Looks pretty

[2017-09-20 08:22] #3859 closed

[2017-09-20 08:29] Uafinder commented on #3839
I've a dynamic group which has 627 members
But when i've tried to send emails to them it generate only 10 emails. Looks like some limitations.
![image](https://user-images.githubusercontent.com/1945230/30634173-e360d176-9df6-11e7-9016-9051d0a50f2e.png)
![image](https://user-images.githubusercontent.com/1945230/30634192-f199c158-9df6-11e7-923d-457d44b05e45.png)

[2017-09-20 11:17] Uafinder opened #3922 "Paginator on the modules activity tab links to the main tab"
![image](https://user-images.githubusercontent.com/1945230/30641027-3057f95c-9e0e-11e7-96b2-c31f57457784.png)
![image](https://user-images.githubusercontent.com/1945230/30641042-4391e460-9e0e-11e7-88dd-b8b72a26f988.png)
It causes a problem when you paging a list of module activities...

[2017-09-20 20:58] bradmac commented on #3921
I actually think it should be just alphabetical. But an option to filter by type would be nice.

[2017-09-20 21:02] bradmac opened #3923 "Unknown host names should not resolve to admin console"
Currently, if a user opens a page for any unknown domain on Kademi we display the login page for the root org admin.

Eg - https://this-doesnt-exist.admin.kademi-prod.com/
![image](https://user-images.githubusercontent.com/826458/30667403-89c517d4-9eab-11e7-8a88-4b1e2d1894e5.png)

This can be very confusing to users who have got the wrong address.

Note that current process is convenient for devel

[2017-09-20 21:05] bradmac opened #3924 "Do allow editing of a profile in a parent org of its home org"
Related to - https://github.com/Kademi/kademi-dev/issues/2568

Currently, if i open a profile page in a parent org of the profile's home org, i cannot edit the profile.

For example this profile:
http://ksignup02.admin.kademi-prod.com/manageUsers/2214611/#summary-tab

Has a home admin org of ksignup02

If i open that profile in the root org I cant edit the profile:
https://kademi-prod.com/manageUs

[2017-09-20 22:08] bradmac commented on #3909
Hi @mkhoudary looks ok to me. I think its ok to only support importing active leads at this point. A future enhancement will be to support lead state in the importer.

[2017-09-20 22:37] bradmac commented on #3923
Now displays this:

![image](https://user-images.githubusercontent.com/826458/30671006-ed2639ea-9eb8-11e7-93f7-b32b44c96e86.png)

[2017-09-20 23:31] gonzalon commented on #3880
@AlaaKhalaf94 thats the org you are in :)

Changed the name:
![image](https://user-images.githubusercontent.com/2773216/30672403-4a684718-9ec0-11e7-96cb-975c55087cf9.png)

Dropdown:
![image](https://user-images.githubusercontent.com/2773216/30672413-55e32662-9ec0-11e7-948e-f146844f4939.png)

[2017-09-21 00:18] gonzalon commented on #2134
@AlaaKhalaf94 I just test it, fixed another bug, and everything seems to be working fine.
After deploy, could you please test it in a new account?

[2017-09-21 00:41] bradmac opened #3925 "More filtering options for email history page"
update the email history page to allow filtering by
- email job (eg the group email or automation)
- status (eg failed, delivered, retrying)

![image](https://user-images.githubusercontent.com/826458/30673847-242817d6-9eca-11e7-8206-920f37472a37.png)

Then please update the email status page to link to the email history page with the request appropriate parameters
https://user-images.githubusercon

[2017-09-21 00:41] bradmac commented on #3908
"4. Would be great to add links to Retrying, Failed emails to review those emails" - moved to own issue - https://github.com/Kademi/kademi-dev/issues/3925

[2017-09-21 01:00] bradmac commented on #3919
Now used the same source as the manage users page, so should be consistent

[2017-09-21 01:25] gonzalon commented on #3442
New version of leadman 1.3.6

![image](https://user-images.githubusercontent.com/2773216/30674750-50dc63f8-9ed0-11e7-97d9-b0506503bd92.png)

[2017-09-21 02:27] bradmac opened #3926 "Subcriptions: No license information displayed"
I registered through the signup page here:
http://version56.kademi-www.kademi-prod.com/get-kademi.html

which created this account:
http://ksignup03.admin.kademi-prod.com/license

However, the license details page does not display any information:
![image](https://user-images.githubusercontent.com/826458/30676187-ec997c2e-9ed8-11e7-9d85-4002fb5dac3f.png)

[2017-09-21 02:46] bradmac commented on #3926
- tidy up, please put in table
- add an icon to the button, and change the Manage Subscription

[2017-09-21 02:46] bradmac opened #3927 "Subscription page enhancements"
- please order the plan table by cost
- and display the product details in a new column
- change the layout so that the "manage sub" and "due payments" panels are side by side, in 2:1 col layout
- add expiry date to the current plan panel
- do not put "There is no due payment.." in a blue panel, because that makes it look like a button. Just plane text is fine
- please format transaction history d

[2017-09-21 02:53] bradmac opened #3928 "Subcriptions: payment process"
Currently, when i click "Change plan" the "payment details" panel appears, but its not obvious to the user that this is now visible.

![image](https://user-images.githubusercontent.com/826458/30676860-6e739d62-9edc-11e7-9417-9f49bb10c0b7.png)

The best solution is probably to display the payment form in a modal (large)

[2017-09-21 02:58] bradmac opened #3929 "Subscriptions: Payment panel enhancements"
- on the payment panel, do not display the recurring frequency input
- change "card name" label to "Card holder name"
- add a progress notification that the payment is processing immediately when the user presses submit

On payment confirmation:
![image](https://user-images.githubusercontent.com/826458/30677020-638aad40-9edd-11e7-8216-8ed50cb4f6d5.png)

- add a tick icon to the confirmation messag

[2017-09-21 03:06] bradmac opened #3930 "Subscriptions: Authorisation problem and Transaction history needs to be for the account, not user"
It appears that any user can view the subscription page for any account. Eg i logged in with ksignup01 but I've viewing this: ksignup04
http://subscription.kademi-prod.com/manage-subscription?adminDomain=ksignup04.admin.kademi-prod.com

And regardless of who is signed in, the transaction history needs to show transactions relating to the account (ie ksignup04)

[2017-09-21 03:13] bradmac commented on #3913
Please make the "due payments" show subscriptions which are due in the near future, ie within 7 days

[2017-09-21 03:19] #3912 closed

[2017-09-21 03:19] #3914 closed

[2017-09-21 03:19] #3915 closed

[2017-09-21 03:19] #3916 closed

[2017-09-21 03:19] #3911 closed

[2017-09-21 03:46] ducdhm commented on #3918
Fixed!

`initFullscreenEditor(target, previewUrl)` method is available for admin at the moment. I'll convert it to plugin soon.

[2017-09-21 03:46] #3918 closed

[2017-09-21 03:53] ducdhm commented on #3918
New UI:
![newui](https://user-images.githubusercontent.com/1289631/30678234-07c35f88-9ebb-11e7-844d-2c48122b9799.png)

[2017-09-21 03:53] ducdhm commented on #3918
Modal:
![newui2](https://user-images.githubusercontent.com/1289631/30678236-0dc81374-9ebb-11e7-982f-a97ca76090e5.png)

[2017-09-21 06:03] gonzalon commented on #3928
https://github.com/Kademi/kademi-dev/commit/f78e3c58a70f91950903675c42dc32f7178e76af

[2017-09-21 06:04] gonzalon commented on #3929
Also added placeholders to the fields

[2017-09-21 06:07] Uafinder commented on #3919
Yup, works fine

[2017-09-21 06:07] #3919 closed

[2017-09-21 06:14] Uafinder commented on #3886
Ok, works properly...

[2017-09-21 06:14] #3886 closed

[2017-09-21 06:47] Uafinder commented on #3839
Also, problem with scheduled emails:
Scheduled emails fires to the no one, when dynamic group is assigned.
http://vlad-test.admin.kademi-prod.com/scheduledEmails/scheduledqa01/#configuration-tab

[2017-09-21 06:48] ducdhm commented on #3920
Done!

Content before editing:
[code]

and content after editing:
[code]

[2017-09-21 06:48] #3920 closed

[2017-09-21 07:20] Uafinder opened #3931 "Physical location for ORG bugs"
1. Map is sitting on the Sydney by default
2. If you select any number in latitude, longitude it search University of Alabama
3. When you push save map reset to default location.
4. When you enter Address and Address 2, push search and it finds correct map location, however if you push save it resets map location to default.
5. When you access organisation details it doesn't search map location au

[2017-09-21 07:59] anhnt opened #3932 "New calendar component"
http://travelworld.co.nz/more/school-holidays/

![image](https://user-images.githubusercontent.com/735555/30684926-50806c6c-9edd-11e7-9664-79475dfcd11f.png)

We should have options to show all months or some months
We also have color indicator for specific event. ie holidays in green, public holidays in red, etc

[2017-09-21 08:00] anhnt commented on #3932
https://github.com/Kademi/client-gilpin-travelworld/issues/18

[2017-09-21 08:15] Uafinder opened #3933 "Emails and timezone issue"
I've an org with timezone GMT +3 (Kiev).
![image](https://user-images.githubusercontent.com/1945230/30685447-96f83e42-9ebd-11e7-8327-ec1fb4cf935d.png)

Issues are on screen
![image](https://user-images.githubusercontent.com/1945230/30685607-23250af8-9ebe-11e7-9fd2-e954d2d7c5a0.png)

[2017-09-21 08:24] Uafinder opened #3934 "Dashboard and groups page difference (Dynamic groups)"
![image](https://user-images.githubusercontent.com/1945230/30685812-d56fc4fa-9ebe-11e7-9111-7cee0b617e3b.png)
![image](https://user-images.githubusercontent.com/1945230/30685843-f125e08a-9ebe-11e7-99c5-9455d050a07e.png)
This is because of dynamic groups is absent on the groups count (second screenshot)

[2017-09-21 10:56] anhnt commented on #3818
panel should have option to not show the icon

[2017-09-21 13:00] Uafinder commented on #3924
It's editable at the moment, so ok

[2017-09-21 13:00] #3924 closed

[2017-09-21 13:01] Uafinder opened #3935 "Minor bugs when accessing profile from parent org"
![image](https://user-images.githubusercontent.com/1945230/30696940-072bc2ec-9ee6-11e7-9235-db9fb63d2635.png)

[2017-09-21 13:07] Uafinder opened #3936 "View details for organisation members needs pagination"
I think would be great to add pagination when view child org members, because if there are a lot of them page loading slow and then it's hard to manage.
![image](https://user-images.githubusercontent.com/1945230/30697241-f29f0586-9ee6-11e7-8784-857db5658998.png)

[2017-09-21 13:48] Uafinder commented on #3923
Looks ok!

[2017-09-21 13:48] #3923 closed

[2017-09-21 14:10] Uafinder commented on #3801
Yup, it gives me permission to edit profiles.
However some things about user admin role:
1. If you're sign in to admin console under user which has useradmin role, it's give an error with no permissions to access. That's because role has no access to dashboard.
2. If you go direct to manage users page, it work properly. However it gives some errors on other pages:
- unsubscribe page should be hidd

[2017-09-21 14:33] Uafinder commented on #3140
Bugs!
![image](https://user-images.githubusercontent.com/1945230/30701423-e73c6ccc-9ef2-11e7-9b70-f389c86883c4.png)

[2017-09-21 14:36] Uafinder opened #3937 "Organisations page, members count incorrect"
It's not a members count, but memberships...
![image](https://user-images.githubusercontent.com/1945230/30701614-64ae31f4-9ef3-11e7-8879-8fdeb0306990.png)

[2017-09-21 14:40] Uafinder commented on #3140
Also sorting incorrect...
![image](https://user-images.githubusercontent.com/1945230/30701796-dfea587a-9ef3-11e7-8888-c633624e4ef9.png)

[2017-09-21 21:00] #3926 closed

[2017-09-21 21:01] bradmac commented on #3927
Getting an exception when clicking through from a trial plan:
[code]

[2017-09-21 21:05] bradmac commented on #3927
Added temp hack by setting Trial product to zero cost

[2017-09-21 21:10] bradmac commented on #3927
The table has a new column, but its just repeating the title. Should be brief:
![image](https://user-images.githubusercontent.com/826458/30718962-ea1902ec-9f75-11e7-8d50-5db287386ae3.png)

[2017-09-21 21:12] bradmac commented on #3927
"change the layout so that the "manage sub" and "due payments" panels are side by side, in 2:1 col layout" - The layout is currently 1:1, please change to 2:1 to give plan content more room

[2017-09-21 21:14] bradmac commented on #3928
"The best solution is probably to display the payment form in a modal (large)"

There is a modal now, but its not large to it looks squished. Please change to a large modal.

![image](https://user-images.githubusercontent.com/826458/30719123-66e9fa1a-9f76-11e7-9919-4340a8786586.png)

[2017-09-21 21:18] bradmac commented on #3928
Added .modal-lg

[2017-09-21 21:27] bradmac commented on #3928
Getting an error on payment:

![image](https://user-images.githubusercontent.com/826458/30719620-5053e8d6-9f78-11e7-8f01-327747dd5fdd.png)

[code]

[2017-09-21 21:36] bradmac commented on #3937
Changed col header to "Memberships"

[2017-09-21 21:42] bradmac commented on #3931
hey @Uafinder, when you search for a location, you need to select the location to set the coordinates, and then save. If you search and save without selecting a location, then no location is set.

I couldnt reproduce a problem in steps 2-3 above

[2017-09-21 21:43] bradmac commented on #3931
Agreed we should do something to avoid having an initial location appear. I think it would be good to just hide the map if lat/lng arent set, until the search button is pressed.

@ducdhm can you please update?

[2017-09-21 22:03] bradmac commented on #3934
The first shows the number of groups defined, while the second screen shows the number of groups associated with displayed profiles. I think its ok for dynamic groups not to be included in this

[2017-09-21 22:04] bradmac commented on #3818
hey @ducdhm we need the min height change above. Note sure about @anhnt s comment about not showing icon..

[2017-09-21 22:06] bradmac commented on #3935
Membership is correct, it should only show memberships for groups defined by the current admin domain

Will check out the image thing.

[2017-09-21 22:08] bradmac commented on #3935
The image isnt showing because its using an address based on the user, but since the user isnt a member of this org that address is invalid.
It would be good to change this to use either:
- a hash, if an image has been set
- a static image resource if not image has been set

That way it will work in any context

[2017-09-21 22:12] bradmac commented on #3801
"If you're sign in to admin console under user which has useradmin role, it's give an error with no permissions to access. That's because role has no access to dashboard."
- Yes, this is expected. You should also grant the role AdminViewer

[2017-09-21 22:13] bradmac commented on #3801
"unsubscribe page should be hidden"
- Actually, this should be considered part of user management, so should be visible

"Learning should be hidden too"
- Correct, should be hidden.

[2017-09-21 22:15] bradmac commented on #3801
I've added a check on whether the user can access elearning

[2017-09-21 23:51] bradmac opened #3938 "Evaluate security enhanced velocity and mvel"
See projects here:
https://github.com/MohammedFuad97

[2017-09-22 00:37] bradmac opened #3939 "Support rule based container visibility"
This is needed for edge cases where we cant implement the visibility logic through group membership

[2017-09-22 00:46] bradmac commented on #3939
Done.

![image](https://user-images.githubusercontent.com/826458/30724736-1b7e1368-9f94-11e7-9278-bc41428738c8.png)

[2017-09-22 00:48] bradmac commented on #3939
Note that in this context "user" is a UserResource.

The map of variables passed to components for rendering is also available in the expression evaluation context. So that includes the variables set in SendEmailGoalActionBatchEmailCallback:

[code]

[2017-09-22 00:49] bradmac commented on #3939
@mkhoudary please test with Vaya

[2017-09-22 00:51] tuzzmaniandevil opened #3940 "Add support to share status and links via social media"
This will be used by apps like Blogs

Init Support: Twitter & Facebook

[2017-09-22 01:13] tuzzmaniandevil opened #3941 "Seo Support: Allow resources to provide SEO fields"
These fields should be:
- description
- keywords
- canonical
- structuredData - application/ld+json - https://developers.google.com/search/docs/guides/intro-structured-data

It requires the portlet `header` to be included in the header part of the page.

Example using a custom controller:
[code]

[2017-09-22 02:26] anhnt commented on #3818
added min height and option to toggle show panel icon

[2017-09-22 02:26] #3818 closed

[2017-09-22 04:28] bradmac commented on #3904
the group members page has been updated to work with dynamic groups. The appearance is slightly different from normal groups

![image](https://user-images.githubusercontent.com/826458/30729362-16ae476c-9fb3-11e7-8479-cd6a61ad1307.png)

[2017-09-22 04:30] bradmac commented on #3891
@anhnt says we can use the existing panel component

[2017-09-22 05:17] ducdhm opened #3942 "Calendar doesnt work correctly"
I have an event start from Sep 19 to Dec 20. But in Fullcalendar in Calendars screen of admin console, the event is not showed when switching to Oct, Nov and Dec.

[2017-09-22 05:20] ducdhm commented on #3942
Fixed by upgrading to latest version. And latest version support Bootstrap 3 theme 👍

[2017-09-22 05:20] #3942 closed

[2017-09-22 05:21] anhnt commented on #3942
👍

[2017-09-22 05:45] ducdhm commented on #3932
New UI:
![multi-cal](https://user-images.githubusercontent.com/1289631/30730819-f23dd9fc-9f93-11e7-8095-d1dbbfac11a1.png)

[2017-09-22 05:51] ducdhm commented on #3729
Fixed!

[2017-09-22 06:07] Uafinder commented on #3934
It's make sence, so probably leaving as is

[2017-09-22 06:07] #3934 closed

[2017-09-22 06:09] gonzalon commented on #3930
https://github.com/Kademi/kademi-platform/commit/3835452b50d7d35921838591cc06ce2d358c5420
https://github.com/Kademi/kademi-platform/commit/7c096a2a3562a50b63174fbbcd8f0164e543b53c

[2017-09-22 06:09] gonzalon commented on #3927
Updated

[2017-09-22 06:27] Uafinder commented on #3937
Great

[2017-09-22 06:27] #3937 closed

[2017-09-22 06:39] Uafinder opened #3943 "Voucher type creation"
Probably we should update marked text, how do you think?
![image](https://user-images.githubusercontent.com/1945230/30732165-e58c22a0-9f79-11e7-903b-232d2e288b33.png)

[2017-09-22 06:44] Uafinder opened #3944 "Voucher creation minor bug"
![image](https://user-images.githubusercontent.com/1945230/30732283-70bfb81e-9f7a-11e7-8706-f505650be1ec.png)
When you create a number of vouchers to see changes in total count you should refresh page.

[2017-09-22 06:52] Uafinder opened #3945 "Voucher ID template format validation"
Would be great to add a validation to ID Template field which will check if it's correct.
Because if it's wrong there will be an error when create vouchers...
![image](https://user-images.githubusercontent.com/1945230/30732514-9ac7812c-9f7b-11e7-9f7b-aa9248e28e19.png)
![image](https://user-images.githubusercontent.com/1945230/30732524-a3f178f2-9f7b-11e7-8488-a7c63e574a8f.png)

[2017-09-22 06:59] Uafinder opened #3946 "Question about periodically page freeze (long loading)"
![image](https://user-images.githubusercontent.com/1945230/30732671-5045b2e4-9f7c-11e7-955d-5ad73a0e659d.png)

Is it possible that there left some integration with zopim which may freeze page loading?

[2017-09-22 07:17] Uafinder commented on #3899
Works both on QA and Prod link

[2017-09-22 07:17] #3899 closed

[2017-09-22 07:31] Uafinder opened #3947 "When change status of vouched to cancel error appears"
![image](https://user-images.githubusercontent.com/1945230/30733782-27757cfa-9f81-11e7-90a8-a7133f4fb7aa.png)
However action completing successfully and history log wrote correctly. So just missing cancel success message.

[2017-09-22 08:10] Uafinder opened #3948 "Vouchers performance test"
Creating:
1000 vouchers - created for 17 secs
2000 vouchers - created for 35 secs
3000 vouchers - created for 57 secs

Filtering:
When there are 10000 vouchers created, filter by type and status process request for 2-3 seconds approx...

[2017-09-22 08:25] ducdhm opened #3949 "In bootstrap-base, dependencies of app should contains only depended lib"

[2017-09-22 08:35] #3949 closed

[2017-09-22 08:45] ducdhm commented on #3748
Fixed!

[2017-09-22 08:45] #3748 closed

[2017-09-22 09:58] Uafinder opened #3950 "Edit translation button"
It appears everywhere and it's drive me mad...
![image](https://user-images.githubusercontent.com/1945230/30739326-9148ad64-9f95-11e7-829d-ddccbe0ddade.png)
Upper menu cause this button to be hidden...
![image](https://user-images.githubusercontent.com/1945230/30739352-a8e2b398-9f95-11e7-9a59-b838fc8718b7.png)

[2017-09-22 10:13] Uafinder opened #3951 "Contact creation bugs"
1. New contact will not appears in list without refresh.
![image](https://user-images.githubusercontent.com/1945230/30739887-972dde6e-9f97-11e7-904e-60511d63b3d8.png)
2. Created contact falls into Leads group by default, not sure if it's correct.
3. Need to change font color to white, text is invisible.
![image](https://user-images.githubusercontent.com/1945230/30739958-d5cbede6-9f97-11e7-8695-db4

[2017-09-22 10:25] Uafinder opened #3952 "Groups sorting incorrect when dynamic groups in list"
![image](https://user-images.githubusercontent.com/1945230/30740366-5ab3a1ec-9f99-11e7-9d61-dd6c07464ec4.png)
for example in applications settings

[2017-09-22 10:30] Uafinder opened #3953 "Signups misunderstand"
![image](https://user-images.githubusercontent.com/1945230/30740516-f0cfd556-9f99-11e7-855a-de834b2620bd.png)
But on the dashboard shows only this...
![image](https://user-images.githubusercontent.com/1945230/30740549-1a306a00-9f9a-11e7-9613-0b4dcc1517fa.png)
This one user wasn't create through native signup process, so that's not a point.

[2017-09-22 10:33] Uafinder opened #3954 "Visual bug on tasks page"
![image](https://user-images.githubusercontent.com/1945230/30740673-96353d88-9f9a-11e7-9880-d7a5c5873cd0.png)

[2017-09-22 11:24] Uafinder opened #3955 "Manage products page default filter"
![image](https://user-images.githubusercontent.com/1945230/30742383-77ae8fc0-9fa1-11e7-900d-44e9e604ffb1.png)
When you open manage products page it shows all products, but filter is already setup to supplier org (current org i think), I think that there should be something "Not selected" or some sort...

[2017-09-22 11:26] Uafinder opened #3956 "Incorrect tip to Bulk delete - minor"
![image](https://user-images.githubusercontent.com/1945230/30742485-f3759b4e-9fa1-11e7-9f87-3522c62bc9e7.png)

[2017-09-22 12:54] Uafinder opened #3957 "products paginator"
When you setup paginator to 5000, page selector disappears and there is no possibility to go back to smaller amount.
![image](https://user-images.githubusercontent.com/1945230/30745308-43e3c82e-9fae-11e7-92cd-941294670281.png)
![image](https://user-images.githubusercontent.com/1945230/30745330-53de2724-9fae-11e7-8951-647aec3b1666.png)

[2017-09-22 12:58] Uafinder opened #3958 "Products default sorting incorrect"
![image](https://user-images.githubusercontent.com/1945230/30745433-cced707a-9fae-11e7-9cc4-f13a7c6bc057.png)
Should be by code or by name
Also with categories page
![image](https://user-images.githubusercontent.com/1945230/30745637-9eb97aa4-9faf-11e7-8480-0f76e0d38e6b.png)

[2017-09-22 13:27] Uafinder opened #3959 "When enter SKUs details product details doesn't appears"
![image](https://user-images.githubusercontent.com/1945230/30746485-9062046e-9fb2-11e7-81dc-6f5c31888301.png)
![image](https://user-images.githubusercontent.com/1945230/30746588-e369b472-9fb2-11e7-8b53-b711532653ef.png)
This bug appears when you're using search.

[2017-09-23 15:48] ducdhm opened #3960 "[Custom Apps] Move components from website and admin folder to common folder"

[2017-09-24 05:11] bradmac commented on #3958
I would expect the default sorting to be by title, thats what users would want. Is that happening now?

[2017-09-24 05:12] bradmac commented on #3957
I think this is fine.

[2017-09-24 05:12] #3957 closed

[2017-09-24 05:14] bradmac commented on #3955
Yep, should initially be no supplier filter selected

[2017-09-24 05:23] bradmac commented on #3954
Looks like a problem with K-Theme

[2017-09-24 05:24] bradmac commented on #3953
Not sure, thats worth looking into

[2017-09-24 05:25] bradmac commented on #3952
Looks like its applying case-sensitive sorting. Would be good to change to case-insensitive

[2017-09-24 05:27] bradmac commented on #3951
2: it should go into the group configured on the funnel

[2017-09-24 05:28] bradmac commented on #3950
@ducdhm we need a way to turn it on or off. Is there an option for that yet?

[2017-09-24 05:33] bradmac commented on #3948
I think creating the vouchers at 3000 per minute is ok.

But the voucher search page should still be fast with 10k vouchers. Worth checking

[2017-09-24 05:36] bradmac commented on #3946
I've seen that myself on occasion. It seems like there is an occasional problem with Zopim which affects our page loading.

However, we are probably changing away from Zopim soon

[2017-09-24 05:36] #3946 closed

[2017-09-24 05:37] bradmac commented on #3945
I think we can have
- a bootstrap text dropdown with a few example templates
- a "Test" button which will apply the template and show the output in a modal, and show an error if incorrect

[2017-09-24 05:44] bradmac commented on #3943
yep, we should be consistent with terminology

[2017-09-24 05:44] bradmac commented on #3944
Yep. Please add a reloadFragment after vouchers creation to update totals

[2017-09-24 08:08] mkhoudary opened #3961 "Enable adding and checking tags to organisation in automation"
We need to have organisation tags being checked and added as part of the automation framework.

[2017-09-24 08:09] mkhoudary commented on #3961
https://github.com/Kademi/client-zoetis/issues/286

[2017-09-24 09:04] salehh93 commented on #3900
done

[2017-09-24 09:05] #3900 closed

[2017-09-24 12:46] mkhoudary commented on #3939
https://github.com/Kademi/client-vaya/issues/222

[2017-09-24 13:08] mkhoudary commented on #3939
@bradmac when I try to save the rules they are ignored and not applied to EDM HTML

[2017-09-24 19:47] bradmac commented on #3961
Possibly consider using journeys instead of automations

[2017-09-24 20:21] bradmac opened #3962 "Implement CSV export in WebsiteAccessElasticsearchReport"
Should be simple aggregation by URL. Output columns:
- url / path
- number of hits
- total bytes

[2017-09-24 20:58] bradmac opened #3963 "Add profile field capture to anonymous comments"

[2017-09-24 21:40] tuzzmaniandevil commented on #3963
We accept the following parameters:
- **firstName** - String
- **surName** - String
- **email** - String
- **follow** - boolean

[2017-09-24 21:42] tuzzmaniandevil commented on #3890
Done here: https://github.com/Kademi/kademi-dev/issues/3963

[2017-09-25 01:10] bradmac opened #3964 "Fixes for manage SKU's page"
- error when deleting a SKU with inventory locations
- error when a SKU has associated product orders
- screen refresh is very slow when there are a large number of SKUs (eg 1000 or so)

[2017-09-25 03:27] tuzzmaniandevil commented on #3940
Twitter app added, Waiting on approval from Facebook.

[2017-09-25 03:38] paddyow opened #3965 "KCRM loading companies takes too long"
Looking up a company when adding a new lead takes about 30 secs before the company appears and you can select it.

![image](https://user-images.githubusercontent.com/2201340/30791520-55f84e5a-a1f6-11e7-8408-29eee48c02e4.png)

[2017-09-25 03:54] paddyow opened #3966 "KCRM adding a new company requires re-index"
If I create a lead and add a new company, I have to re-index ORGs before I can load a 2nd lead using the same company.

I should not have to re-index each time I add a new company.

[2017-09-25 06:04] ducdhm commented on #3950
@bradmac It's a part of KToolbar. Just need to disabled KToolbar

[2017-09-25 06:08] anhnt opened #3967 "Log screen is not showing real time log"
http://3m.admin.kademi.com.au/logging

[2017-09-25 06:16] anhnt opened #3968 "Delete all points improvement"
We will need delete progress like we did in reindex screen.
Also we need to disable delete all button if there's job which is in progress

[2017-09-25 06:16] ducdhm opened #3969 "Setting for enable/disable translation in KToolbar"

[2017-09-25 06:16] ducdhm commented on #3950
https://github.com/Kademi/kademi-dev/issues/3969

[2017-09-25 06:22] bradmac commented on #3967
Fixed by reindexing. Might have just been an old ES schema

[2017-09-25 06:22] #3967 closed

[2017-09-25 06:34] Uafinder commented on #3958
No, it isn't. I have products from product001 to product 1000, both screenshots captured from the first page. So it takes some weird criteria to sort products.

[2017-09-25 06:38] Uafinder commented on #3956
Looks the same for me
![image](https://user-images.githubusercontent.com/1945230/30795212-2c4eb45c-a1d5-11e7-8cf3-c84a35f30655.png)
Cache cleared, diff browsers, hard refreshed done.

[2017-09-25 06:43] AlaaKhalaf94 opened #3970 "In vouchers page , the checkbox to select all vouchers doesn't work"
Here in this page : http://bartercard.admin.kademi.com.au/vouchers/

![capture1](https://user-images.githubusercontent.com/26510030/30795391-fd2a3cae-a1d5-11e7-9e3a-f1b4a71ad7c7.PNG)

[2017-09-25 06:45] bradmac commented on #3968
Should use TrackedProcessable, and integrate with background task management

[2017-09-25 06:47] bradmac commented on #3961
OK, i think the best way to do this is to use journeys as follows
- add a journey node to tag an organisation. The settings should allow an org type to be selected as the tag to apply, and also an org type to be selected. When executed it will attempt to locate an org associated with the current user of that type, and apply the tag to it.
- add dynamic fields to funnels. We can then create a dynam

[2017-09-25 06:49] bradmac opened #3971 "Support dynamic fields being defined on funnels"

[2017-09-25 06:51] Uafinder opened #3972 "SKUs manage page - no chance to add cost in custom location"
![image](https://user-images.githubusercontent.com/1945230/30795625-1bcc3468-a1d7-11e7-9190-6ca28349d7e6.png)

![image](https://user-images.githubusercontent.com/1945230/30795643-27e7d478-a1d7-11e7-951c-02967485cb2f.png)

[2017-09-25 06:59] Uafinder commented on #3956
Huh... was just need to rebuild QA

[2017-09-25 06:59] #3956 closed

[2017-09-25 07:04] Uafinder commented on #3972
Huh... was just need to rebuild QA

[2017-09-25 07:04] #3972 closed

[2017-09-25 07:09] Uafinder opened #3973 "Orders page minor bug - scroll-bar appears when it not necessary"
Pushing dropdown menu causes side scroll-bar appears.
![image](https://user-images.githubusercontent.com/1945230/30796149-7be82936-a1d9-11e7-93fe-6fb32c901db7.png)

[2017-09-25 07:16] Uafinder opened #3974 "eCommerce products search slow"
![image](https://user-images.githubusercontent.com/1945230/30796391-7c77b9ce-a1da-11e7-9405-a22ffb13eb81.png)
When select All in products filter it searches all products for 10-15 secs (1000 prods)

[2017-09-25 07:27] bradmac commented on #3973
I think this is fine

[2017-09-25 07:27] #3973 closed

[2017-09-25 07:28] Uafinder opened #3975 "Products ordering doesn't work from product page directly"
When you add a product to cart from manage products page it's ok and added product to a cart
![image](https://user-images.githubusercontent.com/1945230/30796748-15c210b0-a1dc-11e7-8734-856b23169788.png)
When you accessing direct product page and try to add product to cart, nothing is happened.
![image](https://user-images.githubusercontent.com/1945230/30796794-3cd4bc84-a1dc-11e7-81c7-09b2af60f314.

[2017-09-25 07:36] Uafinder commented on #3950
Thanks, i will disable it for a while

[2017-09-25 07:36] #3950 closed

[2017-09-25 07:45] Uafinder commented on #3964
Looks ok at the moment
Probably would be great to add some button to delete SKU, because clearing SKU code field is not obvious decision.

[2017-09-25 07:48] Uafinder commented on #3947
Yup, works ok

[2017-09-25 07:48] #3947 closed

[2017-09-25 07:53] Uafinder commented on #3944
Also would be great to add those reload fragment after uploading vouchers CSV.

[2017-09-25 07:55] bradmac commented on #3964
Problem with that is you actually cant delete the row, because rows are always shown for all combinations of variants. So it would be weird for a user to delete a row, but the row is still there

[2017-09-25 07:55] Uafinder commented on #3943
Yup, works ok

[2017-09-25 07:55] #3943 closed

[2017-09-25 08:01] Uafinder commented on #3959
Looks like it appears when you're using search and product variants are in sight.

[2017-09-25 08:02] Uafinder commented on #3959
![image](https://user-images.githubusercontent.com/1945230/30798100-f16bfa6e-a1e0-11e7-903c-7638525bd79d.png)

[2017-09-25 08:04] Uafinder commented on #3964
So, we could call the button not Delete, but Clear (with tip Clear SKU details or some sort). It would be more obvious i think.

[2017-09-25 08:07] Uafinder commented on #3729
Yup, looks great

[2017-09-25 08:07] #3729 closed

[2017-09-25 09:36] ducdhm commented on #3745
Note:
[code]
`id` will be text which we'll add in content as placeholder.

[2017-09-25 09:40] ducdhm commented on #3750
Note from @bradmac

[code]

[2017-09-25 10:36] Uafinder opened #3976 "Lead importer bugs"
http://vlad-test.admin.kademi-prod.com/funnels/journeyqa1/version1/#lead-tab
1. Start row field should be moved to the right, like in other importers
![image](https://user-images.githubusercontent.com/1945230/30804308-a3241f84-a1f5-11e7-9f6f-6b8837a624b9.png)
2. Assigned to, source, stage, deal amount, closed date fields are not importing.
![image](https://user-images.githubusercontent.com/1945230

[2017-09-25 10:59] Uafinder opened #3977 "Lead export CSV file doesn't contain several columns"
"ID","Funnel","Created Date dd/MM/yyyy HH:mm","Closed Date","Customer Email","Customer First Name","Customer Surname","Customer Phone","Customer Job Title","Sales consultant","Team","Description","Next Goal","Source","Stage","Deal Amount"
This is a list of fields which are exporting at the moment.
There are absent:
- Cancelled
- Closed date

[2017-09-25 11:05] AlaaKhalaf94 opened #3978 "Nested hide/show button doesn't work with next"
Here : http://3dn.admin.kademi.com.au/websites/idhealth-training/version1/programs/prof/MH1/mod03/#files-tab
please make view to page num 5

and try to press ""next"" in the bottom of page it will show the hidden content inside the first hide/show button
and that's right

but when you press again on ""next"" , it success to go to the next page without show the hidden content inside the second hide

[2017-09-25 11:07] Uafinder opened #3979 "Leads link follow you to wrong leads page"
http://vlad-test.admin.kademi-prod.com/leads/2300643/#information-tab
![image](https://user-images.githubusercontent.com/1945230/30805598-be701568-a1fa-11e7-84b9-778878a321f6.png)

![image](https://user-images.githubusercontent.com/1945230/30805611-cba469dc-a1fa-11e7-932e-1c35bbe4b503.png)

[2017-09-25 12:03] Uafinder opened #3980 "Leads manage page incorrect date"
![image](https://user-images.githubusercontent.com/1945230/30807459-9565833a-a202-11e7-83db-d226e35b5a73.png)
![image](https://user-images.githubusercontent.com/1945230/30807477-a9984af4-a202-11e7-96f4-f131672b71fa.png)

[2017-09-25 12:41] Uafinder commented on #3901
Double search caused by search specific:
- first result is user profile, which is accessible without any problems;
- second result is lead profile, which is inaccessible and gives "Sorry, you don't have permission to view this page". This is because our logins are not part of group which are responsible for this lead;
So probably it's ok.

[2017-09-25 12:54] Uafinder commented on #3880
Looks ok at the moment

[2017-09-25 12:54] #3880 closed

[2017-09-25 13:00] Uafinder opened #3981 "Manage products search works very sensitive"
![image](https://user-images.githubusercontent.com/1945230/30809441-65fda1ba-a20a-11e7-994b-7e7b51482cba.png)

There should be a delay before start searching, to avoid multiple search pop-ups and multiple query DB operations.

http://vlad-test.admin.kademi-prod.com/products

[2017-09-25 13:02] Uafinder opened #3982 "manage SKUs search works only when you initiate it by pressing Enter"
![image](https://user-images.githubusercontent.com/1945230/30809562-d43b5b90-a20a-11e7-9381-f94b791da4b4.png)

There should either button for manual search or context search feature (like on the other pages).

http://vlad-test.admin.kademi-prod.com/skus

[2017-09-25 13:08] Uafinder opened #3983 "Task details minor bug - text doubling"
![image](https://user-images.githubusercontent.com/1945230/30809796-b1595edc-a20b-11e7-99cc-8fa47022b5e4.png)
http://vladqa4-kcrm.kademi-prod.com/dashboard

[2017-09-25 13:40] Uafinder opened #3984 "Manage SKUs page: images doesn't show up without refresh"
http://vlad-test.admin.kademi-prod.com/skus/

No image appears
1. Push image upload
2. Upload image
3. Push save
4. No image appears - need to refresh page.

![image](https://user-images.githubusercontent.com/1945230/30811136-054186d8-a210-11e7-89d3-58f25a0f9038.png)

No automatic renewal after removing image
![image](https://user-images.githubusercontent.com/1945230/30811445-de4429c2-a210-11e7-91

[2017-09-25 13:51] Uafinder opened #3985 "Manage SKUs page: image no viewable"
![image](https://user-images.githubusercontent.com/1945230/30811751-cb40a336-a211-11e7-9249-63a4ede935df.png)
http://vlad-test.admin.kademi-prod.com/skus/

[2017-09-25 13:57] Uafinder opened #3986 "Update stock value error when push cancel"
![image](https://user-images.githubusercontent.com/1945230/30812017-70cdd292-a212-11e7-80f7-3355820df1ca.png)
![image](https://user-images.githubusercontent.com/1945230/30812027-75e537b6-a212-11e7-84f9-504aa2ca6b66.png)

http://vlad-test.admin.kademi-prod.com/inventory/2288599/

[2017-09-25 14:07] Uafinder opened #3987 "Inventory manage page:"
![image](https://user-images.githubusercontent.com/1945230/30812568-c4c72ed8-a213-11e7-9a7d-3eaf86fa4732.png)
No of products empty...
http://vlad-test.admin.kademi-prod.com/inventory/

Additional link expected
![image](https://user-images.githubusercontent.com/1945230/30812616-e7809216-a213-11e7-800c-06a3d405bf3e.png)
http://vlad-test.admin.kademi-prod.com/inventory/2288596/

[2017-09-25 17:25] ducdhm commented on #3735
New UI:
![aaaa](https://user-images.githubusercontent.com/1289631/30821926-396cbe14-a251-11e7-9b97-c9bac487cd77.png)

[2017-09-25 17:27] ducdhm commented on #3735
![newui2](https://user-images.githubusercontent.com/1289631/30821969-73f87154-a251-11e7-8fcf-da5899640e2e.png)

[2017-09-25 18:11] ducdhm commented on #3745
New UI:
![newui](https://user-images.githubusercontent.com/1289631/30823798-9d138a5a-a257-11e7-90d4-b3e5f13502c8.png)

[2017-09-25 18:16] ducdhm commented on #3745
@bradmac Plugin is ready but I checked in frontend, seem like backend doesnt support it yet. Right?

[2017-09-25 20:36] bradmac opened #3988 "Hard delete function for vouchers"
Currently we have a soft-delete function for vouchers, but this makes data migration hard.

Please add an additional function to do hard-deletes of vouchers.

This should have appropriate warnings. It might be nice to have a text field where the user is required to enter their password, and this is explicitly checked in the delete process

[2017-09-25 20:57] bradmac commented on #3978
@ducdhm please make sure the component isnt using any page load JS, because modules use pjax so needs to use the page loaded event

[2017-09-25 20:59] bradmac commented on #3979
That link should go to the manage journey/funnel page

[2017-09-25 21:00] bradmac commented on #3980
This is probably because the time component is being dropped off, and its just using the date

[2017-09-25 21:02] bradmac commented on #3901
yep, you need the sales role to access leads. So sounds good.

[2017-09-25 21:02] #3901 closed

[2017-09-25 21:03] bradmac commented on #3981
@ducdhm please make sure the alerts dont accumulate, should only ever be 1.

And we have a jquery lib already to provide a typing delay

[2017-09-25 21:04] bradmac commented on #3982
Should have a typing delay feature to auto-search

[2017-09-25 21:09] bradmac commented on #3735
:+1: looks nice!

[2017-09-25 21:09] bradmac commented on #3735
@Uafinder please discuss with @ducdhm if you need a hand setting up to test

[2017-09-25 22:11] bradmac opened #3989 "subscription: Upgrade doesnt change plan or create a transaction"
ksignupa2@mailinator.com
http://ksignupa2.admin.kademi-prod.com/license

Upgraded to standard ok:
![image](https://user-images.githubusercontent.com/826458/30833310-e53fef46-a2aa-11e7-83b1-61da7d692a6a.png)

I then pressed "Change plan with previous details". Got the success message but there is no transaction recorded, and no change to plan.

[2017-09-25 22:15] bradmac opened #3990 "subscription: downgrading plan doesnt work"
1. I created a trial account
2. upgraded to standard
3. upgraded to pro
4. attempted to downgrad to standard

However, i was charged $500 for pro again, and the plan didnt change.

![image](https://user-images.githubusercontent.com/826458/30833536-ec505496-a2ab-11e7-9d5b-07081998213d.png)

Instead, this should have done a downgrade with no charge, as the existing plan fees would cover the period a

[2017-09-25 22:25] gonzalon commented on #3988
![image](https://user-images.githubusercontent.com/2773216/30833858-40d7ca52-a2ad-11e7-8121-e19350022e5a.png)
![image](https://user-images.githubusercontent.com/2773216/30833870-4d9c521c-a2ad-11e7-8646-eb1fe27a8d16.png)

[2017-09-25 23:37] bradmac commented on #3989
Now creates second transaction, but this is for standrd when i had selected Pro

http://subscription.kademi-prod.com/manage-subscription?adminDomain=ksignupa3.admin.kademi-prod.com

![image](https://user-images.githubusercontent.com/826458/30835898-6278dfc0-a2b7-11e7-9748-89946aad203c.png)

[2017-09-26 00:08] bradmac commented on #3971
Here's an example of a dynamic field definition in a funnel.json:

[code]

[2017-09-26 00:09] bradmac commented on #3971
And can be used like this:

![image](https://user-images.githubusercontent.com/826458/30836632-ecde82ba-a2bb-11e7-9443-1e56a8abae80.png)

[2017-09-26 00:10] bradmac commented on #3961
dynamic fields implemented - https://github.com/Kademi/kademi-dev/issues/3971

[2017-09-26 00:13] bradmac commented on #3961
@gonzalon please implement a new journey node which will add a tag (ie org type) to an organisation
- settings should allow selecting the org type to add, eg "certified store"
- settings should also allow selecting an org type which will be used to locate the organisation to update from among those a user is associated with. Eg "store"

[2017-09-26 00:14] bradmac commented on #3971
Hi @mkhoudary, please try this and close if thats what you need

[2017-09-26 01:14] bradmac commented on #3990
This worked correctly, but when i looked at the transaction list i thought it had charged me 200, but it had applied a credit:
![image](https://user-images.githubusercontent.com/826458/30837891-ba9cb908-a2c4-11e7-8f40-d10e39a0b668.png)

So i think we need to highlight credit rows. Please use a bootstrap label-success class.

[2017-09-26 01:15] bradmac commented on #3989
I upgraded to Standard, then to Pro, then downgraded to Standard, then upgraded to Enterprise.

On the last transaction I was charged multiple times:

![image](https://user-images.githubusercontent.com/826458/30837960-295a47a2-a2c5-11e7-9d5a-95c1f8c808a1.png)

[2017-09-26 01:21] bradmac opened #3991 "Subscriptions: only show change plan section on click"
Have the change plan section initially hidden. Add a button beside the current plan which says "Change plan" which displays the change plan section when clicked

![image](https://user-images.githubusercontent.com/826458/30838089-f637644e-a2c5-11e7-93e4-991a8c6c98b1.png)

[2017-09-26 01:22] bradmac opened #3992 "Change "change" button texts"
- "Change plan with existing details" => "Change plan" (make this first)
- "Change plan" => "Change plan with new credit card"

[2017-09-26 01:33] bradmac commented on #3964
OK, but we can do that in a later milestone

[2017-09-26 01:34] bradmac opened #3993 "Clear button to remove SKU"
Extension to - https://github.com/Kademi/kademi-dev/issues/3964

[2017-09-26 01:35] bradmac commented on #3964
Moved remaining task to new issue, closing.

[2017-09-26 01:35] #3964 closed

[2017-09-26 02:04] bradmac commented on #3745
Is the KCode toolbar button integrated with EDM's?

![image](https://user-images.githubusercontent.com/826458/30838540-8d8c01cc-a2c8-11e7-9926-23ef16e0d02b.png)

[2017-09-26 02:08] bradmac commented on #3745
Its all working :)

I just had to change to using the placeholder attribute, eg
[code]

[2017-09-26 03:02] ducdhm commented on #3745
@bradmac I already added KCode plugin to EDM.

![newui](https://user-images.githubusercontent.com/1289631/30840487-bb11ad30-a2a1-11e7-9785-d55a00c87ac8.png)

[2017-09-26 03:02] bradmac commented on #3745
OK, must have been a caching thing

[2017-09-26 04:22] gonzalon commented on #3961
Needs to be deployed

[2017-09-26 05:59] ducdhm commented on #3978
Fixed!

[2017-09-26 06:08] ducdhm commented on #3750
New UI:
![aaaaaaaa](https://user-images.githubusercontent.com/1289631/30845032-c781f5c4-a2bb-11e7-88fd-e13cdfbeaa65.png)

[2017-09-26 06:08] #3750 closed

[2017-09-26 06:40] Uafinder commented on #3988
When incorrect password is entered:
![image](https://user-images.githubusercontent.com/1945230/30845737-7a5d6ee0-a29d-11e7-81b9-aab05a41e238.png)
or
![image](https://user-images.githubusercontent.com/1945230/30845752-8c6f92fc-a29d-11e7-9435-19e5cac1e87c.png)
Should be Incorrect password error

[2017-09-26 06:41] Uafinder commented on #3964
Sure, no probs

[2017-09-26 07:18] Uafinder commented on #3983
It's the same, at the moment... :(
![image](https://user-images.githubusercontent.com/1945230/30847311-b62190fe-a2a3-11e7-8738-23327e28314a.png)
Also
http://vladqa4-kcrm.kademi-prod.com/tasks/
![image](https://user-images.githubusercontent.com/1945230/30847367-f72a79e4-a2a3-11e7-9a85-c9bee48b392a.png)

[2017-09-26 08:33] ducdhm commented on #3975
Fixed!

FYI: It's e-commerce issue not rewardstore

[2017-09-26 08:40] Uafinder opened #3994 "Promotions bugs"
http://vlad-test.admin.kademi-prod.com/rewards/promotionqa01/
1. Date pickups doesn't appears when you click on fields
![image](https://user-images.githubusercontent.com/1945230/30849146-0ea96304-a2aa-11e7-8acb-fa607641dec0.png)
2. Save causes JSON reaction
![image](https://user-images.githubusercontent.com/1945230/30849314-96cae3e8-a2aa-11e7-8027-d5554d1feb89.png)
3. Cancel button does nothing.
!

[2017-09-26 08:48] ducdhm commented on #3905
Fixed!

[2017-09-26 08:50] ducdhm commented on #3798
Move to https://github.com/Kademi/kademi-dev/issues/3795

[2017-09-26 08:50] #3798 closed

[2017-09-26 09:46] mkhoudary commented on #3939
Tested on QA

[2017-09-26 09:46] #3939 closed

[2017-09-26 09:51] ducdhm commented on #3969
Done!

[2017-09-26 10:21] Uafinder commented on #3994
2,3,4,5 appears when you try to access "Content" tab while page is still loading.
Looks like Loading kEditor interrupts normal Ajax loading.

[2017-09-26 10:28] Uafinder commented on #3975
Yeap, working ok

[2017-09-26 10:28] #3975 closed

[2017-09-26 10:58] anhnt commented on #3932
worked

[2017-09-26 11:10] Uafinder opened #3995 "Promotion competition page"
http://version1.vladqa6-rewards.kademi-prod.com/rewards/promotionqa02/
![image](https://user-images.githubusercontent.com/1945230/30856758-fbb31688-a2c1-11e7-9c45-f986d4db7197.png)
1. Red color by default on some fields

If you setup Organisation checkbox
2. Can't submit entry because of Organisation. Organisation should be picked up from list.

If you setup image upload checkbox
3. No possibility

[2017-09-26 11:40] Uafinder commented on #3970
It works only once e.g. if i select all, then deselect all, then select all again and it doesn't work this time.

[2017-09-26 11:52] mkhoudary opened #3996 "Enhance module progress JB node"
Currently, the module progress JB node has all the fields to be entered in settings, i.e. module, course, action, as text fields, we need to have these as lists like in automation.

[2017-09-26 12:03] Uafinder opened #3997 "Periodically spot EDM loading bad"
![image](https://user-images.githubusercontent.com/1945230/30859090-dc273e6c-a2ca-11e7-9360-933ef6fdd55e.png)
I am spotting EDM Editor loading failure periodically. SOmetimes when i clear cache or do a hard refresh of page it stucks on loading step.
For example here
http://vlad-test.admin.kademi-prod.com/scheduledEmails/scheduledqa01/#configuration-tab
I was able to reproduce error with:
1. Open p

[2017-09-26 12:07] mkhoudary commented on #3971
Hey @bradmac this should work fine with me with the Zoetis requirements, waiting for deployment.

[2017-09-26 12:19] Uafinder opened #3998 "Email history status column"
All emails falls into "Pending status", but they are completed successfully.
![image](https://user-images.githubusercontent.com/1945230/30859726-86e3ae4c-a2cd-11e7-90e6-456cbf5f069a.png)
![image](https://user-images.githubusercontent.com/1945230/30859741-94b49338-a2cd-11e7-8156-324f8c91e9f2.png)
![image](https://user-images.githubusercontent.com/1945230/30859889-0918129a-a2ce-11e7-8b31-3b37a6ddc97

[2017-09-26 12:42] Uafinder opened #3999 "When scheduled email is ended there is no possiblity to renew it by changing end date"
I've change end date, switch on|off but no luck, it can't be renewed
![image](https://user-images.githubusercontent.com/1945230/30860821-323d6b04-a2d1-11e7-89be-4f38718d7083.png)

[2017-09-26 13:07] Uafinder commented on #3839
About members in dynagroup (first issue) - it's ok!

About scheduled emails
I have email scheduled to a group which contains one user, and dynagroup with 633 users
As a result system fires 25! (emails) to a single user (which is alone in his group), and no emails to dynagroup.
http://vlad-test.admin.kademi-prod.com/scheduledEmails/scheduledqa03/#configuration-tab

[2017-09-26 15:34] ducdhm commented on #3881
Fixed!

[2017-09-26 15:51] ducdhm commented on #3866
Fixed!

[2017-09-26 15:52] ducdhm commented on #3866
Note: It happens only in Firefox

[2017-09-26 20:50] gonzalon commented on #3988
Changed the message to "Incorrect password"

[2017-09-26 21:08] tuzzmaniandevil commented on #3986
Fixed

[2017-09-26 21:11] tuzzmaniandevil commented on #3985
Can't reproduce. Works fine for me

[2017-09-26 21:23] gonzalon commented on #3925
Filters ...
![image](https://user-images.githubusercontent.com/2773216/30884870-be906948-a36d-11e7-96bd-da34796135c3.png)

Links...
![image](https://user-images.githubusercontent.com/2773216/30884901-d855722e-a36d-11e7-85d3-4096facb264d.png)

@Uafinder those links are ok?

[2017-09-26 22:06] gonzalon commented on #3140
![image](https://user-images.githubusercontent.com/2773216/30886526-ceb68c2a-a373-11e7-8c05-7fb16b333de1.png)

@bradmac should we merge these into the tool button?

- Assign to org type
- Merge selected..
- Move to parent

Remove can be another button and delete sorting ones

[2017-09-26 22:24] #3742 closed

[2017-09-26 22:27] bradmac commented on #3961
Please see comments on commit
https://github.com/Kademi/kademi-platform/commit/6d496f3f34bbc6954d563b3feb95e0ffde451866

[2017-09-26 22:31] bradmac commented on #3983
hey @Uafinder please make sure you're testing with a new account.

When we update libs those changes dont apply to existing accounts

[2017-09-26 22:32] bradmac commented on #3983
If this problem exists with a new account, please provide a link to the admin

[2017-09-26 22:35] bradmac commented on #3994
Appears to be because of JS init error
[code]

[code]

[2017-09-26 22:43] bradmac commented on #3996
I think we should still allow direct text entry, but also allow selecting from a dropdown to populate the text fields. We can display the dropdown from the current live version, but if a user needs to reference modules which are not yet live they can enter text directly.

[2017-09-26 23:06] bradmac opened #4000 "Add SEO support to html content pages"
extension to - https://github.com/Kademi/kademi-dev/issues/3941

Plain html content pages should implement SEOResource

[2017-09-26 23:52] tuzzmaniandevil commented on #4000
This can now be used by setting the follow meta tags on a page:
- **keywords** - This is a comma seperated field e.g. `about us, about, help`
- **description**

![image](https://user-images.githubusercontent.com/3378330/30889421-be943f2c-a382-11e7-918c-9759d81c83bc.png)

[2017-09-26 23:58] bradmac commented on #4000
We shouldnt expect users to have to enter the meta field names.

@ducdhm can you please update the form so those fields are hard coded?

[2017-09-27 02:04] tuzzmaniandevil commented on #3940
Facebook app approved! :-)

Needs to be tested on kademi.com.au or kademi.us clusters

[2017-09-27 02:05] gonzalon commented on #3140
Added the default ordering for orgId desc

[2017-09-27 03:04] #3928 closed

[2017-09-27 03:05] #3991 closed

[2017-09-27 03:05] #3930 closed

[2017-09-27 03:05] #3929 closed

[2017-09-27 03:05] #3927 closed

[2017-09-27 03:05] #3835 closed

[2017-09-27 03:06] #3833 closed

[2017-09-27 03:06] #3832 closed

[2017-09-27 03:07] #3989 closed

[2017-09-27 03:07] #3913 closed

[2017-09-27 03:08] bradmac opened #4001 "Subscription: Error on upgrading"
This occured after first upgrading to Standard.

![image](https://user-images.githubusercontent.com/826458/30894079-ff14f300-a39d-11e7-9f67-295b72b1e7dd.png)

http://ksignupb1.admin.kademi-prod.com/license
http://subscription.kademi-prod.com/manage-subscription?adminDomain=ksignupb1.admin.kademi-prod.com

[2017-09-27 05:39] ducdhm commented on #3817
@salehh93 Can you re-check again? I see you change `module.js` to `jquery.module.js` and seem like this issue doesnt happen anymore

[2017-09-27 06:28] bradmac opened #4002 "Allow selecting website as filter on web hits report"
https://github.com/Kademi/client-2one2f-3M/issues/129

[2017-09-27 06:33] salehh93 commented on #3817
passed

[2017-09-27 06:33] #3817 closed

[2017-09-27 06:49] ducdhm commented on #3795
Done!

[2017-09-27 06:49] #3795 closed

[2017-09-27 08:14] anhnt opened #4003 "Allows anon users to follow a comment via email"
Currently when post a comment as anon user, i got this error:

Sorry, you need to be logged in to follow a post.

[2017-09-27 09:17] anhnt opened #4004 "Forums app to have api to count comments by page url"

[2017-09-27 09:42] bradmac commented on #4003
Currently @anhnt is sending the newComment and follow params in a single request. This isnt working correctly because the server processes them seperately, and follow comes first:
[code]

[2017-09-27 09:43] salehh93 opened #4005 "Can't find the voucher type"
about Vouchers types **deleted**
appear bug after click on  "Hard Delete Vouchers"

http://cpg.admin.kademi.com.au/voucher-type/?deleted#

![image](https://user-images.githubusercontent.com/23012214/30906622-1843382c-a381-11e7-8187-1d204973f4cf.png)

[2017-09-27 09:44] bradmac commented on #4003
So we just need to move newComment up

[2017-09-27 09:45] bradmac commented on #4003
Fixed

[2017-09-27 10:27] anhnt commented on #3932
@ducdhm as discussed with brad we should:

[2017-09-27 10:36] bradmac commented on #3932
Note that calendars have a colour property. So if we can load from the 3 calendars we should be able to use that property for the event color

[2017-09-27 16:32] ducdhm commented on #3960
Done!

[2017-09-27 16:32] #3960 closed

[2017-09-27 19:03] AlaaKhalaf94 commented on #3978
Hi @ducdhm , can you create the possibility of enabling this property for the hide/show button and removing the enablement ?

Ex: checkbox in the properties of the component

[2017-09-27 22:24] gonzalon commented on #3992
This was already changed

[2017-09-28 01:20] bradmac opened #4006 "KEditor is not working correctly in scheduled emails"
![image](https://user-images.githubusercontent.com/826458/30945067-5b5e485e-a458-11e7-80a6-144a30645dc6.png)

[2017-09-28 02:46] gonzalon commented on #4002
MVEL:

Seems its working for the expression evaluation but not for the templates.
Seems that for the templates isnt using the PropertyAccessor.

For the cases where we use MVEL.eval methods it's working fine.
We should only add the implementation for the filter manager, something like:

[code]

But for the cases we use templates isnt working:

[code]

Or how I tried addapting the code so it would

[2017-09-28 02:57] gonzalon commented on #3938
MVEL:

Seems its working for the expression evaluation but not for the templates.
Seems that for the templates isnt using the PropertyAccessor.

For the cases where we use MVEL.eval methods it's working fine.
We should only add the implementation for the filter manager, something like:

[code]

But for the cases we use templates isnt working:

[code]

Or how I tried addapting the code so it would

[2017-09-28 04:17] ducdhm commented on #4006
Fixed!

![newui](https://user-images.githubusercontent.com/1289631/30949083-977fae82-a43e-11e7-9fe1-ba004c7bbbb3.png)

[2017-09-28 06:10] ducdhm commented on #3978
@AlaaKhalaf94 As I checked in old site, all you need for this case is collapsed panel, not show hide button.

[2017-09-28 09:28] ducdhm commented on #4000
@bradmac Front-end stuff is done. But when saving `keywords` value with `,` character, `keywords` and `description` will be merged into a meta named `keywords,description`

[2017-09-28 09:29] ducdhm commented on #3978
As discussed, we'll use accordion or let current behavior be.

[2017-09-28 12:15] Uafinder opened #4007 "New QA server time issue"
I can't setup time on my new QA server org.
It's shows -12 hours all the time.
This is old QA
![image](https://user-images.githubusercontent.com/1945230/30965873-94cd1500-a45f-11e7-8238-4b383ce73147.png)
This is a new
![image](https://user-images.githubusercontent.com/1945230/30965962-dc3f2e82-a45f-11e7-8931-b7a7f3208b77.png)
Both has setup timezone on Kiev (GMT+3)

[2017-09-28 12:26] Uafinder commented on #3998
Looks ok

[2017-09-28 12:26] #3998 closed

[2017-09-28 12:29] Uafinder commented on #3988
Still remains first error:
![image](https://user-images.githubusercontent.com/1945230/30966479-b1509308-a461-11e7-98ef-6c78e9dfd582.png)
It happens when you try to enter password which not met requirements of default password policy.

[2017-09-28 12:36] Uafinder commented on #3985
Not working for me, Chrome and FF both

[2017-09-28 13:18] Uafinder commented on #3986
looks ok

[2017-09-28 13:18] #3986 closed

[2017-09-28 13:20] Uafinder commented on #3970
Yup, works ok

[2017-09-28 13:20] #3970 closed

[2017-09-28 13:24] Uafinder commented on #3955
Yeap, working great

[2017-09-28 13:24] #3955 closed

[2017-09-28 13:25] Uafinder commented on #3944
Yup!

[2017-09-28 13:25] #3944 closed

[2017-09-28 13:31] Uafinder commented on #3925
Links are good.
Question, how it can be opened and failed at the same time?
![image](https://user-images.githubusercontent.com/1945230/30969217-6b4eab52-a46a-11e7-874c-bc7b9b03dc84.png)

[2017-09-28 13:52] Uafinder commented on #3878
Working perfect

[2017-09-28 13:52] #3878 closed

[2017-09-28 13:56] Uafinder commented on #3866
https://github.com/Kademi/kademi-dev/issues/3997

[2017-09-28 20:16] bradmac commented on #4000
Hi @ducdhm i think there's a misunderstanding. We need inputs for the specific SEO fields. The user should not need to or be able to edit the names of the meta fields.

![image](https://user-images.githubusercontent.com/826458/30988481-e2989556-a4f6-11e7-9d46-03f0b52e7244.png)

[2017-09-28 20:29] bradmac commented on #3985
@tuzzmaniandevil I can easily reproduce the error

- open this page - http://vlad-test.admin.kademi-prod.com/skus/
- click this image
![image](https://user-images.githubusercontent.com/826458/30988956-8256c526-a4f8-11e7-8672-15b5e2aeb177.png)
- displays the modal with broken image
![image](https://user-images.githubusercontent.com/826458/30988973-953b955e-a4f8-11e7-9fcf-6a44a453aedd.png)

Checking

[2017-09-28 20:30] bradmac commented on #3925
@Uafinder please provide a link to your site so we can investigate

[2017-09-28 21:02] gonzalon commented on #3988
@Uafinder misunderstood your first message! now isn't validating the format for the password

[2017-09-28 21:51] bradmac commented on #4005
please make sure we can use hard delete on soft deleted voucher types.

[2017-09-28 21:59] bradmac commented on #3995
There's a JS error on init
[code]

[2017-09-28 22:00] bradmac commented on #3995
@Uafinder can you please provide a link to the admin account for this site so we can investigate?

[2017-09-28 22:01] bradmac commented on #3974
Should be refactored to be same as reward store product management

[2017-09-29 03:28] gonzalon commented on #3979
The link to /leads now will show you all the leads for the org. (Quick version, probably will need improvement in a future)

![image](https://user-images.githubusercontent.com/2773216/30999710-2c106290-a533-11e7-96e0-0399546ad8d4.png)

[2017-09-29 03:47] bradmac commented on #3932
I'll make calendar colours configurable in the manage calendar screen

[2017-09-29 04:29] ducdhm commented on #3781
Done!

[2017-09-29 06:05] paddyow opened #4008 "KCRM analytics funnels not working"
http://kcrm.kademi.us/analytics/kademi-sales?filters=source%3DNone&stage=Proposal

Clicking on lead circles does not always return data in the table, when there should be leads appearing.

For example clicking on hot circle returns no results yet hot has leads set to the funnel stage.

![image](https://user-images.githubusercontent.com/2201340/31002759-d30f7fb2-a52f-11e7-960a-cc3cc93bd87d.png)

Al

[2017-09-29 06:45] Uafinder commented on #4006
It stucks for me at this point.
![image](https://user-images.githubusercontent.com/1945230/31003944-ecca4ec6-a4fa-11e7-8526-82e01ea88780.png)
http://vlad-test.admin.kademi-ci.co/scheduledEmails/scheduledqa05/#configuration-tab

[2017-09-29 06:49] Uafinder commented on #4006
Just claryfying, can't reproduce... :(

[2017-09-29 07:12] Uafinder commented on #4006
Aha, found it...
It look stucks when you try to do hard refresh in FF (e.g. ctrl +F5)
And then only clearing cache could solve a problem...

[2017-09-29 07:17] Uafinder opened #4009 "Incorrect menu highlight voucher type"
![image](https://user-images.githubusercontent.com/1945230/31004944-4452fcb6-a4ff-11e7-9549-1bd3bf1649ec.png)
http://vlad-test.admin.kademi-prod.com/voucher-type/lamborgini/#details-tab
When you are on the Voucher type page (edit some voucher type), side panel shows that you are on the vouchers page

[2017-09-29 07:42] Uafinder opened #4010 "Error when create >2000 vouchers"
![image](https://user-images.githubusercontent.com/1945230/31005510-ae5eab58-a501-11e7-985c-61f187c00e64.png)
the are creating successfully, but error shows up
when amount is smaller it doesn't raise this error...
http://vlad-test.admin.kademi-ci.co/voucher-type/skoda/#vouchers-tab

[2017-09-29 07:51] Uafinder opened #4011 "Issue when using filter and delete vocuhers"
![image](https://user-images.githubusercontent.com/1945230/31006058-dd681d1a-a503-11e7-8c31-5e122e1641de.png)
For example you select "Volkswagen" voucher type filter and then delete several vouchers from it
After deleting them, filter remains, but there are appears vouchers from other types in list (AUD for example)

[2017-09-29 08:06] Uafinder commented on #4005
yup, works ok

[2017-09-29 08:06] #4005 closed

[2017-09-29 08:29] Uafinder opened #4012 "Show deleted vouchers issues"
http://vlad-test.admin.kademi-ci.co/voucher-type/
![image](https://user-images.githubusercontent.com/1945230/31006755-bcd53850-a506-11e7-89db-de8ba48ccd8a.png)
1. When you delete voucher type it appears deleted voucher types list. But all vouchers there are lost.
![image](https://user-images.githubusercontent.com/1945230/31006819-00f2e262-a507-11e7-92b7-ec04b086ea60.png)
![image](https://user-imag

[2017-09-29 08:31] Uafinder opened #4013 "Error text when create same name voucher type"
![image](https://user-images.githubusercontent.com/1945230/31007575-aa964bc2-a509-11e7-93c1-faf1cdb2910c.png)
Should be validation by name and correct error text

[2017-09-29 08:53] anhnt opened #4014 "Ckeditor addon to insert fontawesome icons"
https://www.michaeljanea.com/ckeditor/font-awesome

[2017-09-29 09:31] Uafinder commented on #3988
this error appeared when i tried to use simple password (111111 for example). Now it's ok!

[2017-09-29 09:31] #3988 closed

[2017-09-29 10:11] ducdhm opened #4015 "Improve rewardstore app components"
* Search doesnt work
 * Add load more button in case infinitive scroll doesnt work

[2017-09-29 10:13] Uafinder opened #4016 "Lead importer fails when Deal Amount field contains dot or comma"
![image](https://user-images.githubusercontent.com/1945230/31011654-bb64c452-a517-11e7-93fd-912e3d26ffa3.png)

[export-leads(6).zip](https://github.com/Kademi/kademi-dev/files/1343924/export-leads.6.zip)
http://vlad-test.admin.kademi-ci.co/funnels/journeyqa1/version1/#lead-tab

[2017-09-29 10:22] Uafinder commented on #3979
Probably would be to return here:
http://vlad-test.admin.kademi-ci.co/funnels/journeyqa1/version1/#lead-tab

[2017-09-29 10:24] Uafinder opened #4017 "Journey link on page is bad"
![image](https://user-images.githubusercontent.com/1945230/31012149-6fc91992-a519-11e7-8f8a-e9bcb2644a80.png)
![image](https://user-images.githubusercontent.com/1945230/31012166-7d240e3a-a519-11e7-9e08-a120b09b6a6b.png)

http://vlad-test.admin.kademi-ci.co/funnels/journeyqa1/version1/#journeyBuilder-tab

[2017-09-29 10:28] Uafinder opened #4018 "Question about backup/restore"
Backup/restore procedure not contain voucher types, vouchers, journeys, leads, and so on...
Is it a problem, or just need to be enhanced?

[2017-09-29 10:35] Uafinder commented on #3766
Yup, link existed.

[2017-09-29 10:35] #3766 closed

[2017-09-29 11:46] Uafinder commented on #3893
Yeap, looks great at the moment

[2017-09-29 11:46] #3893 closed

[2017-09-29 11:54] Uafinder commented on #3995
http://vlad-test.admin.kademi-prod.com/rewards/promotionqa02/#details-tab

[2017-09-29 11:56] Uafinder commented on #3925
http://vlad-test.admin.kademi-prod.com/emails/?q=&status=o&job=

[2017-09-29 12:55] Uafinder commented on #3997
![image](https://user-images.githubusercontent.com/1945230/31016758-a3c6a1fa-a52e-11e7-868e-062dc79cd074.png)

[2017-09-29 12:59] Uafinder commented on #3866
Still spot this issue, it appears on different pages
https://github.com/Kademi/kademi-dev/issues/3997

[2017-09-29 13:33] Uafinder opened #4019 "Create and delete account old and new QA"
http://rootorg.admin.kademi-prod.com/organisations/
When create ORG account on old QA server - everything is fine
http://rootorg.admin.kademi-ci.co/organisations/
When create ORG account on new QA server - gain error
![image](https://user-images.githubusercontent.com/1945230/31018130-a4b2457e-a533-11e7-8536-078d93ac0045.png)

When truing to delete ORG account on new QA server - gain error
![image]

[2017-09-29 16:35] ducdhm commented on #4015
Done!

[2017-09-29 16:35] ducdhm commented on #3778
Fixed!

[2017-09-29 23:02] bradmac commented on #4019
@tuzzmaniandevil we might need to extend the timeout on nginx. It should probably be unlimited as we have some long running requests

[2017-09-29 23:02] bradmac commented on #3866
Lets look at it again in the next milestone

[2017-09-29 23:19] bradmac commented on #3979
No, its fine for a lead page to have as its parent the leads list page.

[2017-09-29 23:20] bradmac commented on #4016
This should be as tolerant as possible of different numeric formats. Same should be true of other importers which deal with numeric values, eg sales data

[2017-09-29 23:22] bradmac commented on #4014
:+1:

[2017-09-29 23:26] bradmac commented on #4011
Please make sure that all criteria are applied on changed criteria

[2017-09-29 23:28] bradmac commented on #4010
Might be a gateway timeout

[2017-09-30 09:42] paddyow opened #4020 "Lead Bulk Remove"
Add a tick boxes to each lead row and a button to bulk delete leads.

Should be available on any filter including Active Closed Cancel.

http://kcrm.kademi.us/leads/?query=&leadType=active

[2017-09-30 17:32] ducdhm commented on #4000
@bradmac Where did you check it? I checked in QA (https://rootorg.admin.kademi-prod.com/pages/kademi-www/version56/) and it's working normally.

[2017-09-30 17:34] ducdhm commented on #4000
`keywords` and `description` are always there. User can't remove or edit meta name, just value for these metas.

![newui](https://user-images.githubusercontent.com/1289631/31048079-36f2c87a-a640-11e7-95a7-6dafb25e30f0.png)

[2017-09-30 17:39] ducdhm commented on #3843
I removed padding-left and padding-right in `text` and `photo` components in EDM Editor

[2017-10-01 00:41] bradmac commented on #4000
That looks better, i couldnt see that before.

But next problem is those fields must not be required:

![image](https://user-images.githubusercontent.com/826458/31050670-41efb274-a6ae-11e7-8265-32f39f120cff.png)

[2017-10-01 07:19] paddyow opened #4021 "Keditor poll and learning panel"
The new Poll and Learning panel have extra padding.  When added to the page they should be aligned left and have equal margins to the right and button as they tile.

![image](https://user-images.githubusercontent.com/2201340/31052602-ba43181c-a6d4-11e7-8e5f-d252cfb5e832.png)

[2017-10-01 07:23] paddyow opened #4022 "Keditor poll and elearning panel"
When dropping in either the poll or eLearning component:

1) Don't show the poll complete panel
2) Allow the admin to configure how many panels to show i.e. 1x poll or 4x learning modules - this will work like reward product lists when we can choose how many products to show i.e. 4 in rows of 2 for eaxmple

![image](https://user-images.githubusercontent.com/2201340/31052616-498e059a-a6d5-11e7-9c10

[2017-10-01 07:34] paddyow opened #4023 "Carousel options"
Add the following options:

1) Show or hide gradient shadow (the right and left shading on the carousel)
2) Option to have the image 'Stretched' or 'Actual size'

![image](https://user-images.githubusercontent.com/2201340/31052633-030e6442-a6d6-11e7-8506-301f553c058f.png)

This is stretched:
![image](https://user-images.githubusercontent.com/2201340/31052660-e6efe104-a6d6-11e7-9892-c15b3e745c88.pn

[2017-10-01 07:58] paddyow opened #4024 "K-toolbar border radius does not work"
When adding a border radius value, none of the components frames adopt a border radius.  It is my understanding that applying a radius would cause each component frame to have rounded edges?

![image](https://user-images.githubusercontent.com/2201340/31052810-64a4cec2-a6da-11e7-8676-a2b5700f9f60.png)

[2017-10-01 09:05] bradmac commented on #4024
Yep,should do. If the bootstrap parameters arent being honored by components, we need to fix the components.

[2017-10-01 21:11] bradmac opened #4025 "Admins can access vouchers across accounts"
@mkhoudary says:

Bug in VoucherRedemptionPage
Line 292
Calling searchOr

[2017-10-01 21:12] bradmac commented on #4025
hey @mkhoudary the code looks ok. The orgs list being used comes from this:

[code]

So that should be limiting to the current account

[2017-10-01 21:12] bradmac commented on #4025
Can you please give an example of a voucher type being accessed outside its domain?

[2017-10-01 21:16] #3992 closed

[2017-10-02 00:07] bradmac commented on #3904
Issues with equals, contains, etc should all be fixed now

[2017-10-02 00:11] bradmac commented on #3932
New UI allowing simple text entry of colour:

![image](https://user-images.githubusercontent.com/826458/31060628-33dca32a-a773-11e7-897c-f77886aa1729.png)

[2017-10-02 00:12] bradmac commented on #3932
@ducdhm please update the component to use the configured colour to display events

[2017-10-02 00:26] bradmac commented on #3925
"Question, how it can be opened and failed at the same time?" - I've confirmed the email is marked as read. This could be because the image tracker has been loaded by viewing the email in the admin.

[2017-10-02 01:05] paddyow opened #4026 "Module page components"
PSD file here: [Component - module page.zip](https://github.com/Kademi/kademi-dev/files/1347685/Component.-.module.page.zip)

The module page should be split out into configurable components.

- Page should be split into 3 components 1) Page body 2) Module page list 3) Q&A comments
- The module page should allow full width content based on the setting of the containers
- Splitting the components o

[2017-10-02 01:43] bradmac commented on #3966
Fixed

[2017-10-02 02:01] bradmac commented on #3965
Confirmed was taking 30secs + to load orgs list.

Should be much faster now, around 1-2secs

[2017-10-02 02:02] bradmac commented on #3965
Note that to see this problem there must be a reasonably large number of profiles connected to orgs in the search result. So this problem was not apparent when running locally with a small database.

To verify, please test here - http://version2.kcrm.kademi.us/

[2017-10-02 02:26] anhnt opened #4027 "Dynamic components dont work when using content editor in custom app"
From duc

https://github.com/Kademi/client-gilpin-travelworld/issues/22#issuecomment-332417563

[2017-10-02 02:40] Anton69arb opened #4028 "google maps component does not work when adding in manual address"
http://version1.playmoremusic.kademi-prod.com/contenteditor?fileName=contact-us.html

![image](https://user-images.githubusercontent.com/32444328/31062550-e1b94c0a-a787-11e7-88f4-189605e49b0f.png)

[2017-10-02 02:45] bradmac commented on #4028
Also tried with our office address and got same result

[2017-10-02 03:07] bradmac commented on #4027
We've now mapped _components to custom resources. But currently custom resources have no way to indicate what types of resource they are. Components have a list of types they are compatible with, such as "html", "edm", "product", etc.